  <p> <b>Un sue&#241;o de cinematograf&#237;a intuida ins&#243;lita</b></p>
<p>  </p>
<p> <b>PLAT</b></p>
<p>  </p>
<p> Esta sigla encabezaba su tarjeta de visita, acompa&#241;ando la tipograf&#237;a arabizante con su nombre: Jos&#233;
Val del Omar. PLAT era un lugar: su &#250;ltimo refugio, su laboratorio, su cubil. Un jard&#237;n de m&#225;quinas. Tras su muerte un jard&#237;n sin riego, pues era uno bien sangu&#237;neo el que recib&#237;an sus reto&#241;os mec&#225;nicos, por fortuna preservado tal como &#233;l lo dej&#243;. All&#237;, en una pared, hay todav&#237;a un calendario abierto por la hoja del mes en que lo abandon&#243;.</p>
<p>  </p>
<p> PLAT era tambi&#233;n la designaci&#243;n que eligi&#243; para describir su actividad. Una que precisaba el encadenamiento de hasta cuatro conceptos: Picto Lum&#237;nica Audio T&#225;ctil. No fue un cineasta en el sentido m&#225;s habitual del t&#233;rmino; adem&#225;s, prefer&#237;a otros t&#233;rminos como los de cinemista y cinematurgo, que sugieren el ejercicio de prodigios y sortilegios.</p>
<p>  </p>
<p> Su perfil no era estrictamente el de un peliculero o realizador cinematogr&#225;fico, y menos a&#250;n el de un director: lo suyo no era el trabajo en equipo ni la direccionalidad de un gui&#243;n escrito. Fue m&#225;s bien un so&#241;ador del cine. De otro cine. Para cumplir ese sue&#241;o necesitaba, tambi&#233;n, concebir y construir sus propias m&#225;quinas, dispositivos, artefactos. Y modificar o remendar aquellos que iba adoptando y acumulando, incluidos prototipos previos que no vacilaba en desarmar para reaprovechar sus piezas.</p>
<p>  </p>
<p>  </p>
<p> <b>Intentos</b></p>
<p>  </p>
<p> El quehacer de Val del Omar en el
&#250;ltimo tramo de su vida es el aspecto que trato de abordar en este ensayo. Sin pretender la precisi&#243;n acad&#233;mica o erudita que hoy se asocia con dicho t&#233;rmino, m&#225;s consecuente ser&#225; emplear otro: el de intento. Una palabra, por otra parte, que &#233;l utilizaba abundantemente para referirse a su actividad. Casi podr&#237;a decirse que toda su vida se resume en una obra de intentos. Sus intentos lo son porque, la mayor&#237;a de las veces, han culminado en un fracaso y un regusto amargo. Aunque tambi&#233;n en innegables logros.</p>
<p>  </p>
<p> Al ocuparme de un periodo escasamente documentado, acudo sobre todo a sus propios escritos. Por su car&#225;cter m&#225;s bien privado y por estar raramente fechados, estos conforman un laberinto ca&#243;tico de notas. Y, sin embargo, aportan posibles claves para interpretar el sinf&#237;n &#250;ltimo (el ox&#237;moron lo impone la parca) de sus intentos y sus m&#225;quinas hu&#233;rfanas.</p>
<p>  </p>
<p> Aqu&#237; yo citar&#233; o parafrasear&#233; sus propias palabras y a menudo lo har&#233; sin comillas, salvo cuando crea precisa la desambiguaci&#243;n, o por marcar un &#233;nfasis. Trato as&#237; de despejar el texto de un sarpullido de comillas o cursivas, al que se sumar&#237;an los diversos tropiezos que sus escritos entra&#241;an: incoherencias sint&#225;cticas y aberraciones ortogr&#225;ficas, tachaduras y subrayados en abundancia, redundancias y sobrentendidos constantes, etc.</p>
<p>  </p>
<p> Procedo as&#237; de manera similar a como lo hice en el film <i>Tira tu reloj al agua</i>, sobre el que volver&#233; luego, a fin de juntar y ordenar &#8211;de manera del todo intuitiva&#8211; ideas e im&#225;genes halladas entre sus materiales p&#243;stumos. Otro intento anterior, un ensayo no escrito que constituye mi propia elaboraci&#243;n de unos proyectos inconclusos, sin otra prefiguraci&#243;n que la que le rondara por la cabeza y que apenas se puede atrapar en la nebulosa de sus anotaciones.</p>
<p>  </p>
<p> El propio Val del Omar operaba as&#237;, tomando frases y fragmentos de aqu&#237; y de all&#237;, tanto en sus intrincadas bandas sonoras como para api&#241;ar multitud de ideas en sus notas. Palabras que no siempre recoge al pie de la letra, aunque igualmente me refiero a las briznas musicales que emplea y manipula.</p>
<p>  </p>
<p>  </p>
<p> <b>Desbordamientos</b></p>
<p>  </p>
<p> Cuando el cine se sue&#241;a, no es imprescindible que llegue a consumarse sobre una pantalla. De entrada, &#233;l pretendi&#243; desbordarla. Ya en 1944, en un art&#237;culo titulado &#171;El espect&#225;culo total&#187;, Crist&#243;bal Simancas, amigo y compa&#241;ero de Misiones Pedag&#243;gicas, transcribi&#243; las ideas de Val del Omar acerca de una pantalla sin fin, carente de l&#237;mites o que se disolver&#237;an, fuera de foco, en los m&#225;rgenes de su superficie moderadamente c&#243;ncava.</p>
<p>  </p>
<p> La idea de un cine total, y que procurase una experiencia polisensorial, es muy propia de la &#233;poca en que Val del Omar se inici&#243; en la fotograf&#237;a del tiempo. Luego, a fines de los a&#241;os cincuenta, ha descrito y practicado aquello que ha llamado el &#171;desbordamiento apanor&#225;mico de la imagen&#187;, donde una segunda proyecci&#243;n conc&#233;ntrica rebasa el marco de la pantalla propiamente dicha.</p>
<p>  </p>
<p> Este procedimiento lo ha amparado con una patente, ilustrando con diagramas los dispositivos que ingeni&#243; para llevarlo a cabo. Sin embargo, si lleg&#243; a construir prototipos de los mismos, no se ha encontrado rastro de ellos. Es probable, en cambio, que acudiera a otros recursos m&#225;s rudimentarios y sencillos &#8211;algo habitual en &#233;l&#8211; para lograr un efecto no menos poderoso y asombroso en su momento.</p>
<p>  </p>
<p> La noci&#243;n de desbordamiento, por otra parte, no concierne exclusivamente a la imagen y la proyecci&#243;n.
Sino tambi&#233;n, con otras palabras y designaciones, a los dem&#225;s sentidos que el cine podr&#237;a convocar. En primer lugar, el auditivo, mediante el concepto y t&#233;cnica de la diafon&#237;a: sonidos en oposici&#243;n y choque, espacialmente distribuidos por el per&#237;metro de la sala, creando un campo y contracampo ac&#250;sticos, y con deslizamientos de uno a otro. Sistema al que otras veces se ha referido como sonido est&#233;reo-diaf&#243;nico o binaural. No en vano, tras la Guerra Civil, dedic&#243; varios a&#241;os a la regi&#243;n del sonido antes de regresar sobre lo visual.</p>
<p>  </p>
<p> La idea, en s&#237; misma tan simple, de una iluminaci&#243;n cambiante en la sala &#8211;con una programaci&#243;n determinada&#8211; comportar&#237;a tambi&#233;n un desbordamiento suplementario, pues ya no se tratar&#237;a de una sala permanentemente a oscuras y exclusivamente iluminada por el resplandor parpadeante de la pantalla.</p>
<p>  </p>
<p> Otras de las propuestas que lanza, en los congresos de la t&#233;cnica cinematogr&#225;fica a los que acude, tienen que ver con la situaci&#243;n cr&#237;tica que atravesaba la industria cinematogr&#225;fica ante la rivalidad advenediza de la televisi&#243;n.
Advirtiendo que sus ideas podr&#237;an parecer disparatadas de buenas a primeras, no lo eran en absoluto y algunas de ellas coinciden con diversas estratagemas que se ensayaron como reclamo para atraer p&#250;blico a los cines.</p>
<p>  </p>
<p> Asociar el producto cinematogr&#225;fico a un sabor, por medio de un aperitivo, es el aspecto m&#225;s liminar que propugna. En cambio, tanto la idea de ambientar con elementos olfativos la proyecci&#243;n (o acaso solamente el vest&#237;bulo), como la de transmitir sensaciones t&#225;ctiles por vibraciones en las butacas, fueron parte de una tendencia a la espectacularidad y la oferta de nuevas sensaciones, aunque su implantaci&#243;n fue bien ef&#237;mera. As&#237;
se constata en relaci&#243;n con sistemas como Smell-O-Vision, Sensurround, derivados y similares, hoy en el desv&#225;n de las tecnolog&#237;as abandonadas.</p>
<p>  </p>
<p> Err&#243; en la escala de sus ambiciones, pues ante todo fue un amante y creyente del cine, un
<i>amateur</i> al fin y al cabo, ideando quimeras desde su soledad en la Espa&#241;a del General&#237;simo. Adem&#225;s, el aprecio de sus desbordantes ideas no le vendr&#237;a precisamente de los &#225;mbitos a los que se dirig&#237;a: sociedades de la industria y de la t&#233;cnica, o entes oficiales. Su relaci&#243;n con el entorno profesional e institucional del cine y sectores afines se fue por tanto desvaneciendo, y prefiri&#243; el encuentro con otros creadores ajenos a dicho medio. Tambi&#233;n se rode&#243;
crecientemente de personas j&#243;venes, lo que presagia su permanencia como una figura de culto, con devotos de todas las edades pero, especialmente, entre las nuevas generaciones que a cada momento lo descubren.</p>
<p>  </p>
<p>  </p>
<p> <b>Entre la realidad y el misterio</b></p>
<p>  </p>
<p> Cuando el cine se sue&#241;a, como lo hace Val del Omar &#8211;m&#225;s all&#225; de la lumbre que alumbra de sus t&#233;cnicas e invenciones&#8211;, entra en juego una sintaxis inaudita; no enteramente racional, incluso si se trata de un sue&#241;o l&#250;cido. Esto es lo que hace tan pasmosos los escasos films que dej&#243; terminados o esbozados, e incluso los residuos y materiales que, en su estado suspenso, permiten prolongar su sue&#241;o, sus anhelos de comunicar lo inefable.  </p>
<p>  </p>
<p> Por simplificaci&#243;n y acomodaci&#243;n a ciertas casillas hist&#243;rico-culturales, su obra ha sido emparentada en diversas ocasiones con el surrealismo y su arraigo aut&#243;ctono en Espa&#241;a. Sin embargo, su rotunda singularidad, y aquello que le da vigencia, reside en su amalgama de lo real con lo abstracto. Y ello puede presentirse ya cuando se refiere a sus films como documentales abstractos o l&#237;ricos, y al subrayar que est&#225;n hechos de im&#225;genes y sonidos concretos.</p>
<p>  </p>
<p> Algunas disquisiciones sobre los hitos y conatos del cine de vanguardia en Espa&#241;a han subrayado que estos se han orientado mayoritariamente del lado del realismo y de un cine cr&#237;tico que siempre ha mantenido un pie en el suelo, en lugar de lanzarse al vac&#237;o de una abstracci&#243;n extrema. La obra de Val del Omar parece confirmar dicho argumento y muchos de sus escritos tambi&#233;n lo acreditan, haci&#233;ndose eco de aquella cultura de sangre a la que Federico Garc&#237;a Lorca se refiri&#243; en su conferencia &#171;Teor&#237;a y juego del duende&#187; que seguramente pudo escuchar de su propia voz cuando la pronunci&#243;
en Madrid hacia 1933. Y de cuya relectura extraer&#237;a, casi medio siglo despu&#233;s, profusas notas para un &#171;Espect&#225;culo Lorca L&#225;ser&#187;.</p>
<p>  </p>
<p> Mas la abstracci&#243;n no es una fuga de la realidad, y en la obra de Val del Omar se produce primeramente por el rechazo de un hilo causal y narrativo y partiendo de im&#225;genes figurativas. En su aparente desorden &#8211;ese que se halla tambi&#233;n en sus incontables notas manuscritas&#8211;, tales im&#225;genes se acoplan con un desmembramiento sonoro a&#250;n mayor, y as&#237; se asoman a lo que &#233;l buscaba en su cine: la frontera entre la realidad y el misterio, entre el estado de vigilia y el sonambulismo. (Ya se refiri&#243; a <i>Fuego en Castilla</i> como un ensayo son&#225;mbulo). Un cine que no ser&#237;a para darse a entender, sino para darse a sentir.</p>
<p>  </p>
<p> Hay por otra parte una plasticidad pronunciada, a pesar de la apariencia desma&#241;ada a veces, infrecuente en el marco del cine espa&#241;ol en el que finalmente pretend&#237;a moverse. Aunque siempre como un francotirador &#8211;un marginal, por tanto&#8211;, un &#171;antiambiente&#187;,seg&#250;n una expresi&#243;n caracter&#237;sticamente suya. Dicha plasticidad excede el orden, m&#225;s com&#250;n, del buen gusto fotogr&#225;fico. El concepto mismo de pictolum&#237;nica es revelador de la soledad de un adelantado, un visionario, y constituye una prolongaci&#243;n de su TactilVisi&#243;n, cuyos fundamentos ya hab&#237;a descrito en 1928, cuando por medio de la iluminaci&#243;n persegu&#237;a un efecto de relieve ilusorio. De ah&#237;, sin duda, que, al tratar de ponerla en pr&#225;ctica, tomara como materia unas formas de escultura no especialmente distinguidas, tales como las piadosas tallas del antiguo Museo de Escultura Religiosa de Valladolid.</p>
<p>  </p>
<p> Por otro lado, la obra de Val del Omar (sus intentos) devino m&#225;s radicalmente abstracta con el paso de los a&#241;os y seg&#250;n se fue alejando de los soportes cinematogr&#225;ficos tradicionales. &#171;El v&#237;deo es la vanguardia&#187;, anot&#243;, a la vez que se interesaba por diversos procedimientos post-
y paracinematogr&#225;ficos que convergen en el ideario y repertorio del PLAT. Tanto una cosa como la otra, <i>post</i> y <i>para</i>, ya que el linaje que desciende de la linterna m&#225;gica se ensambla con los embriones de la imagen electr&#243;nica, la cibern&#233;tica y la luz coherente que lleg&#243; a conocer.</p>
<p>  </p>
<p> A prop&#243;sito, precisamente, de su notorio inter&#233;s por el l&#225;ser, Val del Omar ha replanteado enteramente los t&#233;rminos que ya he mencionado. Pues, a pesar de la apariencia primera de las formas que con su luz crea &#8211;ret&#237;culas o urdimbres l&#225;ser, patrones en muar&#233; que a veces superpone sobre ideogramas objetivos&#8211;, vislumbra y se refiere entonces a una clase de im&#225;genes que ya no ser&#237;an ni figurativas ni abstractas. Se trata de una intuici&#243;n que impregna tambi&#233;n el conjunto de sus tientos de pictolum&#237;nica o intravisi&#243;n.  </p>
<p>  </p>
<p> Finalmente, si nos preguntamos sobre qu&#233; versa este sensorio de im&#225;genes (y sonidos) que ensambla, desensambla y recombina sin fin &#8211;de manera m&#225;s mental que manual&#8211;, el or&#225;culo de sus escritos nos remite a conceptos tan et&#233;reos como el duende o el temblor. El duende, los duendes: esp&#237;ritus de la tierra que aman el borde, la herida, la sangre (Lorca de nuevo). Y el temblor, &#171;porque la vida es eso&#187;.
Pero tambi&#233;n se trata de la intuici&#243;n de un tiempo sin espacio ni reloj, de la que extrae su divisa por excelencia: &#171;Mi dios es el Tiempo.&#187;</p>
<p>  </p>
<p>  </p>
<p> <b>Intravisi&#243;n</b></p>
<p>  </p>
<p> Desde la segunda mitad de los a&#241;os sesenta, Val del Omar acarre&#243; sus ideas innovadoras y torrenciales, junto con sus aparejos, mientras iba dando tumbos por diversos entes oficiales o dependientes de la Administraci&#243;n; entre los cuales la Escuela Oficial de Cinematograf&#237;a (EOC en adelante), Televisi&#243;n Espa&#241;ola y Enosa (acr&#243;nimo de la Empresa Nacional de &#211;ptica, sociedad an&#243;nima adscrita al Instituto Nacional de Industria).</p>
<p>  </p>
<p> Previamente, hab&#237;a dejado abandonados su elemental del aire y el barro de Galicia, <i>Acari&#241;o galaico</i>, y los documentales de <i>Festivales de Espa&#241;a</i> (que, siendo un encargo que se hab&#237;a buscado, trat&#243; de llevar a su propio terreno mediante una palpitante experimentaci&#243;n sobre el color). Por unos a&#241;os se entreg&#243; todo lo que pudo a la b&#250;squeda de apoyo para sus invenciones, en particular los formatos BiStandard e Intermediate 16/35, seg&#250;n iba trotando pasillos y ocupando los espacios que le ced&#237;an transitoriamente.</p>
<p>  </p>
<p> Entre tantos trasiegos, en 1968 regres&#243; una vez m&#225;s a su Granada natal y, provisto de una c&#225;mara de 35 mm, realiz&#243; numerosas tomas de imagen &#8211;presumiblemente, tambi&#233;n de sonido&#8211; de la Alhambra y de sus riadas de visitantes, del Sacromonte y de Sierra Nevada, de las fiestas del Corpus y otras estampas de color local. Puede ser que, para este rodaje, contara con medios prestados por la EOC, pues algunas tomas incluyen movimientos de travelling y de gr&#250;a, mientras que otras adolecen de recursos m&#225;s precarios o desgastados (por ejemplo, las gelatinas que a veces sit&#250;a ante la c&#225;mara).</p>
<p>  </p>
<p> Como hab&#237;a hecho en otras ocasiones, es posible que con estas filmaciones pretendiera componer un documental l&#237;rico que, a su vez, constituyese una demostraci&#243;n del formato BiStandard empleado en el rodaje. Nuevamente, sin embargo, este material qued&#243; abandonado durante varios a&#241;os. Pero es, en cambio, el germen del &#250;ltimo proyecto que abrig&#243;, ya con un presentimiento testamentario (lo que se refleja tambi&#233;n en algunos de sus textos m&#225;s &#237;ntimos de los &#250;ltimos a&#241;os).</p>
<p>  </p>
<p> Durante unos a&#241;os, Val del Omar pudo disponer de un laboratorio para sus investigaciones en el s&#243;tano de la EOC. Algunos documentos dejan entrever que este espacio se le cedi&#243; primordialmente para la puesta a punto del sistema BiStandard, un formato de pantalla ancha cuya primera descripci&#243;n data de 1959.
Pero tambi&#233;n que, lejos de conformarse con la demostraci&#243;n de sus aspectos m&#225;s utilitarios, Val del Omar no cej&#243; en la imaginaci&#243;n de nuevos desbordamientos y procedimientos t&#233;cnicos.</p>
<p>  </p>
<p> Al fin y al cabo, una de las variantes del BiStandard estaba asociada con el procedimiento del desbordamiento apanor&#225;mico: la misma pel&#237;cula contendr&#237;a, en fotogramas alternos, la imagen foveal (o imagen-retina) a proyectar en la pantalla propiamente dicha y la extrafoveal que se derramar&#237;a difuminadamente por las paredes, el techo, el suelo y el propio p&#250;blico en la sala.</p>
<p>  </p>
<p> Tratando de perge&#241;ar adem&#225;s un programa de investigaci&#243;n audiovisual m&#225;s amplio, en torno a lo que llama &#171;medios mixtos&#187; y con menci&#243;n expresa a la autom&#225;tica y la electr&#243;nica, expone una retah&#237;la de conceptos y formulaciones que debieron resultar de lo m&#225;s abstrusas entre los administradores o gestores a los que se dirig&#237;a: crom&#225;tica t&#225;ctil, audiolum&#237;nica, pictolum&#237;nica t&#225;ctil-color, l&#237;rica de tiempos reales, maquillaje electr&#243;nico, programadores modulados, montaje por circuitos integrados, pantallas corp&#243;reas, etc.</p>
<p>  </p>
<p> Por esta &#233;poca, concibi&#243; tambi&#233;n el artilugio que bautiz&#243; con el ampuloso nombre de &#211;ptica Bi&#243;nica Energ&#233;tica Ciclot&#225;ctil. Probablemente, consecuencia de su estudio de los formatos de pantalla ancha, acopl&#243; un objetivo anam&#243;rfico en rotaci&#243;n &#8211;a velocidad variable al antojo&#8211; con otro objetivo normal en el mismo eje &#243;ptico. Dicho dispositivo hace que la imagen proyectada se contorsione y distorsione c&#237;clicamente, con un efecto para el que invoc&#243; como referente la pintura de El Greco.</p>
<p>  </p>
<p> Sus siguientes progresos hacia la pictolum&#237;nica &#8211;a la que otras veces se refiri&#243; como intravisi&#243;n y, finalmente, como PLAT&#8211; provienen de su paso por Enosa, donde debi&#243; tener ya un primer alunizaje en 1968, seg&#250;n cierta correspondencia que demuestra que, para empezar, fue recibido casi como un lun&#225;tico. Dicha empresa fabricaba artilugios &#243;pticos y contenidos destinados al sector educativo, entre los cuales proyectores de diapositivas, filminas y opacos, as&#237; como lo que hoy denominamos punteros l&#225;ser.</p>
<p>  </p>
<p> En este nuevo marco &#8211;pero a contrapelo de lo que llamaba su r&#237;gido campo did&#225;ctico programado&#8211;, se dir&#237;a que la obra de Val del Omar emprende un giro poscinematogr&#225;fico; aunque ya presentido en intentos y b&#250;squedas anteriores, siempre hurgando en toda clase de m&#225;quinas y t&#233;cnicas de audiovisi&#243;n. Se puso a pensar tambi&#233;n en formatos expositivos (o que hoy denominar&#237;amos instalativos) y performativos, aunque ci&#241;&#233;ndose en este caso a unas aplicaciones que cre&#237;a factibles; tales como exhibiciones para la promoci&#243;n de la industria y el turismo, y en &#225;mbitos gen&#233;ricos de la educaci&#243;n, la divulgaci&#243;n cultural y el entretenimiento.</p>
<p>  </p>
<p> Se abalanz&#243; especialmente sobre el Adiscopio: un proyector de diapositivas cu&#225;druples, llamadas diakinas o tetrakinas (cuatro im&#225;genes montadas sobre un mismo marco), concebido por el ingeniero Luis Adiego de la Parra. Val del Omar tom&#243; este artilugio y lo convirti&#243; en una especie de m&#225;quina psicod&#233;lica, al integrar en su aparato &#243;ptico tres ruedas de filtros. Estas segmentan el c&#237;rculo en cuatro cuartos con los tres colores b&#225;sicos, m&#225;s el blanco &#8211;la transparencia en este caso&#8211;, y girando a velocidades variables, independientes unas de otras, proporcionan la impresi&#243;n de una imagen que se derrite para dar lugar a otra. En ciertos casos se logra adem&#225;s un efecto de relieve ilusorio, que obedece al espesor mismo de las transparencias proyectadas y a los materiales empleados, emparedados entre cristales
(pegamento transparente, polvos, hilos, recortes de acetato).</p>
<p>  </p>
<p> Tanto este dispositivo como la
&#243;ptica ciclot&#225;ctil mencionada anteriormente, a&#250;nan una gran simplicidad &#243;ptica y mec&#225;nica con la clarividencia de un efecto comparativamente poderoso. Val del Omar, sin embargo, no pretend&#237;a detenerse ah&#237;. La memoria t&#233;cnica de su artefacto bi&#243;nico contiene un n&#250;mero de variaciones y pormenores que enriquecen potencialmente su fundamento. Y, para el adiscopio que modifica y al que tambi&#233;n denomina &#171;tetraproyector para pictolum&#237;nica&#187;, concibe otras aplicaciones y perfeccionamientos. Incluyen un mecanismo de desfile autom&#225;tico en forma de carro o carrusel giratorio, la transformaci&#243;n del proyector en aparato tomavistas
(c&#225;mara adisc&#243;pica), un sistema de programaci&#243;n por medio de cintas magn&#233;ticas portadoras de toda clase de &#243;rdenes o instrucciones (direcci&#243;n y velocidades de giro, el disparo de efectos de luz y color, sonoros, l&#225;ser, ventiladores, surtidores, etc.) o el uso de prismas para desviar la proyecci&#243;n de las im&#225;genes en los cuatro puntos cardinales.</p>
<p>  </p>
<p> Recopil&#243; estos hallazgos e intentos en informes y relaciones de sus trabajos mentales y materiales en esta etapa (con un t&#225;cito &#233;nfasis en lo primero), para finalmente salir despedido, como le ocurri&#243; siempre. &#171;Para durar en un puesto del Estado&#187;
&#8211;escribi&#243; resignado&#8211; &#171;lo m&#225;s conveniente es no hacer nada.&#187; Para seguidamente a&#241;adir: &#171;Espa&#241;a est&#225; llena de Enosas.&#187;</p>
<p>  </p>
<p> Estos y otros artilugios &#8211;incluyendo el l&#225;ser y algunos enoscopes (retroproyectores) modificados con diversos fines&#8211; se incorporaron al repertorio siempre en progreso del despliegue optomec&#225;nico al que se refer&#237;a como su &#171;truca&#187;, aparato de miembros m&#250;ltiples, al que ya se refiri&#243; en 1971 por lo menos, que finalmente traslad&#243; al &#250;ltimo reducto de su propio laboratorio, donde sigui&#243; trabajando de una manera casi secreta. En estado de reposo forzoso, y a la espera de restaurar y reactivar sus componentes, tal despliegue puedo describirlo como sigue.</p>
<p>  </p>
<p> En un extremo hay toda una bater&#237;a de proyectores cinematogr&#225;ficos y de diapositivas, de diversos formatos; muchos de ellos modificados en cuanto a sus elementos
&#243;pticos y mec&#225;nicos. En el extremo opuesto hay una pantalla Fresnel de retroproyecci&#243;n y, al otro lado, un panel de control (cuyas funciones precisas hay que identificar todav&#237;a) y una c&#225;mara que pod&#237;a ser indistintamente de 35 mm, de super-8 o de v&#237;deo. Y, entre ambas lindes, un largo tablero repleto de peque&#241;os objetos, artefactos &#243;pticos y mecanizados, algunos de ellos de fr&#225;gil aspecto, desplazables al antojo y hechos de materiales rudimentarios o reciclados.</p>
<p>  </p>
<p> Val del Omar ha inventariado estos componentes y sus efectos en diversos documentos que proporcionan una descripci&#243;n escueta y un tanto cr&#237;ptica de los mismos. En su ausencia, son como el manual de instrucciones de una m&#225;quina soltera. Aunque sirve para identificar la funci&#243;n de muchos de sus elementos.</p>
<p>  </p>
<p> Los resultados de su acci&#243;n sumada pueden entreverse a partir de varios carretes de super-8 que film&#243;
en la segunda mitad de los setenta. Y tambi&#233;n en un rollo de 35 mm de poco m&#225;s de tres minutos, mudo y sin ning&#250;n tipo de montaje posterior, que probablemente no pretend&#237;a ser otra cosa que una prueba o demo y que se conoce con el t&#237;tulo de <i>Variaciones sobre una Granada</i>. En ella se puede apreciar asimismo la intervenci&#243;n del l&#225;ser, iluminando con luz rojiza las entra&#241;as, los granos de las granadas.</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>Duendes</b></p>
<p>  </p>
<p> En el <i>locus amoenus</i> de su &#250;ltimo refugio, Val del Omar encontr&#243; tiempo para retomar sus proyectos interrumpidos y tratar de dar un sentido final al conjunto de sus elementales. Desde los a&#241;os cincuenta, sus filmaciones repiten en cierto modo la experiencia ambulante de las Misiones Pedag&#243;gicas de la Rep&#250;blica y de los documentales que realiz&#243; en su seno o por su cuenta. Cintas cuyos t&#237;tulos remit&#237;an a su propio asunto, al reflejar escuetamente el nombre de las poblaciones o tierras visitadas: Santiago de Compostela, Finisterre, C&#243;rdoba, Murcia, Las Hurdes, etc. Pero, si con la c&#225;mara pretend&#237;a entonces fotografiar lo objetivo, sus cinegraf&#237;as l&#237;ricas tratan de atrapar el esp&#237;ritu de los lugares a los que acude.</p>
<p>  </p>
<p> Oralmente y por escrito traz&#243; el plan de la obra recapitulativa que ten&#237;a en mente, el <i>Tr&#237;ptico elemental de Espa&#241;a</i>, compuesto, en orden inverso al de su ejecuci&#243;n, por los cortos
<i>Acari&#241;o galaico (De barro)</i>, <i>Fuego en Castilla</i> y <i>Aguaespejo granadino</i>. Esta trilog&#237;a pretend&#237;a tener a su vez la cuadratura de un cuarto elemental a modo de colof&#243;n. Un v&#233;rtice y v&#243;rtice que consumar&#237;a y dar&#237;a una nueva perspectiva al quehacer, admitidamente escaso en minutaje, de media vida dedicada al sue&#241;o de un cine distinto. &#171;Un sue&#241;o de cinematograf&#237;a intuida ins&#243;lita por andar sus im&#225;genes flotando sin aparente coherencia.&#187;</p>
<p>  </p>
<p> Un caudal de notas rodea la fijaci&#243;n de este cu&#225;druple conjunto. En ellas elucubra una y otra vez sobre las diversas posibilidades que toma en cuenta para culminar su obra ante el presentimiento de la vida sesgada. El <i>Tr&#237;ptico</i> mismo recibe otros t&#237;tulos alternativos, enunciados o formulaciones, tales como &#171;Tr&#237;ptico de la tierra, el fuego y el agua&#187; o &#171;Retablo del duende de Espa&#241;a&#187;.
(Como siempre manten&#237;a otros t&#237;tulos en la rec&#225;mara, este &#250;ltimo lo contempl&#243; igualmente al concebir el Espect&#225;culo Lorca L&#225;ser mencionado antes.)</p>
<p>  </p>
<p> Algunas de estas notas entra&#241;an una reconfiguraci&#243;n bien dr&#225;stica del <i>Tr&#237;ptico</i>, como cuando apunta a una ralentizaci&#243;n extrema de alguna de sus piezas, hasta triplicar su duraci&#243;n, o a otras variantes que comportar&#237;an modificaciones no menos sustanciales. Ya fuera en su montaje o en el momento mismo de su proyecci&#243;n, convertida esta en un acto performativo o en lo que &#233;l denominaba un suceso o acontecimiento y que incorporar&#237;a, por otra parte, las t&#233;cnicas del desbordamiento y la diafon&#237;a.</p>
<p>  </p>
<p> Tambi&#233;n anota la posibilidad de crear un efecto de tr&#237;ptico visual (por tanto, no meramente conceptual), y cabe preguntarse si no estar&#237;a pensando en proyecciones simult&#225;neas en una pantalla triplicada. En el fondo, es tal como la obra se ha presentado en algunas ocasiones recientes, con la desventaja de la mezcolanza ac&#250;stica que as&#237; se produce.  </p>
<p>  </p>
<p> Pensando asimismo en el &#233;ter de la radiotelevisi&#243;n, sue&#241;a adem&#225;s con la combinaci&#243;n de ambos medios; la radio para vehicular un segundo canal sonoro. De hecho, la transmisi&#243;n simult&#225;nea o <i>simulcast
</i>de un determinado acontecimiento, era relativamente habitual en su tiempo, y le permit&#237;a pensar en una diafon&#237;a a domicilio.</p>
<p>  </p>
<p> Pero a lo que voy, para concluir, es a ese broche &#250;ltimo &#8211;que ni siquiera lleg&#243; a labrar suficientemente&#8211;, donde se habr&#237;a rotundamente manifestado aquello que describi&#243; como el salto del documental al desquiciamiento total.
Un cine fuera de quicio ser&#237;a el estadio supremo de un sue&#241;o llevado a un nuevo umbral, y en alguna de sus notas se refiere a un PLAT, que es como decir: otra clase de artefacto m&#225;s all&#225; de una pel&#237;cula convencional. (Aunque, en su &#233;poca y lugar, ninguna de las suyas lo fue.)</p>
<p>  </p>
<p>  </p>
<p> <b>El reloj al agua</b></p>
<p>  </p>
<p> As&#237; como el <i>Tr&#237;ptico</i> part&#237;a de unos elementos asentados por el paso del tiempo, su v&#243;rtice o ap&#233;ndice constituye el <i>work in progress</i> por excelencia: una obra quim&#233;rica, interminable y, finalmente, ilegible. As&#237; lo sugieren las embrolladas notas en las que Val del Omar titubea sobre las diversas maneras de dar forma a una suma de materiales y hallazgos que acumul&#243; durante a&#241;os, acudiendo a diversos soportes, formatos y t&#233;cnicas: filmaciones en 35 mm y en super-8, diapositivas que a menudo superpone en s&#225;ndwich, transparencias creadas manualmente (con tintas, part&#237;culas, pegamento&#8230;), cabriolas &#243;pticas, urdimbres l&#225;ser, etc.</p>
<p>  </p>
<p> Algunas veces parece dar prioridad al material filmado y, otras, a una reelaboraci&#243;n de las im&#225;genes mediante las t&#233;cnicas pictolum&#237;nicas. As&#237; es como el proyecto pasa de ser un &#171;choquescope ar&#225;bigo-andaluz&#187;
(enfatizando su particular formato de pantalla ancha, el susodicho BiStandard) a un PLAT con id&#233;nticos apelativos. Aunque, entre tanto, brotan otros t&#237;tulos como &#171;El reloj al agua&#187;, &#171;Tientos de er&#243;tica celeste&#187;
(con el que luego se recopilaron sus fragmentos po&#233;ticos) y &#171;Oculto Dios Abierto&#187;.
Finalmente pareci&#243; inclinarse por otro sutilmente enigm&#225;tico, siendo en cambio una expresi&#243;n bien corriente: &#171;Ojala&#187;.
Palabra que &#233;l pronunciaba sin tilde, procedente del &#225;rabe <i>law sha&#8217;a Allah</i>, &#171;si Dios quisiera&#187; y que en sus notas se desencripta en la frase &#171;Ojal&#225;
tires tu reloj al agua&#187; u otras parecidas.</p>
<p>  </p>
<p> Esta es la exhortaci&#243;n que imaginariamente dirige a las masas de turistas que fotograf&#237;a una y otra vez en su Granada &#8211;tanto en 35 mm como en super-8&#8211;, deambulando apresuradamente por el recinto de la Alhambra y, con la linterna en la frente &#8211;todo tipo de c&#225;maras en sus manos&#8211;, llev&#225;ndosela a trocitos en forma de im&#225;genes-recuerdo.
Apresuramiento de los turistas, resbalando por la historia de una cultura que &#233;l sent&#237;a en sus venas &#8211;hasta el punto de arabizar su aut&#233;ntico apellido, Valdelomar, a sugerencia de Flori&#225;n Rey seg&#250;n se dice&#8211;, que resalta y caricaturiza mediante la fotograf&#237;a a intervalos, <i>stop motion</i>, que acelera las pautas de sus correr&#237;as.</p>
<p>  </p>
<p>
&#171;El agua me suena como si fuera mi propia sangre&#187;, escribi&#243;. Solo con el reloj desprendido o averiado por el agua
&#8211;elemento recurrente y consustancial al ser&#8211; ser&#225; posible la intravisi&#243;n que Val del Omar pretende. Una intravisi&#243;n mecam&#237;stica, por lo que tiene de mec&#225;nica y de invisible; invisibilidad que a su vez se trueca en las t&#233;cnicas de umbral (o subliminales) que pretend&#237;a aplicar a modo de compendio de sus experiencias o tientos PLAT. Sin embargo, en una recapitulaci&#243;n manuscrita de m&#250;ltiples notas anteriores, escribe: &#171;mecam&#237;stica o, mejor, metam&#237;stica&#187;.
Lo que viene a coincidir con un tiempo en que, sin abandonar sus tenaces referentes en la tradici&#243;n ext&#225;tica espa&#241;ola &#8211;San Juan de la Cruz, Santa Teresa de Jes&#250;s, el sufita andalus&#237; Ibn Arabi&#8211;, los ha mezclado cada vez m&#225;s con todo cuanto llamaba su atenci&#243;n en las &#243;rbitas del pensamiento, la ciencia y el arte contempor&#225;neos.</p>
<p>  </p>
<p> Por aquel entonces, se proclamaba el introductor del underground de protesta en Espa&#241;a, a prop&#243;sito de ciertos recreos de su ni&#241;ez, en un internado religioso, con una linterna m&#225;gica de confecci&#243;n propia. Sospecho tambi&#233;n que pudo asistir a las sesiones de cine experimental y de artistas que organiz&#225;bamos sus alevines; sin darse a conocer si as&#237; fuese (por otra parte tampoco le conoc&#237;amos, ni siquiera de nombre, todav&#237;a). Todo indica que estaba bastante al corriente de las claves o referentes de la cultura y contracultura de los a&#241;os sesenta y setenta. Le&#237;a a Khalil Gibran, Alan Watts y Fritjof Capra, altern&#225;ndolos con la relectura de San Juan de la Cruz y los cabecillas de la renovaci&#243;n pedag&#243;gica en tiempos de la Rep&#250;blica.
Reconoc&#237;a en los escritos de McLuhan una coincidencia con sus propias y persistentes ideas. Escuchaba m&#250;sica pop y electr&#243;nica, con el mismo inter&#233;s por el que siempre volv&#237;a a su idolatrado Falla y a los sonidos negros del flamenco. Tambi&#233;n puede intuirse su inter&#233;s por ciertas inclinaciones tecnol&#243;gicas en las artes visuales, y por todo aquello que entra&#241;ara una limpieza de las puertas de la percepci&#243;n.</p>
<p>  </p>
<p> Todo eso se refiere, ciertamente, a su vida privada. Pero es que su propia actividad como artista parece haberse circunscrito cada vez m&#225;s a un &#225;mbito igualmente privado.
Por otro lado, incorpor&#243; en su quehacer los mismos medios que manej&#225;bamos o que nos intrigaban a los principiantes de entonces. Particularmente, el humilde formato del super-8 y la tecnolog&#237;a todav&#237;a primaria y escurridiza del v&#237;deo, as&#237; como los horizontes que intu&#237;amos en la noci&#243;n de un cine expandido. Muchas de las im&#225;genes de sus &#250;ltimos a&#241;os no pueden ser fechadas seg&#250;n la edad que &#233;l ten&#237;a cuando las tom&#243; o las hizo. Yo mismo y otros colegas de mi generaci&#243;n hemos reconocido en algunas de las suyas una cercan&#237;a con nuestros propios pinitos y con los referentes por los que nos gui&#225;bamos, que eran primordialmente for&#225;neos y de un vanguardismo intolerable en el t&#250;nel de salida de la dictadura franquista.</p>
<p>  </p>
<p> Todos estos factores son parte del sentimiento de proximidad por el que me atrev&#237; a revolver un desv&#225;n de im&#225;genes y sue&#241;os ajenos cuando, entre los a&#241;os 2002-2004, me sumerg&#237; durante varios meses en sus materiales y proyectos postreros, para componer el largometraje <i>Tira tu reloj al agua</i>. T&#237;tulo que en cierto modo comporta una exhortaci&#243;n al propio p&#250;blico de este film h&#237;brido y palimps&#233;stico, al que a&#241;ad&#237; un subt&#237;tulo que creo esclarecedor de por s&#237;: <i>Variaciones sobre una cinegraf&#237;a intuida de Jos&#233; Val del Omar</i>.</p>
<p>  </p>
<p> Tales variaciones, seg&#250;n una reflexi&#243;n posterior a mi elaboraci&#243;n intuitiva de las mismas (y del film como una totalidad coherente, incluidas sus brusquedades m&#225;ximas), creo que reflejan las diversas fases de un proyecto que se demor&#243; largos a&#241;os, durante los que Val del Omar ejecut&#243; la suma de materiales de los que part&#237;, reformulando una y otra vez sus ideas para un film, o acaso un par, que en cualquier caso no habr&#237;an rebasado la duraci&#243;n habitual de sus intensos elementales. El proyecto qued&#243; finalmente truncado en cualquiera de las versiones o variantes que su bullente mag&#237;n imagin&#243;.</p>
<p>  </p>
<p> Dej&#243;, eso s&#237;, un residuo muy preliminar de lo que pretend&#237;a mediante un copi&#243;n en blanco y negro montado de las im&#225;genes que rod&#243; en Granada en 1968. No es un material est&#233;ril: personalmente me sirvi&#243; para adivinar el uso que pretend&#237;a dar a ciertas im&#225;genes de las que, otramente, habr&#237;a quiz&#225; prescindido. Tambi&#233;n me sirvi&#243; para confirmar los ritmos que yo mismo deduje de los materiales sobre los que trabaj&#233;. En todo caso, dicho residuo dista mucho de las explicaciones que escuch&#233; de su propia voz, en la soledad sonora (las m&#225;quinas en pausa) de su jard&#237;n mec&#225;nico.</p>
<p>  </p>
<p> <i>Ojala</i>, su postrer intento, hab&#237;a de ser un manifiesto y ep&#237;tome de todo cuanto urdi&#243; en un periodo aproximado de quince a&#241;os. Era cuando ya parec&#237;a haber abjurado del cine, en favor de otras pr&#225;cticas (PLAT, laserfon&#237;a), aunque para finalmente volver a &#233;l con una sacudida extrema. &#171;El espect&#225;culo conmocional tiene que hacer pupa&#187;, escribi&#243;. M&#225;s all&#225; de la diafon&#237;a, el desbordamiento, la tactilvisi&#243;n, la iluminaci&#243;n cambiante en la sala o los reclamos polisensoriales que hab&#237;a imaginado previamente para envolver y aturrullar al p&#250;blico, pens&#243; a&#250;n en otras convulsiones m&#225;s contundentes. Retomando sus ideas sobre el Faratacto (sistema de transmisi&#243;n de sensaciones vibr&#225;tiles en las butacas, nombrado as&#237;
por alusi&#243;n a Faraday), se plante&#243; la idea de calzar al p&#250;blico con unas babuchas que, en determinados momentos, emitieran ligeros impulsos el&#233;ctricos. Se trataba en definitiva de electrocutar a la audiencia, situarla en un estadio de conmoci&#243;n figurada y dr&#225;stica, y ponerla a levitar en cero gravedad.  </p>
<p>  </p>
<p> Antes de llegar a una aspiraci&#243;n tan radical, Val del Omar contempl&#243; otras posibilidades. Concern&#237;an, en primer lugar, a las filmaciones, en color y BiStandard, que hab&#237;a realizado en Granada en 1968 y en 1974. Aunque estas &#250;ltimas, en las que sobreabundan los planos de flores y plantas, yo creo que las tom&#243;
en vistas a posibles ensayos del sistema electr&#243;nico del Cromatacto.
As&#237; me lo sugiri&#243; la asociaci&#243;n de unas &#171;flores palpitando&#187;, mencionadas entre sus notas, con el Palpicolor &#8211;que fue un desarrollo previo de dicho sistema (&#171;el color es cosa palpitante&#187;, sostuvo en un congreso sobre cinematograf&#237;a en color que tuvo lugar en Barcelona en 1961)&#8211;, y as&#237; he utilizado algunas de esas im&#225;genes en <i>Tira tu reloj&#8230;</i>, si bien desde una interpretaci&#243;n muy aproximativa de los principios del Cromatacto.</p>
<p>  </p>
<p> Tras la pintoresca concepci&#243;n del
&#171;choquescope&#187;
que mencion&#233; anteriormente, pens&#243; en un tr&#237;ptico granadino que integrar&#237;a su <i>Aguaespejo de la gran siguiriya</i> (un nuevo t&#237;tulo y una contracci&#243;n de los dos que utiliz&#243; en la primera manifestaci&#243;n de su pl&#225;stica l&#237;rica); no en cambio su presagio en <i>Vibraci&#243;n de Granada</i> (1935), uno de los pocos films que hab&#237;a conservado de sus a&#241;os de juventud. Este tr&#237;ptico jam&#225;s cuajado hubiera entra&#241;ado, seg&#250;n sus ideas, tres aproximaciones distintas: figurativa la primera, abstracta la segunda, de cohesi&#243;n la tercera. (El t&#233;rmino cohesi&#243;n se asocia, en muchos de sus escritos &#250;ltimos, a sus experiencias con el l&#225;ser y las t&#233;cnicas PLAT en general: se referir&#237;a por tanto, y de nuevo, a esa clase de im&#225;genes ni abstractas ni figurativas que vislumbraba.)</p>
<p>  </p>
<p> Otra de sus anotaciones desglosa tres partes o estadios equivalentes en t&#233;rminos de reportaje, l&#237;rica y delirio. Si se hubiera atenido a estos esquemas preliminares, as&#237;
como al material que hab&#237;a rodado en 35 mm, est&#225; claro que Val del Omar distingu&#237;a dos motivos principales entre sus im&#225;genes. Uno es el de los &#171;turistas ciegos&#187;
(con las pr&#243;tesis de visi&#243;n que acarrean) o los &#171;turistas resbalando&#187;
(por las huellas de la cultura &#225;rabigo-andaluza). El otro es m&#225;s dif&#237;cil de precisar, pues el asunto que pretend&#237;a abordar era el tiempo o &#171;lo que la tierra a solas con su Dios nos muestra&#187;: la deidad del Tiempo. Todo indica que, en este caso, habr&#237;a entremezclado las im&#225;genes de los jardines y surtidores del Generalife con las vistas de la ciudad de Granada y de los festejos, religiosos y profanos, que forman parte de su calendario. Dicho dualismo lo expresa a&#250;n de otra manera, mediante los t&#233;rminos antag&#243;nicos del &#171;para&#237;so cerrado&#187;(la ciudadela fortificada de la Alhambra) y los &#171;jardines abiertos&#187;
(su espacio de recreo en el Generalife), que toma de un poemario de 1652 del granadino Pedro Soto de Rojas (<i>Para&#237;so cerrado para muchos, jardines abiertos para pocos</i>).</p>
<p>  </p>
<p> Finalmente, estos diversos motivos y registros los fundi&#243; en uno solo, ya con la firme intenci&#243;n de acudir a la intravisi&#243;n, las t&#233;cnicas de incisi&#243;n conmocional del PLAT. Imagin&#243; un espect&#225;culo del Temblor &#8211;entre el v&#233;rtigo y el
&#233;xtasis, sin pies ni suelo, del enajenamiento al ensimismamiento&#8211;, donde el espacio, el tiempo, la perspectiva, la secuencia, la apariencia, la l&#243;gica, la gravedad&#8230; todo desapareciera o fuera abolido. Conceb&#237;a sus im&#225;genes como ideogramas y pneumas, fluyendo en remolinos o seg&#250;n la nueva sintaxis de los intervalos para el drama el&#233;ctrico. La noci&#243;n de intervalo, por cierto, halla un eco anterior en los escritos te&#243;ricos de Dziga Vertov, aunque creo improbable que Val del Omar la adoptara por influjo del creador del Cine-Ojo, y en definitiva la ha empleado en relaci&#243;n con lo que otras veces llam&#243; dial&#233;cticas, encuentros, choques o s&#237;ntesis de contrarios: la oscuridad y la transparencia, el silencio y el ruido, lo enfocado y lo desenfocado, la vida y su simulacro, lo centr&#237;peto y lo centr&#237;fugo, positivo y negativo, infrarrojos y ultravioletas, s&#237;stole y di&#225;stole, plenitud y vac&#237;o, nacer y morir, ternura y violencia, y as&#237; sucesivamente.</p>
<p>  </p>
<p> Pretend&#237;a una pregnancia a trav&#233;s del masaje del medio y con el mayor voltaje posible (descargas el&#233;ctricas incluidas), sobrepasando la propia de los espots publicitarios que consideraba la vanguardia de los medios de comunicaci&#243;n masiva. Anot&#243; una y otra vez la multiplicidad de ingredientes y t&#233;cnicas que pretend&#237;a combinar, as&#237; como los diversos tiempos o movimientos que contemplaba para esta pieza voraginosa. Una aglomeraci&#243;n r&#237;tmica de im&#225;genes, incluso al borde de dejar de serlo: entra&#241;as c&#243;smicas trazadas con la luz coherente del l&#225;ser, duendes de pegamento l&#237;quido embadurnado en placas de vidrio o tetrakinas, paisajes de cohesi&#243;n pict&#243;ricos creados sobre an&#225;logos soportes, surtidores estrobosc&#243;picos salpicando gotas o l&#225;grimas de agua, &#233;xtasis ciclot&#225;ctiles de im&#225;genes en convulsi&#243;n sobre s&#237; mismas, sobreimpresiones fluyendo en cascada, aceleraciones y ralentizaciones m&#225;ximas, p&#225;lpitos de im&#225;genes por polarizadores y otras formas de intermitencia &#243;ptica, ritmos cambiantes y procedimientos cercanos al montaje m&#233;trico, cromatacto y cromog&#233;nesis, tramas o telara&#241;as superpuestas, reverberaciones diaf&#243;nicas&#8230;</p>
<p>  </p>
<p> Todo congelado, fundido, amalgamado, entramado, desle&#237;do, sobremont&#225;ndose, girando, ondulando, mutando, flotando, confundi&#233;ndose, transform&#225;ndose&#8230; En un v&#243;rtice de vac&#237;o aleteante. Una comunicaci&#243;n de latidos, p&#225;lpitos, parpadeos, intuiciones, por medio de un lenguaje de temblores. &#171;Casi sin sonidos y casi sin im&#225;genes&#187;, a&#241;adi&#243;: bien parad&#243;jicamente si atendemos a la fuerza que consigui&#243; con lo uno y lo otro, no tanto si llegamos a comprender el tu&#233;tano de su intravisi&#243;n. El &#250;ltimo intento de Val del Omar no fue tanto un proyecto cinematogr&#225;fico como un sue&#241;o sin fin y en desbordamiento total que se llev&#243; consigo.</p>
<p>  </p>
<p> La secci&#243;n final de <i>Tira tu reloj al agua</i> tiene una particularidad que me enorgullece por la emoci&#243;n que desprende, seg&#250;n diversas personas que han apreciado la manera licenciosa, a la par que respetuosa, con la que abord&#233; sus residuos. Aqu&#237;, al combinar aquellas filmaciones de Val del Omar de car&#225;cter m&#225;s privado con unos textos introspectivos o autobiogr&#225;ficos, &#233;l pasa a ser el sujeto mismo, el h&#233;roe por as&#237; decirlo, de un film casi enteramente construido con sus propias im&#225;genes. Y con la pretensi&#243;n de librarle de los hiperb&#243;licos halos &#8211;en su vida sambenitos&#8211;
del creador raro, ignorado, maldito, exc&#233;ntrico e idealista desquiciado, eleg&#237; unas palabras que le retratan a ras de suelo y dispuesto a levantar el vuelo:  </p>
<p>  </p>
<p>
&#171;Soy un profesional de nada. Un pobre bicho humano que emplea para su tarea de comunicaci&#243;n el contagio de su propia pasi&#243;n ciega, desordenada, ca&#243;tica. [&#8230;] Soy un pobre mono pretendiendo no morir.
Un loco sediento, buscando el agua de Dios en todas sus criaturas. Un loco urbano, al que no le interesaron nunca los inmuebles del espacio. Un arrebatado precipit&#225;ndose al vac&#237;o transparente y mudo del Gran Tiempo.&#187;</p>
<p>  </p>
<p> Para mi fue un privilegio llegar a conocerle y aprender de su sue&#241;o.</p> </body> </html>