
<p>
<b>La estructura monom&#243;rfica o la imagen contrariada</b></p>

<p>
, n&#250;m. 11, Filmoteca de la Generalitat Valenciana (enero-marzo 1992)</p>

<p>
&#171;Cualquier cosa que se pueda decir sobre Fluxus debe haber sido cierta en un momento u otro; y sino, indudablemente lo ser&#225; alguna vez en el futuro. Igualmente, cualquier cosa que se pueda decir sobre Fluxus ser&#225; falsa en alg&#250;n momento.&#187;</p>

<p>
                     Ken Friedman</p>

<p>
composici&#243;n 1961, n&#250;m. 4, 9 febrero</p>

<p>
dibuja una l&#237;nea recta y s&#237;guela</p>

<p>
La Monte Young</p>

<p>
<b>Fluxus y alrededores</b></p>

<p>
Situar a Fluxus en su lugar, entre los fen&#243;menos art&#237;sticos m&#225;s extremos e influyentes de la segunda mitad del siglo que se extingue, parece ser una reivindicaci&#243;n de la mayor actualidad, visto el renovado inter&#233;s que Fluxus despierta a trav&#233;s de una cierta proliferaci&#243;n de exposiciones y publicaciones recientes. Dicha reivindicaci&#243;n no ha estado por otra parte ausente entre las p&#225;ginas que se ocupan de la historia y estudio del cine y el v&#237;deo experimental; p&#225;ginas marginales o doblemente marginadas
(tanto de la historia del arte como de la historia del cine y las im&#225;genes m&#243;viles en general) en las que Fluxus hace una aparici&#243;n precursora
</p>

<p>
Sin embargo, Fluxus representa algo m&#225;s que una leyenda moderna, heroica y bufa al mismo tiempo, de pioneros y payasos. En este sentido, el cine y el v&#237;deo de Fluxus no pueden considerarse desgajadamente de otras pr&#225;cticas y otros medios, en los que de hecho se han verificado el grueso de las actividades que se identifican con su nombre. Y su contemplaci&#243;n aislada carece asimismo de sentido si no se sit&#250;a sobre el trasfondo de otros fen&#243;menos, movimientos e individualidades contempor&#225;neas o cercanas en el tiempo, el contexto o el comportamiento
</p>

<p>
Las dimensiones de este art&#237;culo obligan a una cierta concisi&#243;n y limitan al m&#237;nimo las posibles excursiones a los &#171;alrededores&#187; de Fluxus. Algunos de ellos son debidamente mencionados por sus conexiones m&#225;s obvias, mientras que otros forman a&#250;n parte de las zonas de sombra entre las que Fluxus mismo ha sobrevivido a lo largo de treinta a&#241;os; sin embargo, al igual que ha ocurrido con Fluxus, algunas de dichas zonas est&#225;n mereciendo una nueva atenci&#243;n que se traduce en muestras y publicaciones que iluminan su extensi&#243;n y particularidades. As&#237;, el cine de los letristas y situacionistas, o el que germina contempor&#225;neamente entre los diversos grupos de vanguardia vieneses, o el de un artista tan singular como Marcel Broodthaers, constituir&#237;an otros episodios paralelos y/o precedentes con ciertos puntos de contacto con el aqu&#237; examinado. 
</p>

<p>
</p>

<p>
<b>Fluxus y (neo-)dad&#225;</b></p>

<p>
A partir del redescubrimiento de dad&#225; como parte de un fen&#243;meno generalizado de reanudaci&#243;n del vanguardismo en la posguerra, el t&#233;rmino <i>neo-dad&#225;</i>
se impuso para designar toda una diversidad de manifestaciones y movimientos art&#237;sticos. Y aunque dicho t&#233;rmino est&#225;
indisolublemente unido a los or&#237;genes del arte pop y del Nuevo Realismo, Fluxus tiene con dad&#225; una filiaci&#243;n particularmente inequ&#237;voca
</p>

<p>
Fluxus podr&#237;a describirse como un grupo internacional de artistas, vinculados entre s&#237; por algunas ideas, influencias o actitudes en com&#250;n; aunque tambi&#233;n con sus disensiones intestinas. Pero, de acuerdo con lo declarado por sus propios protagonistas, parece que Fluxus pudiera definirse mejor por lo que no ser&#237;a que por lo que habr&#237;a sido: no ser&#237;a un movimiento ni un estilo o corriente art&#237;stica; algunos incluso insin&#250;an que ni siquiera es correcto hablar de grupo. Esta dial&#233;ctica de afirmaci&#243;n por la negaci&#243;n, tan familiar a Fluxus, nos retrotrae a dad&#225; &#8211;as&#237;
como a las frecuentes referencias a la filosof&#237;a zen entre los miembros y allegados de Fluxus&#8211;, de igual manera que las descripciones &#171;positivas&#187; de Fluxus se plantean en t&#233;rminos similares a los aplicados a dad&#225;: un modo de vida, una visi&#243;n del mundo, un esp&#237;ritu..
</p>

<p>
De hecho, Fluxus se asemeja a dad&#225;
en diversos aspectos: nace de un proyecto de revista al igual que dad&#225; (al menos seg&#250;n algunas versiones); congrega a sus miembros a trav&#233;s de una sucesi&#243;n de actuaciones p&#250;blicas perturbadoras; y, a la vez, se disgrega en m&#250;ltiples escenas y zonas, en un triple sentido art&#237;stico, geogr&#225;fico y temporal. Asimismo, las actividades y actitudes caracter&#237;sticas de Fluxus pueden describirse mediante vocablos del todo similares a los que puso en juego dad&#225;: azar, humor, nihilismo, sinsentido, agitaci&#243;n... sin olvidar lo que hoy nos puede parecer una inocente o anacr&#243;nica palabrer&#237;a de negaci&#243;n o interrogaci&#243;n del arte (el antiarte, el anartista), en busca de nuevas formas de arte (o de no-arte) y de la confusi&#243;n del arte con la vida
</p>

<p>
<b>Fluxus, geograf&#237;a e historia</b></p>

<p>
A diferencia de dad&#225;, Fluxus tiene una paternidad muy clara (no solo en cuanto a su bautizo, sino tambi&#233;n como aglutinante) en la persona de George Maciunas; aunque, al fin y al cabo, una paternidad compartida con otros c&#243;mplices, y adoptando como mentores a Marcel Duchamp, Erik Satie o John Cage
(pero tratando de desprenderse de su peso e influencia). En cuanto a la fecha y lugar de nacimiento de Fluxus, suele hoy considerarse que fue en 1962 y en Alemania, pero igualmente podr&#237;a decirse que lo fue al menos un a&#241;o antes y en la mente de George Maciunas, o cuando Nam June Paik le cort&#243; la corbata a John Cage (<i>Etude for Pianoforte</i>, Colonia, 1960), o con cualquier otro gesto o intenci&#243;n memorable o irrelevante
</p>

<p>
Sea como sea, para mediados de los a&#241;os sesenta se hab&#237;a cumplido la expansi&#243;n internacional de Fluxus, con una aparente red organizada de centrales o c&#233;lulas en los cuatro puntos cardinales de un mapa, m&#225;s que f&#237;sico, imaginario, pero geogr&#225;ficamente muy extendido (Espa&#241;a figurar&#237;a en &#233;l, con el grupo Zaj como c&#233;lula independiente) y que lleg&#243; a provocar alguna c&#243;mica disputa territorial (de Wolf Vostell con Joseph Beuys)
</p>

<p>
Despu&#233;s, el esp&#237;ritu de grupo se fue aparentemente diluyendo. Sin embargo, al filo y a lo largo de la nueva d&#233;cada de los setenta, Fluxus revivi&#243; a&#250;n merced a la actividad desplegada por algunas de sus c&#233;lulas (la alianza de Yoko Ono y John Lennon entre ellas) y por la formaci&#243;n de otras nuevas en Estados Unidos (el llamado Young Fluxus), Inglaterra, Australia o Suiza (el grupo &#201;cart). Por lo dem&#225;s, seg&#250;n ha escrito Ken Friedman, otrora al frente de Fluxus West (la muy activa c&#233;lula californiana): &#171;El hecho de que Fluxus sea historia no significa que Fluxus haya muerto.&#187;</p>

<p>
<b>El </b><i><b>event</b></i><b>, arte alternativo, arte expandido</b></p>

<p>
Los artistas que formaron Fluxus proced&#237;an b&#225;sicamente de tres disciplinas: la m&#250;sica, las artes pl&#225;sticas y, en menor proporci&#243;n, la literatura. Sin embargo, las obras que les dieron a conocer solo se atienen parcial o puntualmente a la definici&#243;n tradicional de dichas disciplinas o territorios art&#237;sticos. En primer lugar porque las transgreden de diversas formas, y en segundo lugar porque sus fronteras mismas se disuelven;
se habla as&#237; de antim&#250;sica, m&#250;sica de acci&#243;n o teatro musical, o de arte de concepto, poema-objeto, neo-haiku, <i>event</i>
o simplemente Fluxus
</p>

<p>
El <i>event</i>, una de las pr&#225;cticas m&#225;s caracter&#237;sticas de Fluxus, participa tanto del arte de acci&#243;n como del arte de concepto en su sentido m&#225;s estricto, en la medida en que constituye un acto, un mero gesto o una simple instrucci&#243;n: &#171;[poner] un jarro de flores sobre un piano&#187;
(<i>Piano Piece</i>, de George Brecht, 1962) o &#171;introducirse en la vagina de una ballena hembra viva&#187; (<i>Danger Music for Dick Higgins</i>, de Nam June Paik, 1962). Pero incluso la instrucci&#243;n o &#171;partitura&#187;
m&#225;s descabellada e irrealizable ha de ser representable como acci&#243;n, como &#171;evento&#187; (en el extremo, absolutamente mental) por la libre interpretaci&#243;n de su ejecutante
</p>

<p>
Otra faceta muy significativa de la producci&#243;n de Fluxus es el uso de los materiales m&#225;s humildes para crear objetos multiplicados (<i>mass-produced</i>, dec&#237;a Maciunas), tales como publicaciones de todo tipo, sellos postales y de goma, un sinf&#237;n de pel&#237;culas, juegos de azar, reliquias, instrumentos, etc., y su reuni&#243;n en cajas o maletas a modo de antolog&#237;a o museo port&#225;til (los <i>Fluxyearboxes</i>,
<i>Fluxkits</i>, etc., confeccionados artesanalmente por Maciunas y otros)
</p>

<p>
Pero una de las aportaciones esenciales de Fluxus es sin duda su contribuci&#243;n a una concepci&#243;n
<i>intermedia</i>
de las artes. Dick Higgins, uno de los primeros en introducir dicho t&#233;rmino (que hall&#243; entre los escritos de Coleridge) en la jerga del arte contempor&#225;neo, ha ilustrado a la perfecci&#243;n su significado, al poner el ejemplo de la poes&#237;a concreta como <i>intermedium</i>
entre la poes&#237;a y las artes visuales. George Maciunas acu&#241;&#243; por su parte la expresi&#243;n <i>expanded arts</i> (abarcando a su vez el <i>expanded cinema</i>)
y expuso por medio de sucintos diagramas sus ingeniosas, aunque algo tendenciosas, lecturas sin&#243;pticas de su desarrollo y de los antecedentes, influencias e interconexiones de algunas de las principales tendencias art&#237;sticas de los a&#241;os sesenta
</p>

<p>
<b>Fluxus minimalista</b></p>

<p>
El artista pl&#225;stico y cineasta Hans Richter, al t&#233;rmino de su libro <i>Dada, Kunst und Antikunst</i>
(1964), ha caracterizado en pocas palabras uno de los rasgos mayores de Fluxus, aunque refiri&#233;ndolo al conjunto del entonces denominado neo-dad&#225;, y primordialmente al arte pop, al Nuevo Realismo y al happening. M&#225;s que dad&#225;, Richter quiz&#225; ya estaba un poco gag&#225;, y su punto de vista no era precisamente comprensivo hacia aquellos a quienes contemplaba como desviados ep&#237;gonos; sin embargo, acert&#243; al resaltar la idea de extraer &#171;<i>algo</i>
de la <i>nada</i>&#187;, no solo aplicable a varios de los artistas que menta o alude &#8211;el vac&#237;o de Klein, el silencio de Cage (el piano mudo de <i>4'33&quot;</i>)
son referencias inevitables&#8211;, sino, por excelencia, a Fluxus (como se ver&#225; a prop&#243;sito de sus films y primeras experiencias en v&#237;deo)
</p>

<p>
A este <i>algo</i>
extra&#237;do de la <i>nada</i>
se le podr&#237;a llamar <i>lo m&#237;nimo</i>. El arte minimalista, aunque es otra manifestaci&#243;n muy distinta, ha surgido en definitiva del mismo clima art&#237;stico. La relaci&#243;n entre Fluxus y el minimalismo podr&#237;a observarse como an&#225;loga a la que otrora se dio entre dad&#225; y el constructivismo. La diferencia estribar&#237;a en el plano que se asigna a la estructura formal (primaria). Los propios artistas de Fluxus han enfatizado esta otra acepci&#243;n minimalista.
Seg&#250;n Dick Higgins, lo que diferencia a Fluxus de sus antecesores hist&#243;ricos, es su peculiar &#171;insistencia&#187; en la &#171;elegancia&#187; de lo m&#237;nimo; algo que se fragua con el futurismo &#8211;Higgins menciona como ejemplo el teatro sint&#233;tico futurista&#8211; y con dad&#225; mismo, pero que Fluxus llevar&#225; al extremo
</p>

<p>
Por &#250;ltimo, el artista Fluxus ser&#237;a consciente de las contradicciones que entra&#241;a su prop&#243;sito, como lo da a entender Ben Vautier al decir que &#171;su empe&#241;o consiste en primer lugar en agotar todas las posibilidades y l&#237;mites del &#8220;todo es arte&#8221;, y en segundo lugar en sobrepasar el &#8220;todo es arte&#8221;
mediante una actitud antiart&#237;stica no-art&#237;stica&#187;, para reconocer al cabo que el no-arte acaba tambi&#233;n por convertirse en una forma de arte. Lo m&#237;nimo, pues, ser&#237;a igualmente la expresi&#243;n de tales prop&#243;sitos, y la comprensi&#243;n nihilista de un arte (algo) de y para la nada
</p>

<p>
*</p>

<p>
&#171;A partir de aqu&#237; estamos solo a un paso del cine absoluto, el cine de nuestra mente.&#187;</p>

<p>
                                                   Jonas Mekas</p>

<p>
<b>Del film minimalista al film estructural</b></p>

<p>
Se ha dicho que Maciunas pudo haber concebido Fluxus tomando como modelo la New York Filmmakers'
Cooperative, organizaci&#243;n autogestionaria fundada en 1962 por diversos cineastas independientes. Lo que s&#237; es seguro es que existi&#243; un contacto bastante estrecho entre Fluxus y la escena del cine independiente o underground, de la mano de sus respectivos l&#237;deres org&#225;nicos, Maciunas y Jonas Mekas, ambos de origen lituano.
Esto explica que aparezcan vinculados a Fluxus, aunque epis&#243;dicamente, los nombres de Paul Sharits, George Landow, John Cavanaugh o Stan Vanderbeek, <i>filmmakers</i>
que se cuentan significativamente entre los introductores de unos nuevos planteamientos y conceptos a los que dar&#237;an nombre expresiones como <i>cine estructural</i> y <i>cine expandido</i>
</p>

<p>
La noci&#243;n de cine estructural
(<i>structural film</i>)
fue introducida por P. Adams Sitney en un art&#237;culo publicado en 1969 en la revista <i>Film Culture</i>, el cual Maciunas se apresur&#243; a rebatir con un cuadro sin&#243;ptico (que Sitney tuvo la elegancia de reproducir en una revisi&#243;n posterior de su art&#237;culo), inaugurando un debate de innumerables secuelas sobre un t&#233;rmino que, en cualquier caso, terminar&#237;a por imponerse y pasar&#237;a a designar una tendencia predominante en el cine experimental de la d&#233;cada siguiente
</p>

<p>
El sucinto texto-esquema de Maciunas expone algunas perspicaces ideas a partir de la distinci&#243;n sem&#225;ntica entre <i>estructura simple</i>
y <i>compleja</i>, para proponer a continuaci&#243;n la noci&#243;n de <i>estructura monom&#243;rfica</i>, que se vincula &#8211;en la jerga propia de Maciunas y adl&#225;teres&#8211; a las de
<i>neo-haiku</i>
y <i>arte de concepto</i>
(esta &#250;ltima, anticipada por Henry Flynt). De esta manera, Maciunas ha descrito la caracter&#237;stica por excelencia de las pr&#225;cticas de Fluxus, incluidas las propiamente f&#237;lmicas, y ha sugerido la urdimbre que unir&#237;a al cine (y contracine) de Fluxus con el cine estructural de Sitney; y a ambos con otras tendencias y manifestaciones paralelas o precursoras en el conjunto de las artes
(en plural y en expansi&#243;n, <i>Expanded Arts</i>, tal como el propio Maciunas propuso en un anterior cuadro sin&#243;ptico). En cambio, Sitney es poco h&#225;bil manejando referencias est&#233;ticas externas al objeto cinematogr&#225;fico y descarta expresamente toda relaci&#243;n entre el film estructural y el arte minimalista (significativamente, tambi&#233;n denominado <i>estructuras primarias</i>) y conceptual, cuando tal relaci&#243;n es visible en muchos aspectos
</p>

<p>
Sin embargo, podr&#237;a decirse que tambi&#233;n Sitney tiene su parte de raz&#243;n cuando toma en cuenta pero rechaza las &#171;correcciones&#187; de Maciunas, en el sentido que, si los films de Fluxus operan sobre la <i>estructura monom&#243;rfica</i> m&#225;s simple, el cine que Sitney bautiza de <i>estructural</i>
tender&#225; m&#225;s bien a operar con estructuras m&#225;s complejas, polim&#243;rficas. El propio Maciunas lo observa a prop&#243;sito del film
<i>Arnulf Rainer</i>
(1958-60), de Peter Kubelka, hecho de elementos m&#237;nimos y esenciales
&#8211;luz y oscuridad, sonido y silencio&#8211;, pero con una intrincada estructura r&#237;tmica de los mismos. Y un film tan emblem&#225;tico de la nueva tendencia como <i>Wavelength</i>
(1968), de Michael Snow, es igualmente ilustrativo, al partir de una estructura simple (un lento movimiento de zoom) que deviene sin embargo compleja por las incidencias (de montaje, &#243;pticas y narrativas) que la envuelven simult&#225;neamente. Por otro lado, si se trata de hallar precursores, se justifica Sitney, cabr&#237;a remontarse al <i>Anemic Cinema</i>
(1926) de Marcel Duchamp, o incluso a los films de Lumi&#232;re. En efecto, el cine de Fluxus reanudar&#237;a en este sentido una tradici&#243;n de cine primario, an&#233;mico, m&#237;nimo, que gira sobre s&#237; mismo en un gesto que oscila entre la interrogaci&#243;n y la risa
</p>

<p>
<b>Fluxfilms/1</b><b><a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a></b></p>

<p>
El corpus cinematogr&#225;fico de Fluxus ha quedado parcialmente reunido en un film conocido por <i>Fluxfilm Program</i> o <i>Fluxus Anthology</i>, compilado por Maciunas y del que, a partir de 1966, han circulado distintas versiones cuya duraci&#243;n oscila entre los 36 y los 100 minutos. Sin embargo, ninguna de las versiones conocidas incluye la totalidad de los films o fragmentos, a cada uno de los cuales Maciunas les atribuy&#243; un n&#250;mero, aunque el orden sea aparentemente aleatorio en todas las versiones. (Los films mencionados m&#225;s abajo fueron realizados entre 1965 y 1966, salvo cuando se especifica otra fecha)
</p>

<p>
La antolog&#237;a f&#237;lmica de Fluxus constituye un relevante compendio, todav&#237;a sorprendente en muchos aspectos, de una exploraci&#243;n del medio f&#237;lmico llevada a sus l&#237;mites. A trav&#233;s de la relativa heterogeneidad de los diversos segmentos, sus m&#237;nimas proposiciones se reparten entre los extremos de la mayor y menor variedad o discrepancia de un fotograma a otro
&#8211;entre la elaboraci&#243;n imagen por imagen (<i>single frame</i>, <i>stop-motion</i>)
y la toma &#250;nica (<i>single shot</i>) y, a menudo, est&#225;tica&#8211;; y el conjunto, en la alternancia de la extrema rapidez y la extrema lentitud (<i>slow motion</i>). As&#237;, por un lado, hay la brevedad de aquellos fragmentos que fluyen en apenas unos segundos (por ejemplo, los fluxfilms 3, 7, 8, 11, 24, 25, del 26 al 28, y 31, de los que expongo otros detalles m&#225;s abajo), as&#237; como la aceleraci&#243;n del flujo de im&#225;genes distintas en cada fotograma, destacando algunos trabajos primerizos de Paul Sharits (fluxfilms del 26 al 29), que son, sin embargo, el semillero de su s&#243;lida obra posterior, basada en el fotograma, las intermitencias y el discurrir de la pel&#237;cula
</p>

<p>
Y, por otro lado, el flujo casi imperceptible, la lentitud extrema, la duraci&#243;n dilatada durante varios minutos de las diversas filmaciones con c&#225;mara de alta velocidad, de una sonrisa que se apaga (fluxfilm 4, <i>Disappearing Music for Face</i>, de Chieko Shiomi), una cerilla que se consume (ff 14, <i>No.
1</i>, de Yoko Ono), un ojo que parpadea (ff 15, <i>Eyeblink</i>, an&#243;nimo, aunque atribuible a Maciunas y/o Yoko Ono), peque&#241;os objetos cayendo (ff 17, <i>5 O'Clock in the Morning</i>, de Pieter Vanderbeek), o la exhalaci&#243;n de una bocanada de humo (ff 18, <i>Smoke</i>, de Joe Jones)
</p>

<p>
O tambi&#233;n la monoton&#237;a repetitiva de gestos y zonas del cuerpo filmados en primeros planos est&#225;ticos:
una boca masticando (ff 2, <i>Invocation of Canyons and Boulders for Stan Brakhage</i>, 1963, de Dick Higgins), o las nalgas desnudas de varias personas que hacen el movimiento de andar sobre una cinta m&#243;vil (ff 16, <i>No.
4</i>, de Yoko Ono, fragmento de su largometraje de igual t&#237;tulo)
</p>

<p>
Prima en otros segmentos una insistencia literal en la duraci&#243;n, que se traduce por ejemplo en una progresi&#243;n lineal de cifras que indican el tiempo transcurrido de la duraci&#243;n anunciada de la pel&#237;cula (ff 6, <i>9 Minutes</i>, de James Riddle), o en una progresi&#243;n del negro al blanco que transita por toda una gama de grises y acompa&#241;a un equivalente sonoro (ff 10,
<i>Entrance-Exit</i>, de George Brecht). O en la idea de medici&#243;n presente en otros segmentos m&#225;s breves que Maciunas incluy&#243; como &#171;an&#243;nimos&#187;: su fluxfilm 7, <i>10 Feet</i>, consiste as&#237; en un trozo de pel&#237;cula transparente calibrada como si fuera una cinta de medir, cuya longitud es la expresada por el t&#237;tulo; asimismo, el t&#237;tulo de su fluxfilm 8, <i>1000 Frames</i> y la duraci&#243;n conocida del mismo (40 segundos) permiten presuponer su tautol&#243;gico
&#171;contenido&#187;, pese a no estar incluido en ninguna de las versiones conocidas del film colectivo
</p>

<p>
Diversos readymades &shy;&#8211;puros o rectificados&shy;&#8211;, segmentos an&#243;nimos o hechos de presumibles descartes, de materiales encontrados o sencillamente insignificantes, salpican el conjunto subrayando la materialidad del propio medio, su soporte, sus caracter&#237;sticas, procesos y defectos; la transparencia o la longitud de la pel&#237;cula, la cualidad f&#237;lmica (como imagen y obra cinematogr&#225;fica) de cualquier imagen o no-imagen o desecho: una longitud variable de pel&#237;cula transparente (ff 1, <i>Zen for Film</i>, 1962, de Nam June Paik, film absoluto y ready made por excelencia), una cola numerada (ff 3, <i>End After 9</i>, an&#243;nimo de Maciunas), una tira de prueba de las utilizadas en los laboratorios para el etalonaje (ff 24, <i>Readymade</i>, de Albert Fine), una pel&#237;cula radiol&#243;gica encontrada en la basura de un dentista (ff 11, <i>Trace 22/Swallowing</i>, de Robert Watts), l&#237;neas o tramas de Letraset aplicadas sobre pel&#237;cula transparente (ff 20, <i>Artype</i>, de George Maciunas) o filmadas imagen por imagen (ff 27, <i>Dots 1-3</i>, de Paul Sharits), las p&#225;ginas de un cat&#225;logo de venta por correo que desfilan tambi&#233;n fotograma a fotograma (ff 26, <i>Sears Catalogue 1-3</i>, de Paul Sharits), una imagen subexpuesta (ff #31, <i>Police Car</i>, de John Cale), etc.
Adem&#225;s de las im&#225;genes de televisi&#243;n sometidas al <i>d&#233;-coll/age</i>
de Wolf Vostell (ff 23, <i>Sun in Your Head</i>, 1963)
</p>

<p>
En muchos de estos <i>fluxfilms</i>
se juega tambi&#233;n al nominalismo y a la tautolog&#237;a m&#225;s descarnada, as&#237; como al gag y al sinsentido. No solo el t&#237;tulo anuncia, describe o sugiere escuetamente la imagen o secuencia subsiguiente, sino que el t&#237;tulo llega a tener una duraci&#243;n mayor que la imagen propiamente dicha, pero por otra parte &#237;nfima: el fluxfilm 3, <i>End After 9</i>, consiste en una cola numerada hasta el 9, seguida de un r&#243;tulo de <i>Fin</i>, tal como indica el t&#237;tulo, todo lo cual desfila en cuesti&#243;n de segundos; el fluxfilm 25, <i>The Evil Faerie</i>, de George Landow, consiste en un brev&#237;simo plano de un individuo en un gesto irrisorio, como si imitara con los brazos el vuelo de un p&#225;jaro
</p>

<p>
Un fluxfilm m&#225;s tard&#237;o, el ff 37
(1970, sin t&#237;tulo), de Peter Kennedy y Mike Parr, en el que la imagen del sujeto filmado se va difuminando por la interposici&#243;n de capas sucesivas de cinta adhesiva transparente sobre el objetivo de la c&#225;mara, insiste finalmente en el repliegue sobre el medio mismo y la destrucci&#243;n o negaci&#243;n de la imagen por nuevos vericuetos
</p>

<p>
<b>Fluxfilms/2</b></p>

<p>
Algunos de los segmentos reunidos en el film colectivo <i>Fluxus Anthology</i> tienen su origen en una primera propuesta de Maciunas de hacer una antolog&#237;a de <i>loops</i>:
breves pel&#237;culas para ser proyectadas sin fin durante un espacio de tiempo indeterminado (uniendo sus extremos para formar un anillo o bucle continuo). El loop, en este sentido, era un formato que por su cualidad m&#237;nima, repetitiva y econ&#243;mica se adecuaba perfectamente al esp&#237;ritu Fluxus y al &#171;cine de pobres&#187; que preconizaba Maciunas.
Varios de los fluxfilms fueron pues concebidos y difundidos tambi&#233;n de esta manera &#8211;de ah&#237; su brevedad&#8211;, siendo adem&#225;s incluidos en kits o cajas como <i>Fluxyearbox 2</i>, que conten&#237;a copias en 8 mm y un visor individual para bucles de dicho formato, o en una edici&#243;n de 1964 de <i>Zen for Film</i>, de Paik
</p>

<p>
La aportaci&#243;n cinematogr&#225;fica de Fluxus no se reduce sin embargo a los loops y a los films recogidos en <i>Fluxus Anthology</i>, pues son varios los artistas del grupo, o pr&#243;ximos a su esp&#237;ritu y circunstancia, que cuentan con una filmograf&#237;a m&#225;s o menos amplia, aunque en muchos casos poco puedo a&#241;adir si no son sus nombres:
George Brecht, Robert Watts, Robert Filliou, Eric Andersen, Arthur K&#246;pcke, Per Kirkeby y Milan Knizak, as&#237; como Dick Higgins, cuyos films frecuentaron en su momento los circuitos underground, o Nam June Paik, que de 1966 a 1969 hizo varios films con Jud Yalkut, los m&#225;s a partir de im&#225;genes de televisi&#243;n y de sus experimentos videogr&#225;ficos, aunque tambi&#233;n otros con los que dec&#237;a perseguir una &#171;introducci&#243;n de la metaf&#237;sica en el cine, tratando de profundizar en la significaci&#243;n ontol&#243;gica de la monoton&#237;a.&#187;</p>

<p>
Dieter Roth (al que no se suele considerar un artista Fluxus, pero s&#237; uno pr&#243;ximo o proto-Fluxus)
realiz&#243; entre 1956 y 1962 varios films muy breves, agrediendo la pel&#237;cula mediante perforaciones o cortes, enfatizando as&#237; las caracter&#237;sticas del soporte y los intercambios elementales
(luz/oscuridad) de la proyecci&#243;n cinematogr&#225;fica. Ben Vautier se sirvi&#243; del film para mostrar acciones o <i>events</i>, cuya acci&#243;n m&#237;nima o mon&#243;tona queda pr&#225;cticamente descrita desde su mismo t&#237;tulo: <i>Regardez-moi, cela suffit</i> (1962), <i>La Travers&#233;e du port de Nice &#224; la nage</i>
(1963), <i>Je me suis regard&#233;
10 minutes dans ce miroir</i>
(1963), etc. Wolf Vostell insisti&#243; en el formato reiterativo del loop, el cual llev&#243; a otra expresi&#243;n m&#237;nima y l&#237;mite con
<i>Notstandbordstein</i>
(1969), cuyo &#250;nico contenido es el t&#237;tulo (r&#243;tulo) mismo. Por
&#250;ltimo, Yoko Ono y John Lennon se mantuvieron fieles al minimalismo Fluxus con films como <i>Smile</i>
(1968), en el que Yoko se plagia a s&#237; misma y a Chieko Shiomi, su compatriota y compa&#241;era de Fluxus, y del fluxfilm colectivo (v&#233;ase el ff 4), al magnificar la sonrisa de Lennon en un plano de detalle tomado con c&#225;mara de alta velocidad; <i>Rape</i>
(1969), o la brutal intromisi&#243;n en la privacidad de una mujer, asediada por la c&#225;mara en la calle y en su propio hogar; o
<i>Apotheosis</i>
(1971), donde la c&#225;mara se eleva en un globo aerost&#225;tico hasta que la imagen se disuelve, al alcanzar las nubes, en la superficie blanca
&#8211;iluminada pero vac&#237;a&#8211; de la pantalla
</p>

<p>
<b>Inmateriales y expandidos
(Fluxfilms/3)</b></p>

<p>
El cine de Fluxus podr&#237;a ser contemplado como una forma de contra-cine o de cine <i>primario</i>, que llega a prescindir de uno o m&#225;s de aquellos elementos propiamente considerados como cinematogr&#225;ficos: la c&#225;mara (<i>Zen for Film</i>, de Paik, o los fluxfilms 7 y 20, de Maciunas, entre otros), la pantalla, el recinto cerrado de la sala de proyecci&#243;n... incluso el proyector y la pel&#237;cula misma. En sus extremos, ello conduce a una especie de cine esencial o absoluto (siempre en su vertiente m&#225;s minimalista) o de cine conceptual, imaginario, puramente mental, cuya materializaci&#243;n es ante todo la del mismo proyecto. As&#237;, podr&#237;a decirse que hay un fluxfilm &#171;n&#250;mero cero&#187;, que es el titulado <i>Tree*
Movie</i> (1961), de Jackson Mac Low, film conceptual e inmaterial por excelencia (y que lo seguir&#237;a siendo por varios a&#241;os), concebido sobre el papel, pero que constituir&#237;a la matriz en potencia de todos los films est&#225;ticos posibles y por venir, pues el film de ese &#171;&#225;rbol*&#187; que encuadrar&#237;a una c&#225;mara &#171;inm&#243;vil durante un n&#250;mero cualquiera de horas&#187;, podr&#237;a ser tambi&#233;n el de cualquier otra cosa inerte o en la que apenas sople el viento (o el azar), pues el asterisco indica en el proyecto &#8211;en las instrucciones para su realizaci&#243;n&#8211; que &#171;la palabra <i>&#225;rbol</i>
puede sustituirse por <i>monta&#241;a</i>,
<i>mar</i>,
<i>flor</i>,
<i>lago</i>, u otra.&#187;</p>

<p>
Abundaron por otra parte los <i>events</i>
o performances para-, contra- o post-cinematogr&#225;ficas, de un cine
&#171;expandido&#187; en su faceta m&#225;s elemental de negaci&#243;n, interrogaci&#243;n o transgresi&#243;n de unos l&#237;mites, unas expectativas, unos atributos, unos h&#225;bitos, etc.: Paik proyectando su pel&#237;cula transparente y
&#171;actuando&#187; m&#237;nimos <i>events</i>
de gestos y sombras ante la pantalla; Eric Andersen haciendo circular una pel&#237;cula entre las manos del p&#250;blico (<i>Sin t&#237;tulo</i>, 1966); Takehisa Kosugi cortando progresivamente la pantalla iluminada por un proyector sin pel&#237;cula (<i>Film
&amp; Film no .4</i>, 1966);
Ben Vautier proyectando una pel&#237;cula en la que insulta al p&#250;blico
(<i>Public</i>, ca. 1966), o pintando de negro la pantalla en la que se proyecta un film convencional (<i>Monochrome for Y. Klein/Fluxversion 1</i>, ca. 1969). Algunas ideas similares a estas se encuentran por cierto entre los <i>Six Film Scripts</i>
imaginados por Yoko Ono en Tokio, en 1964: &#171;Pedir al p&#250;blico que corte de la pantalla aquella parte de la imagen que no le guste
(proporcionar tijeras)&#187; y &#171;pedir al p&#250;blico que mire la pantalla hasta que esta se vuelva negra.&#187; Pero el repertorio podr&#237;a a&#250;n seguir con la aportaci&#243;n que Milan Knizak propuso para el fluxfilm colectivo, la cual ser&#237;a apenas un t&#237;tulo, <i>Pause</i>
(1966), tras el que se interrumpir&#237;a la proyecci&#243;n; con Vostell, al proyectar desde un autom&#243;vil y por las calles de M&#250;nich su pel&#237;cula-r&#243;tulo <i>Notstandbordstein</i>
(1969); o con Maciunas, al imaginar recintos cuyas paredes estuvieran recubiertas con las im&#225;genes de los fluxfilms proyectadas en bucles sin fin
</p>

<p>
Y, por &#250;ltimo, el cine imaginario de Fluxus estar&#225; tentado por la idea de hacer proyectable como imagen cin&#233;tica los m&#225;s diversos materiales: un rollo de cinta adhesiva (Paik, en un <i>Scenario</i>
de 1962-63), una cinta mecanogr&#225;fica (Eric Andersen, 1966), o una cuerda (Milan Knizak y Maciunas en sendos proyectos de 1969 para un
<i>Indeterminate Movie</i>
y un <i>Rope Movie</i>
que estar&#237;a musicado con un <i>Rope Record</i> de Robert Watts);
plagio por anticipaci&#243;n: el cineasta austr&#237;aco Hans Scheugl hab&#237;a ya realizado una idea del todo similar, la proyecci&#243;n de un carrete de hilo, un a&#241;o antes (<i>ZZZ:
Hamburg special</i>, 1968)
</p>

<p>
*</p>

<p>
&#171;Nuestra tarea es la cr&#237;tica de la TV pura. Como Kant.&#187;</p>

<p>
Nam June Paik</p>

<p>
<b>Antes del v&#237;deo</b></p>

<p>
Los breviarios de historia del v&#237;deo
&#8211;del videoarte, para emplear una expresi&#243;n sempiternamente discutida pero de la que resulta dif&#237;cil desembarazarse&#8211; arropan frecuentemente sus actas de nacimiento con otro latinajo, al mentar a Fluxus para emplazar la primera expresi&#243;n de una oposici&#243;n fundamental para la identidad del nuevo medio: el v&#237;deo como contratelevisi&#243;n, <i>d&#233;-coll/age</i>
(Vostell), cr&#237;tica y contraataque (Paik), y las ilustraciones emblem&#225;ticas que muestran a Vostell enterrando un televisor o disparando a la peque&#241;a pantalla; a Beuys boxeando con la caja boba y cubriendo con fieltro su pantalla, y a Paik trastornando las im&#225;genes de la televisi&#243;n con grandes imanes o construyendo los m&#225;s descabellados objetos y ortopedias con televisores de todos los tama&#241;os. La historia del v&#237;deo, con sus h&#233;roes y sus hitos, encuentra entre los artistas de Fluxus una cuna est&#233;tico-sociol&#243;gica particularmente apropiada, en la que una concepci&#243;n multimedia y expandida de las artes mece al reci&#233;n nacido
</p>

<p>
La televisi&#243;n, un medio que, dado el cariz de sus estructuras, parec&#237;a tan inabordable art&#237;sticamente, empieza ya a ser una presencia familiar para los artistas de Fluxus y otros grupos o movimientos coet&#225;neos. As&#237;, antes que el v&#237;deo
(port&#225;til, de peque&#241;o formato) llegara a las manos de artistas y realizadores independientes a gran escala, la experimentaci&#243;n proto-v&#237;deo/contra-televisi&#243;n ha tenido otras modalidades y manifestaciones. 
</p>

<p>
En primer lugar, a trav&#233;s del film como soporte de manipulaciones y perturbaciones de las im&#225;genes televisivas, en los films de Vostell, Paik/Yalkut, Landow, y algunos m&#225;s fuera de la familia Fluxus
</p>

<p>
En segundo lugar, por la constituci&#243;n del objeto mismo manipulado (el televisor) en ente escult&#243;rico, elemento de un assemblage o un ambiente o entorno
(<i>environment</i>);
de nuevo con Paik y Vostell, y tambi&#233;n entre artistas del pop y el Nuevo Realismo (Edward Kienholz, Tom Wesselman, C&#233;sar)
</p>

<p>
Y en tercer lugar, Fluxus no puede dejar de contemplar en la televisi&#243;n y el v&#237;deo unos posibles
&#250;tiles nuevos para el <i>event</i>, anticipando as&#237; la combinaci&#243;n v&#237;deo/performance y una est&#233;tica procesual, de flujo y cambio, de aleatoriedad y participaci&#243;n. El mismo cabeza de familia de Fluxus, Maciunas, contempl&#243; repetidamente la posibilidad de trasladar a la peque&#241;a pantalla las ideas y <i>events</i>
de sus ac&#243;litos, empezando a detallar dichas propuestas cuando Willem de Ridder y Wim T. Schippers, dos artistas holandeses en contacto con Fluxus, concibieron un programa para la VARA-TV de su pa&#237;s. Dicho programa, realizado por Henk de By y emitido dentro de la serie <i>Signalement</i>
(1963), cubrir&#237;a finalmente un mosaico mucho m&#225;s amplio del arte de aquel momento y har&#237;a caso omiso de las propuestas de Maciunas, pero conservar&#237;a al parecer los buenos destellos del esp&#237;ritu Fluxus que lo inspir&#243;. (Schippers, por cierto, abandon&#243; el arte para dedicarse profesionalmente al antiarte de la televisi&#243;n en sus m&#225;s variados g&#233;neros)
</p>

<p>
Por &#250;ltimo, la interacci&#243;n del v&#237;deo y el <i>event</i>
se hallar&#237;a tambi&#233;n presente en el trabajo del dan&#233;s Eric Andersen, quien al parecer habr&#237;a realizado ya en 1964 lo que hoy denominar&#237;amos una videoinstalaci&#243;n; y, sucesivamente, diversos proyectos pensados para la peque&#241;a pantalla o para dispositivos de circuito cerrado
</p>

<p>
<b>TV zen</b></p>

<p>
Como la paradoja de Duchamp, que menospreciaba el arte retiniano pero se entreten&#237;a con &#171;opticer&#237;as&#187;
&#8211;la &#243;ptica recreativa de las ilusiones visuales&#8211; para jugar con la vista tal como sus juegos de palabras lo son tambi&#233;n con el o&#237;do, la &#171;televisi&#243;n electr&#243;nica&#187; de Paik (la analog&#237;a con &#171;m&#250;sica electr&#243;nica&#187; es obvia, dada su formaci&#243;n musical), el <i>d&#233;-coll/age</i>
de Vostell destruyen o perturban las im&#225;genes de televisi&#243;n hasta extraer formas abstractas, ruidos visuales, para jugar con la electr&#243;nica, con las se&#241;ales y con el objeto mismo &#8211;la caja boba&#8211;; aunque su intencionalidad es visiblemente otra que la de un arte &#243;ptico o tecnol&#243;gico
</p>

<p>
Si <i>Zen for Film</i> es por excelencia el silencio &#243;ptico, la proyecci&#243;n de luz (blanca) sobre el lienzo (blanco), apenas enriquecida por el polvo, por las rayas o cicatrices, por todo aquello que embrutece la pel&#237;cula
(transparente) y se interpone en el haz de proyecci&#243;n &#8211;como buen disc&#237;pulo de Cage, a Paik le interesa el silencio como portador de ruido(s), de acontecimientos ac&#250;sticos y visuales que de otra manera pasar&#237;an desapercibidos o ni siquiera acontecer&#237;an&#8211;, <i>Zen for TV</i> (1963) es en cierto modo su equivalente electr&#243;nico, pero tambi&#233;n su inversi&#243;n, puesto que es a trav&#233;s del ruido que la imagen televisiva se ve acallada, llevada al silencio de una &#250;nica l&#237;nea de luz, m&#225;s o menos delgada, que atraviesa la pantalla del televisor (en posici&#243;n vertical), transformado en escultura (estructura monom&#243;rfica corp&#243;rea)
</p>

<p>
Otra videoescultura de la misma estirpe minimalista que la anterior, y nacida tambi&#233;n de la hist&#243;rica <i>Exposition of Music/Electronic Television</i>
de Paik en la Galer&#237;a Parnass de Wuppertal (1963), es <i>Point of Light</i>, en la que el televisor ha sido acallado a la emisi&#243;n de un &#250;nico punto de luz, diminuto pero de punzante intensidad. En ambas obras, la l&#237;nea y el punto pueden contemplarse como elementos pl&#225;sticos b&#225;sicos y como unidades m&#237;nimas de informaci&#243;n (y resoluci&#243;n) del medio empleado;
pero su dr&#225;stico reduccionismo, alejado de los planteamientos ante todo formales y pl&#225;sticos de un arte &#243;ptico propiamente dicho, es en definitiva el mismo que se encuentra en el cine de Fluxus
</p>

<p>
<b>TV detr&#237;tica</b></p>

<p>
Los primeros v&#237;deos de Paik (y los films de im&#225;genes electr&#243;nicas de Paik/Yalkut y de Vostell) tampoco son propiamente, o enteramente, abstractos, pues retienen los detritos de las im&#225;genes perturbadas, alteradas electr&#243;nica o magn&#233;ticamente por los procedimientos m&#225;s simples o azarosos/aleatorios (los imanes de Paik), tal como sucede con el d&#233;collage de los nuevos realistas: procedimiento inverso al collage que consiste en arrancar pedazos de sucesivas capas de papeles pegados (por ejemplo, carteles publicitarios)
</p>

<p>
En sus primeras cintas, parece ser que Paik ha acudido adem&#225;s con frecuencia al loop o al montaje repetido de la misma secuencia, inaugurando una galer&#237;a de retratos o iconos pol&#237;ticos, art&#237;sticos, intelectuales, populares y medi&#225;ticos (Lyndon B. Johnson, John Lindsay, Richard Nixon, Dieter Roth, Charlotte Moorman en el programa de Johnny Carson, Marshall McLuhan, los Beatles o Batman)
</p>

<p>
Ir&#243;nicamente, quien es considerado el primer artista que tuvo en sus manos un equipo port&#225;til de v&#237;deo, desde un principio prescindi&#243; en gran parte de tomar las im&#225;genes por s&#237; mismo, para dedicarse a crearlas (o perturbarlas) y ensamblarlas a partir del inagotable flujo de las fuentes televisivas o de las que le procuraban otros colegas
</p>

<p>
Con el videosintetizador &#8211;teclado y s&#237;ntesis de los anteriores ensayos de &#171;televisi&#243;n electr&#243;nica&#187;
de Paik&#8211; y las nuevas oportunidades que brindan los departamentos experimentales de ciertas televisiones p&#250;blicas estadounidenses, Paik ha dado despu&#233;s el salto de la estructura monom&#243;rfica a la heterogeneidad polim&#243;rfica: <i>A Tribute to John Cage</i> y, sobre todo, <i>Global Groove</i>
(ambas cintas de 1973) abren &#8211;o m&#225;s bien confirman&#8211; otra etapa;
prefiguran una tendencia del v&#237;deo contra-televisi&#243;n a un v&#237;deo pro-televisi&#243;n (en Norteam&#233;rica, pronto empezar&#225; a hablarse de <i>TV art</i>); del arte &#171;aburrido&#187;
a un arte entretenido que, de hecho, era ya parte del ideario Fluxus enunciado por Maciunas. Paik, en definitiva, se mantendr&#225; fiel al esp&#237;ritu Fluxus y sus primeros experimentos videogr&#225;ficos apuntan ya muchos de los rasgos b&#225;sicos de su obra posterior
</p>

<p>
*</p>

<p>
&#171;Fluxus comienza antes que comience y uno espera que concluya despu&#233;s de su fin.&#187;</p>

<p>
Jon Hendricks</p>

<p>
&#171;La tragedia americana es que todos bebieron de la fuente Fluxus: Warhol, Oldenburg, Rauschenberg, pero nunca le dieron las gracias.&#187;</p>

<p>
Wolf Vostell</p>

<p>
<b>Warhol y el (neo)primitivismo</b></p>

<p>
Como otros grupos y grup&#250;sculos art&#237;sticos, Fluxus ha prodigado y alimentado las suspicacias respecto a los presuntos plagios e imitaciones de los que habr&#237;a sido objeto, con argumentos demasiado d&#233;biles en muchos casos.
Algunas breves excursiones fuera de Fluxus bastar&#225;n para recordar sus cercan&#237;as. Por ejemplo, si acaso Warhol bebi&#243; en las fuentes de Fluxus al acometer sus primeros y m&#225;s legendarios films, no fue ciertamente en fuentes literales como las indicadas por Maciunas, cuando aduc&#237;a que los films de Warhol, <i>Sleep</i>
(1963), <i>Eat</i>
(1963) y <i>Empire</i>
(1964) ser&#237;an sendas &#171;versiones plagiarias&#187; de, respectivamente, el proyecto de Jackson Mac Low, <i>Tree*
Movie</i> (fechado en 1961, pero no publicado hasta 1964); del film (bucle) de Dick Higgins,
<i>Invocation of Canyons and Boulders for Stan Brakhage</i>
(1963); y de un supuesto film de Nam June Paik, <i>Empire State Building</i> (1964), que es muy improbable que llegara a existir como tal
</p>

<p>
Mac Low ha trazado el patr&#243;n de todos los films est&#225;ticos posibles; Warhol ha comenzado a hacerlos y ha elevado el minimalismo f&#237;lmico a la estatura del monumento y la regularidad de la serie con sello de f&#225;brica: su Factory (unos veinte films tan solo en los dos a&#241;os, 1963-1964, de su etapa muda).
La severa estructura de <i>Sleep</i>
(1963) &#8211;o retrato de un poeta (John Giorno) en reposo&#8211;, con sus tomas repetidas y desdobladas, ralentizadas ligeramente (casi imperceptiblemente), alternando diferentes puntos de vista en largos planos que se suceden durante seis horas; y la pura experiencia del
<i>tiempo real</i>
en las once horas de <i>Empire</i>
(1964) &#8211;o retrato de una estrella urbana de la arquitectura singular en el flujo del d&#237;a a la noche&#8211; son las dos experiencias l&#237;mite que acotan el minimalismo de Warhol, aunque un proyecto a&#250;n m&#225;s ilustrativo que lo hubiera llevado a cotas de r&#233;cord Guinness fuera el de llevar a la pantalla la Biblia, p&#225;gina por p&#225;gina (en su sentido literal), en un film que habr&#237;a durado algo as&#237; como toda una semana
</p>

<p>
Warhol, se ha dicho, resumi&#243; toda la historia del cine: de su era primitiva a su declive (en la &#250;ltima etapa, poscinematogr&#225;fica, de Warhol, sus apariciones e intervenciones en la peque&#241;a pantalla: videoclips y programas de variedades). Por un lado, se puede considerar que el cine de Warhol fue uno de los que contribuy&#243; a generar una nueva percepci&#243;n del cine primitivo, tanto entre los c&#237;rculos del cine de vanguardia
&#8211;constituir&#225; una de las modalidades del cine estructural&#8211; como entre una nueva generaci&#243;n de te&#243;ricos e historiadores
(anglosajones los m&#225;s). Y por otro lado &#8211;solo Yoko Ono lograr&#237;a algo similar&#8211; ha divulgado el espect&#225;culo de lo m&#237;nimo, hasta el punto de que el primer cine de Warhol apenas ha sido visto, pero ha sido abundantemente (d)escrito, comentado y discutido
</p>

<p>
<b>Tiempo real: de Warhol al v&#237;deo</b></p>

<p>
Al fin de la d&#233;cada de los sesenta, aflora un arte conceptual &#8211;que Maciunas denomina mal&#233;volamente
&#171;pseudoconceptual&#187; en uno de sus diagramas&#8211;, nacido en parte del minimalismo (con el art&#237;culo de Sol LeWitt, &#171;Paragraphs on Conceptual Art&#187;, 1967), pero tambi&#233;n como reacci&#243;n a la inflexi&#243;n formalista del mismo. Estamos nuevamente fuera de Fluxus, aunque en sus aleda&#241;os, y con Warhol y su cine como referencia interpuesta. 
</p>

<p>
En la obra de Bruce Nauman puede hallarse un ejemplo particularmente ilustrativo, pues Warhol es una influencia reconocida y declarada en sus films y sus v&#237;deos. Aunque, por otra parte, sus rasgos son comunes a los de otros artistas como Vito Acconci, John Baldessari, Richard Serra, Terry Fox y muchos m&#225;s, que toman el plano-secuencia fijo como estructura m&#237;nima para el desarrollo de sus acciones en la pantalla. La cinta de v&#237;deo, en mayor medida que la pel&#237;cula, se convierte para ellos en un contenedor particularmente apto (instant&#225;neo, econ&#243;mico, con sonido sincr&#243;nico, etc.) para representar el gesto en un <i>tiempo real</i> apenas limitado por la propia duraci&#243;n/longitud de la cinta. El sentido del gesto, de la acci&#243;n, var&#237;a; en Nauman, las acciones repetitivas &#8211;andar, recorrer un espacio cerrado, tocar una sola nota con un viol&#237;n, etc.&#8211; son, simplemente, una manera de &#171;mantenerse ocupado&#187;, de llenar un espacio de tiempo con una actividad sin otro sentido que el de su ejecuci&#243;n ritual, met&#243;dica, reiterativa, &#250;nicamente alterada por la fatiga o el tedio
</p>

<p>
Las primeras reflexiones sobre el v&#237;deo se han circunscrito en gran parte a esta experiencia del tiempo real o del &#171;tiempo presente&#187; (<i>present tense</i>) &#8211;de una gram&#225;tica m&#237;nima&#8211;, primero contemplada como una caracter&#237;stica inherente del medio, pero despu&#233;s como la causa de su descr&#233;dito, como un signo de la &#171;enfermedad infantil&#187; del videoarte, que sin embargo ser&#237;a tambi&#233;n la de aquellos int&#233;rpretes que acud&#237;an a socorridas analog&#237;as que dec&#237;an que el v&#237;deo apenas habr&#237;a evolucionado de sus Lumi&#232;re y sus M&#233;li&#232;s (con el descubrimiento de los colorizadores y sintetizadores, la incrustaci&#243;n y los efectos) a los m&#250;ltiples descendientes de Warhol
</p>

<p>
<b>Persistencias y confusiones de lo m&#237;nimo</b></p>

<p>
Fluxus, as&#237; como otras de las manifestaciones referidas en las l&#237;neas anteriores, se nos aparecen como p&#225;ginas ya pasadas en el libro, reescrito constantemente, de la historia del arte contempor&#225;neo. Sin embargo, puede intuirse que sus grandes l&#237;neas se prolongan en trazos discontinuos. Seg&#250;n los dictados del momento, las l&#237;neas pueden ser m&#225;s o menos intensas, casi imperceptibles; y los trazos sucederse m&#225;s regular o espaciadamente, hasta el punto en que pueda dudarse de la relaci&#243;n de unos con otros. Pero, en definitiva, la historia del arte, como tantas otras cosas, no se puede dibujar ni reseguir con una l&#237;nea recta
</p>

<p>
Las acepciones de lo <i>m&#237;nimo</i>
y de <i>minimal(ismo)</i>
se han multiplicado y tergiversado de las m&#225;s curiosas maneras en los &#250;ltimos a&#241;os y en campos tan diversos como la m&#250;sica, la literatura, el teatro o incluso el dise&#241;o. El abuso del t&#233;rmino conlleva su relativa e insospechada popularidad, pero tambi&#233;n implica que pueda perderse de vista con demasiada facilidad su etimolog&#237;a est&#233;tica original. Lo m&#237;nimo no deber&#237;a confundirse, por ejemplo, con la concisi&#243;n o el despojamiento
</p>

<p>
Asimismo, lo m&#237;nimo se destila de cintas (e instalaciones) m&#225;s recientes en las que la elegancia prima sobre la tautolog&#237;a o la provocaci&#243;n. Convertido al cabo en una especie de estilo aceptado, aunque no especialmente en boga, el minimalismo formar&#237;a ya parte del <i>do it yourself</i> posmoderno.
Como en las t&#237;picas chanzas que han rodeado a buena parte del arte de nuestro siglo, cualquiera podr&#237;a hacer lo mismo sin el menor esfuerzo. El riesgo ser&#225; caer en el plagio por desconocimiento. Y 
lograr la elegancia ser&#225; la primera exigencia
</p>

<div id="sdfootnote1">
	<p>
	Al
	escribir este art&#237;culo, desconoc&#237;a todav&#237;a los trabajos de Tod
	Lippy y Bruce Jenkins, publicados en 1991 y 1993 respectivamente,
	que desbrozaron enormemente el corpus de los <i>fluxfilms,
	</i>y
	la numeraci&#243;n que les asign&#243; Maciunas y otros arcanos. Sirvieron
	para recopilar una nueva versi&#243;n de la antolog&#237;a, m&#225;s exhaustiva
	que las conocidas hasta entonces. [Nota del autor, 2014]</p>
