
<p>
<b>La sublevaci&#243;n de la juventud y el Mayo del 68</b></p>

<p>
.
Universidad Internacional de Andaluc&#237;a, Sociedad Estatal de Conmemoraciones Culturales y Fundaci&#243; Antoni T&#224;pies, 2008
</p>

<p>
<b>Acerca de un film militante</b></p>

<p>
El t&#237;tulo de este texto remite de manera muy directa a uno de los objetos que pretende comentar. Se trata de una de las obras m&#225;s significativas de Maurice Lema&#238;tre, veterano militante del movimiento o grupo letrista (m&#225;s movimiento, incluso en un sentido zozobrante, que grupo estable y est&#225;tico). <i>Le Soul&#232;vement de la Jeunesse - Mai 68</i>
es un film en formato de 16 mm y con una duraci&#243;n de 28 minutos, fechado en 1969 y que, como tantos otros especimenes de la cinematograf&#237;a letrista, acude a im&#225;genes de archivo, materiales de derribo o residuales, organizados (si es que es propio decirlo as&#237;)
seg&#250;n los principios &#8211;que la terminolog&#237;a letrista prefiere designar como <i>mec&#225;nicas</i>
o <i>mecaest&#233;ticas</i>&#8211;
de la <i>cinceladura</i>, la <i>hipergraf&#237;a</i>
y la <i>discrepancia</i>
</p>

<p>
La cinceladura o la creaci&#243;n que, a golpes de martillo y escarpa, destruye para crear a su vez algo rigurosamente nuevo e in&#233;dito. (Seg&#250;n la <i>ley de la doble hip&#243;stasis</i>, toda expresi&#243;n est&#233;tica atraviesa por una fase <i>&#225;mplica</i>
y otra <i>cincelante</i>, que a su vez permitir&#225; dar paso a una <i>nueva
&#225;mplica</i>.) La <i>hipergraf&#237;a</i>
como acumulaci&#243;n, concatenaci&#243;n y superposici&#243;n de toda clase de signos discordantes. La <i>discrepancia</i>, finalmente, referida a la divergencia o ausencia deliberada de correspondencia entre la imagen y el sonido
</p>

<p>
Situar m&#225;s ampliamente el contexto del que brota este ejemplar de cine militante seg&#250;n la arrebatada concepci&#243;n letrista del cine &#8211;en palabras de su propio autor, se trata de &#171;el
&#250;nico film realmente creativo sobre la revuelta de Mayo del 1968&#187;&#8211;, tal es el prop&#243;sito que persiguen estas l&#237;neas. Pero este film militante no lo es meramente por su asunto pol&#237;tico, sino que en primer lugar es expresi&#243;n de una militancia en el letrismo, sus ideas subversivas acerca de la creaci&#243;n y su propio flanco pol&#237;tico.
</p>

<p>
<b>La llegada del mes&#237;as</b></p>

<p>
Seg&#250;n G&#233;rard-Philippe Broutin, un artista que precisamente se ha incorporado al grupo letrista en 1968:
&#171;Ante todo, el letrismo es el sue&#241;o de un adolescente rumano, deslumbrado por la cultura francesa y que quiere elevarse a la altura de los Rimbaud, Verlaine y Mallarm&#233;.&#187;</p>

<p>
Este adolescente, que a su llegada a Par&#237;s toma el nombre de Isidore Isou, se llamaba realmente Isaac Goldstein. Nacido en 1925 en Botosani, en la regi&#243;n moldava de Ruman&#237;a, proced&#237;a de una pudiente familia jud&#237;a. En un pa&#237;s cuya capital hab&#237;a sido considerada &#171;la peque&#241;a Par&#237;s&#187;
de la Europa Oriental antes de la devastaci&#243;n de las grandes guerras, el joven Izu, tal como era conocido familiarmente, ha tomado como faro las culturas m&#225;s cosmopolitas de Francia, Italia, Alemania y el mundo anglosaj&#243;n. Alardear&#237;a as&#237; de que, con 17 a&#241;os, hab&#237;a sentado ya las bases del letrismo y de su &#171;sistema&#187;:
toda una filosof&#237;a a la que luego dar&#237;a el nombre de <i>cre&#225;tica</i>
o <i>nov&#225;tica</i>
</p>

<p>
El caso es que, en el verano de 1945, acude a la capital de las luces bien aprovisionado de abundantes manuscritos y con una carta de recomendaci&#243;n de Giuseppe Ungaretti. En una taberna frecuentada por exiliados jud&#237;os, conoce a su primer c&#243;mplice, Gabriel Pomerand, con quien traba amistad por la devoci&#243;n compartida por Lautr&#233;amont. Y, tras hacerse notar de diversas maneras &#8211;frecuentando a los intelectuales parisinos de mayor renombre y armando m&#225;s de un esc&#225;ndalo&#8211;, las ediciones Gallimard le publican dos a&#241;os despu&#233;s sus dos primeros vol&#250;menes:
si <i>Introduction &#224; une nouvelle po&#233;sie et &#224; une nouvelle musique</i>
es el primer corpus te&#243;rico del letrismo &#8211;que toma la part&#237;cula de la letra como fundamento a su vez literario y sonoro&#8211;, el libro que ostenta el significativo t&#237;tulo de <i>L&#8217;Agr&#233;gation d&#8217;un nom et d&#8217;un messie</i>
es descrito como una novela de aprendizaje que tiene mucho de autobiograf&#237;a arrogante. No en vano el nombre y el mes&#237;as a los que se refiere se encarnan en el propio Isou, que ya por entonces acostumbraba a hablar de s&#237; mismo en tercera persona. Como dicen que es propio de los individuos eg&#243;latras y pagados de s&#237; mismos. Rasgo de estilo u arrogancia que Isou transmitir&#225; a sus sucesivos allegados; entre los cuales los m&#225;s fieles o infieles, contumaces o pasajeros compa&#241;eros de viaje de <i>la dictadura letrista</i>, sus escisiones y desviaciones: Lema&#238;tre, Debord, Wolman, Marc&#8217;O, etc
</p>

<p>
La poligraf&#237;a y la charlataner&#237;a letrista se prodigan luego en la inmoderada avalancha de los escritos y actividades de toda &#237;ndole del mesi&#225;nico Isou, sus disc&#237;pulos y ap&#243;stoles: de los textos m&#225;s aparentemente sesudos y herm&#233;ticos a la procacidad pornogr&#225;fica &shy;&#8211;por la que el &#171;conducator&#187;
letrista ser&#225; incluso condenado a una estancia carcelaria&shy;&shy;&#8211;, los letristas se jactan de abordar todas las ramas de la cultura, del pensamiento, del arte, de la ciencia y la t&#233;cnica&#8230; Isou incluso le pondr&#225; nombre a todo ese conjunto de saberes y a los m&#233;todos para acercarse a ellos de manera sistem&#225;tica: la <i>kladolog&#237;a</i>
(del griego <i>klados</i>:
rama) es la disciplina que permite abordar la integridad de todas las ramas de la cultura, conocidas o por venir; la <i>tomeica</i>
(del griego <i>tomeus</i>:
sector), su carta de navegaci&#243;n, el mapa de dicha complejidad
</p>

<p>
<b>Totalitarismo klad&#243;sico del letrismo </b>
</p>

<p>
Los letristas, por tanto, se atreven con todo y pretenden abarcar todas las disciplinas posibles en y m&#225;s all&#225; del arte. En la potestad de las musas: poes&#237;a y prosa, m&#250;sica y pl&#225;stica, cine y fotograf&#237;a, teatro y danza, dise&#241;o y arquitectura&#8230; Adem&#225;s de todo aquello que concierne a unas est&#233;ticas imaginarias y de implicaci&#243;n del p&#250;blico en la construcci&#243;n o co-creaci&#243;n de obras que se designan como
<i>infinitesimales</i>,
<i>supratemporales</i>,
<i>an&#243;pticas</i>,
<i>afonistas</i>,
<i>politan&#225;sicas</i>,
<i>poliautom&#225;ticas</i>,
<i>excoordistas</i>, m&#225;s todas las variantes anti- y anti-anti- que puedan anteponerse hasta el delirio a dichas formulaciones
</p>

<p>
Y en la judicatura de las ciencias y las t&#233;cnicas: las ciencias exactas y naturales, las humanas y sociales, la matem&#225;tica y la ling&#252;&#237;stica, la medicina y la psicolog&#237;a, la econom&#237;a pol&#237;tica y la filosof&#237;a, la teolog&#237;a y la erotolog&#237;a. Con los debidos distingos o las declinaciones precisas de, por ejemplo, la <i>matem&#225;tica de los n&#250;meros vagos o blandos</i>
y la <i>geometr&#237;a paraestigm&#225;tica</i>, la
<i>hipertermodin&#225;mica</i>
y el <i>hiperelectromagnetismo</i>, la <i>hiperbi&#243;tica</i>
y la <i>psicokladolog&#237;a</i>, la <i>econom&#237;a nuclear</i>
y la <i>erotolog&#237;a matem&#225;tica</i>, la
<i>hiperteolog&#237;a</i>
y la <i>paradisolog&#237;a</i>
(o <i>edenolog&#237;a</i>:
a prop&#243;sito del fin &#250;ltimo de todo el pensamiento de Isou, que no es otro que el de alcanzar el para&#237;so en la tierra)
</p>

<p>
El <i>sistema isouano</i> (&#161;Isou mismo es todo un sistema!) es revelado en la voluminosa suma filos&#243;fica de <i>La Cr&#233;atique ou la Novatique</i>
(1941-1976), finalmente publicada en 2003, aunque depositada desde 1976 en la Biblioteca Nacional francesa. Los delatores de imposturas intelectuales, fabricantes de best-sellers a costa de las espesuras eruditas de los maestros pensadores, no han llegado por supuesto a los radicales libres del desbordante pensamiento <i>isouano</i>
y de la conspiraci&#243;n judeoletrista que entabla con Pomerand, Lema&#238;tre, Serge Berna (todos ellos de ascendencia hebraica) y aquellos otros que se adherir&#237;an luego. Pero tales soplones pasar&#237;an apuros con el cuerpo doctrinal que Isou ha convertido en la verdadera obra de su vida, que a veces puede parecer incluso una parodia de la logorrea tan caracter&#237;stica de la alta intelectualidad francesa, pero que, por otra parte, tanto el propio mes&#237;as como sus secuaces m&#225;s fieles se han tomado bien en serio
</p>

<p>
<b>Cre&#225;tica y juventismo</b></p>

<p>
Aunque el letrismo se concibe inicialmente como un proyecto esencialmente est&#233;tico, destinado a convulsionar todos los &#225;mbitos de la creaci&#243;n, la impetuosidad y la curiosidad intelectual del joven Isou &#8211;que, ya desde la pubertad, hab&#237;a le&#237;do a Marx, Baudelaire y Proust&#8211; le llevan a abarcar todos los terrenos de la cultura y del pensamiento. La econom&#237;a pol&#237;tica constituye una de las &#225;reas en las que se proyecta el
<i>artivismo</i>
letrista, y una de las encrucijadas en la que pronto se producen las primeras disensiones y escisiones. Principalmente, la de la Internacional Letrista &#8211;fundada en diciembre de 1952 por los autodenominados &#171;letristas de izquierdas&#187;:
Wolman, Debord, Brau y Berna&shy; (los dos &#250;ltimos, expulsados al cabo de poco tiempo)&#8211;, refundida desde julio de 1957 en la Internacional Situacionista
</p>

<p>
Isou vio incluso con buenos ojos el primer cisma de sus cadetes; entre los cuales Debord, quien se adhiri&#243; fervorosamente al grupo letrista tras asistir a la primicia del <i>Trait&#233; de bave et d&#8217;&#233;ternit&#233;</i> de Isou en el Festival de Cannes de 1951, cuando al menos la mitad del film carec&#237;a todav&#237;a de im&#225;genes, de manera que se extend&#237;a como una banda sonora en la oscuridad de la sala, con el p&#250;blico revuelto y bramando. Pero, muy pronto, tanto Isou como Lema&#238;tre no pararon de lanzar pasquines e invectivas contra sus anteriores colegas;
especialmente contra los situacionistas &#171;reaccionarios&#187;
y &#171;neonazis&#187;, entre otros insultantes ep&#237;tetos que abundan en las diatribas letristas (aunque tambi&#233;n en las de sus rivales)
</p>

<p>
Si algo se le ha reconocido a Isou
&#8211;que falleci&#243; el 28 de julio de 2007 en medio de un silencio apenas resquebrajado por unos pocos obituarios y por las personas m&#225;s fieles que le rodearon en los &#250;ltimos a&#241;os (entre los cuales el artista Roland Sabatier, el compositor Fr&#233;d&#233;ric Aquaviva y el editor Laurent Cauwet)&#8211; es, sin embargo, que introdujera la juventud como sujeto pol&#237;tico antes de que los ide&#243;logos de la Nueva Izquierda, como Marcuse, la emplazaran en el centro del clima revuelto de los sesenta. Curiosamente, es a trav&#233;s de &#171;una historia secreta del siglo XX&#187;
escrita por un ensayista norteamericano, Greil Marcus, dedicado a emplazar los rugidos del rock en otras coordenadas m&#225;s amplias, que la figura de Isou reemergi&#243; de las sectarias brumas en las que el propio letrismo se hab&#237;a encerrado
</p>

<p>
El ideario pol&#237;tico de Isou, o del letrismo, tiene dos ideas clave y rec&#237;procamente relacionadas: la noci&#243;n de <i>econom&#237;a nuclear</i> y la <i>sublevaci&#243;n de la juventud</i> o
<i>juventismo</i>.
Dichas ideas son expuestas ampliamente desde 1949 con la aparici&#243;n del primer volumen del <i>Trait&#233;
d&#8217;&#233;conomie nucl&#233;aire: le soul&#232;vement de la jeunesse</i>, seguido de otros dos publicados en 1971, y de otros tres tomos de
&#171;suplementos&#187;.
Es cierto que no hablamos en este caso de ediciones con la prestigiosa r&#250;brica de Gallimard-NRF o de Bordas, como sucedi&#243; con otros de los mamotretos primeros de Isou, sino publicadas por sellos raros o en r&#233;gimen de lo que hoy denominamos autoedici&#243;n. Es de suponer, por tanto, que la difusi&#243;n de las ideas pol&#237;tico-econ&#243;micas del adalid del letrismo se habr&#237;a producido de una manera esencialmente celular o proselitista
</p>

<p>
El concepto de <i>econom&#237;a nuclear</i> se contrapone tanto a la econom&#237;a liberal, de Adam Smith a Keynes &#8211;<i>atom&#237;stica</i>
en su atenci&#243;n a la individualidad de los agentes econ&#243;micos y de los intercambios de bienes y servicios en el libre mercado&#8211;, como a la econom&#237;a cr&#237;tica de Marx, <i>molecular</i>
en su concepci&#243;n de la divisi&#243;n y lucha de clases en el seno de la sociedad capitalista. La econom&#237;a nuclear, en cambio, pretende ser la de las <i>part&#237;culas electr&#243;nicas</i> que, por un motivo u otro, no llegan a integrarse en los circuitos establecidos o se hallan expulsados de los mismos: j&#243;venes y parados, aprendices y pensionistas en precario, etc
</p>

<p>
De ah&#237; que se pase a una perspectiva radicalmente distinta a la de la lucha de clases y las reivindicaciones sindicales por unas mejores condiciones de trabajo, una mayor remuneraci&#243;n y la aspiraci&#243;n a un mejor nivel de vida que conduce al aburguesamiento de la clase trabajadora. En su lugar, la econom&#237;a nuclear plantea el antagonismo entre los aposentados (o
<i>internos</i>)
y los excluidos (o <i>externos</i>).
Ello ha de conducir a la sublevaci&#243;n de la juventud, frente a un estado de las cosas est&#225;tico y que les expulsa a la <i>externidad.</i>
A fuer de su dinamismo y creatividad latentes, dice Isou, dicha situaci&#243;n ha de explotar en un alzamiento juvenil y de los <i>externos</i>
en general. Pues Isou se cuida mucho de decir que la juventud sea una cuesti&#243;n de edad, transitoria, por tanto &#8211;aquel divino tesoro que ya se va para no volver&#8211;, sino que la identifica con la capacidad din&#225;mica que puede conservar toda persona insatisfecha con el purgatorio de la vida
</p>

<p>
12 millions de jeunes vont descendre dans la rue pour faire la r&#233;volution lettriste</i></span>
[12 millones de j&#243;venes invadir&#225;n las calles para cumplir la revoluci&#243;n letrista]. </span>En 1948, Isou y sus c&#243;mplices llenan de carteles con dicha inscripci&#243;n las paredes del Barrio Latino de Par&#237;s. Veinte a&#241;os despu&#233;s, los letristas contemplar&#225;n con satisfacci&#243;n las algaradas del Mayo franc&#233;s. Roland Sabatier, en el ep&#237;logo a una reciente edici&#243;n de los manifiestos de Isou por la sublevaci&#243;n de la juventud, ha escrito: &#171;Pero esta revuelta, si bien ha mostrado, tanto en Francia como en el extranjero, la capacidad de los j&#243;venes y los <i>externos
</i>para unirse y actuar en defensa de sus propios intereses, no encarna por s&#237; misma m&#225;s que una etapa de la lucha m&#225;s amplia, entablada desde 1949, de la
<i>Sublevaci&#243;n de la juventud</i>&#8230;&#187;</p>

<p>
<b>Los brazos pol&#237;ticos de la insurgencia letrista</b></p>

<p>
Los partisanos letristas protagonizaron en 1950 algunos sonados esc&#225;ndalos contra las buenas costumbres y la esclerosis educacional, como una irrupci&#243;n blasfema en la catedral de Notre Dame en la festividad de la Pascua de Resurrecci&#243;n, y un violento tumulto en el orfanato de Auteil. Se produce entonces el intento de articular una organizaci&#243;n pol&#237;tica, el Front de la Jeunesse, e Isou delega en Lema&#238;tre la publicaci&#243;n de una gaceta del mismo nombre; cabecera que, irregularmente, mantendr&#225; viva durante a&#241;os este antiguo anarquista seducido por la disciplina del letrismo y perennemente fiel al ciclostil y otros sistemas reprogr&#225;ficos de urgencia. Algunos a&#241;os despu&#233;s, por otra parte, dicha organizaci&#243;n tomar&#225; el nombre de Union de la Jeunesse et de l&#8217;Externit&#233; u otras variantes
</p>

<p>
La doctrina pol&#237;tico-econ&#243;mica de Isou apenas parece haber evolucionado con el paso de los a&#241;os, aunque no cesar&#225; de desarrollar sus argumentaciones, estrategias y fustigaciones con una inmoderaci&#243;n y una prosopopeya caracter&#237;sticas. Ya los &#171;letristas de izquierdas&#187;
le acusaron de no ser m&#225;s que un esteta. Pero, si bien se adivina que Isou le ha dedicado bastante m&#225;s tiempo a su concepci&#243;n integral de la cultura, a la <i>kladolog&#237;a creatista</i> m&#225;s que a su programa para cambiar la sociedad &#8211;&#161;nada menos que para alcanzar la <i>sociedad paradis&#237;aca, de la abundancia y la felicidad</i>!&#8211;, no hay que olvidar que el impulso de la creatividad es parte consubstancial de los planteamientos de la econom&#237;a nuclear, as&#237;
como del <i>externismo</i>
o <i>descentrismo</i>.
El socialismo que propugna intercambia pues la producci&#243;n, que ocupa un lugar central en la teor&#237;a marxista, por la creaci&#243;n y la innovaci&#243;n
</p>

<p>
Algunas de las medidas que propone la econom&#237;a nuclear pasan por una reforma en profundidad de la ense&#241;anza y la reducci&#243;n del periodo de escolarizaci&#243;n; un cr&#233;dito de promoci&#243;n para cultivar la predisposici&#243;n emprendedora de los j&#243;venes y para amparar sus proyectos m&#225;s innovadores; la rotaci&#243;n en el poder para evitar el apoltronamiento y el parasitismo bur&#243;crata
(en los &#243;rganos pol&#237;ticos, los sindicatos, las asociaciones profesionales, los puestos de responsabilidad en general) y una pol&#237;tica de planificaci&#243;n integral con representaci&#243;n de todos los sectores de la sociedad, incluyendo expresamente a los eternos
<i>externos</i>
</p>

<p>
Jean-Louis Brau, uno de los primeros disidentes del c&#237;rculo de Isou, le reproch&#243; el tufo <i>boy scout</i> de tales ideas, pero los letristas m&#225;s tenaces no han ocultado nunca la pretensi&#243;n reformista de sus medidas para el <i>protegismo juventista</i>; sin poner en cuesti&#243;n el libre mercado, posicion&#225;ndose por otro lado en contra de la nacionalizaci&#243;n de las empresas y a favor de la reducci&#243;n de los impuestos. Para los exegetas de la econom&#237;a nuclear, su originalidad reside precisamente en su amalgama de postulados liberales y socialistas
</p>

<p>
Con este esp&#237;ritu, Maurice Lema&#238;tre concurri&#243; a las elecciones legislativas francesas de 1967 en nombre de la Union de la Jeunesse et de l'Externit&#233;. Y su suplente entonces, Roland Sabatier, fue uno de los cuatro candidatos que present&#243; en 1993 la ahora llamada Union de la Jeunesse et des Cr&#233;ateurs
</p>

<p>
Los llamamientos insurreccionales del letrismo, el esp&#237;ritu fanfarr&#243;n de sus inicios y el ideario
<i>juventista</i>
en s&#237; (es decir, aparte de ese <i>protegismo</i>
un tanto melifluo, m&#225;s todav&#237;a en nuestros d&#237;as) son otra cosa.
Por ah&#237; tienen bastante raz&#243;n los letristas m&#225;s recalcitrantes, as&#237; como los escasos estudiosos que han pretendido examinar objetivamente sus aportaciones, al denunciar el expolio de sus ideas
&#8211;tanto est&#233;ticas como pol&#237;ticas&#8211; por sus rivales en el entorno situacionista, mucho m&#225;s conocido, prestigiado y bien documentado.
Con un mutuo menosprecio de los unos por los otros, ya sea mediante el ninguneo practicado por el ap&#243;stata Debord y sus secuaces, o por la paranoia ultracr&#237;tica de Isou y Lema&#238;tre
</p>

<p>
En efecto, ciertos panfletos y tratados de la &#243;rbita situacionista &#8211;tales como el an&#243;nimo <i>De la mis&#232;re en milieu &#233;tudiant</i>
(1966), el <i>Trait&#233; de savoir-vivre &#224; l'usage des jeunes g&#233;n&#233;rations</i>
de Raoul Vaneigem (1967), y <i>Enrag&#233;s et situationnistes dans le mouvement des occupations</i>, de Ren&#233; Vi&#233;net (1968)&#8211; retoman muchos de los planteamientos que los letristas hab&#237;an anticipado veinte a&#241;os antes. Sin embargo, la primera recopilaci&#243;n de los manifiestos del <i>Soul&#232;vement de la jeunesse</i> no se public&#243; hasta 1967 y en una precaria edici&#243;n auspiciada por Lema&#238;tre y su Centre de Creativit&#233;; el mismo a&#241;o, por cierto, en que se public&#243; el libro m&#225;s c&#233;lebre de Debord, <i>La soci&#233;t&#233; du spectacle</i>
</p>

<p>
<b>Mayo del 68 en el cine letrista</b></p>

<p>
Letristas y situacionistas han rivalizado asimismo por arrogarse una desorbitada capacidad de influencia sobre los hechos de Mayo del 1968, especialmente en el crisol de las conjuras estudiantiles. En efecto, hay indicios de una cierta presencia de las huestes letristas en los ambientes universitarios, y algunos testimonios acerca de las vehementes arengas de Isou durante la ocupaci&#243;n del Th&#233;&#226;tre de l&#8217;Od&#233;on.
Unos meses despu&#233;s, en noviembre, Isou publicar&#237;a el informe o cr&#243;nica <i>La Strat&#233;gie du soul&#232;vement de la jeunesse (1949-1968)</i>.
Sin embargo, el ep&#237;logo de Roland Sabatier a la reciente reedici&#243;n de los manifiestos de la <i>Sublevaci&#243;n de la Juventud</i>, parece admitir que los situacionistas lograron un mayor relieve t&#225;ctico, situ&#225;ndose con ventaja entre los m&#250;ltiples grup&#250;sculos y l&#237;deres que movieron los hilos de los amotinamientos y ocupaciones en cadena
</p>

<p>
El ideario de la juventud y del
<i>externismo</i>
tambi&#233;n se ha reflejado desde luego en algunas creaciones de los letristas en sus diversas <i>mecaest&#233;ticas</i>.
Incluso en el caso del cineasta y dramaturgo Marc&#8217;O &shy;&#8211;un miembro de primera hora del grupo, pero de permanencia muy pasajera&#8211;, es un tema de fondo que se prolonga de los exabruptos de su <i>cine nuclear</i><b> </b>(proyectos al filo del cine expandido y del terrorismo intelectual) a su comedia pop <i>Les Idoles</i>, un gran &#233;xito en 1968. <i>Le Songe d&#8217;une nudit&#233;</i>, de Roland Sabatier &#8211;otra manufactura del 68&#8211;, alterna la <i>cinceladura</i>
pura, la erosi&#243;n brutal de la imagen y el sonido de pel&#237;culas encontradas, con planos un tanto ingenuos y desma&#241;ados de escaramuzas o acciones moderadamente vand&#225;licas que pretenden pasar por una apolog&#237;a de la sublevaci&#243;n juvenil
</p>

<p>
Pero el m&#225;s elocuente punto de encuentro entre las consignas del <i>externismo</i>
letrista y la puntual nitidez del espejismo del Mayo del 68, se halla en el film de Lema&#238;tre mencionado al principio. Situado en su filmograf&#237;a en el cenit de una segunda etapa, y tras una serie de films literalmente hechos de detritos y basuras de laboratorio &#8211;con t&#237;tulos tales como <i>Pellicule</i>,
<i>Chutes</i>
y <i>Une </i><i>&#338;</i><i>uvre</i>, todos ellos de 1968&#8211;, <i>Le Soul&#232;vement de la jeunesse - Mai 68 </i>es feo como el encuentro fortuito, sobre una mesa de montaje, de unas secuencias de noticiarios y un cuchillo de carnicero. Con insertos del &#171;perro andaluz&#187;
de Bu&#241;uel y Dal&#237;, y descartes de otro adefesio anterior del propio Lema&#238;tre, las im&#225;genes ni siquiera han sido cinceladas o laceradas con particular denuedo (uno de los reproches de Isou ante los
<i>d&#233;tournements</i>
cinematogr&#225;ficos de los situacionistas neonazis y perezosos), sino que simplemente se suceden en un batiburrillo de jirones en blanco y negro y en color, en positivo y en negativo, apropiados e impertinentes. As&#237; como en la banda sonora se alternan la cr&#243;nica period&#237;stica de los hechos con las voces de Pompidou y De Gaulle, la gutural musicalidad de los poemas letristas con una f&#225;bula aleg&#243;rica protagonizada por &#171;el dios de los creadores&#187;
y un heroico disc&#237;pulo de aquel &#8211;es decir, Isou y Lema&#238;tre reencarnados en criaturas mitol&#243;gicas&#8211;, y finalmente una exposici&#243;n a grandes rasgos de las premisas de la econom&#237;a nuclear y el <i>juventismo</i>
</p>

<p>
<b>Referencias</b></p>

<p>
Eugeni Bonet / Eduard Escoffet
(ed.): <i>Pr&#243;ximamente en esta pantalla: el cine letrista, entre la discrepancia y la sublevaci&#243;n</i>. Barcelona:
Museu d&#8217;Art Contemporani de Barcelona, 2005
</p>

<p>
G&#233;rard-Philippe Broutin [p&#225;gina web personal]: http://www.gpbroutin.com [consulta: 5 marzo 2014]
</p>

<p>
Les Cahiers de l&#8217;Externit&#233;</i></span>
[blog], http://voiceofexternity.blogspot.com [consulta: 5 marzo 2014].</span></p>

<p>
Isidore Isou:
</span>Contre l&#8217;Internationale Situationniste, 1960-2000</i></span>, prefacio de Marc Partouche. Cergy / Par&#237;s: D&#8217;Art(s) / Hors Commerce, 2000.</span></p>

<p>
La Cr&#233;atique ou la Novatique (1941-1976)</i></span>.
Romainville: Al Dante-L&#233;o Scher, 2003.</span></p>

<p>
Les Manifestes du Soul&#232;vement de la Jeunesse (1950-1966)</i></span>
<p>
Anselm Jappe: <i>Guy Debord</i>, Barcelona:
Anagrama, 1998
</p>

<p>
Maurice Lema&#238;tre:
</span>Th&#233;orie, programme et moyens d&#8217;action de l&#8217;externisme: l&#8217;&#233;conomie nucl&#233;aire ou soul&#232;vement de la jeunesse (1953) suivi de: Le d&#233;centrisme ou le cancer de l&#8217;Histoire (1956)</i></span>.
Par&#237;s: Centre de Cr&#233;ativit&#233;, 1998.</span></p>

<p>
Greil Marcus:
</span>Lipstick Traces: A Secret History of the Twentieth Century</i></span>.
</span>Cambridge, Massachussets: Harvard University Press, 1990. Edici&#243;n en castellano de Anagrama.</span></p>

<p>
Roland Sabatier:
</span>Le Lettrisme: les cr&#233;ations et les cr&#233;ateurs</i></span>.
</span>Niza:
Z&#8217;Editions, 1989.</span></p>

