  <p> <b>Desmontaje documental</b></p>
<p>  </p>
<p>  </p>
<p>
&#171;Pel&#237;cula de montaje&#187; es la formulaci&#243;n m&#225;s habitual en las lenguas latinas para aquella clase de pel&#237;cula basada sustancialmente, si no enteramente, en un material preexistente, de archivo u otra procedencia, reutilizado para generar un nuevo discurso. Utilizo deliberadamente la palabra
&#171;pel&#237;cula&#187;, en lugar de la forma culta film (preferida por los estudiosos m&#225;s escrupulosos de la pr&#225;ctica cinematogr&#225;fica propiamente dicha), porque actualmente dicha definici&#243;n ha de abarcar diversos soportes, contextos y tr&#225;nsitos. No solamente entre los medios sobradamente entrelazados hoy del cine, la televisi&#243;n y el v&#237;deo, sino tambi&#233;n en lo que concierne a los sistemas multimedia, donde pel&#237;cula (o, en ingl&#233;s, <i>movie</i>)
designa todo contenido que se ampara en una secuencia de im&#225;genes en movimiento, sea en un disco digital compacto o en la intangibilidad de la red. Y es que, justamente, las culturas y los cultivos archivistas hallan, desde hace unos a&#241;os, una nueva extensi&#243;n en dichos medios o metamedios.</p>
<p>  </p>
<p> Aunque al hablar de pel&#237;cula de montaje se insin&#250;a que la obra se construye esencialmente en la mesa de montaje, m&#225;s que por la captura fotogr&#225;fica de im&#225;genes de cu&#241;o propio, otras lenguas, en primer lugar el ingl&#233;s, han preferido el concepto de compilaci&#243;n (<i>compilation film</i>), poniendo su mayor
&#233;nfasis en la idea de recolecci&#243;n, la caza y captura del material id&#243;neo &#8211;en algunos casos imprevisto, descubierto al azar o fortuitamente&#8211;, en tanto que operaci&#243;n primordial y preliminar a las labores de corte, selecci&#243;n y montaje. (La lengua inglesa es tanto m&#225;s precisa respecto a los distingos entre <i>cutting</i>, <i>editing</i> y el galicismo <i>montage</i>, reservando este &#250;ltimo para las consideraciones de orden te&#243;rico o est&#233;tico). Adem&#225;s, el concepto de montaje se refiere a un estadio generalmente com&#250;n al proceso habitual que comporta toda producci&#243;n cinematogr&#225;fica o audiovisual. As&#237; lo argument&#243; el historiador cinematogr&#225;fico Jay Leyda, autor de una de las obras de referencia obligada sobre el tema: <i>Films Beget Films: Compilation Films from Propaganda to Drama</i>.[[[1]]]</p>
<p>  </p>
<p> Con todo, la expresi&#243;n &#171;cine de montaje&#187;, nos remite oportunamente a la crucial aportaci&#243;n de los cineastas bolcheviques, quienes han vislumbrado el meollo de esa operaci&#243;n cinematogr&#225;fica de guante blanco en la producci&#243;n de sentido. El montaje, la cirug&#237;a de la pel&#237;cula, es la t&#233;cnica por excelencia de la f&#225;brica; esa alegor&#237;a tan intr&#237;nseca a las vanguardias art&#237;sticas en el fragor de la revoluci&#243;n socialista, entre las proclamas del constructivismo o el productivismo. Pero, adem&#225;s, es tambi&#233;n en dicho marco que se hallan los or&#237;genes fehacientes de un cine de compilaci&#243;n propiamente dicho; de los c&#233;lebres experimentos de &#171;geograf&#237;a creativa&#187; de Lev Kuleshov al cinepoema documental de Dziga Vertov, <i>Tres cantos sobre Lenin</i>
(1934). Aunque, si un nombre hay que destacar especialmente, es el de Esther Shub con su trilog&#237;a sobre la historia de Rusia desde 1896
(cuando el cinemat&#243;grafo Lumi&#232;re film&#243; la coronaci&#243;n del zar Nicol&#225;s II), integrada por <i>La ca&#237;da de la dinast&#237;a de los Romanov</i>
(1927), <i>La gran avenida</i>
(1927) y <i>La Rusia de Nicol&#225;s II y Le&#243;n Tolstoi</i>
(1928). El trabajo de Esther Shub funda el trabajo archivista cinematogr&#225;fico en tanto que abarca la b&#250;squeda, identificaci&#243;n y restauraci&#243;n de documentos desperdigados y semiolvidados; a la vez que introduce uno de los patrones caracter&#237;sticos del g&#233;nero compilatorio: la cr&#243;nica hist&#243;rica reconstruida mediante el ensamblaje de im&#225;genes tomadas de noticiarios y reportajes. Por otra parte, en el primero de los films mencionados, que abarca el ocaso del r&#233;gimen zarista y el triunfo de la revoluci&#243;n de 1917, la cineasta ha manejado tambi&#233;n las propias filmaciones del defenestrado zar, privilegiado precursor del cine de aficionado, las cuales se convierten en testimonio de cargo por las astucias de montaje; por ejemplo, en la alternancia de los festejos y diversiones de la familia imperial con elocuentes escenas del sufrimiento y opresi&#243;n del pueblo ruso.</p>
<p>  </p>
<p> La forma can&#243;nica del film de compilaci&#243;n es, en efecto, el documental que narra &#8211;la voz en <i>off</i> deviene justamente uno de sus rasgos habituales&#8211; un asunto com&#250;nmente hist&#243;rico o biogr&#225;fico, del orden de la informaci&#243;n, la propaganda o la memoria nost&#225;lgica, acudiendo a los retales que atesoran los archivos que comienzan a instituirse con la llegada del cine sonoro. M&#225;s tarde, desde el ecuador del siglo XX, el material y el documental de archivo hallan una enorme demanda en la televisi&#243;n; la peque&#241;a pantalla siempre hambrienta de bocados y jirones de realidad &#8211;ingredientes de coste relativamente bajo&#8211; a fin de mantener encendidas sus tupidas parrillas de programaci&#243;n, abocadas al suministro permanente del receptor hogare&#241;o. Y una consecuencia de este servicio a domicilio, que se acent&#250;a con la penetraci&#243;n del v&#237;deo dom&#233;stico y el ordenador multimedia, es nuestra creciente familiaridad con el archivo p&#250;blico de las im&#225;genes, las representaciones, los arquetipos; el banco de datos del mundo, bien aprovisionado por las mercanc&#237;as y desperdicios de las factor&#237;as medi&#225;ticas. En este sentido, es desde su periferia y por interacci&#243;n cr&#237;tica con los mensajes y masajes de los media que se ha ido afirmando otra clase de compilaci&#243;n y cultura de los archivos, con un sesgo antagonista y desmantelador que tiene un relieve e historial propio en las coordenadas de las pr&#225;cticas medi&#225;ticas alternativas.</p>
<p>  </p>
<p> Para abordar dicho aspecto, a&#241;os atr&#225;s acud&#237; a la noci&#243;n de desmontaje, en la cual hallo un matiz sugerente y clarificador, algo as&#237; como un reverso de la pr&#225;ctica m&#225;s habitual de montaje y su sentido constructivo, tanto como de la pel&#237;cula de compliaci&#243;n/montaje y su connotaci&#243;n &#171;edificante&#187;.
Desmontaje, por otra parte, tiene un aire de familia con otras expresiones tales como deconstrucci&#243;n o el <i>d&#233;tournement</i> situacionista. Dicha noci&#243;n me parece m&#225;s productiva que otra en vigor en los &#225;mbitos y jergas del cine y el v&#237;deo experimental
(donde el ingl&#233;s es <i>lingua franca</i>), bajo el enunciado de <i>found footage</i>, &#171;pel&#237;cula encontrada&#187; &#8211;que inequ&#237;vocamente remite a las po&#233;ticas del objeto encontrado, vulgar, epis&#243;dico, ready made&#8211;, y entre cuyos referentes mayores cabe incluir la estela del assemblage en el arte norteamericano (de Joseph Cornell a Bruce Conner), el cine
&#171;discrepante&#187; de los letristas y situacionistas en Francia, o el
<i>scratch video</i> brit&#225;nico.[[[2]]]</p>
<p>  </p>
<p> Son varios los rasgos que distinguen a estas obras, a veces designadas tambi&#233;n como collages, de la pel&#237;cula de montaje, el documental de archivo, en sus modalidades m&#225;s corrientes. En general, no hay comentario en <i>off</i>,
(o, cuando lo hay, no se puede decir que sea un comentarios omnisciente ni que acompa&#241;e literalmente a las im&#225;genes), como tampoco se apela a un tono instructivo o did&#225;ctico. Se prefiere que las cosas se expresen por s&#237; mismas: por lo que dicen, por lo que a&#250;n cuentan esas im&#225;genes, y por lo que aportan los giros de montaje (o, mejor dicho, de desmontaje, puesto que lo que la nueva obra nos dice suele ser bastante distinto a lo que pretend&#237;an los materiales de partida). Se acude indistintamente a una gran heterogeneidad de fuentes: no solamente al bot&#237;n de la realidad de noticiarios y documentales, sino tambi&#233;n a las im&#225;genes de ficci&#243;n, las emisiones del teletubo, los despojos de nuestra civilizaci&#243;n de la imagen y toda clase de g&#233;neros perif&#233;ricos: pel&#237;culas educativas, industriales, publicitarias, familiares, pornogr&#225;ficas, etc. Finalmente, el asunto de estos reciclajes desmontadores no es tanto la realidad como su simulacro; su representaci&#243;n y mediatizaci&#243;n a trav&#233;s del derroche p&#250;blico de las im&#225;genes y sus excedentes.  </p>
<p>  </p>
<p> Al confrontar las nociones ant&#243;nimas, aparentemente, de montaje y desmontaje, hay de todas formas un n&#250;mero de obras y trayectorias singulares que cabr&#237;a situar en un punto intermedio entre las corrientes referidas previamente: por un lado, la compilaci&#243;n como g&#233;nero tradicionalmente vinculado al documental y a los dep&#243;sitos archivistas; por el otro, la &#171;deconstrucci&#243;n aleg&#243;rica&#187;, en palabras de Benjamin Buchloh, del collage, el saqueo y el aprovechamiento de los detritos audiovisuales (ese <i>found footage</i> que, a menudo, se obtiene con una paciente labor de b&#250;squeda y selecci&#243;n). En esta intersecci&#243;n del <i>desmontaje documental</i>, el acopio de un arsenal o archivo propio ha sido a menudo un paso previo y, en varios casos, ha dado lugar a proyectos a largo plazo o incluso a la constituci&#243;n de repertorios, <i>stock film libraries</i> y bases de datos a disposici&#243;n de otros usuarios. Otro aspecto bien caracter&#237;stico ata&#241;e a la impugnaci&#243;n del comentario superpuesto, engolado o aleccionador, propio de la compilaci&#243;n tradicional, en su obstinaci&#243;n por imponer una recepci&#243;n o interpretaci&#243;n un&#237;voca.
Y, en tercer lugar, ante la sobreabundancia de las im&#225;genes, su exhumaci&#243;n y reubicaci&#243;n cobra el sentido de una &#171;arqueolog&#237;a psicoterap&#233;utica&#187; de nuestra cultura.[[[3]]]</p>
<p>  </p>
<p> Algunas obras, para abordar la realidad y la historia, prescinden de la discriminaci&#243;n entre la evidencia documental de los hechos y las fabulaciones a su alrededor.
En <i>Brother Can You Spare a Dime?</i> (1975), de Phlippe Mora, esto tiene su raz&#243;n de ser al abarcar un periodo particularmente sombr&#237;o de la historia norteamericana, de la Depresi&#243;n al ataque nip&#243;n a Pearl Harbour, y su confrontaci&#243;n con los evasivos entretenimientos fabricados contempor&#225;neamente por el negocio del espect&#225;culo. M&#225;s ferozmente, toda la obra de Craig Baldwin, abanderado de un cine &#171;pobre&#187;, utiliza toda clase de detritos audiovisuales (llegando a rapi&#241;ar secuencias de cintas comerciales por el procedimiento de filmar la pantalla en su proyecci&#243;n en salas) para tratar de los desmanes del poder y el imperialismo. En su lib&#233;rrimo megamix de las m&#225;s heterog&#233;neas fuentes y estados de la materia (las im&#225;genes y residuos de los media), Baldwin no procura otra soluci&#243;n de continuidad que la de unos argumentos descabellados; en cierto modo m&#225;s pr&#243;ximos a la pol&#237;tica-ficci&#243;n y las paranoias conspirativas de ciertas obras de ficci&#243;n, literarias y audiovisuales, que no a la informaci&#243;n veraz y contrastada que persiguen los documentales y las compilaciones que sangrientamente parodia. Sin embargo, a su modo, muchas de sus obras pueden contemplarse como encuestas sobre la historia y sobre cuestiones bien candentes: <i>RocketKitKongoKit</i>
(1986) sobre las luchas de liberaci&#243;n nacional en el continente africano y las tropel&#237;as del intervencionismo norteamericano; <i>Sonic Outlaws</i> (1995) sobre el bandidaje musical y la sedici&#243;n anticopyright<i>; Spectres of the Spectrum</i>
(1999) sobre el control de las comunicaciones en el espacio electromagn&#233;tico.</p>
<p>  </p>
<p> The Archives Project es el nombre program&#225;tico que adopt&#243; el grupo de emprendedores que produjo
<i>Atomic Caf&#233;</i>
(1982), un film que comport&#243; m&#225;s de cinco a&#241;os de b&#250;squeda archivera a Jayne Loader y los hermanos Kevin y Pierce Rafferty; todos ellos, junto con alg&#250;n que otro colaborador o allegado, con una conspicua trayectoria posterior en las culturas de archivo. Esta cinta, que pronto se convirti&#243; en obra de culto y en todo un referente para una nueva percepci&#243;n del g&#233;nero compilatorio, trata con visible iron&#237;a de los efectos de un clima de Guerra Fr&#237;a y paranoia nuclear sobre el orgulloso semblante de Am&#233;rica. Sin acudir a lo que se entiende habitualmente como ficci&#243;n, en este caso hay una yuxtaposici&#243;n de los documentos de noticiarios y emisiones de televisi&#243;n con las par&#225;bolas atemorizadoras y patrioteras, entre lo hilarante y lo sonrojante, de la propaganda m&#225;s tosca (acudiendo a todo tipo de recursos: de la vi&#241;eta de ficci&#243;n al cine animado, pasando por el documental falseado). Y, en cuanto a la banda sonora, al engarce de emisiones radiof&#243;nicas y canciones populares que se hacen eco del canguelo at&#243;mico y que, en el marco m&#225;s festivo de la m&#250;sica ligera, acuden al amparo de un sarcasmo beneficioso.</p>
<p>  </p>
<p> Las im&#225;genes desempolvadas en dicha obra corresponden en gran parte a lo que Richard Prelinger ha denominado &#171;films ef&#237;meros&#187;, los &#171;g&#233;neros bastardos&#187; de la producci&#243;n educativa, corporativa o institucional, el reportaje industrial o promocional, la publicidad y la propaganda, y los descartes y excedentes de productos ya en s&#237; concebidos para una vigencia perecedera.</p>
<p>  </p>
<p> Al dar un nuevo curso legal a estos tesoros de lo obsoleto &#8211;a veces de una poes&#237;a visual imprevista, por execrables que a veces fueran sus designios&#8211;, los fondos recopilados por los Archivos Prelinger y por Pierce Rafferty &#8211;este
&#250;ltimo a trav&#233;s de su empresa Petrified Films&#8211;, han sido, desde mediados de los ochenta, de los m&#225;s visitados por cineastas, videoartistas y televisiones, en busca de otros documentos de cultura y barbarie menos socorridos que los de la realidad fijada en noticiarios y reportajes, y en consecutivos digestos, compilaciones y series documentales. Joel Katz, en <i>Corporation with a Movie Camera</i>
(1992) &#8211;cuyo t&#237;tulo es una intencionada par&#225;frasis de <i>El hombre de la c&#225;mara</i> de Vertov (en ingl&#233;s <i>Man with a Movie Camera</i>)&#8211;, hizo un uso particularmente afilado de tales fuentes para tratar del imperialismo estadounidense, concretamente del abuso de los recursos naturales y humanos en el Tercer Mundo, con el contrapunto de un vibrante poema de Pablo Neruda que denuncia los atropellos de la United Fruit Company; una de las fuentes del petulante cine corporativo exhumado en esta obra.</p>
<p>  </p>
<p> Otras obras han apuntado hacia la informaci&#243;n omitida por los medios de comunicaci&#243;n. Emile de Antonio bas&#243; gran parte de su filmograf&#237;a en materiales
&#171;capturados&#187; a los medios de masas, reuniendo im&#225;genes de la pantalla televisiva y descartes de la informaci&#243;n cribada o claramente censurada, materiales a menudo obtenidos furtivamente y yuxtapuestos con punzantes entrevistas. Cineasta combativo y vehemente, De Antonio abord&#243; de esta manera los asuntos y personajes m&#225;s controvertidos o siniestros de la vida pol&#237;tica estadounidense en los a&#241;os sesenta: las andanzas del senador Joseph McCarthy (<i>Point of Order</i>, 1963), el asesinato de Kennedy (<i>Rush to Judgment</i>, 1967), la guerra de Vietnam (<i>In the Year of the Pig</i>, 1969) o la desfachatez de Nixon (<i>Millhouse: A White Comedy</i>, 1972). La obra del cineasta francoalem&#225;n Marcel Oph&#252;ls comparte esa fogosidad, abocada a lo que el historiador del documental Richard M.
Barsam ha llamado &#171;un cine de la verdad y la justicia&#187;,[[[4]]] fisgando en las verg&#252;enzas de la historia y la memoria mediante una combinaci&#243;n similar que saca a la luz los documentos y testimonios m&#225;s inconvenientes del pasado y del presente. As&#237;, una de sus cintas m&#225;s celebres, la monumental <i>Le Chagrin et la piti&#233;</i>
(1969-1971), fue censurada por la ORTF, para la que trabajaba entonces, al exponer los trapos m&#225;s sucios de la sociedad francesa durante la ocupaci&#243;n nazi; tema sobre el que reincidir&#237;a en <i>H&#244;tel Terminus</i> (1988), a prop&#243;sito del proceso contra Klaus Barbie. Este film ha reabierto las heridas del colaboracionismo y la cobard&#237;a bajo la venda de la resistencia heroica que ha salvado la dignidad de la Francia ocupada.</p>
<p>  </p>
<p> Las ondas reservadas de las transmisiones por sat&#233;lite, mediante las cuales las cadenas de televisi&#243;n norteamericanas distribuyen sus se&#241;ales en bruto, han sido destripadas en <i>Feed</i>
(1992), de Kevin Rafferty y James Ridgeway, con im&#225;genes cedidas por el videoactivista Brian Springer, que posteriormente montar&#237;a <i>Spin</i>
(1995) a partir de centenares de horas apresadas de estas emisiones entre bambalinas, en las que se revela todo aquello que los informativos omiten: la cosm&#233;tica de la imagen p&#250;blica, los comentarios <i>off the record</i> de los pol&#237;ticos y las personalidades medi&#225;ticas, la corte de asesores y comunicadores a su alrededor. La producci&#243;n videogr&#225;fica de Antoni Muntadas contiene tambi&#233;n varias aportaciones al desencriptado de los c&#243;digos y las interioridades de la televisi&#243;n: <i>Political Advertisement</i>
(en colaboraci&#243;n con Marshall Reese) es una recopilaci&#243;n iniciada en 1994 y que se renueva y ampl&#237;a cada cuatro a&#241;os, mostrando la evoluci&#243;n de los espacios de propaganda pol&#237;tica para las elecciones presidenciales estadounidenses, desde los a&#241;os cincuenta hasta la actualidad; <i>Cross-Cultural Television</i> (1987, con Hank Bull) establece un inventario de los arquetipos universalizados por la ubicuidad de los formatos televisivos, del busto parlante a los elementos de continuidad e imagen corporativa; <i>TVE: primer intento</i> (1989), por citar todav&#237;a una tercera obra, trata de la r&#233;mora del pasado franquista sobre la actual televisi&#243;n p&#250;blica espa&#241;ola y, producida por el propio ente, su emisi&#243;n fue vetada por el sesgo inconveniente que se entrevi&#243; en la yuxtaposici&#243;n de las fuentes de archivo con las im&#225;genes tomadas por el propio Muntadas en las dependencias de TVE.</p>
<p>  </p>
<p> Otra fuente a la que se ha dado una importancia creciente es la del cine privado, la producci&#243;n de los aficionados, el reservado encanto de las pel&#237;culas familiares. Al igual que ciertas corrientes historiogr&#225;ficas han apostado por el estudio de la vida privada frente a la retah&#237;la de los macroacontecimientos, interes&#225;ndose por los individuos an&#243;nimos y las clases subalternas frente a la hagiograf&#237;a de las dinast&#237;as del poder y las grandes personalidades, la rehabilitaci&#243;n de las im&#225;genes &#237;ntimas y despreocupadas de la cinematograf&#237;a amateur ha dado lugar a nuevos proyectos archivistas y obras de creaci&#243;n basadas en dichos fondos, adem&#225;s de fomentar exploraciones te&#243;ricas e historiogr&#225;ficas en torno a un aspecto tradicionalmente desatendido. Entre estas aportaciones cabe destacar la mod&#233;lica
&#171;Serie de la Hungr&#237;a privada&#187; de Peter Forg&#225;cs, un proyecto emprendido en los a&#241;os ochenta con el fin de recopilar y preservar el cine amateur y familiar de su pa&#237;s, reflejando de paso las vivencias de una sociedad atrapada por el giro autoritario del comunismo. <i>The Family Album</i> (1986), de Alan Berliner, es una propuesta bien distinta, basada en la s&#237;ntesis de las situaciones m&#225;s gen&#233;ricas y comunes en el cine familiar, engarzando escenas de diversos hogares para componer un mosaico de las vivencias y costumbres de la familia tipo norteamericana en un lapso de tiempo que se extiende de los a&#241;os veinte a los cincuenta, con una banda sonora a su vez integrada por un ensamblaje de voces, conversaciones, fragmentos epistolares y otros registros privados.  </p>
<p>  </p>
<p> Pero, en definitiva, la ascendencia espec&#237;fica de las fuentes no determina necesariamente el sesgo de la obra generada a partir de las mismas. Por ejemplo, Jay Rosenblatt ha recopilado en <i>Human Remains</i> (1998) las escenas m&#225;s &#237;ntimas y familiares de cinco de los dictadores m&#225;s sanguinarios del siglo pasado &#8211;Hitler, Stalin, Mussolini, Franco y Mao&#8211;, acompa&#241;adas de sendos mon&#243;logos rigurosamente documentados donde se destapan sus costumbres y apetencias m&#225;s privadas, plasmando as&#237; la &#171;banalidad del mal&#187; a la que se refiri&#243; Hannah Arendt. Asimismo, varios de los films de Yervant Gianikian y Angela Ricci Lucchi acuden al archivo, en gran parte recuperado por ellos mismos, del pionero del cine italiano Luca Comerio &#8211;cineasta oficial de la corte, seducido seguidamente por el fascismo&#8211;, para procurar una nueva lectura de sus reportajes de viaje, conquista y halago de la superioridad cultural etnocentrista; por ejemplo, en <i>Dal polo all&#8217;equatore</i>
(1986), la obra que ha dado empuje a la tenaz y sobresaliente trayectoria del citado t&#225;ndem.  </p>
<p>  </p>
<p> Otras interpelaciones sobre el archivo de las im&#225;genes se han canalizado a trav&#233;s de proyectos y experiencias de televisi&#243;n alternativa, en la que destacan las contribuciones de Jean-Luc Godard con <i>Histoire(s)
du cin&#233;ma</i> (1988-1998); Alexander Kluge con las series <i>10 vor 11</i>, <i>Die Stunde der Filmemacher</i> y
<i>Prime Time / Sp&#228;tausgabe</i>; el pertinaz colectivo Paper Tiger Television, o las producciones del FMS Studio de la televisi&#243;n h&#250;ngara al filo de los a&#241;os noventa
(en su pol&#237;tica de puertas abiertas a videoartistas y j&#243;venes realizadores como Guszt&#225;v Hamos, Andr&#225;s S&#243;lyom e Ildik&#243; Enyedi).
Finalmente, una expansi&#243;n todav&#237;a incipiente es la de la red y los nuevos soportes digitales. Hasta ahora, la atropellada sucesi&#243;n de los sistemas multimedia, y su constante perfeccionamiento, ha jugado en contra de su potencial espec&#237;fico, el cual entra&#241;a una nueva concepci&#243;n del montaje basada en el principio rizom&#225;tico del hipertexto: la posibilidad de enlaces o remisiones de un documento a otro, de cualquier naturaleza (imagen fija, pel&#237;cula, sonido, texto), a diferencia de la verticalidad que entra&#241;a el montaje en su acepci&#243;n tradicional. Entre las exploraciones precursoras de estos medios encontramos de nuevo los nombres de Jayne Loader &#8211;con <i>Public Shelter</i> (1994), CD-ROM que constituye una secuela multimedia de <i>Atomic Caf&#233;</i>, el film que ella realiz&#243; con los hermanos Rafferty&#8211; y Richard Prelinger, quien, a partir de su copiosos archivos de cine ef&#237;mero, ha producido recopilaciones documentales como <i>Call It Home: The House That Private Enterprise Built</i>
(1992) y <i>Our Secret Century: Archival Films From the Darker Side of the American Dream</i>
(1995-1997) que, a guisa de enciclopedias visuales, abordan diversos aspectos de la historia social norteamericana de manera tan amena como rigurosa y rebosante de sentido cr&#237;tico.[[[5]]]</p>
<p>  </p>
<p> Si el documental de montaje, el formato compilatorio m&#225;s habitual y trillado, se distingue por unos prop&#243;sitos de objetividad, neutralidad y rese&#241;a hist&#243;rica, la hip&#243;tesis del desmontaje documental opondr&#237;a unos criterios de subjetividad, posicionamiento cr&#237;tico, interpelaci&#243;n de los modos de representaci&#243;n y de la semiosis &#250;nica de las im&#225;genes, independientemente de su extracci&#243;n en lo real o lo ficticio, lo privado o lo ef&#237;mero, etc. Al desposeer a esas im&#225;genes del sentido, prop&#243;sito y destino que ten&#237;an originalmente, a menudo se desvela un subtexto soterrado, se descorren connotaciones imprevistas. Los archivos audiovisuales y la saturaci&#243;n medi&#225;tica
&#8211;que el apropiacionismo entiende como dominio p&#250;blico, acogi&#233;ndose a los derechos de cita y r&#233;plica&#8211; constituyen el yacimiento que aprovisiona a estas pr&#225;cticas, cuya extensi&#243;n actual he pretendido dilucidar mediante un n&#250;mero de creaciones y proyectos archivistas que discurren entre la arqueolog&#237;a medi&#225;tica y una interpretaci&#243;n antagonista de la historia y los hilos que mueven el mundo.  </p>
<p>  </p>
<p>  </p>
<p> </p>
<p>  </p>
<p>  </p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	Londres: George Allen
	&amp; Unwin, 1964. Hay reediciones posteriores.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2][2]
	Eugeni Bonet (ed.):
	<i>Desmontaje: film, v&#237;deo;
	apropiaci&#243;n, reciclaje.</i>
	Valencia: IVAM, 1993; volumen editado con motivo de la muestra
	itinerante del mismo t&#237;tulo. Otras
	publicaciones y muestras a destacar son: Cecilia Hausheer /
	Christoph Settele (ed.): <i>Found
	Footage Film.</i>
	Lucerna: VIPER / Zyklop Verlag, 1992; William C. Wees: <i>Recycled
	Images: The Art and Politics of Found Footage Films</i>.
	Nueva
	York: Anthology Film Archives, 1993; Yann Beauvais / Jean-Michel
	Bouhours (ed.): <i>Monter/Sampler:
	L&#8217;&#233;chantillonnage g&#233;n&#233;ralis&#233;.</i>Par&#237;s:
	Centre Pompidou / Scratch Projection, 2000.</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Sharon
	Sandusky: &#171;The
	Archaeology of Redemption: Toward Archival Film&#187;,
	<i>Millennium
	Film Journal</i>,
	n&#250;m. 26 (oto&#241;o 1992).</p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	Richard
	M. Barsam: <i>Nonfiction
	Film: A Critical History.</i>.
	Bloomington / Indianapolis: Indiana University Press, 1992. Edici&#243;n
	revisada y ampliada.</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>[5]
	Ambas obras, en su
	momento respectivamente editadas en disco l&#225;ser y como una
	colecci&#243;n de diez CD-ROM (de los doce previstos), est&#225;n
	descatalogadas actualmente. Para mayor informaci&#243;n y alguna peque&#241;a
	degustaci&#243;n de las mismas puede consultarse el sitio web de
	Prelinger (<u>[www.prelinger.com]</u>)
	que, adem&#225;s, constituye un buen portal de acceso a otras
	informaciones y a diversos archivos en l&#237;nea.</p>  </body> </html>