  <p> <b>ViDeo Gratias</b><b>, o &#171;comunicaci&#243;n diferida&#187;: Espacio autobiogr&#225;fico en la videograf&#237;a de Juan Downey</b>  </p>
<p>
&#171;La necesidad de hacer v&#237;deo nace como la dependencia del aguarr&#225;s, la droga y el m&#233;dium, del urgente deseo de conectarse. [&#8230;] Y en efecto, lo que se comunica solamente es ese deseo de conectarse: una comunicaci&#243;n diferida. [&#8230;] El deseo de hacer p&#250;blico algo personal.&#187; &#8211; Juan Downey (1987)</p>
<p>  </p>
<p> El componente autobiogr&#225;fico, subjetivo o interior ha sido una constante se&#241;alada en diversos comentarios o an&#225;lisis del arte de Juan Downey, tanto como en sus propios escritos. No se puede decir que su obra fuera esencialmente autobiogr&#225;fica, pero s&#237; que penetra reiteradamente en el espacio de lo autobiogr&#225;fico o, dicho sea m&#225;s holgadamente, de lo interior. No es mi prop&#243;sito el discutir aqu&#237;
los &#171;problemas de vocabulario&#187;[[[1]]] la exactitud o impropiedad de determinados conceptos principalmente heredados de lo literario, sino recoger una vez m&#225;s un motivo y un
&#225;ngulo desde el que abordar ahora la obra de Downey con una cierta amplitud; no en su totalidad, ya que tratamos de un artista de una considerable versatilidad en cuanto a las disciplinas y a los medios
(y <i>multimedios</i> o <i>intermedios</i>)
que ha barajado y explorado a lo largo de su trayectoria, pero s&#237;
tratando de abarcar varias de las obras m&#225;s descollantes &#8211;incluyendo algunas un tanto olvidadas o que han permanecido fuera de circulaci&#243;n durante varios a&#241;os&#8211; de lo que hoy es, desdichadamente, un <i>corpus</i> cerrado por la prematura muerte de su autor.</p>
<p>  </p>
<p> Raymond Bellour, siguiendo las dilucidaciones de algunos estudiosos franceses de la autobiograf&#237;a y otras literaturas interiores,[[[2]]] ha preferido hablar de <i>autorretratos</i> a prop&#243;sito de la obra videogr&#225;fica de varios artistas, entre los cuales Juan Downey. La noci&#243;n de autorretrato, que Bellour toma de los escritos de Beaujour, permitir&#237;a esquivar las restricciones impl&#237;citas en la acepci&#243;n m&#225;s usual de <i>autobiograf&#237;a</i>, sea en diccionarios generales o especializados, o seg&#250;n la definici&#243;n propuesta por Lejeune en su c&#233;lebre ensayo <i>El pacto autobiogr&#225;fico</i>:
&#171;Relato retrospectivo en prosa que una persona real hace de su propia existencia, poniendo &#233;nfasis en su vida individual y, en particular, en la historia de su personalidad.&#187; Por el contrario, el
<i>autorretrato</i> de Beaujour/Bellour escapar&#237;a a la rigidez (aunque maleable idiosincr&#225;sicamente) de lo retrospectivo y lo sucesivo &#8211;y, en consecuencia, de la deidad del <i>cronos</i>&#8211;, tanto como de la remisi&#243;n gen&#233;rica a los patrones de la prosa, la narratividad e incluso la individualidad entendida literalmente. &#171;El autorretrato &#8211;sintetiza Bellour&#8211; se distingue primeramente de la autobiograf&#237;a por la ausencia de toda forma de relato consecutivo.
[&#8230;] El autorretrato se sit&#250;a as&#237; del lado de la analog&#237;a, de lo metaf&#243;rico, de lo po&#233;tico, m&#225;s que de lo narrativo.&#187;[[[3]]] Por otro lado, Lejeune mismo ha ido expandiendo y flexibilizando sus premisas sobre la autobiograf&#237;a como objeto preciso de estudio, considerando otros conceptos y aspectos m&#225;s vastos, como los de
<i>literatura interior</i> o <i>espacio autobiogr&#225;fico</i>, y su traslaci&#243;n a otros medios/media.</p>
<p>  </p>
<p> La noci&#243;n de autobiograf&#237;a ha sido utilizada con menos ambages a prop&#243;sito de los cines anormativos o de vanguardia, sin por ello renunciar a establecer distinciones entre unas expresiones m&#225;s gen&#233;ricas y, hasta cierto punto, sin&#243;nimas &#8211;<i>cine subjetivo</i>, <i>cine del yo</i> o <i>en primera persona</i>, de nuevo la laxitud del <i>espacio autobiogr&#225;fico</i>&#8211;, y otras que desglosan sus tipolog&#237;as m&#225;s singulares: el diario o dietario f&#237;lmico, el retrato y el autorretrato, el <i>travelogue</i> o memoria de viaje, la carta y la confesi&#243;n &#237;ntima, la reconstrucci&#243;n geneal&#243;gica, la ficci&#243;n autobiogr&#225;fica, incluso el cine familiar por sus rasgos propios.[[[4]]]  </p>
<p>  </p>
<p> Aparte de reincidir igualmente en unas pautas terminol&#243;gicas bien asentadas en la teor&#237;a e historia de la literatura y las bellas artes (y aunque podamos preguntarnos si tales trasplantes son siempre adecuados, pertinentes y esclarecedores), cabe resaltar seguidamente dos aspectos importantes. En primer lugar, la trascendencia de lo privado a lo p&#250;blico &#8211;&#171;el deseo de hacer p&#250;blico algo personal&#187;, de que hablaba Downey&#8211;, oponiendo un enclave de identidad y subjetividad frente a la pasividad y la anomia favorecidas por la sociedad de la informaci&#243;n y el espect&#225;culo. Y, en segundo lugar, la tabla de salvaci&#243;n de los sistemas de peque&#241;o formato y relativamente asequibles para la captura de im&#225;genes y la creaci&#243;n audiovisual, ingeniados y comercializados de cara al aficionado, al peque&#241;o profesional o a otros usos m&#225;s bien ef&#237;meros y rec&#243;nditos, pero que brindan tambi&#233;n la oportunidad de que broten y se consoliden ciertas pr&#225;cticas, exploraciones y alternativas innovadoras: artes y <i>poiesis</i> audiovisuales, nuevas corrientes documentalistas, antropolog&#237;a visual, cine de vanguardia y underground, videoarte y televisi&#243;n de guerrilla, formas expandidas y tecnomediales&#8230; por enumerar apenas una peque&#241;a porci&#243;n de un vocabulario recapitulativo o en vigor. Y, sin exagerar en cuanto a cualquier tipo de determinismo tradicionalmente sospechoso y mal visto &#8211;sea de orden tecnol&#243;gico o est&#233;tico, y finalmente ideol&#243;gico&#8211;, puede intuirse una circunstancia gen&#233;tica propiciadora del peso espec&#237;fico que ha adquirido la subjetividad, la identidad, la afirmaci&#243;n del yo (o del &#171;nosotros&#187;, pero a una microescala apropiada), ante los peores rasgos de la cultura de la uniformidad y del androide replicado (antes que replicante).</p>
<p>  </p>
<p> La obra de Juan Downey, tras superar &#171;la dependencia del aguarr&#225;s&#187;, se orient&#243; hacia una conexi&#243;n/comunicaci&#243;n <i>de yo a ti</i> por medio de lo tecnol&#243;gico y lo desmaterializado. Por una parte, comporta, como ya se ha dicho, repetidas incursiones en el espacio autobiogr&#225;fico &#8211;y en los de lo antropol&#243;gico, cultural, pol&#237;tico, comunicacional, procesual, etc.&#8211;; por la otra, hoy puede atisbarse
(aunque por a&#241;adidura y desde las convenciones de lo retrospectivo)
su entera trayectoria y obra como si fuera parte o reflejo de una especie de autobiograf&#237;a colectiva, una &#171;autobiograf&#237;a de todos&#187;
(aludiendo aqu&#237; a Gertrude Stein y su <i>Everybody&#8217;s Autobiography</i>).
Este es un plano bien com&#250;n en las escrituras autobiogr&#225;ficas e interiores en el sentido m&#225;s amplio de la expresi&#243;n, ya que la exclusiva reclusi&#243;n en el yo es harto improbable, incluso cuando los dem&#225;s quedan ocultos o salvaguardados por el anonimato, el esfumino, los pseud&#243;nimos, los disfraces de la ficci&#243;n y las figuras ret&#243;ricas. En el caso de Downey, no hay un reflejo inmediato de una comunidad art&#237;stica o subcultural, tal como la que puede hallarse, por ejemplo (y son, con todo, ejemplos bien diversos) en la obra audiovisual de Jonas Mekas, Andy Warhol o Nam June Paik a modo de cr&#243;nica, &#225;lbum de retratos o retrato de grupo. Sin embargo, muchos vericuetos en la obra de Downey devienen extrapolables para todo un colectivo y un tejido de referencias de ubicaci&#243;n inmediata en <i>su</i>
&#233;poca (e incluso, en alguna medida, en la nuestra).</p>
<p>  </p>
<p> Lo que refleja pues la andadura art&#237;stica, intelectual y vital de Juan Downey es la efervescencia de determinados motivos e impulsos que hallan su cenit en las vertientes conexas del arte tecnol&#243;gico, medial, conceptual, procesual, contracultural, h&#237;brido y alternativo de los a&#241;os sesenta y setenta, y su posterior continuidad y evoluci&#243;n (no siempre progresi&#243;n y transgresi&#243;n). Mediante sus m&#225;quinas y construcciones interactivas iniciales, Downey se adentr&#243;
primeramente en el bricolaje del maquinario tecnol&#243;gico, que procuraba un intercambio de papeles entre creador y receptor. Los t&#237;tulos mismos son ya bien expl&#237;citos: <i>Do It Yourself</i>, <i>Do Your Own Concert</i>, <i>Spectramate</i>, <i>Selectramate</i>&#8230;
Siempre buscando un copart&#237;cipe para activar el dispositivo.
Seguidamente, el acercamiento a temas ecol&#243;gicos, sociopol&#237;ticos y urban&#237;sticos (recu&#233;rdese que Downey tuvo formaci&#243;n de arquitecto), con planteamientos lindantes con lo idealista y ut&#243;pico, nos remite a la aproximaci&#243;n de las pr&#225;cticas art&#237;sticas conceptuales a los modelos propios de las ciencias humanas y sociales, y a una est&#233;tica que desprecia el valor terminal del objeto (que deja de ser precioso). Downey volver&#237;a luego a la exploraci&#243;n de los sistemas interactivos, mediante la tecnolog&#237;a del disco l&#225;ser y otras connivencias tecnomediales.</p>
<p>  </p>
<p> Entretanto, un hallazgo capital en su trayectoria fue el del v&#237;deo y de una incipiente comunidad de exploradores y guerrilleros del audiovisual electr&#243;nico. Downey dijo: &#171;El v&#237;deo, m&#225;s claramente que cualquier otro material o procedimiento art&#237;stico, condujo mis prop&#243;sitos est&#233;ticos m&#225;s cerca de los asuntos pol&#237;ticos y sociales.&#187;[[[5]]] De ah&#237; se derivan las series y cap&#237;tulos centrales en la obra de Downey: su periplo transamericano (<i>Video Trans Americas</i>), sus ensayos sobre los sistemas de signos y de valores en la cultura occidental (<i>The Thinking Eye</i>, <i>Hard Times and Culture</i>), m&#225;s sus airadas regresiones al tambaleante estado de su tierra madre como cap&#237;tulo aparte (<i>Chile June 1971, Publicness</i>, <i>In the Beginning</i>, <i>Bi-Deo</i>, <i>Chicago Boys</i>, <i>The Motherland</i>, <i>No</i>, <i>The Return of the Motherland</i>).</p>
<p>  </p>
<p> Sus primeros acercamientos al v&#237;deo (mono y multicanal), lo fueron tambi&#233;n a la performance y la instalaci&#243;n como extensi&#243;n multimedia o tecnomedial; pero tales distingos son un tanto superfluos, ya que pr&#225;cticamente no exist&#237;an en aquella &#233;poca. Una cosa llevaba a la otra, precisamente por el estado de indefinici&#243;n, incluso algo salvaje, de unas tecnolog&#237;as, medios y conceptos que constitu&#237;an a&#250;n terrenos v&#237;rgenes, novedosos y chocantes (para los artistas curiosos y m&#225;s a&#250;n para el p&#250;blico). Ese estado silvestre de una tecnolog&#237;a relativamente reciente como el v&#237;deo favorec&#237;a, entre otras cosas, unos usos imaginativos de sus aparentes desventajas o precariedades por comparaci&#243;n con otros medios m&#225;s evolucionados como el cine: baja resoluci&#243;n; frecuentes deficiencias en cuanto a las posibilidades de elaboraci&#243;n/posproducci&#243;n del material; una cualidad harto ef&#237;mera pese a que, por momentos, se creyera todo lo contrario&#8230; (A la par que, por otra parte, uno se maravillaba de otros aspectos: instantaneidad, portabilidad, fonocaptaci&#243;n integrada, bajo coste y reciclabilidad del soporte, etc.). En un contexto extratelevisivo, ajeno a las industrias del entretenimiento y espect&#225;culo &#8211;m&#225;s bien por oposici&#243;n a ellas&#8211;, y al margen de los laboratorios de televisi&#243;n mejor dotados (que Downey tambi&#233;n visit&#243;), el v&#237;deo devino un arte plural y expandido; instig&#243; (y/o se contagi&#243; de) lo procesual y lo mixto, la polivisi&#243;n y la bidireccionalidad, la s&#237;ntesis y tratamiento de im&#225;genes, lo ambiental y envolvente, lo contracultural y lo pol&#237;tico, etc.</p>
<p>  </p>
<p> La deambulaci&#243;n n&#243;mada es otro factor recurrente en la observaci&#243;n de la obra y la trayectoria vital de Downey. Recojo las observaciones de un par de coterr&#225;neos suyos que hablan de &#171;un fuerte componente de extranjer&#237;a y, por ello, de distancia&#187;,[[[6]]] y de cualquier obra suya como &#171;un viaje, una expedici&#243;n, no solo a un lugar espec&#237;fico, sino a la interioridad del autor y a la nuestra&#187;.[[[7]]]As&#237;, tras un primer ciclo videogr&#225;fico al encuentro de sus ra&#237;ces al sur del norte &#8211;de ese norte que, tan a menudo, se hace llamar arrogantemente como si fuera el continente entero de Am&#233;rica&#8211;, tanto la serie de <i>El ojo pensante</i>, como la que apenas hab&#237;a iniciado a su muerte, representan otras rutas de viaje de ida y vuelta entre culturas y temporalidades diversas, y entre el espacio introspectivo y el abierto al ancho mundo.</p>
<p>  </p>
<p> <i>Moving</i>
(1974) es como un <i>road movie</i> esencialista que condensa el inicial periplo transamericano de Downey. Describe un viaje que se orienta primero hacia el oeste
(Estados Unidos) y consecutivamente hacia el sur (Per&#250; y Bolivia), mediante diversos medios de locomoci&#243;n, en compa&#241;&#237;a y en solitario, y pasando de los sonidos medi&#225;ticos y mecanizados a los folcl&#243;ricos y en estado nativo del <i>rumbo sur</i> emprendido. Y <i>Moving</i>, en castellano, se traduce ambivalentemente, tal como ya se encarg&#243;
de subrayar su autor: <i>en movimiento</i> y <i>emotivo</i>.[[[8]]] Raz&#243;n de m&#225;s para resaltar este v&#237;deo elemental (y que algunos ojos ver&#237;an casi como <i>privado</i>, en el sentido de propio de un amateur)
en tanto que pieza emblem&#225;tica del conjunto <i>Video Trans Americas</i> y de las diversas expediciones y entregas tem&#225;ticas que lo integran a lo largo de la d&#233;cada de los setenta, puesto que revela el desdoblamiento tem&#225;tico b&#225;sico (y, a partir, de ah&#237; m&#250;ltiple) del ciclo entero: el viaje y las emociones (viaje a los or&#237;genes, traves&#237;a de autodescubrimiento, tr&#225;nsito vital y odisea transcultural).</p>
<p>  </p>
<p> Desde
<i>Video Trans Americas</i>, toda la obra de Juan Downey constituye un autorretrato en obstinado movimiento, en pertinaz exploraci&#243;n de s&#237; mismo y de sus herramientas. &#171;El video es un espejo que puede ser manipulado tanto en el tiempo como en el espacio&#187; escribi&#243;. Y algo despu&#233;s, en el mismo texto: &#171;Yo, el agente del cambio, al manipular el video para descodificar mis propias ra&#237;ces, qued&#233; por siempre descifrado y me convert&#237; en un verdadero fruto de mi tierra, menos intelectual y m&#225;s po&#233;tico.&#187;[[[9]]]</p>
<p>  </p>
<p> Downey grab&#243; entre 1976 y 1977, durante una estancia en la selva amaz&#243;nica junto a los yanomamis y acompa&#241;ado tambi&#233;n por su familia, las im&#225;genes de <i>The Laughing Alligator</i>
&#8211;<i>El caim&#225;n con la risa de fuego</i>, en una versi&#243;n en espa&#241;ol, anterior y m&#225;s breve&#8211; y (am&#233;n de otras piezas, variaciones y t&#237;tulos) su traslaci&#243;n como instalaci&#243;n, <i>The Circle of Fires</i>; las piezas culminantes del ciclo transamericano, con una elaboraci&#243;n que puede emplazarse al otro extremo de <i>Moving</i> y otros v&#237;deos mono o multicanal de apenas unos a&#241;os antes. Observo esto porque, a partir de aqu&#237;, su obra (como la de otros artistas y activistas de su generaci&#243;n) adquiere otro tipo de acabados y giros aparentemente m&#225;s admisibles desde unos puntos de vista tanto televisivos como muse&#237;sticos, lo que nos conducir&#225; inmediatamente a su producci&#243;n durante los a&#241;os ochenta y hasta la fecha de su muerte. (Sin embargo, Downey hab&#237;a anunciado su intenci&#243;n de simultanear el uso de unos medios y formatos comparativamente m&#225;s exiguos o humildes.)</p>
<p>  </p>
<p> <i>The Laughing Alligator</i> tiene todav&#237;a muchos elementos de <i>travelogue</i>
&#237;ntimo, entre las atribuciones gen&#233;ricas que pudieran hac&#233;rsele por una parte al documentalista-antrop&#243;logo, por otra parte, al turista ex&#243;tico (aunque nada accidental), introduciendo sin embargo un sinn&#250;mero de fracturas o luxaciones: fragmentaci&#243;n del sujeto narrador y alternancia de voces (aunque se trate de miembros de la min&#250;scula comunidad familiar visitante), alegor&#237;as y anacronismos varios con los que el autor firmante interfiere en el hilo documental, la inestable sensaci&#243;n que produce un estilo de montaje abundante en planos cortos que se suceden entrecortados por saltos constantes (<i>jump cuts</i>), la movilidad de la c&#225;mara-ojo y su falta de respeto por los encuadres euclidianos, y algunas otras disfunciones respecto a la gram&#225;tica normativa del documental. Por &#250;ltimo, es la voz de Downey la que introduce las motivaciones y premisas interiores, las inquietudes y emociones sentidas, los sentimientos de igualdad y distancia recogidos al cabo de la convivencia con los yanomamis y de regreso al mundo &#171;civilizado&#187;.</p>
<p>  </p>
<p> Ese regreso/reingreso y su digesti&#243;n le llevaron a emprender otros viajes &#171;para mirar la cultura occidental con otros ojos&#187;.[[[10]]] Me refiero a la serie <i>The Thinking Eye</i>, t&#237;tulo que, aunque remite literalmente a una expresi&#243;n de Paul Klee, puede interpretarse de nuevo en un sentido ambivalente seg&#250;n la fon&#233;tica inglesa (<i>Eye/I</i>, es decir: ojo y yo). Tanto su precedente en la doble versi&#243;n/interpretaci&#243;n &#8211;como cinta monocanal y como instalaci&#243;n intermedia&#8211; de <i>Las Meninas</i>
(<i>The Maidens of Honor</i>)
seg&#250;n Downey (m&#225;s las citas incorporadas de Foucault y Kubler), un conjunto fechado entre 1975-1976, como la primera entrega de la serie propiamente dicha &#8211;el video <i>The Looking Glass </i>(El espejo, 1982)&#8211;, se recrean en la equivalencia entre una cosa y otra, apelando/interpelando a un legado cultural occidental particularmente fuerte, s&#243;lido y persistente, cargado por tanto de ideolog&#237;as y ecos varios. Del mito de Narciso se asciende hasta el espejo/reflejo de la imagen tecnol&#243;gica, pasando por otras recreaciones est&#233;ticas e intelectuales mediante poli&#233;dricas alusiones a la obra pict&#243;rica de Vel&#225;zquez, Van Eyck, Holbein y Picasso; a la arquitectura aristocr&#225;tica de Versalles, Fontainebleau y El Escorial; al psicoan&#225;lisis, al estructuralismo, a la iconolog&#237;a y a la posmodernidad. En este sentido, <i>The Looking Glass</i> es como una enciclopedia de bolsillo, aunque caprichosa y ligeramente enloquecida debido a su clara firma subjetiva con ostensibles incisos de humor (si bien incorpora de nuevo, tal como en <i>Las Meninas (The Maidens of Honor)</i>, otras citas textuales: ahora mediante intervenciones como las de Leo Steinberg o Eunice Lipton, por destacar las m&#225;s sustanciales).</p>
<p>  </p>
<p> Otras realizaciones sucesivas del mismo ciclo &#8211;con el esclarecedor subt&#237;tulo de <i>Culture as an Instrument of Active Thought</i>&#8211;
nos descubren de qu&#233; se trata en este viaje transcultural y semi&#243;tico que m&#225;s bien prescinde de la br&#250;jula, del metr&#243;nomo o de otros instrumentos de mesura. Downey parafrasea los estilos y formatos habituales en el documental cultural televisivo, juega con sus estereotipos y, frente a la pereza alentada por lo divulgativo y premasticado, opone el prop&#243;sito activo de lo cognitivo. El &#171;ojo pensante&#187; implica un ojo <i>vigilante</i>, escudri&#241;ador de mitos, hitos y contratos socioculturales que, ya sea en primer o &#250;ltimo t&#233;rmino, comportan una mediaci&#243;n institucionalizadora. Una mirada alerta (y alertadora) ante las cortas miras de una cultura aposentada.  </p>
<p>  </p>
<p> La investigaci&#243;n sobre signos y significados, sobre interpretaciones y desplazamientos simb&#243;licos que Downey prosigui&#243; a lo largo de dos cintas &#8211;<i>Information Withheld</i>
(1983) y <i>Shifters</i>
(1984)&#8211;, incluso la videohagiograf&#237;a <i>J.S.
Bach</i>
(1986) y su complemento interactivo y musicogr&#225;fico, <i>Bachdisc</i>
(1988), saltan continuamente del tiempo hist&#243;rico a la actualidad posmoderna, y de lo erudito a lo introspectivo, incitando a estrujar el &#171;yo pensante&#187;. Supongo que <i>Hard Times and Culture</i> se planteaba como una miniserie dentro de aquella, pues, a grandes rasgos, la &#250;nica parte realizada, <i>Vienna fin-de-si&#232;cle</i>
(1990), prosigue la misma t&#243;nica, solo que con una percepci&#243;n m&#225;s sombr&#237;a ya enunciada desde el propio t&#237;tulo. &#161;Malos tiempos para la l&#237;rica!, como reza el popular dicho. Sin embargo, Downey adelant&#243;
que pretend&#237;a referirse a &#171;aquellas ocasiones en la historia en las que una crisis total, no solo econ&#243;mica sino tambi&#233;n de conciencia, coincide curiosamente con la excelencia en el arte&#187;.[[[11]]] Por tanto, nunca con un punto de vista pesimista o desesperanzado.</p>
<p>  </p>
<p> La inscripci&#243;n del espacio autobiogr&#225;fico no es expl&#237;cita y constante, sino ocasional, en estas &#250;ltimas obras: por ejemplo, la referencia a la madre fallecida mientras Downey trabajaba en su
<i>bachiana</i>, o el papel de gu&#237;a que asume en <i>Information Whitheld</i> y <i>Vienna fin-de-si&#232;cle</i> para introducirnos en la mara&#241;a de contrastes, referencias, citas, alegor&#237;as, anacronismos, <i>punctums</i> y paras&#237;ntesis de sus ensayos siempre subjetivos (y puesto que retomo los referentes literarios, cabe recordar que el g&#233;nero al que dio nombre Montaigne se incluye en el macroconjunto de los g&#233;neros interiores). Downey se refiri&#243; asimismo al concepto de &#171;memorias prestadas&#187;, para se&#241;alar a continuaci&#243;n: &#171;La subjetividad de una persona en realidad es la memoria del subconsciente de muchas otras&#187;.[[[12]]]</p>
<p>  </p>
<p> Finalmente, otra circunscripci&#243;n en la obra de Downey por donde reaparecen los motivos autobiogr&#225;ficos o introspectivos la hallamos en varios de los v&#237;deos en los que revisit&#243; su tierra madre. A partir del cruento golpe de estado de Pinochet y sus dram&#225;ticas consecuencias, Downey se sentir&#225; exilado, y no ya un expatriado por elecci&#243;n. En
<i>Chile June 1971</i>
(editado en 1974) o <i>Chicago Boys</i>
(1982-1983) no hay lugar para lo autobiogr&#225;fico, lo metaf&#243;rico o lo mitopo&#233;tico. Ah&#237; se va al grano; se trata en el primer caso de un memorial para Salvador Allende dedicado a las esperanzas decapitadas de la &#233;poca socialista, y en el segundo, de un contundente reportaje
(en el mejor sentido de la palabra) sobre las consecuencias de la aplicaci&#243;n en Chile de las teor&#237;as econ&#243;micas ingeniadas por Milton Friedman y sus <i>boys</i> y seguidores, donde yo veo casi un proemio a <i>Hard Times and Culture</i>.
(Excepto que aqu&#237; la cultura pasa forzosamente a un segundo t&#233;rmino, pues m&#225;s bien se trata de la desaparici&#243;n de una cultura en sentido m&#225;s amplio, suplantada por una falsa cultura multinacional, estandarizada e importada con facilidades de pago). Por el contrario, en el d&#237;ptico formado por <i>The Motherland/La Madre Patria</i>
(1987) y <i>The Return of the Motherland</i>
(1989) &#8211;con un precedente m&#225;s lejano en <i>Publicness</i>
(1974)&#8211;, Downey se explay&#243; en lo simb&#243;lico, lo hiperb&#243;lico, lo surrealista, lo grotesco, lo goyesco, lo instintivo y lo personal-e-intransferible &#8211;&#171;arroyo de ideas interiores&#187;&#8211;[[[13]]], aunque con el contrapunto sarc&#225;stico o brutal de lo factual, mediante retazos apropiados e incorporados con malicia a la recreaci&#243;n mitopersonal, combinando <i>ethos</i> y <i>pathos</i>, del drama patrio. Es un acto m&#225;s de autognosis donde lo personal se vierte en lo social, colectivo y p&#250;blico.</p>
<p>  </p>
<p>  </p>
<p>  </p> <div id="sdfootnote1">
	<p>
	[1]
	Philippe
	Lejeune: &#171;Cin&#233;ma
	et autobiographie: probl&#232;mes de vocabulaire&#187;, <i>Revue
	Belge du Cin&#233;ma</i>,
	n&#250;m. 19 (&#171;L&#8217;&#201;criture du Je au cin&#233;ma&#187;) (1987).</p>
<p>
	
	</p>  <div id="sdfootnote2">
	<p>
	[2]
	Michel
	Beaujour: <i>Miroirs
	d&#8217;encre</i>.
	Par&#237;s: Seuil, 1979; Philippe
	Lejeune:
	<i>El
	pacto autobiogr&#225;fico y otros estudios</i>.
	Madrid: Megazul-Endymion, 1994 [Selecci&#243;n, a cargo de Angel G.
	Loureiro, de diversos ensayos tomados de <i>Le
	Pacte autobiographique</i>
	(Par&#237;s: Seuil, 1975), <i>Je
	est un Autre. </i><i>L&#8217;autobiographie,
	de la litt&#233;rature aux m&#233;dias</i>
	(Par&#237;s: Seuil, 1980), y <i>Moi
	aussi</i>
	(Par&#237;s: Seuil, 1986)].
	
	</p>
<p>
	
	</p>  <div id="sdfootnote3">
	<p>
	[3],
	Raymond Bellour&nbsp;: &#171;Autoportraits&#187;,
	en R. Bellour y Anne-Marie Duguet, <i>Communications</i>,
	n&#250;m. 48 (&#171;Vid&#233;o&#187;). Par&#237;s: Seuil, 1988.</p>  <div id="sdfootnote4">
	<p>
	[4]
	P.
	Adams Sitney:
	&#171;Autobiography
	in Avant-Garde Film&#187;, <i>Millennium
	Film Journal</i>,
	n&#250;m. 1 (1977-1978).
	Recogido tambi&#233;n en P. Adams Sitney: <i>The
	Avant-Garde Film: A Reader of Theory and Criticism</i>.
	Nueva York: New York University Press (Anthology Film Archives
	Series), 1978; Raymond
	Bellour: &#171;Autoportraits&#187;
	(op. cit.); Yann Beauvais,
	Yann y Jean-Michel Bouhours (ed.):
	<i>Le
	Je film&#233;</i>.
	Par&#237;s:
	Centre Georges Pompidou / Scratch Projection, 1995; y Roger
	Odin (ed.): <i>Le
	film de famille: usage priv&#233;, usage public</i>.
	Par&#237;s: M&#233;ridiens Klincksieck, 1995. 
	</p>
<p>
	
	</p>
<p>
	
	</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>
	[5]
	Juan
	Downey:
	&#171;Travelogues of Video Trans Americas&#187;, en Ira Schneider y Beryl
	Korot (ed.): <i>Video
	Art. An Anthology</i>.
	Nueva
	York / Londres: Harcourt Brace Jovanovich, 1976.</p>
<p>
	</p>  <div id="sdfootnote6">
	<p>
	[6]
	Diamela
	Eltit:
	&#171;Madre
	Patria&#187;,
	<i>Juan
	Downey: Video porque Te Ve</i>.
	Santiago de Chile: Ediciones Visuala Galer&#237;a, 1987 [cat. exp.]</p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	Carlos Aldunate:
	&#171;Viaje hacia la totalidad&#187;,
	<i>Juan Downey:
	instalaciones, dibujos y videos</i>.
	Santiago de Chile: Museo Nacional de Bellas Artes, 1995 [cat. exp.]</p>  <div id="sdfootnote8">
	<p>[8]
	Juan Downey:
	Carta a Gonzalo D&#237;az (22 agosto de 1987) citada por Juan Pastor
	Mellado: &#171;El misterio de la gran pir&#225;mide&#187; en <i>Juan
	Downey: instalaciones, dibujos y videos</i>
	(op. cit. nota 7)</p>  <div id="sdfootnote9">
	<p>[9]
	Juan
	Downey:
	&#171;Travelogues
	of Video Trans Americas&#187; (op. cit. nota 5).</p>  <div id="sdfootnote10">
	<p>[10]
	Ann Sargent Wooster:
	&#171;Juan Downey&#187;, en <i>Juan
	Downey: instalaciones, dibujos y videos</i>,
	(op. cit. nota 7).</p>  <div id="sdfootnote11">
	<p>[11]
	Juan Downey:
	Entrevista grabada en v&#237;deo
	por Carlos Flores, 1987.</p>  <div id="sdfootnote12">
	<p>[12]
	Ib&#237;d.</p>  <div id="sdfootnote13">
	<p>[13]
	Ib&#237;d.</p>  </body> </html>