
<p>
ViDeo Gratias</b></span>
</p>

<p>
.
Valencia: IVAM-Institut Valenci&#224; d&#8217;Art Modern, 1998 [cat&#225;logo de exposici&#243;n]. Edici&#243;n en castellano e ingl&#233;s
</p>

<p>
&#171;La necesidad de hacer v&#237;deo nace como la dependencia del aguarr&#225;s, la droga y el m&#233;dium, del urgente deseo de conectarse. [&#8230;] Y en efecto, lo que se comunica solamente es ese deseo de conectarse: una comunicaci&#243;n diferida. [&#8230;] El deseo de hacer p&#250;blico algo personal.&#187; &#8211; Juan Downey (1987)</p>

<p>
El componente autobiogr&#225;fico, subjetivo o interior ha sido una constante se&#241;alada en diversos comentarios o an&#225;lisis del arte de Juan Downey, tanto como en sus propios escritos. No se puede decir que su obra fuera esencialmente autobiogr&#225;fica, pero s&#237; que penetra reiteradamente en el espacio de lo autobiogr&#225;fico o, dicho sea m&#225;s holgadamente, de lo interior. No es mi prop&#243;sito el discutir aqu&#237;
los &#171;problemas de vocabulario&#187;
la exactitud o impropiedad de determinados conceptos principalmente heredados de lo literario, sino recoger una vez m&#225;s un motivo y un
&#225;ngulo desde el que abordar ahora la obra de Downey con una cierta amplitud; no en su totalidad, ya que tratamos de un artista de una considerable versatilidad en cuanto a las disciplinas y a los medios
(y 
o )
que ha barajado y explorado a lo largo de su trayectoria, pero s&#237;
tratando de abarcar varias de las obras m&#225;s descollantes &#8211;incluyendo algunas un tanto olvidadas o que han permanecido fuera de circulaci&#243;n durante varios a&#241;os&#8211; de lo que hoy es, desdichadamente, un 
cerrado por la prematura muerte de su autor
</p>

<p>

ha preferido hablar de 
a prop&#243;sito de la obra videogr&#225;fica de varios artistas, entre los cuales Juan Downey. La noci&#243;n de autorretrato, que Bellour toma de los escritos de Beaujour, permitir&#237;a esquivar las restricciones impl&#237;citas en la acepci&#243;n m&#225;s usual de :
&#171;Relato retrospectivo en prosa que una persona real hace de su propia existencia, poniendo &#233;nfasis en su vida individual y, en particular, en la historia de su personalidad.&#187; Por el contrario, el

de Beaujour/Bellour escapar&#237;a a la rigidez (aunque maleable idiosincr&#225;sicamente) de lo retrospectivo y lo sucesivo &#8211;y, en consecuencia, de la deidad del &#8211;, tanto como de la remisi&#243;n gen&#233;rica a los patrones de la prosa, la narratividad e incluso la individualidad entendida literalmente. &#171;El autorretrato &#8211;sintetiza Bellour&#8211; se distingue primeramente de la autobiograf&#237;a por la ausencia de toda forma de relato consecutivo.
[&#8230;] El autorretrato se sit&#250;a as&#237; del lado de la analog&#237;a, de lo metaf&#243;rico, de lo po&#233;tico, m&#225;s que de lo narrativo.&#187;
Por otro lado, Lejeune mismo ha ido expandiendo y flexibilizando sus premisas sobre la autobiograf&#237;a como objeto preciso de estudio, considerando otros conceptos y aspectos m&#225;s vastos, como los de

o , y su traslaci&#243;n a otros medios/media
</p>

<p>
,

o 
o memoria de viaje, la carta y la confesi&#243;n &#237;ntima, la reconstrucci&#243;n geneal&#243;gica, la ficci&#243;n autobiogr&#225;fica, incluso el cine familiar por sus rasgos propios.
</p>

<p>

audiovisuales, nuevas corrientes documentalistas, antropolog&#237;a visual, cine de vanguardia y , videoarte y televisi&#243;n de guerrilla, formas expandidas y tecnomediales&#8230; por enumerar apenas una peque&#241;a porci&#243;n de un vocabulario recapitulativo o en vigor. Y, sin exagerar en cuanto a cualquier tipo de determinismo tradicionalmente sospechoso y mal visto &#8211;sea de orden tecnol&#243;gico o est&#233;tico, y finalmente ideol&#243;gico&#8211;, puede intuirse una circunstancia gen&#233;tica propiciadora del peso espec&#237;fico que ha adquirido la subjetividad, la identidad, la afirmaci&#243;n del yo (o del &#171;nosotros&#187;, pero a una microescala apropiada), ante los peores rasgos de la cultura de la uniformidad y del androide replicado (antes que replicante)
</p>

<p>

por medio de lo tecnol&#243;gico y lo desmaterializado. Por una parte, comporta, como ya se ha dicho, repetidas incursiones en el espacio autobiogr&#225;fico &#8211;y en los de lo antropol&#243;gico, cultural, pol&#237;tico, comunicacional, procesual, etc.&#8211;; por la otra, hoy puede atisbarse
(aunque por a&#241;adidura y desde las convenciones de lo retrospectivo)
su entera trayectoria y obra como si fuera parte o reflejo de una especie de autobiograf&#237;a colectiva, una &#171;autobiograf&#237;a de todos&#187;
(aludiendo aqu&#237; a Gertrude Stein y su ).
Este es un plano bien com&#250;n en las escrituras autobiogr&#225;ficas e interiores en el sentido m&#225;s amplio de la expresi&#243;n, ya que la exclusiva reclusi&#243;n en el yo es harto improbable, incluso cuando los dem&#225;s quedan ocultos o salvaguardados por el anonimato, el esfumino, los pseud&#243;nimos, los disfraces de la ficci&#243;n y las figuras ret&#243;ricas. En el caso de Downey, no hay un reflejo inmediato de una comunidad art&#237;stica o subcultural, tal como la que puede hallarse, por ejemplo (y son, con todo, ejemplos bien diversos) en la obra audiovisual de Jonas Mekas, Andy Warhol o Nam June Paik a modo de cr&#243;nica, &#225;lbum de retratos o retrato de grupo. Sin embargo, muchos vericuetos en la obra de Downey devienen extrapolables para todo un colectivo y un tejido de referencias de ubicaci&#243;n inmediata en 
&#233;poca (e incluso, en alguna medida, en la nuestra)
</p>

<p>
Lo que refleja pues la andadura art&#237;stica, intelectual y vital de Juan Downey es la efervescencia de determinados motivos e impulsos que hallan su cenit en las vertientes conexas del arte tecnol&#243;gico, medial, conceptual, procesual, contracultural, h&#237;brido y alternativo de los a&#241;os sesenta y setenta, y su posterior continuidad y evoluci&#243;n (no siempre progresi&#243;n y transgresi&#243;n). Mediante sus m&#225;quinas y construcciones interactivas iniciales, Downey se adentr&#243;
primeramente en el bricolaje del maquinario tecnol&#243;gico, que procuraba un intercambio de papeles entre creador y receptor. Los t&#237;tulos mismos son ya bien expl&#237;citos: ,
,
,
&#8230;
Siempre buscando un copart&#237;cipe para activar el dispositivo.
Seguidamente, el acercamiento a temas ecol&#243;gicos, sociopol&#237;ticos y urban&#237;sticos (recu&#233;rdese que Downey tuvo formaci&#243;n de arquitecto), con planteamientos lindantes con lo idealista y ut&#243;pico, nos remite a la aproximaci&#243;n de las pr&#225;cticas art&#237;sticas conceptuales a los modelos propios de las ciencias humanas y sociales, y a una est&#233;tica que desprecia el valor terminal del objeto (que deja de ser precioso). Downey volver&#237;a luego a la exploraci&#243;n de los sistemas interactivos, mediante la tecnolog&#237;a del disco l&#225;ser y otras connivencias tecnomediales
</p>

<p>

De ah&#237; se derivan las series y cap&#237;tulos centrales en la obra de Downey: su periplo transamericano (,
,
,
,
,
,
,
)
</p>

<p>
Sus primeros acercamientos al v&#237;deo (mono y multicanal), lo fueron tambi&#233;n a la performance y la instalaci&#243;n como extensi&#243;n multimedia o tecnomedial; pero tales distingos son un tanto superfluos, ya que pr&#225;cticamente no exist&#237;an en aquella &#233;poca. Una cosa llevaba a la otra, precisamente por el estado de indefinici&#243;n, incluso algo salvaje, de unas tecnolog&#237;as, medios y conceptos que constitu&#237;an a&#250;n terrenos v&#237;rgenes, novedosos y chocantes (para los artistas curiosos y m&#225;s a&#250;n para el p&#250;blico). Ese estado silvestre de una tecnolog&#237;a relativamente reciente como el v&#237;deo favorec&#237;a, entre otras cosas, unos usos imaginativos de sus aparentes desventajas o precariedades por comparaci&#243;n con otros medios m&#225;s evolucionados como el cine: baja resoluci&#243;n; frecuentes deficiencias en cuanto a las posibilidades de elaboraci&#243;n/posproducci&#243;n del material; una cualidad harto ef&#237;mera pese a que, por momentos, se creyera todo lo contrario&#8230; (A la par que, por otra parte, uno se maravillaba de otros aspectos: instantaneidad, portabilidad, fonocaptaci&#243;n integrada, bajo coste y reciclabilidad del soporte, etc.). En un contexto extratelevisivo, ajeno a las industrias del entretenimiento y espect&#225;culo &#8211;m&#225;s bien por oposici&#243;n a ellas&#8211;, y al margen de los laboratorios de televisi&#243;n mejor dotados (que Downey tambi&#233;n visit&#243;), el v&#237;deo devino un arte plural y expandido; instig&#243; (y/o se contagi&#243; de) lo procesual y lo mixto, la polivisi&#243;n y la bidireccionalidad, la s&#237;ntesis y tratamiento de im&#225;genes, lo ambiental y envolvente, lo contracultural y lo pol&#237;tico, etc
</p>

<p>

y de cualquier obra suya como &#171;un viaje, una expedici&#243;n, no solo a un lugar espec&#237;fico, sino a la interioridad del autor y a la nuestra&#187;., como la que apenas hab&#237;a iniciado a su muerte, representan otras rutas de viaje de ida y vuelta entre culturas y temporalidades diversas, y entre el espacio introspectivo y el abierto al ancho mundo
</p>

<p>

(1974) es como un 
esencialista que condensa el inicial periplo transamericano de Downey. Describe un viaje que se orienta primero hacia el oeste
(Estados Unidos) y consecutivamente hacia el sur (Per&#250; y Bolivia), mediante diversos medios de locomoci&#243;n, en compa&#241;&#237;a y en solitario, y pasando de los sonidos medi&#225;ticos y mecanizados a los folcl&#243;ricos y en estado nativo del 
emprendido. Y , en castellano, se traduce ambivalentemente, tal como ya se encarg&#243;
de subrayar su autor: 
y 
Raz&#243;n de m&#225;s para resaltar este v&#237;deo elemental (y que algunos ojos ver&#237;an casi como )
en tanto que pieza emblem&#225;tica del conjunto 
y de las diversas expediciones y entregas tem&#225;ticas que lo integran a lo largo de la d&#233;cada de los setenta, puesto que revela el desdoblamiento tem&#225;tico b&#225;sico (y, a partir, de ah&#237; m&#250;ltiple) del ciclo entero: el viaje y las emociones (viaje a los or&#237;genes, traves&#237;a de autodescubrimiento, tr&#225;nsito vital y odisea transcultural)
</p>

<p>
Desde
9</a></p>

<p>

&#8211;;
las piezas culminantes del ciclo transamericano, con una elaboraci&#243;n que puede emplazarse al otro extremo de 
y otros v&#237;deos mono o multicanal de apenas unos a&#241;os antes. Observo esto porque, a partir de aqu&#237;, su obra (como la de otros artistas y activistas de su generaci&#243;n) adquiere otro tipo de acabados y giros aparentemente m&#225;s admisibles desde unos puntos de vista tanto televisivos como muse&#237;sticos, lo que nos conducir&#225; inmediatamente a su producci&#243;n durante los a&#241;os ochenta y hasta la fecha de su muerte. (Sin embargo, Downey hab&#237;a anunciado su intenci&#243;n de simultanear el uso de unos medios y formatos comparativamente m&#225;s exiguos o humildes.)</p>

<p>

tiene todav&#237;a muchos elementos de 
&#237;ntimo, entre las atribuciones gen&#233;ricas que pudieran hac&#233;rsele por una parte al documentalista-antrop&#243;logo, por otra parte, al turista ex&#243;tico (aunque nada accidental), introduciendo sin embargo un sinn&#250;mero de fracturas o luxaciones: fragmentaci&#243;n del sujeto narrador y alternancia de voces (aunque se trate de miembros de la min&#250;scula comunidad familiar visitante), alegor&#237;as y anacronismos varios con los que el autor firmante interfiere en el hilo documental, la inestable sensaci&#243;n que produce un estilo de montaje abundante en planos cortos que se suceden entrecortados por saltos constantes (), la movilidad de la c&#225;mara-ojo y su falta de respeto por los encuadres euclidianos, y algunas otras disfunciones respecto a la gram&#225;tica normativa del documental. Por &#250;ltimo, es la voz de Downey la que introduce las motivaciones y premisas interiores, las inquietudes y emociones sentidas, los sentimientos de igualdad y distancia recogidos al cabo de la convivencia con los yanomamis y de regreso al mundo &#171;civilizado&#187;
</p>

<p>

Me refiero a la serie 
()
seg&#250;n Downey (m&#225;s las citas incorporadas de Foucault y Kubler), un conjunto fechado entre 1975-1976, como la primera entrega de la serie propiamente dicha &#8211;el video 
es como una enciclopedia de bolsillo, aunque caprichosa y ligeramente enloquecida debido a su clara firma subjetiva con ostensibles incisos de humor (si bien incorpora de nuevo, tal como en , otras citas textuales: ahora mediante intervenciones como las de Leo Steinberg o Eunice Lipton, por destacar las m&#225;s sustanciales)
</p>

<p>
&#8211;
nos descubren de qu&#233; se trata en este viaje transcultural y semi&#243;tico que m&#225;s bien prescinde de la br&#250;jula, del metr&#243;nomo o de otros instrumentos de mesura. Downey parafrasea los estilos y formatos habituales en el documental cultural televisivo, juega con sus estereotipos y, frente a la pereza alentada por lo divulgativo y premasticado, opone el prop&#243;sito activo de lo cognitivo. El &#171;ojo pensante&#187; implica un ojo , escudri&#241;ador de mitos, hitos y contratos socioculturales que, ya sea en primer o &#250;ltimo t&#233;rmino, comportan una mediaci&#243;n institucionalizadora. Una mirada alerta (y alertadora) ante las cortas miras de una cultura aposentada. 
</p>

<p>

(1983) y 
(1984)&#8211;, incluso la videohagiograf&#237;a <i>J.S.
Bach</i>
(1986) y su complemento interactivo y musicogr&#225;fico, 
(1988), saltan continuamente del tiempo hist&#243;rico a la actualidad posmoderna, y de lo erudito a lo introspectivo, incitando a estrujar el &#171;yo pensante&#187;. Supongo que 
se planteaba como una miniserie dentro de aquella, pues, a grandes rasgos, la &#250;nica parte realizada, 
(1990), prosigue la misma t&#243;nica, solo que con una percepci&#243;n m&#225;s sombr&#237;a ya enunciada desde el propio t&#237;tulo. &#161;Malos tiempos para la l&#237;rica!, como reza el popular dicho. Sin embargo, Downey adelant&#243;
que pretend&#237;a referirse a &#171;aquellas ocasiones en la historia en las que una crisis total, no solo econ&#243;mica sino tambi&#233;n de conciencia, coincide curiosamente con la excelencia en el arte&#187;.
Por tanto, nunca con un punto de vista pesimista o desesperanzado
</p>

<p>
La inscripci&#243;n del espacio autobiogr&#225;fico no es expl&#237;cita y constante, sino ocasional, en estas &#250;ltimas obras: por ejemplo, la referencia a la madre fallecida mientras Downey trabajaba en su

y 
para introducirnos en la mara&#241;a de contrastes, referencias, citas, alegor&#237;as, anacronismos, 
y paras&#237;ntesis de sus ensayos siempre subjetivos (y puesto que retomo los referentes literarios, cabe recordar que el g&#233;nero al que dio nombre Montaigne se incluye en el macroconjunto de los g&#233;neros interiores). Downey se refiri&#243; asimismo al concepto de &#171;memorias prestadas&#187;, para se&#241;alar a continuaci&#243;n: &#171;La subjetividad de una persona en realidad es la memoria del subconsciente de muchas otras&#187;.12</a></p>

<p>
Finalmente, otra circunscripci&#243;n en la obra de Downey por donde reaparecen los motivos autobiogr&#225;ficos o introspectivos la hallamos en varios de los v&#237;deos en los que revisit&#243; su tierra madre. A partir del cruento golpe de estado de Pinochet y sus dram&#225;ticas consecuencias, Downey se sentir&#225; exilado, y no ya un expatriado por elecci&#243;n. En

(editado en 1974) o 
(1982-1983) no hay lugar para lo autobiogr&#225;fico, lo metaf&#243;rico o lo mitopo&#233;tico. Ah&#237; se va al grano; se trata en el primer caso de un memorial para Salvador Allende dedicado a las esperanzas decapitadas de la &#233;poca socialista, y en el segundo, de un contundente reportaje
(en el mejor sentido de la palabra) sobre las consecuencias de la aplicaci&#243;n en Chile de las teor&#237;as econ&#243;micas ingeniadas por Milton Friedman y sus 
y seguidores, donde yo veo casi un proemio a 
(Excepto que aqu&#237; la cultura pasa forzosamente a un segundo t&#233;rmino, pues m&#225;s bien se trata de la desaparici&#243;n de una cultura en sentido m&#225;s amplio, suplantada por una falsa cultura multinacional, estandarizada e importada con facilidades de pago). Por el contrario, en el d&#237;ptico formado por 
(1987) y 
(1989) &#8211;con un precedente m&#225;s lejano en 
(1974)&#8211;, Downey se explay&#243; en lo simb&#243;lico, lo hiperb&#243;lico, lo surrealista, lo grotesco, lo goyesco, lo instintivo y lo personal-e-intransferible &#8211;&#171;arroyo de ideas interiores&#187;&#8211;
y , del drama patrio. Es un acto m&#225;s de autognosis donde lo personal se vierte en lo social, colectivo y p&#250;blico
</p>

<div id="sdfootnote1">
	<p>
	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
	</span>Philippe
	Lejeune: </span>&#171;Cin&#233;ma
	et autobiographie: probl&#232;mes de vocabulaire&#187;, </span>Revue
	Belge du Cin&#233;ma</i></span>,
	n&#250;m. 19 (&#171;L&#8217;&#201;criture du Je au cin&#233;ma&#187;) (1987).</span></p>
	<p>
	
	</p>
<div id="sdfootnote2">
	<p>
	<a class="sdfootnotesym" name="sdfootnote2sym" href="#sdfootnote2anc">2</a>
	Michel
	Beaujour: </span>Miroirs
	d&#8217;encre</i></span>.
	Par&#237;s: Seuil, 1979; </span>Philippe
	Lejeune</span>
	<i>El
	pacto autobiogr&#225;fico y otros estudios</i>.
	Madrid: Megazul-Endymion, 1994 [Selecci&#243;n, a cargo de Angel G.
	Loureiro, de diversos ensayos tomados de <i>Le
	Pacte autobiographique</i>
	(Par&#237;s: Seuil, 1975), <i>Je
	est un Autre. </i>L&#8217;autobiographie,
	de la litt&#233;rature aux m&#233;dias</i></span>
	(Par&#237;s: Seuil, 1980), y </span>Moi
	aussi</i></span>
	(Par&#237;s: Seuil, 1986)].</span>
	</span>
	</p>
	<p>
	
	</p>
<div id="sdfootnote3">
	<p>
	<a class="sdfootnotesym" name="sdfootnote3sym" href="#sdfootnote3anc">3</a>,
	Raymond Bellour&nbsp;: </span>&#171;Autoportraits&#187;,
	en R. Bellour y Anne-Marie Duguet, </span>,
	n&#250;m. 48 (&#171;Vid&#233;o&#187;). Par&#237;s: Seuil, 1988.</span></p>
<div id="sdfootnote4">
	<p>
	<a class="sdfootnotesym" name="sdfootnote4sym" href="#sdfootnote4anc">4</a>
	</span>P.
	Adams Sitney:</span>
	</span>&#171;Autobiography
	in Avant-Garde Film&#187;, </span>Millennium
	Film Journal</i></span>,
	n&#250;m. 1 </span>.
	Recogido tambi&#233;n en P. Adams Sitney: </span>The
	Avant-Garde Film: A Reader of Theory and Criticism</i></span>.
	Nueva York: New York University Press (Anthology Film Archives
	Series), 1978; </span>Raymond
	Bellour: </span>&#171;Autoportraits&#187;
	(op. cit.); Yann </span>Beauvais,
	Yann y Jean-Michel Bouhours (ed.):</span>
	</span>Le
	Je film&#233;</i></span>.
	</span>Par&#237;s:
	Centre Georges Pompidou / Scratch Projection, 1995; y </span>Roger
	Odin (ed.): </span>Le
	film de famille: usage priv&#233;, usage public</i></span>.
	Par&#237;s: M&#233;ridiens Klincksieck, 1995. </span>
	</p>
	<p>
	
	</p>
	<p>
	
	</p>
	<p>
	</p>
<div id="sdfootnote5">
	<p>
	<a class="sdfootnotesym" name="sdfootnote5sym" href="#sdfootnote5anc">5</a>
	</span>Juan
	Downey:</span>
	&#171;Travelogues of Video Trans Americas&#187;, en Ira Schneider y Beryl
	Korot (ed.): </span>Video
	Art. An Anthology</i></span>.
	Nueva York / Londres: Harcourt Brace Jovanovich, 1976.</span></p>
	<p>
	</p>
<div id="sdfootnote6">
	<p>
	<a class="sdfootnotesym" name="sdfootnote6sym" href="#sdfootnote6anc">6</a>
	Diamela
	Eltit:
	Madre
	Patria,
	<i>Juan
	Downey: Video porque Te Ve</i>.
	Santiago de Chile: Ediciones Visuala Galer&#237;a, 1987 [cat. exp.]</p>
	<p>
	</p>
<div id="sdfootnote7">
	<p>7</a>
	Carlos Aldunate:
	&#171;Viaje hacia la totalidad&#187;,
	<i>Juan Downey:
	instalaciones, dibujos y videos</i>.
	Santiago de Chile: Museo Nacional de Bellas Artes, 1995 [cat. exp.]</p>
<div id="sdfootnote8">
	<p>8</a>
	Juan Downey:
	Carta a Gonzalo D&#237;az (22 agosto de 1987) citada por Juan Pastor
	Mellado: &#171;El misterio de la gran pir&#225;mide&#187; en <i>Juan
	Downey: instalaciones, dibujos y videos</i>
	(op. cit. nota 7)</p>
<div id="sdfootnote9">
	<p>
	</span>Juan
	</span>Downey:
	</span>&#171;Travelogues
	of Video Trans Americas&#187; (op. cit. nota 5).</span></p>
<div id="sdfootnote10">
	<p>
	Ann Sargent Wooster:
	&#171;Juan Downey&#187;, en <i>Juan
	Downey: instalaciones, dibujos y videos</i>,
	(op. cit. nota 7)
</p>
<div id="sdfootnote11">
	<p>11</a>
	Juan Downey:
	Entrevista grabada en v&#237;deo
	por Carlos Flores, 1987
</p>
<div id="sdfootnote12">
	<p>
	
<div id="sdfootnote13">
	<p>13</a>
	
