
<p><b>La v&#237;a europea al v&#237;deo: una recapitulaci&#243;n</b></p>

<p>
.
Madrid: Museo Nacional Centro de Arte Reina Sof&#237;a, 2007 [cat&#225;logo de exposici&#243;n]
</p>

<p>
<b>&#191;Qui&#233;n dijo miedo?</b></p>

<p>
Hacia finales de los setenta, Wulf Herzogenrath &#8211;conspicuo valedor y cronista del v&#237;deo en Alemania&#8211;
se refer&#237;a al miedo europeo ante la tecnificaci&#243;n del arte.<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a>
Para exponer los s&#237;ntomas de un diagn&#243;stico tal, se&#241;alaba diversos contrastes y desniveles acusados respecto al Nuevo Mundo, no solo en lo concerniente a la repercusi&#243;n institucional del medio emergente y novedoso del v&#237;deo, sino tambi&#233;n a otros m&#225;s curtidos como la fotograf&#237;a y el cine. Advert&#237;a as&#237; que, mientras que varios museos norteamericanos, mayores o medianos, hab&#237;an incorporado el v&#237;deo en sus programas, colecciones y proyectos visionarios (como el de crear un canal de televisi&#243;n por cable), apenas dos museos en la Rep&#250;blica Federal de Alemania hab&#237;an llegado a integrar la fotograf&#237;a mediante la adquisici&#243;n de colecciones previas. Se&#241;alaba luego un d&#233;ficit similar en lo que respecta al &#225;mbito de las televisiones, al comparar el apabullante hervidero de los <i>TV labs</i> en las estaciones p&#250;blicas estadounidenses con la apertura m&#225;s t&#237;mida y pacata de sus desiguales equivalentes en Europa. Y, sin morderse la lengua, llegaba a hablar de &#171;miseria&#187;
para describir los rasgos generales del panorama europeo. 
</p>

<p>
Hoy nos puede sorprender esta visi&#243;n un tanto acomplejada y quejumbrosa, pero es que, por otra parte, Alemania es una de las cunas reconocidas del v&#237;deo como pr&#225;ctica art&#237;stica, y se ha distinguido por una sucesi&#243;n de hitos significativos sobre los que regresar&#233; luego
</p>

<p>
Desde el otro lado del Atl&#225;ntico, todav&#237;a en 1984, el artista &#237;taloamericano Vito Acconci se mostraba taxativo sobre aquellas desigualdades, con los razonamientos impulsivos y las frases lapidarias que caracterizan sus penetrantes escritos: &#171;El arte del v&#237;deo est&#225; enraizado, pr&#225;cticamente, en Norteam&#233;rica.
Los hechos nos dicen que tener acceso a equipos de v&#237;deo, por no decir a equipos m&#225;s sofisticados, es m&#225;s f&#225;cil para los artistas que viven en Estados Unidos. La elecci&#243;n de hacer v&#237;deo es, por tanto, el privilegio de quienes participan de una cultura del poder.
El videoarte podr&#237;a considerarse como el &#250;ltimo intento del arte norteamericano para retener su hegemon&#237;a, antes que Europa contraatacara con el neoexpresionismo&#187;.<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a></p>

<p>
Ahondando en las penurias del v&#237;deo desde su vivencia m&#225;s acusada en Espa&#241;a, por mi parte apunt&#233;
alguna vez una comparaci&#243;n con el jazz que actualmente me parece poco acertada y hasta insensata. Lo que pretend&#237;a insinuar era que, as&#237; como el jazz tiene unas ra&#237;ces inequ&#237;vocamente afroamericanas y su despliegue nativo en Estados Unidos, el arte del v&#237;deo tambi&#233;n habr&#237;a hallado su desarrollo m&#225;s rotundo en Norteam&#233;rica (aunque, en este caso, creo que habr&#237;a que incluir a Canad&#225; y su provincia secesionista de Quebec). Excepto que, tal como ocurri&#243; con el jazz, la fiebre se contagi&#243; a otras latitudes, hallando excelentes instrumentistas, cavas de fervientes aficionados y un cultivo que, partiendo de la emulaci&#243;n, dar&#237;a lugar a progresos m&#225;s aut&#243;ctonos.
Por otro lado, mi caprichosa analog&#237;a apelaba al ribete ligeramente elitista que fue adquiriendo el jazz, sobrepasado por el
<i>awopbopaloopbop alopbamboom</i> de otros ritmos derivados, hasta situarse en una posici&#243;n equidistante entre la m&#250;sica culta &#8211;o m&#225;s bien la &#171;m&#250;sica de culto&#187;, de adeptos&#8211; y la cultura popular, y embrionariamente medi&#225;tica, que fue su origen
</p>

<p>
Apenas entrados los ochenta, sin embargo, las cosas hab&#237;an empezado a percibirse de otro modo, en parte por determinados factores que, a la postre, resultaron un tanto enga&#241;osos: la consolidaci&#243;n de una industria del v&#237;deo; la carrera que emprendi&#243; la televisi&#243;n en Europa con una incipiente abundancia de nuevos canales; un salto cualitativo en los est&#225;ndares t&#233;cnicos.
Adem&#225;s, es en aquella d&#233;cada que el v&#237;deo ha penetrado de lleno en los hogares y se ha convertido en un medio familiar, en el sentido m&#225;s polis&#233;mico del t&#233;rmino. En todo caso, otro hecho determinante ser&#237;a la llegada, la manifestaci&#243;n fehaciente de una nueva generaci&#243;n, parcialmente guiada &#8211;que no adoctrinada&#8211; por los precursores, a la vez que empapada por los referentes de una opulencia audiovisual en auge. Brota entonces una perdurable asociaci&#243;n entre el v&#237;deo (y otras electr&#243;nicas) y los rangos del arte joven o emergente, independientemente del reconocimiento que iban obteniendo los artistas m&#225;s veteranos y tenaces, quienes ya entonces se inclinaban por unas modalidades instalativas, escult&#243;ricas y multimediales mejor apreciadas en los espaciosos escaparates y aposentos del arte que no en las celdillas angostas de un medio espec&#237;fico
</p>

<p>
M&#225;s tarde, el v&#237;deo dej&#243; de ser considerado un pimpollo e incluso se inst&#243; alg&#250;n acta de defunci&#243;n prematura, coincidiendo con el empuje que adquir&#237;an otras exploraciones y expectativas tecnoart&#237;sticas. Sucede que el v&#237;deo se ha demorado casi medio siglo antes que llegaran a cumplirse, m&#225;s all&#225; de lo quim&#233;rico, sus lemas y pregones; todas las proclamas guiadas por el ideal de una democratizaci&#243;n de los media, y en pro de una incorporaci&#243;n corriente de las nuevas tecnolog&#237;as a la panoplia de las herramientas de creaci&#243;n y comunicaci&#243;n (como intercambio de t&#250; a t&#250;, m&#225;s que a escala masiva y con jerarqu&#237;as interpuestas)
</p>

<p>
A mediados de los ochenta, la gama del v&#237;deo dom&#233;stico o de consumo ya ofrec&#237;a una calidad bien digna
&#8211;en especial desde la introducci&#243;n del formato de 8 mm (Video-8), que al fin de la d&#233;cada ya hab&#237;a ascendido a Hi-8&#8211;, as&#237; como una asociaci&#243;n primeriza con determinados sistemas inform&#225;ticos en el rango, a&#250;n no uniformado, del <i>personal computer</i> de precio relativamente asequible (con los Atari, los Amiga, los primeros Macintosh, entre otros). Nace entonces la denominada &#171;cultura del camescopio&#187;, aunque no ser&#225; hasta diez o m&#225;s a&#241;os despu&#233;s que todo eso alcance su cenit con la llegada de unos sistemas de v&#237;deo digital de bajo coste (el formato DV y derivados), unos ordenadores m&#225;s potentes, y unos programas de edici&#243;n y posproducci&#243;n cada vez m&#225;s sofisticados y s&#243;lidos, de uso amigable e intuitivo
</p>

<p>
As&#237; que el v&#237;deo ya no causa hoy m&#225;s miedos ni recelos en el seno art&#237;stico, salvo quiz&#225; los relativos a su conservaci&#243;n para quienes se preocupan por ello.
Adem&#225;s, incorporado de lleno a la circunstancia digital y posmedial de nuestros d&#237;as, recobra tambi&#233;n actualidad por las implicaciones que adquiere en otros terrenos, ya sean viejos o nuevos: de la cinematograf&#237;a (el concepto de cine digital, aunque a menudo manejado sin demasiado discernimiento sobre todo aquello que implica)
al campo naciente del <i>streaming</i>, el v&#237;deo en red y con capacidades interactivas, considerado como un medio en s&#237; mismo (un medio esencialmente inmaterial o <i>metamedio</i>, como sucede para tantas otras funciones anexionadas al ordenador y a sus incontables perif&#233;ricos). Comparativamente, frente a unas propagaciones e intersecciones impuras que siempre le han sido cong&#233;nitas al medio del v&#237;deo &#8211;y particularmente fecundas en su entorno, sus alrededores&#8211;, dir&#237;a que tiene una relevancia menor la circunstancia actual de una inscripci&#243;n harto repentina en el mercado art&#237;stico
</p>

<p>
El v&#237;deo puede percibirse, por otra parte, como un medio predestinado a quemar etapas de manera veloz y hasta fulminante. Quienes le hemos dedicado atenci&#243;n en su ya largo recorrido, sabemos bien de calcos inconscientes o remedos amn&#233;sicos que reproducen hallazgos y patrones anteriores; sin duda, m&#225;s por candor que por imprudencia plagiaria, aunque eso tambi&#233;n delata poco afecto por la solera propia del v&#237;deo, que no es precisamente la de una subhistoria escasamente documentada. Pero, ya en los ochenta, algunas experiencias precursoras se ve&#237;an arrinconadas al dejar de incumbir a otros rumbos m&#225;s imperiosos, o simplemente se abandonaban en el desv&#225;n de los cl&#225;sicos marchitos. Una especie de cambio de marcha que ha ido reiter&#225;ndose con sucesivas aceleraciones generacionales
</p>

<p>
En definitiva, el concepto de videoarte siempre ha sido m&#225;s un estorbo que no un distintivo &#250;til.
As&#237;, en los ochenta, particularmente en el contexto europeo, brotaron otros sintagmas sustitutivos, como el de &#171;v&#237;deo de creaci&#243;n&#187;
o &#171;de autor&#187;, que esquivaban la ampulosidad de una desinencia art&#237;stica de la que han prescindido por lo general otros medios y otras pr&#225;cticas
(impl&#237;citamente art&#237;sticas o no). A su vez, algunos de los artistas que han utilizado con regularidad el v&#237;deo han manifestado su distancia respecto a unos t&#233;rminos con los que prefieren no verse encorsetados. Incluso, si en su lugar, asoma a veces una concepci&#243;n suced&#225;nea del medio, una pr&#225;ctica se dir&#237;a que vergonzante que aspira a trepar a las plantas nobles de los museos, sorteando los recodos menos reverenciados y cotizados de las mediatecas
</p>

<p>
Tal como sugiri&#243; Mick Hartney, el sentido de este debate &#8211;un tanto f&#250;til en s&#237; mismo&#8211; estribar&#237;a en la necesaria merma de un arte para ganar, m&#225;s simplemente, un medio; uno bien d&#250;ctil para diversos prop&#243;sitos, sin recluirse necesariamente en los circuitos tradicionales y un tanto jactanciosos de las artes m&#225;s bellas, finas y suntuarias.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a>
Pero, precisamente contra la visi&#243;n unidimensional de una serie de pr&#225;cticas diversas circundadas por apelativos equ&#237;vocos, conviene recapitular una vez m&#225;s la &#233;poca inicial en la que irrumpe el v&#237;deo: el <i>entorno</i>
antes que los atributos particulares, pero tambi&#233;n circunstanciales y cambiantes, de un medio. Y, aunque circunscribo dicha recapitulaci&#243;n al mapa europeo, este es bien extenso y dispar &#8211;m&#225;s a&#250;n al retroceder en el tiempo&#8211;, como para detenerme apenas en algunos aspectos y generalidades que perfilan la v&#237;a europea al v&#237;deo: como arte, como medio y como encrucijada de senderos m&#250;ltiples
</p>

<h1 lang="es-ES" class="western">Arte por un tubo 
</h1>
<p>
La tecnolog&#237;a del v&#237;deo (o, m&#225;s rigurosamente, del <i>video recording</i>) es hija de la televisi&#243;n. Cuando los artistas, los novicios en general, se han aproximado a los dominios nuevos de la televisi&#243;n y del v&#237;deo, hab&#237;a ya los antecedentes de algunas proclamas est&#233;ticas. As&#237;, la televisi&#243;n hab&#237;a sido entrevista como un territorio art&#237;stico y artivista en el tardofuturismo (&#171;La Radia&#187;, un manifiesto de 1933) y por el grupo espacialista reunido en torno a Lucio Fontana (&#171;Manifesto del movimento spaziale per la televisione&#187;,1952)
</p>

<p>
Otras expectativas e intuiciones proced&#237;an en cambio del tubo de Braun, o tubo de rayos cat&#243;dicos, sin estar directamente ligadas a la evoluci&#243;n de la televisi&#243;n, sino a instrumentos electr&#243;nicos como oscil&#243;grafos y pantallas de radar, entre otros descubrimientos tecnol&#243;gicos de interposici&#243;n decisiva en una fase posterior; particularmente con la irrupci&#243;n del ordenador
</p>

<p>
Finalmente, la propia televisi&#243;n, entendida en principio como bien p&#250;blico, asumi&#243; los ideales de una funci&#243;n educativa y culturalista, proseguidos con tes&#243;n por algunos de sus primeros militantes y profesionales, as&#237; como por algunos conversos del gremio cinematogr&#225;fico; de Rossellini a Godard, por solo destacar dos nombres se&#241;eros
</p>

<p>
Estas directrices diversas coinciden en el historial tan particular que presenta la cartograf&#237;a alemana, en relaci&#243;n con el concepto de arte electr&#243;nico, que aflor&#243; en los sesenta, y sus fecundos v&#225;stagos en la m&#250;sica y las artes visuales, la creaci&#243;n audiovisual y la est&#233;tica cibern&#233;tica
</p>

<p>
El propio Nam June Paik, considerado el patriarca del videoarte por m&#233;ritos indiscutibles, quiso rendir tributo, al presentar sus primeras experiencias de &#171;televisi&#243;n electr&#243;nica&#187;, a un artista alem&#225;n con el que se sent&#237;a en deuda en dicho aspecto.
Se trata de Karl Otto G&#246;tz (Aquisgr&#225;n, 1914), cuya obra y trayectoria apenas se conocen fuera de su pa&#237;s, donde adem&#225;s ejerci&#243; una larga actividad docente en la Escuela de Arte de D&#252;sseldorf.<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a>
G&#246;tz se hab&#237;a interesado, desde los inicios de su actividad art&#237;stica, por la abstracci&#243;n y su derivaci&#243;n cin&#233;tica a trav&#233;s de la fotograf&#237;a y el cine, aunque parece que sus investigaciones mantuvieron un car&#225;cter experimental y especulativo, en lugar de volcarse a creaciones concluyentes. Durante la Segunda Guerra Mundial se familiariz&#243; con las pantallas de radar que se vio obligado a manejar, y de las mismas extrajo la intuici&#243;n de ciertas plasticidades imprevistas entre quienes las hab&#237;an desarrollado, acariciando la idea de una &#171;pintura electr&#243;nica&#187;
</p>

<p>
Alexandre Vitkine (Berl&#237;n, 1910), formado como ingeniero y, una vez asentado en Francia, dedicado a la fotograf&#237;a, las artes visuales y la &#171;infoescultura&#187;, tambi&#233;n ha trabajado tempranamente sobre la pl&#225;stica electr&#243;nica manipulando osciloscopios y viejos aparatos de televisi&#243;n. En 1967 realiz&#243; el film <i>Chromophonie</i>, utilizando un primitivo televisor de pantalla circular y otros artilugios rudimentarios, y partiendo de una idea que se repite en esta etapa primordial del audiovisual electr&#243;nico: la modulaci&#243;n de la imagen (las se&#241;ales de v&#237;deo) por el sonido. Estas referencias, que anta&#241;o pod&#237;an resultar extra&#241;as al desarrollo propio del v&#237;deo, nos llevan de vuelta a los nombres m&#225;s comunes de Paik, Vostell y otros que comparecer&#225;n seguidamente
</p>

<p></a>
La biograf&#237;a de Nam June Paik
(Se&#250;l, 1932 - Nueva York, 2006) nos dice que lleg&#243; a Alemania para acabar de formarse como m&#250;sico. Solo que, tras perseguir la huella de su idolatrado Sch&#246;nberg, se cruzar&#237;a con Karlheinz Stockhausen y, de manera m&#225;s crucial, con John Cage y con el esp&#237;ritu jocosamente nihilista de Fluxus. Desde 1958, la oportunidad de investigar en el Estudio de M&#250;sica Electr&#243;nica de la WDR
(Westdeutscher Rundfunk), en Colonia, le puso en contacto con los aleda&#241;os de la televisi&#243;n por la asociaci&#243;n RT (radio-televisi&#243;n)
habitual en el crecimiento europeo de los entes p&#250;blicos de
<i>broadcasting</i>
o radiodifusi&#243;n. De esta manera, junto al conocimiento de las experiencias de G&#246;tz, Paik vislumbr&#243; que era en la imagen, m&#225;s que en la m&#250;sica electr&#243;nica, donde hab&#237;a una extensi&#243;n de terreno nueva, abierta, apenas pisada todav&#237;a. O, como &#233;l mismo sostuvo, la
&#250;nica puerta que la negaci&#243;n de Duchamp hab&#237;a dejado entreabierta
</p>

<p>
La primera presentaci&#243;n p&#250;blica de la &#171;televisi&#243;n experimental&#187; de Paik tuvo lugar en la Galerie Parnass de Wuppertal con el t&#237;tulo de
<i>Exposition of Music -
Electronic Television</i>, en marzo de 1963, convirti&#233;ndose con el paso de los a&#241;os en todo un hito hist&#243;rico en el entorno del v&#237;deo.<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a>
La exposici&#243;n de Paik, constituida por una diseminaci&#243;n espacial de diversas propuestas, entre el arte sonoro y la desarticulaci&#243;n de las se&#241;ales de v&#237;deo aprovisionadas por los receptores de televisi&#243;n &#8211;a su vez con una presencia escult&#243;rica, as&#237; como objetos de mobiliario&#8211;, se asemejar&#237;a al concepto de <i>environment</i>
o ambiente, que empezaba a manejarse entonces; aparte de convertirse en escenario de acciones y demostraciones que buscaban la participaci&#243;n de los visitantes. Tanto en los pianos &#171;preparados&#187;, o m&#225;s bien devastados (uno de los cuales fue atacado con un hacha por Joseph Beuys en una acci&#243;n espont&#225;nea), como en los diversos artefactos y dispositivos s&#243;nicos para escuchar m&#250;sica por la boca;
para reproducir sonidos mediante la manipulaci&#243;n de un cabezal magn&#233;tico sobre cintas magnetof&#243;nicas desplegadas en la pared y sobre el suelo; o a modo de &#171;brochetas de discos&#187;
para su escucha con el brazo desasido de un reproductor gramof&#243;nico.
Y tambi&#233;n, entre los doce televisores esparcidos en la sala principal &#8211;de diversos modelos y &#233;pocas, manipulados electr&#243;nicamente y dispuestos de manera ca&#243;tica en todas las posiciones posibles&#8211;, las im&#225;genes (sus perturbaciones, mejor dicho) pod&#237;an ser moduladas por impulsos sonoros mediante receptores de radio, un reproductor magnetof&#243;nico o un micr&#243;fono; elementos que los visitantes pod&#237;an manejar libremente
</p>

<p>
Paik anticipa ya entonces el concepto de &#171;televisi&#243;n participativa&#187;
(<i>Participation TV</i>), que ha marcado su trayectoria, adem&#225;s de constituir una de las se&#241;as de identidad del v&#237;deo como env&#233;s de la televisi&#243;n consuetudinaria, meramente &#171;recibida&#187;
como se dice tambi&#233;n de las ideas m&#225;s trilladas. Por fin, el chapuceo electr&#243;nico en los circuitos internos del caj&#243;n televisivo conducir&#225; al m&#250;sico y artista coreano al desarrollo del videosintetizador Paik/Abe, en colaboraci&#243;n con el ingeniero japon&#233;s Shuya Abe, presentado en 1970, una vez afincado en Estados Unidos
</p>

<p>
Wolf Vostell (Leverkusen 1932 -
Berl&#237;n 1998) es el otro artista m&#225;s ampliamente asociado a la genealog&#237;a del v&#237;deo, tambi&#233;n en la &#243;rbita de Fluxus desde las primeras manifestaciones de esta hermandad internacional de fulleros del arte. Poco importa si Vostell false&#243; las fechas de ciertas obras o proyectos, urdiendo ficciones autobiogr&#225;ficas para acompasar sus pasos a los de Paik, o incluso por delante,<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a>
su manera de abordar la televisi&#243;n y el v&#237;deo tiene finalmente un sello bien distinto, partiendo del concepto de <i>d&#233;-coll/age</i>
con el que describi&#243; desde 1954 su obra pl&#225;stica y sus happenings y environments. Vostell ha introducido otra manera de desgarrar la televisi&#243;n, sus im&#225;genes y su simbolismo en la sociedad del bienestar y del consumo, pero no a la manera de Paik &#8211;por alteraci&#243;n de sus entra&#241;as electr&#243;nicas&#8211;, sino m&#225;s bien por perturbaciones y colisiones m&#225;s simples, pero efectivas. 
</p>

<p>
Arrancando de la pantalla electr&#243;nica su ruido, como hizo en el film <i>Sun in Your Head</i> (1963); o creando ambientaciones con televisores desarreglados y otros elementos aparentemente incongruentes, como hizo en su primera exposici&#243;n en Nueva York (Smolin Gallery, 1963) con su disposici&#243;n desordenada de seis televisores, algunos con la pantalla ocluida con cinta adhesiva y la recepci&#243;n enturbiada de diversas maneras, y con otros objetos y elementos de mobiliario interpuestos. Tambi&#233;n en la rudeza de las acciones sacrificiales que incluy&#243; en sus <i>happenings</i>:
el suplicio y entierro de un televisor (<i>TV Burying</i>, 1963) o el acto de disparar contra la pantalla de un receptor encendido (<i>9-Nein Decollagen</i>, 1963).
Referencias que bastar&#237;an para reconocer la actividad pionera de Vostell en el entorno del v&#237;deo, sin necesidad de entrar en cotejos rivales con la de Paik
</p>

<p>La multiplicaci&#243;n de los canales de televisi&#243;n en la Rep&#250;blica Federal Alemana, fundamentada en la autonom&#237;a administrativa de sus regiones o <i>l&#228;nder</i>, unida a una concepci&#243;n de servicio p&#250;blico que favorec&#237;a los programas culturales y educativos, abri&#243; las puertas a ciertas experiencias de presentaci&#243;n art&#237;stica, m&#225;s que de mera representaci&#243;n documental o informativa; en otras palabras, dio pie a la televisi&#243;n concebida como un veh&#237;culo est&#233;tico en s&#237; mismo.
En 1968, la Westdeutscher Rundfunk (WDR) inaugur&#243; un nuevo estudio, dotado con los &#250;ltimos recursos del momento, con la producci&#243;n de
<i>Black Gate Cologne</i>, un espect&#225;culo intermedia concebido por Otto Piene (Laasphe, Westfalia 1928) y Aldo Tambellini (Syracuse, Nueva York 1930). El programa trasladaba a la peque&#241;a pantalla las experiencias de su teatro lum&#237;nico y de participaci&#243;n, The Black Gate, en el que combinaban esculturas de pl&#225;stico hinchable, monitores con grabaciones de v&#237;deo y proyecciones cinematogr&#225;ficas y de diapositivas, entre otros elementos esc&#233;nicos que propiciaban la participaci&#243;n del p&#250;blico. 
</p>

<p>Hacia 1969, la WDR cre&#243;, por otra parte, un departamento de televisi&#243;n musical que, bajo la direcci&#243;n de Manfred Gr&#228;ter y con el catal&#225;n Josep Montes-Baquer como realizador y productor delegado, auspici&#243;
una l&#237;nea de experimentaci&#243;n regida por la noci&#243;n de &#171;composici&#243;n audiovisual&#187;. Se trataba,de una producci&#243;n de calidad y de motivaci&#243;n musical (sin entrar empero en los contornos pop-rock m&#225;s manidos) en busca de nuevos formatos. En su nutrido historial consta la participaci&#243;n de diversos compositores y artistas electr&#243;nicos, como Jan W.
Morthenson, Jan Bark, Bernard Parmegiani, Manfred Kage, adem&#225;s de las brillantes realizaciones de Montes-Baquer, que incluyen su extraordinaria colaboraci&#243;n con Salvador Dal&#237;, <i>Impressions de la Haute-Mongolie (Hommage &#224; Raymond Roussel)</i>
(1974-1975), y versiones o visualizaciones sinest&#233;sicas de composiciones de Scriabin y Holst
</p>

<p>Otro jal&#243;n, insoslayable aunque ef&#237;mero, fue el del malogrado Gerry Schum (Colonia 1938 - D&#252;sseldorf 1973) y su Fernsehgalerie o telegaler&#237;a. La primera &#171;exposici&#243;n televisiva&#187;
(<i>Fernsehausstellung</i>)
dio nombre pr&#225;cticamente a una corriente art&#237;stica bien pujante a finales de los sesenta: <i>Land Art</i>, programa emitido por la Sender Freies Berlin (SFB) el 15 de abril de 1969, presenta ocho acciones o intervenciones paisajistas de Richard Long, Barry Flanagan, Dennis Oppenheim, Robert Smithson, Marinus Boezem, Jan Dibbets, Walter de Maria y Mike Heizer. La segunda, <i>Identifications</i>, fue emitida por la S&#252;dwestfunk (SWF) el 30 de noviembre de 1970, aunque la financiaci&#243;n provino b&#225;sicamente de la Kunstverein de Hannover. Este compendio recogi&#243; las propuestas &#8211;&#171;pura m&#237;mica&#187;
en palabras de Schum, incluso cercana a los gags de Fluxus&#8211; de una veintena de artistas europeos y norteamericanos representativos de las corrientes procesuales y conceptuales. Entre ellas destacan, por su contundencia o su sutileza, las de Joseph Beuys, Reiner Ruthenbeck, Hamish Fulton, Alighiero Boetti, Gino de Dominicis, Mario Merz, Gary Kuehn y Keith Sonnier
</p>

<p>Schum, que se hab&#237;a formado como cineasta y que hab&#237;a realizado previamente dos documentales sobre arte para la WDR, actu&#243;
triplemente como comisario, productor y realizador en ambos casos. Su premisa, sin embargo, no era la de realizar documentales al uso y, en consecuencia, rehuy&#243; las convenciones de toda explicaci&#243;n didasc&#225;lica (la voz en off, la entrevista con el artista) m&#225;s all&#225;
del proemio de cada programa. A su vez, persigui&#243; la m&#225;xima sobriedad en la realizaci&#243;n, limit&#225;ndose a elegir el punto de vista o el movimiento de c&#225;mara m&#225;s adecuado en cada caso. Todo ello se resume en una concepci&#243;n que antepone &#171;la comunicaci&#243;n art&#237;stica por oposici&#243;n a la posesi&#243;n de objetos art&#237;sticos&#187;,<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a>
en consonancia con las corrientes expansivas y desmaterializadas del arte por el que se interes&#243;
</p>

<p>Entre
<i>Land Art</i>
e <i>Identifications</i>, Gerry Schum logr&#243; colar en las parrillas televisivas sendas propuestas de Keith Arnatt (<i>Self-Burial)</i>
y Jan Dibbets (<i>TV as a Fireplace</i>), concebidas como intersticios an&#243;nimos, miniaturas al gusto de los requisitos de continuidad de las televisiones y de sus frecuentes hiatos.<a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a>
Sin embargo, decepcionado al cabo por la escasa receptividad que lograron sus propuestas, su paso siguiente fue la apertura de una videogaler&#237;a en D&#252;sseldorf. Con ello se convirti&#243; en uno de los primeros en ensayar la introducci&#243;n del v&#237;deo en el mercado del arte mediante la pr&#225;ctica controvertida, y reaparecida recientemente, de las ediciones limitadas al modo de la obra gr&#225;fica:
reproducciones destinadas a un n&#250;mero restringido de poseedores, garantizadas por la firma del artista y la destrucci&#243;n atestiguada de la matriz, embellecidas incluso con el gancho de envoltorios y elementos anexos; usanzas en cierto modo contradictorias con la concepci&#243;n primera de su Fernsehgalerie. A pesar de las desesperanzadoras expectativas que hall&#243; en ambos per&#237;metros &#8211;la televisi&#243;n y el mercado art&#237;stico&#8211;, trabaj&#243; a&#250;n para inserir el v&#237;deo en el marco p&#250;blico del museo, antes de quitarse la vida
</p>

<p>Aunque la peripecia de Schum nos dice que las televisiones nunca han estado dispuestas a correr riesgos, lo cierto es que los canales alemanes
&#8211;tanto la segunda cadena (ZDF) como los terceros canales regionales&#8211; se han distinguido tempranamente por su apoyo a otras propuestas experimentales e innovadoras, que incluyen la amplia obra audiovisual del iconoclasta compositor argentino Mauricio Kagel &#8211;de
<i>Antithese</i>
(1965) a <i>Bestiarium</i>
(2000)&#8211; o ciertas expansiones televisivas de la poes&#237;a experimental de Ferdinand Kriwet (<i>Teletext</i>, 1967, y otras realizaciones sucesivas) y Gerhard R&#252;hm (<i>3 kinematografische Texte</i> y
<i>2 textfilme</i>, 1969-1970). En todo caso, el apoyo m&#225;s claro y constante ha sido el que se ha prestado al cine; no solo al Joven Cine Alem&#225;n, sino tambi&#233;n al cine de autor e independiente internacional, incluyendo algunas de sus fracciones m&#225;s radicales. Un referente importante en este aspecto es el programa <i>Das kleine Fernsehspiel</i> de la ZDF, creado en 1962 y que ha seguido en antena desde entonces, con una gran flexibilidad de formato por su horario tardonocturno. Dicho espacio, sin embargo, no empez&#243; a incorporar plenamente el v&#237;deo hasta 1978, con <i>Video 50</i>
de Robert Wilson
</p>

<p>Tradicionalmente, estos aspectos se han excluido de la historiograf&#237;a del v&#237;deo, quiz&#225; porque esta se ha escrito preponderantemente desde el punto de vista de las artes visuales. Por otra parte, en muchas televisiones europeas, el uso del instrumental cinematogr&#225;fico fue habitual hasta bien entrados los ochenta, excepto para las grabaciones en estudio y, evidentemente, las emisiones en directo
</p>

<p>As&#237;
como en Alemania se suceden una serie de experiencias que, aun siendo aisladas, proporcionan una visi&#243;n acompasada del amanecer de un nuevo campo est&#233;tico, en otros pa&#237;ses europeos apenas hay signos de otras actividades precursoras antes del final de los sesenta.
Deteng&#225;monos, sin embargo, en el caso particular de Francia, con algunos salientes en la Radio T&#233;l&#233;vision Fran&#231;aise (RTF) y su Service de la Recherche. En primer lugar, la figura tan singular e idiosincr&#225;sica de Jean-Christophe Averty (Par&#237;s 1928), realizador en plantilla que ha introducido un lenguaje innovador, tanto en programas musicales y de variedades (<i>Histoire de sourire</i>, <i>Les Raisins verts</i>, <i>Au risque de vous plaire</i>)
como en dramaturgias reveladoras de su devoci&#243;n por las primeras vanguardias y sus antepasados (<i>Ubu roi</i>, 1965, primera de una serie de adaptaciones de otros textos de Jarry, Lewis Carroll, Lautr&#233;amont, Roussel, Apollinaire, Cocteau y otros). El estilo de Averty se caracteriza por su noci&#243;n de <i>mise en page</i> (es decir, diagramaci&#243;n) &#8211;tal como firm&#243; muchas de sus realizaciones&shy;&#8211;, al crear composiciones electr&#243;nicas con una concepci&#243;n gr&#225;fica, deudora de los c&#243;mics y del collage, que aplana las im&#225;genes
</p>

<p>En cuanto al Service de la Recherche de la RTF, su caso recuerda el del Estudio de M&#250;sica Electr&#243;nica de la WDR donde, seg&#250;n algunos testimonios, habr&#237;a germinado la intuici&#243;n de la imagen electr&#243;nica como un territorio pr&#225;cticamente virgen (Paik, Vostell). Desde 1960 y bajo la direcci&#243;n de Pierre Schaeffer, fact&#243;tum de la m&#250;sica concreta o acusm&#225;tica, quien lo vertebr&#243; en torno al GRM (Groupe de Recherche Musicale), fundado unos a&#241;os antes por &#233;l mismo, dicho departamento atrajo tambi&#233;n a un n&#250;mero de artistas visuales y cineastas. Pero su repercusi&#243;n en el campo audiovisual fue incomparablemente menor que en el musical y radiof&#243;nico, privilegi&#225;ndose los senderos del cine animado y la visualizaci&#243;n musical. Incluso si m&#225;s tarde se instituyeron los GRI (Groupe de Recherche Image) y GRT (Groupe de Recherche Technique), no ser&#237;a hasta la absorci&#243;n de los mismos por el INA (Institut National de l&#8217;Audiovisuel), en 1974, que se abrir&#237;a una etapa de mayor repercusi&#243;n para el videoarte galo y la innovaci&#243;n televisiva
</p>

<p>Con todo, de los a&#241;os del Service de la Recherche cabe retener sus peque&#241;os jalones en cuanto a la exploraci&#243;n de nuevas t&#233;cnicas e instrumentos. El artista h&#250;ngaro Nicolas Sch&#246;ffer (Kalocsa 1912), precursor de una est&#233;tica cibern&#233;tica, ejecut&#243; en este marco
<i>Variations luminodynamiques I</i>
(1961): poco m&#225;s que una demostraci&#243;n de las posibilidades de su Luminoscope &#8211;sucesivamente perfeccionado en el Teleluminoscope
(1962)&#8211; para un rudimentario procesamiento electr&#243;nico de im&#225;genes de c&#225;mara, que en dicho caso fueron de ballet y jazz. Ya en la segunda mitad de los sesenta, Francis Coupigny desarroll&#243; un nuevo artefacto con el nombre de <i>truqueur universel</i>, empleado a fondo por Averty, as&#237; como en los videofilms un tanto psicod&#233;licos del artista Martial Raysse y en alguna cinta de animaci&#243;n de Peter Foldes. Finalmente, este &#250;ltimo inici&#243; tambi&#233;n en dicho marco su incursi&#243;n en la animaci&#243;n asistida por ordenador (<i>Narcissus</i>, 1971)
</p>

<p>En cuanto a las pesquisas que han puesto el acento sobre las entra&#241;as de la imagen electr&#243;nica, propiciando la invenci&#243;n de sintetizadores, procesadores y otra cacharrer&#237;a anal&#243;gica, dicho aspecto tuvo en Europa un relieve aparentemente menor que en Estados Unidos. Sin embargo, en p&#225;rrafos anteriores ya se recogieron algunos referentes m&#225;s o menos tempranos y, pasando l&#225;minas del atlas europeo, se descubre la singularidad de otros m&#225;s en los a&#241;os sesenta y setenta. Se entremezclan entonces, tal como sucedi&#243; al otro lado del Atl&#225;ntico, los nombres de artistas y t&#233;cnicos, o con el doble perfil del tecnoartista; creadores, en varios casos, provenientes del arte lum&#237;nico y cin&#233;tico, o de afectos entre el constructivismo, la nueva m&#250;sica y la sinestesia. Y los artilugios y t&#233;cnicas que introducen tienen indistintamente un uso privativo, como si de un instrumento personal se tratara, o son puestos a disposici&#243;n de otros artistas e incluso comercializados en el negocio emergente de la posproducci&#243;n
</p>

<p>
En Alemania cabe mencionar los nombres de Manfred Kage (Audioskop, 1965: un instrumento de visualizaci&#243;n musical), Ludwig Rehberg y el compositor Walter Schr&#246;der-Limmer. La televisi&#243;n sueca ha brindado soporte a los precoces experimentos de Ture Sj&#246;lander, Bror Wikstr&#246;m y Lars Weck
(<i>Time</i>, 1965-1966; <i>Monument</i>, 1967) y de Ronald Nameth m&#225;s tarde (el tr&#237;ptico <i>The Art of Energy</i>, 1975). En Italia, Vincenzo Agnetti y Gianni Colombo realizaron en 1970 tempranas experiencias de una naturaleza entre demostrativa y te&#243;rica
(<i>Orizzontale</i>,
<i>Vobulazione</i>,
<i>Bieloquenza Neg</i>).
En Francia, tras el <i>truqueur universel</i> de Coupigny, otro t&#233;cnico de la ORTF, Marcel Dupouy, introdujo el Movicolor
(1973), ampliamente utilizado entre la primera generaci&#243;n de videoartistas franceses. En Holanda sobresale la figura de Livinus
(Livinus van de Bundt), fundador de la Academia Libre de La Haya. En Gran Breta&#241;a, adem&#225;s de los sintetizadores EMS de audio y de v&#237;deo
&#8211;en cuyo desarrollo intervinieron m&#250;sicos y creadores visuales&#8211;, trabajaron en esta senda Peter Donebauer con su Videokalos Colour Synthesizer, que tambi&#233;n utlizaron Brian Hoey y Chris Meigh Andrews
</p>

<p><b>Tiempos heroicos</b></p>

<p>A partir de la llegada a Europa de los equipos de v&#237;deo de peque&#241;o formato (media pulgada) &#8211;primero estacionarios y luego port&#225;tiles:
el m&#237;tico <i>portapak</i>, el magnetoscopio-macuto unido por un cable umbilical a una c&#225;mara tosca pero prodigiosa&#8211;, las cosas se aceleraron desde 1968-1969
</p>

<p>Los relatos &#171;nacionales&#187;
que han recapitulado los distintos escenarios europeos del v&#237;deo (y pr&#225;cticas afines) mantienen una cierta semejanza en cuanto a las fechas que los acotan y los an&#225;lisis que trazan por etapas, tendencias y generaciones. Por supuesto, de un pa&#237;s a otro hay notables diferencias de bulto y los desfases correspondientes a unas circunstancias diversas de aislamiento pol&#237;tico, geocultural o tecnol&#243;gico. En cualquier caso, al margen del peculiar historial de la RFA, entre 1968 y los primeros setenta se descorcha la historia
(ni que sea microhistoria) en Francia, el Reino Unido, Italia, Austria, Holanda, B&#233;lgica, Espa&#241;a, Irlanda, Polonia, Hungr&#237;a y la antigua Yugoslavia (particularmente en Eslovenia)
</p>

<p>Tal como he sugerido anteriormente, dichos relatos han sido a menudo escritos desde el &#225;mbito de las artes visuales y realiment&#225;ndose unos con otros, de manera que coinciden abundantemente en unos primeros signos de actividad asociados con las diversas corrientes de una desmaterializaci&#243;n o impugnaci&#243;n del arte. En este sentido, el v&#237;deo ha encontrado inicialmente unos usos entre instrumentales
&#8211;como registro de acciones, realizaciones ef&#237;meras, ideas del arte-como-idea&#8211; y ensimismados con los entresijos del medio mismo;
aunque tambi&#233;n ha desbrozado un sendero alternativo en proyectos con frecuencia colectivos de cr&#243;nica de la realidad, contrainformaci&#243;n y activismo social
</p>

<p>El v&#237;deo ha generado espont&#225;neamente una militancia por el medio mismo y sus utop&#237;as, con cierto proselitismo incluido. Creadores y ac&#243;litos se han puesto manos a la obra para levantar estructuras, coordinar recursos, establecer circuitos, abrir salidas y generar un respaldo cr&#237;tico. La relaci&#243;n de estos afanes es parte esencial de los relatos que envuelven el coraz&#243;n de las pr&#225;cticas: sus nombres propios, sus obras descollantes, sus maquinaciones colectivas.
Algunas de estas iniciativas se originaron en el contexto art&#237;stico;
otras desde el intento de articular un sector propio
</p>

<p>En Italia, la actividad empez&#243; bien pronto: Luciano Giaccari, en Varese, cre&#243; en 1968 el Studio 970/2, que se dedicaba a tareas de documentaci&#243;n art&#237;stica y cultural para luego establecer una videoteca y consagrarse a otras actividades comisariales y te&#243;ricas.
Otro centro importante fue Art/Tapes/22, en Florencia, fundado en 1973 por Maria Gloria Bicocchi y que cont&#243; con Bill Viola como director t&#233;cnico. Siguiendo en cierta forma el modelo de la Videogalerie Schum, favoreci&#243; los intercambios entre Europa y Norteam&#233;rica y, hasta su clausura tres a&#241;os m&#225;s tarde, emprendi&#243;
cerca de un centenar de producciones. La efervescencia art&#237;stica que vivi&#243; Italia en aquellos a&#241;os, tanto en centros p&#250;blicos como en galer&#237;as privadas, se reflej&#243; en otras iniciativas mixtas de producci&#243;n y exhibici&#243;n diseminadas por su geograf&#237;a (como el Centro Video Arte en el Palazzo dei Diamanti de Ferrara o los Videotape del Cavallino de la galer&#237;a del mismo nombre en Venecia)
</p>

<p>En Alemania, siguiendo los pasos del finado Gerry Schum, su viuda, Ursula Wevers, cre&#243; la Galerie Projektion en Colonia (1973), e Ingrid Oppenheim, el Studio Oppenheim en la misma ciudad (1974), mientras que, en M&#250;nich, Karlheinz y Renate Hein incorporaban el v&#237;deo al osado cat&#225;logo de su P.A.P. Filmgalerie. Todas estas experiencias perecieron a corto plazo, pero sus peque&#241;os tesoros fueron a parar en gran parte a centros p&#250;blicos y algunos aguardan todav&#237;a una revalorizaci&#243;n contempor&#225;nea. Otras galer&#237;as, espacios alternativos y centros culturales dieron tambi&#233;n cancha al v&#237;deo en pa&#237;ses como Holanda, B&#233;lgica, Francia, Reino Unido y Espa&#241;a, en el doble plano de su producci&#243;n y difusi&#243;n p&#250;blica
</p>

<p>La distribuci&#243;n ha sido otra de las encrucijadas que ha tenido que abordar el medio emergente del v&#237;deo, tras el fracaso de algunas tentativas prematuras, confiadas a una especulaci&#243;n cremat&#237;stica que ha tardado casi veinte a&#241;os en resurgir y hacerse viable. En el intervalo, los modelos de distribuci&#243;n del cine exc&#233;ntrico
(independiente, experimental, underground) fueron adoptados por asociaciones o entidades autogestionarias como London Video Arts
(luego London Video Access) en Gran Breta&#241;a y Monte Video en Holanda, a las que en los ochenta se sumaron 235 Media en Alemania, Heure Exquise! en Francia o Argos en B&#233;lgica, por limitar la menci&#243;n a los proyectos m&#225;s s&#243;lidos y duraderos
</p>

<p>Otro aspecto bien distinto es el de los colectivos que, ya sea con una expresa militancia pol&#237;tica o pospol&#237;tica (en referencia a reclamaciones identitarias y de las minor&#237;as sociales), ya sea por una vocaci&#243;n civil y comunitaria, se han inscrito en una est&#233;tica de la comunicaci&#243;n y del mediactivismo: TVX en Gran Beta&#241;a, los errantes Videoheads en Francia, Holanda y dondequiera que se les solicitara; Video Audio Medien, Telewissen y los <i>medienzentrums</i>
en Alemania; en Francia, los grupos Dziga Vertov, Medvedkine, Video Out, Video 00, Les cent fleurs y Vid&#233;a en Francia; Videobase en Italia; Videonou en Catalu&#241;a (y, ya con respaldo p&#250;blico, su secuela en el Servei de V&#237;deo Comunitari)
</p>

<p>Desde 1973 han abundado las muestras colectivas y los encuentros que han propiciado la difusi&#243;n p&#250;blica y el contagio de ese medio todav&#237;a novicio y arcano que era el v&#237;deo, en lo que puede considerarse su primera erupci&#243;n en Europa. No voy a enumerar estas m&#250;ltiples manifestaciones, aunque llama la atenci&#243;n el enunciado gen&#233;rico de muchas de ellas &#8211;<i>Audiovisuelle Botschaften</i> [mensajes audiovisuales] (<i>Trigon
&#8217;73</i>, Graz, 1973), <i>Art Video Confrontation</i>
(Par&#237;s, 1974), <i>Artist&#8217;s Videotapes</i>
(Bruselas,1975), <i>The Video Show</i> (Londres, 1975), etc.&#8211;, denotando en definitiva que el medio era el mensaje y el v&#237;deo un arte pujante. Su ratificaci&#243;n se ha dado con la gran presencia audiovisual en la Documenta 6 (Kassel, 1977). Estas manifestaciones son, a su vez, la antesala de otras que han seguido en los ochenta, cuando tambi&#233;n se han impuesto otros modelos como los festivales, competitivos o no, las programaciones estables y los centros especializados y videotecas
</p>

<p>En el territorio siempre esquivo de la televisi&#243;n, m&#225;s all&#225; de los referentes ya expuestos habr&#237;a que destacar la emisi&#243;n <i>Vid&#233;ographie</i>
de la Radio T&#233;l&#233;vision Belge Francophone (RTBF), en su centro de Lieja, que se mantuvo en antena de 1975 a 1986 bajo la tenaz direcci&#243;n de Jean-Paul Trefois. Dicho programa comenz&#243; siendo un escaparate de la producci&#243;n internacional, y particularmente norteamericana, para impulsar desde 1978 las creaciones originales de artistas y realizadores independientes belgas. As&#237;, en un pa&#237;s que carec&#237;a pr&#225;cticamente de industria cinematogr&#225;fica, la asociaci&#243;n entre la televisi&#243;n y los radicales libres del v&#237;deo dio paso a unas aportaciones innovadoras, especialmente entre la ficci&#243;n y el documental, en formatos h&#237;bridos
</p>

<p>En los ochenta, otras emisiones y series en televisiones diversas han puesto de manifiesto las expectativas que ha despertado el v&#237;deo, incluso si se ubicaban en franjas marginales de las parrillas de programaci&#243;n. Por mencionar tan solo algunos t&#237;tulos: en Francia,
<i>Juste une image</i>
(producci&#243;n del INA para Antenne 2) o <i>Avance sur image</i> (Canal Plus);
en el Reino Unido, <i>Ghosts in the Machine</i> (Channel Four), <i>White Noise</i>
(BBC-2) y el <i>slot</i>
polivalente de <i>The Eleventh Hour</i> (tambi&#233;n en Channel Four y a la manera de <i>Das kleine Fernsehspiel</i>); en Espa&#241;a, el longevo magaz&#237;n de tendencias <i>Metr&#243;polis</i>
y la serie de trece programas <i>El arte del v&#237;deo</i> (TVE 2).
En general, estos espacios tambi&#233;n han alternado el escaparate de la creaci&#243;n internacional con la producci&#243;n, regular u ocasional, de nuevas obras
</p>

<p>La televisi&#243;n, en cierto modo, ha estado en el epicentro de una etapa que ya queda fuera del alcance de este texto, cuando el videoarte, en su modalidad monocanal al menos, ha tenido su llamada al orden. Hacia la mitad de los ochenta especialmente, ese era el orden de los g&#233;neros audiovisuales establecidos &#8211;la tr&#237;ada de la ficci&#243;n, el documental y las fantas&#237;as (animaciones y videoclips, por ejemplo)&#8211;, antes que el galimat&#237;as del arte contempor&#225;neo con sus m&#250;ltiples corrientes. La demanda de unos activos de producci&#243;n y entretenimiento &#8211;en consonancia con unos medios m&#225;s potentes y como mayor garant&#237;a de una intubaci&#243;n televisiva&#8211; se ha reflejado en la vistosidad de las manufacturas de la &#233;poca, aunque, a costa de ello, algunas han envejecido m&#225;s r&#225;pidamente que otras m&#225;s primarias y austeras
</p>

<p>Luego, las ilusiones depositadas en una inscripci&#243;n televisiva del v&#237;deo se han desvanecido de nuevo, para fluir en parte hacia otros medios m&#225;s novedosos, entre los cuales una red sin jerarqu&#237;as visibles frente a la l&#250;gubre connotaci&#243;n de las &#171;cadenas&#187;
televisivas (y todo son <i>networks</i>).
Sin embargo, no puede decirse que la televisi&#243;n se haya convertido en una meta abandonada, tal como lo atestiguan algunas experiencias art&#237;sticas y artivistas que han seguido brotando. Por su parte, el v&#237;deo ha vuelto a adquirir un contorno positivamente indefinido porque, a fin de cuentas, delimita un campo abierto y heterog&#233;neo por oposici&#243;n a la uniformidad y la cerraz&#243;n medi&#225;tica
</p>
<div id="sdfootnote1">
	<p>
	</span>Wulf
	Herzogenrath: </span>,
	en Richard Kriesche (ed.), </span>Art,
	Artist &amp; the Media</i></span>.
	Graz: AVZ Books, 1978.</span></p>
	<p> 
	</p>
<div id="sdfootnote2">
	<p>
	</span>Vito
	Acconci: </span>Television,
	Furniture and Sculpture: The Room with the American View</span>,
	en </span>Het
	Lumineuze Beeld / The Luminous Image</i></span>.&#193;msterdam:
	Stedelijk Museum, p. 18, 1984</span>
	[cat. exp.]
</p>
	<p>
	</p>
<div id="sdfootnote3">
	<p>
	</span>Mick
	Hartney: </span>Video
	in Great Britain: Or how we lost an art form and found a medium</span>,
	en Ren&#233; Payant (ed.), </span>.
	Montreal: Artextes, pp. 78-91, 1986.</span></p>
	<p>
	</p>
<div id="sdfootnote4">
	<p>
	Tras
	el retiro de G&#246;tz como docente, en 1979, Paik se incorpor&#243;
	precisamente al elenco profesoral de la misma escuela
</p>
	<p>
	</p>
<div id="sdfootnote5">
	<p>
	Sin
	embargo, dicha exposici&#243;n tuvo lugar en un espacio que no era una
	galer&#237;a de arte al uso, sino una sala ubicada en la residencia
	privada de un arquitecto; permaneci&#243; abierta apenas diez d&#237;as, y
	solo un par de horas cada d&#237;a, en el tramo en que la tarde se
	adentra en la noche, debido al horario tan limitado de las emisiones
	televisivas por aquel entonces
</p>
	<p>
	</p>
<div id="sdfootnote6">
	<p>
	Una
	concienzuda tesis doctoral de Edith Decker sobre Paik, puso en
	entredicho algunas de las dataciones pretendidas por Vostell; v&#233;ase
	E. Decker: <i>Paik
	Video</i>.
	Colonia:
	DuMont, pp. 40-52, 1988.</span>
	</span>
	</p>
	<p>
	</p>
<div id="sdfootnote7">
	<p>
	</span>Gerry
	Schum: </span>Letter
	to Gene Youngblood</span>,
	en </span>Land
	Art</i></span>.
	Berl&#237;n: Fernsehgalerie Gerry Schum, pp. 4-5, 1969.</span></p>
	<p>
	</p>
<div id="sdfootnote8">
	<p>
	En
	fechas cercanas a las ingerencias mencionadas, otros artistas
	lograron introducir intervenciones de un cariz similar en el flujo
	de otras televisiones: Peter Weibel (<i>The
	Endless Sandwich</i>,
	1970; <i>Abbildung
	ist ein Verbrechen</i>,
	1971) y Valie Export (<i>Facing
	a Family</i>,
	1971) en la televisi&#243;n austriaca (ORF); David Hall en la televisi&#243;n
	escocesa (<i>7
	TV Pieces</i>,
	1971)
</p>
	<p>
	</p>
