
<p></a>
<b>Electr&#243;nica de la realidad.
Entre visualidad y simulacro</b></p>

<p>
<i>
Present continu. Producci&#243; art&#237;stica i construcci&#243; de realitat.
QUAM</i>.
Vic: H. Associaci&#243; per a les Arts Contempor&#224;nies i Eumo Editorial, 2006. Traducido por Carlos Mayor
</p>

<p>
Como punto de partida he querido conjuntar la <i>electr&#243;nica
</i>con la <i>realidad</i>
para jugar con el posible contrasentido de la expresi&#243;n, ya que los
<i>datos</i>
de los que pretendo ocuparme no son <i>registros</i>
estrictamente objetivos (como los que persigue por ejemplo la estad&#237;stica) sino fruto de operaciones creativas con tecnolog&#237;as de la imagen, audiovisuales y multimedia. Por tanto, esta intervenci&#243;n
<i>creativa </i>&#8211;incluso si quisi&#233;semos descartar esta expresi&#243;n y anteponer una aspiraci&#243;n
<i>informativa</i>
(pretendidamente objetiva o, al contrario, con un claro posicionamiento)&#8211;
supone una <i>interpretaci&#243;n,
</i>digamos que libre, de los datos procesados. Y es aqu&#237;, me parece, donde se producir&#237;a el acuerdo entre la realidad y la electr&#243;nica
</p>

<p>
He sugerido, sin embargo, un contrasentido, alguna cosa que quiz&#225; no acaba de encajar... En primer lugar, lo formulo as&#237; porque la electr&#243;nica, en una acepci&#243;n gen&#233;rica, supone un grado elevado de abstracci&#243;n que parece estar en las ant&#237;podas de las cosas concretas que suponen nuestra aprehensi&#243;n m&#225;s inmediata de la realidad: el mundo f&#237;sico y social, la cotidianidad, el <i>presente continuo</i> que da nombre a esta convocatoria. La electr&#243;nica pertenece a la &#243;rbita de la ciencia, la tecnolog&#237;a y las cosas exactas; se ocupa de los elementos infinitesimales del &#225;tomo y utiliza componentes y chips cada vez m&#225;s peque&#241;os y potentes, diagramas y cajas negras ininteligibles para los profanos, con unas aplicaciones cada vez m&#225;s variadas y vers&#225;tiles
</p>

<p>
En segundo lugar, cuando se habla de
<i>arte electr&#243;nico</i>, a menudo parece que lo que se prioriza es justamente el hecho de que sea &#171;electr&#243;nico&#187;, por encima de cualquier otra cosa. Ufano de la propia tecnolog&#237;a empleada, como si dij&#233;semos, y como si tuviera que tomar siempre la delantera. No solamente respecto a otras pr&#225;cticas y t&#233;cnicas art&#237;sticas con una larga tradici&#243;n y reverberaci&#243;n cultural, sino tambi&#233;n respecto de aquella electr&#243;nica que, s&#250;bitamente, deviene un tanto arcaica. Y en el s&#250;mmum de la creaci&#243;n electr&#243;nica, la realidad no parece que pueda ser otra cosa que simulaci&#243;n o <i>realidad virtual</i>, casi demi&#250;rgica
</p>

<p>
As&#237;, en una circunscripci&#243;n creativa donde tambi&#233;n caben los sectores profesionales e industriales de la comunicaci&#243;n, la publicidad y el espect&#225;culo;
los mundos de la ciencia y de la t&#233;cnica (en la medida en que se ocupan de cuestiones de <i>visualizaci&#243;n,</i>
por ejemplo); los aficionados y los apasionados de las m&#225;quinas, etc. &#8211;porque un desdibujamiento tal del campo art&#237;stico es muy propio de una preocupaci&#243;n tecnol&#243;gica que supera las divisorias tradicionales&#8211;, nos damos cuenta de que un elemento como la c&#225;mara, tan emblem&#225;tico antes de nuestras transacciones tecnoest&#233;ticas con la realidad, ha pasado a ser visto, de manera creciente, como un <i>perif&#233;rico
</i>m&#225;s, entre muchos otros, de la <i>unidad central de proceso</i> (CPU) del computador digital, t&#243;tem por excelencia de este a&#241;o 2001, tan connotado culturalmente.<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a></p>

<p>
Este desplazamiento de la &#243;ptica a la electr&#243;nica, el c&#243;digo num&#233;rico y la visualizaci&#243;n posfotogr&#225;fica nos apremia a repensar el papel de la t&#233;cnica en la percepci&#243;n, representaci&#243;n y descripci&#243;n de la realidad. Si la fotograf&#237;a fue primeramente entendida como <i>el l&#225;piz de la naturaleza, el espejo con memoria, la huella luminosa</i>
de lo visible, el concepto mismo de <i>posfotograf&#237;a
</i>pone en cuesti&#243;n tanto la analog&#237;a ocular como la vectorialidad y el rastro del tiempo. Las im&#225;genes del pasado son ahora depositadas en bancos de datos, digitalizadas, tratadas con el Photoshop, redibujadas o suplantadas con las herramientas m&#225;s potentes de la inform&#225;tica gr&#225;fica. As&#237;, cada vez que estos datos son recuperados, reproducidos, visualizados, reprocesados o manipulados, toman una segunda realidad en el plano literal del presente
</p>

<p>
Con los conceptos de <i>visualidad
</i>y<i>
simulacro</i> pretendo cifrar y compendiar &#8211;con
(y entre) un par de palabras clave&#8211;
el paso dr&#225;stico que se acent&#250;a en estos tiempos tan digitales, de un h&#225;bito perceptivo sensorial y mim&#233;tico a la necesidad de una
<i>inteligibilidad subliminal</i>. Expresamente, no quiero reducirlo sin embargo a una cuesti&#243;n de traspaso A/D
&#8211;anal&#243;gico/digital, en un sentido paradigm&#225;tico m&#225;s que meramente t&#233;cnico&#8211;, que en parte solo nos llevar&#237;a a un conflicto de apariencias (y de c&#243;mo llegar a distinguir, por ejemplo, una imagen real de una de s&#237;ntesis), cuando me parece que el aspecto m&#225;s trascendente radica en todo aquello que afecta a la interpretaci&#243;n abierta de la informaci&#243;n. Y ya conocemos sobradamente los tejemanejes medi&#225;ticos de falsificaci&#243;n o tendenciosidad de la informaci&#243;n, si es que no hemos optado por interpretar que <i>medi&#225;tico</i>
es justamente lo contrario que <i>inmediato</i>
</p>

<p>
El abuso de autoridad de los medios de informaci&#243;n ha provocado una nueva responsabilidad est&#233;tica a lo largo del siglo XX. Entre el tumulto de las primeras vanguardias, se pod&#237;a advertir a trav&#233;s de un n&#250;mero de artistas que orientaron sus pasos hacia la fotograf&#237;a y el cine documental, la radio, el espacio p&#250;blico y el activismo. Y, en la medida en que la potestad medi&#225;tica ha devenido m&#225;s vasta y abrumadora, la responsabilidad de intervenir en las arenas de la informaci&#243;n y la comunicaci&#243;n se ha acentuado despu&#233;s del ecuador del siglo; especialmente en los a&#241;os sesenta y setenta, coincidiendo con la pujanza de la tecnolog&#237;a y de las ciencias sociales y human&#237;sticas, el estallido de nuevos frentes reivindicativos y contestatarios, y la llegada del v&#237;deo y otras t&#233;cnicas, de tal manera que este periodo nos proporciona un buen punto de fuga para obtener una visi&#243;n de fondo de la electr&#243;nica de la realidad
</p>

<p>
Por otra parte, desde hace unos a&#241;os, notamos de cerca &#8211;me refiero a un discurso que se expresa sobre todo a trav&#233;s de la prensa de m&#225;s tiraje&#8211;
una especie de &#171;contrarreformismo&#187;
entre ciertos estamentos de la cr&#237;tica de arte y de la tutela intelectual; contrarreformismo (por no decir una palabra m&#225;s gruesa)
que arremete contra el rumbo que ha tomado el el arte contempor&#225;neo, seg&#250;n su percepci&#243;n &#8211;y cabe preguntarse en qu&#233; <i>contemporaneidad</i>
viven&#8211;, ante una supuesta soberan&#237;a de la abstracci&#243;n, del conceptualismo y de otras aberraciones, y a favor de un <i>retorno al orden</i> del realismo, la figuraci&#243;n y las tradiciones m&#225;s rancias de las bellas (&#191;viejas?)
artes.<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a>
Con una contribuci&#243;n, de paso, a la intoxicaci&#243;n de la opini&#243;n p&#250;blica, al respaldar un diagn&#243;stico enfermizo y desnortado de la creaci&#243;n actual
</p>

<p>
Aquello que estos sibaritas del realismo no saben ver es que hay un <i>arte de lo real</i> en pleno vigor, desde hace bastante m&#225;s que unas temporadas, pero que se expresa mediante otros soportes que aquellos que admiten, por decirlo as&#237;, un marco &#225;ureo o un pedestal de marfil (o de dise&#241;o). Entre tales soportes est&#225;n los electr&#243;nicos, as&#237; como muchos otros media y multimedia, materiales e <i>inmateriales,</i>
de los m&#225;s perennes a los m&#225;s nuevos. Pero la acotaci&#243;n de una pr&#225;ctica en funci&#243;n de la novedad de los medios utilizados es intrascendente si no consideramos todo su alcance social y cultural, m&#225;s all&#225; de los contornos habituales del arte. Entonces quiz&#225; es preferible no mezclar la est&#233;tica con la electr&#243;nica (como en el viejo dicho que nos advierte de no confundir la gimnasia con la magnesia); menos a&#250;n si introducimos de por medio una cosa tan poli&#233;drica como la realidad
</p>

<p>
Y, todo sea dicho, en el propio contexto de las <i>tecnoartes</i>
a menudo se puede advertir un cierto repudio hacia todo aquello que se percibe como <i>llanamente documental</i>. En m&#225;s de una ocasi&#243;n me ha sorprendido la casi nula atenci&#243;n que llegan a suscitar algunos trabajos harto incisivos en su inmediatez, sin virguer&#237;as, frente a la sobrevaloraci&#243;n de otros productos donde la realidad parece transformarse en excipiente de un videoclip u otro tipo de fantas&#237;a animada (realidad acicalada). Ciertamente, el documento raso puede ser bien fastidioso (las televisiones bien lo saben porque solo recogen im&#225;genes de los aficionados cuando contribuyen al espect&#225;culo de la violencia y del sensacionalismo);
peor todav&#237;a el documento sobreexplicado, con una voz en off guiadora o redundante, una evoluci&#243;n que se adivina desde el principio y, a menudo, con una &#171;moralina&#187;
gastada
</p>

<p>
En todo caso, lo que me interesa abordar aqu&#237; son unas pr&#225;cticas cuyos planteamientos son radicalmente diferentes a, por ejemplo, los productos estandarizados de extracci&#243;n u obediencia televisiva; incluso si son rectos y correctos en un plano period&#237;stico (periodismo electr&#243;nico) y dentro de una preceptiva &#171;de manual&#187;
seg&#250;n los moldes m&#225;s estrictamente gen&#233;ricos del reportaje. A partir de estas consideraciones, y a fin de pormenorizar diferentes aspectos sobre la <i>producci&#243;n de realidad</i> desde la particularidad de los medios electr&#243;nicos, primeramente quisiera recapitular algunos referentes desde el punto de fuga sugerido antes y en relaci&#243;n con las expectativas que ha levantado el v&#237;deo. Y, posteriormente, pasar&#233; p&#225;gina hacia una agenda m&#225;s actual, a prop&#243;sito del trabajo de algunos artistas con los que mantengo cierta proximidad
</p>
<h1 lang="es-ES" class="western">El ojo optoelectr&#243;nico del v&#237;deo</h1>
<p>
La palabra <i>v&#237;deo</i>, ya lo sabemos, es un latinismo adoptado por el l&#233;xico tecnol&#243;gico y corresponde a la primera persona del verbo <i>ver</i>.
Muy apropiadamente, si reparamos en la utilizaci&#243;n y la exploraci&#243;n de la tecnolog&#237;a que ha tomado este nombre, m&#225;s all&#225; de su concepci&#243;n tributaria de una log&#237;stica audiovisual motivada por el empuje de la televisi&#243;n y con los referentes de otros sistemas de grabaci&#243;n y reproducci&#243;n como los fonogr&#225;ficos y fotocinematogr&#225;ficos. Me refiero a la adopci&#243;n inmediata de los utensilios del v&#237;deo (en cuanto empezaron a estar al alcance del p&#250;blico) como tecnolog&#237;a del sujeto, y de los sujetos colectivos, desde divisas y determinaciones diversas en los &#225;mbitos de las artes y de las <i>community arts</i>, como pragm&#225;ticamente se dice en ingl&#233;s de las pr&#225;cticas volcadas a un inter&#233;s social
</p>

<p>
Me refiero al v&#237;deo <i>ligero</i>
&#8211;como se le denominaba en los a&#241;os sesenta y setenta&#8211;, que hoy ha pasado a formar parte de la llamada <i>electr&#243;nica de consumo.</i> Y por tanto es bien cierto que, en el mundo en el que vivimos, la electr&#243;nica se ha infiltrado m&#225;s y m&#225;s en la realidad, sin que esto nos garantice otras credenciales que las de consumidores o <i>usuarios</i>
(no siempre conscientes y voluntarios, por otra parte) de unas herramientas que nos rodean por doquier, a veces de manera imperceptible o casi (sin ir m&#225;s lejos, este es el caso de todo el complejo de los sistemas de seguridad y vigilancia). La carrera tecnol&#243;gica nos beneficia asimismo en cuanto a que mitiga los privilegios de acceso a los medios, al ofrecernos unos &#171;modelos a escala&#187;
de las tecnolog&#237;as de informaci&#243;n y comunicaci&#243;n que, mediante un uso astuto, nos permiten acortar distancias con el control regulador y jer&#225;rquico al cual aquellas han sido sometidas tradicionalmente
</p>

<p>
En todo caso, la doctrina del v&#237;deo alternativo afirma que no es la oferta tecnol&#243;gica la que ha generado este &#225;mbito de actividad, sino la din&#225;mica de apoderarse de manera diligente de unos medios &#8211;desde los primitivos equipos port&#225;tiles de bobinas hasta los <i>camcorders</i>
(camescopios) anal&#243;gicos, y ahora digitales y de un tama&#241;o cada vez m&#225;s reducido&#8211;
en principio destinados a un uso m&#225;s reservado: primero, en &#225;mbitos institucionales e industriales, sucesivamente, en la esfera del consumo privado (v&#237;deo casero, amateur, de aprendizaje). Esto mismo ha pasado con las m&#225;quinas de oficina, de los sistemas reprogr&#225;ficos
(ciclostil, xerograf&#237;a, etc.) a los ordenadores, convenientemente utilizadas con finalidades art&#237;sticas y activistas
</p>

<p>
Deirdre Boyle, que ha estudiado el desarrollo del v&#237;deo documental en los Estados Unidos y sus or&#237;genes en una erupci&#243;n de colectivos que se identifican con consignas tales como <i>televisi&#243;n de guerrilla</i> o <i>del pueblo</i>, nos ha recordado en sus escritos que, en los primeros tiempos de estruendo del v&#237;deo, a todo quisque se le llamaba videoartista.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a>
Es bien sabido, por ejemplo que algunos artistas de gran renombre por su dedicaci&#243;n al v&#237;deo y a medios afines, como Nam June Paik o Bill Viola, llegaron ah&#237; desde la m&#250;sica y la investigaci&#243;n sonora &#8211;que pronto los ha llevado a una b&#250;squeda poliexpresiva y multimedial<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a>&#8211;, pero en cambio hay otros aspectos de incidencia remarcable que han pasado bastante m&#225;s desapercibidos o que simplemente han sido entre una profusi&#243;n de referentes culturales o fenom&#233;nicos, como sucede con el relieve que tanto tienen el documentalismo cinematogr&#225;fico como la concepci&#243;n de un <i>nuevo periodismo</i>, contempor&#225;neamente al estallido del v&#237;deo como medio creativo, independiente y alternativo
</p>

<p>
Me parece bastante significativo que nombres como los de John Cage o el grupo Fluxus (y Duchamp, de paso)
est&#233;n bien arraigados en la historia y la est&#233;tica del v&#237;deo, y en cambio no los de Dziga Vertov, Robert Flaherty, John Grierson o Jean Rouch, que por el contrario son unos referentes que nunca han perdido de vista artistas como el chileno Juan Downey o el puertorrique&#241;o Ed&#237;n V&#233;lez (y eso me consta por conversaciones que mantuve con ambos),<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a>
los cuales han abordado el campo antropol&#243;gico y los atropellos pol&#237;ticos del Tercer Mundo. Quiz&#225; eso sea el resultado de la rivalidad que pronto se estableci&#243; entre el cine y el v&#237;deo &#8211;y la televisi&#243;n de por medio&#8211;
por cuestiones de, digamos, <i>consanguinidad</i>
audiovisual; pero seguramente tambi&#233;n lo es por una primac&#237;a de la contemplaci&#243;n del v&#237;deo como una de las Bellas Artes (aun con muchos recelos), m&#225;s que desde una <i>cultura de los media</i> a la cual se ha adscrito prioritariamente la producci&#243;n audiovisual y de las industrias de comunicaci&#243;n
</p>

<p>
Lo cierto es que, cuando el v&#237;deo presenta sus incipientes credenciales, hay a&#250;n un revuelo considerable alrededor del <i>cin&#233;ma v&#233;rit&#233;, </i>el <i>cine directo</i> o el <i>ojo c&#225;ndido</i> (<i>candid eye</i>), seg&#250;n las latitudes donde se hace notar la aparici&#243;n de nuevas corrientes documentalistas azuzadas por la concurrencia de la televisi&#243;n, que entre otras cosas ha implantado una producci&#243;n institucional de realidad a escala masiva, y que por otra parte ha encendido las expectativas de intervenir en dicho marco con una determinaci&#243;n bien diferente; as&#237; como por el legado ejemplar en este sentido del cine factual y del neorrealismo. Recordemos, a prop&#243;sito, la resuelta apuesta de Roberto Rossellini por la televisi&#243;n entendida como un bien cultural, o el hecho que uno de los primeros usuarios de los equipos de v&#237;deo ligero en Europa fuera Jean-Luc Godard, revoloteando entre las barricadas y asambleas del Mayo del 68 en Par&#237;s
</p>

<p>
Quisiera poner un &#233;nfasis especial en el influjo transhist&#243;rico del cineasta-<i>kinok
</i>Dziga Vertov, que, adem&#225;s de anticipar el concepto de <i>cine-verdad</i>
(en ruso <i>Kino-Pravda</i>:
el t&#237;tulo de una serie de documentales de actualidad al servicio de la revoluci&#243;n sovi&#233;tica, realizados entre 1922 y 1925), de enunciar su concepci&#243;n del <i>cine-ojo</i>
como equivalencia del &#171;yo veo&#187;
(que, vertido al lat&#237;n, nos devuelve al <i>v&#237;deo</i>)
o de dar nombre al colectivo en el que Godard afila su etapa radical pos-1968, ha ejercido un ascendente mucho m&#225;s amplio y diverso por la agudeza de sus ideas y la fuerza imperecedera de sus films m&#225;s brillantes; aquellos que justamente le costaron calumniosas acusaciones de pirotecnia formalista, incluyendo los recelos de Eisenstein y la condena taxativa del r&#233;gimen estalinista
</p>

<p>
M&#225;s all&#225; del paneg&#237;rico, podemos se&#241;alar tambi&#233;n la coincidencia entre algunas de las ideas del maldito (pero rehabilitado) cineasta sovi&#233;tico y las que formula Marshall McLuhan en los a&#241;os sesenta, cuando habla de &#171;comprender los media como extensiones de las facultades humanas (f&#237;sicas y ps&#237;quicas)&#187;. Pues no es otro el sentido que Vertov da al ojo y a la oreja mec&#225;nicos de las t&#233;cnicas audiovisuales en pleno desarrollo, con todo su potencial de trascender los l&#237;mites de la percepci&#243;n humana (ver m&#225;s r&#225;pido o m&#225;s lento, m&#225;s peque&#241;o o m&#225;s grande, sin la linealidad del tiempo, etc.). Y ello lo lleva a utilizar todos los recursos inherentes a la c&#225;mara, la mesa de montaje y la grabaci&#243;n sonora con un designio materialista, consciente de una mediaci&#243;n t&#233;cnica y de abordar una realidad compleja (frente a la falsificaci&#243;n del <i>cinedrama</i>, que para Vertov representaba una nueva forma de opio del pueblo)
</p>

<p>
Comparativamente, el ojo electr&#243;nico del v&#237;deo es bastante m&#225;s limitado en un primer estadio y, adem&#225;s, los recursos de montaje son sumamente rudimentarios en ese momento;
al menos entre el grueso de los independientes, artistas y activistas que el nuevo medio atrae. Pero, por otra parte, el v&#237;deo se acopla perfectamente a las maneras de hacer introducidas por las corrientes cinematogr&#225;ficas m&#225;s renovadoras: equipos ligeros en el plano material y reducidos en el humano, la c&#225;mara llevada al hombro o en mano, el sonido directo, la realidad como primer escenario (incluso de la ficci&#243;n). Tambi&#233;n constituyen incentivos a&#241;adidos que el v&#237;deo sea un aparato audiovisual <i>integral</i>
que graba simult&#225;neamente imagen y sonido, que permita una reproducci&#243;n inmediata y que sea, en potencia, un contraemisor televisivo
</p>

<p>
Se advierte igualmente el &#233;nfasis del <i>real time</i>, que es asimismo el <i>reel time</i> o la duraci&#243;n de la bobina de cinta magn&#233;tica utilizada (de treinta o sesenta minutos seg&#250;n la m&#225;quina), as&#237; como de una especie de &#171;filosof&#237;a de lo inmediato&#187;: la grabaci&#243;n se realiza sin muchos preparativos (quiz&#225; solo el de decidir sobre qu&#233; hecho o acto se orientar&#225; el ojo de la c&#225;mara, ya sea de la realidad o de una puesta en escena a menudo muy despojada); la propia escala de la peque&#241;a pantalla como una premisa de relaci&#243;n franca, intimista y psicol&#243;gica con el espectador. De maneras muy diferentes, ambos aspectos se pueden encontrar tanto en los <i>v&#237;deos de c&#225;mara</i>
de, pongamos por caso, Bruce Nauman o Vito Acconci &#8211;en un registro soliloquial o de interpretaci&#243;n, a menudo con la c&#225;mara fija y est&#225;tica como espejo de sus acciones&#8211;, como en los <i>v&#237;deos de calle</i> (<i>street tapes</i>) que salen a la caza de la realidad tal cual es; en este caso como una inmersi&#243;n en el espacio social y con una c&#225;mara convenientemente escurridiza
</p>

<p>
Las exig&#252;idades iniciales del v&#237;deo ligero se convierten adem&#225;s en un reto para desarrollar unas maneras de hacer que, lejos de limitarse a emular las habituales del cine o de la televisi&#243;n, exploran diferentes formatos de presentaci&#243;n y de concepci&#243;n total de la pr&#225;ctica videogr&#225;fica: la actividad entendida como proceso m&#225;s que dirigida a un resultado final, configur&#225;ndose como una sucesi&#243;n de materiales m&#225;s o menos en bruto (el montaje en la propia c&#225;mara es una de las habilidades propiciadas por la pobreza misma de los medios); materiales que son exhibidos y reelaborados cada vez en diferentes situaciones. Y ello incluye configuraciones multipantalla y multimedia, difusiones ambulantes (el <i>videob&#250;s</i>
u otras unidades m&#243;viles de exhibici&#243;n que han tomado el relieve del <i>cinetren</i>
de Vertov y otros cineastas sovi&#233;ticos) y la presentaci&#243;n concebida como un evento comunitario (que admite tanto el debate como la diversi&#243;n)
</p>

<p>
En todo caso me interesa acentuar la elementalidad del primer v&#237;deo (basada en parte, pero no exclusivamente, en la c&#225;mara) porque ilustra a la perfecci&#243;n la idea de <i>visualidad</i>, la creencia en el poder de comunicaci&#243;n de las im&#225;genes de la realidad, sin a&#241;adir la autoridad y los filtros habitualmente impuestos por los medios de informaci&#243;n (o formaci&#243;n, como se prefiere decir algunas veces) de masas. Se trata de grabar una manifestaci&#243;n o una festividad, la actividad cotidiana o los conflictos sociales a la manera casi de los atisbos instintivos del cine primitivo, pero con una m&#225;quina bastante m&#225;s moderna y &#225;gil.
Y, por otra parte, no se adopta un punto de vista ni neutro ni pretendidamente objetivo, sino el que permite introducirse en la realidad y participar en ella; vivir una situaci&#243;n al lado de la gente m&#225;s que como un observador externo, un informador con credenciales, un paseante ocasional de aquello que acontece en el espacio p&#250;blico
</p>

<p>
La incidencia de los m&#233;todos documentales del cine y del v&#237;deo alternativo sobre los formatos informativos de la televisi&#243;n ha sido, asimismo, notable. Solo que, a parte de tomar buena nota y de beneficiarse de un cierto n&#250;mero de fichajes entre las filas independientes, en general la televisi&#243;n ha descafeinado a su gusto tales propuestas desde un supuesto criterio de gesti&#243;n al (o del) gusto de las masas. M&#233;todos y formatos tales como el <i>Electronic News Gathering</i> (ENG), el docudrama y la c&#225;psula documental (o <i>minidoc</i>)
no se puede decir que sean de invenci&#243;n exclusiva del bando alternativo &#8211;ya que entre el propio gremio de los profesionales televisivos hay motivaciones bien creativas, &#233;ticas e innovadoras&#8211;, pero s&#237; que se puede advertir una incidencia profunda a nivel gen&#233;rico o particular. 
</p>

<p>
Por ejemplo, la popular serie <i>Hill Street Blues</i> (<i>Canci&#243;n triste de Hill Street</i>)
parece que tom&#243; como modelo un proyecto documental independiente,
<i>The Police Tapes</i>
(1976), de Alan y Susan Raymond. M&#225;s evidente es a&#250;n el pr&#233;stamo de las metodolog&#237;as del cine directo y del v&#237;deo ligero
(guerrillero, documental, comunitario, sociol&#243;gico, etc.), en la vivaz manera de encarar las informaciones en la localizaci&#243;n misma de los hechos, con sus primeros protagonistas y testimonios. Sin embargo, estos modelos son frecuentemente adulterados por una <i>biblia</i>
o libro de estilo que impone una normativa bastante m&#225;s convencional y redundante sobre todo aquello que es susceptible de convertirse en
<i>hecho-noticia</i>, titular de cabecera de la actualidad mediatizada y con un comentario a&#241;adido, que a menudo denota quien es &#171;la voz de su amo&#187;
</p>

<p>
Asimismo, hay que recordar que una de la primeras quimeras que el v&#237;deo espolea es la de erigir una televisi&#243;n alternativa. Tanto si se trata de ocupar espacios de programaci&#243;n en las televisiones p&#250;blicas y privadas, como frente a las expectativas que se crean con el crecimiento de las televisiones por cable, los canales de acceso p&#250;blico (en los Estados Unidos y Canad&#225;), las televisiones locales y los sat&#233;lites; eso que los tecnoprofetas de la &#233;poca han llamado la &#171;televisi&#243;n de la abundancia&#187;. Este, sin embargo, parece uno de los tropiezos m&#225;s obvios de la &#171;utop&#237;a v&#237;deo&#187; (sigo una cierta tradici&#243;n de emparejar ambas palabras) y as&#237;, fuera de algunos agujeros negros y de unas experiencias que se mantienen porque tienen los pies sobre la tierra &#8211;el caso m&#225;s notorio es el colectivo Paper Tiger Television, en activo desde 1981&#8211;, hoy las expectativas y las utop&#237;as se han trasladado en gran parte a una <i>telered</i>
menos jerarquizada y m&#225;s pujante: la telem&#225;tica
</p>

<p>
La expresi&#243;n &#171;medios alternativos&#187;, m&#225;s all&#225; de su uso ret&#243;rico en una circunscripci&#243;n art&#237;stica, reh&#250;ye la idea recibida, el sintagma trabado y bien trabado de los <i>mass media</i> y excluye la prepotencia de su prefijo, en tanto que presupone una masa homog&#233;nea, desprovista de identidad y, finalmente, cautiva. En este sentido, quiz&#225; ser&#237;a m&#225;s acertado hablar de una pr&#225;ctica
<i>disidente</i>
de los media, que consecuentemente no cesa de cuestionar y reformular los formatos m&#225;s codificados y las ideas recibidas que se aglomeran a su alrededor. En el caso del documental y del reportaje, que he tomado como hilo conductor, las ideas de <i>veracidad</i>,
<i>objetividad, memoria hist&#243;rica,</i> etc., en tanto que definir&#237;an unas pautas de hacer y pensar el documento, la cr&#243;nica de la realidad, ampliamente interpeladas desde la disidencia propia del v&#237;deo y en el bosquejo de una televisi&#243;n alternativa
</p>

<p>
Una de las evoluciones m&#225;s notorias del documentalismo contempor&#225;neo ha sido precisamente la de dar un
&#233;nfasis subjetivo, contra los preceptos desgastados de <i>neutralidad
</i>y <i>exterioridad</i>
en el reportaje: lo que podr&#237;amos llamar una &#171;transparencia de la realidad&#187;, en la que la mediaci&#243;n t&#233;cnica y enunciativa se pretende invisible. Frente a este ojo que quiere limitarse a observar, Juan Downey opon&#237;a el &#171;ojo que piensa&#187;: una expresi&#243;n que adopt&#243; de Paul Klee y que en ingl&#233;s toma una doble connotaci&#243;n:
<i>Thinking Eye/Thinking </i>&#171;<i>I</i>&#187;<i>,
</i>que as&#237; tambi&#233;n se refiere al sujeto, a la conciencia, al intelecto. Una &#243;ptica que primero ha aplicado a un redescubrimiento de sus ra&#237;ces en tanto que americano desplazado del sur al norte (la serie <i>V&#237;deo Trans Am&#233;ricas</i> en los a&#241;os setenta) y despu&#233;s a una reconsideraci&#243;n de los paradigmas culturales occidentales (la serie <i>The Thinking Eye</i> propiamente dicha, en los ochenta y hasta su prematura muerte). 
</p>

<p>
Pero, en definitiva, adem&#225;s de Downey, podr&#237;a nombrar a muchos otros artistas &#8211;tambi&#233;n Muntadas, por mencionar a uno al que me referir&#233; m&#225;s adelante&#8211;
que han aprovechado los vasos comunicantes que inicialmente se establecieron entre el v&#237;deo de finalidad documental o testimonial, comunitaria, sociol&#243;gica, etc., y las pr&#225;cticas m&#225;s orientadas hacia la experimentaci&#243;n y el rendimiento art&#237;stico (en sus aspectos m&#225;s intr&#237;nsecos) de unos medios reci&#233;n llegados. En un grado superficial eso podr&#237;a ilustrarse, por ejemplo, con el uso discrecional de ciertas t&#233;cnicas de procesamiento electr&#243;nico de las im&#225;genes como los colorizadores y sintetizadores anal&#243;gicos (en
<i>The Laughting Alligator</i>
de Downey, en <i>Pamplona-Grazalema</i>
de Muntadas, ambas obras de finales de los setenta), y posteriormente, los recursos digitales
</p>

<p>
Me parece que, en un grado m&#225;s profundo, aquello en cambio m&#225;s relevante del punto de mira de Downey, Muntadas y tantos otros &#8211;as&#237;
como de los colectivos y las posiciones compartidas que han contribuido a la conceptualizaci&#243;n de un &#171;arte de los media&#187;&#8211;, radica en su adopci&#243;n desacomplejada, si se quiere intuitiva, de las metodolog&#237;as de la informaci&#243;n, la antropolog&#237;a, la sociolog&#237;a, la historia, el periodismo, los estudios culturales, etc., al interponer una percepci&#243;n aguda, implicada y comprometida desde su primera identidad como artistas. Esto, llevado al extremo, l&#243;gicamente revienta los contornos puros, n&#237;tidos, impolutos de las demarcaciones disciplinares &#8211;incluyendo las art&#237;sticas y las est&#233;ticas&#8211;
y nos reclama una percepci&#243;n
<i>impura</i>
o <i>h&#237;brida</i>.<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a></p>

<p>
Volviendo al germen del v&#237;deo guerrillero, los grupos Ant Farm y T.R. Uthco (me parece por s&#237;
mismo significativo que se trate de colectivos) est&#225;n en el inicio de un modo m&#225;s licencioso de abordar la realidad, en el que los datos visuales se trastornan en simulaci&#243;n, <i>remake</i>, fingimiento del acontecimiento medi&#225;tico; particularmente turbador en un proyecto conjunto, <i>The Eternal Frame</i> (1975), en el cual recrearon el atentado que acab&#243; con la vida del presidente Kennedy. Recreaci&#243;n en el mismo lugar de los hechos y ante la asistencia circunstancial de un n&#250;mero de , las reacciones de los cuales oscilan entre la emoci&#243;n y la ratificaci&#243;n del verismo de la escenificaci&#243;n &#8211;basada en los documentos audiovisuales, la memoria medi&#225;tica del suceso&#8211;, incluso con alguna apreciaci&#243;n sobre la &#171;belleza&#187;
de la reconstrucci&#243;n de los hechos. (Una <i>belleza convulsa</i> y que bordea la incorrecci&#243;n o, tal como comentan los propios artistas en un momento de la cinta, el mal gusto)
</p>

<p>
Esta modalidad harto desvergonzada del simulacro llevado a un extremo que desdibuja los umbrales entre realidad, ficci&#243;n y parodia la he reencontrado despu&#233;s en un buen n&#250;mero de trabajos. Entre los cuales, las incursiones del falso periodista Varela en las zonas m&#225;s deprimidas de Brasil (en una serie videogr&#225;fica firmada por el dueto Fernando Meireles y Marcelo Tas); los v&#237;deos del Bureau of Inverse Technology (BIT), que adoptan y perturban sutilmente los tropos de los reportajes corporativos de las empresas tecnol&#243;gicas; los <i>pseudocumentales</i>
de Johan Grimonprez en su tergiversaci&#243;n de los moldes de la antropolog&#237;a visual y la compilaci&#243;n historiogr&#225;fica; o los productos interactivos de Daniel Garc&#237;a And&#250;jar, a los cuales me referir&#233; posteriormente. Lo que tienen en com&#250;n las propuestas de estos artistas y artivistas son los signos de interrogaci&#243;n que colocan sobre la veracidad de las cosas que exponen y ensartan.
Tambi&#233;n es significativo que en los &#250;ltimos a&#241;os se haya hablado bastante de <i>mockumentaries</i>,
<i>documentales ficticios</i>
o <i>falsos</i>
</p>
<h1 lang="es-ES" class="western">Por y contra el documental</h1>
<p>
Quiero hacer referencia ahora a un ensayo (o panfleto) demoledor del colectivo Critical Art Ensemble, con el t&#237;tulo significativo de &#171;Video and Resistance: Against Documentaries&#187;,<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a><b>
</b>el cual desprende un efluvio inconfundiblemente neosituacionista. Como los situacionistas mismos, que han cargado <i>contra el cine</i> en bloque como un acto de purificaci&#243;n frente a su propio fervor cinematogr&#225;fico &#8211;por el potencial nunca consumado de un medio que veneraban y que quer&#237;an redimir mediante el <i>d&#233;tournement
</i>o desmantelamiento&#8211;, el Ensemble impugna pr&#225;cticamente la tradici&#243;n entera del audiovisual documental o <i>nonfiction</i>, en tanto que legitima &#171;una consideraci&#243;n retr&#243;grada de la tecnolog&#237;a como replicador (testimonio)&#187;
</p>

<p>
El Ensemble admite que una de las funciones todav&#237;a &#250;tiles de la electr&#243;nica de la realidad, una funci&#243;n b&#225;sicamente testimonial, puede residir en &#171;una forma democr&#225;tica de contravigilancia.&#187;
Un caso que hemos visto recientemente es la reedici&#243;n de la forma m&#225;s arcaica del <i>street video</i>, el seguimiento de manifestaciones y acciones reivindicativas (combinado con las &#250;ltimas novedades en tecnolog&#237;as digitales y de <i>streaming</i>), alrededor de los movimientos llamados &#171;antiglobalizaci&#243;n&#187;
que han necesitado resaltar su fachada pac&#237;fica y c&#237;vica frente a unas campa&#241;as medi&#225;ticas insidiosas. Al mismo tiempo tambi&#233;n sabemos (pero eso nos llevar&#237;a a un debate m&#225;s bien trasnochado)
que los propios cuerpos policiales han incorporado a su parafernalia las diminutas c&#225;maras digitales con el fin de identificar individuos y t&#225;cticas entre los sediciosos. 
</p>

<p>
La apuesta definitiva del Critical Art Ensemble para robustecer una pr&#225;ctica resistencial del v&#237;deo pasa en cualquier caso por cuestionar la fidelidad de la imagen respecto a todo referente de la realidad, bas&#225;ndose en aquello que describen como &#171;estructuras asociativas l&#237;quidas que susciten una diversidad de interpretaciones&#187;.
Que, o bien nos remitan de manera inmediata a su cualidad de construcci&#243;n de signos en tanto que <i>simulaci&#243;n</i>, antes que <i>representaci&#243;n</i>
transparente; o bien que erosionen la credibilidad de las simulaciones del otro bando al fomentar la <i>confusi&#243;n</i>
y la <i>desconfianza</i>
en el teatro de la informaci&#243;n y comunicaci&#243;n de masas. Y uno de los rasgos de esta licuefacci&#243;n asociativa se hallar&#237;a en una astucia <i>recombinatoria</i>
a partir del desmenuzamiento de iconos y significaciones culturales
</p>

<p>
Estas ideas pueden venir a cuento al comentar algunas obras recientes; concretamente de Antoni Muntadas, Javier Codesal, Marcelo Exp&#243;sito y Daniel Garc&#237;a And&#250;jar. Aunque sean cuatro nombres significativos del arte medi&#225;tico en Espa&#241;a, no pretendo hacer un repaso ni un diagn&#243;stico del realismo electr&#243;nico en un contexto tal. (Muntadas es, por otra parte, un n&#243;mada reconocido; Daniel Garc&#237;a And&#250;jar podr&#237;amos decir que trabaja, y muy conscientemente, en el ciberespacio&#8230; &#161;Y esto no quiere ser un chascarrillo!) Como he sugerido anteriormente, he pensado en estos cuatro artistas sobre todo por una cuesti&#243;n de proximidad.<a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a></p>

<p>
Antoni Muntadas ha utilizado abundantemente los recursos documentales para llevar a cabo un an&#225;lisis cr&#237;tico de aquello que &#233;l llama el &#171;paisaje medi&#225;tico&#187;.
Algunos exponentes diversos son el v&#237;deo <i>Between the Lines</i> (1979), donde se refiere al proceso de achique de una informaci&#243;n period&#237;stica local hasta casi anular la trascendencia del hecho de referencia; <i>The File Room</i> (1994), una base de datos sobre la censura que constituy&#243; uno de los primeros proyectos art&#237;sticos concebidos expresamente para la red; sin olvidar modelos alternativos de microtelevisi&#243;n (o &#171;televisi&#243;n de proximidad&#187;<i>,</i>
como despu&#233;s se le ha llamado con un giro m&#225;s institucional) que introdujo con experiencias como <i>Cadaqu&#233;s Canal Local </i>(1974) y
<i>Barcelona Distrito Uno</i>
(1976), en las postrimer&#237;as de la dictadura franquista y de su control f&#233;rreo sobre la informaci&#243;n
</p>

<p>
Entre los recursos documentales m&#225;s caracter&#237;sticos de la obra de Muntadas est&#225;n la apropiaci&#243;n y la cita de fuentes medi&#225;ticas y referentes culturales (im&#225;genes y m&#250;sicas, esl&#243;ganes y frases, etc.), as&#237; como el contrapunto de unas formas m&#225;s inmediatas de aproximarse a la realidad (vistas de la cotidianidad o entrevistas). Son estos los ingredientes que encontramos una vez m&#225;s en <i>Marseille:
mythes et st&#233;r&#233;otypes. Regard des regards</i>
(1995), un trabajo videogr&#225;fico que forma parte de un proyecto m&#225;s amplio surgido de un encargo del municipio de Marsella para una obra de arte p&#250;blico; aquello que, en otro tiempo, habr&#237;a llevado a la creaci&#243;n de un monumento urbano y que, en un gesto no menos caracter&#237;stico de Muntadas, se traduce en un cuestionamiento de las ideas de materialidad y permanencia, tomando como referente la modalidad mediterr&#225;nea de la proyecci&#243;n cinematogr&#225;fica al aire libre como convocatoria de ocio social
</p>

<p>
Aquello que se propone es una especie de espejo discordante sobre la realidad de Marsella y su representaci&#243;n medi&#225;tica (mediante films y melod&#237;as), resonancia cultural (mediante <i>morceaux choisis </i>de obras literarias) y reclamos coloristas: los <i>mitos y estereotipos </i>a los que alude el t&#237;tulo, yuxtapuestos con el bullicio de la calle y las reflexiones de quienes trabajan sobre la imagen p&#250;blica de la ciudad
(cineastas, periodistas, publicistas, historiadores, etc.). Muntadas resalta as&#237; el contrapunto entre la cotidianeidad y la identidad cultural de la segunda ciudad de Francia, y todos los clich&#233;s que la rodean: del <i>patois </i>de Fernandel, el costumbrismo de Pagnol y otras pinceladas luminosas de color local, a los tonos turbios del cine m&#225;s negro y violento (del
<i>polar </i>aut&#243;ctono a <i>French Connection</i>)
</p>

<p>
Javier Codesal ha utilizado con frecuencia los c&#243;digos del documental, casi siempre a contrapelo de sus funciones can&#243;nicas y a trav&#233;s de deconstrucciones y torsiones narrativas harto peculiares. Pero uno de sus trabajos m&#225;s poderosos es un documental bien di&#225;fano, <i>S&#225;bado legionario</i> (1988), significativamente producido en el marco de los primeros tanteos de las televisiones auton&#243;micas en Espa&#241;a (en concreto, la actual TeleMadrid), que ocasionalmente intentaron sacar alg&#250;n provecho de los flancos del v&#237;deo independiente; en este caso con un desenlace descorazonador para Codesal, ya que aquel trabajo tan personal nunca fue emitido, quedando atado de manos por la propiedad de la producci&#243;n (que veta t&#225;citamente cualquier otra salida, fuera de unos circuitos art&#237;sticos con los que se hace la vista gorda)
</p>

<p>
Codesal tom&#243; como motivo central la ceremonia entre castrense y festiva que da t&#237;tulo a la obra &#8211;muy cerca de un sacramento religioso y sus acicalamientos rituales&#8211;
y consigui&#243; un retrato c&#243;mplicemente imp&#250;dico de la Legi&#243;n a partir de unos principios afines a los del cine directo: dejar que los hechos y los individuos que los protagonizan se expresen por s&#237; mismos, sin la interferencia de comentarios en off. Sin embargo, s&#237; que hay una clara intencionalidad y malicia expresadas mediante las decisiones relativas a la composici&#243;n de las im&#225;genes, el montaje, etc. As&#237;, mi hip&#243;tesis sobre el repudio de este espl&#233;ndido documental radica precisamente en la falta ostensible de un discurso que gu&#237;e a los telebobos que se supone que somos
</p>

<p>
Quiero a&#241;adir que Codesal es un artista muy escrupuloso en cuanto a la responsabilidad &#233;tica de su quehacer, y a prop&#243;sito de la ventana indiscreta de un v&#237;deo como este que nos empuja a ver las interioridades del cuerpo y el credo de la Legi&#243;n. Digo esto porque, en varias ocasiones en las que he mostrado este trabajo, incluso cuando lo hago fragmentariamente y pretendo evitar los pasajes m&#225;s caricaturescos (en su autenticidad finalmente), suele producirse una acogida jocosa y burlona. Me parece, sin embargo, que el m&#233;rito de Codesal est&#225; en utilizar la gram&#225;tica del reportaje huyendo de las medias tintas, con una agudeza contundente que sobrepasa la comedia f&#225;cil. Por ello, nuestra risa o sonrisa se convierten en un rictus frente a la mirada interpuesta de Codesal, nada inocente ni c&#225;ndida
</p>

<p>
Marcelo Exp&#243;sito ha trabajado desde 1990 sobre las representaciones y los detritos de la historia, principalmente en relaci&#243;n con las oscuridades del franquismo y de la transici&#243;n hacia la democracia mon&#225;rquica. Al acudir a los documentos (incluyendo las ficciones de una &#233;pica decr&#233;pita de la cinematograf&#237;a franquista) y a los relatos en primera persona de sujetos desafectos y exiliados, la obra de Exp&#243;sito &#8211;v&#237;deos, instalaciones, trabajos en soporte fotogr&#225;fico&#8230;&#8211;
trata de la necesidad de activar la memoria, a t&#237;tulo individual y colectivo, frente a la amnesia y la pompa del milagro espa&#241;ol, o de c&#243;mo pasar del sufrimiento al bienestar en un santiam&#233;n que nos escamote&#243; una parte de la historia
</p>

<p>
La obra a la cual me quiero referir es <i>Octubre en el norte:
temporal del noroeste</i>
(1995), un v&#237;deo de noventa minutos que es una especie de deriva psicogeogr&#225;fica por el Gran Bilbao: en el tiempo, en las mutaciones del espacio urbano y las relaciones de clase (este concepto que se ha querido desacreditar al decretarse &#171;el fin de la historia&#187;).
Tomando como hilo conductor unas im&#225;genes de archivo (algunas de las primeras filmaciones de Bilbao que se conservan) y de una nueva navegaci&#243;n por la r&#237;a como contrapunto actual, se hace referencia a la historia local: la miner&#237;a que permite crear una industria metal&#250;rgica tan potente como devastadora del medio, la riqueza que despu&#233;s se desv&#237;a hacia operaciones especulativas con el capital y la propiedad urbana, hasta el umbral de la peque&#241;a capital que se lustra y acicala con nuevos reclamos de atracci&#243;n global (entre los cuales el Guggenheim-Bilbao, el incipiente esqueleto del cual se hace ostensiblemente presente en algunas secuencias)
</p>

<p>
Exp&#243;sito se identifica con los modus operandi de Kluge, Godard, y tambi&#233;n de Muntadas (el trabajo que comento podr&#237;a emparejarse en algunos aspectos con el de Muntadas en Marsella), cuando dice que su trabajo &#171;quiere oponer resistencia a los modos narrativos hegem&#243;nicos, ofreciendo una organizaci&#243;n alternativa de las im&#225;genes y los sonidos&#187;, &#171;contribuir en realidad a la posibilidad de una organizaci&#243;n colectiva y alternativa de la experiencia&#187;. En <i>Octubre</i>&#8230;
se encadenan las im&#225;genes propias y saqueadas, las citas de todo tipo (del pensamiento pol&#237;tico a la poes&#237;a y la canci&#243;n), los testimonios orales de las personas con las que se ha encontrado. El recorrido empieza y acaba en un no-lugar, precisamente porque ya no existe y es irrepresentable: la antigua poblaci&#243;n suburbial de Gallarta que, a consecuencia de una nueva fiebre del oro &#8211;o, m&#225;s bien, de metales m&#225;s viles&#8211;, se convierte en un agujero geol&#243;gico, un vac&#237;o que ya no puede ser representado m&#225;s que en la memoria y en la museolog&#237;a popular (a base de maquetas y reliquias) de aquellos que recuerdan las vivencias y los sudores
</p>

<p>
<i>Phoney&#8482;</i>
(1999-2000), el &#250;ltimo trabajo a comentar, es un producto de Daniel Garc&#237;a And&#250;jar esponsorizado por la pujante corporaci&#243;n Technologies To The People&#174; (TTTP), del gremio de las <i>punto.com</i>.
Esta firma se ha caracterizado por una sagaz pol&#237;tica de apoyo filantr&#243;pico a las propuestas y las travesuras de artistas, hacktivistas y manifestaciones tecnoculturales; no tan a fondo perdido como parece, sino para extraer posibles r&#233;ditos de sus ocurrencias visionarias. Su producto m&#225;s promocionado y c&#233;lebre ha sido el sistema destinado a sustituir las limosnas por el dinero de pl&#225;stico &#8211;sin duda un paso previo a las transacciones por telefon&#237;a m&#243;vil&#8211;
frente a la expansi&#243;n de una mendicidad plenamente familiarizada con los cajeros autom&#225;ticos, la intangibilidad de la propiedad y la humillante incomodidad que generan las actividades pedig&#252;e&#241;as tradicionales en el cibermundo de nuestros d&#237;as
</p>
<div id="Section1" dir="ltr">
	<p>
	
	</p>
	<p>
	Uno de los lemas de TTTP dice que
	&#171;el
	acceso a la tecnolog&#237;a es un derecho humano&#187; y Garc&#237;a And&#250;jar ha
	hecho un paso m&#225;s en esta direcci&#243;n al poner a nuestro alcance un<i>
	kit </i>interactivo, una
	<i>phreak machine </i>que
	re&#250;ne poderosas herramientas inform&#225;ticas, incluso las m&#225;s
	peligrosas y potencialmente delictivas (el usuario es advertido de
	esto debida y repetidamente) que permiten desviar dinero de manera
	fraudulenta, esparcir virus, escuchar conversaciones ajenas, acceder
	furtivamente a servidores y a buzones de correo electr&#243;nico de
	otras personas, manipular sistemas de comunicaci&#243;n telef&#243;nica con
	tonos reservados, bombardear a tu peor enemigo con mensajes
	indeseados, sabotear p&#225;ginas web, acceder a informaci&#243;n
	confidencial&#8230; En pocas palabras, &#171;desestabilizar,
	manipular, espiar, defraudar y destruir&#187;, tal como se formula en
	los textos que envuelven el men&#250; de opciones
</p>
	<p>
	
	</p>
	<p>
	Todo esto se destina naturalmente a
	unos usos aleccionadores y de divulgaci&#243;n cultural, y con tal fin,
	Garc&#237;a And&#250;jar ha presentado su m&#225;quina virtual de iniciaci&#243;n al
	submundo ciberfurtivo en las instituciones y manifestaciones m&#225;s
	prestigiosas en el campo de las tecnoartes, con las medidas se
	seguridad convenientes &#8211;tecnolog&#237;as
	propietarias de TTTP que rastrean, escanean, identifican al usuario
	al acceder&#8211;,
	pero que permiten acariciar los secretos de las tecnolog&#237;as
	telem&#225;ticas en un paseo por su lado m&#225;s salvaje. Y dan igual las
	ficciones que se quieran sospechar, lo que es preciso recalcar es
	que <i>Phoney&#8482;</i>
	tambi&#233;n es, a su manera, un documento de realidad, el cual
	sobrepasa la autorreferencialidad tan caracter&#237;stica del calent&#243;n
	digital y el parque tem&#225;tico de la cibercutura de nuestros d&#237;as
</p>
	<p>
	
	</p>
	<p>
	Para terminar, las obras comentadas
	me permiten ahora una recapitulaci&#243;n y una par&#225;frasis m&#225;s clara
	de algunas ideas y referencias que he ido apuntando. Estructuras
	asociativas l&#237;quidas y procedimientos recombinatorios podemos
	encontrarlos de manera muy diversa en las obras de Muntadas,
	Exp&#243;sito y Garc&#237;a And&#250;jar (en su caso por una concepci&#243;n
	inherente a la interfaz). En el trabajo de los dos primeros se
	produce una sedimentaci&#243;n en un mismo plano de elementos tan
	heterog&#233;neos como recortes de fuentes medi&#225;ticas, citas literarias
	y musicales, y segmentos de elaboraci&#243;n propia; todos con el mismo
	relieve dentro de una secuencialidad iterativa y rota (por oposici&#243;n
	a vectorial y lineal). La descripci&#243;n de la realidad se yuxtapone
	con el cuestionamiento de los modos de representaci&#243;n
	institucionales, y esto se resuelve al fin en una construcci&#243;n de
	signos que requiere la implicaci&#243;n receptiva del p&#250;blico.<a class="sdfootnoteanc" name="sdfootnote9anc" href="#sdfootnote9sym">9</a></p>
	<p>
	
	</p>
	<p>
	El dualismo de la visualidad y el
	simulacro me ha sido &#250;til para incluir maneras muy diferentes de
	tratar de la realidad, pero es en el cruce de ambos conceptos donde
	se situar&#237;a la intencionalidad de las obras referidas: desde el
	testimonio c&#225;ustico de Codesal, que nos muestra los simulacros de
	acci&#243;n-en-combate de un cuerpo militar en reposo y en la proximidad
	de una ceremonia festiva, hasta la propuesta claramente <i>phoney
	</i>(es decir: <i>farsante</i>)
	de Garc&#237;a And&#250;jar &amp; TTTP, o de c&#243;mo poner al alcance popular
	los arcanos y las paranoias de la sociedad de la informaci&#243;n. Y ,
	por consiguiente, desde registros tan diversos que van de un modo
	documental di&#225;fano &#8211;tal
	como he calificado el trabajo de Codesal&#8211;
	a un acoplamiento inaudito de datos y estratagemas digitales con
	funcionalidades tirando a oscuras, encontramos maneras muy actuales
	de bregar con la realidad y con la electr&#243;nica
</p>
<div id="sdfootnote1">
	<p>
	Este
	texto recoge la intervenci&#243;n realizada en el F&#242;rum de la QUAM 2001
	(antigua Quinzena d&#8217;Art de Montesquiu) que tuvo lugar del 7 al 14
	de julio de 2001 bajo la direcci&#243;n de Mart&#237; Peran. [Nota del
	autor, 2014]</p>
<div id="sdfootnote2">
	<p>
	En
	el original, escrito en catal&#225;n, hay un juego de palabras entre
	&#171;belles&#187; y &#171;velles&#187;.[Nota del autor, 2014]</p>
<div id="sdfootnote3">
	<p>
	</span>Deirdre
	Boyle: </span>Subject
	to Change. </i></span><i>Guerrilla
	Television Revisited</i>.
	Nueva York: Oxford University Press, 1997
</p>
<div id="sdfootnote4">
	<p>
	Tanto
	Paik como Viola han realizado algunas obras documentales a su
	manera, principalmente en los a&#241;os setenta y principios de los
	ochenta
</p>
<div id="sdfootnote5">
	<p>
	Recuerdo
	que hacia principios de los ochenta, hablando con Ed&#237;n V&#233;lez de su
	trabajo, me choc&#243; que se remitiese a la estirpe del cine documental
	y no a unos referentes m&#225;s &#171;art&#237;sticos/experimentales&#187;, como yo
	esperaba de un &#171;videoartista&#187;
</p>
<div id="sdfootnote6">
	<p>
	Hago
	referencia a unos conceptos respectivamente manejados por Nuria
	Enguita y Juan Guardiola &#8211;en ocasi&#243;n de su curadur&#237;a de la
	exposici&#243;n <i>Juan
	Downey: With Energy Beyond These Walls</i>
	en el IVAM de Valencia (1998)&#8211; y por Muntadas (que dio el nombre
	de 
	a su exposici&#243;n de 1988 en el 
	</p>
	<p>Centro
	de Arte Reina Sof&#237;a de Madrid)
</p>
<div id="sdfootnote7">
	<p>
	Este
	ensayo forma parte del primer libro del Critical Art Ensemble: <i>The
	Electronic Disturbance</i>.
	Brooklyn, Nueva York: Automedia, 1994; una publicaci&#243;n
	
	a la cual tambi&#233;n se puede acceder a trav&#233;s de la red
	(www.critical-art.net)
</p>
<div id="sdfootnote8">
	<p>
	Asimismo,
	remarcar&#233; de paso que, en el contexto espa&#241;ol. se ha podido
	observar un prolongado d&#233;ficit del documentalismo y del realismo
	beligerantemente cr&#237;tico o activista en proporci&#243;n a un abuso
	comparativo de la interioridad y del manierismo, particularmente en
	los limbos de la videocreaci&#243;n. A pesar de eso, si fuese cuesti&#243;n
	de ampliar las referencias, actualmente podr&#237;a a&#241;adir los nombres
	de Ramon Parramon, Pedro Ortu&#241;o o Group Public Projects, entre
	otros artistas que utilizan habitualmente o circunstancialmente los
	medios electr&#243;nicos
</p>
<div id="sdfootnote9">
	<p>
	&#171;Warning:
	Perception requires Involvement&#187;, como dice el lema concebido por
	Muntadas y distribuido en forma de pegatinas como parte de su
	proyecto itinerante <i>On
	Translation: The Audience</i>
	(1998-2001)
</p>
