  <p> <b>Del otro lado de la pantalla: Douglas Davis</b></p>
<p>  </p>
<p>  </p>
<p> Bertolt Brecht se&#241;alaba, en su ensayo <i>Teor&#237;a de la radio</i>
(1932), que la radiofon&#237;a se hab&#237;a desarrollado como medio unidireccional m&#225;s por decisi&#243;n pol&#237;tica que por cuestiones econ&#243;micas o tecnol&#243;gicas, y propon&#237;a en consecuencia la transformaci&#243;n del medio de distribuci&#243;n en medio de comunicaci&#243;n.</p>
<p>  </p>
<p> En 1957, en una mesa redonda titulada &#171;The Creative Act&#187; y organizada por la American Federation of Arts, un &#171;pobre artista&#187; llamado Marcel Duchamp se&#241;al&#243; la contribuci&#243;n del espectador como parte integral del proceso art&#237;stico.</p>
<p>  </p>
<p> La obra de Douglas Davis se hace eco de esas cuestiones, por otro lado esenciales para un arte que trabaja sobre los actuales sistemas de comunicaci&#243;n.</p>
<p>  </p>
<p> Douglas Davis es cr&#237;tico de arte
(ha escrito para <i>Newsweek
</i>y <i>Artforum</i>, entre otras publicaciones) y autor de algunos libros de gran inter&#233;s informativo y pol&#233;mico (como <i>Art and the Future: A History/Prophecy of the Collaboration between Science, Technology and Art</i>, de 1973, y <i>Artculture: Essays on the Post-Modern</i>, de 1977). Adem&#225;s, como artista trabaja con distintos medios y es especialmente conocido por sus propuestas en el campo del v&#237;deo y la televisi&#243;n.</p>
<p>  </p>
<p> En la Bienal del Whitney de 1985 nos sorprende con un film que a su vez hace referencia a otros tres, a tres cl&#225;sicos de distintas &#233;pocas del cine (<i>M</i>/Lang, <i>Psicosis</i>/Hitchcock, <i>Hiroshima, mon amour</i>/Resnais). No conozco esa cinta, pero, a juzgar por lo que escribe su autor, cabe esperar una total coherencia con su obra anterior, desde programas como <i>Electronic Hokkadim</i>, <i>Talk Out!</i> y <i>The Austrian Tapes</i> hasta las m&#225;s recientes experiencias de telecomunicaci&#243;n y bidireccionalidad instant&#225;nea.</p>
<p>  </p>
<p> Davis ha contado que su reflexi&#243;n sobre la televisi&#243;n empez&#243; un d&#237;a en el que, estando bebido en una fiesta, se puso a mirar un televisor por detr&#225;s, con la luz de la emisi&#243;n reflejada en los rostros de quienes lo ve&#237;an por delante.
Posteriormente, el artista materializar&#237;a esa imagen en una escultura/ready-made: un televisor &#171;de cara a la pared&#187; en el espacio de una galer&#237;a. &#191;Castigo simb&#243;lico-conceptual para el medio de comunicaci&#243;n m&#225;s poderoso de nuestros tiempos o arte lum&#237;nico minimalista y chorra?</p>
<p>  </p>
<p> El arte de D. Davis est&#225; enraizado en la encrucijada entre los distintos movimientos inmaterialistas y la explotaci&#243;n de nuevos medios y tecnolog&#237;as. Sus primeros trabajos en v&#237;deo estudian formalmente las posibilidades y las cualidades de la imagen electr&#243;nica, pasando de una experimentaci&#243;n densa y colorista con el videosintetizador de su amigo Nam June Paik
(<i>Numbers</i>, 1970) a unos m&#225;s austeros <i>Studies in Black and White</i> y
<i>Studies in Color Videotape</i>, realizados en los a&#241;os 1971-1972.</p>
<p>  </p>
<p> De esa &#233;poca son tambi&#233;n dos emisiones televisivas en directo, <i>Electronic Hokkadim </i>(WTOP-TV, Washington, 1971) y <i>Talk Out!</i> (WCNY-TV, Siracusa, 1972), abiertas a cierto grado de participaci&#243;n de los espectadores mediante las l&#237;neas telef&#243;nicas. Seg&#250;n algunas fuentes, <i>Electronic Hokkadim</i> fue el primer programa bidireccional en directo presentado por una televisi&#243;n.</p>
<p>  </p>
<p> Los siguientes v&#237;deos de Davis examinan distintas propiedades, elementos inmateriales y caracter&#237;sticas del medio, al tiempo que intensifican la utop&#237;a hipot&#233;ticamente posible de una comunicaci&#243;n directa e inmediata.
Pero suscitan tambi&#233;n una serie de contradicciones en torno a la virtualidad y la realidad de las capacidades e incapacidades de los medios audiovisuales electr&#243;nicos. La negaci&#243;n y la contradicci&#243;n se entienden como parte de un proceso de reflexi&#243;n e investigaci&#243;n.
En ese sentido, el artista escribe: &#171;Al ponernos en contra de algo, o de alguien, forzamos la aparici&#243;n de unos atributos que de otra forma no habr&#237;amos tenido presentes&#187;.</p>
<p>  </p>
<p> Con los trabajos del periodo 1973-1974 (<i>Studies in Myself </i>y la serie <i>Tapes</i>, que realiza en Santa Clara, Austria, Colonia y Florencia), Davis establece una ambig&#252;edad dial&#233;ctica que oscila entre la dimensi&#243;n
&#237;ntima, personal, del v&#237;deo y el instinto gregario del comportamiento social, y entre cierto fetichismo de los elementos materiales del v&#237;deo y la televisi&#243;n (la c&#225;mara y el monitor o receptor) y su desmistificaci&#243;n.</p>
<p>  </p>
<p> Una cinta clave de ese periodo es
<i>The Austrian Tapes </i>(1974), que se emiti&#243; en la ORF-TV austr&#237;aca y donde Davis invitaba al espectador a participar (desde su hogar) en una serie de acciones corporales que constitu&#237;an un desaf&#237;o simb&#243;lico a la pasividad y la distancia del p&#250;blico. (&#171;Ac&#233;rquese al televisor. [...] Ponga las manos sobre las m&#237;as. [...] Apriete los dedos contra la pantalla. [...] Piense en lo que eso significa.&#187;)</p>
<p>  </p>
<p> La pantalla como mediaci&#243;n-barrera y la pantalla como mediaci&#243;n-comunicaci&#243;n directa, ese es el contraste que se subraya en <i>The Austrian Tapes</i>.
Posteriormente, Davis ha reincidido en numerosas ocasiones en ese concepto, de formas similares o an&#225;logas. Adem&#225;s de <i>The Florence Tapes</i>, secuela directa de <i>The Austrian Tapes</i>, se reencuentra en las distintas experiencias de Davis con la televisi&#243;n por cable y por sat&#233;lite: <i>Three Silent and Secret Acts </i>(1976)
y <i>Four Places, Two Figures, One Ghost</i>
(1977), ambas en Manhattan Cable TV; <i>The Last Nine Minutes</i> (1977), parte del programa televisivo inaugural, retransmitido por sat&#233;lite, de la exposici&#243;n Documenta de Kassel, y el t&#237;tulo m&#225;s provocador y significativo entre los mencionados, <i>How to Make Love to Your TV Set</i>
(1979), realizaci&#243;n presentada originalmente a trav&#233;s del primer sistema de televisi&#243;n por cable con capacidad bidireccional instalado en el mundo, el Qube System de la ciudad de Columbus
(Ohio).</p>
<p>  </p>
<p> Entre los trabajos m&#225;s recientes de Douglas Davis cabe mencionar <i>Double Entendre</i> (1981), presentado originalmente como una doble performance simult&#225;nea en el Centre Pompidou de Par&#237;s y el Whitney Museum de Nueva York, mediante la interconexi&#243;n y el intercambio por sat&#233;lite de ambas ejecuciones. En ese caso, Davis parti&#243; de uno de los textos m&#225;s brillantes de Roland Barthes (los <i>Fragmentos de un discurso amoroso</i>) y estructur&#243; la performance como un largo di&#225;logo entre un hombre (&#233;l mismo) y una mujer, cada uno en una ciudad distinta y expres&#225;ndose en su propio idioma. Aunque la pieza se basaba principalmente en el lenguaje verbal (pero no solo en un aspecto sem&#225;ntico, sino tambi&#233;n como sonoridad y s&#237;mbolo de distancia &#8212;y, a la vez, posibilidad de comunicaci&#243;n&#8212; espacial, idiom&#225;tica, sexual), su cl&#237;max se traduce en una imagen en la que podemos advertir el ingenio y el fino sentido del humor subyacentes en la obra de Davis: cuando la fuerza de la pasi&#243;n hace ya irresistible el deseo de ir al encuentro del otro, &#161;Davis emprende el vuelo como un Superman cualquiera!</p>
<p>  </p>
<p> Y es que, como dec&#237;a Jean-Paul Fargier a prop&#243;sito de Paik, pese a su etimolog&#237;a latina la palabra
<i>v&#237;deo</i> no quiere decir <i>yo veo</i>, sino m&#225;s bien <i>yo vuelo</i>...</p>
<p>  </p> </body> </html>