
<p>
<b>Televisi&#243;n y v&#237;deo, artes en sociedad limitada </b>
</p>

<p>
, n&#250;m. 7, dedicado a la televisi&#243;n p&#250;blica, local y global
(diciembre 1998). Traducido por Carlos Mayor
</p>

<p>
Hay que reconocerlo: la televisi&#243;n es una pr&#225;ctica art&#237;stica de pleno derecho. La televisi&#243;n es un arte del mismo modo que muchos de los que aparecen en ella son artistas (televisivos o multidisciplinares, puestos que muchos se dedican asimismo al teatro, al cine, a la radio, cantan y bailan, etc.). Tambi&#233;n est&#225;n los periodistas, pero muchos adem&#225;s son escritores y, al fin y al cabo, artistas. Incluso los figurantes pueden aspirar a algo m&#225;s.
De todos modos, si las palabras grandilocuentes provocan recelo, siempre disponemos de un s&#237;mil tan acertado como el de &#171;animales televisivos&#187;
</p>

<p>
Toda la televisi&#243;n es un surtidor ininterrumpido y abundante de cultura, informaci&#243;n y entretenimiento. Un nido de arte, c&#225;lido y acogedor, que pone en pr&#225;ctica sin reservas los idearios del antiarte o la desaparici&#243;n del arte, y en juego constante el metalenguaje, el mestizaje y la autorreferencialidad (que en el medio se llama <i>autopromoci&#243;n</i>);
rasgos caracter&#237;sticos de los movimientos m&#225;s radicales en la historia del arte moderno/contempor&#225;neo
</p>

<p>
La televisi&#243;n tambi&#233;n se parece a numerosas pr&#225;cticas, tendencias, expansiones del arte contempor&#225;neo por la incomprensi&#243;n, la maledicencia y los recelos que despierta. En el campo art&#237;stico, eso se manifiesta mediante caricaturas y mofas, y con un rechazo que lo convierte en minoritario. En el caso de la televisi&#243;n se juega con palabras &#8211;que si caja tonta o boba, que si telebasura o teleporquer&#237;a&#8211;, se la juzga intelectualmente pero, en cambio, las cifras de audiencia son comparativamente enormes
</p>

<p>
No obstante, la televisi&#243;n es un arte sustentado industrialmente (y todav&#237;a hoy por las administraciones p&#250;blicas) que tiende al adocenamiento gen&#233;rico;
con frecuencia en un grado entre
,
<i>kits</i><i>ch</i>
y ca&#241;&#237;, por hablar en t&#233;rminos meramente est&#233;ticos (y a partir de la dieta que nos imponen las televisiones espa&#241;olas y auton&#243;micas, licenciosas escapadas v&#237;a sat&#233;lite aparte). La televisi&#243;n, como arte, tiene una inclinaci&#243;n daliniana y est&#225; <i>&#225;vida</i>
de audiencias y publicidad
</p>

<p>
La televisi&#243;n p&#250;blica siempre ha tenido la mala conciencia de no ser una televisi&#243;n educadora, sino a menudo embrutecedora, y por eso ha preservado algunas islas para la informaci&#243;n, el entretenimiento y la creaci&#243;n de calin la televisi&#243;n de la abundancia
(por sat&#233;lite y cable) al menos se multiplica la posibilidad de encontrar otros agujeros negros de antimateria cat&#243;dica
</p>

<p>
Sin duda, ha habido y hay un buen pu&#241;ado de realizadores y productores,
profesionales de la televisi&#243;n o que se han sentido atra&#237;dos por el tubo y se han adentrado en &#233;l, entreg&#225;ndose a la experimentaci&#243;n y a la inventiva, a la introducci&#243;n de temas arriesgados y de formatos innovadores. Algunas personalidades singulares por su renombre, incluso como &#171;figuras de culto&#187;, son Jean-Christophe Averty en Francia, el catal&#225;n Josep Montes-Baquer en Alemania, Wim T. Schippers en Holanda, Stefaan Decostere en Flandes o, m&#225;s lejos en el tiempo, Ernie Kovacs en Estados Unidos
</p>

<p>
Por otro lado, desde el cine ha habido y hay aportaciones muy incisivas sobre los horizontes y los retos de la televisi&#243;n (y de los medios electr&#243;nicos en general y por extensi&#243;n): de Rossellini y Renoir a Godard y Kluge, Marker y Larcher, Greenaway y Lynch, etc.; del docudrama did&#225;ctico al
<i>pseudocumental</i>, del docuensayo al criptoculebr&#243;n&#8230;, formatos nuevos, ins&#243;litos o desbaratadores cuyos nombres hay que inventarse o crear a base de combinaciones de otros
</p>

<p>
Pueden destacarse asimismo algunas aportaciones radicales desde la dramaturgia o la m&#250;sica, como los
<i>dramaticules</i>
televisivos de Samuel Beckett (la televisi&#243;n y el videoarte cuentan, por consiguiente, con un aut&#233;ntico premio Nobel), los minidramas en c&#225;psulas de Robert Wilson, las &#243;peras televisuales de Robert Ashley: referentes espec&#237;ficos o &#171;expedientes X&#187; que atestiguan que, en determinadas latitudes geogr&#225;ficas y temporales, en la televisi&#243;n han existido m&#225;rgenes de riesgo de una audacia notable
</p>

<p>
La televisi&#243;n es capaz de incluir todo tipo de medios y disciplinas, ya sea textual, intertextual o metatextualmente. Artistas e individuos dedicados a muy diversas disciplinas &#8211;tambi&#233;n la danza y la literatura, el pensamiento y las ciencias, etc.&#8211; se han sentido atra&#237;dos por este medio y han tratado de intervenir en &#233;l a partir de planteamientos progresistas
d
</p>

<p>
Desde los a&#241;os sesenta, artistas, guerrilleros y diletantes del v&#237;deo han imaginado una televisi&#243;n diferente, alternativa, aunque ese referente u objetivo (en el sentido estrat&#233;gico del t&#233;rmino) se ha diluido mucho en los &#250;ltimos a&#241;os. La televisi&#243;n, por su parte, una vez ha expoliado o asimilado los hallazgos y los tropos del videoarte, del videoactivismo, incluso del v&#237;deo casero, ha pasado p&#225;gina y ha dictaminado que los experimentos deben hacerse &#171;con gaseosa&#187;; as&#237;, el videoarte se ha convertido en carne de museos y centros de arte, de algunos festivales (en n&#250;mero menguante) y de otros circuitos o rincones entre institucionales y alternativos
</p>

<p>
El v&#237;deo no es televisi&#243;n, <i>VT is not TV</i>, dec&#237;an los catecismos, y de ah&#237; se pas&#243; a la moral, casi de cruzada, del v&#237;deo
<i>contra</i>
la televisi&#243;n (y despu&#233;s <i>pro</i>, con la relajaci&#243;n moral de los a&#241;os ochenta). De todos modos, lo que resulta evidente es el papel de referente que desempe&#241;a la televisi&#243;n en el v&#237;deo, y de qu&#233; forma; algo as&#237; como el reverso, la ant&#237;poda, la deconstrucci&#243;n del contrincante. Pero el v&#237;deo tambi&#233;n ha querido jugar a ser la avanzadilla o el laboratorio experimental de la televisi&#243;n, y en cambio se ha topado con que los laboratorios cerraban y la vanguardia era desacreditada por decreto
</p>

<p>
Entre los primeros tanteos art&#237;sticos con el v&#237;deo, quiz&#225; el m&#225;s crudo fuese el de plantar la c&#225;mara en una posici&#243;n fija, situarse uno mismo ante el objetivo y ejecutar una acci&#243;n mientras desfila la cinta. Eso no requiere ninguna habilidad t&#233;cnica, es como ponerse ante un espejo
(electr&#243;nico) &#8211;y pasar al otro lado como un ser transparente&#8211;, y as&#237; se despliega uno de los primeros misterios de la televisi&#243;n, en un sentido bien cat&#243;lico de la expresi&#243;n. La televisi&#243;n como confesionario, como espacio confidencial
</p>

<p>
Las videoacciones de los a&#241;os setenta de Vito Acconci, Douglas Davis, Les Levine, John Baldessari, William Wegman, Chris Burden o Francesc Torres manifiestan una atracci&#243;n por la interpelaci&#243;n directa, la confrontaci&#243;n psicol&#243;gica que se establece por la dimensi&#243;n
&#237;ntima, la peque&#241;a escala de la pantalla televisiva, entre alguien que act&#250;a o representa (que <i>performa</i>, por introducir un barbarismo que puede ser esclarecedor) y quien hace las veces de espectador; con frecuencia con un juego &#171;de t&#250; a t&#250;&#187;
&#8211;o <i>mind to mind</i>, como precisaban Davis o Levine&#8211; que aumenta la tensi&#243;n y trata de provocar alg&#250;n tipo de reacci&#243;n activa/interactiva, aunque sea simb&#243;licamente
</p>

<p>
Algunas de esas cintas o videoacciones comportaban expl&#237;citamente aspectos de exhibicionismo, onanismo y contacto f&#237;sico, rozando a veces la obscenidad. En principio se dir&#237;a que ese tipo de pr&#225;cticas, vinculadas a corrientes como el arte del cuerpo y del comportamiento, y siempre un tanto rudas en el plano formal y en su componente interpelador, no presentan un hilo demasiado directo con la televisi&#243;n (aunque Davis s&#237; tuvo ocasi&#243;n de desarrollar muchas de sus acciones a trav&#233;s de emisiones en directo)
</p>

<p>
Es una forma de v&#237;deo que desaparece en cuesti&#243;n de una d&#233;cada; arcaica en cuanto quiere jugarse a fondo a hacer/ser televisi&#243;n, y en cambio rehabilitada m&#225;s recientemente por parte de algunos artistas j&#243;venes que combinan el v&#237;deo y la acci&#243;n, as&#237; como por el merecido reconocimiento de los antes mencionados. Por otro lado, la televisi&#243;n se ha apropiado de esa crudeza descarnada del exhibicionismo confesional y cat&#225;rtico, de lo &#237;ntimo y privado expuesto al p&#250;blico (da igual que resulte c&#243;mico o pat&#233;tico, feo o simp&#225;tico), como, por ejemplo, en los <i>reality shows</i> y dem&#225;s ejemplos de telebasura
</p>

<p>
La c&#225;mara de v&#237;deo tambi&#233;n se ha dirigido muy inmediatamente al espacio abierto de la realidad circundante, por unos factores motivadores que incluyen la ligereza de los equipos port&#225;tiles, la grabaci&#243;n sincr&#243;nica de la imagen y el sonido en un mismo soporte magn&#233;tico y la inmediatez y el bajo coste del mismo. Partiendo de unos medios inicialmente modestos y precarios, artistas, activistas y <i>videofreaks</i>
han introducido formas de actuar que han influido enormemente en la televisi&#243;n, que la han modificado y diversificado
</p>

<p>
M&#225;s all&#225; de aquellos factores tecnol&#243;gicos, el v&#237;deo como b&#250;squeda est&#233;tica &#8211;incluido aqu&#237;
lo que se ha llamado <i>est&#233;tica de la comunicaci&#243;n</i>&#8211; ha intervenido notablemente en la exploraci&#243;n y la introducci&#243;n de conceptos como los de reportaje electr&#243;nico o ENG; televisi&#243;n local, comunitaria, alternativa (o, en tiempos m&#225;s agitados, de
<i>guerrilla</i>), interactiva; nuevos formados mixtos, designados con palabras como
<i>docudrama </i>o
<i>docuensayo</i>, y audaces formas de compilaci&#243;n y desmontaje (es decir, basadas en material de archivo o apropiado)
</p>

<p>
Algunos nombres pioneros y significativos lo son a t&#237;tulo colectivo: Videofreex, Raindance Corporation, TVTV y Downtown Community Television (DCTV) en Estados Unidos, y Telewissen, Les Cent Fleurs, Videobase, V&#237;deo-Nou, etc. en Europa. Es una camada activista no desaparecida del todo, puesto que pervive en c&#233;lulas eficientes como DCTV, Paper Tiger TV/Deep Dish TV o las organizadas en torno a grupos
&#233;tnicos o con una identidad reivindicativa definida. A t&#237;tulo m&#225;s individual, nombres como los de Juan Downey, Antoni Muntadas, Jeanne Finley, Guszt&#225;v H&#225;mos, Marcelo Exp&#243;sito o Johan Grimonprez pueden ratificar la reticencia a contemplar el documental como un dominio gen&#233;rico y homog&#233;neo
</p>

<p>
Entre el arte implicado y la contrainformaci&#243;n cr&#237;tica, entre el legado reconocido del cine factual (cine-ojo, <i>cin&#233;ma v&#233;rit&#233;</i>, etc.) y la adopci&#243;n de los horizontes propios de las ciencias sociales
(sociolog&#237;a, antropolog&#237;a, historia, estudios culturales y otras), el v&#237;deo documental se sit&#250;a en la encrucijada m&#225;s inmediata con la televisi&#243;n. Aqu&#237; el tr&#225;nsito ha sido notable, con todo tipo de giros y desv&#237;os, suaves y peligrosos, pero ahora hay una consigna vigente e insistente:
no pretend&#225;is romper moldes, conformaos con los patrones que funcionan y pasad por el tubo
</p>

<p>
En tercer lugar, otra vertiente hist&#243;ricamente clave del videoarte ha sido la exploraci&#243;n de su naturaleza electr&#243;nica y del potencial que se deriva de ella, en lo relativo tanto a la construcci&#243;n de im&#225;genes desde cero (con la llegada de lo digital, mediante combinaciones de ceros y unos) como a la alteraci&#243;n o la maleabilizaci&#243;n de los cimientos de las im&#225;genes objetivas, esto es, de ra&#237;z &#243;ptica. Aqu&#237; basta con nombrar a algunos cl&#225;sicos como Nam June Paik, los Vasulka y Peter Campus
</p>

<p>
Entre el bricolaje emp&#237;rico &#8211;a menudo combinado con unos conocimientos b&#225;sicos de electr&#243;nica o con la colaboraci&#243;n de ingenieros profesionales&#8211; y la magia blanca con efectos o recursos que la televisi&#243;n a&#250;n no hab&#237;a aprendido a dominar y a aprovechar realmente, el sino digital ha arrinconado despu&#233;s esos descubrimientos, no sin antes asimilarlos y vulgarizarlos en poco tiempo. (Lo cual, de todos modos, no invalida el valor primordial de las obras pioneras m&#225;s .)</p>

<p>
Por cierto, un detalle de generosidad habitual en la investigaci&#243;n y el desarrollo de esas herramientas &#8211;denominadas sintetizadores, colorizadores, procesadores&#8230;&#8211;estrib&#243; en la cesi&#243;n gratuita o a bajo precio de esquemas electr&#243;nicos o aparatos cl&#243;nicos, sin el amparo de una patente y expuestos a modificaciones y mejoras; es decir: en reg&#237;menes equivalentes a los de los programas inform&#225;ticos denominados de <i>freeware</i>
y <i>shareware</i>.
A estas alturas, ese tipo de episodios exige un reconocimiento equivalente al que est&#225;n obteniendo otros desarrollos pr&#243;ximos en los campos del audio, la m&#250;sica electr&#243;nica, las ra&#237;ces del techno y otras aventuras s&#243;nicas
</p>

<p>
El videoarte, despu&#233;s de esas y otras primeras orientaciones, tuvo su llamada al orden a mediados de los a&#241;os ochenta, cuando, para deshacerse de la carga de su sufijo, algunos se agenciaron otras formulaciones que al fin y al cabo no resuelven nada, como el v&#237;deo de creaci&#243;n o v&#237;deo de autor, o algo a&#250;n m&#225;s complicado, v&#237;deo posvideoarte (en ingl&#233;s con las siglas PVAV). Menos mal que el v&#237;deo todav&#237;a trae cola, ligado siempre a un sufijo o a otro; eso supone que conserva una identidad, de hecho siempre una identidad m&#250;ltiple
</p>

<p>
En lo relativo al v&#237;deo, esa llamada al orden reclamaber&#225;rquica propia del campo audiovisual, antes que del desbarajuste del arte contempor&#225;neo. Y se valoraba en el mismo sentido la proximidad a los c&#243;digos m&#225;s familiares tanto de la televisi&#243;n como del cine, la sofisticaci&#243;n t&#233;cnica y los acabados m&#225;s vistosos y cargados de efectos
</p>

<p>
Seguramente las pr&#225;cticas audiovisuales independientes que obedecen a esos requisitos, o que exhiben un virtuosismo laborioso (el caso de la animaci&#243;n, por ejemplo, ya sea tradicional o infogr&#225;fica), son las que tienen m&#225;s posibilidades de salida a los mercados. Pero tal vez esa no era la verdadera apuesta, y los planteamientos no siempre eran tan estrat&#233;gicos como jugar a ceder o vencer, sino quiz&#225; limitarse a marcar un gol o jug&#225;rselo todo a hacer saltar la banca
</p>

<p>
As&#237; pues, a pesar de los intentos de poner orden, en el campo (y en los alrededores) del videoarte o del v&#237;deo independiente, o alternativo o como se quiera llamarlo, de alg&#250;n modo hemos vuelto a un desorden ca&#243;tico, borroso, azaroso, fractal, inestable; no tanto como un retroceso al estado nativo y salvaje de donde arranca su historia (seg&#250;n hemos aprendido al examinarla y escribirla), sino como una reacci&#243;n a modo de anticuerpos frente a la concentraci&#243;n, la globalizaci&#243;n, la uniformidad medi&#225;tica en aumento
</p>

<p>
Algunos signos reveladores de la evoluci&#243;n reciente del v&#237;deo como un arte en s&#237; mismo o como un soporte &#171;incidental&#187; &#8211;uno m&#225;s en el abanico de los disponibles&#8211;
son: el aprovechamiento de unos medios humildes (pero cada vez m&#225;s ricos en posibilidades), una desinhibici&#243;n intimista e identitaria que se a&#241;ade a un menguado inter&#233;s por la exuberancia t&#233;cnica, un grado de apropiaci&#243;n feroz y de activismo exento de medias tintas, y toda una decantaci&#243;n hacia la instalaci&#243;n, los formatos expandidos
(o que se asemejan) y el videoarte-de-coleccionismo
</p>

<p>
Muchos de esos extremos chocan con lo que la televisi&#243;n encarna institucionalmente en tanto que servicio p&#250;blico
(incluso cuando act&#250;a desde el sector privado). Por lo tanto, constatamos una p&#233;rdida de confianza y de ilusi&#243;n respecto de la televisi&#243;n como lugar posible de intervenci&#243;n, regeneraci&#243;n y activismo cultural (una cuesti&#243;n, de todos modos, que a&#250;n hay que matizar) y, en cambio, las grandes esperanzas est&#225;n hoy depositadas en la madre de todas las redes &#8211;despu&#233;s de las televisivas, tambi&#233;n llamadas, t&#233;tricamente, <i>cadenas</i>&#8211;, es decir, internet como horizonte entre futurible y ut&#243;pico de nuevas agitaciones art&#237;sticas y activistas desencadenadas de rebote
</p>

<p>
Frente a la teor&#237;a de la televisi&#243;n de la abundancia, que profetizaba una pluralizaci&#243;n y una segmentaci&#243;n de las audiencias, de forma comparable a la diversidad existente en el caso de las publicaciones impresas, <i>gutemberguianas</i>
&#8211;donde hay unas de gran consumo, otras m&#225;s especializadas o minoritarias, y fanzines y autoediciones de tirajes muy limitados&#8211;, internet ha levantado tan grandes expectativas porque precisamente, hoy por hoy, es un medio m&#225;s cercano de lo que parece al mundo de la edici&#243;n impresa, como indica la expresi&#243;n ya habitual de
&#171;publicaci&#243;n en l&#237;nea&#187;
</p>

<p>
La <i>postelevisi&#243;n</i>, concepto introducido por Peter de Agostino y David Tafler, contempla positivamente los m&#225;rgenes por los que la televisi&#243;n ya no es (o ha dejado de ser) lo que era antes: un elemento tan central y nuclear como una chimenea y una ventana abierta al mundo de par en par. Otra palabra que ilustra el nuevo paradigma es <i>multimedia</i>, trasladada de la jerga del arte a las industrias de la informaci&#243;n y la inform&#225;tica, que la reparten como pan bendito
</p>

<p>
El conceptutorales que no merece otra fama que la que ha dado su peor reputaci&#243;n a las formas sufijadas del v&#237;deo
</p>

<p>
Sin embargo, en definitiva televisi&#243;n es tambi&#233;n otras televisiones, m&#225;s all&#225; del modelo que a&#250;n se mantiene en lo alto de la jerarqu&#237;a. El propio v&#237;deo es potencialmente televisi&#243;n &#8211;<i>microtelevisi&#243;n</i>, dec&#237;a Ren&#233; Berger&#8211;, aunque por lo general desprovisto de cuernos
(antenas o mala fe). Con el paso del tiempo, el v&#237;deo, que en principio parec&#237;a identificarse como antitelevisi&#243;n, contratelevisi&#243;n o altertelevisi&#243;n, ha intentado cada vez m&#225;s meter cuchara en dicho medio
</p>

<p>
Y m&#225;s all&#225;
de parcelas m&#225;s o menos ocasionales y de plataformas contad&#237;simas y bastante excepcionales; m&#225;s all&#225; de la coincidencia entre la oferta y la demanda en cuanto a los formatos y estilos m&#225;s estandarizados, y m&#225;s all&#225; de los videoclips y los <i>artbreaks</i>
(c&#225;psulas, intersticios, formatos min&#250;sculos abiertos a cierto libertinaje creativo, ligados en gran medida al &#233;xito y la influencia del modelo MTV), lo cierto es que la televisi&#243;n ha dejado de ser una utop&#237;a realizable que pudiera solucionar de paso la precaria econom&#237;a y el exiguo mercado del v&#237;deo (mal) llamado
<i>independiente</i>
</p>

<p>
No obstante, la televisi&#243;n no se ha convertido en un reto caduco, muy al contrario. Televisi&#243;n y cine son precisamente unos referentes muy vigentes en la actividad art&#237;stica m&#225;s actual, como ha expuesto el cr&#237;tico Jean-Christophe Royoux en varios ensayos; como ha podido verse en distintas manifestaciones recientes (la tercera Bienal de Lyon, la Documenta X en Kassel, Arkipelag TV en Estocolmo); con el reconocimie)
</p>

<p>
<b>Referencias</b></p>

<p>
Eugeni Bonet: &#171;TV or not TV? Videocrash, Death TV &amp; Post TV&#187;, </span>ZEHAR.
</i></span><i>Bolet&#237;n de Arteleku</i>, n&#250;m. 33
(primavera de 1997)
</p>

<p>
Peter d&#8217;Agostino, David Tafler
(eds.): <i>Transmission.
</i>Toward a Post Television Culture</i></span>.
Thousand Oaks, California: Sage Publications, 1995.</span></p>

<p>
Hans-Ulrich
&#214;brist: &#171;Arkipelag TV. </span>Una conversaci&#243;n con Alexander Kluge
(http://aleph-arts.org/pens/kluge.htm)
</p>

<p>
Jean-Christophe Royoux: &#171;D&#8217;une boucle &#224; l&#8217;autre: activit&#233; artistique, post-cin&#233;ma et t&#233;l&#233;vision&#187;, </span>Journal de l&#8217;Institut Fran&#231;ais de Bilbao</i></span>(Incluye traducci&#243;n al castellano.)</p>


