
<div title="header">
	<p>
	</p>
<h1 lang="es-ES" class="western">Inventos del &#171;te veo&#187;. Notas sobre videoscopia, televisi&#243;n y otras tangencias</h1>
<p>Publicado originalmente en el sitio web <u>.com</u>
(hoy desaparecido)
</p>

<p>Proyecto intermedia dirigido por Jordi Martorell, Lidia Porcar y Marina Sala;
revista electr&#243;nica a cargo de Jorge Luis Marzo, 2001. Actualmente en www.soymenos.net</a></u>
(J.L. Marzo)
</p>

<p><b>Reverso de la televisi&#243;n</b></p>

<p>En los anales de los medios alternativos, rengl&#243;n del v&#237;deo y pr&#225;cticas afines, constan numerosas piezas que fantasean con la inversi&#243;n o reversibilidad de la televisi&#243;n. Quiz&#225; convendr&#237;a distinguir entre ambos t&#233;rminos y decir que uno equivale a deconstrucci&#243;n, desbaratamiento o vuelco simb&#243;lico, mientras que el segundo tendr&#237;a el &#225;nimo m&#225;s constructivo de ir en pos de la bidireccionalidad, la participaci&#243;n activa y otros potenciales de la tecnolog&#237;a televisual en s&#237;
</p>

<p>En una obra de Bill Viola titulada 
(1984), originalmente concebida en fracciones de un minuto destinadas a ser insertadas en los intersticios normales de las parrillas televisivas, la c&#225;mara toma el punto de fuga mismo del emplazamiento de la caja embobadora en distintos hogares, para obtener en contraplano una serie de retratos de sus audiencias
</p>

<p>Estos espectadores an&#243;nimos tienen una apariencia hipnotizada y, por lo tanto, seg&#250;n la concepci&#243;n y el destino primero del proyecto, constituyen sujetos eminentemente est&#225;ticos que paralizan moment&#225;neamente el raudal del teletubo. Los observadores pasan a ser observados y su imagen es devuelta, como si se tratara de un reflejo especular, al sucesivo espectador que probablemente reincida en el mismo gesto mir&#243;n: esencialmente, un adem&#225;n pasivo
</p>

<p>Concebido inicialmente como un aparato anexo a los requisitos de productividad de la televisi&#243;n, el v&#237;deo puede entenderse como el reverso de aquella. Todo el ideario del v&#237;deo alternativo (por no entrar en m&#225;s distingos respecto de otros apelativos y sufijos) parece cimentarse en esta relaci&#243;n de anverso y rev&#233;s, que ya en sus inicios se formula con el lema ,
;
una contrase&#241;a sobreinterpretada seg&#250;n fueron soplando los vientos.
</p>

<p>Aunque la televisi&#243;n ya hab&#237;a atra&#237;do precozmente la atenci&#243;n de algunos artistas como los futuristas o los espacialistas, a partir del momento en que el v&#237;deo deviene una tecnolog&#237;a m&#225;s pr&#243;xima &#8211;m&#225;s abordable, ligera, manejable&#8211; 
</p>

<p>surge la ocasi&#243;n del desquite art&#237;stico y activista, cr&#237;tico y emancipador sobre todo aquello que la televisi&#243;n pod&#237;a potencialmente ser y muy raramente ha sido; el desquite sobre el abuso de autoridad de su primac&#237;a institucional, altanera y enajenadora
</p>

<p>Incluso en su aspecto m&#225;s prosaico como artilugio casero &#8211;electrodom&#233;stico de la l&#237;nea marr&#243;n, ap&#233;ndice del televisor que se ha adue&#241;ado del lugar de la chimenea&#8211;, el v&#237;deo introduce t&#225;citamente una liberaci&#243;n de las cadenas (ese t&#233;trico aunque adecuado apelativo que reciben los canales de televisi&#243;n en algunas lenguas latinas), por trivial o ilusoria que resulte
</p>

<p>Sin embargo, a fin de cuentas, 
no designa otra cosa en particular que la se&#241;al en s&#237;, los impulsos el&#233;ctricos que llevan la informaci&#243;n de la imagen, y por lo dem&#225;s tanto sirve para denominar al aparato (magnetoscopio), a la cinta o al disco y su contenido, al ventanuco din&#225;mico que se abre en la pantalla del ordenador&#8230; o, en &#225;mbitos m&#225;s restringidos, a un conjunto de pr&#225;cticas con unos rasgos m&#225;s o menos (o de m&#225;s a menos) espec&#237;ficos
</p>
<h1 lang="es-ES" class="western">Luz de v&#237;deo</h1>
<p>Paul Virilio (
para referirse a la acelerada integraci&#243;n de las t&#233;cnicas basadas en la inmediatez de la se&#241;al de v&#237;deo en una multitud tal de objetos y lugares que hace a&#241;icos la acepci&#243;n primera y m&#225;s habitual de la televisi&#243;n como un medio de informaci&#243;n y entretenimiento, un arte de representaci&#243;n (arte tanto en el sentido m&#225;s llano y gen&#233;rico del t&#233;rmino, como tambi&#233;n en el m&#225;s elevado), una forma de espect&#225;culo masivo servido a domicilio
</p>

<p>Esta videoscopia se manifestar&#237;a disipativamente en circuitos de vigilancia, videoporteros, cajeros autom&#225;ticos, transmisiones telem&#225;ticas y otros cachivaches y servicios de nuevo cu&#241;o, adem&#225;s de en la fragmentaci&#243;n multiplicadora de la oferta televisiva convencional: televisi&#243;n local o de proximidad, canales tem&#225;ticos, v&#237;deo bajo demanda, etc. A eso mismo se refiere el concepto

introducido por Peter d'Agostino y David Tafler (<i>Transmission:
Toward a Post Television Culture</i>, 1995). 
</p>

<p>Para Virilio, la videoscopia es una forma de iluminaci&#243;n indirecta que deviene tan com&#250;n y corriente como la luz el&#233;ctrica, y que cobra autonom&#237;a respecto a la concepci&#243;n de la televisi&#243;n como un surtidor de pasatiempos e informaciones a chorro (y, seg&#250;n anhelos m&#225;s altos, tambi&#233;n de cultura, educaci&#243;n, arte y comunicaci&#243;n abierta). Es esa televisi&#243;n que hoy va mayormente a la deriva entre las formas m&#225;s degradadas del zapping y la nutrici&#243;n-basura
</p>

<p>As&#237;, la potestad del televisor se rebajar&#237;a a la de una fuente de luz m&#225;s
(y m&#225;s bien pobre en iluminaci&#243;n del mag&#237;n) entre las dem&#225;s pantallas visitadas con asiduidad, incluyendo su funci&#243;n de terminal conectado a otros aparatos y servicios que, por lo menos, permiten una dieta m&#225;s rica (v&#237;deo, reproductor DVD, consola de videojuegos, parab&#243;lica, cable de fibra &#243;ptica). Y, en el fondo, la luz que a veces cuenta m&#225;s es la de la l&#225;mpara piloto que indica que el aparato sigue funcionando o est&#225; a punto: el v&#237;deo para grabar, el ordenador para procesar, el m&#243;dem para descargar, el m&#243;vil para recibir, y as&#237; sucesivamente
</p>

<p>En nuestros d&#237;as, la televisi&#243;n es algo demasiado familiar como para seguir requiriendo la atenci&#243;n que merec&#237;a hace apenas unos a&#241;os, tras varias generaciones que ya la han tomado como primera papilla.
De manera que tanto sus previos encantos como las renovadas utop&#237;as
&#8211;aquellas primeramente alentadas por el v&#237;deo alternativo&#8211; se han trasladado en gran medida a los metamedios inform&#225;ticos y telem&#225;ticos, en el comp&#225;s de espera de una probable y m&#225;s firme convergencia entre las pantallas del televisor y el ordenador
</p>

<p>Este relativo desmayo de la televisi&#243;n ha afectado tambi&#233;n al v&#237;deo como demarcaci&#243;n aut&#225;rquica, lo cual se ha hecho asaz perceptible por el menguante empaque de la producci&#243;n monocanal en los &#250;ltimos a&#241;os. En cambio, en la medida en que la telepantalla ya no es un referente tan crucial en nuestra cultura, conviene recapitular algunas propuestas que inciden plenamente en esa dispersi&#243;n videosc&#243;pica y postelevisiva, tanto desde la creaci&#243;n art&#237;stica como desde la cavilaci&#243;n te&#243;rica y mediante el trueque de ideas entre ambos bandos
</p>

<p><b>Azogue electr&#243;nico</b></p>

<p>La alegor&#237;a del 
como dice Virilio
</p>

<p>Desde la introducci&#243;n del v&#237;deo, la alegor&#237;a del espejo se plantea repetidamente desde diversos enfoques te&#243;ricos: por ejemplo, en la

formulada por Rosalind Krauss a prop&#243;sito de algunos de los primeros artistas atra&#237;dos por el medio. O tambi&#233;n en la noci&#243;n de

de polivalentes aplicaciones para el autoadiestramiento de actores, oradores, ense&#241;antes, etc.: el contemplarse para perfeccionarse, para desarrollar el talento
</p>

<p>El azogue electr&#243;nico de las tecnolog&#237;as de teletransmisi&#243;n y memorizaci&#243;n audiovisual resulta subyugante y alarmante al mismo tiempo. La fascinaci&#243;n por el dispositivo que permite verse y saberse visto parece renovarse constantemente, y as&#237; podr&#237;a percibirse el fen&#243;meno reciente de las , con todo lo que muchas de ellas entra&#241;an de voyeurismo, exhibicionismo y puro juego (ya sea infantil o de adultos, con inocencia o con morbo)
</p>

<p>Pero tambi&#233;n existen los espejos de doble cara y las c&#225;maras ocultas &#8211;o todo lo contrario: intimidatoriamente bien visibles&#8211;, como parte del acecho de aquello que Michel Foucault (
que se instaura con la edad moderna de la raz&#243;n y del positivismo tecnocient&#237;fico; en consabida alusi&#243;n al 
concebido hacia 1791 por el jurista brit&#225;nico Jeremy Bentham, un proyecto doblemente gr&#225;fico y especulativo, un dise&#241;o arquitect&#243;nico a la vez que filos&#243;fico
</p>

<p>Si la televisi&#243;n es una ventana al mundo (y muchas veces ser&#237;a preferible bajar la persiana), tambi&#233;n es la mirilla o el ojo de la cerradura por donde se nos observa, controla, vigila. El fundamento del r&#233;gimen pan&#243;ptico en nuestra sociedad disciplinaria, vigilante, reside en esa falsa reciprocidad de lo visible y lo invisible, equivalente a la faz transparente u opaca del espejo enga&#241;oso
</p>

<p>Detr&#225;s de esa faz opaca, impenetrable, puede haber un ojo humano o no: las im&#225;genes que toman las c&#225;maras de vigilancia pueden ser grabadas (a veces a intervalos) sin m&#225;s supervisi&#243;n, y solo cuando se detecta alguna irregularidad son verificadas a posteriori para averiguar lo que sucedi&#243;. El siguiente paso es el de la 
artificial mediante m&#225;quinas suficientemente inteligentes o instruidas, capaces de desenvolverse en estado de solter&#237;a
</p>

<p><b>La c&#225;mara fisgona</b></p>

<p>Uno de los primeros artistas de la modernidad atra&#237;dos por la cinematograf&#237;a, Fernand L&#233;ger (, 1933) esboz&#243; un proyecto audiovisual que, conciliando los rasgos de

y 
que &#233;l reclamaba para las aportaciones de la vanguardia al joven arte de la imagen cinem&#225;tica, result&#243; as&#237; de quim&#233;rico y anticipador: 
</p>

<p>&#171;He so&#241;ado con el film de las &quot;24 horas&quot; de una pareja cualquiera que trabajan en oficios cualesquiera&#8230; Aparatos nuevos y misteriosos permiten seguirles &quot;sin que se den cuenta&quot;, (&#8230;)
sin que nada quede fuera: su trabajo, su silencio, su vida &#237;ntima y amorosa. Proyectad este film en toda su crudeza, sin intervenci&#243;n alguna. Supongo que ser&#237;a algo tan terrible que la gente huir&#237;a aterrorizada pidiendo socorro, como ante una cat&#225;strofe mundial.&#187;</p>

<p>Treinta a&#241;os despu&#233;s, con la consiguiente evoluci&#243;n t&#233;cnica de por medio y entre nuevos aires de transgresi&#243;n, el sue&#241;o de L&#233;ger est&#225;
pr&#243;ximo a realizarse en algunos de los primeros films de Andy Warhol y de Yoko Ono. Tanto a trav&#233;s de la exposici&#243;n literal del tiempo real como mediante la intromisi&#243;n en la intimidad ajena, hurgando tanto en lo demasiado humano como en lo demasiado cotidiano
</p>

<p>La imp&#225;vida c&#225;mara de la Factor&#237;a Warhol recogi&#243; en su m&#225;s ultrajante crudeza algunas de las situaciones tenidas entonces por m&#225;s envilecedoras y obscenas de la conducta humana &#8211;estados de embriaguez o c&#243;lera extrema, am&#233;n de procaces escenas de sexo y drogas&#8211;, hallando sus cobayas en su c&#237;rculo de amistades y
, las cuales no siempre eran plenamente conscientes de la exhibici&#243;n imp&#250;dica a la que a priori se prestaban
</p>

<p>El film 
(1969), de Yoko Ono y John Lennon, constituye otro hito extremo al presentar el acoso al que la c&#225;mara &#8211;y, con ella, el reducido equipo de rodaje&#8211; somete a una joven extranjera de visita en Londres, sin nunca dirigirle la palabra a pesar de su malestar en aumento, y persigui&#233;ndola desde el espacio abierto de la urbe hasta el interior del propio apartamento en el que intenta refugiarse. (Al parecer, mediante un duplicado de la llave obtenido con la complicidad previa con la hermana de esta mujer 
por la c&#225;mara.)</p>

<p>Adem&#225;s de estos s&#243;rdidos contrapuntos a la tradici&#243;n televisiva de las c&#225;maras dichas 
o 
&#8211;que, con el tiempo, se han arrojado a ocurrencias de peor gusto todav&#237;a&#8211;, as&#237; como ante los positivos idearios del 
(de Vertov a Rouch y otros), mucho se ha dicho en torno a las extralimitaciones de Warhol y de los artistas y anartistas de Fluxus en contig&#252;idad con el arte emergente del v&#237;deo
</p>

<p>A principios de los setenta, y en el marco de la televisi&#243;n p&#250;blica estadounidense (PBS), se produjo la serie , en visible sinton&#237;a con los postulados y las maneras de hacer del cine directo, el v&#237;deo alternativo y otros brotes coet&#225;neos (ENG, docudrama, etc.). Presentaba el seguimiento del d&#237;a a d&#237;a de una unidad familiar &#8211;con alguna fractura intermedia&#8211;, a lo largo de varios meses compendiados en 12 emisiones de una hora, y mediante un moderado despliegue de varias c&#225;maras en las distintas estancias de su hogar
</p>

<p>A finales de los noventa la factor&#237;a de telexplotaci&#243;n Endemol Entertainment, con sede social en Holanda, ha lanzado y exportado el formato-patr&#243;n del , donde todo &#8211;casa, comunidad, normas, etc.&#8211; es representaci&#243;n y simulacro que puede seguirse a tiempo completo. Pasada la fecha de mal ag&#252;ero de 1984, el ojo sin p&#225;rpado de la distop&#237;a de Orwell se ha trastocado en pretexto de un divertimento rampl&#243;n
</p>

<p>Podemos convenir que este , con toda su prole, a parte de secuelas y suced&#225;neos, es espantoso por una mera cuesti&#243;n de sensibilidad. Pero, lejos de la hecatombe anta&#241;o presentida por L&#233;ger, y una vez ahuyentadas tanto la objetividad como la imaginaci&#243;n, m&#225;s que un apocalipsis, constituye un apoteosis de la mundializaci&#243;n y de la correlaci&#243;n entre vigilancia y espect&#225;culo
</p>

<p><b>La fase del espejo</b></p>

<p>Se ha dicho que el v&#237;deo alternativo, particularmente las instalaciones basadas en dispositivos de circuito cerrado, ha brindado la ocasi&#243;n para familiarizarse con las transparencias y entretelas de la videoscopia antes de que penetrara a gran escala como componente ordinario de nuestro decorado social; esa luz indirecta a la que se ha referido Virilio, la cual ya no requerir&#237;a demasiado nuestra atenci&#243;n por su misma omnipresencia
</p>

<p>El circuito cerrado de televisi&#243;n (CCTV), dispositivo tan propicio para la interactividad &#8211;un concepto del que tanto se ha abusado, pero que, en efecto, lleva aparejado un cierto hechizo&#8211;, se ha prodigado ciertamente en los salones del arte y de bullicio cultural mediante propuestas tan incisivas como sugerentes, a modo de disecci&#243;n del mismo dispositivo, as&#237; como con un talante cr&#237;tico y de alerta ante los atropellos del panoptismo institucional
</p>

<p>Dicho dispositivo no es otra cosa que un modelo a escala del principio mismo de la televisi&#243;n, y por tanto ha permitido explorar de entrada aquellos aspectos distintivos de un medio amordazado por imposiciones jer&#225;rquicas. Resulta connatural pues que los or&#237;genes de la videograf&#237;a pasen por una 
de fascinaci&#243;n y autodescubrimiento, entre el fetichismo del aparato y la utop&#237;a regeneradora
</p>

<p>Algunas de las primeras videoinstalaciones realizadas a finales de los sesenta &#8211;las 
de Les Levine, 
de Frank Gillette y Ira Schneider&#8211; tienen el aspecto de consolas de m&#250;ltiples monitores, c&#225;maras y otras fuentes de imagen, como si reprodujeran los despliegues t&#237;picos de las cabinas de control de un estudio de televisi&#243;n o de un circuito de vigilancia. Y, de alg&#250;n modo, eso es lo que se 
y expone para restituir al espectador una experiencia de observaci&#243;n de la que habitualmente carece. El observador, dec&#237;a Levine, es el

y la informaci&#243;n&#8230; 
</p>

<p>En esos mismos a&#241;os, Bruce Nauman ha realizado algunas instalaciones como ,

y , con una alusi&#243;n m&#225;s expl&#237;cita a los mecanismos de la videovigilancia. El observador es ahora la presa, como rotundamente insin&#250;a el opresivo pasadizo que empareda la m&#225;s conocida de estas piezas. Y el circuito de v&#237;deo, lejos de ofrec&#233;rsele como un espejo cordial, constituye un cebo defraudador que m&#225;s bien le priva de acceder a su propia imagen o ganar control sobre el dispositivo. El circuito es cerrado y bien cerrado
</p>

<p>Esta yuxtaposici&#243;n de videoscopia y arquitectura (en Nauman mediante una estilizaci&#243;n escult&#243;rica deudora del minimalismo m&#225;s severo) halla seguidamente un desarrollo m&#225;s amplio en la trayectoria de Dan Graham durante los a&#241;os setenta. Sus 
ponen en relaci&#243;n las funciones y codificaciones de elementos y patrones arquitect&#243;nicos (ventana, espejo, escaparate; viviendas, edificio de oficinas, centro comercial) con su suplantaci&#243;n y alteraci&#243;n por la acelerada mediaci&#243;n tecnotr&#243;nica
</p>

<p>Si los espejos son materiales id&#243;neos para la construcci&#243;n de laberintos, por el propio misterio que encierran, el nuevo instrumental de la televisi&#243;n y del v&#237;deo se ha sumado a la regeneraci&#243;n de esta arquitectura equ&#237;voca, cuya &#237;ndole recreativa tiene su contrapunto en las desconcertantes espesuras del paisaje medi&#225;tico contempor&#225;neo. La imagen del cuerpo atrapado en un laberinto se halla expuesta literalmente en una instalaci&#243;n de Peter Weibel
</p>

<p>En

(1984), Weibel ha jugado doblemente con el motivo del laberinto y con los trampantojos de la perspectiva curiosa, de manera que el visitante se encuentra en un d&#233;dalo de sobrio alzado &#8211;paneles enderezados sobre el suelo&#8211; y como un cuerpo intruso sobre el diagrama de un segundo laberinto, este de planta m&#225;s tradicional, el cual se visualiza en un monitor contiguo donde los fragmentos desmembrados en el espacio tridimensional, 
obtenido por el estrat&#233;gico emplazamiento de una c&#225;mara en circuito cerrado
</p>


<p><b>La hora del Gran Hermano</b></p>

<p>Con el avecinamiento del agorero a&#241;o 1984, algunas obras han comenzado a enfocar m&#225;s n&#237;tidamente la dualidad de realidad y ficci&#243;n, la indiscernibilidad entre lo factual y lo virtual, con referencias expl&#237;citas u oblicuas a la utop&#237;a negativa de Orwell y a las siniestras correspondencias que llegan a advertirse en el mundo real.
As&#237;, la vigilancia ha pasado a convertirse en un tema mayor del v&#237;deo alternativo
</p>

<p>En el videofilm de largometraje 
(El gigante, 1982-1983), Michael Klier ha hilado una trama de im&#225;genes tomadas de toda clase de dispositivos electro-&#243;pticos de vigilancia, seguridad y simulaci&#243;n, las cuales cobran la intriga propia de una narrativa de ficci&#243;n mediante un acompa&#241;amiento musical colmado de tensi&#243;n y otras atm&#243;sferas sonoras propias del cine de g&#233;nero; un intencionado &#233;nfasis que modifica la percepci&#243;n de este compendio de escenas que discurren entre lo anodino y lo inquietante
</p>

<p>El cine ya hab&#237;a introducido el motivo de las tecnolog&#237;as-esp&#237;a en obras de Fritz Lang (, 1977). Pero es en los a&#241;os ochenta cuando el v&#237;deo emprende la muda

entendida como un g&#233;nero distintivo que ha equiparado sugerentemente con la ciencia ficci&#243;n
</p>

<p>Y de lo que se ocupar&#237;a esencialmente esta videoficci&#243;n es de lo que Virilio ha llamado, a su vez, la videoscopia. Es decir: de todos aquellos aspectos en los que se manifiesta la gran escalada sociol&#243;gica de las m&#225;quinas de visi&#243;n electr&#243;nicas, a su vez tomadas como motores o engranajes fundamentales de la ficci&#243;n. Seg&#250;n esta interpretaci&#243;n, la creaci&#243;n videogr&#225;fica se volcar&#237;a entonces de lo end&#243;geno a lo ex&#243;geno, abandonando los componentes de ensimismamiento autorreferencial tan fecundos anteriormente
</p>

<p>Regresando al asunto de las videoinstalaciones, eso se puede observar en un empleo un tanto diverso del circuito cerrado y otros dispositivos con una conciencia plena de su env&#233;s ubicuo en nombre de la seguridad y el orden. En 
(1984), Dieter Froese combin&#243; los elementos habituales en los circuitos de vigilancia con materiales pregrabados que simulaban un interrogatorio (refiri&#233;ndose de paso a las inquisiciones tan habituales que acarrea el arte cr&#237;tico o politizado) y un n&#250;mero de c&#225;maras falsas, hechas de cart&#243;n, a la manera de las utilizadas com&#250;nmente para intimidar al personal sin encarecer la inversi&#243;n en equipos
</p>

<p>Desde la segunda mitad de los ochenta, Julia Scher ha abordado de manera casi monogr&#225;fica los temas de la vigilancia, las instituciones disciplinarias y la 
(por aludir a una de sus piezas en red: , 1995). Su obra interviene en la familiaridad adquirida de los dispositivos preventivos y de control &#8211;que, en los espacios muse&#237;sticos donde suele intervenir, tienen una funci&#243;n de protecci&#243;n de sus tesoros&#8211;, perturbando dicha familiaridad mediante s&#250;bitos insertos de ficci&#243;n, mensajes escritos y otras disecciones y contravenciones del propio mecanismo vigilante
</p>

<p>Antoni Muntadas, contumaz trotamundos del entorno medi&#225;tico, ha acudido al circuito cerrado con periodicidad, y ya en su instalaci&#243;n 
(1977) incidi&#243; en un apropiado parang&#243;n entre la pantalla de control y la inocente jaula del p&#225;jaro-mascota. M&#225;s recientemente, en 
(1996) &#8211;instalaci&#243;n en el marco de una exposici&#243;n sobre transformaciones urbanas en su ciudad natal&#8211;, acud&#237;a en gran parte a la dotaci&#243;n videosc&#243;pica del propio lugar de exposici&#243;n a fin de devolver a los ciudadanos el testigo ocular de varios proyectos urban&#237;sticos bajo sospecha de componendas especulativas o de una higiene social abusiva
</p>

<p>Paul Garrin, en sus instalaciones 
(1990) y 
(1993), ha incorporado sensores y recursos inform&#225;ticos para la recreaci&#243;n simb&#243;lica de los modernos arquetipos de protecci&#243;n del privilegio social; en ambos casos con la amenazante figura de un perro/cancerbero que hostiga los movimientos del espectador mediante un uso certero de unos dispositivos que se denominan interactivos con demasiada alegr&#237;a. 
</p>

<p>Propuestas tan dispares como las referidas entra&#241;an una reversi&#243;n de las videoscopias m&#225;s comunes y ubicuas, y obtienen sobresalientes adhesiones entre una nueva generaci&#243;n de artistas, 
y simulacros empresariales como los de Daniel Garc&#237;a And&#250;jar &#8211;con su astuta actividad punto-com
a trav&#233;s del logotipo, la interfaz y el antifaz de Technologies To The People&#174; (TTTP)&#8211; y el emprendedor equipo del Bureau of Inverse Technology (BIT)
</p>

<p>Del primero, en su proyecto , iniciado hacia 1994, cabe hallar el embri&#243;n de los productos y servicios que ofrece actualmente, en nombre propio o de la acreditada firma TTTP&#174;, cuya tecnolog&#237;a-estrella consiste en un sistema de telecajeros autom&#225;ticos para erradicar la fealdad y los engorros de la mendicidad y la vejatoria limosna en la pr&#243;spera sociedad de la informaci&#243;n
</p>

<p>En cuanto a BIT, en su cinta demo 
(1996) &#8211;promoci&#243;n capciosa de un sistema concebido para la detecci&#243;n y prevenci&#243;n de apremiantes tentaciones suicidas en lugares id&#243;neos a tal fin&#8211; hallo igualmente la vigencia de un malicioso esp&#237;ritu de guerrilla electr&#243;nica por el que cualquier coincidencia con la realidad es fatalmente veros&#237;mil, trastornando la desigual percepci&#243;n de lo real y lo fingido
</p>

<p>En estos tiempos de bienaventuranzas por la cibertierra prometida, y de jarana con un Gran Hermano aparentemente amansado, por momentos parece como si todo se hubiera ya dicho, redicho y contradicho sobradamente acerca de estos mecanismos de control, imperceptibles por su misma ubicuidad, cuya faz m&#225;s amable encubre severos ultrajes. Las propuestas art&#237;sticas y te&#243;ricas aqu&#237; comentadas se entrecruzan, incluso de manera inopinada, y permiten entrever en qu&#233;
medida los conceptos de resistencia y antagonismo siguen bien &#225;lgidos en las agendas cr&#237;ticas del arte y el pensamiento ante un nuevo calendario. 
</p>
<div title="footer">
	<p>
	</p>
