  <p> <b>Visi&#243;n expandida. Extralimitaciones cinematogr&#225;ficas en la encrucijada de la electr&#243;nica</b></p>
<p> <b>Etimolog&#237;a de la expansi&#243;n</b></p>
<p> Hay ideas que vuelven. O que nunca se fueron.
<i>Expanded Cinema</i>: cine expandido. Reci&#233;n se public&#243; en Argentina el libro de Gene Youngblood que disemin&#243; dicho concepto, tras permanecer agotado por m&#225;s de treinta a&#241;os en su lengua original.[[[1]]] Un libro memorable tambi&#233;n por ser uno de los primeros en ocuparse de los rivales inmediatos del cinema durante el &#250;ltimo tercio del siglo anterior: la televisi&#243;n y el v&#237;deo, tambi&#233;n el ordenador; m&#225;quinas que han desplazado crecientemente a la cinematograf&#237;a tradicional, pelicular y parpadeante.</p>
<p> Sin embargo, antes de la edici&#243;n del mencionado libro, el t&#233;rmino ya hab&#237;a sido utilizado com&#250;nmente por diversos autores y seguidores del otro cine (independiente, underground, rompedor&#8230;).</p>
<p> Jonas Mekas lo manej&#243; con frecuencia en las rese&#241;as de su &#171;diario de cine&#187; (<i>Movie Journal</i>) para el semanario <i>The Village Voice</i>, a partir de una columna con un titular tan significativo como &#171;On the Expanding Eye&#187; (6 de febrero de 1964). Despu&#233;s, tras otras anotaciones sobre la introducci&#243;n de proyecciones cinem&#225;ticas en las nuevas expresiones dramat&#250;rgicas de la danza, el happening y los intermedia, Mekas ha glosado varias de las sesiones del New Cinema Festival que &#233;l mismo hab&#237;a impulsado en la Film-Makers&#8217; Cinematheque
(noviembre-diciembre de 1965). Evento cuya coordinaci&#243;n deleg&#243; en John Brockman &#8211;actual adalid de la <i>tercera cultura</i> y, entonces, un joven con formaci&#243;n empresarial que tambi&#233;n contribuy&#243; lo suyo a divulgar las nociones expansivas e intermediales&#8211;, dicho festival cont&#243; con la participaci&#243;n de Ken Dewey con Terry Riley, Ed Emshwiller, Ken Jacobs, Angus McLise con una encarnaci&#243;n todav&#237;a ap&#243;crifa de The Velvet Underground, Nam June Paik, Robert Rauschenberg, Jack Smith, Don Snyder, Elaine Summers, Aldo Tambellini, el grupo USCO, Stan Vanderbeek, Andy Warhol, Robert Whitman, La Monte Young con Marian Zazeela, entre otras luminarias de la vanguardia y la contracultura.</p>
<p> En ocasiones, el origen del t&#233;rmino le ha sido atribuido a Stan Vanderbeek, a prop&#243;sito de un manifiesto suyo,
&#171;Culture: Intercom and Expanded Cinema&#187;, recogido en 1966 (y despu&#233;s) en diversas publicaciones. Aunque la expresi&#243;n de marras no aparece m&#225;s que en el t&#237;tulo del texto, desde luego es bien apropiada para los experimentos o &#171;prototipos&#187; a los que Vanderbeek se refiri&#243; y que constituyen sus credenciales: arquitecturas y dispositivos de multiproyecci&#243;n (<i>Movie-Drome</i>, 1963-1966; <i>Movie-Murals</i>, 1965-1968); coreograf&#237;as de proyectores en movimiento, asidos y acarreados por diversos ejecutantes (<i>Move-Movies</i>, 1965); sesiones polisensoriales y a &#171;duermevela&#187; en planetarios
(<i>Cine Dreams: Cinema of the Mind</i>, 1972; <i>Cine Naps</i>, 1973); instalaciones con proyecciones sobre pantallas de vapor, inmateriales y penetrables incluso (<i>Steam Screens</i>, desde 1975 y hasta su fallecimiento prematuro, en colaboraci&#243;n con Joan Brigham).  </p>
<p> En Europa, la noci&#243;n de cine expandido aparece asociada tempranamente, hacia 1967-1968, con los cachorros de la vanguardia austriaca (doblemente accionista y cinematogr&#225;fica).
Entre las primeras realizaciones de Peter Weibel, VALIE EXPORT,[[[2]]] Hans Scheugl, Ernst Schmidt jr y Gottfried Schlemmer, abundan las
<i>pel&#237;culas sin pel&#237;cula</i>.
Ox&#237;moron que se traduce en acciones desnudamente conceptuales e insolencias anticinematogr&#225;ficas, cercanas en esp&#237;ritu a la iconoclasia de Fluxus y de los letristas franceses.</p>
<p> Por &#250;ltimo, el t&#233;rmino <i>Expanded Cinema</i> da t&#237;tulo tambi&#233;n al sexto y
&#250;ltimo cap&#237;tulo del libro que Sheldon Renan dedic&#243; en 1967 al underground norteamericano.[[[3]]] Apartado que condensa en treinta p&#225;ginas un recorrido similar al que Youngblood establecer&#237;a luego.</p>
<p> Identificar qui&#233;n fue que acu&#241;&#243; y puso en circulaci&#243;n el ep&#237;teto es irrelevante y bizantino. Escudri&#241;ar sus ra&#237;ces nos permite constatar sin embargo cierta tendencia, muy en el aire de la &#233;poca, a extralimitar y entrecruzar los medios.</p>
<p> Adem&#225;s, puestos a hurgar en un tiempo m&#225;s remoto, la cineasta Mary Ellen Bute ya hab&#237;a manejado desde 1936 la expresi&#243;n <i>expanding cinema</i>, en relaci&#243;n con su prop&#243;sito de explorar nuevas t&#233;cnicas y convergencias sinest&#233;sicas en el film abstracto. (Con dicho sintagma, dio nombre adem&#225;s a su sello de producci&#243;n propio.)</p>
<p> Por otro lado, no hace falta tener una licenciatura en filolog&#237;a inglesa para darse cuenta de que, en dicha lengua y en el &#225;mbito est&#233;tico/art&#237;stico en particular, la idea de expansividad es bien corriente. En los a&#241;os sesenta, una referencia obligada era la <i>expansi&#243;n de la conciencia</i> y el propio Youngblood lo planteaba as&#237; desde el prefacio de su libro: &#171;<i>When we say expanded cinema we actually mean expanded consciousness</i>&#187;.</p>
<p> De menci&#243;n obligada es tambi&#233;n la noci&#243;n introducida por George Maciunas con su <i>Expanded Arts Diagram</i>, a la vez incluido en un n&#250;mero especial de la revista <i>Film Culture</i> (1966), editada por Mekas y dise&#241;ada por el cabecilla de Fluxus.</p>
<p> Ya fuera del marco de la &#233;poca referida hasta aqu&#237;, Rosalind Krauss formul&#243; su c&#233;lebre concepci&#243;n de un &#171;campo expandido&#187; (<i>expanded field</i>)
de superaci&#243;n de la escultura entendida tradicionalmente. Y, entre otras expansiones &#8211;corrupciones incluso&#8211; de dicho concepto, era inevitable que surgiera otro m&#225;s globalizante, generalista o de medias tintas, cual es el de <i>expanded media</i>. La mayor ventaja de este &#250;ltimo ser&#237;a la de no enredar m&#225;s la madeja ante una creciente multiplicaci&#243;n de los medios, metamedios y suced&#225;neos.</p>
<p>  </p>
<p> <b>Actualidad del cine expandido</b></p>
<p> Muchas veces, m&#225;s por simplificaci&#243;n que por ignorancia, se dice que el cine expandido es una pr&#225;ctica propia de los a&#241;os setenta. Como se ha visto, en realidad ha de remontarse como m&#237;nimo a la segunda mitad de los sesenta. O incluso a los cincuenta, cuando ya se prefiguran dos direcciones. Primeramente, una direcci&#243;n performativa porque la acci&#243;n no solamente sucede en la pantalla, sino tambi&#233;n delante o incluso detr&#225;s de ella. Pero, a la par, con un sesgo conceptual desde el momento en que la pel&#237;cula deviene un pretexto y se prescinde, sin m&#225;s, de su soporte. Tal y como ocurre con las pr&#225;cticas y concepciones de los letristas entre 1950-1960: el <i>syncin&#233;ma</i> de Lema&#238;tre, el film-debate (m&#225;s bien entendido como reyerta o algarada), el cine imaginario.</p>
<p> Y, de otro lado, por la renovaci&#243;n en cuanto a las experiencias de proyecciones m&#250;ltiples, combinaciones de diversos medios, formatos y desbordamientos de la pantalla, que han aportado Kenneth Anger, Jos&#233; Val del Omar, Marcel Broodthaers o un Vanderbeek biso&#241;o, as&#237; como el <i>Magirama</i> de Abel Gance y Nelly Kaplan o los <i>Vortex Concerts</i> de Henry Jacobs y Jordan Belson; todas las cuales confluyeron en Bruselas 1958 &#8211;en el marco de la Exposici&#243;n Universal y del EXPRMNTL, festival de cine experimental convocado para la ocasi&#243;n&#8211;, en las inmediaciones de algunos despliegues tan espectaculares como la pantalla circular del Circarama en uno de los tres pabellones estadounidenses, el teatro visual de Laterna Magika en el pabell&#243;n checoslovaco o el <i>Po&#232;me
&#233;lectronique</i> de Le Corbusier, Var&#232;se y Xenakis en el pabell&#243;n Philips. Una confluencia pues entre el cine expandido y las pompas audiovisuales de las ferias y exposiciones universales, entre otras ra&#237;ces y ramificaciones que no ha lugar a detallar aqu&#237;.</p>
<p> VALIE EXPORT ha contextualizado asi la raz&#243;n de ser de unas pr&#225;cticas que, en efecto, alcanzaron su plenitud hacia (y despu&#233;s de) 1967-1968:</p>
<p>
&#171;El cine expandido ha de contemplarse tambi&#233;n en relaci&#243;n con el contexto y la evoluci&#243;n de la situaci&#243;n pol&#237;tica en los a&#241;os cincuenta y sesenta: por un lado, con las revueltas del movimiento estudiantil contra el poder dominante y opresivo del Estado, y por otro, en cuanto a los envites art&#237;sticos que, en ese mismo periodo, han buscado una nueva definici&#243;n de la noci&#243;n de arte. Su premisa est&#233;tica pretend&#237;a concienciar al p&#250;blico en cuanto a ciertos refinamientos y cambios de sensibilidad, y acerca de unas estructuras y condiciones de comunicaci&#243;n visual y emocional por otro lado, de manera que nuestro amputado sentido de la percepci&#243;n fuera capaz de percibir de nuevo. Se trataba, por tanto, de abolir unos valores est&#233;ticos viejos y caducos.&#187;[[[4]]]</p>
<p> En los ochenta, sin embargo, el cine mismo era percibido como un medio en declive; no solo tecnol&#243;gicamente.
Incluido el cine expandido, cuyo lugar ha sido ocupado crecientemente por el v&#237;deo expandido de las instalaciones y esculturas, acciones y escenograf&#237;as, murales de pantallas, tracas electr&#243;nicas y desparrames multimediales de toda clase. Recuerdo a Raymond Bellour refiri&#233;ndose, en no s&#233; que encuentro o coloquio de aquellos a&#241;os, al anacronismo que percib&#237;a en las instalaciones f&#237;lmicas en sentido estricto, por la naturaleza mec&#225;nica de sus componentes; tan metal&#250;rgicos en el <i>hardware</i>
(proyectores, bobinas, engranajes&#8230;) y perecederos en el <i>software</i>
(la pel&#237;cula y sus perforaciones, empalmes, abrasiones, etc). Para los sitios del arte y sus regentes, la cacharrer&#237;a cinematogr&#225;fica devino un engorro a ahuyentar, y eso se pudo notar en poco tiempo; incluso en instituciones y centros que hab&#237;an prestado una especial atenci&#243;n a la imagen en movimiento.</p>
<p> Por lo contrario, desde hace unos a&#241;os asistimos a un aparente <i>revival</i> del cine expandido &shy;&#8211;sea propiamente cine o <i>paracinem&#225;tico</i>&#8211;
que, a costa de rejuvenecerse, a veces tiene algo de subcultura suced&#225;nea y de frikismo tecnol&#243;gico.[[[5]]] Tal como sucede, de manera m&#225;s amplia, con la recuperaci&#243;n y reutilizaci&#243;n de toda una nebulosa de t&#233;cnicas y soportes presuntamente arcaicos: pel&#237;culas de 8 mm, discos de vinilo (tambi&#233;n para el almacenamiento y la reproducci&#243;n de se&#241;ales de v&#237;deo), proyectores de transparencias y de opacos, sistemas de v&#237;deo dom&#233;stico en desuso, sintetizadores anal&#243;gicos y ordenadores no tan obsoletos como se cree.</p>
<p> Diversos aspectos son sintom&#225;ticos. En primer lugar, la presencia que han cobrado &#8211;con regularidad m&#225;s que espor&#225;dicamente&#8211; los proyectores de 16 mm (pero a veces tambi&#233;n de super-8 o de 35 mm incluso) y los llamados <i>loopers</i>, los carruseles de diapositivas y otros artefactos entre la ingenier&#237;a y el bricolaje, en museos, centros de arte, bienales y similares, galer&#237;as incluso. Algo que ha sido propiciado en parte por las querencias y demandas de artistas de renombre &#8211;de James Coleman a Tacita Dean&#8211; y pujantes o &#171;empujados&#187;.</p>
<p> En segundo lugar, desde el comienzo del nuevo siglo, hay que referirse a una continuidad de manifestaciones entre recapitulativas y prospectivas, con un alcance m&#225;s o menos vasto de las expansiones audiovisuales. En 2001 abri&#243; el turno <i>Into the Light: The Projected Image in American Art, 1964-1977</i>, en el Whitney Museum de Nueva York, donde la curadora brit&#225;nica Chrissie Iles restableci&#243; la atenci&#243;n que dicho museo hab&#237;a prestado a las <i>expanded forms</i> del cine y el v&#237;deo, de la mano de su antecesor John Hanhardt. En 2004, en el MUMOK de Viena (Fundaci&#243;n Ludwig), <i>X-Screen: Film Installation and Actions in the 1960s and 1970s</i> ampli&#243; la cobertura a la escena europea, con las omisiones consuetudinarias pero aventurando otras inscripciones no tan habituales; por ejemplo el <i>quasi-cinema</i> de Helio Oiticica y Neville de Almeida, o algunas piezas de otros artistas m&#225;s conocidos por sus cintas e instalaciones de v&#237;deo que por sus incursiones f&#237;lmicas (Vito Acconci, Bruce Nauman, Dennis Oppenheim, Wolf Vostell y Jud Yalkut). Mark Webber comisari&#243;
sucesivamente dos eventos en Alemania, <i>Expanded Cinema: Film as Spectacle, Event and Performance</i> en Dortmund (2004) y <i>Expanded Cinema: Time/Space/Structure</i> en Stuttgart
(2006), ambos con un sustancioso programa de performances, proyecciones, charlas y debates; proyecto acompa&#241;ado por la recopilaci&#243;n de un fondo documental para el estudio del tema.</p>
<p> El proyecto de investigaci&#243;n &#171;Narrative Explorations in Expanded Cinema&#187;, impulsado por la malograda Jackie Hatfield y proseguido desde el colegio Central Saint Martins de la Universidad de las Artes de Londres, ha dado pie a otros encuentros como <i>The Live Record</i>
(British Film Institute, 2008) y el simposio <i>Expanded Cinema: Activating the Space of Reception</i>
(Tate Modern, 2009), con el colof&#243;n de un libro donde se re&#250;nen algunas de las ponencias y otros documentos.[[[6]]] En febrero de 2013, la Universidad de Yale convoc&#243; otro congreso, <i>Expanding Cinema: Spatial Dimensions of Film Exhibition, Aesthetics, and Theory</i>, de cuyo programa se colige un enfoque altamente acad&#233;mico que ya desat&#243; ciertas cr&#237;ticas tras las apretujadas jornadas de 2009 a orillas del T&#225;mesis.</p>
<p> De todos modos, si estos datos son significativos de un renovado inter&#233;s por las expansiones cine-, para-, meta- y poscinematogr&#225;ficas, su prosperidad reside a fin de cuentas en un n&#250;mero respetable de artistas y grupos que ha retomado la cacharrer&#237;a del cine, las transparencias fotogr&#225;ficas y otros instrumentos; los bucles de pel&#237;cula tensados en los <i>loopers</i> o en el espacio expositivo; las acciones y multiproyecciones que vulneran el plano y el rect&#225;ngulo de la pantalla, etc.</p>
<p> Vayan unos cuantos nombres recopilados de aqu&#237; y de all&#225;, con una trayectoria firme y reconocida&#8230; En Estados Unidos, Bruce McClure, el t&#225;ndem de Sandra Gibson y Luis Recoder, Bradley Eros, Jennifer Reeves, Andrew Lampert, Steven Dye, Ben Russell, Matthew Buckingham, Zoe Beloff, Joel Schlemowitz y Kerry Laitala. En Canad&#225;, John Porter, y Karl Lemieux en Quebec. En Australia, Dirk de Bruyn, el t&#225;ndem Abject Leader &#8211;y sus componentes, Sally Golding y Joel Stern, individualmente&#8211; y el grupo Teaching and Learning Cinema (TLC).[[[7]]] En el Reino Unido, Greg Pope, Karel Doing, Cathy Rogers, Denise Hawrysio, el t&#225;ndem de Karen Mirza y Brad Butler, Emma Hart y Benedict Drew (tambi&#233;n a d&#250;o) y Lynn Loo (que colabora frecuentemente con Guy Sherwin). En Holanda, Joost Rekveld y, en Alemania, J&#252;rgen Reble, Peter Miller y Rosa Barba. En Francia, Christian Lebrat, Anne-Marie Cornu y el grupo Metamkine. En Italia, el Zapruder Filmmakersgroup. En Argentina, Claudio Caldini y Andr&#233;s Denegri. En Espa&#241;a, el colectivo Crater (que, de nuevo, es b&#225;sicamente un t&#225;ndem), Oriol S&#225;nchez, Esperanza Collado y, en cierto modo, las fantasmagor&#237;as dom&#233;sticas de Eul&#224;lia Valldosera y algunas instalaciones de proyecci&#243;n de Eug&#232;nia Balcells.</p>
<p> Muchas son las zonas adyacentes, las fronteras permeables y las contaminaciones mutuas por las que el cine expandido
&#8211;que, ya se ha sugerido antes, muchas veces no es literalmente cine&#8211; no debe ni puede aislarse de otras manifestaciones contempor&#225;neas, desde el momento en que todas ellas se emplazan en una <i>posteridad</i> impura (poscinema, posv&#237;deo, posmedia). Los artistas que, hace m&#225;s de treinta a&#241;os, ensancharon e hicieron estallar la disciplina cinematogr&#225;fica, a menudo emprendieron luego un rumbo bien distinto; ni que fuera circunstancialmente. Adem&#225;s, abrazaron en gran parte los medios electr&#243;nicos. Sin embargo, en algunos casos, no hay demasiadas diferencias entre lo que hac&#237;an entonces &#8211;con pel&#237;culas, proyectores, etc.&#8211; y lo que est&#225;n haciendo ahora, con herramientas digitales. Y, al decir esto, estoy pensando especialmente en Anthony McCall, Chris Welsby o Ken Jacobs.</p>
<p> Cuando de instalaciones se trata, las im&#225;genes pueden tener a veces un origen cinematogr&#225;fico y, sin embargo, proyectarse mediante un dispositivo digital a efectos pr&#225;cticos. En tal caso, en principio sobran los distingos, salvo que algunos creadores prefieren acogerse a una tradici&#243;n antes que a otra; quiz&#225;
con un pedigr&#237; inferior aquella que descartan. Por otra parte, algunas piezas hist&#243;ricas del cine expandido se han adaptado al formato m&#225;s com&#250;n del v&#237;deo, con tal de acomodarse a las colecciones muse&#237;sticas y a exposiciones prolongadas; por ejemplo
<i>Shower</i>
(1966), de Robert Whitman, o <i>Berlin Horse</i> (1970), de Malcolm Le Grice. As&#237;
como otras obras, tal como <i>Light Music</i>
(1975) de Liz Rhodes, que originalmente no era otra cosa que una pieza f&#237;lmica de proyecci&#243;n dual, se han trocado en instalaci&#243;n para adaptarse a otra clase de espacios. (Eso s&#237;, de manera espl&#233;ndida y con un mayor lucimiento.)</p>
<p> Y habr&#237;a que preguntarse a&#250;n sobre la ubicaci&#243;n apropiada de cineastas como Chantal Akerman, Chris Marker, Ra&#250;l Ruiz, Peter Greenaway, Harun Farocki, Atom Egoyan o Isaac Julien, entre otras concurrencias asiduas desde el gremio del cine (filas del cine moderno, de autor, de ensayo&#8230;) a los feudos del cubo blanco, cada vez m&#225;s infestados de c&#225;maras oscuras, pantallas iluminadas y bucles perpetuos. &#191;No se trata tambi&#233;n de una expansi&#243;n contempor&#225;nea del cine, aunque desligada del hilo conductor primigenio del cine expandido?</p>
<p> Por &#250;ltimo, la obstinaci&#243;n con la metalurgia
(maquinaria), la f&#237;sica (mec&#225;nica) y la qu&#237;mica (procesamiento) de la cinematograf&#237;a es aquello que distingue a estas pr&#225;cticas del
<i>live cinema</i> o el <i>screen art</i>
&#8211;ya no digamos de ma&#241;as m&#225;s espec&#237;ficas como el <i>VJing</i> o el <i>video mapping</i>&#8211;, que son en esencia pr&#225;cticas digitales e incluso suced&#225;neas, propias de una &#233;poca de mezcolanza en que el arte ya no quiere anclarse seg&#250;n el medio adoptado.</p>
<p>  </p>
<p> <b>Esto no es cinerama</b></p>
<p> Otro de los t&#243;picos que se repiten al tratar del
<i>expanded cinema</i> es el que le confiere una extensi&#243;n el&#225;stica, ilimitada, miscel&#225;nea&#8230; Al soslayar la delimitaci&#243;n de su pr&#225;ctica, esta se percibe como un campo abierto a toda clase de ampliaciones y transgresiones en relaci&#243;n con el com&#250;n denominador del cine o, m&#225;s ampliamente, lo audiovisual. Una indefinici&#243;n tal no se remonta, no obstante, al iluminador libro de Youngblood, pese al guirigay aparente de las obras y tecnolog&#237;as que referenciaba: de Brakhage, Warhol, Snow, Belson y la &#171;Odisea 2001&#187; al cine cibern&#233;tico, el videoarte emergente, las instalaciones y dramaturgias intermedia, con las promesas hologr&#225;ficas en colof&#243;n. Pero, para Youngblood, la expansi&#243;n cinem&#225;tica era una met&#225;fora antes que el pretexto para fijar un manual o prontuario. Comparativamente puede decirse que poco se ha avanzado en el estudio del tema.</p>
<p>
&#218;ltimamente ha predominado una perspectiva que denominar&#237;a angloc&#233;ntrica; donde &#171;anglo&#187; equivale a decir brit&#225;nica, con un mapa suplementario de referencias que no va mucho m&#225;s all&#225; de la <i>Mitteleuropa</i> germ&#225;nica. Una perspectiva que distingue dos acepciones bien diversas del concepto de cine expandido. Una, la que se fragua en Norteam&#233;rica desde los a&#241;os sesenta, entregada a una promiscuidad interdisciplinar y multimedi&#225;tica (o viceversa: multidisciplinar e intermedi&#225;tica). La otra, en la senda m&#225;s atemperada y materialista que predominar&#237;a en Europa desde finales de los sesenta y a lo largo de la d&#233;cada posterior. (Esquema que, sin embargo, pasa por alto otras corrientes diversamente tempranas o tard&#237;as, discordantes y hedonistas. En Francia, sin ir m&#225;s lejos, del letrismo a la <i>&#201;cole du corps</i>.)</p>
<p> Pero, en definitiva, el grueso del cine expandido habr&#237;a de contemplarse como una tendencia con rasgos tan propios y definidos como los que pueden hallarse en el minimalismo &shy;&#8211;no solo en cuanto a las artes visuales se refiere, sino tambi&#233;n en la m&#250;sica y el arte sonoro&#8211;, el arte conceptual y el cine estructural; tendencias que, por lo dem&#225;s, le son entre bastante y muy pr&#243;ximas.[[[8]]] Y, en cuanto a fronteras entre mentalidades, la ant&#237;tesis Europa versus Am&#233;rica pod&#237;a funcionar cuando, del otro lado del Atl&#225;ntico, las referencias eran las voluptuosidades multimediales de los Vortex Concerts, de Vanderbeek y de USCO (The Company of Us), as&#237; como de los happenings, los <i>light shows</i> psicod&#233;licos o, incluso, el <i>Exploding Plastic Inevitable</i> de Warhol con The Velvet Underground. No obstante, despu&#233;s de tales hitos, las creaciones expansivas de Ken Jacobs, Carolee Schneemann, Paul Sharits, Tony Conrad, Morgan Fisher, Bill Lundberg, William Childress o James Carpenter[[[9]]] se hallar&#237;an m&#225;s pr&#243;ximas del rigor intelectual que se han atribuido algunos de sus colegas en las islas brit&#225;nicas y el continente europeo.</p>
<p> Superada esta controversia, el an&#225;lisis de las expansiones cinematogr&#225;ficas puede pasar a la taxonom&#237;a de sus manifestaciones. Sin pretender un an&#225;lisis minucioso, a fin de esbozar el recorrido de un &#171;museo imaginario&#187;, distinguir&#233; cuatro sendas principales referidas a: (1) la multiplicaci&#243;n de las fuentes de proyecci&#243;n; (2) el acento en el acto performativo; (3) los dispositivos de instalaci&#243;n o exposici&#243;n del cine; (4) la disecci&#243;n de la maquinaria cinem&#225;tica y la concepci&#243;n de nuevos artefactos.
&#193;reas a las que podr&#237;a superponerse un quinto aspecto al que se ha prestado atenci&#243;n creciente, relativo a un concepto de <i>paracinema</i> que prescinde de algunos o de la totalidad de los componentes del instrumental cinematogr&#225;fico, en persecuci&#243;n de su ra&#237;z conceptual, molecular o at&#243;mica; hasta llegar a un cine inmaterial, ilimitado, total&#8230; o todav&#237;a por llegar.</p>
<p> <b>[1] Multiproyecci&#243;n</b>
&#8211; Ideas sobre el formato (fotograma, ventanilla, pantalla) como l&#237;mite y barrera para el potencial del cine, dieron paso tempranamente a las proyecciones m&#250;ltiples. En la Exposici&#243;n Universal de Par&#237;s de 1900, el <i>Photorama</i> de los Lumi&#232;re o el accidentado <i>Cin&#233;orama-Ballon</i> de Grimoin-Sanson remedaban, con rodeos de 360 grados e im&#225;genes de naturaleza fotogr&#225;fica, a los panoramas decimon&#243;nicos. En la d&#233;cada de 1920, el <i>policinema o cine simult&#225;neo</i> imaginado por L&#225;szl&#243; Moholy-Nagy y la <i>polivisi&#243;n</i> que Abel Gance ha llevado a la pr&#225;ctica plantean otras relaciones
&#8211;m&#225;s all&#225; de una continuidad visual entre las pantallas&#8211; en la proyecci&#243;n triplicada que ambas propuestas pretenden; referencias a las que hay que sumar el <i>Raumlichtkunst</i>
(arte de luz y espacio) de Oskar Fischinger, objeto de devotas recreaciones recientes.</p>
<p> Y, como ya qued&#243; dicho, en el ecuador del siglo XX han proliferado las creaciones de proyecciones m&#250;ltiples, con brillantes aportaciones de Charles y Ray Eames, de Vanderbeek con sus
<i>cinemurales</i>, y con el mayor &#233;xito de Andy Warhol como indolente cineasta: <i>Chelsea Girls</i> (1966), donde las bobinas se combinaban originalmente al azar o, mejor dicho, a elecci&#243;n del proyeccionista en cuanto al orden de su proyecci&#243;n y su distribuci&#243;n en un proyector u otro.</p>
<p> Algunos formatos de multiproyecci&#243;n han adquirido una normalizaci&#243;n relativa, en particular las obras para dos pantallas gemelas (<i>twin screen</i>)
y en un mismo plano. Malcolm Le Grice, que desde 1967 trabaj&#243;
regularmente con dos y m&#225;s proyectores, lo atribuye a un motivo tan simple como que las cabinas de proyecci&#243;n estuvieran habitualmente provistas de dos proyectores en bater&#237;a (para efectuar, sin interrupci&#243;n aparente, los cambios de una bobina a otra). Disc&#237;pulos y colegas de Le Grice en la London Filmmakers Co-operative, se le han unido luego en una tarea de exploraci&#243;n rigurosa del aparato cinematogr&#225;fico. Tarea que muchas veces comportaba combinatorias de proyecciones m&#250;ltiples (de tres hasta seis o m&#225;s), con disposiciones diversas en cuanto a los planos de proyecci&#243;n: ya sea sobre una superficie continua y &#250;nica o, al contrario, sobre pantallas enfrentadas, en acorde&#243;n, volum&#233;tricas, etc. William Raban, Chris Welsby, Lis Rhodes, Gill Eatherley, Ron Haselden, Jane Rigby o Nicky Hamlyn, entre el grupo brit&#225;nico, hicieron obras muy celebradas en este aspecto (objeto de reposiciones recientes, algunas de ellas).</p>
<p> Le Grice ha se&#241;alado asimismo la &#237;ndole
<i>comparativa</i> de muchas de estas obras de proyecciones dobles (emparejadas) o m&#250;ltiples que, entre los artistas-cineastas nombrados, ten&#237;a mucho que ver a su vez con las variaciones obtenidas, por t&#233;cnicas de impresi&#243;n &#243;ptica, con la maquinaria de laboratorio que el mismo Le Grice ama&#241;&#243; en la primera sede de la London Film Coop. Esta propensi&#243;n comparativa es com&#250;n, por otro lado, a muchas obras de proyecci&#243;n desdoblada. Desde algunas piezas de Robert Morris y de Dan Graham a la duplicidad convenida y locuaz de <i>Triage</i>
(2004), obra a d&#250;o de Carl Brown y Michael Snow; pasando por el quehacer, entre riguroso y an&#225;quico, de Wilhelm y Birgit Hein con sus <i>Doppelprojektionen</i>
(1971-1975).</p>
<p> Con un empuje m&#225;s visceral que formal, en el mapa brit&#225;nico hay que resaltar asimismo los aportes personal&#237;simos de los ya fallecidos Jeff Keen y Derek Jarman, y su influencia en la generaci&#243;n-veleta de los <i>New Romantics</i>
(John Maybury, Cerith Wyn-Evans, Holly Warburton&#8230;) y en otras j&#243;venes promesas, cuyos retozos con lo &#171;multi&#187; &#8211;multiproyecci&#243;n, multimedia, multidisciplinar&#8211; se extendieron a lo performativo y en conciertos audiovisuales con proyecciones a porrillo y la m&#250;sica en vivo. Un factor determinante, para esta nueva generaci&#243;n de encantadores de la imagen, ha sido la caducidad precipitada de ciertas tecnolog&#237;as &#8211;tales como los equipos de formato super-8, as&#237; como del diaporama y la multivisi&#243;n&#8211; que repentinamente, en el trance de su desaparici&#243;n, devinieron muy asequibles a la par que seductoras para determinadas sensibilidades.</p>
<p> Sin embargo, en la misma d&#233;cada de los setenta y en los primeros ochenta, cuando se produjo una eclosi&#243;n tal del cine multiplicado, el v&#237;deo multicanal iba tomando el relevo para este tipo de exploraciones; por aquel entonces, con las im&#225;genes todav&#237;a confinadas en monitores y con los proyectores de v&#237;deo asomando apenas sus ca&#241;ones. En cualquier caso, la multiproyecci&#243;n pervive en el cine expandido actual como ingrediente com&#250;n de muchas performances e instalaciones, y en su prolongaci&#243;n en las direcciones que siguen a continuaci&#243;n. 
</p>
<p> <b>[2] Acci&#243;n/performance</b>
&#8211; El cine, desde su era primitiva, lleva en sus genes un componente de acci&#243;n &#171;en vivo&#187;. Sin retroceder tan lejos, el sesgo performativo al que conviene referirse ahora va aparejado con unos brotes iconoclastas y neodada&#237;stas en la segunda mitad del siglo XX.
En el marco del letrismo, Maurice Lema&#238;tre quiso superar la <i>mise en sc&#232;ne</i> del cine por el de una <i>s&#233;ance</i> al completo: la sesi&#243;n que enmarca la proyecci&#243;n en un rito social y un espect&#225;culo masivo. <i>Le Film est d&#233;j&#224; commenc&#233;?</i> (1951) es una obra deliberadamente h&#237;brida, tal como ha se&#241;alado el propio Lema&#238;tre, ya que la aspiraci&#243;n de un cine nuevo se halla contaminada por la teatralidad que pretende transformar la sesi&#243;n cinematogr&#225;fica en un acontecimiento supremo.</p>
<p> Fluxus se prodig&#243; especialmente en el arte de acci&#243;n y unas cuantas de sus notaciones, instrucciones, partituras y m&#225;ximas-m&#237;nimas se refieren expl&#237;citamente al cine. Unas veces en el terreno del cine imaginario &#8211;<i>infinitesimal</i> dir&#237;an los letristas&#8211;, tal como sucede con los guiones-instrucciones de Yoko Ono. (Por ejemplo este: &#171;Pedir al p&#250;blico que observe la pantalla hasta que ennegrezca.&#187;) Otras veces como una operaci&#243;n de vaciado del cine, que se consuma mediante una negaci&#243;n impl&#237;cita de la imagen y con la pantalla en blanco o mutilada: <i>Zen for Film</i>
(1962) de Nam June Paik, <i>Film &amp; Film #4</i> (1966)
de Takehisa Kosugi.</p>
<p> Tal como ya se sugiri&#243; anteriormente, el
<i>Erweitertes Kino</i> austriaco de los a&#241;os 1967-1968 no iba muy a la zaga de las nader&#237;as deliberadas de Fluxus, ya que, a menudo, ni empleaba la pel&#237;cula pues, como cineastas en ciernes y sin recursos que eran, a veces ni siquiera ten&#237;an acceso a una c&#225;mara. Si, con <i>Nivea</i>, Peter Weibel parodiaba la infralevedad del filmet publicitario, VALIE EXPORT ejecut&#243;, con <i>Tapp und Tast Kino</i>, una de las acciones m&#225;s c&#233;lebres del paracinema, cuyo doble y acerado sarcasmo concierne tanto a las ambiciones de un cine total, t&#225;ctil y 3D, como al culto al busto femenino, en su &#233;poca representado por la prominencia de las <i>maggiorate</i> italianas. Acciones para la sala de cine tradicional, Hans Scheugl ha proyectado un carrete de hilo (<i>zzz: hamburg special</i>) y Ernst Schmidt jr, im&#225;genes de cortinas que se abren y se cierran sobre el proscenio y las cortinas mismas que ocultan y desvelan la pantalla. (&#161;Un film con pel&#237;cula!, probablemente un bucle.) De nuevo Weibel para terminar: en la acci&#243;n <i>Exit</i>, la pantalla fue reemplazada por una superficie de papel de aluminio y, desde detr&#225;s de la misma, se arrojaban cohetes y petardos sobre el p&#250;blico despavorido.</p>
<p> La obra de Carolee Schneemann se halla m&#225;s cerca del happening y de una teatralidad visual, siendo ella generalmente la principal y a menudo desnuda int&#233;rprete. Es una pr&#225;ctica intermedial y de celebraci&#243;n del cuerpo que, entre otros recursos, acude a las proyecciones cinematogr&#225;ficas y de diapositivas, as&#237;
como al v&#237;deo y el dispositivo de circuito cerrado, en performances como <i>Snows</i>
(1967), <i>Illinois Central</i>
(1968) y <i>Up To And Including Her Limits</i>
(1974-1977). Tambi&#233;n cabe situar en los alrededores de happenings y environments la actividad del Eventstructure Research Group
(1969-1979) &#8211;del que form&#243; parte Jeffrey Shaw, hoy conocido por sus alardes digitales y totalistas (interactivos, estreosc&#243;picos, envolventes)&#8211;, colectivo que  se aventur&#243; tempranamente en eventos participativos de multiproyecci&#243;n sobre humo, en el interior y exterior de estructuras neum&#225;ticas, en espacios abiertos, etc.</p>
<p> Las proyecciones sobre el cuerpo han sido abundantes; por ejemplo <i>Operation</i>
(1967), de Werner Nekes, donde una operaci&#243;n quir&#250;rgica a coraz&#243;n abierto se proyecta sobre el pecho de un individuo elegido entre el p&#250;blico. La dramaturgia de las sombras fue un aspecto recurrente en las acciones del grupo Filmaktion, con Malcolm Le Grice como aglutinante, o en una pieza tan sencilla, a la par que deslumbrante, como <i>Point Source</i>
(1973) de Tony Hill. En esta el proyector no es otra cosa que una l&#225;mpara suficientemente potente como para desbordar por todo el recinto las sombras de una serie de objetos que la envuelven, entre los cuales uno tan brit&#225;nico como un infusor de t&#233;. Desde 1965, Ken Jacobs ha trabajado tambi&#233;n en espect&#225;culos de teatro de sombras, en combinaci&#243;n con efectos 3D en las performances de su <i>Apparition Theater of New York</i> (hacia 1973-1974).
Insatisfecho con la cualidad ef&#237;mera de estos espect&#225;culos, Jacobs se entreg&#243; despu&#233;s, desde 1975 y durante m&#225;s de veinte a&#241;os, a las <i>Nervous System Performances</i>, en las que utilizaba dos proyectores anal&#237;ticos (capaces de proyectar a cualquier velocidad) y copias duplicadas de pel&#237;culas encontradas y atesoradas por &#233;l mismo &#8211;en particular filmaciones an&#243;nimas del periodo primitivo&#8211;, persiguiendo efectos estereosc&#243;picos basados en el efecto Pulfrich. Y otro tipo de tridimensionalidad ilusoria es la conseguida por Anthony McCall con
<i>Line Describing a Cone</i>
(1973) y dem&#225;s &#171;films c&#243;nicos&#187;, obras que en su depurado rigor estimulan la participaci&#243;n l&#250;dica del p&#250;blico.</p>
<p> David Dye, Guy Sherwin y Giovanni Martedi han hecho un uso brillante de los espejos, entre otras interacciones de la acci&#243;n en vivo con proyecciones unitarias o m&#250;ltiples. Dye, en
<i>Western Reversal</i>
(1973-1976), emplea un mosaico de peque&#241;os espejos rectangulares, montados sobre brazos articulados, como los retrovisores de los coches, para desintegrar reticularmente una pel&#237;cula de indios y vaqueros hasta que los diversos fragmentos convergen en un &#250;nico haz de luz reflejada, ya sin ninguna reminiscencia ic&#243;nica. Sherwin, en una de sus performances m&#225;s celebradas, <i>Man with Mirror</i> (1976), crea una interactuaci&#243;n precisa &#8211;m&#225;s por entrenamiento que por una notaci&#243;n estricta&#8211; entre las im&#225;genes narcisistas y autorreflexivas que proyecta y la acci&#243;n/relaci&#243;n que entabla con las mismas de manera rec&#237;proca. Martedi, hacia 1978 y en sucesivas ejecuciones de sus piezas de cine sin c&#225;mara, &#171;pobre&#187;,
&#171;inexistente&#187; &#8211;enti&#233;ndase que de manera f&#237;sica y cerrada, ya que las piezas seriadas con la sigla <i>MD</i>
(por <i>Mat&#233;rialisme dialectique</i>)
se crean en el acto mismo de la proyecci&#243;n de pel&#237;culas determinadas o indiferentes&#8211;, ha acoplado un espejo semiesf&#233;rico al cabezal de una taladradora, para salpicar al p&#250;blico con los destellos en los que estalla la imagen pulverizada. El parentesco del espejo con el cine expandido &#8211;m&#225;s all&#225; del teorizado para el cine en s&#237;&#8211; se extiende a otras obras de VALIE EXPORT (<i>Abstract Film No. 1</i>, 1967-1968; <i>Splitscreen-Solipsismus</i>, 1968), Dan Graham (<i>Body Press</i>, 1970-1972), J&#243;zef Robakowski (en la versi&#243;n performativa de su <i>Test I</i>, 1971), Al Wong (<i>Moon Light</i>, 1984), Karen Mizra/Brad Butler
(<i>The Glass Stare</i>, 2005-2006)&#8230; por no alejarnos hasta las expansiones especulares propias del v&#237;deo.</p>
<p> En 1973, William Raban ha hecho de algunas de sus acciones, inteligentes y elegantes manifestaciones de la tautolog&#237;a: <i>Take Measure</i> no es otra cosa que una medici&#243;n proyectada de la distancia entre el proyector y la pantalla. <i>2&#8217; 45&#8221;</i> es otra pieza &#8211;bien al contrario, compleja&#8211; que se ejecuta en sucesivas jornadas y se modifica con cada una de ellas: parafraseando al propio autor, es un registro del proceso de su propia realizaci&#243;n, y recientemente ha sido objeto de una nueva versi&#243;n en 35 mm (ahora titulada <i>4&#8217; 22&#8221;</i>).
Las performances cinematogr&#225;ficas de J&#252;rgen Reble y de Christian Lebrat est&#225;n m&#225;s cerca de la alquimia y de las t&#233;cnicas del film directo (sin empleo de la c&#225;mara), al manipular en el acto mismo de su proyecci&#243;n pel&#237;culas, impresionadas o transparentes, con pigmentos y diluciones qu&#237;micas. En contrapunto un tanto jocoso, Tony Conrad &#171;cocina&#187;, desde 1973, pel&#237;culas de diversas emulsiones que, una vez preparadas seg&#250;n diversas t&#233;cnicas y recetas, preferentemente ex&#243;ticas &shy;&#8211;al curry, en sukiyaki, a la criolla, en adobo&#8211;, son despu&#233;s proyectadas (arrojadas) a la pantalla iluminada por un proyector desnutrido.</p>
<p> Para algunas artistas brit&#225;nicas, vinculadas a la London Film-Maker&#8217;s Co-op, la acci&#243;n cine o paracinematogr&#225;fica ha sido un aspecto central en su quehacer. En la literatura sobre el cine expandido, una de las performances m&#225;s referenciadas es <i>Reel Time</i> (1973), de Annabel Nicolson; una entre otras varias alianzas de la maquinaria del cine con la m&#225;quina de coser. Aqu&#237; doblemente implicada esta &#250;ltima, tanto en el bucle de pel&#237;cula proyectado &#8211;un plano, de una longitud considerable, de la autora cosiendo&#8211; como en la destrucci&#243;n de la imagen y su soporte, a medida que la pel&#237;cula es repetidamente perforada a su paso por la Singer; de manera que el bucle deviene, entre el estr&#233;pito de los ruidos sumados de ambas m&#225;quinas, un ametrallamiento de r&#225;fagas de luz y, finalmente, un desperdicio improyectable. Marilyn Halford, por su parte, concibi&#243; sus films y acciones f&#237;lmicas como esparcimientos a compartir con el p&#250;blico, basados en la interacci&#243;n entre la imagen proyectada y la acci&#243;n en vivo y superpuesta, y que recrean juegos infantiles (<i>Hand Knees and Boomsa-Daisy</i>, 1975) o que presentan repetidos y jocosos ensayos para una escena ficticia, que los mismos int&#233;rpretes han de ejecutar en vivo y sobre las im&#225;genes proyectadas (<i>Six Rehearsals</i>, 1976).</p>
<p> Como las obras y diabluras reci&#233;n comentadas de Conrad, Nicolson y Halford, las &#250;ltimas creaciones de Wilhelm y Birgit Hein como pareja constituyeron una reacci&#243;n a las rigideces que hab&#237;a propiciado el cine estructural-materialista de los setenta y sus prolongaciones expandidas, aunque sobradamente l&#250;dicas en muchos casos. En performances como <i>Verdammt in alle Ewigkeit</i> (De aqu&#237; a la eternidad,,1978-1979) o <i>Superman and Wonderwoman</i> (1980-1982), los Hein procedieron al reciclaje de sus <i>Strukturelle Studien</i> y <i>Materialfilme</i> de los a&#241;os setenta, con intromisiones actuadas de escenas alusivas a la cultura popular del cine consumista.</p>
<p> Actualmente, las facetas perform&#225;tica e instalativa son las m&#225;s evidentes entre el cine expandido redivivo y muchas de las obras mencionadas no solamente son un referente, sino que han sido ejecutadas de nuevo en diversas ocasiones.</p>
<p> <b>[3] Instalaci&#243;n</b>
&#8211; Aunque muchas obras y experiencias de cine expandido han sido concebidas para el recinto habitual de una sala de proyecci&#243;n acondicionada t&#237;picamente, otras exigencias y circunstancias han trasladado y aumentado sus &#225;mbitos a los espacios de planetarios y otras arquitecturas m&#225;s o menos singulares, estructuras neum&#225;ticas hinchables, espacios urbanos (y suburbanos)&#8230; y, por descontado, a los espacios de exposici&#243;n de las artes visuales. No tanto a los galer&#237;stico-muse&#237;sticos como, en origen, a unos espacios alternativos: recintos a menudo destartalados o adecentados m&#237;nimamente, recuperados de un pasado industrial por colectivos o asociaciones sin &#225;nimo lucrativo.</p>
<p> En este sentido, es muy apropiado que uno de los primeros referentes a mencionar ahora sea el de los <i>fluxfilms</i>, alentados por George Maciunas, quien acarici&#243; la idea &#8211;solo realizada p&#243;stumamente&#8211; de proyectarlos en forma de bucles de revestimiento mural (<i>film wallpaper</i>)
en exposiciones del grupo Fluxus. Esta concepci&#243;n del bucle o proyecci&#243;n continuada de una longitud de pel&#237;cula mayor o menor es fundamental para la instalaci&#243;n f&#237;lmica propiamente dicha. Aunque no la &#250;nica, ya que algunas instalaciones son de naturaleza <i>para-</i> o <i>pseudo</i>cinematogr&#225;fica.
Algunos artistas de filiaci&#243;n letrista, entre los cuales Roland Sabatier, han realizado escenograf&#237;as o distribuciones de objetos donde, tal como sugiere una obra del reci&#233;n mentado, &#171;<i>le film (n&#8217;)est (plus qu&#8217;)un souvenir</i>&#187;
(1975). De otra manera, los <i>Yellow Movies</i> de Tony Conrad, fechados en 1972-1975 y que sigue exponiendo en la actualidad, no son otra cosa que falsos lienzos-pantalla untados de pintura de calidad mediocre, que amarillean progresivamente seg&#250;n corre el tiempo y siguen expuestos a la luz.</p>
<p> Marcel Broodthaers es otro artista cercano al neodada&#237;smo de Fluxus y los letristas, que contribuy&#243; decisivamente a derrumbar la cuarta pared del cine, adem&#225;s de anticipar el concepto y las maneras del &#171;cine expuesto (<i>accroch&#233;</i>)&#187;.
La <i>Section Cin&#233;ma</i>
(1971-1972) de su Mus&#233;e d&#8217;Art Moderne-D&#233;partement des Aigles es un conjunto de piezas que compendia su pasi&#243;n por el cine y, simult&#225;neamente, la irrisi&#243;n del mismo. M&#225;s cerca de la nebulosa conceptual que comenzaba a perfilarse a finales de los sesenta, David Lamelas se ha entregado en sus instalaciones y piezas de proyecci&#243;n a una refutaci&#243;n del tiempo, el movimiento, la secuencialidad, el espacio y la matriz institucional del contexto expositivo.</p>
<p> El malogrado Paul Sharits realiz&#243; en los a&#241;os setenta algunas instalaciones extraordinarias, que denomin&#243;
<i>locational pieces</i>, expandiendo en el espacio su dedicaci&#243;n al &#171;drama supremo&#187; del material f&#237;lmico (sus fotogramas, perforaciones, erosiones, etc).
Takahiko Iimura realiz&#243; otras instalaciones que tambi&#233;n eran una exposici&#243;n del dispositivo y el medio en s&#237;, partiendo de unos elementos b&#225;sicos y binarios: pel&#237;culas transparentes y opacas, a veces con incisiones verticales u otras manipulaciones elementales; bucles de pel&#237;cula atravesados en el espacio y con una presencia siempre ostensible de la maquinaria. Michael Snow, con <i>Two Sides to Every Story</i> (1974) hizo una pieza de simetr&#237;a enga&#241;osa, con sendas proyecciones en plano y contraplano, inabordables de un solo vistazo al distribuirse a un lado y a otro de una pantalla de aluminio suspendida en mitad del espacio.</p>
<p> M&#225;s hechizantes, aunque igualmente rigurosas, las instalaciones de Bill Lundberg constan de proyecciones unitarias o m&#250;ltiples sobre muebles, objetos o figuras recortadas, que representan situaciones cotidianas o incluso pr&#243;ximas a lo que se entiende por comedia de situaci&#243;n o <i>sit-com</i>.
Instalaci&#243;n paracinematogr&#225;fica en un espacio p&#250;blico, el
<i>Masstransiscope</i>
(1980) de Bill Brand se halla en una estaci&#243;n abandonada en la red del transporte suburbano de Nueva York, pero es visible cuando la atraviesan los trenes, tras haber sido restaurada recientemente e incorporada a la colecci&#243;n de la MTA (empresa p&#250;blica del transporte metropolitano neoyorquino). Tras sus conos de luz proyectada, Anthony McCall emprendi&#243; otros proyectos de evoluci&#243;n m&#225;s lenta y con tiempos crecientemente dilatados, hasta alcanzar un extremo <i>para-</i> y <i>pos</i>cinematogr&#225;fico con <i>Long Film for Ambient Light</i>
(1975, con una duraci&#243;n virtual de 24 horas)&shy;&shy;. Y para regresar, cerca de veinte a&#241;os despu&#233;s, a una pr&#225;ctica renovada de lo que ahora denomina <i>Solid-Light Works</i>, donde el soporte y la maquinaria del cine han sido reemplazados por un instrumental digital y tan inmaterial como las ondulaciones lum&#237;nicas, las fantasmagor&#237;as geom&#233;tricas que McCall moldea en estas nuevas instalaciones.  </p>
<p> Fuera del eje mayor  del cine expandido norteamericano, brit&#225;nico y germ&#225;nico &#8211;el mejor documentado, divulgado y expuesto&#8211;, cabe hacer una referencia m&#225;s amplia al
<i>cin&#233;ma &#233;largi</i> en Francia, con una solera propia en las experiencias de polivisi&#243;n de Gance, Kaplan y Jean Mitry, en la dedicaci&#243;n cinematogr&#225;fica de los letristas y entre la actividad de otros artistas como Jean-Jacques Lebel, Ben Vautier, Robert Filliou, Christian Boltanski y Bertrand Gadenne. En los a&#241;os setenta y despu&#233;s, la actividad expansiva estuvo primero vinculada al grupo de la Paris Films Coop, tambi&#233;n conocido como &#171;generaci&#243;n Melba&#187; &#8211;en referencia a una revista del mismo nombre&#8211;, con Guy Fihman y Claudine Eizykman y sus experimentos estereosc&#243;picos y de cine hologr&#225;fico; el ya mencionado Giovanni Martedi; Pedro de Andrade con su <i>Film sabot&#233;</i> (&#171;Pel&#237;cula saboteada&#187;, 1975)
a exhibir y discutir como objeto inproyectable; a los que seguidamente se sumaron Pierre Rovere, Christian Lebrat, Jean-Michel Bouhours, Yann Beauvais y Rose Lowder. Y, en una segunda etapa, es notable la actividad cercana a la asociaci&#243;n Light Cone, una escisi&#243;n de la cooperativa anterior con una mayor apertura de miras en sus labores fundamentales de distribuci&#243;n, salvaguarda y difusi&#243;n del cine experimental, al congregar tambi&#233;n a otros grupos del hex&#225;gono galo. Entre ellos la <i>&#201;cole du Corps</i> (St&#233;phane Marti, Lionel Soukaz, Jacques Haubois &#171;Jakobois&#187;, etc.), y, dentro de la misma, el <i>cin&#233;ma corporel</i> de Maria Klonaris y Katerina Thomadaki con sus numerosas creaciones de proyecciones m&#250;ltiples, performances, instalaciones y medios mixtos. A destacar, por &#250;ltimo, las manifestaciones impulsadas por Yann Beauvais (uno de los fundadores de Light Cone) en la primera mitad de los noventa, en torno al &#171;film como instalaci&#243;n&#187; &shy;&#8211;lema com&#250;n de las muestras <i>D&#233;Fil&#233;: De Film: D&#233;Cadr&#233;</i>
(1993) y <i>D&#233;Fil&#233;: De Film: ReCadr&#233;</i>
(1995)&#8211; y, m&#225;s recientemente, las veladas Scratch Expanded que Light Cone organiza anualmente desde 2006.  </p>
<p> <b>[4] Maquinaria</b> &#8211;
La concepci&#243;n de m&#225;quinas solteras (sin esponsales con el cinemat&#243;grafo triunfante) y de artilugios de cu&#241;o propio para la creaci&#243;n de experiencias, espect&#225;culos, pasatiempos &#243;pticos y audiovisuales, va unida tanto con el pret&#233;rito precinematogr&#225;fico como con otras manifestaciones art&#237;sticas o recreativas en pos de unas metas cinem&#225;ticas y sinest&#233;sicas. Por la senda de una <i>m&#250;sica visual</i>, por ejemplo. Sin necesidad de sumergirse y bucear en insondables profundidades &#8211;sin embargo bien estudiadas actualmente&#8211;, bastar&#225; con remitirse a los nombres de Alexander L&#225;szl&#243;, Oskar Fischinger, Kurt Schwerdtfeger, Ludwig Hirschfeld-Mack, Thomas Wilfred, Charles Dockum, Nicholas Sch&#246;ffer y John Whitney, que a su vez son parte de otras subhistorias del arte cin&#233;tico, lum&#237;nico, tecnol&#243;gico, cibern&#233;tico, etc.</p>
<p> M&#225;s cerca de nuestro tiempo, cabe referirse a la
<i>Dreamachine</i> de Brion Gysin (hoy convertida virtualmente en un chisme del tipo h&#225;gaselo-usted-mismo) o al complejo de las t&#233;cnicas PLAT y las concepciones &#171;todosensoriales&#187; que concibi&#243; el iluminado Jos&#233; Val del Omar. Roman Kroitor, por otra parte, concibi&#243; el mosaico multipantalla del <i>Labyrinthe</i> en la Expo 67 de Montreal, y fue sucesivamente uno de los progenitores del sistema IMAX y derivados.</p>
<p> En un marco completamente distinto, el concienzudo trabajo de Edmund Kuppel engrasa los goznes entre las im&#225;genes est&#225;ticas y las cinem&#225;ticas, y reelabora unos fundamentos &#243;pticos, f&#233;rreos y psicof&#237;sicos asociados con nuestra percepci&#243;n visual y con un arte de la memoria. La metalurgia rotunda y estrepitosa de <i>The Machine</i>, de Steve Farrer, es de otra clase pero af&#237;n con algunas obras de Kuppel por su acercamiento com&#250;n a una omnivisi&#243;n de 360 grados, si bien contradicha por su aprehensi&#243;n fugaz, rotatoria y ensimismada mediante la onanista mec&#225;nica de los mecanismos o dispositivos que han ingeniado ambos artistas. Otras pr&#225;cticas nos llevar&#237;an asimismo hacia ese lugar, por nombrar todav&#237;a, de diversas expansiones pre-, pos- y transcinematogr&#225;ficas basadas en artefactos de fabricaci&#243;n o bricolaje propio. Por ejemplo Joost Rekveld, que en sus obras escult&#243;rico-cin&#233;ticas <i>#13 </i>(1986), <i>#13.2</i>
(1997) y <i>#17</i>
(1998) emplea dispositivos o r&#233;plicas libres y a gran tama&#241;o del disco de Nipkow &#8211;de 1874, uno de los fundamentos de la primera televisi&#243;n&#8211; y del anortoscopio de Joseph Plateau (de 1828). O el trabajo m&#225;s reciente de Ken Jacobs, basado este en la manipulaci&#243;n
&#8211;en vivo y en directo&#8211; de proyectores sin soporte de imagen de ning&#250;n tipo.</p>
<p> La maquinaria pesada del formato de 35 mm &#8211;en otro tiempo el est&#225;ndar industrial del cine&#8211; se impone y atrona en algunas instalaciones singulares. <i>Rheinmetall
/ Victoria 8</i> (2003), de Rodney Graham, confronta las tecnolog&#237;as declinantes que dan nombre a la obra: un proyector de fabricaci&#243;n italiana (Victoria 8), en su momento considerado el Rolls Royce de la proyecci&#243;n cinematogr&#225;fica, y la secuencia que este dispara de una m&#225;quina de escribir (Rheinmetall)
y sus entra&#241;as, sobre la cual cae una lluvia de harina que semeja una nevada. En otro himeneo a lo Lautr&#233;amont, <i>Did I Love a Dream?</i> (2009) de Christine Davis, se da el encuentro nada fortuito entre la mesa de una vieja m&#225;quina de coser y un proyector de 35 mm al que soporta, para lanzar la imagen de una danza serpentina, de ejecuci&#243;n actual pero como evocaci&#243;n decimon&#243;nica, sobre una malla cobreada que le otorga un color sepia nost&#225;lgico. Mientras que, en <i>Wilhelm Noack oHG</i>
(2006), de Simon Starling, el peculiar dispositivo de proyecci&#243;n constituye una m&#225;quina c&#233;libe con un bucle autorreferencial que discurre entre los extremos y meandros de una estructura helicoidal basada en un hist&#243;rico dise&#241;o del arquitecto Carlo Mollino; autorreferencialidad sin embargo aparente, puesto que la obra remite tambi&#233;n a la relaci&#243;n entre arquitectura, industria y sociedad antes y despu&#233;s de la Segunda Guerra Mundial.</p>
<p> Otros artistas han transitado de los l&#237;mites anal&#243;gicos a los extral&#237;mites digitales y, circunstancialmente, de vuelta a la proyecci&#243;n peliculosa. Es el caso de Thierry Kuntzel, tambi&#233;n estimado por sus escritos te&#243;ricos sobre <i>le d&#233;filement</i> y otros fundamentos cinem&#225;ticos, con su instalaci&#243;n p&#243;stuma, <i>La peau</i> (2007), en la cual acudi&#243; al proyector PhotoMobile, de G&#233;rard Harlay y su empresa DIAP, para reproducir un fotograma &#250;nico de 70 mm &#8211;hecho de im&#225;genes fijas, macrofotogr&#225;ficas, &#171;cosidas&#187; digitalmente&#8211;, estirado en horizontal y en el tiempo como un bucle perpetuo. En el terreno ya de lo h&#237;brido, <i>Escape</i>
(2012) de Laurent Mignonneau y Christa Sommerer &#8211;m&#225;s conocidos por otros despliegues rotundamente electr&#243;nicos y de recreaci&#243;n cient&#237;fica&#8211;, es una pieza interactiva y efectiva que acopla la manivela de un viejo proyector de cine de 8 mm modificado, con unos componentes inmateriales de programaci&#243;n y animaci&#243;n digital que remiten a <i>La metamorfosis</i> de Kafka.  </p>
<p>  </p>
<p> <b>The End (o Sin Fin)</b></p>
<p> En las historias del cine, la rivalidad advenediza de la televisi&#243;n en los a&#241;os cincuenta suele servir de justificaci&#243;n para la implantaci&#243;n de los formatos cinematogr&#225;ficos de pantalla (crecientemente) ancha, as&#237; como para el auge de otros sistemas de espectacularidad superior. En 1952 el mundo asisti&#243; a la presentaci&#243;n del Cinerama, consistente en tres proyecciones sincronizadas que formaban una imagen continua &#8211;si bien con costurones visibles&#8211; sobre una pantalla de hasta 600 m[2] y con un arco de pantalla de 146 grados. El p&#250;blico de la &#233;poca pod&#237;a sentir el v&#233;rtigo de un recorrido en monta&#241;a rusa o, diez a&#241;os despu&#233;s, la zozobra de un descenso en canoa por aguas bravas.
Las n&#225;useas estaban muy logradas.</p>
<p> La irrupci&#243;n del cine expandido es otra historia. Una subhistoria que se desarrolla al mismo tiempo que empieza a escribirse otra, en la encrucijada transtecnol&#243;gica del v&#237;deo y los metamedios digitales que le fueron ganando terreno. El cine y su sombra &#8211;aquello que, sin llegar a serlo, lo pretende o lo rebasa&#8211; han afrontado entonces la experiencia de sus l&#237;mites. Y ha sido preciso bordear su muerte para que renazca de nuevo. Ni que sea como otra cosa.</p>
<p> Quiz&#225; se trate de &#171;<i>un autre cin&#233;ma</i>&#187;, seg&#250;n ha razonado Raymond Bellour; expresi&#243;n que ha de aquilatarse en relaci&#243;n a la curiosidad de un te&#243;rico e investigador del cine y de la literatura, intrigado por los <i>pasajes de la imagen</i>, las <i>entreim&#225;genes</i> y la <i>querella de los dispositivos</i>, ya que los &#171;otros cines&#187; son y siempre han sido m&#250;ltiplos y no primos. Otredad que tambi&#233;n ha recibido el ep&#237;teto de <i>cine terciario</i> o <i>tercer cine</i>; expresi&#243;n un tanto desafortunada, esta &#250;ltima, al  pisarle los talones a otra previamente acu&#241;ada para referirse al precepto combativo de un cine tercermundista. O la par&#225;frasis de &#171;<i>an othered cinema</i>&#187;, sugerida por Erika Balsom en una sustanciosa obra de s&#237;ntesis. Y, por &#250;ltimo, est&#225; el dicho sentencioso de Alexander Horwath: &#171;el lugar del cine ser&#225; el museo&#187;, y su eco polif&#243;nico en otras voces. Porque las salas de cine que a&#250;n conocemos, a la italiana y en penumbra, ser&#225;n (o ya lo son) un lugar de consumo de chucher&#237;as y de chispeantes refrescos, y
&#225;mbito de otros jolgorios que los de una cultura cin&#233;fila/cin&#233;faga.
Y porque el museo y sus manifestaciones ep&#237;gonas y alternas, han de rebajar todav&#237;a un escal&#243;n en la connotaci&#243;n arrogante y elitista que mantienen. Pero ese es otro debate.[[[10]]]</p> <div id="sdfootnote1">
	<p>[1]
	Gene Youngblood: <i>Expanded
	Cinema</i>. Nueva York: EP Dutton /
	Londres: Studio Vista, 1970. En PDF puede descargarse libremente de
	las siguientes fuentes: 
	</p>
<p><u>[http://www.vasulka.org/Kitchen/PDF_ExpandedCinema/ExpandedCinema.html]</u></p>
<p><u>[http://www.ubu.com/historical/youngblood/index.html]</u></p>
<p>Para
	la edici&#243;n en espa&#241;ol, la referencia es: Gene Youngblood: <i>Cine
	expandido</i>. Buenos Aires:
	EDUNTREF-Editorial de la Universidad
	Nacional de Tres de Febrero, 2012. Con una introducci&#243;n de Emilio
	Bernini y traducci&#243;n de Mar&#237;a Ester Torrado.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2]
	Nombre art&#237;stico de Waltraud Lehner, que
	siempre deber&#237;a escribirse en may&#250;sculas, seg&#250;n la intenci&#243;n
	original de la artista de adoptar uno que evocara las ideas de marca
	y logo, a prop&#243;sito de una popular confecci&#243;n de la tabacalera
	austriaca.</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Por gentileza del mismo autor, una edici&#243;n
	de bolsillo de <i>An Introduction to the
	American Underground Film</i>, puede
	descargarse en diversos formatos en el siguiente enlace:
	<u>[https://archive.org/details/introductiontoam00rena]</u></p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	VALIE EXPORT: &#171;Expanded Cinema as
	Expanded Reality&#187;, en la revista en l&#237;nea <i>Senses
	of Cinema</i>, n&#250;m. 28 (octubre 2003).
	<u>[http://sensesofcinema.com/2003/28/expanded_cinema/]</u></p>
<p>Este
	texto, ligeramente aumentado, ha sido recogido despu&#233;s en David
	Curtis / A.L. Rees / Duncan White / Steven Ball (ed.): <i>Expanded
	Cinema: Art, Performance, Film</i>.
	Londres: Tate Publishing, 2011, pp. 288-298.</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>[5]
	Al respecto, Nicky Hamlyn ha esbozado un reproche a la levedad de
	algunas expansiones hodiernas, al se&#241;alar que &#171;muchas obras
	recientes basadas en la proyecci&#243;n han tenido una &#237;ndole
	decorativa o fetichista en su exploraci&#243;n del medio f&#237;lmico&#187;.
	&#171;Mutable Screens: The Expanded Films of Guy Sherwin, Lis Rhodes,
	Steve Farrer and Nicky Hamlyn&#187;, en <i>Expanded
	Cinema: Art, Performance, Film</i>, op.
	cit., pp. 212-220. 
	</p>  <div id="sdfootnote6">
	<p>[6]
	<i>Expanded Cinema: Art, Performance,
	Film</i>, op. cit. V&#233;ase tambi&#233;n:
	<u>[http://www.rewind.ac.uk/expanded/Narrative/Home.html]</u></p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	Estos &#250;ltimos con sus <i>re-enactments</i>,
	recreaciones de algunas piezas extremas en el canon del cine
	expandido, tomadas como partituras a ejecutar de nuevo. V&#233;ase:
	<u>[http://www.teachingandlearningcinema.org/expanded-cinema-re-enactments/]</u></p>  <div id="sdfootnote8">
	<p>[8]
	En conversaci&#243;n con Leandro Katz, este me se&#241;al&#243; que las
	exposiciones que comisari&#243; en los a&#241;os 1980 y 1983 con el t&#237;tulo
	<i>Film as Installation</i> (ambas en The Clocktower, un espacio
	art&#237;stico alternativo en Nueva York), fueron un intento de
	aglutinar y promover a un grupo de artistas que se sent&#237;an atra&#237;dos
	por lo audiovisual en expansi&#243;n. Dichas exposiciones constaban de
	proyectos, dibujos, fotograf&#237;as y maquetas, m&#225;s que de
	instalaciones propiamente dichas. Entre los participantes se hallan
	los nombres de William Anastasi, James Benning, Terry Berkowitz,
	Dara Birnbaum, Benni Efrat, Morgan Fisher, Barry Gerson, Jack
	Goldstein, Takahiko Iimura, John Knecht, David Lamelas, Bill
	Lundberg, Anthony McCall, Carolee Schneemann, Paul Sharits, Anita
	Thacher, Francesc Torres, Regina Vater y Roger Welch, adem&#225;s del
	propio Leandro Katz.</p>
<p>
	</p>  <div id="sdfootnote9">
	<p>[9]
	Lundberg, Childress y Carpenter, junto con Leandro Katz y Janet
	Rifkin, formaron parte de <i>Structure</i>, una exposici&#243;n
	colectiva de esculturas e instalaciones audiovisuales, series o
	secuencias fotogr&#225;ficas y obras mixtas, que tuvo cierta repercusi&#243;n
	en su momento (John Gibson Gallery, Nueva York, marzo-abril 1978).
	Es un antecedente se&#241;ero de otras inscripciones &#171;cinexpansivas&#187;
	en el marco galer&#237;stico-muse&#237;stico de nuestros d&#237;as.</p>  <div id="sdfootnote10">
	<p>[10]
	Algunas referencias condensadas en este desenlace son las
	siguientes. Raymond Bellour / Catherine David / Christine van Assche
	(ed.): <i>Passages de l&#8217;image</i>. Par&#237;s: Mus&#233;e national d&#8217;art
	moderne-Centre Georges Pompidou, 1990 [cat. exp.]. Raymond Bellour:
	<i>L&#8217;Entre-images. Photo, cin&#233;ma, vid&#233;o</i>. Par&#237;s: La
	Diff&#233;rence, 1990; <i>L&#8217;Entre-images 2. Mots, Images</i>. Par&#237;s:
	P.O.L., 1999; <i>La Querelle des dispositifs. Cin&#233;ma &#8211;
	installation, expositions</i>. Par&#237;s: P.O.L., 2012. Chris Dercon:
	&#171;Gleaning the Future from the Gallery Floor&#187;,
	en <i>Vertigo</i>,
	vol. 2, n&#250;m. 2, primavera 2002 (en referencia al concepto de &#171;cine
	terciario&#187;,  que Mark Lewis habr&#237;a
	introducido en conversaci&#243;n con Dercon, entre otras cuestiones
	relativas a la prominencia de la imagen en movimiento en los
	espacios del arte). Erika Balsom: <i>Exhibiting Cinema in
	Contemporary Art</i>. Amsterdam: Amsterdam University Press, 2013.
	Alexander Horwath: &#171;Dear Tacita&#8230;&#187;, en
	<i>Tacita Dean: FILM</i>. Londres: Tate Publishing, 2011 [cat.
	exp.].</p>  </body> </html>