  <p> <b>&quot;LA IMATGE M&#210;BIL EST&#192;
CANVIANT&quot;</b></p>
<p> <b>Una entrevista amb John G.
Hanhardt</b></p>
<p>  </p>
<p>  </p>
<p> John Hanhardt &#233;s, des del 1974, curador, i actualment cap, del Departament de Cinema i V&#237;deo del Whitney Museum of American Art de Nova York. Abans &#8212;i despr&#233;s de cursar estudis al Departament d'Estudis Cinematogr&#224;fics de la Universitat de Nova York&#8212; havia endegat la seva traject&#242;ria professional en els departaments dedicats al cinema de dos altres importants museus estadounidencs: el Museu d'Art Modern (MOMA) de Nova York i el Walker Art Center de Minneapolis.</p>
<p>  </p>
<p> Hanhardt &#233;s a la vegada autor de nombrosos escrits cr&#237;tics i te&#242;rics, sovint com a comentari o aguda introducci&#243; als programes i mostres de que ha tingut cura.
Aix&#237; mateix, ha donat confer&#232;ncies i curssos a diferents centres universitaris i institucions culturals.</p>
<p>  </p>
<p> Al Museu Whitney, el departament que dirigeix Hanhardt desenvolupa una programaci&#243;
peri&#242;dica de cinema i v&#237;deo independent nord-americ&#224;, mod&#232;lica en quan a organitzaci&#243; i perman&#232;ncia. Biennalment, la producci&#243;
audiovisual independent forma tamb&#233; part de la Whitney Biennial Exhibition, una exposici&#243; que revisa l'actualitat art&#237;stica dels EUA. Els programes de cinema i v&#237;deo seleccionats per a la Biennal circulen despr&#233;s per altres centres de Nord-am&#232;rica i d'arreu del m&#243;n.</p>
<p>  </p>
<p> Hanhardt ha organitzat aix&#237; mateix mostres monogr&#224;fiques i retrospectives dedicades a la hist&#242;ria del cinema d'avantguarda nord-americ&#224;, al v&#237;deo d'artista, a les &quot;formes esclatades&quot; (<i>expanded forms</i>)
del cinema i el v&#237;deo, a l'obra del gran Nam June Paik i, m&#233;s recentment, als films llegendaris (per&#242; escassament vistos) d'Andy Warhol i de Yoko Ono. Tot i que el Whitney es configura aix&#237; com un dels &quot;santuaris&quot; de les avantguardes audiovisuals a Nova York, tamb&#233; ha dirigit la seva atenci&#243; cap els semi-an&#242;nims artesans dels dibuixos animats de l'imperi Disney o cap els entranyables tresors de la prehist&#242;ria de Hollywood.</p>
<p>  </p>
<p> A Barcelona, l'Institut d'Estudis Nord-americans va prendre ja fa anys el bon costum d'acostar-nos diverses de les mostres esmentades, i aix&#237; es com Hanhardt ens havia ja visitat en un parell d'ocasions.
Ell coneix tamb&#233; molt de prop el treball d'alguns artistes catalans establerts a Nova York, com Francesc Torres, Muntadas i Eug&#232;nia Balcells. Es amb motiu de la darrera instal.laci&#243; d'aquesta, <i>Exposure Time</i>, presentada a Barcelona a la Sala d'Exposicions del Carrer Montcada de la Fundaci&#243; Caixa de Pensions, que em retrobo novament amb John Hanhardt. Una bona ocasi&#243; per parlar de diferents temes relatius a les arts audiovisuals.</p>
<p>  </p>
<p> M'interesso de primer en els origens i funcionament del Departament del que &#233;s cap, aix&#237; com en all&#242; que el distingeix d'altres nombrosos museus i centres art&#237;stics als Estats Units, que han assignat aix&#237; mateix un lloc a la creaci&#243;
audiovisual.</p>
<p>  </p>
<p> El Departament de Film i V&#237;deo del Museu Whitney va comen&#231;ar en realitat com un departament de cinema, l'any 1970, i &#233;s despr&#233;s, el 1975, quan es va eixamplar cap el camp del v&#237;deo. De fet, el v&#237;deo ja havia format part abans de la programaci&#243; del Whitney &#8212;una de les primeres mostres de v&#237;deo havia estat organitzada aqu&#237; pel meu predecessor, l'any 1971&#8212;, per&#242; &#233;s a mida que vaig anar descobrint i aprenent m&#233;s i m&#233;s sobre el v&#237;deo com a forma art&#237;stica, que va entrar a formar part m&#233;s regularment de les activitats del Departament. Respecte a all&#242;
que distingeix aquest Departament del d'altres museus, hi ha essencialment dues coses: primer, que &#233;s un museu dedicat a l'art nord-americ&#224;, i segon, que els v&#237;deos i films que nosaltres presentem s&#243;n fets per artistes independents del cinema i la televisi&#243; predominants, &#233;s a dir del cinema comercial i la TV. I l'objectiu del Departament de Film i V&#237;deo &#233;s el d'empla&#231;ar i integrar el treball cinematogr&#224;fic o videogr&#224;fic d'aquests artistes dins del context del Museu i, a trav&#233;s d'aquest, en el context de l'art i la cultura nord-americana. Aix&#237; doncs, organitzem en el nostre espai permanent del Museu exhibicions individuals o col.lectives amb les que pretenem identificar els artistes-clau i els diferents g&#232;neres i estils propis de la hist&#242;ria del cinema i el v&#237;deo en tant que formes art&#237;stiques en si, a la vegada que en di&#224;leg amb les altres arts. Considerem que el v&#237;deo no &#233;s un art que es desenvolupi ailladament i entenem que &#233;s avui un element integral de la nostra cultura; per tant, no volem que el Departament de Film i V&#237;deo estigui aillat dels altres departaments i activitats del museu.  </p>
<p>  </p>
<p> Donat el volum d'activitats que el Whitney dedica al cinema i el v&#237;deo, em sorpren una mica que entre els serveis del Museu no hi hagi un fons permanent o una v&#237;deoteca, la qual cosa acostuma a ser una de les branques dels departaments de cinema i v&#237;deo a d'altres museus o centres art&#237;stics.</p>
<p>  </p>
<p> El nostre Departament no es planteja una col.lecci&#243; pr&#242;pia, a difer&#232;ncia dels d'altres museus que s&#237; compten amb una col.lecci&#243; o v&#237;deoteca. Aix&#242; nosaltres no ho fem, sin&#243; que ens concentrem en incorporar v&#237;deo-instal.lacions i v&#237;deo-escultures a les col.leccions del museu, que s&#243;n essencialment de pintura i escultura. Novament, el nostre esfor&#231; rau en no aillar-nos de les activitats globals del museu. Entenem que el v&#237;deo, com a forma art&#237;stica, t&#233; un impacte sobre els conceptes de instal.laci&#243;, escultura i creaci&#243; de imatges. I &#233;s per aix&#242; que ha comen&#231;at a formar part de la col.lecci&#243; del museu. Aix&#242; a la vegada vol dir que aquest treball ser&#224; preservat, tindr&#224; un manteniment com a part de la col.lecci&#243; i es posar&#224; a l'abast d'altres museus.</p>
<p>  </p>
<p> <b>LA CREACI&#211; AUDIOVISUAL EN EL MUSEU</b></p>
<p>  </p>
<p> Parlem tot seguit del lloc de les arts audiovisuals en el museu (ara en abstracte). En quina mesura considera que el museu es diferencia i ha de diferenciar-se d'altres espais, sortides, amb que compten el cinema i el v&#237;deo independent?</p>
<p>  </p>
<p> El museu, dins de la cultura i la societat nord-americana, &#233;s considerat una instituci&#243; b&#224;sica.
Es una instituci&#243; cultural &quot;major&quot; que abasta tot un ventall de pr&#224;ctiques art&#237;stiques. Tamb&#233; cal destacar el seu rol de preservaci&#243; de la hist&#242;ria, tot fornint-ne una mena de interpretaci&#243;. Aquesta &#233;s la responsabilitat del museu: educar, donar suport a la creaci&#243; art&#237;stica i fornir interpretacions necess&#224;ries per a la cultura art&#237;stica. El museu &#233;s un tipus determinat de instituci&#243;, per&#242; evidentment n'hi ha d'altres. Aix&#237;, tenim els anomenats espais alternatius, els quals han tingut una gran import&#224;ncia en la hist&#242;ria del v&#237;deo-art als Estats Units. En aquest cas, s&#243;n els mateixos artistes qui creen les seves pr&#242;pies organitzacions per tal d'exhibir i produir el seu treball; com per exemple, a Nova York, The Kitchen, i moltes altres organitzacions arreu dels Estats Units. Endem&#233;s, hi ha altres centres o organitzacions que s'ocupen de la distribuci&#243; i de facilitar l'acc&#233;s als mitjans de post-producci&#243;. Per&#242; el museu, en tant que &#233;s una gran i complexa instituci&#243;, ha d'acomplir idealment moltes funcions, a m&#233;s a m&#233;s de les seves col.leccions, exhibicions i programes.
Aix&#237;, nosaltres distribuim mostres de cinema i v&#237;deo que circulen pels Estats Units i la resta del m&#243;n. Amb aix&#242; volem anar m&#233;s enll&#224; dels murs del museu i donar a con&#232;ixer aquests treballs m&#233;s ampliament.</p>
<p>  </p>
<p> Quins museus o centres art&#237;stics dels Estats Units destacaria pel que fa a les seves actuacions en el camp de les arts audiovisuals?</p>
<p>  </p>
<p> Als Estats Units hi ha un bon nombre de museus que hi han jugat un paper for&#231;a important.
Evidentment, de primer cal esmentar el Museu d'Art Modern (MOMA) de Nova York, amb el Departament de Cinema i les seves exhibicions, les col.leccions circulants de cinema i v&#237;deo, i uns importants arxius.
A d'altres punts dels Estats Units hi ha diversos centres que han jugat tamb&#233; un paper important: per exemple, el ICA (Institute of Contemporary Art) de Boston o, m&#233;s recentment, el Museu d'Art Modern de San Francisco (SF-MOMA). Si retrocedim en la hist&#242;ria del v&#237;deo, el Museu Everson de Syracuse va tenir tamb&#233; un paper important en el seu moment gr&#224;cies a David Ross, que fou el primer curador de v&#237;deo en un museu d'art, i a Jim Harithas, que era llavors el director de la instituci&#243;. En definitiva, respecte a la hist&#242;ria del v&#237;deo als Estats Units i al paper que hi han jugat les institucions, el museu ha tingut un rol for&#231;a destacat, sigui amb programes o departaments estables, sigui a trav&#233;s d'exhibicions puntuals. I aix&#242; &#233;s una cosa que ha anat creixent i estenent-se a diversos museus arreu del meu pa&#237;s.</p>
<p>  </p>
<p> Alguns museus nord-americans s'han plantejat la producci&#243; de programes televisius i, fins i tot, la creaci&#243; del seu propi canal de TV per cable. Com veu aquesta implicaci&#243; del museu amb la televisi&#243;?</p>
<p>  </p>
<p> Certament, hi ha algunes experi&#232;ncies que sobresurten... Aix&#237;, l'ICA de Boston ha jugat un paper molt important amb The CAT Fund. [CAT &#233;s acr&#242;nim de Contemporary Art Television]. Cal recordar que aix&#242; de portar el v&#237;deo a la TV a trav&#233;s del museu &#233;s una cosa que ja s'havia plantejat abans David Ross, l'actual director de l'ICA, quan estava al Museu d'Art de Long Beach (LBMA), a Calif&#242;rnia. Penso que la relaci&#243; entre el museu i la televisi&#243; t&#233; un potencial extraordinari que encara no hem arribat a copsar del tot. Aix&#237; com la imatge electr&#242;nica esdev&#233; una forma clau, integral dins de la nostra cultura de la imatge, crec que el museu trobar&#224; en la televisi&#243; una mena d'avinguda per tal de sortir fora de les seves parets. I aix&#242;, no sols per a distribuir informaci&#243; de les seves activitats, ans tamb&#233; per a presentar les obres dels artistes que treballen amb el mitj&#224; v&#237;deo. El museu produir&#224; i distribuir&#224;
programes videogr&#224;fics que hom podr&#224; veure en el televisor, a la llar. Aix&#242; &#233;s una extensi&#243; l&#242;gica del museu i penso que molt necess&#224;ria. Cap instituci&#243; pot romandre est&#224;tica i, si el museu ha de ser un lloc on trobin acollida noves idees, nous mitjans de representaci&#243;, nous mitjans de distribuci&#243; i exhibici&#243;, no podem limitar-nos a encabir-les en la instituci&#243; del museu tal com ha estat concebuda tradicionalment, sin&#243; que cal que entenem que aquests nous mitjans, aquestes noves formes, han de canviar en el futur la instituci&#243;.</p>
<p>  </p>
<p> <b>INDEPEND&#200;NCIES CINEMA/V&#205;DEO</b></p>
<p>  </p>
<p> A Nord-am&#232;rica l'adjectiu &quot;independent&quot;, aplicat al cinema i el v&#237;deo s'utilitza for&#231;a pragm&#224;ticament, malgrat que hom pot distingir diferents nivells de &quot;independ&#232;ncia&quot;. Vaig llegir, per exemple, una ressenya de Jim Hoberman al <i>Village Voice</i>, a prop&#242;sit de la Biennal Whitney del 1987, i ell us retreia el que no hi fossin inclosos films com <i>Working Girls</i>, de Lizzie Borden; <i>Stranger than Paradise</i>, de Jim Jarmusch, i <i>Blue Velvet</i>, de David Lynch (per cert, tots tres estrenats en el seu moment al nostre pais i amb for&#231;a bona acollida). En definitiva, qu&#232; enteneu per &quot;independent&quot;?</p>
<p>  </p>
<p> La meva definici&#243; de
&quot;independent&quot; &#233;s la d'aquell treball que &#233;s produit independentment del cinema dominant, comercial, d'entreteniment, i independentment del domini de la TV comercial. Aix&#237;, al Museu Whitney, no presentem ni programes de la televisi&#243; comercial ni el que anomenem el cinema del sistema, de Hollywood. El nostre criteri
&#233;s el de destacar a l'artista que treballa individualment per tal de crear i desenvolupar unes idees visuals, una narrativa visual a trav&#233;s dels recurssos propis del cinema i el v&#237;deo. Es veritat que en els darrers anys, m&#233;s i m&#233;s cineastes independents han tingut acc&#233;s a uns mitjans de producci&#243; que els han perm&#232;s d'entrar en el mercat cinematogr&#224;fic, per&#242; jo estic realment interessat en aquells treballs que es queden fora del mercat tradicional de la distribuci&#243;
i exhibici&#243; cinematogr&#224;fica. Jo vull oferir un espai, un programa d'exhibici&#243; per aquest treball tant important, per&#242; que no t&#233;
acc&#233;s als canals d'altres produccions cinematogr&#224;fiques. Ara b&#233;, jo no he incl&#242;s a les Exhibicions Biennals Whitney aquells films independents que, pel seu finan&#231;ament i distribuci&#243;, han guanyat acc&#233;s al mercat, i aix&#242; pot ser discutible per&#242; &#233;s un criteri. Jo estic en canvi d'acord amb el que deia Hoberman respecte a que ja no ens podem guiar per la definici&#243; tradicional de les formes de cinema i v&#237;deo d'avantguarda dels anys seixantes i setantes, sin&#243; que actualment hi ha un esclat vers tota mena de g&#232;neres i &#224;rees: neo-documentals, neo-narratives...; per&#242; el cert &#233;s que aquesta mena de treballs no disfruta del suport del mercat. La cultura dominant s'ha apropiat de bona part dels estils d'avantguarda (per usar aquest mot), per&#242; nom&#233;s com aix&#242;, com estils, sense anar m&#233;s a fons. Aix&#242; &#233;s el que passa, posem per cas, amb els v&#237;deo-clips i la MTV (Music Television); no &#233;s res m&#233;s que una forma de televisi&#243;
comercial que aprofita idees de la hist&#242;ria del cinema experimental i el v&#237;deo-art.</p>
<p>  </p>
<p> Fins a quin punt dirieu que els cine-experimentalistes i els v&#237;deo-artistes s'ignoren mutuament?
Creieu que en un futur poden desfer-se les difer&#232;ncies entre cinema i v&#237;deo?</p>
<p>  </p>
<p> Quan el meu departament es va obrir al v&#237;deo, els cineastes ni es miraven el que feien els v&#237;deo-artistes, ni gaireb&#233; es parlaven amb ells.
Hi havia una clara dist&#224;ncia entre ambd&#243;s. D'altra banda, a la programaci&#243; del Whitney, jo sempre he volgut subratllar la difer&#232;ncia entre els dos mitjans. El cinema &#233;s un mitj&#224;
fonamentalment diferent al v&#237;deo. El suport &#233;s fotogr&#224;fic, no electr&#242;nic, i per tant hi ha una base material diferenciadora de per si. I, a la vegada, la hist&#242;ria del cinema es for&#231;a diferent a la hist&#242;ria del v&#237;deo; hi trobem estils, plantejaments i discurssos molt diferents. El que ara est&#224; passant &#233;s que comencen a haver uns certs encreuaments. Aix&#237;, Bill Viola ha realitzat un v&#237;deo de 90 minuts que ha concebut per a ser projectat en pantalla gran, perqu&#232;
vol imposar una certa pres&#232;ncia cinematogr&#224;fica, i Stan Brakhage distribueix ara alguns dels seus films en cinta v&#237;deo. Endem&#233;s d'aquests incipients intercanvis de format, molts dels cineastes d'avantguarda s'estan ara interessant pel v&#237;deo. I tamb&#233; hi ha els qui roden amb pel.l&#237;cula, per&#242; despr&#233;s transfereixen el material a v&#237;deo, perqu&#232; volen que es vegi aix&#237; o perqu&#232; volen utilitzar uns recurssos de post-producci&#243; que no poden obtenir per mitjans cinematogr&#224;fics. Cal tenir tamb&#233; en compte que el cinema, la pel.l&#237;cula de 16mm., &#233;s cada cop m&#233;s car, i &#233;s m&#233;s dif&#237;cil que puguis tirar un cert nombre de c&#242;pies i trobar llocs on poder mostrar els teus films. Tot el mercat de la distribuci&#243;
cinematogr&#224;fica no-comercial (<i>non-theatrical</i>)
es troba actualment en un estat de crisi. Per&#242; tot aix&#242; tamb&#233; t&#233;
un costat positiu. En definitiva, el que est&#224; passant &#8212;i crec que
&#233;s l&#242;gic que sigui aix&#237;&#8212; &#233;s que l'artista &#233;s concient de que pot escollir el mitj&#224; m&#233;s apropiat per all&#242; que vol expressar, crear. Per a un projecte concret, pot ser millor el film o pot ser millor el v&#237;deo, tot depen de q&#252;estions est&#232;tiques i del que pots obtenir de l'un o l'altre mitj&#224;. A mi m'agrada alternar en la programaci&#243; el film i el v&#237;deo, perqu&#232; penso que la gent enten avui les difer&#232;ncies entre un mitj&#224; i l'altre, i perqu&#232; ara podem comprendre perqu&#232; els artistes fan servir l'un o l'altre d'acord amb el seu projecte. I, finalment, la imatge m&#242;bil comportar&#224; en el futur un altre tipus de material, electr&#242;nic, per&#242; amb elements de la imatge f&#237;lmica i la imatge televisiva que coneixem avui. La imatge m&#242;bil est&#224; doncs canviant, i aix&#242; forma part de l'evoluci&#243;
de la nostra cultura.</p>
<p>  </p>
<p> <b>UN ESCLAT DE FORMES</b></p>
<p>  </p>
<p> El concepte de instal.laci&#243; aplicat als mitjans audiovisuals &#233;s un tema al que heu dedicat for&#231;a atenci&#243;. Voldria que ens parlessiu de la vostra accepci&#243; d'<i>expanded forms</i> en relaci&#243; al cinema i el v&#237;deo.</p>
<p>  </p>
<p> Jo utilitzo el terme &quot;formes esclatades&quot; (<i>expanded forms</i>)
en relaci&#243; al cinema i el v&#237;deo per tal de distingir i precisar una
&#224;rea de creaci&#243; art&#237;stica. Hi ha el v&#237;deo monocanal, que es mostra en un &#250;nic monitor, com un programa de TV; aquesta &#233;s una forma an&#224;loga a la de l'obra cinematogr&#224;fica que es projecta en una sala, amb la seva pantalla, les fileres de seients, etc. En canvi, les &quot;formes esclatades&quot; s&#243;n el v&#237;deo com escultura, com instal.laci&#243; i com performance; la idea d'usar realment tot el potencial d'aquest mitj&#224;, un potencial pl&#224;stic que pot ser utilitzat de molt diferents maneres, no necess&#224;riament confinat al canal &#250;nic, no restringit a un monitor davant del qual t'asseus, sin&#242; que aquest monitor pot estar penjat del sostre, o poden haver-hi m&#250;ltiples canals i m&#250;ltiples monitors, circuits tancats de v&#237;deo, imatges de v&#237;deo juxtaposades amb altres objectes... Tot un ventall de possibilitats. A la vegada, &#233;s molt interessant de relacionar aix&#242; amb la hist&#242;ria de les film-instal.lacions, amb l'obra de Paul Sharits i altres artistes que projecten imatges f&#237;lmiques a galeries i altres espais, a la paret, multiplicades amb diferents projectors, o combinades amb altres objectes. La import&#224;ncia d'aquest concepte de &quot;formes esclatades&quot; rau en que ens fa advertir el potencial radical d'aquests mitjans en tant que eines art&#237;stiques, i en que ens allibera de les idees que ens han imposat la televisi&#243; i el cinema usual. L'art dels medias rau en com veiem i representem el m&#243;n que ens envolta amb aquests nous instruments, a trav&#233;s de l'ull de la c&#224;mera per exemple. La instal.laci&#243; combina aquest punt de vista amb l'escultura i altres mitjans per tal de fer esclatar aquestes noves formes en noves direccions, i &#233;s aix&#237; com les instal.lacions contribueixen decissivament a trencar la frontera entre les arts i els media.
Sobretot perqu&#232; les arts no s&#243;n nom&#233;s la pintura, l'escultura, la fotografia, la cinema, el v&#237;deo, etc., sin&#243; que hi han imbricacions dial&#232;ctiques i canvis mutuament determinats.</p>
<p>  </p>
<p> El &quot;vocabulari&quot; de les v&#237;deo-instal.lacions &#233;s avui un aspecte que coneixem for&#231;a b&#233;
perqu&#232; ha estat ampliament analitzat i delimitat. Potser no tant el que podriem anomenar el &quot;temari&quot;. Per dir-ho amb termes un tant grollers, no creieu que l'atenci&#243; que hem parat per la forma ens ha fet passar per alt la q&#252;esti&#243; del contingut?  </p>
<p>  </p>
<p> Forma i contingut s&#243;n integrals l'un a l'altre. Jo puc usar un m&#232;tode de descripci&#243; formal per tal de parlar de les instal.lacions, comen&#231;ant pels materials i les formes o estructures amb que est&#224; organitzada l'obra. L'aplicaci&#243; d'aquesta mena de m&#232;todes per tal d'ordenar tota la varietat d'obres i trobar-hi relacions, jo diria que ha estat un mitj&#224; historiogr&#224;fico-est&#232;tic per tal d'identificar i comprendre millor aquesta &#224;rea. Per&#242;, evidentment, el contingut &#233;s integral i &#233;s el que d&#243;na sentit als materials que composen l'obra i a les imatges que passen per la pantalla o monitors dins de la instal.laci&#243;. Respecte de qualsevol instal.laci&#243;, podem parlar en termes formals i de contingut. Prenem <i>Exposure Time</i>, el treball que Eug&#232;nia Balcells ha presentat ara a Barcelona. En podem parlar en termes formals o de construcci&#243; a prop&#242;sit de l'&#250;s de la retro-projecci&#243; per a engrandir i centralitzar la imatge v&#237;deo; a prop&#242;sit del processament d'aquesta imatge, la seva transformaci&#243; i tractament a partir de la gravaci&#243; original. Podem tamb&#233; parlar de l'incorporaci&#243; d'objectes trobats, que es relacionen amb Barcelona i amb un indret determinat. El que Eug&#232;nia fa amb aquest treball &#233;s excavar, excavar un lloc i excavar la mem&#242;ria. I llavors podem passar al contingut: totes aquestes pedres i runes, tots aquests objectes prenen associacions per a l'espectador; el remeten al passat de Barcelona, evoquen el record d'una realitat, d'un m&#243;n que ha estat arrencat de la ciutat i llen&#231;at al mar. Hi ha doncs una recuperaci&#243;, en sentit material, per tal de recordar-nos el passat a trav&#233;s de les evocacions, les associacions que prenen els objectes en la nostra mem&#242;ria i en les nostres vides. I tot aix&#242; &#233;s relligat per la imatge de v&#237;deo que sura en l'espai, projectada dins d'aquest gran cercle, com si fos un ull que esguarda per damunt de les restes del passat. Un ull que reflexa els cicles de la natura, els cicles del temps, la tradici&#243;
representada per l'ou-com-balla de la Catedral i la perman&#232;ncia de les ones, xocant contra la platja i contra els objectes que han passat a formar part de la instal.laci&#243;. Aquest &#233;s doncs un treball que t&#233; una enorme q&#252;antitat de contingut, de significaci&#243;, la qual
&#233;s articulada en el seu desenvolupament formal com a instal.laci&#243;, per com aquests materials han estat ajuntats per tal d'expressar una idea original, l&#237;rica i evocativa. Podriem prosseguir aquest proc&#233;s de interpretaci&#243; i comprensi&#243; tot prenent moltes altres v&#237;deo-instal.lacions, per&#242;, en definitiva, el contingut &#233;s sempre central a l'obra. Es el que fa l'obra.</p>
<p>  </p>
<p> <b>LA HIST&#210;RIA I LA TEORIA DEL V&#205;DEO</b></p>
<p>  </p>
<p> Ara que el v&#237;deo, com a mitj&#224;
art&#237;stic, compta ja amb al voltant de 25 anys de hist&#242;ria, com veieu retrospectivament la seva evoluci&#243;?</p>
<p>  </p>
<p> Tota la hist&#242;ria del v&#237;deo, des de la fi dels anys cinquantes, ha estat una hist&#242;ria de canvi; no endebades, podem situar als seus protagonistes en el context de diversos per&#237;odes i moments de la hist&#242;ria de l'art: Nam June Paik en el context de Fluxus, Vito Acconci o Bruce Nauman en el body-art, el minimalisme, l'art conceptual... Tots aquests moviments dels seixantes i setantes influenciaren i definiren el treball de molts dels v&#237;deo-artistes. I en referir-nos al moment actual, passa novament que cada artista es situa dins d'un context i un temps. Aix&#237;
que &#233;s una hist&#242;ria de canvi, tot i que jo no parlaria en termes de desenvolupament o progr&#233;s tal com s'entenen normalment. Jo crec que el treball dels seixantes &#233;s tan fort ara com ho era llavors, i penso que ens hem oblidat massa d'aquelles obres, cintes i instal.lacions, i que hauriem de revisar-les i redescobrir-les.
Sovint amb trobo amb gent que diu: &quot;Oh, recordo que el v&#237;deo-art era sempre molt avorrit&quot;. I aix&#242; em xoca, perqu&#232; una cosa &#233;s avorrida si no li dediques l'atenci&#243; que exigeix, si no te la mires.
I en els treballs dels seixantes i setantes, adscrits a l'art minimal i processual, hi havia molta insist&#232;ncia en el temps i la repetici&#243;, aix&#237; com en l'examen i exploraci&#243; de les propietats en si del mitj&#224;. Per&#242; jo crec que una de les coses que passar&#224;, a mida que la hist&#242;ria del v&#237;deo es faci m&#233;s llarga, &#233;s que comen&#231;arem a mirar endarrera, tot reexaminant i reconsiderant aquella hist&#242;ria.
D'altra banda, els mitjans electr&#242;nics de creaci&#243; de imatges han esdevingut part de la nostra cultura de masses i, en mans de diferents artistes, estan transformant la nostra cultura visual. Per aix&#242;, crec que no hem de contemplar el v&#237;deo o la instal.laci&#243;
d'acord amb com encaixen o no amb definicions pr&#232;vies de l'obra art&#237;stica, sin&#243; en termes de com estan canviant la nostra manera de veure l'art i de com estan transformant la nostra cultura.</p>
<p>  </p>
<p> Quin ha estat el plantejament del llibre que heu publicat amb el t&#237;tol de
<i>Video Culture/A Critical Investigation</i>
[Rochester, New York, 1986]?</p>
<p>  </p>
<p> <i>Video Culture</i>
&#233;s una antologia d'assaigs motivada pels curssos de hist&#242;ria del v&#237;deo que jo dono a universitats i col.legis majors. Vaig preparar aquest llibre tot pensant en aix&#242; i en fornir unes lectures als estudiants. La idea era ubicar i relacionar el v&#237;deo amb respecte a la hist&#242;ria del cinema i la TV, distingir-lo d'aquells mitjans anteriors, per&#242; a la vegada mostrar com ha estat influenciat per ells, doncs penso que cal tenir en compte tot un cos de teoria i historia que hi ha al darrera. Aix&#237;, en el llibre he recollit textos de Walter Benjamin, Bertolt Brecht, Hans Magnus Enzensberger, Louis Althusser i Jean Baudrillard que proposen un seguit de reflexions cr&#237;tiques al voltant del rol social i cultural dels media. I sobre aquesta base, hi ha una s&#232;rie d'assaigs que tracten diferents aspectes: les difer&#232;ncies entre el v&#237;deo de creaci&#243; i el llenguatge dominant de la TV, en els textos de David Antin i John Ellis; la hist&#242;ria del v&#237;deo, en els textos de David Ross i Rosalind Krauss; la diferenciaci&#243; entre v&#237;deo i cinema, en els textos de Douglas Davis i altres. A trav&#233;s dels escrits de tots aquests autors es proposa un itinerari hist&#242;ric que espero que reflexi una cosa que jo trobo essencial de comprendre, i &#233;s que quan ens enfrontem a una creaci&#243; videogr&#224;fica, tant si &#233;s una cinta o una instal.laci&#243;, no es tracta de veure-ho com una cosa aillada, sin&#243; que els autors treballen sobre idees que es relacionen amb altres pr&#224;ctiques art&#237;stiques, aix&#237; com amb la realitat que els envolta. Per tal de comprendre la hist&#242;ria i el discurs del v&#237;deo com a forma art&#237;stica, ens cal doncs tenir en compte tota una s&#232;rie de questions te&#242;riques i hist&#242;riques que intervenen en com l'espectador reb l'obra i en el que d'ella n'espera. Una de les dificultats amb que m'he trobat, en tant que curador de v&#237;deo en un museu, &#233;s que gran part del p&#250;blic est&#224; molt condicionat per les seves expectatives respecte a la televisi&#243;. Aix&#237; com s'acosten igualment al cinema independent, d'avantguarda, condicionats per l'entreteniment que esperen de l'altre cinema. Es molt important doncs de proporcionar al p&#250;blic els mitjans per tal d'empla&#231;ar aquestes obres i de veure com els seus autors redefineixen el mitj&#224;
i treballen sobre les seves propietats. L'antologia de textos que jo he fet &#233;s un esfor&#231; m&#233;s en aquest sentit.</p>
<p>  </p>
<p> Els vostres propis escrits es troben repartits en m&#250;ltiples cat&#224;legs, programes de m&#224;, revistes i obres col.lectives. I molta de la literatura sobre el v&#237;deo, molts dels llibres que fins ara s'han publicat i altres que s&#233; que estan en preparaci&#243;, s&#243;n reculls, antologies de textos m&#233;s o menys breus de diferents autors. Com interpreteu aquesta escassetat te&#242;rica?</p>
<p>  </p>
<p> Jo crec que cal m&#233;s criticisme, m&#233;s escrits sobre aquestes obres, m&#233;s esfor&#231; reflexiu.
L'historiador i el cr&#237;tic d'art han de sentir-se reptats per aquestes obres i els hi han de dedicar l'atenci&#243; que es mereixen. Un dels problemes per a que, ara com ara, aix&#242; no sigui ben b&#233; aix&#237;,
&#233;s que el v&#237;deo realment desafia les convencions de la cr&#237;tica i l'assagisme est&#232;tic. La cr&#237;tica d'art cau de vegades en una f&#242;rmula massa f&#224;cil i es deixa arrastrar per les imposicions del mercat. I si una obra no entra dins d'unes determinades definicions, tradicions o modes, llavors ning&#250; s'en ocupa. Una de les coses extraordin&#224;ries del v&#237;deo, una que trobo caracter&#237;stica d'aquest mitj&#224;, &#233;s que no est&#224; controlat per les lleis del mercat. Els artistes poden aix&#237;
prendre riscs, poden explorar direccions que escapen a les convencions de la instituci&#243; art&#237;stica. Les instal.lacions, &#233;s cert, s&#243;n en molts casos adquirides per museus, col.leccions privades, fundacions, i fins i tot per corporacions. Per&#242;, la major part de les obres videogr&#224;fiques defugen les convencions de que parlava, i aix&#242; penso que pot comportar una renovaci&#243; est&#232;tica engrescadora, sobretot al costat de tantes altres coses que veiem
&#8212;tant en pintura o escultura com en cinema o m&#250;sica&#8212;, guiades gaireb&#233; nom&#233;s que per l'ambici&#243; de cotitzar-se en els mercats de la cultura i l'art.</p>
<p>  </p>
<p>  </p>
<p> EUGENI BONET</p>
<p>  </p> </body> </html>