  <p> <b>Entre el cine EX-perimental y el cine EX-cepcional</b></p>
<p> <b>Hip&#243;tesis, episodios y reconsideraciones acerca</b></p>
<p> <b>del cine y las vanguardias art&#237;sticas en Espa&#241;a</b></p>
<p>  </p>
<p> <u><b>(I) SIN NOVEDAD EN EL FRENTE</b></u></p>
<p>  </p>
<p> As&#237; podr&#237;a tambi&#233;n encabezar mi ponencia, con la doble intenci&#243;n de, por un lado, parafrasear la met&#225;fora militar que Baudelaire viera en la introducci&#243;n del t&#233;rmino &quot;vanguardia&quot; en el campo est&#233;tico, y por otro lado sugerir el estado de inanici&#243;n y la virtual extinci&#243;n de sus manifestaciones cinematogr&#225;ficas en nuestro contexto.</p>
<p>  </p>
<p> Las resonancias literarias y cin&#233;filas de tomar prestado dicho t&#237;tulo est&#225;n fuera de lugar, pero hubiera sido una manera de rehuir, como quer&#237;a, la inclusi&#243;n de expresiones como &quot;cine de vanguardia&quot; o &quot;cine experimental&quot; en el enunciado-titular de la ponencia; o, al menos, relativizarlas, quiz&#225; pervertirlas, o simplemente jugar con ellas (lo que, en cierta medida, creo de todas formas haber conseguido).</p>
<p>  </p>
<p> Lo que en el fondo hubiera querido rehuir son los malentendidos que tan frecuentemente despiertan tales adjetivaciones, particularmente en el campo del cine y de lo audiovisual en general, y m&#225;s a&#250;n en un contexto como el nuestro, donde aquello que designan ha obtenido tan d&#233;bil proyecci&#243;n. Pero, antes de exponer algunos hechos que me parecen significativos al respecto, me detendr&#233; un poco m&#225;s en los problemas l&#233;xicos o conceptuales que suscitan las diversas acepciones de &quot;la vanguardia&quot; y &quot;lo experimental&quot; en relaci&#243;n al cine.</p>
<p>  </p>
<p> Tales problemas se derivan en gran medida de la usual identificaci&#243;n del cine con su mayor caudal, en tanto que industria del espect&#225;culo que implanta la hegemon&#237;a del relato (audiovisual) de ficci&#243;n con sus particulares reglas y tradiciones, relegando el resto a la categor&#237;a de afluentes o sub-afluentes &#8212;g&#233;neros o especialidades, en otras palabras&#8212; que identificamos con los correspondientes adjetivos o ap&#233;ndices terminol&#243;gicos: el cine documental, el cine de animaci&#243;n, el cine de vanguardia o experimental son los principales ejemplos.</p>
<p>  </p>
<p> Como consecuencia de ello, tal como se&#241;alara Dominique Noguez, a menudo el cine de vanguardia o experimental ha sido equivocadamente entendido de acuerdo con una norma exterior o camino de perfecci&#243;n que, por supuesto, remitir&#237;an a la industria y a la narraci&#243;n, allanando el terreno en el que la aplicaci&#243;n o asimilaci&#243;n de sus t&#233;cnicas o hallazgos puedan tomarse &quot;en serio&quot;. De ah&#237; que Noguez proponga que la palabra &quot;experimental&quot; deber&#237;a escribirse tachada; mientras que el libro donde &#233;so plantea se presenta de todas formas como un &quot;Elogio del cine experimental&quot;, sin tachaduras.[1]</p>
<p>  </p>
<p> Por lo que se refiere a la noci&#243;n de cine de vanguardia, dir&#237;a que etimol&#243;gicamente designa el cine de las vanguardias art&#237;sticas que surgen desde principios de siglo.
Y no hay que olvidar que, para los primeros de aquellos movimientos, el cine mismo es una manifestaci&#243;n de vanguardia, una expresi&#243;n de lo nuevo, tal como se hace patente en los escritos de los futuristas y surrealistas, entre otros. De alguna manera, pues, el cine de vanguardia no se conceb&#237;a como un &#225;rea separada; ni siquiera en su vertiente m&#225;s abstracta y radicalmente alejada del cine com&#250;n (por as&#237; llamarlo). De ah&#237; tambi&#233;n que, en la teor&#237;a e historia del cine, la expresi&#243;n &quot;cine de vanguardia&quot; se haya impuesto sobre todo para acotar un per&#237;odo bastante preciso, y unas expresiones en cambio muy contrastadas y que nutrieron las reyertas internas entre los distintos grupos e individualidades.[2]</p>
<p>  </p>
<p> Pero despu&#233;s, el resurgimiento de la vanguardia se produce con m&#225;s fuerza en Norteam&#233;rica tras la II&#170;
Guerra Mundial (entre otras cosas por la influencia directa ejercida por los muchos artistas europeos que emigraron all&#237;, incluyendo a Richter, Fischinger, McLaren, Duchamp, entre otros), lo que a mi modo de ver explica que sea en textos y modelos anglosajones donde se asienta la concepci&#243;n moderna del cine experimental o de vanguardia, entendido si se quiere un tanto ret&#243;rica y pragm&#225;ticamente. Para desgranar algo apresuradamente algunos de los rasgos con los que se le ha caracterizado, ser&#237;a as&#237;, generalmente, un cine:</p>
<p>  </p>
<p>
&#8226; <u>independiente</u>
(lo que no excluye que su producci&#243;n se alimente de ayudas econ&#243;micas institucionales); y, en el extremo, individual o
<u>personal</u>;</p>
<p>
&#8226; enraizado visiblemente en una
<u>tradici&#243;n vanguardista</u>
(lo que no me parece necesariamente un contrasentido);</p>
<p>
&#8226; <u>anarrativo</u>/<u>antinarrativo</u>/<u>metanarrativo</u>/...
o <u>narrativamente subvertido</u>, seg&#250;n los casos (en general m&#225;s cerca de la poes&#237;a, la pl&#225;stica o la m&#250;sica, para proseguir la ristra de t&#243;picos);</p>
<p>
&#8226; con su mayor <u>&#233;nfasis en la forma</u> de la expresi&#243;n; o, por decirlo de otro modo, en el <u>significante</u> antes que en el significado.</p>
<p>  </p>
<p> Sin embargo, ambos vocablos
&#8212;vanguardia, experimental&#8212; han sido utilizados tambi&#233;n, en resumen, de manera harto abusiva, confusa y tergiversada por muchos escritores cinematogr&#225;ficos, para referirse a cualquier producto que, por un motivo u otro, se apartara de lo que era norma en su tiempo y/o contexto. Y, para volver ya a nuestro mapa, yo creo que se podr&#237;a confeccionar una amplia antolog&#237;a del disparate a prop&#243;sito del modo en que se han manejado tales nociones y temas.</p>
<p>  </p>
<p> En cualquier caso, ser&#237;a dif&#237;cil que ello no fuera as&#237; si tenemos en cuenta las escasas fuentes con que puede contar aquel que se interese en dichas cuestiones. No mencionar&#233; m&#225;s que de pasada la ausencia de un m&#237;nimo fondo en nuestras filmotecas (y en los supuestos centros de arte contempor&#225;neo, tan mal imitados de los extranjeros, varios de los cuales s&#237; incluyen el cine y v&#237;deo experimental en sus colecciones); el problema, de todas formas, no s&#243;lo concierne a las obras que podr&#237;an considerarse cl&#225;sicas o esenciales de entre el cine de vanguardia, sino a las de la historia del cine en general.[3]</p>
<p>  </p>
<p> Me detendr&#233; ahora en la enumeraci&#243;n de los pocos libros que se han editado aqu&#237; sobre el tema. Tenemos en primer lugar la <u>Historia del cine experimental</u> de Jean Mitry (publicado en 1974), pasable en lo que concierne a las vanguardias hist&#243;ricas, pero que parte de criterios excesivamente amplios y pierde los papeles a medida que avanza en el tiempo; especialmente en el cap&#237;tulo final sobre &quot;El cine underground&quot;.
Para suplir las deficiencias del texto de Mitry en dicho aspecto, podr&#237;amos acudir entonces a otros dos libros: el <u>Diario de Cine</u> de Jonas Mekas
(publicado en 1975), &#250;til pero insuficiente para adentrarse en la amplia perspectiva del cine de vanguardia norteamericano, y <u>Cine Underground (Historia cr&#237;tica)</u>, de Parker Tyler (publicado en 1973), que es una obra muy desacreditada (tal como puede leerse en el mismo libro de Mekas). El pobre balance apenas se completar&#237;a con algunos otros libros de car&#225;cter m&#225;s monogr&#225;fico (sobre el inevitable Andy Warhol o en torno a las vanguardias sovi&#233;ticas).</p>
<p>  </p>
<p> En cuanto al cine de vanguardia en Espa&#241;a, aparte de algunos textos sueltos y desperdigados en distintas publicaciones, tan s&#243;lo ha sido abordado en dos libritos: el que Francisco Aranda publicara en 1953, en Lisboa por cierto, justamente titulado <u>Cinema de Vanguardia en Espa&#241;a</u>
&#8212;una de las contadas fuentes a tener en cuenta, aunque con cautela, en relaci&#243;n al per&#237;odo de la vanguardia hist&#243;rica&#8212;, y el de Manuel Palacio y m&#237;o, con el t&#237;tulo de <u>Pr&#225;ctica f&#237;lmica y vanguardia art&#237;stica en Espa&#241;a, 1925-1981</u>, publicado en 1983 y que ha tenido lamentablemente una distribuci&#243;n casi nula, por desidia de la instituci&#243;n que lo edit&#243;.[4]</p>
<p>  </p>
<p> Escrib&#237;amos, en la introducci&#243;n a dicho estudio que la cuesti&#243;n, de un cine de vanguardia o experimental en Espa&#241;a hab&#237;a quedado &quot;relegada al terreno de hip&#243;tesis y conjeturas&quot;, y a partir de ah&#237; trat&#225;bamos de plantear nuestra propia hip&#243;tesis de un modo que fuera productivo, replanteando el tema en otros t&#233;rminos (de puertas adentro, al menos). En otras palabras, nadie pone en duda que se pueda hablar de vanguardias art&#237;sticas al analizar determinadas facetas de nuestra producci&#243;n cultural (en terrenos que incluyen la literatura, las artes pl&#225;sticas, la m&#250;sica...), pero el cine espa&#241;ol se ha ganado en cambio una imagen pat&#233;ticamente conservadora y mediocre; en consecuencia, se trataba de investigar de qu&#233; manera se hab&#237;an aproximado (ni que fuera ocasionalmente) ambas partes del enunciado.
En definitiva, en dicho libro tratamos simplemente de desbrozar la producci&#243;n f&#237;lmica que pudiera responder a un impulso experimental, investigador o, como m&#237;nimo, de acentuada anomal&#237;a expresiva en nuestro contexto.</p>
<p>  </p>
<p> El lema de este Congreso, con un planteamiento un tanto similar al nuestro, abre ahora un campo de estudio algo m&#225;s amplio y que est&#225; a&#250;n necesitado de nuevas aportaciones. Creo que es adem&#225;s la manera m&#225;s id&#243;nea de formular un tema aparentemente tan &quot;menor&quot; dentro de la historia de nuestro cine, sin que se nos escape de las manos como arena. (Pero, en el otro extremo, tambi&#233;n se puede mear fuera de tiesto).</p>
<p>  </p>
<p> Mi aportaci&#243;n pasa por volver nuevamente a la genealog&#237;a del siempre hipot&#233;tico cine experimental espa&#241;ol, pero en este aspecto no pretende introducir sustanciales novedades respecto a la exposici&#243;n que hicimos en la publicaci&#243;n antes aludida &#8212;aunque s&#237; algunos a&#241;adidos, correcciones, nuevas consideraciones&#8212;; sino que quiero subrayar ahora un acercamiento algo distinto, en funci&#243;n del intervalo transcurrido desde entonces.
Pues, sin apenas darnos cuenta, dicha publicaci&#243;n, y la muestra que paralelamente preparamos se convertir&#237;an en las exequ&#237;as de aquello que recog&#237;an. Y aquello que nos esforz&#225;bamos a&#250;n en dar por vivo, lo doy pr&#225;cticamente por muerto ahora. Con decidido pesimismo, aunque sin sentirme por otra parte predispuesto a &quot;liquidar&quot; o desacreditar esa noci&#243;n de vanguardia que hoy parece ya tan dif&#237;cil de sobrellevar.</p>
<p>  </p>
<p> Parto as&#237; de un modelo de
<u>discontinuidad o intermitencia en tres tiempos</u>
(aunque m&#225;s bien reuni&#243;n de distintos episodios m&#225;s o menos aislados entre s&#237;), con cabida para abrir &quot;par&#233;ntesis o apartes&quot; respecto a determinadas obras/trayectorias singulares.
Tal esquema podr&#237;a tambi&#233;n tomarse como equivalente de una distinci&#243;n entre sucesivas generaciones, relev&#225;ndose en cierto modo como protagonistas de aquellos tres tiempos, si bien ello deber&#237;a entenderse como parte de las convenciones que tan habitualmente empleamos para examinar la historia.</p>
<p>  </p>
<p> El <u>primer tiempo</u> corresponder&#237;a a lo que entendemos por &quot;vanguardia hist&#243;rica&quot;, abarcando principalmente desde mitad de los a&#241;os veinte hasta el comienzo de los treinta, aunque con posteriores y espaciadas prolongaciones. El
<u>segundo tiempo</u> abarcar&#237;a de principios de los sesenta a principios de la siguiente d&#233;cada, participando esencialmente de un nuevo impulso del cine independiente y de la experimentaci&#243;n art&#237;stica. Y, por &#250;ltimo, delimitar&#237;a de manera aproximada el <u>tercer tiempo</u> entre la mitad de los setenta y el comienzo de los ochenta, caracteriz&#225;ndolo por el empleo b&#225;sico del formato &#237;nfimo del super-8, con incursiones en el 16 mm. y en el soporte magn&#233;tico del v&#237;deo, en lo que tiene de figurativo de la progresiva &quot;disminuci&#243;n&quot; del espacio que ocupa lo experimental en el cine espa&#241;ol.</p>
<p>  </p>
<p> He sugerido al principio que me sent&#237;a obligado a jugar con unas palabras y expresiones que tan poco han calado en nuestro medio cultural cinematogr&#225;fico (como creo haber ya demostrado en relaci&#243;n con algunos de sus aspectos), y encuentro ahora en la oscilaci&#243;n entre lo <u>ex-perimental</u> y lo <u>ex-cepcional</u> una manera particularmente apropiada de referirme al inventario, quiz&#225; reducido pero no desde&#241;able, que puede extraerse del examen de aquella discontinuidad en tres tiempos.</p>
<p>  </p>
<p> En otro sentido, la lenta agon&#237;a que vive internacionalmente el cine experimental (m&#225;s o menos pronunciada seg&#250;n la mayor o menor tradici&#243;n de la producci&#243;n independiente en determinados pa&#237;ses), as&#237; como los debates cr&#237;ticos e internos introducidos en los &#250;ltimos a&#241;os &#8212;por la
(re)aparici&#243;n de una &quot;nueva narrativa&quot; y su alcance p&#250;blico eventualmente m&#225;s amplio (el controvertido caso de Greenaway, por ejemplo), por el dilema de &quot;las 2 vanguardias&quot;
(seg&#250;n lo expuso Wollen), por la importancia y la evoluci&#243;n adquirida por los medios audiovisuales post-cinematogr&#225;ficos (TV, v&#237;deo, HDTV, soportes digitales), por &quot;el descr&#233;dito y fin de las vanguardias&quot; (seg&#250;n ciertos cr&#237;ticos de arte), por el derrumbamiento de las quimeras de otro tiempo en definitiva[5]&#8212;, han alterado decisivamente la definici&#243;n del cine de vanguardia o experimental vigente hace apenas una d&#233;cada, coloc&#225;ndola entre interrogantes, cruz&#225;ndola con una tachadura (como propon&#237;a Noguez), o transmut&#225;ndola (como en el &#250;nico festival de cine experimental importante en Europa, el de Osnabr&#252;ck, RFA, que en sus dos &#250;ltimas ediciones ha reenfocado y ampliado su campo en el concepto global de
<u>media art</u>).
De manera que, cuando escribo <u>ex-perimental</u>, lo hago tambi&#233;n pensando en el sentido que toma esa particula escindida al principio de la palabra, como refiri&#233;ndola a lo que fue o significaba en el pasado.</p>
<p>  </p>
<p> Me detengo aqu&#237; &#250;nicamente en el primero de los tres tiempos de mi esquema. Por un lado, es de alguna manera el m&#225;s &quot;intangible&quot;, por el consabido problema de la gran proporci&#243;n de material de aquel per&#237;odo que se ha perdido.
Por otro lado, conlleva interrogantes b&#225;sicos respecto a la aparente ausencia de tradici&#243;n o el escaso poso de la vanguardia en nuestro cine. Y, al final, me interesa tambi&#233;n ver hasta qu&#233; punto puede integrarse dicho per&#237;odo en un modelo de intermitencia en tres tiempos tal como el propuesto, en el que los dos &#250;ltimos parecen tan desgajados de aquel primero.</p>
<p>  </p>
<p> El tel&#243;n de fondo internacional, por cierto, no deber&#237;a perderse de vista en ning&#250;n momento, aunque entrar en un an&#225;lisis comparado (local/mundial) de la historia del cine experimental echar&#237;a quiz&#225; por la borda la perspectiva m&#225;s amplia (pero no indulgente) que cobra la realidad aut&#243;ctona que hallaremos, de un cine <u>entre ex-perimental y ex-cepcional</u>.</p>
<p>  </p>
<p> Desde hace unos cuantos a&#241;os se vienen prodigando los trabajos sobre el tema general de las vanguardias art&#237;sticas en Espa&#241;a y sobre cap&#237;tulos, aspectos, figuras, &#225;reas m&#225;s espec&#237;ficas (algunas de las cuales hab&#237;an quedado m&#225;s olvidadas que otras). Comprender los avatares del arte y la cultura modernos es una necesidad que se ha hecho sentir. Esto es algo que he pretendido tambi&#233;n tener en cuenta en el sucinto repaso que propongo, al tratar de reflejar de paso el estado de la investigaci&#243;n sobre los m&#250;ltiples puntos oscuros que encierra nuestro tema, sus huecos m&#225;s importantes, y aquellos que ya han sido empezados a cubrir, recogiendo (en notas) las referencias a que se puede acudir.</p>
<p>  </p>
<p> Por &#250;ltimo, para acabar de definir mi planteamiento, tomo prestada la siguiente cita de uno de los importantes trabajos de Jaime Brihuega sobre las vanguardias art&#237;sticas en Espa&#241;a, manipulando ligeramente el texto a fin de apropiarmelo y mejor suscribirlo: &quot;La revisi&#243;n de un pasado cuya proximidad me envuelve desde la etiolog&#237;a de mis ra&#237;ces culturales tiene, como inexcusable contrapeso, una vocaci&#243;n de proyecto de futuro que, conscientemente o no, interfiere la labor retrospectiva con una meditaci&#243;n sobre los fundamentos mismos de mis resortes ideol&#243;gicos, en la perspectiva de una configuraci&#243;n de futuro. Es como si, neg&#225;ndome a archivar aquello que enlaza con alguna de las r&#243;tulas de mis propias actitudes, construy&#233;se con estos materiales una m&#225;quina prospectiva alrededor de la que, en realidad, lo que acabo debatiendo es la justificaci&#243;n del m&#225;s estricto presente&quot;.[6]</p>
<p>  </p>
<p>  </p>
<p> <u><b>(II) EN EL TERRENO DE LAS HIPOTESIS:</b></u></p>
<p> <u><b>LA &quot;VANGUARDIA HISTORICA&quot; Y SU ESTELA</b></u></p>
<p>  </p>
<p> Las primeras obras de reputaci&#243;n vanguardista en la historia del cine espa&#241;ol son apenas media docena de films fechados entre 1925 y 1930. (No incluyo en el recuento las dos &#250;nicas que realmente se encuentran en casi cualquier historia del cine de vanguardia o experimental, refiri&#233;ndome claro est&#225; a las dos primeras obras de Bu&#241;uel, nacidas de la colaboraci&#243;n con Dal&#237;). Ello implica, de entrada, que la aparici&#243;n de una hipot&#233;tica vanguardia cinematogr&#225;fica deba considerarse un tanto tard&#237;a y de parcos resultados en relaci&#243;n a otros pa&#237;ses europeos. Pero, adem&#225;s, resulta un tanto dif&#237;cil de dilucidar si puede hablarse de manera m&#225;s o menos apropiada de obras de vanguardia con respecto a algunas de ellas, pues no se han conservado y apenas se pueden hacer algunas conjeturas en base a lo (poco) que se escribi&#243; sobre ellas.</p>
<p>  </p>
<p> Este es sobre todo el caso de
<u>Madrid en el a&#241;o 2000</u>
(1925), de Manuel Noriega, cuya adscripci&#243;n a la vanguardia se cimenta pr&#225;cticamente en un equ&#237;voco comentario en la rupestre contribuci&#243;n de Cabero a la historia de nuestro cine, al cualificarlo de &quot;film de avanzada&quot;.[7] Pero el problema afecta tambi&#233;n a <u>La historia de un duro</u>
(1927), de Sabino Antonio Mic&#243;n, as&#237; como al largometraje <u>Al Hollywood madrile&#241;o</u>
(1927), de Nemesio Sobrevila.</p>
<p>  </p>
<p> Es posible detectar en estos cuatro films huellas diversas del futurismo, el expresionismo, el impresionismo y hasta el cubismo, pero los trucajes del film de Noriega o las sin&#233;cdoques visuales del de Mic&#243;n formaban parte del
&quot;vocabulario&quot; vanguardista desde hac&#237;a ya varios a&#241;os.</p>
<p>  </p>
<p> <u>La historia de un duro</u>, de Mic&#243;n, reincide en unos planteamientos que se encuentran presentes con una cierta abundancia en el teatro futurista, as&#237; como en distintas obras literarias y cinematogr&#225;ficas anteriores.[8]
(De <u>Historia de una botella</u>, cortometraje de 1949 que cierra la discreta carrera de Mic&#243;n retomando presumiblemente la misma idea, parece ser que se guarda en el archivo de nitratos de la Filmoteca Espa&#241;ola, a la espera de extraer copia de seguridad).</p>
<p>  </p>
<p> En cuanto a las primeras obras con las que el arquitecto vasco Nemesio M. Sobrevila emprendi&#243; su breve y azarosa trayectoria cinematogr&#225;fica, de <u>El sexto sentido</u> puede decirse que no es, en rigor, un film experimental o de vanguardia, aunque s&#237; uno de esos films inusuales que, visto actualmente, cobra una modernidad que lo distingue del grueso de la producci&#243;n de su
&#233;poca (y lo sit&#250;a as&#237; entre lo &quot;excepcional&quot;). Sobrevila es uno de los grandes &quot;malditos&quot; del cine espa&#241;ol y, en cierto modo, uno de los pioneros del cine independiente entre nosotros, pero en sus films no parece que hubiera intenci&#243;n alguna de ruptura con las convenciones dominantes. Se le supone bien informado de las tendencias y postulados vanguardistas, pero lo que de ah&#237; recoge se enmarca en versiones/revisiones un tanto descabelladas del g&#233;nero de la comedia costumbrista espa&#241;ola.[9]</p>
<p>  </p>
<p> En torno a Ernesto Gim&#233;nez Caballero, a su influyente revista quincenal <u>La Gaceta Literaria</u>
(1927-32) y al Cineclub Espa&#241;ol que fundara &#8212;instigado por Luis Bu&#241;uel&#8212;, existi&#243; probablemente el caldo de cultivo propicio para que pudiera fraguarse una corriente de vanguardia en el cine espa&#241;ol; pero no fue as&#237;, y todo qued&#243; en algunos films sueltos, m&#225;s unos cuantos guiones, proyectos y textos cinematogr&#225;ficos.</p>
<p>  </p>
<p> El polifac&#233;tico Gim&#233;nez Caballero convirti&#243;se coyunturalmente en el principal representante de la vanguardia cinematogr&#225;fica espa&#241;ola; al menos, en la medida en que Bu&#241;uel estaba asentado en Par&#237;s. As&#237;, aparte de favorecer la difusi&#243;n del cine de vanguardia y de sus ideas a trav&#233;s del cineclub y la revista mencionados, particip&#243; en los Congresos Internacionales del Cine Independiente de La Sarraz (1929) y de Bruselas (1930) y &#233;l mismo realiz&#243; diversos cortometrajes, siendo los dos primeros, <u>Esencia de verbena</u> y <u>Noticiario del Cineclub</u> (ambos de 1930), los que se adscriben a su etapa vanguardista. Ambos pueden considerarse como documentales, el primero sobre Madrid y sus verbenas, el segundo como una especie de &#225;lbum de la intelectualidad espa&#241;ola de la &#233;poca, pero en tratamiento y estilo las influencias vanguardistas son palpables.</p>
<p>  </p>
<p> Para 1930, sin embargo, Gim&#233;nez Caballero ven&#237;a ya acariciando aquello que en sus memorias llama su
&quot;revoluci&#243;n segunda: la del sue&#241;o imperial&quot;;[10] y as&#237;, con el mismo entusiasmo con que hab&#237;a abrazado la causa del arte de vanguardia, hizo lo propio por la causa fascista. En el controvertido II Congreso Internacional del Cine Independiente
(Bruselas, 1930), Gim&#233;nez Caballero se alinea junto a los representantes italianos en contra de la resoluci&#243;n final del Congreso, que condena el fascismo y expresa la necesidad de un cine m&#225;s combativo. &quot;No val&#237;a m&#225;s vanguardia que... aquella de la fiel infanter&#237;a&quot;, como declar&#243; el inefable personaje en una ocasi&#243;n.[11]</p>
<p>  </p>
<p> A nivel internacional, con el afianzamiento del cine sonoro (y el definitivo asentamiento de un Modo de Representaci&#243;n Institucional, como dir&#237;a No&#235;l Burch), y ante las crisis sociales por las que atraviesa el mundo, a partir de 1930 puede comprobarse que hay una remisi&#243;n de la abstracci&#243;n formalista y de las expresiones subjetivas como polos esenciales del cine de vanguardia, observ&#225;ndose una tendencia hacia el documental de tem&#225;tica social y hacia una &quot;nueva objetividad&quot; (tal como dice el nombre de una tendencia art&#237;stica m&#225;s amplia que se da en Alemania, <u>die Neue Sachlichkeit</u>).</p>
<p>  </p>
<p> De acuerdo con este esquema, la obra emblem&#225;tica en la Espa&#241;a de la II&#170; Rep&#250;blica ser&#237;a inevitablemente <u>Las Hurdes</u> (1932), el demoledor documental con el que Luis Bu&#241;uel prosigue su trayectoria tras sus dos sonados films surrealistas. Otros j&#243;venes cineastas, como Carlos Velo, Fernando Mantilla, Antonio Rom&#225;n, Rafael Gil, Gonzalo Men&#233;ndez Pidal, Jos&#233; Val del Omar y Carlos Serrano de Osma, se inician en esta &#233;poca en el campo del documental y apuntan, por lo que sabemos de sus realizaciones y proyectos, ciertas inquietudes experimentalistas. En cualquier caso, una nueva &quot;hip&#243;tesis&quot; es todav&#237;a m&#225;s dif&#237;cil de sostener en este caso, puesto que ninguno de los posibles t&#237;tulos a destacar parece haber sobrevivido.[12] Y, por otra parte, el cine documental que se hace durante la Rep&#250;blica es predominantemente un cine folkl&#243;rico-paisajista de escasa intencionalidad sociopol&#237;tica. No hay que olvidar que <u>Las Hurdes</u> fue inmediatamente prohibido por el gobierno republicano tras un &#250;nico pase en Madrid (aunque, al parecer, sigui&#243; circulando en cineclubs); que Serrano de Osma lo defin&#237;a en 1935 como &quot;el <u>&#250;nico</u> documental <u>aut&#233;ntico</u> que Espa&#241;a posee&quot; (los subrayados son suyos);[13] y que Bu&#241;uel sonorizar&#237;a el film en Francia, en 1937, pasando a llevar el nuevo t&#237;tulo de <u>Tierra sin pan</u> en la versi&#243;n en que lo conocemos actualmente.</p>
<p>  </p>
<p> En cuanto al eco que en el naciente cine amateur tuvieron, un tanto anacr&#243;nica y pasajeramente, las ideas del cine de vanguardia, los resultados son de una entra&#241;able candidez y constituyen un aspecto epis&#243;dico dentro de su m&#225;s bien conservador &#225;mbito.[14]</p>
<p>  </p>
<p> Un aspecto que s&#237; merecer&#237;a un mayor detenimiento es el relacionado con la fascinaci&#243;n que el cine despert&#243; en toda una serie de escritores, vinculados a la Generaci&#243;n del 27 y al movimiento literario de vanguardia que encauza principalmente la revista de Gim&#233;nez Caballero (por lo que algunas veces se habla tambi&#233;n de &quot;la generaci&#243;n de la Gaceta&quot;).
Dicha fascinaci&#243;n se refleja por un lado en un n&#250;mero relativamente amplio de poemas, novelas o reflexiones de tema cinematogr&#225;fico, constituyendo hoy un aspecto bien conocido por las antolog&#237;as y estudios de que ha sido objeto.[15] Pero, por otro lado, algunos de estos escritores llegaron a escribir guiones y a juguetear con el medio cinematogr&#225;fico o colaborar en las cintas de otros: Federico Garc&#237;a Lorca, Ram&#243;n G&#243;mez de la Serna, Andr&#233;s Carranque de Rios, ya en el exilio Juan Larrea...
Aranda, en su librito, menciona adem&#225;s a Francisco Ayala, Jos&#233;
Bergam&#237;n, Rosa Chacel, Miguel P&#233;rez Ferrero, Samuel Ros y a&#250;n otros, atribuy&#233;ndoles, sin concretar m&#225;s, &quot;proyectos que no llegaron a efectuarse&quot;. Y, por &#250;ltimo, hubo tambi&#233;n quienes se dedicar&#237;an al cine profesionalmente; a fondo, como Edgar Neville, o m&#225;s pasajeramente y en diversas funciones, como Enrique Jardiel Poncela, Claudio de la Torre, Miguel Mihura, o Manuel Altolaguirre en el exilio. A pesar de que es algo que se da tambi&#233;n por sabido, estamos faltos a&#250;n de trabajos sobre la actividad cinematogr&#225;fica de varios de estos escritores (incluyendo ediciones cr&#237;ticas de ciertos guiones).[16]</p>
<p>  </p>
<p> Si entendemos el <u>humorismo</u> como un &quot;ismo&quot; m&#225;s (adem&#225;s de como un rasgo reconocido)
de la vanguardia &#8212;y en especial de la vanguardia literaria espa&#241;ola&#8212;, podr&#237;amos contemplar en este sentido algunos otros t&#237;tulos curiosos en el per&#237;odo de la Rep&#250;blica y hasta en los primeros a&#241;os de la dictadura de Franco, que firman (o en los que intervienen) algunos de los escritores ya mencionados.[17]</p>
<p>  </p>
<p> Llama en cambio la atenci&#243;n las pocas noticias que hay acerca de artistas pl&#225;sticos que acariciaran la idea de acometer proyectos cinematogr&#225;ficos. Pues, con la relativa excepci&#243;n de Dal&#237;, hay poco m&#225;s que referencias vagas acerca de proyectos o contactos de algunos artistas m&#225;s: Picasso, Ram&#243;n Ac&#237;n, Nicol&#225;s de Lekuona y Jorge Oteiza.[18]</p>
<p>  </p>
<p> Respecto a Dal&#237;, contamos con referencias m&#225;s o menos amplias sobre sus m&#250;ltiples guiones y proyectos cinematogr&#225;ficos posteriores a su colaboraci&#243;n y divergencias con Bu&#241;uel: de <u>Babaou(o)</u>
(1932), el &#250;nico que se conoce en estado de gui&#243;n propiamente dicho, hasta <u>La carretilla de carne</u>
(ca. 1948-50) &#8212;un proyecto anunciado a voces y para el que se supone que Franco hab&#237;a concedido carta blanca a Dal&#237;, quien retomar&#237;a literariamente el tema en su memorable ensayo paranoico-cr&#237;tico sobre el Angelus de Millet&#8212;, y a&#250;n otros, pasando por frustradas colaboraciones con Harpo Marx y con Walt Disney. Los &#250;nicos que llegar&#237;an sin embargo a materializarse son el todav&#237;a misteriosamente in&#233;dito <u>L'aventure prodigieuse de la dentelli&#232;re et du rhinoc&#233;ros</u>
(rodado entre 1954-1961), en colaboraci&#243;n con Robert Descharnes, y el v&#237;deo-film <u>Impressions de la Haute-Mongolie (Hommage &#224; Raymond Roussel)</u>
(1975), co-realizado con Jos&#233; Montes-Baquer, m&#250;sico y cineasta catal&#225;n afincado en Alemania.[19]</p>
<p>  </p>
<p> Por &#250;ltimo, poco cabr&#237;a esperar de los a&#241;os m&#225;s duros de la dictadura franquista, pero la relaci&#243;n de films &quot;excepcionales&quot; podr&#237;a incrementarse al adentrarnos en la &quot;dimensi&#243;n desconocida&quot; del cine espa&#241;ol
(a&#250;n con algunos recodos impenetrables); aunque, en definitiva, en films que ni rompen ni rasgan nada y que m&#225;s bien recrean un lenguaje cl&#225;sico, en obras que no son lo que busc&#225;bamos pero son las que encontramos.[20] Ya como pura curiosidad, puede adem&#225;s mencionarse <u>Visi&#243;n fant&#225;stica</u> (1957), inusitado subproducto de Eug&#232;ne Deslaw &#8212;conocido, aunque menor, vanguardista transnacional de origen ucraniano&#8212;; un poco distinguido experimento de &quot;Negavisi&#243;n&quot; a partir de materiales del archivo de No-Do, lo que se traduce en una m&#225;s bien anodina sucesi&#243;n de im&#225;genes en negativo o solarizadas (procesadas en un laboratorio suizo) que oscilan entre la &quot;Espa&#241;a ca&#241;&#237;&quot; y la del &quot;primer plan de desarrollo&quot;.</p>
<p>  </p>
<p>  </p>
<p> <u><b>(II-b) APARTE: Sobre Jos&#233;
Val del Omar</b></u></p>
<p>  </p>
<p> La obra cinematogr&#225;fica de Jos&#233;
Val del Omar (Granada, 1904 - Madrid, 1982) constituye a mi modo de ver un caso aparte y extremadamente singular que enlaza la vanguardia hist&#243;rica &#8212;de la cual vendr&#237;a a ser su &#250;nico continuador perseverante&#8212; con el cine experimental moderno, por la vigencia y la propia modernidad que ha retenido su obra.</p>
<p>  </p>
<p> Val del Omar entr&#243; en contacto con el cine en los primeros a&#241;os veinte, realizando despu&#233;s m&#250;ltiples films documentales en el marco de las actividades de las Misiones Pedag&#243;gicas de la Rep&#250;blica. Vizca&#237;no Casas, en su
<u>Diccionario del cine espa&#241;ol</u>, lo retrata como un inventor: &quot;Imaginativo, fant&#225;stico e incomprendido como todos los inventores&quot;.[21] Efectivamente, desde 1928 ir&#237;a &quot;alumbrando&quot; diversas invenciones y mejoras t&#233;cnicas en el campo de lo audiovisual. Pero, sobre todo, Val del Omar es un gran inventor est&#233;tico, lo que a partir de 1952, y hasta su muerte, se concretar&#237;a en una reducida serie de films laboriosamente realizados y de una originalidad y calidad indudables. Los dos cortometrajes que realiz&#243; en los a&#241;os cincuenta concurrieron en su momento a diversos festivales importantes y obtuvieron diversos premios, pero su obra parec&#237;a haberse estancado ah&#237;. Hoy sabemos que no fue as&#237;.</p>
<p>  </p>
<p> Contar&#233;, como an&#233;cdota, que la primera referencia que de Val del Omar obtuve fue un escueto pero elogioso comentario en un libro del especialista norteamericano Amos Vogel.[22] Y, al ir a su encuentro junto con Manuel Palacio, nuestra sorpresa fue la de encontrarnos con un din&#225;mico anciano que segu&#237;a trabajando pacientemente en lo que deber&#237;a ser su testamento final
(por as&#237; decirlo), al parecer inconcluso cuando le sorprendi&#243; la muerte. Se tratar&#237;a de un &quot;Tr&#237;ptico Elemental&quot; en el que se reunir&#237;an tres cortometrajes, en orden inverso al de su realizaci&#243;n: <u>De barro
(Acarinho galaico)</u>
(rodado en 1962 pero cuyo montaje no hab&#237;a a&#250;n concluido veinte a&#241;os despu&#233;s), <u>Fuego en Castilla</u> (1958-59) y
<u>Aguaespejo granadino</u>
(1952-55). El conjunto responder&#237;a a un esquema que su autor ven&#237;a a definir con estas palabras: &quot;una diagonal que cruza Espa&#241;a: Galicia, tierra; Castilla, fuego; Granada, agua&quot;. Y el tr&#237;ptico tendr&#237;a adem&#225;s un ap&#233;ndice o, como &#233;l lo llamaba, un &quot;v&#243;rtice&quot;, en un cuarto cortometraje en el que hab&#237;a estado trabajando en los
&#250;ltimos a&#241;os y que deb&#237;a titularse <u>Ojala</u>, para el cual hab&#237;a ingeniado dispositivos que le permit&#237;an reunir m&#250;ltiples im&#225;genes en una sola, vali&#233;ndose de proyectores de todos los formatos, modificados y de velocidad regulable algunos de ellos, as&#237; como de diapositivas e im&#225;genes de v&#237;deo.</p>
<p>  </p>
<p> Denominaba Val del Omar a estos films &quot;elementales&quot; (por contraste con &quot;documentales&quot;), pero lo cierto es que son de una intrincada complejidad visual y sonora. <u>Aguaespejo granadino (o La gran siguiriya)</u> trata de &quot;transmitir po&#233;ticamente el amor m&#237;stico que el autor siente por su tierra natal, Granada&quot;, y el agua constituye uno de sus motivos centrales. Val del Omar se sirvi&#243; de lentes de agua ingeniadas por &#233;l y acopladas al objetivo, as&#237; como de filtros polarizadores y cambios de velocidad, a fin de transfigurar algunas de sus im&#225;genes y para crear secuencias como la de la danza acu&#225;tica de los surtidores de la Alhambra y el Generalife, coreografiando sus chorros al comp&#225;s flamenco.</p>
<p>  </p>
<p> <u>Fuego en Castilla (Tactilvisi&#243;n del paramo del espanto)</u>,
&quot;ensayo son&#225;mbulo de visi&#243;n t&#225;ctil&quot;, gira en torno a Valladolid, sus procesiones de Semana Santa y las esculturas y tallas de su Museo de Escultura Religiosa. Tras una secuencia perfectamente documental, el autor introduce elementos chocantes o surrealistas, y la parte principal del film est&#225; constituida por la magistral aplicaci&#243;n de sus t&#233;cnicas de &quot;visi&#243;n t&#225;ctil&quot; (o
&quot;iluminaci&#243;n pulsatoria t&#225;ctil&quot;) a una especie de animaci&#243;n cin&#233;tica de la piedra o madera esculpida de las obras de Juan de Juni, Berruguete, Mena y otros, que se conservan en el mencionado museo.</p>
<p>  </p>
<p> Val del Omar hab&#237;a previsto asimismo incorporar en la proyecci&#243;n de estos films otras de sus t&#233;cnicas (lo que hab&#237;a ya ensayado en alguna ocasi&#243;n); en concreto, el &quot;desbordamiento apanor&#225;mico de la imagen&quot;
(proyecci&#243;n de im&#225;genes abstractas que enmarcar&#237;an los films propiamente dichos y que, mediante lentes especiales acopladas al proyector, se desbordar&#237;an por el techo, paredes y suelo de la sala), y el &quot;sonido diaf&#243;nico&quot; (cruce/choque de bandas de sonido aut&#243;nomas, mediante la distribuci&#243;n espacial de los distintos canales y altavoces detr&#225;s de la pantalla y detr&#225;s del p&#250;blico espectador).</p>
<p>  </p>
<p> Val del Omar es en definitiva la gran figura largo tiempo ignorada de la vanguardia hist&#243;rica espa&#241;ola, y un experimentador muy completo, en tanto que se ocupa del mismo fundamento tecnol&#243;gico de los medios con que trabaja y manteni&#233;ndose perfectamente al dia, lo que le conduce adem&#225;s a la investigaci&#243;n electroac&#250;stica del sonido, a los sistemas electr&#243;nicos de la TV y el v&#237;deo, y al l&#225;ser. Y sin embargo, su aportaci&#243;n sigue mayormente sumida en una inc&#243;gnita que ya va siendo hora de empezar a despejar.[23]</p>
<p>  </p>
<p>  </p>
<p> <u><b>(III) &#191;DONDE ESTA EL FRENTE?</b></u></p>
<p>  </p>
<p> Quiero ahora recapitular algunos de los aspectos que se derivan del anterior y somero repaso de aquel primer per&#237;odo, para extraer a su vez unas constantes y contrastes con los otros dos tiempos de mi esquema. Para atarlos entre s&#237;, pese a su misma separaci&#243;n por la norma de la aventura aislada, la interrupci&#243;n y la discontinuidad que se apunta ya de buen principio.
Y, finalmente, para reintroducir la cuesti&#243;n del fin y fracaso del cine experimental en Espa&#241;a desde mi punto de vista actual.</p>
<p>  </p>
<p> En primer lugar, los rastros de la vanguardia en el cine espa&#241;ol (y en el inter&#233;s de artistas e intelectuales por el cine) en los a&#241;os veinte y treinta son, aunque relativamente leves, una consecuencia l&#243;gica de un clima cultural atento a los aires y al alcance de los movimientos art&#237;sticos renovadores que se dan en toda europa. No hay que olvidar que el Manifiesto del Futurismo de F.T. Marinetti se publica en primera plana del diario franc&#233;s &quot;Le Figaro&quot; en febrero de 1909, y el mismo a&#241;o en Espa&#241;a en la revista &quot;Prometeo&quot; (que al a&#241;o siguiente publica asimismo las &quot;Proclama[s] futurista[s] a los espa&#241;oles&quot; de G&#243;mez de la Serna y el propio Marinetti). Se puede observar al respecto una pronta sinton&#237;a con los fen&#243;menos contempor&#225;neos externos a la cultura espa&#241;ola, aunque partiendo de una situaci&#243;n preexistente disociable de la europea, y verific&#225;ndose, por tanto, por &quot;emulaci&#243;n&quot;.[24] Por fortuna, contamos ya con muy buenos trabajos sobre la penetraci&#243;n y los inicios del arte de vanguardia en Espa&#241;a (incluida la literatura, de tanta relevancia en el aspecto que aqu&#237; nos compete), en base a los cuales contextualizar adecuadamente el reducido balance de sus manifestaciones cinematogr&#225;ficas. Aqu&#237; me interesa recalcar
&#250;nicamente que s&#237; puede decirse que hubo en el aire unas inquietudes que alcanzan tambi&#233;n al cine.</p>
<p>  </p>
<p> Se pueden entrever sin embargo dos actitudes: una que pretende incidir en un contexto industrial de producci&#243;n cinematogr&#225;fica que es sabidamente pobre (por no decir inexistente), y una segunda que parte de otras pr&#225;cticas art&#237;sticas y de otros cauces (b&#225;sicamente dir&#237;a que la literatura y los cineclubs, respectivamente), como sucede igualmente en los principales pa&#237;ses en que s&#237; brota una importante producci&#243;n experimental. Es la diferencia que va, para citar un par de nombres, de la inscripci&#243;n industrial que buscan y no logran los films del arquitecto Sobrevila, al contexto del que parten los de Gim&#233;nez Caballero y los proyectos irrealizados que se conocen de otros escritores o artistas. Me pregunto si podr&#237;an distinguirse incluso dos &#225;mbitos distintos de actuaci&#243;n.[25] En cualquier caso, dicha distinci&#243;n se agudizar&#237;a en per&#237;odos sucesivos y ser&#237;a la fuente de diversos equ&#237;vocos en torno a la noci&#243;n de vanguardia en relaci&#243;n al cine, tal como sucede con la fama que tiene a&#250;n la Escuela de Barcelona, que en mi opini&#243;n representa una vanguardia s&#243;lo en relaci&#243;n a lo que es la media del Nuevo Cine Espa&#241;ol en los sesentas; un intento de ponerse a la altura formal de otros &quot;nuevos cines&quot; o &quot;nuevas olas&quot; que llegaban de afuera.[26]</p>
<p>  </p>
<p> La correlaci&#243;n entre la fragilidad cong&#233;nita de la industria cinematogr&#225;fica espa&#241;ola y las escasas manifestaciones de vanguardia ha sido ya advertida por todos cuantos nos hemos ocupado del tema. Ci&#241;&#233;ndose a la segunda mitad de los a&#241;os veinte, Rom&#225;n Gubern (<u>Art.
Cit.)</u> ha cifrado en ello una de las causas de la ausencia (seg&#250;n &#233;l) de &quot;aut&#233;nticas obras de vanguardia&quot; en dicho per&#237;odo, a&#241;adiendo a&#250;n otras dos: la falta de una burgues&#237;a cultivada, suficientemente adulta y potente como para constituirse en destinaria y hasta en fuente de mecenazgo financiero de la producci&#243;n de vanguardia; y, <u>last but not least</u>, en la severa censura de la &#233;poca. De hecho, con sus m&#225;s y sus menos, dichos argumentos ser&#237;an asimismo aplicables a los per&#237;odos posteriores: no hay una necesidad de cine experimental porque ya las hay mucho m&#225;s perentorias en la misma industria (y son tambi&#233;n las que cuentan para los organismos competentes); el mecenas a lo Vizconde de Noailles aparece muy tarde (y adem&#225;s no s&#233; si es lo mismo si se llama Huarte), aunque contar con un patrimonio familiar m&#237;nimamente saneado ha podido ser tambi&#233;n de ayuda; cuando la censura desaparece el &#250;ltimo cine experimental est&#225; a punto ya de entrar en su declive (y los formatos subprofesionales conllevan adem&#225;s una forma de censura de la que la Administraci&#243;n y la industria han sido c&#243;mplices).</p>
<p>  </p>
<p> Gubern llega en el mismo art&#237;culo a la conclusi&#243;n de que los planteamientos de vanguardia no llegaron realmente a calar entre los profesionales del cine en la d&#233;cada de los veinte &#8212;de reconocida significaci&#243;n en la historia del cine experimental&#8212;, con la ya sabida excepci&#243;n de Bu&#241;uel, que emprende su trayectoria en Francia. Sin embargo, creo que eso no resulta tan relevante si tenemos en cuenta que la gran mayor&#237;a de los grandes nombres del cine de vanguardia/experimental a escala mundial no han sido &quot;profesionales del cine&quot; en el sentido en que se maneja usualmente el t&#233;rmino; tanto si su celebridad se debe a su actividad simult&#225;nea en otros campos art&#237;sticos, como si su pr&#225;ctica se ci&#241;e m&#225;s estrictamente al medio f&#237;lmico
(generalmente, en un &#225;mbito <u>independiente</u>).</p>
<p>  </p>
<p> Ciertamente, esa especie de cineasta a la que los anglosajones han denominado diversamente (<u>film artist</u> o <u>film poet</u>, <u>filmmaker</u> o simplemente &quot;independiente&quot;), o aquel que pudi&#233;ramos llamar el vanguardista o experimentalista puro, ha sido del todo infrecuente entre nosotros: Val del Omar estar&#237;a cerca de serlo en un sentido muy amplio &#8212;pues su experimentaci&#243;n abarca la tecnolog&#237;a misma&#8212;, aunque quiz&#225;s a su pesar (pues sus invenciones, incluyendo las m&#225;s descabelladas, van dirigidas ut&#243;picamente a la industria y a su progreso t&#233;cnico-art&#237;stico); Adolfo Arrieta ser&#237;a otro posible candidato al t&#237;tulo, pero es significativo el que haya desarrollado la mayor parte de su obra en Francia y que sea tambi&#233;n muy apreciado en los c&#237;rculos de vanguardia neoyorquinos. En general, entre nosotros el cine experimental ha sido obra tanto de cineastas profesionales o aspirantes a serlo, como de artistas pl&#225;sticos, escritores y m&#250;sicos. Ello, unido a las dificultades de hacer cine y a las carencias estructurales que pudieran permitir circuitos alternativos, hace que sea f&#225;cil hablar de diletantes y de malditos, cuando no, simplemente, de &quot;veleidades vanguardistas moment&#225;neas&quot; en la trayectoria de algunos realizadores.</p>
<p>  </p>
<p> Si, como ya he apuntado, el cine experimental se ha nutrido en buena parte de las aportaciones de artistas ajenos al cine como profesi&#243;n, en especial artistas pl&#225;sticos, la aportaci&#243;n de las vanguardias art&#237;sticas ha sido sin embargo comparativamente escasa en nuestro caso. Mi examen del per&#237;odo de la vanguardia hist&#243;rica parece sentar en este sentido un precedente falso, pues me atrever&#237;a a decir que son muy pocos los artistas espa&#241;oles que hayan manifestado inter&#233;s por el cine, y a&#250;n menos por el sendero de lo experimental. (Por ejemplo, alguien como T&#225;pies, cuya afici&#243;n por el cine es conocida, es de ideas harto tradicionales al respecto). Tambi&#233;n en este sentido, la excepci&#243;n es la regla.</p>
<p>  </p>
<p> Me parece tambi&#233;n muy significativo el hecho de que varios de los primeros intentos cinematogr&#225;ficos en los que se puede presumir una incidencia de las ideas est&#233;ticas de vanguardia, se enraizen en la vanguardia literaria espa&#241;ola de los a&#241;os diez y veinte. &quot;Todo eran aleda&#241;os de la literatura&quot;, como dijo Gim&#233;nez Caballero.[27] Como es sabido, tambi&#233;n Bu&#241;uel iba para escritor; mientras que de Dal&#237;, adem&#225;s de tener en cuenta asimismo su abundante producci&#243;n escrita, puede decirse que es un pintor muy &quot;literario&quot;. En este sentido, no es nada sorprendente la virtual ausencia de cine abstracto (salvo en alg&#250;n que otro ingenuista producto amateur), por contraste con lo que ser&#237;a contempor&#225;neamente una de las corrientes principales de la vanguardia hist&#243;rica en otros pa&#237;ses. Para Francisco Aranda (<u>Op.
Cit.</u>) ser&#237;a una peculiaridad propia del hipot&#233;tico cine de vanguardia espa&#241;ol: incapaz &quot;de crear ni una obra que no trabajase sobre lo concreto, que no se apartase de la realidad cotidiana sino en situaci&#243;n de emergencia&quot;. (Y a&#241;ade: &quot;No olvidemos que as&#237;
fueron tambi&#233;n nuestros mejores poetas y Goya y Picasso en sus grabados&quot;). Tambi&#233;n el nuevo cine independiente que aparece en los sesentas, aunque realmente <u>underground</u> por su virtual clandestinidad, es en su mayor&#237;a un cine muy apegado a la narraci&#243;n y la ficci&#243;n, a la figuraci&#243;n y la representaci&#243;n
(como lo es hoy el submundo del cortometraje, cuando es visible). Por lo dem&#225;s, ejemplos de un cine abstracto absoluto casi &#250;nicamente los hallamos en algunas obras insertadas en una tradici&#243;n est&#233;tica constructivista y abstracto-expresionista del arte vasco contempor&#225;neo (De Vargas, Sistiaga, Aguirre, Bakedano, m&#225;s recientemente algunos cortometrajes y v&#237;deos de Gerardo Armesto).[28]</p>
<p>  </p>
<p> En relaci&#243;n a lo observado en el per&#237;odo de la II&#170; Rep&#250;blica, respecto al hipot&#233;tico cauce de continuidad de la vanguardia en el documentalismo, probablemente ser&#237;a m&#225;s justo hablar de la funci&#243;n que tiene para algunos como escuela o iniciaci&#243;n, tanto en el arte como en el oficio cinematogr&#225;fico. Pero hay que considerar que dicho documentalismo est&#225; casi siempre atenazado por su condici&#243;n de producci&#243;n de encargo; y, de los nombres en su momento citados, s&#243;lo Val del Omar cumple un muy relevante papel en el cine experimental espa&#241;ol. En
&#233;pocas posteriores, el documental habr&#237;a cumplido una funci&#243;n similar para otros realizadores con inquietudes vanguardistas (Javier Aguirre o Jordi Grau, por ejemplo), mientras que, de manera un tanto similar a lo que ocurre ante la situaci&#243;n de crisis social que se vive en los a&#241;os treinta, en los a&#241;os postreros del franquismo muchos ya no est&#225;n para &quot;experimentos&quot;, y el lugar de la vanguardia lo ocupar&#225; as&#237; efectivamente un cine documental, y concretamente <u>militante</u>.
Pero, en definitiva, el cine documental espa&#241;ol ha estado bastante alejado de otros presupuestos vanguardistas, salvo tambi&#233;n por algunas obras &quot;excepcionales&quot; en su mismo &#225;mbito.[29]</p>
<p>  </p>
<p> Hora es de resaltar que el per&#237;odo de la vanguardia hist&#243;rica no habr&#237;a ejercido pr&#225;cticamente ninguna influencia o servido de modelo en la aparici&#243;n de otras manifestaciones posteriores. Se podr&#237;a especular sobre la influencia del Surrealismo espa&#241;ol en su conjunto, y de Bu&#241;uel m&#225;s en particular, pero ser&#237;a introducirse en terrenos muy difusos que abarcan principalmente el cine narrativo al uso, tanto si es de producci&#243;n comercial como independiente, aunque tambi&#233;n el documental (por el lado brutalista del Bu&#241;uel de <u>Las Hurdes</u>). Por otro lado, he dicho antes que veo en Val del Omar un enlace entre la vanguardia hist&#243;rica y el cine experimental en su concepci&#243;n moderna, pero lo cierto es que dif&#237;cilmente podr&#237;a haber existido una influencia de su parte, dada la invisibilidad en que pronto qued&#243; sumida su obra, y dada su misma posici&#243;n exc&#233;ntrica. Quiz&#225; s&#237; debe en cambio considerarse el papel en este sentido m&#225;s decisivo de determinadas personalidades cuyo nombre va unido asimismo al resurgir de las vanguardias art&#237;sticas en la postguerra; en concreto, Jorge Oteiza en Euskadi y Joan Brossa en Catalu&#241;a.[30] Por lo dem&#225;s, las influencias reconocidas o no de otros realizadores vendr&#237;an de devociones muy personales (como la de Arrieta por Cocteau), o de impactos m&#225;s generalizados: Godard sobre todo, Warhol m&#225;s bien de o&#237;das,... En cuanto al <u>underground</u> y post-<u>underground</u> norteamericano, y sus irradiaciones europeas, su influencia se dejar&#225;
sentir principalmente en el &#250;ltimo per&#237;odo &#8212;aunque tambi&#233;n antes en los films de Joan y Oriol Dur&#225;n y de Iv&#225;n Zulueta&#8212;, lo que yo atribuir&#237;a a la proyecci&#243;n que empieza a tener a mediados de los setenta (Filmoteca Nacional, Instituto Alem&#225;n, etc.) y a la emergencia de una nueva generaci&#243;n, la m&#237;a, manejando ya los medios m&#225;s disminuidos y precarios.</p>
<p>  </p>
<p> Para concluir a&#250;n, yo afirmo ahora el fin y fracaso del cine experimental. Fracaso estructural, precisar&#237;a, a no confundir con el est&#233;tico. Y fin, porque se ha ido de manera creciente a otra cosa; a otras historias. Hay que congratularse de que cineastas como Portabella, Padr&#243;s, Zulueta, Arrieta hayan logrado reanudar, sea en la gran o en la peque&#241;a pantalla, una trayectoria m&#225;s o menos prolongadamente interrumpida.
Aguirre, por su parte, ha emprendido un nuevo rumbo a partir de <u>Vida Perra</u> (1981). Sistiaga ha hecho y est&#225; haciendo nuevas incursiones en el medio f&#237;lmico desde su pr&#225;ctica de la pintura. De mi tiempo, Almod&#243;var ha logrado el &#233;xito (y m&#225;s) que ya le anticip&#225;bamos con sus superochos. Jos&#233;
Luis Guer&#237;n hizo un bien recibido debut y sigue con su particular empe&#241;o: tras los pasos de Bresson y su &quot;cinemat&#243;grafo&quot;.
Otros nos movemos en el terreno del v&#237;deo y, eventualmente de la TV, incluyendo a Eug&#232;nia Balcells, Manuel Huerga, Juan Bufill, Carles Comas, Manuel Muntaner, Xavier Villaverde, Jos&#233; Ram&#243;n Da Cruz y a&#250;n otros; sin que varios de los mencionados hayan dicho adi&#243;s a nuevas realizaciones o intentos cinematogr&#225;ficos, sino todo lo contrario.
Pero, en conjunto, dir&#237;a que no hay ya motivo para hablar de cine experimental. Si acaso de <u>cine excepcional</u> (que designar&#237;amos as&#237; por motivos muy distintos, pero emplazado ya casi siempre en un supuesto contexto normal: profesional/industrial). Si acaso tambi&#233;n de <u>v&#237;deo experimental</u> (pero usualmente se habla de &quot;v&#237;deo de creaci&#243;n&quot; u otras expresiones no menos controvertidas); o bien, como he propuesto en alguna otra ocasi&#243;n, de <u>audiovisualismo</u>: s&#243;lo recelos testarudos, ignorancias rec&#237;procas, pobres lugares comunes &#8212;como el de entender el v&#237;deo como un medio disminuido, o la TV como un mal menor&#8212;, impiden ver la continuidad para la que ah&#237; s&#237; podr&#237;a haber lugar, del cine al v&#237;deo y viceversa (aunque m&#225;s dif&#237;cilmente lo &#250;ltimo).</p>
<p>  </p>
<p> La historia puede convertirse en una losa. Tratando de desembarazarme de la sempiterna hip&#243;tesis del cine experimental espa&#241;ol mediante su relativizaci&#243;n y trasvase a la noci&#243;n de lo <u>excepcional</u>, siento que se produce una p&#233;rdida en el lenguaje com&#250;n (fastidioso y equ&#237;voco, pero a&#250;n a veces &#250;til) que s&#243;lo desde la interpretaci&#243;n del pasado, del presente y de las profec&#237;as, logramos sustituir a nuestro propio placer. De otra manera, el resultado ser&#225; un paisaje de la confusi&#243;n: &#191;D&#243;nde est&#225; (hoy) el frente? (sea vanguardia o avanzadilla, sea posvanguardia o transvanguardia, neo-neo... o preludio de lo que est&#233; por venir). Me inclino ahora a pensar que, aqu&#237; y ahora &#8212;si no tambi&#233;n en un indefinido &quot;all&#237;&quot; y m&#225;s tarde o m&#225;s temprano&#8212;, la perspectiva de un cine <u>ex-perimental</u>
(proyectos de futuro, hip&#243;tesis acerca del pasado) se ha cerrado definitivamente. No existe la necesidad, ni existen las posibilidades. Y, si dicho ep&#237;teto reaparece a&#250;n de vez en cuando a prop&#243;sito de la renovaci&#243;n del fondo de rarezas u obras malditas del cine espa&#241;ol, ser&#225; casi siempre como consecuencia de un error... &#191;gen&#233;tico?</p>
<p>  </p>
<p> EUGENI BONET</p>
<p> Barcelona, diciembre 1989-enero 1990</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>NOTAS:</b></p>
<p>  </p>
<p> 1	Dominique Noguez, <u>&#201;loge du cin&#233;ma exp&#233;rimental</u>, Mus&#233;e National d'Art Moderne/Centre Georges Pompidou, Par&#237;s, 1979</p>
<p>  </p>
<p> 2	N&#243;tese, por ejemplo, que los surrealistas detestaban m&#225;s bien el cine absoluto alem&#225;n (Eggeling, Ruttmann, el primer Richter), as&#237; como los films de los autores adscritos al llamado Impresionismo cinematogr&#225;fico, (Epstein, L'Herbier, Gance), y su derivaci&#243;n en el &quot;cine integral&quot;
(Dulac) o &quot;cine puro&quot; (Chomette), por no hablar de las incursiones de Dulac y Cocteau en su propio dominio, a las que dedicaron los m&#225;ximos insultos.</p>
<p>  </p>
<p> 3	En cualquier caso, y para concretar, en lo que al cine experimental espa&#241;ol se refiere, puede decirse que se encuentra representado s&#243;lo en una &#237;nfima proporci&#243;n entre los fondos de la Filmoteca Espa&#241;ola.</p>
<p>  </p>
<p> 4	Editorial de la Universidad Complutense, Madrid, 1983. Edici&#243;n biling&#252;e en castellano/ingl&#233;s.
(Deliberadamente, decidimos que el t&#237;tulo fuera sencillamente <u>The Avant-Garde Film in Spain</u> en la versi&#243;n inglesa del texto. De manera an&#225;loga, la muestra retrospectiva que motiv&#243; nuestro estudio, presentada en el Mus&#233;e National d'Art Moderne del Centro Pompidou de Par&#237;s en 1982, y a la que dicha publicaci&#243;n deb&#237;a de acompa&#241;ar, llev&#243; por t&#237;tulo
<u>Cin&#233;ma d'Avant-Garde en Espagne: Une Anthologie</u>.
Con algunas variantes, la muestra circul&#243; posteriormente por las filmotecas de Madrid, Zaragoza y Barcelona, con el enunciado <u>Pr&#225;ctica f&#237;lmica y vanguardia art&#237;stica...</u> como t&#237;tulo).</p>
<p>  </p>
<p> 5	Del importante texto de Peter Wollen, &quot;Las dos vanguardias&quot; (publicado originalmente en 1975), hay traducci&#243;n castellana en el volumen <u>Los a&#241;os que conmovieron al cinema (Las rupturas del 68)</u>, al cuidado de Julio P&#233;rez Perucha, Filmoteca de la Generalitat Valenciana, Valencia, 1988. Entre otras visiones del panorama del cine experimental en tiempos de crisis, destacar&#237;a (aunque referidos muy espec&#237;ficamente al panorama norteamericano) los art&#237;culos &quot;The Last of the Last Machine?: Avant-Garde Film Since 1966&quot;, de Paul Arthur, y &quot;The End of Avant-Garde Film&quot;, de Fred Camper, ambos en el n&#250;mero especial 16/17/18 de la revista <u>Millennium Film Journal</u>, Nueva York, oto&#241;o-invierno 1986-87.</p>
<p>  </p>
<p> 6	Manipulado de la &quot;Introducci&#243;n&quot; de Jaime Brihuega a <u>Manifiestos, proclamas, panfletos y textos doctrinales (Las vanguardias art&#237;sticas en Espa&#241;a, 1910-1931</u>, Ed. C&#225;tedra, Madrid, 1979. (Gracias a Carles Hac Mor por mostrarme la aplicaci&#243;n del m&#233;todo &quot;apropiacionista&quot;).</p>
<p>  </p>
<p> 7	Juan Antonio Cabero, <u>Historia de la Cinematograf&#237;a Espa&#241;ola (1896-1948)</u>, Gr&#225;ficas Cinema, Madrid, 1949</p>
<p>  </p>
<p> 8	Para referencias m&#225;s concretas, v&#233;ase: Rom&#225;n Gubern, &quot;L'avant-garde cin&#233;matographique &#224;
l'Espagne (1926-1930)&quot;, en <u>Les Cahiers de la Cin&#233;math&#232;que</u>, n&#250;m. 30-31, Perpignan, verano-oto&#241;o 1980; y Eugeni Bonet/Manuel Palacio, <u>Op. Cit.</u> Sobre el film de Mic&#243;n nos queda el testimonio, en forma de transcripci&#243;n de su planificaci&#243;n en visionado en moviola, de Manuel Rotellar (in&#233;dito), y la versi&#243;n publicada por Francisco Aranda en la revista portuguesa <u>Visor</u>, n&#250;m. 3, febrero 1958.</p>
<p>  </p>
<p> 9	Sobre la figura de Sobrevila hay que destacar el librito de Jos&#233; Mar&#237;a Unsain, <u>Nemesio Sobrevila, peliculero bilbaino</u>, Euskadiko Filmategia/Filmoteca Vasca, San Sebasti&#225;n, 1988; y las p&#225;ginas que le dedica la obra de Santos Zunzunegui, <u>El cine en el Pa&#237;s Vasco</u>, Diputaci&#243;n Foral de Vizcaya, Bilbao, 1985.</p>
<p>  </p>
<p> 10	Ernesto Gim&#233;nez Caballero, <u>Memorias de un dictador</u>, Ed. Planeta, Barcelona, 1979.</p>
<p>  </p>
<p> 11	Juan Tobar, &quot;Di&#225;logo con GeC&#233; sobre muchas cosas del cine&quot;, en <u>Primer Plano</u> [desconozco el n&#250;mero y la fecha exacta de publicaci&#243;n por citar de un recorte].
Dicha revista era dirigida a la saz&#243;n por Rafael Garc&#237;a Serrano, lo que motiva la alusi&#243;n de G.C.</p>
<p>  </p>
<p> 12	Entre ellos cabr&#237;a incluir los siguientes: <u>Ensue&#241;o</u>
(1931), de Rom&#225;n; <u>Infinitos</u>
(1935), de Velo y Mantilla; <u>Cinco minutos de espa&#241;olada</u>
(1935), de Gil y Men&#233;ndez Pidal (de los mismos autores se tiene noticia de un curioso proyecto minimalista del mismo a&#241;o, con el t&#237;tulo de <u>Cinco mil metros de calle</u>). De Val del Omar me ocupo m&#225;s adelante. V&#233;ase adem&#225;s la nota n&#250;mero 17.</p>
<p>  </p>
<p> 13	&quot;Luis Bu&#241;uel&quot;, art&#237;culo recogido en: <u>El cinema de Carlos Serrano de Osma</u>, al cuidado de Julio P&#233;rez Perucha, XXVIII Semana Internacional de Cine de Valladolid, 1983.</p>
<p>  </p>
<p> 14	Francisco Aranda hab&#237;a de recurrir sin embargo al cine amateur para acabar de llenar las escasas p&#225;ginas de su librito <u>Cinema de Vanguardia en Espa&#241;a</u>, Guimaraes Editores, Lisboa, 1953. Como tambi&#233;n Jos&#233; L&#243;pez Clemente en el cap&#237;tulo que dedicara a &quot;El film experimental de Espa&#241;a&quot; en su libro <u>Cine documental espa&#241;ol</u>, Rialp, Madrid, 1960.</p>
<p>  </p>
<p> 15	Carlos y David Perez Merinero
(Eds.), <u>En pos del Cinema</u>, Anagrama, Barcelona, 1974. C.B.
Morris, <u>This Loving Darkness: The Cinema and Spanish Writers 1920-1936</u>, University of Hull/Oxford University Press, 1980. <u>Poes&#237;a</u>, n&#250;m. 22 (&quot;El cine&quot;), Ministerio de Cultura, Madrid, invierno 1984.</p>
<p>  </p>
<p> 16	El gui&#243;n de Garc&#237;a Lorca
<u>Viaje a la Luna</u>
(1930), anta&#241;o s&#243;lo disponible en raras ediciones (en ingl&#233;s la primera), se incorpor&#243; finalmente a la nueva edici&#243;n de sus Obras Completas (Ed. Espasa-Calpe), mientras que Antonina Rodrigo ha dado noticia de otros proyectos y vinculaciones de Lorca con el cine (&quot;La historia del tesoro, seg&#250;n Lorca&quot;, en <u>El Pa&#237;s</u>, domingo 20 de marzo de 1983, p. 30). En cambio, pese a la literatura generada en los &#250;ltimos a&#241;os en torno a Ram&#243;n G&#243;mez de la Serna, se echa en falta un estudio ce&#241;ido a su relaci&#243;n con el cine y la pertinente edici&#243;n de sus guiones (incluyendo los publicados en franc&#233;s con el t&#237;tulo de &quot;Chiffres&quot;, en <u>La Revue du Cin&#233;ma</u>, n&#250;m.
9, Par&#237;s, 1930; as&#237; como &quot;El entierro del Stradivarius&quot;, cuyo manuscrito se conserva en la Biblioteca del Cinema Delmiro de Caralt de Barcelona). Y, entre otras carencias que podr&#237;an apuntarse, ya Rom&#225;n Gubern se&#241;al&#243; hace a&#241;os que &quot;la contribuci&#243;n de Jardiel Poncela al cine espa&#241;ol merecer&#237;a un estudio que todav&#237;a no se ha realizado&quot; (cfr. <u>El cine sonoro en la II&#170; Rep&#250;blica, 1929-1936</u>, Ed. Lumen, Barcelona, 1977).</p>
<p>  </p>
<p> 17	Aunque lamentablemente, de entre tales films, los &#250;nicos que podemos realmente hoy contemplar son el breve y primitivista <u>El orador</u> (ca. 1931) &#8212;un mon&#243;logo de Ram&#243;n G&#243;mez de la Serna ante la c&#225;mara (&#191;de Gim&#233;nez Caballero?)&#8212;y la muy discreta serie <u>Una de fieras</u>, <u>Una de miedo</u>, <u>Y ahora, una de ladrones</u>]
(1934-35), de Eduardo Garc&#237;a Maroto y di&#225;logos de Miguel Mihura. De manera similar, los primeros cortos de Neville, y en especial su(s)
<u>Falso(s) Noticiario(s)</u>
(1933), han sido eventualmente cualificados de &quot;experimentales&quot;
(cfr. Manuel Rotellar, <u>Cine espa&#241;ol de la Rep&#250;blica</u>, XXV Festival Internacional de Cine de San Sebasti&#225;n, 1977), mientras que Francisco Aranda incluye (<u>Op.
Cit.</u>) dos singulares largometrajes de 1940: <u>Un bigote para dos</u>, de Tono (Antonio de Lara) y Mihura, y <u>Mauricio o una v&#237;ctima del vicio</u>, de Jardiel Poncela &#8212;con precedentes en los <u>Celuloides c&#243;micos</u> (1936-38) de este &#250;ltimo, en todo caso&#8212;, ambos producto de la manipulaci&#243;n burlesca de viejos films de producci&#243;n y autor&#237;a ajena. (&#191;Podr&#237;amos ver en ellos una premonici&#243;n de las t&#225;cticas empleadas por los Situacionistas franceses en los a&#241;os 50/60, aunque con intenciones radicalmente opuestas, o incluso de la reivindicaci&#243;n postmoderna de la &quot;apropiaci&#243;n&quot; como pr&#225;ctica art&#237;stica?)</p>
<p>  </p>
<p> 18	A partir de un escrito de Kahnweiller, Standish D. Lawder ha apuntado la hip&#243;tesis de que Picasso habr&#237;a acariciado hacia 1912 &quot;la idea de utilizar el film para la representaci&#243;n del movimiento&quot; (<u>The Cubist Cinema</u>, New York University Press, New York, 1975). De Ram&#243;n Ac&#237;n, se ha reeditado recientemente en facs&#237;mil <u>Las corridas de toros en 1970</u>
(Diputaci&#243;n Provincial de Huesca, 1988), y la secuencia de caricaturas que integran aquellos &quot;estudios para una pel&#237;cula c&#243;mica&quot; ha sido adem&#225;s objeto de una respetuosa versi&#243;n animada en v&#237;deo por Emilio Casanova e Isabel Biscarri. Santos Zunzunegui (<u>Op.Cit.</u>)
y Adelina Moya (<u>Nicol&#225;s de Lekuona/Obra Fotogr&#225;fica</u>, Museo de Bellas Artes, Bilbao, 1982) dan referencia de un primer y fugaz contacto de Lekuona y Oteiza con el cine, en 1934; de los proyectos f&#237;lmicos que Lekuona dej&#243; apuntados (llegando a esbozar apenas el llamado &quot;Primer gui&#243;n para Las cosas solas&quot;); y de unas declaraciones de Oteiza acerca de los &quot;proyectos [de ambos] sobre un cine vasco&quot;.</p>
<p>  </p>
<p> 19	El trabajo m&#225;s completo que conozco sobre Dal&#237; y el cine es el art&#237;culo de James Bigwood,
&quot;Cinquante ans de cin&#233;ma dalinien&quot;, en <u>Salvador Dal&#237;, r&#233;trospective 1920-1980</u>, Mus&#233;e National d'Art Moderne/Centre Georges Pompidou, Par&#237;s, 1979.
Pueden tambi&#233;n tenerse en cuenta los siguientes: Luis Revenga,
&quot;Im&#225;genes de un enigma&quot;, en <u>400 Obras de Salvador Dal&#237;, 1914-1983</u>, Ministerio de Cultura/Generalitat de Catalunya, 1983; Julio P&#233;rez Perucha, &quot;Dal&#237; y el cinema: una relaci&#243;n frustrada&quot;, en
<u>Contracampo</u>, n&#250;m. 33, Madrid, verano-oto&#241;o 1983 (donde se recogen tambi&#233;n varios textos del propio Dal&#237;); y Marcelo Noria, &quot;El cine de Dal&#237;&quot;, en <u>Sal Com&#250;n</u>, n&#250;m. 30-31, Barcelona, verano 1980.</p>
<p>  </p>
<p> 20	Pienso en la admiraci&#243;n que han despertado, en su revisi&#243;n o recuperaci&#243;n en a&#241;os pasados, diversas obras m&#225;s o menos singulares, como <u>Embrujo</u>
(1947), de Carlos Serrano de Osma; <u>La corona negra</u> (1950), de Lu&#237;s Saslavsky (con invocaci&#243;n a Cocteau como autor del argumento); <u>Parsifal</u>
(1951), de Daniel Mangran&#233; y Serrano de Osma. Un caso distinto es el de <u>Vida en sombras</u>
(1948), el &#250;nico esfuerzo profesional del &quot;amateur&quot; Lloren&#231; Llobet-Gracia (que desde luego no tiene nada de obra de vanguardia, pero que se dir&#237;a que ha sido aupada, e incluso dir&#237;a que sobrevalorada, entre las mejores de la historia del cine espa&#241;ol por su misma &quot;excepcionalidad&quot;). Otro t&#237;tulo con fama de
&quot;raro&quot; y que permanece (que yo sepa) invisible es <u>Manico mio</u> (1953), la opera prima de Fernando Fern&#225;n G&#243;mez, en colaboraci&#243;n con Luis M.
Delgado (y parcialmente basada, por cierto, en un relato de Ram&#243;n G&#243;mez de la Serna).</p>
<p>  </p>
<p> 21	Fernando Vizca&#237;no Casas, <u>Diccionario del cine espa&#241;ol, 1896-1968</u>, Ed. Nacional, Madrid, 1970. La principal fuente de datos biogr&#225;ficos actualmente es en todo caso la semblanza que de su padre ha hecho Mar&#237;a Jos&#233; Val del Omar: &quot;Val del Omar, Renacimiento&quot;, en
<u>Procesos (Cultura y Nuevas Tecnolog&#237;as)</u>, Ministerio de Cultura, Madrid, 1986.</p>
<p>  </p>
<p> 22	Amos Vogel, <u>Film as a Subversive Art</u>, Random House, Nueva York, 1974.</p>
<p>  </p>
<p> 23	La joven Filmoteca de Andalucia ha anunciado recientemente su prop&#243;sito de ocuparse de la investigaci&#243;n y recuperaci&#243;n de la obra de Val del Omar.</p>
<p>  </p>
<p> 24	Un concepto que ha subrayado en sus an&#225;lisis Jaime Brihuega: <u>Op.
Cit.</u>, y <u>Las vanguardias art&#237;sticas en Espa&#241;a, 1909-1936</u>, Ed. Istmo, Madrid, 1981.</p>
<p>  </p>
<p> 25	Sabemos que Gim&#233;nez Caballero llev&#243; los films de Sobrevila al Congreso del Cine Independiente de Bruselas de 1930, pero no sabemos gran cosa sobre los contactos que pudieran tener Mic&#243;n, el mismo Sobrevila o Val del Omar con el n&#250;cleo catalizador de La Gaceta y el Cineclub Espa&#241;ol.</p>
<p>  </p>
<p> 26	No meto sin embargo en el mismo saco a Pere Portabella o al Ricard Bofill de <u>Esquizo</u>
(1970), exponentes en cierto modo ya disociados de la epis&#243;dica
&quot;escuela&quot; y que s&#237; aportan algunas de las obras de vanguardia m&#225;s estimables que se hayan producido en Catalu&#241;a.</p>
<p>  </p>
<p> 27	Manuel Palacio, &quot;Entrevista con Ernesto Gim&#233;nez Caballero&quot;, en <u>Contracampo</u>, n&#250;m. 31, nov.-dic. 1982.</p>
<p>  </p>
<p> 28	Sin embargo, una obra como
<u>Vampir-Cuadecuc</u>
(1970), de Pere Portabella y Joan Brossa, podr&#237;a considerarse tambi&#233;n como exponente de una concepci&#243;n distinta y m&#225;s moderna del cine abstracto; en el <u>beyond</u> que estudia el brit&#225;nico Malcolm Le Grice en su libro <u>Abstract Film and beyond</u>, Studio Vista, Londres, 1977.</p>
<p>  </p>
<p> 29	Entre las que apuntar&#237;a &#8212;por mencionar algunos t&#237;tulos y nombres&#8212; algunos documentales de Portabella, Aguirre, Artero, Basterretxea y Larruquert; <u>Cada/ver/es</u>
(1981), de Angel Garc&#237;a del Val, o <u>Animaci&#243;n en la sala de espera</u>
(1981), de Carlos Rodr&#237;guez Sanz y Manuel Coronado.</p>
<p>  </p>
<p> 30	Sobre Oteiza puede consultarse el libro de Santos Zunzunegui ya mencionado, as&#237; como los escritos cinematogr&#225;ficos que se recogen en el cat&#225;logo <u>Oteiza: Prop&#243;sito Experimental</u>, Fundaci&#243; Caixa de Pensions, Barcelona, 1988. La influencia de Oteiza se concretar&#237;a en obras de Aguirre, Basterretxea, Jos&#233; Angel Rebolledo (<u>Arriluce</u>, 1974), y de otros artistas vascos, como Jos&#233; Antonio Sistiaga, vinculados a &#233;l en uno u otro momento. El inter&#233;s que Brossa ha sentido de siempre por el cine es tambi&#233;n sabido. En 1948 escribi&#243;
dos guiones, de los que s&#243;lo el primero est&#225; publicado, que yo sepa: &quot;Gart&quot;, en: Joan Brossa, <u>Viv&#224;rium</u>, Edicions 62, Barcelona, 1972. La influencia de Brossa se concretar&#237;a sobre todo en su colaboraci&#243;n con Portabella (que a su vez influir&#237;a en otros autores), as&#237; como en los films de Carles Santos, por no hablar del reciente y decepcionante trabajo de Manuel Cuss&#243;-Ferrer, <u>Entreacte</u>
(1989).  </p> </body> </html>