  <p> <b>AMAR : ARDER</b></p>
<p> <b>Candentes cenizas de Jos&#233; Val del Omar</b></p>
<p>  </p>
<p> <b>Eugeni Bonet</b></p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>
&quot;En Espa&#241;a, todas las primaveras viene la muerte y levanta las cortinas.&quot; &#8212; Federico Garc&#237;a Lorca</p>
<p>  </p>
<p>
&quot;pero la muerte es&#8230; s&#243;lo una palabra que se queda atr&#225;s cuando se ama. El que ama, arde.</p>
<p> Y el que arde, vuela a la velocidad de la luz.</p>
<p> Porque amar es ser lo que se ama.&quot; &#8212;
Jos&#233;
Val del Omar (<i><u>Fuego en Castilla</u></i>)</p>
<p>  </p>
<p> Jos&#233; Val del Omar falleci&#243; en Madrid el 4 de agosto de 1982. As&#237; rezaba la necrol&#243;gica que le&#237; cuando preparaba la primera redacci&#243;n de este texto. Algunas semanas antes, hall&#225;ndome de paso en Madrid, hab&#237;a tratado de localizarle para saber si hab&#237;a concluido los films en que segu&#237;a trabajando, as&#237;
como para ampliar datos para mi escrito. Su tel&#233;fono no contestaba&#8230;
A&#250;n cuando por su avanzada edad cab&#237;a suponer que pod&#237;a partir &quot;a la velocidad de la luz&quot; en cualquier momento, todav&#237;a hoy &#8211;al revisar y ampliar el mismo texto&#8211; recuerdo su vitalidad, su buen humor, su agudeza, su juventud dir&#237;a incluso, cuando Jos&#233; Manuel Palacio y yo le visitamos para concretar su participaci&#243;n en la retrospectiva del cine experimental espa&#241;ol que preparamos para el Mus&#233;e national d'art moderne/Centre Georges Pompidou de Par&#237;s
(<i><u>Cin&#233;ma d'avantgarde en Espagne: Une anthologie</u></i>, marzo-abril 1982).</p>
<p>  </p>
<p> All&#237; pudimos ver, por fin &#8211;puesto que hicimos una apuesta a ciegas al consagrarle el primer programa del ciclo&#8211;, su <i><u>Aguaespejo granadino</u></i> y su <i><u>Fuego en Castilla</u></i>; aunque sin los dispositivos especiales/espaciales de proyecci&#243;n y sonido que m&#225;s abajo se describen. Nuestra curiosidad, y la de otros amigos y colegas presentes, pas&#243; a convertirse sencillamente en admiraci&#243;n, pasmo, hallazgo consumado. En el plano de la forma, los films de Val del Omar se manten&#237;an del todo vigentes, actuales, al tiempo que en sus entra&#241;as lat&#237;an unas ra&#237;ces &#237;ntimamente conectadas con la vanguardia hist&#243;rica aut&#243;ctona (en sus distintos campos de expresi&#243;n durante la llamada Edad de Plata de la cultura espa&#241;ola, que viene a coincidir con el intervalo de la Segunda Rep&#250;blica), de la que Val del Omar vendr&#237;a a ser su &#250;nico continuador perseverante en el &#225;rea concreta del cinemat&#243;grafo. Lo cual le convierte en uno de los ejes capitales para la microhistoria de un cinema experimental, de vanguardia y de b&#250;squeda, que en Espa&#241;a apenas ha llegado a cuajar y tomar cuerpo en algunos momentos, con demasiados intervalos y obst&#225;culos.</p>
<p>  </p>
<p> Prototipo del creador maldito y olvidado que se encierra en su laboratorio y prosigue su prop&#243;sito con obstinaci&#243;n, si en vida se le prest&#243; poca atenci&#243;n, tras su muerte s&#237; se ha producido un cierto &quot;renacimiento&quot; &#8211;seg&#250;n el t&#233;rmino repetidamente empleado por sus allegados m&#225;s directos&#8211;, aunque sea m&#225;s significativo el tard&#237;o reconocimiento de su obra y de sus anticipadoras ideas. En este sentido, y por su valor como an&#233;cdota, dir&#233; que la primera noticia que obtuve del tal Val del Omar fue a trav&#233;s del libro de Amos Vogel, <i><u>Film as a Subversive Art</u></i> (1974), cuyo elogioso comentario de <i><u>Aguaespejo granadino</u></i> (o <i><u>La gran siguiriya</u></i>) dice as&#237;:</p>
<p>  </p>
<p>
&quot;An explosive, cruel work of the deepest passion, a silent cry, this is a mystic evocation of the nightmares of Spain. Reminiscent of Bu&#241;uel's <i><u>Land Without Bread</u></i>, it succeeds in conveying nameless terror and anxiety. One of the great unknown works of world cinema, surfacing at the 1958 First International Experimental Film Festival of Brussels, it just as quickly disappeared and is now unavailable.&quot;  </p>
<p>  </p>
<p>  </p> <h1 lang="es-ES" class="western">VDO</h1> <p>  </p>
<p>
&quot;Soy un hombre, una criatura enamorada de la creaci&#243;n, en donde yo me siento sumergido, que vibra entre la teor&#237;a y la pr&#225;ctica. He querido transmitir a mis hermanos el fuego. Contagiarles el gozo del panorama arm&#243;nico que el ardor de mi sangre me ha permitido ver y sentir. &quot; &#8212; Jos&#233;
Val del Omar</p>
<p>  </p>
<p> Nacido en Granada en 1904, Jos&#233; Val del Omar
(arabiz&#243; as&#237; su apellido aut&#233;ntico, Valdelomar, que sin embargo es propio del norte de Castilla) ha iniciado su temprana actividad cinematogr&#225;fica en los a&#241;os veinte. Seg&#250;n recoge el <i><u>Diccionario del cine espa&#241;ol (1896-1968)</u></i> de Fernando Vizcaino Casas (durante a&#241;os la principal fuente de informaci&#243;n biogr&#225;fica), &quot;a los veinte a&#241;os realiza su primera cinta en 35 mm; en 1926, seg&#250;n propias manifestaciones, <i><u>se a&#237;sla y reflexiona sobre el sentido m&#237;stico de la energ&#237;a</u></i>.
 En 1928 hace p&#250;blicas, a trav&#233;s de Flori&#225;n Rey, sus tres primeras
<i><u>t&#233;cnicas alumbradas</u></i>: una &#243;ptica temporal (de &#225;ngulo variable), una pantalla c&#243;ncava apanor&#225;mica y la iluminaci&#243;n en movimiento&quot;. El autor del referido diccionario presenta a Val del Omar como inventor
&#8211;&quot;Imaginativo, fant&#225;stico e incomprendido, como todos los inventores&quot;&#8211; y, en efecto, sus b&#250;squedas en el plano t&#233;cnico fueron constantes y se concretaron en un buen n&#250;mero de patentes y hallazgos.</p>
<p>  </p>
<p> Aparte de su amistad con Garc&#237;a Lorca y su devoci&#243;n por otro granadino ilustre, Manuel de Falla, consta su vinculaci&#243;n como socio del Cineclub Espa&#241;ol &#8211;en su momento, crisol de las tentativas cinevanguardistas en Espa&#241;a&#8211;, as&#237; como su cercan&#237;a a los poetas, escritores y creadores pl&#225;sticos que integran la Generaci&#243;n del 27 y otras burbujas en agitada ebullici&#243;n durante la II Rep&#250;blica Espa&#241;ola. De 1932 a 1936, Val del Omar particip&#243; en la experiencia de las Misiones Pedag&#243;gicas de la Rep&#250;blica y sus diversas acciones &#8211;Museo Ambulante del Pueblo, instrucci&#243;n del campesinado, antropolog&#237;a cultural&#8211;, realizando, seg&#250;n referencias, alrededor de cincuenta documentales y varios reportajes fotogr&#225;ficos por toda la geograf&#237;a espa&#241;ola. Una peque&#241;a porci&#243;n de tales materiales ha sido recuperada en a&#241;os recientes. Entre ellos, el film <i><u>Vibraci&#243;n de Granada</u></i>, de 1935, ya es todo un presagio del <i><u>Aguaespejo granadino</u></i> que concluye veinte a&#241;os despu&#233;s; y es una l&#225;stima que entre sus obras en paradero desconocido figure su visi&#243;n de Las Hurdes, rodada en 1936, que permitir&#237;a su confrontaci&#243;n con la <i><u>Terre sans pain</u></i> de Bu&#241;uel.</p>
<p>  </p>
<p> Durante la Guerra Civil, Val del Omar se traslad&#243; a Valencia, donde prest&#243; sus servicios al Ministerio de Intrucci&#243;n republicano y colabor&#243; con Josep Renau (el Heartfield espa&#241;ol) en actividades tales como la confecci&#243;n de la &quot;Cartilla escolar antifascista&quot; y el salvamento de buena parte del patrimonio art&#237;stico de centros tales como el Museo del Prado y la Biblioteca Nacional. Por otra parte, cuando las fuerzas rebeldes ocuparon la ciudad, sus conocimientos t&#233;cnicos le valieron salvar la piel y no ser aparentemente represaliado, a costa de poner en marcha un apabullante sistema de megafon&#237;a urbana para la difusi&#243;n de los himnos y consignas de los facciosos; contribuci&#243;n al aparato de propaganda del autoritarismo de la que se avergonzar&#237;a sin ambages en sus escritos. 
</p>
<p>  </p>
<p> Aparentemente, bajo el yugo del r&#233;gimen franquista, Val del Omar mantuvo relaciones relativamente buenas con las instituciones oficiales y con las industrias culturales de la cinematograf&#237;a y la radiotelevisi&#243;n. As&#237; trabaj&#243; en o para los Estudios Chamart&#237;n de Madrid, Radio Nacional de Espa&#241;a, el Instituto de Cultura Hisp&#225;nica, el Instituto de Investigaciones y Experiencias Cinematogr&#225;ficas
(posterior Escuela Oficial de Cinematograf&#237;a) y la Empresa Nacional de &#211;ptica (ENOSA); con el intervalo de una estancia en M&#233;xico en 1960, visitando Televicentro y los Estudios Churubusco. Todo ello no obsta para que (sobre)viviera &#8211;&quot;de milagro&quot; como &#233;l dec&#237;a&#8211; en una circunstancia de &quot;exilio interior&quot;, tal como ha apuntado Rom&#225;n Gubern, y abatido peri&#243;dicamente por la melancol&#237;a, la desidia de los mandamases franquistas y la fractura social y cultural que se deriva de la sublevaci&#243;n militar de 1936.</p>
<p>  </p>
<p> Algunas de sus principales invenciones y patentes (con sucesivos perfeccionamientos) fueron: el sistema de sonido est&#233;reo-diaf&#243;nico
(1944), un campanario fotoel&#233;ctrico (1947), el sistema panor&#225;mico VDO Bi-Standard 35mm para un m&#225;ximo aprovechamiento de la pel&#237;cula
(1957), el formato Intermediate 16-35 (1968) &#8211;an&#225;logo al posteriormente conocido como Super-16&#8211; y un largo etc&#233;tera de artefactos bien particulares y de aportaciones menores, pero que demuestran su constante inventiva. En los a&#241;os 70 trabaj&#243; tambi&#233;n con v&#237;deo y con l&#225;ser, y me consta que estaba absolutamente al d&#237;a en relaci&#243;n a cualquier avance en el campo de &#233;stos y otros nuevos medios.</p>
<p>  </p>
<p> Por otra parte, Val del Omar volvi&#243; a la creaci&#243;n f&#237;lmica en los a&#241;os 50 con <i><u>Aguaespejo granadino</u></i> (1952-55) y <i><u>Fuego en Castilla</u></i> (1958-60), dos films reveladores de su original concepci&#243;n del cinemat&#243;grafo, a la vez que concebidos como demostraciones de sus invenciones t&#233;cnicas (pero que siempre fueron m&#225;s all&#225; de la t&#233;cnica). Ambos films concurrieron a diversos festivales importantes y obtuvieron entusiasta acogida por parte de cr&#237;ticos y cineastas, as&#237; como algunos premios: Festival de Cine Experimental de Bruselas 1953, Berl&#237;n 1956, Cannes 1958, Bilbao 1961 (Medalla de Plata), Concurso de Cine Experimental de la Universidad Aut&#243;noma de M&#233;xico 1960
(Primer Premio), Cannes 1961 (Menci&#243;n de la Comisi&#243;n Superior T&#233;cnica de la Cinematograf&#237;a Francesa), Melbourne 1962.</p>
<p>  </p>
<p> Entre 1961 y 1962, Val del Omar rod&#243; un nuevo film, <i><u>Acari&#241;o galaico</u></i>
(o <i><u>De barro</u></i>), cuyo montaje qued&#243; inconcluso en su momento, pero que hab&#237;a retomado casi veinte a&#241;os despu&#233;s a fin de concluirlo y formar con los dos anteriores el <i><u>Tr&#237;ptico Elemental de Espa&#241;a</u></i>. Trilog&#237;a que, seg&#250;n Val del Omar, deb&#237;a proyectarse en orden inverso al de su producci&#243;n cronol&#243;gica, seg&#250;n un esquema que argumentaba como
&quot;una diagonal que cruza Espa&#241;a: Galicia/Tierra, Castilla/Fuego, Granada/Agua&quot;. A&#250;n hab&#237;a trabajado Val del Omar en un cuarto film que deb&#237;a constituir una especie de preludio o, como &#233;l dec&#237;a,
&quot;v&#243;rtice&quot;, convirtiendo as&#237; el <i><u>Tr&#237;ptico</u></i> en cuadr&#237;ptico o tetralog&#237;a. En este film hipot&#233;tico, que titulaba
<i><u>Ojala</u></i> y para el cual hab&#237;a previsto una duraci&#243;n de aproximadamente 15 minutos, al parecer hab&#237;a estado trabajando durante los siete u ocho
&#250;ltimos a&#241;os de su vida, concibiendo un dispositivo que le permit&#237;a combinar m&#250;ltiples im&#225;genes en una sola, vali&#233;ndose a su vez de proyectores de todos los formatos, modificados y de velocidad regulable a su antojo, as&#237; como de diapositivas e im&#225;genes de v&#237;deo.</p>
<p>  </p>
<p>  </p> <h1 lang="es-ES" class="western">PLAT</h1> <p>  </p>
<p>
&quot;La m&#225;quina de cine es s&#243;lo un artefacto, un instrumento que puede vitalizar y matar. A su carlinga de mando, socialmente, s&#243;lo debe ser permitido el acceso al aut&#233;ntico poeta humano que, movido por un arrebatador amor al pr&#243;jimo, se disponga heroicamente a conducir este nuevo ingenio capaz de hacer al hombre, con cotidiana atadura a una noria, vislumbrar el infinito.&quot; &#8212; Jos&#233;
Val del Omar</p>
<p>  </p>
<p> Val del Omar resumi&#243; su ideario como creador cinematogr&#225;fico en unas siglas, PLAT, que se traducen en su b&#250;squeda de la unidad Picto-Lum&#237;nica-Audio-T&#225;ctil. Para comprender toda la extensi&#243;n de dicho concepto, hoy hemos de basarnos esencialmente en fuentes documentales, dados los arcanos que rodean a muchos de los artefactos o dispositivos ingeniados por el cineasta granadino. As&#237;, partir&#233;
en gran parte de sus escritos, por otra parte tan reveladores de su singular personalidad. (El documentalista y escritor cinematogr&#225;fico Jos&#233; L&#243;pez Clemente se refiri&#243; a las dificultades de Val del Omar para hacerse entender, diciendo que &quot;sus explicaciones, cuando dirigidas a los poetas, iban cargadas de alusiones electroac&#250;sticas, y cuando a los t&#233;cnicos, iban sobradas de poes&#237;a.&quot;)</p>
<p>  </p>
<p> Desde finales de la d&#233;cada de los 20, Val del Omar fue &quot;alumbrando&quot;
(por utilizar una expresi&#243;n que le es muy propia) toda una serie de invenciones y propuestas t&#233;cnicas que planteaban posibles mejoras y progresos para la cinematograf&#237;a en tanto que medio art&#237;stico y
&#225;mbito industrial. S&#243;lo que la cinematograf&#237;a espa&#241;ola no era el 
marco id&#243;neo para comprender un arrojo tal, de manera que la mayor parte de sus propuestas, incluso cuando van dirigidas a la industria, quedan sin aplicaci&#243;n ni apoyo alguno; y su autor, como un exc&#233;ntrico o un visionario.</p>
<p>  </p>
<p> Por otra parte, varias de estas propuestas lindan en otros contornos (geogr&#225;ficos, pero referidos tambi&#233;n a otro orden de pr&#225;cticas fuera de la industria) con las extensiones propias de lo que se ha dado en denominar <i><u>cine expandido</u></i>. Valga como ejemplo un fragmento de la intervenci&#243;n de Val del Omar en el Congreso Internacional de la T&#233;cnica Cinematogr&#225;fica celebrado en Tur&#237;n en 1957:</p>
<p>  </p>
<p>
&quot;Por muy disparatados que parezcan no tengo inconveniente en enumeraros unos cuantos recursos posibles en los salones de espect&#225;culo normalizados, orient&#225;ndose hacia una mayor participaci&#243;n del espectador, que es un juicio en el que todo el mundo est&#225; de acuerdo.</p>
<p>  </p>
<p>
&quot;1. Una mayor oscuridad y una mayor iluminaci&#243;n de la sala de espect&#225;culos durante la proyecci&#243;n de las pel&#237;culas por medio de una luminotecnia pulsatoria, sincronizada, programada, participando durante la proyecci&#243;n.</p>
<p>  </p>
<p>
&quot;2. La presencia de un perfume inductor, propio del tema cinematogr&#225;fico que se exhiba.</p>
<p>  </p>
<p>
&quot;3. Un sabor determinado a cada cinta, bajo la forma de aperitivo. (Los efectos de perfume y sabor ya se encargar&#225;n de lanzarlos los departamentos de reclamo.)</p>
<p>  </p>
<p>
&quot;4. El complemento a la nueva visi&#243;n t&#225;ctil (producida por iluminaci&#243;n pulsatoria t&#225;ctil) y consistente en un programa de efectos pulsatorios con regulaci&#243;n independiente en cada butaca.</p>
<p>  </p>
<p>
&quot;5. El sonido diaf&#243;nico, de encuentro, colisi&#243;n y reacci&#243;n entre espectador y espect&#225;culo, producidos por dos focos o arcos en contracampo, de pantalla y fondo de sala.</p>
<p>  </p>
<p>
&quot;6. El desbordamiento apanor&#225;mico de la imagen&#8230;&quot;
[Aspecto, este &#250;ltimo, sobre el que me extiendo m&#225;s abajo.]</p>
<p>  </p>
<p> En una ulterior edici&#243;n del referido Congreso, en 1962, Val del Omar agrega a&#250;n otros puntos:</p>
<p>  </p>
<p>
&quot;Ahora hay que a&#241;adir el maquillaje electr&#243;nico m&#243;vil, el nuevo sistema de <i><u>color temporal</u></i>, <i><u>palpitante</u></i>, <i><u>t&#225;ctil</u></i>, y el complejo de <i><u>t&#233;cnicas de umbral y subliminales</u></i> que, por su velocidad emisora, desbordando nuestra humana capacidad de reflejos, nos sumergen en un <i><u>maremagnum</u></i>&quot;.</p>
<p>  </p>
<p> Al entrever la capacidad de seducci&#243;n, alucinaci&#243;n, coacci&#243;n del espect&#225;culo cinematogr&#225;fico, Val del Omar se plantea por otra parte la necesidad de &quot;pedir un c&#243;digo t&#233;cnico de respeto al espectador&quot;. Sobre el cual a&#241;ade:</p>
<p>  </p>
<p>
&quot;Esta t&#233;cnica imprescindible, fundamental, esencial para el cinema, vamos a llamarla, por lo que tiene de mec&#225;nica e invisible, meca-m&#237;stica. La pura mecam&#237;stica es el arma y la f&#243;rmula capaz de combatir a los peque&#241;os resortes al servicio de los intereses de bolsillo.&quot;</p>
<p>  </p>
<p> En sus films, Val del Omar puso en pr&#225;ctica varias de estas ideas y, a continuaci&#243;n, voy a referirme a los dispositivos de proyecci&#243;n y sonido &#8211;el <i><u>desbordamiento apanor&#225;mico</u></i> y el <i><u>sonido diaf&#243;nico</u></i>&#8211; en los que parece haber puesto m&#225;s ah&#237;nco, junto a la <i><u>visi&#243;n t&#225;ctil</u></i> a la que me referir&#233;
posteriormente.</p>
<p>  </p>
<p> El principio del desbordamiento apanor&#225;mico de la imagen consiste en una doble proyecci&#243;n conc&#233;ntrica de im&#225;genes, para la que al parecer utilizaba diferentes dispositivos. Entre ellos, un juego de lentes especiales que se acoplaban al proyector o proyectores. (De hecho, seg&#250;n &#233;l. ambas im&#225;genes pod&#237;an estar contenidas en la misma copia, utilizando uno de los formatos de pel&#237;cula que hab&#237;a desarrollado, aunque parece que recurr&#237;a m&#225;s bien a otros dispositivos m&#225;s rudimentarios.) La primera imagen se proyecta normalmente sobre la pantalla propiamente dicha, siendo enmarcada por la segunda imagen, de tama&#241;o cuatro veces mayor y en proyecci&#243;n que se desborda por techo, paredes y suelo de la sala (y, por tanto, sobre el patio de butacas y los espectadores mismos).</p>
<p>  </p>
<p>
&quot;Esos efectos de expansi&#243;n &#243;ptica extrafobeal&quot; &#8211;escrib&#237;a Val del Omar&#8211; &quot;no exigen un determinado modo de caer sobre una superficie lisa o acrom&#225;tica, ni tienen necesidad de tener foco ni nitidez. Tal imagen tampoco tiene que ser forzosamente continuidad f&#237;sica de aquella impresa para la zona fobeal. [&#8230;] A nuestro juicio, constituye una zona puente entre espect&#225;culo y espectador, y sus efectos proceden de im&#225;genes abstractas y movimientos subjetivos; queriendo decir con esto que la din&#225;mica de estos reflejos de desbordamiento y su cromatismo ser&#225;n factores importantes para la participaci&#243;n del espectador en el espect&#225;culo.&quot;</p>
<p>  </p>
<p> En cuanto al sonido diaf&#243;nico, calificado por Val del Omar como
&quot;superrealismo sonoro de superior potencia emotiva&quot;, se basa en la utilizaci&#243;n de dos canales de sonido (doble pista sobre la pel&#237;cula), excepto que, a diferencia de la estereofon&#237;a convencional, se bifurcan ac&#250;sticamente en campo y contracampo
&#8211;&quot;sonidos en oposici&#243;n y choque&quot;&#8211; por la espacializaci&#243;n del sonido y la disposici&#243;n de los altavoces: unos detr&#225;s de la pantalla y otros detr&#225;s del p&#250;blico espectador (o incluso, seg&#250;n algunos testimonios, bajo las mismas butacas). El cruce de ambos focos sonoros suscita di&#225;logos y enfrentamientos entre ambos, deslizamientos de uno a otro, contrapuntos y est&#237;mulos cercanos a lo subliminal.</p>
<p>  </p>
<p> Val del Omar nos contaba c&#243;mo, para su <i><u>Acari&#241;o galaico (De barro)</u></i>, pensaba proyectar el film (recu&#233;rdese que rodado veinte a&#241;os atr&#225;s) en distintas localidades de Galicia y grabar en cinta magn&#233;tica las reacciones de los distintos p&#250;blicos &#8211;el ambiente que se respirar&#237;a en cada ocasi&#243;n&#8211;, para luego mezclar y elaborar electroac&#250;sticamente tales climas sonoros, a fin de constituir el segundo canal diaf&#243;nico (de fondo de sala) en las sucesivas proyecciones de la obra final. Es decir, como un modo de transmitir o contagiar al espectador &#8211;de cualquier procedencia&#8211; las reacciones y emociones de aquellos m&#225;s inmediatamente identificados con la primera motivaci&#243;n y localizaci&#243;n del film. (Escrib&#237;a Val del Omar: &quot;El di&#225;logo de pueblo a pueblo, de hombre a hombre, es v&#237;a instinto. Por una zona de simpat&#237;as amorosas elementales. Y por esa v&#237;a del instinto es por donde se transfiere la cultura de sangre. El Cinema cultiva su v&#237;a instinto con el movimiento inconsciente y libre de sus im&#225;genes y sonidos.&quot;)</p>
<p>  </p>
<p> M&#225;s all&#225; de sus exploraciones t&#233;cnicas y est&#233;ticas en el campo del cine y el sonido, la inventiva de Val del Omar, siempre al corriente de todas las t&#233;cnicas y avances, tambi&#233;n se ha entregado a fondo a otros medios como la televisi&#243;n, el v&#237;deo y el l&#225;ser, constantemente alumbrando artefactos, patentes y nuevos conceptos &#8211;<i><u>palpicolor</u></i>, <i><u>cromatacto</u></i>, <i><u>pantalla corp&#243;rea</u></i>, <i><u>psicovibraci&#243;n</u></i>, <i><u>maquillaje electr&#243;nico m&#243;vil</u></i>, <i><u>ambitemblor</u></i>, <i><u>faratacto</u></i>, <i><u>intravisi&#243;n</u></i>, <i><u>pictolum&#237;nica</u></i>, <i><u>laserfon&#237;a</u></i>, etc.&#8211;, los cuales se resumen en las siglas PLAT que figuraban en su tarjeta de visita y que daban nombre, desde 1977, a su laboratorio en Madrid: lugar de trabajo que acabar&#225; siendo tambi&#233;n su (bien espartana) vivienda habitual.</p>
<p>  </p>
<p> En los a&#241;os 70 desarrolla su sistema de <i><u>&#243;ptica bi&#243;nica energ&#233;tica ciclo-t&#225;ctil</u></i> con el que quiere expresar &quot;un mundo sin pies ni suelo, casi flotando en cero gravedad&quot;; sistema basado en diapositivas cu&#225;druples que llama <i><u>diakinas</u></i>
(conteniendo cuatro im&#225;genes en un mismo marco) que, mediante el Tetraproyector Adiscopio &#8211;un proyector de transparencias provisto de objetivos m&#250;ltiples, prismas, obturadores y filtros rotatorios&#8211;, no s&#243;lo las arranca &quot;de un muerto estatismo&quot;, sino que permite su proyecci&#243;n multiplicada y en circunvalaci&#243;n m&#243;vil del espacio, e incluso la activaci&#243;n de otros elementos  (sonidos, luces, surtidores de agua, m&#225;quinas de viento, etc.) por medio de instrucciones contenidas en el mismo soporte. (En 1992 se hizo una reconstrucci&#243;n de estos ensayos de pictolum&#237;nica en el Museo Nacional Centro de Arte Reina Sof&#237;a, con el nombre de &quot;C&#225;mara Val del Omar&quot;.) Igualmente se adentra en el l&#225;ser, en el que contempla &quot;el m&#225;s propicio y conmocional <i><u>medio</u></i> de iluminar el mundo m&#237;stico, <i><u>actual&#237;simo</u></i>, de nuestro clarividente San Juan de la Cruz&quot;; su aptitud para denunciar &quot;por pura cibern&#233;tica la fealdad de las luces marchitas que nos alucinan&quot;, para convertir &quot;en
<i><u>misterio-claro</u></i> la <i><u>transparencia</u></i> de Juan Ram&#243;n [Jim&#233;nez]&quot; y, en definitiva, &quot;para <i><u>intuir lo inmenso</u></i>&quot;.</p>
<p>  </p>
<p>  </p>
<p> <b>ELEMENTALES (AGUA, FUEGO, BARRO)</b></p>
<p>  </p>
<p>
&quot;La vida es s&#243;lo una expresi&#243;n al ralent&#237;, y yo pretendo comprimirla hasta convertirla en &#233;xtasis: en eterno instante.&quot; &#8212; Jos&#233;
Val del Omar</p>
<p>  </p>
<p>
&quot;No se puede dar escrita ni la idea general del transcurrir de estos films, veloces, apretados de inacabables sugestiones, fuera de todo itinerario narrativo, descriptivo.&quot; &#8212; Manuel Villegas L&#243;pez (&quot;Val del Omar, poeta del cine&quot;)</p>
<p>  </p>
<p> Aunque puede decirse que Val del Omar se ha formado en la senda del documentalismo, del cine-ojo y de la tecnolog&#237;a como extensi&#243;n de los &#243;rganos humanos (de ah&#237; cierta identificaci&#243;n expl&#237;cita con las tesis de McLuhan), cuando en los a&#241;os 50 inicia su obra m&#225;s acentuadamente experimental, acude al neologismo para definir la idiosincr&#225;sica naturaleza de sus films.
Habla de &quot;elementales&quot; en lugar de documentales, con lo que de alg&#250;n modo se resiste al encasillamiento en un g&#233;nero cinematogr&#225;fico que conoce bien y sobre el que sigue trabajando en esta nueva etapa de su indagaci&#243;n del cinema, aunque male&#225;ndolo a su conveniencia (al igual que hace con la t&#233;cnica). Por otra parte, ya que he mencionado el <i><u>cine-ojo</u></i>, dir&#237;a que Val del Omar, como Vertov, tambi&#233;n persigue el
<i><u>cine-verdad</u></i>, aunque no la verdad objetiva o tutorial del reportaje sino la verdad po&#233;tica de las cinegraf&#237;as libres.</p>
<p>  </p>
<p> Hay algo profundamente desconcertante en los
<i><u>elementales</u></i> de Val del Omar. Reside en la dificultad de hablar o escribir acerca de ellos, de asirlos con la palabra, de encasillarlos en alg&#250;n lugar
(com&#250;n). Reside, para un espectador actual, en su tonalidad por momentos l&#250;gubre, pero con giros inesperados y sorprendentes; en su fluctuaci&#243;n entre lo arcaico y lo moderno, entre el mito y la realidad, entre lo turbio y lo di&#225;fano. Reside en su surrealismo, que algunos han caracterizado como &quot;lorquiano&quot;, combinado con las tradiciones seculares de la m&#237;stica espa&#241;ola y de las
<i><u>vanitas</u></i> del barroco. Reside en su &quot;atonalismo&quot;: Val del Omar es &quot;un Sch&#246;nberg de la c&#225;mara&quot;, dec&#237;a una rese&#241;a del cr&#237;tico alem&#225;n Konrad Haemmerling. Im&#225;genes y sonidos se suceden y ensamblan entre s&#237; de manera intrincada, compleja, con una libertad inusitada y reveladora de un automatismo ps&#237;quico que suscita perplejidad.</p>
<p>  </p>
<p> La elaboraci&#243;n del sonido es de una complejidad asombrosa y merecer&#237;a por s&#237; misma un cap&#237;tulo aparte.
En <i><u>Aguaespejo granadino</u></i>, Val del Omar ha manejado m&#225;s de quinientos elementos sonoros, entretejidos en su composici&#243;n diaf&#243;nica original. Para <i><u>Fuego en Castilla</u></i> cont&#243; con la singular colaboraci&#243;n de Vicente Escudero, extrayendo ritmos de la seca madera de un retablo, percutida o rascada con las u&#241;as. En ambos casos, la banda sonora es procesada electroac&#250;sticamente hasta formar una especie de m&#250;sica concreta que casi tiene entidad por s&#237;
sola. Del montaje y del sonido en los films de Val del Omar, escribi&#243;
Manuel Villegas L&#243;pez:</p>
<p>  </p>
<p>
&quot;Pero donde el realizador da toda la medida de su creaci&#243;n es en el montaje. Y aqu&#237; estalla su libertad total, su gran apertura hacia el horizonte. Sin nada que lo obligue en la apariencia de las cosas, combina sus im&#225;genes guiado por el sentido profundo de lo que tiene ante sus pupilas y ante la mirada superreal de la c&#225;mara, su nuevo ojo. La sucesi&#243;n, ensamblado, superposici&#243;n, continuidad y ruptura de estas im&#225;genes van en busca de la otra forma del cinema, la definitiva: el ritmo. [&#8230;] Y con &#233;l, un sonido tambi&#233;n inventado, extra&#237;do de las realidades m&#225;s concretas, y transformado en manos de Val del Omar y sus t&#233;cnicas en un mundo irreconocible, inexpresable, in&#233;dito. [&#8230;] Las im&#225;genes van hacia el sonido y el sonido se funde en la imagen, sin separaci&#243;n posible.&quot;</p>
<p>  </p>
<p> La m&#237;stica &#8211;que, como le he o&#237;do decir al
<i><u>valdelomariano</u></i> mayor Gonzalo S&#225;enz de Buruaga, nada tiene que ver con la religi&#243;n
(al menos, de inmediato)&#8211; ocupa en la obra de Val del Omar un lugar equivalente al que tiene la magia (y con ella: la astrolog&#237;a, la alquimia, el mito, el ritual) en la obra del cineasta norteamericano Kenneth Anger, asimismo influenciado por el surrealismo. En ambos casos, m&#237;stica o magia no son &#250;nicamente unos referentes m&#225;s o menos expl&#237;citos en el plano del contenido visual y/o verbal, sino que constituyen los principios int&#237;nsecos en los cuales se asienta la obra de ambos cineastas, su talento audiovisual, su particular concepci&#243;n del medio/medium cinematogr&#225;fico. Que mi atrevida comparaci&#243;n de ambos cineastas no carece de raz&#243;n, podr&#237;an sustentarlo las l&#237;neas que siguen de Villegas L&#243;pez, que f&#225;cilmente podr&#237;an serle aplicadas igualmente al cineasta norteamericano de irascible sobrenombre. (Como podr&#225; comprobar cualquiera que conozca m&#237;nimamente la filmograf&#237;a de Anger, y con mayor evidencia las concomitancias que pueden hallarse entre el <i><u>Eaux d'artifice</u></i> de &#233;ste y el
<i><u>Aguaespejo granadino</u></i> de Val del Omar: dos filigranas acuocinem&#225;ticas elaboradas incluso en fechas muy pr&#243;ximas.)</p>
<p>  </p>
<p>
&quot;&#8230;Val del Omar vive en el n&#250;cleo del tiempo: no el tiempo que transcurre, sino el tiempo que es. [&#8230;] El tiempo que parece repetirse como en el viejo mito del eterno retorno, porque en realidad est&#225; ah&#237; siempre. Es el tiempo del alma oriental, que se cierra sobre s&#237; mismo, en el c&#237;rculo de lo infinito, en el drag&#243;n que se muerde la cola, de los ocultistas, de los kabalistas, de los alquimistas&#8230; Es el tiempo de los mitos y las religiones, donde lo que pas&#243; una vez est&#225; continuamente presente, torna sin cesar por la magia y por el rito, para volverse a vivir hoy como ayer. [&#8230;] Val del Omar sue&#241;a con repetir la creaci&#243;n del tiempo sin historia, y encontrar ah&#237; la esencia com&#250;n a todas las cosas: el <i><u>opus magnus</u></i>, el <i><u>arcana artis</u></i>, la piedra filosofal de su arte&#8230; Inserta su alma de moro granadino en el mundo que le rodea, en lo m&#225;s hondo de las cosas, los hombres y los hechos y comienza a crearlo todo de nuevo, como si nunca hubiese existido, pero sabiendo que existe y que es as&#237;.&quot;</p>
<p>  </p>
<p> <i><u>Aguaespejo granadino</u></i> (1952-55), intenta &quot;transmitir po&#233;ticamente el amor m&#237;stico que el autor siente por su tierra natal, Granada&quot;, y el agua constituye uno de sus motivos centrales. Villegas L&#243;pez escribe:</p>
<p>  </p>
<p>
&quot;Los peces en el agua, donde flotan las plantas, los rostros de campesinos y gitanos; la luna que corre veloz por el cielo, y las nubes y sus sombras que diluyen el valle de Granada; la gitana y su ni&#241;o o la mano de la estatua, con un libro de piedra abierto ante el agua que cae en la cascada&#8230; son met&#225;foras de imagen que se pierden en profundidad, abiertas por todas partes, en fuga permanente, como la pel&#237;cula misma.&quot;</p>
<p>  </p>
<p> Para labrar algunas de las im&#225;genes de este
&quot;ensayo audiovisual de pl&#225;stica l&#237;rica&quot;, Val del Omar utiliz&#243; lentes de agua ingeniadas por &#233;l mismo y acopladas al objetivo, filtros polarizadores que causan intermitencias en la b&#243;veda celeste de los paisajes granadinos, as&#237; como frecuentes cambios de velocidad y de <i><u>tempo</u></i>.
Los surtidores de la Alhambra y del Generalife dan paso a una danza acu&#225;tica que sigue el comp&#225;s flamenco, marcado por la percusi&#243;n de las palmas: los chorros de agua saltan, chisporrotean, se detienen, voltean, bailan &quot;la gran siguiriya de la vida&quot;. A diferencia de los dem&#225;s films del <i><u>Tr&#237;ptico</u></i>,
&#233;ste tiene una narraci&#243;n en off que, aunque por momentos adquiere cierto engolamiento, rehuye la redundancia con las poderosas im&#225;genes y sus abruptas rupturas. El film se cierra con la frase &quot;Quien m&#225;s da, m&#225;s tiene. Matem&#225;ticas de Dios&quot;, que luego se repite en los t&#237;tulos finales, evocadores de la tipograf&#237;a &#225;rabe.</p>
<p>  </p>
<p> <i><u>Fuego en Castilla, tactilvisi&#243;n del p&#225;ramo del espanto</u></i> (1958-59)
&#8211;&quot;ensayo son&#225;mbulo de visi&#243;n t&#225;ctil&quot;, &quot;cine que cruza de Occidente a Oriente, desde la fuga hacia el &#233;xtasis&quot;&#8211;, nos traslada a la ciudad castellana de Valladolid, sus procesiones de Semana Santa y las esculturas, tallas y retablos que se conservan en su Museo de Escultura Religiosa. En el pressbook que Val del Omar prepar&#243; para este film, se cita el siguiente texto de Garc&#237;a Lorca
(de <i><u>Impresiones y paisajes</u></i>, 1918):</p>
<p>  </p>
<p>
&quot;Los santos, h&#233;roes rom&#225;nticos del sufrimiento por amor a Dios y a los hombres, no encontraban en la escultura espa&#241;ola su encarnaci&#243;n art&#237;stica. Para afirmarlo no hay m&#225;s que pasar por las salas del museo de Valladolid. &#161;Horror! Causa pena profunda observar la espantable median&#237;a de la escultura. Es el arte que toca m&#225;s a la tierra. Los genios de ella llegaron a la primera nota de la escala espiritual. Nunca dieron un acorde. Es la escultura algo muy fr&#237;o y muy ingrato al artista. Reproduce, nunca crea&#8230; No abre el camino para que los dem&#225;s hombres puedan leer las emociones que los llevan al solitario jard&#237;n de los sue&#241;os.&quot;</p>
<p>  </p>
<p> Y Val del Omar a&#241;ade/replica:</p>
<p>  </p>
<p>
&quot;Y precisamente yo he pretendido abrir el camino, programado, t&#225;ctil, en la m&#225;s t&#225;ctil de las artes, por medio de la energ&#237;a luminosa complementaria de la sensibilidad t&#225;ctil del espect&#225;culo.&quot;</p>
<p>  </p>
<p> El film empieza como un documental de los rituales de Semana Santa en Valladolid, s&#250;bitamente dislocado por otras im&#225;genes y sonidos que dan paso a lo profano (un tren que atraviesa un paisaje, una m&#250;sica de baile a velocidad acelerada, las luces de la ciudad) y al &quot;claro misterio&quot; de otras im&#225;genes entre chocantes y sutiles (un esqueleto humano con el tocado de un velo nupcial, un rayo de luz que se desplaza sobre un muro&#8230;). A partir de este momento, la complejidad y tensi&#243;n r&#237;tmica no hace sino crecer, predominando las secuencias en las que Val del Omar despliega su concepto de la visi&#243;n t&#225;ctil, que ya se hab&#237;a insinuado en algunos breves planos de su film anterior, y que ahora aplica a una especie de animaci&#243;n cin&#233;tica de la piedra y la madera esculpida, dando un vigor inusitado a aquella imaginer&#237;a religiosa que Lorca hallaba tan inerte y mediocre.</p>
<p>  </p>
<p> Val del Omar concibe la tactilvisi&#243;n como un tratamiento &quot;cubista&quot; de la iluminaci&#243;n. La luz como &quot;vibraci&#243;n, palpitaci&#243;n, latido, diferencia, desnivel&quot;&#8230;</p>
<p>  </p>
<p>
&quot;Hay que convertir las distintas luces que inciden en una escena, en distintos pinceles palpitantes, en dedos, en yemas de los dedos, sensibles a las superficies que palpan.&quot;</p>
<p>  </p>
<p> Luis T. Melgar ha prestado su testimonio personal acerca del laborioso proceso de rodaje, con Val del Omar trabajando &quot;entre m&#225;s de veinte proyectores de todos los a&#241;os y modelos, entre m&#225;s de mil cables el&#233;ctricos, car&#225;tulas, dispositivos de figuras geom&#233;tricas, re&#243;statos, c&#225;maras, tornillos microm&#233;tricos, espejos c&#243;ncavos, convexos, planos, entre infinitas bombillas de dos voltios, aparatos de carpinter&#237;a, magnetofones&#8230;&quot;</p>
<p>  </p>
<p> Como resultado de esta &quot;iluminaci&#243;n pulsatoria t&#225;ctil&quot;, las esculturas de Juan de Juni, Berruguete o Mena adquieren nuevos semblantes, cobran movimiento o se distorsionan hasta rozar la abstracci&#243;n. La estatuaria estalla pirot&#233;cnicamente y se salpica con asociaciones a la pintura de El Greco y al flamenco (taconazo de Vicente Escudero sobre un fondo llameante). La luz acribilla estas im&#225;genes desde distintos &#225;ngulos y con diversas intensidades y frecuencias. Algunas parecen ponerse a andar, al tiempo que los fondos se desplazan anam&#243;rficamente. La luz proyecta formas, texturas y muar&#233;s sobre los yertos rostros, genera intermitencias y enga&#241;os &#243;pticos. Val del Omar demuestra su virtuosismo y su gran inventiva como fun&#225;mbulo de la t&#233;cnica, acr&#243;bata de la luz y del sonido que se la juega sin red porque es, en primer lugar y en sus propias palabras, un &quot;creyente del cinema&quot;.</p>
<p>  </p>
<p> <i><u>Acari&#241;o galaico (De barro)</u></i>, film rodado y abocetado en 1961-62 pero no retomado hasta 1981-82, e inacabado tras el fallecimiento de su autor a ra&#237;z de un accidente, ha sido cabalmente reconstruido y finalizado en 1995 por Javier Codesal &#8211;un creador que se desenvuelve con talento y soltura entre las diversas latitudes del arte y las industrias de la comunicaci&#243;n&#8211;, partiendo de un copi&#243;n de imagen que Val del Omar dej&#243; montado, as&#237;
como de sus anotaciones manuscritas y registros sonoros. El tercero de &quot;tres anhelos de comunicar lo inefable&quot;, el cineasta hall&#243; en Galicia &#8211;tierra de paisajes extremos, de humores volubles, de meigas y santos, de pronunciados claroscuros&#8211; motivos y met&#225;foras visuales para abordar este <i><u>elemental</u></i> de la tierra. La tierra que, con el agua, forma el barro y la vida; y que, con el fuego, se seca y agrieta. La tierra de la Galicia profunda y la piedra de la arquitectura y los monumentos de Santiago de Compostela, las tumbas y los acantilados, las figuras de arcilla del escultor Arturo Baltar y la conciencia tel&#250;rica y ef&#237;mera del ser humano; tierra iluminada, expuesta a una mirada di&#225;fana y penetrante, con nuevos estallidos de tactilvisi&#243;n son&#225;mbula y colisiones sonoras, en esta obra felizmente recuperada a pesar de su estado inconcluso.</p>
<p>  </p>
<p> Aunque lo que falta en esta reconstrucci&#243;n es el segundo canal diaf&#243;nico que Val del Omar hab&#237;a previsto a&#241;adir, el sonido es precisamente lo que trenza la heterogeneidad de los diversos elementos ic&#243;nicos y acusm&#225;ticos que se suceden a lo largo de 24 minutos, agrup&#225;ndose en lo que Codesal ha llamado &quot;series estr&#243;ficas&quot;; es decir, la arquitectura po&#233;tica y mecam&#237;stica en que se funda, nuevamente, el <i><u>claro misterio</u></i> de esta obra, p&#243;stuma o testamentaria en cierto modo. Construcci&#243;n que adquiere un rigor atonal o serialista &#8211;tanto para el o&#237;do como para la vista&#8211;, concatenando las discordancias constantes entre, por ejemplo, las abundantes im&#225;genes en negativo o distorsionadas por el uso de espejos c&#243;ncavos y otros recursos a la &quot;&#243;ptica bi&#243;nica&quot;, y &#8211;por otra parte&#8211; las im&#225;genes m&#225;s objetivas (documentales o elementales, en apariencia m&#225;s rectil&#237;neas) con las que se entremezclan aquellas.</p>
<p>  </p>
<p> Lo mismo puede decirse respecto a los continuos cambios del ritmo secuencial, alcanzando su cenit m&#225;s veloz y parpadeante en el centro del film. O respecto de los contrapuntos que articulan la autonom&#237;a de la banda sonora como tal &#8211;entre la continuidad enga&#241;osa de una musicalidad folclorista y las brechas o r&#225;fagas de otras esquirlas s&#243;nicas interpoladas y hasta chocantes&#8211;, cuyo punto m&#225;s &#225;lgido se halla al t&#233;rmino del film, cuando Val del Omar se entrega al anacronismo m&#225;s audaz (bien significativo, adem&#225;s, de la peculiar cronolog&#237;a de elaboraci&#243;n de la obra), al alternar en la banda sonora los vociferantes imperativos de una dramaturgia radiof&#243;nica, adaptaci&#243;n de un autosacramental de Calder&#243;n de la Barca, y del grotesco intento de golpe de estado que se produjo el 23 de febrero de 1981 en el Congreso de los Diputados de Madrid.</p>
<p>  </p>
<p>  </p> <h1 lang="es-ES" class="western">Sin fin</h1> <p>  </p>
<p>
&quot;Yo soy un r&#237;o, cuya alegr&#237;a es derramarse&quot; &#8212; Jos&#233;
Val del Omar</p>
<p>  </p>
<p> La obra y la tenaz actividad investigadora de Val del Omar &#8211;a contrapelo de la incomprensi&#243;n y el olvido&#8211; no empezaron a ser redescubiertas sino poco antes de su muerte, siendo en cambio el principio de un renacimiento que sigue ganando adeptos.
&quot;Sin fin&quot; como &#233;l pon&#237;a al t&#233;rmino de sus films. As&#237;, despu&#233;s de aquellos que llegamos a conocerle en vida, han seguido otras contribuciones tan diversas como la del joven equipo que ha realizado el documental biogr&#225;fico <i><u>Ojala
- Val del Omar</u></i> (1996) &#8211;entre sus impulsores, la productora Piluca Baquero, emparentada con el hagiografiado&#8211;; las aportaciones investigadoras y restauradoras de Rafael R. Tranche, Javier Codesal, Bego&#241;a Soto, Jos&#233; Luis Chac&#243;n; o el audaz ejercicio de <i><u>noise rock</u></i> del grupo granadino Lagartija Nick con letras &#8211;trozos escogidos de escritos, anotaciones y poemas&#8211; de Val del Omar, poeta de la t&#233;cnica, y con la participaci&#243;n de Enrique Morente cantando al
&quot;el&#233;ctrico &#233;xtasis&quot; de un eterno vuelo celeste.</p>
<p>  </p>
<p> Tantos a&#241;os despu&#233;s de su muerte, buena parte de las inc&#243;gnitas VDO / PLAT siguen sin resolverse. Ahora mismo lo que hay es, tal como ha escrito Rom&#225;n Gubern, una obra &quot;escasa, aunque de alta tensi&#243;n, como lo fue la de Jean Vigo&quot;; o, a&#241;ado yo, como las de Peter Kubelka o el mencionado Kenneth Anger, entre otros orfebres del cinemat&#243;grafo. Esta obra no se reduce en todo caso al <i><u>Tr&#237;ptico Elemental</u></i>, aunque es una pena que no se vean m&#225;s los otros films que han ido recuper&#225;ndose tras su desaparici&#243;n, as&#237; como sus ensayos de pictolum&#237;nica y laserfon&#237;a que, junto con sus fotograf&#237;as, collages, escritos y el todav&#237;a intacto laboratorio siguen siendo una invitaci&#243;n a &quot;la entrada en un agujero negro con salida blanca&quot;. Sin fin pues, porque &quot;el <i><u>margen</u></i> es tambi&#233;n <i><u>origen</u></i>&quot;.</p>
<p>  </p>
<p>  </p>
<p> Barcelona, agosto de 1982 / marzo de 2000</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p> <h2 lang="es-ES" class="western">REFERENCIAS</h2> <p>  </p>
<p> Los textos citados en el presente art&#237;culo (as&#237; como la primera versi&#243;n del mismo, fechada en 1982) se hallan recopilados en su mayor parte en los libros <i><u>Val del Omar sin fin</u></i>, edici&#243;n al cuidado de Gonzalo S&#225;enz de Buruaga y Mar&#237;a Jos&#233; Val del Omar (Granada, 1992: Diputaci&#243;n Provincial de Granada y Filmoteca de Andaluc&#237;a), e <i><u>&#205;nsula Val del Omar</u></i>, edici&#243;n de G. S&#225;enz de Buruaga (Madrid, 1995: Consejo Superior de Investigaciones Cient&#237;ficas y Semana de Cine Experimental de Madrid).</p> </body> </html>