  <p> <b>Cinema i video experimental i d'artistes a Catalunya (un megamix)</b></p>
<p>  </p>
<p>  </p>
<p> Utilitzar&#233; sense manies algunes de les expressions i denominacions que han rebut els &quot;altres cinemes&quot;: cinema d'avantguarda, experimental, independent, alternatiu, personal, d'artistes, etc., als que caldria afegir-hi el v&#237;deo (v&#237;deo-art o v&#237;deo d'artistes, de creaci&#243;, d'autor, independent, alternatiu,... i un altre etc&#232;tera). El meu prop&#242;sit
&#233;s el de referir-me a algunes de les seves manifestacions entre nosaltres, i no pas el de posar-me a discutir les idees rebudes o preconcebudes que hom pot tenir en un petit pais com el nostre, on aitals conceptes no han arrelat o penetrat prou, b&#233; que tampoc ens siguin del tot aliens. Aix&#237;, potser em cal d'entrada aclarir dues o tres idees, per&#242; sense entretenir-m'hi gaire.</p>
<p>  </p>
<p> Per exemple, &#233;s f&#224;cil de veure que hi ha una estreta relaci&#243; entre els dos conceptes principals que manejo en el t&#237;tol: cinema <i>experimental</i> l'han fet, molt sovint, <i>artistes</i>
(pl&#224;stics o visuals, per&#242; tamb&#233; m&#250;sics, poetes, fot&#242;grafs... i, per descomptat, cineastes). I si, originalment, el cinema d'avantguarda (expressi&#243; si fa no fa sin&#242;nima) &#233;s, for&#231;a <i>strictu sensu</i>, el dels artistes dits <i>d'avantguarda</i>
&#8212;per&#242; tamb&#233; el de cineastes afins a, o contagiats per, les avantguardes art&#237;stiques del seu temps&#8212;, successivament esdevindr&#224;
una forma art&#237;stica m&#233;s i m&#233;s aut&#242;ctona (com tamb&#233; ho ser&#224; en relaci&#243; a les formes cinematogr&#224;fiques hegem&#242;niques). Els artistes esdevindran creixentment <i>cineastes</i>, per&#242; no necess&#224;riament professionals del cinema (aix&#242; comen&#231;a ja a succeir amb Hans Richter, Oskar Fischinger o Len Lye).</p>
<p>  </p>
<p> De manera que el cinema experimental o d'avantguarda ser&#224; en primer lloc una recerca o intrusi&#243; en el suport i el llenguatge del cinema, mentre que el cinema d'artistes, que neix (o almenys creix) b&#224;sicament amb les noves actituds art&#237;stiques dels anys 60/70, seria m&#233;s aviat un testimoni, reflex o registre d'una creaci&#243; ef&#237;mera, una idea, un projecte, un proc&#233;s, un acte (acci&#243;, happening, ambient, etc.); o tamb&#233; un component multim&#232;dia. Sense ser exactament, per&#242;, un
&quot;portafoli&quot; de l'obra i/o l'artista, doncs d'aix&#242; en diriem documental o film (o v&#237;deo) d'art o sobre art. Aquestes discriminacions no impedeixen nogensmenys que el cinema experimental i el cinema d'artistes entrin de vegades en contacte, i tamb&#233; en conflicte, en coincidir en gran part en similars circuits i contextos
 &#8212;com museus i espais art&#237;stics en general&#8212;, aix&#237; com davant d'audi&#232;ncies suposadament minorit&#224;ries.</p>
<p>  </p>
<p> Se m'ha acudit de caracteritzar aquest text com un &quot;megamix&quot;, en detenir-me a pensar en els punts que hauria de tractar, o almenys esmentar, d'acord amb el per&#237;ode abastat per aquesta publicaci&#243; i amb les caracter&#237;stiques de la mostra a la qual acompanya; ans tamb&#233; segons les pr&#242;pies del cinema (i el v&#237;deo) alternatiu en el mateix lapse i lloc. El megamix consistir&#224; doncs en saltar d'una cosa a una altra &#8212;aturant-m'hi m&#233;s o menys&#8212;, tot cercant els punts d'enlla&#231; o commutaci&#243; que facin que un seguit de sons dissonants i discontinus procurin la impressi&#243; d'una certa harmonia, una certa unitat, que seria primer de tot la del(s) lloc(s) i el(s) temps que delimiten el barrija-barreja de les idees i actituds en el camp que em pertoca examinar.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Tinc una certa recan&#231;a a l'hora de considerar com a primer exponent d'un cinema d'avantguarda o experimental a casa nostra, all&#242; que nogensmenys m&#233;s s'aproparia a ser-ho en el seu prec&#237;s moment. Em refereixo a l'anomenada Escola de Barcelona (i als seus precedents, encontorns i derivacions), que m&#233;s aviat caldria posar en relaci&#243; amb l'emerg&#232;ncia internacional de
&quot;noves onades&quot;, &quot;nous cinemes&quot;, &quot;cinemes joves&quot;; i, sobretot, amb el fen&#242;men i les circumst&#224;ncies m&#233;s properes del Nuevo Cine Espa&#241;ol, per comparaci&#243; amb el qual &#8212;i amb l'atrotinat (neo)realisme que arrosseguen les seves principals fites&#8212; l'Escola de Barcelona s&#237; que adquiriria una condici&#243;
contextual d'avantguarda.</p>
<p>  </p>
<p> De fet, en el programa de premises i intencions de l'Escola &#8212;segons el va fixar Joaquim Jord&#224; (a la revista <i>Nuestro Cine</i>, n&#250;m. 61, 1967)&#8212; es formulava expl&#237;citament la voluntat de fer un cinema amb un &quot;car&#224;cter experimental i avantguardista&quot;, amb una &quot;preocupaci&#243; preponderantment formal, referida al camp de l'estructura de la imatge i de l'estructura de la narraci&#243;&quot;.&#168;
Aix&#242; es reflectiria sobretot als tres films, tots ells de 1966-1967, en que es fragment&#224; el projecte inicial de fer una mena de film-manifest col.lectiu: <i>Dante no es &#250;nicamente severo</i>, de Joaquim Jord&#224; i Cinto Esteva, i els curts <i>Circles</i>, de Ricard Bofill, i <i>No compteu amb els dits</i>, de Pere Portabella, que es dissociaria per&#242; immediatament de la referida &quot;denominaci&#243; d'or&#237;gen&quot;.</p>
<p>  </p>
<p> Ara b&#233;, els films de l'Escola de Barcelona &#8212;i d'abans i despr&#233;s, al marge i al voltant de la seva ef&#237;mera exist&#232;ncia&#8212; burxaran no tant en l'estructura de la imatge, com en l'estructura de la narraci&#243; (en el fons, respectant-ne prou els seus codis). &#201;s al capdavall un cinema for&#231;a literari, encara que en molts casos es podria dir que ho &#233;s a la manera d'una literatura experimental. Com per exemple ho era, d'una manera molt particular, la de Gonzalo Su&#225;rez, que fornir&#224;
l'argument de <i>Fata Morgana</i> (1966), de Vicente Aranda, i ser&#224; tamb&#233; a la base dels seus propis films en una primera etapa de la seva filmografia. Tamb&#233; ho &#233;s, decididament, l'obra de Joan Brossa, i aix&#242; es transmetr&#224;
degudament en els quatre films que realitzar&#224; Portabella amb la seva col.laboraci&#243;. Hi ha endem&#233;s aquella c&#232;lebre frase de Joaquim Jord&#224;: &quot;Como no podemos hacer Victor Hugo, hacemos Mallarm&#233;&quot;, tan il.lustrativa de l'esperit de l'Escola i de les circumst&#224;ncies en que sorgeix.</p>
<p>  </p>
<p> El manifest de l'Escola de Barcelona descriu endem&#233;s una s&#232;rie de circumst&#224;ncies volgudes o for&#231;ades en les que haur&#224; de desenvolupar-se l'intent de fer un cinema d'avantguarda: &quot;autofinan&#231;ament i sistema cooperatiu de producci&#243;,... treball en equip amb un intercanvi constant de funcions,... utilitzaci&#243; d'actors no professionals,... producci&#243;
realitzada d'esquena a la distribuci&#243;,... [i], llevat d'escasses excepcions, formaci&#243; no acad&#232;mica ni professional&quot; dels seus autors. Aix&#237; &#233;s com la traject&#242;ria dels principals membres del grup confluiria en una segona escena: la del cinema independent, moment&#224;niament tamb&#233; anomenat <i>underground</i>, que realment ho era en tant que es tractava d'una producci&#243;
virtualment clandestina i eventualment agosarada en determinats aspectes, per&#242; que no tenia gaire a veure amb els extremismes i les estructures alternatives a que havia donat lloc el New American Cinema, l&#8217;<i>underground</i>, i la seva projecci&#243; internacional. Endem&#233;s, el cinema independent seria un batibull de molt diverses aspiracions i prop&#242;sits, predominant-hi les narracions un xic abstruses, els exercicis d'estil i el documentalisme. En un marc tan divers, hi ha molts pocs noms i obres a recordar d'acord amb els criteris que em guien.</p>
<p>  </p>
<p> L'activitat de Pere Portabella &#233;s en aquest sentit tot un reflex del per&#237;ode que va de la gestaci&#243; de l'Escola de Barcelona als temps de la transici&#243; pol&#237;tica espanyola, tot passant pel cinema independent i la seva radicalitzaci&#243; formal i pol&#237;tica: primer, a trav&#233;s del seguit de col.laboracions amb Brossa que culminen en l'abstracci&#243; po&#232;tica, a la vegada que materialista, de <i>V&#224;mpir-Cuadecuc</i>
(1969-70), i en el fragmentat collage de met&#224;fores sobre les ombres del franquisme que &#233;s <i>Umbracle</i>
(1970-72); despr&#233;s, a trav&#233;s d'un cinema militant i de cr&#242;nica pol&#237;tica. Endem&#233;s d'autoproduir-se els seus films, Portabella tamb&#233;
va produir circumstancialment els d'altres (entre ells, Carles Santos, col.laborador constant) i va animar en general l'escena catalana del cinema independent. Els anys 1968-1972 serien en tot cas el lustre daurat del cinema independent, i no hi mancarien les opcions m&#233;s experimentalistes i transgressores: el minimalisme dels films de Santos (m'hi aturar&#233; despr&#233;s), o els de Pere Joan Ventura, rodats en un &#250;nic pla; les ironies pol&#237;tiques de Lloren&#231; Soler; els films personals i psicod&#232;lics dels germans Duran,...</p>
<p>  </p>
<p> Hi afegir&#233; una obra tan singular com <i>Esquizo</i>
(1970), de Ricardo Bofill, Jos&#233; Agust&#237;n Goytisolo, Manuel N&#250;&#241;ez Yanowsky, Carlos Ruiz de la Prada i Serena Vergano (&#233;s a dir, el Taller d'Arquitectura en la seva etapa m&#233;s interdisciplinar i multim&#232;dia): un film que combina diversos elements visuals i sonors, els quals oscil.len entre un llenguatge po&#232;tic i documental, en un atraient assaig sobre la bogeria i el llenguatge de l'inconscient (o, com ho expressa el subt&#237;tol de l'obra, &quot;una investigaci&#243;
ficcional sobre l'arquitectura d'un cervell&quot;).</p>
<p>  </p>
<p> Hi afegir&#233; aix&#237; mateix l'heroica filmografia d'Antoni Padr&#243;s, que a partir d'un seguit de curts que podien semblar esparracades caricatures de l'Escola de Barcelona, aniria forjant un estil molt personal en els seus retaules expressionistes i plens d'ironia sobre una &#232;poca de repressi&#243; i agitaci&#243;, de dictadura i contracultura. I, ultrapassant tamb&#233; el per&#237;ode assenyalat abans, una obra com <i>Full blanc</i> (1974-77), de Manel Muntaner, inspirada per la lectura de Beckett.</p>
<p>  </p>
<p> Despr&#233;s del 1972, per&#242;, s'imposar&#224; una altra opci&#243; que comportar&#224; el retorn al documentalisme al servei de la informaci&#243; pol&#237;tica i de la noci&#243;
de cinema militant, com en el cas de Portabella i els seus immediats; o Lloren&#231; Soler, que abjur&#224; en aquell moment de molts dels seus films anteriors; o tamb&#233; Joaquim Jord&#224;, que torn&#224; a la realitzaci&#243;
amb <i>Numax presenta</i>
(1979), cr&#242;nica d'una lluita obrera; endem&#233;s dels grups i col.lectius com el Grup de Producci&#243;, la Cooperativa de Cinema Alternatiu, el Colectivo de Cine de Clase, entre altres, i amb la Central del Curt com a estructura de distribuci&#243;.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Potser grinyola molt que tot seguit m'ocupi d'un aspecte tan diferent a l'anterior com &#233;s el del cinema (i v&#237;deo) d'artistes, per&#242; en certa manera hi veig uns punts de parten&#231;a i d'arribada semblants. De parten&#231;a, en el sentit que pot entreveure's un mateix impuls que el que d&#243;na lloc a l'emerg&#232;ncia entre nosaltres d'un cinema independent, experimental o d'avantguarda (o que &#233;s pres com a tal en el seu temps i context). I d'arribada, perque el q&#252;estionament conceptualista de la producci&#243;
art&#237;stica, unit a la radicalitzaci&#243; ideol&#242;gica davant de la situaci&#243; pol&#237;tica, aconduir&#224; en gran part a un replantejament sever de les activitats individuals (fins l'extrem de l'inacci&#243;) i les actituds col.lectives (fins l'extrem del debat continu). En el cas del cinema (i v&#237;deo) d'artistes, aix&#242; es trasllueix parcialment en les connotacions sociol&#242;giques o cr&#237;tiques que prenen alguns treballs (ans tamb&#233; pel nombre minvant de realitzacions).</p>
<p>  </p>
<p> Per&#242; torno al punt de parten&#231;a, que &#233;s en definitiva el de l'inter&#232;s i l'apropament d'un cert nombre d'artistes cap al mitj&#224; f&#237;lmic. Alguns noms els he esmentat ja: la influent personalitat de Joan Brossa (que ja el 1948 havia tractat de fer un film), un arquitecte tan &quot;artista&quot; com Ricardo Bofill, un pintor que esdev&#233; cineasta com Antoni Padr&#243;s, o els germans Duran, en les realitzacions dels quals vull detenir-me un moment. I aix&#242;, perque els films de Joan Duran Benet, un dels joves pintors que llavors emergien, i el seu germ&#224; Oriol, s&#243;n for&#231;a singulars en relaci&#243; a les est&#232;tiques predominants en el seu moment
(final dels anys 60), per la seva proximitat a &#8212;i, entre nosaltres, anticipaci&#243; de&#8212; una mena de cinema personal, vivencial, casol&#224;, gaireb&#233; familiar, per&#242; ple de bigarraments i met&#224;fores visuals, que s'havia desenvolupat principalment en el marc de l&#8217;<i>underground</i> nord-americ&#224; (Stan Brakhage, Ron Rice, per citar-ne nom&#233;s dos exponents); aix&#237; com per que els Duran foren dels primers en treure-li suc experimental a uns mitjans en principi tan limitats com els dels petits formats de 8mm.</p>
<p>  </p>
<p>
&#201;s hora tamb&#233; de comen&#231;ar a parlar de v&#237;deo i, pel que sembla, els germans Duran serien tamb&#233;
dels primers a haver experimentat amb aquest mitj&#224; (tot i que de manera totalment ocasional); aix&#242; l'any 1969, amb <i>Daedalus Video</i> i en el marc d'una projecci&#243; dels seus <i>Daedalus Films</i> i altres t&#237;tols.
Formant tamb&#233; part d'aquesta nova generaci&#243; que es donava a con&#232;ixer en la pintura i amb la inquietud d'explorar uns nous mitjans, &#192;ngel Jov&#233; realitz&#224; <i>After</i>
(1969-70) en 8mm, al mig de la projecci&#243; del qual hi feia una petita performance; i, amb S&#237;lvia Gubern, Antoni Llena, Jordi Gal&#237; i Zush, el v&#237;deo <i>Primera Muerte</i>
(1970), que personalment recordo menys desmanegat, m&#233;s interessant, que el film susdit de Jov&#233; en solitari. A partir del 1971, Antoni Muntadas utilitzar&#224; tamb&#233; tant el super-8 com el v&#237;deo, i cada cop m&#233;s aquest darrer mitj&#224;; per&#242;, abans de continuar, he de referir-me a un aspecte caracter&#237;stic del conceptualisme.</p>
<p>  </p>
<p> El gruix de la producci&#243; f&#237;lmica conceptualista representa un &#250;s instrumental molt particular del mitj&#224; (usualment a trav&#233;s del format super-8, per&#242; tamb&#233; del 16mm en alguns casos). El film-document, com se l'anomenava, entra aix&#237;
en el grup dels &quot;nous mitjans art&#237;stics&quot; (junt amb, per exemple, la fotografia, la fotoc&#242;pia, la publicaci&#243;, etc.; &#233;s a dir, els mitjans de reproducci&#243; moderns), com a vehicle de les idees, accions, &quot;projectes&quot; o creacions ef&#237;meres: accions corporals de Jordi Benito, Francesc Abad, Olga Pijuan; accions t&#224;ctils i subsensorials de Muntadas i Llu&#237;s Utrilla; mesuraments i treballs sobre el paisatge d'Abad; rituals del grup de catalans a Paris; inflables de Ponsat&#237;, i un breu etc&#232;tera. En general, i d'una manera for&#231;a premeditada, no tenen inter&#232;s com a films; m'estalvio doncs de parlar-ne, perque no tindria cap sentit si no fos a trav&#233;s d'una consideraci&#243; m&#233;s &#224;mplia del treball de cadascun d'aquests artistes. Potser cal afegir, per&#242;, que una caracter&#237;stica for&#231;a comuna a l'art conceptual o alternatiu d'aquest per&#237;ode &#233;s, pel que fa a l'&#250;s dels nous mitjans, el simultani ref&#250;s d'una elaboraci&#243; que acondu&#237;s a una avaluaci&#243; est&#232;tica aut&#242;noma (per exemple, d'un film en tant que &quot;cinema&quot;). La utilitzaci&#243;
que inicialment fan del v&#237;deo Muntadas, Francesc Torres, &#192;ngels Rib&#233;, Carles Pujol i alguns m&#233;s &#8212;no gaires, doncs era llavors un mitj&#224; for&#231;a inaccessible&#8212; t&#233; aix&#237; mateix unes caracter&#237;stiques semblants, fora d'algunes experi&#232;ncies primerenques amb el circuit tancat i les seves dimensions participat&#242;ria i espacial (Muntadas, Carles Pazos), o d'epis&#242;diques incursions posteriors en una l&#237;nia sociol&#242;gica d'altres artistes (Grup de Treball, Eul&#224;lia Grau).  Hi ha endem&#233;s els films col.lectius <i>1219 m</i>[<i>3</i>]
(1972), reflex d'un moment encara incipient de l'art conceptual entre nosaltres, i un altre sense t&#237;tol del Grup de Treball, rodat entre 1973-74 per Pere Joan Ventura i Pere Portabella, que reuniria pel que sembla (doncs fa anys que la &#250;nica c&#242;pia va desapar&#232;ixer) tant documents d'accions, com altres peces m&#233;s pensades en funci&#243; del suport cinematogr&#224;fic emprat, d'alguns dels membres del Grup.</p>
<p>  </p>
<p> Alguns artistes vinculats a l'escena conceptual/alternativa s&#237; van desenvolupar un treball experimental d'una certa extensi&#243; i rellev&#224;ncia amb el mitj&#224;
f&#237;lmic. En primer lloc, Carles Santos, que a partir del 1967 realitz&#224; una s&#232;rie de films que, al marge de qualque influ&#232;ncia d'una po&#232;tica visual brossiana, giren sobretot al voltant de la relaci&#243; so/imatge i de la m&#250;sica, amb una concepci&#243; fortament minimalista i conceptual: <i>La Cadira</i> (1968), <i>Acci&#243;
Santos</i> (1972, amb Portabella), els dos <i>Preludi de Chopin</i> (1969 i 1974), etc. Santos, que form&#224; tamb&#233; part del Grup de Treball, abandon&#224; moment&#224;niament la m&#250;sica i el seu instrument, el piano, i col.labor&#224; estretament amb Portabella en l'etapa del seu cinema militant i de cr&#242;nica pol&#237;tica. En reprendre la pr&#224;ctica musical, realitz&#224; alguns films m&#233;s, per&#242; s'allunyaria del minimalisme &quot;dur&quot; amb el curt <i>La Re Mi La...</i> (1979), un l&#250;dic homenatge a l'art de Fregoli i al de M&#233;li&#232;s en forma de pe&#231;a repetitiva per a piano i un ben assortit vestuari.</p>
<p>  </p>
<p> Benet Rossell, amb Jaume Xifra, Antoni Miralda, Joan Rabascall, Dominique Selz, Jean Pierre B&#233;ranger, o tot sol, va realitzar un grapat de films al llarg dels anys 70; tots molt diferents entre s&#237;, per&#242; reflectint el seu esperit polifac&#232;tic com artista i home de cinema (Rossell ha estat tamb&#233;
guionista d'uns quants films de ficci&#243;). Destacar&#233; nom&#233;s alguns t&#237;tols: <i>Calidoscopi</i>
(1971), en col.laboraci&#243; amb Xifra i amb m&#250;sica de Santos, film abstracte a partir dels &quot;micro-dibuixos&quot; tan caracter&#237;stics de l'obra pl&#224;stica d'en Benet; <i>Paris La Cumparsita</i> (1972), amb Miralda, en (mono)color miraldi&#224; i amb un &quot;soldat saldat&quot; a escala humana que Miralda passeja per diferents escenaris de la
<i>ville lumi&#232;re</i>; <i>Bio Dop</i>
(1974), apropiaci&#243; d'un seguit hilarant de vells filmets publicitaris d'un producte cosm&#232;tic, amb la complicitat i les imatges intercalades de Rabascall; i <i>Atr&#225;s et&#237;ope</i> (1977), farsa de l'absurd improvisada a partir d'un text extret a l'atzar d'un drama de Shakespeare.</p>
<p>  </p>
<p> Hi ha tamb&#233; aquest conceptualista tan particular, potser m&#233;s aviat pataf&#237;sic, que &#233;s Jordi Cerd&#224;, amb una for&#231;a extensa i idiosincr&#224;tica filmografia en petit format.
Aix&#237;, Cerd&#224; ha extret una po&#232;tica conceptual d'una imatge magrittiana gaireb&#233; est&#224;tica, per&#242; no del tot, puix &#233;s de fabricaci&#243; cinematogr&#224;fica (<i>Magritte Temps</i>, 1971); de les definicions d'un diccionari corresponents a una s&#232;rie d'estris i materials art&#237;stics (<i>Definicions</i>, 1975); d'un mostrari de colors filmat en blanc i negre (<i>La gamma de Lorilleux i altres tons</i>, 1978, amb text de Quim Monz&#243;); o fins i tot del forat del cul, imperceptible per&#242; materialitzat en la perforaci&#243; dels fotogrames de la imatge pertinent (<i>Cul</i>, 1973).</p>
<p>  </p>
<p> Una incursi&#243; m&#233;s breu, per&#242;
for&#231;a interessant fou la de Ferran Garc&#237;a Sevilla amb els seus films i proposicions f&#237;lmiques de 1973-74, emprant tamb&#233; el petit format (<i>Moviments</i>, <i>Paraula</i>, <i>Imatge</i>)
o exposant tot just sobre el paper &quot;m&#237;nimes&quot; idees (un xic a la manera dels guions de Yoko Ono i altres artistes de Fluxus).
<i>Part/Tot: Puig Antich</i>
(1974), film que reflecteix una transici&#243; del treball de Garc&#237;a Sevilla del formalisme ling&#252;&#237;stic cap a q&#252;estions de pol&#237;tica i autoritarisme, juxtaposava la deconstrucci&#243; en plans curts d'una p&#224;gina del peri&#242;dic sensacionalista <i>El Caso</i> relativa a l'execuci&#243; de Salvador Puig Antich amb el &quot;Diario Hablado&quot; de RNE del dia corresponent a cada projecci&#243; del film.</p>
<p>  </p>
<p> Els films d'Eug&#232;nia Balcells tracten per una banda de les imatges i estereotips dels <i>mass media</i>, com la resta de les instal.lacions i treballs amb que es va donar a con&#232;ixer, per&#242;
tamb&#233; de les imatges personals: ja sigui un vell &#224;lbum de postals a trav&#233;s del qual recrea passatges d'un temps passat (<i>&#192;lbum</i>, versions de 1975 i 1978), o escenes d'accions i gestos quotidians que fan pensar en un film familiar, organitzat per&#242; segons una rigorosa estructura &quot;fugada&quot; de moviments i sobreimpressions, temps i espais (<i>Fuga</i>, 1979). Altres realitzacions es deriven d'un treball sobre imatges/situacions estereotipades del cinema de ficci&#243;, l'intitulat
<i>Re-prise</i>
(1976-77), i dels treballs sobre la imatge de la dona (i de la parella) en els mitjans de masses, d'on es derivar&#224; a la vegada la seva primera realitzaci&#243; videogr&#224;fica, <i>Travessant llenguatges</i> (1981), amb la que en certa manera clouria una etapa que el llenguatge de l'&#232;poca hauria qualificat de &quot;sociol&#242;gica&quot;.</p>
<p>  </p>
<p> Pel que fa al v&#237;deo, alguns artistes han evolucionat de l'&#250;s merament documental i instrumental ja consignat, cap a un &#250;s m&#233;s conscient de les seves caracter&#237;stiques, tant a trav&#233;s de cintes com en instal.lacions multicanal i multim&#232;dia. En el cas de Muntadas, aix&#242; s'esdev&#233; de manera paral.lela a la reorientaci&#243; que va prenent el seu treball a partir del 1974, de les microcomunicacions sensorials cap el
&quot;mediaentorn&quot; o paisatge dels mitjans de comunicaci&#243; de masses. En aquest sentit, la instal.laci&#243; multicanal <i>The Last Ten Minutes</i>
(versions de 1976 i 1977) i cintes com <i>Li&#232;ge 12.9.77</i>
(1977), <i>On Subjectivity (About TV)</i>
(1978) i <i>Between the Lines</i>
(1979) proposen diferents percepcions cr&#237;tiques des del mitj&#224; v&#237;deo i sobre el medi TV. D'altra banda, algunes de les activitats que desenvolup&#224; aqu&#237;, com <i>Cadaqu&#233;s Canal Local</i> (1974) i
<i>Barcelona Distrito Uno</i>
(1976), encetaren entre nosaltres una concepci&#243; alternativa de la informaci&#243; televisiva, servint-se del v&#237;deo per a bastir el que hom pot considerar com experi&#232;ncies-pilot de TV local/comunit&#224;ria.</p>
<p>  </p>
<p> Francesc Torres es serveix tant del film (super-8, sovint en bucles de projecci&#243; continua) com del v&#237;deo, primer en les seves performances i despr&#233;s en instal.lacions amb les que desenvolupa un llenguatge multim&#232;dia molt personal, en el que el v&#237;deo pren una pres&#232;ncia m&#233;s important a partir de
<i>Residual Regions</i>
(1978). Al seu torn, Torres es decanta en aquest per&#237;ode d'un art del comportament recl&#242;s en la psicologia i la narraci&#243;
autobiogr&#224;fica, cap a la interpretaci&#243; no tant del comportament individual com de la conducta humana i les seves manifestacions m&#233;s irracionals o corruptes, amb la implicaci&#243; de les ci&#232;ncies humanes i socials a trav&#233;s d'un ventall de refer&#232;ncies tan vast com el dels diferents mitjans emprats.</p>
<p>  </p>
<p> Antoni Miralda tamb&#233; ha utilitzat repetidament el film i el v&#237;deo en el marc d'instal.lacions multim&#232;dia (endem&#233;s de com a document), com en el cas de <i>Breadline</i>
(1977) &#8212;a prop&#242;sit d'alguns dels seus temes predilectes: el menjar i la diversitat de cultures&#8212; i a <i>Charlie Taste Point</i> (1979), doble instal.laci&#243; realitzada a (i sobre) la dividida ciutat de Berl&#237;n.</p>
<p>  </p>
<p> Per Carles Pujol, finalment, el v&#237;deo ser&#224; sobretot un mitj&#224; amb el que perllongar una recerca essencialment pl&#224;stica, amb l'afegit de l'element temps; una manera de multiplicar les perspectives i variacions de les formes i els espais, i de jugar amb paradoxes visuals i mentals. Els v&#237;deos
<i>Homenatge a Erik Satie</i>
(1976), <i>Tres temps</i>
(1979), <i>81x65</i>
(1980) i, m&#233;s tard, <i>Puzzle</i>
(1983) formen un conjunt compacte de successives propostes i variacions que es resolen amb gran despullament en la superf&#237;cie de la petita pantalla, mentre que amb <i>Treballs d'espai</i> (1977) s'apunta l'&#250;s que far&#224; del v&#237;deo en les instal.lacions dels anys 80.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Em permeto ara ser (encara) m&#233;s subjectiu per tal de descriure una escena final &#8212;i, finalment, terminal&#8212; amb la que revifen per un moment les idees de cinema experimental i <i>underground</i> entre nosaltres. I pel que jo vaig tenir-hi a veure, en faig un relat en primera persona.</p>
<p>  </p>
<p> Al principi, suposo que com sempre, hi ha una s&#232;rie d'encontres fortu&#239;ts o interessats (endem&#233;s d'unes punxades personals, &#233;s clar). Per exemple, amb Jos&#233; Miguel G&#243;mez, de Madrid, vaig endegar un parell de curioses hibridacions d'unes escenes que havien entrat ja en una etapa cr&#237;tica, sense que potser ho advertissim prou en aquell moment: primer, la mostra <i>Films/Arte</i>
(Madrid-Barcelona, 1976) apleg&#224; films d'Abad, Muntadas, Miralda, Garc&#237;a Sevilla, Pazos o Valc&#225;rcel Medina, amb els de Portabella, Padr&#243;s i, fins i tot, un cert Pedro Almod&#243;var; i, tot seguit, el film col.lectiu <i>En la ciudad...</i> (1976-77)
reun&#237; les aportacions d'Abad, Muntadas, Miralda, Rossell, Rabascall, Torres, Balcells o Eul&#224;lia, i les d'Iv&#225;n Zulueta, Juan Bufill, Manuel Huerga o Mireia Sent&#237;s, entre molts altres. Tot aix&#242; no tindria m&#233;s conseq&#252;&#232;ncies, per&#242; entremig s'havien establert noves complicitats, afinitats o col.laboracions de les que s'esdevindria en part un cert renovellament tant de l'activitat f&#237;lmica com de la videogr&#224;fica.</p>
<p>  </p>
<p> No m'entretindr&#233; a rememorar petites batalles o aventures, en general perdudes o fracassades en la mesura en que pretenien fer lloc per a quelcom que estava fora de lloc; de manera que tot es quedava en disc&#242;rdies m&#233;s o menys end&#242;genes entre petits grups irreconciliables. He de referir-me nom&#233;s a uns quants cineastes, m&#233;s aviat afeccionats, que aspir&#224;vem un cop m&#233;s a fer un cinema experimental, &quot;nou&quot;, o almenys personal i diferent, fins i tot si ho havia de ser a &quot;petita escala&quot;.</p>
<p>  </p>
<p> Preniem com a refer&#232;ncia el cinema independent que teniem m&#233;s a prop, per&#242; hi afegiriem un coneixement essencial &#8212;que la generaci&#243; anterior en general no tenia&#8212; del cinema experimental/<i>underground</i> que es feia o s'havia fet en altres paratges. (Aproximadament a partir del 1973, a la Filmoteca, l'Institut Alemany de Cultura i alguna altra entitat es poden veure diversos cicles de cinema experimental contemporani). Hom tendiria aix&#237; cap a un cinema m&#233;s visual i menys literari; m&#233;s preocupat per la estructura de la imatge, que no pas per la del relat (o, per dir-ho d'una altra manera, m&#233;s sota la influ&#232;ncia de Brakhage, Warhol, Garrel o Nekes, que de Bu&#241;uel, Godard o Straub).</p>
<p>  </p>
<p> Una de les caracter&#237;stiques &#233;s, pel que fa al suport, l'&#250;s del petit i privat format del super-8, del que crec que en general en vam treure profit, per&#242; que aviat trobarem insatisfactori i massa limitat. Alguns vam fer en conseq&#252;&#232;ncia el pas cap al format superior del 16mm, per&#242; aix&#242; v&#233;
a coincidir si fa no fa amb un al&#231;a dels preus de la plata, i per tant de la pel.l&#237;cula, que feia inviable seguir treballant amb els limitats recurssos de l'autoproducci&#243;. (Tot el cinema independent entraria de fet en agonia).</p>
<p>  </p>
<p> Una altra cosa a remarcar &#233;s la varietat dels procediments i les tend&#232;ncies: de les t&#232;cniques de tractament de la imatge per refilmaci&#243; del material original, als assaigs amb multiprojeccions i amb formes de (film-)instal.laci&#243;; i del subjectivisme del film personal, &#237;ntim, po&#232;tic, contemplatiu o d'expressi&#243; individual, a l'inexpressionisme del film minimal, estructural, formal o d'organitzaci&#243; sistem&#224;tica. (Em serveixo aqu&#237;
d'una gerga especialitzada que no s'adiu prou amb les freq&#252;ents mixtures o oscil.lacions que jo adverteixo en molts dels treballs).
Entre els factors comuns &#8212;generacionals, tamb&#233; podria dir-ne&#8212;, hi ha finalment la m&#250;sica, una certa m&#250;sica (rock, o amb arrels en el rock); aix&#242; sovint determina una certa debilitat dels treballs, perque el so no est&#224; treballat de manera equivalent amb la imatge, sin&#243; que &#233;s m&#233;s que res prefer&#232;ncia o atm&#242;sfera, i trivialitza d'alguna manera l'aparen&#231;a de determinats films, que podrien ser vistos com els proto-videoclips d'uns afeccionats (a la m&#250;sica, tant com a la imatge), malgrat que en aquest aspecte potser tamb&#233; serien encara for&#231;a interessants. No hi ha en tot cas una homogeneitat, s&#237;
unes afinitats. I, tot i que en alguns casos, hi ha provatures i oscil.lacions en diverses direccions (tamb&#233; la ficci&#243; i el documental), la preocupaci&#243; i delectaci&#243; per i en la imatge seria una constant.</p>
<p>  </p>
<p> De Manuel Huerga nom&#233;s recordar&#233;
<i>Brutal Ardour</i>
(1978-79), on el material rodat originalment fou reelaborat (per refilmaci&#243; a trav&#233;s d'una pantalla lectora de microfilm) de manera an&#224;loga a la m&#250;sica de Brian Eno utilitzada en la banda sonora (les seves Variacions sobre el <i>C&#224;non</i> de Pachelbel), de manera que les preciosistes imatges fan entreveure una hist&#242;ria (rom&#224;ntica), difuminada per&#242; per l'accent posat en els aspectes formals i materials.</p>
<p>  </p>
<p> D'entre la prol&#237;fica producci&#243;
de Carles Comas, potser en remarcaria els collages d'imatges agafades de la TV o d'altres fonts, tractades (tamb&#233; per refilmaci&#243;) i combinades amb imatges originals, des de <i>Fotos de espectros</i> (1977), contrast d'imatges er&#242;tiques portades a l'abstracci&#243; amb imatges de viol&#232;ncia i destrucci&#243; preses del televisor, a <i>Quieto todo el mundo</i> (1981, amb Quim Molin&#233;), basat en les emissions televisives de la jornada del 23-F, i <i>Hotel Parad&#237;s</i> (1981), deriva urbana i de l'imaginari.</p>
<p>  </p>
<p> Sierra Fornells, similarment prol&#237;fic i amb eventuals incursions menys reeixides en la ficci&#243;, va fer les seves obres m&#233;s interessants a partir tamb&#233; de la suma de materials i exercicis visuals heter&#242;clits, sovint organitzats en doble projecci&#243; (com a <i>Paisatges interns</i>, 1978), de l'esguard de la q&#252;otidianitat (<i>Faccions</i>, 1978) o de la il.lustraci&#243; adient d'un tema musical (<i>Frankie</i>, 1981).</p>
<p>  </p>
<p> De Jos&#233; Luis Guer&#237;n, que aix&#242;
del cinema experimental s'ho mirava un xic m&#233;s de lluny, en destacaria el seu primer film, <i>La hagon&#237;a de Agust&#237;n</i>
(1976), on la persecuci&#243; i la mort de l'escarabat Agust&#237;n era un pretext per a una reivindicaci&#243; de l'espontaneitat i les &quot;faltes d'ortografia&quot;; aix&#237; com, des d'un punt de vista formal, jo hi veia tota una exposici&#243; de la tensi&#243; entre superf&#237;cie i profunditat en la imatge f&#237;lmica.</p>
<p>  </p>
<p> A Tarragona, Marcel Pey, a qui llavors teniem per una mena estranya de poeta amb flaques visuals i musicals, traspuava en els seus films una devota fascinaci&#243; per Warhol i Garrel i per les imatges amanerades i est&#224;tiques, amb prefer&#232;ncia exposades amb uniformitat monocroma i llargues durades
(<i>Overkill</i>, 1976; <i>L'ull cibern&#232;tic</i>, 1977).</p>
<p>  </p>
<p> Juan Bufill realitz&#224; una s&#232;rie de films molt breus (generalment entre tres i cinc minuts de durada), de caire minimalista &#8212;o, com ell preferia dir-ne, &quot;essencialista&quot;&#8212;, amb un humor i una sensibilitat molt particulars; concebuts com a parts o segments d'un &#250;nic i hipot&#232;tic film que devia anomenar-se
<i>Cuadros y canciones</i>, a la manera d'un recull de poemes (visuals), paral.lels a la seva pr&#242;pia obra po&#232;tica (escrita).</p>
<p>  </p>
<p> Pel que fa a mi, dir&#233; que les realitzacions en super-8, com els projectes sobre el paper, eren maneres d'imaginar la resoluci&#243; d'una idea, essent el film mateix un esb&#243;s; ja fos per tractar de &quot;dictar&quot; o violentar l'actitud del p&#250;blic &#8212;per exemple, a trav&#233;s d'instruccions escrites (<i>Texto 1</i>, 1975) o d'intensitats feridores de la percepci&#243; (<i>Photomatons</i>, 1976)&#8212;, ja fos imaginant combinat&#242;ries i retorciments dels elements constitutius de la imatge/mat&#232;ria f&#237;lmica.   He de dir que Eug&#232;nia Balcells tamb&#233; particip&#224; molt activament en aquesta escena, i ara hi afegir&#233; doncs el film que vam realitzat tots dos conjuntament, <i>133</i>
(1978-79), el qual parteix exclusivament de materials (visuals i sonors) &quot;trobats&quot;, per tal de jugar amb les convencions de la relaci&#243; imatge/so amb una certa ironia, i introduir-hi despla&#231;aments i variacions m&#233;s o menys subtils.</p>
<p>  </p>
<p> Finalment, voldria completar el relat de l'activitat videogr&#224;fica en aquests anys. En realitat, no hi ha massa m&#233;s coses a dir, per&#242; potser s&#237; destacar que comen&#231;a a obrir-se un ventall m&#233;s gran d'usos art&#237;stics i alternatius entre nosaltres; tant pel cant&#243; del documentalisme, el v&#237;deo comunitari i sociol&#242;gic (el grup V&#237;deo-Nou, les primeres realitzacions de Lala Gom&#224;, Carles &quot;S&#232;fer&quot; Pastor, Juli&#225;n Alvarez), com perque la creaci&#243; videogr&#224;fica comen&#231;a a ser m&#233;s plural i variada, en atansar-se al mitj&#224; persones de diverses proced&#232;ncies, amb inquietud per l'&#224;udio-visual i la imatge en general, incloent-hi per exemple algunes refrescants incursions des del m&#243;n del c&#242;mic
(Mariscal, Onliy&#250;, Montesol, El Hortelano).</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> M'he entretingut a descriure unes activitats compreses entre unes dates que s&#243;n aproximadament les mateixes que vol abastar l'exposici&#243; retrospectiva a la que aquesta p&#250;blicaci&#243; acompanya, per&#242; &#233;s inevitable que em refereixi breument al que ha succe&#239;t despr&#233;s i a quina &#233;s la situaci&#243;
actual. Despr&#233;s d'un megamix aital, no &#233;s f&#224;cil generalitzar.
Per&#242;, en primer lloc, jo diria que ja no es pot parlar de cinema experimental, ni de cinema independent o alternatiu en general, perque entre nosaltres ja no n'hi ha. En part s'hauria canalitzat cap al v&#237;deo (Eug&#232;nia Balcells, Benet Rossell, Lloren&#231; Soler, Orestes Lara, Manel Muntaner, Carles Comas, Jordi Torrent, Joan Pueyo, endem&#233;s de tots els que hi han anat de dret). O fins i tot en programes televisius creatius (Manuel Huerga, Juan Bufill, Carles Comas, Joan Mallarach, Ferran Garc&#237;a Sevilla, jo mateix). En part, tamb&#233; a trav&#233;s del cinema professional o, almenys, ja no tan marginal o <i>underground</i> com abans; i com una mena de cinema que jo no anomenaria ja
<i>experimental</i>, ans si de cas <i>excepcional</i>
(Jos&#233; Luis Guer&#237;n, Jes&#250;s Garay, Jordi Cadena, Manuel Cuss&#243;, endem&#233;s de les reaparicions de Pere Portabella, Antoni Padr&#243;s o Joaquim Jord&#224;). Pel que fa al cinema d'artistes, avui el podriem veure com un fen&#242;men propi d'una altra &#232;poca; no aix&#237; el v&#237;deo, utilitzat avui normalment per diversos artistes, ja sigui de manera m&#233;s substancial (Muntadas, Torres, Balcells o Pujol) o acces&#242;ria
(Miralda o Abad).</p>
<p>  </p>
<p> Finalment, hom podria fins i tot posar en dubte si &#233;s del tot adient l'aplicaci&#243; d'unes idees rebudes (d'uns altres contextos i situacions) com aquestes de cinema experimental, cinema d'artistes o v&#237;deo-art, puix que en general les seves manifestacions entre nosaltres no s'han produ&#239;t d'una manera organitzada o prou organitzada, sin&#243; com aventures i expressions solit&#224;ries o de grups for&#231;a diminuts, sota la norma de les dificultats, la discontinuitat, l'estranyament. Idees rebudes i finalment foragitades, el que en queda no &#233;s un conjunt s&#242;lid i reconegut, sin&#243; una s&#232;rie de cintes, films, refer&#232;ncies marginals, excepcions,... i algunes traject&#242;ries individualment coherents en la seva actitud alternativa. Tanmateix, si hom treu novament aquests materials dels polsosos prestatges o dels calaixos on molts estan desats (fora d'aquells que hom sap perduts o deteriorats irremeiablement), potser hi trobem algunes coses encara prou interessants.</p>
<p>  </p>
<p>
*     *     *</p>
<p>  </p> </body> </html>