
<p>
<b>Cine decadente: un nuevo expresionismo</b></p>

<p>
, n&#250;m. 13 (1975)</p>

<p>
Una de las corrientes m&#225;s peculiares surgidas en los &#250;ltimos a&#241;os dentro del ancho campo del cine marginal, es la que se ha bautizado con el nombre de
&#171;decadentismo&#187; o &#171;neoexpresionismo&#187; y que procede fundamentalmente de la obra de dos alemanes: Rosa von Praunheim y Werner Schroeter
</p>

<p>
Este grupo de autores y obras que se ha englobado bajo tales denominaciones ofrecen unas caracter&#237;sticas especiales dentro del &#225;mbito de la producci&#243;n marginal
</p>

<p>
En primer lugar, ideol&#243;gicamente, mantienen posturas fuertemente ligadas a grupos marginales radicales, principalmente al Gay Lib
</p>

<p>
En segundo lugar, es un cine que tiene una serie de v&#237;nculos formales con el cine establecido: 
</p>

<p>
&#8211; Concede gran importancia al actor. Incorpora las m&#237;ticas del &#171;estrellato&#187;:
la pose, el maquillaje, etc
</p>

<p>
&#8211; Introduce el barroquismo en la imagen a trav&#233;s de escenograf&#237;as recargadas y del uso de la pel&#237;cula en color
</p>

<p>
&#8211; La banda sonora se organiza en funci&#243;n de una serie de temas musicales, signos de una cultura:
&#243;peras, m&#250;sica de pel&#237;culas de Hollywood, m&#250;sica y canciones de las llamadas &#171;populares&#187;, temas orquestales, tangachos, etc
</p>

<p>
&#8211; El papel del montaje es de gran importancia
</p>

<p>
En t&#233;rminos generales se puede advertir que se trata de un cine que se opone al de Jean-Marie Straub, por ejemplo, quien propone un vaciamiento de la imagen y una simplificaci&#243;n de las estructuras del mensaje, con la intenci&#243;n de ofrecer unas informaciones m&#237;nimamente manipuladas por el aparato de expresi&#243;n. Sin embargo, como veremos m&#225;s tarde, se produce una ruptura con todos los elementos del cine establecido; y, a pesar de ello, resulta digerible
</p>

<p>
En tercer lugar, estos realizadores
(hablo de Schroeter y Von Praunheim) han tenido amplio acceso a canales inimaginables dentro del underground, como son la televisi&#243;n y la producci&#243;n comercial. Asimismo, el suizo-alem&#225;n Daniel Schmid realiza su obra en el marco de la producci&#243;n comercial, aunque con grandes dificultades debidas a la situaci&#243;n de la industria cinematogr&#225;fica en Suiza
</p>

<p>
Respecto a los puntos de vista circulares sobre el &#171;decadentismo&#187; &#8211;seg&#250;n los cuales nos encontramos ante una revalorizaci&#243;n retro, nost&#225;lgica y algo ir&#243;nica de una est&#233;tica kitsch, una vuelta al Kammerspiel y a Josef von Sternberg&#8211;, me parecen m&#225;s interesantes aquellos que tratan estas obras como operaciones de codificaci&#243;n-descodificaci&#243;n de la gram&#225;tica visual del melodrama
</p>

<p>
Esta preocupaci&#243;n por el estudio de una serie de signos f&#237;lmicos, portadores de una determinada informaci&#243;n, es una de las tendencias m&#225;s rigurosas que podemos encontrar en el underground alem&#225;n, en los diversos niveles del film estructural (Werner Nekes, Wilhelm y Birgit Hein), del informalismo
(Dore O) o del cine personal (Klaus Wyborny, Gerhard Theuring)
</p>

<p>
Para delimitar el campo de trabajo, me basar&#233; en obras de Von Praunheim, Schroeter, Schmid y en un film de un espa&#241;ol residente en Par&#237;s, <i>Les intrigues de Sylvia Couski</i>
de Adolfo Arrieta
</p>

<p>
Rosa von Praunheim<i>,
</i>cuyo verdadero nombre es Holger Mischwitzky ha sido ayudante de Gregory Markopoulos y ha colaborado ampliamente con Werner Schroeter. Un ejemplo de sus primeras obras se pudo ver en la Filmoteca con el t&#237;tulo <i>Von Rosa von Praunheim</i>. Una de sus obras m&#225;s conocidas es el film-documento titulado <i>No es el homosexual el perverso sino la situaci&#243;n en que vive; </i>Von Praunheim realiz&#243; tambi&#233;n un estudio sociol&#243;gico sobre la homosexualidad en Alemania. En 1973 rueda en 35 mm una versi&#243;n de una obra de Auguste Villiers de l&#8217;Isle-Adam, <i>Axel Von Auersberg</i> (estrenada el a&#241;o pasado en Par&#237;s con el t&#237;tulo de <i>Axel</i>).
La pel&#237;cula, extremadamente lenta, est&#225; dividida en dos partes; la primera en un blanco y negro azulado y la segunda, en color. Los subt&#237;tulos escaseaban intencionalmente, ya que el realizador manifest&#243; que solo era necesario tener una idea del argumento y fijarse sobre todo en la pantalla, en los actores y en los decorados
</p>

<p>
Werner Schroeter<i>
</i>inicia su producci&#243;n en 1967-1968 trabajando en 8 mm. Luego pasa al 16 mm con <i>Argila</i>
y <i>Neurasia</i>
(esta &#250;ltima proyectada tambi&#233;n en la Filmoteca el a&#241;o pasado).
Luego viene <i>Eika Katappa</i>, que tras obtener un premio en el festival de Mannheim, es comprada por la televisi&#243;n y es emitida dos veces; una de ellas, la noche de Navidad. La televisi&#243;n le contrata y produce cuatro pel&#237;culas con toda libertad. <i>Macbeth</i>, originalmente sobre banda v&#237;deo, causar&#225; un peque&#241;o esc&#225;ndalo debido a la versi&#243;n musical que Schroeter hace de la obra de Shakespeare con tangos y boleros. Tras realizar dos importantes obras en 1972, <i>Der Tod der Maria Malibran</i> y <i>Willow Springs</i>, pasa a la producci&#243;n comercial con una pel&#237;cula que llevar&#225; el t&#237;tulo de
<i>Todos los marinos del mundo</i>
</p>

<p>
La obra de Schroeter va aumentando en perfecci&#243;n. En sus declaraciones revela un cinismo caracter&#237;stico:</p>

<p>
&#171;El anarquista es el <i>clown</i>
de la burgues&#237;a.&#187;</p>

<p>
&#171;Soy tan individualista que ni siquiera puedo ser anarquista.&#187;</p>

<p>
&#171;La decadencia es impresionante y yo formo parte de ella, quiz&#225; por mi origen burgu&#233;s y mi cultura&nbsp;espec&#237;ficamente germ&#225;nica.&#187;</p>

<p>
&#171;Hay que pasar de las etiquetas de buen y de mal gusto, pues ya estamos cansados de ver cosas est&#233;ticamente perfectas con las cuales uno no se comunica.&#187;</p>

<p>
&nbsp;</p>

<p>
Otro elemento caracter&#237;stico de Schroeter es el uso de ciertos actores fijos como Magdalena Montezuma, Carla Aulaulu, Gisela Trowe, Mascha Elm-Rabben y los travestis Manuela Riva y Candy Darling
</p>

<p>
Daniel Schmid, suizo-alem&#225;n, expone una visi&#243;n refinada y conserva un cierto hilo narrativo que da a su obra una mayor fluidez frente a los films de Schroeter. Los largometrajes de Schmid, <i>Heute nacht oder nie </i>(Esta noche o nunca) y <i>La Paloma</i>, este &#250;ltimo estrenado recientemente en Barcelona, muestran un trabajo cuidadoso de reconstrucci&#243;n de un melodrama a partir de los arquetipos configurados. Por otra parte, en <i>La Paloma</i> hallamos una construcci&#243;n muy diferente a la de <i>Eika Katappa</i>
</p>

<p>
Adolfo Arrieta bebe del decadentismo en su <i>Les intrigues de Sylvia Couski</i>, donde la presencia de los travestis, junto con la banda sonora y un montaje muy deslavazado dan una visi&#243;n de un Par&#237;s sofisticado y con mucho
<i>glamour</i>
</p>

<p>
El film de Arrieta, que fue programado en la Filmoteca a primeros de este a&#241;o, re&#250;ne las suficientes caracter&#237;sticas para convertirlo en un film chocante y un tanto indigesto.<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a>
</p>

<p>
A pesar de todo, el film de Arrieta ha tenido un gran &#233;xito y despu&#233;s de ganar un premio en el sector de &#171;cine diferente&#187; del Festival de Toulon, se ha paseado por varias cinematecas y est&#225; previsto su estreno en una sala especializada de Par&#237;s
</p>

<p>
Se observa, pues, un cierto &#233;xito del cine decadente, lo que demuestra que el factor provocaci&#243;n ha sido desplazado en buena medida del modelo surrealista cinematogr&#225;fico. La asincron&#237;a de Schroeter, los planos secuencia y el montaje-collage son barridos en parte por la fascinaci&#243;n de la imagen y el sonido
</p>

<p>
Se advierte la aceptaci&#243;n de comercializar la obra como respuesta a uno de los problemas b&#225;sicos del underground: el nivel de difusi&#243;n y la necesidad de profesionalizar el trabajo cinematogr&#225;fico, en el sentido de vivir de ello
</p>

<p>
Precisamente los autores citados, junto a algunos otros como Hans-J&#252;rgen Syberberg, son quienes muestran una mayor proclividad dentro del cine de alternativa, a integrarse en la producci&#243;n comercial, frente a otros que lo intentan, y frente a otros que lo ignoran. El mismo Arrieta parece mostrar un cambio de direcci&#243;n frente a su l&#237;nea anterior
</p>

<p>
Un texto significativo es el de Rosa von Praunheim en el cat&#225;logo de la Documenta de Kassel de 1972. (Cito de un art&#237;culo de Martin Langbein sobre la vanguardia alemana en <i>l&#8217;Art vivant</i>, n&#250;m. 55):</p>

<p>
&#171;El cine underground o experimental muestra con qu&#233; arrogancia se sobreestima el arte. Revela, por otro lado, el poder pol&#237;tico que dan unas t&#233;cnicas cinematogr&#225;ficas simples, cuando est&#225;n en manos de las masas. [&#8230;] Espero, para m&#237;
y para mis admiradores, una muerte joven y terror&#237;fica, para dejar paso a una nueva disciplina al servicio de las aut&#233;nticas necesidades comunes.&#187;</p>

<p>
Este texto, que plantea claramente un cambio de sentido hacia una posici&#243;n de cine militante a partir de la confrontaci&#243;n con la propia pr&#225;ctica f&#237;lmica, no me parece muy coherente con su posterior <i>Axel</i>, aunque no conozco los restantes films de Von Praunheim, lo cual podr&#237;a proporcionar un indicio de la asimilaci&#243;n por el sistema a que alud&#237;a antes
</p>

<p>
<i>Eika Katappa</i></p>

<p>
El primer film clave de la obra de Schroeter y quiz&#225; de este pretendido movimiento es <i>Eika Katappa</i>. Si en <i>Neurasia</i>
la acci&#243;n se reduc&#237;a al desarrollo de unas ceremonias gestuales basadas en la m&#250;sica con una filmaci&#243;n &#171;teatral&#187;, en su obra siguiente, Schroeter construye una intriga basada en diversas series de acciones que aluden a mitolog&#237;as de tipo oper&#237;stico, germ&#225;nicas, religiosas y de &#171;culturas populares&#187;, y que son enlazadas casi aleatoriamente seg&#250;n la t&#233;cnica del film-collage. La repetici&#243;n de planos y las sucesiones de los siete motivos b&#225;sicos, junto con una banda sonora montada asincr&#243;nicamente, estructura un nivel narrativo
&#171;experimental&#187; que se obtiene por las distintas relaciones entre los signos, los cuales, a su vez, remiten a los recuerdos, im&#225;genes o intuiciones de cada espectador. En realidad, la construcci&#243;n arbitraria elimina o intenta eliminar cualquier argumento previo, mediante estos planos que se suceden de distintos lugares, personajes y tiempos, &#250;nicamente unidos por la m&#250;sica de Verdi, Puccini, Strauss, Mozart, Beethoven, Caterina Valente&#8230; Arias, pasodobles, melod&#237;as, sinfon&#237;as y muzak
</p>

<p>
La comparaci&#243;n inevitable con algunos films de Carmelo Bene se resuelve en un uso totalmente diferente de los elementos mitol&#243;gico-oper&#237;sticos; un uso distanciado y destructivo en Bene, que lo aleja de los &#171;decadentes&#187;
</p>

<p>
Schroeter reduce en cierto modo el hecho f&#237;lmico a una sucesi&#243;n de im&#225;genes (signos) y de sonidos, en que estos &#250;ltimos ordenan la temporalidad. Esta relegaci&#243;n a una pura sucesi&#243;n de im&#225;genes remite a otro nivel se&#241;alado ya por diversos cr&#237;ticos y que explica el mismo realizador: &#171;<i>Eika Katappa</i> es un poema cuyo contenido no es otro que los gestos de la vida y de la muerte, as&#237;
como de la locura. Es un ritual f&#237;sico, riguroso, elemental, pero no puritano.&#187; Dicho de otro modo, es un film er&#243;tico. 
</p>
<div id="sdfootnote1">
	<p>
	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
	Sobre
	Arrieta trata otro art&#237;culo publicado en un n&#250;mero posterior de la
	misma revista (&#171;Adolfo Arrieta: el underground reencontrado en
	Par&#237;s&#187;, ,
	n&#250;m. 23, Barcelona, 1977), en el que, sobre el film mencionado, se
	a&#241;ad&#237;a lo siguiente: &#171;Con <i>Les
	intrigues de Sylvia Couski</i>,
	Arrieta alcanz&#243; un notable .
	El retrato fascinado de un Par&#237;s donde emergen las nuevas &#8220;reinas&#8221;,
	el trivialismo y el 
	que acotan un esbozo narrativo del que solo restan unas huellas
	recortadas, ofrec&#237;an una nueva versi&#243;n de los universos coloristas
	dominados por los fulgurantes personajes-estrella de los travestis y
	los jet-boys.&#187; [Nota del autor, 2014]</p>
	<p>
	</p>
