  <ol>
	<li><h1 lang="es-ES" class="western">Del oscil&#243;grafo al chip
	prodigioso</h1> </ol> <p>  </p>
<p>  </p>
<p> Fue en los a&#241;os sesenta que se comenz&#243; a hablar de <i>computer graphics, computer movies, computer art</i>...
Seg&#250;n algunas fuentes, el primer film de im&#225;genes creadas con ordenador es el que realiz&#243; Edward E. Zajac, el a&#241;o 1963, en los laboratorios de la Bell Telephone Co. de Murray Hill, Nueva Jersey, con una finalidad de estudio y simulaci&#243;n del movimiento orbital de un sat&#233;lite artificial. Este film, de cuatro minutos de duraci&#243;n y en blanco y negro, fue realizado con un ordenador IBM 7094.</p>
<p>  </p>
<p> De una manera m&#225;s amplia, sin embargo, la generaci&#243;n electr&#243;nica de formas visuales y su modulaci&#243;n y animaci&#243;n cin&#233;tica tiene diversos antecedentes a lo largo de la d&#233;cada anterior. De hecho, algunos estudiosos del tema destacan entre los antecedentes o primeras manifestaciones de
<i>computer graphics</i> a los <i>Oscillons</i> de Ben F. Laposky, &quot;abstracciones electr&#243;nicas&quot; creadas por dicho artista desde 1950, por el procedimiento de fotografiar unas formas obtenidas en la pantalla de un osciloscopio.</p>
<p>  </p>
<p> Igualmente, en el caso de los <i>computer movies</i>, cabe recordar que algunos destacados experimentalistas cinematogr&#225;ficos, como Norman McLaren, Mary Ellen Bute, Hy Hirsh, Jordan Belson y John Whitney trabajaron tambi&#233;n en los a&#241;os cincuenta con osciloscopios y otros instrumentos electr&#243;nicos anal&#243;gicos. As&#237;, Mary Ellen Bute, para la realizaci&#243;n de
<i>Abstronics</i>
(1954) y otros de sus films, cont&#243; con la colaboraci&#243;n del Dr.
Ralph Potter, tambi&#233;n de los Laboratorios Bell, el cual dise&#241;&#243; y construy&#243; unos circuitos espec&#237;ficos que permit&#237;an una programaci&#243;n precisa del osciloscopio.</p>
<p>  </p>
<p> Es bien sabido tambi&#233;n que, hacia finales de los a&#241;os cincuenta, John Whitney se ingeni&#243; una m&#225;quina de animaci&#243;n propia, a veces descrita como un computador anal&#243;gico, a partir de elementos procedentes de viejos sistemas de detecci&#243;n antia&#233;rea. Dicha m&#225;quina la emple&#243; para la realizaci&#243;n de efectos y t&#237;tulos de cr&#233;dito en trabajos de encargo
&#8211;su contribuci&#243;n m&#225;s c&#233;lebre fue en <i>Vertigo</i>, de Hitchcock&#8211;, mientras que otras b&#250;squedas propias quedaron recogidas en su cortometraje <i>Catalog</i>
(1961). Sucesivamente, este sistema anal&#243;gico y mec&#225;nico de John Whitney, primitivo pero lleno de posibilidades, ser&#237;a magistralmente utilizado y perfeccionado por su hermano James (<i>Lapis</i>, 1963-66), su esposa &#8211;la artista Jacqueline Helen Blum&#8211; y los tres hijos del matrimonio: Michael, Mark y, m&#225;s especialmente, John Whitney, Jr.</p>
<p>  </p>
<p> Adem&#225;s de la saga de los Whitney &#8211;que todav&#237;a se podr&#237;a alargar con algunos colaboradores o disc&#237;pulos&#8211;, otros de los pioneros reconocidos del cine cibern&#233;tico en Estados Unidos fueron John Stehura, Stan Vanderbeek, Kenneth C. Knowlton, William A. Fetter, A. Michael Noll, Duane Palyka, Charles Csuri, Lillian Schwartz, Edwin Catmull, Larry Cuba... Entre estos nombres, se mezclan los de quienes proced&#237;an de una pr&#225;ctica art&#237;stica &#8211;a menudo en la demarcaci&#243;n del cine experimental&#8211;, con los de prestigiosos cient&#237;ficos, ingenieros e inform&#225;ticos; con frecuentes colaboraciones de unos con otros, as&#237; como con empresas punteras, laboratorios de investigaci&#243;n y departamentos universitarios.</p>
<p>  </p>
<p> As&#237;, a mediados de los sesentas, John Whitney hall&#243; la colaboraci&#243;n del Dr. John P.
Citron y, a trav&#233;s del mismo, de la empresa IBM, lo que le permiti&#243;
proseguir sus b&#250;squedas con el nuevo instrumental digital. Ken Knowlton, de los Laboratorios Bell, colabor&#243; sucesivamente con Stan Vanderbeek y Lillian Schwartz en diversos cortos de animaci&#243;n experimental. Otros de los primeros <i>computer movies</i> surgieron, en fin, de las actividades inherentes a laboratorios de investigaci&#243;n tecnocient&#237;fica, como los de Boeing o la NASA adem&#225;s de los ya mencionados de la Bell y de IBM; o tambi&#233;n en diversos centros universitarios. Entre estos &#250;ltimos cabe destacar el Computer Graphics Research Group, fundado por Charles Csuri en la Universidad Estatal de Ohio, y el Architecture Machine Group del Massachusetts Institute of Technology, fundado por Nicholas Negroponte.</p>
<p>  </p>
<p> Una de les primeras exposiciones de <i>computer art</i> en EE.UU. fue la presentada el a&#241;o 1965 por la Howard Wise Gallery de Nueva York. Los expositores no eran sin embargo conocidos como artistas, sino como cient&#237;ficos y t&#233;cnicos afiliados a diferentes empresas y laboratorios de investigaci&#243;n. Al margen de este detalle
&#8211;bien significativo de una &#233;poca en que el antiarte de Fluxus, por ejemplo, conviv&#237;a con la celebraci&#243;n de las colaboraciones entre arte y tecnolog&#237;a&#8211;, ese mismo a&#241;o de 1965 constituye todo un hito en la historiograf&#237;a del v&#237;deo como medio art&#237;stico. Y la misma galer&#237;a de Howard Wise habr&#237;a de presentar, cuatro a&#241;os despu&#233;s, una de las primeras exposiciones colectivas de videoarte: <i>TV as a Creative Medium</i>
(1969).</p>
<p>  </p>
<p> En la historia propia del videoarte, la s&#237;ntesis y el tratamiento o procesado electr&#243;nico de las im&#225;genes son aspectos precozmente anticipados.
Nam June Paik, Eric Siegel, Stephen Beck, Bill y Louise Etra, Bill Hearn, Dan Sandin, Woody y Steina Vasulka son algunos de los artistas que, a finales de los sesentas y a lo largo de los setentas, se construyeron o adaptaron sus propios instrumentos para la generaci&#243;n y manipulaci&#243;n de formas visuales (y, a veces, tambi&#233;n sonoras), ya fuera partiendo de sus intuiciones y por sus propios conocimientos t&#233;cnicos, o bien con la colaboraci&#243;n de ingenieros o &#8220;manos h&#225;biles&#8221; en terrenos de la electr&#243;nica: Paik con Shuya Abe; los Etra con Steve Rutt; los Vasulkas con George Brown, Donald MacArthur i Jeffrey Schier. En algunos casos, adem&#225;s, poniendo sus ingenios al libre alcance de cualquier otra persona o entidad que quisiera utilizarlos; concretamente, tanto Paik como Sandin rehusaron la reclamaci&#243;n de una patente. Colorizadores, sintetizadores de v&#237;deo, procesadores de im&#225;genes y de su trama de l&#237;neas y p&#237;xeles, se a&#241;adieron as&#237; al <i>feedback</i> de la se&#241;al de v&#237;deo, el mezclador, el generador de efectos, la incrustaci&#243;n o <i>chroma-key</i>, etc.; aparatos, t&#233;cnicas o recursos comunes pero de uso entonces infrecuente o restringido a determinados formatos televisivos.</p>
<p>  </p>
<p> En gran parte, dichos aparatos pertenecen a una generaci&#243;n anal&#243;gica y son el resultado de un bricolaje vocacional que logra, sin embargo, algunas posibilidades sorprendentes. Y no es hasta principios de los setentas que hallamos m&#225;quinas m&#225;s sofisticadas como el Scanimate, detr&#225;s de la cual hay ya una empresa: la Dolphin Computer Image Corporation.
Ed Emshwiller, por ejemplo, se sirvi&#243; brillantemente de dicho aparato en cintas como <i>Scape Mates</i>
(1972) y <i>Crossings and Meetings</i>
(1974); en esta &#250;ltima, en combinaci&#243;n con un novedoso sistema de videodisco.</p>
<p>  </p>
<p> Aquellos primitivos videosintetizadores que tanto nos maravillaron en los programas de videoarte de no hace tantos a&#241;os, quedaron luego arrinconados por la ultim&#237;sima pirotecnia digital y por los superordenadores de que gozaban las grandes o medianas empresas de infografia, CGI o efectos visuales. Medios raramente accesibles para los creadores independientes, aunque los pasos de gigante de la inform&#225;tica fueron acompa&#241;ados de pasos m&#225;s cortos en el territorio del v&#237;deo experimental y la inform&#225;tica personal, con aportaciones bien sustanciales y redescubiertas actualmente.</p>
<p>  </p>
<p> As&#237;, entre las primeras aproximaciones a los sistemas digitales cabe recordar el Video Weaver de Stephen Beck, aparato harto rudimentario y pr&#225;cticamente limitado a la generaci&#243;n de tramas de tipo mosaico, con el cual realiz&#243; la serie de los <i>Video Weavings</i>
(1975). La combinaci&#243;n del Image Processor de Dan Sandin con los lenguajes de programaci&#243;n gr&#225;fica GRASS i ZGRASS de Tom DeFanti constituye originalmente un sistema h&#237;brido anal&#243;gico-digital, a partir del cual se desarroll&#243; el trabajo del llamado Grupo de Chicago, del cual formaron tambi&#233;n parte Phil Morton, Jane Veeder, Bob Snyder, Barbara Sykes i Copper Giloth. El Digital Image Articulator de los Vasulkas y Jeffrey Schier constituye as&#237; mismo un sistema h&#237;brido, las caracter&#237;sticas del cual fueron did&#225;cticamente expuestas en cintas como <i>Artifacts</i>
(1980) y <i>Cantaloup</i>
(1981).</p>
<p>  </p>
<p> Hay que recordar tambi&#233;n <i>Sunstone</i>
(1979), una breve cinta realizada por Ed Emshwiller en el New York Institute of Technology &#8211;en estrecha colaboraci&#243;n con Alvy Ray Smith; luego una de las personas-clave en la divisi&#243;n inform&#225;tica de Lucasfilms&#8211;, todo un cl&#225;sico en la parcela de la animaci&#243;n por ordenador, cuya elaboraci&#243;n requiri&#243; en su momento ocho meses de intenso trabajo (para una duraci&#243;n final de tres minutos).</p>
<p>  </p>
<p> En Europa, los rastros son m&#225;s exiguos y discontinuos &#8211;adem&#225;s, permanecen escasamente documentados a veces&#8211; por comparaci&#243;n con el grosor que tienen las precursoras experiencias que se sucedieron en Norteam&#233;rica, tal como las recapituladas hasta aqu&#237;. Sin embargo, para completar una arqueolog&#237;a (cercana) de la cibern&#233;tica audiovisual, su estudio deber&#237;a completarse con las aportaciones m&#225;s o menos aisladas de artistas como Karl Otto G&#246;tz,  Marc Adrian, Georg Nees, Denys Irving o Malcolm Le Grice, as&#237; como de algunos individuos (artistas o t&#233;cnicos) que se internaron en la creaci&#243;n de m&#225;quinas espec&#237;ficas para la s&#237;ntesis y el procesamiento de im&#225;genes electr&#243;nicas, y cuya fama &#8211;cuando la tienen&#8211; es de orden esencialmente local.  </p>
<p>  </p>
<p> La interfaz entre el ordenador y el v&#237;deo &#8211;y de rebote el cine, con los procesos del llamado cine digital&#8211; se ha convertido en com&#250;n o rec&#237;proca con el paso de los a&#241;os: cuando la pantalla de televisi&#243;n se ha transmutado tambi&#233;n en monitor de v&#237;deo y terminal inform&#225;tico, e incluso en suced&#225;neo del &#8220;cine en casa&#8221;. Los <i>computer movies</i>, por otro lado, se han integrado en nuestro entorno cotidiano, plet&#243;ricamente audiovisual y multimediatico: videoclips, spots, molinetes, videojuegos, simulacros, animaciones, films de efectos, animaciones flash, bucles expositivos... Por &#250;ltimo, otra gran faceta de la conjunci&#243;n de la inform&#225;tica y el audiovisual es hoy moneda corriente en los procesos de montaje y postproducci&#243;n audiovisual. Y, si bien muchos de estos aspectos  no tienen demasiado que ver con la est&#233;tica cibern&#233;tica de otro tiempo, son todo un reflejo de la evoluci&#243;n que nos trae del osciloscopio y el videosintetizador a la implantaci&#243;n a gran escala del chip prodigioso.</p> </body> </html>