  <p> <b>Tecnolog&#237;a y filantrop&#237;a</b></p>
<p>  </p>
<p> En el pujante mundo de las tecnolog&#237;as de comunicaci&#243;n e informaci&#243;n (TCI), la creatividad personal y la astucia empresarial se dan la mano y se sellan con un buen apret&#243;n y la firma de un contrato asociado (unas veces blindado, otras todo lo contrario).
Aunque muchos ser&#237;an los casos a consignar en los que el &#237;mpetu industrial se extrapola a una palpable inquietud humanista y de altruismo cultural, aqu&#237; hemos convenido en loar la particular excelencia de una peque&#241;a corporaci&#243;n, todav&#237;a sin cotizaci&#243;n en bolsa pero ya cortejada por otras que lo son.</p>
<p>  </p>
<p> Hablamos de Technologies to the People&#174; (TTTP), una empresa cuya actividad se desborda m&#225;s all&#225; de su sede virtual y cuyos principales activos son la clarividencia y el riesgo. As&#237;, incentiva el talento de artistas atra&#237;dos por la versatilidad digital de los nuevos medios, benefici&#225;ndose de sus hallazgos para ofrecer nuevos servicios a la sociedad, sin exclusi&#243;n alguna; contando, pues, con las minor&#237;as tanto como con el pueblo m&#225;s llano, e incluso con los actuales desheredados del ciberespacio.</p>
<p>  </p>
<p> Uno de estos artistas es el alicantino Daniel Garc&#237;a And&#250;jar, cuyo compromiso con unas determinadas convicciones &#233;ticas y sociales se hace bien perceptible desde sus primeras creaciones &#8211;o mejor hablemos de proyectos&#8211;, al aguzar su mirada sobre ciertas razas o colectivos residuales; sobre el vocer&#237;o medi&#225;tico de la levedad y la ostentaci&#243;n; sobre el mal uso de la tecnolog&#237;a y otros caudales p&#250;blicos o privilegiados; o sobre las tramoyas ocultas de la historia y la memoria colectiva.</p>
<p>  </p>
<p> Entre los primeros frutos de una tal alianza entre los desvelos del artista responsable y los osados intereses de la emergente compa&#241;&#237;a, uno de los primeros ofrecimientos de TTTP fue el sistema de donativos y recepci&#243;n de los mismos que apela a la higiene del dinero de pl&#225;stico mediante el uso de la Street Access Machine (SAM) &#8211;en su m&#225;s reciente y renovado dise&#241;o, la iSAM&#8482;&#8211;, destinada a erradicar las antiest&#233;ticas molestias que se producen en el entorno urbano por el acecho de mendigos, pedig&#252;e&#241;os y despose&#237;dos varios.</p>
<p>  </p>
<p> Por muy descabellada que parezca la idea de dotar a los indigentes con monederos electr&#243;nicos y terminales telem&#225;ticos a modo de cajeros autom&#225;ticos convenientemente diseminados &#8211;en especial en aquellas zonas que m&#225;s atraen la mendicidad y la truhaner&#237;a&#8211;, no hay que olvidar que la tecnolog&#237;a es visionaria. As&#237;, aquello que algunas personas supuestamente avisadas ver&#237;an como una picard&#237;a con segundas y taimadas intenciones, ha captado de inmediato la atenci&#243;n de algunas de las empresas actualmente m&#225;s potentes y competitivas en el mercado de los nuevos valores tecnol&#243;gicos, obteniendo los mejores visos para una futura comercializaci&#243;n a gran escala.</p>
<p>  </p>
<p> Otra iniciativa bien diferente, pero igualmente reveladora de las exquisitas inquietudes humanistas y de promoci&#243;n cultural de TTTP, es una de la que nos complace hablar por haber aportado nuestro granito de arena. Se trata de una antolog&#237;a de videoarte internacional disponible para su consulta en l&#237;nea y gratuita, teleportando as&#237; un fondo con el que varios museos de medio pelo quisieran contar a una gran audiencia potencial que ni los artistas y videoartistas m&#225;s celeb&#233;rrimos, o que lo fueron, pudieron nunca antes so&#241;ar.</p>
<p>  </p>
<p> Ciertamente, dicha selecci&#243;n antol&#243;gica no supera en cantidad a las que han conseguido reunir otros centros &#8211;museos, fundaciones, archivos, etc.&#8211;, ya que fue establecida a modo de prototipo con la redonda cifra de 100 t&#237;tulos. En cambio, la visi&#243;n de futuro de la TTTP Video Collection ha residido en apremiar la calidad deseable para la correcta recepci&#243;n de estas obras tal como fueron concebidas originalmente: para ser visualizadas a toda pantalla, con la debida resoluci&#243;n y a su correcta cadencia.</p>
<p>  </p>
<p> Mientras que los referidos centros todav&#237;a no han resuelto la ubicaci&#243;n en red de sus fondos, ni los complicados aspectos legales que ello conlleva, TTTP se ha anticipado al aportar soluciones mediante un impresionante despliegue de arquitecturas propietarias y licenciadas que el usuario puede descargar de la misma red. Adem&#225;s de constituir una encomiable operaci&#243;n de mecenazgo y fomento en un campo un tanto alica&#237;do &#250;ltimamente, cual es el de la videocreaci&#243;n, TTTP se ha avanzado a las prospectivas que ahora mismo se desatan con la apoteosis del v&#237;deo digital.</p>
<p>  </p>
<p> La relevancia de modestas pero enjundiosas iniciativas como las de TTTP y sus talentos asociados, desmiente las visiones m&#225;s alarmistas y mojigatas sobre el progreso tecnocient&#237;fico y las peligrosas secuelas que podr&#237;a tener su crecimiento sin freno ni credo. Por el contrario, al aunar las &#225;reas de los ne(t)gocios y las propias de las ONG y otras entidades c&#237;vicas, culturales o art&#237;sticas, se atienden las necesidades de los colectivos m&#225;s demacrados. Desde el pensamiento m&#225;s positivo, la tecnolog&#237;a crece en humanidad y acrecienta su parque de usuarios.</p>
<p>  </p>
<p> Terminaremos citando unas palabras recientes de Bill Joy, de Sun Microsystems, publicadas en The Washington Post: &quot;Por supuesto que las tecnolog&#237;as en s&#237; nacen para dar beneficios al mundo, mejorando la calidad de vida y la esperanza de a&#241;os vividos, y eliminando la pobreza material. Queremos los beneficios de estas tecnolog&#237;as, pero tenemos una responsabilidad &#233;tica con el futuro de nuestra especie. Debemos encontrar alternativas para que estas tecnolog&#237;as lleguen a todos y de verdad sirvan para reforzar a la humanidad.&quot; Que as&#237; sea.</p>
<p>  </p>
<p> Eugeni Bonet</p>
<p>
(In Medias Res)</p> </body> </html>