  <p> <b>Ol&#233;
tus v&#237;deos, George</b></p>
<p>  </p>
<p>  </p>
<p> Si tuviera hoy que aprender ingl&#233;s, me gustar&#237;a contar con las cintas de George Kuchar como material did&#225;ctico: aprender y disfrutar con las mismas, instruirme deleit&#225;ndome. Sus v&#237;deos constituyen un diario o dietario,
&quot;escrito&quot; con los medios m&#225;s modestos: una c&#225;mara de v&#237;deo-8 y la vida cotidiana como gran plat&#243;, habitado por innumerables personajes que se interpretan a s&#237; mismos.</p>
<p>  </p>
<p> El factor ling&#252;&#237;stico --el idioma-- puede ser en verdad un impedimento, una barrera, para &quot;entrar&quot; en su arte, su v&#237;deo, su vida (que todo viene a ser, en cierto modo, lo mismo). Pero doblar a Kuchar ser&#237;a espeluznante: significar&#237;a sacrificar o aplanar el grano de su voz; su punz&#243;n sarc&#225;stico o su murmullo introspectivo, por apenas mencionar un par de registros presentes en sus <u>v&#237;deo-diarios</u>.
Por otro lado, pienso que incluso para quien apenas pille nada de su labia, ora mordaz, ora meditabunda, los v&#237;deos de G.K. ofrecen otros motivos de solaz y reflexi&#243;n.</p>
<p>  </p>
<p> Kuchares, por cierto, hay dos: George y Mike, gemelos, nacidos en 1942 y crecidos en el Bronx. Con doce a&#241;os, rodaron su primera pel&#237;cula en 8mm, a la cual siguieron otras muchas, hasta que alcanzaron la mayor&#237;a de edad y cada cual prosigui&#243; su propia andadura, siempre acompa&#241;ados de una c&#225;mara.
Su escuela fueron los films de Hollywood y alrededores, de la serie A a la Z, vistos en cines de barrio y en la tele.</p>
<p>  </p>
<p> Los films de ambos Kuchares son desconocidos por nuestros pagos. Apenas me consta que se proyectaran algunos de George en una muestra de &quot;cine independiente americano&quot;, en el Festival de Valladolid de 1982, gracias a que estaba de por medio el informad&#237;simo y malogrado Nacho Fern&#225;ndez Bourg&#243;n. Por supuesto, siempre se puede consultar la exigua bibliografia sobre el <u>underground USA</u> disponible en lengua espa&#241;ola.</p>
<p>  </p>
<p> El cine kuchariano, junto con el de Anger o Conner, encarna una de las facciones m&#225;s populares entre la producci&#243;n independiente nacida con la primera generaci&#243;n de cineastas subterr&#225;neos norteamericanos. Tienen incluso su club de fans, y el culto a su obra se ha ido renovando entre sucesivas generaciones: John Waters ha reconocido la gran influencia que sus films ejercieron sobre su propia obra; George tuvo un dilecto disc&#237;pulo en el a&#250;n m&#225;s infame Curt McDowell (v&#237;ctima del sida, George le dedic&#243; un cap&#237;tulo entero de su v&#237;deo-diario); las corrientes <u>punk/new wave/no wave</u> les situaron de nuevo en el candelero; y, en el mundillo del v&#237;deo, las cintas de George han sido acogidas como un soplo de aire fresco.  </p>
<p>  </p>
<p> Para entendernos, los primeros films de los Kuchar (a&#241;os 50/primeros 60) iban en una onda parecida a los que nuestro Pedro Almod&#243;var har&#237;a a lo largo de los a&#241;os 70, con parecida cutrer&#237;a de medios, pero con el irreprimible &quot;deseo&quot; de revivir, mediante el jolgorio y la parodia, los mundos ficticios de la imaginer&#237;a cinematogr&#225;fica devorada desde la infancia. (&#191;Para entendernos? Salvo que, actualmente, los super-ochos de Almod&#243;var se han convertido en una leyenda que muchos ya s&#243;lo conocen de o&#237;das).</p>
<p>  </p>
<p> Sus g&#233;neros favoritos, pedestremente recreados, eran el melodrama desatado (a lo Douglas Sirk o Tennessee Williams adaptado por Elia Kazan) y el cine fant&#225;stico y de terror (al estilo de la factor&#237;a Corman y de la serie Z m&#225;s desastrada). Al parecer, la filmograf&#237;a de George en solitario ha perseverado en parte en esta l&#237;nea, aunque tambi&#233;n ha abarcado el diario personal y el retrato documental, a prop&#243;sito de las actividades de otros artistas y amigos, tales como los escultores Red Grooms y George Segal.</p>
<p>  </p>
<p> A sus cincuenta a&#241;os cumplidos, Kuchar cuenta as&#237; con una filmograf&#237;a de unos 70 t&#237;tulos, incluyendo alg&#250;n que otro largometraje, m&#225;s los v&#237;deos que ha venido realizando desde 1985, que, seg&#250;n &#233;l mismo ha estimado, rondan ya la cifra de unos 50 t&#237;tulos m&#225;s, de las m&#225;s variadas duraciones.</p>
<p>  </p>
<p> Salvo excepciones, por el momento muy singulares (por ejemplo, <u>Calling Dr. Petrov</u> o <u>The Fall of the House of Yasmin</u>, donde prosigue satirizando los m&#225;s acartonados g&#233;neros), la videograf&#237;a de G.K. est&#225; compuesta de cap&#237;tulos y p&#225;ginas sueltas de un diario permanentemente en curso, aunque cada parte constituye una entrega cerrada y aut&#243;noma. Utiliza siempre la c&#225;mara de v&#237;deo-8, realizando toda edici&#243;n en la misma mediante sucesivas tomas e insertos, sin postproducci&#243;n propiamente dicha. Kuchar sostiene la c&#225;mara en una mano, a la vez que se mueve y charla por los codos, permaneciendo detr&#225;s del visor o coloc&#225;ndose ante el objetivo, tom&#225;ndose eventualmente el respiro de colocar la c&#225;mara sobre un tr&#237;pode o cualquier otra base de apoyo.</p>
<p>  </p>
<p> Aunque el estilo siempre sea el mismo, sus cintas son sumamente variadas y entretenidas, desglos&#225;ndose en diferentes registros y series. As&#237;, adem&#225;s de las referidas a episodios, actividades y vivencias cotidianas a lo largo de un determinado lapso de tiempo (la serie de los<u> Video Albums</u>), Kuchar tiene otra serie de cintas m&#225;s breves, motivadas por jugosas visitas o estancias en residencias ajenas (<u>Precious Products</u> y <u>Point'n Shoot</u>, por ejemplo) y, en un registro m&#225;s serio e introspectivo, los diarios que toman como pretexto los cambios y fen&#243;menos metereol&#243;gicos en un determinado contexto geogr&#225;fico (<u>Rainy Season</u> o las diversas entregas de los <u>Weather Diaries</u>).</p>
<p>  </p>
<p> Por ende, George Kuchar nos demuestra que con la m&#225;s simple c&#225;mara de 8mm es posible hacer verdaderos &quot;v&#237;deos de primera&quot;. Sus admiradores podemos as&#237; exclamar: Ol&#233; tus v&#237;deos, George.</p>
<p>  </p>
<p>  </p>
<p> Eugeni Bonet</p>
<p>  </p>
<p> Barcelona, diciembre 1992</p>
<p>  </p> </body> </html>