
<p>
<b>Schroeter, Von Praunheim, Syberberg</b></p>

<p>
, n&#250;m. 20 y 22 (1976)</p>

<p>
&#171;Mientras que Jean-Luc Godard en <i>&#192;
bout de souffle</i> o <i>Bande
&#224; part </i>y Fran&#231;ois Truffaut en <i>Tirez sur le pianiste </i>incorporan simplemente caracteres y estilos de los films americanos de g&#225;ngsters, de serie B, o de las novelas de diez centavos, realizadores como Fassbinder, Von Praunheim o Werner Schroeter no se limitan a incorporarlos, sino que los exageran aisl&#225;ndolos en el contexto del film, convirtiendo la banalidad visual en entretenimiento.&#187;</p>

<p>
                                                       Stephen Dwoskin 
</p>

<p>
Hace ya un a&#241;o y medio, en un fat&#237;dico n&#250;mero 13 de esta revista, con el gato Fritz como protagonista<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a>, me refer&#237; a un supuesto movimiento al que alud&#237;a con el t&#237;tulo de
&#171;Cine decadente, un nuevo expresionismo&#187;, en el que inclu&#237;a a cinco autores: los alemanes Schroeter, Von Praunheim y Syberberg (al cual nombraba de forma sucinta por no conocer directamente su obra en aquel momento), el suizo Daniel Schmid y el espa&#241;ol Arrieta
(afincado en Francia)
</p>

<p>
Me interesa ahora volver a hablar de los tres realizadores alemanes citados, en funci&#243;n de el visionado de los ciclos (muy completos) que les dedic&#243; la Filmoteca en la anterior temporada; y de una serie de art&#237;culos, dispersos y no exhaustivos, sobre el <i>nov&#237;simo
</i>cine alem&#225;n<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a>
o, como lo bautizaba en el art&#237;culo anterior sobre Werner Herzog, sobre la <i>generaci&#243;n de la alucinaci&#243;n</i>
</p>

<p>
Se trata, pues, de corregir y ampliar parte de aquel primer art&#237;culo, cuyas conclusiones esenciales resumo de la manera siguiente:</p>

<p>
 &#8211; En primer lugar, se&#241;alaba algunos puntos de contacto ideol&#243;gico (entonces hablaba de &#171;posturas fuertemente ligadas&#187;) con grupos marginales radicales entre el Gay Lib y (ahora a&#241;ado) el anarquismo
</p>

<p>
&#8211; Me refer&#237;a luego a sus v&#237;nculos con el cine establecido, el modelo hollywoodiano: la importancia del actor y la adopci&#243;n de las mitolog&#237;as, los elementos barrocos en la imagen, las referencias musicales burguesas y el importante papel del montaje
</p>

<p>
&#8211; Mencionaba las facilidades relativas que hab&#237;an encontrado estos realizadores para realizar sus obras, y c&#243;mo acced&#237;an sin obst&#225;culos a la producci&#243;n televisiva y comercial
</p>

<p>
&#8211; Estimaba que, a la vez que hab&#237;a que reconocer una voluntad de ruptura con el cine establecido, se les pod&#237;a considerar tambi&#233;n como productos digeribles (con alg&#250;n que otro esc&#225;ndalo de vez en cuando). La fascinaci&#243;n lograba superar la provocaci&#243;n
</p>

<p>
&#8211; Rechazaba la idea de decadentismo como est&#233;tica retro y de paradoja, invocaba una consideraci&#243;n de la obra como trabajo sobre su relaci&#243;n en el melodrama
</p>

<p>
&#8211; Un interrogante coronaba las conclusiones globales de la confrontaci&#243;n entre estas ideas y el visionado de algunos de los films
</p>

<p>
Ahora, el conocimiento m&#225;s completo de una obra y de un recorrido nos permite volver a replantear aquel interrogante, para eliminarlo y poder ocupar su espacio con una nueva conclusi&#243;n, o para mantenerlo y seguir su discusi&#243;n a otro nivel
</p>

<p>
<b>Rosa von Praunheim</b></p>

<p>
&#171;Espero, para m&#237; y mis admiradores, una muerte joven y terror&#237;fica, para dejar paso a una nueva disciplina al servicio de las aut&#233;nticas necesidades comunes.&#187;
(1972)</p>

<p>
<b>Nota biogr&#225;fica</b></p>

<p>
Nace en Riga (Letonia) en 1942. Su verdadero nombre es Holger Mischwitzky. Estudia humanidades, artes pl&#225;sticas y danza. Tiene sus primeros contactos con la homosexualidad y las drogas en un viaje a Turqu&#237;a. Conoce a Werner Schroeter, trabaja como ayudante de direcci&#243;n de Gregory Markopoulos. Est&#225; casado con la actriz Carla Aulaulu. Ha publicado diversos escritos de distinto car&#225;cter: autobiogr&#225;fico, l&#237;rico, sociol&#243;gico; ensayos, art&#237;culos y una fotonovela
</p>

<p>
<b>Recorrido f&#237;lmico</b></p>

<p>
Despu&#233;s de varios cortometrajes, realizados entre 1967 y 1969, y de co-realizar con su amigo Schroeter un largo en 8 mm, <i>Grotesk-Burlesk und Pintoresk </i>(1968), a partir de 1970 realiza sus films m&#225;s significativos, varios de ellos producidos por la televisi&#243;n alemana.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a></p>

<p>
<i>Macbeth </i>(1970)
es probablemente una grabaci&#243;n originaria en <i>videotape</i>, lo cual explicar&#237;a los tonos grises y la baja calidad t&#233;cnica de la pel&#237;cula proyectada de 16 mm; la banda sonora es una especie de salmodia monorr&#237;tmica cantada por los actores. Este fue el film que me interes&#243; menos; es una versi&#243;n personal de un texto literario que no llega a la altura de las versiones de Schroeter
</p>

<p>
<i>Die Bettwurst</i>
(1970), a pesar de haber sido proyectada en versi&#243;n original sin subt&#237;tulos, deja translucir suficientemente por donde van los tiros.
El film es una historia de amor de tinte rid&#237;culo, interpretada por dos actores en decadencia, Luzi Kryn y Dietmar Kracht, en la figura de unos personajes grotescos, fascinados por una sensibilidad kitsch, que viven una aventura con secuestro incluido, desarrollada en una especie de antolog&#237;a del mal gusto a nivel de decorados, vestidos, colores. Esta sensibilidad kitsch, esta parodia desencajada, es un reflejo de una peque&#241;a burgues&#237;a y de su cultura, una reducci&#243;n, cari&#241;osa y cruel a la vez, a unos niveles de objetualidad arte pop, macrofotograf&#237;a de una vulgaridad apabullante
</p>

<p>
<i>No es el homosexual el perverso, sino la situaci&#243;n en que vive</i>
(1970), vista tambi&#233;n con la dificultad de no entender los comentarios, que intuyo que son fundamentales, aporta visualmente la suficiente informaci&#243;n para recomendar su visi&#243;n a todo el que tenga ocasi&#243;n. Porque, aunque solo sea por acercarse un poco a unos comportamientos que en realidad desconocemos, filmados desde adentro, despu&#233;s de soportar tantas visiones prejuiciosas, insultantes, manipuladoras e insinceras, este documento sobre la homosexualidad es muy importante, tanto desde el punto de vista did&#225;ctico como pol&#237;tico. El film es un reportaje (que trasciende esta categor&#237;a)
de diversas situaciones y personajes, que un comentario en <i>off</i>
acota con aportaciones te&#243;ricas de Martin Dannecker y Sigurd Wurl
</p>

<p>
En este punto de su filmograf&#237;a, Von Praunheim alcanza el cenit de unos prop&#243;sitos que podr&#237;an ser los de la cita que encabeza este apartado (&#171;&#8230;dejar paso a una nueva disciplina al servicio de las aut&#233;nticas necesidades comunes&#187;), el interrogante de que hablaba en la introducci&#243;n general se borra, se difumina; poco tiempo despu&#233;s filma en Nueva York un reportaje de doce minutos sobre una manifestaci&#243;n del Gay Liberation Front (<i>Homosexuelle in New York</i>, 1971).
Luego, el interrogante, la paradoja, reaparecen&#8230;</p>

<p>
<i>Leidenschaften</i>
(<i>Pasiones</i>, 1971) es tambi&#233;n una obra muy importante y v&#225;lida, que me gustar&#237;a poder ver de nuevo, pero ya dentro de unas coordenadas de lo que llamamos cine personal. Durante un viaje alrededor del mundo, en compa&#241;&#237;a de Fritz y Elfi Mikesch, rueda en super-8 diversas escenas en colaboraci&#243;n con gente encontrada en los diferentes lugares.
<i>Leidenschaften </i>es el montaje, hinchado a 16 mm, de estos materiales. Film personal aqu&#237;
significa una visi&#243;n de la vida a trav&#233;s de su complejidad, la mezcla de angustia, alegr&#237;a, humor, dolor, amor&#8230; y de las concepciones propias de una persona; es decir, el film personal puede recurrir a expresiones enigm&#225;ticas, el&#237;pticas, simbolistas, porque su concepci&#243;n es la de un mensaje propio, personal y mental que se ofrece, por a&#241;adidura, al espectador, quien lo puede descifrar o simplemente visionar de un modo independiente.<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a>
La complejidad de este tejido de situaciones y an&#233;cdotas, deja advertir al binomio este/oeste, a unas culturas diferentes que proporcionan distintos sistemas de pensamiento, todo con un matiz suavemente rom&#225;ntico
</p>

<p>
Por el contrario, los tres &#250;ltimos films de Rosa von Praunheim parecen aplicarse a una inversi&#243;n de la cita que encabeza el apartado; quiz&#225;s es una pantomima de la pronosticada muerte &#191;por incapacidad?, otra vuelta de tuerca sobre la paradoja&#8230;</p>

<p>
<i>Axel von Auersberg </i>(1973)
es una adaptaci&#243;n literaria, respetuosa aunque con un toque de locura, sobre un relato de Villiers de l&#8217;Isle Adam, una realizaci&#243;n preciosista y barroca.<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a></p>

<p>
<i>Rosa von Praunheim zeigt </i>(1974)
es una especie de programa de televisi&#243;n de car&#225;cter musical-retro, compuesto de diversas piezas, todas de car&#225;cter decadente, con un magn&#237;fico travesti, un pene gigante y otras maravillas
</p>

<p>
<i>Monolog eines stars</i>, finalmente, es una narraci&#243;n en plano-secuencia, que utiliza todas las im&#225;genes tipificadas de la mitolog&#237;a de la <i>star</i>
hollywoodiana, desde la pose de sof&#225; y la visita del amante hasta la tentativa de suicidio
</p>

<p>
Actualmente Rosa von Praunheim termina un nuevo film con el t&#237;tulo de <i>Underground and Emigrants,</i> sobre el panorama cultural neoyorquino en los treinta &#250;ltimos a&#241;os (seg&#250;n una informaci&#243;n aparecida en <i>Nuevo Fotogramas</i>), probablemente un nuevo giro hacia una tendencia m&#225;s informativa. (El t&#237;tulo parece aludir a la influencia de los emigrantes en la formaci&#243;n de la cultura underground)
</p>

<p>
<b>Werner Schroeter</b></p>

<p>
&#171;Ciertamente, los a&#241;os veinte me fascinan, pero encuentro nuestra &#233;poca tambi&#233;n decadente. La decadencia es impresionante; yo formo parte de ella, probablemente por mi origen burgu&#233;s y por mi cultura espec&#237;ficamente alemana [&#8230;]</p>

<p>
El hecho deprimente es la recuperaci&#243;n por parte de la subcultura de las tentativas underground. El estado se entromete en todo. Ser&#237;a necesario trabajar como los grupos militantes, comprar c&#225;maras de 8 y 16 mm, y formar grupos de base&#8230;&#187; (1973)</p>

<p> 
</p>

<p><b>Nota biogr&#225;fica</b></p>

<p>
Nace en Georgenthal en 1945. Inicia diversos estudios. En el festival de Knokke de 1967 descubre el cine marginal. En 1968 realiza varios films en 8 mm que se difunden a trav&#233;s de los medios art&#237;sticos, e inicia luego la pr&#225;ctica en 16 mm. Hasta el momento ha realizado ocho largometrajes y varios cortos.
&#218;ltimamente trabajaba en una producci&#243;n comercial <i>(Todos los marinos del mundo).</i>
Es conocido tambi&#233;n como director teatral
</p>

<p>
<b>Recorrido f&#237;lmico</b></p>

<p>
El primer film realizado en 16 mm es
<i>Argila</i>
(1968), que se proyecta en dos pantallas contiguas, formando las dos im&#225;genes diferentes relaciones de simetr&#237;a y de tiempo
</p>

<p>
<i>Neurasia</i>
(1968) inicia la exploraci&#243;n de los movimientos rituales de los actores, sobre el fondo expl&#237;cito de m&#250;sicas burguesas. Es una especie de ensayo previo para el siguiente film, <i>Eika Katappa</i>, ceremonia de im&#225;genes y sonidos en torno a los signos de la <i>kulchur</i>
occidental
</p>

<p>
A partir de <i>Eika Katappa</i> podemos encontrar dos direcciones en las obras siguientes: de un lado, las adaptaciones o recreaciones de mitos teatrales (<i>Salom&#233;</i>,
<i>Macbeth</i>,
<i>Der Tod der Maria Malibran</i>), y de otro modo, las narraciones que introducen claramente ciertos elementos sociopol&#237;ticos (<i>Der Bomberpilot</i>, <i>Willow Springs</i>, <i>Der schwarze Engel</i>)
</p>

<p>
En los primeros, Schroeter se dirige hacia un virtuosismo en el que la fascinaci&#243;n y el <i>d&#233;tournement</i>
andan emparejados, siempre jugando con la ambig&#252;edad de las im&#225;genes y de sus significaciones, en una mezcla de respeto y de cr&#237;tica
</p>

<p>
<i>Salom&#233;</i>
(1971) es una versi&#243;n casi al pie de la letra de la obra de Oscar Wilde, filmada en las ruinas de un templo de Baalbeck (L&#237;bano), que introduce algunos elementos musicales retro (<i>La paloma</i>, fragmentos de <i>La viuda alegre</i>, etc.). La lectura schroeteriana del texto <i>Salom&#233;</i>
se resuelve en un film de una belleza aplastante y de una fluidez perfecta
</p>

<p>
<i>Macbeth</i>
(1971) no exhibida en la Filmoteca, es famosa por el esc&#225;ndalo que provoc&#243; en su pase por las pantallas de la televisi&#243;n alemana, que a la vez era la productora. Musical abominable interpretado por travestis, el tratamiento irrespetuoso del mito shakesperiano provoc&#243;
las iras de los burgueses-telespectadores-alemanes. Schroeter dice sobre esto: &#171;A la gente no le gusta que se muestre as&#237; a Shakespeare. Pero yo no hago distinciones entre el kitsch y la cultura.&#187;</p>

<p><i>Der Tod der Maria Malibran</i>
(1972): es para algunos su mejor film. Su autor pretend&#237;a hacer una ordenaci&#243;n de los elementos arquet&#237;picos de su obra anterior; as&#237;, el film alcanza notoriamente el nivel m&#225;s alto respecto a las propuestas de <i>Eika Katappa</i>, a la vez que revela el <i>impasse</i>
a que le ha conducido la voluntad fascinante y lacerante de sus collages. Schroeter parece ser consciente de esta situaci&#243;n, pues sus trabajos posteriores toman una nueva direcci&#243;n, bastante congruente con las nuevas necesidades comunes que, en un proceso anal&#237;tico, podr&#237;amos se&#241;alar en el desarrollo de las vanguardias art&#237;sticas a inicios de esta d&#233;cada
</p>

<p>Ya en un film anterior a estos a que me acabo de referir, <i>Der Bomberpilot</i> (1970), se puede encontrar una opci&#243;n diferente en la que Schroeter, sin renunciar a sus planteamientos propios, aborda un tema directamente pol&#237;tico (el fascismo), desde un &#225;ngulo sarc&#225;stico, bien patente y expl&#237;cito incluso si no se comprende el alem&#225;n.<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a>
A trav&#233;s de su t&#237;pica manera de expresarse, llena de paradojas y acidez, Schroeter dice sobre este film: &#171;Es una historia construida sobre la l&#243;gica del absurdo, y, aunque las gentes de izquierda la defiendan, no es un film pol&#237;tico, porque yo soy un individualista.
Soy tan individualista que no llego a ser ni anarquista. Sin embargo mi posici&#243;n es pol&#237;tica porque trabajo de modo riguroso, en mis l&#237;mites, sin preocuparme de la moda&#8230;&#187;</p>

<p><i>Willow Springs</i> (1972), realizada en Estados Unidos, es tambi&#233;n una obra singular. A trav&#233;s de la vida de tres mujeres en un lugar aislado, y de la irrupci&#243;n de un hombre en este ambiente, se muestran las relaciones asfixiantes y la violencia contenida que termina por estallar, entre un peque&#241;o grupo humano
</p>

<p><i>Der schwarze Engel</i> (1974), uno de los &#250;ltimos films de Schroeter, es para m&#237; uno de los m&#225;s interesantes dentro de las tentativas de abordar una cuesti&#243;n pol&#237;tica, sin renunciar a unos presupuestos creativos propios, no-convencionales y de investigaci&#243;n. <i>El
&#225;ngel negro </i>es un film sobre el Tercer Mundo, en el que se mezclan elementos de reportaje
(sobre M&#233;xico, concretamente), elementos filos&#243;ficos que ata&#241;en a la comunicaci&#243;n f&#237;lmica (relaci&#243;n imagen/realidad, etc.) y una narraci&#243;n central que constituye una an&#233;cdota t&#237;picamente schroeteriana: la historia de dos turistas, una americana y otra alemana, que viven una gran pasi&#243;n entre el paisaje azteca. Aqu&#237;, el autor introduce algunos de sus estilemas m&#225;s frecuentes:
utilizaci&#243;n de la &#243;pera, actuaci&#243;n exagerada, elementos kitsch&#8230;
que aparecen bruscamente confrontados con los aspectos propios del pa&#237;s: la m&#250;sica, las voces, los vestidos, los caracteres antropol&#243;gicos, etc. El desenlace de la historia es ejemplar: una de las mujeres muere en pleno desierto y su cad&#225;ver es recogido por un grupo de indios que entonan un canto ritual; la otra terminar&#225; de secretaria del c&#243;nsul americano. De esta forma, Schroeter muestra la intrusi&#243;n de una cultura en otra, desvela las ra&#237;ces pol&#237;ticas de esta intrusi&#243;n y reflexiona sobre el mismo trabajo f&#237;lmico; y as&#237;, quiere evitar la frecuente mentalidad colonialista de los films europeos sobre el Tercer Mundo, tal como se&#241;alaba el autor de un texto de presentaci&#243;n del film.
</p>

<p><b>Hans-J&#252;rgen Syberberg</b></p>

<p>&#171;(El cinemat&#243;grafo) se ha convertido en un cine de funcionarios y de comerciantes, nutri&#233;ndose de las ruinas de un teatro de bulevar con una distribuci&#243;n intercambiable. Y, por otro lado, existe la extraordinaria oportunidad de desarrollar un cine de mundos fant&#225;sticos, m&#225;gicos, con sus propias reglas que, seg&#250;n creo, deber&#237;an estar m&#225;s cercanas a las de la m&#250;sica que a las de todas las otras artes hasta hoy producidas.&#187; (1975)</p>

<p><b>Nota biogr&#225;fica</b></p>

<p>Nace en Pomerania en 1935. Desde 1953 reside en la Rep&#250;blica Federal de Alemania. Estudia filolog&#237;a e historia del arte. Realiza desde muy joven experiencias en 8 mm y en fotograf&#237;a. Desde 1963 trabaja para la televisi&#243;n alemana, para la que realiza m&#225;s de cien cortometrajes. En 1965 crea su propia productora. Ha utilizado frecuentemente el <i>videotape</i>.
Actualmente trabaja en <i>Hitler</i>, film que culmina su tetralog&#237;a <i>Graal</i>
</p>

<p><b>Recorrido f&#237;lmico</b></p>

<p>La inclusi&#243;n de Syberberg en la pretendida escuela decadente alemana se basa casi exclusivamente en su film <i>Ludwig.
R&#233;quiem por un rey virgen</i>, que durante mucho tiempo ha sido su &#250;nico film conocido por la gran cr&#237;tica.<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a>
Sin embargo, la filmograf&#237;a de Syberberg es considerablemente extensa y poco conocida, y en ella se muestran obras muy alejadas de
<i>Ludwig</i>
</p>

<p>En el ciclo presentado por la Filmoteca pudimos conocer varios de sus films anteriores. Por ejemplo, <i>Nach meinem letzten Umzug </i>(1970)
es un montaje de unas filmaciones realizadas por Syberberg en 1953, con una c&#225;mara de 8 mm, las cuales constituyen el &#250;nico documento f&#237;lmico sobre las representaciones de Brecht y el Berliner Ensemble
</p>

<p> 
</p>

<p><i>San Domingo</i> (1970), que su autor califica como un pr&#243;logo de <i>Ludwig</i>, basa su an&#233;cdota en una pieza de Heinrich von Kleist (<i>Las bodas de Santo Domingo</i>).
Adaptada a la Baviera actual, se refiere a distintos sectores de la juventud alemana (<i>blousons noirs</i>, comunas y c&#233;lulas anarquistas), relato en tono directo del que no puedo hablar demasiado, ya que fue proyectado en versi&#243;n original en alem&#225;n
</p>

<p><i>Die Graffen Pocci</i> (1967):
hace alusi&#243;n a la decadencia de la cultura occidental, a trav&#233;s del retrato de una familia aristocr&#225;tica alemana. Es f&#225;cil constatar el inter&#233;s de Syberberg por crear una serie de cr&#243;nicas, retratos y documentos sobre su pa&#237;s. Este aspecto tomar&#225; una nueva unidad en el ciclo <i>Graal</i>, una especie de indagaci&#243;n sobre el germanismo y las ideas autoritarias, que engloba los films <i>Ludwig</i>,
<i>Karl May</i>,
<i>Winifred Wagner</i>
y <i>Hitler</i>
</p>

<p><i>Ludwig.
R&#233;quiem por un rey virgen</i>
(1972), narrado en forma de <i>sketches</i>
de los m&#225;s diversos estilos, es un film alucinado y delirante que conjuga la &#243;pera, el folklore, el follet&#237;n, la historia, las mitolog&#237;as populares, etc. Por medio de la misma &#171;locura&#187; del film y de sus juegos de dobles personajes y personajes falsos o fuera de lugar, percibimos el reflejo de la locura de Ludwig II y III, y el surgimiento de la ideolog&#237;a autoritaria. Ludwig, Wagner, Sissi, Lola Montes, Tarz&#225;n, Hitler, Bismarck, Karl May, Winnetou y otros alternan en un ins&#243;lito escenario, que funciona a modo de caja de magia repleta de inesperadas sorpresas y que, despu&#233;s de la pirueta cinematogr&#225;fica, podemos reconocer como objetos reales, desprovistos de toda inocencia, y amenazadoramente cercanos a nosotros
</p>

<p>Como coletilla al <i>R&#233;quiem</i>, Syberberg realiza <i>El cocinero del rey</i> (<i>Theodor Hierneis - ein Mundkoch erinnert sich an Ludwig II</i>, 1973). Construido sobre un texto encontrado, las memorias del oficial de cocina de Ludwig, el film es una especie de reportaje en el que un actor nos sirve como cicerone en un recorrido por los escenarios de la historia del rey loco, y en su calidad de ex cocinero del rey nos relata las costumbres y la vida cotidiana del decorado del poder.
&#171;Lentamente, de una habitaci&#243;n a otra, los personajes son representados, la iconograf&#237;a de los castillos se desvela por el contraste del lenguaje de un hombre simple que nos arrastra hacia la sociedad y sus ritos: aqu&#237; la m&#250;sica, all&#237; abajo la t&#233;cnica de las reverencias, el trono, la representaci&#243;n, las recepciones del rey, y las preocupaciones siempre presentes de escoger los alimentos blandos para dientes enfermos, etc&#8230; Los objetos refinados de un mundo de leyenda contrastan con lo cotidiano. A veces se encuentran, aunque separados&#8230;&#187;<a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a></p>

<p><i>Karl May</i> (1974) retoma las l&#237;neas del <i>Ludwig,</i>
pero la duraci&#243;n quiz&#225; excesiva y una estructura mucho m&#225;s convencional (podr&#237;a ser casi un serial televisivo) resultan un tanto decepcionantes. El film se inspira esta vez en un extra&#241;o y conocido novelista &#171;popular&#187; que terminar&#225; convirti&#233;ndose, a pesar suyo, en uno de los modelos culturales del nazismo incipiente
</p>

<p><i>Winifred Wagner</i> (1975): tercer eslab&#243;n del <i>Graal</i>, no proyectado en el ciclo de la Filmoteca, es, en esencia, un largo mon&#243;logo de m&#225;s de cuatro horas de duraci&#243;n, en el que Winifred Wagner, nieta del famoso compositor, revela a trav&#233;s de sus palabras, la ca&#237;da de la aristocracia y los mecanismos ideol&#243;gicos del nazismo
</p>

<p>Finalmente, la obra de H.J. Syberberg aparece lo bastante desligada de la de los autores como Schroeter y Von Praunheim para que resulte un tanto aventurado seguir uniendo sus nombres.<a class="sdfootnoteanc" name="sdfootnote9anc" href="#sdfootnote9sym">9</a>
Podemos ya aportar algunos puntos diferenciales en la filmograf&#237;a del autor de <i>Ludwig.
R&#233;quiem por un rey virgen</i>:</p>

<p>Con una menor influencia de lo que podr&#237;amos llamar tendencias underground, el contexto en el que se mueve Syberberg estar&#237;a m&#225;s cercano al de un cine de autor;</p>

<p>una vocaci&#243;n materialista, subrayada m&#225;s a&#250;n por una cierta cr&#237;tica y por los grupos de distribuci&#243;n; as&#237;, los elementos decadentes y kitsch est&#225;n directamente implicados con la decadencia y lo retro a nivel pol&#237;tico
</p>


<div id="sdfootnote1">
	<p>
	Alusi&#243;n
	al secuestro de dicho n&#250;mero de ,
	revista de &#171;comix y prensa marginal&#187;. [Nota del autor, 2014]</p>
<div id="sdfootnote2">
	<p>
	<a class="sdfootnotesym" name="sdfootnote2sym" href="#sdfootnote2anc">2</a>
	Para
	diferenciarlo de los autores que se citaban hace unos a&#241;os al
	hablar de un nuevo cine alem&#225;n
</p>
	<p>
	
	</p>
<div id="sdfootnote3">
	<p>
	Sobre
	la cuesti&#243;n de la televisi&#243;n alemana, hay que aclarar que existen
	diversas cadenas regionales y que estas gozan de completa libertad
	para la organizaci&#243;n de la producci&#243;n y la exhibici&#243;n; esto
	constituy&#243; un hecho fundamental para el desarrollo del movimiento
	underground en Alemania
</p>
<div id="sdfootnote4">
	<p>
	<a class="sdfootnotesym" name="sdfootnote4sym" href="#sdfootnote4anc">4</a>
	Estas
	son unas consideraciones generales, hechas en este momento, sobre el
	film
	personal,
	uno de los aspectos o tendencias del underground y de la vanguardia
	cl&#225;sica; no intentan, pues, constituir un enunciado te&#243;rico sobre
	el film
	personal
	sino que simplemente se insertan dentro del comentario sobre el film
	de Rosa von Praunheim
</p>
	<p>
	
	</p>
<div id="sdfootnote5">
	<p>
	<a class="sdfootnotesym" name="sdfootnote5sym" href="#sdfootnote5anc">5</a>
	Por
	cierto, la versi&#243;n proyectada en la Filmoteca ten&#237;a la duraci&#243;n
	propia de un corto, mientras que hace un par de a&#241;os se estren&#243; en
	Par&#237;s una versi&#243;n larga. Ignoro si es que existen dos versiones, o
	si la primera versi&#243;n ha sido reducida posteriormente
</p>
<div id="sdfootnote6">
	<p>
	<a class="sdfootnotesym" name="sdfootnote6sym" href="#sdfootnote6anc">6</a>
	Este
	film, como muchos otros, fue exhibido en la Filmoteca en versi&#243;n
	original sin subt&#237;tulos
</p>
<div id="sdfootnote7">
	<p>
	<a class="sdfootnotesym" name="sdfootnote7sym" href="#sdfootnote7anc">7</a>
	<i>Ludwig.
	R&#233;quiem por un rey virgen</i>
	ha de ser estrenada inminentemente en Espa&#241;a en salas especiales
</p>
<div id="sdfootnote8">
	<p>
	<a class="sdfootnotesym" name="sdfootnote8sym" href="#sdfootnote8anc">8</a>
	Extra&#237;do
	del <i>Dossier
	Syberberg,</i>
	editado por la Filmoteca Nacional
</p>
<div id="sdfootnote9">
	<p>
	<a class="sdfootnotesym" name="sdfootnote9sym" href="#sdfootnote9anc">9</a>
	En
	unas declaraciones recientes, aparecidas en la revista <i>Cinema
	2002</i>,
	Werner Schroeter manifestaba claramente su repulsa por los films de
	Syberberg, 
	y <i>Karl
	May</i>,
	mostrando en cambio su inter&#233;s por <i>Winifred
	Wagner</i>
</p>
