
<p>
<b>Marguerite Duras: el texto en la imagen</b> 
</p>

<p>
<i>Zoom
- Revista de la imagen</i>, n&#250;m. 6 (1977)
</p>

<p>
<i>Entrevista y transcripci&#243;n en colaboraci&#243;n con Juan Bofill.</i></p>

<p>
Marguerite Duras, conocida figura de la literatura francesa, aparece actualmente en primera plana de las
&#250;ltimas tendencias del cine. Parad&#243;jicamente, ella insiste en que no hace cine, sino que sigue creando textos, pero &#171;de otra manera&#187;
</p>

<p>
Tras su presencia en la Filmoteca de Barcelona, donde present&#243; <i>India Song</i> y mantuvo un interesante coloquio con el p&#250;blico, abordamos a Marguerite Duras con la intenci&#243;n de proponerle algunas cuestiones sobre su trabajo f&#237;lmico
</p>

<p>
Marguerite Duras debe tomar esa ma&#241;ana el tren con direcci&#243;n a Madrid, y quedamos en el restaurante de la estaci&#243;n. Finalmente, ante un plato de <i>petit pois au jambon</i>, que nunca terminar&#225;, se dispone a responder a nuestras preguntas. Marguerite Duras habla de un modo muy agradable, con peque&#241;os silencios, reflexiona, se entusiasma, y termina por olvidarse de la comida y del tiempo&#8230;</p>

<p>
<i>Ayer, usted habl&#243;, en el coloquio, de la preponderancia del texto sobre la imagen. Para definir mejor esta relaci&#243;n, &#191;podr&#237;amos decir que la imagen es como una voz, pero que el texto es lo que se dice, la palabra?... Una voz por s&#237; sola es &#250;nicamente un sonido, es algo abstracto, el texto es lo que le dar&#237;a el sentido.</i></p>

<p>
No puedo responder directamente; es decir, yo creo que el texto lo contiene todo, contiene la imagen tambi&#233;n. Es una tentativa, de todas formas, abocada al fracaso. Si yo digo, por ejemplo, <i>&#171;</i>escuchad a los pescadores del Ganges&#187;, o esta otra frase: <i>&#171;</i>escuchad el ruido de Calcuta&#187;, esto es m&#225;s fuerte que cualquier ilustraci&#243;n
</p>

<p>
Y, en mi opini&#243;n, en l&#237;neas generales, este es el punto d&#233;bil de todo el cine. Creo que la imagen nunca puede ser un testimonio de la palabra. En <i>Hiroshima, mon amour</i>, las palabras relatan la historia de amor entre la francesita y el alem&#225;n; todo ha sido eliminado de la imagen, y no queda m&#225;s que la traves&#237;a de la plaza con el zoom, cuando el soldado alem&#225;n avanza&#8230; Y, sin embargo, hab&#237;a muchas otras cosas. Todo se cuenta en <i>Hiroshima</i>:
el amor de Nevers es contado en <i>Hiroshima</i>
por la francesa; luego, esta historia no viene dada m&#225;s que por el texto. Solo hay dos ilustraciones: cuando &#233;l est&#225; acostado con ella, en una caba&#241;a del bosque, y cuando atraviesa la plaza; son como unos <i>&#171;</i>documentos de actualidad&#187; muy lejanos. Y, sin embargo, aquella historia domina todo el film; ella decide el film. Me doy cuenta de que, finalmente, hay una gran unidad dentro de mis tentativas. Encuentro que los cineastas son, en general, un poco simples
</p>

<p>
<i>Pero, &#191;no cree usted que, en sus films, lo m&#225;s importante es la relaci&#243;n entre imagen y texto, m&#225;s que el texto o la imagen separadamente? Usted dice que el texto es lo m&#225;s importante&#8230;</i></p>

<p>
No, yo no digo que sea lo m&#225;s importante, sino que el texto lo contiene todo; el texto es como una matriz, contiene todas las im&#225;genes
</p>

<p>
<i>Pero las im&#225;genes son muy distintas en </i>India Song<i>
y en </i>Son nom de Venise dans Calcutta d&#233;sert&#8230;<i><a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a></i></p>

<p>
A partir de un texto puedes hacer un n&#250;mero indefinido de ilustraciones, un n&#250;mero indefinido de im&#225;genes. A partir de una imagen, pienso que est&#225;s mucho m&#225;s limitado
</p>

<p>
<i>&#191;Prefiere pasar como una buena escritora m&#225;s que como una buena cineasta?</i></p>

<p>
Es lo mismo. Lo que yo hago con el cine no es cine. Si soy algo, soy m&#225;s bien una escritora interesada en el cine. No soy una cineasta, en el sentido propio o habitual de la profesi&#243;n; puedes preguntar a todos los profesionales y te dir&#225;n:
<i>&#171;</i>Duras no es una cineasta.&#187;</p>

<p>
<i>Quiz&#225; usted va m&#225;s lejos en la utilizaci&#243;n del cine&#8230;</i></p>

<p>
[Un largo silencio, antes de responder]: 
</p>

<p>
Lo que me apasiona es poder escamotear la imagen
</p>

<p>
<i>S&#237;, porque en </i>India Song<i> hay todav&#237;a referencias a los actores; el sonido no es sincr&#243;nico a la imagen, pero es en cierta forma paralelo a ella: mientras que en </i>Son nom de Venise dans Calcutta d&#233;sert&#8230;</p>

<p>
&#191;La has visto?</p>

<p>
<i>S&#237;.</i></p>

<p>
&#191;Te gusta?</p>

<p>
<i>S&#237;.</i></p>

<p>
Entonces, eres la &#250;nica persona que ha visto <i>Son nom de Venise&#8230;</i> [risas]
</p>

<p>
<i>A su lado, pienso que </i>India Song<i> es un poco convencional, si quiere. &#191;Piensa que </i>Son nom de Venise&#8230;<i> va m&#225;s lejos que </i>India Song<i>?</i></p>

<p>
Creo que <i>Son nom de Venise&#8230;</i> va lo m&#225;s lejos que se puede ir en el terreno de la imagen
</p>

<p>
<i>Ya no existen referencias, solo hay el vac&#237;o, pero sin embargo, las sugerencias son enormes. Cuando vi </i>Son nom de Venise<i>, sent&#237; realmente las se&#241;ales de la lepra, del r&#237;o, de la India, de la muerte&#8230;</i></p>

<p>
Quiero contarte algo. Mucha gente que la ha visto me ha dicho: <i>&#171;</i>Has cambiado la banda sonora, has hecho algo, se entiende mucho mejor.&#187;
Pero es rigurosamente la misma. Hab&#237;a, pues, algo en la relaci&#243;n imagen-sonido, en todo el cine, y tambi&#233;n en <i>India Song</i>, que dificultaba el emplazamiento correcto de la palabra, su <i>mise-en-sc&#232;ne</i>
</p>

<p>
<i>&#191;Existe una canci&#243;n como </i>India Song<i> en la realidad de su vida?</i></p>

<p>
No, pero existe una canci&#243;n que se llama <i>India Love Song</i>, que deb&#237; conocer cuando era joven, pero que he olvidado. Fue Richard Roud, de la cinemateca de Nueva York, quien me dijo: &#171;Conozco una canci&#243;n que se llama <i>India Love Song</i>, que dice algo as&#237;: &#8220;No te olvidar&#233;, yo estaba en el balc&#243;n de mi casa; te ve&#237;a pasear por el jard&#237;n de Shalimar&#8230;&#8221;.&#187; Es extraordinario, la hab&#237;a olvidado por completo. 
</p>

<p>
[Un peque&#241;o silencio, y luego, Marguerite Duras sigue hablando, sin responder a ninguna pregunta concreta. Las primeras distancias que siempre comporta el cl&#225;sico intervi&#250; se han trocado ya en una amigable conversaci&#243;n.]</p>

<p>
Una de las consecuencias del <i>off</i>
tiene lugar, por ejemplo, cuando Delphine Seyrig baila con el joven agregado alem&#225;n y hablan, hablan sin pronunciar las palabras, escuchan su propia voz; y esta escucha de la propia voz provoca en ellos una especie de distracci&#243;n, de ausencia, que para m&#237;
constituye el verdadero color del sonido, el color ac&#250;stico de <i>India Song</i>
</p>

<p>
<i>Hablando de color, en </i>India Song <i>hay, a veces, un extra&#241;o tono verdoso, &#191;es intencionado?, &#191;ha utilizado filtros?</i></p>

<p>
No. Estaba all&#237;, ha entrado en la c&#225;mara, no lo he buscado
</p>

<p>
<i>Un personaje de </i>India Song<i> dice algo as&#237; como:
</i>&#171;<i>No necesitamos una historia de amor porque nosotros somos uno.</i>&#187;</p>

<p>
De la misma manera que yo no tengo necesidad de una puesta en escena, que no tengo necesidad de un pasado, que no tengo necesidad de recurrir a una especie de mimodrama, tampoco ellos tienen necesidad de una historia de amor; es un paralelismo completo. Ellos no tienen necesidad de pasar por el aparato amoroso cl&#225;sico &#8211;la consumaci&#243;n de la pareja&#8211; como yo tampoco tengo necesidad de un modo de representaci&#243;n
</p>

<p>
<i>Usted dijo tambi&#233;n que la negaci&#243;n del amor&#8230;</i></p>

<p>
No del amor, sino de las manifestaciones del amor
</p>

<p>
&#8230;<i>que la negaci&#243;n de las manifestaciones del amor era lo mismo que la sublimaci&#243;n del amor.</i></p>

<p>
Era lo mismo, reemplazado por el texto. Para m&#237;, el momento en que el vicec&#243;nsul habla de su amor con Anne-Marie Stretter es infinitamente m&#225;s profundo que si estuviesen en la cama
</p>

<p>
<i>Alguien dijo que </i>India Song<i> es un film materialista, &#191;es materialista o es rom&#225;ntico, o&#8230;?</i></p>

<p>
Creo que hay un abuso de vocablos.
&#191;Qui&#233;n puede decidir esto?</p>

<p>
<i>&#191;Es rom&#225;ntico entonces?</i></p>

<p>
Si t&#250; quieres&#8230; Pero habr&#237;a que volver sobre la noci&#243;n de lo rom&#225;ntico, sobre todo en el cine
</p>

<p>
<i>&#191;En qu&#233; sentido cree que las adaptaciones de sus novelas han traicionado su esp&#237;ritu, en cada caso concreto?</i><i><a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a></i></p>

<p>
Eran unos relatos asfixiados. Cuando se hace una proposici&#243;n &#8211;una proposici&#243;n imagen-sonido&#8211;, esta se convierte en un avatar de otra cosa, en una proposici&#243;n entre otras. Y, por decirlo de alg&#250;n modo, la respiraci&#243;n de una imagen o un texto es esta especie de posible mutaci&#243;n constante; es esta imagen como podr&#237;a ser otra. No hay ning&#250;n momento decisivo en
<i>India Song; </i>todo podr&#237;a ser reemplazado. Mientras que los directores de cine dicen:
&#171;Es esto, es esto&#8230;&#187;; lo convierten en dogma desde el momento en que no son los autores del texto. Cada imagen que propone cualquiera de estos directores est&#225; podrida; est&#225; podrida porque es el tubo de escape del <i>metteur-en-sc&#232;ne</i>, que est&#225; seguro de que esta imagen es la mejor
</p>

<p>
Yo no estoy segura de nada. Para m&#237;
es como si el film pasara por todo un bosque de significantes (en fin, estos t&#233;rminos no los empleo nunca), a trav&#233;s del cual yo he retenido algo; mi funci&#243;n es retener lo que hab&#237;a, en el momento que he escogido, lo m&#225;s en armon&#237;a con mi humor. Y todo el cine est&#225; congelado y asfixiado en ese sentido
</p>

<p>
Hiroshima mon amour<i>,
&#191;es tambi&#233;n un film asfixiado?</i></p>

<p>
No. Me gusta mucho el film de Resnais. Es un poco &#171;rollo&#187; si quieres; no hay ese silencio&#8230;
Pero, por ejemplo, para m&#237; es un gran momento del cine, cuando ella est&#225; con el japon&#233;s en el restaurante y empieza a decir: &#171;Quand tu est mort&#8230;&#187;, habla con el alem&#225;n y habla con el japon&#233;s, habla con un muerto; la historia de Nevers es evocada por el texto. Esto me parece todav&#237;a enorme
</p>

<p>
Para m&#237;, el film m&#225;s grande del mundo es <i>Ordet</i>;
es un film pr&#225;cticamente &#171;vaciado&#187;, no hay casi nada, solo una especie de semiolog&#237;a m&#237;mica. En mi opini&#243;n, con Dreyer, el pensamiento ha penetrado en el cine. F&#237;jate, en cambio, en toda la vulgaridad que representa Bergman
</p>

<p>
<i>En sus films hay una especie de estructura musical, &#191;est&#225;n pensados en funci&#243;n de esta estructura, o a&#241;ade la m&#250;sica luego?</i></p>

<p>
Cuando pens&#233; <i>India Song</i>, encargu&#233; la m&#250;sica&#8230; Quer&#237;a una vasta extensi&#243;n musical; no era la primera vez que lo hac&#237;a
</p>

<p>
En <i>Vera Baxter</i> hay tres proposiciones: imagen, palabra y m&#250;sica.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a>
El <i>off </i>total de <i>India Song</i>
es reemplazado aqu&#237; por una especie de &#171;decir&#187; de la m&#250;sica.
Mientras Vera Baxter habla, cuenta c&#243;mo ha sido vendida, cu&#225;nto se ha pagado&#8230; mientras cuenta estas cosas, la m&#250;sica no abandona jam&#225;s el texto. Hay dos formas de decir: un decir de la palabra y un decir de la m&#250;sica, y est&#225;n casi constantemente en contradicci&#243;n;
Vera Baxter da la impresi&#243;n de estar mintiendo continuamente. Esto quiere decir, una vez m&#225;s, que yo creo que la palabra de Vera Baxter dicha por Vera Baxter, su espacio propio, no da testimonio de ella, sino que est&#225; vista desde el exterior. Es una proposici&#243;n m&#225;s, entre otras posibles. Lo inquietante es esta especie de cuestionamiento constante, que a m&#237; me fascina totalmente, y que constituye el encanto de <i>India Song</i>; en <i>Vera Baxter</i> est&#225;
completamente reemplazada por esta especie de decir de la m&#250;sica, cuya presencia es constante: si el film dura noventa y cuatro minutos, hay m&#250;sica durante noventa y tres
</p>

<p>
<i>Cuando se dispone a rodar, &#191;ya cuenta con la m&#250;sica que tendr&#225;n esas secuencias?</i></p>

<p>
Yo filmo con la m&#250;sica. Todos los movimientos de c&#225;mara est&#225;n en funci&#243;n de la m&#250;sica. &#191;Te imaginas si no hiciera esto?</p>

<p>
<i>En </i>India Song,<i> la m&#250;sica parece arrastrar el film.</i></p>

<p>
S&#237;, cierto. Ahora acabo de rodar <i>Le camion</i>; he rodado un gran travelling desde la cabina de un cami&#243;n enorme; era muy dif&#237;cil y tambi&#233;n la m&#250;sica estaba all&#237;. Ten&#237;amos un minicasete<i>
</i>con la m&#250;sica del film, y hasta el ch&#243;fer del cami&#243;n &#8211;me fij&#233; especialmente en esto&#8211;, llegaba a adaptar la velocidad en relaci&#243;n con la m&#250;sica; fue mucho m&#225;s f&#225;cil que &#233;l se adaptara al ritmo de la m&#250;sica, que no indicarle la velocidad que deb&#237;a tomar. Se film&#243; todo con la m&#250;sica. Esto lo hago desde <i>Nathalie Granger</i>; all&#237; hice la m&#250;sica yo misma, la grab&#233;, y todas las tomas fueron hechas a partir de la m&#250;sica, a fin de que las mujeres caminaran al mismo paso en la casa
</p>

<p>
y </i></span>Son nom de Venise&#8230;</span>
</i></span><i>&#191;representan la culminaci&#243;n de su estilo?</i></p>

<p>
S&#237;. Yo quer&#237;a hacer cine con <i>Son nom de Venise&#8230;</i> . A partir de este film es imposible volver atr&#225;s
</p>

<p>
Y <i>Vera Baxter</i>, &#191;es tambi&#233;n la memoria?</p>

<p>
No, es otro camino. Vuelvo a empezar
</p>

<p>
<i>&#191;Qu&#233; funci&#243;n tiene para usted el paisaje en el contexto del film?</i></p>

<p>
Es un material <i>passe-partout</i>, que permite decirlo todo, expresarlo todo, en cualquier momento
</p>

<p>
[Nos advierten que solo faltan ocho minutos para que salga el tren, decidimos no hacer m&#225;s preguntas, a fin de que la autora de <i>India Song</i> pueda tomar su caf&#233;.
Comenta a sus acompa&#241;antes: &#171;Pero son los &#250;nicos que me han hecho preguntas inteligentes, porque todos los periodistas que me han entrevistado, preguntaban cosas como: &#8220;&#191;Qu&#233; toma usted por las ma&#241;anas para desayunar, chocolate o caf&#233;?&#8221; Risas&#8230; Nos han quedado varias preguntas en el tintero. El tiempo corre. Pero Marguerite Duras nos anuncia a&#250;n una &#250;ltima declaraci&#243;n&#8230;]</p>

<p>
Voy a decir una cosa que a&#250;n no he dicho nunca. La conversaci&#243;n que tenemos en este momento es <i>India Song</i>; es una prolongaci&#243;n de <i>India Song</i>;
es parte integrante. <i>India Song</i> es esto, esta posibilidad de epilogar &#8211;epilogar no es una palabra correcta&#8211;, esta posibilidad de comentar&#8230; indefinidamente
</p>

<p>
[<i>Play</i>/<i>Stop</i>.
Recogemos los b&#225;rtulos y salimos todos corriendo&#8230; Finalmente, el tren se hab&#237;a escapado ya, y la Duras, con cara de resignaci&#243;n, empezaba a hacerse a la idea de tomar el avi&#243;n.]</p>
<div id="sdfootnote1">
	<p>
	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
	<i>Son
	nom de Venise dans Calcutta d&#233;sert</i>
	es un film construido a partir de la misma banda sonora de <i>India
	Song</i>,
	y est&#225; constituido casi exclusivamente por largos planos de
	paisajes y ruinas. Marguerite Duras dice que pr&#225;cticamente, solo
	uno de cada cinco espectadores que resisten <i>India
	Song</i>,
	puede soportar <i>Son
	nom de Venise&#8230;</i></p>
	<p>
	Se
	da el caso curioso (y lamentable), que el distribuidor espa&#241;ol de
	<i>India
	Song</i>,
	el se&#241;or Pineda (V.O. Films), prohibi&#243; la proyecci&#243;n en la
	Filmoteca del film <i>Son
	nom de Venise&#8230;</i>
	alegando que, al tratarse exactamente de la misma banda sonora de
	<i>India
	Song</i>,
	ten&#237;a tambi&#233;n los derechos sobre aquella. Asimismo, impidi&#243; la
	proyecci&#243;n de <i>Nathalie
	Granger</i>
	en la Filmoteca de Barcelona, y la de <i>India
	Song</i>
	en la de Madrid, las dos &#250;nicas pel&#237;culas de Marguerite Duras
	distribuidas en Espa&#241;a (la primera solo en Barcelona). El se&#241;or
	Pineda es ya un viejo conocido, en su haber se encuentra un boicot
	particular a los cineclubs, no alquil&#225;ndoles el material
	distribuido por su firma, aunque por otro lado, intente crearse una
	imagen falsamente progresista dentro de su oficio (por ejemplo, est&#225;
	inmiscuido en el anunciado pr&#243;ximo Festival Internacional de Arte y
	Ensayo). &#191;Hasta cu&#225;ndo los mercaderes del cine podr&#225;n impedir con
	total impunidad la difusi&#243;n de los bienes culturales?</p>
<div id="sdfootnote2">
	<p>
	<a class="sdfootnotesym" name="sdfootnote2sym" href="#sdfootnote2anc">2</a>
	</span>Las
	obras literarias y guiones de Marguerite Duras llevadas a la
	pantalla por otros autores son: </span>Un
	barrage contre le Pacifique</i></span>
	(Ren&#233; Clement, 1957), </span>Hiroshima
	mon amour </i></span>(Alain
	Resnais, 1959), </span>Moderato
	Cantabile</i></span>
	(Peter Brook, 1960), </span>Une
	aussi longue absence </i></span>(Henri
	Colpi, 1961), </span>Deux
	heures et demi du soir en &#233;t&#233;</i></span>
	(Jules Dassin, 1961), </span>The
	Sailor from Gibraltar</i></span>
	(Tony Richardson, 1967) y los cortos </span>Les
	rideaux blancs</i></span>
	(Georges Franju, 1966) y </span>Nuit
	noire, Calcutta</i></span>
	(Marin Karmitz, 1964).</span></p>
<div id="sdfootnote3">
	<p>
	<a class="sdfootnotesym" name="sdfootnote3sym" href="#sdfootnote3anc">3</a>
	La
	estupenda m&#250;sica de <i>Vera
	Baxter</i>,
	como en todos los &#250;ltimos films realizados por Marguerite Duras, se
	debe al argentino Carlos d&#8217;Alessio
</p>
