
<p>

<p>
<i>Xc&#232;ntric.
45 pel&#183;l&#237;cules contra direcci&#243;</i>.
Barcelona: Centre de Cultura Contempor&#224;nia de Barcelona / Institut d&#8217;Edicions de la Diputaci&#243; de Barcelona, 2006. Ediciones en catal&#225;n/ingl&#233;s y castellano/ingl&#233;s. Traducido del catal&#225;n por el autor
</p>

<p>
Este film de y sobre la <i>nada</i>, casi sin im&#225;genes pero que enerva la vista (el autor contrapon&#237;a el
<i>no-thing</i>
al <i>some-thing</i>), es una obra caracter&#237;stica de una primera y decisiva etapa en la filmograf&#237;a de Paul Sharits (1943-1993). &#201;l comenz&#243; a aislar el fotograma, como unidad de precisas construcciones r&#237;tmicas, en los films que realiz&#243; durante su vinculaci&#243;n al esp&#237;ritu rompedor de Fluxus. Entre ellos sobresale <i>Word Movie/Fluxfilm 29</i> (1966), en el que las im&#225;genes son palabras que se encabalgan, parpadeantes, tal como los fonemas desarticulados que la banda sonora ensarta
</p>

<p>
A continuaci&#243;n, sobre los fundamentos de aquello que dio en llamarse el <i>flicker film</i>, cine de parpadeos o de intermitencias &#8211;los ritmos de fotogramas en blanco y en negro, transparentes y opacos, del <i>Arnulf Rainer</i> (1960) de Peter Kubelka, llevados a un grado m&#225;s sistem&#225;tico y epil&#233;ptico con <i>The Flicker</i> (1964) de Tony Conrad&#8211;, Sharits incorpor&#243; una combinatoria de fotogramas de colores planos que algunas veces se ha relacionado con la corriente de la pintura <i>color field</i>
norteamericana (Mark Rothko, Kenneth Noland, Frank Stella&#8230;)
</p>

<p>
Y, por oposici&#243;n a los ritmos estrobosc&#243;picos del <i>flicker</i>
monocromo y de ciertas m&#225;quinas visionarias (la m&#237;tica <i>Dreamachine</i>
de Brion Gysin) &#8211;que, seg&#250;n el grado de aceleraci&#243;n, pueden producir posim&#225;genes o impresiones crom&#225;ticas por la colisi&#243;n de la luz y la oscuridad antag&#243;nicas&#8211;las intermitencias policrom&#225;ticas de Sharits provocan en su percepci&#243;n un efecto contrario, ya que la fusi&#243;n de los colores en la retina se percibe como una vibraci&#243;n irregular de luz blanca
</p>

<p>
Sharits dec&#237;a que la clave de b&#243;veda de <i>N:O:T:H:I:N:G</i>
es un mandala de meditaci&#243;n tibetano. A&#241;ad&#237;a que no estaba interesado en absoluto en ning&#250;n tipo de misticismo ni denotaci&#243;n simb&#243;lica, pero en definitiva admit&#237;a que el tema de la obra vendr&#237;a a ser lo insondable (<i>the non-understandable</i>). Solo en la parte central del film &#8211;aquel que corresponde al v&#243;rtice mand&#225;lico&#8211; se hallan algunos elementos ic&#243;nicos, intercalados en el flujo de colores planos, aunque sin la sobrecarga simb&#243;lica de otras realizaciones anteriores y posteriores, tales como <i>Piece Mandala / End War</i> (1966)
y <i>T.O.U.C.H.I.N.G</i>
(1968)
</p>

<p>
Fue en este periodo cuando Sharits manifest&#243; su repudio de la m&#237;mesis y la ilusi&#243;n para adentrarse en
&#171;el drama superior del celuloide, la bidimensionalidad de la cinta cinematogr&#225;fica, el rect&#225;ngulo del fotograma unitario, la naturaleza de la emulsi&#243;n y de las perforaciones, la mec&#225;nica de la proyecci&#243;n, el haz de luz tridimensional, la iluminaci&#243;n de la sala, la superficie reflectante de la pantalla bidimensional, la pantalla de nuestra retina, el nervio &#243;ptico y la subjetividad psicof&#237;sica de la consciencia individual&#187;. Este programa de intenciones marc&#243; la evoluci&#243;n subsiguiente de una obra llena de vigor, que apenas comienza a ser redescubierta ahora, segada por las desdichadas circunstancias de un tormento interior
</p>



