  <p> <i><b>Zorns Lemma</b></i><b>, Hollis Frampton, 1970</b></p>
<p>  </p>
<p>  </p>
<p> El film entero, el t&#237;tulo del cual remite a un principio de la teor&#237;a de conjuntos, es una especie de charada sobre la ordenaci&#243;n de sus propias im&#225;genes, el grueso de las cuales est&#225; formado por palabras, letras y r&#243;tulos filmados.
Adem&#225;s, se incluyen textos recitados en el preliminar y el colof&#243;n que anudan la parte central y m&#225;s extensa (45 minutos de los 60 que dura la pel&#237;cula), exenta esta de sonido.</p>
<p>  </p>
<p> <i>Zorns Lemma</i> comienza sin im&#225;genes, con una secuencia en negro acompa&#241;ada por los vers&#237;culos de una cartilla escolar ochocentista para el aprendizaje del alfabeto, y con unas cu&#241;as beatas y bienpensantes.</p>
<p>  </p>
<p> La segunda parte se abre con las letras del alfabeto latino, de la <i>A</i> a la <i>Z</i>, y despliega una serie de secuencias de im&#225;genes-palabra, a su vez con una ordenaci&#243;n alfab&#233;tica y un patr&#243;n r&#237;tmico uniforme, a raz&#243;n de una imagen por segundo. Son signos &#8211;ling&#252;&#237;sticos y simult&#225;neamente visuales&#8211; que a&#237;slan una serie de palabras tomadas de r&#243;tulos, carteles y reclamos hallados en el espacio urbano y que, a veces, dan lugar a sintagmas involuntarios. Pero estas im&#225;genes-palabra son reemplazadas progresivamente por otras series arbitrarias de im&#225;genes, las cuales subrayan su relieve ilusorio frente a la lectura rasa de las palabras alineadas secuencialmente.</p>
<p>  </p>
<p> En la tercera y &#250;ltima parte &#8211;un falso plano-secuencia&#8211;, el ritmo metron&#243;mico de la parte anterior se traslada a la banda sonora mediante una lectura a seis voces, a raz&#243;n de una palabra por segundo, de un texto extra&#237;do de un oscuro tratado medieval sobre la luz.</p>
<p>  </p>
<p> Fallecido tempranamente, Hollis Frampton (1936-1984) fue &#8211;junto con Michael Snow, Paul Sharits, George Landow, Tony Conrad y Ernie Gehr&#8211; uno de los artistas-cineastas que encabezaron una tendencia nueva, bautizada como <i>cine estructural</i> por P. Adams Sitney. Un concepto muy debatido, pero que sugiere una inclinaci&#243;n filos&#243;fica, una concepci&#243;n intelectual del cine que tendr&#237;a algunas manifestaciones paralelas en las artes visuales y la m&#250;sica (minimalismo, conceptualismo, m&#250;sica repetitiva).</p>
<p>  </p>
<p> Muy dotado intelectualmente, Frampton fue un creador harto prol&#237;fico: su filmograf&#237;a consta de unos sesenta t&#237;tulos y comprende los vastos ciclos de <i>Hapax Legomena</i> (1971-1972, siete films) y <i>Magellan</i>
(comenzado en 1972 y concebido como un calendario f&#237;lmico, con un film o segmento para cada d&#237;a del a&#241;o). En lo que concierne a <i>Zorns Lemma</i>, el propio autor se refiri&#243; a esta obra como una &#171;autobiograf&#237;a cr&#237;ptica&#187;: la de un letraherido seducido por los escritos de Ezra Pound, James Joyce y Jorge Luis Borges, dedicado a la fotograf&#237;a y a un desarrollo de la misma en series, lo que le llev&#243; a interesarse cada vez m&#225;s por el cine.</p>
<p>  </p>
<p> Peter Gidal, contraint&#233;rprete del cine estructural al sobreponerle una concepci&#243;n materialista, con un sesgo pol&#237;tico, advirti&#243; en cambio que es un film sobre la autoridad, el autoritarismo y el adoctrinamiento. La letra&#8230; y, de paso, siempre algo m&#225;s&#8230; &#161;con sangre entra!</p>
<p>  </p>
<p>  </p> </body> </html>