
<p>
<i><b>Berlin Horse, </b></i><b>Malcolm Le Grice, 1970</b></p>

<p>
<i>Xc&#232;ntric.
45 pel&#183;l&#237;cules contra direcci&#243;</i>.
Barcelona: Centre de Cultura Contempor&#224;nia de Barcelona / Institut d&#8217;Edicions de la Diputaci&#243; de Barcelona, 2006. Ediciones en catal&#225;n/ingl&#233;s y castellano/ingl&#233;s. Traducido del catal&#225;n por el autor
</p>

<p>
Este film, seg&#250;n su autor, es una especie de s&#237;ntesis de otras obras anteriores (entre otras, <i>Little Dog for Roger</i> y <i>Yes No Maybe Maybe Not</i>, ambas de 1967), sin por ello disminuir el peso espec&#237;fico de aquellas. En todo caso, es una de sus obras m&#225;s emblem&#225;ticas y conocidas &#8211;forma parte, por ejemplo, de la colecci&#243;n del Museu d&#8217;Art Contemporani de Barcelona (MACBA)&#8211;, como tambi&#233;n una de las m&#225;s sensuales a su manera, que es una manera muy mat&#233;rica de explorar el medio f&#237;lmico desde su materia prima: la pel&#237;cula, las perforaciones, la emulsi&#243;n, sus cicatrices, sus procesos &#243;pticos y qu&#237;micos, etc
</p>

<p>
La m&#250;sica es de Brian Eno, quien, hacia finales de los a&#241;os setenta, se serv&#237;a de los films de Le Grice para sus conciertos en solitario de m&#250;sica &#171;discreta&#187; o en suspensi&#243;n (<i>planante</i>, que se dec&#237;a en Francia). Los films de Le Grice y los sonidos de Eno parec&#237;an en aquel entonces hechos el uno para el otro, <i>quid pro quo</i>, pues part&#237;an de unos principios equivalentes, sobre la base de bucles repetitivos y de desfases ligeros pero progresivamente crecientes. De <i>Berlin Horse</i> hay tambi&#233;n una versi&#243;n para doble pantalla que acent&#250;a este aspecto permutatorio
</p>

<p>
El film consta &#250;nicamente de dos im&#225;genes: dos planos &#8211;uno de archivo, el otro procedente de una filmaci&#243;n en 8 mm, y ambos en blanco y negro originalmente&#8211;
reprocesados &#243;pticamente con diversas t&#233;cnicas que a&#241;aden color, textura y sobreimpresiones de positivos y de negativos, con efectos de solarizaci&#243;n cuando ambos se superponen. Tales rasgos hacen patente la formaci&#243;n del autor tanto en el campo de la pintura como en el de la m&#250;sica (concretamente, por los andurriales del jazz y las m&#250;sicas improvisadas): el acento puesto sobre el color m&#225;s que sobre la iconicidad de las im&#225;genes, el ritmo interno de las reiteraciones permutatorias
</p>

<p>
Cuando Le Grice ha entrevisto que su vocaci&#243;n era el cine y no las artes pl&#225;sticas tradicionales (y puesto que tampoco llev&#243; mucho m&#225;s lejos su afici&#243;n por la m&#250;sica), en seguida sinti&#243; la necesidad de crear sus propias herramientas a fin de no depender de los laboratorios cinematogr&#225;ficos ni de sus est&#225;ndares. Posteriormente, al vincularse a la London Film-Makers&#8217; Co-operative, impuls&#243; el establecimiento de un obrador propio, as&#237; como la exploraci&#243;n en intensidad de las t&#233;cnicas de impresi&#243;n &#243;ptica; recursos caracter&#237;sticos en muchas de las obras propiciadas por la cooperativa londinense
</p>

<p>
El trabajo de Malcolm Le Grice &#8211;en tanto que artista, te&#243;rico y docente&#8211; ha descollado en el marco del cine de vanguardia brit&#225;nico de los a&#241;os sesenta y setenta, aunque luego se ha decantado por los terrenos del v&#237;deo y la imagen digital. En cualquier caso, es un referente indispensable por su concepci&#243;n de un cine materialista-estructural, por sus exploraciones del campo expandido (con obras de multiproyecci&#243;n,
<i>projection events</i>
y performances cinematogr&#225;ficas) y por su b&#250;squeda de nuevas estructuras narrativas
</p>
