  <p> <b>DE LA DISOLUCION DEL RELATO AL VIDEO-CLIP PERPETUO</b></p>

<p> El cine, el vídeo y los programas de TV musicales han sido con frecuencia espacios de libertad y experimentación en un contexto audiovisual homogeneizado, en el que conservan su hegemonía unos modelos narrativos abocados, en una inmensa proporción, a la rutina.
La representación visual del hecho musical tiende a eludir desde un primer momento el principio realista del relato cinematográfico, y a superar la credibilidad de la ficción con la más desatada fantasía.
Lo que se privilegia, en definitiva, es la misma unión de la imagen y el sonido como sustancia de un lenguaje <i>audiovisual</i>.</p>

<p> Es significativo que varios de los realizadores de mayor reputación internacional en el área del vídeo musical tengan antecedentes en el cine y el vídeo experimental más o menos conocidos, mientras que otros proceden de la publicidad en un sentido amplio (spots, fotografía, infografía), de diversas especialidades profesionales en la industria audiovisual
(directores de fotografía, documentalistas y realizadores de TV especializados en temas musicales) y, también, de la música misma, pero con una atención que extienden hacia los aspectos de imagen y hacia otras artes. Aunque también se da el caso de cintas musicales realizadas por famosos cineastas, se trata usualmente de producciones de excepción en las que su aportación se cumple a modo de "firma invitada".</p>

<p> En los vídeo-clips, como popular epicentro de lo que se suele entender por vídeo musical, el director no es la estrella. Como en el caso de los spots publicitarios, el anonimato es la regla. Sin embargo, beneficiándose de una fecha de caducidad a más largo plazo que la publicidad de objetos comunes y de la penetrante popularidad de los ídolos y
éxitos del pop/rock, un peculiar idioma de imágenes y sonidos conjuntados acaba por destacar, llevando su influencia hasta el mismo cine narrativo y a los telefilms y programas deportivos, entre los formatos televisivos que más evidentemente han incorporado rasgos estilísticos propios de los clips. Ello produce a la postre un reciclaje continuo de las vanguardias a los territorios comerciales de la publicidad, la televisión y las industrias discográfica y cinematográfica.</p>

<p> Tratándose de un arte comercial, masivo y de intención promocional —en definitiva, de lo que se trata es de vender discos, atraer público a los conciertos, estimular la demanda—, en el vídeo musical la autoría está al servicio del cantante o grupo cuyos temas ilustra. Y como en la producción de vídeos musicales suele haber bastante dinero por en medio, la autoría tiende a quedar oculta entre el ostensible trabajo de equipo, el lujo de la producción y el efecto estelar de la música visualizada. Los vídeo-clips constituyen así un terreno movedizo que se asienta de manera ubicua en programas y canales de TV (MTV, Music Box), clubs y salas de conciertos, comercios y ferias, videocassettes y CD-vídeos... Las reglas del relato que presiden otras formas de lo audiovisual pueden ser zarandeadas o rotas a gusto, incluso cuando se emplean determinadas estructuras narrativas y citas.</p>

<p> Las tentativas de rastrear retrospectivamente los orígenes del formato específico del vídeo-clip y de otras facetas de candente actualidad de la relación vídeo/música más en general han dado lugar a algunas investigaciones y recopilaciones de gran valor, entre las que se pueden mencionar el libro y vídeocassette que conforman la obra titulada <i>Clip, Klapp, Bum (Von der visuellen Musik zum Musikvideo)</i>, al cuidado de Veruschka Bódy y Peter Weibel (DuMont Taschenbücher, Colonia, 1987). Trabajos de esta índole nos permiten comprobar, más allá de lo que se da por sabido, lo que V. Body ha caracterizado como la "cleptomanía" de los clips o, para decirlo llanamente, lo mucho que han chupado del cine experimental en primer lugar, del vídeo-arte en segundo lugar y, por último y en general, de otros aspectos de las vanguardias artísticas de nuestro siglo.</p>

<p> Más recientemente, algo similar resulta flagrante en el caso de dos tipos de emisiones televisivas de carácter musical que presentan como novedad lo que no es sino apropiación, y en cierto modo banalización, de conceptos y técnicas vídeo/musicales en los que se reflejan ciertas tendencias de los últimos años. Así, los prototipos de los clips y de todo un canal de TV destinados a los amantes de la música <i>New Age</i> remiten con facilidad al concepto de <i>Ambient Music</i>
(y, análogamente, <i>Ambient Video</i>)
en la trayectoria de Brian Eno y adláteres, así como, más en abstracto, a la idea de <i>Wallpaper TV</i>
(literalmente, TV de papel pintado), utilizada con deliberada ironía por Nam June Paik y otros vídeo-artistas y críticos; los bellos paisajes, las contemplaciones ensimismantes que componen el grueso de las tópicas imágenes de los vídeos musicales <i>New Age</i>, son así concebidas para proporcionar un "amueblamiento" sonoro-visual neurorrelajante.</p>

<p> Segundo ejemplo, la emisión <i>Ultratech</i>
(en el canal de TV por satélite MTV-Europe), una frenética emisión de media hora en doble ración semanal dominada por imágenes abstractas o altamente manipuladas con múltiples efectos digitales, prolongando hasta el exceso un amplio legado de investigaciones tecnológico-formalistas del vídeo-arte, pero más en particular del hermanamiento del vídeo con el <i>Hip Hop</i> en lo que se ha dado en llamar <i>Scratch Video</i>.
Traspasado el límite de la devoración de canciones e imágenes a que invitan MTV y similares, estos dos contrapuestos ejemplos anuncian quizá, aunque desde el oportunismo, la nueva dimensión del vídeo-clip perpetuo.</p>

<p> EUGENI BONET</p>
 