  <p> <b>TV or not TV?</b></p>
<p> <b>(Videocrash, Death TV &amp; Post TV)</b></p>


<p> <b>1. PRETEXTO</b></p>

<p> Algunas referencias transparentes u opacas en el título, yendo de un Bill a otro; del cisne de Avon (creo que fue Nam June Paik quien acuñó la chistosa aliteración) a Burroughs y compinches: “So Who Owns Death TV?”, un texto compuesto (<i>cut-up!</i>)
a varias manos y citado en exergo de un remoto artículo del crítico y artista Douglas Davis, “The End of Video: White Vapor” (1978).
Otro título que ahora mismo cobra una resonancia acaso imprevista en su fecha, pues es tanto de la <i>muerte de la TV</i> como del <i>final del vídeo</i>
—para ambos casos, con signos de interrogación o admiración si se prefiere— de lo que pretende tratar este texto (y, en parte, <i>intertexto</i>).
La propia televisión se ha ocupado ya de lo primero: la televisión se ocupa a menudo de sí misma, incluso de su presunta agonía, que así digiere las maledicencias de los intelectuales retorcidos. No sé
si es tempestivo tratar de lo segundo (<i>Videocrash</i>), y no solamente en conexión con lo primero (<i>Death TV</i>), sino en relación además a unos nuevos vaticinios para la transubstanciación del tubo televisivo (<i>Post TV</i>).</p>

<p> No voy a insistir demasiado sobre los orígenes de una querella tan espinosa, peliaguda, vetusta, como la que enzarza al vídeo con la televisión (VT/TV). Cualquier breviario sobre la historia y peripecias del vídeo —del vídeo del que se habla, cuando se habla, en las revistas de arte; y supongo que no es necesario enumerar una vez más los muchos nombres de (este) cristo— permite remontarnos hasta aquel catecismo (y sus evoluciones / discusiones posteriores) de si “el vídeo no es televisión” (<i>VT is not TV</i>), el “vídeo <i>es</i> televisión” (tal vez con el interrogante que proponía Muntadas en una de sus intrusiones televisivas), <i>TV or not TV</i>…, y hasta la actual o aparente volatilización del tema entero. En cualquier caso, antes de proseguir, creo poder ampliar la premisa arguyendo que no se trata exclusivamente de un asunto de orden interno del vídeo, o de consanguínea promiscuidad audiovisual, sino que puede extenderse a la presencia —más bien minúscula, cuando no es cuasi ausencia— del arte contemporáneo en la TV. Del arte entendido en su vastedad, aunque con esos componentes, más bien impopulares, de riesgo y desconcierto que a menudo connota aquel epíteto de contemporaneidad u otros de equivalentes.</p>

<p> En este sentido, el rol del vídeo fuera el de un figurante más, excepto que de algún modo habría condensado el ímpetu de una aspiración tan inocentemente radical como improbable, tratando de constituirse en su avanzadilla; sin embargo pacifista. (¿Inocentemente, he escrito? El adverbio tal vez lo introduce la distancia y las imágenes que amarillean, por electrónicas que fuesen). Es decir, con el vídeo no sólo se ha pretendido generar un arte en sí mismo (y circunstancialmente ensimismado), sino que se regeneraron las hipótesis simbióticas; se propiciaron las intertextualidades más diversas; y se ha probado de abordar los grandes y pequeños temas de siempre, de ahora o de su entonces —en el arte y la cultura, en la vida y la arena política…—, rehuyendo la rutina de la reseña o el reportaje sin alma, para tender al ensayo o el testimonio con cuerpo e identidad.
Pero (o por tanto) el vídeo no es un ente homogéneo, sino todo lo contrario, y el “(a)salto a la televisión” constituye apenas una de las subtramas en las que se ha metido o entrometido, aunque no sea un asunto menor.</p>

<p> En Estados Unidos, gran parte de la prosapia generativa del vídeo está
estrechamente vinculada a la televisión. Desde 1967 y hasta el comienzo de los ochenta, existieron varios centros de experimentación o laboratorios de TV, programas de residencia y emisiones puntuales o periódicas en algunas estaciones afiliadas a la red pública (PBS), siempre con el respaldo de fundaciones privadas e instituciones públicas. De ahí salieron, y por ahí pasaron, un gran número de obras y de artistas que hoy figuran entre los “clásicos del videoarte”: Paik, Campus, Davis, Emshwiller, los Vasulkas, Downey, Viola, Hill, Jonas, Atlas, Sanborn… Y, por otro lado, el concepto de TV ha de ser interpretado en un sentido o ideal de pluralidad y abundancia, compendiando múltiples iniciativas, ensayos y quimeras: televisión de guerrilla, comunitaria, de baja potencia, por cable y de acceso público, por satélite, de exploración lenta (<i>slow scan</i>), interactiva, de artistas, etc. Otro aspecto significativo, y que tendría una notoria proyección en los 80, concierne a los planteamientos de irradiación televisiva que acariciaron o acometieron diversos museos o centros de arte, espacios alternativos y colectivos de artistas y activistas; planteamientos que alcanzarían su cenit con la puesta en marcha de proyectos como The Artists Television Network (1976-1984) o The CAT Fund (CAT por Contemporary Art Television, 1983-1990), así como de diversas emisiones regulares en canales públicos y de cable, incluyendo la iniciativa contrainformativa, y todavía en activo, de <i>Paper Tiger Television</i> y su prolongación por satélite, <i>Deep Dish TV</i>.
La creación más reciente, en 1988, del Independent Television Service (ITVS), un ente dedicado a promover la producción independiente y la vivacidad de la televisión pública, parece que ha favorecido esencialmente el documentalismo y la ficción en detrimento de otras prácticas vistas con recelo por los programadores y los audimetros.</p>

<p> En general, las televisiones europeas —primordialmente de titularidad pública y en régimen de monopolio estatal (salvo en el caso británico) hasta el advenimiento de los canales privados— siempre se han mantenido menos abiertas a las tentativas de infiltración de videastas, artistas e independientes en general. Sin embargo, el historial VT/TV tiene también sus leyendas e hitos gloriosos desde los felices 60 a los prodigiosos 80: <i>Fernsehgallerie</i>, <i>Das kleine Fernsehspiel</i>, <i>Vidéographie, Ghosts in the Machine</i>…, más las expectativas que en su momento suscitaron ciertos canales televisivos de nuevo cuño, como Channel Four o La Sept (éste último fusionado posteriormente en el conglomerado franco-alemán de ARTE), o la TV por cable en determinados contextos. Al parecer, en los 90 todavía pueden hallarse algunos islotes ocasionales, o incluso resistentes y en buena forma. Por otro lado, son varias las radiotelevisiones europeas que han mantenido —y en algún caso hasta mimado— la figura y función de unos departamentos de experimentación, <i>recherche</i>, <i>ricerca</i>…, amparando las pesquisas y propuestas “rompemoldes” de cineastas, dramaturgos, músicos, profesionales de la TV y creadores multidisciplinares. (Unos cuantos nombres: Rossellini, Renoir, Fassbinder, Godard, Gregoretti, Watkins, Reitz, Kieslowski, Greenaway, Kluge, Beckett, Kagel, Potter, Bene, Averty, Montes-Baquer, Schippers, Toti, Drupsteen, Decostere, Sólyom, Ciprì
&amp; Maresco).</p>

<p>
¿Y en España y nuestro estado de las autonomías? Nuestras televisiones
—públicas, privadas, autonómicas, pagantes y locales— son tan poco plurales que cuesta hallar sus lagunas más audaces o simplemente dignas, incluso si se barajan los criterios más anchos de creatividad, cultura y comparativo riesgo. Las hay todavía (o, por lo menos, cubren el expediente), pero son las menos, y el concepto de “programación cultural” raya a menudo en lo patético. Por lo demás, el historial de una televisión “de vanguardia” —o, en su defecto, “modernilla”— lo integran, merecidamente o no, algunas series y emisiones singulares, dignas de figurar en cualquier caso en un <i>expediente X</i> de la tele en España. La incidencia del vídeo de creación se agota en esos ecos y asimilaciones (aunque no siempre admitidas), y en unos resquicios circunstanciales y que parecen más y más obturados
(<i>Metrópolis</i>/TVE, <i>Piezas</i>/Canal Plus, y poco más). A través de algunas exhibiciones o programaciones de vídeo, ha habido ocasión de conocer ciertas incursiones pro-televisivas (o pro y contra al unísono) de autores como Muntadas, Torres, Alvarez, Codesal, Rodríguez, Expósito/Hergueta, Montero, Ortuño…; pero es significativo
—además de descorazonador— el comprobar que muchas de ellas jamás se han emitido por los cauces que las motivaron y hasta propiciaron. Contradicciones y absurdos de este tipo impiden, en mi opinión, que pueda darse por zanjada la querella (a)simétrica VT/TV, por muy consabida y cansina que suene.</p>


<p> <b>2. INTERTEXTO</b></p>

<p> Me parecía oportuno volver sobre esos tópicos, y abordar o introducir de paso otras utopías recientes —ciertos cánticos de alabanza actuales, que se dirían un tanto precipitados, en torno a <i>la muerte de la TV</i> y los pronósticos para su provechoso reemplazo y superación por otras redes e infopistas—, en un momento de creciente degeneración de las televisiones, ante todo las llamadas <i>públicas</i>, como librándose más y más de unas fastidiosas responsabilidades de iluminación cultural, soporte a la creación e investigación audiovisual y atención a las expresiones minoritarias, siendo temas sobre los que, sin embargo, no ha cesado de hablarse a lo largo de varias décadas (quizá enfrentando el diálogo contra un muro). Y, por otro lado, cada vez se va haciendo más difícil el introducir no
únicamente el vídeo de creación o independiente en TV, sino en general un tratamiento contemporáneo de los temas artísticos, culturales y alternativos en su más ancho alcance.</p>

<p> Partía en principio de ciertas premisas y observaciones. Por ejemplo, se ha producido un relativo abandono del formato monocanal en provecho del formato expandido de la instalación o de otros medios y multimedios; y, por tanto, de un posible cauce televisivo (que antaño parecía un objetivo apremiante) hacia las estancias del arte, y sus puertas que se abren y cierran no menos caprichosamente; puedo mencionar algunos nombres bien conocidos: Paik, Viola, Hill, vom Bruch, Muntadas
(aunque algunas de las últimas realizaciones monocanales de los nombrados hayan sido motivadas precisamente por ocasionales demandas televisivas), y podrían añadirse los de diversos artistas emergentes y ya preeminentes. Mientras que, en cuanto al vídeo monotubo se refiere, pueden constatarse ciertas variaciones de rumbo.
En primer lugar, de la pieza “sobreproducida” favorecida por los años dorados del <i>vídeo es TV</i>, al uso de otros medios más pobres, domésticos o comparativamente rudimentarios, como en un retorno a ciertos orígenes del vídeo: a lo íntimo, lo procesual, lo escueto… Y, así mismo, desde las imágenes ensimismadas, fabuladoras o pirotécnicas hacia el verismo y la comunicación inmediata; por ejemplo, en la nueva efervescencia del documentalismo y el activismo social.</p>

<p> Por otra parte, al decidirme a abordar tales cuestiones, sabía que no estaba muy al día sobre su realidad o irrealidad, vigencia o indigencia más allá del escaso telecondumio que suelo ingerir diariamente (público o privado, estatal o autonómico, y apenas ahora enriquecido parabólicamente); entre otras cosas, porque, tal como he sugerido, no es un tema sobre el que se haya hablado/escrito demasiado últimamente (que yo sepa, al menos), y también porque la tele<i>fisión</i> es algo tan fugaz, etéreo y atomizado. Pero esa carencia de actualización que sentía la he suplido parcialmente gracias a la correspondencia electrónica que he mantenido con diversas personas a las que me he dirigido para buscar un intercambio de puntos de vista, opiniones y datos.</p>

<p> Algunas que se habían distinguido por su atención a estas cuestiones, como Kathy Huffman o John Wyver, se manifiestan ahora distanciadas de las mismas y más volcadas a las posibilidades de la cibernáutica (aunque Wyver y sus asociados en la empresa Illuminations siguen desempeñando una intensa actividad productiva en diversas modalidades de la imagen en movimiento: televisión, productos interactivos, cine, animación).
En este sentido, es significativa la opinión de K. Huffman, según la cual el VT, lo mismo que la TV, “ya no es tan importante como un medio para descubrir nuevas situaciones o nuevas ideas”.</p>

<p>
¿VT
= TV? ¿VT ≠ TV?: Las viejas ecuaciones siguen sin resolverse, como el enigma del sexo de los ángeles. No voy a recoger las diversas opiniones o matizaciones recibidas, pero sí la sugerencia que plantea Juan Crego al preguntarse por la pluralidad de conceptos, intenciones, modelos, formatos, etc. que esconde la unitariedad aparente, y aparentemente emparentada, de ambas siglas. Puede ser grosero añadir que no todo el vídeo es apto o está dispuesto a pasar por el mismo tubo, ya que hasta los tubos se diversifican.
Peter D'Agostino, por su parte, se remite al replanteamiento introducido para la reedición, en 1995, de su compendio
<i>Transmission</i>, ahora con el subtítulo <i>Toward a Post Television Culture</i>.
(En la primera y anterior edición, anterior en diez años: <i>Theory and Practice for a New Television Aesthetics</i>.
Una de las diferencias que se aprecian, por cierto, es el menor peso ahora concedido al vídeo en tanto que práctica artística autónoma). En su prólogo, escriben D'Agostino y David Tafler, co-editor de esta nueva versión: “En una cultura postelevisiva, televisión ya no significa televisión. […] La televisión ha devenido actualmente cajero electrónico, monitor de seguridad, terminal de información, interfaz de ordenador.”</p>

<p> Entre las respuestas recibidas, he constatado en general un cierto desencanto —aunque no necesariamente melancólico— respecto a las expectativas que habían generado en otro tiempo el vídeo y la TV alternativa. Para eso, ciertamente, no hace falta acudir a la red; basta con estar un poco introducido en la actualidad de las artes tecnomediales. Pero también he recogido algunas visiones pragmáticas y sopesadoras de los extremos: entre el culto a la novedad —que, como viene a decir Marshall Reese, también diera ímpetu al vídeo en su momento— y el interés que señala Muntadas por explorar otras direcciones, tecnologías y formatos. Reese observa igualmente que la televisión, y el vídeo mismo, se habrían hoy convertido en algo tan habitual, anodino y previsible, que el interés de muchos jóvenes artistas y agentes culturales se decantaría por otras vertientes (ya sean novedosas o retomadas de un pretérito más anterior, añadiría yo).</p>

<p> Quizá
aquella impresión de desencanto responda a la circunstancia de estar hurgando en una herida, o en la memoria y el inconsciente colectivo de una serie de hitos y fracasos, logros y reveses —acaso exagerados de tamaño en ambos casos—, desde la perspectiva y expectativas de la escena del vídeo o, más ampliamente, de una
“cultura independiente de la imagen” (Wyver, 1995). Lo cierto es que, si lo que yo pretendía en parte era proseguir el historial sintetizado más arriba y pulsar el estado de la cuestión ahora mismo, los datos más o menos concretos que he recogido diríase que invitan a contemplar efectivamente otras vías (postelevisivas).
Muntadas sugiere que otras estrategias brotarán espontáneamente, y opina que éstas habrán de prescindir de las complicidades contranatura con entes comerciales u oficiales. Wyver me remite elegantemente a cierta controversia mantenida con Michael O’Pray, referente al <i>doing away with</i>
 —la abolición de— el arte del vídeo como ente segregado y con el reloj adelantado respecto de las leyes de la oferta y la demanda en el libre mercado mediático / audiovisual. Y, a su vez, la réplica de O’Pray nos conduciría a otras cogitaciones sobre los grados de
“subversión” y “autenticidad” —y de transgresión, crítica, oposición, resistencia— que pueden seguir alcanzándose en los predios del arte y la independencia, y frente al “flujo general de las imágenes” (O’Pray, 1996).</p>

<p> Por último, algunos persisten en reivindicar el potencial negligido de la televisión y del vídeo, e incluso el reto que suponen determinadas y consabidas restricciones. Muntadas, Caterina Borelli o Arlindo Machado desconfían de las sentencias de muerte o las palabras fúnebres.
Machado señala la importancia del debate teórico y de la exploración de las ultimísimas tecnologías, pero opina que “las experiencias realizadas con los nuevos medios no se hallan al mismo nivel de provocación y de radicalidad que las experiencias de Paik, Vasulka, Hill o Larcher”. Y, para regresar aún al meollo primero del VT/TV y del arte-en-TV, quiero concluir reproduciendo (sin tendenciosa premeditación) otras de las líneas recibidas de Arlindo Machado:</p>

<p>
”Creo que la televisión es un medio muy mal conocido. Los teóricos nos acostumbraron a encarar la televisión como un medio populachero, <i>de masas</i> en el peor sentido del término, y durante mucho tiempo nos impidieron prestar atención hacia unas experiencias poderosas, singulares y fundamentales para definir el estatuto del arte en este final de siglo. El personal del videoarte también ha tenido cierta responsabilidad en la mal comprensión de la televisión como experiencia cultural y radical. […] Creo que una pesquisa seria y exhaustiva podría conllevar una sorpresa, porque la televisión tiene un repertorio de obras creativas mucho mayor de lo que se supone normalmente; un repertorio suficientemente amplio y denso como para incluirla entre los medios culturales más importantes de nuestro tiempo. Multimedia, redes e infografía tendrán que esperar aún varias décadas hasta que puedan constituir un acervo de la misma dimensión e importancia que el de la televisión y el vídeo.”</p>

<p>
......................................................................................................................................................</p>

<p> EUGENI BONET es escritor y curador transmedia, con base en Barcelona.</p>



<p> <b>REFERENCIAS</b></p>

<p> D’AGOSTINO, Peter (ed.)  <i>Transmission.
Theory and Practice for a New Television Aesthetics</i>.
Nueva York: Tanam Press, 1985</p>

<p> D’AGOSTINO, Peter / TAFLER, David (eds.)  <i>Transmission.
Toward a Post Television Culture</i>.
Thousand Oaks, California :Sage Publications, 1995</p>

<p> DAVIS, Douglas  “The End of Video: White Vapor”, en <i>New Artists Video. A Critical Anthology</i>
(ed. Gregory Battcock). Nueva York: E.P. Dutton, 1978</p>

<p> HUFFMAN, Kathy Rae  “Video Art: What’s TV Got To Do With It?”, en
<i>Illuminating Video. An Essential Guide to Video Art</i>
(eds. Doug Hall / Sally Jo Fifer). Nueva York: Aperture, 1990</p>

<p> HUFFMAN, Kathy Rae / MIGNOT, Dorine (eds.)  <i>The Arts for Television</i>.
Los Angeles: The Museum of Contemporary Art / Amsterdam: Stedelijk Museum, 1987</p>

<p> MIGNOT, Dorine (ed.)  <i>Revision.
Art Programmes of European Television Stations</i>.
Amsterdam: Stedelijk Museum, 1987</p>

<p> MUNTADAS
 <i>Video is Television?</i>
(vídeo, 4’) 1989</p>

<p> O’PRAY, Michael  “The Impossibility of Doing Away with Video Art”, en
<i>Diverse Practices: A Critical Reader on British Video Art</i>
(ed. Julia Knight). The Arts Council of England / University of Luton Press, 1996</p>

<p> ROSS, David  “A Provisional Overview of Artists’ Television in the US”, en <i>New Artists Video…</i>
(op.cit.)</p>

<p> WYVER, John  Ensayo introductorio del catálogo <i>What You See is What You Get. The Third ICA Biennial of Independent Film &amp; Video</i>.
Londres: Institute of Contemporary Arts, 1995</p>

<p> WYVER, John  “The Necessity of Doing Away with Video Art”, en <i>Diverse Practices…</i>
(op.cit.)</p>


<p> Mi agradecimiento a todos los corresponsales electrónicos que se avinieron a dialogar sobre el tema (y mis disculpas si alguno pudiera sentirse traicionado debido a mi posible torpeza a la hora de condensar e hilvanar sus diversas aportaciones): John Wyver (Londres), Muntadas (Nueva York -
Barcelona), Marshall Reese (Nueva York), Caterina Borelli (Nueva York), Arlindo Machado (São Paulo), Juan Crego (Bilbao), Peter D'Agostino (Filadelfia), Kathy Huffman (Viena).</p> 