  <p>[] <b>LA VIDEO-INSTALACION, DENTRO Y FUERA DE SU CASILLA</b></p>

<p> La noción de instalación, de renovado auge en el panorama artístico de hoy, ha estado estrechamente relacionada con la creación videográfica desde sus mismos orígenes (en los años sesenta). Sin entrar aquí en consideraciones históricas sobre la implantación en el contexto artístico de una voz tan prosaica como "instalación", las primeras obras en las que monitores o televisores adquieren una presencia escultórica o multimedia pertenecen a la familia de los
<i>assemblages</i> y los <i>environments</i> o entornos (o ambientes), con raíces en las tendencias coetáneas del Pop-Art y el Nouveau Réalisme, de los Happenings y de Fluxus, participando así de la genealogía de lo que actualmente, y de manera más común, denominamos instalaciones; y, cuando el vídeo adquiere un papel principal, vídeo-instalaciones, aunque también vídeo-esculturas, vídeo-objetos, etc.1</p>

<p> Hoy se abusa ciertamente de la noción de instalación al aplicarse a casi cualquier obra que se
"despliega" en el espacio, por contraste con el cuadro colgado en la pared, la escultura que se yergue sobre el suelo o sobre un pedestal,... Pues toda exposición es también un despliegue más o menos organizado, la presencia de un monitor de vídeo o de una grabación sonora, pongamos por caso, no garantizan que nos hallemos delante de una instalación. Pero la noción misma es indefinible si no es mediante la acumulación argumentada de ejemplos. La instalación no es un formato normalizado, sino una forma idiosincrática de articular diversos elementos en un conjunto unitario. La última frase, sin embargo, no puede tomarse como una definición (al menos suficientemente buena), sino a riesgo de caer en falsos silogismos.</p>

<p> La falta de definición que rodea aún a una cierta terminología del arte contemporáneo facilita la tendencia al equívoco. A tomar, por ejemplo, como un género o subgénero lo que es más bien un campo abierto y versátil de creación artística. "Una instalación —escribía recientemente Francesc Torres— puede ser cualquier cosa siempre y cuando un artista la haga, la defina, la recicle o la rescate. Con esto pretendo decir que puede haber tantos conceptos de instalación como pueda haberlos de pintura o de escultura".2</p>

<p> En todo caso, la instalación es esencialmente un arte mixto, plural, frecuentemente multimedia. Los lazos de la instalación (o de una mayoría de instalaciones, mejor dicho) con la escultura no se pueden pasar por alto. Pero habría que mencionar igualmente, y según los casos, la arquitectura, el diorama, la escenografía, la polivisión, la <i>performance</i>, las tecnologías electrónicas audiovisuales, las atracciones de feria, etc. La inclusión de registros visuales y/o sonoros acentúa la cuarta dimensión temporal de la obra en la medida en que afecta a nuestro acto de percepción de la misma, si bien el tiempo que nos ocupa puede ser más o menos breve o prolongado, dependiendo de la mayor o menor complejidad en los elementos que combina, del grado de narratividad, discursividad o interactividad que introduce y, obviamente, del éxito o el fracaso en la resolución global de la obra.</p>

<p> Mientras que el concepto de instalación se está revelando demasiado amplio o confuso, la designación "vídeo-instalación" tendría en principio la ventaja de puntualizar al menos uno de sus componentes básicos.
Pero, de nuevo, puede surgir la confusión del presunto género que no es, abriendo para él una casilla aparte. Y esto es lo que ha venido sucediendo por una variada gama de razones: por sus relativos costes y complejidades tecnológicas, por unas ciertas reticencias en los sectores artísticos tradicionales, por las estructuras separadas y necesidades teórico-estéticas del vídeo, de manera que el destino de las vídeo-instalaciones ha sido en gran parte el de exposiciones colectivas regulares o puntuales (en el marco de festivales o muestras de vídeo, y más ocasionalmente en museos u otros centros artísticos).  </p>

<p> No cabe duda que las vídeo-instalaciones, vídeo-esculturas, instalaciones multimedia conforman uno de los territorios más atractivos, y hasta populares, en relación con esa controvertida
"denominación de origen" de dudosa fama que es, o era, el llamado vídeo-arte. Desde 1963, con las primeras instalaciones con televisores manipulados de Nam June Paik (<i>Exposition of Music/ Electronic Television</i>)
y de Wolf Vostell (<i>6 TV Dé-coll/agen</i>), dicho territorio ha sido explorado con inventiva y progresivo ahondamiento por un amplio número de artistas, poniendo de relieve el potencial artístico del vídeo en su combinación con la multidimensionalidad de la instalación (y, colateralmente, con la
<i>performance</i>).</p>

<p> Sin embargo, una exposición como <i>Video-Skulptur</i>
—que recorrió el pasado año las ciudades de Colonia, Berlín y Zurich reuniendo cerca de medio centenar de instalaciones y vídeo-esculturas—, a pesar de su indudable interés sobre el papel
(como lo prueba el útil libro/catálogo de la misma)3, y al margen de la buena acogida que por parte del público obtuvo, puso de manifiesto una preocupante desproporción entre la calidad y el atractivo que retenían la mayoría de las obras de la parte retrospectiva de la muestra (es decir, aquellas que podrían tildarse de "clásicas") y la imagen de irregularidad y dispersión que se desprendía de la selección de obras que pretendía reflejar la actualidad, salvo algunas que sobresalían por sí mismas.</p>

<p> Obviamente, un cierto vocabulario (formal/estructural) ha terminado por establecerse, convertirse en código del dominio público, y hasta industrializarse, tal como ha sucedido con los mosaicos de múltiples pantallas tipo Videowall. Por otro lado, ha disminuido sensiblemente el factor sorpresa que hace años podía tener cualquier artefacto objetual o escultórico que incorporara uno o más monitores con mayor o menor ingenio. Quizá por eso, al poema o chiste visual tan abundante en el desarrollo primerizo de la vídeo-instalación, le ha reemplazado en parte un cierto monumentalismo, aparatoso y espectacular, mensurable en el número de monitores empleados y en el de metros cúbicos ocupados por la obra. Uno de los riesgos de la vídeo-instalación/vídeo-escultura parece hoy el de caer en el gigantismo o en la simpleza; en la grandilocuencia banal o en la burda caricatura. (Paik, es cierto, ha transitado constantemente al borde de ambos abismos con soltura y desenfado, sin caer totalmente en el mal gusto).</p>

<p> A veces, ante determinadas obras, uno puede preguntarse qué razón tienen de estar ahí esos monitores, pantallas, imágenes electrónicas "ensambladas" con o dentro de los más variados elementos, materiales, objetos, construcciones,... ¿nada más que para representar figurativas obviedades, escenificar herméticas filosofías de cocina, conciliar archisabidas incongruencias, adornar vestíbulos...? Pero sería injusto deducir de todo ello que la vídeo-instalación, la vídeo-escultura (por extensión, el vídeo-arte o expresiones sucedáneas) ha dado ya casi todo cuanto podía dar de sí, y que podemos empezar a guardarnos aquellos conceptos, fastidiosos vocablos, en el archivo de los "ismos", tendencias y cuerpos extraños del movedizo arte de nuestro siglo. Se hace necesaria, eso sí, una lectura crítica/teórica más exigente y atenta a la contextualización apropiada de la diversidad de propuestas y enfoques del vídeo y la instalación (combinada y separadamente).</p>

<p> Tratar de la vídeo-instalación como si fuera una zona autóctona, un (falso) género, tiene probablemente aún su sentido. Después de todo, son relativamente escasos los ensayos o análisis del tema, y éstos no han rebasado nunca la dimensión del artículo de revistas, catálogos y obras colectivas. (Hay detrás de ello una dificultad inevitable, debido a la efímera existencia de la mayor parte de las instalaciones y a su aún limitada circulación y preservación museística).</p>

<p> Por otro lado, sin embargo, la pluralidad artística que se acentúa en nuestro presente requiere ir más allá de lo endógeno, de los fenómenos acotados por la superficialidad común de unos determinados soportes, para examinar más detenida e intrincadamente el mapa de conjunto en que se inscriben. Las vídeo-instalaciones no brotan en general como artefactos tecnológicos semi-anónimos expuestos a la curiosidad pública, sino como parte de unas prácticas artísticas que abarcan igualmente otros soportes y medios; o, también, de prácticas exclusivamente videográficas, incluyendo naturalmente el vídeo monocanal. Por tanto, es su relación/ilación con otras obras, incluso de características materialmente muy dispares, lo que nos permitirá situarlas entre la confusa abundancia de imágenes superpuestas dentro y fuera de lo que entendemos por arte(s).</p>

<p> EUGENI BONET</p>



<p> <b>Notas:</b></p>

<p> 1	Del variado vocabulario o jerga de las vídeo-instalaciones me ocupé en el artículo "Polivídeo: el vídeo en plural", en <i>Telos</i>, núm. 9, Fundesco, Madrid, marzo-mayo 1987.</p>

<p> 2	"Una práctica equívoca", en <i>El País</i>, sábado 17 de febrero de 1990; suplemento Artes, pág. 4.</p>

<p> 3	Wulf Herzogenrath/Edith Decker (Eds.): <i>Video-Skulptur, retrospektiv und aktuell: 1963-1989</i>, DuMont, Colonia, 1989.</p>
 