  <p> <b>25 ANYS DE VÍDEO-ESCULTURA:</b></p>
<p> <b>el pes de la història, ¿la insubstancialitat del present?</b></p>


<p> A Berlin, segona escala del seu itinerari, s'ha presentat l'exposició
<i>Video-Skulptur</i>, concebuda a la vegada com retrospectiva i panorama de l'actualitat en el camp artístic de les vídeo-instal.lacions. Respecte a com es va presentar originalment a Colònia, es comptava ara amb l'avantatge de poder encabir totes les obres en el gran espai del Kongresshalle berlinès; fora d'això, hi ha hagut poques variacions en el contingut de la mostra: només cinc absències i alguns afegitons, incloent-hi un cicle de vídeos monocanal dels autors que figuren en el llibre editat amb motiu de l'exposició (bastant més que un pur catàleg).  La impressió que n'he extret és la d'una mostra reeixida en un cinquanta per cent, aproximadament; és a dir, amb un bon plantejament, un muntatge parcialment satisfactori (perjudicial en canvi per a algunes peces), però amb uns criteris que haurien pogut estar més afinats en uns quants aspectes. En tot cas, a la vegada he de fer constar que ha tingut a Berlin una positiva acollida per part tant del públic com dels mitjans de informació.</p>

<p> Aquesta és l'exposició de vídeo-instal.lacions més important i de llarg abast fins ara realitzada, i una opinió generalitzada ha estat la de remarcar d'entrada l'impacte de la part retrospectiva, és a dir les obres més
"històriques", "clàssiques", ben documentades a la bibliografia existent sobre el vídeo(art), però que no sempre han estat fàcils de conèixer directament: el vídeo-passadís de Bruce Nauman, imponent presència de la simplicitat postminimal; les consoles de múltiples monitors de Les Levine i de Frank Gillette i Ira Schneider, exploracions de la trama multivídeo i exponents de l'ideari contracultural del "You are Information" [Tú ets Informació]; les cambres de miralls electrònics de Dan Graham i de Peter Campus, on l'espectador es troba desdoblat en el temps i en l'espai; l'enginyós dispositiu de Bill Viola, que fa que l'espectador es trobi reflexat en una gota d'aigua magnificada per un sistema de vídeo-projecció; i també les malifetes de Nam June Paik, Wolf Vostell i Wolf Kahlen amb l'objecte i la imatge televisiva, així com les de Mary Lucier amb les seves càmeres de tubs deliberadament cremats que determinen una grafia abstracta en els monitors.</p>

<p> Gairebé
totes aquestes escultures o instal.lacions empren el que en la gerga del vídeo i la televisió s'anomena circuit tancat, de manera que esdevenen obres amb un important component participatiu de l'espectador, a la vegada subjecte (observador) i objecte (observat)
de la peça. Per comparació, l'aplicació del mateix principi a una obra més recent i espectacular, com ho és el laberint de Buky Schwartz, no té la força que tenen aquelles. En canvi, amb l'escultura cinètica de Dieter Kiessling titulada <i>Televisor pendulant</i>, hom pot apreciar l'elegància i efectivitat del senzill joc formal que proposa, malgrat el relatiu anacronisme d'una obra que és del 1983 i d'un autor jove, quan hom podria perfectament pensar que fos de deu anys abans i d'una generació anterior.</p>

<p> Així, davant del pes específic de les obres peoneres, la tria de les més recents podria donar fàcilment una impressió global més decebedora, sobretot amb la inclusió d'una nul.litat com l'obra presentada pel tàndem Marina Abramovic/Ulay (nul.litat en tant que instal.lació, independent de l'apreciació que hom pugui tenir de les cintes que individualment la composen), a la que jo afegiria la vacuitat de l'obra presentada en aquesta ocasió per Fabrizio Plessi i la del que un dels prospectes de l'exposició destaca com "la tendència novella de l'<i>escultura-disseny</i> dels joves austríacs" (Graf/ZYX, Helmut Mark), l'excessiu hermetisme i la resolució poc convincent en les propostes d'altres autors (Barbara i Michael Leisgen, Rita Myers, Marcel Odenbach), el
<i>kitsch</i> vídeo-escultòric (Friederike Pezold, Lydia Schouten) i el monumentalisme efectistament aclaparador del treball últim de Marie-Jo Lafontaine, discutiblement tractat com a peça-estrella de l'exposició en la seva recalada a Berlin.</p>

<p> Entre les peces senzillament correctes, la recreació de l'ambient propi d'un jardí japonés en la instal.lació del iugoslau Dalibor Martinis, prou aconseguida si tot just es tractava de reconciliar els ginys electrònics amb un ambient de calma i repòs. <i>El nedador</i>, del grup Studio Azzurro, i, de manera menys espectacular però més personal, la <i>Or-phelia</i> d'Ulrike Rosenbach, treballen molt elementalment sobre la continuitat d'una mateixa imatge a través de fileres de més o menys monitors.
Interessant l'exploració de les possibilitats interactives del vídeo-disc a l'obra de Jeffrey Shaw, que invita a l'espectador a examinar un "paisatge narratiu" de imatges fixes
(projectades en un fossat) i textos que es succeeixen a voluntat, tot manejant una mena de <i>joystick</i>.
Colpidora i austera l'obra de Barbara Steinman, <i>Cenotaph</i>, referida a l'extermini dels jueus en l'Alemanya nazi, una instal.lació multimedia en la que el vídeo té un paper relativament menor. Reeixida també, dintre de la seva molt personal línia de treball, la instal.lació de Tony Oursler, amb el seu peculiar sentit de l'humor i la barreja d'expressionisme figuratiu, barroeria llampant i efectes especials del tot casolans.</p>

<p> Entre les obres amb més força, cal destacar per fi <i>The Board Room</i>, d'Antoni Muntadas, punyent posta en escena de la intimidadora intimitat entre els cercles de poder i els mitjans de comunicació de masses, amb el fonamentalisme religiós i el fenòmen del televangelisme com a referència més concreta, obra que vam poder veure l'any passat a Barcelona. I, tot i que amb inferioritat de condicions respecte a altres ocasions en que s'ha exposat, <i>Crux</i>, de Gary Hill, és també una obra remarcable dins d'una vessant més formalista, remetent-nos continuament a l'espai <i>off</i>, fora de camp, d'un desplaçament corporal a través d'un espai obert, enregistrat amb cinc càmeres subjectes al cos de l'artista i dirigides al cap, les mans i els peus, que en els cinc monitors de la instal.lació determinen una imatge fragmentada i reminiscent de la crucifixió.</p>

<p> La vídeo-instal.lació o vídeo-escultura compta amb 25 anys de història, com ho remarca el títol de l'exposició a Berlin i l'acotació temporal que vol abastar la tria d'autors i obres
(1963-1989). L'any 1963, Nam June Paik i Wolf Vostell, llavors ambdós vinculats a l'extremisme neo-dadaísta de Fluxus, grup artístic internacional, i a la pràctica dels <i>happenings</i>, els <i>events</i>, els <i>environments</i>, realitzaren sengles exposicions amb aparells de TV manipulats, desarreglats, transformats salvatgement, avui considerades com l'antecedent d'aquells conceptes. (De Paik s'han mostrat a Berlin dues peces ideades l'any 1963, en les que la imatge televisiva queda reduïda a una sola línia i a un sol punt de llum respectivament, dins d'un provocatiu minimalisme propi d'aquell temps). L'arribada dels primers sistemes portables de vídeo, vers la fi dels anys seixantes, impulsà definitivament el desenvolupament del vídeo com a mitjà artístic. La vídeo-instal.lació, però, no s'ha de considerar pas com un gènere o un idioma particular, tot i que una mostra com <i>Video-Skulptur</i> ens permet apreciar les riques possibilitats de vocabulari que es deriven de la conjunció de la base temporal dels sistemes audiovisuals electrònics i les dimensions espacials de la instal.lació o de l'escultura que va més enllà de la seva acepció
tradicional; de l'art, com s'ha dit alguna vegada, fora de format.</p>

<p> EUGENI BONET</p>



<p>
(2)</p>



<p> <b>arts/media</b></p>

<p> <b>VIDEO-SKULPTUR</b></p>


<p> El programa <i>Metrópolis</i>
(TVE-2) va dedicar recentment una de les seves emissions a l'ambiciosa exposició que, amb el títol de <i>Video-Skulptur</i>, es presentà a Colònia entre els mesos de març i abril d'enguany.
Com és habitual en algunes emissions de l'esmentat programa televisiu, el valor informatiu del reportatge era gairebé nul si no estaves informat anticipadament del tema, les obres i els autors representats.</p>

<p> Però els qui s'interessin molt pel tema i tinguin possibilitats de viatjar, tenen encara dues oportunitats de conèixer aquesta mostra, la més important que s'ha realitzat fins ara, de vídeo-instal.lacions i vídeo-escultures, vídeo-objectes i vídeo-arquitectures, sens dubte una de les vessants més atractives de l'exploració artística del mitjà
vídeo. Així, tot i que he sentit dir que és improbable que es tornin a reunir les 47 obres que integraven l'exposició a Colònia, el que en quedi (i possibles variants o afegits) serà primer a Berlin, al Kongresshalle del 27 d'agost al 24 de setembre, i després a Zurich, a la Kunsthaus del 13 d'octubre al 12 de novembre.</p>

<p> La mostra, concebuda a la vegada com a retrospectiva i panorama de l'actualitat, ha estat a cura de dues persones de reconeguda competència en el tema: Wulf Herzogenrath, fins fa poc al front del Kölnischer Kunstverein i ara a la Nationalgalerie de Berlin, i Edith Decker, autora d'un important estudi centrat en les vídeo-instal.lacions de Nam June Paik.</p>

<p> S'ha de destacar també el volum (bastant més que un catàleg) que ha estat publicat amb aquest motiu; sobretot la part que repassa i documenta l'obra vídeo-escultòrica o instal.lacions de 80 artistes, entre els quals hi figuren amb tota justícia quatre artistes catalans: Antoni Muntadas, Francesc Torres, Carles Pujol i Lluís Nicolau. (Hom hi troba a faltar però l'Eugènia Balcells). I el volum es complementa, com alguns altres libres de l'editorial DuMont que l'ha publicat, amb una cinta VHS que inclou imatges de les instal.lacions i entrevistes amb alguns autors.</p>

<p> La mostra no ha estat exempta de punts discutibles i aspectes debatuts.
No em queda espai per a entrar en si el títol donat a la mostra era el més adeqüat, quan hom parla més sovint de vídeo-instal.lacions
(amb el risc, certament, de que el terme sigui malinterpretat com una qüestió gairebé de lampisteria). Finalment, però, el més discutible seria inevitablement el perquè alguns hi són i altres no, injustificadament oblidats i absents en el llibre si més no.
Així, mentre a l'exposició hi havia instal.lacions força aparatoses però molt discretes (per exemple, la del suís Alexander Hahn titulada <i>Arthur</i>), o altres com les de Marina Abramovic/Ulay i Dara Birnbaum que no són gaire més que un decorat per a la presentació d'obres (cintes)
monocanal convencionals (i més o menys interessants com a tals), trobo prou xocant que ni tant sols en el llibre hi figurin autors com els Vasulkas o Paul Kos, així com que d'un pioner com Aldo Tambellini o de l'època de la "vídeo-guerrilla" ni se'n parli. Fora d'això, <i>Video-Skulptur</i>
és una proposta molt recomanable, i tant de bo alguna de similar es produeixi o ens arribi aquí algun dia.</p>

<p> EUGENI BONET</p>
 