  <p> <b>NOTAS PARA UNA CONTRAHISTORIA DEL</b></p>
<p> <b>VIDEO INDEPENDIENTE ESPAÑOL</b></p>

<p> <b>(x) Eugeni Bonet</b></p>



<p> <u><b>1. Errores de imprenta</b></u></p>

<p> Esta enésima ocasión de antologizar ("muestrear" estaría mejor dicho) la producción videográfica de autores españoles me impulsa a desviarme de ciertos esquemas prestablecidos por toda una literatura anterior, a la que yo mismo he aportado otras páginas. Esquemas que tradicionalmente han oscilado —y no sólo entre nosotros— de unos parámetros de exigencia normalizados o normalizadores, a otros de indulgencia endógena.</p>

<p> Una vez más, se trata de reescribir, muy sintética y subjetivamente, una historia, aunque no una con mayúscula. De ahí la idea de <u>contrahistoria</u>,como si la historia fuera una norma canónica a la que resistirse, o bien un breviario poco práctico y menos aún fiable. Estas líneas, pues, quisieran ser como una "fe de erratas" contrarrestante, aunque sin obviar la información descriptiva de los diversos aspectos que pueden facilitar la composición de lugar.</p>

<p> Erratas que entraña, en primer lugar, la propia miscelánea de prácticas e intenciones que engloban las diversas denominaciones de videoarte, videocreación, vídeo creativo, vídeo de autor, etc. Expresiones a las que yo prefiero otras como vídeo independiente o, en su extremo, personal, pues a menudo es un esfuerzo ante todo individual el que procrea los distintos productos y subproductos que aquí se contemplan.</p>

<p> Al vídeo español se le ha consagrado ya bastante tinta, pero quizá el diálogo de besugos haya prevalecido sobre el debate, y la reseña o noticia inocua sobre la crítica y el análisis de obras, autores y eventos. A mi juicio, este escaso eco crítico es una de las más agudas carencias nuestras, la cual se hace notar más aún por su reducida "polifonía" y por las escasas superficies disponibles en los medios de información.</p>

<p> Por tanto, si la tinta ha de acompañar, y eventualmente emborronar, el conjunto de las cintas seleccionadas, no puede dejar de consignar, más allá de los datos propios de cronologías y curriculums, las deficiencias y las suficiencias (en el buen y en el mal sentido del término) del presunto marco de referencia: ese ente un tanto abstracto que presupone el hablar del vídeo español como un todo.</p>


<p> <u><b>2. Errores genéticos: los comienzos</b></u></p>

<p> En España, las primeras manifestaciones de un uso artístico del vídeo se dieron a partir de 1969, pero muy esporádica y discontinuamente a lo largo de la sucesiva</p>
<p> década, salvo contadas excepciones. Por tanto, hay apenas una aparente sincronía con otras geografías, por coincidencia de fechas —que no de magnitudes—, y por consonancia con unas nociones de arte conceptual y expandido
(nuevos medios, medios alternativos), de las que emergen el mayor número de usos y exploraciones del medio en los 70's (más particularmente en Cataluña).</p>

<p> Sin embargo, al calcarse un esquema harto impuesto internacionalmente, se han pasado por alto otras raíces contextuales, puesto que el arte conceptual y alternativo pudo ser el caldo de cultivo más propicio (el videoarte siendo confundido con una de sus tendencias, como un "ismo" más y en boga), pero no uno aislado de otros medios y de otras formas de expresión, comunicación o cultura (y "contracultura")
alternativa, incluyendo a toda clase de heterodoxos y francotiradores de la cultura y la sociedad de aquel entonces. (Hurgando en la memoria, recuerdo por ejemplo que el escritor Francisco Nieva, autor de una obra dramatúrgica muy peculiar y hoy académico de la lengua, también tuvo su coyuntural acercamiento al medio).</p>

<p> Pero, sobre todo, sería entre el cine experimental e independiente donde cabría encontrar otro semillero, segundo en importancia, cuyos efectos no se verán tanto en la propia década de los 70's, como entre una segunda ola de autores que se darán a conocer en la siguiente; paradójicamente —o no sé si decir que por una lógica aplastante—, cuando la otrora vitalidad del cine independiente se extingue hasta su inexistencia.
Por tanto, una contrahistoria del vídeo español pudiera empezar igualmente por una figura aún tan mal conocida como siempre lo fue José Val del Omar (1904-1982), cineasta-poeta emparentado con la generación de artistas y escritores de la República, que, al término de su vida, experimentaba con toda clase de soportes audiovisuales, incluyendo el super-8, el vídeo y el láser. O también por Iván Zulueta, con sus films —llamados "malditos" o "marginales"— en formatos tanto profesionales como hogareños, sus incursiones en el medio televisivo y su influencia sobre otros imagineros independientes.</p>


<p> <u><b>3. Errores de bulto: las tres edades</b></u>  </p>

<p> Otro esquema que se ha impuesto más recientemente es el de tres generaciones y épocas a lo largo de los supuestos veintitantos años del vídeo español. La primera es la de los "pioneros" de aquellos comienzos recién aludidos, agrupando tanto a los ocasionales autores de obras apenas recordadas por figurar en la letra pequeña de cronologías, historias y memorias, como a otros artistas más recalcitrantemente empeñados en expandir los planteamientos de su obra plástica aunque sea con los medios más modestos o precarios (Carles Pujol, Ramón De Vargas), y sobre todo, de entre la escena del arte conceptual y alternativo, los catalanes errantes y afincados en Estados Unidos, al lograr la continuidad de su trabajo en un ámbito vídeo y multimedia en el que hoy son bien conocidos internacionalmente. (Muntadas, Francesc Torres y Eugènia Balcells, aunque esta última no comenzó
a trabajar en vídeo hasta 1980).</p>

<p> Frente al "vídeo de artistas" que entraña aquel primer grupo (constituido mayormente por artistas plásticos o multimedia antes que
"videoartistas"), el de la siguiente ola yo lo he caracterizado en alguna ocasión como un "vídeo de audiovisualistas", por cuanto la mayor parte de sus autores han hecho del vídeo su profesión, muchos cuentan igualmente con una experiencia anterior en el cine independiente o de cortometraje, y en general no le hacen ascos a ninguna modalidad, soporte y formato dentro de la familia de los medios audiovisuales (del cine a la TV, de la obra de género al videoclip, de la ficción a la instalación).
Además, en este segundo tiempo, que tiene su punto álgido a mediados de los 80's, crece la actividad en distintos puntos de la geografía española. Para ilustrar el mapa con algunos nombres significativos, de Barcelona destacaré a Julián Alvarez, Jordi Torrent, Aurora Corominas, Lluís Nicolau, Manel Muntaner, Orestes Lara, Carles Comas, Joan Pueyo, Remo Balcells; en el <u>melting-pot</u> de Madrid, a Pedro Garhel, Antonio Cano, José Ramón Da Cruz, los grupos Vídeo Doméstico y La Sucursal, Javier Codesal, Raúl Rodríguez, Domingo Sarrey, Javier Vadillo, Andrews Wax; en Galicia, a Xavier Villaverde, Manuel Abad, Antón Reixa, Antonio Segade, Ignacio Pardo; y en Euskadi, a Gerardo Armesto, Isabel Herguera, Juan Carlos Eguillor, Antonio Herranz, Iñigo Salaberria. (Más incipientemente, se dan asimismo indicios de actividad en otros puntos).</p>

<p> Y, por último, ha venido a hablarse de un tercer tiempo y una tercera ola de autores, que en cierto modo concilian los rasgos distintivos atribuidos a los dos grupos anteriores. Entre los autores ya más conocidos y con una obra más amplia y sólida, creo yo que puede advertirse la voluntad de tocar varias teclas y mantener simultáneamente la mayor coherencia.
Son artistas y son audiovisualistas, hacen cintas e instalaciones y, si se tercia, hasta proyectos televisivos. Trabajan en vídeo y asimismo —al menos algunos de ellos— en otros medios y mezclamientos multimedia, participando en los diversos ámbitos por los que pueden encauzar su trabajo. Para actualizar el mapa antes delineado, ahora añadiré los nombres de Corrent Alterna, Maite Ninou, Jaume Subirana, Jordi Teixidó, Teresa Picazo, Pedro Ortuño, Toni Serra, Joan Leandre, Chus García, Gabriel Lacomba, en Barcelona; Marcelo Expósito, Joseantonio Hergueta, Gabriel F.
Corchero, Rosa Méndez, Francisco Utray/Luis Lamadrid, Equipo V-8, en Madrid; Javier Angulo, Juan Carlos Fernández, Francisco Ruiz de Infante, Josu Rekalde, Gabriel Villota, en Euskadi; Antón Jodrá, Emilio Casanova, Alberto Franco, Carlos Anselem, en Zaragoza; Grupo 3TT y Toni Milian, en Gran Canaria; y Lluís Escartín, Esther Mera y Ramón Quantalagusta, entre los actualmente ubicados en Estados Unidos. Errores de bulto son aquí, aparte de los de la adscripción más o menos correcta o exacta de algunos nombres a una ristra u otra, los de tomar demasiado al pie de la letra el retrato-robot o la identidad colectiva que se atribuye a cada grupo. Y también, los de presuponer unas fechas de vigencia y caducidad, protagonismo y relevo de los distintos grupos u olas, en función de trayectorias aparentemente interrumpidas, prematuramente canceladas, gravemente aletargadas o muy discontinuas, o tenidas por distantes respecto a las precariedades del contexto local.</p>


<p> <u><b>4. Errores genéricos: obras y géneros</b></u>  </p>

<p> En los 70's, el vídeo apenas sabía de géneros, y todo se resumía en oposiciones y dialécticas más o menos drásticas, como las que distinguían el arte de la comunicación (y el videoarte del vídeo comunitario), o las que proclamaban que el vídeo <u>no</u> es TV. (Oposiciones eventualmente reconciliables: Muntadas, entre 1974 y 1976, anticipa en algunas de sus realizaciones los planteamientos subyacentes al desarrollo posterior del vídeo comunitario y las televisiones locales). Toda otra tipología —fruto de confusiones conceptuales y terminológicas las más— apenas distinguía entre tendencias y apariencias aplastantemente obvias, morfológicas, o dependientes del léxico de las artes visuales y sus
"expansiones".</p>

<p> La preocupación por un nuevo ABC de los genéros propiamente dichos, es cosa de los 80's, pero de una simpleza equivalente, apenas válida para rellenar formularios: ficción y no-ficción, narración y documental, y el saco del
"videoarte" para lo más abstracto, inclasificable, o fuera de género, incluyendo la instalación, la imagen generada por ordenador, la crítica de las imágenes mediáticas y las hibridaciones y solipsismos de todo tipo. Anádanse además las aporías del vídeo antes anti-, ora pro-TV; antes analógico y no-narrativo, ora ficcional y neo-narrativo; de imagen antes pobre, indefinida y ruidosa, ora cada vez más a la busca de la ostentación seductora, la definición mejorada y la calidad impecable de imágenes y sonidos.</p>

<p> Si hubiera de seguirse tan pedestre esquema, en el conjunto del vídeo español podrían advertirse algunos vicios y virtudes de forma y fondo. En la ficción narrativa, las maneras heredadas del cine de cortometraje más usado, y la voluntad de recalcar la escritura y textura específica de lo videográfico. En el documental, el triunfo del estilo y la metáfora sobre lo directo o lo sedicioso, y la búsqueda de formas renovadoras, entre el subjetivismo poemático y el ensayismo. Y, por
último, en el "videoarte" con comillas, el manierismo más patoso o intrascendente, y la afirmación de imaginerías idiosincráticas y discrepantes.</p>

<p> Y sin embargo, aunque pervive un cierto apego a la horma de un género —en especial, el narrativo/ficcional hegemónico en otros medios (como si la madurez del vídeo hubiera de ratificarse contando historias)—, lo mejor del vídeo independiente español no puede encasillarse dentro de celdillas genéricas, sino de acuerdo con la trayectoria e intenciones de cada autor, siempre que cuente con un "corpus" de obra suficiente; o, en algún caso, por la propia fuerza de una sóla obra. Me refiero a un vídeo fuera de género, o producto de cruces, intersecciones, vaivenes y mezclas de diversos géneros y formas, sin negar que haya además un vídeo de género o de encargo, igualmente de calidad en muchos casos (vídeo-clips, documentales culturales, etc).</p>


<p> <u><b>5. Errores (u omisiones) de fondo: las estructuras y resortes</b></u>  </p>

<p> Hasta ahora, el fracaso mayor del vídeo independiente español ha sido su impotencia para la gestación de unas infraestructuras sólidas, perseverantes y operativas, que respondan a las distintas necesidades de producción, distribución y exhibición, así como para el debate y la defensa de los intereses del colectivo, el intercambio con otras geografías (y entre las mismas del estado de las autonomías), la transmisión de conocimientos y experiencias, etc. Ciertamente, yo no soy quien para imputar tales carencias a los distintos actores de la escena videográfica, pues me encuentro igualmente entre bambalinas y soy consciente de una marginación cultural de los "nuevos medios"
(en su acepción artística), y de notorias omisiones en las políticas culturales de los diversos organismos en liza, pese a toda la palabrería que pretende lo contrario. Y, sin embargo, mi sensación sí es una de poca solidaridad y capacidad de organización de nuestro colectivo (inexistente si no es como suma de individuos y grupúsculos). Al respecto, es elocuente la breve pervivencia que tuvieron las escasas tentativas de corte asociacionista que ha habido
(APVI o VIA, por mencionar un par de siglas que han pasado sin gloria a la historia).</p>

<p> La memoria del vídeo independiente español tiene sus hitos, pero la discontinuidad ha sido la norma en muchos casos. Y eso tanto para las muestras monográficas o puntuales, como para los festivales y concursos que tanto abundaron años atrás, como también para el establecimiento de "lugares" y resortes estables (centros de recursos y de distribución, talleres y videotecas, espacios de exhibición regular y ocasiones de encuentro y debate). La regularidad está en cuestión en ese sentido, y también para la creación en sí, pues las becas o ayudas que se le destinan no constituyen un respaldo suficiente, si no están auxiliadas por otras medidas o apoyos (tales como fórmulas de tipo <u>stand-by</u> de acceso a los equipos).</p>

<p> Según una impresión muy propalada, el vídeo tuvo un momento de apogeo, pasando de ser una curiosidad un tanto exótica en la España transitoria de después de Franco (las diversas actividades y muestras que tuvieron lugar en Barcelona en la segunda mitad de los 70's) a ser un medio de moda entre el conjunto de movidas culturales y pseudoartísticas de mediados de los 80's: en los años que van del Festival de Vídeo de San Sebastián (1982-1984), y de su relevo en la periodicidad incumplida de otros festivales o bienales subsiguientes en Madrid
(1984-1986) y Barcelona (1987), hasta la progresiva proliferación, y sucesiva desaparición, de todo tipo de muestras, festivales y certámenes por doquier, de dimensiones tan diversas como su rigor y trascendencia. Bajo el manto de la iniciativa propia (privada o corpuscular) y el sobremanto agujereado de las instituciones, el alcance del vídeo español ha oscilado entre el (vídeo-)club <u>priv</u>é
y los intersticios del museo y la TV pública.</p>

<p> Consecutivamente, ha habido pues un declive (y un cierto reemplazo por una ola y boga infográfica superpuesta), y una criba en muchos casos funesta, aunque también es cierto que la falta de calidad y criterio, así como la excesiva autoindulgencia del localismo inherente a muchas manifestaciones han sido puestos en solfa merecidamente. De extremo a extremo, en los
últimos años ha habido algún que otro evento que ha dado la espalda, antes que el espaldarazo, a la realidad autóctona. Por lo demás, subsisten un par o tres de festivales de vocación internacional y en alza (Cádiz, Vigo, quizá no tanto Vitoria). Las primeras distribuidoras hicieron aguas, pero otras han emergido con una nueva apuesta de entusiasmo. Videotecas que sean dignas de denominarse así sólo hay un par o tres que sean reseñables, pero sus fondos no se han actualizado. Y en lo concerniente a "lugares" de exhibición y encuentro regular —sitios a los que uno pueda acudir cada equis días, semanas, meses o temporadas a fin de conocer lo que se va haciendo, local y supralocalmente—, yo no sabría decir si también son en estos momentos uno, un par o tres, pero sí
conozco de cerca el intríngulis del cese o fracaso de una y de dos experiencias otrora modélicas y exitosas, si es que la captación y mantenimiento de un público asiduo se supone un criterio válido para exigir de las instituciones algo más que limosnas y parabienes retóricos. Aquí es donde la denominación de <u>vídeo español independiente</u> puede entrar en conflicto con el inmediato interrogante que me suscita: ¿todavía demasiado dependiente?</p>


<p> <u><b>6. Errores y aciertos: comentarios a la selección</b></u>  </p>

<p> Si, en las líneas precedentes, los errores y desaciertos han podido sobresalir sobre los logros, estos comentarios finales quieren versar sobre unos aciertos, los de las obras que he elegido partiendo de un criterio subjetivo, pero consecuente con anteriores muestreos del vídeo español que me fueron encomendados. La limitación del tiempo total del programa ha forzado exclusiones probablemente muy injustas, y me ha obligado a imponer una norma arbitraria, en función de la cual he prescindido, muy a pesar mío, de diversas cintas de duración superior a veinte minutos, tales como <u>Indian Circle</u> (Eugènia Balcells, 1981), <u>Veneno Puro</u> (Xavier Villaverde, 1984), <u>Denantes</u>
(Manuel Abad, 1984), <u>Especial 1984</u> (Manuel Muntaner, 1985), <u>El Ring</u>
(Julián Alvarez, 1988), <u>TVE: Primer Intento</u>
(Muntadas, 1989) o <u>Los bordes de una herida</u>
(Esther Mera, 1992). Por otro lado, en ningún caso me he guiado por hipotéticos hitos localistas (ya sea por el uso o abuso de medios punteros, o por minutos de fama y repercusión por galardones concedidos), ni tampoco me he preocupado demasiado de las diplomacias propias del mapa autonómico.</p>

<p> De los años 70, únicamente he elegido una cinta, una de las primeras de Carles Pujol; además de representar adecuadamente unas hechuras forzosa y deliberadamente
<u>pobres</u>, propias de aquel entonces (tiempo real, mínimo montaje), sienta en gran parte las bases del uso que hará del vídeo este artista plástico en sus demás cintas e instalaciones. Dado el propósito contrahistórico del que parto, he prescindido por otra parte de las obras más añejas de Muntadas y Francesc Torres, demasiado alejadas de la reorientación que cobrará sucesivamente el trabajo de ambos.
De Muntadas, he seleccionado una cinta de 1983, que tuvo su primera versión en una emisión dedicada a la imagen en el circuito catalán de TVE, constituyendo una reflexión sobre la publicidad, el t(i)empo y los "mecanismos invisibles" de la TV, desglosada en tres secuencias que combinan muy sucintos elementos. La cinta de Eugènia Balcells es una de las doce de su instalación <u>From the Center</u>, una cartografía subjetiva, impresionista, poliédrica de la ciudad de Nueva York en un círculo de monitores; la cámara escruta en este caso el <u>skyline</u>
 de los depósitos de agua sobre los tejados de las viejas casas, envueltos en una rara luz y por las músicas mezcladas de Alvin Curran y Peter Van Riper en un entorno de peculiar acústica.</p>

<p> La nueva ola de autores que se ha dado a conocer en la primera mitad de los 80's está a continuación representada por obras de diversas fechas, entrando en escena la narración y el cruce de géneros, nuevos estilos documentales e inventivos acercamientos al vídeo desde otros medios, como la performance y la poesía. La cinta de Antonio Cano nos remite a la perpetua actualidad del deporte como espectáculo mediático, en este caso el ciclismo y con el dúo Ura/Unz como <u>performers</u> pedaleadoras. De Antón Reixa he seleccionado un fragmento suficientemente amplio de su primera cinta, un recital/performance/collage a partir de algunos de sus poemas, desprendiendo una energía que hace irrelevante la factura un tanto tosca del conjunto. Carles Comas, inspirado por las "sinfonías urbanas" de las primeras vanguardias cinematográficas, recrea una jornada en una plaza del popular barrio de Gracia de Barcelona, con la superposición de otras imágenes a modo de asociaciones subjetivas. Xavier Villaverde, en su aportación a la primera entrega del programa televisivo internacional <u>Time Code</u>, concilió la cuidada puesta en escena de sus primeras ficciones con las referencias a su Galicia natal, sus costumbres, ritos y tópicos, que asimismo contienen otros trabajos suyos y los de otros autores gallegos de su generación. La cinta de Alvarez, perteneciente a su serie <u>Boxiana</u>
(1987-89), está concebida como un doble "retrato" del campeón Joe Louis y del influyente poeta catalán Joan Brossa, autor de la oda que acompaña a las imágenes, además de inspirador de algunas de las mismas. Raúl Rodríguez crea una sensible evocación poética —dramatizada en un estilo cuasi documental— del paisaje rural y las gentes sencillas entre las que pasó su infancia. José
Ramón Da Cruz da rienda suelta a su particular concepción narrativa, creando atmósferas crípticas y situaciones obsesivas por medio de una sobria y elegante composición de la imagen, el sonido y demás elementos.</p>

<p> Los trabajos de Joan Pueyo, Ignacio Pardo y Jordi Teixidó, tan breves como densos y compactos, tienen un aspecto afín en la manipulación de las imágenes, y de los cuerpos capturados en ellas, sirviéndose de los más variados recursos. Pueyo sintetiza un (auto-)retrato familiar en un ser grotesco, como si fuera un monstruo nacido de un experimento genético simulado electrónicamente, pero observado con tosca óptica en la escultura que es parte integral de la misma pieza. Pardo recurre a la veloz sucesión de imágenes alternantes, cuya fusión en el ojo provoca unas impresiones macabras y escatológicas, pudiendo herir la sensibilidad de quienes prefieren soslayar las representaciones de muerte y podredumbre que siempre han tenido un lugar en el arte.
Teixidó, dedicado al cruce creativo de la videodanza, utiliza un recurso ya manido (desde los principios del cinematógrafo), pero lo hace con la sobriedad y elegancia que distingue al recurso expresivo del trucaje o la estratagema. Otro rasgo característico del trabajo de estos autores —sobre todo los dos primeros— es su planteamiento eminentemente individual, realizando sus obras casi enteramente en solitario, apenas con algunos colaboradores.</p>

<p> Francesc Torres está representado con una cinta muy reciente: una visión de Sevilla, realizada al calor de la gestación de un fausto acontecimiento de candente actualidad, con segundas intenciones que se expresan mediante un mosaico de imágenes metáforicas, alusiones poco complacientes y ecos de tiempos pretéritos. De su ubicación entre las obras que representan a la más reciente generación, pueden extraerse además iluminadoras afinidades contrahistóricas.</p>

<p> En las obras que he seleccionado de entre los autores que se han dado a conocer en los últimos años, advierto como posibles concomitancias el mayor peso que adquiere la escritura, el texto concebido como cita y/o argumento poético; la cualidad metafórica y altamente personal de las imágenes; la frecuente referencia, explícita o soterrada, a las realidades y malestares de nuestro presente; y, por último, una demostrada competencia en la ilación de los diversos componentes visuales y sonoros (incluyendo, en varios casos, la propia composición musical de la banda sonora). Marcelo Expósito hace desfilar lapidarios aforismos de Cioran a una velocidad tal que dificulta su legibilidad, así como las imágenes desafían un desciframiento inmediato de las referencias que entrañan. Josu Rekalde encadena distintas imágenes, iconos, texturas y sonidos, incluyendo la lectura de un poema de William Blake que introduce, al final, un elemento narrativo que no se había hecho patente en el fluir de las dispares imágenes, sin embargo ensambladas asimismo por un argumento poético. El Grupo 3TT describe la banalidad de un itinerario sin otro destino que el de seguir su devenir rutinario y anónimo; según sus palabras, "una historia sin personajes de la que cualquiera podría sentirse actor".
En las obras de Joseantonio Hergueta y de Francisco Ruiz de Infante, el texto está indisolublemente unido a la concepción de las imágenes. Aunque en registros muy dispares, la escritura de ambos es siempre en primera persona, introspectiva, sin titubeos en cuanto a la expresión de un <u>spleen</u> o desasosiego interior, hilvanando las metáforas y testimonios oculares de la perplejidad adolescente, la sexualidad y el viaje a ninguna parte (Hergueta), o de la tristeza y la muerte, la culpabilidad y el sentimiento de exclusión (Ruiz de Infante). En la cinta de Dionisio Romero, en cambio, no hay más texto que el de unos sucintos títulos que separan las diferentes secuencias; seleccioné
esta cinta sin saber nada de su autor, por intuir que detrás de sus imágenes, extrañas y familiares a un tiempo, había un muy personal aliento de no sabía qué tipo; después he sabido que es la primera cinta de alguien también tentado por el oficio de poeta: <u>ergo</u>,un aliento, una vez más, poético.</p>

<p> Admitido que toda (s)elección tiene algo de capricho y de juego de azar (como se suele decir, unos son y no están, etc.), quien reparte el juego esta convencido de jugar limpio, pero no de jugar sobre seguro. Su aspiración es que el máximo de sus apuestas puedan constituir aciertos, pero el turno lo tienen ahora los espectadores, que juzgarán por sí mismos los propios desaciertos del seleccionador, antes que los de los autores y las obras que ha elegido.</p>

<p> Mayo de 1992</p> 