  <p> <b>PESOS Y MEDIDAS</b><b>					</b>(x)
Eugeni Bonet</p>


<p>
…y nada que no sea el peso del mundo ha de volver a oprimir<i>nos</i>.</p>

<p> PETER HANDKE</p>
<p> <i>El peso del mundo - Un diario</i></p>
<p> <i>(noviembre 1975-marzo 1977)</i></p>

<p> Las medidas de este texto, según el procesador de textos que he empleado, son: 10712 caracteres o espacios, 1730 palabras. (No indico el número de líneas o de páginas, pues sin duda cambiarán al confeccionarse la publicación al que va destinado este escrito). Cualquier corrección, modificación, errata que se introduzca en mi calculado texto, podrá
alterar aquellas cuentas, a las que se deberá conceder pues una tolerancia discreta e imprecisa. Podría aún echar otras cuentas: las de mis pulsaciones sobre el teclado; del tiempo invertido en preparar y redactar este escrito; del tiempo dedicado a buscar una cita “de peso” para su cabecera (y, de paso, para sus entrañas); del dinero a percibir, y sus retenciones, por la publicación de este texto… etcétera.</p>

<p> Y es que, conversando con Antoni Abad, revisando con él su trabajo, su práctica artística de los últimos años y sus contingentes o anecdóticos detalles, se me ha contagiado su febril actividad (¿obsesión?, ¿estética?) medidora. Así, desde 1991 procedería a medir/considerar la realidad con un
(metro-)patrón arbitrario: medición primeramente del ego (por supuesto que tan suyo como ajeno), del espacio “sublime” de la creación artística, del espacio de una colección, el recinto de un museo (proyecto no realizado sobre el Museo del Prado), una galería, una exposición… Y si, hasta aquí, sus medidas/consideraciones se referían claramente al contexto propio de su arte/oficio, y a su intervención en el mismo, sus sucesivas mediciones se abren a otros patrones. Los del lenguaje, las conductas, los sentimientos, la rutina, el deseo… y, en suma, el vivir cotidiano.</p>

<p> Como el propio AA admite, en los trabajos que le dieron a conocer se planteaba esencialmente una especulación de orden formal. Aunque tomando como materia escultórica unos elementos y objetos cotidianos y de versátil uso, relativamente vulgares y “pobres” —lo que, desde luego, no es nada nuevo, pero sí significativo—; fabricados en serie y tomados como <i>ready-mades</i>
(ya es sabido que éstos nos pertenecen a todos): bloques de goma-espuma, módulos de estanterías metálicas ranuradas, sillas plegables, en un momento dado navajas (¡se anuncia el peligro!), hasta dar con el metro(-patrón) plegable y sus ricas variedades
(metros de carpintero, metros metálicos retráctiles, metros de topógrafo).</p>

<p> Este último hallazgo, no obstante, le aparta crecientemente de aquel planteamiento formal primero, tal como ya ha quedado sugerido. Lo que se resuelve, tras el intervalo de sus consideraciones sobre el arte mismo (en abstracto/en concreto), en un tinte autobiográfico si se quiere soterrado. Y que no es absolutamente introspectivo e intransferible, sino que también se abre al mundo, a la realidad exterior al arte, lo sublime y sus formas. Ni que sea porque se refleja, se hace presente, se hace pesante todo <i>el peso del mundo</i>.</p>


<p> Pensar en lo que <i>hay que</i> hacer, aunque sea tan insignificante como cambiarse de camisa, se hace siempre agobiante.</p>

<p> PETER HANDKE</p>
<p> <i>op.
cit.</i></p>

<p> Peso que no se pesa, sino que se mide por otros patrones (ahora no métricos) en las últimas obras de AA, sobre las que me concentraré en los siguientes párrafos, líneas, palabras… Patrones que, muy apropiadamente, los proporciona el propio cuerpo, el propio sujeto (en concordancia pues con el acento subjetivo de estos nuevos trabajos), y que son concretamente el palmo
—anverso de la palma abierta de la mano— y el pie; patrones que, tomados literalmente, se nos antojarían primitivos si no los supiéramos vigentes en ciertos casos, contextos y mapas. (1 pie =
12” ó 30,48 cm; 1 palmo = 20 cm, según cierta homologación).</p>

<p> Y obras que pueden pasar ahora a denominarse <i>instalaciones</i>, sin que AA se sienta prófugo de su oficio/identidad de escultor, sino todo lo contrario: “Me siento más escultor que nunca”, vino a decirme cuando discutía con él sobre el aparente nuevo rumbo de su obra, y refiriéndose más particularmente a una obra, <i>Ultimos deseos</i>, en la que la materia-base se reduce a una proyección de vídeo. (Claro que ya Rosalind Krauss contribuyó a situar la genealogía de la instalación en el <i>campo expandido</i> de la escultura moderna, mientras que yo he apuntado en otra ocasión hacia una definición de la instalación como una forma de arte que cobra cuerpo no tanto en una dimensión superior a la escultura, sino en una <i>dimensión fractal</i>).</p>

<p> El hecho de que, entre otros elementos, AA se sirva, en sus obras recientes y actuales proyectos e ideas, del vídeo u otras tecnologías audiovisuales, no tiene en sí
mayor significación. Sino que constituye una lógica prolongación de unos planteamientos que ya se hallaban presentes en sus esculturas de los últimos ochentas. Concretamente, por su interés en una forma de escultura metamórfica y flexible, incluso plegable, dotada de movilidad (pero no a la manera de la escultura cinética) y capaz de regenerarse en distintos <i>estados de la materia</i>, siendo siempre una y la misma… y múltiple. Por eso, tal especulación sobre las diversas posibilidades, configuraciones, mutaciones del objeto escultórico de apariencia inerte, se acompañaba a menudo de fotografías o secuencias de imágenes donde aquellas transformaciones se hacían visibles, animando potencialmente su estructura (ya fuera blanda o dura, de goma-espuma o de metal y madera).</p>

<p> Una primera aproximación a la subjetividad autobiográfica la hallamos en <i>Mesures menors</i> (“Medidas menores”, 1994), a través del componente esencial, y no del todo nuevo en la obra de AA, de un texto. Un texto luminoso/iluminado, que es la crónica apagada, ascética y minuciosamente redactada, de la rutina diaria. De un día cualquiera en concreto: “La distancia recorrida al despertarme, levantarme, mear, ducharme, lavarme los dientes, vestirme, entrar en la cocina, preparar la cafetera, acercarme el café a los labios, salir hacia el quiosco, agacharme a recoger el periódico, pagar a la quiosquera, leer los titulares de vuelta a casa, introducir la llave en la cerradura, abrir la puerta…”</p>


<p> Ayer hice muchas cosas: anduve, me agaché, ordené, lavé los platos, hice cola, leí, pensé, hablé, dibujé, escribí —y no me sentí, a pesar de todo, <i>honestamente</i> fatigado.</p>

<p> PETER HANDKE</p>
<p> <i>op.
cit.</i></p>

<p> Y aquel texto que, en la instalación, se extiende longitudinalmente algunos metros, esa sucesión de actividades rutinarias o sin especial significación que se transcriben —pero que, no obstante, acaban cobrando un significado literario o potencialmente muy próximo—, son por otra parte el objeto de las medidas (<i>menores</i>)
que se exponen, tomando el palmo como unidad, en los demás elementos que completan la instalación: la proyección de una secuencia videográfica en bucle sinfín —una mano que atraviesa, extendiéndose en palmo, el encuadre— y, acaso con objetualidad redundante, una sucesión de manos/palmos de aluminio, también alineados longitudinalmente. (Aunque algunos consideráramos este
último elemento superfluo, y como si se tratara de un posible apego por parte de AA al objeto sólido, al resquicio escultórico y a las leyes del buen sentido en el mercado artístico —pues cada par de manos/palmos se podía y puede adquirir separadamente, como si de un múltiple se tratara—, se me ocurre ahora que dicho aspecto aporta una ironía imprevista a esta obra. Pues, finalmente, la venta parcial de la pieza <i>por palmos</i> disgregatorios proporcionaría, al cabo del tiempo, una nueva medida: la del éxito, cuando menos mercantil, de la obra y en cierto modo del artista, constituyendo otro cómputo más sobre su rutina y su vida. Vista la cosa así, nos quedamos con un palmo… de narices).</p>

<p> El precedente paréntesis me da pie a observar que la subsiguiente obra de AA, <i>Ultimos deseos</i> (1995), aparece al contrario despojada de todo elemento sólido u objetual que no sea el espacio mismo al que se agarra. Pues trátase ahora de una simple imagen proyectada sobre el techo o bóveda de un recinto (aunque no todo recinto vale, y quizá no resulte tan fácil encontrar otros tan adecuados como aquel en el que AA presentó originalmente esta pieza: véanse fotos). Esta imagen —nuevamente una secuencia videográfica editada en bucle (AA ama los bucles, los círculos, supongo que los palíndromos: DABALE ARROZ A LA ZORRA EL ABAD)—, proyectada sobre un plano cenital, nos muestra a un funámbulo haciendo equilibrios sobre un corto trecho de cuerda que recorre tambaleante, avanzando y retrocediendo una y otra vez, como si dudara en seguir hacia adelante. (El encuadre nos presenta en primer término la cuerda y los pies del funámbulo, por otra parte desnudo y anónimo, en una composición poderosa y en claroscuro).</p>

<p> De nuevo con un tinte autobiográfico no inmediato, puede decirse que la pieza visualiza una frase hecha:
“estar en la cuerda floja” (donde el verbo es intercambiable por otros, tales como “andar”, “vivir” o “sentirse”). En realidad, es, a la manera de Gertrude Stein, una <i>everybody’s autobiography</i>: una autobiografía de todo quisque, salvo que logremos aún imaginar la posibilidad de una felicidad perpetua, exenta de angustias, adversidades y carencias. Pues nuestro funámbulo no es el héroe perfecto, sino un saltimbanqui que avanza titubeante, sin avanzar realmente: sabedor del peligro, del riesgo, recorre, suspendido en el aire —y en el <i>suspense</i> de la obsesiva, hipnotizadora imagen en la elevada bóveda—, una línea recta que en realidad es un círculo. Un círculo vicioso. Se sostiene en equilibrio con trágico, dubitativo onanismo, pero es lícito preguntarse cuándo caerá o se desplomará voluntariamente hacia su destino en el mundo, sobre la tierra o enterrado, como si fuera el protagonista de un drama del absurdo (o, si se prefiere un adjetivo más socorrido, kafkiano), a la vez que de lo más cotidiano.</p>

<p> En esencia, el corazón de la pieza no es sino un calco o variación más expresiva y penetrante de la imagen central de <i>Mesures menors</i>, con el pie reemplazando ahora a la mano, al palmo, como patrón que recorre y mensura el estrecho espacio de un encuadre que es como un pequeño teatro del mundo, en abstracto y sin relieve ni profundidad reales. Y puesto que <i>Ultimos deseos</i> tiene el optativo complemento de tres piezas relativamente independientes, tres imágenes fotográficas que espesan su <i>trama</i>
(en el sentido narratológico del término, y coadyuvando a posibles hilos argumentales como los que he expuesto previamente), quisiera concluir resaltando una de ellas: la de unas manos abiertas con los dedos entrecruzados, como para ayudar a la ascensión del funámbulo…
¡palmas/palmos y pies, en comandita pues!</p>

<p> Barcelona, julio de 1995</p> 