  <p> <b>CON
ÁNGEL						     </b>(x) Eugeni Bonet</p>


<p>
“¿Comprendéis ahora el por qué
acostumbramos a llamar ‘realistas’ nuestras investigaciones sobre los Angeles? Más reales los Angeles, que las plantas. Más que las bestias. Más que los mismos hombres. Más reales, porque son más ideales”.</p>

<p>
           Eugenio d’Ors, <i>Introducción a la vida angélica</i> (1933-34)</p>


<p> A menudo, en las obras de Javier Codesal, aparecen ángeles, seres mitológicos o fantásticos, voces que cantan, instrumentistas inesperados, u otros elementos un tanto insólitos: animales “disfrazados”, unos indios de guardarropía, un camello cargando con una cruz, una sirena, tres centauros entre un cuadro folclórico, un diablo errante (ángel caído), un niño gaitero suspendido en mitad de un muro… Incluso cuando renuncia a una puesta en escena propia, para tomar un enfoque documental o acudir a imágenes de archivo, de repente uno encuentra un <i>punctum</i> inusitado, una escena rara, una imagen poderosa: un legionario que acaricia a un jabalí, unos pájaros en cópula, un gitanillo desnudo.</p>

<p> Conozco a Javier Codesal prácticamente desde los inicios de su actividad en el arte y el vídeo; o, mejor dicho, el arte y los medios, pues por su trayectoria se advierte que su vocación es la de un artista de los
<i>media/multimedia</i>; un campo que delinea concisa y pragmáticamente la expresión inglesa
<i>media art</i>.
Esencialmente, los medios y multimedios en los que ha operado hasta hoy son la radio, la acción, el vídeo (y, circunstancialmente, la televisión; ámbitos éstos a los que se ha dedicado profesionalmente, por otra parte), la instalación (con vídeo la mayoría de las veces) y, más recientemente, la fotografía (como un ingrediente más de instalaciones o proyectos multimedia, aunque, a su vez, con un relieve propio).</p>

<p> En estas páginas, voy a referirme principalmente a sus piezas de vídeo —y más a sus cintas que a sus instalaciones—, por la sencilla razón que es la parcela de su trabajo con la que estoy más familiarizado, la que conozco de manera más inmediata; esto es, sin la mediación de la documentación y las descripciones, a las que habría de acudir para referirme a aquellas otras obras que no he presenciado —verbo en el que condenso las acepciones de ver, estar presente, experimentar por uno mismo: circunstancias requeridas por el arte de acción y de instalación por su propia naturaleza—, mientras que el vídeo, por su cualidad
“enlatada”, me ha permitido repasar, casi en su integridad, su producción monocanal en este medio.</p>

<p> Por otra parte, el vídeo representa una porción particularmente sustancial de la obra y dedicación de Codesal, y es en el ámbito un tanto precario del videoarte (o de creación) español donde ha conseguido un cierto renombre, antes de introducirse en el ámbito más amplio, pero también más cerrado, del arte sin más. Ambito que hoy ha de admitir en su seno a los <i>media/multimedia</i> antes aludidos, aunque se muestre aún renuente a aceptar en bloque las prácticas investigadoras y creativas en determinados medios y
áreas que quedan a la sombra de su desarrollo industrial y “de oficio”, viéndose así relegados a un cierto estatuto marginal o
<i>underground</i>; cual es, entre otros casos, el del vídeo dicho de creación, independiente, de autor, etc. (aquí, y hoy tanto como antes).</p>

<p> La obra de Codesal, además, no es cómodamente asimilable, y fácilmente puede obtenerse la impresión de un cierto hermetismo. En este sentido, quizá sea un reproche a hacerle el que tantas de sus obras sean tan poco obsequiosas con nuestras ansias de ubicar las obras artísticas —las cosas que uno hace “con las manos” y según los impulsos de la mente— y sus contenidos, en relación con un mapa o casillero previo de estilos y temas, medios y modalidades, signos y sentidos, etc.</p>

<p> Por una parte, pienso, a Codesal se le podría despachar rápida y no del todo inadecuadamente como un
“surrealista” —en tanto que aragonés, no tendríamos dificultad en encontrarle unas ciertas raices—, sólo que el calificativo ha devenido hoy tan manido que carece de otra precisión que la de denotar un cierto componente o rasgo fuera de lo común.
Por otra parte, Codesal no ha elegido la senda narrativa predominante en la expresión audiovisual (en el cine, en una abultada franja de la TV, también entre el vídeo de otros colegas de su misma generación), con sus reglas más o menos prefijadas, por muy maleables que puedan ser, y se ha inclinado más bien por las licencias de la poesía, abierta tanto a la rima como al verso libre, a la imagen como al sonido (y a la suma de ambos), al quietismo como al accionismo, a la redundancia y al neologismo, a lo cerrado y lo abierto, a lo íntimo y a lo político, etc.</p>

<p> Ubicándole así, en un territorio poético multimedia (por más, y ya referidas, señas), debemos respetar entonces esa “oscuridad” poética a la que se refería un poeta raro, Juan-Eduardo Cirlot.[1] Y, por cuanto su materia de expresión esencial es la imagen, y lo audiovisual por extensión, añadiré una observación que me hizo el propio Codesal, como para señalarme una de sus premisas o planteamientos básicos: tomar partido por los signos fuertes, ahuyentar las imágenes no necesarias. Lo que podemos deducir de ambos extremos es que nada quiere ser caprichoso en la obra de Codesal, por muy oscuro, insólito, chocante que nos resulte tal o cual elemento: ese inserto, aquella escena, determinado texto, tal personaje o aparición…</p>

<p> Una de las cosas que más llama la atención a lo largo de la obra de Codesal (y de casi cualquier pieza suya en concreto) reside no en su carácter, pero sí en sus motivos, de orden racial, atávico, castizo, recio; por momentos se diría que casi bordando la parodia de unas esencias, obsesiones, costumbres, tipos, particularidades tenidas por típica y tópicamente españolas.
No sé si lo expreso adecuadamente, pero me refiero al relieve que toman aspectos tales como el medio ambiente agrícola y rural, lo folclórico (particularmente en su expresión musical), la religión y el tributo a la muerte (“todo por la patria”). Así, además de por ángeles, faunos, pieles rojas, alguna sirena y un ocasional camello, sus obras están pobladas por legionarios (novios de la muerte), baturros joteros, coplistas, dulzaineros y gaiteros, gitanos, matarifes, terneros y vísceras, toros y asnos, cruces y cristos, banderas e himnos, cantes profanos y píos; elementos que van más allá de lo pintoresco y del color local.</p>

<p> Preguntado al respecto, Codesal reivindica este propósito de localización y arraigamiento, ubicación y anclaje en una tradición cultural que podemos juzgar anacrónica o estereotipada en algunos de sus extremos, pero que no por ello puede decirse que sea menos real. Lo chocante, pues, residiría en lo anómalo de unos vídeos desprovistos del simulacro de modernidad y universalidad tan socorrido en este campo, del rebuscado efectismo tecnológico (por aquello de la especificidad del medio), y de las bellas músicas de amueblamiento de Brian Eno o Laurie Anderson, por ejemplo; elementos mediante los que se me ocurre caricaturizar buena parte del “nuevo vídeo español” que brota a mediados de los ochenta. (Otras excepciones las hallaríamos en cintas de Manuel Abad, Raúl Rodríguez, Antón Reixa o Julián Alvarez, por mencionar algunos nombres). Así, como Fátima Anllo escribió a propósito de los vídeos de Codesal: “Para nosotros
[…] esas imágenes se hallan ligadas de forma tan indeleble al recuerdo y a la emoción que lo acompañan, que la memoria viene a interponerse a la metáfora, enturbiando la mirada. Seguramente sea por eso por lo que su obra no ha sido siempre bien comprendida dentro de nuestras fronteras y, en cambio, tan bien acogida fuera de ellas”.[2]</p>


<p> <u><b>Sin pandereta</b></u></p>

<p> De 1983 a 1986, las primeras andanzas creativas de Codesal (excluyendo ciertas piezas radiofónicas previas) son en colaboración: primero, como integrante del grupo OBRA/ABRE, con Rafael R. Tranche (compañero de estudios en Ciencias de la Información, luego dedicado al trabajo teórico) y Raúl Rodríguez; luego, en tándem con este último y frecuentando principalmente el vídeo, la acción en vivo y el concepto de instalación. En su prolífica actividad de aquellos años, pueden observarse ya los principales senderos que ha tomado la obra de Codesal. Distinguiría esencialmente tres, y sólo uno de ellos, el del accionismo, parece estrictamente acotado en la coyuntura de aquellos años. De la sencillez de unas propuestas tan escuetas como abrazar a gentes encontradas al azar por la calle (<i>Un abrazo, por favor</i>, 1983), o “instalar” <i>Una TV en un nicho</i> (1983)
—en el día de Todos los Santos y con una selección-sumario de la programación propia de TVE en aquella época—, a la <i>performance</i>
última, de factura cuasi teatral, de Rodríguez y Codesal (<i>Bajando banderas</i>, 1986), en el intervalo se cuentan intervenciones más conceptualistas en el orden de lo público/publicitario (<i>Toro Abierta</i>, 1984, alteración de un “ejemplar” del toro de Osborne, el característico icono/recorte publicitario que aún puede avistarse en las principales carreteras españolas); sucesivas incursiones en el aparataje de la instalación y, más específicamente, de la vídeo-instalación (aunque un tipo de instalación que requiere aún un cierto componente de acción, intercambio con el “visitante”
y, en algunas ocasiones, la participación del mismo); y, aún entre otras más, <i>La cruz de Juvecán</i> (1985-86), la
única acción que daría pie a un vídeo del mismo título, sin que
éste sea un mero documento, sino que encaja perfectamente en esos otros senderos que se perfilan en las primicias videográficas y multimedia de Javier Codesal.</p>

<p> En primer lugar, el enfoque documental —aunque no un documentalismo al uso— del que parte
<i>Pornada</i>
(1984), el primer vídeo de Codesal y Rodríguez: documental que ensarta ciertos modelos televisivos, pero “con perversiones”, según sus autores puntualizaban en un comentario/sinopsis. De otro texto de Codesal referido a las primeras andanzas de OBRA/ABRE en el medio videográfico, extraigo una consideración que quizá aclare cuál era la motivación de ese, digamos, instinto perverso o contrariador, al abordar la televisión mediante el vídeo (personal y de bajo presupuesto): “Sería provechoso recuperar la herencia de baja estofa legada por la TV, sombra y mezcla de toda forma expresiva”.[3] La sóla idea de regodearse en la infimidad y bastardía estética de la teletonta es, decididamente, toda una declaración de principios.</p>

<p> <i>Pornada</i>, por otra parte, pretende ser una construcción poética de la realidad; un propósito que, según el propio Codesal, se encuentra en los cimientos de toda su obra: para él, la realidad equivale a <i>la verdad</i>, y la poética, la ficción, el trasiego de signos serían la manera de intentar descubrir y expresar esa verdad contenida en las cosas. Para lograr esa contextura poética, en <i>Pornada</i> pretendieron introducir sus autores “rimas, imágenes que vuelven, etc”, aunque lo que más inmediatamente se advierte es la sutileza de sus percepciones paisajísticas y las licencias que se permiten al anudar los diversos elementos que representan el entorno agrícola escogido. Éste es un pequeño pueblo leonés, localidad de origen de Raúl Rodríguez (por los créditos, descubrimos además que la mayor parte de quienes aparecen en el vídeo son familiares suyos), aunque la descripción que se nos da es, más bien, la de sus aledaños: la pornada (“extensión de tierra cultivable…”), la actividad cinegética en la zona, su peculiar cementerio (donde las tumbas son excavadas por sus futuros destinatarios) y, de manera insistente, cierto problema de incomunicación y aislamiento debido a la carencia de líneas telefónicas. Los 22 minutos que dura la cinta se deslizan fluidamente, mediante un ritmo pausado pero no moroso, entre la alternancia de panorámicas y planos fijos, y el predominio de sonido natural. (Una de las contrariedades más obvias a la que es sometida la convención documental estriba en la ausencia de todo comentario en <i>off</i>).
La mirada contemplativa, impresionista, a este paisaje-con-figuras, es fragmentada sin embargo por las peroratas sobre el agravio telefónico antes referido (con otras alusiones al asunto que se despliegan de principio a fin de la cinta), así como al cementerio y la inanidad de la vida en el pueblo (por lo menos, en cuanto a los aspectos de ocio y cultura que sacan a colación los dos sujetos más jóvenes entrevistados); éstas últimas, pronunciadas desde el interior de fosas aún vacías o a lomos de uno de los muros del camposanto.</p>

<p> Tras bifurcar sus caminos, tanto Rodríguez como Codesal realizaron otras obras de signo documental; unas de carácter absolutamente independiente y personal, otras de encargo o pro-televisivas. Codesal, sin embargo, no considera del todo suyas las que se corresponden con esta última condición, y se lamenta por no haber podido tener un mayor control sobre ellas. Así, la siguiente obra suya a considerar en esta línea sería <i>Sábado legionario</i> (1988), circunstancialmente producida por RTV Madrid, hasta hoy apenas divulgada y, en mi opinión, uno de los vídeos con más fuerza de entre toda la producción de Codesal. Por otra parte, es quizá su realización más puramente documental, aunque también alejada de la convención genérica antes aludida (de nuevo, la narración en <i>off</i> ha sido erradicada), y con una proximidad manifiesta a las demás obras personales de Codesal, en cuanto a su estilización, temática, concentración sígnica, referencias o alusiones, etc.</p>

<p> El tema, el ámbito, el ambiente que se retrata en sus imágenes tiene de por sí una fuerza inherente, pues, tal como sugiere el título, se trata del mundo macho-militar de la Legión; si bien éste nos es mostrado en sus aspectos pintorescos (el ritual nombrado por el título, mezcla de parada militar y honras religiosas) y de imagen “mejorada” y profesional del cuerpo (a través de las jugosas declaraciones de los mandos), tanto como por la captación de maniobras, ejercicios, simulaciones bélicas, o por las “frases hechas” del <i>credo</i> legionario (en parte, a través de las palabras de los propios legionarios y oficiales; también mediante una emblemática canción, <i>El novio de la muerte</i>, que interpreta un curtido ex-legionario). Así, el vídeo no contiene un subrayado crítico explícito, mientras que, si lo consideramos en su circunstancia de producción televisiva (aunque el proyecto, de hecho, fuera previo a dicha circunstancia, y la producción se planteó a título “experimental”, lo que equivale a decir que el ente responsable se desentendió en gran parte del producto), dista mucho de ajustarse al formato de un “informativo”.</p>

<p> Este sentido huidizo, antes que ambiguo, de la obra en su conjunto, yo diría que está motivado básicamente por la ausencia de todo comentario, o de posibles insertos maliciosos, aunque también por los giros del montaje, del orden secuencial (por ejemplo, escenas de maniobras militares seguidas de la pacífica imagen de la banda de la Legión interpretando una marcha junto al mar). En cierto modo, pues, Codesal opera con unos planteamientos similares a los de, por ejemplo, el
<i>cine directo</i> norteamericano (de los Leacock, Maysles o Wiseman, aunque la comparación se me ocurre un tanto al vuelo), dejando que sea mediante las imágenes y las palabras de los propios protagonistas que uno sienta las posibles ironías y escalofríos del “espíritu legionario”, con su exaltación de unos “valores” de tropa, hombría, disciplina, honor, abnegación, patriotismo y autosacrificio extremo (la muerte como exaltación de la vida, según viene a decirnos uno de los oficiales entrevistados).</p>

<p> Por último, vincularía asimismo a este enfoque documental en el que me he detenido, una de las obras más recientes de Codesal —el film de cortometraje titulado <i>O milagre da carne</i>
(1994)—, pues, aunque siendo, en cierto modo, su ejercicio más rotundamente narrativo, lo es esencialmente como transfiguración ficcionalizada de una realidad cotidiana y del todo particularizada.
Es decir que, en cierto modo, podría describirse como un documental dramatizado o <i>docudrama</i>, aunque este neologismo hoy tan manido, no se adecúa del todo a las hechuras de la obra. Por otro lado, ha sido el propio Codesal quien me ha apercibido del parentesco entre ésta, su <i>opera prima</i> cinematográfica, y su <i>opera prima</i> videográfica de diez años antes, <i>Pornada</i>.
Obras gemelas ambas, por ser fruto de una estrecha colaboración, y por haber sido motivadas por sendas visitas a —y el correspondiente conocimiento y familiaridad con— el entorno humano, topográfico, cultural, costumbrista de la persona co-autora (en <i>Pornada</i>, Raúl Rodríguez; en <i>O milagre…</i>,  Julia Sieiro, que desde hace años ayuda a Javier en las tareas de dirección y producción, y que, en este film, consta como productora y co-guionista).  </p>

<p> <i>O milagre da carne</i> es, según yo lo percibo, como un álbum familiar entrevisto mediante una motivación narrativa anecdótica, y con unas figuras y contrafiguras, situaciones costumbristas y desacostumbradas, a su alrededor: nuevamente, un ámbito rural, lugareño. Así, Filucha, que ha estudiado Filosofía y lee a Marguerite Duras, o Paco, chófer de políticos de la autonosuya, serían las contrafiguras de los personajes de mayor presencia: su hermano Manuel, matarife por inercia y continuidad del negocio familiar, y la enjuta madre de todos ellos. Como en tantas otras obras de Codesal, lo real, cotidiano, simplemente capturado en imágenes, se entremezcla en un plano igual con lo insólito, lo ficcionalizado, lo puesto en escena con visible artificio: el “angélico” gaitero de facciones mongólicas de inexplicada presencia, el púdico niño desnudo que reemplaza al ternero que aguarda en el establo la hora de su sacrificio, el sacral acercamiento de Filucha al despojo/lengua del cuerpo sacrificado, el ternero muerto y recostado sobre la mesa familiar en la inquietante escena epilogal. Y uno advierte asimismo el innegable pero nada ostentoso oficio del realizador cuidadoso, intencionado y sensible que otorga <i>tempi</i> diversos a sus preocupaciones retratísticas, metafóricas y trascendentales; particularmente, en las secuencias de montaje más
ágil y acerado que enfilan el acto sacrificial con un ritual contagioso de música, danza y gestos.</p>


<p> <u><b>Miscelánea de signos</b></u></p>

<p> Se advierte, también tempranamente, una orientación hacia el discurso de lo simbólico o, como dice Codesal, a la potenciación de signos y arquetipos. No con rudeza iconoclasta, sino con sensibilidad iconoplástica y poética.
Y, en gran parte, los signos elegidos son, como ya se ha dicho, unos que evocan un cierto peso cultural, de la tradición y de lo que se ha impuesto por su propia fuerza. De hecho, el <i>corpus</i> entero de su obra se nos muestra cruzado por unas referencias constantes; principalmente, a la religión, al poder jerárquico y represivo, y al universo y folclor rural. Un costumbrismo poco complaciente, sin embargo —antes que la nostalgia, aflora la desazón—, por entre el cuál se filtran realidades cotidianas y rigurosamente contemporáneas.</p>

<p> En <i>La batalla del siglo</i>
(1986), su segundo vídeo en colaboración con Raúl Rodríguez, los temas del belicismo atávico y la arrogancia del poder se traducen iconográficamente en un juego de “indios y vaqueros” (muñequitos de plástico), en alternancia con grotescas escenas protagonizadas por unos anacrónicos pieles rojas de guardarropía-de-corto-presupuesto, entre las que se insertan otras de un soldado confuso que se despoja sucesivamente de su uniforme y de una armadura que repentinamente se le adhiere al cuerpo desnudo, y de un hierático oficial del ejército con banderín español, himno nacional y mecánico saludo marcial. Estos incongruentes elementos se aglutinan en las dos escenas finales, donde una india lava en la orilla de un riachuelo la enseña española, y donde un cuartel o similar —con cañones emergiendo de entre sus muros— se nos antoja el “fuerte apache” que faltaba en este malicioso juguete cómico.</p>

<p> Iconos de poder, militarismo, represión, desperdíganse también en otras obras: la instalación
<i>Garrote vil</i>
(1985), la acción <i>Bajando banderas</i> (1986), los vídeos <i>Sábado legionario</i> (1988) y <i>Pie Jesu</i> (1991). Las iconografías de lo rural, del folclor, de las tradiciones y costumbres locales, se extienden de <i>Pornada</i>
(1984) a <i>O milagre da carne</i> (1994), pasando por la instalación <i>Noria</i>
(1985) y por <i>Centauro</i>
(1988), vídeo y vídeo-escultura. La hominización del animal podría ser, aún, otro aspecto a considerar a lo largo de diversas obras; entre otras la mencionada <i>Noria</i>, donde una burra da vueltas sobre una espiral de paja con un reguero de flores en su extremo exterior (referencia a las coronas funerarias y a los materiales empleados en su confección), haciendo rodar a su vez, al otro extremo del apero-noria, un monitor donde se visualiza un parto, en una ilustración pagana y nihilista del ciclo de la vida: nacer, morir, andar en círculos en el intervalo. Cabe mencionar igualmente un proyecto en cierto modo inconcluso (<i>Cabeza de burro</i>, 1987: especulación sobre la percepción visual de dicho animal, destinada a contemplarse desde el interior de una máscara que reproduce su cabeza) o ciertas referencias implícitas del cortometraje <i>O milagre da carne</i>, pero es en <i>Centauro</i> donde quiero detenerme algo más, por la singularidad de esta pieza videográfica.</p>

<p> Codesal dice que concibió
<i>Centauro</i> como una mini-ópera (por el carácter localista-folclórico de su música, a mí se me ocurre deslizar tal concepto hacia el de nuestro
“género chico”), tomando como punto de partida un escenario específico con el que estaba familiarizado —el Patio de la Infanta, en Zaragoza, con su estatuaria y relieves de faunos y semidioses maravillosos—, así como la tradición folclórico-musical de su tierra: la jota y sus correspondientes avíos instrumentales y de indumentaria. Del cruce de ambos elementos, extrajo un bizarro vídeo musical, de tratamiento retóricamente televisivo (aparentando una realización multicámara)
y marcado aire pagano, con una rondalla baturra, tres solistas-centauros y un coro de mujeres, desglosando en cuatro estrofas (una por centauro, la cuarta por el coro) la paradoja de estos seres, mitad caballo, que cantan porque no saben relinchar, aunque tampoco sean hombres de verdad, y que compadecen al enterrador que, cuando mueran, habrá de partirlos en dos para que quepan en la caja, etc, etc. Y, aunque Codesal me asegura que tampoco aquí hay una intención iconoclasta o irónica, para mí que tiene su sarcasmo el ver desfilar en los créditos finales a las diputaciones de Aragón, Zaragoza y Huesca en tanto que entes financiadores de este esperpento mitológico-baturro; aún sin que se perciba ningún asomo burlesco en el mismo, es cierto.</p>

<p> Antes de concluir haciendo referencia a un lenguaje simbólico, el de la religión, en el que Codesal se ha explayado ampliamente, y que adquiere un pronunciado relieve en sus obras más recientes, no quiero olvidarme de otro de sus vídeos menos divulgados y que, para mí, se encuentra no obstante entre los más notables: <i>Me voy</i> (1987). Podría decirse que es una obra de transición —entre otras cosas, tras el cese de su más que estrecha colaboración con Raúl Rodríguez (de 1983 a 1986) y en el trance de habituarse a desenvolver una práctica artística por sí sólo—, y en este sentido tiene sus particularidades, siendo la única que adquiere un tinte diarístico y cuasi autobiográfico; aunque, a fin de cuentas, por su estilo se reconoce la contigüidad con otras piezas anteriores y posteriores.
(De hecho, diría que obras de transición, previas a la afirmación de la obra de Codesal en solitario, son dos: la otra, también de 1987 e inmediatamente anterior a aquella, sería <i>Luego dicen que el pescado es caro</i>, que realizó, y se emitió, un tanto a contrapelo durante su primera incursión profesional en televisión, como ayudante de realización de un programa matinal de TVE orientado hacia las amas de casa. En mi opinión, Codesal quiso meter y combinar demasiadas cosas, símbolos, viñetas de la realidad y referencias culturales, y al mosaico resultante le falta claridad. Paso pues por ella entre paréntesis).</p>

<p> <i>Me voy</i> se articula nuevamente como una cadena de signos y símbolos, sin jerarquías o énfasis aparentes. El predominio del sonido natural o de ambiente, la duración bastante larga de varios planos, la ausencia de efectos, la aparente intrascendencia de las imágenes, le confieren un aire espontáneo e informal, como de vídeo-de-aficionado. Este vídeo, yo diría, es como un rito de paso, cumplido a conciencia, aunque sin la pretensión de establecer aquello que en inglés se diría un <i>statement</i>,
 una reflexión declarativa (sino que más bien se recurre al
<i>understatement</i>, a lo expuesto oblicuamente, más por lo que se calla que por lo que se expone). Codesal me contaba que en esta pieza concurrían diversas circunstancias: el fin de su colaboración con R. Rodríguez, su demorada incorporación a filas para el cumplimiento del servicio militar, el final también de una etapa de iniciación en el mundo profesional televisivo; en definitiva, una suma de intervalos, tránsitos, pasos (y pasos en falso, obligados por la vida), de los que quiso dejar huella en un poema videográfico del todo subjetivo, comenzando por el tiempo del verbo en el título. Todas las imágenes pueden acompasarse pues al que digamos estribillo del “me voy”, desde el poderoso plano inicial en el que una máquina (¿soltera?)
arranca gradual y fragorosamente la suela de un zapato, estirando por ambos extremos (por momentos, veo entonces una boca forzada, torturada por una máquina inhumana), al karaoke de un cantante melódico sin éxito, engarzando conmovedores ripios con gastadas palabras (“sufrimiento… corazón dolorido… amor y pena”), pasando por algunos planos en los que aparece el propio Codesal, y otros que dice haber “rehecho” a partir de ciertas tomas previamente elaboradas con fines estrictamente utilitarios a su paso por televisión. (Conociendo este detalle, uno puede interpretar también que <i>Me voy</i> es como un desquite, tras experimentar las servidumbres del oficio televisivo).</p>


<p> <u><b>A la sombra de Dios</b></u></p>

<p> La imaginería y simbología religiosa, decía, se halla repetidamente a lo largo de los ya más de diez años de actividad artística de Javier Codesal: de sus primeras acciones e instalaciones con Raúl Rodríguez y Rafael R.
Tranche (aquel televisor en un camposanto en el día de Todos los Santos, el 1983; la iconografía del martirologio de <i>Atado a la columna</i>, 1984,…)
hasta, de un modo más persistente, en sus trabajos de 1989 para acá.
Preguntando a Codesal sobre la motivación de esta plétora de signos sacros, angeleológicos, inefables, de muerte y purificación, de la tradición iconográfica y musical religiosa, él la cifró en su peso específico y propio en el orden cultural y simbólico, aunque uno sigue pensando que la cosa viene de más lejos, y de más hondo.[5]
(Por en medio, de otra parte, surgió al vuelo una mención a la obra cumbre de Dreyer, <i>Ordet</i>, por la que ambos compartimos una sentida admiración).</p>

<p> <i>Luz de luces</i>
(1989), otra pieza poco divulgada de entre la videografía de Codesal, es un sencillo ejercicio poético que tiene por motivo esencial e hilo conductor el que indica su título: la luz, prismáticamente descompuesta en distintas acepciones, expresiones, ideas. Ideas luminosas. (A su vez, la cinta estaba destinada en principio a integrarse en un tríptico pro-televisivo genéricamente titulado <i>El prisma luminoso</i>, junto a otras piezas de José Ramón Da Cruz y Andrés Yuste). La luz, así, es artificio e intermitencia, emisión solar y reflejos (en el agua, en un cuerpo desnudo…), abigarradas texturas de imágenes sobreimpresas, transparencia y opacidad, silueta y contraluz. También es, según nos cuenta el autor en un inciso/ locución, “el cuerpo de un ángel caprichoso” —y, entre la corriente de imágenes, se adivina en efecto la figura esculpida de un ángel—, y la maldición de su rechazo: vemos entonces a un diablo ridículo, errando por un paisaje y volviéndose temeroso hacia el astro implacable. Este raudal de imágenes y metáforas, envuelto en músicas de la Semana Santa sevillana, se cierra, con una cierta simetría respecto al plano inicial, con una simbólica escena ilusoria —se diría un espejismo— en la que un coche de bomberos transita por un paisaje abierto, se detiene ante el ocaso, y dispara contra el sol un grueso chorro de agua (que, por la iluminación, parece negra), como en un vano esfuerzo humano por ocultar su luz, por apagar su fuego.</p>

<p> <i>Pie Jesu</i>
(1991), una breve pieza que Codesal realizó dos años más tarde, es nuevamente —al igual que lo había sido antes <i>Luego dicen que el pescado es caro</i>—
como un respiro que se permitió en medio de su dedicación profesional a la realización televisiva; en este caso, trabajando para un programa informativo. El fuego es aquí un elemento súbito y cuasi abstracto —”un síntoma de piedad”, señala el autor en un comentario a esta pieza—, “purificador” como lo es la música elegida (un extracto del <i>Requiem</i> de Andrew Lloyd-Weber) para envolver, y en cierta medida contrarrestar, el condensado torrente de imágenes mediáticas de actualidad que constituye el eje de esta peculiar miniatura audiovisual, con alusiones específicas (el conflicto del Golfo Pérsico, la movilización contra el SIDA) y otras más genéricas
(catástrofes ecológicas, violencia y represión, migraciones y xenofobia) al siempre desastrado estado del orbe. La imagen de un niño desnudo, incrustado primero entre las cálidas llamas, y que al final vemos que corretea arrastrado tras un brioso grupo de mujeres gitanas, quizá sea aquí la encarnación de ese ángel que aparece y reaparece en tantas obras de Codesal.</p>

<p> Por último, quiero detenerme en
<i>El manto de Verónica</i>
(1992), prácticamente la única instalación de Codesal que yo he conocido con todo el cuerpo (tal como mi amiga y colega Anne-Marie Duguet decía que habían de verse las instalaciones), y una de sus obras más espléndidas y depuradas. La instalación apenas consta de tres elementos, los dos primeros integrados en uno: un manto de blancor inmaculado y noble hilo dorado, bordado por las manos de unas monjas, conteniendo el segundo elemento, una pantalla de vídeo. Aquí
se suceden los rostros, como rodeados por un aura difusa, y las voces de tres cantantes en los que el autor ha creído percibir un
“parecido sello”, y a los que encontró y grabó durante la ejecución de otros proyectos anteriores: el niño egipcio Abrahim Mustafa Gad (al que grabó para un documental sobre El Cairo, 1989), Pepe Moreno (que apareció ya en <i>Me voy</i>, 1987) y el ex-legionario con el que se cierra <i>Sábado legionario</i> (1988). Del cante de todos ellos, se desprende en efecto un vívido sentimiento, la impresión de que cantan, ante todo, para sus adentros, articulando vigorosas palabras de acre sentido, incluso si nos resultan gastadas o espeluznantes (o, por supuesto, incomprensibles para quienes desconocemos el árabe, en el caso del niño cairota).
El tercer elemento, por fin, diría que le quita solemnidad a la escueta puesta en escena de la instalación, así como a la referencia bíblica explicitada en el título, consistiendo en una fotografía de unas manos sosteniendo un vulgar pañuelo con el rostro impresionado del niño ciego, y una leyenda manuscrita debajo que dice: “Recuerdo de Abrahim”. Como si se tratara de un barato y trivial <i>souvenir</i> traído de un país exótico. Un sarcasmo añadido que, sin embargo, no contrarresta la sinceridad global de la obra.</p>

<p> En una reflexión sobre ésta, Codesal ha argumentado que lo que quería plasmar era la relación entre arte y vida que todo artista se plantea en algún momento (y a la que, como es sabido, dedicaron particular atención los surrealistas), a través de la ambigüedad del “arte de la Verónica”; el arte de acercar las manos a las cosas para palparlas, conocerlas, “extraer su espíritu” y transmitir ese conocimiento y ese espíritu a un tercero. La pregunta que viene a hacerse Codesal es la de quién es el/la autor/a o artista: ¿Verónica o aquel que dejó impreso su rostro en un paño?. A la Verónica —nos dice—, “el retrato […] le pertenece, porque ella lo sostiene y porque proviene de una acción suya”, pero lo que creo que Codesal nos sugiere es que el/la artista no sería tanto un creador, un hacedor absoluto, como un/a <i>mèdium</i>.
Y así, concluye, es de su capacidad de “aproximación, intensidad, veracidad, empatía…” de lo que dependerá la <i>bondad</i> de su gesto; o, en otras palabras, de eso que hemos dado en llamar arte.[5]</p>


<p> <u><b>La batalla del vídeo</b></u></p>

<p> La práctica del arte, como sabe Perogrullo, no carece de obstáculos. Más aún el vídeo, sobre todo en contextos como el nuestro, donde ejercerlo como un oficio artístico es cosa especialmente ardua; por los más o menos medios, y, sobre todo, por el mucho empeño que requiere, tanto como por la reticente, perdonavidas, acogida que le suelen dispensar los diversos
ámbitos en los que ha probado de inmiscuirse: la alta cultura del arte y de la palabrería comunicacional (nuevas tecnologías y todo eso), la baja cultura de la televisión y los medios audiovisuales en general. Con todo, y por fortuna, no es tan infrecuente como parece encontrarse con autores como Codesal, con una obra ya abundante, continuada y consistente. No es infrecuente, aunque sí creo poder afirmar que son contados.</p>

<p> Las andanzas de Codesal en el medio videográfico (y en el televisivo) constituyen un fiel reflejo de los vericuetos, y de las muchas esperanzas y decepciones, por los que ha atravesado este sector de la creación contemporánea, de manera acorde con su endeble constitución en nuestra geografía. El aprendizaje autárquico, la emulación por contacto antes leve que profundo con un pósito previo de muchas cosas (videoarte, cine experimental, arte expandido, <i>intermedia</i>, etc), el aparente estallido de una “movida” colectiva, su proyección exterior, el eco local de unos nuevos géneros o formatos
(vídeo musical, vídeo-ópera, nueva ficción), los encomiables intentos de alcanzar un público más numeroso a través de la TV, el paso vedado con el que varios de dichos intentos se han topado
(muchas veces, a pesar de la calidad manifiesta de sus resultados), las muchas carencias que impiden que las cosas vayan a más, el tirar la toalla de tantos, etc.</p>

<p> Así, al filo de los ochenta, parecía como si Codesal hubiera hecho mutis por el foro local (y, aparentemente, bastante disminuido) del llamado vídeo de creación, la temperatura del cual apenas podía medirse a través de sus exiguos resortes: unos pocos y distantes festivales, esa especie de juegos florales que son los concursos, otras muestras más o menos ocasionales, y poco más. A Codesal, le sabíamos insertado profesionalmente en la televisión, al igual que unos cuantos otros
“videocreadores” de su misma generación habían gradualmente accedido al oficio más seguro del vídeo industrial, la publicidad, la TV u otros menesteres parecidos, cuando no del todo ajenos. Por aquel entonces, sin embargo, sabemos también que Codesal trabajaba ya en <i>DÍAS de SIDA</i>, que, siendo inicialmente un proyecto para un vídeo monocanal de cimentación documental y alzado poético, acabaría resolviéndose en el formato multimedia de una luminosa exposición/instalación en seis piezas. (Además, en las próximidades de aquel supuesto intervalo, realizó también los vídeos <i>Luz de luces</i> e, intercalado, como ya se ha dicho, entre sus rutinarias obligaciones televisivas, <i>Pie Jesu</i>).</p>

<p> Como ya he dicho al comenzar este texto, yo he seguido desde sus inicios buena parte del trabajo desarrollado por Codesal, aunque he de confesar que nunca había
“entrado” demasiado en el mismo, el cual se me antojaba pues un tanto oscuro y ajeno. Supongo que, también, por la intermitencia, la ocasionalidad, los distanciados encuentros, las lagunas diversas que condicionaron previamente mi percepción de sus cosas. Al tener la ocasión de ver detenida y cómodamente su videografía monocanal casi al completo, al recabar otros datos sobre sus demás actividades y sobre sus planteamientos en general, pero, sobre todo, en el trance de asimilar y escribir sobre todo lo visto y oído, he descubierto obras que desconocía y he visto con nuevos ojos las demás, he creído comprender lo que antes se me escapaba y, fundamentalmente, aquello que enzarza prietamente lo que antes se me aparecían como sinuosidades, giros caprichosos, inextricables antojos, ya fuera dentro de una obra en concreto, o en la sucesión de una a otra. Y, al cabo, lo que por ende he logrado entrever —y no es poco— de entre el conjunto es… su ángel.</p>


<p> L’Escala - Barcelona, septiembre
- octubre 1994</p>
<p> <b>NOTAS</b></p>

<p> 1	Juan-Eduardo Cirlot, “La oscuridad en la poesía”, <i>Poesía, revista ilustrada de información poética</i>, nº 5-6, invierno 1979-80 (p. 120).</p>

<p> 2	Fátima Anllo, “Javier Codesal: El vídeo como paraíso”, <i>El Guía</i>, nº 6 (IIª
época), julio-agosto-septiembre 1990 (pp. 18-23).</p>

<p> 3	Javier Codesal, “¿Qué
hacemos con el vídeo?”, <i>Contracampo</i>, nº 39, primavera-verano 1985 (pp. 43-54).</p>

<p> 4	Fátima Anllo, en el artículo antes citado, recoge al respecto algunas anécdotas y recuerdos de Codesal de sus años en Sabiñánigo, el pueblo oscense donde nació
y creció. Entre otros, el de “aquella festividad en la que se iba a la ermita de Santa Orosia y se trasladaba la cabeza de la santa a Huesca para reunirla con el tronco”; una prueba de que la imaginación dicha <i>surreal</i> tiene un portentoso arraigo en las creencias populares.</p>

<p> 5	Javier Codesal, “El Manto de Verónica”, <i>Bienal de la Imagen en Movimiento ‘92: Visionarios españoles </i>(catálogo), Madrid: Museo Nacional Centro de Arte Reina Sofía, 1992 (pp. 74-76).</p>
<p> <u><b>glosario para traducción al inglés</b></u></p>



<p> puesta en escena			=	[mise-en-scène,]</p>
<p> [						staging]</p>

<p> imágenes de archivo			=	archival footage</p>

<p> acción					=	performance</p>

<p> arte de acción,			<sub>=	performance art</sub></p>
<p> accionismo</p>

<p> instalación				=	installation</p>

<p> videoarte				=	video art</p>

<p> vídeo de creación		(No hay una expresión equivalente en inglés que sea</p>
<p>
				de uso verdaderamente común. Por tanto, bastará</p>
<p>
				con
<i>video art</i> o <i>independent video</i>)</p>

<p> créditos				=	credit titles</p>

<p> comentario en <i>off</i>			<sub>=</sub>	voice-over,</p>
<p> narración en <i>off</i>				voice-over narration</p>

<p>
“informativo”				=	“reportage”</p>

<p> montaje				=	editing</p>

<p> cine directo norteamericano		=	American direct cinema</p>

<p> film de cortometraje,			<sub>=	short film</sub></p>
<p> cortometraje</p>

<p> autonosuya				=	regional autonomous government    [?]</p>

<p> vídeo musical				=	music video</p>

<p> realización multicámara		=	multi-camera recording</p>

<p> vídeo-de-aficionado			=	amateur video</p>

<p> máquina
(¿soltera?)			=	(bachelor?) machine</p>

<p> programa informativo			=	news programme</p>

<p> arte expandido			=	expanded arts</p>

<p>
“videocreadores”			=	videomakers</p>
<p>
						[comillas innecesarias en este caso]</p>

<p> vídeo monocanal,			<sub>=	single-channel videowork</sub></p>
<p> videografía monocanal</p> <div title="footer">
	<p>
	
	</p>
<p>
	• <sdfield type=PAGE subtype=RANDOM format=PAGE>15</sdfield> •</p>  