  <p><u><b>JOAN LEANDRE: vídeos per la fi de la televisió</b></u></p>
<p> </p>
<p> La continua, productiva, feraç activitat de Joan Leandre és la millor excusa per trobar un motiu d’actualitat per parlar d’aquest jove artista
(nat a Sabadell el 1968), en un camp com el del vídeo on els
“esdeveniments” d’actualitat són més aviat d’ordre col.lectiu (mostres, festivals, cicles…), de manera que no és tan usual com caldria la ressenya referida a l’obra personal d’un determinat autor. Ans, des del 1994 especialment, la producció
videogràfica de Joan Leandre ha anat prenent una especial embranzida i un relleu remarcable, malgrat els reduïts circuits d’exhibició
i difusió del vídeo. I és que una trentena llarga de cintes realitzades en un període de dos anys i escaig comporten un volum que difícilment podria passar inadvertit, malgrat que hi poguem trobar les desigualtats que són d’esperar en una successió tan abundant de peces. Les quals, d’altra banda, configuren uns subconjunts o sèries amb alguns trets o ingredients distintius, i d’altres que participen més ampliament d’un plantejament constant, pel qual totes les petites peces i les diverses sèries s’integren en una mena de <i>work in progress</i>, en un augment continu del siglari i la recopilació de signes que caracteritzen el <i>Mega Assemble Project</i>
(MAP) de Joan Leandre, per utilitzar d’una manera genèrica l’enunciat d’una de les dites sèries.</p>
<p> </p>
<p> El siglari és el dels títols de les sèries o peces unitàries: NLH, EFT, D, RHA, CS, BP, BRC, MAP, Z i SM, entre d’altres. Sigles o inicials que no sempre responen a un sentit unívoc i transparent, o que poden ser igual d’arbitràries que qualsevol altre títol més convencional.
De vegades, un parèntesi introdueix l’equivalència de les sigles, ans no sempre és més explicativa; anotem tanmateix que CS equival a
<i>Ciclo Surf</i>, BP a <i>Brothers Petroleum</i>, Z a <i>Zero Foundation/Fundación Zero</i>, i SM a <i>Serial Monuments</i>.
Algunes peces recents incorporen un ordinal a l’estil del que especifica les versions dels programes informàtics; així, la sèrie MAP inclou <i>MAP 1.0</i>, <i>MAP 2.0</i>, <i>MAP 3</i>, <i>MAP 5.0</i>, <i>MAP 7.0</i> i, tot passant a una xifra demoníaca, un <i>MAP 666</i>.
Per fi, alguns títols o subtítols són menys lacònics, s’alimenten d’eslògans i altres sintagmes travats i trobats —per exemple, <i>MAP ZERO (The Voice of Our Audience)</i>—, o fins i tot ens proporcionen alguna pista sobre el seu contingut: <i>Zero Foundation (Murnau versus Nintendo)</i>.
Ara bé, si les sigles que Leandre s’empesca són significatives, tenen un sentit, és perquè ens remeten a un nomenclàtor corporatiu multimediàtic, identificable amb el de les televisions, les multinacionals de l’espectacle, les factories publicitàries i les puixants indústries de la informàtica i la telemàtica.</p>
<p> </p>
<p> I aquests són, d’altra banda, els dolls mateixos d’on Leandre extreu els seus destil.lats de signes, acoblaments condensats d’heterogenis estripalls mediàtics, col.lisions cacofòniques (ans plenes de ritme) de bandes sonores i visual esbocinades i sobrevoltades. MAPes de la finestra global de la informació i la teletonteria, de la publicitat i els vídeo-jocs, del cinema i el subcinema, dels subtextos velats i de l’embolcall pop —com de vídeo-clip— que constitueix la més superficial i llaminera aparença de molts dels vídeos de Joan Leandre. Però, compte!, que els bombons tal vegada continguin substàncies tòxiques. I és que les acurades miniatures desmuntadores d’aquest aixecador de desgavellats <i>monuments serials</i>, generalment entren bé (potser no tant en sobredosi, quan l’organisme receptor és feble?), ens posen a to en qüestió de segons per l’agitada mescla d’imatges i sons impactants, però són molt més que exercicis de fi estilisme.</p>
<p> </p>
<p> Ara que hom comença a parlar de “la fi de la televisió” —tal com l’hem coneguda fins avui: com un poder més i més investit d’autoritat massiva i barroeria—, i mentre alguns ja emprenen il.lusament l’apostolat de la dita profecia (però sabem que, si fa no fa, les mateixes mans s’apressen a tibar les noves xarxes), la BRC TV i altres indústries imaginàries de Joan Leandre estripen la violència, el caos i els agents contaminants de les imatgeries mediàtiques. Manlleven d’aquest domini públic, o roben de les propietats registrades i identificades per lletres tancades en un petit cercle (® i ©), i, tot recombinant els bocins, reemeten els senyals, ara guarnits per un nou logo o “mosca” a la pantalla, i amb un distintiu final que en reconeix la nul.la propietat: ara una ics dins el petit cercle (), i la llegenda: “Do copy” (una fòrmula represa de l’antany utilitzada a <i>Radical Software</i>, una de les primeres revistes de vídeo i mitjans alternatius). Copieu sense escrúpols, participeu de la multipropietat dels senyals audiovisuals de distribució massiva, aboqueu-vos al frenesí del
<i>giratutto</i> i de la super-muntanya russa Gran Khan, i sigueu benvinguts a la Fundació Zero… o, el que és el mateix, a l’Infern.</p>
<p> </p>
<p>
 <b>Eugeni Bonet</b></p> 