  <h1 class="western" align="left">ELS COSSOS ELECTRONICS</h1> <p> </p>
<p> L'obra videogràfica de Joan Pueyo ha pres una orientació precisa i molt personal a partir de <i>Pel meu art i la gent que estimo, content aguantaré fins el final</i>
(1985). El subjectivisme que hom albira en el llarg títol es correspon amb les característiques d'aquesta cinta, virtualment realitzada de manera del tot solitària, doncs és l'autor qui es troba a l'un i l'altre costat de les imatges. Així, en certa manera es retrata (autoretrata) múltiplement, tot tractant de transmetre, per mitjà de successives expressions facials, ganyotes i gesticulacions, diferents sensacions subjectives, mentre que en els inortodoxes tractaments aplicats a les imatges es reflexa el procés de l'autor enfrontat a l'exploració d'unes propietats (el vídeo com mirall, la naturalesa immediata del suport electromagnètic), a reconduir les troballes de l'experimentació i l'atzar, a trobar sentit en un seguit de provatures i distorsions.  </p>
<p> </p>
<p> <i>Pel meu art...</i> em porta a pensar en unes certes tradicions o referències en la relativament breu història del vídeo-art, encara que també
presents en altres arts. En concret, amb la "fase del mirall" d'una certa producció videogràfica del principi dels setantes molt lligada al <i>body-art</i>
(per exemple, Vito Acconci) i amb una "estètica del soroll" que, introduïda per les avantguardes en les arts visuals, la música i les performances, es troba en el seu propi suc en el camp del vídeo
(des dels mateixos pioners: Paik, Vostell, Tambellini, etc). D'alguna manera, ambdues referències apunten una doble constant en el treball de Pueyo a partir de <i>Pel meu art...</i>: el cos com objecte visual principal i l'estructura electrònica de la imatge com matèria mal.leabilitzada.</p>
<p> </p>
<p> Amb <i>El nàufrag</i>
(1986-87), Pueyo ha començat a combinar altres elements, tot cercant una singularització de l'objecte videogràfic que entrelluca en el concepte escultòric de la instal.lació. Una estructura irregular de ferro encasta sis tubs de imatge que recomposen un cos deformat i de parts desproporcionades, que es desmembren, retorcen, descomposen, canvien de sexe o juguen amb enigmàtiques tortugues, sobre un fons també múltiple i desbaratat de imatges (en gran part de documents televisius o cinematogràfics d'esdeveniments violents), les quals es succeeixen a gran velocitat i manipulades per diferents procediments.
Com a <i>Pel meu art...</i>, una cacofònica i repetitiva banda/collage de so es correspon adeqüadament amb la pròpia cacofonia de la composició visual.</p>
<p> </p>
<p> <i>Tango</i>
(1988) es basa en una dansa de Maria Muñoz sobre una cançó de Paolo Conte. De fet, però, el tema i el tractament continuen éssent el cos i el modelat de l'acte representat (la dansa) en una forma pròpiament videogràfica. I tot i que és un treball que pot tenir difusió com a programa monocanal, Pueyo ha decidit també de presentar-lo amb una estructura-suport específicament pensada per a una difusió continua (que, donada la brevetat de la cinta i l'intricat muntatge, l'autor considera més adient). Finalment, <i>Tango</i>, com tot bon vídeo-de-dansa, no és una representació externa, sinó
que l'autor cerca la seva pròpia manera de coreografiar els moviments amb els mitjans que li són propis.</p>
<p> </p>
<p> Amb <i>El bany</i>
(1987-88), Pueyo torna a emprar una forma multicanal i escultòrica de vídeo-instal.lació (4 canals, amb tres monitors encastats en una estructura de ferro, més una projecció de fons). El cos d'un home, submergit en una banyera, és l'objecte representat a través de la filera dels tres monitors. Tot i que descomposat i escindit, l'espai serva en principi una continuitat aparent, malgrat que l'escena del bany tingui lloc davant d'un fons canviant d'arbres en moviment, malgrat que el cap del banyista es descomposa/escindeix al seu torn, malgrat que les vores de la banyera (i de l'estructura de ferro)
palesen que, finalment, no és una continuitat congruent. Al llarg dels cinc minuts que vé a durar el cicle sequencial de la peça, es tracta justament de desarticular aquell efecte primer de congruència aparent.</p>
<p> </p>
<p> <i>Nens</i>
(1988-89) i <i>Ampolla</i>
(1989) són realitzacions monocanal que, com en el cas de <i>Tango</i>, es presenten així mateix com a part integral d'una estructura escultòrica específica. La descomposició i deformació del cos, la bellesa del soroll, la juxtaposició d'elements discordants, es troben novament en aquestes dues peces, on els cossos electrònics es rebreguen amb senzilles distorsions òptiques.</p>
<p> </p>
<p> A <i>Nens</i>, per mitjà de la reflexió d'unes imatges en bocins de mirall trencat, unes adorables criatures esdevenen per moments monstres commovedors, larves carnoses de Polifemus electrònics. I a <i>Ampolla</i>, un mosaic irregular de vidres trencats forma una superfície translúcida on bateguen figures indistingibles de llum electrònica, superfície de la que sobresurt el cos d'una ampolla, a l'interior de la qual es transparenta el cos nu d'una dona, tot deformant-se a l'alçada del seu rostre per la corba que envolta el coll de l'ampolla. L'alentiment, fins arribar a l'extrem de la imatge congelada, contraposat a l'acceleració del muntatge original de la breu seqüència que és el nucli de la peça, descomposa cinèticament aquesta imatge, amb reminiscències cubistes, que hom podria descriure com un nu dins d'una natura morta.</p>
<p> </p>
<p> <i>Família</i>
(1990) és, per ara, el darrer lliurament d'aquesta sèrie indubtablement coherent que es va iniciar amb <i>Pel meu art...</i> i <i>El nàufrag</i>.
En certa manera és novament un autoretrat o, més aviat, com ho indica el títol, un retrat familiar, tot i que no hi ha cap rostre que sigui identificable totalment perquè Pueyo ha mesclat les imatges de tal manera que en resulta un monstre sintètic i de rostre canviant, un ésser grotesc que sembla el resultat d'un experiment genètic simulat electrònicament, o senzillament un joc disbaratat però ple d'humor. Així com les peces immediatament anteriors a aquesta explotaven unes distorsions òptiques sense cap secret, en aquest cas intervé la complexitat dels sistemes de postproducció de la imatge electrònica, però amb una similar i deliberada simplicitat en la seva aplicació.</p>
<p> </p>
<p>La voluntat de Joan Pueyo de presentar conjuntament aquesta sèrie de treballs iniciada el 1985 trobo que té molt de sentit, perquè la major part d'aquests treballs proposen diferents menes d'experimentació visual, amb una concisió i precisa elaboració
dels comptats elements que entren en joc en cada cas, sense oblidar el so. Cada peça és llavors com un impacte, breu en duració però
suficientment dens com per a no esgotar-se d'un cop d'ull. La suma de tots posa però de relleu el seu impuls comú, de manera que esdevé
un conjunt compacte amb una clara empremta autorial.</p>
<p> </p>
<p> La decisió
d'incorporar una estructura escultòrica en cada una de les peces (a excepció de la que inicià la sèrie) forma a la vegada part d'una estratègia per tal de, com he apuntat abans, singularitzar-les i d'altra banda defugir l'estructura narrativa associada amb les imatges mòbils (el principi i la fi com a convencions, si més no), tot i que és possible que l'aspecte vídeo-escultòric no sempre hagi estat prou ben resolt. Els elements escultòrics semblen voler reforçar la contundència mateixa de les imatges i els procediments emprats amb el brutalisme d'un material omnipresent com és el ferro
(i, a <i>Tango</i>, també el formigó), o bé remeten formalment a algun aspecte de les imatges que encasten (per exemple, a <i>Ampolla</i>, les planxes seccionades de ferro que envolten tridimensionalment el monitor, tot establint una relació òbvia amb els vidres trencats que formen el fons de la imatge). I en el seu darrer treball, <i>Família</i>, Pueyo introdueix per primer cop un element escultòric no prevalentment abstracte, ans amb una connotació antropomorfa que sembla particularment adequada per a les imatges que en aquest cas s'hi mostren.</p>
<p> </p>
<p>Joan Pueyo és un creador de imatges "fortes", però
extremadament volàtils, com ho són en general totes les imatges electròniques: un bellugueig incessant de punts de llum. En aquest sentit, la brevetat, la velocitat, els sorolls, mutacions i intricaments de les seves imatges videogràfiques en són la força i les ales. Llavors, la repetició continuada, la ferralla, les estructures que envolten la pantalla o pantalles potser siguin també
un ardit per a fer més pesants els cossos electrònics que bateguen en l'espai imaginari i ingràvid del vídeo.  </p>
<p> </p>
<p>EUGENI BONET</p>
<p>Maig 1990</p> 