  <p> <b>Art endollat (amb pujades i baixades de tensió)</b></p>

<p> <b>Eugeni Bonet</b></p>


<p> <i>Mostra d'Arts Electròniques 2000</i>. Centre d'Art Santa Mònica.</p>
<p> Rambla de Santa Mònica, 7. Barcelona. Fins al 15 de novembre.</p>


<p> La segona edició de la Mostra d'Arts Electròniques omple aquests dies la planta baixa del Centre d'Art Santa Mònica amb una disseminació de projeccions i instal.lacions audiovisuals/multimèdia. Cal recordar que aquesta mostra és hereva, o bé diguem-ne actualització, de l'anteriorment anomenada Mostra de Vídeo de Catalunya, promoguda pel Departament de Cultura de la Generalitat de Catalunya i que, ja el 1998, va començar a escampar-se de la sala d'actes als passadissos que vorejen l'antic claustre conventual, tot obrint-se per fi a les obres d'instal.lació
i escultura medial i a la nova empenta dels cibermèdia. I bé que enguany se li ha concedit el més "noble" dels espais del Centre –si més no pel que fa a les seves dimensions–, el muntatge expositiu, en la seva concepció i distribució de les diferents peces i àmbits, presenta algun que altre factor desfavorable. El primer, i prou típic en manifestacions d'aquesta mena, la contaminació sonora que es genera i que perjudica mutuament les diferents ofertes que conviuen.</p>

<p> Només traspassar el llindar de la Mostra, l'obra que em va atraure immediatament cap a l'altre extrem del recinte és una de les presentades per Antoni Abad: una lluminosa projecció que pren com a suport-pantalla una taula de dibuix. Un cop davant de la superfície plena de mosques digitals de moviment ben creïble, com prenent vida després de ser dibuixades per una mà que llisca entre l'espai que deixen lliure (signatura de l'artista i del seu delit per certs elements recurrents), el primer que vaig fer va ser comprovar si passava alguna cosa en superposar la meva mà sobre la imatge projectada. Més tard vaig veure altres visitants que provaven de matar o foragitar les mosques virtuals a cop de palmell. Suposo que això és tot un símptoma d'allò que anomenaria l'ansietat de la interactivitat, propulsada pels novíssims mitjans.</p>

<p> A la sala contigua es projecta –amb un tamany de pantalla que trobo exagerat– un programa de set vídeos que sumen una hora i escaig.
Jo diria que constitueixen treballs de continuïtat, sense gaires novetats respecte a les maneres de fer i als inevitables alts i baixos d'autors de ja llarga trajectòria com Julián Álvarez, Joan Pueyo, Pedro Ballesteros, Jacobo Sucari, Joan Leandre i Toni Serra
(amb un <i>cut-up</i> a duo), als quals s'afegeixen Iñaki Álvarez i Eloi Puig. I tot i que, un a un, tots són treballs relativament correctes –en tot cas, uns més mancats de força o originalitat que altres–, em temo que s'anul.len entre si en el feixuc seguici del programa, i per la invitació al <i>zapping</i> de les altres obres i àrees veïnes. Mala cosa per a un mitjà que, en la seva modalitat monocanal almenys, ha près la deslluïda reputació d'un prematur declivi; d'una pràctica més enutjosa que mai.</p>

<p> D'altra banda, amb tot l'enrenou que hi ha ara amb els sistemes DV que fan assequible el vídeo digital i la <i>versatilitat digital </i>més
àmpliament entesa, cal suposar que l'audiovisual electrònic ha de guanyar novament pes i embranzida, tot prenent una diversitat d'adscripcions i vies de sortida –com ja succeeix ara mateix, de la gran pantalla del (petit) cinema al corn de l'abundància de la xarxa– que permetran increpar als enterramorts apressats del vídeo, i abans del cinema, en les seves expressions alternatives. Per tant, cal imaginar noves formes d'exhibició i rehabilitació d'unes pràctiques que han trobat un ampli cultiu i, en canvi, un reconeixement ben minso i descoratjador.</p>

<p> Sota la taxonomia un xic entortolligada d'<i>art off-line</i> i <i>art on-line</i>, els CD-ROM i els setis web són altres de les varietats electròniques abastades. N'hi ha tres i tres, i sortosament no cal armar-se de santa paciència per navegar-hi. Tant el CD <i>paraparèmic</i> de <i>la tribu</i> Hac Mor/Xargay amb Barbara Held, Adolf Alcañiz i altres adeptes, com el de Job Ramos en un registre més narratiu, com l'<i>InteRom</i> que documenta l'obra d'Antoni Muntadas i que inclou un enllaç a un projecte en línia sobre els "espais híbrids", tenen prou suc i no et fan perdre temps amb emperifollaments falsament interactius o infladament hipermedials. Pel que fa a les propostes "enxarxades", responen perfectament als trets inherents a un medi, tal vegada un mitjà, que artísticament es troba en una mena de fase anal de delectació en les seves caquetes
(amb perdó), per les pròpies limitacions que encara té, de manera que hi predomina el joc (juntament amb alguna malifeta que altra); terme que empro sense cap connotació despectiva, doncs tant Daniel Julià com Oskar Xabier Gómez s'hi refereixen en els comentaris a les obres que presenten, mentre que el <i>milió</i> d'Antoni Abad t'omple la pantalla de l'ordinador de petons –i de finestretes–
que, pel que sembla, poden arribar a penjar el sistema. (Tal vegada per això, en la meva visita l'<i>art on-line</i> romania en <i>off</i>).</p>

<p> Entre aquestes diverses pantalles hi ha les instal.lacions de Jordi Colomer i de Galeria Virtual amb Perry Hoberman, que potser haurien guanyat respiració amb una altra distribució. (La instal.lació
interactiva de Kònic Thtr no era encara muntada al moment d'escriure aquesta ressenya.) L'obra de Colomer és descrita com un doblet de
"vídeo i sala de projecció", a la vegada que com "una escultura que es dilata en el temps". I encara com "un espectacle superlatiu que es denuncia ell mateix com a espectacle".
Massa literatura additiva i subterfugis pel meu gust, però la inclusió d'un artista tan desmarcat en principi de la demarcació
<i>arts electròniques</i> és bona per qüestionar-se sobre la validesa d'aquest i altres termes, davant el risc d'esdevenir una mena d'àrea perifèrica, suburbial del gran art contemporani i els seus rampells capriciosos o conservadoristes; qüestió que plana per alguns textos del catàleg. Els germans Parés presenten, per la seva banda, una atractiva proposta corresponent al seu projecte Galeria Virtual de col.laboració amb altres artistes de diferents disciplines, però aquesta vegada amb un col.lega tan reconegut en el camp de les interactivitats i les virtualitats com és el nord-americà Perry Hoberman, tot brindant-nos un espai de relació
festiva i encís digital.</p>

<p> Finalment voldria destacar la molt millorada substància que té el catàleg, sobretot amb els textos de Montse Badia, Idoia García i Valentín Roma, els quals consideren amb deteniment i sensibilitat les obres dels artistes i faedors presents a la mostra. Més els textos preliminars dels quatre curadors –Antoni Mercader, Carles Ameller, Claudia Giannetti i Núria Font– i un de signat conjuntament on s'expressa, ben realistament, la preocupació per "la davallada en el volum i en la intensitat de la producció
experimental", amb la qual cosa es fa notar que les coses de les arts endollades, per molt que ens engresquin a uns quants, no van prou bé en aquest nostre racó de món.</p> 