  <p> <b>SIN PEDESTAL</b></p>

<p> En España, la vídeo-instalación ha sido siempre una anomalía, aunque con una presencia inicialmente mayor en Cataluña. No por azar, entre los artistas que más la han frecuentado, hay que mencionar en primer lugar a Muntadas, Francesc Torres y Eugènia Balcells, los cuales se afincaron en Estados Unidos a lo largo de los años setenta y son hoy bien conocidos internacionalmente. Carles Pujol ha logrado también desarrollar su personal línea de trabajo en este campo, sacándole partido a los medios más bien precarios con que generalmente ha contado. El polifacético Benet Rossell, en colaboración con Muntadas y con Miralda, pero también en solitario, no ha desperdiciado la ocasión de explorar asimismo este campo. Cabe mencionar además al escultor Ramón De Vargas, al pintor/escultor Perejaume, y a artistas multimedia Concha Jerez, Pedro Garhel y Darío Corbeira.</p>

<p> A mediados de los ochenta, empieza a darse a conocer una nueva generación que se ha interesado inmediatamente por el vídeo y en especial, por las "formas expandidas" —como diría John Hanhardt— de la instalación: Lluís Nicolau y Josep Poch en Barcelona, cuyos interesantes trabajos no han tenido por desgracia continuidad en los últimos cuatro o cinco años; Isabel Herguera en Euskadi; en Madrid, Gabriel Fernández Corchero y el tándem que por entonces formaban Raúl Rodríguez y Javier Codesal; mientras que Antón Jodrá hace alguna incursión en Zaragoza. Y, entre otras incursiones más, cabe mencionar los nombres de Xavier Villaverde, Alfonso Flaquer, Julián Alvarez, Antonio Cano y, más insistentemente, Remo Balcells y Joan Pueyo. Más recientemente, hay que sumar aún los nombres de Francisco Felipe, Paco Utray con Luis Lamadrid, Marcelo Expósito, José Antonio Hergueta y las experiencias primerizas de los grupos Toni Milian y 3TT en Las Palmas.</p>

<p> Sin duda olvido algún nombre —en algún caso por desconocimiento—, mientras que omito deliberadamente la referencia a puros "trabajos escolares" o a experiencias que presumo del todo pasajeras. Aunque un comentario crítico detenido sobre el anterior inventario de nombres impondría una criba más drástica, la ristra de nombres mencionados puede dar lugar a pensar que no es tanta la anomalía que de entrada advertía.
Y ojalá que no sea así en adelante, pero lo cierto es que el campo de la creación videográfica en España ha estado trenzado por demasiadas carencias y limitaciones, promesas interrumpidas y nimiedades bendecidas, como para esperar algo más que heroicas aventuras individuales más o menos persistentes (en el tiempo, en la mirada, en la memoria), en tanto que los espacios reservados al Arte no están capacitados para acoger plenamente las aspiraciones de aquella "reserva india". (Máxime cuando "exposición" de una instalación implica, en gran parte, "financiación" de la misma).</p>

<p> El trabajo de Pedro Ortuño, que es en definitiva de lo que se trata en esta publicación, me ha interesado lo suficiente como para poner por escrito mi percepción/apreciación del mismo. A pesar de que gran parte de las "esculturas" e instalaciones que ha producido en poco más de un año sólo las he podido conocer a través de documentación fotográfica y escrita, lo que no resulta demasiado fiable cuando se trata de obras tridimensionales y con un componente cinético (en este caso, el vídeo), me ha parecido advertir en el conjunto de sus propuestas un rigor y una coherencia notables en su ensayo de integración del vídeo (imagen/sonido y el volumen tridimensional del monitor) con otros elementos escultóricos, objetuales y visuales.</p>

<p> Por otro lado, aunque sus piezas remiten frecuentemente a procesos de transformación y permanencia de la materia en la naturaleza (la erosión y la cadencia permanente de las olas, la vida vegetal y el aprovechamiento humano de la madera), como en la civilización urbana
(construcción/destrucción, degradación/residuo, materiales naturales/artificiales), rehuye con inteligencia el estadio meramente contemplativo y las ideas abstractas más evidentes —hoy ya demasiado desgastadas artísticamente—, para afrontar repetidamente la relación del objeto con la imagen reproducida; desde el formalismo (dicho sea sin ningún tono peyorativo en el término), pero con la referencia constante a la "realidad" de los
<i>(mass)
media</i>.</p>

<p> En uno de sus mejores trabajos, tal como él mismo lo reconoce, Ortuño juega con el engaño visual y el punto de vista falsario, en la estela de la
<i>perspectiva curiosa</i> renacentista y el <i>trompe l'oeil</i>.
En esta instalación, con cierta afinidad imprevista con un trabajo de Carles Pujol —que Ortuño sin embargo no conocía cuando realizó
su pieza—, se nos muestra en un monitor el sucesivo trazado de un cuadrado y de un círculo, dibujados sobre dos planos (láminas)
perpendiculares entre sí. Colgadas de una pared posterior, el despliegue de dichas láminas sobre un mismo plano vertical pone al descubierto la distorsión de las figuras geométricas,
"correctamente" representadas en el espacio ilusorio de la pantalla de vídeo. Citando (u homenajeando) a Malevich, la intencionalidad de Ortuño apunta, sin embargo, a la distorsión de la información en los medios de emisión de la misma.</p>

<p> La ilusoriedad de la imagen está
siempre en el trasfondo de sus distintas esculturas; a menudo, en lo que tienen de prolongación conceptual los elementos objetuales o residuales que completan la pieza: materiales "reales", ya sean naturales o construidos (piedra, madera, metal, espejo, virutas, etc.). Las obras resultantes adquieren elegancia en su sencillez, y claridad en su resolución de la idea (vídeo-)escultórica, quizá
con el riesgo de una presencia demasiado discreta. (En todo caso, pienso que las esculturas realizadas por Ortuño hasta ahora ganan cuando se exhiben como un conjunto cohesionado, en lugar de como piezas sueltas aisladas). Otro posible reparo que se me ocurre es la limitación que puede suponer el darle excesivas vueltas a un pensamiento-de-la-sospecha referido a la imagen, como duplicación y simulacro del mundo físico, sin ir más allá de una ya improbable perplejidad del desengaño.</p>

<p> El artista que empieza necesita una respuesta o, como dicen los anglosajones, <i>feedback</i>
—no tanto un cómodo respaldo, como opiniones críticas—, que por rutina o abulia es un tanto infrecuente en un contexto artístico como el nuestro; en especial cuando en la obra del autor en cuestión intervienen determinados medios que suscitan aún una cierta reticencia, sino un simple encogimiento de hombros. Los "textos de catálogo" se conciben entonces como un pedestal a fin de poner a la altura de la vista las supuestas cualidades artísticas del autor y su obra. Esto es un texto de catálogo y, como tal, no deja de tener su lado apologético. Pues intuyo que la obra de Ortuño, incluso si se considera como incipiente, no necesita pedestal: se sostiene por sí sola.</p>

<p> EUGENI BONET</p>
<p> Barcelona, abril de 1990</p>
 