  <p> <b>MOSCAS VOLANTES</b></p>

<p> Eugeni Bonet</p>



<p> <b>tránsito y permanencia</b></p>

<p> La práctica artística que Francisco Ruiz de Infante ha venido desarrollando a lo largo de más de diez años —si se cuentan aquellas fases que, retrospectivamente, puedan considerarse como formativas, incipientes, tentativas— gravita siempre en torno a diversos estados de lo transitorio. O, dicho sea con otras palabras que FRI maneja frecuentemente, de lo frágil, de lo efímero.</p>

<p> En primer lugar, el tránsito propio del tiempo y el de un primer enfrentamiento del sujeto con el discurrir imperturbable del mismo, cumpliendo inadvertidamente los ritos de paso de la niñez a la adolescencia y al ser adulto, con las persistentes secuelas (algunas veces atroces)
de la nostalgia y la añoranza por la presunta inocencia perdida. Una temática recurrente en la obra de FRI, a la que nos remiten ya algunos de sus títulos: <i>Je suis un bon garçon</i>, <i>Encore je suis un enfant</i>, <i>Los huesos blandos</i>, así como los referidos al aprendizaje (<i>El Reformatorio</i>, <i>Aprendiendo eclipses</i>, <i>Les sons de survie</i>)
o a los universos de las ficciones infantiles (<i>Les frères de Pinocchio</i>, <i>Los lobos</i>).</p>

<p> En segundo lugar, el tránsito como desplazamiento de un lugar o contexto a otro: de una ciudad a otra, de un país a otro, de una lengua a otra, de lo familiar a lo extraño/extranjero… Un desplazamiento/expatriación que, en el caso de FRI, lo es en gran parte por voluntad y oportunidad, en busca de otros aires y de unas condiciones menos precarias que aquellas que coartan ciertas especies de arte escasamente protegidas en España (como el vídeo, la instalación audiovisual y otras prácticas multimedia: el difuso terreno al que puede adscribirse la actividad en cualquier caso singular de FRI).
Aunque, por otro lado, la vivencia del desplazamiento y las sensaciones de extravío o desarraigamiento se han convertido en una preocupación temática inescapable (“…je suis né au nord d’un pays qui se trouve au Sud. Mais, au sud de quoi?, <i>Les choses simples</i>).</p>

<p> Y, en tercer lugar, en la obra de FRI, lo transitorio ha devenido mismamente un lugar
—lugar de paso, lugar común—, un espacio de tránsito (<i>Centro de tránsito para adolescentes</i> era el título de su exposición de 1992 en su ciudad natal, Vitoria-Gasteiz); un entorno de aprendizaje e iniciación, entre el refugio y el reformatorio, entre lo liberador y lo oprimente. Un lugar, como viene a decir FRI en una de sus notas, “para el conocimiento de la crueldad y el frío”; unos amargos “antídotos”
para hacer soportable el sufrimiento.</p>

<p> Pero esta insistencia en la fugacidad del tiempo, en lo perpetuamente transitorio, en la ardua aprehensión de la realidad, en el miedo y la vacilación, en las dudas y las paradojas, en el <i>territorio de la fragilidad</i>
—dice FRI: “Mis frases son cortas; mis objetos y mis ideas son efímeros”—, dista de ser el enfoque pasajero y perplejo de un artista joven y en ciernes, por mucho que alguna vez se autodiagnosticara e identificara entre los “enfermos de infancia”, sino que constituye aquello que da fuerza y personalidad, consistencia y densidad —un valor de permanencia, en suma— al conjunto de su obra plástica y audiovisual.</p>

<p> Esta última es la que constituye el objeto de atención de estas páginas; más especialmente, la de soporte videográfico y en formato monocanal, por ser la parcela de su trabajo con la que estoy más familiarizado, permitiéndome además una revisión detenida (mando a distancia en mano) de la decena de cintas que FRI ha completado desde 1988.
Tomando como referencia en primer plano a <i>Los lobos</i>
(1995), su cinta más reciente (y, por convención, bien puede decirse que la más “ambiciosa” hasta ahora, aunque no meramente por su larga duración o metraje), y retrocediendo hasta su mismo germen en la puesta a cero primordial de <i>Hacia el agua</i>
(1988) —primera realización audiovisual que su autor mantiene en distribución, considerándola como un suma-y-sigue, pero también como un punto-y-aparte respecto a otra decena larga de títulos que la preceden en el más exhaustivo listado videofilmográfico que consta en su curriculum—, estos comentarios, hilvanados en parte como un diálogo con los propios textos, comentarios y anotaciones de FRI, pretenden remontar las constantes y las líneas temáticas diversas que ensamblan sus realizaciones videográficas consecutivas.</p>


<p> <b>negro y blanco</b></p>

<p> En efecto, ya que FRI señala que <i>Los lobos</i> tiene una remota motivación en los meandros anteriores de <i>Hacia el agua</i>, puede además decirse que ambas obras comparten algún que otro rasgo en común que las distingue de las demás cintas que FRI ha realizado en el intervalo, y con las que empezó a atraer la atención en los circuitos internacionales del vídeo de creación. Por un lado, por el monocromatismo de sus imágenes en blanco y negro (aunque la primera versión de <i>Hacia el agua</i> fuera en color, éste tendía ya a lo monocromático), si bien llenas de matices grises y turbios entre los extremos de claro y oscuro. Por otro lado, en una cierta fragmentación, variación o modulación sintáctica y dramatúrgica de los textos y las voces, lejos de los tintes más deliberadamente monótonos de los monólogos, los falsos diálogos o las líneas de texto escrito que llevan las riendas de otros de sus vídeos. Y, si a propósito de <i>Hacia el agua</i>, FRI decía que “el ocultismo casi sórdido irá dando paso a una mayor claridad de los textos, y el recurso hacia el color negro será
sustituido por la utilización del color blanco en la imagen”, de algún modo <i>Los lobos</i> se anuncia como un nuevo <i>descenso ad inferos</i> hasta la oscura sordidez de la corrupción y la violencia, el miedo y la angustia, el terror y la pesadilla en estado vigil.</p>

<p> <i>Los lobos</i>, dice FRI, “contiene algunos de los elementos que han aparecido en otros de mis vídeos (infancia, adolescencia, aprendizaje, culpabilidad, pérdida de raíces, miedo…); sin embargo, esta vez estos temas están teñidos de un tono amenazante”. Este tono, por tanto, debe ser de color oscuro o negro, y quizá en la obra de FRI pudiera empezar a distinguirse pues entre un período (o registro)
negro y otro de apoteosis del blanco —aunque para mejor comprender esto, es preciso mirar a su obra plástica y de instalación o instauración de ambientes: a su blancor insistente, y a sus penumbras y <i>eclipses</i>—, tal como para la obra precubista de Picasso se habla de las épocas azul y rosa.</p>

<p> No obstante, por encima de este registro tonal diverso o de otros matices singularizadores —en <i>Los lobos</i>, por ejemplo, el texto no tiene un protagonismo tan álgido como en anteriores cintas—, hay una plena continuidad en cuanto a las preocupaciones temáticas y las marcas de estilo desarrolladas en el conjunto entero de sus vídeos: los flujos de imágenes, sonidos y textos que se encadenan, entremezclan y reiteran con una cadencia y armonía propias; la predilección por la <i>visión lenta</i> y por un repertorio más bien restringido de iconos y símbolos en gran parte recursivos; la cualidad enrarecida, intrincada o texturada de las imágenes, y también de los sonidos, como resultado de los velos o capas superpuestas, de las mezclas, los ruidos introducidos y los eslabonamientos graduales; la espesura de los diversos elementos entretejidos (visuales, textuales, sonoros, musicales, etc.); o el recurso a franjas, cortinas y otros efectos para encuadrar o reformatear las imágenes y organizar en otro eje su desfile secuencial (o el del texto rotulado, el texto como imagen).</p>

<p> En cuanto a los temas, éstos mantienen su severidad sea cual sea la tonalidad superpuesta, aunque sólo de una manera simplista pueden ser desglosados y tipificados en, por ejemplo, la muerte (<i>Hacia el agua</i>, <i>Lugar común</i>), el sentimiento de culpa (la trilogía <i>Las armas y los cuidados</i>: <i>El juicio</i>, <i>Yo soy de la Gran Europa</i>, <i>Les promenades nocturnes</i>), el viaje imaginario (<i>Golden Cities</i>, <i>El primer viaje</i>),…
pues constituyen más bien parte de una constelación de ideas fijas, obsesivas, insoslayables que guían la intención nada jovial de la obra de FRI (“Nunca he pretendido que mi trabajo fuera un punto de encuentro para la fiesta”). En este sentido, en <i>Los lobos</i>, por la propia magnitud del proyecto (el cual no se extingue en la cinta, sino que ésta constituye el eje de un “proyecto temático”
más amplio y aún no cerrado), se produce algo así como una condensación o recapitulación temática de sus anteriores propuestas, persiguiendo la convulsa belleza del estremecimiento.
Jamás una fiesta, ahora más bien una ordalía.</p>


<p> <b>falsos diálogos</b></p>

<p> <i>Los lobos</i>, como algunas otras obras recientes de FRI (<i>El reformatorio</i>, <i>Les promenades nocturnes</i>), se estructura narrativamente como un falso diálogo; el más ficticio/fingido de todos por la pluralidad de voces, lenguas, registros, edades y géneros, y manipulaciones (voces invertidas) que se reparten las líneas de diálogo que encarnan a los dos personajes esenciales —el <i>Maestro-Guía</i> y el <i>Aprendiz</i>—, y que aún pueden reducirse, como sugiere el autor, a <i>un personaje múltiple</i>.
Este personaje escindido en múltiples voces asiste a un viaje iniciático que se quiere “dantesco”, penetrando en las interioridades de un mundo confuso y caótico, pero solamente a través de la superficie de las imágenes iluminadas en la pantalla.
Pues no sólo las voces permanecen en off, como en las demás cintas de FRI, sino que los ficticios personajes se mantienen afuera del torbellino de las imágenes; si acaso agregándose como un coro de voces a la confusión y sinrazón perseguida por las mismas. Así, una vez más se trata también de un <i>viaje imaginario</i> y de un <i>tránsito de aprendizaje</i>, persistiendo en unos argumentos recursivos en la obra de FRI.</p>

<p> Un viaje inmóvil por mediación de las imágenes y las frases hechas: “La función del Guía es la de mostrar y comentar imágenes (mostrar su poder de manipulación); la función del Aprendiz, la de aprender a mostrar imágenes”. Este carácter de comentario externo que el autor atribuye a los diálogos introduce un juego sutil en la relación entre el texto y la imagen, que pasa de una cierta literalidad (con astutos desplazamientos) a una abierta discrepancia, en correspondencia por otra parte con la
índole altamente simbólica y metafórica de las imágenes.</p>

<p> Se trata de esa misma literalidad por la que, por ejemplo en <i>Les choses simples</i>, mientras se habla de la lluvia, lo que se contempla en la pantalla son los chorros de agua que manan de una ducha: una falsa lluvia. Y algo parecido ocurre en <i>El reformatorio</i>, cuando se habla de la tristeza y de la lluvia, y lo que se ve son los efectos de la lluvia, pero como si se tratara de lágrimas exageradas de tamaño (“Llorar y llover son fenómenos parecidos. Sin embargo, los ojos no son nubes y sólo la tristeza continuada produce charcos”). Mientras que, en <i>Los lobos</i>, se habla por ejemplo de casas y puertas, árboles y frutos, perros y aves, plagas y tormentas,… y todo ello se hace de algún modo visible, incluso de manera redundante, pero siempre con un velo de sospecha sobre la fidelidad y transparencia de esas mismas imágenes.
Y, en otros momentos, se trata de esa discrepancia entre imágenes cándidas o enigmáticas, sosegadas o inquietantes, y los giros inesperados del texto, sus contrasentidos, sus sofismas, sus turbadores imperativos, las afligidas letanías en primera persona; toda la gama de construcciones lingüísticas que FRI ha introducido en cada uno de sus vídeos, y que aquí se combinan y confunden en el falso diálogo del personaje múltiple.</p>

<p> El principio dramatúrgico del personaje múltiple resulta más diáfano, por otra parte, en <i>Les promenades nocturnes</i>
(1994), una obra que se desgajó de las primeras elaboraciones para
<i>Los lobos</i>, siendo primeramente presentada como una instalación de vídeo en tres pantallas, y luego adaptada en versión monocanal, con la momentánea idea de que constituyera un posible prólogo a <i>Los lobos</i>, aunque finalmente reubicada como conclusión de la trilogía <i>Las armas y los cuidados</i>.
De manera que puede interpretarse como una pieza-bisagra entre ambos proyectos, estrechando la vecindad de sus respectivas temáticas: la culpabilidad y la vacilación por un lado, el miedo y la sinrazón por otro (claro está que siempre simplificando un tanto respecto a lo que FRI entiende por concepto o proyecto <i>temático</i>).
El rotundo componente literario de <i>Les promenades nocturnes</i>, sin embargo, está más próximo de las otras realizaciones anteriores a <i>Los lobos</i>, y el falso diálogo no alcanza el grado tan drásticamente fragmentario y cuasi desmantelado que adquiere en esta cinta.</p>

<p> Así, mientras que en la primera parte de <i>Les promenades nocturnes</i> la falsedad del diálogo se reconoce ya <i>auditivamente</i>, como si fuera un diálogo del sujeto consigo mismo —una voz masculina, y la misma ligeramente enrarecida por la línea telefónica—, introduciendo ecos repetitivos de las mismas frases, falsas réplicas y algún instante perplejo (“Quand j’entends ma voix, je ne sais plus quoi penser”), en la segunda parte se produce un aparente cambio de personajes y un claro distingo en las voces
—ahora una mujer y un niño—, sin embargo revertiendo nuevamente en un falso diálogo: intercambiando sus roles, sus advertencias,
órdenes e interdicciones; menoscabando la solución de continuidad de sus frases a propósito del pecado, la memoria y la oscuridad. Y si las imágenes parecen seguir un orden enteramente distinto y en gran parte autónomo, al cabo se adivina que todos los personajes, las voces, los desdoblamientos se resuelven en un sujeto único: aquel que, herido y angustiado al principio, se convertirá en sonriente amigo de los lobos. (¿Sonriente como una hiena?).</p>


<p> <b>falsas simetrías</b></p>

<p> En la videografía de FRI, el falso diálogo se entabla de manera más rotunda en coincidencia con el tema de la falsa simetría que exploran la instalación y la cinta <i>El reformatorio (falsos gemelos)</i>
(1992-93), así como algunas piezas fotográficas que lo prefiguraban anteriormente. Es decir, aunque ya se encuentren indicios de falsos diálogos en otras cintas precedentes —por la alternancia de la primera y segunda persona del singular, o por la diversificación de las voces o de los textos orales y escritos—, su intención se carga de un mayor sentido en el caso de la obra mencionada; sobre todo en su versión original como instalación, donde se remarca el carácter escindido de su personaje múltiple y de la “arquitectura”
audiovisual que envuelve su puesta en escena: una doble cabaña (un refugio) y un doble punto de vista para una pantalla única, pero partida, de manera que el espectador ha de conformarse con una mitad de la imagen o desplazarse intuitivamente para tratar de abarcar su desdoblamiento, su falsa simetría.</p>

<p> En la versión monocanal, esta duplicidad se mantiene en diversos momentos y en general se obtiene una sensación de multiplicidad y densidad visual en variación constante, aunque de una manera pausada y fluyente. El diálogo discurre paralelamente a tres voces —dos adultas, masculina y femenina respectivamente, y la de un niño—, haciéndonos sentir lo que el autor describe como “el peso de las palabras” y sus “dobles sentidos”, hasta tal punto que constituye probablemente la más árida de sus cintas; también por su duración relativamente prolija: 24 minutos mayormente acompañados de diálogos en forma de frases cortas de incierta pedagogía. <i>El reformatorio</i>, pues, constituye algo así como una <i>lección de cosas</i>, ordenada en función de unas palabras simples que se enredan en explicaciones y comentarios no tan simples —así lo prueban las ciencias, al menos: “El color blanco es la suma de todos los colores. De todos modos, el color blanco no existe.” “Las catástrofes son necesarias. Las catástrofes hacen avanzar el mundo.”—, pasando de la neutralidad de las certezas aparentes a la voz de la experiencia adulta y los incisos de docilidad o desesperación infantil (“nada es fácil”, “no me pegues”,
“tengo miedo”, “no debo cometer errores”).</p>

<p> La falsa simetría constituye el pretexto de la inseguridad, la contradicción, la sospecha, el miedo. Es la imperfección y la ambigüedad, la geometría trastornada por la realidad. Al llevar estas cuestiones al territorio de la infancia, FRI no cede sin embargo a una tentación nostálgica, sino que proyecta las peripecias del aprendizaje del mundo hacia los interrogantes que nos mantienen en vilo como adultos.
Como nos recuerda FRI, “la palabra reformarse está emparentada con otras palabras difíciles de entender: transformarse, conformarse, deformarse…” Y estas eufonías se traducen en las anfibologías de las líneas de diálogo. <i>El reformatorio</i> figura ese <i>centro de tránsito</i> desorientador y estólidamente traumático, previo al recorrido iniciático de <i>Los lobos</i>.</p>


<p> <b>fuera de la ley</b></p>

<p> Al principio de <i>Los lobos</i>, la voz un tanto inaudible del autor asume el rol del <i>Guía</i> y expone el punto de partida: “…preparar imágenes en blanco y negro”; “Se trata de… viajar. Y de que tú viajes conmigo.”;
“La estrategia es la de descomponer…”; “…hacer un poco de desorden”. Estamos lejos del convencional preámbulo que el autor introdujo al inicio de <i>Hacia el agua</i>, como para hacernos partícipes del sentido secreto de sus imágenes; o del peso que cobra lo literario en <i>El primer viaje (cuatro días)</i> a fin de mantener una obstinada distancia con la experiencia ajena del viaje por delegación; con la interiorización artificiosa del viaje imaginario y del sentirse trasladado a una realidad y cultura con el atractivo de lo exótico, pero en definitiva extraña. En <i>Los lobos</i> no hay realmente esa intención de clarificar (o debatir con) las propias intenciones, sino de introducirnos inmediatamente al desorden, a la confusión y afuera de la ley. “Entrar en un estado de observación en el cual no hay leyes: ver y escuchar sin leyes”.</p>

<p> Este propósito me recuerda el comienzo de unas bellas páginas de Stan Brakhage, un artista de aportación colosal al cine experimental contemporáneo, recogidas en su libro <i>Metaphors on Vision</i>
(1963):</p>

<p>
«Imagine an eye unruled by man-made laws of perspective, an eye unprejudiced by compositional logic, an eye which does not respond to the name of everything but which must know each object encountered in life through an adventure of perception.»</p>

<p> Y más adelante, tras algunas líneas dedicadas a la infancia y el ojo sin tutela, la pérdida de la inocencia y la búsqueda del conocimiento:</p>

<p>
«Allow so-called hallucination to enter the realm of perception, allowing that mankind always finds derogatory terminology for that which doesn’t appear to be readily usable, accept dream visions, day-dreams or night-dreams, as you would so-called real scenes…»</p>

<p> Como en Brakhage, las imágenes de FRI se constituyen en “metáforas de la visión”, “visiones hipnagógicas”. A diferencia de él, el sonido y el texto no son elementos a evitar a fin de no empañar la “aventura de la percepción”, sino justamente lo contrario: en efecto, las palabras quieren empañar el hechizo de lo visualizado.</p>

<p> En cualquier caso, venga o no a cuento esta referencia (a mi modo de ver, con más que una tangencia poética conjetural), lo que sí se puede aseverar a la vista de la obra de FRI es su brillante asimilación del legado de un conjunto indeterminado de heroicos aventureros de la percepción y de la innovación en el dominio de las artes audiovisuales; concretamente en los territorios periféricos del cine experimental, del videoarte, y de los más tenaces rompemoldes en general. No se olvide tampoco que algunas de las primeras andanzas audiovisuales de FRI tuvieron el frágil soporte de la película de super-8, cuyas texturas características se trasladaron posteriormente a la cinta magnética —desde <i>Hacia el agua</i>
(1988) y hasta <i>Lugar común</i>
(1991)—, siendo principalmente reemplazado a partir de <i>El juicio</i>
(también de 1991) por los nuevos formatos de vídeo de 8 mm.; es decir, casi siempre sacando provecho de unos soportes en principio frágiles, de consideración subprofesional y predestinados para el usuario aficionado o profano, pero de los que también se han adueñado los exploradores más obstinados y remisos a la dependencia de los mercados y las industrias audiovisuales prevalecientes. En cuanto a las referencias reconocidas por FRI, en el caso específico de <i>Los lobos</i>
(en cuyos créditos se les consagra un amplio epígrafe) él ha mencionado a cineastas como Tarkovski, Kanevski, Welles, Coppola
(<i>Rumble Fish</i>), Artavazd Péléchian, Leslie Thornton y Jonas Mekas, mientras que algunas de sus simpatías videográficas declaradas se orientan del lado de autores como Bill Viola, Robert Cahen o Robert Wilson, significados estandartes de las visiones lentas y poéticas.</p>


<p> <b>el verbo como imagen</b></p>

<p>
“Aunque algunos piensen lo contrario, mis vídeos también contienen imágenes”: FRI se ha referido así a una relativa parquedad de imágenes en la mayoría de sus vídeos, y supongo que también al peso y la gravedad de lo literario que algunos perciben efectivamente como una sobrecarga o lastre; quizá también por una idea recibida, y realmente muy implantada aún, según la cual el vídeo (el videoarte) parece que debería primar el potencial supuestamente maniatado de lo puramente visual. Lo primero puede decirse que es cierto a poco que uno anote las imágenes e iconos que distingue precisamente en sus vídeos, aunque por las mezclas, encadenados y otros efectos que se suceden continua y fluidamente, diría que aquella posible parquedad
(vinculada también a los ritmos pausados de la visión lenta) se torna en otro tipo de exuberancia: la de las imágenes indistinguibles, las metamorfosis detalladas y la hipnosis de los más leves movimientos intermedios.</p>

<p> Con respecto al texto, en cambio, éste a menudo se resiste a acompañar dócilmente a las imágenes e incluso toma el cuerpo propio y literal del texto escrito: texto que se desliza por debajo de, o intruso entre, las imágenes; textos a veces múltiples o en diversas lenguas, deslizándose entonces en líneas paralelas que dificultan a conciencia su seguimiento y lectura; el texto manuscrito como pura imagen (caligrafía de los rasguños efectuados con los dedos), etc.
Al respecto, dice FRI: “siempre he pensado que nuestra percepción de la realidad a veces se reduce a las palabras”. En este sentido, diría que sus cintas más “cortas de imágenes” son <i>Golden Cities</i>
(1990) y <i>Yo soy de la Gran Europa</i>
(1992); en ambos casos con un propósito por supuesto que deliberado, si bien el resultado se me antoja igualmente fallido por diversos motivos. En el primero de dichos títulos, introduciendo la temática de los viajes imaginarios luego desarrollada más ambiciosamente en
<i>El primer viaje (cuatro días)</i>
(1992), aunque, a mi modo de ver, este es un proyecto temático de indudable sagacidad en sus premisas, pero que el artista aún no ha resuelto de manera convincente (salvo que la travesía deslumbrante de <i>Los lobos</i> fuera considerada como parte del mismo).</p>

<p> En cuanto a <i>Yo soy…</i>, aquí se produce una clara y progresiva decantación desde una efectiva parquedad de imágenes hacia la rotundidad del texto-imagen
(el texto escrito, siendo por lo demás una cinta “muda”, donde el habla sólo se insinúa sonoramente mediante jadeos y gruñidos); pero, aunque dicha decantación se corresponda perfectamente con las intenciones expuestas por el autor —una primera sección en la que se prueba a “decir algo, tomar aliento”, otra segunda en la que se logra “hablar al fin”—, en este caso son los textos mismos los que ganan la partida al texto audiovisual como totalidad mayor.
Los que adquieren el mayor peso, los que toman sin rubor la expresión arrogante, la connotación <i>culpable</i> de una identidad social que se quisiera llena de grandeza, civilidad, democracia y otras palabras mayores. Palabras que resuenan como un eco, aunque por negación, en una finalmente acomplejada letanía:
“Yo no soy judío. Yo no soy libanés. No soy estalinista. No soy chino. No soy americano, no soy kurdo, no soy marroquí, no soy negro. No soy albanés, no soy polaco, no soy armenio, no soy palestino, no soy portugués. Yo no soy homosexual, no soy gitano, no soy sudafricano, no soy iraquí, no soy árabe, no soy turco. Yo no estoy circuncidado; no hay ningún número marcado en mi cuerpo”.</p>

<p> En sus dos realizaciones inmediatamente anteriores, <i>Lugar común</i> y <i>El juicio</i>
(ambas de 1991), FRI había logrado en cambio un raro equilibrio entre los diversos elementos y recursos manejados, y en relación a unos temas o motivos siempre turbadores: la muerte, el sentimiento de culpabilidad nuevamente (<i>El juicio</i> siendo parte de la trilogía <i>Las armas y los cuidados</i>, junto con <i>Yo soy de la Gran Europa</i> y <i>Les promenades nocturnes</i>).
Con sus imágenes poderosas o enigmáticas, simbólicas o huidizas, entrecruzadas por textos múltiples (orales y escritos) y climatizadas por la música, los ruidos y el grano de la voz, ambas cintas afianzaron los rasgos personalísimos de la escritura audiovisual de FRI más allá de unas cualidades de habilidad y estilo. La ambigüedad, por ejemplo, por la que el título <i>Lugar común</i> nos conduce hacia la expresión <i>fosa común</i>; por la que el tema de la muerte se desliza en el de la memoria y la aprehensión de la realidad; por la que unas líneas de texto vienen a ocultar los rasgos de unos rostros anónimos en desfile horizontal simultáneo, para descubrirlos seguidamente en un carrusel de deformidades. La distancia, la extrañeza buscadas en <i>El juicio</i>, al hacer que sea una voz femenina y con acento extranjero quien pronuncie las dolientes letanías escritas en primera persona. Las contradicciones que se suceden en los textos y los choques entre las palabras y las imágenes, el intercambio de densidades y transparencias, el tránsito reversible de las imágenes contenidas en el texto a las palabras que se inmiscuyen entre las “verdaderas”
imágenes, como si éstas careciesen de la suficiente soltura y viceversa.</p>


<p> <b>en clave</b></p>

<p> El viaje de <i>Los lobos</i> nos lleva a atravesar sucesivas <i>puertas</i> y <i>túneles</i>, según la terminología que nos descubre el autor en sus comentarios, aunque también, si recapacitamos sobre ello, según esa peculiar literalidad visual comentada anteriormente. Tras la primera puerta
(“Esta casa es mi casa. Cruza la puerta. Esta casa está
caliente…”), hallamos la hospitalidad de un vaso de agua sobre una mesa, sobre el que la cámara emprende súbitamente un giro
(fuera de la ley) para hallarnos a continuación inmersos en una tempestad; en una corriente de imágenes que se solapan con la turbulenta belleza de un paisaje inquietante. Conociendo el cariz que FRI concede a ciertas representaciones paisajísticas que se hallan en sus demás obras, esta visión de la naturaleza desatada y próxima a la catástrofe —el autor se refiere a dicha secuencia como un
“diluvio” y un “presagio de la plaga”— bien pudiera constituir una alusión a una tradición romántica y expresionista donde el paisaje quiere erigirse en reflejo o evocación de determinados estados de ánimo (recuérdese el Sturm und Drang y los vídeos de Doug Hall referidos al ideario de dicho movimiento y de otras manifestaciones culturales coetáneas: <i>Prelude to the Tempest</i>, 1985, y <i>Storm and Stress</i>, 1986). Por otra parte, la secuencia se cierra con un plano simétricamente inverso al que la abrió: el vaso vuelve a hallar una base sólida cuando la cámara regresa a su eje vertical normal, y se me ocurre que la entera secuencia podría ser descrita a fin de cuentas como “una tempestad en un vaso de agua”; un dicho que puede avecinarse a la percepción intranquila que el autor nos sugiere al hacer referencia a los “miedos infantiles” como uno de los motivos temáticos aludidos en <i>Los lobos</i>.</p>

<p> El agua y el vaso de agua constituyen algunos de los motivos más constantes de entre el repertorio icónico y simbólico recurrente en la obra de FRI.
Antes de <i>Hacia el agua</i>, su presencia se intuye ya en algunos títulos primerizos: <i>Lluvia y Barro</i>
(1984), <i>El mar petrificado</i>
(1987). El agua es lo que permanece y lo que se escurre continuamente. El agua es la transparencia y el filtro interpuesto del hielo, del vaso, del vidrio. El agua es el origen y la tentación del regreso (muerte y disolución). El agua es el hogar del saber insondable, y las nubes el húmedo refugio celeste de la imaginación.
El agua es pluralidad atómica y regeneración. “Sus mil significados no son fáciles de organizar”, ha escrito FRI (aunque los tratados o diccionarios de símbolos nos los descubren); “el agua esconde la esencia de lo efímero: el agua es un estado”. Un estado de lo transitorio.</p>

<p> Junto a la transitoriedad del agua, la volatilidad del fuego y el sólido anclaje a la tierra —el suelo, los pies en el suelo (…pero la cabeza en las nubes)— aparecen también entre aquel repertorio icónico, simbólico, mnemónico que puede extraerse de las sucesivas realizaciones de FRI, junto a, entre otras cosas, los niños como principales habitantes del universo de las imágenes (las voces adultas cobrando entonces un papel intruso, entre la falsa pedagogía, el autoritarismo y la compunción); las manos y los gestos con las manos, representado la endeblez de <i>los huesos blandos</i>, las heridas o mutilaciones, la interacción con la naturaleza y la tecnología, el acto de la escritura, los signos convencionales, el aprendizaje; los muebles y decorados blancos; los indicadores del tiempo (relojes, calendarios); las frutas (manzanas, ciruelas); los canes (quizá encarnando esa “sociedad canina” nuestra, a la que FRI se ha referido a propósito de <i>Los lobos</i>)…</p>

<p> Muchas veces, se hace difícil de adjudicar un sentido determinado a tal o cual elemento, imagen, sonido o frase. (Tratándose de frases o palabras, sin embargo, uno se encuentra inmediatamente atrapado en el zarzal de las contradicciones, las transposiciones, las sinrazones, las frases hechas, las repeticiones que conforman la particular seducción poética de los textos de FRI). Como el propio artista advierte,
“…puedo darme cuenta de que tanto en los encuadres como en la selección o construcción de objetos, tengo una tendencia a aislar pedazos de la realidad: una silla, una manzana, una frase. Tal vez de ahí nazca mi tendencia a la indefinición. Nada es más indefinido que una carencia de contexto preciso. Los contextos de mis obras son difusos. La clave se esconde en otras obras. La clave de un objeto es una frase. La clave de una imagen es tal vez otra alejada de ella; con otro sonido, otra música”.</p>

<p> Estas claves (muchas de ellas, al menos) pueden permanecer empero sin resolver, sin descifrar —más aún si no se tiene la ocasión de frecuentar cada obra y la totalidad y continuum de las mismas—, sin que de ello se resienta el disfrute de la sensual elaboración que el artista logra en sus mejores piezas, mediante un completo dominio de sus ingredientes visuales, sonoros, musicales y literarios. (Al respecto, FRI ha dicho: “No soy escritor, no soy músico, no soy realizador de bellas imágenes. La palabra virtuosismo no tiene sentido para mí”.
Con todo, pienso que un cierto manierismo, un cierto énfasis de estilo, sí pueden ser responsables de algunas acogidas más reticentes ante lo que otros han efectivamente interpretado como
éxtasis de bellas imágenes y, más injustamente, como trabalenguas de inverosímil pedantería).</p>

<p> Hay, por otro lado, un evidente propósito de complejidad, una oscuridad casi congénita al hálito poético que desprenden sus obras, un espesor en la manera de abordar <i>las cosas simples</i>.
“Mis obras no son transparentes. Yo me encargo de superponer velos translúcidos a la naturaleza física de mis obras (también a su naturaleza conceptual”. En efecto, las imágenes, las ideas, los textos se superponen, confunden y contrarían; las imágenes se suceden, encadenan y espesan en diversos órdenes (vertical y horizontalmente; en profundidad o por contigüidad de dos o más imágenes) —de ahí, también, que resulten un tanto difíciles de retener a veces—; los textos se deslizan a menudo en la doble banda de lo sonoro y lo visual —como voces y texto escrito—, o bien se distribuyen en un diálogo (falso) a dos o más voces. En el plano de lo visual, el uso de franjas, cortinas, ventanas es un recurso bien característico, así como lo son, en el plano sonoro, las mezclas de voces, susurros, efectos, ruidos y música en una organización armoniosa. (Aquí se palpa la formación musical del autor). Todo tiende a la fragmentación y, como dice el propio FRI, la
<i>indefinición</i>, pero sin evasivas respecto a los temas, los grandes temas, las severas cuestiones que su obra se propone abordar.</p>


<p> <b>en prosa</b></p>

<p> El propio FRI ha detallado algunas fases de la evolución de su trabajo partiendo del concepto de monólogo interior —”muy interior: hermético”—, después “explícito, impúdico, adolescente”, y que paulatinamente fue abriéndose al exterior y a la conversación simulada del “falso diálogo”; del monólogo ante el espejo, la
“conversación solitaria” y los “ejercicios de esquizofrenia”.
(“El mecanismo de los espejos da un buen juego si se eligen más de dos y si estos espejos son deformantes”). Aunque siempre aferrado a una poética de lo equivocado, lo falseado, lo hesitante (los <i>errores visibles</i>, los <i>errores de memoria</i>, los <i>viajes imaginarios</i>, las <i>falsas simetrías</i>, los <i>equilibrios inestables</i>…), lo cierto es que su obra ha ido apartándose crecientemente del territorio más privado y hermético de sus inicios (véase por ejemplo <i>Los encargos del carrusel</i>, de 1990; en mi opinión, su cinta más abstrusa), para contagiarse de la prosa del mundo, de su actualidad más patética, de las crónicas del desasosiego inscritas en la memoria colectiva.</p>

<p> Estas embestidas de realidad que contiene el trabajo de FRI se mantienen, ciertamente, en un estado de indefinición y siempre revestido de metáforas, claves y símbolos; de sensaciones y climas inquietantes; de frases alternativamente hondas y huecas; de paisajes y cosas contempladas de cerca y lentamente… Sin embargo, es evidente que no pertenecen a un limbo de inocentes almas infantiles, o a esos <i>ambientes de incubadora</i> a los que el artista se refiere a propósito de algunas de sus instalaciones. El mundo de la infancia y la adolescencia, los paisajes serenos, las transparencias aparentes, la asepsia del blanco, <i>las cosas simples</i> permanecen entonces como un contrapunto que aumenta la inquietud inherente a los graves temas de la muerte, la enfermedad, la culpabilidad, el sentimiento de extranjería, el miedo, la violencia…</p>

<p> Es como si las imágenes dijeran las cosas a medias y en desorden, tal como sucede igualmente con los textos. Dice FRI al respecto: “Los Oráculos hablan con palabras sencillas. Con frases cortas. Hace años que yo copio su estilo, porque algunas referencias literarias me han enseñado cómo es.
También los subtítulos de las películas hablan con este mismo lenguaje incompleto pero perfecto; cargado de frases no dichas”. Y lo entredicho se produce indistintamente por medio de unos registros coloquiales, como de diálogo o diálogo consigo mismo, y de otros próximos del aforismo, del pensamiento profundo con significantes livianos o, por el contrario, de las frases demasiado usadas (sudadas incluso) y vaciadas de sentido.</p>

<p> En este último aspecto, algunas partes en los textos de FRI pueden recordar indistintamente los <i>juegos de lenguaje</i> de Wittgenstein (o los de Gary Hill en el campo mismo del vídeo y la instalación multimedia) y los <i>truisms</i>
(perogrulladas) de Jenny Holzer. Son como el producto de un cortar-y-pegar de cosas dichas y escuchadas un sinfín de veces, aprendidas y des-aprendidas desde la niñez y que siguen acosando al individuo adulto. El proceso de textos resultante cobra entonces ciertos giros inopinados, absurdos y hasta cómicos. Así, en <i>El juicio</i>, algunos de los motivos de contrición son el “escribir sobre papel blanco sin merecerlo”, el “subir las escaleras demasiado deprisa y haciendo demasiado ruido” y el “fumar demasiado”. En <i>Les promenades nocturnes</i>, primer acto, el anónimo protagonista se siente amputado, angustiado, aturdido, perdido, abandonado,… pero demasiado vulgar como para dejar de fumar (!). Y, en <i>El Reformatorio</i>, asistimos a aleccionamientos del siguiente tipo: “El ojo es un objeto extraño. Es blando. El ojo se sitúa en la cara. Todos los seres vivos tienen dos ojos. La simetría no existe”; “Los mapas son objetos muy extraños que permiten comprender cómo es el Mundo.
Sin embargo, nada es perfecto. En el curso de la historia ha habido muchos cambios en los mapas y muy pocos en el mundo. La simetría no existe”.</p>


<p> <b>la realidad esquiva</b></p>

<p> A propósito de <i>Los lobos</i>, FRI se refiere a la percepción de alguien que entendió la cinta como una “crónica de actualidad”; algo que, a mi modo de ver, podría hacerse de algún modo extensivo a otras obras tales como
<i>Lugar común</i>, <i>Yo soy de la Gran Europa</i> o <i>Les choses simples</i>, por cuantas referencias acuden a la mente en relación a diversos temas y hechos álgidos o sempiternamente transcendentes y controvertidos: la pena de muerte, los abusos legales y racionalizados científicamente, la arrogancia del etnocentrismo, la incomodidad de la ética, la inmigración como delito, la violencia como higiene o terapéutica… En cualquier caso, si tales cuestiones no son expuestas tan abierta y directamente como uno quisiera para calmar su privada congoja —como al hojear el diario durante el desayuno o al contemplar el telediario en la sobremesa—, debo decir que simpatizo bastante con la réplica anticipada del propio FRI: “La pregunta del <i>¿de qué estás hablando?</i> no debiera tener sentido ni en el confesionario, ni en el arte”.</p>

<p> <i>Los lobos</i> discurre como un viaje alucinante por los territorios del subconsciente, antes que por los de la actualidad geopolítica. El autor ha pretendido reflejar la violencia, la crueldad, el terror; en definitiva, las partes más oscuras de nuestra sociedad lobuna, como si fueran encarnadas en las pantallas de un juego informático, en la ansiedad indolente del <i>zapping</i>, en las fábulas aterradoras de los cuentos infantiles y en el sueño de la razón de las pesadillas nocturnas y diurnas. Y hay una continua remisión a las <i>máquinas de visión</i>, a los armamentos no convencionales glosados por Paul Virilio; por ejemplo en las miras que recuadran y dividen la imagen en zonas, como desde el visor de un arma que busca su diana; en imágenes de pobre definición como tomadas por cámaras de vigilancia; en las exploraciones obsesivas de detalles secuenciales llevados adelante y atrás, retenidos en un bucle a la búsqueda de la prueba condenatoria; o aun en los ruidos de vídeo que irrumpen de vez en cuando. Es como si las tinieblas y el miedo sólo pudieran reflejarse pálidamente en la violencia caricaturesca de un vídeo-juego, y en los trucos digitales y de edición a disposición del vídeo-artista.
Pero que sea el propio autor quien se explaye sobre su torpeza confesa: “tal vez ha sido el intentar hacer un retrato de algunas violencias gratuitas de las cuales somos conscientes en la realidad de esta comunidad nuestra, lo que me ha hecho sentir mi impotencia; el carácter irremediablemente naif de mi crónica. No he sido capaz de acercarme a esa extrema crueldad que las realidades nos ofrecen”.</p>

<p> La torpeza para expresarse —en una lengua ajena concretamente— constituye uno de los puntos de partida de <i>Les choses simples</i>
(1993), un regreso al monólogo que se intercala en el ciclo último de los falsos diálogos. Esta fue la primera cinta de FRI concebida para —no <i>en</i>—
una lengua distinta que la suya materna: aunque el texto fue escrito originalmente en castellano, su pleno sentido lo cobra al haber sido vertido al francés, pensando en la dificultad o la impericia del inmigrado que trata de construir frases en una lengua que no siente como suya. Así, esa voz se dice y se repite que sólo puede construir frases simples, que sólo debe decir cosas simples. La menor de las paradojas es que, a pesar de tal propósito y de las frases efectivamente cortas —como evocando los cursos de idiomas de los que Ionesco extrajo el absurdo y los falsos diálogos de <i>La cantatrice chauve</i>—, se desprendan ideas progresivamente complejas, sombrías y desazonantes, hasta llegar a la repetitiva sentencia final:
“[Maintenant, je sais] que la douleur est un sentiment compliqué
et que la solitude existe”. Pero otro aspecto aún más desconcertante del monólogo estriba en la locución del texto por una voz infantil, mientras que su contenido discurre entre aquellas frases que podrían perfectamente ponerse en boca de un niño o un adolescente, y aquello que el autor ha descrito como “la memoria de un hombre que ha ido poco a poco perdiendo las raíces”; un dualismo que se redobla en “la progresiva transformación de la imagen entre lo sólido y lo líquido (lo vivo y lo seco, lo blanco y lo negro)”. En este sentido, también en <i>Les choses simples</i> puede intuirse un personaje múltiple, aunque ahora encarnando las diversas edades del anónimo y único.</p>


<p> <b>visión interior: moscas volantes</b></p>

<p> Ver doble para captar los dobles sentidos y exponer las dudas, las contradicciones, los errores invisibles. Ver desde el interior para tratar de protegerse de los desgarros de la realidad sin tener que desviar la mirada. Ver de cerca, ver lentamente, ver imprecisamente, incluso llegar a ver mismamente, son las funciones y anomalías que FRI atribuye a su manera de hacer vídeo e instalaciones audiovisuales. Y ver, por supuesto, implica percibir e interpelarse mediante otros órganos, instrumentos y procedimientos además de la vista y las tecnologías de la imagen: construyendo frases, creando y mezclando sonidos, ordenando y desordenando ideas, colocando y descolocando objetos o cosas…</p>

<p> Su obra permanece fiel a un orden poético, subjetivo e introspectivo con un amplio despliegue en el arte del vídeo (y, desde mucho antes, entre los cultivos del cine independiente y anormativo). En este sentido, <i>Los lobos</i> constituiría algo así como un poema épico. Sin embargo, la virulenta intrusión de la realidad impide el adormecimiento en una cámara efectivamente estanca, en la protectora asepsia de una incubadora, o en el cuarto de los juegos y ensueños pueriles; por otro lado, los ambientes repetidamente recreados por FRI en tantas de sus instalaciones, o como figurado centro de operaciones de un imposible viaje inmóvil (véase <i>El primer viaje</i>).
Y, en definitiva, toda la carga poética, el cuidado formal y la belleza que impregnan su obra, juegan al contrasentido respecto a los graves temas que interiorizan, formalizan y expresan (permitiendo por ello mismo, bien es cierto, apreciaciones enfrentadas o discrepantes).</p>

<p> La escritura en primera persona o disfrazada de falso diálogo, los rasgos de la visión interior, la recurrencia constante de ciertas temáticas o motivos, suscitan interrogantes sobre la motivación autobiográfica soterrada que puedan tener esas imágenes y frases entretejidas en una o más pantallas, y sobre la veracidad o sinceridad de los compungidos sentimientos, las zozobrantes reminiscencias, las solitarias conversaciones que a su través se entablan. (Una sospecha que probablemente no se produciría si todo eso saliera por ejemplo de la pluma de un filósofo, y que en cambio se agudiza en un medio antes considerado de entretenimiento, que no de producción artística y de pensamiento). En cualquier caso, FRI nos introduce en los arcanos y equívocos de los espejos (los deformantes, los enfrentados, los que devienen transparentes según la acción de la luz, los más vulgares incluso), y opera con la hipótesis que el agua nos devuelva otra imagen que la esperada, y ajena al ensimismamiento. ¡La simetría no existe!</p>


<p> Barcelona, septiembre-noviembre 1996</p> <div title="footer">
	<p>
	</p>
<p>MOSCAS
	VOLANTES		•
	<sdfield type=PAGE subtype=RANDOM format=PAGE>13</sdfield></p>  