  <p> <b>UNA CRONOTOPOLOGIA DE L'ART VIDEO A BARCELONA</b></p>

<p>
(x) Eugeni Bonet</p>


<p> Hi ha una llegenda que diu —i no dic pas que no sigui cert— que a Barcelona hi ha hagut, i hi ha, una activitat força constant en aquesta parcel.la de la producció artística i cultural que representa la creació i experimentació videogràfica; un art relativament jove i impopular, un improbable ofici. Per a descriure el passat i el present de l'activitat videogràfica a la nostra ciutat —sempre en el seu vessant artístic, experimental, alternatiu (o, si es vol, marginal)—, les línies que segueixen proven de fer un recorregut en el temps i sobre el mapa, sobre el plànol de la ciutat, a través dels <i>llocs</i> del vídeo, tot esgranant a la vegada uns quants noms, títols, fets, grans i petites fites,... i també les mancances que hi noto.</p>

<p> En posar el dit sobre el plànol (i en ordre la memòria i les dades), apuntaré en primer lloc a la Rambla de Catalunya, per sota de la Gran Via, on hi havia la botiga Aixelà; en el seu temps, no només un dels més importants comerços de la ciutat en el ram de la imatge i el so, sinó que va acollir endemés una escola cinematogràfica, així com exposicions, projeccions, etc.
Allí es va produir aparentment el que hom pot considerar com el primer ús, entre nosaltres, d'un equip de vídeo amb un propòsit artístic (o, si més no, experimental): <i>Daedalus Video</i> (1969), del pintor Joan Duran Benet i el seu germà Oriol, que acompanyà la projecció dels seus films experimentals, idiosincràticament psicodèlics i casolans.</p>

<p> Tot seguit apuntaré cap a la Catedral, per a deturar-me en la cantonada que ocupa l'edifici del Col.legi d'Arquitectes de Catalunya. Entre les múltiples activitats artístiques i culturals que hi tingueren lloc durant els darrers anys de la dictadura, no hi faltarien tampoc altres aproximacions al vídeo per part d'altres dels artistes més inquiets d'aquell temps: <i>Primera Muerte</i>
(1970), d'Àngel Jové, Sílvia Gubern, Antoni Llena, Jordi Galí i Zush; <i>Experiencia núm. 3</i>
(1971), d'Antoni Muntadas (que finalment, però, no va poder exhibir-se); <i>Vídeo-Acción</i>
(1973), de Carles Pazos.</p>

<p> Al Col.legi d'Arquitectes caldrà tornar-hi, però
per tal de preservar la cronologia i remarcar un nom entre els fins ara esmentats, enfilo suara el Passeig de Gràcia i m'arribo a La Sala Vinçon, que era llavors un dels bastions de l'art conceptual, alternatiu, experimental. Doncs bé, aquí Muntadas hi muntà durant uns dies un <i>Taller de treball amb videotape en grups</i>; és a dir, ço que en anglès hom anomenaria un <i>workshop</i>, de manera que va ser una de les primeres oportunitats que tinguerem d'apropar-nos a aquest mitjà, tan nou i tan rarament accessible en aquell temps.</p>

<p> Després, uns quants ens apropariem a l'Institut del Teatre, a l'antiga seu del carrer Elisabets, ja fos a través del CIPLA (Curs d'Iniciació a la Pràctica i el Llenguatge Àudio-visual) o de puntuals aventures i desventures en el plató, dotat amb equips d'una polzada, blanc i negre, que, recent adquirits, ja estaven condemnats a una obsolescència a molt curt termini. Si assenyalo el lloc de l'Institut del Teatre en el plànol és més que res perque per allí
hi passaren Carles Pujol, Carles Comas, Julián Alvarez, Lala Gomà, Carles Pastor, entre altres. L'Antoni Mercader provà d'establir-hi un "Departament Vídeo-Comunicació" que gairebé que només va existir sobre el paper. Tot això va servir-nos sobretot de precalentament: encara ens trobariem amb pitjors circumstàncies.</p>

<p> En un popular bar-quiosc amb terrassa al mig del Pla del Palau, Muntadas va "exposar" el 1976 el seu prototipus per a una possible televisió comunitària, de barri: <i>Barcelona Distrito Uno</i>.
Al carrer Comerç, el seu aixopluc quan s'està a Barcelona, però
també el d'amics d'arreu del món quan passen per la nostra ciutat, pot dir-se que també es van calentar unes quantes coses. Entre altres, de la mà dels veneçolans Margarita D'Amico i Manuel Manzano en sorgiria el grup Vídeo-Nou, que a la vegada culminaria en l'establiment del Servei de Vídeo Comunitari, acollit per l'Institut del Teatre en la seva seu del carrer Pere Lastortras (avui Verdaguer i Callís).</p>

<p> Al carrer Berlinès hi va haver el primer Metrònom, el molt particular espai artístic de Mister Cat, vull dir Rafael Tous i Isabel de Pedro. Però abans, entre 1977-1979 si fa no fa, va provar d'existir també una cosa que en deiem FVI, per Film Vídeo Informació. L'Efa-Ve-I erem bàsicament Eugènia Balcells, Manuel Huerga, Juan Bufill i jo. Vam editar dos números d'una revista (potser ara en diria un fanzine) que es deia <i>Visual</i> i que tractava d'allò que ens interessava a nosaltres i que trobavem força desatès a la nostra ciutat: el cinema experimental, el vídeo-art, els mitjans alternatius.</p>

<p> Molt ràpidament, podria també assenyalar on estaven altres llocs que puntualment o tangencialment van tenir alguna cosa a veure amb el tema que aquí m'ocupa, com la Galeria G
(que, per exemple, ens va portar a Wolf Vostell, que va fer un vídeo-happening que anunciava ja l'etapa més lamentable d'aquest artista alemany massa torrat pel sol de Càceres), o la Mec-Mec (d'on només recordaré el muntatge que hi va fer Mariscal amb el títol de
<i>Gran Hotel</i>, l'any 1977, en el qual s'incloïa un vídeo tremendament "cutre" però hilarant).</p>

<p> A Montjuïc, assenyalaré, també amb un gest ràpid, la Fundació Joan Miró i, avall de la muntanya, el Palau de Congressos de la Fira. La Fundació Miró, per haver estat escenari d'una estafada "porteña" que Jorge Glusberg, del CAYC
(Centro de Arte y Comunicación) de Buenos Aires, va exportar internacionalment al llarg dels anys setantes amb el molt aparent nom de <i>International Open Encounter on Video</i>; també per haver encetat, i immediatament truncat, un projecte de departament de vídeo i un principi de videoteca. Pel que fa al Palau de Congressos, fora d'algun acte més aïllat, l'assenyalo en record de l'antiga <i>Setmana Internacional de Cinema de Barcelona</i>, que en els seus darrers anys va dedicar una certa atenció a l'escena videogràfica local i a les produccions televisives de caire cultural o experimental (així vam començar a conèixer el vídeo/TV de Godard, Bob Wilson, Josep Montes-Baquer, etc.)</p>

<p> Assenyalo novament la plaça Nova, el Col.legi d'Arquitectes, escenari el 1978 i el 1980 de les <i>Sèries Informatives, 1 (Vídeo, entre l'art i la comunicació)</i> i <i>2 (Vídeo, el temps i l'espai)</i>, primeres mostres de vídeo amb cara i ulls, amb vocació
internacional, amb convidats estrangers i amb vídeo-instal.lacions.
Entremig, va haver-hi també unes <i>Jornades de Vídeo Comunitari</i>, promogudes pel grup Vídeo-Nou, a punt de transformar-se en Servei de Vídeo Comunitari. Per cert, em cal també assenyalar l'Institut Alemany, Gran Via tocant al Coliseum, que contribuí decissivament a fer possibles aquestes i altres manifestacions, mostres, seminaris, principalment entre el 1976 i el 1980.</p>

<p> L'Institut d'Estudis Nord-americans desplega un seguit d'activitats al voltant del vídeo del 1981 ençà; tant a través d'algunes mostres i manifestacions concebudes per l'Antoni Mercader, com per la importació de mostres itinerants com les del Museu Whitney de Nova York, circulades per l'eficaç American Federation of the Arts, o, més recentment, el <i>Siggraph Traveling Art Show</i>. Endemés, l'IEN reb de tant en tant les visites de vídeo-artistes i realitzadors independents nord-americans o establerts als EUA (Peter d'Agostino, Gary Hill, Francesc Torres, etc.)</p>

<p> Però deixeu-me retornar encara al principi dels vuitantes: l'editorial Gustavo Gili (al carrer Rosselló) publica el nostre llibre <i>En torno al Vídeo</i>
(1980) —dic "nostre", en referir-me al grupet que llavors formavem en Mercader, en Muntadas, en Joaquim Dols i jo—; Vídeo-Spot, primera gran empresa del sector, produeix <i>Koloroa</i>
(1980), d'El Hortelano, un dibuixant de còmics amb debilitat per la pintura i el chroma-key —hom no havia pas vist encara un vídeo fet aquí amb tanta coloraina i tant efecte, el primer vídeo artístic de producció comercial—; la mateixa empresa inaugura les seves noves instal.lacions (a la plaça Tetuan), tot presentant una vídeo-escultura, potser seria millor dir-ne un vídeo-monument, realitzada conjuntament per Antoni Miralda i Benet Rossell (<i>Súbete a Colón</i>, 1982); neixen, creixen i es multipliquen les escoles de vídeo i els llocs on s'ensenya a fer vídeo (generalment en una direcció tècnico-professional, però
propiciant també la creació original o que vol ser-ho, o l'experimentació en general; caldria així esmentar Videografia i l'IDEP, endemés de l'Escola Massana i la Facultat de Belles Arts).</p>

<p> Ara cal parlar de l'exhibició i dels festivals o concursos. Un dels primers intents de posar remei al problema de la invisibilitat del vídeo (que trobo encara força greu) fou el que començà com un invent de Julián Alvarez, anomenat <i>Mostra de vídeos realitzats a Barcelona a l'entorn de l'art, la música i la realitat</i>, el qual acabaria per fer-se seu el Departament de Cultura de la Generalitat de Catalunya, reconvertint-se en el que actualment coneixem com la <i>Mostra de Vídeo de Creació de Catalunya</i>, de la que enguany es presentarà la setena edició. Més que localitzar-la en un punt del plànol, tindria que moure el dit per diversos indrets, doncs es tracta d'una mostra itinerant i, en el passat, per excel.lència ambulant: va començar al Palau de Congressos i ha acabat per establir-se al Centre d'Art de Santa Mònica, al capdavall de la Rambla; fins i tot, un any hi va haver un servei de "vídeo-bús" que recorria la ciutat amb els programes seleccionats en la corresponent edició.</p>

<p> A la Rambla hi tenim també el Palau de la Virreina, espai municipal d'exposicions. Allí s'hi ha organitzat en quatre ocasions la mostra <i>Virreina, els Dilluns Vídeo</i> (del 1984 al 1986, i la darrera el 1988), que ideà l'Antoni Mercader i programava el que això escriu. Es tractava en aquest cas d'una mostra que emplenava una temporada anyal, cada cop amb 10 programes en 10 dilluns successius, com a prototipus del que hauria de ser una exhibició
normalitzada (i amb això vull dir sobretot regular) de la producció
videogràfica artística i independent, tant la de fora com la més propera a nosaltres, amb un criteri selectiu d'una certa exigència.
A la segona i la tercera edició van haver-hi endemés instal.lacions
(de Carles Pujol, Lluís Nicolau, Josep Poch, Remo Balcells, Alfonso Flaquer i el gallec Xavier Villaverde). Les tres primeres edicions van tenir força èxit, la darrera va ser en canvi un petit (o un gran) desastre; de manera que dubto que hi hagi una cinquena edició, tot i que el Palau de la Virreina ha de figurar també en el plànol per altres motius, altres mostres i manifestacions que hi han tingut i hi tenen lloc.</p>

<p> Tot i que els festivals i concursos de vídeo (de les més diverses envergadures) han abundat arreu de l'estat espanyol i, a manca d'altres canals, han conformat la principal plataforma d'exhibició, i eventual recompensa, de la producció local, Barcelona (i, per descomptat, Catalunya globalment) no ha estat de sort en aquest aspecte. A l'<i>uptown</i> de Barcelona hi ha el selecte club-discoteca Up&amp;Down, que anys enrera va organitzar (tres anys seguits, si mal no recordo) un concurs de vídeo que es va distingir per l'atractiva quantia dels premis, que va anar <i>up</i> fins que tot va anar <i>down</i> i es va quedar en no-res; potser això és representatiu de la pujada i baixada de termòmetre que delimita el moment àlgid en que el vídeo es va posar més de moda. Hi va haver també un conat, vist i no vist, de <i>Biennal de Vídeo de Barcelona</i>, a la seu de la plaça de Sant Jaume de la Caixa de Barcelona. Aquesta primera (i única!)
Biennal de Vídeo no s'ha de confondre amb <i>La Biennal de Barcelona</i> (abans <i>Biennal de Produccions Culturals Juvenils de l'Europa Mediterrània</i>), que des de fa uns biennis organitza l'Ajuntament de Barcelona, i on el vídeo hi té el seu lloc dins dels peculiars paràmetres d'aquesta manifestació.</p>

<p> Els espais i centres amb més dedicació a l'art contemporani acullen de tant en tant, com és normal avui en dia, vídeo-instal.lacions o mostres diverses en les que hi és representat l'art vídeo: la Fundació Miró; l'avui desmantellat Metrònom (que, en la seva segona etapa, ocupava un bell edifici al carrer Fussina, davant del Born); el ja esmentat Centre d'Art de Santa Mònica; les sales de la Caixa, ara Suipercaixa, al carrer Montcada i al Palau Macaya del Passeig de Sant Joan; també l'espai municipal Transformadors, "aparador de la cultura juvenil" al carrer Ausias March, etc. Com que el vídeo és talment ubicu, eventualment l'hem trobat també en galeries d'art, en l'imponent recinte del Dipòsit de les Aigües del carrer Wellington
(vídeo-escultures de Joan Pueyo), o al Mercat de les Flors, a la falda de Montjuïc (durant els viatges a la realitat virtual i a les darreres tecnologies àudio-visuals a que ens convida anualment <i>Art Futura</i>), etc.</p>

<p> No em puc oblidar de tornar a esmentar Videografia i l'IDEP, on trobarem respectivament l'Antoni Mercader i en Julián Alvarez, dues persones que ja he esmentat per només algunes de les múltiples iniciatives i activitats que han desplegat al llarg dels anys per tal d'esvalotar l'escena videogràfica barcelonina.
Videografia, al carrer Berlin, ha passat per diverses etapes com escola de vídeo i d'informàtica gràfica, distribuidora de vídeo independent, oficina d'enginyeria cultural, etc.; per la seva faceta com a distribuidora, molt apagada darrerament, compta amb un important fons d'art vídeo internacional. L'IDEP, a la Diagonal tocant a Rambla de Catalunya, segueix essent fonamentalment una escola, però hi afegiré ara les activitats de la IDEP Vídeo Associació, que des de fa dos anys i escaig organitza un <i>Cicle de Vídeo d'Autor</i>, amb programes regulars pels que han passat els més destacats realitzadors locals.</p>

<p> A la Via Laietana, devora el Palau de la Música, hi tenim el CIEJ, Centre d'Iniciatives i d'Experimentació per a Joves. La Supercaixa fa possible la creixent oferta de cursets i de serveis, incloent-hi una mediateca, abastant tota la família de la imatge i el so en les vessants més diverses. Els mitjans són cada vegada millors, els preus s'han disparat d'acord amb la política monetarista de la institució-mare. Al CIEJ no sols es calenten cadires davant dels múltiples aparells, sinó que també s'hi fan exposicions, muntatges, instal.lacions, tot i que l'espai trobo que no acompleix les condicions desitjables, i que les mostres i presentacions de vídeo que fins ara s'han fet no han estat gaire lluïdes. Hom hi ha pogut veure tanmateix els primers i prometedors treballs d'alguns joves artistes (com Xavier Rovira i Pedro Ortuño).</p>

<p> Per la Via Laietana, m'apujo finalment al carrer Diputació, on són les oficines de Cinema i Vídeo del Departament de Cultura de la Generalitat. Aquí s'emeten convocatòries de beques o subvencions per al vídeo creatiu, amb dotacions un xic minses, malgrat que els beneficiaris puguin disposar també dels equips i suport tècnic de la casa. També, entre altres coses, es donen uns premis, s'organitza i es fa circular la ja referida <i>Mostra de Vídeo de Creació de Catalunya</i>, i s'apadrinen algunes altres mostres, com el <i>Festival de Vídeo dels Paisos Catalans</i>, que té
lloc anualment a Estavar i Llívia, i la <i>Mostra de Vídeo-Dansa</i>. En canvi, no han tingut continuitat les mostres monogràfiques que s'havien dedicat fa uns anys al vídeo italià i brasileny, i ben interessant que hauria estat d'anar resseguint el mapamundi de la producció videogràfica.
I, em sembla que puc dir-ho —com a membre del col.lectiu dels qui remenem el que podem en aquest petit món del vídeo—, en general mai ens ha agradat del tot la política del Departament de Cultura pel que fa al camp que ens pertoca.</p>

<p> Deixo ara de banda el plànol, i em poso a imaginar com podria ser el millor dels futurs possibles de l'art vídeo a la nostra ciutat, per tal de superar mancances, dèficits o defectes de forma que ara mateix hi noto...</p>

<p> Beques, subvencions i ajuts creixerien i es multiplicarien (en la seva dotació i en el seu nombre). Les bases de les convocatòries serien més flexibles, menys dirigistes. El creador independent tindria més fàcil accés als mitjans. Si més no, s'establirien convenis amb entitats i empreses que permetrien per exemple fòrmules <i>stand-by</i>: de treball a deshora, però a uns preus raonables.</p>

<p> Hi hauria un lloc, i fins i tot més d'un, amb una programació
regular de vídeo (actual i "clàssic", català i espanyol i internacional), i sense ser un forat per als assabentats o els amics i coneguts. La Filmoteca esdevindria potser també Videoteca. O bé (o i també) podria haver-hi una Videoteca de Barcelona, a l'estil de la Vidéotheque de Paris. I, per descomptat, també entre els museus i centres culturals hi haurien videoteques amb cara i ulls.</p>

<p> Hi hauria almenys un encontre anyal, d'abast internacional, en forma de festival (no necessàriament fastuós, competitiu i esgotador). El Festival de Cinema de Barcelona, en tant que hereu de l'antiga Setmana de Cinema de Barcelona, abastaria novament el vídeo i els programes televisius culturals i experimentals.</p>

<p> Finalment, les televisions (TV3 o, més probablement, el Canal 33, així com TVE a Catalunya i les televisions locals) dedicarien espais a la creació videogràfica local i internacional.</p>

<p> Ara, prou de somiar truites; ben segur que m'he deixat coses, però
he esgotat l'espai que m'han donat i haig de plegar el plànol...
Escrit al carrer Saragossa, a l'antic Barri del Farró,...</p>

<p> abril del 1991.</p>
 