  <p> La desaparició de la història				  (x) Eugeni Bonet</p>


<p> Tot i que no hi hagut ocasió de celebrar l’efemèride, començaré
assenyalant que el vídeo… (amb el sufix que preferiu al darrera dels punts suspensius: …art, creació, independent, d’autor) ja compta a Catalunya amb un historial de 25 anys d’activitats i pràctiques. De primer, certament, força discontínues i ocasionals, però que, amb el temps, han anat prenent cos, relleu històric i una certa persistència; fins i tot a contrapèl d’unes circumstàncies sempre prou adverses.</p>

<p> Malauradament, quan parlo d’<i>historial</i> no vull dir ben bé ni tradició, ni història, ni patrimoni estalvi.
Avui que tant es parla de la necessitat de preservar el patrimoni cultural, justament ens hem de plànyer de la desídia institucional que s’endevina pel que fa al vídeo —i m’ensumo que no és només el cas del vídeo “artístic”, ans també el d’altres usos de documentació cultural en el seu sentit més ample—, de manera que un cert nombre d’experiències pioneres són comprovadament irrecuperables, o almenys podem posar en dubte si encara en pot quedar algun rastre (magnètic): el suficient com per estar encara a temps de preservar aquells enregistraments, o les seves restes encara no del tot volatilitzades; almenys els que es consideressin prou significatius per una raó o altra.</p>

<p> Així doncs, els inicis, les que diguéssim beceroles històriques del vídeo entre nosaltres les hem estat i les anem perdent sense que gairebé cap ens públic sembli preocupar-se’n gaire; a l’igual que va passar, com és ben sabut, amb gran part del cinema dels inicis, i de bastant més enllà que els seus inicis. Per això, més que parlar de la història del vídeo a casa nostra, se m’ha acudit de cridar l’atenció sobre el perill de la desaparició d’aquesta suposada història, que així es redueix, com ja he suggerit, a un vague historial, un petit gruix d’antecedents i dades que voreja la llegenda.</p>

<p> El bo del cas és que tampoc no es tracta d’una producció tan abundant com per a requerir una bona provisió de
“fons reservats”, si ens atenim a una mesura orientativa del volum de la producció videogràfica a Catalunya del 1970 al 1985, la qual ens la proporciona una publicació de la Generalitat de Catalunya on hi són catalogats més de 900 productes de molt diversa mena (incloent-hi vídeos institucionals i didàctics, pornos i alguns subproductes humorístics), dels quals només un centenar són classificats dins la categòria del “vídeo-art”, tot i que altres títols rellevants es troben disgregats en altres apartats genèrics. (veg. <i>Catàleg de la producció videogràfica a Catalunya 1970-1985</i>, a cura de Carles Ameller, Departament de Cultura de la Generalitat de Catalunya, 1986; col·lecció Guia cultural de Catalunya, núm. 4).</p>

<p> La tecnologia vídeo, certament, sempre ha estat handicapada per la imprevisible durabilitat o vigència dels aparells, formats, estàndards i suports. (Tot i que, ben mirat, segurament ni més ni menys que altres tecnologies precedents, contemporànies i posteriors). A la constant evolució tecnològica i les estratègies de mercat que fan que molts aparells i sistemes sencers quedin arraconats i obsolets en terminis més i més curts, hi ha que afegir un cert grau de risc i infiabilitat per les característiques pròpies de les cintes magnètiques, especialment quan la informació hi és enregistrada de manera analògica.
Llavors, a l’igual que s’aconsella en tot ús seriós de la informàtica, la precaució més elemental és la de realitzar una
<i>còpia de seguretat</i> de temps en temps, actualitzant si cal el format i suport.</p>

<p> A més a més, però, una necessitat superior que ha sorgit és la de <i>restauració</i> i <i>remasterització</i> d’un nombre d’obres que, per un motiu o altre, havien quedat fora de circulació o “enllaunades” en formats extingits, o que és previsible que ho seran aviat. Així, han anat sorgint experts, empreses i departaments d’entitats artístico-culturals dedicats a la salvaguarda i regeneració d’obres i documents videogràfics; tasca per a la qual, cal proveir-se bé tant de les més diverses i rudimentàries antigalles, com de tecnologies punta, ans acompanyades, pel que sembla, de pacients i artesanes metodologies per tal d’enllustrar les gravacions més masegades.</p>

<p> Als Estats Units, David Shulman, un d’aquests experts en la recuperació i restauració d’envellides bobines de mitja polzada, ha salvat un bon nombre de cintes dels temps del <i>vídeo de guerrilla</i> i de les propostes pioneres als canals d’accés públic de les televisions per cable.
Organitzacions de distribució com Electronic Arts Intermix i Video Data Bank, o museus com el de Long Beach (LBMA) i el MOMA, també
s’han preocupat molt especialment de la preservació, restauració
i, en algun cas, “reflotació” (d’obres que romanien un tant, o del tot, oblidades) de la producció videogràfica independent en general, i de l’anomenat vídeo-art més en particular. Una recent i ambiciosa iniciativa és la de Bay Area Video Coalition (BAVC), un centre independent creat el 1976 a San Francisco, que actualment promou —per al març de 1996— una trobada internacional per tal d’establir la problemàtica, les solucions, les recomanacions i els criteris de preservació de la producció videogràfica, i d’aplegar tot seguit les informacions i conclusions que en resultin en una publicació de referència. Pel que fa a Europa, segons les meves informacions, sembla que actualment destaca la labor de MonteVideo, a Amsterdam, que és també un centre d’exhibició, distribució i documentació.</p>

<p> El 1991, quan elaborava un programa audiovisual sobre les primeres activitats de l’Antoni Muntadas per a la retrospectiva de l’art conceptual a Catalunya <i>Idees i actituds</i>, vam provar de “rescatar”
algunes de les bobines de mitja polzada que ell té emmagatzamades al seu estudi de Barcelona i vaig poder comprovar les dificultats que això representa. Si la primera ja va ser la de trobar els aparells suposadament adients, altres complicacions subsegüents ens portaren a ajornar-ho per a un altre moment. Muntadas segueix refiant-se de poder salvar encara algun d’aquest material, entre el qual s’inclouen, per exemple, els enregistraments de <i>Cadaqués canal local</i> (1974), una llegendària experiència predecessora de les televisions locals i de successives experiències de vídeo comunitari. Recentment, Muntadas es va adreçar al responsable (?) de l’àrea de cinema i vídeo del Departament de Cultura de la Generalitat, sol·licitant recolzament per a una segona temptativa, però fins ara només ha rebut evasives.</p>

<p>
(I que el lector entengui com vulgui el que ara afegiré:) En canvi, a Estats Units, on, com és sabut, són bastants més milions que en aquesta nostra pobra, bruta, trista, dissortada pàtria, Muntadas ha estat cridat a formar part d’un dels grups de treball preparatoris del referit simposi de la BAVC.</p>

<p> Un dels aspectes que ha contribuït a la desaparició (comprovada o presumible) d’un nombre d’experiències i documents dels anys 70,
és l’ocasional contacte amb el mitjà que tingueren un nombre d’artistes i altres individus, esperonats en un moment o altre pels corrents de pensament i de curiositat estètica d’aquells temps: anys d’art immaterial i alternatiu, d’atracció pels nous mitjans, de contracultura i contrainformació i contrafranquisme, etc. El difícil accés als equips de vídeo, concretament, condicionà el nombre prou limitat de les experiències de les que tenim notícia, i els casos encara més comptats d’una mínima continuïtat en la pràctica videogràfica. D’altra banda, algunes exploracions pioneres van prendre forma com instal·lacions o altres activitats processuals o efímeres (de les que, per cert, generalment només n’ha quedat una mínima documentació o tot just una molt lleugera referència).</p>

<p> La que durant molts anys es tingué com a primera experiència vídeo-artística coneguda a casa nostra, <i>Primera muerte</i> (1970) —una improvisació
conjunta de Sílvia Gubern, Àngel Jové, Antoni Llena, Jordi Galí i Zush—, que jo sàpiga, ja fa anys que esdevingué invisible; no sé
si irremeiablement. També l’Àngels Ribé conserva algunes cintes que va enregistrar en la seva llarga estada americana, però si en queda més que el seu embolcall, això és una incògnita. (En exposar-li aquesta infeliç consideració, l’Àngels s’ho va prendre amb resignació).</p>

<p> Altres artistes que han freqüentat més el mitjà sí es van ocupar en el seu moment de salvaguardar tots o bona part dels seus primers enregistraments, des dels seus suports originals esdevinguts obsolets a d’altres que, almenys de moment, encara no ho són del tot.
Muntadas fou dels primers a fer-ho, ja el 1974, traspassant alguns
(però no tots!) dels seus primers enregistraments videogràfics i fílmics, al llavors novíssim i revolucionari format del videocassette de 3/4” U-Màtic. També Francesc Torres conserva gairebé tota la seva producció audiovisual. Carles Pujol va estar a temps de salvar de l’atac dels fongs els seus primers vídeos, enregistrats a l’Institut del Teatre de Barcelona amb un sistema d’una polzada que ràpidament esdevingué obsolet. A més, com que alguns vídeos d’aquests artistes formen part de diverses videoteques o col·leccions, o senzillament n’existeixen diverses còpies, de moment poden considerar-se fora de perill. Tot i així, fóra prudencial ja de remasteritzar-los en un sistema amb més garanties de continuïtat.</p>

<p> Un altre cos relativament important de cintes (en gran part, també de mitja polzada i bobina oberta) que espera a ser verificat i restaurat és el del col·lectiu Vídeo-Nou, format el 1977, i que evolucionà d’uns heteròclits plantejaments propis del que s’anomenà <i>vídeo de guerrilla</i>, cap a una concepció de servei públic i vorejant per moments el vídeo institucional. Tanmateix, des d’una òptica documental, aquest és un fons força valuós. Actualment, després d’algunes negociacions infructuoses amb l’Arxiu d’Audiovisuals de la Generalitat, gairebé tot el material d’aquest grup i d’altres iniciatives successores o vinculades al mateix (Servei de Vídeo Comunitari, Intervisual) ha estat dipositat a l’Universitat Pompeu Fabra, on es provarà de procedir a la seva restauració/preservació.
Aurora Corominas i Toni Prat, que s’ocupen del tema, m’informen que, de moment, s’ha realitzat una neteja i classificació bàsica, i que actualment recullen informació per tal d’afrontar la restauració d’aquest material i els problemes presumibles o ja constatats que presenta. Un propòsit lloable, que podria establir el precedent per a una operació de preservació més àmplia, i que tant de bo sigui profitosa.</p>

<p> Cal ara remarcar, però, que el problema no és exclusivament el d’un nombre relativament reduït d’atrotinades cintes de mitja polzada enregistrades amb primitius magnetoscopis de bobines, sinó que la putrefacció —doncs és literalment cert que les cintes magnètiques crien fongs amb facilitat— i la degeneració dels suports comença a afectar, segons tots els indicis, a obres de producció no tan llunyana —diguem que de no gaire més de 10 anys enrera— i realitzades amb uns aparells força menys rudimentaris. I així, el que podria semblar un problema del passat, d’aquí a pocs anys possiblement afectarà el que ara tenim per present.</p>

<p> L’Eugènia Balcells es dol que les cintes que va realitzar del 1980 al 1983, incloent les que formen part de la seva vídeo-instal·lació de 12 canals <i>From the Center</i>, s’estan “desintegrant”
(en les seves paraules). La Maite Ninou em va assenyalar que el 1988 va veure una còpia de <i>Koloroa</i>
(1980) —un vídeo de El Hortelano i Carles Pastor que en el seu moment representà un súmmum de factura tècnica gairebé <i>hi-tech</i>—, i que presentava ja unes deficiències alarmants. Tanmateix, en posar-me en contacte amb en Carles Pastor, ell em diu que en té dues còpies en diferents formats i que creu que encara es “mantenen”
(no sap, però, on rau el màster original, car l’empresa que va produir la peça ja fa anys que va plegar). En Julián Álvarez, per la seva banda, diu que fa temps que no revisa les seves primeres realizacions (del 1979 i de principi dels vuitantes), i que com més va més recança té a fer-ho per l’estat en què les pugui trobar.</p>

<p>
¿Quina fóra la millor solució enfront d’aquest procés de deterioració aparentment tan precoç? El suport de seguretat que, ara com ara, sembla que s’imposa més és el Betacam, doncs tendeixen a descartar-se els sistemes d’una polzada, que alguns consideren molt superiors, però que es troben en vies d’extinció.
Un ideal teòricament superior és el representat pels formats digitals (D1, D2, D3, etc.), on la pèrdua generacional es considera virtualment nul·la, només que per ara resulten difícilment assequibles per a la pobra economia del vídeo independent. Alguns s’inclinen pel làserdisc, tot i que tampoc és consideri com una panacea, ja que els seus avantatges es veuen enterbolits per certs problemes constatats que podrien posar en dubte la seva garantia de durabilitat; a la vegada compromesa per altres formats venidors
—videogràfics i multimèdia (DVD, SD-RAM CD…)—, tot i que siguin de la mateixa nissaga que els diversos sistemes de disc actualment coneguts (videodisc, CD-ROM, CD-I, etc.).</p>

<p> Joan Pueyo creu que una bona precaució fóra la de tenir submàsters o simples duplicats en diversos formats, i refiar-se que algun d’ells es mantingui prou fins que s’encerti un suport més permanent.
Julián Álvarez constata que el màster d’una seva realització
del 1985 es troba en millor estat que un altre de l’any següent, la qual cosa atribueix a que el primer ha estat utilitzat més sovint que el segon, tot arribant a la conclusió que potser no sigui gaire convenient el tenir una cinta desada i intocada durant massa temps.
Efectivament, fer córrer les cintes magnètiques amb una periodicitat prudencial —ni que sigui bobinant-les per a rebobinar-les tot seguit— sembla ser una operació enutjosament rutinària, pero molt aconsellable. (I tot porta a pensar que les cintes que més greus problemes de conservació presenten són aquelles que, per una raó o altra, han estat sense circular durant molt de temps).</p>

<p> Pel que fa a la manca d’un programa de preservació, tant l’Álvarez com l’Antoni Mercader coincideixen que això podria remeiar-se fàcilment només amb una mica de voluntat institucional, i mitjançant un conveni de col·laboració amb alguna empresa i en les franjes d’infrautilització dels aparells més convenients. (En un nostre món ideal, moltes altres coses ens anirien millor si això
s’estengués a fòrmules stand-by d’accés a bon preu als equips, si més no de postproducció, tals com les existents en altres paÏsos… ¡però això ja és tota una altra història!). I, com em deia l’Aurora Corominas, aquest és un bon moment per tal de plantejar aquesta mena d’urgències, car molts hem arribat al convenciment que hi ha qüestions que són d’ara o (probablement)
mai. Anirem endavant, doncs?</p>

<p> Finalment, atès que un altre criteri essencial de conservació és el referent a les circumstàncies ambientals més apropiades, i que, en el cas del vídeo, aquestes serien si fa no fa les mateixes que les d’altres espècimens i col·leccions audiovisuals més arrelades (filmoteques, fonoteques), també caldria posar atenció
sobre les deficiències arxivístiques que, junt amb l’aparentment nul·la acció institucional pel que fa al vídeo independent i cultural (l’Arxiu d’Audiovisuals de la Generalitat, que semblaria l’ens adient, només sembla ocupar-se de les produccions que subvenciona o genera la pròpia administració autonòmica), fan que el vídeo es converteixi, com algú altre ha dit, en una “espècie en perill”. Ans no pas per estar mancat de futur, sinó perquè es vagi perdent el seu passat.</p>

<p> Barcelona, juliol del 1995</p>
<p> FOTOS i epígrafs</p>
<p> per l’article “La desaparició de la història”</p>


<p>
#1</p>
<p> Postal anunciadora de la participació de Francesc Abad, Jordi Benito, Robert Llimós i Antoni Muntadas a la Documenta 5 de Kassel
(1972),  secció Audiovisual Dokumentation. Hi presentaren quatre accions enregistrades en vídeo, amb el títol de 4 x Umformung eines Raums [Quatre transformacions d’un espai]. Aparentment aquest vídeo s’ha extraviat, tot i que en queda un document en super-8 rodat simultàniament.</p>

<p>
#2</p>
<p> Cadaqués canal local (juliol de 1974), una experiència precursora endegada per Muntadas, que s’avançà a l’aparició de les televisions locals. Emissions virtualment clandestines. enregistrades en cinta de mitja polzada en bobina oberta, tal vegada encara recuperables.</p>

<p>
#3</p>
<p> Primera muerte (1970), una improvisació conjunta d’Àngel Jové, Sílvia Gubern, Antoni Llena, Jordi Galí i Zush, que es presentà al Col·legi d’Arquitectes de Barcelona, tot barrejant imatges pregravades i altres del propi públic preses amb un circuit tancat.
Una de les primeres experiències d’utilització del vídeo en el nostre àmbit artístic: imatges desaparegudes?</p>

<p>
#4</p>
<p> Psychokinesis: Biting My Nails [Psicokinesis: Mossegant-me les ungles] (1975), de Francesc Torres. De la sèrie Behavioral Works, és una de les diverses accions-per-vídeo que Torres va realitzar durant els seus primers anys a Estats Units.</p>

<p>
#5</p>
<p> Homenatge a Erik Satie (1976), una de les primeres realitzacions videogràfiques de Carles Pujol. Salvada per la campana (!) de la seva putrefacció a les antigues instal·lacions de l’Institut del Teatre de Barcelona, on Pujol va tenir el seu primer apropament al vídeo.</p>

<p>
#6</p>
<p> Rètol d’una cinta del col·lectiu Vídeo-Nou, de l’any 1978, part d’una sèrie d’intervencions videogràfiques realitzades a Barcelona per tal de recolzar la Campanya Pro-Ateneus dels organismes cívics i els col·lectius llibertaris.</p>

<p>
#7</p>
<p> From the Center (1980-83), una multivisió caleidoscòpica de “la gran poma” recreada en un cercle de 12 monitors. A la foto, vista de la instal·lació tal com va ser exposada a Metrònom, Barcelona, l’any 1985.</p>
<p> Dotze cintes, i tota una peça, en perill de “desintegració”?</p>

<p>
#8</p>
<p> Koloroa (1980), de El Hortelano i Carles Pastor (“Sèfer”), una peça significativa d’un tomb d’època i de tecnologia. On para el màster?</p> <div title="footer">
	<p>
	• <sdfield type=PAGE subtype=RANDOM format=PAGE>5</sdfield> •</p>  