  <p> <b>BACKGROUND/FOREGROUND</b></p>
<p> <b>Trajecte de l'obra de Muntadas</b></p>

<p>
(x) Eugeni Bonet</p>



<p> <b>(Foreword)</b></p>

<p> <i>Background</i>
és el rerafons, allò que hi ha enrera, la trajectòria, el rastre, la documentació, el comentari, la informació, el catàleg...</p>

<p> <i>Foreground</i>
és l'exposició amb motiu de la qual s'edita aquest catàleg, amb motiu de la qual escric aquestes ratlles.</p>

<p> Tot i que, des de principis dels setantes, Muntadas ha desenvolupat gran part de la seva obra fora d'Espanya, afortunadament no han mancat oportunitats d'anar seguint el seu treball. La seva presència a sales i centres d'art d'arreu de l'estat ha tingut una certa periodicitat; a Madrid i a Catalunya amb més freqüència, però també, en els darrers anys, a Donostia, València o Granada. I, d'altra banda, la seva obra ha estat
àmpliament documentada i comentada a través de publicacions diverses, catàlegs, revistes i diaris.</p>

<p> Moltes vegades m'ha tocat d'escriure sobre el seu treball, però generalment d'una manera parcial, en referència bàsicament als seus treballs en vídeo, un mitjà en el fa uns anys em vaig endinsar, en la qual cosa hi va tenir ell quelcom a veure. Un dels primers articles que jo vaig escriure fou una ressenya de l'exposició que Muntadas realitzà a la Galeria Vandrés, de Madrid, pels voltants del Nadal de 1974. Dotze hiverns després, m'he posat a regirar en la memòria (també a la dels papers) per tal de resseguir la seva trajectòria, traçar aquest <i>Background</i> que, donada l'amistat i el contacte freqüent que hem mantigut, és també per a mi un trajecte. (1)</p>


<p> <b>1963-1970 / Pintura: Nota breu per a un llarg adeu</b></p>

<p> Resseguir la trajectòria d'un artista, la cronologia de la seva obra, és només una manera d'acostar-se a l'artista i a l'obra. Els curriculums són una cosa i la interpretació artigràfica n'és una altra. Moltes passes es poden obviar perquè ara ens assemblen passatgeres, anecdòtiques o insignificants. Jo em podria saltar el Muntadas dels anys seixantes, la seva etapa pictòrica, i probablement ningú m'ho retreuria. Es un aspecte dins la seva trajectòria que ja ha quedat molt enrera. N'hi hauria prou amb tot just mencionar-ho, ja que Muntadas ha "trencat" amb la pintura a començament dels setantes, tot orientant el seu treball vers direccions i mitjans ben distints. Però així com hi ha altres artistes que han passat també per diferents fases i similars o inverses ruptures i han decidit d'oblidar-se totalment de la o les etapes prèvies o o intermèdies —les quals es veuran com aeròlits de procedència inconeguda en relació a les obres per les que han estat definitivament reconeguts—, en el cas de Muntadas, si bé hi ha almenys tres etapes fàcilment diferenciables, també hi ha al mateix temps una certa coherència, una continuació i ampliació (o derivació) de determinades inquietuds. Es per això que, en el seu cas, hom pot començar encara per l'estricta cronologia i. en conseqüència, afegir-hi quelcom més sobre els primers anys de la seva pràctica artística.</p>

<p> La primera activitat significativa en la trajectòria d'Antoni Muntadas fou la seva participació en l'exposició col.lectiva <i>Machines</i>
(Sala Lleonart, Barcelona, abril-maig 1964), juntament amb R.
Camprubí, J. Escribà, J. Galí, J. Huguet, A. Mercader i J. Prats, amb els quals havia coincidit abans en l'avinentesa d'un Concurs de Pintura Universitària. Pintures dels estils més diversos (amb inclusió de procediments de collage i assemblage) i diapositives (de Camprubí, que era el fotògraf del grup) compartien l'espai amb vells artilugis de física recreativa procedents de l'Escola d'Enginyers Industrials de Barcelona (on Muntadas cursava estudis) i amb ambientació musical a base de composicions acústiques i electròniques d'Homs, Mestres-Quadreny, Stockhausen i Eimert.
Aquesta exposició ha passat a la història de l'art català
contemporani com una de les fites més o menys aïllades que assenyalen l'aparició d'una nova generació que repren l'esperit avantguardista que en la Catalunya de la postguerra havia mantingut encès el grup Dau al Set, un membre del qual, Joan Brossa, faria la ressenya poètica de l'esdeveniment. D'altra banda, <i>Machines</i> introduïa d'alguna manera el concepte d'<i>environment</i> o ambient, i és significatiu que tres dels artistes que hi participaren —Jordi Galí i Antoni Mercader, endemés de Muntadas—
tindrien uns quants anys després un paper destacat en la gestació
d'uns nous comportaments artístics, d'un art "conceptual" i un art amb nous mitjans.</p>

<p> Mentre que
<i>Machines</i> romandria una experiència aïllada (i possiblement anecdòtica), però en la que en certa manera hom pot ja advertir l'assaig de nous suports i conceptes encara inhabituals a l'escena artística local d'aquells anys, la pintura de Muntadas de la segona meitat dels seixantes introdueix unes arrels temàtiques i conceptes visuals que retrobem en la seva obra posterior. Proper al Pop, que troba llavors gran ressò entre molts artistes joves de tota Espanya, la pintura és per a Muntadas un mitjà visual de reflexar i comentar la societat contemporània, una cultura en la que prenen protagonisme la imatge, l'objecte de consum, els mitjans de comunicació... Així mateix com una tàctica pròpia del Pop-Art es pot entendre l'ús/apropiació
d'imatges alienes, preexistents, virtualment anònimes, produïdes industrialment, la qual cosa retrobarem de manera accentuada en l'ús que Muntadas ha fet de mitjans com la fotografia i el vídeo.</p>

<p> Els títols d'algunes de les pintures del primer Muntadas són també prou significatius. La sèrie dels <i>Homenajes a Monica Vitti</i> o la seva participació en un muntatge col.lectiu sobre el superheroi modern James Bond denoten temàtiques típicament Pop. Posteriorment, trobem títols com <i>Positivo y Negativo</i> i <i>A
+ B</i> que anuncien la tàctica del contrast dicotòmic, tan característica de l'obra posterior de Muntadas. I, finalment, la sequedat de títols com <i>Incomunicación</i>, <i>Contaminación</i>, <i>Información</i> i d'altres més enunciatius com <i>De espaldas al mundo</i> o <i>Dirígete a las grandes superficies</i>, que expressen per si sols la importància que va prenent el contingut, la significació. De les reproduccions fotogràfiques d'aquests quadres, les característiques que hi observo són: l'ús de colors plans, contrastos elementals, figures esquematitzades en forma de siluetes ("éssers anònims o éssers-robot", segons la intenció de l'artista), tot això evocador de grafismes i imatges publicitàries, d'una iconografia molt depurada i en la que les suggerències (el missatge) s'expressen amb extrema simplicitat, tot actuant com a símbols abans que com a representació realista.</p>


<p> <b>1971-1973 / A les palpentes: Reconeixement sensorial d'un microentorn</b></p>

<p> El mes d'octubre del 1971, Muntadas presentà a la Galeria Vandrés de Madrid una inusual exposició amb la que donava a conèixer la nova orientació que havia pres el seu treball desde començaments d'aquell any. "El quadre com a tal ha perdut la seva finalitat", escriu l'artista després d'haver fet balanç de la seva obra anterior en el text que obre el catàleg, tot passant a exposar seguidament les raons per les quals ha arribat a aquesta conclusió: a la receptivitat passiva i la mercantilització de l'art com objecte hi oposa la necessitat d'una participació del públic, d'un art que acompleixi una funció educativa activa, que propicii l'intercanvi i desperti la creativitat latent en qualsevol persona, el que a la vegada exigeix un replantejament dels conceptes de galeria, exposició, obra artística... L'artista s'ha adonat de que, respecte de la seva intencionalitat, les seves pintures no han anat més enllà
de la pura denúncia, reflexe o constatació, tot trobant-hi a faltar la possibilitat d'una via d'accés sensible, més immediata, que permeti un contacte més directe i una percepció menys passiva. A partir d'aquest punt, Muntadas desenvolupa un nou projecte de treball a l'entorn dels que anomena <i>subsentits</i>: el tacte, el gust i l'olfacte com a sentits infradesenvolupats amb respecte a la vista i l'oïda.</p>

<p> L'exposició a Vandrés incloïa realitzacions molt diverses que hom pot agrupar en tres classes:</p>

<p> a) <i>Objectes</i>.
Muntadas creà una sèrie d'objectes i escultures que, per les seves formes elementals (cercles, cubs, escales) i per les característiques dels materials emprats (comuns, industrials), hom podria relacionar amb l'art pobre (una tendència que va tenir bastanta incidència en l'art jove espanyol d'aquells anys), però sempre concebuts com a propostes d'experiència subsensorial; així, els <i>manipulables</i>, discs de fusta segmentats en trossos diversos que inviten a ésser recomposats (com un trencaclosques) amb els ulls clucs; així, l'<i>escala tàctil</i>, els travessers de la qual són recoberts de matèries diverses
(plàstic, cartó ondulat, robes diverses, paper de vidre, claus, filferro, etc.); així, els <i>pianos tàctils</i>, el <i>cub d'olors</i>, els <i>manipulables olfacte-gust</i>, les <i>columnes</i> o fileres de materials diversos col.locats en bosses opaques, etc.</p>

<p> b) <i>Ambients</i>.
Tot derivant-se del treball amb objectes, volums i materials diversos i de la seva concepció com propostes participatives, Muntadas començà a desenvolupar un treball a i sobre l'espai, en forma de diversos ambients a diferents recintes de la galeria. Així, al pati que aconduïa a l'entrada va col.locar vàries cortines de plàstic en paral.lel, amb la separació justa per tal de permetre la circulació dels visitants. També al pati, va situar una <i>cambra subsensorial</i>, recinte penetrable de màxima obscuritat i màxim aïllament sonor.
I, a un dels espais interiors de la galeria, va extendre fils de nylon entre el sostre i les parets i el terra, tensats per barres de fusta de posició canviable; a més a més, una càmera de vídeo transmitia imatges d'aquest espai a monitors situats a diferents punts de la galeria, mitjançant un dispositiu de circuit tancat de televisió.</p>

<p> c) <i>Documents d'accions</i>.
L'acció o experiència era part integral de les propostes subsensorials de Muntadas, i els sistemes de reproducció visuals, audiovisuals i lexivisuals (foto, film, vídeo, àudio, impresos)
eren emprats per al seu enregistrament documental. Així, l'exposició
incloïa documents d'accions i experiències precedents i, a la vegada, a partir del dispositiu de circuit tancat instal.lat, generà
noves accions enregistrades en vídeo. (Ressalto en aquest punt que Muntadas rarament ha realitzat accions en viu, executades en públic
—el que s'acostuma a entendre per performances—, i que les experiències col.lectives de participació que realitzà a principis dels setantes s'inscrivien abans en programes pedagògics experimentals que no pas en la tradició del happening; l'acció és, doncs, un mitjà que comporta la mediació de la foto, el film o el vídeo com a suports amb els que es dóna a conèixer al públic).</p>

<p> Fins a principis del 1974, quan el seu treball empren un nou gir, Muntadas desenvoluparà una intensa activitat al voltant dels subsentits i de les experiències de participació, tot perllongant aquelles primeres realitzacions amb els mitjans ja assenyalats i amb els materials més comuns. Així, el mateix mes d'octubre del 1971 en que exposa a Vandrés, experimenta a Eivissa (on l'ICSID, Congrés internacional de dissenyadors industrials, aplega també a altres artistes com Ponsatí, Miralda i Xifra) amb un producte industrial, el <i>Vacuflex</i>
—tub flexible de plàstic i espires metàl.liques utilitzat per a la conducció de fluids—, per a crear el que anomena una "escultura mòbil de participació". I a Nova York, al començament de la seva estada allí, l'any 1974, les bosses d'escombraries constitueixen també un material escultòric efímer i variable en el propi context urbà on es troben. Als Encuentros de Arte de Pamplona
(juliol de 1972), dissemina en un camp ras cobert per una cúpula neumàtica múltiples aparells de televisió i radio, magnetòfons, projectors de diapositives, etc. —amb emissió de missatges i sorolls visuals i sonors a l'atzar—, tot creant un paisatge de
"pol.lució audiovisual... com a crítica d'una situació
d'insensibilització". (Aquesta darrera peça anuncia el que esdevindrà l'eix d'atenció en l'obra de Muntadas algun temps després).</p>

<p> El reconeixement de materials diversos, de l'espai i del cos humà és objecte de diferents accions, sempre amb el film, el vídeo o la fotografia com a mitjà
d'enregistrament documental i suport final de la proposta. Es produeix aquí la paradoxa de que l'experiència subsensorial, el reconeixement pel tacte, el gust, l'olfacte, és representada per sistemes visuals i audiovisuals, quan justament els sentits visual i auditiu són ignorats a la proposta que genera l'acció (la qual s'executa en molts casos a cegues). (2)</p>

<p> A partir del 1972, les realitzacions objectuals són cada cop més escasses i els ambients i experiències de participació s'emmarquen usualment en el context d'institucions educatives i programes de sensibilització
estètica (Escola Eina de Barcelona, Universitat Catalana d'Estiu a Prada, Museus Metropolitan i Guggenheim de Nova York i Universitat de Tallahasee, Florida). El món immaterial dels olors és objecte d'algunes realitzacions i projectes, entre els quals s'inclouen el projecte d'una instal.lació olfactiva amb la utilització
d'essències (<i>Smelling Areas</i>)
i la proposta d'elaborar un mapa d'olors de Nova York. En aquesta darrera proposta, com a la preparada juntament amb Alberto Corazón per al Congrés Internacional de Comunicació Humana celebrat a Barcelona el novembre del 1973, i en un treball inacabat dels anys 1973-74 sobre carrers, mercats i estacions, hom pot ja advertir un eixamplament de la perspectiva presa pel treball de Muntadas, que ell mateix ha caracteritzat com el pas del <i>microentorn</i>
(el contacte sensorial de l'individu amb coses i cossos) al
<i>macroentorn</i>
(la comunicació social en la trama de l'urbs), pas intermedi abans d'arribar al <i>mediaentorn</i>
(les xarxes dels mitjans de comunicació de masses a la societat post-industrial).</p>

<p> Abans d'arribar a aquest punt voldria afegir algunes minúcies a propòsit d'altres activitats menys significatives del període 1971-1973, que prenen però rellevància en relació a l'obra posterior de Muntadas. La primera és l'aparició d'un mètode sociològic com es l'enquesta, en la peça que va realitzar per a una exposició col.lectiva en homenatge a Picasso (Galeria Aquitània, Barcelona, 1971), el que pren una particular significació en relació a l'interès per les ciències socials que es farà manifest a posteriors treballs. (També
en les experiències col.lectives d'aquest període es pot advertir embrionàriament aquest interès). Una segona minúcia és l'aparició
primerenca, l'any 1973, de la formulació "art  vida", la qual esdevindrà tot un lema en anys subsegüents i que comença a estampar a diferents llocs (a Paris, Ciutat de Mallorca, Nova York) i sobre tota mena de superfícies (els vidres d'una finestra, la pantalla d'un televisor, un mirall). Per últim, hom podria ressaltar, car ha estat també una constant, la periòdica relació/col.laboració amb altres artistes i la participació en projectes col.lectius i en la seva impulsió; en aquest cas, múltiples col.laboracions amb Antoni Miralda (amb qui coincidirà a Nova York) i la ja al.ludida amb Alberto Corazón, però, sobretot, en el que serà el nucli principal del conceptualisme a Catalunya, el Grup de Treball, el coordinador del qual era Antoni Mercader (que, ho recordo, havia estat company de Muntadas a l'exposició <i>Machines</i>)
i del que també formaren part, entre altres, Francesc Abad, Jordi Benito, Pere Portabella, Angels Ribé, Carles Santos, Dorothée Selz i Francesc Torres.</p>


<p> <b>1974-1977 /
Art </b><b></b><b> </b><b>Vida: Del macroentorn al mediaentorn</b></p>

<p> A començaments del 1974, Muntadas realitzà dos treballs que, a la meva manera de veure, anuncien una nova fase en la seva obra:</p>

<p>
- <i>TV/Feb.
27/1 PM</i>: Muntadas demanà a persones que coneixia de diferents paisos que enregistressin en vídeo una hora de la programació normal de televisió al seu pais, el mateix dia i a la mateixa hora, amb objecte de fer-ne després una presentació simultània, multimonitor, de tot el material reunit arran de la proposta.</p>

<p>
-
<i>Confrontations</i>: Sota aquest títol, Muntadas presentà un conjunt de realitzacions videogràfiques (Automation House, Nova York, març 1974), que incloïen una instal.lació de tres canals (de la que hi ha també
una versió/documentació monocanal), la qual constava de diverses parts sobre la base del contrast triple entre enregistraments documentals realitzats a diferents carrers de Manhattan i entre gravacions obtingudes de la programació de distints canals televisius (a la vegada amb una subdivisió per gèneres/formats: programes de notícies, programes d'entreteniment i pel.lícules de ficció).</p>

<p> A Espanya, a partir de l'estiu del mateix any, realitzà altres tres activitats no menys significatives:</p>

<p>
- Amb el nord-americà Bill Creston, el juliol organitzà a la Sala Vinçon de Barcelona (llavors un dels bastions de les noves tendències artístiques) un <i>Taller de treballs amb videotape en grups</i>.
En un moment en que el vídeo era encara un mitjà de difícil accés al nostre pais, aquesta fou la primera oportunitat de que persones procedents de diferents camps poguessim tenir un primer contacte amb el llegendari <i>portapak</i>, el primitiu magnetoscopi portable de bobines que havia possibilitat la eclosió del vídeo-art i el vídeo-activisme en altres contextes.</p>

<p>
- Amb el suport de la Galeria Cadaqués, i el mateix mes de juliol del 1974, realitzà
l'experiència <i>Cadaqués Canal Local</i>, que pot considerar-se com la primera experiència de televisió
local/comunitària que s'hagi fet al nostre pais. Al llarg de quatre jornades, Muntadas i el seu equip de col.laboradors realitzaren una sèrie de reportatges i entrevistes que, en plena invasió turística d'aquest bell indret de la Costa Brava, retornaven el protagonisme al poble de Cadaqués. Els enregistraments realitzats es mostraven al vespre a llocs com el Casino i altres bars on el televisor és un punt de reunió qüotidià.</p>

<p>
- Finalment, el mes de desembre realitzà la seva segona exposició individual a la Galeria Vandrés de Madrid. Sota el lema <i>Arte
</i><i></i><i> </i><i>Vida</i>, la mostra constava de tres àrees ben diferenciades: 1) una sèrie de videocassettes de difusió permanent amb una selecció de documents audiovisuals de l'etapa "subsensorial"; 2) una instal.lació, <i>Emisión/Recepción</i>, consistent en la doble projecció enfrontada de sèries de diapositives preses d'emissions de TVE per un cantò, i de receptors situats a bars i llars privades per l'altre; 3) sota el títol <i>Diario 10-22 Diciembre 1974, Madrid</i>, una activitat vídeo processual, cada dia diferent en funció
d'ocurrències i incidències diverses i, sobretot, de les propostes que forniren alguns dels propis visitants de la mostra, a partir de les quals es realitzaren diversos enregistraments documentals amb els equips de vídeo disponibles. D'altra banda, la celebració d'un col.loqui sobre "El vídeo como medio de expresión, comunicación e información" —amb la participació de René
Berger, Alexandre Cirici, Simón Marchán i altres—contribuí a que la mostra de Muntadas prengués un caràcter informatiu i didàctic pel que fa al nou mitjà videogràfic, en línia amb les activitats que havia desenvolupat precedentment a Catalunya. (3)</p>

<p> <i>Transfer</i>
(1975) és també una de les peces significatives en la definició
d'una nova etapa dins l'obra de Muntadas. Es un vídeo ready-made, fruit d'un atzar. Quan l'artista va fer transferir a videocassettes de format U-Màtic els seus primers films i vídeos d'altres formats, l'empresa que realitzà els transfers li va entregar per error una cinta d'ús intern de la companyia Pepsi-Cola. Muntadas decidí
fer-se seva aquesta cinta, tot afegint-hi només un breu comentari sobre les circumstàncies en que havia anat a caure en les seves mans. Malgrat el contingut innocu de la cinta (que tracta d'aspectes sanitaris en la producció i envasat de refrescs i altres productes alimenticis), l'"autor" va veure en l'accidental transferència l'oportunitat de fer públic, fer visible, l'oculta utilització dels mitjans de informació i l'expressió de la imatge interna de les grans empreses, allò que "ens afecta sense que siguem conscients de la seva existència".</p>

<p> Del novembre del 1975 fins al febrer del següent any, Muntadas recorre diverses ciutats d'Amèrica Llatina i presenta el seu treball a diferents centres i museus. La instal.lació/acció <i>HOY</i>, repetida en quatre ocasions al llarg de l'itinerari (Buenos Aires, Sao Paulo, Caracas, México DF), introdueix el contrast entre informació pública (massiva) i privada (personal) que desenvoluparà
en altres treballs posteriors. En un espai a les fosques, la informació pública era representada per una filera de diaris del dia, penjats per un extrem i il.luminats per un focus puntual. A l'altre extrem de la sala, la informació personal era la performance de l'artista, proveït d'un micròfon amb el que s'amplificava la seva respiració i amb una projecció de llum que il.luminava el seu pit nu; és a dir, actuant senzillament com un "respirador"
(el que em recorda que Duchamp va dir que no es considerava un artista, sinó tan sols un respirador).</p>

<p> <i>The Last Ten Minutes</i>, vídeo-instal.lació presentada per primera vegada a The Kitchen
(Nova York, març 1976), confronta en tres monitors els deu darrers minuts de la programació televisiva a canals de paisos diferents, Argentina, Brasil i Estats Units, en allò que tenen d'uniforme els mass-media i que palesa el tancament nocturn de les emissions televisives (la darrera actualitat, la confortació moral, el comiat del locutor de torn, els emblemes nacionals i d'empresa). Als "deu darrers minuts" els succeeixen després enregistraments realitzats a ciutats dels esmentats paisos (un pla-seqüència d'un carrer cèntric en cada cas) com a reflexe de la diversitat humana i cultural, i com contrast de la qüotidianitat amb la "posta en escena" televisiva.</p>

<p> <i>N/S/E/O</i>, l'ambient realitzat per Muntadas a la Biennal de Venècia del 1976,
és una obra de característiques totalment distintes a les examinades fins ara, però que tindrà igualment continuitat en altres treballs posteriors. El concepte dicotòmic, la tàctica d'enfrontament dels opostos, s'estableix en aquest cas en un doble eix, com una mena de geografia irònica dels esquemes polítics i ideològics que regeixen el món: Deu s'enfronta al diable (la religió també com ideologia) com els Estats Units s'enfronten a l'URSS... Un espai a les fosques amb un gran mapa-mundi al terra; a les quatre parets, i mútuament oposats, un crucifix i una efigie d'Exú (el diable de la macumba brasilenya), les barres-i-estrelles de la bandera estadounidenca i la-falç-i-el-martell de la bandera roja; cinc focus il.luminen cadascun dels elements esmentats i una successió d'himnes nacionals de diferents paisos completa sonorament l'ambient.</p>

<p> A Barcelona, a l'octubre del 1976, Muntadas presenta a la Galeria Ciento una sèrie de documents de la seva obra recent i, simultàniament, realitza l'experiència <i>Barcelona Districte 1</i>, prototipus o model per a una televisió de barri. Com en el cas de
<i>Cadaqués Canal Local</i>, els enregistraments es realitzaren amb un senzill equip portable de vídeo en blanc i negre i amb la participació d'altres persones i grups. En aquest cas, les gravacions obtingudes es mostraven en un popular bar-quiosc de la Plaça del Palau.</p>

<p> El març del 1977, Muntadas realitzà una nova vídeo-instal.lació a l'Everson Museum de Syracuse, a l'estat de Nova York (que és, per cert, el primer museu que va establir un departament específicament dedicat al vídeo, l'any 1971). El títol de l'obra era <i>Bars</i>,
"Barrots", i s'anunciava com a part d'una projectada sèrie de treballs, <i>The Animal Series</i>.
L'oposició s'establia en aquest cas sobre l'eix de la gàbia o reixa: estar fora o estar-hi dins. En establir la relació entre la imatge d'un ocell engabiat i una imatge de l'exterior del museu (i dels vianants) vist a través d'una finestra amb reixes, els dos monitors adjacents suggerien altres relacions —vigilància/protecció, observador/observat, espectador/objecte-d'espectacle— i metafòriques equiparacions entre la pantalla de TV, la finestra i la gàbia.</p>

<p> El vídeo
<i>Snowflake</i>, també de 1977, presenta similars consideracions. El seu protagonista
és el famós "Copito de Nieve", el goril.la albí del Zoo de Barcelona, una peça única al món ("com la Mona Lisa", afegeix Muntadas). A l'inici de la cinta, el professor Sabater, del Zoològic barcelonès, exposa l'historial de "Copito" i l'interès científic que presenta el seu cas. La reproducció, la possibilitat genètica de que de l'apariament neixi un nou successor també albí centra les preocupacions científiques, que són a la vegada les del Zoo, que espera trobar un relleu per a la seva preuada estrella, per a la singularitat que tant de renom li ha donat. La resta de la cinta està composada per successius plans de "Copito"
(en color) i contraplans d'espectadors/visitants (en blanc i negre), els quals s'alternen i combinen entre si mitjançant efectes de cortina que divideixen la pantalla en dos, tal com la gàbia separa a l'animal cautiu de l'home. Una cançó del grup holandès Golden Earring en la que es parla de "Copito" i del Zoo de Barcelona acompanya les darreres imatges i reflexa així la seva repercussió media-pop(ular) que travessa fronteres.</p>

<p> Tot i que Muntadas abandonà aparentment la idea de prosseguir <i>The Animal Series</i>, que quedaria per tant reduïda a aquests dos treballs, hi ha que recordar-ne un tercer en col.laboració amb l'antropòleg Ginés Serrán Pagán, <i>Pamplona-Grazalema</i>, iniciat el 1975 i que no quedaria finit fins a 1980. A la llum d'aquest darrer, que comentaré més endavant, la relació entre l'home i l'animal motiva una visió antropològica en l'obra de Muntadas com una més de les disciplines de les ciències socials per les quals s'ha interessat.</p>

<p> També l'any 1977, Muntadas realitzà una segona versió de <i>The Last Ten Minutes</i>, presentada a la Documenta 6 i en la que es contrastaven televisions i carrers de Washington, Moscou i del propi lloc on es celebrava l'exposició, la ciutat alemanya de Kassel. I, per al programa
<i>Vidéographie</i> de la RTBF de Lieja, realitzà <i>Liège 12.9.77</i>.
En aquesta cinta, un dels punts de partença és el fet de que Bélgica és un país bilingüe en el que, per la seva situació
geogràfica unida al gran desenvolupament de la TV per cable, es poden rebre normalment emissions televisives dels diferents paisos veins, França i Luxemburg, Holanda i la República Federal Alemanya.
En una de les seqüències, hom pot veure tres televisors adjacents que emeten simultàniament programes de diferents canals i produeixen així un batibull lingüístic a la banda sonora i una canviant successió d'imatges múltiples. D'altra banda, respecte a l'ús que Muntadas havia fet anteriorment del vídeo monocanal, aquesta cinta introdueix una més gran complexitat estructural, assaja una escriptura de metàfores visuals que tendeixen a l'expressió de conceptes abstractes (subjectivitat, temps, llenguatge) a partir d'imatges concretes que identifiquen el mitjà vídeo/TV (la càmera, els rellotges, l'estudi de TV), alternades amb el collage d'imatges preses directament de la pròpia programació televisiva.</p>

<p> Hi ha per força qualque arbitrarietat en el fet de diferenciar etapes en funció
d'anys naturals. He seguit fins ara una cronologia any per any, treball per treball, sense detenir-me gaire en possibles subdistincions. Repasso la trajectòria de l'artista, el pas ja abans assenyalat del microentorn al macroentorn i d'aquest al mediaentorn, el que queda caracteritzat en les obres de 1974 en endavant, les quals obren una aparent diversitat de direccions. En aquest sentit, entenc el període 1974-1977 com un període de "definició", doncs l'artista assaja diverses idees —el vídeo com mesotelevisió
i contrainformació, l'anàlisi crític dels mass-media, <i>The Animal Series</i>, el contrast de dualitats— i a la vegada aferma l'orientació global de la seva pràctica. Així, <i>The Last Ten Minutes</i> entre les vídeo-instal.lacions (amb <i>Confrontations</i> i <i>TV/Feb.
27/1 PM</i> com a precedents) i <i>Liège 12.9.77</i> com a vídeo monocanal concreten una opció crítica i dialèctica del vídeo en relació a la TV com mass-media i quart poder —la resposta de la microtelevisió a la unidireccionalitat de la macrotelevisió, per tal d'emprar els coneguts termes de René
Berger—, opció que es farà extensiva a d'altres suports i altres mass-media o aspectes concrets (premsa, publicitat, propaganda política). Per un altre cantó, experiències com <i>Cadaqués Canal Local</i> i <i>Barcelona Districte 1</i> resten com a models o prototipus d'una activitat de informació i comunicació social alternativa que, en una situació normalitzada, hauria d'ésser assumida col.lectivament i de manera estable. A les acaballes del franquisme, amb aquests dos projectes, Muntadas introduí entre nosaltres el model de la mesotelevisió, el vídeo comunitari i la TV local (quelcom que és avui una realitat a Catalunya, malgrat que continuen havent-hi traves).</p>


<p> <b>1978-1982 / Visibilitat reduïda: Per una ecologia dels media</b></p>

<p> A través d'escrits, diagrames i entrevistes, vers 1978-79 Muntadas ha explicitat amb claredat els seus plantejaments, part dels quals han estat ja apuntats en el darrer paràgraf. Remeto als textos i gràfics reproduïts <i>in extenso</i> a les columnes laterals i tracto de sintetitzar a continuació alguns punts nodals, tot recollint endemés altres declaracions de l'artista.</p>

<p> Muntadas defineix la seva pràctica en relació a la tradició artística, però una tradició transmutada per la modernitat, el desenvolupament de noves tecnologies i una realitat en la que s'han imposat els
<i>media</i>.
Centra el seu camp de treball en aquests (mass-media) i es serveix principalment de les noves tecnologies, els nous mitjans que té al seu abast, per tal de tractar de mostrar els "mecanismes invisibles" subjacents, sense necessitat (virtualment) de canviar de suport i acudir a un metallenguatge; i amb la possibilitat, en canvi, de mantenir la seva crítica subjectiva en el mateix context públic/mediàtic. (En una entrevista més recent, Muntadas va subratllar com "en català es pot distingir entre
<i>mitjà</i>, amb el significat d'eina, i <i>medi</i>, que significa context, mentre que <i>medium</i> o <i>media</i> tenen ambdós sentits"; i conclou: "Jo treballo amb el
<i>mitjà</i> sobre (o en relació a) el <i>medi</i>").
(4)</p>

<p> Respecte de la seva experiència i interessos, Muntadas considera la disjuntiva entre <i>subjectivitat</i> i l'anhel d'<i>objectivitat</i>, concepte que identifica amb la possibilitat d'aportar una intenció
<i>alternativa</i> i una incidència social més gran. "Per tal d'aportar alternatives hem de ser més objectius, i això només pot aconseguir-se amb la combinació de les aportacions de diferents persones i de distintes disciplines; és a dir, per un treball col.lectiu". (5)</p>

<p> Davant d'aquesta disjuntiva, l'artista assumeix la seva posició individual i concreta la seva intencionalitat com una <i>subjectivitat crítica</i>, sense excloure però l'oportunitat d'emprendre, o participar en, projectes col.lectius. En qualsevol cas, la seva activitat principal serà la tradicional de l'individu-artista, en especial la de l'artista plàstic: fer visible, visualitzar un discurs o percepció
subjectiva. En el seu cas, a propòsit de l'entorn invisible que forma el "paisatge dels media" (<i>media landscape</i>).
D'alguna manera, serà un paisatgista del seu temps i tractarà de
"fer visible l'invisible" i incitar a "llegir entre línies".</p>

<p> Per a Muntadas,
"discurs ≠ estil", el mitjà i els procediments formals són exclusivament en funció de la seva adequació a un propòsit.
D'altra banda, refusa de proposar un missatge en base a una clau de lectura, a un codi únic, i espera que sigui la interpretació del propi espectador la que acabi de donar sentit a la seva proposta:
"Crec en diferents nivells d'interpretació —diu—, els quals es desprenen de diferències socials, perceptuals i culturals.
M'agrada fomentar interpretacions diversificades, provocar interrogants i descoratjar els valors artístics absoluts". (**)</p>

<p> <i>On Subjectivity</i>
(1978) és un projecte que respon a les premises que he tractat de sintetitzar. Percepció/lectura de imatges dels media, interpretació
subjectiva/objectiva, dialèctica del visible/invisible... tals són algunes de les motivacions que es troben en les dues realitzacions que comparteixen el títol esmentat: un llibre i un vídeo, a la vegada independents entre si però conceptualment interrelacionats.</p>

<p> El llibre, tal com ho indica el seu subtítol, compren una selecció de 50 fotografies extretes del volum <i>The Best of Life</i>, antologia fotogràfica de la famosa revista nord-americana, un llibre que representa l'híbrid del fotoperiodisme i l'art fotogràfic
(d'acord amb l'autonomia que ha conquerit la consideració estètica de la pràctica fotogràfica). Cadascuna d'aquestes fotos s'acompanya dels epígrafs, comentaris o respostes de cinc persones de diversa procedència (pel que fa a país, activitat professional, etc.), reproduïts tal com es reberen pel que fa a grafia, idioma, etc. (Els noms dels 250 participants venen relacionats a la fi del llibre, però
la seva contribució no apareix normalment firmada, sinó que resta anònima; així mateix, es donen també en un índex final els textos originals dels epígrafs). Entre el joc i l'enquesta, aquest llibre no extreu cap conclusió, sinó que convida al lector (inclosos els participants) a contrastar les diverses lectures i ocurrències i a escriure o pensar les seves pròpies.</p>

<p> El vídeo <i>On Subjectivity (About TV)</i>
és estructurat com un collage dens i iteratiu que ens porta de reiteratius moviments de càmera al voltant d'un televisor encès
—escorcollat des de tota mena d'angles i recorregut en totes les seves superfícies com si fos un objecte o un paisatge qualsevol— a una successió d'extrets de tot tipus de programes televisius, tot passant per metafòriques expressions visuals de "subjectivitat" i per les declaracions de diferents persones a qui s'els demana d'opinar sobre la "caixa de trons".</p>

<p> <i>Between the Lines</i>
(1979), com <i>On Subjectivity</i>, consta de dues parts, també complementàries i independents. Com a vídeo monocanal i com a vídeo-instal.lació, la dita "llegir entre línies" dóna peu a, per un cantó, una amatent observació/indagació documental sobre el "processat" d'un fet/notícia en el context d'una emissora de TV i, per l'altre cantó, a la deconstrucció formal de la pantalla/imatge de TV. Per contrast amb la clara i didàctica exposició de la reducció manipulativa de la informació que es denuncia a la cinta —per a un comentari en detall de la qual em remeto al text d'Alexandre Cirici reproduït a la columna de text lateral—la instal.lació <i>Between the Lines</i> opera a un nivell més conceptualment abstracte i metafòric. Les imatges qualsevols d'un televisor són fragmentades per quatre càmeres dirigides a les zones corresponents a cadascun dels quatre angles de la pantalla i són així reenviades a un conjunt de quatre monitors de blanc i negre que reconstrueixen novament l'enquadre original. La disgregació física de la imatge original en quatre fragments/pantalles i la magnificació corresponent de la trama de línies constitutiva de la imatge electrònica, les pèrdues entròpiques que es produeixen (buits d'informació visual, degeneració de la definició i el cromatisme, etc.) i l'émfasi posat en l'objectualitat del televisor, tot això proposa una interrogació a partir de la materialitat dels components que restitueixen els missatges tramesos des del centre emissor.</p>

<p> També del 1979
és el projecte de la instal.lació <i>Two Landscapes</i>, una senzilla confrontació del paisatge natural i el "paisatge medial" (<i>media landscape</i>)
a través dels "marcs" d'una finestra i d'un televisor en murs oposats d'un mateix espai. La dualitat <i>personal/públic</i> fou així mateix abordada a dues senzilles insta.lacions realitzades amb motiu de mostres més amplies que incloïen altres dels treballs ja comentats. Així, a l'exposició de Muntadas a la Vancouver Art Gallery (març-abril 1979), juntament amb <i>The Last Ten Minutes II</i>, <i>On Subjectivity</i> i <i>Between the Lines</i> i sota el títol genèric de <i>Personal/Public Information</i>, s'hi afegí una quarta instal.lació que canviava dia a dia, la qual consistia en una sala amb 32 plafons (un per cada un dels dies que la mostra romania en cartell), en els quals s'anaven acumulant els missatges adreçats personalment a l'artista, i, a l'altre cantó de la sala, sengles receptors encesos de televisió i ràdio així com exemplars de la premsa del dia. Una altra instal.lació posterior, <i>Personal/Public</i>
(1980), constava de dos monitors encastats en un plafó, amb un rellotge i un calendari murals entre ambdós, davant dels quals hi havia un únic seient. Cadascun dels monitors tenia inscrits els rètols "personal" i "públic" (i viceversa) als extrems superior i inferior. Mentre que un dels monitors emetia una emissió qualsevol de TV que es rebés en aquell moment, l'altre retornava a l'espectador la seva pròpia imatge per mitjà d'un dispositiu de circuit tancat. El que es proposava era així "la intersecció on la informació personal esdevé pública a través dels mitjans de comunicació (en aquest cas, TV) i la informació
pública esdevé personal a través de la interpretació individual".</p>

<p> Amb la instal.lació <i>La Televisión...</i>
(1980) i el vídeo <i>Watching the Press, Reading Television</i>
(1981), Muntadas posa en relació dos mitjans de comunicació
diferents, televisió i premsa, entre els quals estableix unes relacions de paradoxa com són la projecció d'imatges extretes de la premsa i la publicitat impresa sobre un televisor apagat, i la inversió dels modes de lectura que implica el títol/enunciat "Veure la premsa, llegir la TV", un joc de llenguatge que es tradueix en l'alternància de fugaços esguards a les planes de diverses revistes fullejades ràpidament (textos, fotos, publicitat) amb la lectura línia-per-línia, d'esquerra-a-dreta de detalls d'imatges televisives qualsevols i recorreguts per les vores de la pantalla
(tot reprenent l'estil de les seqüències que obrien <i>On Subjectivity/About TV</i>).
Mentre que el televisor i les seves imatges són morosament escorcollats, els textos i grafismes impresos, estàtics, passen a una velocitat aital que esdevenen pràcticament il.legibles. A <i>La Televisión...</i>, el televisor és en canvi un objecte estàtic, de cos present, situat en una posició que és comú a molts bars (en un racó i suspès per damunt de l'alçada normal d'una persona), mentre que les imatges de premsa i publicitat es dipositen com projecció lluminosa
(diapositives) sobre l'aparell apagat i les parets adjacents. Una sarcàstica cançó d'Enzo Janacci completa sonorament la irònica proposta de la instal.lació.</p>

<p> Les icones de la publicitat i de les "planes satinades" es projecten també sobre una tanca publicitària (que no anuncia, sinó que interroga) i com a "catifa visual" en dues altres instal.lacions subsegüents: <i>Media Eyes</i>
(1981, realitzada juntament amb Anne Bray a Cambridge, durant la celebració de la <i>Sky Art Conference</i> organitzada pel Center for Advanced Visual Studies del MIT) i <i>Drastic Carpet</i>
(1982, part de l'exposició de Muntadas, <i>Media Landscape</i>, a l'Addison Gallery d'Andover, Massachussets).</p>

<p> A la primera, una tanca publicitària en un céntric carrer de Cambridge fou el suport d'un enigmàtic missatge: <i>What are we looking at?</i>
(Què és el que mirem?), per damunt del qual hom veia part del rostre d'una persona anònima, amb els ulls tapats per unes ulleres que constituïen l'element visual dominant en la composició. A la nit, l'anunci s'animava amb la projecció ritmada d'imatges sobre les superfícies buides de les ulleres, que omplien així l'esguard de l'home-de-la-tanca i dels vianants amb detalls d'anuncis descontextualitzats, però mantinguts en el context públic/publicitari.</p>

<p> <i>Media Ecology Ads</i>
(1982), un vídeo en tres parts, fou concebut també com una mena d'anti-anuncis o, tal com ho suggereix el títol, "anuncis ecològics", on l'ecosistema seria l'enrarit paisatge dels media. Muntadas va fer una versió catalana d'aquesta cinta per a un programa de TVE a Catalunya que tractava de temes d'imatge i mitjans audiovisuals. Aquests "anuncis per a una ecologia dels media" no tenen massa a veure, es clar, amb el format habitual de l'anunci televisiu, el <i>spot</i>, l'objectiu del qual és la màxima seducció de consumidors potencials en un mínim de temps (doncs a la TV el temps és or i és pagat com a tal pels anunciants). Per començar, cadascun dels anti-anuncis té una durada de prop de cinc minuts i es compon d'un
únic pla-seqüència que presenta un procés físic en temps real, monòton i lent. A <i>Fuse</i>, la imatge ens mostra una metxa que crema lentament, tot consumint-se a mida que la flama es desplaça de l'un a l'altre marge de l'enquadre; el text que hi desfila a sota és una meditació sobre el temps i el llenguatge extreta dels escrits de Sang-Tan, un místic zen del segle II. A <i>Timer</i>, un rellotge de sorra ocupa l'eix vertical de l'enquadre; la seqüència dura el que tarda en caure la sorra; una sèrie de mots sintàcticament inconnexos baixen igualment, lletra a lletra, a l'un i l'altre cantó del rellotge de sorra
(<i>Time-Speed-System-Pressure-Information-...</i>)
A <i>Slowdown</i>, la canella d'una aixeta ocupa igualment la posició vertical central; l'aigua que en raja va perdent intensitat fins a quedar reduïda a un degoteig minvant; línies de paraules cauen també a l'un i l'altre extrem, primer a una velocitat aital que fa que sigui gairebé
impossible llegir-les, però repetint-se després més i més alentidament, el que ens permet de llegir ambdues columnes i fins i tot el relacionar entre si algunes de les paraules (per exemple: <i>Slow-Down
/ Slow-Images / Making-Images / Making-Money / Fiction-Need /
Media-Consume</i>...)
A través d'aquests pocs elements —imatge i text escrit, velocitat i alentiment, canvi físic i semàntic—, aquests anti-spots inviten a una reflexió i interrogació de la normativa "invisible" del llenguatge televisiu estàndard en termes de temps, narrativitat i flux d'informació.</p>

<p> <i>Media Sites/Media Monuments</i>
(1982) és una sèrie de 14 composicions fotogràfiques, de les que vuit es publicaren en forma de postals com a part d'un número especial de la revista <i>Sites</i>
(no. 7, Nova York, 1982). Cadascuna de les composicions combina una fotografia en color d'un indret de la ciutat de Washington o els seus voltants amb una foto en blanc i negre i de tamany més petit referida a un esdeveniment que fou notícia i que succeí a tal lloc.
La commemoració del fet-notícia (<i>media event/news event</i>)
combinada amb la imatge de l'indret (<i>media site</i>)
estableix el "monument invisible". Amb motiu de la presentació de la sèrie a la seu del WPA (Washington Project for the Arts), l'artista va arrodonir el projecte amb l'organització
d'un tour comentat pels escenaris de manifestacions de protesta, accidents, escàndols, atemptats i assassinats: el Moratorium Day Rally (1969, Monument a G. Washington), el cas Watergate (1972, Hotel Watergate), l'assassinat d'Orlando Letellier (1976, Sheridan Circle), l'atemptat contra Reagan (1981, Hotel Washington Hilton),...; monuments virtuals que ni tan sols hi ha que erigir, postals-record de successos que es prefereix oblidar.</p>

<p> Dins del període que he acotat entre 1978 i 1982 hi ha altres realitzacions que, a primer cop d'ull, semblen un tant inclassificables i escapen a la relativa unitat dels treballs ja comentats, però que enllacen amb altres d'anteriors i posteriors i en els que advertim aspectes característics de l'obra de Muntadas, com per exemple el plantejament de dualitats i contrastos.</p>

<p> <i>Yesterday/Today/Tomorrow</i>
(1978), instal.lació realitzada a PS 1 (centre artístic alternatiu a Queens, Nova York), serva retrospectivament una evident relació
amb algunes de les realitzacions més recents de Muntadas, les quals ens remeten, com aquesta, al mateix context on es presenten. En aquest cas, projectors de diapositives repartits per tot l'edifici projectaven sobre diferents superfícies detalls fotogràfics del mateix espai presos dos anys abans, quan l'edifici mostrava encara les empremtes i signes del seu ús previ i original com a escola pública, la qual cosa és també evocada a les sigles de l'actual centre d'art (PS per <i>project studios</i>, però també per <i>public school</i>).</p>

<p> Trobem també
altres peces i instal.lacions molt senzilles, que comporten pocs mitjans, algunes de les quals podrien ésser enteses com simples acudits, donada la seva soterrada ironia, si no humor explícit.
L'oposició d'emblemes nacionals, banderes i líders, guerres de banderes i guerres fredes del nostre temps formen el teló de fons de
<i>Dos colors</i>
(1979) i <i>Wet and Dry</i>
(1981).</p>

<p> <i>Dos colors</i>, instal.lació realitzada al Departament d'Art de l'Universitat Autònoma de Barcelona, consistí senzillament en l'oposició de les banderes catalana i espanyola en les dues parets extremes de la sala d'exposició, mentre que, longitudinalment, les parets laterals i el terra (dividit en dues meitats) foren pintats amb els dos colors que són compartits per ambdues banderes, groc i roig. Les quatre barres de la senyera enfrontades a les franjes horitzontals de la bandera espanyola suggerien tant la contradicció entre un estat multinacional i una nació sense estat, com les incomprensions i ressentiments mutus que enfrontaren i enfronten a Catalunya i Espanya. D'altra banda, en un moment en que la pintura havia ja recuperat plenament l'estatus que havia posat passatgerament en crisi la proposta desmaterialitzadora del conceptualisme, Muntadas considerà també <i>Dos colors</i> com una resposta irònica a l'incomprensiu panorama artístic que trobava al seu país natal; així, també ell tornaria per un moment a la pintura, però com pintor de parets, emblemes i tensions.
(Projectà al mateix temps una altra variació sobre el tema de les banderes, <i>Dues creus</i>, posant en relació en aquest cas dos emblemes de neutralitat que comparteixen el mateix símbol i que, per color i forma, són el negatiu l'un de l'altre: les banderes de Suïssa i de la Creu Roja.
Potser no caldria afegir que a l'autor li hauria agradat de realitzar aquesta peça al país helvètic).</p>

<p> <i>Wet and Dry</i>
és senzillament un díptic format per dues fotografies trobades a la premsa diària i que Muntadas amplià i situà l'una junt a l'altra a l'aparador de la llibreria Printed Matter de Nova York. Les relacions diplomàtiques són contrastades en les seves versions "humida"
(Honecker i Brezhnev besant-se) i "seca" (Carter i el Sha en una distant encaixada).</p>

<p> Finalment, em cal fer referència a algunes obres en col.laboració i projectes escomesos col.lectivament que presenten unes característiques particulars. Per una banda, l'exploració de nous sistemes o tecnologies de telecomunicació, amb especial atenció al seu potencial bidireccional: Muntadas participà en experiències de transmissió i intercanvi d'imatges electròniques fixes pel sistema
<i>slow-scan</i>
(coordinà un dels grups participants en el projecte <i>Pacific Rim</i>, 1979, de Bill Bartlett); amb Peter d'Agostino, realitzà una experiència amb el sistema de vídeo-telèfon anomenat Picturephone
(<i>UCLA-MIT Picturephone Transmission</i>, 1981); i projectà també una experiència d'intercanvi d'imatges de video via satèl.lit, tot prenent un cop més com a base la dialèctica entre la privacitat i el fet públic. Tot això no es pot dissociar de la seva estada al Center for Advanced Visual Studies del Massachussets Institute of Technology (Cambridge) en qualitat de
<i>research fellow</i> i ensenyant. (6) Com les experiències de mesotelevisió de l'etapa anterior, Muntadas considera aquestes activitats com assajos i prototipus que requereixen un treball col.lectiu i apunten una intenció d'objectivitat i alternativitat.</p>

<p> D'altra banda, hi ha les singularitats de <i>Pamplona-Grazalema</i>
(1980), en col.laboració amb Ginés Serrán-Pagán, i <i>Rambla 24 h.</i>
(1981), amb Benet Rossell.</p>

<p> <i>Pamplona-Grazalema</i>, que, com ja he indicat anteriorment, és un treball que s'inicià
l'any 1975, contrasta dues festes taurines a dos punts oposats de la geografia espanyola: els Sanfermines de la capital navarra i la Festa del brau de la Verge del Carme al petit poble de Grazalema, a la província de Cadis. El projecte va prendre la doble forma d'un llibre i una instal.lació que compren dos vídeos de reproducció
simultània. El llibre es un estudi antropològic de Serrán-Pagán que considera la tradició de les festes de braus a Espanya, les arrels que hom hi ha trobat i les interpretacions que se n'ha fet, per passar a ocupar-se tot seguit de les festes de Grazalema i Pamplona i de la seva comparació; hi observa el contrast entre la forma arcaica de la festa, en que el brau es corre pels carrers, i la seva evolució en l'espectacle de la cursa de braus (el pas "de la plaça pública a la plaça de toros", tal com ho expressa el subtítol del llibre), i es consideren els factors polítics, econòmics i socials que han determinat o no aquest canvi i la pèrdua o alteració dels símbols i arrels culturals originals. Part de les entrevistes que s'enregistraren en vídeo han estat transcrites i incorporades al cos documental de l'estudi, així com una selecció
d'imatges recollides al llarg del treball de camp. La instal.lació
consta principalment de dues columnes o mòduls amb un monitor encastat a cada una. Dos símbols gràfics il.luminats identifiquen
(com també a les cobertes del llibre) els dos indrets representats: un cercle de color porpra per a Pamplona (el redol, la sang), un quadrat de color verd per a Grazalema (la plaça pública, el verd de la bandera andalusa). Algunes de les imatges en blanc i negre dels vídeos han estat també acolorides electrònicament amb aquests dos colors. Les imatges ens mostren detalls de les festes i altres aspectes relacionats amb cada lloc i celebració. Les cintes no són
"informatives" en el sentit en que ho seria un documental normatiu, descriptiu; en el moment d'editar tot el material audiovisual recollit al llarg dels anys, Muntadas decidí prescindir del component verbal, així com de les entrevistes, que, com ja he dit, foren incorporades al text de Serrán-Pagán. Així, si el llibre és la informació i exposició científica del tema, la vídeo-instal.lació actúa com un suport de suggeriments i símbols, impressions sense paraules, comparacions a través de la imatge.</p>

<p> <i>Rambla 24 h.</i>, vídeo-instal.lació presentada en el marc de la XXIII Setmana Internacional de Cinema de Barcelona, pren com a tema una de les artèries més populars i concorregudes de Barcelona, la Rambla.
Aquest macroentorn que és tot un signe d'identitat de la ciutat fou retratat per Muntadas i Rossell en un espai audiovisual format per un passadís amb monitors i cadires plegables (com les que hom trobava abans a diversos punts de la Rambla) a ambdues bandes. En els monitors es mostraven imatges de recorreguts ascendents i descendents gravats des d'un cotxe. Al fons d'aquest passadís, una projecció en pantalla gran mostrava escenes enregistrades a diferents hores del dia i de la nit, i així es reflexava el cicle continu d'activitat humana. Per últim, una columna de tres monitors a l'entrada al recinte representava a escala antropomorfa a l'individu anònim entre el continu fluir de gent, amb plans de caps/rostres, troncs i cames que no es corresponien entre si i que configuraven una successió de cossos sintètics. Muntadas i Rossell havien previst una segona part d'aquesta instal.lació, consistent en una pantalla de vídeo gegant que devia col.locar-se a la mateixa Rambla, al seu extrem superior, per damunt de la boca de metro de la Plaça de Catalunya, però això
no ha arribat mai a realitzar-se.</p>


<p> <b>1983-1987 / Espais públics: Comunicació, art i context </b> </p>

<p> <i>Between the Frames</i>
és el títol d'una sèrie de vídeos que Muntadas va iniciar l'any 1983. Tot i que el títol és reminiscent de l'anterior <i>Between the Lines</i>, d'entrada ja puc dir que no hi ha cap relació entre ambdós treballs. La paraula <i>frame</i> no és utilitzada en aquest cas en la seva accepció de fotograma, quadre o imatge dins de la terminologia cinematogràfica i videogràfica, sinó en el sentit de "marc" (d'un quadre o pintura, també d'un àmbit o context). Retrospectivament, veig ara en aquest títol l'inici d'una nova vessant dins l'obra de Muntadas, tot i que amb certs precedents més o menys directes i concrets. De totes formes, un cop més la delimitació d'una nova etapa a partir d'aquest punt té quelcom d'arbitrari (i, per tant, d'eminentment funcional en el meu seguiment de la trajectòria de l'artista), sobretot perquè hi ha una continuitat indiscutible amb el treball portat a terme anteriorment i simplement s'hi afegeix suara un nou territori: justament el de l'obra artística i el seu context.</p>

<p> A mida que el treball de Muntadas s'endinsava en el media-entorn, no tan sols utilitzant els que des del punt de vista de la tradició de la plàstica podien considerar-se "nous mitjans o mitjans alternatius" i no sols tractant d'aspectes de la realitat que, d'ençà de Dadà i el Surrealisme fins al Pop-Art, hom ja no podria considerar com
"extra-artístics", sinó situant (conjunturalment) les propostes en els propis canals públics dels media —sigui a la TV, sigui al carrer (aparadors, tanques publicitàries, cartells)—, el fet de mantenir-se en els circuits artístics minoritaris de galeries, espais alternatius o sales d'exposicions temporals de museus i altres centres artístics era/és un, entre altres, dels interrogants que sobre l'efectivitat de l'obra es podien plantejar i es plantejen crítics, espectadors i el mateix artista.</p>

<p> A partir del 1983, Muntadas ha afrontat aquesta possible contradicció a través d'una sèrie de treballs sobre el propi context en que s'emmarquen i presenten, a la vegada que ha prosseguit la indagació sobre el paisatge dels media, els mecanismes invisibles, la lectura de les imatges, la deconstrucció dels missatges... Comentaré primerament les realitzacions que perllonguen aquesta perspectiva. (7)</p>

<p> <i>The Close-Up Series</i>
és el títol d'una sèrie de treballs iconogràfics que Muntadas inicià entre 1982 i 1983. Consta de seqüències, políptics i instal.lacions fotogràfiques elaborades a partir d'imatges (i eventualment textos) preexistents, extretes de publicacions i cartells de tanques publicitàries i manipulades per procediments de fragmentació, aïllament, ampliació, reenquadrament, descomposició, etc., amb la intenció de "fer notar, suggerir o emfatitzar presències, absències, errors i misteris que poden derivar-se de la selecció, publicació i reproducció d'imatges i textos".</p>

<p> Realitzà també
una sèrie de fotografies de rètols del tipus <i>Prohibido fijar carteles/Post No Bills/Defense d'afficher</i> que poden trobar-se als carrers de gairebé qualsevol nucli urbà i en va reproduir tres en forma de cartell (1983). Aquesta peça podria també titular-se "Cartells per a una ecologia de la publicitat urbana" o, potser, "Prohibit prohibir".</p>

<p> <i>Credits</i>
(1984) és un vídeo de vint-i-cinc minuts que consisteix en una successió de títols de crèdit de pel.lícules i programes de TV.
Aquests rètols i la seva composició, els tipus de lletra, els elements i efectes visuals que s'hi combinen, la música d'acompanyament, la manera i ritme amb que desfilen, les jerarquies professionals i institucionals establertes en ells (i la relació
capital/treball subjacent) representen per a Muntadas part de la imatge d'empresa o identitat assumida pel producte, a la vegada que una informació audiovisual invisible en la mida en que normalment l'espectador relaxa la seva atenció quan desfilen els títols de crèdit i aquests es converteixen en una mena de música visual de fons o, com diu Muntadas, "<i>wallpaper TV</i>"
(televisió decorativa; literalment: "televisió de paper pintat") i "[experiència] Zen". L'"autor" considera que és una cinta sense principi ni fi i l'ha presentada també en forma d'instal.lació, el que es probablement més adequat donats els hàbits de lectura del vídeo monocanal. Perquè el factor provocatiu d'aquesta acumulació de crèdits no rau només en l'apropiació d'un material preexistent intacte, sinó sobretot en l'aparent arbitrarietat de la seva successió editada, la qual no ofereix una ordenació raonada, no facilita ni una lectura analítica
(formal o semiòtica, per exemple) ni un comentari, sinó que proposa a l'espectador el material tal qual, vint-i-cinc minuts d'alguna cosa a la que no dedicaria normalment atenció.</p>

<p> Tot seguit, Muntadas realitzà amb Marshall Reese una recopilació de la propaganda política televisiva dels candidats a les eleccions presidencials estadounidenques des del 1953 fins a l'actualitat.
<i>Political Advertisement</i>
(1984) presenta també intacte, i per ordre estrictament cronològic en aquest cas, tot el material que trobaren Muntadas i Reese, els quals van signar la cinta no com autors, sinó com a "editors".
La cinta és una valuosa colecció que ens mostra l'evolució de la propaganda política audiovisual als Estats Units des del període primitiu de la TV, quan simplement es temptejava entre la transmissió
d'un breu discurs verbal i el reportatge propagandístic que començava a prendre en compte els recurssos de la tècnica cinematogràfica, fins la sofisticació tecnològica (edició, grafisme electrònic, efectes digitals) i lingüística que apropa la propaganda política actual a les estratagemes, codis, formats i costos de la publicitat comercial.</p>

<p> La publicitat, el suport de la tanca publicitària, la funció del text —les paraules— com imatge i eslògan, i novament la proximitat del discurs ideològic amb les estratègies publicitàries, tals han estat els eixos d'atenció d'alguns dels treballs més recents de Muntadas.</p>

<p> <i>This is not an Advertisement</i>
(1985) es realitzà com a part de <i>Messages to the Public</i>, un programa patrocinat per la Public Art Foundation, que invita a diferents artistes a realitzar una intervenció en la gran pantalla Spectacolor de publicitat lluminosa que es troba a Times Square, en ple centre de Manhattan. (8) La contribució de Muntadas consistí en un "anti-anunci" —tal com ho suggereix el títol de la peça—, en el qual es juga exclusivament amb paraules com únic element visual i semàntic. Després de les frases alternes i contradictòries "Això no és un anunci/Això és un anunci", desfilaven successivament les paraules "subliminal",
"fragmentació" i "velocitat", les quals remeten tant a tàctiques pròpies de la publicitat com a les posades en joc a la seqüència elaborada per Muntadas: les paraules desfilen i es succeeixen primerament a una velocitat aital que resulten gairebé
il.legibles; després ho fan cada cop més lentament, però les lletres creixen progressivament de tamany fins que les paraules apareixen tan fragmentades que perden virtualment la seva unitat semàntica.</p>

<p> El vídeo <i>Media Hostages</i>
(1985) presenta la visió de tres artistes, Chip Lord, Branda Miller i Muntadas, sobre un fet real, un ardit publicitari que es convertí
en un lamentable espectacle públic amb força repercussió en els mass-media. Un enigmàtic <i>businessman</i> d'origen asiàtic ideà una original campanya publicitària per tal de llençar al mercat un absurd producte de bijuteria electrònica.
La campanya incloïa una tanca publicitària al Sunset Boulevard de Los Angeles i un concurs molt especial, per a guanyar el qual una sèrie de persones s'instal.laren de manera permanent dalt de la bastida de la tanca; el guanyador seria aquell que s'estés allí
dalt més temps, i el premi, un automòbil i l'oportunitat de passar un <i>screen-test</i> a Hollywood. L'aportació de Muntadas porta per títol <i>S.S.S.</i>
(per <i>Silly/Sad/Scary</i>: estúpid, trist i estremidor) i, en cinc concisos minuts, proposa una contundent denúncia al posar en relació el cas del <i>living billboard</i>
(tanca publicitària vivent) amb una més ample consideració dels abusos de la publicitat i els media, així com amb el context de l'Amèrica de Reagan.</p>

<p> <i>E/slogans</i>
(1986) és un vídeo del qual hi ha tres versions diferents: castellana, anglesa i francesa. En cada cas, el punt de partença és una sèrie de frases publicitàries extretes d'anuncis de la premsa periòdica, aïllades del seu context original i digitalitzades, tot mantenint-ne la tipografia i colors originals (és a dir, novament el text com imatge). Per successius augments de la trama numèrica, un
únic mot és aïllat i, per últim, tot vestigi semàntic es dissol en un detall de la trama o mosaic de quadradets de diferents colors.
Amb un irònic acompanyament musical (Ray Conniff), el procés es repeteix amb cada eslògan, tot establint-se un significatiu lèxic a partir de les paraules aïllades (moda, èxit, fama, milions, plaer, elegir, vèncer, etc.), mentre que l'abstracció final comporta la dissolució del sentit i la regressió a la trama constitutiva.</p>

<p> Característiques o implicacions similars poden trobar-se a les instal.lacions presentades sota el títol de <i>Génériques</i>
(1987, Galeria Gabrielle Maubrie, a Paris, i Museu d'Art Modern de Villeneuve d'Asq), així com a la realitzada a l'edifici del Plan K, a Brusel.les, amb el títol de <i>Derrière les mots</i>
(també el 1987). En aquesta darrera, hi havia distribuits pels diferents espais de l'edifici diversos eslògans i missatges publicitaris trets de context —sobretot per l'absència del nom i la imatge del producte anunciat—; uns sobreposats a pantalles de TV i superfícies de vidre (finestres, claraboies), altres projectats sobre tota mena de superfícies: parets, sòcols, racons, etc.</p>

<p> <i>Génériques</i>, al marge d'incloure una instal.lació de <i>Slogans</i>
(versió francesa) en la que les imatges/textos es multiplicaven a través de múltiples monitors i miralls, comprenia tres obres o instal.lacions més, relacionades entre si, i també amb altres dels treballs examinats fins ara, de maneres força indirectes.</p>

<p> <i>Natures Mortes Génériques</i> consistia en una exposició de productes envasats comuns (alimenticis i domèstics en general) i de fotos de conjunt dels mateixos; natures doblement mortes, ja que les etiquetes de tots els envasos eren completament neutres i uniformes, mantenint-se les especificacions del producte (els detalls de contingut, pes o mesures, conservació, etc., i els codis de barres), però sense ostentar una marca o qualsevol altre signe particular d'identificació que no fos l'envàs i el nom genèric del producte. Un petit rètol acabava d'uniformar l'etiquetat amb l'expressió "producte genèric".
L'exclusió de la marca i de la imatge dissenyada comportava també
en aquest cas la pèrdua d'un component semàntic acuradament calculat i l'èmfasi en el suport-envàs.</p>

<p> <i>TV Générique</i> consistia en una piràmide de televisors de quatre pisos, els quals emetien la programació normal dels diferents canals francesos, amb una sèrie d'imatges estàtiques sobreposades (reproduides en un suport transparent i fixades davant de les pantalles): en el monitor del cim o vèrtex, la imatge d'un ull (<i>media eye?</i>); a la base, de quatre monitors, codis de barres; entre mig, a la filera superior de dos monitors, bitllets de banc de França i Estats Units, i a la inferior de tres monitors, la imatge fotogràfica d'una encaixada de mans.</p>

<p>
(Sobre la tercera peça, <i>Monument Générique</i>, refeta per a l'exposició <i>Híbridos</i> a l'escala originalment prevista, em remeto al comentari que d'aqueixa mostra faig més endavant).</p>

<p> <i>The Board Room</i>
(1987), ambient multimedia, constitueix una punyent posta en escena de la creixent intimitat entre els cercles de poder ideològic i econòmic i els media, tot centrant-se en el fenòmen específic —tan
àlgid a la Nord-Amèrica dels darrers anys— de la nova religiositat, el "televangelisme", els seus nexos amb la ideologia política en el poder i l'amenaçadora extensió del seu radi d'abast.</p>

<p> Una gran taula allargada i envoltada per tretze seients —tot de l'estil característic del mobiliari-d'oficina-d'alt-nivell— omple l'espai, la sala de juntes del títol. (La taula i les tretze cadires fan també pensar, òbviament, en el Sant Sopar). A les parets hi ha així
mateix tretze retrats, emmarcats amb un marc daurat i amb una llum d'aplic a cadascun. No és precisament la galeria de notables o alts directius d'una empresa qualsevol, però molts d'ells són apòstols de la lliure empresa en un doble sentit. Són fotografies extretes de la premsa, ampliades i acolorides a mà, la qual cosa els hi dóna un caire d'estampetes. Els congregats són una plèiade de predicadors, gurus, líders de sectes i de velles i noves religions, originaris d'Estats Units o amb una certa presència allí; són, principalment,
"televangelistes" que cobreixen un ample ventall confessional protestant, així com l'ample mapa federal: Billy Graham
(el que obté els més alts índexs d'audiència i amic íntim de l'ex-president Nixon), Pat Robertson (que posseeix la seva pròpia cadena de televisió, Christian Broadcasting Network, i es va presentar com a candidat republicà per a les eleccions presidencials d'enguany), Jimmy Swaggart (les prèdiques del qual s'estenen televisualment per tota Nord-Amèrica i també més enllà), Jerry
<i>Moral Majority</i> Falwell (que, endemés de la seva pròpia cadena de TV per cable i la seva pròpia universitat, regenta ara l'imperi PTL, a la vegada compost d'un estudi de TV, un parc d'atraccions i un hotel), Reverend Ike (el regne del qual és a Harlem i a la TV), Werner Erhardt (el nou apòstol dels yuppies), Oral Roberts, Schuller i Schneerson; però
també hi ha dos representants de potents sectes orientals, Sun Myung Moon i Maharishi Mahesh Yogi, i dues figures singulars, líders a la vegada d'una religió i un estat: el Papa Wojtila i l'Aiatol.lah Khomeini.</p>

<p> En el lloc corresponent a la boca de cadascun d'aquests personatges, a cada fotografia hi ha encastat un petit monitor de vídeo de cinc polzades, en el qual es poden veure imatges extretes de TV dels mateixos, d'emissions o sermons seus. Per últim, sobre les imatges apareixen sobreimpreses, aproximadament cada trenta segons, una sèrie de paraules aïllades, extretes d'entre les pronunciades per cadascú dels individus, les quals van composant un vocabulari revelador, en gran part comú a tots, d'expressions que, curiosament, no tenen pas gaire a veure amb la religió o que prenen un doble i ambigu sentit: poder, tècnica, futur, profecia, diner, creuada, estratègia, finances, salvació, mundial,... revolució (el mot que en aquest cas singularitza al líder espiritual iraní).</p>

<p> A <i>The Board Room</i>, el lloc de congregació/comunió és equiparat amb l'espai d'influència dels mass-media. A l'espai privat (i en secret) es prenen les decisions i a l'espai privat es reben les promeses, seduccions i sol.licituds (de donatius), però a través de canals públics. No és generalment quelcom que ha estat sol.licitat, però
penetra a les llars a través dels mateixos codis i formats de l'entreteniment i la publicitat televisiva, així com a través de cartes i opuscles, reclams i catàlegs de venda per correu, promeses de paradisos perduts, arquitectures meravelloses, recompenses terrenals (torres, catedrals de cristall, parcs d'atraccions, hotels i hospitals, escoles i universitats); lleure i oració, evangelis de prosperitat i benestar material, falses promeses a la recerca del benefici propi, l'acumulació de poder, el malbaratament i el frau desgravable.</p>

<p> Retrocedeixo ara a <i>Between the Frames</i>
(1983-...) i als treballs a partir d'aquest (del seu inici) que es repleguen sobre el propi mitjà/context artístic, segons ho he apuntat ja abans. <i>Between the Frames</i>
és una sèrie de vídeos projectada en vuit capítols, els quals es refereixen a "les persones i institucions que es troben entre l'art/artista i el públic": 1) els "marxants"; 2) els col.leccionistes; 3) les galeries; 4) els museus; 5) els guies de museu; 6) els crítics; 7) els mitjans de comunicació en general; i 8) un "epíleg" en el que diferents artistes opinen sobre els aspectes anteriors. Fins avui només tres dels capítols han estat completats, però l'estructura global és ben clara i és similar a totes les parts: a partir d'entrevistes amb persones representatives dels diferents estaments o "rols", s'intercala un conjunt monòton d'imatges que no serven relació amb
"l'artístic", però que, d'una manera obliqua, fan al.lusió als diferents rols desde la perspectiva subjectiva-crítica de l'autor; així, imatges del trànsit en una autopista de Long Beach en el capítol dedicat als guies, i imatges d'un tren suburbà
automatitzat (sense conductor) de Vancouver en els capítols dedicats a les galeries i els "marxants" (que, en aquest cas, han acabat per constituir una mateixa i única cinta).</p>

<p> <i>haute CULTURE</i>
és una vídeo-instal.lació que Muntadas ha presentat a diverses ciutats a partir del 1983. En una primera versió, presentada originalment a Montpeller, la instal.lació constava de dues vídeo-escultures ubicades en edificis diferents, però propers l'un de l'altre: un museu (Musée Fabre) i un gran centre comercial
(Polygone). Les imatges vídeo s'havien pres també a ambdós llocs per tal de proposar un irònic contrast entre el concepte d'"alta cultura" i el que podriem anomenar "cultura de (i del)
consum". A cadascun d'aquests recintes, Muntadas col.locà una mena de gran columpi o balança, amb un monitor a cada extrem de la barra transversal. Les imatges reproduides en els monitors eren les mateixes a ambdós espais i l'únic que canviava era la posició
inclinada (a l'un o l'altre cantó) de la balança, mentre que el so del monitor en posició alçada era el que dominava en el respectiu ambient. Les imatges eren, d'una banda, preses en moviment que resseguien els marcs daurats dels quadres exposats al museu (i la música, simfònica) i, a l'altra banda, detalls de les escales mecàniques i rètols del centre comercial (i la música, ambiental).
(Com hom pot sospitar, era la "muzak" la que invadia impertinentment el marc clàssic del museu, així com la sèria música simfònica ho feia en el paradís del consum). Amb característiques del tot similars, la instal.lació es presentà a València el mateix any de 1983; en aquest cas, en el marc del Museu de Belles Arts i en el de l'edifici Nuevo-Centro.</p>

<p> Successives presentacions d'aquesta vídeo-instal.lació a Estats Units (Boston, 1984; Los Angeles i Atlanta, 1985) motivaren una versió diferent que constava d'un únic columpi, ara però mòbil (la qual cosa havia ja estat prevista per Muntadas en el projecte inicial), de manera que la inclinació canviava molt lentament —els extrems pujaven i baixaven de manera gairebé imperceptible—, mentre que diapositives dels llocs representats (sempre un museu i un centre comercial) eren projectades adjacentment en el racó entre dues parets. La instal.lació es presentava doncs en un únic lloc (que no era necessariàment un dels retratats en els vídeos i diapositives) i aquest era indistintament un centre artístic o un centre comercial
(com en el cas de Los Angeles).</p>

<p> A la tardor del 1985, Muntadas presentà a la Galeria Fernando Vijande de Madrid una exposició justament i maliciosament intitulada <i>Exposición</i>.
El seu contingut invita a seguir jugant amb la paraula; a dir, per exemple, que era una exposició de buits, una exposició sense obra, una exposició en la que no s'hi exposava res... més que les pròpies tècniques o convencions d'exposició de les obres artístiques; una exposició de marcs i llums, de suports i contenidors buits, d'elements i tècniques habituals a les sales d'art. Així, hom hi trobava un marc daurat, molt treballat, del segle passat, amb una llum del tipus aplic incorporada al propi marc... que no emmarcava res, res que no fos el tros de paret sobre el que era penjat. Un
"tríptic" consistia en tres teles verges, en blanc, cadascuna vorejada per un senzill marc de fusta. Uns suports inclinats, en angle contra la paret, recoberts amb una làmina de vidre i il.luminats per una filera de llums tubulars, representaven el mode en que s'exhibirien uns plànols d'arquitectura, uns manuscrits o documents valuosos, uns gravats, etc. Prop d'allí hi havia una sèrie de marcs quadrats metàl.lics, de color negre, formant una trama geomètrica, apilonats en tres fileres de cinc marcs cadascuna. Al voltant d'aquesta possible sèrie de dibuixos o gravats, hi havia un moble de calaixos amples i d'escassa altura, coronat per una vitrina, així com també hi havia unes taules grans i de superfície llisa i una prestatgeria amb alguns prestatges inclinats i altres d'horitzontals; és a dir, el mobiliari usual per a exposar i guardar l'obra sobre paper, els múltiples, l'obra gràfica, cartells, llibres, etc. La fotografia hi era representada per una sèrie de passe-partouts discretament emmarcats i per un projector de diapositives carregat amb marquets buits que en aquest cas emmarcaven la pura projecció de llum. Hi havia, per últim, uns altres elements menys habituals en una galeria (però que si ho poden ser en els anomenats espais alternatius) i que Muntadas ha utilitzat en alguns dels seus treballs: una vídeo-instal.lació (tres televisors, col.locats sobre tres pedestals, emetent la "neu" característica de quan no hi ha emissió), una projecció
cinematogràfica (projecció només de llum, es clar) o elements, sempre buits, presos del món de la publicitat i el reclam, com la tanca publicitària o la caixa de rètols electrònics programables.
La ubicació dels diferents elements d'acord amb una certa jerarquització dels espais en el recinte galerístic, la cura posada en la il.luminació de cadascun d'ells d'acord amb recomanacions, criteris o convencions museogràfiques i l'evacuació del màxim possible d'elements denotatius de l'aspecte burocràtico-mercantil de la galeria com empresa (telèfons, màquines d'escriure, llistes de preus, etc.) són altres detalls significatius. Una exposició en la que no hi ha virtualment "obra" per vendre i en la que el buit demana la mateixa infraestructura i despeses de manteniment per part de la galeria no deixa de ser una contradicció que fou valentment assumida un cop més pel malaguanyat Fernando Vijande, qui, des del començament dels setantes, havia recolzat el treball de l'artista i amic. (Amb el títol d'<i>Exhibition</i>, la repetició d'aquesta "exposició" a Nova York, el 1987, comportaria una contextualització prou diferent, ja que, entre altres coses, el lloc on es presentà, Exit Art, és un espai artístic no lucratiu).</p>

<p> A la mostra
<i>Génériques</i>
(1987), ja comentada anteriorment, l'exposició dels objectes de consum, tot i que desprovistos dels seus signes particulars d'identificació (o, més aviat, d'identitat), equiparava en certa forma la galeria i el comerç, l'alta cultura i el supermercat, per dir-ho així. L'etiquetat uniforme i neutre fa pensar també en les exposicions de disseny, doncs en aquest cas el que era emfatitzat era l'envàs, i a la vegada en les xarxes comercials i hipermercats que es fan etiquetar amb la seva pròpia marca part dels productes que distribueixen.</p>

<p> <i>Quarto do fundo (Back Room)</i>
(1987), per últim, és novament una anti-exposició i una d'aqueixes instal.lacions realitzades amb gran economia de mitjans que Muntadas ha anat alternant amb les seves realitzacions principals i en funció
dels seus periples professionals com artista i ensenyant. El visitant de l'exposició anunciada a la Galeria Luisa Strina de Sao Paulo no hi trobaria res més que una imatge d'un espai al qual normalment no té accés: l'habitació-del-fons, allí on s'emmagatzemen les obres i els materials de muntatge i on es realitzen eventualment les tasques d'oficina. Al accedir a la galeria, trobaria abans d'entrar un monitor amb la imatge en circuit tancat d'aquell espai; la galeria mateixa, l'espai d'exposició habitual el trobaria pràcticament a les fosques i buit; una porta al fons i la llum que d'allí sortia el portarien probablement fins aqueixa "habitació del fons" de la que només en podria veure un racó, i la càmera de vídeo en ell situada, doncs un cordó travesser li interdiria formalment el pas. De tornada cap a la sortida, s'adonaria d'una foto penjada, que possiblement li havia passat desapercebuda a l'entrar: una imatge més de l'habitació del fons, amb un enquadre molt similar al vist anteriorment en el monitor de vídeo. Així, si a <i>Exposición</i> l'espai artístic habia estat buidat de contingut per tal d'emfatitzar els suports i convencions habituals de l'exposició
d'obres artístiques, <i>Quarto do fundo</i> remet al que hi ha al darrera, a allò que queda: beneficis i dipòsits, pèrdues i fracassos, obres "menors" o multiplicades, fons que esperen possibles oscil.lacions del gust i del valor de canvi...</p>


<p> <b>(Afterword, 1988)</b></p>

<p> <i>Híbridos</i> va ser el títol triat per Muntadas per a la seva exposició al Centro de Arte Reina Sofía (febrer-març 1988). El terme podia ser interpretat amb variada polisèmia en relació al contingut de la mostra, una selecció de treballs dels deu darrers anys, als quals s'afegien noves realitzacions, pensades o re-pensades en funció del lloc, l'espai d'exhibició, el context, tal com ell ho ha acostumat a fer en tantes altres ocasions.</p>

<p> Així, un
<i>Monumento genérico</i>, monument prototípic, introduïa una primera noció d'emplaçament de l'obra en el context, l'entorn, tant dintre d'uns paràmetres geogràfics concrets com d'uns altres més conceptuals i abstractes.
El "monument genèric" és una mena d'obelisc lluminós que remet als quatre punts cardinals. Les quatre cares de l'obelisc són transparències fotogràfiques ampliades a gran format de torres d'alta tensió fotografiades al perímetre de Madrid, gegants metàl.lics que són part del paisatge habitual, monuments en sèrie de l'entramat de distribució de l'energia. Hibridació de l'art i l'enginyeria que ens recorda la doble formació professional de l'autor.</p>

<p> Com en altres exposicions/instal.lacions de Muntadas, hi ha aquí en joc una mena d'equació que ell havia succintament formulat així : "Un espai mental/obert referit a un espai físic/tancat". (Això fou originalment escrit com a únic comentari a la instal.lació <i>N/S/E/O</i>, del 1976). L'espai clos de la sala d'art és utilitzat per a proposar
"un espai mental/obert" que, si unes vegades és prou obvi
("fer visible l'invisible"), d'altres és però més oblicu, com és el cas d'aquesta instal.lació foto-escultòrica —un híbrid—, que, en relació al conjunt de l'obra del seu autor i a les questions que ha abordat en els darrers anys, se'ns presenta con un objecte singular en el que hom hi endevina però certes metafòriques declinacions.</p>

<p> En una altra instal.lació, <i>Situación</i>, pensada específicament per al marc del Centro Reina Sofía, Muntadas insistí novament en l'espai/context d'exposició per a generar la pròpia obra exposada. L'hospital que originalment s'ubicava en aquest edifici és evocat, l'ambient de la sala (clima, il.luminació, acústica) és "alterat", i s'emfatitza la presència a la vegada discreta i evident dels dispositius destinats a garantitzar la seguretat de l'espai i les obres artístiques, així com d'elements d'utilitat comú que identifiquen la nova funció de l'edifici remodelat. Objectes no artístics residents en un recinte (context)
artístic són transformats (integrats) en elements artístics a través de la fotografia i la seva exposició. Híbrids. Com es demanava Duchamp: "Es poden fer <i>obres</i> que no siguin <i>d'art</i>?"</p>

<p> Aquests elements eren articulats en un espai decebedorament despullat: a un cantó, tot just unes quantes transparències fotogràfiques il.luminades per darrera (en mòduls-caixes evocadors d'un tipus de suport publicitari que és comú de trobar a certes arquitectures interiors urbanes, tals com galeries comercials, estacions ferroviàries, vestíbuls d'edificis públics, etc.); a l'altre cantó, res més que les finestres de la sala expressament obertes de bat a bat, deixant pas als sorolls provinents de la plaça d'Atocha, a la inclemència del temps hivernal, a la pols i a la llum natural... (A la sala, s'eliminà
tota il.luminació artificial que no fos la dels propis suports foto-lluminosos). Les fotografies eren d'elements tals com un extintor, una presa de corrent, un termòmetre, un pany de seguretat, una alarma o un humidificador. A l'un i l'altre extrem de la sala, per últim, es destacaven dues fotos més (aquestes a més gran format que les altres), una de l'antic Hospital Provincial de Madrid que es trobava a l'actual seu del Centro Reina Sofía; l'altra d'una cadira buida, sense ocupant: el tipus de seient utilitzat pels vigilants de sala i altre personal del centre, però també un símbol intencionat de l'absència formal de direcció i, per extensió, d'una discutida política cultural.</p>

<p> A la versió
com instal.lació d'<i>On Subjectivity</i>, el més antic dels treballs revisats a <i>Híbridos</i>, l'obra "paisatgística/ecològica" a l'entorn dels media, ben representada a la resta de la mostra, (9) era d'alguna manera posada en relació amb la problemàtica contextual en la que Muntadas ha posat especial accent darrerament. Fotografies posades en vitrines manllevades d'un altre museu, projeccions a les parets de les planes del llibre i de les imatges del vídeo (per al so, hi havia auriculars penjats a les esmentades vitines), i l'exposició dels sobres o envoltoris amb que es reberen les participacions sol.licitades per al llibre eren els elements que integraven la instal.lació, també especialment realitzada per a aquesta ocasió.
En oferir més una "escenificació" de la gestació
conceptual i processual de l'obra, que no pas la manera més adient de lectura dels seus components (el llibre i el vídeo; és a dir, mitjans per als que és més idònia una situació més íntima i comfortable), la qüestió de la subjectivitat i la interpretació
d'imatges es traslladava també a una altra esfera o, millor dit, a un territori híbrid en el que Muntadas situa el seu treball, i que ha estat i es pot emplaçar —però, al meu entendre, no prou encertadament— "entre l'art i la comunicació".</p>

<p> Finalment, un altre treball especialment realitzat en l'avinentesa d'aquesta mostra fou una peça inclosa a la publicació-catàleg acompanyant, amb el mateix títol de <i>Híbridos</i>.
En aquesta peça, Muntadas posa també en relació les diferents vessants per les que ha aconduit el seu treball en els darrers anys.
Formada per tríptics de reproduccions fotogràfiques a doble plana, cada triplet d'imatges no és sinó part d'una seqüència redundant i intercanviable que, en l'absència de tot text o comentari, té
quelcom de trencaclosques, a la vegada que s'en despren una interpretació prou transparent.</p>

<p> A les planes de l'esquerra, hom hi troba sempre imatges d'arquitectura (prevalentment moderna i "d'autor"), principalment edificis singulars (en distintes accepcions del mot). A les planes de la dreta, a dalt, i gairebé sempre en color, hi ha imatges de reunions o convencions administratives, sales de juntes o consells, i de burocràcia organitzada en general; i avall, molts cops amb una pronunciada trama que fa palès que es tracta de detalls engrandits de fotos de premsa, tot un vocabulari gestual de mans (ara una, ara dues i, en un cas, tot un cúmul difícil de desxifrar). Dintre de la seva deliberada abstracció, aquest text d'imatges tracta evidentment de la implicació entre centres de decisió, nuclis de poder i models d'arquitectura exterior i interior, d'una manera que té molt a veure amb <i>The Board Room</i>
(vegeu, en el lloc corresponent, el comentari de Muntadas a propòsit d'aqueixa instal.lació), a la vegada que, més obliquament, es relaciona també amb <i>Situación</i>.</p>

<p> Després de
<i>Híbridos</i>, Muntadas ha realitzat també a Madrid dues peces més. La primera, com a part de la col.lectiva <i>Lo permeable del gesto</i>, al Centro Cultural Galileo, amb un caire d'intervenció contextual en la línia de <i>Quarto do fundo</i> i <i>Situación</i>.
Als participants d'aquesta exposició col.lectiva s'els demanà
d'utilitzar exclusivament els propis elements de la infraestructura del centre i, així, Muntadas decidí "emmarcar", tot just amb una il.luminació precisa, un pany de paret en el que veia el
"cor" del centre, concentrant-se en ell nombrosos interruptors, la caixa dels fusibles i contadors, un rellotge i el dispositiu d'alarma, és a dir els reguladors de l'energia, l'horari i la seguretat del recinte.</p>

<p> <i>STANDARD/Específico</i>, treball presentat a la Galería Marga Paz i que Muntadas ha previst de realitzar també a d'altres ciutats en properes dates, contrasta aquestes dues nocions a través de, per una banda, mòduls lluminosos amb fotografies (transparències) de detalls d'aparadors o portes d'establiments comercials en els que es destaquen les enganxines de tarjes de crèdit diverses, i, d'altra banda, fotografies (en paper)
de rètols característics dels voltants de la galeria on es presenta el treball, rètols sovint d'aspecte centenari o que ens remeten a uns comerços i oficis d'un altre temps. La separació entre l'estàndard i l'específic és senyalitzada per dues portes, tretes del seu marc i portades a la galeria: una de vidre transparent, l'altra de fusta noble i corresponent a una vivenda característica del barri.</p>

<p> Ara, a l'exposició de Muntadas, <i>Instal.lacions, Passatges, Intervencions</i> al Palau de la Virreina, hi haurà també dues portes d'accés. El mateix cartell de la mostra és reversible i anuncia una de les subtils "intervencions" al recinte: el restabliment d'un doble accés i un oblidat eix de circulació —un passatge— entre la plaça del mercat i la Rambla. El que es proposa a l'interior és un altre passatge, un itinerari per diferents espais, successius pisos (passatge també vertical), arquitectures interiors i remodelacions de diferents èpoques, dependències destinades a funcions diverses... A l'extrem superior del recorregut, una recent obra major, <i>The Board Room</i>, en una cambra que correspon exactament al codi arquitectònic representat per aquesta instal.lació. La senyalització, la il.luminació, eventualment la sonorització, conformen pràcticament els únics elements que Muntadas ha previst d'utilitzar a les altres estances. I les càmeres normalment destinades a la vídeo-vigilància de les obres exposades a les sales de la Virreina, es giren ara cap als indrets de l'itinerari proposat i cap a la pròpia estructura interna dels serveis administratius i de gestió cultural que hi tenen seu.</p>

<p> Si és possible relacionar aquestes "intervencions" amb diferents aspectes amb els que hem caracteritzat la pràctica de Muntadas —des de les dialèctiques públic/privat i visible/invisible fins al creixent despullament de les seves indagacions sobre les estructures i contextos artístico-culturals, tot passant per la implícita interacció art/realitat (o art/vida), l'estratègia del ready-made
(elegir, aïllar, remarcar), i la crítica dels media (amb <i>The Board Room</i>)—, ara podem també ressaltar un nou tema que, en un sentit molt ample, comunica tots els treballs recents de Muntadas: l'arquitectura. A través d'intervencions a tanques publicitàries i llocs públics, de monuments virtuals i genèrics, de l'observació i subtil alteració
de codis arquitectònics, de rètols i portes, de llums i senyalitzacions, de remodelacions emmarcades i connexions visualitzades, d'obrir portes i finestres tancades i buidar espais, hom entreveu com aquest tema s'introdueix a l'obra de Muntadas d'una manera interrelacionada amb la resta dels seus treballs i amb les vessants que hi hem advertit. Si això composa una nova vessant en la indagació/intervenció sobre l'entorn, el medi, o determina tot just una sèrie dins de la diversitat/unitat de l'obra, ens caldrà
comprovar-ho a la continuitat del trajecte.</p>

<p> Desembre 1987; revisat: Juliol 1988</p>



<p> <b>NOTES:</b></p>

<p> 1	Aquest text es publicà originalment en castellà en el catàleg editat amb motiu de la mostra <i>Muntadas/"Híbridos"</i> al Centro de Arte Reina Sofía, a Madrid (Ed. Ministerio de Cultura, 1988). Al marge de qualque altra petita modificació, hi he substituit ara la part final, que en l'original era un breu i provisional comentari previ a l'exposició esmentada.</p>

<p> 2	L'exterioritat de la càmera amb respecte a l'acció limita avui l'interès de moltes d'aquestes realitzacions, com passa també amb gran part de la producció audiovisual de molts altres artistes que empraren llavors aquests mitjans amb similars funcions d'enregistrament d'accions o realitzacions efímeres, generalment sense tenir massa en compte les característiques pròpies del suport emprat, el que d'altra banda és força característic de la retòrica tàcita o programàtica de les tendències conceptualistes d'aquells anys. (Com va escriure Simón Marchán, "Els diversos suports físics, fins i tot els més propers al quadre, no són fins formals en si mateixos, no són l'obra, sinó els senyals, els documents d'altres fenòmens que obren la nostra conciència a quelcom d'exterior". <i>Del arte objetual al arte de concepto</i>, 2ª ed., Madrid, 1974, p. 303).</p>

<p> 3	En anys successius, Muntadas participarà igualment a altres activitats afavoridores d'un millor coneixement de les possibilitats del vídeo com mitjà de comunicació alternativa i expressió artística. Hom pot esmentar en aquest sentit el seminari <i>Sessions informatives i de treball a l'entorn del vídeo</i>, Barcelona, juny 1976; les primeres mostres videogràfiques importants celebrades al nostre pais, les <i>Sèries Informatives</i> al Col.legi d'Arquitectes de Barcelona, els anys 1978 i 1980, i el llibre <i>En torno al Vídeo</i>, Barcelona, 1980; totes aquestes activitats originades en el grup que llavors formavem Antoni Mercader, Joaquim Dols Rusiñol, Muntadas i el que això escriu.</p>

<p> 4	Sites,
"Interview-Muntadas", a <i>Sites</i>, no. 7 (Special Artist Issue, Muntadas: Media Sites/Media Monuments), New York, 1982</p>

<p> 5	Anne Bray/Ferol Breymann, "Muntadas: Personal/Public Conversation", a <i>Video Guide</i>
(revista), Vancouver, agost 1979</p>

<p> 6	Posteriorment, Muntadas ha també
impartit curssos i seminaris a d'altres centres universitaris i d'ensenyaments artístics; entre altres, l'Escola de Belles Arts de Bordeaux (1983), l'Universitat de California a San Diego (1986) i l'Escola de Comunicacions i Arts de l'Universitat de Sao Paulo
(1987).</p>

<p> 7	Endemés de les descrites, altres obres en col.laboració o de participació
col.lectiva d'aquest darrer període són el llibre significativament intitulat <i>The Un/Necessary Image</i>
(1983), co-editat amb Peter d'Agostino i que reuneix també
participacions —assajos textuals, visuals i lexivisuals— de Victor Burgin, General Idea, Dan Graham, Hans Haacke, Richard Kriesche, Les Levine, Chip Lord, Robert Morgan, Catalina Parra, Joan Rabascall, Kristina Stiles i altres; i <i>Cross-Cultural TV</i>, a la vídeo-revista <i>Infermental</i>
(no. VI, 1987), secció co-editada amb Hank Bull a partir d'imatges televisives recollides i trameses per 30 persones de quinze paisos diferents que respongueren a la proposta.</p>

<p> 8	La pantalla Spectacolor, de 72 m[2] de superfície i que consta de 8.000 bombetes de distints colors, és programada per mitjà d'un sistema informàtic que permet l'animació
de textos i grafismes a una cadència de 8 quadres per segon i amb una gamma de 12 colors. Cada mes, i entre els anuncis normals, cada vint minuts s'emet el "missatge" realitzat per un artista amb el suport de l'esmentada fundació.</p>

<p> 9	Amb <i>La Televisión...</i>
(1980), <i>Media Sites/Media Monuments</i>
(1982) i cinc vídeos: <i>Watching the Press/Reading Television</i>
(1981), <i>Media Ecology Ads</i>
(1982), <i>Credits</i>
(1984), <i>This is not an Advertisement</i>
(1985) i <i>Slogans</i>
(1986)</p>
 