  <p> <b>M A N U A L</b></p>


<p> Com molts altres pintors al llarg d'aquest segle, Carles Pujol s'ha sentit impulsat en un determinat moment a sortir del quadre i a traslladar i desenvolupar el seu llenguatge i concepció de la plàstica en l'espai tridimensional, el moviment, el temps, el punt de vista multiplicat, els nous materials i les noves menes de fer art que ja havien copsat, i cultivat, els artistes de les avantguardes dels anys deu, vint, trenta. Naturalment, en el cas de Pujol, aquest revolt de la pintura a les instal.lacions i el vídeo, tot passant
(en el sentit més transitori de l'expressió) pel principi collage i la poètica de l'objecte, és molt fàcil de relacionar amb el corrent que arrossega a un nombre considerable d'artistes catalans que es dónen a conèixer entre la fi dels seixantes i la primera meitat dels setantes, cap allò que hom va anomenar el conceptualisme, l'art amb nous mitjans o art alternatiu; termes gens convincents i més especialment el primer, repetidament posat en solfa pels seus mateixos adjudicataris.</p>

<p> L'exploració post-pictòrica de Carles Pujol, en iniciar-se a partir del 1975, participa d'aquest clima local d'art experimental, art d'idees i multiplicitat de mitjans, força estimulant malgrat les condicions adverses del moment, però que aviat tendirà a ser vist com una perturbació passatgera sense més conseqüències. El seu treball es desenvoluparà doncs a contrapèl de moltes de les giragonses que es poden observar en el camp de l'art després de la controvèrsia sobre "la desmaterialització de l'objecte artístic" (en paraules de Lucy Lippard que feren furor, el subtítol d'un llibre convertint-se en una frase feta). Giragonses que, al cap i a la fi, han tornat a posar d'actualitat però termes, idees i modalitats que en un tres i no res van caure suposadament en desús.</p>

<p> El cas de Carles Pujol, però, es pot i no es pot posar en relació amb el d'altres artistes de la seva generació; i penso més concretament en els malanomenats conceptualistes, en els noms associats i dissociats al Grup de Treball i altres grups i grupúsculs que hom podia identificar vers la meitat dels anys setanta. Certament, la pintura és una provinença comuna a molts d'ells, així com també s'endevinen afinitats pel que fa a tendències i influències formatives. Els "nous mitjans" de que es serveixen són també similars: l'objecte (o poema-objecte), la peça o acció efímera, la publicació o la fotografia document, la instal.lació (per emprar en aquest cas un terme que encara no era gaire corrent en aquella època), més ocasionalment el vídeo... Ara bé, l'art de Carles Pujol no serà
exactament un art-a-la-manera-de-la-filosofia (l'<i>art after philosophy</i> que deia Kosuth), i encara menys un art "sociològic" (o, per fer una paràfrasi de l'expressió de Kosuth, un <i>art after social sciences</i>), que d'alguna manera
és el que més predominaria a casa nostra. Tampoc no té res a veure amb el cos, el comportament, la interpretació dels signes, etc.</p>

<p> L'art de Carles Pujol creix declaradament a partir de la pintura, d'un plantejament plàstic que es desenvolupa al llarg d'una primera etapa, respecte de la qual no hi ha tant una ruptura o un començar de cop i de nou com una prolongació o projecció; en noves dimensions —volum, temps— i amb "mitjans alternatius", segons una expressió pròpia de la retòrica d'una altra època.
Aquesta mena d'art ja no serà pintura o "plàstica" en el sentit tradicional del terme. Però quan a Madrid, l'any 1983, s'organitzà una exposició/retrospectiva col.lectiva de l'art en aquesta avinentesa anomenat <i>Fuera de formato</i>, algú devia decidir que el de Pujol ho era tant de "fora de format", que finalmente va ser-ne exclòs, tot argumentant que s'ocupava preponderantment de
"cuestiones perceptivas y formalistas" (segons es donava a entendre en un apèndix del corresponent catàleg).</p>

<p> Si les giragonses abans esmentades han desembocat en els darrers anys en el prodigiós allau de "neoísmes" que la neo-gerga artística s'ha empescat del saqueig en els arxius de la modernitat, i si el ram de les belles arts es confón per al profà amb el de l'aigua, llum i electricitat, de tants instal.ladors que hi ha ara en els seus circuits, jo segueixo emperò convençut que el treball de Carles Pujol continua desenvolupant-se a contrapèl de tot això. Seria per tant absurd que ara jo digués que Carles Pujol és un neo-geo, posem per cas, ans si de cas em permetria el caprici de dir-ne un <i>neo-suprem</i>;
és a dir, un <i>neo-suprematista</i>.
Malevic pinta el <i>Quadrat negre sobre fons blanc</i> (1913) i el <i>Quadrat blanc sobre fons blanc</i> (1918); Pujol col.loca uns monitors amb una imatge de l'espai que hi ha al darrera de cadascun d'ells (<i>Pintura</i>, 1989). Malevic escriu: "El quadrat es transforma i forma figures noves, els elements de les quals es composen d'una manera o d'una altra..."; i, si canvieu "quadrat" per "cub", teniu una descripció gairebé perfecta d'almenys dues obres de Pujol, ambdues de 1981 (<i>Calidoscopi</i> i el vídeo <i>81x65</i>).
"El suprematista ni mira ni toca, només percep", escriu també Malevic; i així, Carles Pujol comença per ocupar-se d'aquelles "cuestiones perceptivas y formalistas" abans al.ludides. "L'artista, el pintor, ja no està subjectat a la tela, al pla de la pintura, sinó que ara pot traslladar les seves composicions de la tela a l'espai", diu finalment Malevic; i tornem a estar en el punt de partença de l'obra de Pujol dels darrers quinze anys.</p>


<p> <b>3D + temps</b></p>

<p> El pas de la pintura a les modalitats tridimensionals i tetradimensionals que representen les instal.lacions, el vídeo i les vídeo-instal.lacions s'acompleix d'una manera ordenada en diversos treballs dels anys 1975 al 1977 (essencialment). Veig en aquest sentit un punt de partida en la línia, un dels elements bàsics als que Pujol havia arribat a través del gradual reductivisme de la seva pintura (2D), i que es desplega tot seguit en l'espai, com ocupació
de l'espai (3D), a la vegada que s'hi afegeix el factor temporal o, més científicament, espacio-temporal (4D). Hom pot entreveure endemés un altre component en l'atzar.</p>

<p> A l'obra amb que Pujol acostuma avui a encapçalar el llistat de realitzacions i exposicions del seu curriculum, <i>Platja 30.9.75</i> (1975), les línies són cintes esteses des d'una filera de pals fins la vora del mar, de manera que aquesta estructura tridimensional mínima i efímera es transforma en un espai de temps indeterminat, a mida que les onades (i també el vent) mouen, encongeixen, destiben i desordenen el precís "dibuix" inicial de les set línies/cintes paral.leles. La documentació
fotogràfica era el resultat final de la peça, tot reflectint per mitjà de la seqüència d'imatges fixes l'acció del temps i els elements naturals; en certa manera, també elements d'atzar. (En la seva època, els treballs d'aquesta mena podien interpretar-se com una forma de <i>land art</i> cassolà, o també com a part d'una estètica "processual").</p>

<p> L'oportunitat d'utilitzar el vídeo portà
novament a Pujol a jugar amb elements i conceptes força similars en un treball immediatament posterior en col.laboració amb Manel Valls: la cinta <i>Transformacions</i>
(1975), la qual és un enregistrament en temps real d'un seguit —o, millor dit, simultaneitat— d'accions d'ambdós. Tot plegat, també
amb uns plantejaments força característics d'aquella època. Aquest primer acostament de Carles Pujol al vídeo no tindria més rellevància si no fos perquè no es quedaria pas aquí, en el pur document d'una acció/ enregistrament d'un procés tal com s'estilava a l'època, sinó que a partir de dos treballs successius, <i>Homenatge a Erik Satie</i> i <i>Treballs d'espai</i>, hom hi troba ja insinuats alguns dels trets més característics de la seva utilització del vídeo com a superfície de resolució de problemes plàstics, i com a element integrat en moltes de les seves instal.lacions.</p>


<p> <b>Sobre paper, sobre vidre, sobre vídeo</b></p>

<p> La cinta <i>Homenatge a Erik Satie</i> (1976), tot i que podria confondres encara amb una estètica processualista i com un simple enregistrament documental d'una acció/realització plàstica, pren al meu parer altres implicacions. D'una banda, exemplifica a la perfecció la intenció de Pujol de servir-se dels "nous mitjans" com a extensió d'una recerca plàstica que neix en la pràctica de la pintura (i, en general, amb els suports bidimensionals tradicionals de la plàstica): tot el que hi veiem és la creació d'un dibuix sobre una superfície de paper; una composició de línies (grups de línies rectes paral.leles), dibuixada davant de la càmera en temps real —és a dir, la duració
de la cinta equival a la de l'execució del dibuix—, de la mà de l'autor i amb els estris pertinents. D'altra banda, és una cinta que hom pot prendre gairebé com la pauta d'altres treballs posteriors
(particularment d'altres realitzacions subsegüents de vídeo monocanal), pels diferents elements que hi intervenen:</p>

<p>
- la construcció/variació d'un dibuix (variació que en aquest cas
és evolució, mentre que en les cintes posteriors és descomposició
o destrucció de la figura obtinguda);</p>
<p>
- la introducció d'un factor aleatori (en aquest cas, per la determinació del nombre i disposició de les línies d'acord amb els valors obtinguts successivament en tirar tres vegades uns daus);</p>
<p>
- la subdivisió de la unitat de l'obra en diferents temps, parts o seqüències (aquí determinades per la composició de Satie en la banda sonora: els <i>Trois morceaux en forme de poire</i>);</p>
<p>
- i, finalment, l'elecció de la música com un equivalent (o contrapunt) sonor, particularment apropiat al propòsit de Pujol per la seva condició d'art temporal i "abstracte", a la vegada que com possible referència explícita (com en el cas d'aquest
"homenatge" i del suggeriment d'atzar que Pujol ha extret de l'obra de Satie; la qual cosa es tradueix, com ja he assenyalat, en la jugada de daus com a principi arbitrari de la composició
visual, mentre que els grups de línies paral.leles que en resulten recorden el pentagrama).</p>

<p> Finalment, <i>Homenatge a Erik Satie</i> introdueix una tensió
2D/3D, un joc entre la superfície i el relleu, tot identificant la superfície del dibuix amb la de la imatge (vídeo). Es així un dibuix sobre paper, però a la vegada <i>sobre vidre</i> —sobre el vidre de la pantalla del monitor—, tal com el propi Pujol ho suggeriria en el títol d'una cinta molt posterior, i sobre vídeo: en el temps, la duració, la proporció i la unitat audiovisual del mitjà utilitzat per a la representació d'aquest dibuix. (Dibuix, però, que ho és abans com
"acte" que com a resultat final, objectualment irrellevant).</p>

<p> La cinta <i>3 temps</i>
(1980) repren aquest plantejament a partir d'una sèrie de fotografies (diapositives) de pintures del propi Pujol, mostrades en el "primer temps" com una ràpida successió d'imatges fixes, envoltades per un marc fosc. En el "segon temps", la projecció de diapositives es repeteix —ara amb un ritme més pausat i omplint tota la pantalla— i, sobre cada imatge projectada, Pujol hi inscriu unes noves línies, bo i emprant trossos de cinta autoadhesiva. La progressiva acumulació d'aquestes línies o segments modifica a la vegada les composicions projectades successivament, fins a obtenir finalment un determinat "dibuix"
(arbitrari). I en el "tercer temps", aquest dibuix es desfà/destrueix en extreure, una a una, morosament, les línies/segments de cinta adhesiva. Els dos vídeos immediatament posteriors al descrit, <i>81x65</i>
(1981) i <i>Puzzle</i>
(1983), podrien ser descrits similarment en termes de composició i descomposició d'un dibuix (o, a <i>Puzzle</i>, segons com a la inversa: descomposició i recomposició en una unitat final, com ho suggereix implícitament el títol), així com en relació a les altres observacions que he fet a propòsit de <i>Satie</i>.
Hi tornaré després amb més deteniment.</p>


<p> <b>Mecano: vídeo + instal.lació</b></p>

<p> A partir de l'exposició <i>Treballs d'espai</i> (1977), Pujol ha entrevist una nova possibilitat d'utilització del vídeo. Primerament, en el marc d'una exploració formal en dues i tres dimensions, a les quals se suma el temps a través dels elements seqüencials i dinàmics d'una projecció de diapositives i una cinta vídeo. Conjunt de
"variacions" sobre un mateix tema (formal), i obra que prefigura el concepte d'instal.lació (i de vídeo-instal.lació)
prevalent en la trajectòria successiva de Pujol, <i>Treballs d'espai</i> desplega un joc de formes elementals bi- i tridimensionals que es relacionen entre si i que sorgeixen tant de la pintura com d'incipients treballs de volum —o del que el seu autor anomena "estudis de desenvolupament de superfície en l'espai"— per mitjà de maquetes fetes amb diferents peces de fusta pintades parcialment de negre. Una d'aquestes maquetes fou realitzada a tamany gran i situada al terra de la galeria, mentre que un monitor proper mostrava altres de les maquetes, examinades per la càmera en moviment al voltant d'elles, tot suggerint la percepció canviant que podriem tenir-ne si haguessin estat també realitzades a tamany gran i exposades (tot aprofitant així la manca de referències pel que fa a la seva escala, tal com en determinades aplicacions del vídeo en el camp de l'arquitectura).</p>

<p> El vídeo, doncs, comença a ser emprat aquí com a part del que anomenaré el mecano constructivista de les parts que es combinen harmònicament en un tot. ("Mecano" com a al.lusió a una escultura mecànica projectada l'any 1921 per l'artista alemany Willi Baumeister, i "constructivista" per tal de diferenciar-lo del popular juguet del que Pujol ha restat nogensmenys un fidel afeccionat per molts anys). El joc, ple de subtilesa, entre superfície i relleu, amb el qual he caracteritzat les peces de vídeo monocanal abans esmentades, es troba igualment present aquí i en altres obres de Pujol; entre les quals, també les primeres vídeo-instal.lacions pròpiament dites, <i>"T"</i>
(1981) i <i>Collage</i>
(1982), en les quals és com si volgués "soldar" diferents elements bidimensionals i tridimensionals, per mitjà de la juxtaposició de la imatge vídeo, absolutament plana, amb una estructura tridimensional; o bé, d'una superfície-tela pintada amb imatges aleatòries de l'espai físic/ arquitectònic en el qual està
emplaçada l'obra (<i>Collage</i>).
En l'entremig, altres instal.lacions (sense intervenció del vídeo)
com <i>7 elements</i>
(1978) o <i>D'un geometrisme</i>
(1979) són també exemplars pel que fa a la lògica formal amb que Pujol combina elements aparentment incongruents de l'espai preexistent i de la seva intervenció en ell (per tal de, com veurem tot seguit, modificar-ne la seva percepció i fer esclatar el punt de vista únic en la percepció de l'obra).</p>


<p> <b>El juguet filosòfic</b></p>

<p> Com el metafòric mecano de les línies anteriors, els trencaclosques i les entranyables invencions i ginys d'òptica recreativa s'avenen també amb la descripció de moltes obres de Carles Pujol. I, així com allò del mecano constructivista m'ho he empescat jo, tot tenint clar que per a en Carles Pujol l'art és una cosa i el mecano n'és una altra, almenys dues de les seves obres fan explícitament al.lusió a aquella altra mena de jocs que acabo d'esmentar: <i>Calidoscopi</i>
(1981) i <i>Puzzle</i>
(1983). En aquestes i moltes altres obres seves penso que hi ha a més a més un component lúdic; una mena de joc del que es vol fer partícip a l'espectador de l'obra, tot i que sempre a través d'una proposta formalment despullada i sovint reclosa en si mateixa. Aquest joc es materialitza llavors, com algú ha dit dels jocs i entreteniments basats en la il.lusió visual que tant abundaren al llarg dels segles XVIII i XIX (fins al súmmum de la il.lusió que representa l'adveniment del cinematògraf), en un juguet filosòfic.</p>

<p> La instal.lació <i>Calidoscopi</i>, perfecta en la seva senzillesa, mostra les variacions que es produeixen per la sobreimpressió d'un element fix i un element canviant, però amb la peculiaritat de que l'element fix és una estructura tridimensional, de manera que la percepció canvia d'acord amb la posició i el desplaçament de l'observador. L'element fix és un cub, delineat per uns bastidors de fusta suspesos en l'espai; l'element canviant és una seqüencia de diapositives que es projecten a través d'aquest cub, sobre una paret del recinte. Sobre aquesta paret/pantalla, l'element fix és l'ombra del cub —de les línies que dibuixen el seu volum—, i l'element canviant les diferents relacions que s'estableixen amb cada diapositiva
(desplaçament superficial d'una única línia), així com la diferent perspectiva que s'obté per la interposició de l'estructura cúbica en el camp visual.</p>

<p> El treball anterior em dóna ara peu a tornar sobre els vídeos <i>81x65</i> i <i>Puzzle</i>.
En el primer assistim al dibuix de la figura d'un cub i, tot seguit, a la seva destrucció (o deconstrucció, si voleu), deformant-se primer per la modificació del punt de vista de la càmera, i tot seguit desdibuixant-se pel desplaçament dels dos plans tangents sobre els quals s'havia traçat de fet la figura —i que la posició
inicial de la càmera mostra com una virtual superfície única—.
Així, tal com el dibuix del cub és una representació il.lusòria del seu volum, el pla del dibuix és a la vegada una juxtaposició de dues superfícies en l'espai tridimensional, desfent-se finalment ambdues convencions per la recombinació aleatòria de les línies i la destrucció parcial del dibuix.</p>

<p> <i>Puzzle</i>, d'altra banda, comença amb tres seqüències que ens mostren l'acció de traçar/definir unes formes sobre els murs d'un espai (també, com a la cinta anterior, sobre plans tangents). Les línies que delimiten aquestes formes semblen formar primer un dibuix geomètric arbitrari, emplenat tot seguit de color. Les formes, però, es combinen seguidament en una nova forma unitària, la qual descobrirem immediatament que està basada en la relació fons/figura d'una determinada fotografia. El que interessa a Pujol és aquí
l'autonomia del fragment respecte del tot i les variants espacials que es deriven d'una mateixa forma-matriu. No es tracta tant de recomposar el "puzzle" com de descomposar-lo. I la cinta es clou amb la citació d'un fragment de Marcel Proust, el paper de la qual és similar a la que té l'elecció de l'acompanyament musical en altres obres de Pujol (no tant en aquesta, on utilitzà la nova música "d'amoblament" de Brian Eno).</p>


<p> <b>L'ull mòbil</b></p>

<p> La perspectiva i els miralls formen també part de la família dels juguets filosòfics; o de les "opticeries", com en deia Duchamp. L'expressió <i>trompe l'oeil</i> ha estat significativament utilitzada per molts dels que ens hem ocupat de l'obra de Pujol. Allò
que es coneix com a perspectiva "curiosa" —en la qual, la imatge representada només es pot veure correctament des d'un punt de vista determinat— és un concepte així mateix rellevant. Però, com que el treball de Pujol es desenvolupa en la no-representació, ell ha parlat també de perspectiva "inútil". Això jo ho interpreto d'una manera semblant al que acabo d'assenyalar respecte a
<i>Puzzle</i>, en el sentit que tant o més important que trobar-hi el punt de vista
"correcte", és la descomposició de la forma congruent pel desplaçament en l'espai que en determina altres percepcions i altres relacions entre els elements que la composen. Aquest plantejament el trobem ja en obres com <i>Punt de vista</i>
(1978) i <i>Diapositiva</i>
(1981). En aquesta darrera, hi ha una peça de roba blanca envoltada per una mena de bastidor tridimensional, i, a un costat, hi ha també
una diapositiva (tots els elements situats a terra); de manera que la percepció de l'estructura tridimensional passa d'una observació de la mateixa com una figura geomètrica de proporcions del tot irregulars, a una de més regular —una forma piramidal amb un rectangle blanc en la base— i, en un punt donat, una figura plana que recorda el marc d'una diapositiva.</p>

<p> A <i>Islamey</i>
(1983), amb la incorporació del vídeo, el suggeriment de la doble perspectiva —de punt fix i mòbil-i-canviant— es representa mitjançant les imatges en dos monitors de la construcció
tridimensional en el centre de l'espai, al voltant de la qual l'espectador pot desplaçar-se i obtenir-ne percepcions semblants a les enregistrades en les imatges de vídeo. Aquí entren en joc l'ull i l'ull del vídeo (el qual, com deia Dziga Vertov del seu
"cinema-ull", permet de portar la "teoria de la relativitat a la pantalla"), amb una concepció que es troba també present en moltes altres vídeo-instal.lacions de Pujol: el vídeo desvetlla una perspectiva oculta (curiosa) que dóna coherència a una figura o forma descomposta en diversos elements —o fins i tot esparsa en diferents parts de l'espai—, i multiplica també els punts de vista a través de la mobilitat, o pel contrast entre la imatge estàtica i en moviment.</p>


<p> <b>Marcs i portes</b></p>

<p> En les seves instal.lacions, Carles Pujol utilitza freqüentment bastidors o marcs de fusta o altres materials, superfícies o teles pintades (o bé d'un color uniforme), estructures o cossos geomètrics, i els mateixos elements que troba en les sales o espais d'exposició. En part, això pot relacionar-se amb l'arrel plàstica, formal i pictòrica que té la seva obra, malgrat que la noció d'instal.lació i l'ús del vídeo han esdevingut finalment els territoris propis de la mateixa. En part, també ho motiven les circumstàncies accidentals i/o deliberades que fan que les seves obres siguin moltes vegades realitzades <i>in situ</i>, pensades en funció d'un lloc determinat, tot aprofitant els elements trobats a mà o, en general, materials pobres; i, per descomptat, el fet que siguin creacions efímeres.</p>

<p> En aquest sentit, dos elements que han esdevingut gairebé constants són el marc (i la idea de marc) i la incorporació
de detalls/elements arquitectònics trobats. El marc (que emmarca el buit) apareix ja en una efimeríssima instal.lació que va fer l'any 1976 amb el títol de <i>Rectificacions a l'espai</i>, tot jugant amb les convencions de l'exposició de quadres, la distorsió de la perspectiva i la tautologia. El marc es desgavella i esdevé un cos tridimensional, sovint distorsionat, desproporcionat o fora de lloc en altres instal.lacions ja esmentades: de <i>7 elements</i> (1978) fins a <i>Pintura</i>
(1989), tot passant pel cub de <i>Calidoscopi</i>, el marc 3D de <i>Diapositiva</i>, el marc transversal d'Islamey, etc. I el marc és retroba també en la pantalla —del monitor de vídeo com de la projecció de diapositives—, o envoltant el mirall de <i>Meninas</i>
(1985-86), o com un d'aquells elements arquitectònics trobats als quals em referia abans.</p>

<p> A <i>Marcs de porta</i>
(1982), per exemple, l'element (arquitectònic) preexistent es projecta i multiplica en un conjunt de perspectives "inútils", desplegades en l'espai i a través d'una seqüència de diapositives que mostren el conjunt fotografiat des de diferents angles. A la vídeo-instal.lació <i>Alícia</i>
(1984), es combinen uns elements similars. Hi ha una construcció
tridimensional central que és com un doble marc amb frontisses, com si fos una porta i el seu marc; la "porta" és mòbil, manipulable per l'espectador, i no és sólida: només és, també, un marc (que per tant hom pot travessar, tal com Alícia travessà un mirall). Sobre la paret del fons hi ha pintades una sèrie d'ombres del doble marc-porta, que veig com l'equivalent sobre un pla de les perspectives "inútils" de l'obra anterior. L'element vídeo
(en dos parells de monitors a banda i banda) intervé aquí de manera del tot similar al paper que acomplia a <i>Islamey</i>; una imatge fixa, presa per una càmera en circuit tancat, en paral.lel amb una presa mòbil prèviament enregistrada, amb la càmera desplaçant-se al voltant de la porta. Però, "ep!, aquesta porta no és una porta", m'advertia en Pujol tot xerrant sobre aquesta obra. I afegia, més o menys amb aquestes paraules:
"...jo n'he dit porta perquè s'assembla a una porta, però
podria ser moltes altres coses. Jo no sóc un figuratiu!"</p>

<p> <i>VBuit</i> (1985) és una instal.lació en la que Pujol ha emprat també uns elements d'arquitectura interior que es trobaven en l'espai que li era destinat: uns engraellats de fusta que estaven suspesos del sostre per a la il.luminació del recinte. Només que els va treure del seu lloc per a composar un nou trencaclosques d'estructures tridimensionals i figures bidimensionals, de perspectives fixes i canviants; també mitjançant la intervenció del vídeo. Com en el cas d'<i>Alícia</i>, hi ha també un émfasi relativament nou en la interactivitat de l'espectador amb l'obra; en aquest cas, a través d'un mesclador de vídeo que hom podia manipular per a desfer i refer un dibuix determinat, fragmentat en les superfícies parcialment pintades de negre de les estructures de fusta distribuïdes en l'espai, i composat en la pantalla de vídeo a partir de la mescla de les imatges preses per dues càmeres des de diferents angles.</p>


<p> <b>Espill i vídeo</b></p>

<p> Els miralls, i la idea de mirall en abstracte, es troben presents d'alguna manera en distintes obres. Alguns títols són prou explícits: <i>Mirall</i>
(1984), aportació a una exposició col.lectiva en homenatge a Duchamp, evidentment pel cantó de les "opticeries"; o
<i>Reflex</i>
(1986), on no hi ha un mirall pròpiament dit, però sí unes estructures i elements que s'emmirallen els uns als altres pel seu desdoblament (literal o conceptual). El vídeo, i més en concret el dispositiu de circuit tancat, actua també moltes vegades com una mena de mirall electrònic. Però és en la sèrie de vídeo-instal.lacions sobre les <i>Meninas</i> de Velázquez on Pujol ha resolt amb més força el tema del mirall.
Com és sabut, el quadre de Velàzquez ha esdevingut en si mateix un tema o motiu d'inspiració per a diversos artistes del nostre segle, des de Picasso fins a diversos autors més o menys coneguts en el camp del vídeo. Les <i>Meninas</i> de Pujol són, es clar, absolutament no-figuratives, però és una obra molt suggeridora i m'atreveixo a dir que una de les més
"rodones" dins la trajectòria de Pujol. Així com una de les poques que ha repetit més d'un cop, i la que ha assolit, molt merescudament, més projecció internacional, tot passant de Reus (en una primera versió) a Bolònia, L'Haia i Ciutat de Mèxic.</p>

<p> A <i>Meninas</i>, Pujol s'ocupa, segons les seves pròpies paraules, de "l'espai del quadre de Velázquez"; recalcant d'aquest manera el seu apropament a l'obra: de manera no icònica, sinó en termes de significant o composició formal (per provar de dir-ho d'alguna manera). Els elements que combina els hem anat trobant en altres de les obres ja descrites: formes lineals en angle, pintades sobre la paret; monitors (i monitors dintre de monitors) que composen fragments d'un dibuix; mirall que reflecteix un conjunt d'elements esparsos (en les parets i els monitors, en l'espai) i els composa, des d'un punt de vista determinat, en un dibuix unitari —un rectangle/marc (dins del marc per excel.lència del mirall/quadre)—; un monitor alimentat per una càmera en circuit tancat, d'acord amb la perspectiva "correcta"; i, finalment, un "clima" musical de subjectiva elecció.</p>


<p> <b>La tautologia i el dimoni de l'analogia</b></p>

<p> Sobre l'obra de Carles Pujol, l'escriptor i amic Carles Hac Mor ha escrit, en un text poc divulgat i del que em permeto aquí citar-ne un extret bastant llarg, això que segueix:</p>

<p>
"...deu fer dos o tres anys, Pujol em proposà
d'idear un títol per a una instal.lació de vídeo seva. I sense pensar-m'hi pas gaire, la vaig intitular <i>Tautologia</i>
[1988].</p>

<p> I vet aquí que ara m'adono que amb aquest mot vaig encertar a conceptuar —això sí: pel broc gros— tota l'obra de Pujol i no pas solament aquella peça.</p>

<p> Perquè, per la retòrica, la tautologia és la repetició d'un mateix pensament expressat cada cop diferentment, i, per Wittgenstein, mentre la proposició mostra allò que diu, la tautologia —posem per cas, "una rosa és una rosa"—
mostra que no diu res, o sigui, que no explicita res, que es clou en si mateixa. I, en efecte, les tautologies de Carles Pujol són sempre variants d'un tema únic, les quals versions es dobleguen sobre elles mateixes per guardar, però, un grapat de suggeriments implícits.</p>

<p> I amb un broc un xic més fi, diríeu que la pràctica tautològica de Pujol és expressió no pas d'un pensament sol, sinó d'uns conjunts de temes interrelacionats els uns amb els altres a través d'un <i>trompe l'oeil</i>.
I afinant-hi més, tal vegada conclouríem que les peces de Pujol més que no tautologies són monuments a la tautologia.</p>

<p> I de la conjunció de tots aquests monuments, s'aixecaria una catedral de la tautologia: aquest efecte faria una exposició
antològica de Carles Pujol. Allà, com a totes les catedrals, els components arquitectònics remetrien els uns als altres, tot configurant un cosmos peculiar. Tanmateix, la catedral de Pujol, a diferència de les catedrals de debò, ni tan sols evocaria d'altres catedrals, per tal com no fóra pas una catedral veritable".</p>

<p> Aquest text de l'Hac Mor tal volta sigui encara més pertinent ara, en relació a l'exposició que aquest catàleg acompanya i pel que jo en sé del que Pujol projecta fer-hi (així
com perquè, si el lloc no és una catedral, és però un antic palau nobiliari reconvertit en una mena de catedral municipal de la gestió
cultural i les exposicions temporals). I vet aquí que jo escrivia també, si fa no fa al mateix temps i com a presentació de la instal.lació <i>Pintura</i>
(1989), que si el treball de Pujol sembla endinsar-se moltes vegades en el terreny de la tautologia, aquest s'ha comprovat que és un dels més fecunds en tot l'art i el pensament modern. I ara afegiré al meu cop una citació més a Wittgenstein, la qual trobo que és de molt ajut per a una millor comprensió de l'obra de Pujol i de les meves modestes observacions: "Tautologia i contradicció no són figures de la realitat. No representen cap possible estat de coses.
Doncs una permet <i>tots</i> els possibles estats de cosas; l'altra no en permet <i>cap</i>"
(<i>Tractatus logico-philosophicus</i>,
#4.462). Resulta així evident perquè parlem de tautologia, i en canvi no de contradicció, a propòsit de l'obra d'un artista que tant insisteix en mostrar-nos que tot es pot veure de diferents maneres.</p>

<p> Passaré per alt, però, algunes obres amb les quals penso que Pujol ha estat tocat per allò que Mallarmé anomenà
"el dimoni de l'analogia". Em refereixo, per una banda, a la vídeo-instal.lació <i>Combinacions</i>
(1983) i a la cinta monocanal que se'n derivà posteriorment, <i>Suite</i>
(1985), on les imatges es converteixen en una "coreografia" de formes, ombres, colors, acompanyada per la música (tot i que aquesta fou triada un cop ja enregistrades les imatges), tot plegat d'una manera massa literal i que esdevé un xic banal. I, d'altra banda, també a les cintes <i>Eclipsi</i>
(1985) i <i>Espai sonor</i>
(1986), en col.laboració amb el músic Eduardo Polonio, les quals traspuen així mateix un llenguatge anacrònic de variacions de llum i color, d'encisament en les qualitats i textures obtingudes, d'una manera que jo penso que sí és en aquest cas contradictòria amb el cos principal de l'obra de Pujol: analogia <i>versus</i> tautologia. Les arrels poden ser les mateixes, el resultat és al meu parer un retorn superflu a un territori plàstic/pictòric ja molt trepitjat, només que a través del vídeo.</p>


<p> <b>Transparència opaca</b></p>

<p> Ben mirat, malgrat els quinze anys d'activitat continuada en el camp de la instal.lació i el vídeo, Pujol continua expressant-se en gran mesura com un pintor, només que virtualment inactiu com a tal. Els mateixos termes amb que descriu/comenta les seves obres ho denoten.
Es clar que ja he dit de bell antuvi, i ara ho repeteixo, que la pintura ha estat, declaradament, el punt de partida de tots els treballs que ha dut a terme del 1975 ençà; només que ha esdevingut, em sembla, un pre-text força remot si en descomptem l'entra-i-surt del dimoni de l'analogia al damunt esmentat. Els mitjans prou limitats o precaris amb que sovint s'ha vist obligat a treballar per tal de prosseguir la seva activitat, d'altra banda tan
àgil i continuada, han condicionat per força determinats alts i baixos pel que fa als resultats; però també ha sabut treure profit de les condicions més adverses i mantenir la coherència que tant fàcil és d'advertir per a qualsevol que conegui i apreciï la seva obra. Només afegiré a tot això aquestes observacions que el propi Pujol va fer en una conversa amb Lena Balaguer: "No m'interessa si estic avançat o endarrit al meu temps, l'evolució de la meva obra segueix un ritme intern que ella mateixa imposa. Ja no hi ha corrents vàlids, només hi ha modes; l'únic fil conductor segur en aquests moments és el de les individualitats".</p>

<p> El fil conductor em porta finalment a <i>Pintura</i>
(1989), que òbviament no és una pintura sinó una instal.lació; i suposo que només amb un punt de malícia o ironia en la seva denominació. Una instal.lació en la que estan presents alguns dels elements que he anat apuntant com a característics de l'obra pujoliana: el marc, la pluralitat de punts de vista, la tensió
2D/3D, la incorporació de temps, moviment i so a través del vídeo.
El marc és aquí un element gairebé escultòric; un marc desproporcionat, esbiaixat i encastat entre el terra i el sostre, com si el pes de la planta superior li hagués caigut al damunt. Aquest marc és transitable, com si fos el llindar d'una porta, a la vegada que emmarca la visió de l'espai que hi ha més enllà. L'espai esdevé una "pintura" tridimensional, sense cap altra intrusió que la de tres monitors repartits aquí, allà i allí; la
"pintura" esdevé un espai tridimensional i penetrable, tal com s'ha trobat: <i>ready made</i>.
Des de determinats punts de vista, fora i dins del marc, s'obtenen perspectives que fan congruent la imatge de cadascun dels monitors amb l'espai que envolta el marc de la pantalla de vídeo; és a dir, la imatge es percep com continuitat d'una columna, un arc, una paret abonyegada, com si fos un marc amb un vidre que transparenta allò
que hi ha al darrera. De tant en tant la imatge trontolla, com si la càmera que ha pres aquestes imatges rebés un cop sobtat. Llavors hom sent també un so, un soroll relativament familiar (el d'unes boles de billar que xoquen). Com la perspectiva "incorrecta" que hom obté en desplaçarse per l'espai, la "transparència" de les imatges es desestabilitza amb aquests sotracs repetitius i sobtats, acompanyats del corresponent esclat sonor. Què vol dir tot això (tan evident)?</p>

<p> Com aquesta paradoxa de la superfície de vidre/vídeo que es mostra transparent, però que sabem amb certesa que és una imatge opaca, feta de llum que sorgeix del volum tridimensional de l'aparell
(monitor o televisor), l'obra de Pujol es pot veure alternativament opaca o transparent. Opacitat transparent o transparència opaca.
Allò que és tan evident és la tautologia que campa per tota la seva obra; allò que no ho és tant provaré d'anomenar-ho l'enigma.
Carles Pujol ho anomenaria potser d'una manera aparentment més racional: "la relativitat" potser. Però també ell mateix va dir (a Lena Balaguer, novament): "...em preocupa que l'espectador pugui sentir-se desorientat davant de la meva obra...; però el que no puc fer és donar-li un manual d'instruccions, car no n'hi ha..." Tal vegada el meu, com els altres textos i comentaris d'aquesta publicació, serveixin a algú com a possibles substitutius d'aquell manual absent, inexistent, que Pujol troba impossible d'escriure.</p>

<p> EUGENI BONET</p>
<p> Barcelona, octubre del 1990</p>
 