  <p> I NOMÉS HI HA LA DANSA</p>
<p>
(AND THERE IS ONLY THE DANCE)</p>

<p>
(x) Eugeni Bonet</p>


<p> Anar i tornar, i tornar a anar... Aquest vaivé de verbs el tinc per una dita molt pròpia i recurrent d'Eugènia Balcells. La cantilena, la frase comença i no acaba --queda suspesa en un instant de silenci i abstracció que s'esdevé sobtadament--, i es nota que li surt de ben endins. Es com si fos la tornada d'una cançó banal, però no del tot oblidada; un adagi taral.larejat espontàniament. Puc endevinar, per la seva part, una fascinació per la reversibilitat, la simetria i asimetria canviant d'aquesta breu concatenació de mots: verbs, conjuncions, signes de puntuació en la mínima expressió d'un sintagma sense subjecte explícit.</p>

<p> I tanmateix, hi ha un subjecte ben implícit, car aquestes paraules tenen quelcom d'autobiogràfic. Compendien el periple vital d'Eugènia Balcells, i certs factors determinants del seu periple artístic.
Però, encara que el vaivé pot dibuixar-se sobre un mapa, tot desplaçant el dit d'un extrem a l'altre d'un oceà al mig, no es tracta ben bé d'aquest que podem representar sobre una làmina cartogràfica on el món se'ns presenta pla, i l'oceà sense ones. En qualsevol cas, resseguir la trajectòria artística d'Eugènia Balcells comporta, certament, un anar i tornar repetides vegades d'un país petit a un <i>big country</i>: Catalunya i els Estats Units d'Amèrica.</p>

<p> El fil cronòlogic ens permet distingir almenys dues etapes en l'evolució del seu treball: a Barcelona, en la segona meitat dels setanta, diguem que s'ocupa de la prosa del món; després, en canvi, s'ha atansat a la seva escorça i, a Nova York o novament a la seva terra natal, el tema ha esdevingut finalment "la dansa", que no és sinó la de la rotació del món, els cicles del temps, la perpetuïtat de l'energia... I, si en un cas es tractava de trobar, recollir i fornir evidències acusadores de les visions mediatitzades, les realitats deformades per les indústries de la publicitat, l'espectacle, la seducció i adormiment de les masses, en l'altre és més una qüestió
de veure des de tots angles, i amb cristalls de tots colors, tot allò
que ens encercla i abriga en el pelegrinatge per la vida, des de la pell mateixa fins la claror i calor de la llum, de la natura a l'arquitectura, i de la història al trànsit del present.</p>

<p> Així, el rumb que ha pres l'art d'Eugènia Balcells és el del que goso anomenar una "metafísica recreativa", perquè tracta de qüestions pregones i transcendents, i ho fa d'una manera planera, suggeridora i atractiva. O, senzillament, perquè ens convida a veure el món físic d'una altra manera, on fins i tot en el caos hi ha harmonia. I és que Eugènia, en el fons, té quelcom de presocràtica convençuda de que el món no és fet sinó d'aigua i aire i terra i foc, d'immensitat i infinit, de la unitat i oposició de tot, de la identitat de la diferència; és a dir, tal com el pensaren Tales i Anaxímenes, Anaximandre i Heràclit, Pitàgores i Empedocles. Per això, a la recerca d'un títol apropiat per aquest text --un que reflectís tant el seu anar i tornar biogràfic, com l'orientació
actual del seu treballl--, vaig acudir successivament a una edició
dels "Fragments presocràtics", i al primer dels <i>Four Quartets</i> de T.S. Eliot, <i>Burnt Norton</i>, on Heràclit és citat en exordi ("El camí amunt i avall és un i el mateix") i parafrasejat abundosament en la carn del poema.
I així --no sé si inconscientment-- vaig remarcar els versos d'Eliot que m'excusen de definir amb més detall el que vol dir "la dansa" en l'idioma, no menys perifràstic, d'Eugènia Balcells.
Només per descobrir, un xic després, que ella ja havia citat el fragment pertinent en un catàleg; justícia poètica, veritablement!
I aquests versos diuen:</p>

<p> At the still point of the turning world.</p>
<p> Neither flesh nor fleshless;</p>
<p> Neither from nor towards;</p>
<p> At the still point, there the dance is,</p>
<p> But neither arrest nor movement.</p>
<p> And do not call it fixity,</p>
<p> Where past and future are gathered.</p>
<p> Neither movement from nor towards,</p>
<p> Neither ascent nor decline.</p>
<p> Except for the point, the still point,</p>
<p> There would be no dance, and there is only the dance.</p>

<p>
[En el punt quiet del món giratori / Ni carn ni sense carn; / ni des de ni cap a; / en el punt quiet, allí és la dansa, / però ni repòs ni moviment. / I no ho anomeneu fixesa, / allí on passat i futur s'ajunten. / Ni moviment des de ni cap a, / ni ascens ni baixada. / Excepte pel punt, el punt quiet, / no hi hauria dansa, i només hi ha la dansa.]</p>


<p> <b>El corn de l'abundància</b></p>

<p> Espanya lluïa de sol, però romania en la mitja llum de l'umbracle franquista, quan Eugènia marxà als EUA, l'any 1968, en una primera estada que es perllongaria fins el 1975. Allí, al seu pas per l'Escola d'Art de laUniversitat d'Iowa i per contacte amb uns corrents i contracorrents culturals en vigorós desenvolupament, es familiaritzà amb una concepció multimèdia de la pràctica artística, de manera que foren uns anys decissius, malgrat que encara no donés del tot l'embranzida a una incipient activitat creativa que fonamentalment es concreta en llibres-objecte com <i>Möbius Spaces</i>
(1971) i la sèrie dels <i>Clear Books</i>
(1971-1973), i en collages, assemblages i peces murals a base d'acumulacions d'imatges o objectes (1973-1975).</p>

<p> Una de les troballes d'Eugènia en aquell període, fou la d'empresonar (però, segons com, amb certa llibertat de moviments) tota mena de petits objectes, coses, imatges o retalls --en abundància i disposats més o menys a l'atzar-- en bosses de plàstic (com les utilitzades per a preservar fotografies, documents, etc.), dins de capses de metacrilat (de les pensades com un succedani econòmic i "faci-ho vostè mateix" a l'emmarcat de làmines, cartells, fotos i similars), o darrera d'un vidre.</p>

<p> Es clar que, si d'això en dic troballa, no és pas per implicar que ella descobrís la sopa d'all, doncs no cal regirar massa a fons en la història de l'art del nostre segle per lligar caps amb, per exemple, l'obra d'Arman; tot i que una influència molt més probable la trobariem en el desenvolupament autòcton del Pop Art i l'assemblage als EUA. Això no treu, tanmateix, la personalitat que ja s'endevina en aquesta primera etapa, si es vol formativa i primerenca, de l'obra d'Eugènia. I només cal fixar-se en la mena d'objectes que tria, on predominen els dits d'escriptori (llapissos, gomes elàstiques, clips, etiquetes), altres coses relacionades amb l'escriptura i la correspondència
(lletres adhesives, postals, segells), o bé amb la infantesa i la identitat sexual (nines, globus, petxines, fils de cosir, corbates); coses ben minses i comunes, com tantes altres que han estat ingredients característics del seu art.</p>

<p> Eugènia desenvolupà així
una estètica, o diguem-ne senzillament una destresa, fonamentada en l'acumulació d'objectes produïts en sèrie; en la seva varietat i en l'efecte colorista de la seva diversitat cromàtica --o, a l'inrevés, en la monotonalitat d'una diversitat d'objectes--; en la uniformitat i les diferències (també de tamany, per exemple); en un ordenat desordre o un atzar sovint controlat, entre altres enjogassaments amb les coses més nímies i qüotidianes. Els resultats aconseguits, d'un poderós efecte plàstic i decoratiu, la portaren a practicar l'art-com-a-ofici del disseny a un dels més prestigiosos estudis de Nova York, i a l'oportunitat de crear una peça mural a gran escala a la seu de la IBM. Encara li calia, però, transcendir aquella destresa o habilitat estètica, portar la cosa més enllà, donar-li una altra volada.</p>

<p> Això és el que suposarà el seu <i>Supermercart</i>
(1976), l'obra amb la que es donarà a conèixer de retorn a Barcelona, ara sí que decidida a entrar en l'arena artística. Fruit molt clar de la sedimentació de moltes d'aquelles anteriors experiències, de tot el bagatge que Eugènia s'havia endut de la llarga estada als EUA, a la vegada seria però com un nou punt de partida. No endebades, en el panorama artístic local, representava el debut d'una nouvinguda, aparentment sorgida del no res, i que venia a afegir-se a l'ebullició, encara sostinguda, d'un art diversament anomenat pobre, conceptual, experimental o alternatiu.</p>

<p> Com mai abans, Eugènia destapà el corn de l'abundància de les petites coses que ens envolten i dels grans desigs materials, el tot embossat i classificat en llargues tires/bosses de plàstic transparent, compartimentades segons la mena, tamany, quantitat dels objectes, coses, retalls aplegats. Sempre productes o matèries humils, d'escàs valor o pacientment recollides açí i allà: botons i guants, ulleres i peces de bijuteria, cigarrets i llumins, gomes i globus i condons, sal i arròs i pasta de sopa (de lletres), escrits i partitures, cromos i postals i cartes de joc, joguines i foteses diverses, retalls de revistes i catàlegs degudament classificats per icones
(productes cosmètics, plats combinats, televisors, automòbils, passatemps o obres d'art), i un llarg etcètera. El mural esdevingué
ara environament, mutació d'un espai, dramatúrgia (però d'una comèdia, abans que un drama d'objectes): les tires, una al costat de l'altra, atapeïen les parets de la sala d'extrem a extrem i, ordenades de la A fins gairebé la Z de les coses posades o representades a dins, hom podia passejar la mirada verticalment i horitzontalment; de la immaterialitat de l'aire, del buit més transparent, fins a la residualitat d'unes cendres, i dels objectes d'usar i tirar (escuradents, per exemple) fins a la pretesa eternitat de la joia o l'obra d'art.</p>

<p> D'altra banda, l'evident joc de paraules del títol i les característiques del full de mà que el visitant trobava a l'entrada, permetien entreveure aleshores "segones intencions". Car aquest full, que feia les vegades de catàleg o guia de l'exposició --i, potencialment, també de full de comanda (amb el corresponent desglossament de les peces i una relació codificada dels seus preus)--, més aviat recordava un fullet d'ofertes o saldos comercials, tant pel paper emprat (econòmic i de color rosat) com pel breu text, extret d'un catàleg comercial nord-americà, que encapçalava faceciosament l'imprès. Així que, en un moment en que hom posava en solfa la societat de consum i el mercadeig de l'art, quan es questionava fins i tot la diguem-ne "democràcia popular" de l'art multiplicat, del <i>Supermercart</i> d'Eugènia Balcells se'n traslluïa també un comentari punxant en aital sentit.</p>

<p> Anys després, però, a Barcelona sorgirien altres super- i hipermerc<i>arts</i>, i el joc de paraules ja no aniria tan en broma, sinó que es tractaria d'una mena d'exposicions col.lectives de temporada
(nadalenca generalment) on s'apleguen obres de petit format, bibelots o gargots signats, fets a mida de la butxaca i de les necessitats decoratives i de regal del visitant potencial d'aquests basars
(bas<i>arts</i>)
ocasionals; els "tot a 100 pessetes" de l'art en autoservei i llest per escalfar a casa. Els dimonis del consumisme i el mercantilisme ens són avui més familiars: els acceptem tal com són, quan no en celebrem la seva apoteosi; queda per al Sant Pare el dir-ne fàstics. El gran esdeveniment cultural de l'any pot ser una bona ocasió de vendre samarretes. Les paròdies, amb el temps, esdevenen realitats!</p>

<p> Ara, doncs, no se'ns fan tan paleses les segones intencions que hom albirava en altre temps en el <i>Supermercart</i> Balcells (marca no registrada). Tanmateix, si l'obra no ha perdut força és perquè, a més de constituir una mena de síntesi molt madurada de les nombroses experiències i provatures que la precediren, és plena de detalls i suggeriments que ens permeten veure-la amb altres ulls (i sense capficar-nos tant en l'extracció
d'un missatge o moral), com un microcosmos de la multiplicitat d'objectes i coses que ens encerclen, o un impossible catàleg universal a la manera de les facecioses enciclopèdies de Borges, Primo Levi o Peter Greenaway.</p>


<p> <b>Imatges i estereotips</b></p>

<p> L'obra d'Eugènia Balcells, al llarg d'aquesta etapa barcelonina que s'estén entre 1975-1979, és força variada, desglossant-se en exposicions/ instal.lacions, llibres i films, que en alguns casos s'interrelacionen estretament, però que suposen també un tocar diverses tecles, explorar diferents mitjans, emprendre altres direccions. Certes constants serien la predilecció per les imatges i coses trobades, preexistents, arrencades sovint del doll mediàtic (premsa, cinema, publicitat, etc.); i, consegüentment, l'ús dels mitjans de reproducció
(fotografia, mitjans audiovisuals, mitjans impresos) apropiats per al processament d'aquelles "primeres matèries", processament que és essencialment un de garbellament i muntatge. També, el fet que el punt de partida, o bé el d'arribada, sigui gairebé sempre una col.lecció, una o més sèries o sequències d'abundantsimatges; ja es tracti de retalls, fotogrames, postals o variacions/manipulacions sobre una mateixa imatge.</p>

<p> Suposo que per inèrcia, l'obra d'Eugènia en aquella època ha estat freqüentment encasellada en un corrent d'art sociològic, crític i de deconstrucció, que tingué ineluctablement un gruix remarcable entre l'art conceptual/alternatiu que es féu a Espanya abans i després de la mort de Franco (o en els exilis per decisió pròpia).
Puix que, exposat així, la casella és prou àmplia, no és del tot incorrecte situar-hi molts dels treballs d'Eugènia, del <i>Supermercart</i> fins a <i>Travessantllenguatges/Going Through Languages</i>
(que va realitzar el 1981, novament establerta a Nova York), tot passant per altres als que em referiré totseguit. Tanmateix, més que un art sociològic, jo en diria un art semiòtic, doncs del que s'ocupa és de sistemes de signes i d'uns codis preestablerts, arquetípics i redundants, exposats, evidenciats  --més que no pas analitzats-- a través de mètodes de classificació, reiteració, contrast...</p>

<p> Així, la imatgeria del corn de l'abundància de totes les coses, objectes, béns que la mercadotècnia i la publicitat ens posen a l'abast dels ulls, si no de la butxaca, seguiria brollant en el muntatge audiovisual <i>Ofertes</i>
(1977), on es combinaven dues sèries de diapositives en projecció
paral.lela (d'aparadors o interiors de comerços i grans magatzems per una banda, i d'imatges de publicitat impresa per l'altra), un televisor encès però emmudit, i un collage sonor de ràfegues radiofòniques, tot volent emular ço que se'n diu el bombardeig mediàtic i les quotes corresponents de soroll, entropia i alienació.
(Naturalment, en les proporcions pròpies d'aquell temps, i amb els limitats mitjans amb que, aleshores i entre nosaltres, s'aconseguia engiponar una proposta multimèdia així).</p>

<p> Les narratives del cinema i la fotonovel.la serien les fonts de les imatgeries escrutades subsegüentment, dràsticament reduïdes a unes imatges aïllades del seu context i fluix narratiu --fotogrames i vinyetes, respectivament--, seleccionades per la seva qualitat genèrica, arquetípica, formulista.</p>

<p> Com tantes altres vegades, <i>Re-prise</i>
(1976-77), una de les peces més reeixides d'entre l'obra d'Eugènia en aquesta etapa, s'engegà com qui engega una col.lecció, cerca, recull, separa, revisa, selecciona, classifica i fixa. El Mercat de Sant Antoni, a Barcelona, és els diumenges un dels llocs de visita obligada per als col.leccionistes de menudeses. I Eugènia, que de les menudeses en fa art, n'és una assidua. D'allí sorgiren els milers d'imatges després garbellades i ordenades en 8 sèries de 80 diapositives: fotogrames retallats de còpies caduques de pel.lícules, reciclats per als ulls fantasiosos d'infants, cinèfils i altres espècies.</p>

<p> Eugènia, per dir-ho així, es va proposar de reconstruir la pel.lícula sencera a partir d'aquests ínfims retalls. Una pel.lícula que serien moltes. I a la vegada, sempre la mateixa. Comença pel principi, els títols de crèdit. Ens mostra l'heroi i l'heroïna. Té
plans de detall: gestos de les mans, signes d'acció. S'endevina, tal vegada, el romanç: el noi ha trobat la noia. La trama es complica quan sona el telèfon. No hi manquen escenes de masses. I la cosa acaba com cal: amb un <i>the end</i>, un final probablement feliç, potser només el rètol i un bonic paisatge. Però, ni és una pel.lícula, ni comença ni acaba enlloc.</p>

<p> <i>Re-prise</i> fou concebut com un environament, un desplegament en l'espai de les tipologies i arquetips del cinema comercial. Les imatges envolten a l'espectador i, sense sincronia, es relacionen mútuament i a l'atzar, en una simultaneïtat de clixés seqüencialment inversemblants. El fotograma, com deia Barthes, ens proporciona el tercer sentit, aquell que passa inadvertit en la ràpida desfilada de les imatges cinematogràfiques projectades. Deturat, orlat per les perforacions i el dibuix del so òptic, envellit pel pas del temps, per les taques i cicatrius acumulades, se'ns mostra endemés en la seva decrèpita bellesa. I més enllà dels motllos grollers, del repertori codificat de gèneres, tipus, etc., hi ha també tota una riquesa icònica que fa entrar en joc tota la nostra memòria cinematogràfica. (Em cal afegir que l'obra romangué inèdita en el seu moment i que, amb l'afegit d'un acompanyament sonor a base de nombrosos retalls de <i>soundtracks</i> cinematogràfics, no ha estat exhibida fins l'any 1992, en el marc d'una retrospectiva sobre l'art conceptual català).</p>

<p> Amb l'exposició i el llibre <i>Fin</i>
(1978), Eugènia prosseguí la indagació sobre la qualitat estereotipada de les narratives mediàtiques, ara prenent-la amb la fotonovel.la romàntica. En limitar-se a seleccionar i aïllar un centenar de vinyetes finals, sense altra manipulació que una ampliació del seu tamany original, volia destil.lar l'idioma redundant, les frases fetes, la cursileria congènita d'aquests subproductes híbrids de la novel.la del cor, el cinema i la historieta il.lustrada.</p>

<p> A la vegada, <i>Fin</i> enceta un petit cicle de treballs al voltant de la imatge de la dona en els mitjans de comunicació de masses; i, per implicació, també
sobre les representacions d'aparellament, tan sovint codificades com un ideal de felicitat. Serien també part d'aquest cicle el film <i>Boy meets Girl</i>
(1978) i, en certa manera, el llibre <i>Anar i tornar</i>
(1978), fet conjuntament amb l'escriptor Carles Hac Mor. I la peça que clouria aquesta fase (a la vegada que en donaria pas a una altra força diferent) seria el vídeo bicanal <i>Travessant llenguatges/Going Through Languages</i>
(Nova York, 1981), de concepció bastant anterior a la seva data de realització.</p>

<p> Els llenguatges objecte d'aquesta travessia seran els de la TV per un cantó, i el vídeo per l'altra. També, els de la posada en escena espectacular i la imatge de la dona-objecte propagada pels mèdia, en contraposició a unes escenes d'aire quotidià on dues dones s'interpreten a si mateixes, indiferents a l'esguard de la càmera; tanmateix un esguard amistós. Aquesta confrontació s'expressa per la simultaneitat de les dues cintes: una, un resum editat de l'emissió televisiva corresponent a la cerimònia d'elecció de Miss Univers 1981; l'altra, una successió de plans-seqüència que exploren l'espai i els gestos d'una intimitat compartida per tres dones, devant o darrera de la càmera, dins o fora de camp. Allò que Eugènia anomena el <i>llenguatge personal</i>, per oposició al <i>llenguatge públic</i>, que equival a dir-ne mediàtic, llampant, opulent,... i caricaturesc per moments. Quelcom que s'expressa també pel moviment "encuriosit" de la càmera, que vagareja per l'espai i els cossos amb una fluida sinuositat, mentre al monitor contigu segueix la gran parada de les beutats femelles i se'ns proporcionen detalls sobre les seves harmòniques mesures.</p>

<p> Fora de la continuïtat de les obres fins ara descrites, la darrera exposició
d'Eugènia abans d'emprendre novament el vol transatlàntic, <i>Ophelia
(Variacions sobre una imatge)</i>
(1979), fou el resultat d'una intensa exploració en els rudiments de l'electrografia --o, dit més planerament, de les possibilitats estètiques de la fotocopiadora--, a partir d'una imatge triada arbitràriament: una reproducció del quadre del mateix nom del pre-rafaelita John Everett Millais. Pel seu caràcter eminentment formal i de recerca experimental, intuïtiva però sistemàtica, podria dir-se que aquesta és una obra episòdica dins la trajectòria d'Eugènia, ans també una manifestació més d'una perpètua curiositat per la imatge i pels diferents mitjans de treballar amb la imatge, a més d'una conseqüència força lògica de la seva dedicació anterior a la iconoesfera de les reproduccions i representacions mediatitzades.  </p>


<p> <b>Llibres i films</b></p>

<p> Malgrat tota la retòrica sobre els "nous mitjans" generada al voltant del floriment d'un art conceptual/alternatiu, massa sovint s'oblida que una petita publicació, un curtmetratge, una cinta de vídeo, etc., poden ser obres d'una talla artística igual a la d'aquelles que es tenen per "majors" d'un determinat autor o autora. Així, una part no menys important de l'historial artístic d'Eugènia Balcells és la constituïda per la seva filmografia i publicacions personals (ço que se'n diu llibres d'artista, amb una connotació alternativa als llibres que en anglès anomenen de
<i>coffeetable</i>, pel seu format i pel goig que fan). Com ja he dit, alguns dels films i publicacions d'Eugènia es relacionen més o menys directament amb les cinc exposicions/instal.lacions que presentà en el període 1976-1979. Ho exposaré mitjançant un quadre, amb l'afegit d'un parell de referències fora de data (i entre parèntesi):</p>

<p>
					   -- llibres --			--
films --</p>

<p> 1976-	<i>Supermercart</i>	
  (<i>Clear Books</i>, 1971-73)	<i>En la ciudad</i></p>
<p> 1977	<i>Ofertes</i></p>

<p> <i>	Re-prise							Presenta</i></p>
<p> <i>									The End</i></p>

<p> 1978	<i>Fin			
  Fin				Boy Meets Girl</i></p>
<p>
   <i>				 
 Anar i tornar</i></p>

<p> 1979	<i>Ophelia...	
  	   Ophelia...</i>			(<i>Xerox Music</i>, 1981)</p>


<p> Al marge dels films o publicacions basats en la totalitat o una part del material emprat en les instal.lacions <i>Re-prise</i>, <i>Fin</i> i <i>Ophelia</i>, els altres títols corresponen a peces totalment autònomes, només que també hi podem veure certs lligams temàtics i/o formals. Els films <i>En la ciudad</i>
(part del film col.lectiu del mateix títol) i <i>Boy Meets Girl</i> es basen en senzilles tècniques d'animació de retalls --icones extretes de les pàgines satinades de les revistes i la publicitat--, i el llibre <i>Anar i tornar</i>
és fet també de retalls, com a fruit d'un intercanvi d'imatges i bocins de text entre Eugènia i l'escriptor Carles Hac Mor; sempre al voltant de les imatgeries de l'acumulació d'objectes i béns de consum, i dels arquetips (i frases fetes) relatius a la representació
i relació d'homes i dones.</p>

<p> En la trajectòria d'Eugènia al llarg dels setanta, però, llibres i cinema també han representat escapades cap a altres terrenys, temàtiques i plantejaments. Cal recordar, d'altra banda, que ja la primera obra que li coneixem és un llibre, <i>Möbius Spaces</i>
(1971, projecte de final d'estudis amb el que es graduà a la Universitat d'Iowa), i un llibre força cinematogràfic en certa forma, doncs està format per una doble seqüència fotogràfica que es desplega en forma d'acordió, tot mossegant-se la cua, de manera que, en un sentit, pot resseguir-se una deambulació de l'exterior
(el carrer) i la llum, a l'interior (la intimitat) i la foscor; i, tombant el llibre/acordió, un <i>continuum</i> d'imatges processades, multiplicades, superposades, que és com una visió a ulls clucs, una reminiscència del món real a través de l'imaginari, la fantasia o el somni. S'esbossa així una circularitat, una estructura cíclica que retrobarem repetides vegades d'ara endavant.</p>

<p> Després, en retornar a Barcelona l'any 1975, el primer que faria seria un film diguem-ne familiar, car el realitzà en estreta col.laboració amb membres de la seva família, i a partir d'un material familiar retrobat: el vell àlbum de postals de l'àvia Eugènia. Aquest film, intitulat <i>Àlbum
</i>(n'hi ha una segona versió de l'any 1978), ens endinsa en un altre temps a través de les imatges de les postals rebudes, les cal.ligrafies i els missatges escrits al dors, en un sensible viatge cinematogràfic pel contingut d'aquest àlbum ple de records. Al començament i al final del film, les imatges de l'àlbum que s'obre i es tanca posen entre cometes les altres, i així ressalten l'anar i tornar en el temps (emmagatzemat en l'objecte, la col.lecció de postals). Tinc per una de les grans obres d'Eugènia un petit llibret de només 32 pàgines, en forma de cartilla o quadern escolar: <i>Re-visió
(Humilde homenaje de respeto y gratitud a mis dignos profesores)</i>
(1977), que precisament recorda i antologitza amb ironia els vells quaderns de cal.ligrafia i ensinistrament escolar tan propis de l'Espanya franquista. Un sucós breviari que condensa gràficament i literària tota una època de pedagogia sinistra: "El Gobernador Civil es una autoridad", "La piel de visón es muy suave",
"Un carácter dócil es útil a quien lo posee", "Las uñas negras son repugnantes", etc. Una peça, per tant, que podem vincular simultàniament amb el vessant sociològic o semiòtic abans comentat, i amb el registre més personal, i fins i tot un punt autobiogràfic, que anem descobrint en alguns dels llibres i films d'Eugènia.</p>

<p> El film <i>133</i>
(1978-79), co-realitzat per qui això escriu, es basa exclusivament en unes imatges cinematogràfiques "trobades", seleccionades d'entre una gran quantitat de metratge (adquirit a pes, com qui diu, al mercat dels encants i altres caus de puces). És més, el so és igualment un element preexistent i paracinematogràfic per si mateix, doncs ha estat pres d'un àlbum d'efectes sonors, preservant-ne l'ordre mateix que tenen en el disc, agrupats per temes. El que ens vam proposar va ser il.lustrar aquest seguit de sons i sorolls diversos, tot casant-hi unes imatges preses d'aquí i d'allí --de productes i subproductes cinematogràfics de les més diverses espècies, gèneres, procedències i èpoques--, ja fos per arribar a una relació plausible d'ambdós elements (però que, força sovint, grinyola per algun cantó), o bé dinamitada per un casament del tot inversemblant. Així, malgrat l'afinitat aparent entre aquesta i tantes altres obres d'Eugènia(<i>Re-prise</i>, especialment) --per les constants d'apropiació i muntatge/collage d'imatges alienes preses de fonts mediàtiques--, el nostre propòsit era més aviat formal i un tant lúdic: com en el cas del llibre que Eugènia va fer en col.laboració amb Hac Mor, <i>Anar i tornar</i>, el film fou el resultat d'una mena de joc entre nosaltres. Un joc amb el so i la imatge, no tant amb la qualitat convencional, arquetípica, d'un element o l'altre, com amb la de la seva unió sintàctica. I també un joc amb l'heterogeneïtat i l'atzar dels materials i deixalles cinematogràfiques que passaren per les nostres mans, runes reciclades per posar imatges a una banda sonora que només les tenia acústicament.</p>

<p> <i>Fuga</i>
(1979), finalment, és un film que ens apropa força cap a on aniria l'art d'Eugènia just després. Hi fa aquí acte de presència un element, el cercle, que trobarem de manera recurrent entre les seves obres posteriors. El cercle imposa l'estructura que preval en el film: la càmera, situada en un punt fix, en el centre d'un espai interior, s'orienta consecutivament en dotze angles que abasten els 360¨0 de l'espai al seu voltant; i les preses fixes s'alternen amb constretes panoràmiques que fan avançar l'enquadrament d'un camp fins el següent. Tot això fou determinat prèviament sobre un diagrama de l'espai, i per mitjà d'una mena de partitura, a l'igual que les accions i les sobreimpressions creixents que s'esdevenen a mida que avança el film (i que motiven el títol del film, per analogia amb la progressiva superposició de veus en la forma musical del mateix nom).</p>

<p> Les portes que s'obren en aquest espai, tant com les sobreimpressions i la segmentació del cercle, propicien la "comèdia d'embolics" dels personatges que entren i surten de camp, que apareixen ça o lla, en aquesta o tal altra capa de la densitat en augment de la imatge. Però embòlics que són, primer de tot, de temps i espais, de presències i absències, de transparències i opacitats relatives. Doncs, també aquí, el propòsit és primerament formal:una música (fuga) visual feta amb imatges callades, silents.
Tanmateix, l'esperit casolà de les nímies accions representades, la fotografia grisosa, les limitacions congènites d'una càmera primitiva (de 16mm amb motor de corda, la qual cosa determina un peculiar <i>tempo</i> de preses si fa no fa uniformes en la seva duració), tot això dóna a l'obra un vernís de cinema amateur/familiar molt suggeridor, per contrast amb el bastiment formal/estructural que la tesa.</p>

<p> Les característiques ben diverses i l'espaiament temporal que separen a
<i>Fuga</i> de <i>Möbius Spaces</i> i <i>Àlbum</i>, tal vegada no siguin un impediment per entreveure allò que tenen en comú aquestes tres obres: amb imatges pròpies i personals, o que és com si ho fossin (l'àlbum de postals de l'àvia), cadascuna s'endinsa en la quotidianitat, la interioritat, la memòria,... Són així un preludi adequat per passar a examinar una nova etapa, la que comença quan Eugènia s'instal.la novament a Nova York al principi dels vuitanta, i quan l'anterior es tanca amb la realització de
<i>Travessant llenguatges</i>, pel que suposa d'enfrontament encara amb les imatges adotzenades dels mèdia.</p>


<p> <b>So i llum</b></p>

<p> L'inici d'aquesta nova etapa, d'altra banda, entronca parcialment amb les activitats artístiques i professionals d'Eugènia durant la seva estada anterior als Estats Units. Així, fa una segona sèrie de
<i>clear books</i> i, vinculada novament a l'estudi de disseny en el que ja havia treballat abans, reprèn també la realització de grans peces murals, desenvolupant més en concret una especialitat molt seva: els murals de postals.</p>

<p> A la vegada, en entrar en contacte amb diversos músics de la nodrida escena novaiorquesa de les "noves músiques", inicia un seguit de realitzacions i col.laboracions que agrupa amb el nom de
<i>Sound Works</i>
(1981), i que comprèn essencialment diversos vídeos i partitures.
Una mena peculiar de partitures (tanmateix no gens estranyes per als familiaritzats amb la música contemporània i les seves vessants més experimentals) on, per exemple, les línies del pentagrama es distorsionen i transformen gradualment en una seqüència de successives fotocòpies de fotocòpies, desplegades sobre el terra en forma d'espiral (<i>Xerox Music</i>, obra també concebuda en forma de llibre). O bé, on el pentagrama ha estat fixat sobre la transparència de bosses de plàstic que contenen petits objectes i coses (<i>Beach Music</i> i <i>Clear Music</i>); sobre transparències fotogràfiques (diapositives) d'aquelles; sobre unes imatges de vídeo (<i>Flight</i> i <i>Flight Variations</i>); o, senzillament, sobre el vidre d'una finestra (<i>Window Music</i>).
Un element sempre present és l'atzar o la impredibilitat: la progressiva mutació electrogràfica del pentagrama mateix, la mobilitat dels objectes embossats, el vol d'uns ocells a <i>Flight</i>, etc. Coses i imatges reemplacen les notes en aquestes partitures que anomenariem així visuals, si no fos que també són del tot musicals, havent tingut com a intèrprets a Peter Van Riper, Malcolm Goldstein i Barbara Held.</p>

<p> El vídeo
<i>Indian Circle</i>
(1981), realitzat en col.laboració amb Peter Van Riper, constitueix una doble improvisació simultània de música i imatge, al llarg d'una única presa de 30 minuts. La càmera es manté en un punt central de l'espai --com a <i>Fuga</i>--, però es belluga per instint i sinuosament --com al canal "personal" de <i>Travessant llenguatges</i>--, tot explorant l'espai al seu voltant, no en qualitat de testimoni ocular de l'acció musical de Van Riper, ans deixant-se embolcallar pel so i la llum, també pel silenci i l'ombra. Aquest errar adireccional, tant del <i>performer</i> com de la càmera, fa que aquesta evolucioni fluidament d'un lloc a un altre, ara resseguint el rastre sonor, ara emprenent una excursió
cap a les lluernes del sostre, de manera que l'espai pren múltiples facetes. El cercle és vist com un polígon d'innombrables cantons.</p>

<p> Tot i que els <i>Sound Works</i> constitueixen un cicle tancat, el so serà a partir d'aquest moment un element consubstancial a molts dels treballs d'Eugènia, el
"format" més usual dels quals esdevindrà la instal.lació
o ambient multimèdia, amb una presència més o menys destacada del mitjà videogràfic, sovint com un component múltiple, multicanal.
(Nogensmenys, <i>133</i> i <i>Fuga</i> ja eren també <i>sound works</i>
--fins i tot si, en el darrer cas, no hi havia so--, i a l'audiovisual <i>Ofertes</i> o al petit film <i>En la ciudad</i>, el so era també un element força acurat i pensat amb detall).</p>

<p> En el següent i ambiciós projecte, la vídeo-instal.lació <i>From the Center</i>, espai i cercle prenen les proporcions eixamplades de la gran urbs contemplada en 12 angles/aspectes, en un nombre igual de monitors que tracen una circumferència al voltant de l'espectador. Enmig, una pedra imposa la idea de centre, la unitat que lliga les múltiples imatges; és a dir, el lloc des d'on han estat realitzades totes les gravacions (la teulada de l'edifici on Eugènia vivia aleshores), tot apuntant la càmera en diferents direccions i a diverses distàncies.</p>

<p> Es tracta d'una (multi)visió
subjectiva de la ciutat de Nova York, que a la vegada és com si fos una ciutat imaginària, regida pels cicles universals del temps. La bullícia de la gran metròpoli a penes s'intueix en algunes de les imatges. Per contra, la impressió predominant pot ser per moments la d'una ciutat primitiva; amb un esquelet vell, però resistent. Una ciutat feta d'edificis més o menys atrotinats, de voluminosos dipòsits d'aigua que s'aixequen sobre el seu perfil irregular, d'estructures de ferro colat que zigzagueixen per les façanes,... i on es diria que es respira una certa calma. Certament, això també
és Nova York, i aquesta "altra" personalitat de la ciutat impregna moltes de les imatges (i de les sonoritats que les acompanyen). Només que, simultàniament, la instal.lació és la recreació d'un entorn genèric, encreuat per uns eixos d'orientació
en l'espai i el temps.</p>

<p> Eugènia ha dit que <i>From the Center</i>
és "un Stonehenge electrònic", i això no només per al.lusió a la planta circular de la instal.lació --o a la mateixa visió de l'urbs com una mena de monument megalític--, sinó sens dubte que referint-se també a la funció de rellotge o calendari astronòmic que els investigadors han descobert en els cercles de pedres de Stonehenge. Així, la planta de la instal.lació i la distribució dels monitors recorda l'esfera d'un rellotge, o també
la rosa dels vents i els punts cardinals que orienten els seus eixos vertical i horitzontal. I a l'espai, això es tradueix en enfrontaments d'una certa simetria entre el sol naixent i el sol ponent, i entre la lluna i el cicle/cercle de la nit al dia (i viceversa); quatre cercles dins del cercle total.</p>

<p> Entre aquests vèrtexs, la mirada s'allunya i s'apropa a les coses, oscil.la amunt i avall, s'atura i es mou en totes direccions: una presa estàtica d'una cantonada, les giragonses del vol d'uns ocells, el mosaic apressat de centenars de detalls copsats en un mateix angle, visions panoràmiques i prismàtiques de l'espai urbà, espurnes de llum i de foc que il.luminen la nit animada per un ritme accelerat. Cadascuna de les cintes té una concepció i tractament propis, on la càmera sempre
és l'estri principal, amb l'oportú complement de teleobjectius, prismes i efectes de postproducció força senzills. Aquesta simplicitat i claredat òptica (fins i tot si les imatges prenen densitat o esdevenen fugisseres en tal o qual canal), donen a la instal.lació el seu caliu, atiat per la complexitat simultània de l'estructura multicanal circular, car les cintes tenen duracions diferents i una banda sonora pròpia, la qual cosa enriqueix la multiplicitat de percepcions de l'obra.</p>

<p> Donat que
<i>From the Center</i>
és una obra de la que en certa manera irradien altres realitzacions posteriors, les dues instal.lacions cronològicament consecutives, <i>Color Fields</i>
(1984) i <i>Teixit TV </i>(1985), podria dir-se que obren un interval --el que més literalment s'aproxima als purs ingredients de so i llum amb els que he batejat aquesta secció-- on els elements visuals han estat reduïts al mínim, portats a l'aparent abstracció de pures variacions lumíniques i cromàtiques; tanmateix, no de del tot exemptes de suggeriments figuratius o vestigis icònics. En el primer cas, es tracta d'una cambra o espai tancat, totalment pintat de blanc i només il.luminat per la llum emesa per quatre monitors encastats a les parets, quatre cintes on uns camps de colors plans es succeeixen, llisquen els uns sobre els altres, o s'obren en ventall, tot composant "paisatges", composicions cromàtiques elementals, que a la vegada modulen la il.luminació i coloració en canvi constant de l'espai, ambient audiovisual. <i>Teixit TV</i>, en canvi, pren la forma d'un mural de múltiples televisors encastats, de les pantalles dels quals (de diferents tamanys) només resten visibles unes estretes franjes horitzontals, amb el bellugueig de colors i tons canviants dels punts i línies de diferents emissions televisives (que, així, esdevenen abstraccions cromàtiques, si bé encara és possible d'endevinar i reconèixer determinades icones). Ambdues instal.lacions comparteixen a més les estranyes sonoritats extretes per Peter Van Riper d'uns bats de béisbol d'alumini, retallats a diverses llargàries.</p>

<p> Cal afegir que aquest interval consagrat a la llum i el color (i, per afegiment, el so) no és que surti del no res, sinó que té un cert nombre de precedents en altres realitzacions d'Eugènia: dels primers <i>Clear Books</i>
(per exemple, els intitulats <i>Combinations 1234</i>, <i>Red Book</i> i <i>Colors</i>), fins al vídeo <i>Tomorrow's Colors</i>
(1982). I evidentment, també té molt a veure amb els <i>sound works</i> i amb la creació d'ambients audiovisuals, espais, estances, cercles, panorames, diorames, espirals, laberints i murals, que tals són alguns dels sinònims més adequats a fi de substituir la prosaica veu "instal.lació" quan hom parla del seu treball.</p>


<p> <b>Redescobriment del Mediterrani</b></p>

<p> L'anar i tornar d'Eugènia l'ha portada, d'uns anys ençà, a mantenir un peu a Catalunya i allargar l'altre cap a Nova York, però més de tant en tant. Així, dues de les seves obres més recents, <i>Exposure Time</i> i <i>Seeing the Dance</i>, són profundament arrelades en les voreres catalano-mediterrànies, malgrat que tinguin els títols en anglès i que certs aspectes de producció fossin treballats als Estats Units (concretament: la postproducció de vídeo; el so, sempre amb la col.laboració i el segell de Peter Van Riper; també gran part del finançament en el cas de <i>Seeing the Dance</i>).
Això no equival a dir que les arrels imposin "color local", perquè, senzillament, no és part de la paleta d'Eugènia, que prefereix els colors universals, els colors del temps; però sí que comporta el matís peculiar d'unes vivències i memòries, fruit del retrobament amb la ciutat natal, o amb el paisatge "llunàtic" del Cap de Creus.</p>

<p> <i>Exposure Time</i>
(1989) ens retorna en certa manera a la temàtica explícita i latent de <i>From the Center</i>: la ciutat i el curs del temps. Ara es tracta, però, de Barcelona, i del procés accelerat de remodelació urbana que va viure la ciutat amb motiu de la celebració dels Jocs Olímpics de 1992. Eugènia composà aquesta obra com un diorama, una vista tridimensional (o, més aviat, tetradimensional, car hi ha la dimensió temporal afegida d'uns elements videogràfics, lumínics i sonors): un paisatge d'enderrocs i restes arquitectòniques erosionades per l'aigua del mar, sobre un jaç de sorra de la platja --tot això pres de la vorera costera de la zona on es construiria la Vila Olímpica--, i amb el rerafons d'una projecció videogràfica circular. El conjunt, irrealment envoltat per unes parets platejades i per la banda sonora de Peter Van Riper, és emmarcat per una gran obertura rectangular que atura a l'espectador davant del cicle canviant que il.lumina o apaga lentament l'escena, en correspondència amb la lluminositat igualment canviant de les imatges projectades: essencialment, reflexes lluminosos sobre la superfície mòbil del mar. Per contra, les imatges simètriques de dos monitors situats a banda i banda de l'accés al recinte de la instal.lació, ens mostren el procés de demolició que donaria pas a la construcció de la Vila Olímpica sobre el que havia estat una zona suburbial de la ciutat; només que Eugènia va processar aquestes imatges documentals per tal de portar-les també a un cert grau d'abstracció; per fer-les més universals, que diguéssim, o no tan ancorades i datades en un lloc i moment concret.</p>

<p> Tanmateix,
és per la combinació d'uns elements ben reals i concrets
(referències i coses) amb uns altres més abstractes o simbòlics, que l'obra esdevé tan suggeridora i punyent, independentment de que es coneguin o no els detalls referits a la història recent de Barcelona i a l'indret on Eugènia va trobar les runes incorporades al diorama. Com ella ha remarcat   expressament, <i>Exposure Time</i> no vol ser un lament o una elegia per un tros de ciutat arrasat en benefici d'una actuació urbanística envoltada d'una certa polèmica, ans si de cas seria una meditació sobre la transformació i la regeneració de la ciutat, sobre la memòria i la desaparició, sobre el temps i els seus cicles. Així, aquestes runes/ruïnes desgastades que presideixen el diorama, no són aquí en qualitat de testimoni de càrrec, o de làpides funeràries, sinó per la seva bellesa en tant que escultures cisellades pel temps. I tota la instal.lació no és altra cosa que una posada en escena del pas del temps, reflectit de diverses maneres en cadascun dels elements: el moviment de les ones, els enderrocaments que precediren la nova construcció, el pas de la llum a la foscor i de la foscor novament a la llum.</p>

<p> Ben poca cosa puc dir de <i>Seeing the Dance</i>
(1987-92), instal.lació encara inèdita, i bessona de <i>From the Center</i> en certs aspectes: per l'estructura circular integrada per 12 canals de vídeo (però ara amb les imatges projectades sobre pantalles translúcides que s'eleven en espiral), per la presència d'un element simbòlic central (ara un mirall esfèric on es reflectirien l'espai i les imatges al seu voltant), per les evocacions del curs i els cicles del temps (aquí, a través de sobreimpressions d'imatges històriques o que desperten memòries d'un altre temps). El paisatge de Cap de Creus i els seus encontorns fou escollit per la seva peculiaritat geològica, com per la rica memòria cultural associada a tants dels seus paratges --el monestir de Sant Pere de Roda, Cadaqués i Port-Lligat, el Port de la Selva, etc.--, on heretges i savis, corsaris i bruixes, artistes i poetes, surrealistes i
"atramuntanats" són tots part d'una pintoresca llegenda.
Així, a les imatges preses per Eugènia es superposen, per exemple, extrets del film <i>L'âge d'or</i>, de Luis Buñuel, amb els inequívocs llampecs que resten de la interrompuda col.laboració amb Salvador Dalí; o també fotografies, postals, etc. A diferència de <i>From the Center</i>, però, els 12 canals de vídeo (i àudio) estan sincronitzats i tenen una durada uniforme, amb una estructura igual, dividida en quatre fases alegòriques als quatre elements: terra, aigua, aire, foc/llum; principi coreogràfic i cronogràfic d'aquesta multivisió de "la dansa". I la instal.lació ha de completar-se amb un element escultòric o assemblage a tall de llindar introductori, fet, com el diorama d'<i>Exposure Time</i>, de coses arreplegades en el mateix paisatge representat, o bé
al.lusives als materials iconogràfics emprats en els estrats de temps passat que donen densitat a les imatges videogràfiques.
(Igualment inèdita roman la variant d'aquesta obra intitulada
<i>Hearing the Dance</i>, que prescindeix dels elements videogràfics i es basa exclusivament en els sonors, anàlogament desplegats en una espiral de 12 canals/altaveus).</p>


<p> <b>L'art públic d'Eugènia Balcells</b></p>

<p> He deixat per al final un aspecte encara no gaire conegut de la trajectòria d'Eugènia, però
que es remunta, un cop més, a la seva primeríssima etapa i, més en concret, a la seva intermitent activitat en el món professional del disseny. Em refereixo a les grans peces murals, fetes d'acumulacions ordenades d'imatges o coses, que realitzà als Estats Units entre 1974-1975 i 1981-1986, més una altra que l'ha mantinguda ben ocupada
(i preocupada) a Barcelona els darrers anys.</p>

<p> Tot i que, pel que sembla, sempre comptés amb una gran llibertat en el plantejament i execució
d'aquestes peces, i que hi aboqués tota la seva habilitat i energies, Eugènia no sembla que valori per un igual el bon nombre de murals que realitzà en el passat per a les seus de diferents empreses nord-americanes. Quan li en vaig demanar detalls, a fi de preparar aquestes pàgines, em va semblar que ho tenia per una experiència més, un ofici del que s'havia alimentat en determinats moments i que li havia permès fer coses força properes al seu treball artístic personal, o que senzillament tenia molt per la mà.</p>

<p> Però també interpreto que, en un determinat moment, Eugènia va entreveure l'oportunitat de fer del tot seu aquest treball que, correntment, havia fet per compte d'altri. L'oportunitat d'imposar-hi la seva signatura com un art no menys personal, destinat a un context públic; és a dir, no a la galeria, el museu o la col.lecció d'art contemporani, sinó a llocs de pas o que atreuen un públic més divers. De fet, sempre a mig camí del que és l'encàrrec i el que és una proposta personal; i amb el compromís que es genera entre els condicionaments acceptats i la personalitat que es demana de l'obra destinada a una permanència indefinida en un lloc determinat.</p>

<p> I així és com, en catàlegs o articles consagrats a l'obra d'Eugènia, començaren a aparèixer --des de la meitat dels vuitanta--
il.lustracions de murals com <i>Landscape of Landscapes</i>
(1981) i <i>Liberty, A Symbolic Puzzle</i>
(1986). El primer, realitzat per a una coneguda empresa tabaquera, és format per un miler i mig de postals antigues que representen l'extensió geogràfica de l'estat de North Carolina, on té la seu la dita empresa, a través dels colors dominants del seu relleu topogràfic. El segon, realitzat amb motiu del centenari de la plantada de l'emblemàtica Estàtua de la Llibertat, i instal.lat en el museu que hi ha al peu del monument, és un mosaic de vuit-centes i escaig postals diferents de la pròpia estàtua, les quals, de lluny, dibuixen doblement, en positiu i en negatiu, el perfil coronat del seu cap i el braç aixecat amb la torxa, com si fossin imatges digitals fetes d'aquests pixels analògics que esdevenen aleshores els centenars de vistes del monument.</p>

<p> Dels altres murals realitzats per Eugènia als Estats Units, potser el més remarcable sigui <i>333
(Cabarrus Quilt)</i>
(1982), realitzat amb 333 retalls, de dimensions uniformes, de robes estampades diverses, els quals foren cosits per un petit exèrcit de dones, com és propi d'aquesta mena d'artesania tèxtil, essencialment casolana i femenina, de gran tradició a Amèrica.</p>

<p> I a la fi d'aquest trajecte, cal recordar que Eugènia té una obra encara guardada --molt a desgrat seu--, i en la que ha treballat laboriosament durant prop de tres anys: <i>Barcelona, postals de postals</i>
(1988-90, aproximadament), que consta de nou plafons murals, cadascun fet de centenars de postals --fins un total de més de sis mil postals diferents de diversos indrets i motius de la ciutat--, i amb les proporcions d'una postal gegantina. Com en el cas de <i>Liberty...</i>
(però multiplicat per 9), cada una de les peces, vista de lluny, representa una icona o aspecte característic de la ciutat, i cada tot queda reflectit fractalment en les parts que, en apropar la mirada, ens descobreixen una miríade de vistes del mateix indret, o altres aspectes d'alguna manera al.lusius al que es fa visible en
"pla general".</p>

<p> Malgrat que en algun lloc ha quedat escrit --concretament, en una anònima nota biogràfica de l'artista-- que <i>Liberty...</i> i <i>Barcelona, postals de postals</i> constitueixen "incursions en la línia sociològica dels seus treballs inicials", jo no ho veig així, i més aviat destacaria els lligams entre aquells projectes i altres si fa no fa contemporanis --com <i>From the Center</i>, <i>Seeing the Dance</i> i <i>Exposure Time</i>--; no endebades la pròpia Eugènia ha descrit el seu multi-mural barceloní com "un gran retrat múltiple de la ciutat com a forma viva, com a escenari canviant", i com un "puzzle" on es "preserva la memòria col.lectiva en el que podriem anomenar una arqueologia del present". (En el moment en que això
escric, encara no està massa clar on aniran a raure aquestes postals de postals, homenatge d'una artista barcelonina a la seva ciutat i conveïns, i fruit d'un encàrrec municipal, com a part del programa que ha escampat pels diversos barris de Barcelona les creacions més o menys singulars d'un bon nombre d'artistes contemporanis).</p>

<p> Una proposta d'art públic de mena ben diferent és, finalment, la representada per <i>El laberinto de la caracola</i>, proposta per ara frustrada, amb la que Eugènia va concórrer a una convocatòria de projectes per a l'Expo 92 de Sevilla, i on trets habituals del seu art voldrien prendre una nova volada; a una escala crescuda, prop de l'arquitectura (que, d'altra banda, és una cosa que a Eugènia li ve de família). Una arquitectura que resta de moment utòpica, car només s'aixeca en forma de maqueta.</p>


<p> <b>En trànsit (Breu colofó)</b>  </p>

<p> De l'exterior (el paisatge, la ciutat, el laberint-jardí), Eugènia retorna a l'interior en l'obra que motiva aquesta publicació. L'esguard cap endins, com el cap a fora, comporta també laberints, cercles, estances només il.luminades per la imatge (videogràfica o fotogràfica). El camí
amunt i avall és un i el mateix. El propòsit és sempre un de multiplicació de les percepcions, d'anar a la complexitat de les coses, de descobrir la identitat en les diferències.</p>

<p> <i>En trànsit</i> significa més aviat endinsar-se: en el laberint dels miralls i de l'atzar, i en els plecs de la realitat i les aparences; en la gola humana, caverna interior on la llengua és com una catifa polposa que es mou endavant i enrera, com si alternativament ens volgués engolir o repel.lir; en l'interior del cos, imatges negatives que són com radiografies que travessen tot just la pell; en les múltiples persones, màscares, criatures entrellucades en un cos nu; i en el centre dels cercles que el visitant troba successivament. (Sense pretendre endinsar-me en altres detalls i interioritats de l'obra).</p>

<p> Així, en el conjunt de les cinc instal.lacions que integren <i>En trànsit</i>, s'hi poden reconèixer aspectes, plantejaments, trets molt característics de la trajectòria anterior d'Eugènia, però també
algun element aparentment nou, com aquest protagonisme que guanya el cos humà, representat com una mena de matèria "escultòrica" a base de pell, porus, forats, coves --sense més afegits que el realç de la llum--, en una multiplicitat de poses i angles de visió.
Només que també això de "treballar amb el cos" --tal com ella ho anomena, en un sentit més genèric-- li ve de lluny. De les conseqüències d'un accident que va patir de molt jove, entre altres coses, i d'un interès per expressions confrontants amb la dansa que ja l'havien duta a algunes molt personals provatures en el marc de la sèrie dels <i>Sound Works</i>
(en són testimoni els vídeos <i>Black Feet</i> i <i>Around</i>, ambdós del 1981). I, ara, a col.laborar amb qualcú dedicat a extreure les veus i els mormols interiors del cos, Sjabbe Van Selfhout, en les peces que formen el nucli d'<i>En trànsit</i>.
Amb la peculiaritat intrínseca que sol comportar tota col.laboració, però amb continuïtat amb un trajecte propi, trànsit, anar i tornar i tornar a anar, sempre a la recerca del punt quiet on es fa visible la dansa.</p>


<p> Barcelona, juliol de 1993</p>
 