  <p> <b>UN PARISENC DE CATALUNYA</b></p>

<p>
(x) Eugeni Bonet</p>


<p> Joan Rabascall, nat a Àger (Lleida) i establert a París des de fa trenta anys, podria semblar que no és pas un assidu de la terra on va néixer i créixer. Si us mireu el seu curriculum, veureu que la seva anterior exposició individual a la nostra ciutat fou l'any 1976, a la Galeria 'G', un efímer bastió barceloní de l'art alternatiu. Les dades i dates d'altres mostres personals posteriors palesen però que en Rabascall l'ha trepitjada força sovint la geografia dels Països Catalans: Ciutat de Mallorca (1977), Cadaqués (1978), Figueres (1982), Perpinyà (1985). I tots aquests camins, el duen també a Barcelona (o a l'inrevés). Després hi ha la seva participació a nombroses exposicions i activitats col.lectives; i, entre aquestes, potser les que més han contribuït a regularitzar la presència i el coneixement de la seva obra entre nosaltres han estat les mostres <i>Barcelona-París-New York: El camí de dotze artistes catalans, 1960-1980</i>
 (al Palau Robert de Barcelona, desembre 1985 i gener 1986) i <i>Idees i Actituds: Entorn de l'art conceptual a Catalunya, 1964-1980</i>
(al Centre d'Art Santa Mònica de Barcelona, gener i febrer 1992), ambdues organitzades pel Departament de Cultura de la Generalitat de Catalunya.</p>

<p> En Rabascall és un dels <i>outsiders</i> que mostres com les esmentades han volgut rescatar en bloc d'entre la marginació soferta per determinats episodis, pràctiques i cossos estranys a l'art català contemporani. Una marginació que podriem dir que és la que el va decidir no a marxar, sinó a quedar-se a París. Ell, però, vol deixar ben clar que no es considera un desarrelat i que, com a "català de París", no només torna a la seva terra quan té el viatge pagat. És per això que en aquestes pàgines se m'ha demanat de reflectir aquesta relació, presència, contacte constant. En Rabascall, ben organitzat i meticulós com és ell, m'ha fornit d'antuvi la documentació o les pistes sobre tot un seguit de col.laboracions, participacions, lligams, exposicions i actuacions a Barcelona i a Catalunya en general. Jo, al marge d'ordenar literàriament aquestes dades, tot privilegiant-ne les més rellevants, hi afegeixo les meves observacions sobre la persona i l'obra, i del que, en relació amb el nostre àmbit artístic, pot anar més enllà de l'anècdota personal, per tal de situar l'artista contra el rerafons simultani de l'art a casa nostra: d'unes situacions viscudes per tant amb certa distància, però amb no tanta com per a dir-ne llunyania.</p>

<p> D'entre el paperam que Rabascall m'ha proporcionat, trobo un punt per on començar arran d'un intercanvi de correspondència ben recent: el que es produeix entre ell i Josep Benet, director del Centre d'Història Contemporània de Catalunya, entre 1990 i 1991, quan Rabascall fa donació dels seus arxius com a delegat a l'exterior que va ser, del 1963 al 1969, de l'organització
estudiantil clandestina FNEC, Federació Nacional d'Estudiants de Catalunya; una documentació curosament preservada que avui es troba ja a l'Arxiu Nacional de Catalunya. Aquest és el Rabascall
<i>arxivista</i>, una faceta molt personal (privada) que retrobarem altres cops al llarg d'aquesta recapitulació de les seves activitats i aportacions a (o per a) Catalunya. I també l'<i>activista</i>, partícip, militant, agent extern d'un moviment de resistència antifranquista, amb el que això té d'il.lustratiu d'una altra faceta, social i ètica, que impregna a la vegada tota l'obra de Rabascall l'<i>artista</i>.
Una obra sovint qualificada de <i>crítica</i> i <i>analítica</i>, ans també <i>irònica</i>, que pren per objecte certes iconografies que ens envolten: unes imatges rebudes que ell selecciona, aïlla i emmarca, tot composant un <i>sottisier</i> visual a la mida de les absurditats i de les veus prepotents dels mestres i amos del nostre temps. No tant un art conceptual o d'idees com un art <i>actual</i> i d'actituds. 1</p>

<p> Al començament dels anys seixanta, però, Joan Rabascall era tot just un aprenent d'artista, amb la precària formació d'uns cursos vespertins de dibuix a l'Ateneo Obrero (en castellà, si us plau!)
que hi havia al carrer Montcada, seguits d'estudis a l'Escola Massana
—en una fosca etapa de conservadorisme a ultrança de la dita institució—, i del complement més estimulant d'uns cursets clandestins que donaven Alexandre Cirici i altres intel.lectuals. Fou el 1962 quan, gràcies a una beca de 50.000 pessetes de l'Excelentísima Diputación Provincial de Barcelona, marxà cap a París per tal d'estudiar gravat a l'École Nationale Supérieure des Beaux Arts. El seu aclimatament a la ciutat de la llum ens és descrit per Pierre Restany a la següent citació, de la qual en recalco un tret caracteritzador:</p>

<p>
"Quan Rabascall s'instal.la a París, ho fa amb la intenció de quedars'hi per sempre. Encara que sovint es desplaça a Barcelona, Rabascall ja no abandonarà més París i s'hi estarà com un <i>vianant</i> i esdevindrà un observador, un enregistrador dels elements estructurals del seu entorn. Viurà en la realitat sociològica en estat primari, i verificarà l'experiència de les coses viscudes".
2</p>

<p> A París, Rabascall es trobarà endemés amb altres artistes catalans: amb Antoni Miralda el mateix 1962 i, més tard, amb Jaume Xifra i Benet Rossell. Juntament amb la Dorothée Selz —parisenca de soca-rel, però també un xic catalana per vocació— formaran el grup que hom coneix pel sobrenom dels "catalans de París".
Però, abans que el grup al complet actuï com a tal, és a dir col.lectivament, en els arrauxats rituals i cerimonials i saraus dels anys 1969 i 1970, el vianant Rabascall no és que s'hagi pas estat quiet a París, sinó que ha respirat diferents aires, ha viatjat per tota Europa, i també als Estats Units i a Nova Zelanda (allí, per a representar la FNEC a la Conferència Internacional dels Estudiants, el 1964); i ha exposat a Amsterdam (1964) i a l'ICA, Institute of Contemporary Arts, de Londres (1967, es diu que per empenta de Joan Miró, a qui Rabascall i Miralda van conèixer a la ciutat del Tàmesi).</p>

<p> L'obra de Rabascall durant els anys seixanta no m'és gaire coneguda. En aquest període cultivà essencialment el collage i el fotomuntatge, i fou llavors que descobrí les possibilitats de la tela emulsionada, o la manera de traslladar imatges fotogràfiques al suport característic d'allò que anomenem un "quadre". Hom podria pensar que aquesta fou una etapa formativa i ja molt allunyada de l'obra de Rabascall als anys setanta, vuitanta i el que portem dels noranta. Però, en el catàleg de l'exposició <i>Barcelona-París-Nova York</i> i en alguna publicació més, hi he pogut veure reproduïdes algunes obres d'aquest primer període, i em sembla que en Rabascall pot exhibir-les sense cap vergonya, perquè
si bé poden ser vistes com força primerenques i pròpies d'una altra època (ah! els feliços seixanta), serven tanmateix un pes específic, un coeficient artístic que el pas del temps no ha devaluat. (Unes al.lusions duchampianes, aquí i allí, em sembla que no estan fora de lloc, puix que Rabascall ha dit: "m'incloc entre aquells per als qui Duchamp és una referència molt important"). 3</p>

<p> Com he dit, abans de fer pinya amb els altres
"catalans de París", Rabascall es belluga, no para quiet, es desplaça, va i torna. I així és com, episòdicament, reapareix a Barcelona el 1968, en una exposició de grup intitulada <i>Nova Pintura Catalana: gravat i cinema</i>, a la Galeria As, i en companyia d'Albert Porta (que després es reencarnarà en Zush), Robert Anglada, Joan Duran Benet, Jordi Galí, Francesc Artigau, Guillem Ramospoquí, Ernest Salvadó i el Taller d'Arquitectura de Ricardo Bofill. El full que feia de catàleg i llista de preus de l'exposició revela que s'hi exhibiren litografies, serigrafies, aiguaforts (aquests de Rabascall) i dibuixos, en edicions limitades i no limitades i a preus que anaven de 150 a 2500 pessetes. Quan al cinema, probablement el posaren Joan Duran Benet i el seu germà Oriol (a la vegada editor d'alguns dels gravats), potser també Bofill, amb els seus films de petit format.
Si m'entretinc en aquesta episòdica associació de Rabascall amb els artistes que he anomenat —uns força coneguts, altres molt oblidats, alguns desapareguts de l'escena artística, i alguns reapareguts recentment—, és perquè aquella petita,
¿intranscendent?, exposició, reuneix alguns noms representatius de certes inquietuds renovadores entre la plàstica catalana d'aquell moment. Quelcom que es manifesta tant en la seva pintura i obra gràfica, seriada, com en l'art eixamplat, expandit, d'uns nous mitjans, doncs el cinema de petit format ho era plenament, arran del ressò de l'<i>underground</i>.</p>

<p> <i>Maig 1968</i>: un collage de Rabascall així intitulat es troba reproduït dintre del número de maig de 1970 de la revista <i>Serra d'Or</i>, parcialment dedicat a recordar els fets de París de dos anys abans. La coberta és també de Rabascall i —triple presència!— a les pàgines d'art hi trobem un article sobre la seva obra i trajectòria escrit per Alexandre Cirici i Pellicer, l'incansable anotador/apuntador de l'actualitat artística a la publicació montserratina. 4 Aquest article és valuós sobretot per la informació biogràfica que dóna, i per la contextualització que en fa. Tot remarcant que tracta d'un artista que "dintre de Catalunya continua essent molt poc conegut", Cirici hi reflecteix d'altra banda un cert sentiment de familiaritat i agraïment envers l'artista i l'amistós corresponsal, a qui en una carta datada del novembre de 1966 havia escrit:</p>

<p>
"...haureu notat que sovint parlo de vostra obra, malgrat que només en tinc la notícia indirecta que em donen les fotografies...
El juliol vaig rebre una lletra vostra que em va donar una immensa satisfacció, perquè estic acostumat a la paradoxa de viure sempre pensant en tota la vostra comunitat i de sentir-me, en canvi, molt solitari".</p>

<p> Cirici, un senyor de Barcelona, però un xic parisenc per vocació, efectivament va escriure en repetides ocasions sobre Rabascall i els altres catalans de París (i sobre els catalans de tot arreu). Però el corresponsal, l'agent extern, li proporcionava endemés un doll d'informacions que ell recollia en part en la concisió de les seves notes i escrits a <i>Serra d'Or</i>, tot un dietari de l'art català
en els anys seixanta i setanta. A l'article abans esmentat, referint-se a Rabascall i als altres membres del grup català de París, es fa ressò dels seus plantejaments en aquell moment, i de la gestació de les seves actuacions més característiques:</p>

<p>
"Veuen clar que l'<i>art necessita un exercici quotidià de la llibertat</i>; si no <i>no pot ésser ni crític, ni aproximació de la realitat, ni expressió, ni poesia</i>.</p>

<p>
"[Rabascall] Estima que caldrà cercar una tercera via, potser a l'art gratuït dels <i>happenings</i> o de l'art pobre, amb participació dels espectadors, o potser en un art completament polititzat, revulsiu i escandalós però preservat del didactisme i del pamflet. Però no deixa de veure que el
<i>happening</i> i àdhuc l'art pobre poden ésser modes manipulades al servei del consum i que l'art polititzat pot ésser encerclat per ortodòxies rígides. El 1969 ens escrivia aquestes idees i apuntava una altra possibilitat encara, la de col.laborar en un espectacle total com el que intenten de fer els del New York Bread and Puppet Theater.</p>

<p>
"A final d'any, als primers dies de novembre, aquesta possibilitat ja es feia real per al grup de catalans de París amb els quals treballa Rabascall. El gran <i>Ritual mortuori</i> realitzat al castell de Verderonne en fou la primera manifestació". 5</p>

<p> Amb el títol de <i>Ceremonials</i>
(sic), l'exposició i el film documental presentats l'any 1974 al Col.legi d'Arquitectes de Barcelona foren una ocasió de conèixer més de prop l'activitat del grup català de París, prèviament envoltat per la llegenda colorista dels seus peculiars <i>happenings</i>, difosa a través dels articles i ressenyes de Cirici i de Maria Lluïsa Borràs. Tanmateix, llavors Rabascall ja havia abandonat l'equip per a recloure's en el seu treball personal, que Daniel Giralt Miracle ha descrit com "una pràctica simple, sense sofisticacions i no mancada d'una poètica compositiva en el tractament". 6 O, com Rabascall ho va dir, segons una significativa declaració recollida per Pierre Restany: "He deixat el technicolor per a Miralda i m'he passat al blanc i negre".
7</p>

<p> El grup, però, era més que un clan de conjuradors de la festa lúdica, i cadascú tenia la seva obra i, a més a més, les col.laboracions que sorgien espontàniament de la pregona amistat; com en el cas dels films, no menys llegendaris, de Benet Rossell amb els diferents membres de la "família" o comunitat dels amics i <i>copains</i> de París. <i>Bio-Dop</i>
(1974), el petit film que Rabascall i Rossell realitzaren conjuntament, és paradigmàtic d'aquella voluntat de desvincular-se del technicolor, ja que la base n'és tot un seguit de tronats, però
hilarants, filmets publicitaris d'un mateix producte (la marca de brillantina del títol), entre els quals s'hi introdueixen tot just algunes imatges fixes, composades, o senzillament triades, per Rabascall amb una intencionalitat de <i>détournement d'images</i>. 8 (La primera projecció
pública d'aquest film a Barcelona fou probablement en una sessió
golfa al Cine Arkadín, a l'estiu del 1978, juntament amb altres realitzacions cinematogràfiques de Rossell amb Xifra i Miralda).</p>

<p> En gran part, el treball de Rabascall de després del 1968 s'organitza en sèries de <i>tableaux</i>, composats essencialment per imatges preexistents, traslladades a la tela emulsionada amb l'eventual juxtaposició de petits textos, lemes o mots: <i>Maig</i>
(1969-70), <i>Homenatge al Black Power</i>
(1969-70), <i>Kultur</i>
(1972), <i>La voz de su amo</i>
(1973), <i>L'art contra la ideologia</i>
(1974),  <i>Spain is different</i>
(1974-76), fins les sèries dels <i>Paisatges</i> i de <i>La lliçó de pintura</i>, que el mantindran ocupat tot al llarg dels anys vuitanta. Rabascall treballa doncs sobre un repertori aparentment limitat d'icones que apareixen, desapareixen i reapareixen successivament: imatges pornogràfiques i símbols de revolta, televisors reiteratius i retalls de premsa desproveïts gairebé de tot sentit, imatges de l'Espanya "diferent" i "en pau" del Generalísimo Franco, paisatges de la degradació ecològica, carrinclones làmines per a l'aprenentatge de la pintura de cavallet més suada.</p>

<p> Indirectament, Rabascall és d'altra banda un dels responsables de la divulgació del concepte d'<i>art sociològic</i> entre nosaltres, puix que va participar cap el 1973 en les reunions que, al voltant d'aquest concepte, aplegaren a un grup d'artistes que volia ser internacional i obert, però que finalment esdevindria un trio tancat, usurpant-ne el nom el Collectif d'Art Sociologique de Fred Forest, Hervé Fischer i Jean-Paul Thenot. 9 Així es dóna la paradoxa de que Rabascall va contribuir a que aquest terme s'incorporés al lèxic artístic dels anys 70, esdevenint un concepte vastament usat i abusat allí i aquí, a la vegada que sentí la necessitat de desmarcar-s'en, segons ho suggereixen aquestes línees, tant pròpies del seu esperit <i>de corps</i> i independent al mateix temps:</p>

<p>
"...moi personnellement, je n'aime pas beaucoup les definitions et les étiquettes sur tout ce qui se passe actuellement, car plus on
étiquette, plus on archive, plus on enterre... et moi, et pour les amis, l'art c'est la vie, et la vie c'est l'art quoi, alors moins on définit plus ça vaut pour vivre à l'aise et ceci pour tout le monde". 10 
</p>

<p> Després de la mort de Franco, Rabascall tindrà
l'oportunitat d'exposar la sèrie <i>Spain is different</i> a la Galeria 'G'
(abril-maig 1976): un entorn d'imatges prou familiars per a qualsevol nadiu, composades en díptics d'elements de diferent tamany i color, amb imatges i textos, retalls i fotomuntatges, juxtaposicions i associacions que traspuen un sarcasme sec, sense floritures gratificadores, ni en el pla del gaudi estètic ni en el del <i>clin d'oeil</i> intel.lectual. Puix són més aviat imatges grolleres, emblemes impresentables on ressona el gloriós lema turístic-franquista del títol genèric de la sèrie.
Per exemple, la pantalla d'un televisor, plena de pilotes de futbol i amb el mot "cultura" com si fos un subtítol; i, al costat, un retall de premsa que palesa la tristor de les pantalles cinematogràfiques espanyoles sota la "diferència" del règim franquista.</p>

<p>
És al voltant d'aquesta exposició individual que Rabascall ha reprès amb més freqüència i regularitat la seva presència i participació a l'escena artística catalana (i a la resta de l'estat). A partir del 1973, participa doncs en nombroses exposicions, projectes i edicions. La lletra petita del seu curriculum reflexa la seva participació en totes les petites iniciatives i ressorts que proven de desnuar el fardell de la cultura, aquest sí que prou "atado y bien atado", tot i que avui es prefereix pensar que no era així. Hi trobem doncs exposicions en homenatge a Foix i a Miró (ambdues l'any 1973), i en favor de l'amnistia (1976); i també exposicions de totes les menes d'expressió artística alternativa i marginal en les que Rabascall s'hi troba còmode: de la tramesa postal (alias <i>mail art</i>) a la poesia visual, i de l'objecte al llibre d'artista i altres edicions seriades (postals, gravats i múltiples), tot passant pel cinema de petit format (per la seva participació a <i>En la ciudad</i>, 1976: un film col.lectiu que va endegar el qui això signa, tot volent revifar el cinema experimental i d'artistes entre nosaltres).</p>

<p> Endemés, aquesta lletra petita enregistra tot un seguit de llocs, iniciatives i projectes: la Fundació Miró, quan encara bategava el seu plantejament original d'esdevenir un lloc viu i de recolze de l'art jove i més experimental, així com l'Àmbit de Recerca que s'hi va constituir (i també desfer-se) a la segona meitat dels setanta; el col.lectiu d'artistes que es va aplegar a l'entorn de la Galeria 'G' i, més tard, a partir de 1980, el que va contribuir a posar en marxa l'espai Metrònom de Rafael Tous; les efímeres publicacions de l'<i>Art Enllà</i> de Manel Valls, "Col.lecció de postals d'art contemporani", a la que Rabascall va contribuir-hi amb la sèrie <i>Oda
(Freudiana) a Barcelona</i>, 1977, recull de la iconografia fàl.lica en l'arquitectura i monuments de Barcelona; les encara més comptades de la revisteta <i>Visual</i> del FVI, publicació periòdica (que no ho va ser) dedicada al cinema, el vídeo i els mitjans alternatius, en el segon, i últim, número de la qual (1978) Rabascall hi va publicar el projecte d'un film que no arribà a realitzar, <i>Megalòpolis</i>; i les més pulcres de Les edicions dels dies, de la llibreria sabadellenca del mateix nom (il.lustracions al llibre de Jordi Coca, <i>Incidents a l'horitzó</i>, 1983).</p>

<p> En lletra més gran cal destacar l'exposició del 1977 a la Sala Pelaires, de Ciutat de Mallorca, on la sèrie <i>Spain is Different</i>, augmentada amb noves peces, fou acompanyada d'una nova obra referida a les primeres eleccions democràtiques a l'Espanya de la transició. A <i>Elecciones Show</i>, Rabascall va organitzar les imatges i missatges en una instal.lació audiovisual, amb triple projecció de diapositives que juxtaposaven les imatges dels líders polítics, de les masses convocades, i dels pits-i-cuixes de les revistes del "destape" postfranquista, tot això acompanyat per una banda sonora feta d'una successió de "canciones del verano", i amb el terra de l'espai encatifat per tot de paperassa de la campanya electoral. La faceta de Rabascall com a instal.lador —bricolador ho és sempre— no es coneix gaire, i realment no és que l'hagi freqüentat molt, però la translació
dels seus procediments característics a l'espai tri- o tetradimensional de la instal.lació no li suposa apartar-se gens ni mica de la despullada unitat del seu treball, i això em sembla que es podrà comprovar ara, en l'exposició a les sales del Palau de la Virreina que aquesta publicació acompanya.</p>

<p> Les imatges de <i>Spain is different</i> reaparegueren un cop més a l'exposició de Rabascall al Casino de Cadaqués, l'any 1978, però
envoltades pels resultats d'una acció intitulada <i>Canvi cultural</i>, que consistí en demanar a diferents editors i escriptors de Barcelona i de París la cessió de llibres i altres publicacions per a la Biblioteca de Cadaqués; acció, o senzillament convocatòria, amb la voluntat de "subratllar la mutació social i sobretot el canvi cultural que s'afirma en el país a partir de l'any 1976, i al mateix temps senyalar la importància de la biblioteca [...] com a lloc cultural al servei de la població". 11</p>

<p> També amb lletra gran, però de fet fora del curriculum de l'artista, i dintre de la de l'anartista i l'arxivista, cal esmentar l'exposició <i>Cartells del Maig 68 a París</i>, presentada pel maig del 1978 al Col.legi d'Arquitectes de Barcelona, on Rabascall hi aportà la seva important col.lecció d'aquells manifestos gràfics que reivindicaren "la imaginació al poder", i que esdevingueren eloqüents i preuats testimonis d'uns fets trasbalsadors, viscuts molt de prop per ell. I també cal esmentar la
<i>Festa de la Lletra</i>, celebrada el 1979 a diferents sales de Barcelona, convocatòria oberta a tots els qui es valen de la lletra com a element visual i semàntic, organitzada per un comité així mateix plural de professionals de les arts i dels oficis més familiaritzats amb aquest instrument: disseny, tipografia, publicitat, humor gràfic, etc. (La <i>Festa</i> va nèixer a França, i Rabascall n'ha estat un dels seus promotors des del començament, i al llarg del periple de les successives edicions). Com a continuació del projecte dinàmic de la <i>Fête de la Lettre</i>, Rabascall presentà a la Galeria Eude de Barcelona, l'any 1983, una sèrie de postals editades per ell, a partir de les obres de diferents artistes, les quals foren exposades conjuntament amb les postals, sota el títol de
<i>Text/Imatge: de l'original a la còpia</i>
(hi participaren, entre altres, Ben Vautier, J.F. Bory, Jiri Kolar, Muntadas, Catalina Parra, Benet Rossell i el dibuixant Willem).</p>

<p> De resultes probablement de les visites estiuenques a la Catalunya del turisme i les vacances, a l'inici dels anys vuitanta Rabascall va fer una sèrie de <i>Paisatges</i>, sorgida de la següent reflexió:</p>

<p>
"El concepte de paisatge és una constant dintre la Història de l'Art contemporani, com pot ser-ho el concepte de retrat o de natura morta. És amb la intenció de fer-ne una nova versió que, durant l'estiu 1981, vaig recòrrer la Costa Brava, defugint els punts de vista i els tòpics habituals en aquests casos. [...]</p>

<p>
"Aquesta sèrie d'imatges, aquesta sèrie de paisatges, ha estat feta a partir d'un paisatge conegut per mi des de fa molt temps, intentant <i>re</i>veure'l i donar-ne una versió inèdita, i sobretot més apropada de la realitat que aquella versió més o menys idíl.lica o pintoresca perpetuada per generacions de pintors paisatgistes.</p>

<p>
"El mot paisatge el trobem integrat dintre la imatge, com una redundància, en diverses llengües, més la pròpia del país: el català. Els practicants de tots aquests llenguatges han contribuït, amb més o menys responsabilitats, a la transformació/degradació del paisatge indicat. El mot paisatge esdevé redundància, però també contrapunt assenyalant que això
<i>també</i> és paisatge, si més no des del punt de vista no artístic. [...]</p>

<p>
"Aquesta <i>re</i>visió
no coincideix amb les representacions de centenars de milers de postals enviades a tot el món des d'aquest territori, ni amb les teles pintades que estan dintre dels apartaments de les
'urbanitzacions' que paradoxalment han contribuït a la desfeta del paisatge inicial, aquell d'una bellesa natural de la costa, dels seus habitants dedicats principalment a la pesca i a la petita indústria, i un urbanisme escàs". 12</p>

<p> Aquesta aproximació al tema és la que donarà
lloc a l'exposició de Rabascall a la Galeria Canaleta de Figueres, l'any 1982, i a l'edició paral.lela d'una col.lecció de dotze postals amb el títol de <i>Costa Brava: Paisatge</i>. Són efectivament dotze paisatges esguerrats, dotze vistes i records (que seria millor esborrar) d'una Costa Brava esbravada per l'especulació
immobiliària, el mal gust, l'urbanisme salvatge i la pèrdua de la identitat local; i per l'explotació turística massiva, i a tot preu, d'uns recursos naturals que esdevenen com més va més artificials, per les caòtiques intervencions que es produeixen amb el reclam d'aquell "<i>Spain is different</i>", també latent en aquestes imatges.</p>

<p> I, tot seguit, el tema del paisatge s'ha perllongat d'una altra manera, i juntament amb altres gèneres o temes "acadèmics" també apuntats en el text de Rabascall abans citat —la natura morta, el retrat, el nu—, tot traslladant-se de la imatge-testimoni d'un ecosistema malbaratat a una reclusió irònica en el propi entorn o cercle (viciós?) de l'art. Pel que fa a aquest nou gir de les imatges "trobades" de Rabascall, jo no puc estar-me de veure-hi un cert paral.lelisme amb una part de l'activitat del seu (i nostre comú) bon amic Muntadas al llarg dels anys vuitanta. 13 Però, mentre que Muntadas s'ocupa més directament de les estructures codificades i més o menys "invisibles" del món de l'art —<i>Between the Frames</i> (1983-92), <i>haute CULTURE</i> (1983-85), <i>Exposición</i>
(1985), <i>Exhibition</i>
(1987), <i>Quarto do fundo</i>
(1987), <i>Situación</i>
(1988),...—, Rabascall es queda amb les imatges codificades més tronades i periclitades (o potser no?), acadèmicament alliçonadores i probablement autobiogràfiques (m'imagino que Rabascall va estar del tot familiaritzat amb aquesta mena d'imatges durant el seu aprenentatge artístic a la Barcelona dels anys cinquanta). D'aquesta nova sèrie d'imatges, que Rabascall ha englobat sota el títol de <i>La lliçó de pintura</i>, un primer tast el va poder tenir el públic de l'exposició <i>Barcelona-París-New York</i>, l'any 1985.</p>

<p> Rabascall no fa altra cosa que seleccionar aquestes imatges d'entre les làmines de quaderns o recetaris de la bona-vella-pintura, (re)enquadrar-les, ampliar-les, eventualment emmarcar-les i superposar-hi o associar-hi un text —mot o mots—
que fan a la vegada de títol: <i>Paysage</i>, <i>Still Life</i>, <i>Clair de lune</i>, <i>Coucher de soleil</i>, <i>Seascape</i>, etc. I sempre amb un esperit de <i>détournement</i> i un humorisme que es fa del tot palès en l'associació de certs textos (títols) i imatges: <i>Recette de chef-d'oeuvre</i> (1991) o, sobretot, el duchampià i tant adientment hilarant <i>Nu descendant l'escalier</i> (1987).</p>

<p>
"L'exemple de codification pour faire un bon paysage est simple: la ligne d'horizon doit s'établir à peu près aux trois-quarts de la hauteur de la toile; le grand arbre ne doit pas se placer au centre, le chemin court de droite à gauche; aucune ligne de la composition ne doit être parallèle, et dans le ciel bleu il y a, bien-sûr, quelques nuages innocents". 14</p>

<p> Per completar aquest "retrat", recapitularé tan sols alguns mots, aspectes, facetes, qualificatius, disseminats en les línees anteriors i en els escrits de molts altres que s'han ocupat de Rabascall: l'artista, el pintor esdevingut
<i>colleur/bricoleur</i> d'imatges, el paisatgista contestari, el treballador de la imatge 15, el <i>détourneur</i>, el poeta d'imatges, objectes i paraules trobades i reiteratives... I l'arxivista, l'activista, l'agent extern, l'individu solidari i el participant de gresques col.lectives, el crític sarcàstic però sec
(ironia d'afirmació?), el vianant, el <i>vacancier</i> antiturístic, el del <i>farniente spéculatif</i> 16 o de <i>ne pas trop intervenir, agir moins</i> 17.
Joan Rabascall, català de París i <i>parisien de la Catalogne</i>.</p>

<p> Barcelona, maig de 1992</p>



<p> <u><b>NOTES</b></u></p>

<p> 1	Entrevista amb Joan Rabascall per Albert Macià, al catàleg <i>Idees i Actituds: Entorn de l'art conceptual a Catalunya, 1964-1980</i>, Barcelona, 1992 (p. 200).</p>

<p> 2	Pierre Restany, "Joan Rabascall", al catàleg <i>Barcelona-París-New York: El camí de dotze artistes catalans, 1960-1980</i>, Barcelona, 1985 (p. 141).</p>

<p> 3	Entrevista amb Joan Rabascall per Antón X.
Castro, al catàleg <i>París, por supuesto</i>, Casa de España, París, gener-març 1989 (p. 73).</p>

<p> 4	Alexandre Cirici, "Joan Rabascall: Del pare Profitós a la mà negra", a <i>Serra d'Or</i>, any XII, núm. 128, 15 de maig de 1970 (pp. 49/369-51/371).</p>

<p> 5	<i>Ibidem</i>
(p. 51/371).</p>

<p> 6	<i>Gran Enciclopèdia Catalana</i>, vol. XII, Barcelona, 1978 (p.
273).</p>

<p> 7	Pierre Restany, op. cit. (p. 142).</p>

<p> 8	Aquesta expressió d'orígen situacionista es troba en alguns escrits de Rabascall d'aquella època; per exemple,
"Pour un détournement d'images et des textes", a <i>Opus International</i>, núm. 55, París, 1975.</p>

<p> 9	Vegi's el text de Rabascall, "La
'intrahistoria' del arte sociológico", a <i>Batik</i>, núm. 27, setembre 1976 (pp. 18-19).</p>

<p> 10	Joan Rabascall, resposta a una enquesta de Fred Forest en el llibre d'aquest, <i>Art Sociologique</i>, 10/18-Union Générale d'Éditions, París, 1977 (pp. 331-333).</p>

<p> 11	Del díptic publicat amb motiu de l'exposició, Galeria d'Art L'Amistat, Cadaqués, octubre 1978.</p>

<p> 12	Joan Rabascall, a <i>Relligat/Assembling</i>, Metrònom, Barcelona, primavera 1982.</p>

<p> 13	Vegi's el catàleg <i>Muntadas: Instal.lacions/Passatges/Intervencions a la Virreina</i>, Servei d'Exposicions, Ajuntament de Barcelona, 1988.</p>

<p> 14	Joan Rabascall, "La leçon de peinture", a <i>Ad Hoc</i>, núm. 1, Limoges, primavera 1987 (pp. 84-85)</p>

<p> 15	Cfr. Jordi Coca, "Antoni Muntadas i Joan Rabascall, treballadors de la imatge", a <i>Serra d'Or</i>, Barcelona, abril 1982 (pp.
29/221-35/227).</p>

<p> 16	Cfr. Jacques Soulillou, "Rabascall farniente spéculatif ou qu'est-ce la peinture abstraite", a
<i>L'Humidité</i>, núm. 23, París, 1976.</p>

<p> 17	Títol d'un article de Gilbert Lascault al catàleg de l'exposició
de Rabascall al Centre Culturel Municipal de Villeparisis, 1974.</p>
 