  <p> <b>DE LA DISOLUCION DEL RELATO AL VIDEO-CLIP PERPETUO</b></p>

<p> El cine, el v&#237;deo y los programas de TV musicales han sido con frecuencia espacios de libertad y experimentaci&#243;n en un contexto audiovisual homogeneizado, en el que conservan su hegemon&#237;a unos modelos narrativos abocados, en una inmensa proporci&#243;n, a la rutina.
La representaci&#243;n visual del hecho musical tiende a eludir desde un primer momento el principio realista del relato cinematogr&#225;fico, y a superar la credibilidad de la ficci&#243;n con la m&#225;s desatada fantas&#237;a.
Lo que se privilegia, en definitiva, es la misma uni&#243;n de la imagen y el sonido como sustancia de un lenguaje <i>audiovisual</i>.</p>

<p> Es significativo que varios de los realizadores de mayor reputaci&#243;n internacional en el &#225;rea del v&#237;deo musical tengan antecedentes en el cine y el v&#237;deo experimental m&#225;s o menos conocidos, mientras que otros proceden de la publicidad en un sentido amplio (spots, fotograf&#237;a, infograf&#237;a), de diversas especialidades profesionales en la industria audiovisual
(directores de fotograf&#237;a, documentalistas y realizadores de TV especializados en temas musicales) y, tambi&#233;n, de la m&#250;sica misma, pero con una atenci&#243;n que extienden hacia los aspectos de imagen y hacia otras artes. Aunque tambi&#233;n se da el caso de cintas musicales realizadas por famosos cineastas, se trata usualmente de producciones de excepci&#243;n en las que su aportaci&#243;n se cumple a modo de &quot;firma invitada&quot;.</p>

<p> En los v&#237;deo-clips, como popular epicentro de lo que se suele entender por v&#237;deo musical, el director no es la estrella. Como en el caso de los spots publicitarios, el anonimato es la regla. Sin embargo, benefici&#225;ndose de una fecha de caducidad a m&#225;s largo plazo que la publicidad de objetos comunes y de la penetrante popularidad de los &#237;dolos y
&#233;xitos del pop/rock, un peculiar idioma de im&#225;genes y sonidos conjuntados acaba por destacar, llevando su influencia hasta el mismo cine narrativo y a los telefilms y programas deportivos, entre los formatos televisivos que m&#225;s evidentemente han incorporado rasgos estil&#237;sticos propios de los clips. Ello produce a la postre un reciclaje continuo de las vanguardias a los territorios comerciales de la publicidad, la televisi&#243;n y las industrias discogr&#225;fica y cinematogr&#225;fica.</p>

<p> Trat&#225;ndose de un arte comercial, masivo y de intenci&#243;n promocional &#8212;en definitiva, de lo que se trata es de vender discos, atraer p&#250;blico a los conciertos, estimular la demanda&#8212;, en el v&#237;deo musical la autor&#237;a est&#225; al servicio del cantante o grupo cuyos temas ilustra. Y como en la producci&#243;n de v&#237;deos musicales suele haber bastante dinero por en medio, la autor&#237;a tiende a quedar oculta entre el ostensible trabajo de equipo, el lujo de la producci&#243;n y el efecto estelar de la m&#250;sica visualizada. Los v&#237;deo-clips constituyen as&#237; un terreno movedizo que se asienta de manera ubicua en programas y canales de TV (MTV, Music Box), clubs y salas de conciertos, comercios y ferias, videocassettes y CD-v&#237;deos... Las reglas del relato que presiden otras formas de lo audiovisual pueden ser zarandeadas o rotas a gusto, incluso cuando se emplean determinadas estructuras narrativas y citas.</p>

<p> Las tentativas de rastrear retrospectivamente los or&#237;genes del formato espec&#237;fico del v&#237;deo-clip y de otras facetas de candente actualidad de la relaci&#243;n v&#237;deo/m&#250;sica m&#225;s en general han dado lugar a algunas investigaciones y recopilaciones de gran valor, entre las que se pueden mencionar el libro y v&#237;deocassette que conforman la obra titulada <i>Clip, Klapp, Bum (Von der visuellen Musik zum Musikvideo)</i>, al cuidado de Veruschka B&#243;dy y Peter Weibel (DuMont Taschenb&#252;cher, Colonia, 1987). Trabajos de esta &#237;ndole nos permiten comprobar, m&#225;s all&#225; de lo que se da por sabido, lo que V. Body ha caracterizado como la &quot;cleptoman&#237;a&quot; de los clips o, para decirlo llanamente, lo mucho que han chupado del cine experimental en primer lugar, del v&#237;deo-arte en segundo lugar y, por &#250;ltimo y en general, de otros aspectos de las vanguardias art&#237;sticas de nuestro siglo.</p>

<p> M&#225;s recientemente, algo similar resulta flagrante en el caso de dos tipos de emisiones televisivas de car&#225;cter musical que presentan como novedad lo que no es sino apropiaci&#243;n, y en cierto modo banalizaci&#243;n, de conceptos y t&#233;cnicas v&#237;deo/musicales en los que se reflejan ciertas tendencias de los &#250;ltimos a&#241;os. As&#237;, los prototipos de los clips y de todo un canal de TV destinados a los amantes de la m&#250;sica <i>New Age</i> remiten con facilidad al concepto de <i>Ambient Music</i>
(y, an&#225;logamente, <i>Ambient Video</i>)
en la trayectoria de Brian Eno y adl&#225;teres, as&#237; como, m&#225;s en abstracto, a la idea de <i>Wallpaper TV</i>
(literalmente, TV de papel pintado), utilizada con deliberada iron&#237;a por Nam June Paik y otros v&#237;deo-artistas y cr&#237;ticos; los bellos paisajes, las contemplaciones ensimismantes que componen el grueso de las t&#243;picas im&#225;genes de los v&#237;deos musicales <i>New Age</i>, son as&#237; concebidas para proporcionar un &quot;amueblamiento&quot; sonoro-visual neurorrelajante.</p>

<p> Segundo ejemplo, la emisi&#243;n <i>Ultratech</i>
(en el canal de TV por sat&#233;lite MTV-Europe), una fren&#233;tica emisi&#243;n de media hora en doble raci&#243;n semanal dominada por im&#225;genes abstractas o altamente manipuladas con m&#250;ltiples efectos digitales, prolongando hasta el exceso un amplio legado de investigaciones tecnol&#243;gico-formalistas del v&#237;deo-arte, pero m&#225;s en particular del hermanamiento del v&#237;deo con el <i>Hip Hop</i> en lo que se ha dado en llamar <i>Scratch Video</i>.
Traspasado el l&#237;mite de la devoraci&#243;n de canciones e im&#225;genes a que invitan MTV y similares, estos dos contrapuestos ejemplos anuncian quiz&#225;, aunque desde el oportunismo, la nueva dimensi&#243;n del v&#237;deo-clip perpetuo.</p>

<p> EUGENI BONET</p>
 