  <p> <b>TV or not TV?</b></p>
<p> <b>(Videocrash, Death TV &amp; Post TV)</b></p>


<p> <b>1. PRETEXTO</b></p>

<p> Algunas referencias transparentes u opacas en el t&#237;tulo, yendo de un Bill a otro; del cisne de Avon (creo que fue Nam June Paik quien acu&#241;&#243; la chistosa aliteraci&#243;n) a Burroughs y compinches: &#8220;So Who Owns Death TV?&#8221;, un texto compuesto (<i>cut-up!</i>)
a varias manos y citado en exergo de un remoto art&#237;culo del cr&#237;tico y artista Douglas Davis, &#8220;The End of Video: White Vapor&#8221; (1978).
Otro t&#237;tulo que ahora mismo cobra una resonancia acaso imprevista en su fecha, pues es tanto de la <i>muerte de la TV</i> como del <i>final del v&#237;deo</i>
&#8212;para ambos casos, con signos de interrogaci&#243;n o admiraci&#243;n si se prefiere&#8212; de lo que pretende tratar este texto (y, en parte, <i>intertexto</i>).
La propia televisi&#243;n se ha ocupado ya de lo primero: la televisi&#243;n se ocupa a menudo de s&#237; misma, incluso de su presunta agon&#237;a, que as&#237; digiere las maledicencias de los intelectuales retorcidos. No s&#233;
si es tempestivo tratar de lo segundo (<i>Videocrash</i>), y no solamente en conexi&#243;n con lo primero (<i>Death TV</i>), sino en relaci&#243;n adem&#225;s a unos nuevos vaticinios para la transubstanciaci&#243;n del tubo televisivo (<i>Post TV</i>).</p>

<p> No voy a insistir demasiado sobre los or&#237;genes de una querella tan espinosa, peliaguda, vetusta, como la que enzarza al v&#237;deo con la televisi&#243;n (VT/TV). Cualquier breviario sobre la historia y peripecias del v&#237;deo &#8212;del v&#237;deo del que se habla, cuando se habla, en las revistas de arte; y supongo que no es necesario enumerar una vez m&#225;s los muchos nombres de (este) cristo&#8212; permite remontarnos hasta aquel catecismo (y sus evoluciones / discusiones posteriores) de si &#8220;el v&#237;deo no es televisi&#243;n&#8221; (<i>VT is not TV</i>), el &#8220;v&#237;deo <i>es</i> televisi&#243;n&#8221; (tal vez con el interrogante que propon&#237;a Muntadas en una de sus intrusiones televisivas), <i>TV or not TV</i>&#8230;, y hasta la actual o aparente volatilizaci&#243;n del tema entero. En cualquier caso, antes de proseguir, creo poder ampliar la premisa arguyendo que no se trata exclusivamente de un asunto de orden interno del v&#237;deo, o de consangu&#237;nea promiscuidad audiovisual, sino que puede extenderse a la presencia &#8212;m&#225;s bien min&#250;scula, cuando no es cuasi ausencia&#8212; del arte contempor&#225;neo en la TV. Del arte entendido en su vastedad, aunque con esos componentes, m&#225;s bien impopulares, de riesgo y desconcierto que a menudo connota aquel ep&#237;teto de contemporaneidad u otros de equivalentes.</p>

<p> En este sentido, el rol del v&#237;deo fuera el de un figurante m&#225;s, excepto que de alg&#250;n modo habr&#237;a condensado el &#237;mpetu de una aspiraci&#243;n tan inocentemente radical como improbable, tratando de constituirse en su avanzadilla; sin embargo pacifista. (&#191;Inocentemente, he escrito? El adverbio tal vez lo introduce la distancia y las im&#225;genes que amarillean, por electr&#243;nicas que fuesen). Es decir, con el v&#237;deo no s&#243;lo se ha pretendido generar un arte en s&#237; mismo (y circunstancialmente ensimismado), sino que se regeneraron las hip&#243;tesis simbi&#243;ticas; se propiciaron las intertextualidades m&#225;s diversas; y se ha probado de abordar los grandes y peque&#241;os temas de siempre, de ahora o de su entonces &#8212;en el arte y la cultura, en la vida y la arena pol&#237;tica&#8230;&#8212;, rehuyendo la rutina de la rese&#241;a o el reportaje sin alma, para tender al ensayo o el testimonio con cuerpo e identidad.
Pero (o por tanto) el v&#237;deo no es un ente homog&#233;neo, sino todo lo contrario, y el &#8220;(a)salto a la televisi&#243;n&#8221; constituye apenas una de las subtramas en las que se ha metido o entrometido, aunque no sea un asunto menor.</p>

<p> En Estados Unidos, gran parte de la prosapia generativa del v&#237;deo est&#225;
estrechamente vinculada a la televisi&#243;n. Desde 1967 y hasta el comienzo de los ochenta, existieron varios centros de experimentaci&#243;n o laboratorios de TV, programas de residencia y emisiones puntuales o peri&#243;dicas en algunas estaciones afiliadas a la red p&#250;blica (PBS), siempre con el respaldo de fundaciones privadas e instituciones p&#250;blicas. De ah&#237; salieron, y por ah&#237; pasaron, un gran n&#250;mero de obras y de artistas que hoy figuran entre los &#8220;cl&#225;sicos del videoarte&#8221;: Paik, Campus, Davis, Emshwiller, los Vasulkas, Downey, Viola, Hill, Jonas, Atlas, Sanborn&#8230; Y, por otro lado, el concepto de TV ha de ser interpretado en un sentido o ideal de pluralidad y abundancia, compendiando m&#250;ltiples iniciativas, ensayos y quimeras: televisi&#243;n de guerrilla, comunitaria, de baja potencia, por cable y de acceso p&#250;blico, por sat&#233;lite, de exploraci&#243;n lenta (<i>slow scan</i>), interactiva, de artistas, etc. Otro aspecto significativo, y que tendr&#237;a una notoria proyecci&#243;n en los 80, concierne a los planteamientos de irradiaci&#243;n televisiva que acariciaron o acometieron diversos museos o centros de arte, espacios alternativos y colectivos de artistas y activistas; planteamientos que alcanzar&#237;an su cenit con la puesta en marcha de proyectos como The Artists Television Network (1976-1984) o The CAT Fund (CAT por Contemporary Art Television, 1983-1990), as&#237; como de diversas emisiones regulares en canales p&#250;blicos y de cable, incluyendo la iniciativa contrainformativa, y todav&#237;a en activo, de <i>Paper Tiger Television</i> y su prolongaci&#243;n por sat&#233;lite, <i>Deep Dish TV</i>.
La creaci&#243;n m&#225;s reciente, en 1988, del Independent Television Service (ITVS), un ente dedicado a promover la producci&#243;n independiente y la vivacidad de la televisi&#243;n p&#250;blica, parece que ha favorecido esencialmente el documentalismo y la ficci&#243;n en detrimento de otras pr&#225;cticas vistas con recelo por los programadores y los audimetros.</p>

<p> En general, las televisiones europeas &#8212;primordialmente de titularidad p&#250;blica y en r&#233;gimen de monopolio estatal (salvo en el caso brit&#225;nico) hasta el advenimiento de los canales privados&#8212; siempre se han mantenido menos abiertas a las tentativas de infiltraci&#243;n de videastas, artistas e independientes en general. Sin embargo, el historial VT/TV tiene tambi&#233;n sus leyendas e hitos gloriosos desde los felices 60 a los prodigiosos 80: <i>Fernsehgallerie</i>, <i>Das kleine Fernsehspiel</i>, <i>Vid&#233;ographie, Ghosts in the Machine</i>&#8230;, m&#225;s las expectativas que en su momento suscitaron ciertos canales televisivos de nuevo cu&#241;o, como Channel Four o La Sept (&#233;ste &#250;ltimo fusionado posteriormente en el conglomerado franco-alem&#225;n de ARTE), o la TV por cable en determinados contextos. Al parecer, en los 90 todav&#237;a pueden hallarse algunos islotes ocasionales, o incluso resistentes y en buena forma. Por otro lado, son varias las radiotelevisiones europeas que han mantenido &#8212;y en alg&#250;n caso hasta mimado&#8212; la figura y funci&#243;n de unos departamentos de experimentaci&#243;n, <i>recherche</i>, <i>ricerca</i>&#8230;, amparando las pesquisas y propuestas &#8220;rompemoldes&#8221; de cineastas, dramaturgos, m&#250;sicos, profesionales de la TV y creadores multidisciplinares. (Unos cuantos nombres: Rossellini, Renoir, Fassbinder, Godard, Gregoretti, Watkins, Reitz, Kieslowski, Greenaway, Kluge, Beckett, Kagel, Potter, Bene, Averty, Montes-Baquer, Schippers, Toti, Drupsteen, Decostere, S&#243;lyom, Cipr&#236;
&amp; Maresco).</p>

<p>
&#191;Y en Espa&#241;a y nuestro estado de las autonom&#237;as? Nuestras televisiones
&#8212;p&#250;blicas, privadas, auton&#243;micas, pagantes y locales&#8212; son tan poco plurales que cuesta hallar sus lagunas m&#225;s audaces o simplemente dignas, incluso si se barajan los criterios m&#225;s anchos de creatividad, cultura y comparativo riesgo. Las hay todav&#237;a (o, por lo menos, cubren el expediente), pero son las menos, y el concepto de &#8220;programaci&#243;n cultural&#8221; raya a menudo en lo pat&#233;tico. Por lo dem&#225;s, el historial de una televisi&#243;n &#8220;de vanguardia&#8221; &#8212;o, en su defecto, &#8220;modernilla&#8221;&#8212; lo integran, merecidamente o no, algunas series y emisiones singulares, dignas de figurar en cualquier caso en un <i>expediente X</i> de la tele en Espa&#241;a. La incidencia del v&#237;deo de creaci&#243;n se agota en esos ecos y asimilaciones (aunque no siempre admitidas), y en unos resquicios circunstanciales y que parecen m&#225;s y m&#225;s obturados
(<i>Metr&#243;polis</i>/TVE, <i>Piezas</i>/Canal Plus, y poco m&#225;s). A trav&#233;s de algunas exhibiciones o programaciones de v&#237;deo, ha habido ocasi&#243;n de conocer ciertas incursiones pro-televisivas (o pro y contra al un&#237;sono) de autores como Muntadas, Torres, Alvarez, Codesal, Rodr&#237;guez, Exp&#243;sito/Hergueta, Montero, Ortu&#241;o&#8230;; pero es significativo
&#8212;adem&#225;s de descorazonador&#8212; el comprobar que muchas de ellas jam&#225;s se han emitido por los cauces que las motivaron y hasta propiciaron. Contradicciones y absurdos de este tipo impiden, en mi opini&#243;n, que pueda darse por zanjada la querella (a)sim&#233;trica VT/TV, por muy consabida y cansina que suene.</p>


<p> <b>2. INTERTEXTO</b></p>

<p> Me parec&#237;a oportuno volver sobre esos t&#243;picos, y abordar o introducir de paso otras utop&#237;as recientes &#8212;ciertos c&#225;nticos de alabanza actuales, que se dir&#237;an un tanto precipitados, en torno a <i>la muerte de la TV</i> y los pron&#243;sticos para su provechoso reemplazo y superaci&#243;n por otras redes e infopistas&#8212;, en un momento de creciente degeneraci&#243;n de las televisiones, ante todo las llamadas <i>p&#250;blicas</i>, como libr&#225;ndose m&#225;s y m&#225;s de unas fastidiosas responsabilidades de iluminaci&#243;n cultural, soporte a la creaci&#243;n e investigaci&#243;n audiovisual y atenci&#243;n a las expresiones minoritarias, siendo temas sobre los que, sin embargo, no ha cesado de hablarse a lo largo de varias d&#233;cadas (quiz&#225; enfrentando el di&#225;logo contra un muro). Y, por otro lado, cada vez se va haciendo m&#225;s dif&#237;cil el introducir no
&#250;nicamente el v&#237;deo de creaci&#243;n o independiente en TV, sino en general un tratamiento contempor&#225;neo de los temas art&#237;sticos, culturales y alternativos en su m&#225;s ancho alcance.</p>

<p> Part&#237;a en principio de ciertas premisas y observaciones. Por ejemplo, se ha producido un relativo abandono del formato monocanal en provecho del formato expandido de la instalaci&#243;n o de otros medios y multimedios; y, por tanto, de un posible cauce televisivo (que anta&#241;o parec&#237;a un objetivo apremiante) hacia las estancias del arte, y sus puertas que se abren y cierran no menos caprichosamente; puedo mencionar algunos nombres bien conocidos: Paik, Viola, Hill, vom Bruch, Muntadas
(aunque algunas de las &#250;ltimas realizaciones monocanales de los nombrados hayan sido motivadas precisamente por ocasionales demandas televisivas), y podr&#237;an a&#241;adirse los de diversos artistas emergentes y ya preeminentes. Mientras que, en cuanto al v&#237;deo monotubo se refiere, pueden constatarse ciertas variaciones de rumbo.
En primer lugar, de la pieza &#8220;sobreproducida&#8221; favorecida por los a&#241;os dorados del <i>v&#237;deo es TV</i>, al uso de otros medios m&#225;s pobres, dom&#233;sticos o comparativamente rudimentarios, como en un retorno a ciertos or&#237;genes del v&#237;deo: a lo &#237;ntimo, lo procesual, lo escueto&#8230; Y, as&#237; mismo, desde las im&#225;genes ensimismadas, fabuladoras o pirot&#233;cnicas hacia el verismo y la comunicaci&#243;n inmediata; por ejemplo, en la nueva efervescencia del documentalismo y el activismo social.</p>

<p> Por otra parte, al decidirme a abordar tales cuestiones, sab&#237;a que no estaba muy al d&#237;a sobre su realidad o irrealidad, vigencia o indigencia m&#225;s all&#225; del escaso telecondumio que suelo ingerir diariamente (p&#250;blico o privado, estatal o auton&#243;mico, y apenas ahora enriquecido parab&#243;licamente); entre otras cosas, porque, tal como he sugerido, no es un tema sobre el que se haya hablado/escrito demasiado &#250;ltimamente (que yo sepa, al menos), y tambi&#233;n porque la tele<i>fisi&#243;n</i> es algo tan fugaz, et&#233;reo y atomizado. Pero esa carencia de actualizaci&#243;n que sent&#237;a la he suplido parcialmente gracias a la correspondencia electr&#243;nica que he mantenido con diversas personas a las que me he dirigido para buscar un intercambio de puntos de vista, opiniones y datos.</p>

<p> Algunas que se hab&#237;an distinguido por su atenci&#243;n a estas cuestiones, como Kathy Huffman o John Wyver, se manifiestan ahora distanciadas de las mismas y m&#225;s volcadas a las posibilidades de la cibern&#225;utica (aunque Wyver y sus asociados en la empresa Illuminations siguen desempe&#241;ando una intensa actividad productiva en diversas modalidades de la imagen en movimiento: televisi&#243;n, productos interactivos, cine, animaci&#243;n).
En este sentido, es significativa la opini&#243;n de K. Huffman, seg&#250;n la cual el VT, lo mismo que la TV, &#8220;ya no es tan importante como un medio para descubrir nuevas situaciones o nuevas ideas&#8221;.</p>

<p>
&#191;VT
= TV? &#191;VT &#8800; TV?: Las viejas ecuaciones siguen sin resolverse, como el enigma del sexo de los &#225;ngeles. No voy a recoger las diversas opiniones o matizaciones recibidas, pero s&#237; la sugerencia que plantea Juan Crego al preguntarse por la pluralidad de conceptos, intenciones, modelos, formatos, etc. que esconde la unitariedad aparente, y aparentemente emparentada, de ambas siglas. Puede ser grosero a&#241;adir que no todo el v&#237;deo es apto o est&#225; dispuesto a pasar por el mismo tubo, ya que hasta los tubos se diversifican.
Peter D'Agostino, por su parte, se remite al replanteamiento introducido para la reedici&#243;n, en 1995, de su compendio
<i>Transmission</i>, ahora con el subt&#237;tulo <i>Toward a Post Television Culture</i>.
(En la primera y anterior edici&#243;n, anterior en diez a&#241;os: <i>Theory and Practice for a New Television Aesthetics</i>.
Una de las diferencias que se aprecian, por cierto, es el menor peso ahora concedido al v&#237;deo en tanto que pr&#225;ctica art&#237;stica aut&#243;noma). En su pr&#243;logo, escriben D'Agostino y David Tafler, co-editor de esta nueva versi&#243;n: &#8220;En una cultura postelevisiva, televisi&#243;n ya no significa televisi&#243;n. [&#8230;] La televisi&#243;n ha devenido actualmente cajero electr&#243;nico, monitor de seguridad, terminal de informaci&#243;n, interfaz de ordenador.&#8221;</p>

<p> Entre las respuestas recibidas, he constatado en general un cierto desencanto &#8212;aunque no necesariamente melanc&#243;lico&#8212; respecto a las expectativas que hab&#237;an generado en otro tiempo el v&#237;deo y la TV alternativa. Para eso, ciertamente, no hace falta acudir a la red; basta con estar un poco introducido en la actualidad de las artes tecnomediales. Pero tambi&#233;n he recogido algunas visiones pragm&#225;ticas y sopesadoras de los extremos: entre el culto a la novedad &#8212;que, como viene a decir Marshall Reese, tambi&#233;n diera &#237;mpetu al v&#237;deo en su momento&#8212; y el inter&#233;s que se&#241;ala Muntadas por explorar otras direcciones, tecnolog&#237;as y formatos. Reese observa igualmente que la televisi&#243;n, y el v&#237;deo mismo, se habr&#237;an hoy convertido en algo tan habitual, anodino y previsible, que el inter&#233;s de muchos j&#243;venes artistas y agentes culturales se decantar&#237;a por otras vertientes (ya sean novedosas o retomadas de un pret&#233;rito m&#225;s anterior, a&#241;adir&#237;a yo).</p>

<p> Quiz&#225;
aquella impresi&#243;n de desencanto responda a la circunstancia de estar hurgando en una herida, o en la memoria y el inconsciente colectivo de una serie de hitos y fracasos, logros y reveses &#8212;acaso exagerados de tama&#241;o en ambos casos&#8212;, desde la perspectiva y expectativas de la escena del v&#237;deo o, m&#225;s ampliamente, de una
&#8220;cultura independiente de la imagen&#8221; (Wyver, 1995). Lo cierto es que, si lo que yo pretend&#237;a en parte era proseguir el historial sintetizado m&#225;s arriba y pulsar el estado de la cuesti&#243;n ahora mismo, los datos m&#225;s o menos concretos que he recogido dir&#237;ase que invitan a contemplar efectivamente otras v&#237;as (postelevisivas).
Muntadas sugiere que otras estrategias brotar&#225;n espont&#225;neamente, y opina que &#233;stas habr&#225;n de prescindir de las complicidades contranatura con entes comerciales u oficiales. Wyver me remite elegantemente a cierta controversia mantenida con Michael O&#8217;Pray, referente al <i>doing away with</i>
 &#8212;la abolici&#243;n de&#8212; el arte del v&#237;deo como ente segregado y con el reloj adelantado respecto de las leyes de la oferta y la demanda en el libre mercado medi&#225;tico / audiovisual. Y, a su vez, la r&#233;plica de O&#8217;Pray nos conducir&#237;a a otras cogitaciones sobre los grados de
&#8220;subversi&#243;n&#8221; y &#8220;autenticidad&#8221; &#8212;y de transgresi&#243;n, cr&#237;tica, oposici&#243;n, resistencia&#8212; que pueden seguir alcanz&#225;ndose en los predios del arte y la independencia, y frente al &#8220;flujo general de las im&#225;genes&#8221; (O&#8217;Pray, 1996).</p>

<p> Por &#250;ltimo, algunos persisten en reivindicar el potencial negligido de la televisi&#243;n y del v&#237;deo, e incluso el reto que suponen determinadas y consabidas restricciones. Muntadas, Caterina Borelli o Arlindo Machado desconf&#237;an de las sentencias de muerte o las palabras f&#250;nebres.
Machado se&#241;ala la importancia del debate te&#243;rico y de la exploraci&#243;n de las ultim&#237;simas tecnolog&#237;as, pero opina que &#8220;las experiencias realizadas con los nuevos medios no se hallan al mismo nivel de provocaci&#243;n y de radicalidad que las experiencias de Paik, Vasulka, Hill o Larcher&#8221;. Y, para regresar a&#250;n al meollo primero del VT/TV y del arte-en-TV, quiero concluir reproduciendo (sin tendenciosa premeditaci&#243;n) otras de las l&#237;neas recibidas de Arlindo Machado:</p>

<p>
&#8221;Creo que la televisi&#243;n es un medio muy mal conocido. Los te&#243;ricos nos acostumbraron a encarar la televisi&#243;n como un medio populachero, <i>de masas</i> en el peor sentido del t&#233;rmino, y durante mucho tiempo nos impidieron prestar atenci&#243;n hacia unas experiencias poderosas, singulares y fundamentales para definir el estatuto del arte en este final de siglo. El personal del videoarte tambi&#233;n ha tenido cierta responsabilidad en la mal comprensi&#243;n de la televisi&#243;n como experiencia cultural y radical. [&#8230;] Creo que una pesquisa seria y exhaustiva podr&#237;a conllevar una sorpresa, porque la televisi&#243;n tiene un repertorio de obras creativas mucho mayor de lo que se supone normalmente; un repertorio suficientemente amplio y denso como para incluirla entre los medios culturales m&#225;s importantes de nuestro tiempo. Multimedia, redes e infograf&#237;a tendr&#225;n que esperar a&#250;n varias d&#233;cadas hasta que puedan constituir un acervo de la misma dimensi&#243;n e importancia que el de la televisi&#243;n y el v&#237;deo.&#8221;</p>

<p>
......................................................................................................................................................</p>

<p> EUGENI BONET es escritor y curador transmedia, con base en Barcelona.</p>



<p> <b>REFERENCIAS</b></p>

<p> D&#8217;AGOSTINO, Peter (ed.)  <i>Transmission.
Theory and Practice for a New Television Aesthetics</i>.
Nueva York: Tanam Press, 1985</p>

<p> D&#8217;AGOSTINO, Peter / TAFLER, David (eds.)  <i>Transmission.
Toward a Post Television Culture</i>.
Thousand Oaks, California :Sage Publications, 1995</p>

<p> DAVIS, Douglas  &#8220;The End of Video: White Vapor&#8221;, en <i>New Artists Video. A Critical Anthology</i>
(ed. Gregory Battcock). Nueva York: E.P. Dutton, 1978</p>

<p> HUFFMAN, Kathy Rae  &#8220;Video Art: What&#8217;s TV Got To Do With It?&#8221;, en
<i>Illuminating Video. An Essential Guide to Video Art</i>
(eds. Doug Hall / Sally Jo Fifer). Nueva York: Aperture, 1990</p>

<p> HUFFMAN, Kathy Rae / MIGNOT, Dorine (eds.)  <i>The Arts for Television</i>.
Los Angeles: The Museum of Contemporary Art / Amsterdam: Stedelijk Museum, 1987</p>

<p> MIGNOT, Dorine (ed.)  <i>Revision.
Art Programmes of European Television Stations</i>.
Amsterdam: Stedelijk Museum, 1987</p>

<p> MUNTADAS
 <i>Video is Television?</i>
(v&#237;deo, 4&#8217;) 1989</p>

<p> O&#8217;PRAY, Michael  &#8220;The Impossibility of Doing Away with Video Art&#8221;, en
<i>Diverse Practices: A Critical Reader on British Video Art</i>
(ed. Julia Knight). The Arts Council of England / University of Luton Press, 1996</p>

<p> ROSS, David  &#8220;A Provisional Overview of Artists&#8217; Television in the US&#8221;, en <i>New Artists Video&#8230;</i>
(op.cit.)</p>

<p> WYVER, John  Ensayo introductorio del cat&#225;logo <i>What You See is What You Get. The Third ICA Biennial of Independent Film &amp; Video</i>.
Londres: Institute of Contemporary Arts, 1995</p>

<p> WYVER, John  &#8220;The Necessity of Doing Away with Video Art&#8221;, en <i>Diverse Practices&#8230;</i>
(op.cit.)</p>


<p> Mi agradecimiento a todos los corresponsales electr&#243;nicos que se avinieron a dialogar sobre el tema (y mis disculpas si alguno pudiera sentirse traicionado debido a mi posible torpeza a la hora de condensar e hilvanar sus diversas aportaciones): John Wyver (Londres), Muntadas (Nueva York -
Barcelona), Marshall Reese (Nueva York), Caterina Borelli (Nueva York), Arlindo Machado (S&#227;o Paulo), Juan Crego (Bilbao), Peter D'Agostino (Filadelfia), Kathy Huffman (Viena).</p> 