  <p>[] <b>LA VIDEO-INSTALACION, DENTRO Y FUERA DE SU CASILLA</b></p>

<p> La noci&#243;n de instalaci&#243;n, de renovado auge en el panorama art&#237;stico de hoy, ha estado estrechamente relacionada con la creaci&#243;n videogr&#225;fica desde sus mismos or&#237;genes (en los a&#241;os sesenta). Sin entrar aqu&#237; en consideraciones hist&#243;ricas sobre la implantaci&#243;n en el contexto art&#237;stico de una voz tan prosaica como &quot;instalaci&#243;n&quot;, las primeras obras en las que monitores o televisores adquieren una presencia escult&#243;rica o multimedia pertenecen a la familia de los
<i>assemblages</i> y los <i>environments</i> o entornos (o ambientes), con ra&#237;ces en las tendencias coet&#225;neas del Pop-Art y el Nouveau R&#233;alisme, de los Happenings y de Fluxus, participando as&#237; de la genealog&#237;a de lo que actualmente, y de manera m&#225;s com&#250;n, denominamos instalaciones; y, cuando el v&#237;deo adquiere un papel principal, v&#237;deo-instalaciones, aunque tambi&#233;n v&#237;deo-esculturas, v&#237;deo-objetos, etc.1</p>

<p> Hoy se abusa ciertamente de la noci&#243;n de instalaci&#243;n al aplicarse a casi cualquier obra que se
&quot;despliega&quot; en el espacio, por contraste con el cuadro colgado en la pared, la escultura que se yergue sobre el suelo o sobre un pedestal,... Pues toda exposici&#243;n es tambi&#233;n un despliegue m&#225;s o menos organizado, la presencia de un monitor de v&#237;deo o de una grabaci&#243;n sonora, pongamos por caso, no garantizan que nos hallemos delante de una instalaci&#243;n. Pero la noci&#243;n misma es indefinible si no es mediante la acumulaci&#243;n argumentada de ejemplos. La instalaci&#243;n no es un formato normalizado, sino una forma idiosincr&#225;tica de articular diversos elementos en un conjunto unitario. La &#250;ltima frase, sin embargo, no puede tomarse como una definici&#243;n (al menos suficientemente buena), sino a riesgo de caer en falsos silogismos.</p>

<p> La falta de definici&#243;n que rodea a&#250;n a una cierta terminolog&#237;a del arte contempor&#225;neo facilita la tendencia al equ&#237;voco. A tomar, por ejemplo, como un g&#233;nero o subg&#233;nero lo que es m&#225;s bien un campo abierto y vers&#225;til de creaci&#243;n art&#237;stica. &quot;Una instalaci&#243;n &#8212;escrib&#237;a recientemente Francesc Torres&#8212; puede ser cualquier cosa siempre y cuando un artista la haga, la defina, la recicle o la rescate. Con esto pretendo decir que puede haber tantos conceptos de instalaci&#243;n como pueda haberlos de pintura o de escultura&quot;.2</p>

<p> En todo caso, la instalaci&#243;n es esencialmente un arte mixto, plural, frecuentemente multimedia. Los lazos de la instalaci&#243;n (o de una mayor&#237;a de instalaciones, mejor dicho) con la escultura no se pueden pasar por alto. Pero habr&#237;a que mencionar igualmente, y seg&#250;n los casos, la arquitectura, el diorama, la escenograf&#237;a, la polivisi&#243;n, la <i>performance</i>, las tecnolog&#237;as electr&#243;nicas audiovisuales, las atracciones de feria, etc. La inclusi&#243;n de registros visuales y/o sonoros acent&#250;a la cuarta dimensi&#243;n temporal de la obra en la medida en que afecta a nuestro acto de percepci&#243;n de la misma, si bien el tiempo que nos ocupa puede ser m&#225;s o menos breve o prolongado, dependiendo de la mayor o menor complejidad en los elementos que combina, del grado de narratividad, discursividad o interactividad que introduce y, obviamente, del &#233;xito o el fracaso en la resoluci&#243;n global de la obra.</p>

<p> Mientras que el concepto de instalaci&#243;n se est&#225; revelando demasiado amplio o confuso, la designaci&#243;n &quot;v&#237;deo-instalaci&#243;n&quot; tendr&#237;a en principio la ventaja de puntualizar al menos uno de sus componentes b&#225;sicos.
Pero, de nuevo, puede surgir la confusi&#243;n del presunto g&#233;nero que no es, abriendo para &#233;l una casilla aparte. Y esto es lo que ha venido sucediendo por una variada gama de razones: por sus relativos costes y complejidades tecnol&#243;gicas, por unas ciertas reticencias en los sectores art&#237;sticos tradicionales, por las estructuras separadas y necesidades te&#243;rico-est&#233;ticas del v&#237;deo, de manera que el destino de las v&#237;deo-instalaciones ha sido en gran parte el de exposiciones colectivas regulares o puntuales (en el marco de festivales o muestras de v&#237;deo, y m&#225;s ocasionalmente en museos u otros centros art&#237;sticos).  </p>

<p> No cabe duda que las v&#237;deo-instalaciones, v&#237;deo-esculturas, instalaciones multimedia conforman uno de los territorios m&#225;s atractivos, y hasta populares, en relaci&#243;n con esa controvertida
&quot;denominaci&#243;n de origen&quot; de dudosa fama que es, o era, el llamado v&#237;deo-arte. Desde 1963, con las primeras instalaciones con televisores manipulados de Nam June Paik (<i>Exposition of Music/ Electronic Television</i>)
y de Wolf Vostell (<i>6 TV D&#233;-coll/agen</i>), dicho territorio ha sido explorado con inventiva y progresivo ahondamiento por un amplio n&#250;mero de artistas, poniendo de relieve el potencial art&#237;stico del v&#237;deo en su combinaci&#243;n con la multidimensionalidad de la instalaci&#243;n (y, colateralmente, con la
<i>performance</i>).</p>

<p> Sin embargo, una exposici&#243;n como <i>Video-Skulptur</i>
&#8212;que recorri&#243; el pasado a&#241;o las ciudades de Colonia, Berl&#237;n y Zurich reuniendo cerca de medio centenar de instalaciones y v&#237;deo-esculturas&#8212;, a pesar de su indudable inter&#233;s sobre el papel
(como lo prueba el &#250;til libro/cat&#225;logo de la misma)3, y al margen de la buena acogida que por parte del p&#250;blico obtuvo, puso de manifiesto una preocupante desproporci&#243;n entre la calidad y el atractivo que reten&#237;an la mayor&#237;a de las obras de la parte retrospectiva de la muestra (es decir, aquellas que podr&#237;an tildarse de &quot;cl&#225;sicas&quot;) y la imagen de irregularidad y dispersi&#243;n que se desprend&#237;a de la selecci&#243;n de obras que pretend&#237;a reflejar la actualidad, salvo algunas que sobresal&#237;an por s&#237; mismas.</p>

<p> Obviamente, un cierto vocabulario (formal/estructural) ha terminado por establecerse, convertirse en c&#243;digo del dominio p&#250;blico, y hasta industrializarse, tal como ha sucedido con los mosaicos de m&#250;ltiples pantallas tipo Videowall. Por otro lado, ha disminuido sensiblemente el factor sorpresa que hace a&#241;os pod&#237;a tener cualquier artefacto objetual o escult&#243;rico que incorporara uno o m&#225;s monitores con mayor o menor ingenio. Quiz&#225; por eso, al poema o chiste visual tan abundante en el desarrollo primerizo de la v&#237;deo-instalaci&#243;n, le ha reemplazado en parte un cierto monumentalismo, aparatoso y espectacular, mensurable en el n&#250;mero de monitores empleados y en el de metros c&#250;bicos ocupados por la obra. Uno de los riesgos de la v&#237;deo-instalaci&#243;n/v&#237;deo-escultura parece hoy el de caer en el gigantismo o en la simpleza; en la grandilocuencia banal o en la burda caricatura. (Paik, es cierto, ha transitado constantemente al borde de ambos abismos con soltura y desenfado, sin caer totalmente en el mal gusto).</p>

<p> A veces, ante determinadas obras, uno puede preguntarse qu&#233; raz&#243;n tienen de estar ah&#237; esos monitores, pantallas, im&#225;genes electr&#243;nicas &quot;ensambladas&quot; con o dentro de los m&#225;s variados elementos, materiales, objetos, construcciones,... &#191;nada m&#225;s que para representar figurativas obviedades, escenificar herm&#233;ticas filosof&#237;as de cocina, conciliar archisabidas incongruencias, adornar vest&#237;bulos...? Pero ser&#237;a injusto deducir de todo ello que la v&#237;deo-instalaci&#243;n, la v&#237;deo-escultura (por extensi&#243;n, el v&#237;deo-arte o expresiones suced&#225;neas) ha dado ya casi todo cuanto pod&#237;a dar de s&#237;, y que podemos empezar a guardarnos aquellos conceptos, fastidiosos vocablos, en el archivo de los &quot;ismos&quot;, tendencias y cuerpos extra&#241;os del movedizo arte de nuestro siglo. Se hace necesaria, eso s&#237;, una lectura cr&#237;tica/te&#243;rica m&#225;s exigente y atenta a la contextualizaci&#243;n apropiada de la diversidad de propuestas y enfoques del v&#237;deo y la instalaci&#243;n (combinada y separadamente).</p>

<p> Tratar de la v&#237;deo-instalaci&#243;n como si fuera una zona aut&#243;ctona, un (falso) g&#233;nero, tiene probablemente a&#250;n su sentido. Despu&#233;s de todo, son relativamente escasos los ensayos o an&#225;lisis del tema, y &#233;stos no han rebasado nunca la dimensi&#243;n del art&#237;culo de revistas, cat&#225;logos y obras colectivas. (Hay detr&#225;s de ello una dificultad inevitable, debido a la ef&#237;mera existencia de la mayor parte de las instalaciones y a su a&#250;n limitada circulaci&#243;n y preservaci&#243;n muse&#237;stica).</p>

<p> Por otro lado, sin embargo, la pluralidad art&#237;stica que se acent&#250;a en nuestro presente requiere ir m&#225;s all&#225; de lo end&#243;geno, de los fen&#243;menos acotados por la superficialidad com&#250;n de unos determinados soportes, para examinar m&#225;s detenida e intrincadamente el mapa de conjunto en que se inscriben. Las v&#237;deo-instalaciones no brotan en general como artefactos tecnol&#243;gicos semi-an&#243;nimos expuestos a la curiosidad p&#250;blica, sino como parte de unas pr&#225;cticas art&#237;sticas que abarcan igualmente otros soportes y medios; o, tambi&#233;n, de pr&#225;cticas exclusivamente videogr&#225;ficas, incluyendo naturalmente el v&#237;deo monocanal. Por tanto, es su relaci&#243;n/ilaci&#243;n con otras obras, incluso de caracter&#237;sticas materialmente muy dispares, lo que nos permitir&#225; situarlas entre la confusa abundancia de im&#225;genes superpuestas dentro y fuera de lo que entendemos por arte(s).</p>

<p> EUGENI BONET</p>



<p> <b>Notas:</b></p>

<p> 1	Del variado vocabulario o jerga de las v&#237;deo-instalaciones me ocup&#233; en el art&#237;culo &quot;Poliv&#237;deo: el v&#237;deo en plural&quot;, en <i>Telos</i>, n&#250;m. 9, Fundesco, Madrid, marzo-mayo 1987.</p>

<p> 2	&quot;Una pr&#225;ctica equ&#237;voca&quot;, en <i>El Pa&#237;s</i>, s&#225;bado 17 de febrero de 1990; suplemento Artes, p&#225;g. 4.</p>

<p> 3	Wulf Herzogenrath/Edith Decker (Eds.): <i>Video-Skulptur, retrospektiv und aktuell: 1963-1989</i>, DuMont, Colonia, 1989.</p>
 