  <p> <b>25 ANYS DE V&#205;DEO-ESCULTURA:</b></p>
<p> <b>el pes de la hist&#242;ria, &#191;la insubstancialitat del present?</b></p>


<p> A Berlin, segona escala del seu itinerari, s'ha presentat l'exposici&#243;
<i>Video-Skulptur</i>, concebuda a la vegada com retrospectiva i panorama de l'actualitat en el camp art&#237;stic de les v&#237;deo-instal.lacions. Respecte a com es va presentar originalment a Col&#242;nia, es comptava ara amb l'avantatge de poder encabir totes les obres en el gran espai del Kongresshalle berlin&#232;s; fora d'aix&#242;, hi ha hagut poques variacions en el contingut de la mostra: nom&#233;s cinc abs&#232;ncies i alguns afegitons, incloent-hi un cicle de v&#237;deos monocanal dels autors que figuren en el llibre editat amb motiu de l'exposici&#243; (bastant m&#233;s que un pur cat&#224;leg).  La impressi&#243; que n'he extret &#233;s la d'una mostra reeixida en un cinquanta per cent, aproximadament; &#233;s a dir, amb un bon plantejament, un muntatge parcialment satisfactori (perjudicial en canvi per a algunes peces), per&#242; amb uns criteris que haurien pogut estar m&#233;s afinats en uns quants aspectes. En tot cas, a la vegada he de fer constar que ha tingut a Berlin una positiva acollida per part tant del p&#250;blic com dels mitjans de informaci&#243;.</p>

<p> Aquesta &#233;s l'exposici&#243; de v&#237;deo-instal.lacions m&#233;s important i de llarg abast fins ara realitzada, i una opini&#243; generalitzada ha estat la de remarcar d'entrada l'impacte de la part retrospectiva, &#233;s a dir les obres m&#233;s
&quot;hist&#242;riques&quot;, &quot;cl&#224;ssiques&quot;, ben documentades a la bibliografia existent sobre el v&#237;deo(art), per&#242; que no sempre han estat f&#224;cils de con&#232;ixer directament: el v&#237;deo-passad&#237;s de Bruce Nauman, imponent pres&#232;ncia de la simplicitat postminimal; les consoles de m&#250;ltiples monitors de Les Levine i de Frank Gillette i Ira Schneider, exploracions de la trama multiv&#237;deo i exponents de l'ideari contracultural del &quot;You are Information&quot; [T&#250; ets Informaci&#243;]; les cambres de miralls electr&#242;nics de Dan Graham i de Peter Campus, on l'espectador es troba desdoblat en el temps i en l'espai; l'enginy&#243;s dispositiu de Bill Viola, que fa que l'espectador es trobi reflexat en una gota d'aigua magnificada per un sistema de v&#237;deo-projecci&#243;; i tamb&#233; les malifetes de Nam June Paik, Wolf Vostell i Wolf Kahlen amb l'objecte i la imatge televisiva, aix&#237; com les de Mary Lucier amb les seves c&#224;meres de tubs deliberadament cremats que determinen una grafia abstracta en els monitors.</p>

<p> Gaireb&#233;
totes aquestes escultures o instal.lacions empren el que en la gerga del v&#237;deo i la televisi&#243; s'anomena circuit tancat, de manera que esdevenen obres amb un important component participatiu de l'espectador, a la vegada subjecte (observador) i objecte (observat)
de la pe&#231;a. Per comparaci&#243;, l'aplicaci&#243; del mateix principi a una obra m&#233;s recent i espectacular, com ho &#233;s el laberint de Buky Schwartz, no t&#233; la for&#231;a que tenen aquelles. En canvi, amb l'escultura cin&#232;tica de Dieter Kiessling titulada <i>Televisor pendulant</i>, hom pot apreciar l'eleg&#224;ncia i efectivitat del senzill joc formal que proposa, malgrat el relatiu anacronisme d'una obra que &#233;s del 1983 i d'un autor jove, quan hom podria perfectament pensar que fos de deu anys abans i d'una generaci&#243; anterior.</p>

<p> Aix&#237;, davant del pes espec&#237;fic de les obres peoneres, la tria de les m&#233;s recents podria donar f&#224;cilment una impressi&#243; global m&#233;s decebedora, sobretot amb la inclusi&#243; d'una nul.litat com l'obra presentada pel t&#224;ndem Marina Abramovic/Ulay (nul.litat en tant que instal.laci&#243;, independent de l'apreciaci&#243; que hom pugui tenir de les cintes que individualment la composen), a la que jo afegiria la vacuitat de l'obra presentada en aquesta ocasi&#243; per Fabrizio Plessi i la del que un dels prospectes de l'exposici&#243; destaca com &quot;la tend&#232;ncia novella de l'<i>escultura-disseny</i> dels joves austr&#237;acs&quot; (Graf/ZYX, Helmut Mark), l'excessiu hermetisme i la resoluci&#243; poc convincent en les propostes d'altres autors (Barbara i Michael Leisgen, Rita Myers, Marcel Odenbach), el
<i>kitsch</i> v&#237;deo-escult&#242;ric (Friederike Pezold, Lydia Schouten) i el monumentalisme efectistament aclaparador del treball &#250;ltim de Marie-Jo Lafontaine, discutiblement tractat com a pe&#231;a-estrella de l'exposici&#243; en la seva recalada a Berlin.</p>

<p> Entre les peces senzillament correctes, la recreaci&#243; de l'ambient propi d'un jard&#237; japon&#233;s en la instal.laci&#243; del iugoslau Dalibor Martinis, prou aconseguida si tot just es tractava de reconciliar els ginys electr&#242;nics amb un ambient de calma i rep&#242;s. <i>El nedador</i>, del grup Studio Azzurro, i, de manera menys espectacular per&#242; m&#233;s personal, la <i>Or-phelia</i> d'Ulrike Rosenbach, treballen molt elementalment sobre la continuitat d'una mateixa imatge a trav&#233;s de fileres de m&#233;s o menys monitors.
Interessant l'exploraci&#243; de les possibilitats interactives del v&#237;deo-disc a l'obra de Jeffrey Shaw, que invita a l'espectador a examinar un &quot;paisatge narratiu&quot; de imatges fixes
(projectades en un fossat) i textos que es succeeixen a voluntat, tot manejant una mena de <i>joystick</i>.
Colpidora i austera l'obra de Barbara Steinman, <i>Cenotaph</i>, referida a l'extermini dels jueus en l'Alemanya nazi, una instal.laci&#243; multimedia en la que el v&#237;deo t&#233; un paper relativament menor. Reeixida tamb&#233;, dintre de la seva molt personal l&#237;nia de treball, la instal.laci&#243; de Tony Oursler, amb el seu peculiar sentit de l'humor i la barreja d'expressionisme figuratiu, barroeria llampant i efectes especials del tot casolans.</p>

<p> Entre les obres amb m&#233;s for&#231;a, cal destacar per fi <i>The Board Room</i>, d'Antoni Muntadas, punyent posta en escena de la intimidadora intimitat entre els cercles de poder i els mitjans de comunicaci&#243; de masses, amb el fonamentalisme religi&#243;s i el fen&#242;men del televangelisme com a refer&#232;ncia m&#233;s concreta, obra que vam poder veure l'any passat a Barcelona. I, tot i que amb inferioritat de condicions respecte a altres ocasions en que s'ha exposat, <i>Crux</i>, de Gary Hill, &#233;s tamb&#233; una obra remarcable dins d'una vessant m&#233;s formalista, remetent-nos continuament a l'espai <i>off</i>, fora de camp, d'un despla&#231;ament corporal a trav&#233;s d'un espai obert, enregistrat amb cinc c&#224;meres subjectes al cos de l'artista i dirigides al cap, les mans i els peus, que en els cinc monitors de la instal.laci&#243; determinen una imatge fragmentada i reminiscent de la crucifixi&#243;.</p>

<p> La v&#237;deo-instal.laci&#243; o v&#237;deo-escultura compta amb 25 anys de hist&#242;ria, com ho remarca el t&#237;tol de l'exposici&#243; a Berlin i l'acotaci&#243; temporal que vol abastar la tria d'autors i obres
(1963-1989). L'any 1963, Nam June Paik i Wolf Vostell, llavors ambd&#243;s vinculats a l'extremisme neo-dada&#237;sta de Fluxus, grup art&#237;stic internacional, i a la pr&#224;ctica dels <i>happenings</i>, els <i>events</i>, els <i>environments</i>, realitzaren sengles exposicions amb aparells de TV manipulats, desarreglats, transformats salvatgement, avui considerades com l'antecedent d'aquells conceptes. (De Paik s'han mostrat a Berlin dues peces ideades l'any 1963, en les que la imatge televisiva queda redu&#239;da a una sola l&#237;nia i a un sol punt de llum respectivament, dins d'un provocatiu minimalisme propi d'aquell temps). L'arribada dels primers sistemes portables de v&#237;deo, vers la fi dels anys seixantes, impuls&#224; definitivament el desenvolupament del v&#237;deo com a mitj&#224; art&#237;stic. La v&#237;deo-instal.laci&#243;, per&#242;, no s'ha de considerar pas com un g&#232;nere o un idioma particular, tot i que una mostra com <i>Video-Skulptur</i> ens permet apreciar les riques possibilitats de vocabulari que es deriven de la conjunci&#243; de la base temporal dels sistemes audiovisuals electr&#242;nics i les dimensions espacials de la instal.laci&#243; o de l'escultura que va m&#233;s enll&#224; de la seva acepci&#243;
tradicional; de l'art, com s'ha dit alguna vegada, fora de format.</p>

<p> EUGENI BONET</p>



<p>
(2)</p>



<p> <b>arts/media</b></p>

<p> <b>VIDEO-SKULPTUR</b></p>


<p> El programa <i>Metr&#243;polis</i>
(TVE-2) va dedicar recentment una de les seves emissions a l'ambiciosa exposici&#243; que, amb el t&#237;tol de <i>Video-Skulptur</i>, es present&#224; a Col&#242;nia entre els mesos de mar&#231; i abril d'enguany.
Com &#233;s habitual en algunes emissions de l'esmentat programa televisiu, el valor informatiu del reportatge era gaireb&#233; nul si no estaves informat anticipadament del tema, les obres i els autors representats.</p>

<p> Per&#242; els qui s'interessin molt pel tema i tinguin possibilitats de viatjar, tenen encara dues oportunitats de con&#232;ixer aquesta mostra, la m&#233;s important que s'ha realitzat fins ara, de v&#237;deo-instal.lacions i v&#237;deo-escultures, v&#237;deo-objectes i v&#237;deo-arquitectures, sens dubte una de les vessants m&#233;s atractives de l'exploraci&#243; art&#237;stica del mitj&#224;
v&#237;deo. Aix&#237;, tot i que he sentit dir que &#233;s improbable que es tornin a reunir les 47 obres que integraven l'exposici&#243; a Col&#242;nia, el que en quedi (i possibles variants o afegits) ser&#224; primer a Berlin, al Kongresshalle del 27 d'agost al 24 de setembre, i despr&#233;s a Zurich, a la Kunsthaus del 13 d'octubre al 12 de novembre.</p>

<p> La mostra, concebuda a la vegada com a retrospectiva i panorama de l'actualitat, ha estat a cura de dues persones de reconeguda compet&#232;ncia en el tema: Wulf Herzogenrath, fins fa poc al front del K&#246;lnischer Kunstverein i ara a la Nationalgalerie de Berlin, i Edith Decker, autora d'un important estudi centrat en les v&#237;deo-instal.lacions de Nam June Paik.</p>

<p> S'ha de destacar tamb&#233; el volum (bastant m&#233;s que un cat&#224;leg) que ha estat publicat amb aquest motiu; sobretot la part que repassa i documenta l'obra v&#237;deo-escult&#242;rica o instal.lacions de 80 artistes, entre els quals hi figuren amb tota just&#237;cia quatre artistes catalans: Antoni Muntadas, Francesc Torres, Carles Pujol i Llu&#237;s Nicolau. (Hom hi troba a faltar per&#242; l'Eug&#232;nia Balcells). I el volum es complementa, com alguns altres libres de l'editorial DuMont que l'ha publicat, amb una cinta VHS que inclou imatges de les instal.lacions i entrevistes amb alguns autors.</p>

<p> La mostra no ha estat exempta de punts discutibles i aspectes debatuts.
No em queda espai per a entrar en si el t&#237;tol donat a la mostra era el m&#233;s adeq&#252;at, quan hom parla m&#233;s sovint de v&#237;deo-instal.lacions
(amb el risc, certament, de que el terme sigui malinterpretat com una q&#252;esti&#243; gaireb&#233; de lampisteria). Finalment, per&#242;, el m&#233;s discutible seria inevitablement el perqu&#232; alguns hi s&#243;n i altres no, injustificadament oblidats i absents en el llibre si m&#233;s no.
Aix&#237;, mentre a l'exposici&#243; hi havia instal.lacions for&#231;a aparatoses per&#242; molt discretes (per exemple, la del su&#237;s Alexander Hahn titulada <i>Arthur</i>), o altres com les de Marina Abramovic/Ulay i Dara Birnbaum que no s&#243;n gaire m&#233;s que un decorat per a la presentaci&#243; d'obres (cintes)
monocanal convencionals (i m&#233;s o menys interessants com a tals), trobo prou xocant que ni tant sols en el llibre hi figurin autors com els Vasulkas o Paul Kos, aix&#237; com que d'un pioner com Aldo Tambellini o de l'&#232;poca de la &quot;v&#237;deo-guerrilla&quot; ni se'n parli. Fora d'aix&#242;, <i>Video-Skulptur</i>
&#233;s una proposta molt recomanable, i tant de bo alguna de similar es produeixi o ens arribi aqu&#237; algun dia.</p>

<p> EUGENI BONET</p>
 