  <p> <b>NOTAS PARA UNA CONTRAHISTORIA DEL</b></p>
<p> <b>VIDEO INDEPENDIENTE ESPA&#209;OL</b></p>

<p> <b>(x) Eugeni Bonet</b></p>



<p> <u><b>1. Errores de imprenta</b></u></p>

<p> Esta en&#233;sima ocasi&#243;n de antologizar (&quot;muestrear&quot; estar&#237;a mejor dicho) la producci&#243;n videogr&#225;fica de autores espa&#241;oles me impulsa a desviarme de ciertos esquemas prestablecidos por toda una literatura anterior, a la que yo mismo he aportado otras p&#225;ginas. Esquemas que tradicionalmente han oscilado &#8212;y no s&#243;lo entre nosotros&#8212; de unos par&#225;metros de exigencia normalizados o normalizadores, a otros de indulgencia end&#243;gena.</p>

<p> Una vez m&#225;s, se trata de reescribir, muy sint&#233;tica y subjetivamente, una historia, aunque no una con may&#250;scula. De ah&#237; la idea de <u>contrahistoria</u>,como si la historia fuera una norma can&#243;nica a la que resistirse, o bien un breviario poco pr&#225;ctico y menos a&#250;n fiable. Estas l&#237;neas, pues, quisieran ser como una &quot;fe de erratas&quot; contrarrestante, aunque sin obviar la informaci&#243;n descriptiva de los diversos aspectos que pueden facilitar la composici&#243;n de lugar.</p>

<p> Erratas que entra&#241;a, en primer lugar, la propia miscel&#225;nea de pr&#225;cticas e intenciones que engloban las diversas denominaciones de videoarte, videocreaci&#243;n, v&#237;deo creativo, v&#237;deo de autor, etc. Expresiones a las que yo prefiero otras como v&#237;deo independiente o, en su extremo, personal, pues a menudo es un esfuerzo ante todo individual el que procrea los distintos productos y subproductos que aqu&#237; se contemplan.</p>

<p> Al v&#237;deo espa&#241;ol se le ha consagrado ya bastante tinta, pero quiz&#225; el di&#225;logo de besugos haya prevalecido sobre el debate, y la rese&#241;a o noticia inocua sobre la cr&#237;tica y el an&#225;lisis de obras, autores y eventos. A mi juicio, este escaso eco cr&#237;tico es una de las m&#225;s agudas carencias nuestras, la cual se hace notar m&#225;s a&#250;n por su reducida &quot;polifon&#237;a&quot; y por las escasas superficies disponibles en los medios de informaci&#243;n.</p>

<p> Por tanto, si la tinta ha de acompa&#241;ar, y eventualmente emborronar, el conjunto de las cintas seleccionadas, no puede dejar de consignar, m&#225;s all&#225; de los datos propios de cronolog&#237;as y curriculums, las deficiencias y las suficiencias (en el buen y en el mal sentido del t&#233;rmino) del presunto marco de referencia: ese ente un tanto abstracto que presupone el hablar del v&#237;deo espa&#241;ol como un todo.</p>


<p> <u><b>2. Errores gen&#233;ticos: los comienzos</b></u></p>

<p> En Espa&#241;a, las primeras manifestaciones de un uso art&#237;stico del v&#237;deo se dieron a partir de 1969, pero muy espor&#225;dica y discontinuamente a lo largo de la sucesiva</p>
<p> d&#233;cada, salvo contadas excepciones. Por tanto, hay apenas una aparente sincron&#237;a con otras geograf&#237;as, por coincidencia de fechas &#8212;que no de magnitudes&#8212;, y por consonancia con unas nociones de arte conceptual y expandido
(nuevos medios, medios alternativos), de las que emergen el mayor n&#250;mero de usos y exploraciones del medio en los 70's (m&#225;s particularmente en Catalu&#241;a).</p>

<p> Sin embargo, al calcarse un esquema harto impuesto internacionalmente, se han pasado por alto otras ra&#237;ces contextuales, puesto que el arte conceptual y alternativo pudo ser el caldo de cultivo m&#225;s propicio (el videoarte siendo confundido con una de sus tendencias, como un &quot;ismo&quot; m&#225;s y en boga), pero no uno aislado de otros medios y de otras formas de expresi&#243;n, comunicaci&#243;n o cultura (y &quot;contracultura&quot;)
alternativa, incluyendo a toda clase de heterodoxos y francotiradores de la cultura y la sociedad de aquel entonces. (Hurgando en la memoria, recuerdo por ejemplo que el escritor Francisco Nieva, autor de una obra dramat&#250;rgica muy peculiar y hoy acad&#233;mico de la lengua, tambi&#233;n tuvo su coyuntural acercamiento al medio).</p>

<p> Pero, sobre todo, ser&#237;a entre el cine experimental e independiente donde cabr&#237;a encontrar otro semillero, segundo en importancia, cuyos efectos no se ver&#225;n tanto en la propia d&#233;cada de los 70's, como entre una segunda ola de autores que se dar&#225;n a conocer en la siguiente; parad&#243;jicamente &#8212;o no s&#233; si decir que por una l&#243;gica aplastante&#8212;, cuando la otrora vitalidad del cine independiente se extingue hasta su inexistencia.
Por tanto, una contrahistoria del v&#237;deo espa&#241;ol pudiera empezar igualmente por una figura a&#250;n tan mal conocida como siempre lo fue Jos&#233; Val del Omar (1904-1982), cineasta-poeta emparentado con la generaci&#243;n de artistas y escritores de la Rep&#250;blica, que, al t&#233;rmino de su vida, experimentaba con toda clase de soportes audiovisuales, incluyendo el super-8, el v&#237;deo y el l&#225;ser. O tambi&#233;n por Iv&#225;n Zulueta, con sus films &#8212;llamados &quot;malditos&quot; o &quot;marginales&quot;&#8212; en formatos tanto profesionales como hogare&#241;os, sus incursiones en el medio televisivo y su influencia sobre otros imagineros independientes.</p>


<p> <u><b>3. Errores de bulto: las tres edades</b></u>  </p>

<p> Otro esquema que se ha impuesto m&#225;s recientemente es el de tres generaciones y &#233;pocas a lo largo de los supuestos veintitantos a&#241;os del v&#237;deo espa&#241;ol. La primera es la de los &quot;pioneros&quot; de aquellos comienzos reci&#233;n aludidos, agrupando tanto a los ocasionales autores de obras apenas recordadas por figurar en la letra peque&#241;a de cronolog&#237;as, historias y memorias, como a otros artistas m&#225;s recalcitrantemente empe&#241;ados en expandir los planteamientos de su obra pl&#225;stica aunque sea con los medios m&#225;s modestos o precarios (Carles Pujol, Ram&#243;n De Vargas), y sobre todo, de entre la escena del arte conceptual y alternativo, los catalanes errantes y afincados en Estados Unidos, al lograr la continuidad de su trabajo en un &#225;mbito v&#237;deo y multimedia en el que hoy son bien conocidos internacionalmente. (Muntadas, Francesc Torres y Eug&#232;nia Balcells, aunque esta &#250;ltima no comenz&#243;
a trabajar en v&#237;deo hasta 1980).</p>

<p> Frente al &quot;v&#237;deo de artistas&quot; que entra&#241;a aquel primer grupo (constituido mayormente por artistas pl&#225;sticos o multimedia antes que
&quot;videoartistas&quot;), el de la siguiente ola yo lo he caracterizado en alguna ocasi&#243;n como un &quot;v&#237;deo de audiovisualistas&quot;, por cuanto la mayor parte de sus autores han hecho del v&#237;deo su profesi&#243;n, muchos cuentan igualmente con una experiencia anterior en el cine independiente o de cortometraje, y en general no le hacen ascos a ninguna modalidad, soporte y formato dentro de la familia de los medios audiovisuales (del cine a la TV, de la obra de g&#233;nero al videoclip, de la ficci&#243;n a la instalaci&#243;n).
Adem&#225;s, en este segundo tiempo, que tiene su punto &#225;lgido a mediados de los 80's, crece la actividad en distintos puntos de la geograf&#237;a espa&#241;ola. Para ilustrar el mapa con algunos nombres significativos, de Barcelona destacar&#233; a Juli&#225;n Alvarez, Jordi Torrent, Aurora Corominas, Llu&#237;s Nicolau, Manel Muntaner, Orestes Lara, Carles Comas, Joan Pueyo, Remo Balcells; en el <u>melting-pot</u> de Madrid, a Pedro Garhel, Antonio Cano, Jos&#233; Ram&#243;n Da Cruz, los grupos V&#237;deo Dom&#233;stico y La Sucursal, Javier Codesal, Ra&#250;l Rodr&#237;guez, Domingo Sarrey, Javier Vadillo, Andrews Wax; en Galicia, a Xavier Villaverde, Manuel Abad, Ant&#243;n Reixa, Antonio Segade, Ignacio Pardo; y en Euskadi, a Gerardo Armesto, Isabel Herguera, Juan Carlos Eguillor, Antonio Herranz, I&#241;igo Salaberria. (M&#225;s incipientemente, se dan asimismo indicios de actividad en otros puntos).</p>

<p> Y, por &#250;ltimo, ha venido a hablarse de un tercer tiempo y una tercera ola de autores, que en cierto modo concilian los rasgos distintivos atribuidos a los dos grupos anteriores. Entre los autores ya m&#225;s conocidos y con una obra m&#225;s amplia y s&#243;lida, creo yo que puede advertirse la voluntad de tocar varias teclas y mantener simult&#225;neamente la mayor coherencia.
Son artistas y son audiovisualistas, hacen cintas e instalaciones y, si se tercia, hasta proyectos televisivos. Trabajan en v&#237;deo y asimismo &#8212;al menos algunos de ellos&#8212; en otros medios y mezclamientos multimedia, participando en los diversos &#225;mbitos por los que pueden encauzar su trabajo. Para actualizar el mapa antes delineado, ahora a&#241;adir&#233; los nombres de Corrent Alterna, Maite Ninou, Jaume Subirana, Jordi Teixid&#243;, Teresa Picazo, Pedro Ortu&#241;o, Toni Serra, Joan Leandre, Chus Garc&#237;a, Gabriel Lacomba, en Barcelona; Marcelo Exp&#243;sito, Joseantonio Hergueta, Gabriel F.
Corchero, Rosa M&#233;ndez, Francisco Utray/Luis Lamadrid, Equipo V-8, en Madrid; Javier Angulo, Juan Carlos Fern&#225;ndez, Francisco Ruiz de Infante, Josu Rekalde, Gabriel Villota, en Euskadi; Ant&#243;n Jodr&#225;, Emilio Casanova, Alberto Franco, Carlos Anselem, en Zaragoza; Grupo 3TT y Toni Milian, en Gran Canaria; y Llu&#237;s Escart&#237;n, Esther Mera y Ram&#243;n Quantalagusta, entre los actualmente ubicados en Estados Unidos. Errores de bulto son aqu&#237;, aparte de los de la adscripci&#243;n m&#225;s o menos correcta o exacta de algunos nombres a una ristra u otra, los de tomar demasiado al pie de la letra el retrato-robot o la identidad colectiva que se atribuye a cada grupo. Y tambi&#233;n, los de presuponer unas fechas de vigencia y caducidad, protagonismo y relevo de los distintos grupos u olas, en funci&#243;n de trayectorias aparentemente interrumpidas, prematuramente canceladas, gravemente aletargadas o muy discontinuas, o tenidas por distantes respecto a las precariedades del contexto local.</p>


<p> <u><b>4. Errores gen&#233;ricos: obras y g&#233;neros</b></u>  </p>

<p> En los 70's, el v&#237;deo apenas sab&#237;a de g&#233;neros, y todo se resum&#237;a en oposiciones y dial&#233;cticas m&#225;s o menos dr&#225;sticas, como las que distingu&#237;an el arte de la comunicaci&#243;n (y el videoarte del v&#237;deo comunitario), o las que proclamaban que el v&#237;deo <u>no</u> es TV. (Oposiciones eventualmente reconciliables: Muntadas, entre 1974 y 1976, anticipa en algunas de sus realizaciones los planteamientos subyacentes al desarrollo posterior del v&#237;deo comunitario y las televisiones locales). Toda otra tipolog&#237;a &#8212;fruto de confusiones conceptuales y terminol&#243;gicas las m&#225;s&#8212; apenas distingu&#237;a entre tendencias y apariencias aplastantemente obvias, morfol&#243;gicas, o dependientes del l&#233;xico de las artes visuales y sus
&quot;expansiones&quot;.</p>

<p> La preocupaci&#243;n por un nuevo ABC de los gen&#233;ros propiamente dichos, es cosa de los 80's, pero de una simpleza equivalente, apenas v&#225;lida para rellenar formularios: ficci&#243;n y no-ficci&#243;n, narraci&#243;n y documental, y el saco del
&quot;videoarte&quot; para lo m&#225;s abstracto, inclasificable, o fuera de g&#233;nero, incluyendo la instalaci&#243;n, la imagen generada por ordenador, la cr&#237;tica de las im&#225;genes medi&#225;ticas y las hibridaciones y solipsismos de todo tipo. An&#225;danse adem&#225;s las apor&#237;as del v&#237;deo antes anti-, ora pro-TV; antes anal&#243;gico y no-narrativo, ora ficcional y neo-narrativo; de imagen antes pobre, indefinida y ruidosa, ora cada vez m&#225;s a la busca de la ostentaci&#243;n seductora, la definici&#243;n mejorada y la calidad impecable de im&#225;genes y sonidos.</p>

<p> Si hubiera de seguirse tan pedestre esquema, en el conjunto del v&#237;deo espa&#241;ol podr&#237;an advertirse algunos vicios y virtudes de forma y fondo. En la ficci&#243;n narrativa, las maneras heredadas del cine de cortometraje m&#225;s usado, y la voluntad de recalcar la escritura y textura espec&#237;fica de lo videogr&#225;fico. En el documental, el triunfo del estilo y la met&#225;fora sobre lo directo o lo sedicioso, y la b&#250;squeda de formas renovadoras, entre el subjetivismo poem&#225;tico y el ensayismo. Y, por
&#250;ltimo, en el &quot;videoarte&quot; con comillas, el manierismo m&#225;s patoso o intrascendente, y la afirmaci&#243;n de imaginer&#237;as idiosincr&#225;ticas y discrepantes.</p>

<p> Y sin embargo, aunque pervive un cierto apego a la horma de un g&#233;nero &#8212;en especial, el narrativo/ficcional hegem&#243;nico en otros medios (como si la madurez del v&#237;deo hubiera de ratificarse contando historias)&#8212;, lo mejor del v&#237;deo independiente espa&#241;ol no puede encasillarse dentro de celdillas gen&#233;ricas, sino de acuerdo con la trayectoria e intenciones de cada autor, siempre que cuente con un &quot;corpus&quot; de obra suficiente; o, en alg&#250;n caso, por la propia fuerza de una s&#243;la obra. Me refiero a un v&#237;deo fuera de g&#233;nero, o producto de cruces, intersecciones, vaivenes y mezclas de diversos g&#233;neros y formas, sin negar que haya adem&#225;s un v&#237;deo de g&#233;nero o de encargo, igualmente de calidad en muchos casos (v&#237;deo-clips, documentales culturales, etc).</p>


<p> <u><b>5. Errores (u omisiones) de fondo: las estructuras y resortes</b></u>  </p>

<p> Hasta ahora, el fracaso mayor del v&#237;deo independiente espa&#241;ol ha sido su impotencia para la gestaci&#243;n de unas infraestructuras s&#243;lidas, perseverantes y operativas, que respondan a las distintas necesidades de producci&#243;n, distribuci&#243;n y exhibici&#243;n, as&#237; como para el debate y la defensa de los intereses del colectivo, el intercambio con otras geograf&#237;as (y entre las mismas del estado de las autonom&#237;as), la transmisi&#243;n de conocimientos y experiencias, etc. Ciertamente, yo no soy quien para imputar tales carencias a los distintos actores de la escena videogr&#225;fica, pues me encuentro igualmente entre bambalinas y soy consciente de una marginaci&#243;n cultural de los &quot;nuevos medios&quot;
(en su acepci&#243;n art&#237;stica), y de notorias omisiones en las pol&#237;ticas culturales de los diversos organismos en liza, pese a toda la palabrer&#237;a que pretende lo contrario. Y, sin embargo, mi sensaci&#243;n s&#237; es una de poca solidaridad y capacidad de organizaci&#243;n de nuestro colectivo (inexistente si no es como suma de individuos y grup&#250;sculos). Al respecto, es elocuente la breve pervivencia que tuvieron las escasas tentativas de corte asociacionista que ha habido
(APVI o VIA, por mencionar un par de siglas que han pasado sin gloria a la historia).</p>

<p> La memoria del v&#237;deo independiente espa&#241;ol tiene sus hitos, pero la discontinuidad ha sido la norma en muchos casos. Y eso tanto para las muestras monogr&#225;ficas o puntuales, como para los festivales y concursos que tanto abundaron a&#241;os atr&#225;s, como tambi&#233;n para el establecimiento de &quot;lugares&quot; y resortes estables (centros de recursos y de distribuci&#243;n, talleres y videotecas, espacios de exhibici&#243;n regular y ocasiones de encuentro y debate). La regularidad est&#225; en cuesti&#243;n en ese sentido, y tambi&#233;n para la creaci&#243;n en s&#237;, pues las becas o ayudas que se le destinan no constituyen un respaldo suficiente, si no est&#225;n auxiliadas por otras medidas o apoyos (tales como f&#243;rmulas de tipo <u>stand-by</u> de acceso a los equipos).</p>

<p> Seg&#250;n una impresi&#243;n muy propalada, el v&#237;deo tuvo un momento de apogeo, pasando de ser una curiosidad un tanto ex&#243;tica en la Espa&#241;a transitoria de despu&#233;s de Franco (las diversas actividades y muestras que tuvieron lugar en Barcelona en la segunda mitad de los 70's) a ser un medio de moda entre el conjunto de movidas culturales y pseudoart&#237;sticas de mediados de los 80's: en los a&#241;os que van del Festival de V&#237;deo de San Sebasti&#225;n (1982-1984), y de su relevo en la periodicidad incumplida de otros festivales o bienales subsiguientes en Madrid
(1984-1986) y Barcelona (1987), hasta la progresiva proliferaci&#243;n, y sucesiva desaparici&#243;n, de todo tipo de muestras, festivales y cert&#225;menes por doquier, de dimensiones tan diversas como su rigor y trascendencia. Bajo el manto de la iniciativa propia (privada o corpuscular) y el sobremanto agujereado de las instituciones, el alcance del v&#237;deo espa&#241;ol ha oscilado entre el (v&#237;deo-)club <u>priv</u>&#233;
y los intersticios del museo y la TV p&#250;blica.</p>

<p> Consecutivamente, ha habido pues un declive (y un cierto reemplazo por una ola y boga infogr&#225;fica superpuesta), y una criba en muchos casos funesta, aunque tambi&#233;n es cierto que la falta de calidad y criterio, as&#237; como la excesiva autoindulgencia del localismo inherente a muchas manifestaciones han sido puestos en solfa merecidamente. De extremo a extremo, en los
&#250;ltimos a&#241;os ha habido alg&#250;n que otro evento que ha dado la espalda, antes que el espaldarazo, a la realidad aut&#243;ctona. Por lo dem&#225;s, subsisten un par o tres de festivales de vocaci&#243;n internacional y en alza (C&#225;diz, Vigo, quiz&#225; no tanto Vitoria). Las primeras distribuidoras hicieron aguas, pero otras han emergido con una nueva apuesta de entusiasmo. Videotecas que sean dignas de denominarse as&#237; s&#243;lo hay un par o tres que sean rese&#241;ables, pero sus fondos no se han actualizado. Y en lo concerniente a &quot;lugares&quot; de exhibici&#243;n y encuentro regular &#8212;sitios a los que uno pueda acudir cada equis d&#237;as, semanas, meses o temporadas a fin de conocer lo que se va haciendo, local y supralocalmente&#8212;, yo no sabr&#237;a decir si tambi&#233;n son en estos momentos uno, un par o tres, pero s&#237;
conozco de cerca el intr&#237;ngulis del cese o fracaso de una y de dos experiencias otrora mod&#233;licas y exitosas, si es que la captaci&#243;n y mantenimiento de un p&#250;blico asiduo se supone un criterio v&#225;lido para exigir de las instituciones algo m&#225;s que limosnas y parabienes ret&#243;ricos. Aqu&#237; es donde la denominaci&#243;n de <u>v&#237;deo espa&#241;ol independiente</u> puede entrar en conflicto con el inmediato interrogante que me suscita: &#191;todav&#237;a demasiado dependiente?</p>


<p> <u><b>6. Errores y aciertos: comentarios a la selecci&#243;n</b></u>  </p>

<p> Si, en las l&#237;neas precedentes, los errores y desaciertos han podido sobresalir sobre los logros, estos comentarios finales quieren versar sobre unos aciertos, los de las obras que he elegido partiendo de un criterio subjetivo, pero consecuente con anteriores muestreos del v&#237;deo espa&#241;ol que me fueron encomendados. La limitaci&#243;n del tiempo total del programa ha forzado exclusiones probablemente muy injustas, y me ha obligado a imponer una norma arbitraria, en funci&#243;n de la cual he prescindido, muy a pesar m&#237;o, de diversas cintas de duraci&#243;n superior a veinte minutos, tales como <u>Indian Circle</u> (Eug&#232;nia Balcells, 1981), <u>Veneno Puro</u> (Xavier Villaverde, 1984), <u>Denantes</u>
(Manuel Abad, 1984), <u>Especial 1984</u> (Manuel Muntaner, 1985), <u>El Ring</u>
(Juli&#225;n Alvarez, 1988), <u>TVE: Primer Intento</u>
(Muntadas, 1989) o <u>Los bordes de una herida</u>
(Esther Mera, 1992). Por otro lado, en ning&#250;n caso me he guiado por hipot&#233;ticos hitos localistas (ya sea por el uso o abuso de medios punteros, o por minutos de fama y repercusi&#243;n por galardones concedidos), ni tampoco me he preocupado demasiado de las diplomacias propias del mapa auton&#243;mico.</p>

<p> De los a&#241;os 70, &#250;nicamente he elegido una cinta, una de las primeras de Carles Pujol; adem&#225;s de representar adecuadamente unas hechuras forzosa y deliberadamente
<u>pobres</u>, propias de aquel entonces (tiempo real, m&#237;nimo montaje), sienta en gran parte las bases del uso que har&#225; del v&#237;deo este artista pl&#225;stico en sus dem&#225;s cintas e instalaciones. Dado el prop&#243;sito contrahist&#243;rico del que parto, he prescindido por otra parte de las obras m&#225;s a&#241;ejas de Muntadas y Francesc Torres, demasiado alejadas de la reorientaci&#243;n que cobrar&#225; sucesivamente el trabajo de ambos.
De Muntadas, he seleccionado una cinta de 1983, que tuvo su primera versi&#243;n en una emisi&#243;n dedicada a la imagen en el circuito catal&#225;n de TVE, constituyendo una reflexi&#243;n sobre la publicidad, el t(i)empo y los &quot;mecanismos invisibles&quot; de la TV, desglosada en tres secuencias que combinan muy sucintos elementos. La cinta de Eug&#232;nia Balcells es una de las doce de su instalaci&#243;n <u>From the Center</u>, una cartograf&#237;a subjetiva, impresionista, poli&#233;drica de la ciudad de Nueva York en un c&#237;rculo de monitores; la c&#225;mara escruta en este caso el <u>skyline</u>
 de los dep&#243;sitos de agua sobre los tejados de las viejas casas, envueltos en una rara luz y por las m&#250;sicas mezcladas de Alvin Curran y Peter Van Riper en un entorno de peculiar ac&#250;stica.</p>

<p> La nueva ola de autores que se ha dado a conocer en la primera mitad de los 80's est&#225; a continuaci&#243;n representada por obras de diversas fechas, entrando en escena la narraci&#243;n y el cruce de g&#233;neros, nuevos estilos documentales e inventivos acercamientos al v&#237;deo desde otros medios, como la performance y la poes&#237;a. La cinta de Antonio Cano nos remite a la perpetua actualidad del deporte como espect&#225;culo medi&#225;tico, en este caso el ciclismo y con el d&#250;o Ura/Unz como <u>performers</u> pedaleadoras. De Ant&#243;n Reixa he seleccionado un fragmento suficientemente amplio de su primera cinta, un recital/performance/collage a partir de algunos de sus poemas, desprendiendo una energ&#237;a que hace irrelevante la factura un tanto tosca del conjunto. Carles Comas, inspirado por las &quot;sinfon&#237;as urbanas&quot; de las primeras vanguardias cinematogr&#225;ficas, recrea una jornada en una plaza del popular barrio de Gracia de Barcelona, con la superposici&#243;n de otras im&#225;genes a modo de asociaciones subjetivas. Xavier Villaverde, en su aportaci&#243;n a la primera entrega del programa televisivo internacional <u>Time Code</u>, concili&#243; la cuidada puesta en escena de sus primeras ficciones con las referencias a su Galicia natal, sus costumbres, ritos y t&#243;picos, que asimismo contienen otros trabajos suyos y los de otros autores gallegos de su generaci&#243;n. La cinta de Alvarez, perteneciente a su serie <u>Boxiana</u>
(1987-89), est&#225; concebida como un doble &quot;retrato&quot; del campe&#243;n Joe Louis y del influyente poeta catal&#225;n Joan Brossa, autor de la oda que acompa&#241;a a las im&#225;genes, adem&#225;s de inspirador de algunas de las mismas. Ra&#250;l Rodr&#237;guez crea una sensible evocaci&#243;n po&#233;tica &#8212;dramatizada en un estilo cuasi documental&#8212; del paisaje rural y las gentes sencillas entre las que pas&#243; su infancia. Jos&#233;
Ram&#243;n Da Cruz da rienda suelta a su particular concepci&#243;n narrativa, creando atm&#243;sferas cr&#237;pticas y situaciones obsesivas por medio de una sobria y elegante composici&#243;n de la imagen, el sonido y dem&#225;s elementos.</p>

<p> Los trabajos de Joan Pueyo, Ignacio Pardo y Jordi Teixid&#243;, tan breves como densos y compactos, tienen un aspecto af&#237;n en la manipulaci&#243;n de las im&#225;genes, y de los cuerpos capturados en ellas, sirvi&#233;ndose de los m&#225;s variados recursos. Pueyo sintetiza un (auto-)retrato familiar en un ser grotesco, como si fuera un monstruo nacido de un experimento gen&#233;tico simulado electr&#243;nicamente, pero observado con tosca &#243;ptica en la escultura que es parte integral de la misma pieza. Pardo recurre a la veloz sucesi&#243;n de im&#225;genes alternantes, cuya fusi&#243;n en el ojo provoca unas impresiones macabras y escatol&#243;gicas, pudiendo herir la sensibilidad de quienes prefieren soslayar las representaciones de muerte y podredumbre que siempre han tenido un lugar en el arte.
Teixid&#243;, dedicado al cruce creativo de la videodanza, utiliza un recurso ya manido (desde los principios del cinemat&#243;grafo), pero lo hace con la sobriedad y elegancia que distingue al recurso expresivo del trucaje o la estratagema. Otro rasgo caracter&#237;stico del trabajo de estos autores &#8212;sobre todo los dos primeros&#8212; es su planteamiento eminentemente individual, realizando sus obras casi enteramente en solitario, apenas con algunos colaboradores.</p>

<p> Francesc Torres est&#225; representado con una cinta muy reciente: una visi&#243;n de Sevilla, realizada al calor de la gestaci&#243;n de un fausto acontecimiento de candente actualidad, con segundas intenciones que se expresan mediante un mosaico de im&#225;genes met&#225;foricas, alusiones poco complacientes y ecos de tiempos pret&#233;ritos. De su ubicaci&#243;n entre las obras que representan a la m&#225;s reciente generaci&#243;n, pueden extraerse adem&#225;s iluminadoras afinidades contrahist&#243;ricas.</p>

<p> En las obras que he seleccionado de entre los autores que se han dado a conocer en los &#250;ltimos a&#241;os, advierto como posibles concomitancias el mayor peso que adquiere la escritura, el texto concebido como cita y/o argumento po&#233;tico; la cualidad metaf&#243;rica y altamente personal de las im&#225;genes; la frecuente referencia, expl&#237;cita o soterrada, a las realidades y malestares de nuestro presente; y, por &#250;ltimo, una demostrada competencia en la ilaci&#243;n de los diversos componentes visuales y sonoros (incluyendo, en varios casos, la propia composici&#243;n musical de la banda sonora). Marcelo Exp&#243;sito hace desfilar lapidarios aforismos de Cioran a una velocidad tal que dificulta su legibilidad, as&#237; como las im&#225;genes desaf&#237;an un desciframiento inmediato de las referencias que entra&#241;an. Josu Rekalde encadena distintas im&#225;genes, iconos, texturas y sonidos, incluyendo la lectura de un poema de William Blake que introduce, al final, un elemento narrativo que no se hab&#237;a hecho patente en el fluir de las dispares im&#225;genes, sin embargo ensambladas asimismo por un argumento po&#233;tico. El Grupo 3TT describe la banalidad de un itinerario sin otro destino que el de seguir su devenir rutinario y an&#243;nimo; seg&#250;n sus palabras, &quot;una historia sin personajes de la que cualquiera podr&#237;a sentirse actor&quot;.
En las obras de Joseantonio Hergueta y de Francisco Ruiz de Infante, el texto est&#225; indisolublemente unido a la concepci&#243;n de las im&#225;genes. Aunque en registros muy dispares, la escritura de ambos es siempre en primera persona, introspectiva, sin titubeos en cuanto a la expresi&#243;n de un <u>spleen</u> o desasosiego interior, hilvanando las met&#225;foras y testimonios oculares de la perplejidad adolescente, la sexualidad y el viaje a ninguna parte (Hergueta), o de la tristeza y la muerte, la culpabilidad y el sentimiento de exclusi&#243;n (Ruiz de Infante). En la cinta de Dionisio Romero, en cambio, no hay m&#225;s texto que el de unos sucintos t&#237;tulos que separan las diferentes secuencias; seleccion&#233;
esta cinta sin saber nada de su autor, por intuir que detr&#225;s de sus im&#225;genes, extra&#241;as y familiares a un tiempo, hab&#237;a un muy personal aliento de no sab&#237;a qu&#233; tipo; despu&#233;s he sabido que es la primera cinta de alguien tambi&#233;n tentado por el oficio de poeta: <u>ergo</u>,un aliento, una vez m&#225;s, po&#233;tico.</p>

<p> Admitido que toda (s)elecci&#243;n tiene algo de capricho y de juego de azar (como se suele decir, unos son y no est&#225;n, etc.), quien reparte el juego esta convencido de jugar limpio, pero no de jugar sobre seguro. Su aspiraci&#243;n es que el m&#225;ximo de sus apuestas puedan constituir aciertos, pero el turno lo tienen ahora los espectadores, que juzgar&#225;n por s&#237; mismos los propios desaciertos del seleccionador, antes que los de los autores y las obras que ha elegido.</p>

<p> Mayo de 1992</p> 