  <p> <b>PESOS Y MEDIDAS</b><b>					</b>(x)
Eugeni Bonet</p>


<p>
&#8230;y nada que no sea el peso del mundo ha de volver a oprimir<i>nos</i>.</p>

<p> PETER HANDKE</p>
<p> <i>El peso del mundo - Un diario</i></p>
<p> <i>(noviembre 1975-marzo 1977)</i></p>

<p> Las medidas de este texto, seg&#250;n el procesador de textos que he empleado, son: 10712 caracteres o espacios, 1730 palabras. (No indico el n&#250;mero de l&#237;neas o de p&#225;ginas, pues sin duda cambiar&#225;n al confeccionarse la publicaci&#243;n al que va destinado este escrito). Cualquier correcci&#243;n, modificaci&#243;n, errata que se introduzca en mi calculado texto, podr&#225;
alterar aquellas cuentas, a las que se deber&#225; conceder pues una tolerancia discreta e imprecisa. Podr&#237;a a&#250;n echar otras cuentas: las de mis pulsaciones sobre el teclado; del tiempo invertido en preparar y redactar este escrito; del tiempo dedicado a buscar una cita &#8220;de peso&#8221; para su cabecera (y, de paso, para sus entra&#241;as); del dinero a percibir, y sus retenciones, por la publicaci&#243;n de este texto&#8230; etc&#233;tera.</p>

<p> Y es que, conversando con Antoni Abad, revisando con &#233;l su trabajo, su pr&#225;ctica art&#237;stica de los &#250;ltimos a&#241;os y sus contingentes o anecd&#243;ticos detalles, se me ha contagiado su febril actividad (&#191;obsesi&#243;n?, &#191;est&#233;tica?) medidora. As&#237;, desde 1991 proceder&#237;a a medir/considerar la realidad con un
(metro-)patr&#243;n arbitrario: medici&#243;n primeramente del ego (por supuesto que tan suyo como ajeno), del espacio &#8220;sublime&#8221; de la creaci&#243;n art&#237;stica, del espacio de una colecci&#243;n, el recinto de un museo (proyecto no realizado sobre el Museo del Prado), una galer&#237;a, una exposici&#243;n&#8230; Y si, hasta aqu&#237;, sus medidas/consideraciones se refer&#237;an claramente al contexto propio de su arte/oficio, y a su intervenci&#243;n en el mismo, sus sucesivas mediciones se abren a otros patrones. Los del lenguaje, las conductas, los sentimientos, la rutina, el deseo&#8230; y, en suma, el vivir cotidiano.</p>

<p> Como el propio AA admite, en los trabajos que le dieron a conocer se planteaba esencialmente una especulaci&#243;n de orden formal. Aunque tomando como materia escult&#243;rica unos elementos y objetos cotidianos y de vers&#225;til uso, relativamente vulgares y &#8220;pobres&#8221; &#8212;lo que, desde luego, no es nada nuevo, pero s&#237; significativo&#8212;; fabricados en serie y tomados como <i>ready-mades</i>
(ya es sabido que &#233;stos nos pertenecen a todos): bloques de goma-espuma, m&#243;dulos de estanter&#237;as met&#225;licas ranuradas, sillas plegables, en un momento dado navajas (&#161;se anuncia el peligro!), hasta dar con el metro(-patr&#243;n) plegable y sus ricas variedades
(metros de carpintero, metros met&#225;licos retr&#225;ctiles, metros de top&#243;grafo).</p>

<p> Este &#250;ltimo hallazgo, no obstante, le aparta crecientemente de aquel planteamiento formal primero, tal como ya ha quedado sugerido. Lo que se resuelve, tras el intervalo de sus consideraciones sobre el arte mismo (en abstracto/en concreto), en un tinte autobiogr&#225;fico si se quiere soterrado. Y que no es absolutamente introspectivo e intransferible, sino que tambi&#233;n se abre al mundo, a la realidad exterior al arte, lo sublime y sus formas. Ni que sea porque se refleja, se hace presente, se hace pesante todo <i>el peso del mundo</i>.</p>


<p> Pensar en lo que <i>hay que</i> hacer, aunque sea tan insignificante como cambiarse de camisa, se hace siempre agobiante.</p>

<p> PETER HANDKE</p>
<p> <i>op.
cit.</i></p>

<p> Peso que no se pesa, sino que se mide por otros patrones (ahora no m&#233;tricos) en las &#250;ltimas obras de AA, sobre las que me concentrar&#233; en los siguientes p&#225;rrafos, l&#237;neas, palabras&#8230; Patrones que, muy apropiadamente, los proporciona el propio cuerpo, el propio sujeto (en concordancia pues con el acento subjetivo de estos nuevos trabajos), y que son concretamente el palmo
&#8212;anverso de la palma abierta de la mano&#8212; y el pie; patrones que, tomados literalmente, se nos antojar&#237;an primitivos si no los supi&#233;ramos vigentes en ciertos casos, contextos y mapas. (1 pie =
12&#8221; &#243; 30,48 cm; 1 palmo = 20 cm, seg&#250;n cierta homologaci&#243;n).</p>

<p> Y obras que pueden pasar ahora a denominarse <i>instalaciones</i>, sin que AA se sienta pr&#243;fugo de su oficio/identidad de escultor, sino todo lo contrario: &#8220;Me siento m&#225;s escultor que nunca&#8221;, vino a decirme cuando discut&#237;a con &#233;l sobre el aparente nuevo rumbo de su obra, y refiri&#233;ndose m&#225;s particularmente a una obra, <i>Ultimos deseos</i>, en la que la materia-base se reduce a una proyecci&#243;n de v&#237;deo. (Claro que ya Rosalind Krauss contribuy&#243; a situar la genealog&#237;a de la instalaci&#243;n en el <i>campo expandido</i> de la escultura moderna, mientras que yo he apuntado en otra ocasi&#243;n hacia una definici&#243;n de la instalaci&#243;n como una forma de arte que cobra cuerpo no tanto en una dimensi&#243;n superior a la escultura, sino en una <i>dimensi&#243;n fractal</i>).</p>

<p> El hecho de que, entre otros elementos, AA se sirva, en sus obras recientes y actuales proyectos e ideas, del v&#237;deo u otras tecnolog&#237;as audiovisuales, no tiene en s&#237;
mayor significaci&#243;n. Sino que constituye una l&#243;gica prolongaci&#243;n de unos planteamientos que ya se hallaban presentes en sus esculturas de los &#250;ltimos ochentas. Concretamente, por su inter&#233;s en una forma de escultura metam&#243;rfica y flexible, incluso plegable, dotada de movilidad (pero no a la manera de la escultura cin&#233;tica) y capaz de regenerarse en distintos <i>estados de la materia</i>, siendo siempre una y la misma&#8230; y m&#250;ltiple. Por eso, tal especulaci&#243;n sobre las diversas posibilidades, configuraciones, mutaciones del objeto escult&#243;rico de apariencia inerte, se acompa&#241;aba a menudo de fotograf&#237;as o secuencias de im&#225;genes donde aquellas transformaciones se hac&#237;an visibles, animando potencialmente su estructura (ya fuera blanda o dura, de goma-espuma o de metal y madera).</p>

<p> Una primera aproximaci&#243;n a la subjetividad autobiogr&#225;fica la hallamos en <i>Mesures menors</i> (&#8220;Medidas menores&#8221;, 1994), a trav&#233;s del componente esencial, y no del todo nuevo en la obra de AA, de un texto. Un texto luminoso/iluminado, que es la cr&#243;nica apagada, asc&#233;tica y minuciosamente redactada, de la rutina diaria. De un d&#237;a cualquiera en concreto: &#8220;La distancia recorrida al despertarme, levantarme, mear, ducharme, lavarme los dientes, vestirme, entrar en la cocina, preparar la cafetera, acercarme el caf&#233; a los labios, salir hacia el quiosco, agacharme a recoger el peri&#243;dico, pagar a la quiosquera, leer los titulares de vuelta a casa, introducir la llave en la cerradura, abrir la puerta&#8230;&#8221;</p>


<p> Ayer hice muchas cosas: anduve, me agach&#233;, orden&#233;, lav&#233; los platos, hice cola, le&#237;, pens&#233;, habl&#233;, dibuj&#233;, escrib&#237; &#8212;y no me sent&#237;, a pesar de todo, <i>honestamente</i> fatigado.</p>

<p> PETER HANDKE</p>
<p> <i>op.
cit.</i></p>

<p> Y aquel texto que, en la instalaci&#243;n, se extiende longitudinalmente algunos metros, esa sucesi&#243;n de actividades rutinarias o sin especial significaci&#243;n que se transcriben &#8212;pero que, no obstante, acaban cobrando un significado literario o potencialmente muy pr&#243;ximo&#8212;, son por otra parte el objeto de las medidas (<i>menores</i>)
que se exponen, tomando el palmo como unidad, en los dem&#225;s elementos que completan la instalaci&#243;n: la proyecci&#243;n de una secuencia videogr&#225;fica en bucle sinf&#237;n &#8212;una mano que atraviesa, extendi&#233;ndose en palmo, el encuadre&#8212; y, acaso con objetualidad redundante, una sucesi&#243;n de manos/palmos de aluminio, tambi&#233;n alineados longitudinalmente. (Aunque algunos consider&#225;ramos este
&#250;ltimo elemento superfluo, y como si se tratara de un posible apego por parte de AA al objeto s&#243;lido, al resquicio escult&#243;rico y a las leyes del buen sentido en el mercado art&#237;stico &#8212;pues cada par de manos/palmos se pod&#237;a y puede adquirir separadamente, como si de un m&#250;ltiple se tratara&#8212;, se me ocurre ahora que dicho aspecto aporta una iron&#237;a imprevista a esta obra. Pues, finalmente, la venta parcial de la pieza <i>por palmos</i> disgregatorios proporcionar&#237;a, al cabo del tiempo, una nueva medida: la del &#233;xito, cuando menos mercantil, de la obra y en cierto modo del artista, constituyendo otro c&#243;mputo m&#225;s sobre su rutina y su vida. Vista la cosa as&#237;, nos quedamos con un palmo&#8230; de narices).</p>

<p> El precedente par&#233;ntesis me da pie a observar que la subsiguiente obra de AA, <i>Ultimos deseos</i> (1995), aparece al contrario despojada de todo elemento s&#243;lido u objetual que no sea el espacio mismo al que se agarra. Pues tr&#225;tase ahora de una simple imagen proyectada sobre el techo o b&#243;veda de un recinto (aunque no todo recinto vale, y quiz&#225; no resulte tan f&#225;cil encontrar otros tan adecuados como aquel en el que AA present&#243; originalmente esta pieza: v&#233;anse fotos). Esta imagen &#8212;nuevamente una secuencia videogr&#225;fica editada en bucle (AA ama los bucles, los c&#237;rculos, supongo que los pal&#237;ndromos: DABALE ARROZ A LA ZORRA EL ABAD)&#8212;, proyectada sobre un plano cenital, nos muestra a un fun&#225;mbulo haciendo equilibrios sobre un corto trecho de cuerda que recorre tambaleante, avanzando y retrocediendo una y otra vez, como si dudara en seguir hacia adelante. (El encuadre nos presenta en primer t&#233;rmino la cuerda y los pies del fun&#225;mbulo, por otra parte desnudo y an&#243;nimo, en una composici&#243;n poderosa y en claroscuro).</p>

<p> De nuevo con un tinte autobiogr&#225;fico no inmediato, puede decirse que la pieza visualiza una frase hecha:
&#8220;estar en la cuerda floja&#8221; (donde el verbo es intercambiable por otros, tales como &#8220;andar&#8221;, &#8220;vivir&#8221; o &#8220;sentirse&#8221;). En realidad, es, a la manera de Gertrude Stein, una <i>everybody&#8217;s autobiography</i>: una autobiograf&#237;a de todo quisque, salvo que logremos a&#250;n imaginar la posibilidad de una felicidad perpetua, exenta de angustias, adversidades y carencias. Pues nuestro fun&#225;mbulo no es el h&#233;roe perfecto, sino un saltimbanqui que avanza titubeante, sin avanzar realmente: sabedor del peligro, del riesgo, recorre, suspendido en el aire &#8212;y en el <i>suspense</i> de la obsesiva, hipnotizadora imagen en la elevada b&#243;veda&#8212;, una l&#237;nea recta que en realidad es un c&#237;rculo. Un c&#237;rculo vicioso. Se sostiene en equilibrio con tr&#225;gico, dubitativo onanismo, pero es l&#237;cito preguntarse cu&#225;ndo caer&#225; o se desplomar&#225; voluntariamente hacia su destino en el mundo, sobre la tierra o enterrado, como si fuera el protagonista de un drama del absurdo (o, si se prefiere un adjetivo m&#225;s socorrido, kafkiano), a la vez que de lo m&#225;s cotidiano.</p>

<p> En esencia, el coraz&#243;n de la pieza no es sino un calco o variaci&#243;n m&#225;s expresiva y penetrante de la imagen central de <i>Mesures menors</i>, con el pie reemplazando ahora a la mano, al palmo, como patr&#243;n que recorre y mensura el estrecho espacio de un encuadre que es como un peque&#241;o teatro del mundo, en abstracto y sin relieve ni profundidad reales. Y puesto que <i>Ultimos deseos</i> tiene el optativo complemento de tres piezas relativamente independientes, tres im&#225;genes fotogr&#225;ficas que espesan su <i>trama</i>
(en el sentido narratol&#243;gico del t&#233;rmino, y coadyuvando a posibles hilos argumentales como los que he expuesto previamente), quisiera concluir resaltando una de ellas: la de unas manos abiertas con los dedos entrecruzados, como para ayudar a la ascensi&#243;n del fun&#225;mbulo&#8230;
&#161;palmas/palmos y pies, en comandita pues!</p>

<p> Barcelona, julio de 1995</p> 