  <p> <b>CON
&#193;NGEL						     </b>(x) Eugeni Bonet</p>


<p>
&#8220;&#191;Comprend&#233;is ahora el por qu&#233;
acostumbramos a llamar &#8216;realistas&#8217; nuestras investigaciones sobre los Angeles? M&#225;s reales los Angeles, que las plantas. M&#225;s que las bestias. M&#225;s que los mismos hombres. M&#225;s reales, porque son m&#225;s ideales&#8221;.</p>

<p>
           Eugenio d&#8217;Ors, <i>Introducci&#243;n a la vida ang&#233;lica</i> (1933-34)</p>


<p> A menudo, en las obras de Javier Codesal, aparecen &#225;ngeles, seres mitol&#243;gicos o fant&#225;sticos, voces que cantan, instrumentistas inesperados, u otros elementos un tanto ins&#243;litos: animales &#8220;disfrazados&#8221;, unos indios de guardarrop&#237;a, un camello cargando con una cruz, una sirena, tres centauros entre un cuadro folcl&#243;rico, un diablo errante (&#225;ngel ca&#237;do), un ni&#241;o gaitero suspendido en mitad de un muro&#8230; Incluso cuando renuncia a una puesta en escena propia, para tomar un enfoque documental o acudir a im&#225;genes de archivo, de repente uno encuentra un <i>punctum</i> inusitado, una escena rara, una imagen poderosa: un legionario que acaricia a un jabal&#237;, unos p&#225;jaros en c&#243;pula, un gitanillo desnudo.</p>

<p> Conozco a Javier Codesal pr&#225;cticamente desde los inicios de su actividad en el arte y el v&#237;deo; o, mejor dicho, el arte y los medios, pues por su trayectoria se advierte que su vocaci&#243;n es la de un artista de los
<i>media/multimedia</i>; un campo que delinea concisa y pragm&#225;ticamente la expresi&#243;n inglesa
<i>media art</i>.
Esencialmente, los medios y multimedios en los que ha operado hasta hoy son la radio, la acci&#243;n, el v&#237;deo (y, circunstancialmente, la televisi&#243;n; &#225;mbitos &#233;stos a los que se ha dedicado profesionalmente, por otra parte), la instalaci&#243;n (con v&#237;deo la mayor&#237;a de las veces) y, m&#225;s recientemente, la fotograf&#237;a (como un ingrediente m&#225;s de instalaciones o proyectos multimedia, aunque, a su vez, con un relieve propio).</p>

<p> En estas p&#225;ginas, voy a referirme principalmente a sus piezas de v&#237;deo &#8212;y m&#225;s a sus cintas que a sus instalaciones&#8212;, por la sencilla raz&#243;n que es la parcela de su trabajo con la que estoy m&#225;s familiarizado, la que conozco de manera m&#225;s inmediata; esto es, sin la mediaci&#243;n de la documentaci&#243;n y las descripciones, a las que habr&#237;a de acudir para referirme a aquellas otras obras que no he presenciado &#8212;verbo en el que condenso las acepciones de ver, estar presente, experimentar por uno mismo: circunstancias requeridas por el arte de acci&#243;n y de instalaci&#243;n por su propia naturaleza&#8212;, mientras que el v&#237;deo, por su cualidad
&#8220;enlatada&#8221;, me ha permitido repasar, casi en su integridad, su producci&#243;n monocanal en este medio.</p>

<p> Por otra parte, el v&#237;deo representa una porci&#243;n particularmente sustancial de la obra y dedicaci&#243;n de Codesal, y es en el &#225;mbito un tanto precario del videoarte (o de creaci&#243;n) espa&#241;ol donde ha conseguido un cierto renombre, antes de introducirse en el &#225;mbito m&#225;s amplio, pero tambi&#233;n m&#225;s cerrado, del arte sin m&#225;s. Ambito que hoy ha de admitir en su seno a los <i>media/multimedia</i> antes aludidos, aunque se muestre a&#250;n renuente a aceptar en bloque las pr&#225;cticas investigadoras y creativas en determinados medios y
&#225;reas que quedan a la sombra de su desarrollo industrial y &#8220;de oficio&#8221;, vi&#233;ndose as&#237; relegados a un cierto estatuto marginal o
<i>underground</i>; cual es, entre otros casos, el del v&#237;deo dicho de creaci&#243;n, independiente, de autor, etc. (aqu&#237;, y hoy tanto como antes).</p>

<p> La obra de Codesal, adem&#225;s, no es c&#243;modamente asimilable, y f&#225;cilmente puede obtenerse la impresi&#243;n de un cierto hermetismo. En este sentido, quiz&#225; sea un reproche a hacerle el que tantas de sus obras sean tan poco obsequiosas con nuestras ansias de ubicar las obras art&#237;sticas &#8212;las cosas que uno hace &#8220;con las manos&#8221; y seg&#250;n los impulsos de la mente&#8212; y sus contenidos, en relaci&#243;n con un mapa o casillero previo de estilos y temas, medios y modalidades, signos y sentidos, etc.</p>

<p> Por una parte, pienso, a Codesal se le podr&#237;a despachar r&#225;pida y no del todo inadecuadamente como un
&#8220;surrealista&#8221; &#8212;en tanto que aragon&#233;s, no tendr&#237;amos dificultad en encontrarle unas ciertas raices&#8212;, s&#243;lo que el calificativo ha devenido hoy tan manido que carece de otra precisi&#243;n que la de denotar un cierto componente o rasgo fuera de lo com&#250;n.
Por otra parte, Codesal no ha elegido la senda narrativa predominante en la expresi&#243;n audiovisual (en el cine, en una abultada franja de la TV, tambi&#233;n entre el v&#237;deo de otros colegas de su misma generaci&#243;n), con sus reglas m&#225;s o menos prefijadas, por muy maleables que puedan ser, y se ha inclinado m&#225;s bien por las licencias de la poes&#237;a, abierta tanto a la rima como al verso libre, a la imagen como al sonido (y a la suma de ambos), al quietismo como al accionismo, a la redundancia y al neologismo, a lo cerrado y lo abierto, a lo &#237;ntimo y a lo pol&#237;tico, etc.</p>

<p> Ubic&#225;ndole as&#237;, en un territorio po&#233;tico multimedia (por m&#225;s, y ya referidas, se&#241;as), debemos respetar entonces esa &#8220;oscuridad&#8221; po&#233;tica a la que se refer&#237;a un poeta raro, Juan-Eduardo Cirlot.[1] Y, por cuanto su materia de expresi&#243;n esencial es la imagen, y lo audiovisual por extensi&#243;n, a&#241;adir&#233; una observaci&#243;n que me hizo el propio Codesal, como para se&#241;alarme una de sus premisas o planteamientos b&#225;sicos: tomar partido por los signos fuertes, ahuyentar las im&#225;genes no necesarias. Lo que podemos deducir de ambos extremos es que nada quiere ser caprichoso en la obra de Codesal, por muy oscuro, ins&#243;lito, chocante que nos resulte tal o cual elemento: ese inserto, aquella escena, determinado texto, tal personaje o aparici&#243;n&#8230;</p>

<p> Una de las cosas que m&#225;s llama la atenci&#243;n a lo largo de la obra de Codesal (y de casi cualquier pieza suya en concreto) reside no en su car&#225;cter, pero s&#237; en sus motivos, de orden racial, at&#225;vico, castizo, recio; por momentos se dir&#237;a que casi bordando la parodia de unas esencias, obsesiones, costumbres, tipos, particularidades tenidas por t&#237;pica y t&#243;picamente espa&#241;olas.
No s&#233; si lo expreso adecuadamente, pero me refiero al relieve que toman aspectos tales como el medio ambiente agr&#237;cola y rural, lo folcl&#243;rico (particularmente en su expresi&#243;n musical), la religi&#243;n y el tributo a la muerte (&#8220;todo por la patria&#8221;). As&#237;, adem&#225;s de por &#225;ngeles, faunos, pieles rojas, alguna sirena y un ocasional camello, sus obras est&#225;n pobladas por legionarios (novios de la muerte), baturros joteros, coplistas, dulzaineros y gaiteros, gitanos, matarifes, terneros y v&#237;sceras, toros y asnos, cruces y cristos, banderas e himnos, cantes profanos y p&#237;os; elementos que van m&#225;s all&#225; de lo pintoresco y del color local.</p>

<p> Preguntado al respecto, Codesal reivindica este prop&#243;sito de localizaci&#243;n y arraigamiento, ubicaci&#243;n y anclaje en una tradici&#243;n cultural que podemos juzgar anacr&#243;nica o estereotipada en algunos de sus extremos, pero que no por ello puede decirse que sea menos real. Lo chocante, pues, residir&#237;a en lo an&#243;malo de unos v&#237;deos desprovistos del simulacro de modernidad y universalidad tan socorrido en este campo, del rebuscado efectismo tecnol&#243;gico (por aquello de la especificidad del medio), y de las bellas m&#250;sicas de amueblamiento de Brian Eno o Laurie Anderson, por ejemplo; elementos mediante los que se me ocurre caricaturizar buena parte del &#8220;nuevo v&#237;deo espa&#241;ol&#8221; que brota a mediados de los ochenta. (Otras excepciones las hallar&#237;amos en cintas de Manuel Abad, Ra&#250;l Rodr&#237;guez, Ant&#243;n Reixa o Juli&#225;n Alvarez, por mencionar algunos nombres). As&#237;, como F&#225;tima Anllo escribi&#243; a prop&#243;sito de los v&#237;deos de Codesal: &#8220;Para nosotros
[&#8230;] esas im&#225;genes se hallan ligadas de forma tan indeleble al recuerdo y a la emoci&#243;n que lo acompa&#241;an, que la memoria viene a interponerse a la met&#225;fora, enturbiando la mirada. Seguramente sea por eso por lo que su obra no ha sido siempre bien comprendida dentro de nuestras fronteras y, en cambio, tan bien acogida fuera de ellas&#8221;.[2]</p>


<p> <u><b>Sin pandereta</b></u></p>

<p> De 1983 a 1986, las primeras andanzas creativas de Codesal (excluyendo ciertas piezas radiof&#243;nicas previas) son en colaboraci&#243;n: primero, como integrante del grupo OBRA/ABRE, con Rafael R. Tranche (compa&#241;ero de estudios en Ciencias de la Informaci&#243;n, luego dedicado al trabajo te&#243;rico) y Ra&#250;l Rodr&#237;guez; luego, en t&#225;ndem con este &#250;ltimo y frecuentando principalmente el v&#237;deo, la acci&#243;n en vivo y el concepto de instalaci&#243;n. En su prol&#237;fica actividad de aquellos a&#241;os, pueden observarse ya los principales senderos que ha tomado la obra de Codesal. Distinguir&#237;a esencialmente tres, y s&#243;lo uno de ellos, el del accionismo, parece estrictamente acotado en la coyuntura de aquellos a&#241;os. De la sencillez de unas propuestas tan escuetas como abrazar a gentes encontradas al azar por la calle (<i>Un abrazo, por favor</i>, 1983), o &#8220;instalar&#8221; <i>Una TV en un nicho</i> (1983)
&#8212;en el d&#237;a de Todos los Santos y con una selecci&#243;n-sumario de la programaci&#243;n propia de TVE en aquella &#233;poca&#8212;, a la <i>performance</i>
&#250;ltima, de factura cuasi teatral, de Rodr&#237;guez y Codesal (<i>Bajando banderas</i>, 1986), en el intervalo se cuentan intervenciones m&#225;s conceptualistas en el orden de lo p&#250;blico/publicitario (<i>Toro Abierta</i>, 1984, alteraci&#243;n de un &#8220;ejemplar&#8221; del toro de Osborne, el caracter&#237;stico icono/recorte publicitario que a&#250;n puede avistarse en las principales carreteras espa&#241;olas); sucesivas incursiones en el aparataje de la instalaci&#243;n y, m&#225;s espec&#237;ficamente, de la v&#237;deo-instalaci&#243;n (aunque un tipo de instalaci&#243;n que requiere a&#250;n un cierto componente de acci&#243;n, intercambio con el &#8220;visitante&#8221;
y, en algunas ocasiones, la participaci&#243;n del mismo); y, a&#250;n entre otras m&#225;s, <i>La cruz de Juvec&#225;n</i> (1985-86), la
&#250;nica acci&#243;n que dar&#237;a pie a un v&#237;deo del mismo t&#237;tulo, sin que
&#233;ste sea un mero documento, sino que encaja perfectamente en esos otros senderos que se perfilan en las primicias videogr&#225;ficas y multimedia de Javier Codesal.</p>

<p> En primer lugar, el enfoque documental &#8212;aunque no un documentalismo al uso&#8212; del que parte
<i>Pornada</i>
(1984), el primer v&#237;deo de Codesal y Rodr&#237;guez: documental que ensarta ciertos modelos televisivos, pero &#8220;con perversiones&#8221;, seg&#250;n sus autores puntualizaban en un comentario/sinopsis. De otro texto de Codesal referido a las primeras andanzas de OBRA/ABRE en el medio videogr&#225;fico, extraigo una consideraci&#243;n que quiz&#225; aclare cu&#225;l era la motivaci&#243;n de ese, digamos, instinto perverso o contrariador, al abordar la televisi&#243;n mediante el v&#237;deo (personal y de bajo presupuesto): &#8220;Ser&#237;a provechoso recuperar la herencia de baja estofa legada por la TV, sombra y mezcla de toda forma expresiva&#8221;.[3] La s&#243;la idea de regodearse en la infimidad y bastard&#237;a est&#233;tica de la teletonta es, decididamente, toda una declaraci&#243;n de principios.</p>

<p> <i>Pornada</i>, por otra parte, pretende ser una construcci&#243;n po&#233;tica de la realidad; un prop&#243;sito que, seg&#250;n el propio Codesal, se encuentra en los cimientos de toda su obra: para &#233;l, la realidad equivale a <i>la verdad</i>, y la po&#233;tica, la ficci&#243;n, el trasiego de signos ser&#237;an la manera de intentar descubrir y expresar esa verdad contenida en las cosas. Para lograr esa contextura po&#233;tica, en <i>Pornada</i> pretendieron introducir sus autores &#8220;rimas, im&#225;genes que vuelven, etc&#8221;, aunque lo que m&#225;s inmediatamente se advierte es la sutileza de sus percepciones paisaj&#237;sticas y las licencias que se permiten al anudar los diversos elementos que representan el entorno agr&#237;cola escogido. &#201;ste es un peque&#241;o pueblo leon&#233;s, localidad de origen de Ra&#250;l Rodr&#237;guez (por los cr&#233;ditos, descubrimos adem&#225;s que la mayor parte de quienes aparecen en el v&#237;deo son familiares suyos), aunque la descripci&#243;n que se nos da es, m&#225;s bien, la de sus aleda&#241;os: la pornada (&#8220;extensi&#243;n de tierra cultivable&#8230;&#8221;), la actividad cineg&#233;tica en la zona, su peculiar cementerio (donde las tumbas son excavadas por sus futuros destinatarios) y, de manera insistente, cierto problema de incomunicaci&#243;n y aislamiento debido a la carencia de l&#237;neas telef&#243;nicas. Los 22 minutos que dura la cinta se deslizan fluidamente, mediante un ritmo pausado pero no moroso, entre la alternancia de panor&#225;micas y planos fijos, y el predominio de sonido natural. (Una de las contrariedades m&#225;s obvias a la que es sometida la convenci&#243;n documental estriba en la ausencia de todo comentario en <i>off</i>).
La mirada contemplativa, impresionista, a este paisaje-con-figuras, es fragmentada sin embargo por las peroratas sobre el agravio telef&#243;nico antes referido (con otras alusiones al asunto que se despliegan de principio a fin de la cinta), as&#237; como al cementerio y la inanidad de la vida en el pueblo (por lo menos, en cuanto a los aspectos de ocio y cultura que sacan a colaci&#243;n los dos sujetos m&#225;s j&#243;venes entrevistados); &#233;stas &#250;ltimas, pronunciadas desde el interior de fosas a&#250;n vac&#237;as o a lomos de uno de los muros del camposanto.</p>

<p> Tras bifurcar sus caminos, tanto Rodr&#237;guez como Codesal realizaron otras obras de signo documental; unas de car&#225;cter absolutamente independiente y personal, otras de encargo o pro-televisivas. Codesal, sin embargo, no considera del todo suyas las que se corresponden con esta &#250;ltima condici&#243;n, y se lamenta por no haber podido tener un mayor control sobre ellas. As&#237;, la siguiente obra suya a considerar en esta l&#237;nea ser&#237;a <i>S&#225;bado legionario</i> (1988), circunstancialmente producida por RTV Madrid, hasta hoy apenas divulgada y, en mi opini&#243;n, uno de los v&#237;deos con m&#225;s fuerza de entre toda la producci&#243;n de Codesal. Por otra parte, es quiz&#225; su realizaci&#243;n m&#225;s puramente documental, aunque tambi&#233;n alejada de la convenci&#243;n gen&#233;rica antes aludida (de nuevo, la narraci&#243;n en <i>off</i> ha sido erradicada), y con una proximidad manifiesta a las dem&#225;s obras personales de Codesal, en cuanto a su estilizaci&#243;n, tem&#225;tica, concentraci&#243;n s&#237;gnica, referencias o alusiones, etc.</p>

<p> El tema, el &#225;mbito, el ambiente que se retrata en sus im&#225;genes tiene de por s&#237; una fuerza inherente, pues, tal como sugiere el t&#237;tulo, se trata del mundo macho-militar de la Legi&#243;n; si bien &#233;ste nos es mostrado en sus aspectos pintorescos (el ritual nombrado por el t&#237;tulo, mezcla de parada militar y honras religiosas) y de imagen &#8220;mejorada&#8221; y profesional del cuerpo (a trav&#233;s de las jugosas declaraciones de los mandos), tanto como por la captaci&#243;n de maniobras, ejercicios, simulaciones b&#233;licas, o por las &#8220;frases hechas&#8221; del <i>credo</i> legionario (en parte, a trav&#233;s de las palabras de los propios legionarios y oficiales; tambi&#233;n mediante una emblem&#225;tica canci&#243;n, <i>El novio de la muerte</i>, que interpreta un curtido ex-legionario). As&#237;, el v&#237;deo no contiene un subrayado cr&#237;tico expl&#237;cito, mientras que, si lo consideramos en su circunstancia de producci&#243;n televisiva (aunque el proyecto, de hecho, fuera previo a dicha circunstancia, y la producci&#243;n se plante&#243; a t&#237;tulo &#8220;experimental&#8221;, lo que equivale a decir que el ente responsable se desentendi&#243; en gran parte del producto), dista mucho de ajustarse al formato de un &#8220;informativo&#8221;.</p>

<p> Este sentido huidizo, antes que ambiguo, de la obra en su conjunto, yo dir&#237;a que est&#225; motivado b&#225;sicamente por la ausencia de todo comentario, o de posibles insertos maliciosos, aunque tambi&#233;n por los giros del montaje, del orden secuencial (por ejemplo, escenas de maniobras militares seguidas de la pac&#237;fica imagen de la banda de la Legi&#243;n interpretando una marcha junto al mar). En cierto modo, pues, Codesal opera con unos planteamientos similares a los de, por ejemplo, el
<i>cine directo</i> norteamericano (de los Leacock, Maysles o Wiseman, aunque la comparaci&#243;n se me ocurre un tanto al vuelo), dejando que sea mediante las im&#225;genes y las palabras de los propios protagonistas que uno sienta las posibles iron&#237;as y escalofr&#237;os del &#8220;esp&#237;ritu legionario&#8221;, con su exaltaci&#243;n de unos &#8220;valores&#8221; de tropa, hombr&#237;a, disciplina, honor, abnegaci&#243;n, patriotismo y autosacrificio extremo (la muerte como exaltaci&#243;n de la vida, seg&#250;n viene a decirnos uno de los oficiales entrevistados).</p>

<p> Por &#250;ltimo, vincular&#237;a asimismo a este enfoque documental en el que me he detenido, una de las obras m&#225;s recientes de Codesal &#8212;el film de cortometraje titulado <i>O milagre da carne</i>
(1994)&#8212;, pues, aunque siendo, en cierto modo, su ejercicio m&#225;s rotundamente narrativo, lo es esencialmente como transfiguraci&#243;n ficcionalizada de una realidad cotidiana y del todo particularizada.
Es decir que, en cierto modo, podr&#237;a describirse como un documental dramatizado o <i>docudrama</i>, aunque este neologismo hoy tan manido, no se adec&#250;a del todo a las hechuras de la obra. Por otro lado, ha sido el propio Codesal quien me ha apercibido del parentesco entre &#233;sta, su <i>opera prima</i> cinematogr&#225;fica, y su <i>opera prima</i> videogr&#225;fica de diez a&#241;os antes, <i>Pornada</i>.
Obras gemelas ambas, por ser fruto de una estrecha colaboraci&#243;n, y por haber sido motivadas por sendas visitas a &#8212;y el correspondiente conocimiento y familiaridad con&#8212; el entorno humano, topogr&#225;fico, cultural, costumbrista de la persona co-autora (en <i>Pornada</i>, Ra&#250;l Rodr&#237;guez; en <i>O milagre&#8230;</i>,  Julia Sieiro, que desde hace a&#241;os ayuda a Javier en las tareas de direcci&#243;n y producci&#243;n, y que, en este film, consta como productora y co-guionista).  </p>

<p> <i>O milagre da carne</i> es, seg&#250;n yo lo percibo, como un &#225;lbum familiar entrevisto mediante una motivaci&#243;n narrativa anecd&#243;tica, y con unas figuras y contrafiguras, situaciones costumbristas y desacostumbradas, a su alrededor: nuevamente, un &#225;mbito rural, lugare&#241;o. As&#237;, Filucha, que ha estudiado Filosof&#237;a y lee a Marguerite Duras, o Paco, ch&#243;fer de pol&#237;ticos de la autonosuya, ser&#237;an las contrafiguras de los personajes de mayor presencia: su hermano Manuel, matarife por inercia y continuidad del negocio familiar, y la enjuta madre de todos ellos. Como en tantas otras obras de Codesal, lo real, cotidiano, simplemente capturado en im&#225;genes, se entremezcla en un plano igual con lo ins&#243;lito, lo ficcionalizado, lo puesto en escena con visible artificio: el &#8220;ang&#233;lico&#8221; gaitero de facciones mong&#243;licas de inexplicada presencia, el p&#250;dico ni&#241;o desnudo que reemplaza al ternero que aguarda en el establo la hora de su sacrificio, el sacral acercamiento de Filucha al despojo/lengua del cuerpo sacrificado, el ternero muerto y recostado sobre la mesa familiar en la inquietante escena epilogal. Y uno advierte asimismo el innegable pero nada ostentoso oficio del realizador cuidadoso, intencionado y sensible que otorga <i>tempi</i> diversos a sus preocupaciones retrat&#237;sticas, metaf&#243;ricas y trascendentales; particularmente, en las secuencias de montaje m&#225;s
&#225;gil y acerado que enfilan el acto sacrificial con un ritual contagioso de m&#250;sica, danza y gestos.</p>


<p> <u><b>Miscel&#225;nea de signos</b></u></p>

<p> Se advierte, tambi&#233;n tempranamente, una orientaci&#243;n hacia el discurso de lo simb&#243;lico o, como dice Codesal, a la potenciaci&#243;n de signos y arquetipos. No con rudeza iconoclasta, sino con sensibilidad iconopl&#225;stica y po&#233;tica.
Y, en gran parte, los signos elegidos son, como ya se ha dicho, unos que evocan un cierto peso cultural, de la tradici&#243;n y de lo que se ha impuesto por su propia fuerza. De hecho, el <i>corpus</i> entero de su obra se nos muestra cruzado por unas referencias constantes; principalmente, a la religi&#243;n, al poder jer&#225;rquico y represivo, y al universo y folclor rural. Un costumbrismo poco complaciente, sin embargo &#8212;antes que la nostalgia, aflora la desaz&#243;n&#8212;, por entre el cu&#225;l se filtran realidades cotidianas y rigurosamente contempor&#225;neas.</p>

<p> En <i>La batalla del siglo</i>
(1986), su segundo v&#237;deo en colaboraci&#243;n con Ra&#250;l Rodr&#237;guez, los temas del belicismo at&#225;vico y la arrogancia del poder se traducen iconogr&#225;ficamente en un juego de &#8220;indios y vaqueros&#8221; (mu&#241;equitos de pl&#225;stico), en alternancia con grotescas escenas protagonizadas por unos anacr&#243;nicos pieles rojas de guardarrop&#237;a-de-corto-presupuesto, entre las que se insertan otras de un soldado confuso que se despoja sucesivamente de su uniforme y de una armadura que repentinamente se le adhiere al cuerpo desnudo, y de un hier&#225;tico oficial del ej&#233;rcito con bander&#237;n espa&#241;ol, himno nacional y mec&#225;nico saludo marcial. Estos incongruentes elementos se aglutinan en las dos escenas finales, donde una india lava en la orilla de un riachuelo la ense&#241;a espa&#241;ola, y donde un cuartel o similar &#8212;con ca&#241;ones emergiendo de entre sus muros&#8212; se nos antoja el &#8220;fuerte apache&#8221; que faltaba en este malicioso juguete c&#243;mico.</p>

<p> Iconos de poder, militarismo, represi&#243;n, desperd&#237;ganse tambi&#233;n en otras obras: la instalaci&#243;n
<i>Garrote vil</i>
(1985), la acci&#243;n <i>Bajando banderas</i> (1986), los v&#237;deos <i>S&#225;bado legionario</i> (1988) y <i>Pie Jesu</i> (1991). Las iconograf&#237;as de lo rural, del folclor, de las tradiciones y costumbres locales, se extienden de <i>Pornada</i>
(1984) a <i>O milagre da carne</i> (1994), pasando por la instalaci&#243;n <i>Noria</i>
(1985) y por <i>Centauro</i>
(1988), v&#237;deo y v&#237;deo-escultura. La hominizaci&#243;n del animal podr&#237;a ser, a&#250;n, otro aspecto a considerar a lo largo de diversas obras; entre otras la mencionada <i>Noria</i>, donde una burra da vueltas sobre una espiral de paja con un reguero de flores en su extremo exterior (referencia a las coronas funerarias y a los materiales empleados en su confecci&#243;n), haciendo rodar a su vez, al otro extremo del apero-noria, un monitor donde se visualiza un parto, en una ilustraci&#243;n pagana y nihilista del ciclo de la vida: nacer, morir, andar en c&#237;rculos en el intervalo. Cabe mencionar igualmente un proyecto en cierto modo inconcluso (<i>Cabeza de burro</i>, 1987: especulaci&#243;n sobre la percepci&#243;n visual de dicho animal, destinada a contemplarse desde el interior de una m&#225;scara que reproduce su cabeza) o ciertas referencias impl&#237;citas del cortometraje <i>O milagre da carne</i>, pero es en <i>Centauro</i> donde quiero detenerme algo m&#225;s, por la singularidad de esta pieza videogr&#225;fica.</p>

<p> Codesal dice que concibi&#243;
<i>Centauro</i> como una mini-&#243;pera (por el car&#225;cter localista-folcl&#243;rico de su m&#250;sica, a m&#237; se me ocurre deslizar tal concepto hacia el de nuestro
&#8220;g&#233;nero chico&#8221;), tomando como punto de partida un escenario espec&#237;fico con el que estaba familiarizado &#8212;el Patio de la Infanta, en Zaragoza, con su estatuaria y relieves de faunos y semidioses maravillosos&#8212;, as&#237; como la tradici&#243;n folcl&#243;rico-musical de su tierra: la jota y sus correspondientes av&#237;os instrumentales y de indumentaria. Del cruce de ambos elementos, extrajo un bizarro v&#237;deo musical, de tratamiento ret&#243;ricamente televisivo (aparentando una realizaci&#243;n multic&#225;mara)
y marcado aire pagano, con una rondalla baturra, tres solistas-centauros y un coro de mujeres, desglosando en cuatro estrofas (una por centauro, la cuarta por el coro) la paradoja de estos seres, mitad caballo, que cantan porque no saben relinchar, aunque tampoco sean hombres de verdad, y que compadecen al enterrador que, cuando mueran, habr&#225; de partirlos en dos para que quepan en la caja, etc, etc. Y, aunque Codesal me asegura que tampoco aqu&#237; hay una intenci&#243;n iconoclasta o ir&#243;nica, para m&#237; que tiene su sarcasmo el ver desfilar en los cr&#233;ditos finales a las diputaciones de Arag&#243;n, Zaragoza y Huesca en tanto que entes financiadores de este esperpento mitol&#243;gico-baturro; a&#250;n sin que se perciba ning&#250;n asomo burlesco en el mismo, es cierto.</p>

<p> Antes de concluir haciendo referencia a un lenguaje simb&#243;lico, el de la religi&#243;n, en el que Codesal se ha explayado ampliamente, y que adquiere un pronunciado relieve en sus obras m&#225;s recientes, no quiero olvidarme de otro de sus v&#237;deos menos divulgados y que, para m&#237;, se encuentra no obstante entre los m&#225;s notables: <i>Me voy</i> (1987). Podr&#237;a decirse que es una obra de transici&#243;n &#8212;entre otras cosas, tras el cese de su m&#225;s que estrecha colaboraci&#243;n con Ra&#250;l Rodr&#237;guez (de 1983 a 1986) y en el trance de habituarse a desenvolver una pr&#225;ctica art&#237;stica por s&#237; s&#243;lo&#8212;, y en este sentido tiene sus particularidades, siendo la &#250;nica que adquiere un tinte diar&#237;stico y cuasi autobiogr&#225;fico; aunque, a fin de cuentas, por su estilo se reconoce la contig&#252;idad con otras piezas anteriores y posteriores.
(De hecho, dir&#237;a que obras de transici&#243;n, previas a la afirmaci&#243;n de la obra de Codesal en solitario, son dos: la otra, tambi&#233;n de 1987 e inmediatamente anterior a aquella, ser&#237;a <i>Luego dicen que el pescado es caro</i>, que realiz&#243;, y se emiti&#243;, un tanto a contrapelo durante su primera incursi&#243;n profesional en televisi&#243;n, como ayudante de realizaci&#243;n de un programa matinal de TVE orientado hacia las amas de casa. En mi opini&#243;n, Codesal quiso meter y combinar demasiadas cosas, s&#237;mbolos, vi&#241;etas de la realidad y referencias culturales, y al mosaico resultante le falta claridad. Paso pues por ella entre par&#233;ntesis).</p>

<p> <i>Me voy</i> se articula nuevamente como una cadena de signos y s&#237;mbolos, sin jerarqu&#237;as o &#233;nfasis aparentes. El predominio del sonido natural o de ambiente, la duraci&#243;n bastante larga de varios planos, la ausencia de efectos, la aparente intrascendencia de las im&#225;genes, le confieren un aire espont&#225;neo e informal, como de v&#237;deo-de-aficionado. Este v&#237;deo, yo dir&#237;a, es como un rito de paso, cumplido a conciencia, aunque sin la pretensi&#243;n de establecer aquello que en ingl&#233;s se dir&#237;a un <i>statement</i>,
 una reflexi&#243;n declarativa (sino que m&#225;s bien se recurre al
<i>understatement</i>, a lo expuesto oblicuamente, m&#225;s por lo que se calla que por lo que se expone). Codesal me contaba que en esta pieza concurr&#237;an diversas circunstancias: el fin de su colaboraci&#243;n con R. Rodr&#237;guez, su demorada incorporaci&#243;n a filas para el cumplimiento del servicio militar, el final tambi&#233;n de una etapa de iniciaci&#243;n en el mundo profesional televisivo; en definitiva, una suma de intervalos, tr&#225;nsitos, pasos (y pasos en falso, obligados por la vida), de los que quiso dejar huella en un poema videogr&#225;fico del todo subjetivo, comenzando por el tiempo del verbo en el t&#237;tulo. Todas las im&#225;genes pueden acompasarse pues al que digamos estribillo del &#8220;me voy&#8221;, desde el poderoso plano inicial en el que una m&#225;quina (&#191;soltera?)
arranca gradual y fragorosamente la suela de un zapato, estirando por ambos extremos (por momentos, veo entonces una boca forzada, torturada por una m&#225;quina inhumana), al karaoke de un cantante mel&#243;dico sin &#233;xito, engarzando conmovedores ripios con gastadas palabras (&#8220;sufrimiento&#8230; coraz&#243;n dolorido&#8230; amor y pena&#8221;), pasando por algunos planos en los que aparece el propio Codesal, y otros que dice haber &#8220;rehecho&#8221; a partir de ciertas tomas previamente elaboradas con fines estrictamente utilitarios a su paso por televisi&#243;n. (Conociendo este detalle, uno puede interpretar tambi&#233;n que <i>Me voy</i> es como un desquite, tras experimentar las servidumbres del oficio televisivo).</p>


<p> <u><b>A la sombra de Dios</b></u></p>

<p> La imaginer&#237;a y simbolog&#237;a religiosa, dec&#237;a, se halla repetidamente a lo largo de los ya m&#225;s de diez a&#241;os de actividad art&#237;stica de Javier Codesal: de sus primeras acciones e instalaciones con Ra&#250;l Rodr&#237;guez y Rafael R.
Tranche (aquel televisor en un camposanto en el d&#237;a de Todos los Santos, el 1983; la iconograf&#237;a del martirologio de <i>Atado a la columna</i>, 1984,&#8230;)
hasta, de un modo m&#225;s persistente, en sus trabajos de 1989 para ac&#225;.
Preguntando a Codesal sobre la motivaci&#243;n de esta pl&#233;tora de signos sacros, angeleol&#243;gicos, inefables, de muerte y purificaci&#243;n, de la tradici&#243;n iconogr&#225;fica y musical religiosa, &#233;l la cifr&#243; en su peso espec&#237;fico y propio en el orden cultural y simb&#243;lico, aunque uno sigue pensando que la cosa viene de m&#225;s lejos, y de m&#225;s hondo.[5]
(Por en medio, de otra parte, surgi&#243; al vuelo una menci&#243;n a la obra cumbre de Dreyer, <i>Ordet</i>, por la que ambos compartimos una sentida admiraci&#243;n).</p>

<p> <i>Luz de luces</i>
(1989), otra pieza poco divulgada de entre la videograf&#237;a de Codesal, es un sencillo ejercicio po&#233;tico que tiene por motivo esencial e hilo conductor el que indica su t&#237;tulo: la luz, prism&#225;ticamente descompuesta en distintas acepciones, expresiones, ideas. Ideas luminosas. (A su vez, la cinta estaba destinada en principio a integrarse en un tr&#237;ptico pro-televisivo gen&#233;ricamente titulado <i>El prisma luminoso</i>, junto a otras piezas de Jos&#233; Ram&#243;n Da Cruz y Andr&#233;s Yuste). La luz, as&#237;, es artificio e intermitencia, emisi&#243;n solar y reflejos (en el agua, en un cuerpo desnudo&#8230;), abigarradas texturas de im&#225;genes sobreimpresas, transparencia y opacidad, silueta y contraluz. Tambi&#233;n es, seg&#250;n nos cuenta el autor en un inciso/ locuci&#243;n, &#8220;el cuerpo de un &#225;ngel caprichoso&#8221; &#8212;y, entre la corriente de im&#225;genes, se adivina en efecto la figura esculpida de un &#225;ngel&#8212;, y la maldici&#243;n de su rechazo: vemos entonces a un diablo rid&#237;culo, errando por un paisaje y volvi&#233;ndose temeroso hacia el astro implacable. Este raudal de im&#225;genes y met&#225;foras, envuelto en m&#250;sicas de la Semana Santa sevillana, se cierra, con una cierta simetr&#237;a respecto al plano inicial, con una simb&#243;lica escena ilusoria &#8212;se dir&#237;a un espejismo&#8212; en la que un coche de bomberos transita por un paisaje abierto, se detiene ante el ocaso, y dispara contra el sol un grueso chorro de agua (que, por la iluminaci&#243;n, parece negra), como en un vano esfuerzo humano por ocultar su luz, por apagar su fuego.</p>

<p> <i>Pie Jesu</i>
(1991), una breve pieza que Codesal realiz&#243; dos a&#241;os m&#225;s tarde, es nuevamente &#8212;al igual que lo hab&#237;a sido antes <i>Luego dicen que el pescado es caro</i>&#8212;
como un respiro que se permiti&#243; en medio de su dedicaci&#243;n profesional a la realizaci&#243;n televisiva; en este caso, trabajando para un programa informativo. El fuego es aqu&#237; un elemento s&#250;bito y cuasi abstracto &#8212;&#8221;un s&#237;ntoma de piedad&#8221;, se&#241;ala el autor en un comentario a esta pieza&#8212;, &#8220;purificador&#8221; como lo es la m&#250;sica elegida (un extracto del <i>Requiem</i> de Andrew Lloyd-Weber) para envolver, y en cierta medida contrarrestar, el condensado torrente de im&#225;genes medi&#225;ticas de actualidad que constituye el eje de esta peculiar miniatura audiovisual, con alusiones espec&#237;ficas (el conflicto del Golfo P&#233;rsico, la movilizaci&#243;n contra el SIDA) y otras m&#225;s gen&#233;ricas
(cat&#225;strofes ecol&#243;gicas, violencia y represi&#243;n, migraciones y xenofobia) al siempre desastrado estado del orbe. La imagen de un ni&#241;o desnudo, incrustado primero entre las c&#225;lidas llamas, y que al final vemos que corretea arrastrado tras un brioso grupo de mujeres gitanas, quiz&#225; sea aqu&#237; la encarnaci&#243;n de ese &#225;ngel que aparece y reaparece en tantas obras de Codesal.</p>

<p> Por &#250;ltimo, quiero detenerme en
<i>El manto de Ver&#243;nica</i>
(1992), pr&#225;cticamente la &#250;nica instalaci&#243;n de Codesal que yo he conocido con todo el cuerpo (tal como mi amiga y colega Anne-Marie Duguet dec&#237;a que hab&#237;an de verse las instalaciones), y una de sus obras m&#225;s espl&#233;ndidas y depuradas. La instalaci&#243;n apenas consta de tres elementos, los dos primeros integrados en uno: un manto de blancor inmaculado y noble hilo dorado, bordado por las manos de unas monjas, conteniendo el segundo elemento, una pantalla de v&#237;deo. Aqu&#237;
se suceden los rostros, como rodeados por un aura difusa, y las voces de tres cantantes en los que el autor ha cre&#237;do percibir un
&#8220;parecido sello&#8221;, y a los que encontr&#243; y grab&#243; durante la ejecuci&#243;n de otros proyectos anteriores: el ni&#241;o egipcio Abrahim Mustafa Gad (al que grab&#243; para un documental sobre El Cairo, 1989), Pepe Moreno (que apareci&#243; ya en <i>Me voy</i>, 1987) y el ex-legionario con el que se cierra <i>S&#225;bado legionario</i> (1988). Del cante de todos ellos, se desprende en efecto un v&#237;vido sentimiento, la impresi&#243;n de que cantan, ante todo, para sus adentros, articulando vigorosas palabras de acre sentido, incluso si nos resultan gastadas o espeluznantes (o, por supuesto, incomprensibles para quienes desconocemos el &#225;rabe, en el caso del ni&#241;o cairota).
El tercer elemento, por fin, dir&#237;a que le quita solemnidad a la escueta puesta en escena de la instalaci&#243;n, as&#237; como a la referencia b&#237;blica explicitada en el t&#237;tulo, consistiendo en una fotograf&#237;a de unas manos sosteniendo un vulgar pa&#241;uelo con el rostro impresionado del ni&#241;o ciego, y una leyenda manuscrita debajo que dice: &#8220;Recuerdo de Abrahim&#8221;. Como si se tratara de un barato y trivial <i>souvenir</i> tra&#237;do de un pa&#237;s ex&#243;tico. Un sarcasmo a&#241;adido que, sin embargo, no contrarresta la sinceridad global de la obra.</p>

<p> En una reflexi&#243;n sobre &#233;sta, Codesal ha argumentado que lo que quer&#237;a plasmar era la relaci&#243;n entre arte y vida que todo artista se plantea en alg&#250;n momento (y a la que, como es sabido, dedicaron particular atenci&#243;n los surrealistas), a trav&#233;s de la ambig&#252;edad del &#8220;arte de la Ver&#243;nica&#8221;; el arte de acercar las manos a las cosas para palparlas, conocerlas, &#8220;extraer su esp&#237;ritu&#8221; y transmitir ese conocimiento y ese esp&#237;ritu a un tercero. La pregunta que viene a hacerse Codesal es la de qui&#233;n es el/la autor/a o artista: &#191;Ver&#243;nica o aquel que dej&#243; impreso su rostro en un pa&#241;o?. A la Ver&#243;nica &#8212;nos dice&#8212;, &#8220;el retrato [&#8230;] le pertenece, porque ella lo sostiene y porque proviene de una acci&#243;n suya&#8221;, pero lo que creo que Codesal nos sugiere es que el/la artista no ser&#237;a tanto un creador, un hacedor absoluto, como un/a <i>m&#232;dium</i>.
Y as&#237;, concluye, es de su capacidad de &#8220;aproximaci&#243;n, intensidad, veracidad, empat&#237;a&#8230;&#8221; de lo que depender&#225; la <i>bondad</i> de su gesto; o, en otras palabras, de eso que hemos dado en llamar arte.[5]</p>


<p> <u><b>La batalla del v&#237;deo</b></u></p>

<p> La pr&#225;ctica del arte, como sabe Perogrullo, no carece de obst&#225;culos. M&#225;s a&#250;n el v&#237;deo, sobre todo en contextos como el nuestro, donde ejercerlo como un oficio art&#237;stico es cosa especialmente ardua; por los m&#225;s o menos medios, y, sobre todo, por el mucho empe&#241;o que requiere, tanto como por la reticente, perdonavidas, acogida que le suelen dispensar los diversos
&#225;mbitos en los que ha probado de inmiscuirse: la alta cultura del arte y de la palabrer&#237;a comunicacional (nuevas tecnolog&#237;as y todo eso), la baja cultura de la televisi&#243;n y los medios audiovisuales en general. Con todo, y por fortuna, no es tan infrecuente como parece encontrarse con autores como Codesal, con una obra ya abundante, continuada y consistente. No es infrecuente, aunque s&#237; creo poder afirmar que son contados.</p>

<p> Las andanzas de Codesal en el medio videogr&#225;fico (y en el televisivo) constituyen un fiel reflejo de los vericuetos, y de las muchas esperanzas y decepciones, por los que ha atravesado este sector de la creaci&#243;n contempor&#225;nea, de manera acorde con su endeble constituci&#243;n en nuestra geograf&#237;a. El aprendizaje aut&#225;rquico, la emulaci&#243;n por contacto antes leve que profundo con un p&#243;sito previo de muchas cosas (videoarte, cine experimental, arte expandido, <i>intermedia</i>, etc), el aparente estallido de una &#8220;movida&#8221; colectiva, su proyecci&#243;n exterior, el eco local de unos nuevos g&#233;neros o formatos
(v&#237;deo musical, v&#237;deo-&#243;pera, nueva ficci&#243;n), los encomiables intentos de alcanzar un p&#250;blico m&#225;s numeroso a trav&#233;s de la TV, el paso vedado con el que varios de dichos intentos se han topado
(muchas veces, a pesar de la calidad manifiesta de sus resultados), las muchas carencias que impiden que las cosas vayan a m&#225;s, el tirar la toalla de tantos, etc.</p>

<p> As&#237;, al filo de los ochenta, parec&#237;a como si Codesal hubiera hecho mutis por el foro local (y, aparentemente, bastante disminuido) del llamado v&#237;deo de creaci&#243;n, la temperatura del cual apenas pod&#237;a medirse a trav&#233;s de sus exiguos resortes: unos pocos y distantes festivales, esa especie de juegos florales que son los concursos, otras muestras m&#225;s o menos ocasionales, y poco m&#225;s. A Codesal, le sab&#237;amos insertado profesionalmente en la televisi&#243;n, al igual que unos cuantos otros
&#8220;videocreadores&#8221; de su misma generaci&#243;n hab&#237;an gradualmente accedido al oficio m&#225;s seguro del v&#237;deo industrial, la publicidad, la TV u otros menesteres parecidos, cuando no del todo ajenos. Por aquel entonces, sin embargo, sabemos tambi&#233;n que Codesal trabajaba ya en <i>D&#205;AS de SIDA</i>, que, siendo inicialmente un proyecto para un v&#237;deo monocanal de cimentaci&#243;n documental y alzado po&#233;tico, acabar&#237;a resolvi&#233;ndose en el formato multimedia de una luminosa exposici&#243;n/instalaci&#243;n en seis piezas. (Adem&#225;s, en las pr&#243;ximidades de aquel supuesto intervalo, realiz&#243; tambi&#233;n los v&#237;deos <i>Luz de luces</i> e, intercalado, como ya se ha dicho, entre sus rutinarias obligaciones televisivas, <i>Pie Jesu</i>).</p>

<p> Como ya he dicho al comenzar este texto, yo he seguido desde sus inicios buena parte del trabajo desarrollado por Codesal, aunque he de confesar que nunca hab&#237;a
&#8220;entrado&#8221; demasiado en el mismo, el cual se me antojaba pues un tanto oscuro y ajeno. Supongo que, tambi&#233;n, por la intermitencia, la ocasionalidad, los distanciados encuentros, las lagunas diversas que condicionaron previamente mi percepci&#243;n de sus cosas. Al tener la ocasi&#243;n de ver detenida y c&#243;modamente su videograf&#237;a monocanal casi al completo, al recabar otros datos sobre sus dem&#225;s actividades y sobre sus planteamientos en general, pero, sobre todo, en el trance de asimilar y escribir sobre todo lo visto y o&#237;do, he descubierto obras que desconoc&#237;a y he visto con nuevos ojos las dem&#225;s, he cre&#237;do comprender lo que antes se me escapaba y, fundamentalmente, aquello que enzarza prietamente lo que antes se me aparec&#237;an como sinuosidades, giros caprichosos, inextricables antojos, ya fuera dentro de una obra en concreto, o en la sucesi&#243;n de una a otra. Y, al cabo, lo que por ende he logrado entrever &#8212;y no es poco&#8212; de entre el conjunto es&#8230; su &#225;ngel.</p>


<p> L&#8217;Escala - Barcelona, septiembre
- octubre 1994</p>
<p> <b>NOTAS</b></p>

<p> 1	Juan-Eduardo Cirlot, &#8220;La oscuridad en la poes&#237;a&#8221;, <i>Poes&#237;a, revista ilustrada de informaci&#243;n po&#233;tica</i>, n&#186; 5-6, invierno 1979-80 (p. 120).</p>

<p> 2	F&#225;tima Anllo, &#8220;Javier Codesal: El v&#237;deo como para&#237;so&#8221;, <i>El Gu&#237;a</i>, n&#186; 6 (II&#170;
&#233;poca), julio-agosto-septiembre 1990 (pp. 18-23).</p>

<p> 3	Javier Codesal, &#8220;&#191;Qu&#233;
hacemos con el v&#237;deo?&#8221;, <i>Contracampo</i>, n&#186; 39, primavera-verano 1985 (pp. 43-54).</p>

<p> 4	F&#225;tima Anllo, en el art&#237;culo antes citado, recoge al respecto algunas an&#233;cdotas y recuerdos de Codesal de sus a&#241;os en Sabi&#241;&#225;nigo, el pueblo oscense donde naci&#243;
y creci&#243;. Entre otros, el de &#8220;aquella festividad en la que se iba a la ermita de Santa Orosia y se trasladaba la cabeza de la santa a Huesca para reunirla con el tronco&#8221;; una prueba de que la imaginaci&#243;n dicha <i>surreal</i> tiene un portentoso arraigo en las creencias populares.</p>

<p> 5	Javier Codesal, &#8220;El Manto de Ver&#243;nica&#8221;, <i>Bienal de la Imagen en Movimiento &#8216;92: Visionarios espa&#241;oles </i>(cat&#225;logo), Madrid: Museo Nacional Centro de Arte Reina Sof&#237;a, 1992 (pp. 74-76).</p>
<p> <u><b>glosario para traducci&#243;n al ingl&#233;s</b></u></p>



<p> puesta en escena			=	[mise-en-sc&#232;ne,]</p>
<p> [						staging]</p>

<p> im&#225;genes de archivo			=	archival footage</p>

<p> acci&#243;n					=	performance</p>

<p> arte de acci&#243;n,			<sub>=	performance art</sub></p>
<p> accionismo</p>

<p> instalaci&#243;n				=	installation</p>

<p> videoarte				=	video art</p>

<p> v&#237;deo de creaci&#243;n		(No hay una expresi&#243;n equivalente en ingl&#233;s que sea</p>
<p>
				de uso verdaderamente com&#250;n. Por tanto, bastar&#225;</p>
<p>
				con
<i>video art</i> o <i>independent video</i>)</p>

<p> cr&#233;ditos				=	credit titles</p>

<p> comentario en <i>off</i>			<sub>=</sub>	voice-over,</p>
<p> narraci&#243;n en <i>off</i>				voice-over narration</p>

<p>
&#8220;informativo&#8221;				=	&#8220;reportage&#8221;</p>

<p> montaje				=	editing</p>

<p> cine directo norteamericano		=	American direct cinema</p>

<p> film de cortometraje,			<sub>=	short film</sub></p>
<p> cortometraje</p>

<p> autonosuya				=	regional autonomous government    [?]</p>

<p> v&#237;deo musical				=	music video</p>

<p> realizaci&#243;n multic&#225;mara		=	multi-camera recording</p>

<p> v&#237;deo-de-aficionado			=	amateur video</p>

<p> m&#225;quina
(&#191;soltera?)			=	(bachelor?) machine</p>

<p> programa informativo			=	news programme</p>

<p> arte expandido			=	expanded arts</p>

<p>
&#8220;videocreadores&#8221;			=	videomakers</p>
<p>
						[comillas innecesarias en este caso]</p>

<p> v&#237;deo monocanal,			<sub>=	single-channel videowork</sub></p>
<p> videograf&#237;a monocanal</p> <div title="footer">
	<p>
	
	</p>
<p>
	&#8226; <sdfield type=PAGE subtype=RANDOM format=PAGE>15</sdfield> &#8226;</p>  