  <p><u><b>JOAN LEANDRE: v&#237;deos per la fi de la televisi&#243;</b></u></p>
<p> </p>
<p> La continua, productiva, fera&#231; activitat de Joan Leandre &#233;s la millor excusa per trobar un motiu d&#8217;actualitat per parlar d&#8217;aquest jove artista
(nat a Sabadell el 1968), en un camp com el del v&#237;deo on els
&#8220;esdeveniments&#8221; d&#8217;actualitat s&#243;n m&#233;s aviat d&#8217;ordre col.lectiu (mostres, festivals, cicles&#8230;), de manera que no &#233;s tan usual com caldria la ressenya referida a l&#8217;obra personal d&#8217;un determinat autor. Ans, des del 1994 especialment, la producci&#243;
videogr&#224;fica de Joan Leandre ha anat prenent una especial embranzida i un relleu remarcable, malgrat els redu&#239;ts circuits d&#8217;exhibici&#243;
i difusi&#243; del v&#237;deo. I &#233;s que una trentena llarga de cintes realitzades en un per&#237;ode de dos anys i escaig comporten un volum que dif&#237;cilment podria passar inadvertit, malgrat que hi poguem trobar les desigualtats que s&#243;n d&#8217;esperar en una successi&#243; tan abundant de peces. Les quals, d&#8217;altra banda, configuren uns subconjunts o s&#232;ries amb alguns trets o ingredients distintius, i d&#8217;altres que participen m&#233;s ampliament d&#8217;un plantejament constant, pel qual totes les petites peces i les diverses s&#232;ries s&#8217;integren en una mena de <i>work in progress</i>, en un augment continu del siglari i la recopilaci&#243; de signes que caracteritzen el <i>Mega Assemble Project</i>
(MAP) de Joan Leandre, per utilitzar d&#8217;una manera gen&#232;rica l&#8217;enunciat d&#8217;una de les dites s&#232;ries.</p>
<p> </p>
<p> El siglari &#233;s el dels t&#237;tols de les s&#232;ries o peces unit&#224;ries: NLH, EFT, D, RHA, CS, BP, BRC, MAP, Z i SM, entre d&#8217;altres. Sigles o inicials que no sempre responen a un sentit un&#237;voc i transparent, o que poden ser igual d&#8217;arbitr&#224;ries que qualsevol altre t&#237;tol m&#233;s convencional.
De vegades, un par&#232;ntesi introdueix l&#8217;equival&#232;ncia de les sigles, ans no sempre &#233;s m&#233;s explicativa; anotem tanmateix que CS equival a
<i>Ciclo Surf</i>, BP a <i>Brothers Petroleum</i>, Z a <i>Zero Foundation/Fundaci&#243;n Zero</i>, i SM a <i>Serial Monuments</i>.
Algunes peces recents incorporen un ordinal a l&#8217;estil del que especifica les versions dels programes inform&#224;tics; aix&#237;, la s&#232;rie MAP inclou <i>MAP 1.0</i>, <i>MAP 2.0</i>, <i>MAP 3</i>, <i>MAP 5.0</i>, <i>MAP 7.0</i> i, tot passant a una xifra demon&#237;aca, un <i>MAP 666</i>.
Per fi, alguns t&#237;tols o subt&#237;tols s&#243;n menys lac&#242;nics, s&#8217;alimenten d&#8217;esl&#242;gans i altres sintagmes travats i trobats &#8212;per exemple, <i>MAP ZERO (The Voice of Our Audience)</i>&#8212;, o fins i tot ens proporcionen alguna pista sobre el seu contingut: <i>Zero Foundation (Murnau versus Nintendo)</i>.
Ara b&#233;, si les sigles que Leandre s&#8217;empesca s&#243;n significatives, tenen un sentit, &#233;s perqu&#232; ens remeten a un nomencl&#224;tor corporatiu multimedi&#224;tic, identificable amb el de les televisions, les multinacionals de l&#8217;espectacle, les factories publicit&#224;ries i les puixants ind&#250;stries de la inform&#224;tica i la telem&#224;tica.</p>
<p> </p>
<p> I aquests s&#243;n, d&#8217;altra banda, els dolls mateixos d&#8217;on Leandre extreu els seus destil.lats de signes, acoblaments condensats d&#8217;heterogenis estripalls medi&#224;tics, col.lisions cacof&#242;niques (ans plenes de ritme) de bandes sonores i visual esbocinades i sobrevoltades. MAPes de la finestra global de la informaci&#243; i la teletonteria, de la publicitat i els v&#237;deo-jocs, del cinema i el subcinema, dels subtextos velats i de l&#8217;embolcall pop &#8212;com de v&#237;deo-clip&#8212; que constitueix la m&#233;s superficial i llaminera aparen&#231;a de molts dels v&#237;deos de Joan Leandre. Per&#242;, compte!, que els bombons tal vegada continguin subst&#224;ncies t&#242;xiques. I &#233;s que les acurades miniatures desmuntadores d&#8217;aquest aixecador de desgavellats <i>monuments serials</i>, generalment entren b&#233; (potser no tant en sobredosi, quan l&#8217;organisme receptor &#233;s feble?), ens posen a to en q&#252;esti&#243; de segons per l&#8217;agitada mescla d&#8217;imatges i sons impactants, per&#242; s&#243;n molt m&#233;s que exercicis de fi estilisme.</p>
<p> </p>
<p> Ara que hom comen&#231;a a parlar de &#8220;la fi de la televisi&#243;&#8221; &#8212;tal com l&#8217;hem coneguda fins avui: com un poder m&#233;s i m&#233;s investit d&#8217;autoritat massiva i barroeria&#8212;, i mentre alguns ja emprenen il.lusament l&#8217;apostolat de la dita profecia (per&#242; sabem que, si fa no fa, les mateixes mans s&#8217;apressen a tibar les noves xarxes), la BRC TV i altres ind&#250;stries imagin&#224;ries de Joan Leandre estripen la viol&#232;ncia, el caos i els agents contaminants de les imatgeries medi&#224;tiques. Manlleven d&#8217;aquest domini p&#250;blic, o roben de les propietats registrades i identificades per lletres tancades en un petit cercle (&#174; i &#169;), i, tot recombinant els bocins, reemeten els senyals, ara guarnits per un nou logo o &#8220;mosca&#8221; a la pantalla, i amb un distintiu final que en reconeix la nul.la propietat: ara una ics dins el petit cercle (&#61636;), i la llegenda: &#8220;Do copy&#8221; (una f&#242;rmula represa de l&#8217;antany utilitzada a <i>Radical Software</i>, una de les primeres revistes de v&#237;deo i mitjans alternatius). Copieu sense escr&#250;pols, participeu de la multipropietat dels senyals audiovisuals de distribuci&#243; massiva, aboqueu-vos al frenes&#237; del
<i>giratutto</i> i de la super-muntanya russa Gran Khan, i sigueu benvinguts a la Fundaci&#243; Zero&#8230; o, el que &#233;s el mateix, a l&#8217;Infern.</p>
<p> </p>
<p>
&#61636; <b>Eugeni Bonet</b></p> 