  <h1 class="western" align="left">ELS COSSOS ELECTRONICS</h1> <p> </p>
<p> L'obra videogr&#224;fica de Joan Pueyo ha pres una orientaci&#243; precisa i molt personal a partir de <i>Pel meu art i la gent que estimo, content aguantar&#233; fins el final</i>
(1985). El subjectivisme que hom albira en el llarg t&#237;tol es correspon amb les caracter&#237;stiques d'aquesta cinta, virtualment realitzada de manera del tot solit&#224;ria, doncs &#233;s l'autor qui es troba a l'un i l'altre costat de les imatges. Aix&#237;, en certa manera es retrata (autoretrata) m&#250;ltiplement, tot tractant de transmetre, per mitj&#224; de successives expressions facials, ganyotes i gesticulacions, diferents sensacions subjectives, mentre que en els inortodoxes tractaments aplicats a les imatges es reflexa el proc&#233;s de l'autor enfrontat a l'exploraci&#243; d'unes propietats (el v&#237;deo com mirall, la naturalesa immediata del suport electromagn&#232;tic), a reconduir les troballes de l'experimentaci&#243; i l'atzar, a trobar sentit en un seguit de provatures i distorsions.  </p>
<p> </p>
<p> <i>Pel meu art...</i> em porta a pensar en unes certes tradicions o refer&#232;ncies en la relativament breu hist&#242;ria del v&#237;deo-art, encara que tamb&#233;
presents en altres arts. En concret, amb la &quot;fase del mirall&quot; d'una certa producci&#243; videogr&#224;fica del principi dels setantes molt lligada al <i>body-art</i>
(per exemple, Vito Acconci) i amb una &quot;est&#232;tica del soroll&quot; que, introdu&#239;da per les avantguardes en les arts visuals, la m&#250;sica i les performances, es troba en el seu propi suc en el camp del v&#237;deo
(des dels mateixos pioners: Paik, Vostell, Tambellini, etc). D'alguna manera, ambdues refer&#232;ncies apunten una doble constant en el treball de Pueyo a partir de <i>Pel meu art...</i>: el cos com objecte visual principal i l'estructura electr&#242;nica de la imatge com mat&#232;ria mal.leabilitzada.</p>
<p> </p>
<p> Amb <i>El n&#224;ufrag</i>
(1986-87), Pueyo ha comen&#231;at a combinar altres elements, tot cercant una singularitzaci&#243; de l'objecte videogr&#224;fic que entrelluca en el concepte escult&#242;ric de la instal.laci&#243;. Una estructura irregular de ferro encasta sis tubs de imatge que recomposen un cos deformat i de parts desproporcionades, que es desmembren, retorcen, descomposen, canvien de sexe o juguen amb enigm&#224;tiques tortugues, sobre un fons tamb&#233; m&#250;ltiple i desbaratat de imatges (en gran part de documents televisius o cinematogr&#224;fics d'esdeveniments violents), les quals es succeeixen a gran velocitat i manipulades per diferents procediments.
Com a <i>Pel meu art...</i>, una cacof&#242;nica i repetitiva banda/collage de so es correspon adeq&#252;adament amb la pr&#242;pia cacofonia de la composici&#243; visual.</p>
<p> </p>
<p> <i>Tango</i>
(1988) es basa en una dansa de Maria Mu&#241;oz sobre una can&#231;&#243; de Paolo Conte. De fet, per&#242;, el tema i el tractament continuen &#233;ssent el cos i el modelat de l'acte representat (la dansa) en una forma pr&#242;piament videogr&#224;fica. I tot i que &#233;s un treball que pot tenir difusi&#243; com a programa monocanal, Pueyo ha decidit tamb&#233; de presentar-lo amb una estructura-suport espec&#237;ficament pensada per a una difusi&#243; continua (que, donada la brevetat de la cinta i l'intricat muntatge, l'autor considera m&#233;s adient). Finalment, <i>Tango</i>, com tot bon v&#237;deo-de-dansa, no &#233;s una representaci&#243; externa, sin&#243;
que l'autor cerca la seva pr&#242;pia manera de coreografiar els moviments amb els mitjans que li s&#243;n propis.</p>
<p> </p>
<p> Amb <i>El bany</i>
(1987-88), Pueyo torna a emprar una forma multicanal i escult&#242;rica de v&#237;deo-instal.laci&#243; (4 canals, amb tres monitors encastats en una estructura de ferro, m&#233;s una projecci&#243; de fons). El cos d'un home, submergit en una banyera, &#233;s l'objecte representat a trav&#233;s de la filera dels tres monitors. Tot i que descomposat i escindit, l'espai serva en principi una continuitat aparent, malgrat que l'escena del bany tingui lloc davant d'un fons canviant d'arbres en moviment, malgrat que el cap del banyista es descomposa/escindeix al seu torn, malgrat que les vores de la banyera (i de l'estructura de ferro)
palesen que, finalment, no &#233;s una continuitat congruent. Al llarg dels cinc minuts que v&#233; a durar el cicle sequencial de la pe&#231;a, es tracta justament de desarticular aquell efecte primer de congru&#232;ncia aparent.</p>
<p> </p>
<p> <i>Nens</i>
(1988-89) i <i>Ampolla</i>
(1989) s&#243;n realitzacions monocanal que, com en el cas de <i>Tango</i>, es presenten aix&#237; mateix com a part integral d'una estructura escult&#242;rica espec&#237;fica. La descomposici&#243; i deformaci&#243; del cos, la bellesa del soroll, la juxtaposici&#243; d'elements discordants, es troben novament en aquestes dues peces, on els cossos electr&#242;nics es rebreguen amb senzilles distorsions &#242;ptiques.</p>
<p> </p>
<p> A <i>Nens</i>, per mitj&#224; de la reflexi&#243; d'unes imatges en bocins de mirall trencat, unes adorables criatures esdevenen per moments monstres commovedors, larves carnoses de Polifemus electr&#242;nics. I a <i>Ampolla</i>, un mosaic irregular de vidres trencats forma una superf&#237;cie transl&#250;cida on bateguen figures indistingibles de llum electr&#242;nica, superf&#237;cie de la que sobresurt el cos d'una ampolla, a l'interior de la qual es transparenta el cos nu d'una dona, tot deformant-se a l'al&#231;ada del seu rostre per la corba que envolta el coll de l'ampolla. L'alentiment, fins arribar a l'extrem de la imatge congelada, contraposat a l'acceleraci&#243; del muntatge original de la breu seq&#252;&#232;ncia que &#233;s el nucli de la pe&#231;a, descomposa cin&#232;ticament aquesta imatge, amb reminisc&#232;ncies cubistes, que hom podria descriure com un nu dins d'una natura morta.</p>
<p> </p>
<p> <i>Fam&#237;lia</i>
(1990) &#233;s, per ara, el darrer lliurament d'aquesta s&#232;rie indubtablement coherent que es va iniciar amb <i>Pel meu art...</i> i <i>El n&#224;ufrag</i>.
En certa manera &#233;s novament un autoretrat o, m&#233;s aviat, com ho indica el t&#237;tol, un retrat familiar, tot i que no hi ha cap rostre que sigui identificable totalment perqu&#232; Pueyo ha mesclat les imatges de tal manera que en resulta un monstre sint&#232;tic i de rostre canviant, un &#233;sser grotesc que sembla el resultat d'un experiment gen&#232;tic simulat electr&#242;nicament, o senzillament un joc disbaratat per&#242; ple d'humor. Aix&#237; com les peces immediatament anteriors a aquesta explotaven unes distorsions &#242;ptiques sense cap secret, en aquest cas interv&#233; la complexitat dels sistemes de postproducci&#243; de la imatge electr&#242;nica, per&#242; amb una similar i deliberada simplicitat en la seva aplicaci&#243;.</p>
<p> </p>
<p>La voluntat de Joan Pueyo de presentar conjuntament aquesta s&#232;rie de treballs iniciada el 1985 trobo que t&#233; molt de sentit, perqu&#232; la major part d'aquests treballs proposen diferents menes d'experimentaci&#243; visual, amb una concisi&#243; i precisa elaboraci&#243;
dels comptats elements que entren en joc en cada cas, sense oblidar el so. Cada pe&#231;a &#233;s llavors com un impacte, breu en duraci&#243; per&#242;
suficientment dens com per a no esgotar-se d'un cop d'ull. La suma de tots posa per&#242; de relleu el seu impuls com&#250;, de manera que esdev&#233;
un conjunt compacte amb una clara empremta autorial.</p>
<p> </p>
<p> La decisi&#243;
d'incorporar una estructura escult&#242;rica en cada una de les peces (a excepci&#243; de la que inici&#224; la s&#232;rie) forma a la vegada part d'una estrat&#232;gia per tal de, com he apuntat abans, singularitzar-les i d'altra banda defugir l'estructura narrativa associada amb les imatges m&#242;bils (el principi i la fi com a convencions, si m&#233;s no), tot i que &#233;s possible que l'aspecte v&#237;deo-escult&#242;ric no sempre hagi estat prou ben resolt. Els elements escult&#242;rics semblen voler refor&#231;ar la contund&#232;ncia mateixa de les imatges i els procediments emprats amb el brutalisme d'un material omnipresent com &#233;s el ferro
(i, a <i>Tango</i>, tamb&#233; el formig&#243;), o b&#233; remeten formalment a algun aspecte de les imatges que encasten (per exemple, a <i>Ampolla</i>, les planxes seccionades de ferro que envolten tridimensionalment el monitor, tot establint una relaci&#243; &#242;bvia amb els vidres trencats que formen el fons de la imatge). I en el seu darrer treball, <i>Fam&#237;lia</i>, Pueyo introdueix per primer cop un element escult&#242;ric no prevalentment abstracte, ans amb una connotaci&#243; antropomorfa que sembla particularment adequada per a les imatges que en aquest cas s'hi mostren.</p>
<p> </p>
<p>Joan Pueyo &#233;s un creador de imatges &quot;fortes&quot;, per&#242;
extremadament vol&#224;tils, com ho s&#243;n en general totes les imatges electr&#242;niques: un bellugueig incessant de punts de llum. En aquest sentit, la brevetat, la velocitat, els sorolls, mutacions i intricaments de les seves imatges videogr&#224;fiques en s&#243;n la for&#231;a i les ales. Llavors, la repetici&#243; continuada, la ferralla, les estructures que envolten la pantalla o pantalles potser siguin tamb&#233;
un ardit per a fer m&#233;s pesants els cossos electr&#242;nics que bateguen en l'espai imaginari i ingr&#224;vid del v&#237;deo.  </p>
<p> </p>
<p>EUGENI BONET</p>
<p>Maig 1990</p> 