  <p> <b>Art endollat (amb pujades i baixades de tensi&#243;)</b></p>

<p> <b>Eugeni Bonet</b></p>


<p> <i>Mostra d'Arts Electr&#242;niques 2000</i>. Centre d'Art Santa M&#242;nica.</p>
<p> Rambla de Santa M&#242;nica, 7. Barcelona. Fins al 15 de novembre.</p>


<p> La segona edici&#243; de la Mostra d'Arts Electr&#242;niques omple aquests dies la planta baixa del Centre d'Art Santa M&#242;nica amb una disseminaci&#243; de projeccions i instal.lacions audiovisuals/multim&#232;dia. Cal recordar que aquesta mostra &#233;s hereva, o b&#233; diguem-ne actualitzaci&#243;, de l'anteriorment anomenada Mostra de V&#237;deo de Catalunya, promoguda pel Departament de Cultura de la Generalitat de Catalunya i que, ja el 1998, va comen&#231;ar a escampar-se de la sala d'actes als passadissos que vorejen l'antic claustre conventual, tot obrint-se per fi a les obres d'instal.laci&#243;
i escultura medial i a la nova empenta dels ciberm&#232;dia. I b&#233; que enguany se li ha concedit el m&#233;s &quot;noble&quot; dels espais del Centre &#8211;si m&#233;s no pel que fa a les seves dimensions&#8211;, el muntatge expositiu, en la seva concepci&#243; i distribuci&#243; de les diferents peces i &#224;mbits, presenta algun que altre factor desfavorable. El primer, i prou t&#237;pic en manifestacions d'aquesta mena, la contaminaci&#243; sonora que es genera i que perjudica mutuament les diferents ofertes que conviuen.</p>

<p> Nom&#233;s traspassar el llindar de la Mostra, l'obra que em va atraure immediatament cap a l'altre extrem del recinte &#233;s una de les presentades per Antoni Abad: una lluminosa projecci&#243; que pren com a suport-pantalla una taula de dibuix. Un cop davant de la superf&#237;cie plena de mosques digitals de moviment ben cre&#239;ble, com prenent vida despr&#233;s de ser dibuixades per una m&#224; que llisca entre l'espai que deixen lliure (signatura de l'artista i del seu delit per certs elements recurrents), el primer que vaig fer va ser comprovar si passava alguna cosa en superposar la meva m&#224; sobre la imatge projectada. M&#233;s tard vaig veure altres visitants que provaven de matar o foragitar les mosques virtuals a cop de palmell. Suposo que aix&#242; &#233;s tot un s&#237;mptoma d'all&#242; que anomenaria l'ansietat de la interactivitat, propulsada pels nov&#237;ssims mitjans.</p>

<p> A la sala contigua es projecta &#8211;amb un tamany de pantalla que trobo exagerat&#8211; un programa de set v&#237;deos que sumen una hora i escaig.
Jo diria que constitueixen treballs de continu&#239;tat, sense gaires novetats respecte a les maneres de fer i als inevitables alts i baixos d'autors de ja llarga traject&#242;ria com Juli&#225;n &#193;lvarez, Joan Pueyo, Pedro Ballesteros, Jacobo Sucari, Joan Leandre i Toni Serra
(amb un <i>cut-up</i> a duo), als quals s'afegeixen I&#241;aki &#193;lvarez i Eloi Puig. I tot i que, un a un, tots s&#243;n treballs relativament correctes &#8211;en tot cas, uns m&#233;s mancats de for&#231;a o originalitat que altres&#8211;, em temo que s'anul.len entre si en el feixuc seguici del programa, i per la invitaci&#243; al <i>zapping</i> de les altres obres i &#224;rees ve&#239;nes. Mala cosa per a un mitj&#224; que, en la seva modalitat monocanal almenys, ha pr&#232;s la desllu&#239;da reputaci&#243; d'un prematur declivi; d'una pr&#224;ctica m&#233;s enutjosa que mai.</p>

<p> D'altra banda, amb tot l'enrenou que hi ha ara amb els sistemes DV que fan assequible el v&#237;deo digital i la <i>versatilitat digital </i>m&#233;s
&#224;mpliament entesa, cal suposar que l'audiovisual electr&#242;nic ha de guanyar novament pes i embranzida, tot prenent una diversitat d'adscripcions i vies de sortida &#8211;com ja succeeix ara mateix, de la gran pantalla del (petit) cinema al corn de l'abund&#224;ncia de la xarxa&#8211; que permetran increpar als enterramorts apressats del v&#237;deo, i abans del cinema, en les seves expressions alternatives. Per tant, cal imaginar noves formes d'exhibici&#243; i rehabilitaci&#243; d'unes pr&#224;ctiques que han trobat un ampli cultiu i, en canvi, un reconeixement ben minso i descoratjador.</p>

<p> Sota la taxonomia un xic entortolligada d'<i>art off-line</i> i <i>art on-line</i>, els CD-ROM i els setis web s&#243;n altres de les varietats electr&#242;niques abastades. N'hi ha tres i tres, i sortosament no cal armar-se de santa paci&#232;ncia per navegar-hi. Tant el CD <i>parapar&#232;mic</i> de <i>la tribu</i> Hac Mor/Xargay amb Barbara Held, Adolf Alca&#241;iz i altres adeptes, com el de Job Ramos en un registre m&#233;s narratiu, com l'<i>InteRom</i> que documenta l'obra d'Antoni Muntadas i que inclou un enlla&#231; a un projecte en l&#237;nia sobre els &quot;espais h&#237;brids&quot;, tenen prou suc i no et fan perdre temps amb emperifollaments falsament interactius o infladament hipermedials. Pel que fa a les propostes &quot;enxarxades&quot;, responen perfectament als trets inherents a un medi, tal vegada un mitj&#224;, que art&#237;sticament es troba en una mena de fase anal de delectaci&#243; en les seves caquetes
(amb perd&#243;), per les pr&#242;pies limitacions que encara t&#233;, de manera que hi predomina el joc (juntament amb alguna malifeta que altra); terme que empro sense cap connotaci&#243; despectiva, doncs tant Daniel Juli&#224; com Oskar Xabier G&#243;mez s'hi refereixen en els comentaris a les obres que presenten, mentre que el <i>mili&#243;</i> d'Antoni Abad t'omple la pantalla de l'ordinador de petons &#8211;i de finestretes&#8211;
que, pel que sembla, poden arribar a penjar el sistema. (Tal vegada per aix&#242;, en la meva visita l'<i>art on-line</i> romania en <i>off</i>).</p>

<p> Entre aquestes diverses pantalles hi ha les instal.lacions de Jordi Colomer i de Galeria Virtual amb Perry Hoberman, que potser haurien guanyat respiraci&#243; amb una altra distribuci&#243;. (La instal.laci&#243;
interactiva de K&#242;nic Thtr no era encara muntada al moment d'escriure aquesta ressenya.) L'obra de Colomer &#233;s descrita com un doblet de
&quot;v&#237;deo i sala de projecci&#243;&quot;, a la vegada que com &quot;una escultura que es dilata en el temps&quot;. I encara com &quot;un espectacle superlatiu que es denuncia ell mateix com a espectacle&quot;.
Massa literatura additiva i subterfugis pel meu gust, per&#242; la inclusi&#243; d'un artista tan desmarcat en principi de la demarcaci&#243;
<i>arts electr&#242;niques</i> &#233;s bona per q&#252;estionar-se sobre la validesa d'aquest i altres termes, davant el risc d'esdevenir una mena d'&#224;rea perif&#232;rica, suburbial del gran art contemporani i els seus rampells capriciosos o conservadoristes; q&#252;esti&#243; que plana per alguns textos del cat&#224;leg. Els germans Par&#233;s presenten, per la seva banda, una atractiva proposta corresponent al seu projecte Galeria Virtual de col.laboraci&#243; amb altres artistes de diferents disciplines, per&#242; aquesta vegada amb un col.lega tan reconegut en el camp de les interactivitats i les virtualitats com &#233;s el nord-americ&#224; Perry Hoberman, tot brindant-nos un espai de relaci&#243;
festiva i enc&#237;s digital.</p>

<p> Finalment voldria destacar la molt millorada subst&#224;ncia que t&#233; el cat&#224;leg, sobretot amb els textos de Montse Badia, Idoia Garc&#237;a i Valent&#237;n Roma, els quals consideren amb deteniment i sensibilitat les obres dels artistes i faedors presents a la mostra. M&#233;s els textos preliminars dels quatre curadors &#8211;Antoni Mercader, Carles Ameller, Claudia Giannetti i N&#250;ria Font&#8211; i un de signat conjuntament on s'expressa, ben realistament, la preocupaci&#243; per &quot;la davallada en el volum i en la intensitat de la producci&#243;
experimental&quot;, amb la qual cosa es fa notar que les coses de les arts endollades, per molt que ens engresquin a uns quants, no van prou b&#233; en aquest nostre rac&#243; de m&#243;n.</p> 