  <h1 lang="es-ES" class="western">PASAJES DE LA ESCULTURA LITERAL A LA ESCULTURA SOCIAL</h1> 
<p> <b>Eugeni Bonet</b></p>


<p> <b>1.</b></p>

<p> Un libro de referencia sobre la escultura en el siglo XX, <i>Passages in Modern Sculpture</i>
(1977) de Rosalind Krauss, me proporciona m&#225;s que un motivo de par&#225;frasis en combinaci&#243;n con otras expresiones descriptivas de ciertas encrucijadas halladas en tales <i>pasajes</i>.
Los conceptos de escultura, teatro y reportaje (en el mejor sentido de una palabra banalizada por ciertas ligerezas medi&#225;ticas) ser&#225;n los aqu&#237; atravesados en relaci&#243;n a unas pr&#225;cticas no cubiertas pero s&#237; presentidas en el libro de Krauss, y ciertamente enfocadas en otros de sus posteriores escritos; al formular por ejemplo la noci&#243;n de un <i>campo expandido</i> de la escultura contempor&#225;nea.</p>

<p> En este sentido, uno de los pasajes clave del libro de Krauss es aquel en el que entabla una cort&#233;s controversia con las tesis puristas y conservadoras &#8212;sin embargo bien sagaces&#8212; de otro cr&#237;tico e historiador del arte, Michael Fried, formuladas diez a&#241;os antes en su ensayo &#8220;Art and Objecthood&#8221; (1967): una razonada diatriba contra la degradaci&#243;n minimalista del arte hacia la <i>objetualidad</i> y la <i>teatralidad</i>, lo que en otras palabras se traduce en una subordinaci&#243;n a la temporalidad o <i>la duraci&#243;n de la experiencia</i>; mientras que el arte tendr&#237;a por misi&#243;n m&#225;s elevada trascender el tiempo, hasta instalarse en &#8220;un presente continuo y perpetuo&#8221; de vigencia est&#233;tica.</p>

<p> En la prosopopeya de Fried, el teatro es m&#225;s bien un circunloquio filos&#243;fico (aunque hasta el teatro mismo, nos dice, ha de combatir con su enemigo interno, trayendo aqu&#237; a colaci&#243;n los nombres de Brecht y Artaud) y as&#237;, con un matiz peyorativo &#8212;pues su tesis, alineada con las de Clement Greenberg, es una de individualidad de las artes, de esencialidad absoluta, de exclusividad incontaminada de cada pr&#225;ctica art&#237;stica&#8212;, escribe: &#8220;What lies <i>between</i> the arts is theatre&#8221; [Aquello que se halla <i>entre</i> las artes es teatro]; lo que nos recuerda por otro lado que el anhelo de la <i>obra de arte total</i> ha sido perseguido en primer lugar por el arte dramat&#250;rgico.</p>

<p> En cambio, las apostillas y consideraciones de Krauss se dirigen expresamente al pasaje, al atajo que emprende la escultura moderna &#8212;de hecho las artes visuales en general&#8212; hacia una teatralidad o dramaturgia incluso m&#225;s rotunda, constatando una tendencia que se impone a partir de los a&#241;os 60 (no sin precedentes varios, yendo m&#225;s all&#225;
en todo caso de la escultura &#8220;aplicada&#8221; al dise&#241;o esc&#233;nico/escenogr&#225;fico) y que busca deliberadamente la contaminaci&#243;n de la tecnolog&#237;a, de la materia com&#250;n y el objeto vulgar, del movimiento y de la acci&#243;n f&#237;sica, de la temporalidad y de lo perecedero, desembocando por una parte en el arte de acci&#243;n o
<i>performance</i>, por otra en el arte de instalaci&#243;n o <i>environment</i>; por una parte, un arte de representaci&#243;n cercano a lo teatral pero tendente a minimizar el aparato dramat&#250;rgico, por otra un arte de ambientaci&#243;n pr&#243;ximo a lo escenogr&#225;fico y donde todo acto de representaci&#243;n es latente o diferido.</p>

<p> Una de las obras que Krauss destaca en su apreciaci&#243;n positiva de la teatralidad en la escultura contempor&#225;nea es una de las videoinstalaciones de pasillo de Bruce Nauman &#8212;la actualmente conocida con el t&#237;tulo de
<i>Live/Taped Video Corridor</i>, exhibida por primera vez en 1970&#8212;, hasta el punto que es la imagen elegida como portada del libro. Una pieza que resulta reveladora porque prefigura o constata otro pasaje capital hacia la escultura expandida, la escultura aumentada de la instalaci&#243;n y, precisando un poco m&#225;s, la <i>escultura de media</i>
(<i>media sculpture</i>), por manejar ahora otra expresi&#243;n, en este caso introducida por Les Levine, un artista tambi&#233;n pionero en la exploraci&#243;n de los medios electr&#243;nicos.</p>

<p> Sobre el hecho que sea el arte minimal &#8212;o <i>literalista</i>, como Fried prefiri&#243; llamarlo&#8212; el que desencadene esta reflexi&#243;n, en definitiva encaminada a una nueva percepci&#243;n (ampliada) de la escultura, Hal Foster ha aportado agudas observaciones en su ensayo
&#8220;The Crux of Minimalism&#8221; (1986), que entre otras referencias e ideas considera los textos precitados de Krauss y de Fried. Para Foster el papel crucial del minimalismo estriba en la ruptura que comporta respecto a la modernidad tard&#237;a &#8212;&#8221;la autonom&#237;a formalista del arte es al mismo tiempo alcanzada y rota&#8221;&#8212;; reiterando el instinto transgresor vanguardista &#8212;&#8221;espec&#237;ficamente su trastorno de las categor&#237;as formales del arte institucional&#8221;&#8212;; y que, al mismo tiempo, &#8220;abre la v&#237;a al arte postmoderno&#8221;, lo que determina que el minimal sea un referente geneal&#243;gicamente imprescindible para comprender el arte de hoy y de las tres o cuatro
&#250;ltimas d&#233;cadas.</p>

<p> Refiri&#233;ndose al caso espec&#237;fico de la escultura &#8212;que algunos (tanto artistas como te&#243;ricos) pasan a reformular entonces como arte <i>en tres dimensiones</i>&#8212;, Foster aduce: &#8220;[C]on el minimalismo la &#8216;escultura&#8217; ya no se coloca aparte, sobre un pedestal o como arte puro, sino que se resit&#250;a entre los objetos y se redefine en relaci&#243;n al espacio. En esta transformaci&#243;n, el observador, una vez rechazado el espacio seguro y soberano del arte formal, se lanza de nuevo al aqu&#237; y ahora; y m&#225;s que examinar la superficie de una obra para hacer un detallado estudio topogr&#225;fico de las propiedades del medio, se le induce a explorar las consecuencias perceptuales de una intervenci&#243;n particular en un lugar determinado.&#8221;</p>

<p> Yendo m&#225;s lejos en cuanto a lo que sugieren estas frases y las palabras empleadas &#8212;el abandono del pedestal (en el sentido convencional y en el figurado), la intervenci&#243;n en un sitio (un <i>aqu&#237;
y ahora</i>)
espec&#237;fico&#8230;&#8212;, en efecto nos acercamos, mediante un l&#233;xico y referentes plenamente vigentes en el arte actual, a otros conceptos amplificados o maleados de tal forma &#8212;me interesa resaltar aqu&#237;
los de <i>escultura medial</i> y <i>escultura social</i>
(aunque cabe pensar en otros m&#225;s difusos como <i>instalaci&#243;n</i> o <i>arte p&#250;blico</i>)&#8212;
que habr&#237;a que preguntarse incluso si una palabra como &#8220;escultura&#8221;
tiene otra utilidad hoy en d&#237;a que aquella que se acomoda a la tradici&#243;n y sus estandartes acad&#233;micos/can&#243;nicos (sin pretender implicar que eso sea caduco, ileg&#237;timo o rechazable de plano).</p>

<p> Claro est&#225; que el minimalismo no puede tomarse como el metro-patr&#243;n &#250;nico (menos a&#250;n universal)
para seguir los sucesivos pasajes y virajes del arte postmoderno. El an&#225;lisis de Foster privilegia el minimalismo considerando el factor rupturista antes mencionado, mientras que otros movimientos coet&#225;neos como Fluxus o el Pop, el Situacionismo incluso, mantuvieron de entrada una obediencia neo-dad&#225;, es decir de fidelidad a un primer proyecto vanguardista. Al entrar en la recta final de su reconsideraci&#243;n del minimalismo, Foster comenta someramente las proyecciones geneal&#243;gicas que se desprenden de dicho episodio; recoge sumariamente diversos an&#225;lisis e interpretaciones y a&#241;ade aquello que le parece omitido en otras narrativas historiogr&#225;ficas del arte &#250;ltimo: &#8220;un elemento crucial: la preocupaci&#243;n con la constituci&#243;n (sexual, ling&#252;&#237;stica, etc.) del sujeto&#8221;.</p>

<p> El pasaje postliteralista &#8212;no s&#243;lo en cuanto al minimalismo, sino tambi&#233;n, por ejemplo, al nihilismo Fluxus, a la frivolidad reprogr&#225;fica del Pop, a las tautolog&#237;as del conceptualismo, o al materialismo autorreferencial en las artes audiovisuales&#8212; viene significado, en efecto, por traer a un primer t&#233;rmino, dar todo su relieve, a la identidad y al entorno social del sujeto: ya no un ente abstracto e inocente en un &#233;ter est&#233;tico-filos&#243;fico, sino que ubicado en un marco bien real de conflictos sociales, pol&#237;ticos, &#233;tnicos, de identificaci&#243;n sexual, de confrontaciones nacionales, de desequilibrio global, etc. Aqu&#237;, tras la alegor&#237;a del teatro (en los textos de Fried y Krauss) pienso que cabr&#237;a introducir, al menos yuxtaponer, la del <i>reportaje</i> en el sentido en que comporta un acto de presencia, testimonio y
<i>mediaci&#243;n</i> activa ante y en la realidad, en la prosa del mundo, mediante su fijaci&#243;n documental, la persecuci&#243;n de la verdad, la encuesta, la confrontaci&#243;n intersubjetiva y su comunicaci&#243;n p&#250;blica.</p>

<p> De aqu&#237; que me refiera finalmente al concepto de <i>escultura social</i> que Joseph Beuys introdujo, no precisamente para referirse a su obra en el sentido convencional del t&#233;rmino, sino a prop&#243;sito de sus m&#233;todos dial&#243;gicos como ense&#241;ante y en su entrega al activismo pol&#237;tico: el acicate de la discusi&#243;n p&#250;blica para llevar la actividad art&#237;stica m&#225;s all&#225; del c&#237;rculo de los especialistas e intervenir activamente en el proyecto de una sociedad futura basada en la democracia directa. Es decir, la realidad social deviene la materia misma de la escultura en tanto que arte de modelar y dar forma. De manera que, sea en t&#233;rminos de <i>escultura social</i> o de <i>escultura medial</i>
&#8212;pues tampoco Les Levine ha usado dicho t&#233;rmino en un sentido literal, sino en uno abierto&#8212;, o frecuentemente con una doble implicaci&#243;n <i>medial/social</i>, en el arte postliteralista se produce una tendencia a difuminar todo encasillamiento disciplinar y a afrontar en cambio, con los medios que m&#225;s convengan, los inest&#233;ticos problemas que afean el mundo, su historia y los presagios del futuro inmediato.</p>


<p> <b>2.</b></p>

<p> La consideraci&#243;n de los pasajes referidos previamente me ha parecido un proleg&#243;meno oportuno para tratar de la trayectoria de Pedro Ortu&#241;o, cuyos pasos he tenido ocasi&#243;n de seguir (y de refrendar en m&#225;s de una ocasi&#243;n)
desde 1989-1990 y sus primeras creaciones de videoescultura/instalaci&#243;n, cuando conclu&#237;a sus estudios de Bellas Artes, donde eligi&#243; sucesivamente las especialidades de Escultura
(en Valencia) e Imagen (en Barcelona). Tanto su formaci&#243;n como la obra que ha desarrollado a lo largo de diez a&#241;os reflejan en gran medida su propio pasaje desde una disciplina art&#237;stica tradicional
(o impartida tradicionalmente) a otras exploraciones audiovisuales, multimedia y de escultura <i>medial/social</i> que abjuran virtualmente del pedestal disciplinario.</p>

<p> Sus primeros trabajos me interesaron en su momento por su rigor y nitidez conceptual, jugando con elegancia con la yuxtaposici&#243;n de objetos e im&#225;genes, con ideas de transformaci&#243;n y permanencia, con percepciones ilusorias y transposiciones enga&#241;osas. El m&#225;s interesante de esta primera serie &#8212;no porque fuera m&#225;s original, sino porque diera a intuir otras expectativas&#8212; considero que es
<i>Idea de cuadrado y de c&#237;rculo (por medios de comunicaci&#243;n) para mass media</i>
(1989), donde, partiendo de unas premisas formalistas y que se dir&#237;an referidas a la historia del arte como disciplina acad&#233;mica &#8212;el Suprematismo de Malevich, el concepto de <i>realidad absoluta</i>
(por oposici&#243;n a <i>objetiva</i>), los hallazgos renacentistas de la <i>perspectiva curiosa</i> y el <i>trompe l&#8217;&#339;il</i>&#8212;, pretende apuntar en cambio a las distorsiones y enga&#241;os de los media. La relaci&#243;n entre la imagen y un objeto conexo (en este caso los elementos dibujados en la acci&#243;n registrada por la c&#225;mara de v&#237;deo) establece una contig&#252;idad siempre artificiosa, pero ahora descubriendo expresamente el hiato entre la realidad aparente de las figuras geom&#233;tricas &#8220;correctamente&#8221; representadas en el espacio ilusorio de la pantalla y la geometr&#237;a contrahecha por la artima&#241;a puesta en juego en su grabaci&#243;n videogr&#225;fica.</p>

<p> En proyectos sucesivos, Pedro Ortu&#241;o ha combinado el v&#237;deo, la fotograf&#237;a y los elementos escult&#243;ricos u objetuales para abordar otras relaciones, configuraciones y tem&#225;ticas m&#225;s complejas: <i>El quinto sentido del p&#225;jaro carpintero</i>
(1990), <i>Espacio y Tiempo Sonoro</i>
(1990), <i>Penta Rhei</i>
(1990), <i>Espacio y Tiempo cin&#233;tico</i>
(1992) y <i>The Last Vehicle</i>
(1992-94). Relaciones menos literalistas entre los elementos tridimensionales y las implicaciones de la imagen, el sonido, el vector temporal y la impresi&#243;n de movimiento; configuraciones que tienden a un despliegue m&#225;s rotundo como instalaci&#243;n, como espacio transitable antes que como proscenio; tem&#225;ticas que se abren al espacio urbano, al sincretismo en las artes (tomando como referente al m&#250;sico y arquitecto Iannis Xenakis), a las m&#225;quinas de la velocidad y la visi&#243;n (tomando como referente los escritos de Paul Virilio).</p>

<p> <i>The Last Vehicle</i> ha sido un proyecto determinante en la trayectoria de Ortu&#241;o, llevado a cabo durante su primera estancia en Estados Unidos &#8212;gracias a una ayuda del Downtown Community Television Center (DCTV) de Nueva York, uno de los crisoles autogestionarios m&#225;s curtidos en el v&#237;deo documental/alternativo&#8212; y desdoblado en un v&#237;deo monocanal y una instalaci&#243;n. El t&#237;tulo proviene de un texto de Virilio y la tem&#225;tica de la velocidad, el movimiento cin&#233;tico/cinem&#225;tico, prosigue la que se hab&#237;a apuntado en otras obras inmediatamente anteriores, ahora en relaci&#243;n a un inter&#233;s por la arqueolog&#237;a del cine y del cine expandido y a una reflexi&#243;n donde el ferrocarril, el cinemat&#243;grafo y las im&#225;genes electr&#243;nicas encarnan &#8212;seg&#250;n lo formula Virilio&#8212; el progreso en el transporte, la mutaci&#243;n vehicular que conduce a la inercia polar del viaje sedentario o
&#8220;voyage de l&#8217;immeuble&#8221;. Esto &#250;ltimo ser&#237;a en todo caso un subtexto de la obra, pues Ortu&#241;o finalmente prefiri&#243; recoger un comentario de Wim Wenders, tal como recogi&#243; im&#225;genes de archivo y emblem&#225;ticas de la historia del cine.</p>

<p> En cuanto a la instalaci&#243;n &#8212;s&#243;lo exhibida en una versi&#243;n un tanto esquel&#233;tica o a escala reducida por comparaci&#243;n con la envergadura inicial del proyecto&#8212;, &#233;sta pretende recrear el dispositivo escenogr&#225;fico de algunas experiencias cinematogr&#225;ficas primitivas como los <i>Hale&#8217;s Tours</i>
(1904) o anteriores incluso, donde la sala de proyecci&#243;n era el simulacro de un vag&#243;n de tren o de otros veh&#237;culos reales o imaginarios (como el <i>Ballon-Cin&#233;orama</i> de Raoul Grimoin-Sanson en 1900, o la <i>Time Machine</i> que H.G. Wells proyect&#243; en 1895 junto al pionero del cine brit&#225;nico Robert W. Paul), a veces con complementos estimuladores de la sensaci&#243;n realista tales como efectos de movimiento, ambientaci&#243;n sonora y corrientes de aire.</p>

<p> Dec&#237;a que este proyecto ha sido determinante en la obra de Ortu&#241;o, o quiz&#225; cabr&#237;a decirlo de las circunstancias que concurren en su periodo de elaboraci&#243;n: la experiencia de trabajo en DCTV y el conocimiento de otros pivotes y colectivos en el bullicio art&#237;stico y activista de Nueva York; el contacto y la ocasional colaboraci&#243;n con artistas como Muntadas, Juan Downey y Ken Feingold. Para retomar el tropo de los <i>pasajes</i>, Ortu&#241;o culmina entonces el tr&#225;nsito de la videoescultura literalista de sus inicios a la escultura expandida/medial, a la vez que emprende el paso sucesivo a un modo de escultura medial/social
(que, como se desprende de lo expuesto en la primera parte de este texto, no siempre es escultura en una acepci&#243;n literal). En efecto, despu&#233;s de <i>The Last Vehicle</i>, o ya desde otros proyectos iniciados simult&#225;neamente, su trabajo se fundamenta en el reportaje en el (buen) sentido referido anteriormente, tanto da si el medio o material es finalmente la fotograf&#237;a o la intervenci&#243;n en un espacio p&#250;blico, un v&#237;deo monocanal o una instalaci&#243;n v&#237;deo/multimedia, o una adaptaci&#243;n din&#225;mica del proyecto a posibilidades y secuelas diversas. Un somero repaso de otros trabajos me servir&#225; de apoyo.</p>

<p> <i>Getting There Is All That Matters</i>
(1993) es un proyecto de arte p&#250;blico, tangencialmente relacionado con <i>The Last Vehicle</i>, para una estaci&#243;n del metro de Nueva York, utilizando el soporte y formato de una valla de publicidad, y auspiciado por la entidad p&#250;blica Metropolitan Transit Authority como parte de su programa
<i>Arts for Transit</i>.
Tomando como referencia el primer estatuto por el que se reg&#237;a antiguamente el transporte p&#250;blico en la ciudad de Nueva York (y jugando por tanto con la apariencia de la publicidad institucional), la composici&#243;n de Ortu&#241;o combina la cita literal, el reportaje fotogr&#225;fico y el destacado &#233;nfasis de tres palabras contenidas y enlazadas en la prosa administrativa de dicho texto; palabras que el autor ha interpretado como claves del <i>American Way of Life</i> y que giran de sentido en relaci&#243;n con el t&#237;tulo de la pieza, con
&#8220;aquello que m&#225;s importa alcanzar&#8221;: seguridades y beneficios.</p>

<p> Los v&#237;deos <i>La cuna del Daiquiri</i>
(1994/1995) y <i>Las lavanderas de San Crist&#243;bal</i>
(1994/1997) &#8212;las fechas entre par&#233;ntesis indican respectivamente el a&#241;o de grabaci&#243;n y el de su edici&#243;n/finalizaci&#243;n&#8212; son sendos reportajes que documentan la asfixia de Cuba y un flagrante intento de fraude electoral en el estado mexicano de Chiapas. Ambas cintas punt&#250;an su visi&#243;n testimonial con el contrapunto de unas reverberaciones medi&#225;ticas: en un caso el oficialismo o la indiferencia de los esl&#243;ganes en las vallas de publicidad y propaganda (del intimidante &#8220;Junto a t&#237; siempre&#8221; al globalizado
&#8220;The United Colors of Benetton&#8221;); en el otro las informaciones de la TV y la radio y las cu&#241;as de propaganda institucional, m&#225;s unos anacr&#243;nicos insertos cinematogr&#225;ficos de Cantinflas &#8220;el peladito&#8221;. Contrapuntos que resaltan el literal acercamiento de la c&#225;mara y su micr&#243;fono &#8212;una humilde c&#225;mara de 8 mm&#8212; a los descontentos, a los discrepantes, a los balseros, a la sal de la tierra.</p>

<p> El v&#237;deo <i>Abanico rojo</i>
(1996) es un trabajo impecable de historia privada y memoria colectiva a prop&#243;sito de la guerra civil espa&#241;ola y los &#8220;ni&#241;os de la guerra&#8221; acogidos en la URSS, combinando im&#225;genes de archivo y entrevistas con diversos testimonios de aquel &#233;xodo y de una generaci&#243;n sucesiva ya nacida all&#237;. Es un trabajo de &#8220;acercamiento entre generaciones&#8221;, tal como lo intuye y describe una de las personas entrevistadas, que merecer&#237;a hallar un hueco televisivo si no fuera por la cerrilidad de las televisiones espa&#241;olas y auton&#243;micas, mientras que los circuitos del v&#237;deo independiente son aqu&#237; y ahora tan enclenques que uno llega a dudar si verdaderamente se puede decir que existen. Sin embargo, Pedro Ortu&#241;o no es alguien que se deje abatir por los obst&#225;culos y <i>Abanico rojo</i> queda como un proyecto abierto, a partir del cual ha esbozado otros con la expectativa de incorporar nuevos recursos interactivos y telem&#225;ticos.</p>

<p> <i>You Are Invited To Visit The White House</i>
(1996/1997), proyecto nuevamente desdoblado en un v&#237;deo monocanal y una instalaci&#243;n, documenta una manifestaci&#243;n de lucha contra el SIDA convocada por ACT UP en Washington DC, a lo largo de la cual se cumplieron varios proyectos activistas, culminando con el lanzamiento de cenizas en los jardines de la Casa Blanca &#8212;un gesto colectivo que hab&#237;a sido imaginado por una de las v&#237;ctimas de la enfermedad, el artista David Wojnarowicz&#8212; y una intervenci&#243;n policial disuasiva. Estas im&#225;genes son puntuadas por un plano intercalado de uno de los puntos de informaci&#243;n tur&#237;stica situados en los alrededores de la residencia presidencial, y por algunas reiteraciones consecutivas del mensaje grabado que invita a su visita al pulsar un bot&#243;n. En su versi&#243;n como instalaci&#243;n, por otra parte, el v&#237;deo se complementa con una r&#233;plica de dicho punto de informaci&#243;n y la imagen ampliada de un polic&#237;a a caballo, y es al pulsar el bot&#243;n correspondiente que se escucha el sonido del v&#237;deo; es decir, las voces airadas de quienes no son bien recibidos en la Casa Blanca.</p>

<p> En el proyecto que Ortu&#241;o ha desarrollado para La Gallera se advierte de entrada una premeditada configuraci&#243;n espec&#237;fica para esta sala p&#250;blica de exposiciones, en la que, contando con los medios m&#225;s habituales en su trabajo
&#8212;v&#237;deos, fotograf&#237;as, objetos, sonido&#8212;, pretende escenificar un combate figurado a dos niveles, con sus gallos de pelea y sus
(valientes que no cobardes) gallinas, y as&#237; evocar aleg&#243;ricamente el uso que tuvo originalmente el edificio y otras connotaciones que su nombre inspira. Por una parte una pelea ruidosa y violentamente espectacular, espoleada por los medios de masas y su propia ri&#241;a, competitiva y limpia: de guante o de cuello blanco. Y a otro nivel, la lucha pac&#237;fica, que no c&#225;ndida, de las identidades segregadas y reivindicativas; concretamente, de los colectivos feministas y de gays y lesbianas. Una vez m&#225;s, un principio de contrapunto que quiere ser tan inmediato (y simple en su dualidad) como esclarecedor
(y complejo en sus entrel&#237;neas): la desarticulaci&#243;n de los discursos dominantes en la arena central, la plataforma del espect&#225;culo; el reportaje entregado a la voz y presencia de los sectores excluidos, en &#225;reas perif&#233;ricas y que, sin embargo, son las que reclaman detenci&#243;n, tiempo, atenci&#243;n, como poniendo en cuesti&#243;n la misma idea de centro.</p>

<p> La noci&#243;n de escultura social, finalmente, es apenas una de las claves posibles para interpretar ciertas sendas del arte actual en su acento cr&#237;tico y comprometido.
Ese compromiso que adquiere Pedro Ortu&#241;o al abordar un tema como el ahora elegido, en el que se dir&#237;a que son m&#225;s contundentes y eficaces las palabras y los gestos (y gestas) resueltamente activistas. La oportunidad del reportaje, entonces, es la de recoger la oralidad del debate; aunque aqu&#237; sea un elemento m&#225;s entre otros.</p>

<p> Cuando la obra de Ortu&#241;o pertenec&#237;a m&#225;s claramente al rango de la &#8220;escultura&#8221;, parece como si causara recelo su incorporaci&#243;n de un medio como el v&#237;deo, tan mal aposentado y poco reconocido en nuestros &#225;mbitos art&#237;sticos. Y cuando en sus trabajos de v&#237;deo ha tendido al &#8220;reportaje&#8221;, me constan actitudes pacatas que han puesto en tela de juicio que eso fuera (video)arte. En este sentido, el concepto de escultura social permite un razonamiento m&#225;s abierto para enfocar adecuadamente su obra y trayectoria, incluso sin perder de vista su ya lejano punto de fuga.</p>

<p> septiembre 1998</p>




<p> <b>REFERENCIAS</b></p>

<p> Eugeni Bonet: &#8220;Sin pedestal&#8221;, en <i>El quinto sentido del p&#225;jaro carpintero</i>, cat&#225;logo de la exposici&#243;n de Pedro Ortu&#241;o (Murcia: Regi&#243;n de Murcia - Consejer&#237;a de Cultura, Educaci&#243;n y Turismo, 1990).</p>

<p> Eugeni Bonet: &#8220;La instalaci&#243;n como hipermedio (una aproximaci&#243;n)&#8221;, en <i>Media Culture</i>, ed. Claudia Giannetti (Barcelona: ACC L&#8217;Angelot, 1995).</p>

<p> Hal Foster: &#8220;The Crux of Minimalism&#8221;, en <i>Individualism: A Selected History of Contemporary Art</i>
(Abbeville, NY, 1986). Traducci&#243;n castellana: &#8220;Lo esencial del minimalismo&#8221;, en <i>Minimal Art</i>
(Donostia-San Sebasti&#225;n: Diputaci&#243;n Foral de Gipuzkoa/Koldo Mitxelena Kulturenea, 1996).</p>

<p> Michael Fried: &#8220;Art and Objecthood&#8221;, <i>Artforum</i>, junio 1967; posteriormente recogido en <i>Minimal Art: A Critical Anthology</i>, ed. Gregory Battcock (Nueva York: E.P. Dutton, 1968). Traducci&#243;n castellana: &#8220;Arte y Objetualidad&#8221;, en <i>Minimal Art</i>
(op. cit.).</p>

<p> Rosalind E. Krauss: <i>Passages in Modern Sculpture</i>
(Nueva York: The Viking Press, 1977).</p>

<p> Rosalind E. Krauss:
&#8220;Sculpture in the Expanded Field&#8221;, en <i>October</i>, n&#186; 8 (primavera 1979).</p>

<p> Paul Virilio: &#8220;Le dernier v&#233;hicule&#8221;, en <i>L&#8217;inertie polaire</i>
(Par&#237;s: Christian Bourgois &#201;diteur, 1990).</p> 