  <p> <b>SIN PEDESTAL</b></p>

<p> En Espa&#241;a, la v&#237;deo-instalaci&#243;n ha sido siempre una anomal&#237;a, aunque con una presencia inicialmente mayor en Catalu&#241;a. No por azar, entre los artistas que m&#225;s la han frecuentado, hay que mencionar en primer lugar a Muntadas, Francesc Torres y Eug&#232;nia Balcells, los cuales se afincaron en Estados Unidos a lo largo de los a&#241;os setenta y son hoy bien conocidos internacionalmente. Carles Pujol ha logrado tambi&#233;n desarrollar su personal l&#237;nea de trabajo en este campo, sac&#225;ndole partido a los medios m&#225;s bien precarios con que generalmente ha contado. El polifac&#233;tico Benet Rossell, en colaboraci&#243;n con Muntadas y con Miralda, pero tambi&#233;n en solitario, no ha desperdiciado la ocasi&#243;n de explorar asimismo este campo. Cabe mencionar adem&#225;s al escultor Ram&#243;n De Vargas, al pintor/escultor Perejaume, y a artistas multimedia Concha Jerez, Pedro Garhel y Dar&#237;o Corbeira.</p>

<p> A mediados de los ochenta, empieza a darse a conocer una nueva generaci&#243;n que se ha interesado inmediatamente por el v&#237;deo y en especial, por las &quot;formas expandidas&quot; &#8212;como dir&#237;a John Hanhardt&#8212; de la instalaci&#243;n: Llu&#237;s Nicolau y Josep Poch en Barcelona, cuyos interesantes trabajos no han tenido por desgracia continuidad en los &#250;ltimos cuatro o cinco a&#241;os; Isabel Herguera en Euskadi; en Madrid, Gabriel Fern&#225;ndez Corchero y el t&#225;ndem que por entonces formaban Ra&#250;l Rodr&#237;guez y Javier Codesal; mientras que Ant&#243;n Jodr&#225; hace alguna incursi&#243;n en Zaragoza. Y, entre otras incursiones m&#225;s, cabe mencionar los nombres de Xavier Villaverde, Alfonso Flaquer, Juli&#225;n Alvarez, Antonio Cano y, m&#225;s insistentemente, Remo Balcells y Joan Pueyo. M&#225;s recientemente, hay que sumar a&#250;n los nombres de Francisco Felipe, Paco Utray con Luis Lamadrid, Marcelo Exp&#243;sito, Jos&#233; Antonio Hergueta y las experiencias primerizas de los grupos Toni Milian y 3TT en Las Palmas.</p>

<p> Sin duda olvido alg&#250;n nombre &#8212;en alg&#250;n caso por desconocimiento&#8212;, mientras que omito deliberadamente la referencia a puros &quot;trabajos escolares&quot; o a experiencias que presumo del todo pasajeras. Aunque un comentario cr&#237;tico detenido sobre el anterior inventario de nombres impondr&#237;a una criba m&#225;s dr&#225;stica, la ristra de nombres mencionados puede dar lugar a pensar que no es tanta la anomal&#237;a que de entrada advert&#237;a.
Y ojal&#225; que no sea as&#237; en adelante, pero lo cierto es que el campo de la creaci&#243;n videogr&#225;fica en Espa&#241;a ha estado trenzado por demasiadas carencias y limitaciones, promesas interrumpidas y nimiedades bendecidas, como para esperar algo m&#225;s que heroicas aventuras individuales m&#225;s o menos persistentes (en el tiempo, en la mirada, en la memoria), en tanto que los espacios reservados al Arte no est&#225;n capacitados para acoger plenamente las aspiraciones de aquella &quot;reserva india&quot;. (M&#225;xime cuando &quot;exposici&#243;n&quot; de una instalaci&#243;n implica, en gran parte, &quot;financiaci&#243;n&quot; de la misma).</p>

<p> El trabajo de Pedro Ortu&#241;o, que es en definitiva de lo que se trata en esta publicaci&#243;n, me ha interesado lo suficiente como para poner por escrito mi percepci&#243;n/apreciaci&#243;n del mismo. A pesar de que gran parte de las &quot;esculturas&quot; e instalaciones que ha producido en poco m&#225;s de un a&#241;o s&#243;lo las he podido conocer a trav&#233;s de documentaci&#243;n fotogr&#225;fica y escrita, lo que no resulta demasiado fiable cuando se trata de obras tridimensionales y con un componente cin&#233;tico (en este caso, el v&#237;deo), me ha parecido advertir en el conjunto de sus propuestas un rigor y una coherencia notables en su ensayo de integraci&#243;n del v&#237;deo (imagen/sonido y el volumen tridimensional del monitor) con otros elementos escult&#243;ricos, objetuales y visuales.</p>

<p> Por otro lado, aunque sus piezas remiten frecuentemente a procesos de transformaci&#243;n y permanencia de la materia en la naturaleza (la erosi&#243;n y la cadencia permanente de las olas, la vida vegetal y el aprovechamiento humano de la madera), como en la civilizaci&#243;n urbana
(construcci&#243;n/destrucci&#243;n, degradaci&#243;n/residuo, materiales naturales/artificiales), rehuye con inteligencia el estadio meramente contemplativo y las ideas abstractas m&#225;s evidentes &#8212;hoy ya demasiado desgastadas art&#237;sticamente&#8212;, para afrontar repetidamente la relaci&#243;n del objeto con la imagen reproducida; desde el formalismo (dicho sea sin ning&#250;n tono peyorativo en el t&#233;rmino), pero con la referencia constante a la &quot;realidad&quot; de los
<i>(mass)
media</i>.</p>

<p> En uno de sus mejores trabajos, tal como &#233;l mismo lo reconoce, Ortu&#241;o juega con el enga&#241;o visual y el punto de vista falsario, en la estela de la
<i>perspectiva curiosa</i> renacentista y el <i>trompe l'oeil</i>.
En esta instalaci&#243;n, con cierta afinidad imprevista con un trabajo de Carles Pujol &#8212;que Ortu&#241;o sin embargo no conoc&#237;a cuando realiz&#243;
su pieza&#8212;, se nos muestra en un monitor el sucesivo trazado de un cuadrado y de un c&#237;rculo, dibujados sobre dos planos (l&#225;minas)
perpendiculares entre s&#237;. Colgadas de una pared posterior, el despliegue de dichas l&#225;minas sobre un mismo plano vertical pone al descubierto la distorsi&#243;n de las figuras geom&#233;tricas,
&quot;correctamente&quot; representadas en el espacio ilusorio de la pantalla de v&#237;deo. Citando (u homenajeando) a Malevich, la intencionalidad de Ortu&#241;o apunta, sin embargo, a la distorsi&#243;n de la informaci&#243;n en los medios de emisi&#243;n de la misma.</p>

<p> La ilusoriedad de la imagen est&#225;
siempre en el trasfondo de sus distintas esculturas; a menudo, en lo que tienen de prolongaci&#243;n conceptual los elementos objetuales o residuales que completan la pieza: materiales &quot;reales&quot;, ya sean naturales o construidos (piedra, madera, metal, espejo, virutas, etc.). Las obras resultantes adquieren elegancia en su sencillez, y claridad en su resoluci&#243;n de la idea (v&#237;deo-)escult&#243;rica, quiz&#225;
con el riesgo de una presencia demasiado discreta. (En todo caso, pienso que las esculturas realizadas por Ortu&#241;o hasta ahora ganan cuando se exhiben como un conjunto cohesionado, en lugar de como piezas sueltas aisladas). Otro posible reparo que se me ocurre es la limitaci&#243;n que puede suponer el darle excesivas vueltas a un pensamiento-de-la-sospecha referido a la imagen, como duplicaci&#243;n y simulacro del mundo f&#237;sico, sin ir m&#225;s all&#225; de una ya improbable perplejidad del desenga&#241;o.</p>

<p> El artista que empieza necesita una respuesta o, como dicen los anglosajones, <i>feedback</i>
&#8212;no tanto un c&#243;modo respaldo, como opiniones cr&#237;ticas&#8212;, que por rutina o abulia es un tanto infrecuente en un contexto art&#237;stico como el nuestro; en especial cuando en la obra del autor en cuesti&#243;n intervienen determinados medios que suscitan a&#250;n una cierta reticencia, sino un simple encogimiento de hombros. Los &quot;textos de cat&#225;logo&quot; se conciben entonces como un pedestal a fin de poner a la altura de la vista las supuestas cualidades art&#237;sticas del autor y su obra. Esto es un texto de cat&#225;logo y, como tal, no deja de tener su lado apolog&#233;tico. Pues intuyo que la obra de Ortu&#241;o, incluso si se considera como incipiente, no necesita pedestal: se sostiene por s&#237; sola.</p>

<p> EUGENI BONET</p>
<p> Barcelona, abril de 1990</p>
 