  <p> <b>MOSCAS VOLANTES</b></p>

<p> Eugeni Bonet</p>



<p> <b>tr&#225;nsito y permanencia</b></p>

<p> La pr&#225;ctica art&#237;stica que Francisco Ruiz de Infante ha venido desarrollando a lo largo de m&#225;s de diez a&#241;os &#8212;si se cuentan aquellas fases que, retrospectivamente, puedan considerarse como formativas, incipientes, tentativas&#8212; gravita siempre en torno a diversos estados de lo transitorio. O, dicho sea con otras palabras que FRI maneja frecuentemente, de lo fr&#225;gil, de lo ef&#237;mero.</p>

<p> En primer lugar, el tr&#225;nsito propio del tiempo y el de un primer enfrentamiento del sujeto con el discurrir imperturbable del mismo, cumpliendo inadvertidamente los ritos de paso de la ni&#241;ez a la adolescencia y al ser adulto, con las persistentes secuelas (algunas veces atroces)
de la nostalgia y la a&#241;oranza por la presunta inocencia perdida. Una tem&#225;tica recurrente en la obra de FRI, a la que nos remiten ya algunos de sus t&#237;tulos: <i>Je suis un bon gar&#231;on</i>, <i>Encore je suis un enfant</i>, <i>Los huesos blandos</i>, as&#237; como los referidos al aprendizaje (<i>El Reformatorio</i>, <i>Aprendiendo eclipses</i>, <i>Les sons de survie</i>)
o a los universos de las ficciones infantiles (<i>Les fr&#232;res de Pinocchio</i>, <i>Los lobos</i>).</p>

<p> En segundo lugar, el tr&#225;nsito como desplazamiento de un lugar o contexto a otro: de una ciudad a otra, de un pa&#237;s a otro, de una lengua a otra, de lo familiar a lo extra&#241;o/extranjero&#8230; Un desplazamiento/expatriaci&#243;n que, en el caso de FRI, lo es en gran parte por voluntad y oportunidad, en busca de otros aires y de unas condiciones menos precarias que aquellas que coartan ciertas especies de arte escasamente protegidas en Espa&#241;a (como el v&#237;deo, la instalaci&#243;n audiovisual y otras pr&#225;cticas multimedia: el difuso terreno al que puede adscribirse la actividad en cualquier caso singular de FRI).
Aunque, por otro lado, la vivencia del desplazamiento y las sensaciones de extrav&#237;o o desarraigamiento se han convertido en una preocupaci&#243;n tem&#225;tica inescapable (&#8220;&#8230;je suis n&#233; au nord d&#8217;un pays qui se trouve au Sud. Mais, au sud de quoi?, <i>Les choses simples</i>).</p>

<p> Y, en tercer lugar, en la obra de FRI, lo transitorio ha devenido mismamente un lugar
&#8212;lugar de paso, lugar com&#250;n&#8212;, un espacio de tr&#225;nsito (<i>Centro de tr&#225;nsito para adolescentes</i> era el t&#237;tulo de su exposici&#243;n de 1992 en su ciudad natal, Vitoria-Gasteiz); un entorno de aprendizaje e iniciaci&#243;n, entre el refugio y el reformatorio, entre lo liberador y lo oprimente. Un lugar, como viene a decir FRI en una de sus notas, &#8220;para el conocimiento de la crueldad y el fr&#237;o&#8221;; unos amargos &#8220;ant&#237;dotos&#8221;
para hacer soportable el sufrimiento.</p>

<p> Pero esta insistencia en la fugacidad del tiempo, en lo perpetuamente transitorio, en la ardua aprehensi&#243;n de la realidad, en el miedo y la vacilaci&#243;n, en las dudas y las paradojas, en el <i>territorio de la fragilidad</i>
&#8212;dice FRI: &#8220;Mis frases son cortas; mis objetos y mis ideas son ef&#237;meros&#8221;&#8212;, dista de ser el enfoque pasajero y perplejo de un artista joven y en ciernes, por mucho que alguna vez se autodiagnosticara e identificara entre los &#8220;enfermos de infancia&#8221;, sino que constituye aquello que da fuerza y personalidad, consistencia y densidad &#8212;un valor de permanencia, en suma&#8212; al conjunto de su obra pl&#225;stica y audiovisual.</p>

<p> Esta &#250;ltima es la que constituye el objeto de atenci&#243;n de estas p&#225;ginas; m&#225;s especialmente, la de soporte videogr&#225;fico y en formato monocanal, por ser la parcela de su trabajo con la que estoy m&#225;s familiarizado, permiti&#233;ndome adem&#225;s una revisi&#243;n detenida (mando a distancia en mano) de la decena de cintas que FRI ha completado desde 1988.
Tomando como referencia en primer plano a <i>Los lobos</i>
(1995), su cinta m&#225;s reciente (y, por convenci&#243;n, bien puede decirse que la m&#225;s &#8220;ambiciosa&#8221; hasta ahora, aunque no meramente por su larga duraci&#243;n o metraje), y retrocediendo hasta su mismo germen en la puesta a cero primordial de <i>Hacia el agua</i>
(1988) &#8212;primera realizaci&#243;n audiovisual que su autor mantiene en distribuci&#243;n, consider&#225;ndola como un suma-y-sigue, pero tambi&#233;n como un punto-y-aparte respecto a otra decena larga de t&#237;tulos que la preceden en el m&#225;s exhaustivo listado videofilmogr&#225;fico que consta en su curriculum&#8212;, estos comentarios, hilvanados en parte como un di&#225;logo con los propios textos, comentarios y anotaciones de FRI, pretenden remontar las constantes y las l&#237;neas tem&#225;ticas diversas que ensamblan sus realizaciones videogr&#225;ficas consecutivas.</p>


<p> <b>negro y blanco</b></p>

<p> En efecto, ya que FRI se&#241;ala que <i>Los lobos</i> tiene una remota motivaci&#243;n en los meandros anteriores de <i>Hacia el agua</i>, puede adem&#225;s decirse que ambas obras comparten alg&#250;n que otro rasgo en com&#250;n que las distingue de las dem&#225;s cintas que FRI ha realizado en el intervalo, y con las que empez&#243; a atraer la atenci&#243;n en los circuitos internacionales del v&#237;deo de creaci&#243;n. Por un lado, por el monocromatismo de sus im&#225;genes en blanco y negro (aunque la primera versi&#243;n de <i>Hacia el agua</i> fuera en color, &#233;ste tend&#237;a ya a lo monocrom&#225;tico), si bien llenas de matices grises y turbios entre los extremos de claro y oscuro. Por otro lado, en una cierta fragmentaci&#243;n, variaci&#243;n o modulaci&#243;n sint&#225;ctica y dramat&#250;rgica de los textos y las voces, lejos de los tintes m&#225;s deliberadamente mon&#243;tonos de los mon&#243;logos, los falsos di&#225;logos o las l&#237;neas de texto escrito que llevan las riendas de otros de sus v&#237;deos. Y, si a prop&#243;sito de <i>Hacia el agua</i>, FRI dec&#237;a que &#8220;el ocultismo casi s&#243;rdido ir&#225; dando paso a una mayor claridad de los textos, y el recurso hacia el color negro ser&#225;
sustituido por la utilizaci&#243;n del color blanco en la imagen&#8221;, de alg&#250;n modo <i>Los lobos</i> se anuncia como un nuevo <i>descenso ad inferos</i> hasta la oscura sordidez de la corrupci&#243;n y la violencia, el miedo y la angustia, el terror y la pesadilla en estado vigil.</p>

<p> <i>Los lobos</i>, dice FRI, &#8220;contiene algunos de los elementos que han aparecido en otros de mis v&#237;deos (infancia, adolescencia, aprendizaje, culpabilidad, p&#233;rdida de ra&#237;ces, miedo&#8230;); sin embargo, esta vez estos temas est&#225;n te&#241;idos de un tono amenazante&#8221;. Este tono, por tanto, debe ser de color oscuro o negro, y quiz&#225; en la obra de FRI pudiera empezar a distinguirse pues entre un per&#237;odo (o registro)
negro y otro de apoteosis del blanco &#8212;aunque para mejor comprender esto, es preciso mirar a su obra pl&#225;stica y de instalaci&#243;n o instauraci&#243;n de ambientes: a su blancor insistente, y a sus penumbras y <i>eclipses</i>&#8212;, tal como para la obra precubista de Picasso se habla de las &#233;pocas azul y rosa.</p>

<p> No obstante, por encima de este registro tonal diverso o de otros matices singularizadores &#8212;en <i>Los lobos</i>, por ejemplo, el texto no tiene un protagonismo tan &#225;lgido como en anteriores cintas&#8212;, hay una plena continuidad en cuanto a las preocupaciones tem&#225;ticas y las marcas de estilo desarrolladas en el conjunto entero de sus v&#237;deos: los flujos de im&#225;genes, sonidos y textos que se encadenan, entremezclan y reiteran con una cadencia y armon&#237;a propias; la predilecci&#243;n por la <i>visi&#243;n lenta</i> y por un repertorio m&#225;s bien restringido de iconos y s&#237;mbolos en gran parte recursivos; la cualidad enrarecida, intrincada o texturada de las im&#225;genes, y tambi&#233;n de los sonidos, como resultado de los velos o capas superpuestas, de las mezclas, los ruidos introducidos y los eslabonamientos graduales; la espesura de los diversos elementos entretejidos (visuales, textuales, sonoros, musicales, etc.); o el recurso a franjas, cortinas y otros efectos para encuadrar o reformatear las im&#225;genes y organizar en otro eje su desfile secuencial (o el del texto rotulado, el texto como imagen).</p>

<p> En cuanto a los temas, &#233;stos mantienen su severidad sea cual sea la tonalidad superpuesta, aunque s&#243;lo de una manera simplista pueden ser desglosados y tipificados en, por ejemplo, la muerte (<i>Hacia el agua</i>, <i>Lugar com&#250;n</i>), el sentimiento de culpa (la trilog&#237;a <i>Las armas y los cuidados</i>: <i>El juicio</i>, <i>Yo soy de la Gran Europa</i>, <i>Les promenades nocturnes</i>), el viaje imaginario (<i>Golden Cities</i>, <i>El primer viaje</i>),&#8230;
pues constituyen m&#225;s bien parte de una constelaci&#243;n de ideas fijas, obsesivas, insoslayables que gu&#237;an la intenci&#243;n nada jovial de la obra de FRI (&#8220;Nunca he pretendido que mi trabajo fuera un punto de encuentro para la fiesta&#8221;). En este sentido, en <i>Los lobos</i>, por la propia magnitud del proyecto (el cual no se extingue en la cinta, sino que &#233;sta constituye el eje de un &#8220;proyecto tem&#225;tico&#8221;
m&#225;s amplio y a&#250;n no cerrado), se produce algo as&#237; como una condensaci&#243;n o recapitulaci&#243;n tem&#225;tica de sus anteriores propuestas, persiguiendo la convulsa belleza del estremecimiento.
Jam&#225;s una fiesta, ahora m&#225;s bien una ordal&#237;a.</p>


<p> <b>falsos di&#225;logos</b></p>

<p> <i>Los lobos</i>, como algunas otras obras recientes de FRI (<i>El reformatorio</i>, <i>Les promenades nocturnes</i>), se estructura narrativamente como un falso di&#225;logo; el m&#225;s ficticio/fingido de todos por la pluralidad de voces, lenguas, registros, edades y g&#233;neros, y manipulaciones (voces invertidas) que se reparten las l&#237;neas de di&#225;logo que encarnan a los dos personajes esenciales &#8212;el <i>Maestro-Gu&#237;a</i> y el <i>Aprendiz</i>&#8212;, y que a&#250;n pueden reducirse, como sugiere el autor, a <i>un personaje m&#250;ltiple</i>.
Este personaje escindido en m&#250;ltiples voces asiste a un viaje inici&#225;tico que se quiere &#8220;dantesco&#8221;, penetrando en las interioridades de un mundo confuso y ca&#243;tico, pero solamente a trav&#233;s de la superficie de las im&#225;genes iluminadas en la pantalla.
Pues no s&#243;lo las voces permanecen en off, como en las dem&#225;s cintas de FRI, sino que los ficticios personajes se mantienen afuera del torbellino de las im&#225;genes; si acaso agreg&#225;ndose como un coro de voces a la confusi&#243;n y sinraz&#243;n perseguida por las mismas. As&#237;, una vez m&#225;s se trata tambi&#233;n de un <i>viaje imaginario</i> y de un <i>tr&#225;nsito de aprendizaje</i>, persistiendo en unos argumentos recursivos en la obra de FRI.</p>

<p> Un viaje inm&#243;vil por mediaci&#243;n de las im&#225;genes y las frases hechas: &#8220;La funci&#243;n del Gu&#237;a es la de mostrar y comentar im&#225;genes (mostrar su poder de manipulaci&#243;n); la funci&#243;n del Aprendiz, la de aprender a mostrar im&#225;genes&#8221;. Este car&#225;cter de comentario externo que el autor atribuye a los di&#225;logos introduce un juego sutil en la relaci&#243;n entre el texto y la imagen, que pasa de una cierta literalidad (con astutos desplazamientos) a una abierta discrepancia, en correspondencia por otra parte con la
&#237;ndole altamente simb&#243;lica y metaf&#243;rica de las im&#225;genes.</p>

<p> Se trata de esa misma literalidad por la que, por ejemplo en <i>Les choses simples</i>, mientras se habla de la lluvia, lo que se contempla en la pantalla son los chorros de agua que manan de una ducha: una falsa lluvia. Y algo parecido ocurre en <i>El reformatorio</i>, cuando se habla de la tristeza y de la lluvia, y lo que se ve son los efectos de la lluvia, pero como si se tratara de l&#225;grimas exageradas de tama&#241;o (&#8220;Llorar y llover son fen&#243;menos parecidos. Sin embargo, los ojos no son nubes y s&#243;lo la tristeza continuada produce charcos&#8221;). Mientras que, en <i>Los lobos</i>, se habla por ejemplo de casas y puertas, &#225;rboles y frutos, perros y aves, plagas y tormentas,&#8230; y todo ello se hace de alg&#250;n modo visible, incluso de manera redundante, pero siempre con un velo de sospecha sobre la fidelidad y transparencia de esas mismas im&#225;genes.
Y, en otros momentos, se trata de esa discrepancia entre im&#225;genes c&#225;ndidas o enigm&#225;ticas, sosegadas o inquietantes, y los giros inesperados del texto, sus contrasentidos, sus sofismas, sus turbadores imperativos, las afligidas letan&#237;as en primera persona; toda la gama de construcciones ling&#252;&#237;sticas que FRI ha introducido en cada uno de sus v&#237;deos, y que aqu&#237; se combinan y confunden en el falso di&#225;logo del personaje m&#250;ltiple.</p>

<p> El principio dramat&#250;rgico del personaje m&#250;ltiple resulta m&#225;s di&#225;fano, por otra parte, en <i>Les promenades nocturnes</i>
(1994), una obra que se desgaj&#243; de las primeras elaboraciones para
<i>Los lobos</i>, siendo primeramente presentada como una instalaci&#243;n de v&#237;deo en tres pantallas, y luego adaptada en versi&#243;n monocanal, con la moment&#225;nea idea de que constituyera un posible pr&#243;logo a <i>Los lobos</i>, aunque finalmente reubicada como conclusi&#243;n de la trilog&#237;a <i>Las armas y los cuidados</i>.
De manera que puede interpretarse como una pieza-bisagra entre ambos proyectos, estrechando la vecindad de sus respectivas tem&#225;ticas: la culpabilidad y la vacilaci&#243;n por un lado, el miedo y la sinraz&#243;n por otro (claro est&#225; que siempre simplificando un tanto respecto a lo que FRI entiende por concepto o proyecto <i>tem&#225;tico</i>).
El rotundo componente literario de <i>Les promenades nocturnes</i>, sin embargo, est&#225; m&#225;s pr&#243;ximo de las otras realizaciones anteriores a <i>Los lobos</i>, y el falso di&#225;logo no alcanza el grado tan dr&#225;sticamente fragmentario y cuasi desmantelado que adquiere en esta cinta.</p>

<p> As&#237;, mientras que en la primera parte de <i>Les promenades nocturnes</i> la falsedad del di&#225;logo se reconoce ya <i>auditivamente</i>, como si fuera un di&#225;logo del sujeto consigo mismo &#8212;una voz masculina, y la misma ligeramente enrarecida por la l&#237;nea telef&#243;nica&#8212;, introduciendo ecos repetitivos de las mismas frases, falsas r&#233;plicas y alg&#250;n instante perplejo (&#8220;Quand j&#8217;entends ma voix, je ne sais plus quoi penser&#8221;), en la segunda parte se produce un aparente cambio de personajes y un claro distingo en las voces
&#8212;ahora una mujer y un ni&#241;o&#8212;, sin embargo revertiendo nuevamente en un falso di&#225;logo: intercambiando sus roles, sus advertencias,
&#243;rdenes e interdicciones; menoscabando la soluci&#243;n de continuidad de sus frases a prop&#243;sito del pecado, la memoria y la oscuridad. Y si las im&#225;genes parecen seguir un orden enteramente distinto y en gran parte aut&#243;nomo, al cabo se adivina que todos los personajes, las voces, los desdoblamientos se resuelven en un sujeto &#250;nico: aquel que, herido y angustiado al principio, se convertir&#225; en sonriente amigo de los lobos. (&#191;Sonriente como una hiena?).</p>


<p> <b>falsas simetr&#237;as</b></p>

<p> En la videograf&#237;a de FRI, el falso di&#225;logo se entabla de manera m&#225;s rotunda en coincidencia con el tema de la falsa simetr&#237;a que exploran la instalaci&#243;n y la cinta <i>El reformatorio (falsos gemelos)</i>
(1992-93), as&#237; como algunas piezas fotogr&#225;ficas que lo prefiguraban anteriormente. Es decir, aunque ya se encuentren indicios de falsos di&#225;logos en otras cintas precedentes &#8212;por la alternancia de la primera y segunda persona del singular, o por la diversificaci&#243;n de las voces o de los textos orales y escritos&#8212;, su intenci&#243;n se carga de un mayor sentido en el caso de la obra mencionada; sobre todo en su versi&#243;n original como instalaci&#243;n, donde se remarca el car&#225;cter escindido de su personaje m&#250;ltiple y de la &#8220;arquitectura&#8221;
audiovisual que envuelve su puesta en escena: una doble caba&#241;a (un refugio) y un doble punto de vista para una pantalla &#250;nica, pero partida, de manera que el espectador ha de conformarse con una mitad de la imagen o desplazarse intuitivamente para tratar de abarcar su desdoblamiento, su falsa simetr&#237;a.</p>

<p> En la versi&#243;n monocanal, esta duplicidad se mantiene en diversos momentos y en general se obtiene una sensaci&#243;n de multiplicidad y densidad visual en variaci&#243;n constante, aunque de una manera pausada y fluyente. El di&#225;logo discurre paralelamente a tres voces &#8212;dos adultas, masculina y femenina respectivamente, y la de un ni&#241;o&#8212;, haci&#233;ndonos sentir lo que el autor describe como &#8220;el peso de las palabras&#8221; y sus &#8220;dobles sentidos&#8221;, hasta tal punto que constituye probablemente la m&#225;s &#225;rida de sus cintas; tambi&#233;n por su duraci&#243;n relativamente prolija: 24 minutos mayormente acompa&#241;ados de di&#225;logos en forma de frases cortas de incierta pedagog&#237;a. <i>El reformatorio</i>, pues, constituye algo as&#237; como una <i>lecci&#243;n de cosas</i>, ordenada en funci&#243;n de unas palabras simples que se enredan en explicaciones y comentarios no tan simples &#8212;as&#237; lo prueban las ciencias, al menos: &#8220;El color blanco es la suma de todos los colores. De todos modos, el color blanco no existe.&#8221; &#8220;Las cat&#225;strofes son necesarias. Las cat&#225;strofes hacen avanzar el mundo.&#8221;&#8212;, pasando de la neutralidad de las certezas aparentes a la voz de la experiencia adulta y los incisos de docilidad o desesperaci&#243;n infantil (&#8220;nada es f&#225;cil&#8221;, &#8220;no me pegues&#8221;,
&#8220;tengo miedo&#8221;, &#8220;no debo cometer errores&#8221;).</p>

<p> La falsa simetr&#237;a constituye el pretexto de la inseguridad, la contradicci&#243;n, la sospecha, el miedo. Es la imperfecci&#243;n y la ambig&#252;edad, la geometr&#237;a trastornada por la realidad. Al llevar estas cuestiones al territorio de la infancia, FRI no cede sin embargo a una tentaci&#243;n nost&#225;lgica, sino que proyecta las peripecias del aprendizaje del mundo hacia los interrogantes que nos mantienen en vilo como adultos.
Como nos recuerda FRI, &#8220;la palabra reformarse est&#225; emparentada con otras palabras dif&#237;ciles de entender: transformarse, conformarse, deformarse&#8230;&#8221; Y estas eufon&#237;as se traducen en las anfibolog&#237;as de las l&#237;neas de di&#225;logo. <i>El reformatorio</i> figura ese <i>centro de tr&#225;nsito</i> desorientador y est&#243;lidamente traum&#225;tico, previo al recorrido inici&#225;tico de <i>Los lobos</i>.</p>


<p> <b>fuera de la ley</b></p>

<p> Al principio de <i>Los lobos</i>, la voz un tanto inaudible del autor asume el rol del <i>Gu&#237;a</i> y expone el punto de partida: &#8220;&#8230;preparar im&#225;genes en blanco y negro&#8221;; &#8220;Se trata de&#8230; viajar. Y de que t&#250; viajes conmigo.&#8221;;
&#8220;La estrategia es la de descomponer&#8230;&#8221;; &#8220;&#8230;hacer un poco de desorden&#8221;. Estamos lejos del convencional pre&#225;mbulo que el autor introdujo al inicio de <i>Hacia el agua</i>, como para hacernos part&#237;cipes del sentido secreto de sus im&#225;genes; o del peso que cobra lo literario en <i>El primer viaje (cuatro d&#237;as)</i> a fin de mantener una obstinada distancia con la experiencia ajena del viaje por delegaci&#243;n; con la interiorizaci&#243;n artificiosa del viaje imaginario y del sentirse trasladado a una realidad y cultura con el atractivo de lo ex&#243;tico, pero en definitiva extra&#241;a. En <i>Los lobos</i> no hay realmente esa intenci&#243;n de clarificar (o debatir con) las propias intenciones, sino de introducirnos inmediatamente al desorden, a la confusi&#243;n y afuera de la ley. &#8220;Entrar en un estado de observaci&#243;n en el cual no hay leyes: ver y escuchar sin leyes&#8221;.</p>

<p> Este prop&#243;sito me recuerda el comienzo de unas bellas p&#225;ginas de Stan Brakhage, un artista de aportaci&#243;n colosal al cine experimental contempor&#225;neo, recogidas en su libro <i>Metaphors on Vision</i>
(1963):</p>

<p>
&#171;Imagine an eye unruled by man-made laws of perspective, an eye unprejudiced by compositional logic, an eye which does not respond to the name of everything but which must know each object encountered in life through an adventure of perception.&#187;</p>

<p> Y m&#225;s adelante, tras algunas l&#237;neas dedicadas a la infancia y el ojo sin tutela, la p&#233;rdida de la inocencia y la b&#250;squeda del conocimiento:</p>

<p>
&#171;Allow so-called hallucination to enter the realm of perception, allowing that mankind always finds derogatory terminology for that which doesn&#8217;t appear to be readily usable, accept dream visions, day-dreams or night-dreams, as you would so-called real scenes&#8230;&#187;</p>

<p> Como en Brakhage, las im&#225;genes de FRI se constituyen en &#8220;met&#225;foras de la visi&#243;n&#8221;, &#8220;visiones hipnag&#243;gicas&#8221;. A diferencia de &#233;l, el sonido y el texto no son elementos a evitar a fin de no empa&#241;ar la &#8220;aventura de la percepci&#243;n&#8221;, sino justamente lo contrario: en efecto, las palabras quieren empa&#241;ar el hechizo de lo visualizado.</p>

<p> En cualquier caso, venga o no a cuento esta referencia (a mi modo de ver, con m&#225;s que una tangencia po&#233;tica conjetural), lo que s&#237; se puede aseverar a la vista de la obra de FRI es su brillante asimilaci&#243;n del legado de un conjunto indeterminado de heroicos aventureros de la percepci&#243;n y de la innovaci&#243;n en el dominio de las artes audiovisuales; concretamente en los territorios perif&#233;ricos del cine experimental, del videoarte, y de los m&#225;s tenaces rompemoldes en general. No se olvide tampoco que algunas de las primeras andanzas audiovisuales de FRI tuvieron el fr&#225;gil soporte de la pel&#237;cula de super-8, cuyas texturas caracter&#237;sticas se trasladaron posteriormente a la cinta magn&#233;tica &#8212;desde <i>Hacia el agua</i>
(1988) y hasta <i>Lugar com&#250;n</i>
(1991)&#8212;, siendo principalmente reemplazado a partir de <i>El juicio</i>
(tambi&#233;n de 1991) por los nuevos formatos de v&#237;deo de 8 mm.; es decir, casi siempre sacando provecho de unos soportes en principio fr&#225;giles, de consideraci&#243;n subprofesional y predestinados para el usuario aficionado o profano, pero de los que tambi&#233;n se han adue&#241;ado los exploradores m&#225;s obstinados y remisos a la dependencia de los mercados y las industrias audiovisuales prevalecientes. En cuanto a las referencias reconocidas por FRI, en el caso espec&#237;fico de <i>Los lobos</i>
(en cuyos cr&#233;ditos se les consagra un amplio ep&#237;grafe) &#233;l ha mencionado a cineastas como Tarkovski, Kanevski, Welles, Coppola
(<i>Rumble Fish</i>), Artavazd P&#233;l&#233;chian, Leslie Thornton y Jonas Mekas, mientras que algunas de sus simpat&#237;as videogr&#225;ficas declaradas se orientan del lado de autores como Bill Viola, Robert Cahen o Robert Wilson, significados estandartes de las visiones lentas y po&#233;ticas.</p>


<p> <b>el verbo como imagen</b></p>

<p>
&#8220;Aunque algunos piensen lo contrario, mis v&#237;deos tambi&#233;n contienen im&#225;genes&#8221;: FRI se ha referido as&#237; a una relativa parquedad de im&#225;genes en la mayor&#237;a de sus v&#237;deos, y supongo que tambi&#233;n al peso y la gravedad de lo literario que algunos perciben efectivamente como una sobrecarga o lastre; quiz&#225; tambi&#233;n por una idea recibida, y realmente muy implantada a&#250;n, seg&#250;n la cual el v&#237;deo (el videoarte) parece que deber&#237;a primar el potencial supuestamente maniatado de lo puramente visual. Lo primero puede decirse que es cierto a poco que uno anote las im&#225;genes e iconos que distingue precisamente en sus v&#237;deos, aunque por las mezclas, encadenados y otros efectos que se suceden continua y fluidamente, dir&#237;a que aquella posible parquedad
(vinculada tambi&#233;n a los ritmos pausados de la visi&#243;n lenta) se torna en otro tipo de exuberancia: la de las im&#225;genes indistinguibles, las metamorfosis detalladas y la hipnosis de los m&#225;s leves movimientos intermedios.</p>

<p> Con respecto al texto, en cambio, &#233;ste a menudo se resiste a acompa&#241;ar d&#243;cilmente a las im&#225;genes e incluso toma el cuerpo propio y literal del texto escrito: texto que se desliza por debajo de, o intruso entre, las im&#225;genes; textos a veces m&#250;ltiples o en diversas lenguas, desliz&#225;ndose entonces en l&#237;neas paralelas que dificultan a conciencia su seguimiento y lectura; el texto manuscrito como pura imagen (caligraf&#237;a de los rasgu&#241;os efectuados con los dedos), etc.
Al respecto, dice FRI: &#8220;siempre he pensado que nuestra percepci&#243;n de la realidad a veces se reduce a las palabras&#8221;. En este sentido, dir&#237;a que sus cintas m&#225;s &#8220;cortas de im&#225;genes&#8221; son <i>Golden Cities</i>
(1990) y <i>Yo soy de la Gran Europa</i>
(1992); en ambos casos con un prop&#243;sito por supuesto que deliberado, si bien el resultado se me antoja igualmente fallido por diversos motivos. En el primero de dichos t&#237;tulos, introduciendo la tem&#225;tica de los viajes imaginarios luego desarrollada m&#225;s ambiciosamente en
<i>El primer viaje (cuatro d&#237;as)</i>
(1992), aunque, a mi modo de ver, este es un proyecto tem&#225;tico de indudable sagacidad en sus premisas, pero que el artista a&#250;n no ha resuelto de manera convincente (salvo que la traves&#237;a deslumbrante de <i>Los lobos</i> fuera considerada como parte del mismo).</p>

<p> En cuanto a <i>Yo soy&#8230;</i>, aqu&#237; se produce una clara y progresiva decantaci&#243;n desde una efectiva parquedad de im&#225;genes hacia la rotundidad del texto-imagen
(el texto escrito, siendo por lo dem&#225;s una cinta &#8220;muda&#8221;, donde el habla s&#243;lo se insin&#250;a sonoramente mediante jadeos y gru&#241;idos); pero, aunque dicha decantaci&#243;n se corresponda perfectamente con las intenciones expuestas por el autor &#8212;una primera secci&#243;n en la que se prueba a &#8220;decir algo, tomar aliento&#8221;, otra segunda en la que se logra &#8220;hablar al fin&#8221;&#8212;, en este caso son los textos mismos los que ganan la partida al texto audiovisual como totalidad mayor.
Los que adquieren el mayor peso, los que toman sin rubor la expresi&#243;n arrogante, la connotaci&#243;n <i>culpable</i> de una identidad social que se quisiera llena de grandeza, civilidad, democracia y otras palabras mayores. Palabras que resuenan como un eco, aunque por negaci&#243;n, en una finalmente acomplejada letan&#237;a:
&#8220;Yo no soy jud&#237;o. Yo no soy liban&#233;s. No soy estalinista. No soy chino. No soy americano, no soy kurdo, no soy marroqu&#237;, no soy negro. No soy alban&#233;s, no soy polaco, no soy armenio, no soy palestino, no soy portugu&#233;s. Yo no soy homosexual, no soy gitano, no soy sudafricano, no soy iraqu&#237;, no soy &#225;rabe, no soy turco. Yo no estoy circuncidado; no hay ning&#250;n n&#250;mero marcado en mi cuerpo&#8221;.</p>

<p> En sus dos realizaciones inmediatamente anteriores, <i>Lugar com&#250;n</i> y <i>El juicio</i>
(ambas de 1991), FRI hab&#237;a logrado en cambio un raro equilibrio entre los diversos elementos y recursos manejados, y en relaci&#243;n a unos temas o motivos siempre turbadores: la muerte, el sentimiento de culpabilidad nuevamente (<i>El juicio</i> siendo parte de la trilog&#237;a <i>Las armas y los cuidados</i>, junto con <i>Yo soy de la Gran Europa</i> y <i>Les promenades nocturnes</i>).
Con sus im&#225;genes poderosas o enigm&#225;ticas, simb&#243;licas o huidizas, entrecruzadas por textos m&#250;ltiples (orales y escritos) y climatizadas por la m&#250;sica, los ruidos y el grano de la voz, ambas cintas afianzaron los rasgos personal&#237;simos de la escritura audiovisual de FRI m&#225;s all&#225; de unas cualidades de habilidad y estilo. La ambig&#252;edad, por ejemplo, por la que el t&#237;tulo <i>Lugar com&#250;n</i> nos conduce hacia la expresi&#243;n <i>fosa com&#250;n</i>; por la que el tema de la muerte se desliza en el de la memoria y la aprehensi&#243;n de la realidad; por la que unas l&#237;neas de texto vienen a ocultar los rasgos de unos rostros an&#243;nimos en desfile horizontal simult&#225;neo, para descubrirlos seguidamente en un carrusel de deformidades. La distancia, la extra&#241;eza buscadas en <i>El juicio</i>, al hacer que sea una voz femenina y con acento extranjero quien pronuncie las dolientes letan&#237;as escritas en primera persona. Las contradicciones que se suceden en los textos y los choques entre las palabras y las im&#225;genes, el intercambio de densidades y transparencias, el tr&#225;nsito reversible de las im&#225;genes contenidas en el texto a las palabras que se inmiscuyen entre las &#8220;verdaderas&#8221;
im&#225;genes, como si &#233;stas careciesen de la suficiente soltura y viceversa.</p>


<p> <b>en clave</b></p>

<p> El viaje de <i>Los lobos</i> nos lleva a atravesar sucesivas <i>puertas</i> y <i>t&#250;neles</i>, seg&#250;n la terminolog&#237;a que nos descubre el autor en sus comentarios, aunque tambi&#233;n, si recapacitamos sobre ello, seg&#250;n esa peculiar literalidad visual comentada anteriormente. Tras la primera puerta
(&#8220;Esta casa es mi casa. Cruza la puerta. Esta casa est&#225;
caliente&#8230;&#8221;), hallamos la hospitalidad de un vaso de agua sobre una mesa, sobre el que la c&#225;mara emprende s&#250;bitamente un giro
(fuera de la ley) para hallarnos a continuaci&#243;n inmersos en una tempestad; en una corriente de im&#225;genes que se solapan con la turbulenta belleza de un paisaje inquietante. Conociendo el cariz que FRI concede a ciertas representaciones paisaj&#237;sticas que se hallan en sus dem&#225;s obras, esta visi&#243;n de la naturaleza desatada y pr&#243;xima a la cat&#225;strofe &#8212;el autor se refiere a dicha secuencia como un
&#8220;diluvio&#8221; y un &#8220;presagio de la plaga&#8221;&#8212; bien pudiera constituir una alusi&#243;n a una tradici&#243;n rom&#225;ntica y expresionista donde el paisaje quiere erigirse en reflejo o evocaci&#243;n de determinados estados de &#225;nimo (recu&#233;rdese el Sturm und Drang y los v&#237;deos de Doug Hall referidos al ideario de dicho movimiento y de otras manifestaciones culturales coet&#225;neas: <i>Prelude to the Tempest</i>, 1985, y <i>Storm and Stress</i>, 1986). Por otra parte, la secuencia se cierra con un plano sim&#233;tricamente inverso al que la abri&#243;: el vaso vuelve a hallar una base s&#243;lida cuando la c&#225;mara regresa a su eje vertical normal, y se me ocurre que la entera secuencia podr&#237;a ser descrita a fin de cuentas como &#8220;una tempestad en un vaso de agua&#8221;; un dicho que puede avecinarse a la percepci&#243;n intranquila que el autor nos sugiere al hacer referencia a los &#8220;miedos infantiles&#8221; como uno de los motivos tem&#225;ticos aludidos en <i>Los lobos</i>.</p>

<p> El agua y el vaso de agua constituyen algunos de los motivos m&#225;s constantes de entre el repertorio ic&#243;nico y simb&#243;lico recurrente en la obra de FRI.
Antes de <i>Hacia el agua</i>, su presencia se intuye ya en algunos t&#237;tulos primerizos: <i>Lluvia y Barro</i>
(1984), <i>El mar petrificado</i>
(1987). El agua es lo que permanece y lo que se escurre continuamente. El agua es la transparencia y el filtro interpuesto del hielo, del vaso, del vidrio. El agua es el origen y la tentaci&#243;n del regreso (muerte y disoluci&#243;n). El agua es el hogar del saber insondable, y las nubes el h&#250;medo refugio celeste de la imaginaci&#243;n.
El agua es pluralidad at&#243;mica y regeneraci&#243;n. &#8220;Sus mil significados no son f&#225;ciles de organizar&#8221;, ha escrito FRI (aunque los tratados o diccionarios de s&#237;mbolos nos los descubren); &#8220;el agua esconde la esencia de lo ef&#237;mero: el agua es un estado&#8221;. Un estado de lo transitorio.</p>

<p> Junto a la transitoriedad del agua, la volatilidad del fuego y el s&#243;lido anclaje a la tierra &#8212;el suelo, los pies en el suelo (&#8230;pero la cabeza en las nubes)&#8212; aparecen tambi&#233;n entre aquel repertorio ic&#243;nico, simb&#243;lico, mnem&#243;nico que puede extraerse de las sucesivas realizaciones de FRI, junto a, entre otras cosas, los ni&#241;os como principales habitantes del universo de las im&#225;genes (las voces adultas cobrando entonces un papel intruso, entre la falsa pedagog&#237;a, el autoritarismo y la compunci&#243;n); las manos y los gestos con las manos, representado la endeblez de <i>los huesos blandos</i>, las heridas o mutilaciones, la interacci&#243;n con la naturaleza y la tecnolog&#237;a, el acto de la escritura, los signos convencionales, el aprendizaje; los muebles y decorados blancos; los indicadores del tiempo (relojes, calendarios); las frutas (manzanas, ciruelas); los canes (quiz&#225; encarnando esa &#8220;sociedad canina&#8221; nuestra, a la que FRI se ha referido a prop&#243;sito de <i>Los lobos</i>)&#8230;</p>

<p> Muchas veces, se hace dif&#237;cil de adjudicar un sentido determinado a tal o cual elemento, imagen, sonido o frase. (Trat&#225;ndose de frases o palabras, sin embargo, uno se encuentra inmediatamente atrapado en el zarzal de las contradicciones, las transposiciones, las sinrazones, las frases hechas, las repeticiones que conforman la particular seducci&#243;n po&#233;tica de los textos de FRI). Como el propio artista advierte,
&#8220;&#8230;puedo darme cuenta de que tanto en los encuadres como en la selecci&#243;n o construcci&#243;n de objetos, tengo una tendencia a aislar pedazos de la realidad: una silla, una manzana, una frase. Tal vez de ah&#237; nazca mi tendencia a la indefinici&#243;n. Nada es m&#225;s indefinido que una carencia de contexto preciso. Los contextos de mis obras son difusos. La clave se esconde en otras obras. La clave de un objeto es una frase. La clave de una imagen es tal vez otra alejada de ella; con otro sonido, otra m&#250;sica&#8221;.</p>

<p> Estas claves (muchas de ellas, al menos) pueden permanecer empero sin resolver, sin descifrar &#8212;m&#225;s a&#250;n si no se tiene la ocasi&#243;n de frecuentar cada obra y la totalidad y continuum de las mismas&#8212;, sin que de ello se resienta el disfrute de la sensual elaboraci&#243;n que el artista logra en sus mejores piezas, mediante un completo dominio de sus ingredientes visuales, sonoros, musicales y literarios. (Al respecto, FRI ha dicho: &#8220;No soy escritor, no soy m&#250;sico, no soy realizador de bellas im&#225;genes. La palabra virtuosismo no tiene sentido para m&#237;&#8221;.
Con todo, pienso que un cierto manierismo, un cierto &#233;nfasis de estilo, s&#237; pueden ser responsables de algunas acogidas m&#225;s reticentes ante lo que otros han efectivamente interpretado como
&#233;xtasis de bellas im&#225;genes y, m&#225;s injustamente, como trabalenguas de inveros&#237;mil pedanter&#237;a).</p>

<p> Hay, por otro lado, un evidente prop&#243;sito de complejidad, una oscuridad casi cong&#233;nita al h&#225;lito po&#233;tico que desprenden sus obras, un espesor en la manera de abordar <i>las cosas simples</i>.
&#8220;Mis obras no son transparentes. Yo me encargo de superponer velos transl&#250;cidos a la naturaleza f&#237;sica de mis obras (tambi&#233;n a su naturaleza conceptual&#8221;. En efecto, las im&#225;genes, las ideas, los textos se superponen, confunden y contrar&#237;an; las im&#225;genes se suceden, encadenan y espesan en diversos &#243;rdenes (vertical y horizontalmente; en profundidad o por contig&#252;idad de dos o m&#225;s im&#225;genes) &#8212;de ah&#237;, tambi&#233;n, que resulten un tanto dif&#237;ciles de retener a veces&#8212;; los textos se deslizan a menudo en la doble banda de lo sonoro y lo visual &#8212;como voces y texto escrito&#8212;, o bien se distribuyen en un di&#225;logo (falso) a dos o m&#225;s voces. En el plano de lo visual, el uso de franjas, cortinas, ventanas es un recurso bien caracter&#237;stico, as&#237; como lo son, en el plano sonoro, las mezclas de voces, susurros, efectos, ruidos y m&#250;sica en una organizaci&#243;n armoniosa. (Aqu&#237; se palpa la formaci&#243;n musical del autor). Todo tiende a la fragmentaci&#243;n y, como dice el propio FRI, la
<i>indefinici&#243;n</i>, pero sin evasivas respecto a los temas, los grandes temas, las severas cuestiones que su obra se propone abordar.</p>


<p> <b>en prosa</b></p>

<p> El propio FRI ha detallado algunas fases de la evoluci&#243;n de su trabajo partiendo del concepto de mon&#243;logo interior &#8212;&#8221;muy interior: herm&#233;tico&#8221;&#8212;, despu&#233;s &#8220;expl&#237;cito, imp&#250;dico, adolescente&#8221;, y que paulatinamente fue abri&#233;ndose al exterior y a la conversaci&#243;n simulada del &#8220;falso di&#225;logo&#8221;; del mon&#243;logo ante el espejo, la
&#8220;conversaci&#243;n solitaria&#8221; y los &#8220;ejercicios de esquizofrenia&#8221;.
(&#8220;El mecanismo de los espejos da un buen juego si se eligen m&#225;s de dos y si estos espejos son deformantes&#8221;). Aunque siempre aferrado a una po&#233;tica de lo equivocado, lo falseado, lo hesitante (los <i>errores visibles</i>, los <i>errores de memoria</i>, los <i>viajes imaginarios</i>, las <i>falsas simetr&#237;as</i>, los <i>equilibrios inestables</i>&#8230;), lo cierto es que su obra ha ido apart&#225;ndose crecientemente del territorio m&#225;s privado y herm&#233;tico de sus inicios (v&#233;ase por ejemplo <i>Los encargos del carrusel</i>, de 1990; en mi opini&#243;n, su cinta m&#225;s abstrusa), para contagiarse de la prosa del mundo, de su actualidad m&#225;s pat&#233;tica, de las cr&#243;nicas del desasosiego inscritas en la memoria colectiva.</p>

<p> Estas embestidas de realidad que contiene el trabajo de FRI se mantienen, ciertamente, en un estado de indefinici&#243;n y siempre revestido de met&#225;foras, claves y s&#237;mbolos; de sensaciones y climas inquietantes; de frases alternativamente hondas y huecas; de paisajes y cosas contempladas de cerca y lentamente&#8230; Sin embargo, es evidente que no pertenecen a un limbo de inocentes almas infantiles, o a esos <i>ambientes de incubadora</i> a los que el artista se refiere a prop&#243;sito de algunas de sus instalaciones. El mundo de la infancia y la adolescencia, los paisajes serenos, las transparencias aparentes, la asepsia del blanco, <i>las cosas simples</i> permanecen entonces como un contrapunto que aumenta la inquietud inherente a los graves temas de la muerte, la enfermedad, la culpabilidad, el sentimiento de extranjer&#237;a, el miedo, la violencia&#8230;</p>

<p> Es como si las im&#225;genes dijeran las cosas a medias y en desorden, tal como sucede igualmente con los textos. Dice FRI al respecto: &#8220;Los Or&#225;culos hablan con palabras sencillas. Con frases cortas. Hace a&#241;os que yo copio su estilo, porque algunas referencias literarias me han ense&#241;ado c&#243;mo es.
Tambi&#233;n los subt&#237;tulos de las pel&#237;culas hablan con este mismo lenguaje incompleto pero perfecto; cargado de frases no dichas&#8221;. Y lo entredicho se produce indistintamente por medio de unos registros coloquiales, como de di&#225;logo o di&#225;logo consigo mismo, y de otros pr&#243;ximos del aforismo, del pensamiento profundo con significantes livianos o, por el contrario, de las frases demasiado usadas (sudadas incluso) y vaciadas de sentido.</p>

<p> En este &#250;ltimo aspecto, algunas partes en los textos de FRI pueden recordar indistintamente los <i>juegos de lenguaje</i> de Wittgenstein (o los de Gary Hill en el campo mismo del v&#237;deo y la instalaci&#243;n multimedia) y los <i>truisms</i>
(perogrulladas) de Jenny Holzer. Son como el producto de un cortar-y-pegar de cosas dichas y escuchadas un sinf&#237;n de veces, aprendidas y des-aprendidas desde la ni&#241;ez y que siguen acosando al individuo adulto. El proceso de textos resultante cobra entonces ciertos giros inopinados, absurdos y hasta c&#243;micos. As&#237;, en <i>El juicio</i>, algunos de los motivos de contrici&#243;n son el &#8220;escribir sobre papel blanco sin merecerlo&#8221;, el &#8220;subir las escaleras demasiado deprisa y haciendo demasiado ruido&#8221; y el &#8220;fumar demasiado&#8221;. En <i>Les promenades nocturnes</i>, primer acto, el an&#243;nimo protagonista se siente amputado, angustiado, aturdido, perdido, abandonado,&#8230; pero demasiado vulgar como para dejar de fumar (!). Y, en <i>El Reformatorio</i>, asistimos a aleccionamientos del siguiente tipo: &#8220;El ojo es un objeto extra&#241;o. Es blando. El ojo se sit&#250;a en la cara. Todos los seres vivos tienen dos ojos. La simetr&#237;a no existe&#8221;; &#8220;Los mapas son objetos muy extra&#241;os que permiten comprender c&#243;mo es el Mundo.
Sin embargo, nada es perfecto. En el curso de la historia ha habido muchos cambios en los mapas y muy pocos en el mundo. La simetr&#237;a no existe&#8221;.</p>


<p> <b>la realidad esquiva</b></p>

<p> A prop&#243;sito de <i>Los lobos</i>, FRI se refiere a la percepci&#243;n de alguien que entendi&#243; la cinta como una &#8220;cr&#243;nica de actualidad&#8221;; algo que, a mi modo de ver, podr&#237;a hacerse de alg&#250;n modo extensivo a otras obras tales como
<i>Lugar com&#250;n</i>, <i>Yo soy de la Gran Europa</i> o <i>Les choses simples</i>, por cuantas referencias acuden a la mente en relaci&#243;n a diversos temas y hechos &#225;lgidos o sempiternamente transcendentes y controvertidos: la pena de muerte, los abusos legales y racionalizados cient&#237;ficamente, la arrogancia del etnocentrismo, la incomodidad de la &#233;tica, la inmigraci&#243;n como delito, la violencia como higiene o terap&#233;utica&#8230; En cualquier caso, si tales cuestiones no son expuestas tan abierta y directamente como uno quisiera para calmar su privada congoja &#8212;como al hojear el diario durante el desayuno o al contemplar el telediario en la sobremesa&#8212;, debo decir que simpatizo bastante con la r&#233;plica anticipada del propio FRI: &#8220;La pregunta del <i>&#191;de qu&#233; est&#225;s hablando?</i> no debiera tener sentido ni en el confesionario, ni en el arte&#8221;.</p>

<p> <i>Los lobos</i> discurre como un viaje alucinante por los territorios del subconsciente, antes que por los de la actualidad geopol&#237;tica. El autor ha pretendido reflejar la violencia, la crueldad, el terror; en definitiva, las partes m&#225;s oscuras de nuestra sociedad lobuna, como si fueran encarnadas en las pantallas de un juego inform&#225;tico, en la ansiedad indolente del <i>zapping</i>, en las f&#225;bulas aterradoras de los cuentos infantiles y en el sue&#241;o de la raz&#243;n de las pesadillas nocturnas y diurnas. Y hay una continua remisi&#243;n a las <i>m&#225;quinas de visi&#243;n</i>, a los armamentos no convencionales glosados por Paul Virilio; por ejemplo en las miras que recuadran y dividen la imagen en zonas, como desde el visor de un arma que busca su diana; en im&#225;genes de pobre definici&#243;n como tomadas por c&#225;maras de vigilancia; en las exploraciones obsesivas de detalles secuenciales llevados adelante y atr&#225;s, retenidos en un bucle a la b&#250;squeda de la prueba condenatoria; o aun en los ruidos de v&#237;deo que irrumpen de vez en cuando. Es como si las tinieblas y el miedo s&#243;lo pudieran reflejarse p&#225;lidamente en la violencia caricaturesca de un v&#237;deo-juego, y en los trucos digitales y de edici&#243;n a disposici&#243;n del v&#237;deo-artista.
Pero que sea el propio autor quien se explaye sobre su torpeza confesa: &#8220;tal vez ha sido el intentar hacer un retrato de algunas violencias gratuitas de las cuales somos conscientes en la realidad de esta comunidad nuestra, lo que me ha hecho sentir mi impotencia; el car&#225;cter irremediablemente naif de mi cr&#243;nica. No he sido capaz de acercarme a esa extrema crueldad que las realidades nos ofrecen&#8221;.</p>

<p> La torpeza para expresarse &#8212;en una lengua ajena concretamente&#8212; constituye uno de los puntos de partida de <i>Les choses simples</i>
(1993), un regreso al mon&#243;logo que se intercala en el ciclo &#250;ltimo de los falsos di&#225;logos. Esta fue la primera cinta de FRI concebida para &#8212;no <i>en</i>&#8212;
una lengua distinta que la suya materna: aunque el texto fue escrito originalmente en castellano, su pleno sentido lo cobra al haber sido vertido al franc&#233;s, pensando en la dificultad o la impericia del inmigrado que trata de construir frases en una lengua que no siente como suya. As&#237;, esa voz se dice y se repite que s&#243;lo puede construir frases simples, que s&#243;lo debe decir cosas simples. La menor de las paradojas es que, a pesar de tal prop&#243;sito y de las frases efectivamente cortas &#8212;como evocando los cursos de idiomas de los que Ionesco extrajo el absurdo y los falsos di&#225;logos de <i>La cantatrice chauve</i>&#8212;, se desprendan ideas progresivamente complejas, sombr&#237;as y desazonantes, hasta llegar a la repetitiva sentencia final:
&#8220;[Maintenant, je sais] que la douleur est un sentiment compliqu&#233;
et que la solitude existe&#8221;. Pero otro aspecto a&#250;n m&#225;s desconcertante del mon&#243;logo estriba en la locuci&#243;n del texto por una voz infantil, mientras que su contenido discurre entre aquellas frases que podr&#237;an perfectamente ponerse en boca de un ni&#241;o o un adolescente, y aquello que el autor ha descrito como &#8220;la memoria de un hombre que ha ido poco a poco perdiendo las ra&#237;ces&#8221;; un dualismo que se redobla en &#8220;la progresiva transformaci&#243;n de la imagen entre lo s&#243;lido y lo l&#237;quido (lo vivo y lo seco, lo blanco y lo negro)&#8221;. En este sentido, tambi&#233;n en <i>Les choses simples</i> puede intuirse un personaje m&#250;ltiple, aunque ahora encarnando las diversas edades del an&#243;nimo y &#250;nico.</p>


<p> <b>visi&#243;n interior: moscas volantes</b></p>

<p> Ver doble para captar los dobles sentidos y exponer las dudas, las contradicciones, los errores invisibles. Ver desde el interior para tratar de protegerse de los desgarros de la realidad sin tener que desviar la mirada. Ver de cerca, ver lentamente, ver imprecisamente, incluso llegar a ver mismamente, son las funciones y anomal&#237;as que FRI atribuye a su manera de hacer v&#237;deo e instalaciones audiovisuales. Y ver, por supuesto, implica percibir e interpelarse mediante otros &#243;rganos, instrumentos y procedimientos adem&#225;s de la vista y las tecnolog&#237;as de la imagen: construyendo frases, creando y mezclando sonidos, ordenando y desordenando ideas, colocando y descolocando objetos o cosas&#8230;</p>

<p> Su obra permanece fiel a un orden po&#233;tico, subjetivo e introspectivo con un amplio despliegue en el arte del v&#237;deo (y, desde mucho antes, entre los cultivos del cine independiente y anormativo). En este sentido, <i>Los lobos</i> constituir&#237;a algo as&#237; como un poema &#233;pico. Sin embargo, la virulenta intrusi&#243;n de la realidad impide el adormecimiento en una c&#225;mara efectivamente estanca, en la protectora asepsia de una incubadora, o en el cuarto de los juegos y ensue&#241;os pueriles; por otro lado, los ambientes repetidamente recreados por FRI en tantas de sus instalaciones, o como figurado centro de operaciones de un imposible viaje inm&#243;vil (v&#233;ase <i>El primer viaje</i>).
Y, en definitiva, toda la carga po&#233;tica, el cuidado formal y la belleza que impregnan su obra, juegan al contrasentido respecto a los graves temas que interiorizan, formalizan y expresan (permitiendo por ello mismo, bien es cierto, apreciaciones enfrentadas o discrepantes).</p>

<p> La escritura en primera persona o disfrazada de falso di&#225;logo, los rasgos de la visi&#243;n interior, la recurrencia constante de ciertas tem&#225;ticas o motivos, suscitan interrogantes sobre la motivaci&#243;n autobiogr&#225;fica soterrada que puedan tener esas im&#225;genes y frases entretejidas en una o m&#225;s pantallas, y sobre la veracidad o sinceridad de los compungidos sentimientos, las zozobrantes reminiscencias, las solitarias conversaciones que a su trav&#233;s se entablan. (Una sospecha que probablemente no se producir&#237;a si todo eso saliera por ejemplo de la pluma de un fil&#243;sofo, y que en cambio se agudiza en un medio antes considerado de entretenimiento, que no de producci&#243;n art&#237;stica y de pensamiento). En cualquier caso, FRI nos introduce en los arcanos y equ&#237;vocos de los espejos (los deformantes, los enfrentados, los que devienen transparentes seg&#250;n la acci&#243;n de la luz, los m&#225;s vulgares incluso), y opera con la hip&#243;tesis que el agua nos devuelva otra imagen que la esperada, y ajena al ensimismamiento. &#161;La simetr&#237;a no existe!</p>


<p> Barcelona, septiembre-noviembre 1996</p> <div title="footer">
	<p>
	</p>
<p>MOSCAS
	VOLANTES		&#8226;
	<sdfield type=PAGE subtype=RANDOM format=PAGE>13</sdfield></p>  