  <p> <b>UNA CRONOTOPOLOGIA DE L'ART VIDEO A BARCELONA</b></p>

<p>
(x) Eugeni Bonet</p>


<p> Hi ha una llegenda que diu &#8212;i no dic pas que no sigui cert&#8212; que a Barcelona hi ha hagut, i hi ha, una activitat for&#231;a constant en aquesta parcel.la de la producci&#243; art&#237;stica i cultural que representa la creaci&#243; i experimentaci&#243; videogr&#224;fica; un art relativament jove i impopular, un improbable ofici. Per a descriure el passat i el present de l'activitat videogr&#224;fica a la nostra ciutat &#8212;sempre en el seu vessant art&#237;stic, experimental, alternatiu (o, si es vol, marginal)&#8212;, les l&#237;nies que segueixen proven de fer un recorregut en el temps i sobre el mapa, sobre el pl&#224;nol de la ciutat, a trav&#233;s dels <i>llocs</i> del v&#237;deo, tot esgranant a la vegada uns quants noms, t&#237;tols, fets, grans i petites fites,... i tamb&#233; les mancances que hi noto.</p>

<p> En posar el dit sobre el pl&#224;nol (i en ordre la mem&#242;ria i les dades), apuntar&#233; en primer lloc a la Rambla de Catalunya, per sota de la Gran Via, on hi havia la botiga Aixel&#224;; en el seu temps, no nom&#233;s un dels m&#233;s importants comer&#231;os de la ciutat en el ram de la imatge i el so, sin&#243; que va acollir endem&#233;s una escola cinematogr&#224;fica, aix&#237; com exposicions, projeccions, etc.
All&#237; es va produir aparentment el que hom pot considerar com el primer &#250;s, entre nosaltres, d'un equip de v&#237;deo amb un prop&#242;sit art&#237;stic (o, si m&#233;s no, experimental): <i>Daedalus Video</i> (1969), del pintor Joan Duran Benet i el seu germ&#224; Oriol, que acompany&#224; la projecci&#243; dels seus films experimentals, idiosincr&#224;ticament psicod&#232;lics i casolans.</p>

<p> Tot seguit apuntar&#233; cap a la Catedral, per a deturar-me en la cantonada que ocupa l'edifici del Col.legi d'Arquitectes de Catalunya. Entre les m&#250;ltiples activitats art&#237;stiques i culturals que hi tingueren lloc durant els darrers anys de la dictadura, no hi faltarien tampoc altres aproximacions al v&#237;deo per part d'altres dels artistes m&#233;s inquiets d'aquell temps: <i>Primera Muerte</i>
(1970), d'&#192;ngel Jov&#233;, S&#237;lvia Gubern, Antoni Llena, Jordi Gal&#237; i Zush; <i>Experiencia n&#250;m. 3</i>
(1971), d'Antoni Muntadas (que finalment, per&#242;, no va poder exhibir-se); <i>V&#237;deo-Acci&#243;n</i>
(1973), de Carles Pazos.</p>

<p> Al Col.legi d'Arquitectes caldr&#224; tornar-hi, per&#242;
per tal de preservar la cronologia i remarcar un nom entre els fins ara esmentats, enfilo suara el Passeig de Gr&#224;cia i m'arribo a La Sala Vin&#231;on, que era llavors un dels bastions de l'art conceptual, alternatiu, experimental. Doncs b&#233;, aqu&#237; Muntadas hi munt&#224; durant uns dies un <i>Taller de treball amb videotape en grups</i>; &#233;s a dir, &#231;o que en angl&#232;s hom anomenaria un <i>workshop</i>, de manera que va ser una de les primeres oportunitats que tinguerem d'apropar-nos a aquest mitj&#224;, tan nou i tan rarament accessible en aquell temps.</p>

<p> Despr&#233;s, uns quants ens apropariem a l'Institut del Teatre, a l'antiga seu del carrer Elisabets, ja fos a trav&#233;s del CIPLA (Curs d'Iniciaci&#243; a la Pr&#224;ctica i el Llenguatge &#192;udio-visual) o de puntuals aventures i desventures en el plat&#243;, dotat amb equips d'una polzada, blanc i negre, que, recent adquirits, ja estaven condemnats a una obsolesc&#232;ncia a molt curt termini. Si assenyalo el lloc de l'Institut del Teatre en el pl&#224;nol &#233;s m&#233;s que res perque per all&#237;
hi passaren Carles Pujol, Carles Comas, Juli&#225;n Alvarez, Lala Gom&#224;, Carles Pastor, entre altres. L'Antoni Mercader prov&#224; d'establir-hi un &quot;Departament V&#237;deo-Comunicaci&#243;&quot; que gaireb&#233; que nom&#233;s va existir sobre el paper. Tot aix&#242; va servir-nos sobretot de precalentament: encara ens trobariem amb pitjors circumst&#224;ncies.</p>

<p> En un popular bar-quiosc amb terrassa al mig del Pla del Palau, Muntadas va &quot;exposar&quot; el 1976 el seu prototipus per a una possible televisi&#243; comunit&#224;ria, de barri: <i>Barcelona Distrito Uno</i>.
Al carrer Comer&#231;, el seu aixopluc quan s'est&#224; a Barcelona, per&#242;
tamb&#233; el d'amics d'arreu del m&#243;n quan passen per la nostra ciutat, pot dir-se que tamb&#233; es van calentar unes quantes coses. Entre altres, de la m&#224; dels vene&#231;olans Margarita D'Amico i Manuel Manzano en sorgiria el grup V&#237;deo-Nou, que a la vegada culminaria en l'establiment del Servei de V&#237;deo Comunitari, acollit per l'Institut del Teatre en la seva seu del carrer Pere Lastortras (avui Verdaguer i Call&#237;s).</p>

<p> Al carrer Berlin&#232;s hi va haver el primer Metr&#242;nom, el molt particular espai art&#237;stic de Mister Cat, vull dir Rafael Tous i Isabel de Pedro. Per&#242; abans, entre 1977-1979 si fa no fa, va provar d'existir tamb&#233; una cosa que en deiem FVI, per Film V&#237;deo Informaci&#243;. L'Efa-Ve-I erem b&#224;sicament Eug&#232;nia Balcells, Manuel Huerga, Juan Bufill i jo. Vam editar dos n&#250;meros d'una revista (potser ara en diria un fanzine) que es deia <i>Visual</i> i que tractava d'all&#242; que ens interessava a nosaltres i que trobavem for&#231;a desat&#232;s a la nostra ciutat: el cinema experimental, el v&#237;deo-art, els mitjans alternatius.</p>

<p> Molt r&#224;pidament, podria tamb&#233; assenyalar on estaven altres llocs que puntualment o tangencialment van tenir alguna cosa a veure amb el tema que aqu&#237; m'ocupa, com la Galeria G
(que, per exemple, ens va portar a Wolf Vostell, que va fer un v&#237;deo-happening que anunciava ja l'etapa m&#233;s lamentable d'aquest artista alemany massa torrat pel sol de C&#224;ceres), o la Mec-Mec (d'on nom&#233;s recordar&#233; el muntatge que hi va fer Mariscal amb el t&#237;tol de
<i>Gran Hotel</i>, l'any 1977, en el qual s'inclo&#239;a un v&#237;deo tremendament &quot;cutre&quot; per&#242; hilarant).</p>

<p> A Montju&#239;c, assenyalar&#233;, tamb&#233; amb un gest r&#224;pid, la Fundaci&#243; Joan Mir&#243; i, avall de la muntanya, el Palau de Congressos de la Fira. La Fundaci&#243; Mir&#243;, per haver estat escenari d'una estafada &quot;porte&#241;a&quot; que Jorge Glusberg, del CAYC
(Centro de Arte y Comunicaci&#243;n) de Buenos Aires, va exportar internacionalment al llarg dels anys setantes amb el molt aparent nom de <i>International Open Encounter on Video</i>; tamb&#233; per haver encetat, i immediatament truncat, un projecte de departament de v&#237;deo i un principi de videoteca. Pel que fa al Palau de Congressos, fora d'algun acte m&#233;s a&#239;llat, l'assenyalo en record de l'antiga <i>Setmana Internacional de Cinema de Barcelona</i>, que en els seus darrers anys va dedicar una certa atenci&#243; a l'escena videogr&#224;fica local i a les produccions televisives de caire cultural o experimental (aix&#237; vam comen&#231;ar a con&#232;ixer el v&#237;deo/TV de Godard, Bob Wilson, Josep Montes-Baquer, etc.)</p>

<p> Assenyalo novament la pla&#231;a Nova, el Col.legi d'Arquitectes, escenari el 1978 i el 1980 de les <i>S&#232;ries Informatives, 1 (V&#237;deo, entre l'art i la comunicaci&#243;)</i> i <i>2 (V&#237;deo, el temps i l'espai)</i>, primeres mostres de v&#237;deo amb cara i ulls, amb vocaci&#243;
internacional, amb convidats estrangers i amb v&#237;deo-instal.lacions.
Entremig, va haver-hi tamb&#233; unes <i>Jornades de V&#237;deo Comunitari</i>, promogudes pel grup V&#237;deo-Nou, a punt de transformar-se en Servei de V&#237;deo Comunitari. Per cert, em cal tamb&#233; assenyalar l'Institut Alemany, Gran Via tocant al Coliseum, que contribu&#237; decissivament a fer possibles aquestes i altres manifestacions, mostres, seminaris, principalment entre el 1976 i el 1980.</p>

<p> L'Institut d'Estudis Nord-americans desplega un seguit d'activitats al voltant del v&#237;deo del 1981 en&#231;&#224;; tant a trav&#233;s d'algunes mostres i manifestacions concebudes per l'Antoni Mercader, com per la importaci&#243; de mostres itinerants com les del Museu Whitney de Nova York, circulades per l'efica&#231; American Federation of the Arts, o, m&#233;s recentment, el <i>Siggraph Traveling Art Show</i>. Endem&#233;s, l'IEN reb de tant en tant les visites de v&#237;deo-artistes i realitzadors independents nord-americans o establerts als EUA (Peter d'Agostino, Gary Hill, Francesc Torres, etc.)</p>

<p> Per&#242; deixeu-me retornar encara al principi dels vuitantes: l'editorial Gustavo Gili (al carrer Rossell&#243;) publica el nostre llibre <i>En torno al V&#237;deo</i>
(1980) &#8212;dic &quot;nostre&quot;, en referir-me al grupet que llavors formavem en Mercader, en Muntadas, en Joaquim Dols i jo&#8212;; V&#237;deo-Spot, primera gran empresa del sector, produeix <i>Koloroa</i>
(1980), d'El Hortelano, un dibuixant de c&#242;mics amb debilitat per la pintura i el chroma-key &#8212;hom no havia pas vist encara un v&#237;deo fet aqu&#237; amb tanta coloraina i tant efecte, el primer v&#237;deo art&#237;stic de producci&#243; comercial&#8212;; la mateixa empresa inaugura les seves noves instal.lacions (a la pla&#231;a Tetuan), tot presentant una v&#237;deo-escultura, potser seria millor dir-ne un v&#237;deo-monument, realitzada conjuntament per Antoni Miralda i Benet Rossell (<i>S&#250;bete a Col&#243;n</i>, 1982); neixen, creixen i es multipliquen les escoles de v&#237;deo i els llocs on s'ensenya a fer v&#237;deo (generalment en una direcci&#243; t&#232;cnico-professional, per&#242;
propiciant tamb&#233; la creaci&#243; original o que vol ser-ho, o l'experimentaci&#243; en general; caldria aix&#237; esmentar Videografia i l'IDEP, endem&#233;s de l'Escola Massana i la Facultat de Belles Arts).</p>

<p> Ara cal parlar de l'exhibici&#243; i dels festivals o concursos. Un dels primers intents de posar remei al problema de la invisibilitat del v&#237;deo (que trobo encara for&#231;a greu) fou el que comen&#231;&#224; com un invent de Juli&#225;n Alvarez, anomenat <i>Mostra de v&#237;deos realitzats a Barcelona a l'entorn de l'art, la m&#250;sica i la realitat</i>, el qual acabaria per fer-se seu el Departament de Cultura de la Generalitat de Catalunya, reconvertint-se en el que actualment coneixem com la <i>Mostra de V&#237;deo de Creaci&#243; de Catalunya</i>, de la que enguany es presentar&#224; la setena edici&#243;. M&#233;s que localitzar-la en un punt del pl&#224;nol, tindria que moure el dit per diversos indrets, doncs es tracta d'una mostra itinerant i, en el passat, per excel.l&#232;ncia ambulant: va comen&#231;ar al Palau de Congressos i ha acabat per establir-se al Centre d'Art de Santa M&#242;nica, al capdavall de la Rambla; fins i tot, un any hi va haver un servei de &quot;v&#237;deo-b&#250;s&quot; que recorria la ciutat amb els programes seleccionats en la corresponent edici&#243;.</p>

<p> A la Rambla hi tenim tamb&#233; el Palau de la Virreina, espai municipal d'exposicions. All&#237; s'hi ha organitzat en quatre ocasions la mostra <i>Virreina, els Dilluns V&#237;deo</i> (del 1984 al 1986, i la darrera el 1988), que ide&#224; l'Antoni Mercader i programava el que aix&#242; escriu. Es tractava en aquest cas d'una mostra que emplenava una temporada anyal, cada cop amb 10 programes en 10 dilluns successius, com a prototipus del que hauria de ser una exhibici&#243;
normalitzada (i amb aix&#242; vull dir sobretot regular) de la producci&#243;
videogr&#224;fica art&#237;stica i independent, tant la de fora com la m&#233;s propera a nosaltres, amb un criteri selectiu d'una certa exig&#232;ncia.
A la segona i la tercera edici&#243; van haver-hi endem&#233;s instal.lacions
(de Carles Pujol, Llu&#237;s Nicolau, Josep Poch, Remo Balcells, Alfonso Flaquer i el gallec Xavier Villaverde). Les tres primeres edicions van tenir for&#231;a &#232;xit, la darrera va ser en canvi un petit (o un gran) desastre; de manera que dubto que hi hagi una cinquena edici&#243;, tot i que el Palau de la Virreina ha de figurar tamb&#233; en el pl&#224;nol per altres motius, altres mostres i manifestacions que hi han tingut i hi tenen lloc.</p>

<p> Tot i que els festivals i concursos de v&#237;deo (de les m&#233;s diverses envergadures) han abundat arreu de l'estat espanyol i, a manca d'altres canals, han conformat la principal plataforma d'exhibici&#243;, i eventual recompensa, de la producci&#243; local, Barcelona (i, per descomptat, Catalunya globalment) no ha estat de sort en aquest aspecte. A l'<i>uptown</i> de Barcelona hi ha el selecte club-discoteca Up&amp;Down, que anys enrera va organitzar (tres anys seguits, si mal no recordo) un concurs de v&#237;deo que es va distingir per l'atractiva quantia dels premis, que va anar <i>up</i> fins que tot va anar <i>down</i> i es va quedar en no-res; potser aix&#242; &#233;s representatiu de la pujada i baixada de term&#242;metre que delimita el moment &#224;lgid en que el v&#237;deo es va posar m&#233;s de moda. Hi va haver tamb&#233; un conat, vist i no vist, de <i>Biennal de V&#237;deo de Barcelona</i>, a la seu de la pla&#231;a de Sant Jaume de la Caixa de Barcelona. Aquesta primera (i &#250;nica!)
Biennal de V&#237;deo no s'ha de confondre amb <i>La Biennal de Barcelona</i> (abans <i>Biennal de Produccions Culturals Juvenils de l'Europa Mediterr&#224;nia</i>), que des de fa uns biennis organitza l'Ajuntament de Barcelona, i on el v&#237;deo hi t&#233; el seu lloc dins dels peculiars par&#224;metres d'aquesta manifestaci&#243;.</p>

<p> Els espais i centres amb m&#233;s dedicaci&#243; a l'art contemporani acullen de tant en tant, com &#233;s normal avui en dia, v&#237;deo-instal.lacions o mostres diverses en les que hi &#233;s representat l'art v&#237;deo: la Fundaci&#243; Mir&#243;; l'avui desmantellat Metr&#242;nom (que, en la seva segona etapa, ocupava un bell edifici al carrer Fussina, davant del Born); el ja esmentat Centre d'Art de Santa M&#242;nica; les sales de la Caixa, ara Suipercaixa, al carrer Montcada i al Palau Macaya del Passeig de Sant Joan; tamb&#233; l'espai municipal Transformadors, &quot;aparador de la cultura juvenil&quot; al carrer Ausias March, etc. Com que el v&#237;deo &#233;s talment ubicu, eventualment l'hem trobat tamb&#233; en galeries d'art, en l'imponent recinte del Dip&#242;sit de les Aig&#252;es del carrer Wellington
(v&#237;deo-escultures de Joan Pueyo), o al Mercat de les Flors, a la falda de Montju&#239;c (durant els viatges a la realitat virtual i a les darreres tecnologies &#224;udio-visuals a que ens convida anualment <i>Art Futura</i>), etc.</p>

<p> No em puc oblidar de tornar a esmentar Videografia i l'IDEP, on trobarem respectivament l'Antoni Mercader i en Juli&#225;n Alvarez, dues persones que ja he esmentat per nom&#233;s algunes de les m&#250;ltiples iniciatives i activitats que han desplegat al llarg dels anys per tal d'esvalotar l'escena videogr&#224;fica barcelonina.
Videografia, al carrer Berlin, ha passat per diverses etapes com escola de v&#237;deo i d'inform&#224;tica gr&#224;fica, distribuidora de v&#237;deo independent, oficina d'enginyeria cultural, etc.; per la seva faceta com a distribuidora, molt apagada darrerament, compta amb un important fons d'art v&#237;deo internacional. L'IDEP, a la Diagonal tocant a Rambla de Catalunya, segueix essent fonamentalment una escola, per&#242; hi afegir&#233; ara les activitats de la IDEP V&#237;deo Associaci&#243;, que des de fa dos anys i escaig organitza un <i>Cicle de V&#237;deo d'Autor</i>, amb programes regulars pels que han passat els m&#233;s destacats realitzadors locals.</p>

<p> A la Via Laietana, devora el Palau de la M&#250;sica, hi tenim el CIEJ, Centre d'Iniciatives i d'Experimentaci&#243; per a Joves. La Supercaixa fa possible la creixent oferta de cursets i de serveis, incloent-hi una mediateca, abastant tota la fam&#237;lia de la imatge i el so en les vessants m&#233;s diverses. Els mitjans s&#243;n cada vegada millors, els preus s'han disparat d'acord amb la pol&#237;tica monetarista de la instituci&#243;-mare. Al CIEJ no sols es calenten cadires davant dels m&#250;ltiples aparells, sin&#243; que tamb&#233; s'hi fan exposicions, muntatges, instal.lacions, tot i que l'espai trobo que no acompleix les condicions desitjables, i que les mostres i presentacions de v&#237;deo que fins ara s'han fet no han estat gaire llu&#239;des. Hom hi ha pogut veure tanmateix els primers i prometedors treballs d'alguns joves artistes (com Xavier Rovira i Pedro Ortu&#241;o).</p>

<p> Per la Via Laietana, m'apujo finalment al carrer Diputaci&#243;, on s&#243;n les oficines de Cinema i V&#237;deo del Departament de Cultura de la Generalitat. Aqu&#237; s'emeten convocat&#242;ries de beques o subvencions per al v&#237;deo creatiu, amb dotacions un xic minses, malgrat que els beneficiaris puguin disposar tamb&#233; dels equips i suport t&#232;cnic de la casa. Tamb&#233;, entre altres coses, es donen uns premis, s'organitza i es fa circular la ja referida <i>Mostra de V&#237;deo de Creaci&#243; de Catalunya</i>, i s'apadrinen algunes altres mostres, com el <i>Festival de V&#237;deo dels Paisos Catalans</i>, que t&#233;
lloc anualment a Estavar i Ll&#237;via, i la <i>Mostra de V&#237;deo-Dansa</i>. En canvi, no han tingut continuitat les mostres monogr&#224;fiques que s'havien dedicat fa uns anys al v&#237;deo itali&#224; i brasileny, i ben interessant que hauria estat d'anar resseguint el mapamundi de la producci&#243; videogr&#224;fica.
I, em sembla que puc dir-ho &#8212;com a membre del col.lectiu dels qui remenem el que podem en aquest petit m&#243;n del v&#237;deo&#8212;, en general mai ens ha agradat del tot la pol&#237;tica del Departament de Cultura pel que fa al camp que ens pertoca.</p>

<p> Deixo ara de banda el pl&#224;nol, i em poso a imaginar com podria ser el millor dels futurs possibles de l'art v&#237;deo a la nostra ciutat, per tal de superar mancances, d&#232;ficits o defectes de forma que ara mateix hi noto...</p>

<p> Beques, subvencions i ajuts creixerien i es multiplicarien (en la seva dotaci&#243; i en el seu nombre). Les bases de les convocat&#242;ries serien m&#233;s flexibles, menys dirigistes. El creador independent tindria m&#233;s f&#224;cil acc&#233;s als mitjans. Si m&#233;s no, s'establirien convenis amb entitats i empreses que permetrien per exemple f&#242;rmules <i>stand-by</i>: de treball a deshora, per&#242; a uns preus raonables.</p>

<p> Hi hauria un lloc, i fins i tot m&#233;s d'un, amb una programaci&#243;
regular de v&#237;deo (actual i &quot;cl&#224;ssic&quot;, catal&#224; i espanyol i internacional), i sense ser un forat per als assabentats o els amics i coneguts. La Filmoteca esdevindria potser tamb&#233; Videoteca. O b&#233; (o i tamb&#233;) podria haver-hi una Videoteca de Barcelona, a l'estil de la Vid&#233;otheque de Paris. I, per descomptat, tamb&#233; entre els museus i centres culturals hi haurien videoteques amb cara i ulls.</p>

<p> Hi hauria almenys un encontre anyal, d'abast internacional, en forma de festival (no necess&#224;riament fastu&#243;s, competitiu i esgotador). El Festival de Cinema de Barcelona, en tant que hereu de l'antiga Setmana de Cinema de Barcelona, abastaria novament el v&#237;deo i els programes televisius culturals i experimentals.</p>

<p> Finalment, les televisions (TV3 o, m&#233;s probablement, el Canal 33, aix&#237; com TVE a Catalunya i les televisions locals) dedicarien espais a la creaci&#243; videogr&#224;fica local i internacional.</p>

<p> Ara, prou de somiar truites; ben segur que m'he deixat coses, per&#242;
he esgotat l'espai que m'han donat i haig de plegar el pl&#224;nol...
Escrit al carrer Saragossa, a l'antic Barri del Farr&#243;,...</p>

<p> abril del 1991.</p>
 