  <p> La desaparici&#243; de la hist&#242;ria				  (x) Eugeni Bonet</p>


<p> Tot i que no hi hagut ocasi&#243; de celebrar l&#8217;efem&#232;ride, comen&#231;ar&#233;
assenyalant que el v&#237;deo&#8230; (amb el sufix que preferiu al darrera dels punts suspensius: &#8230;art, creaci&#243;, independent, d&#8217;autor) ja compta a Catalunya amb un historial de 25 anys d&#8217;activitats i pr&#224;ctiques. De primer, certament, for&#231;a discont&#237;nues i ocasionals, per&#242; que, amb el temps, han anat prenent cos, relleu hist&#242;ric i una certa persist&#232;ncia; fins i tot a contrap&#232;l d&#8217;unes circumst&#224;ncies sempre prou adverses.</p>

<p> Malauradament, quan parlo d&#8217;<i>historial</i> no vull dir ben b&#233; ni tradici&#243;, ni hist&#242;ria, ni patrimoni estalvi.
Avui que tant es parla de la necessitat de preservar el patrimoni cultural, justament ens hem de pl&#224;nyer de la des&#237;dia institucional que s&#8217;endevina pel que fa al v&#237;deo &#8212;i m&#8217;ensumo que no &#233;s nom&#233;s el cas del v&#237;deo &#8220;art&#237;stic&#8221;, ans tamb&#233; el d&#8217;altres usos de documentaci&#243; cultural en el seu sentit m&#233;s ample&#8212;, de manera que un cert nombre d&#8217;experi&#232;ncies pioneres s&#243;n comprovadament irrecuperables, o almenys podem posar en dubte si encara en pot quedar algun rastre (magn&#232;tic): el suficient com per estar encara a temps de preservar aquells enregistraments, o les seves restes encara no del tot volatilitzades; almenys els que es consideressin prou significatius per una ra&#243; o altra.</p>

<p> Aix&#237; doncs, els inicis, les que digu&#233;ssim beceroles hist&#242;riques del v&#237;deo entre nosaltres les hem estat i les anem perdent sense que gaireb&#233; cap ens p&#250;blic sembli preocupar-se&#8217;n gaire; a l&#8217;igual que va passar, com &#233;s ben sabut, amb gran part del cinema dels inicis, i de bastant m&#233;s enll&#224; que els seus inicis. Per aix&#242;, m&#233;s que parlar de la hist&#242;ria del v&#237;deo a casa nostra, se m&#8217;ha acudit de cridar l&#8217;atenci&#243; sobre el perill de la desaparici&#243; d&#8217;aquesta suposada hist&#242;ria, que aix&#237; es redueix, com ja he suggerit, a un vague historial, un petit gruix d&#8217;antecedents i dades que voreja la llegenda.</p>

<p> El bo del cas &#233;s que tampoc no es tracta d&#8217;una producci&#243; tan abundant com per a requerir una bona provisi&#243; de
&#8220;fons reservats&#8221;, si ens atenim a una mesura orientativa del volum de la producci&#243; videogr&#224;fica a Catalunya del 1970 al 1985, la qual ens la proporciona una publicaci&#243; de la Generalitat de Catalunya on hi s&#243;n catalogats m&#233;s de 900 productes de molt diversa mena (incloent-hi v&#237;deos institucionals i did&#224;ctics, pornos i alguns subproductes humor&#237;stics), dels quals nom&#233;s un centenar s&#243;n classificats dins la categ&#242;ria del &#8220;v&#237;deo-art&#8221;, tot i que altres t&#237;tols rellevants es troben disgregats en altres apartats gen&#232;rics. (veg. <i>Cat&#224;leg de la producci&#243; videogr&#224;fica a Catalunya 1970-1985</i>, a cura de Carles Ameller, Departament de Cultura de la Generalitat de Catalunya, 1986; col&#183;lecci&#243; Guia cultural de Catalunya, n&#250;m. 4).</p>

<p> La tecnologia v&#237;deo, certament, sempre ha estat handicapada per la imprevisible durabilitat o vig&#232;ncia dels aparells, formats, est&#224;ndards i suports. (Tot i que, ben mirat, segurament ni m&#233;s ni menys que altres tecnologies precedents, contempor&#224;nies i posteriors). A la constant evoluci&#243; tecnol&#242;gica i les estrat&#232;gies de mercat que fan que molts aparells i sistemes sencers quedin arraconats i obsolets en terminis m&#233;s i m&#233;s curts, hi ha que afegir un cert grau de risc i infiabilitat per les caracter&#237;stiques pr&#242;pies de les cintes magn&#232;tiques, especialment quan la informaci&#243; hi &#233;s enregistrada de manera anal&#242;gica.
Llavors, a l&#8217;igual que s&#8217;aconsella en tot &#250;s seri&#243;s de la inform&#224;tica, la precauci&#243; m&#233;s elemental &#233;s la de realitzar una
<i>c&#242;pia de seguretat</i> de temps en temps, actualitzant si cal el format i suport.</p>

<p> A m&#233;s a m&#233;s, per&#242;, una necessitat superior que ha sorgit &#233;s la de <i>restauraci&#243;</i> i <i>remasteritzaci&#243;</i> d&#8217;un nombre d&#8217;obres que, per un motiu o altre, havien quedat fora de circulaci&#243; o &#8220;enllaunades&#8221; en formats extingits, o que &#233;s previsible que ho seran aviat. Aix&#237;, han anat sorgint experts, empreses i departaments d&#8217;entitats art&#237;stico-culturals dedicats a la salvaguarda i regeneraci&#243; d&#8217;obres i documents videogr&#224;fics; tasca per a la qual, cal proveir-se b&#233; tant de les m&#233;s diverses i rudiment&#224;ries antigalles, com de tecnologies punta, ans acompanyades, pel que sembla, de pacients i artesanes metodologies per tal d&#8217;enllustrar les gravacions m&#233;s masegades.</p>

<p> Als Estats Units, David Shulman, un d&#8217;aquests experts en la recuperaci&#243; i restauraci&#243; d&#8217;envellides bobines de mitja polzada, ha salvat un bon nombre de cintes dels temps del <i>v&#237;deo de guerrilla</i> i de les propostes pioneres als canals d&#8217;acc&#233;s p&#250;blic de les televisions per cable.
Organitzacions de distribuci&#243; com Electronic Arts Intermix i Video Data Bank, o museus com el de Long Beach (LBMA) i el MOMA, tamb&#233;
s&#8217;han preocupat molt especialment de la preservaci&#243;, restauraci&#243;
i, en algun cas, &#8220;reflotaci&#243;&#8221; (d&#8217;obres que romanien un tant, o del tot, oblidades) de la producci&#243; videogr&#224;fica independent en general, i de l&#8217;anomenat v&#237;deo-art m&#233;s en particular. Una recent i ambiciosa iniciativa &#233;s la de Bay Area Video Coalition (BAVC), un centre independent creat el 1976 a San Francisco, que actualment promou &#8212;per al mar&#231; de 1996&#8212; una trobada internacional per tal d&#8217;establir la problem&#224;tica, les solucions, les recomanacions i els criteris de preservaci&#243; de la producci&#243; videogr&#224;fica, i d&#8217;aplegar tot seguit les informacions i conclusions que en resultin en una publicaci&#243; de refer&#232;ncia. Pel que fa a Europa, segons les meves informacions, sembla que actualment destaca la labor de MonteVideo, a Amsterdam, que &#233;s tamb&#233; un centre d&#8217;exhibici&#243;, distribuci&#243; i documentaci&#243;.</p>

<p> El 1991, quan elaborava un programa audiovisual sobre les primeres activitats de l&#8217;Antoni Muntadas per a la retrospectiva de l&#8217;art conceptual a Catalunya <i>Idees i actituds</i>, vam provar de &#8220;rescatar&#8221;
algunes de les bobines de mitja polzada que ell t&#233; emmagatzamades al seu estudi de Barcelona i vaig poder comprovar les dificultats que aix&#242; representa. Si la primera ja va ser la de trobar els aparells suposadament adients, altres complicacions subseg&#252;ents ens portaren a ajornar-ho per a un altre moment. Muntadas segueix refiant-se de poder salvar encara algun d&#8217;aquest material, entre el qual s&#8217;inclouen, per exemple, els enregistraments de <i>Cadaqu&#233;s canal local</i> (1974), una llegend&#224;ria experi&#232;ncia predecessora de les televisions locals i de successives experi&#232;ncies de v&#237;deo comunitari. Recentment, Muntadas es va adre&#231;ar al responsable (?) de l&#8217;&#224;rea de cinema i v&#237;deo del Departament de Cultura de la Generalitat, sol&#183;licitant recolzament per a una segona temptativa, per&#242; fins ara nom&#233;s ha rebut evasives.</p>

<p>
(I que el lector entengui com vulgui el que ara afegir&#233;:) En canvi, a Estats Units, on, com &#233;s sabut, s&#243;n bastants m&#233;s milions que en aquesta nostra pobra, bruta, trista, dissortada p&#224;tria, Muntadas ha estat cridat a formar part d&#8217;un dels grups de treball preparatoris del referit simposi de la BAVC.</p>

<p> Un dels aspectes que ha contribu&#239;t a la desaparici&#243; (comprovada o presumible) d&#8217;un nombre d&#8217;experi&#232;ncies i documents dels anys 70,
&#233;s l&#8217;ocasional contacte amb el mitj&#224; que tingueren un nombre d&#8217;artistes i altres individus, esperonats en un moment o altre pels corrents de pensament i de curiositat est&#232;tica d&#8217;aquells temps: anys d&#8217;art immaterial i alternatiu, d&#8217;atracci&#243; pels nous mitjans, de contracultura i contrainformaci&#243; i contrafranquisme, etc. El dif&#237;cil acc&#233;s als equips de v&#237;deo, concretament, condicion&#224; el nombre prou limitat de les experi&#232;ncies de les que tenim not&#237;cia, i els casos encara m&#233;s comptats d&#8217;una m&#237;nima continu&#239;tat en la pr&#224;ctica videogr&#224;fica. D&#8217;altra banda, algunes exploracions pioneres van prendre forma com instal&#183;lacions o altres activitats processuals o ef&#237;meres (de les que, per cert, generalment nom&#233;s n&#8217;ha quedat una m&#237;nima documentaci&#243; o tot just una molt lleugera refer&#232;ncia).</p>

<p> La que durant molts anys es tingu&#233; com a primera experi&#232;ncia v&#237;deo-art&#237;stica coneguda a casa nostra, <i>Primera muerte</i> (1970) &#8212;una improvisaci&#243;
conjunta de S&#237;lvia Gubern, &#192;ngel Jov&#233;, Antoni Llena, Jordi Gal&#237; i Zush&#8212;, que jo s&#224;piga, ja fa anys que esdevingu&#233; invisible; no s&#233;
si irremeiablement. Tamb&#233; l&#8217;&#192;ngels Rib&#233; conserva algunes cintes que va enregistrar en la seva llarga estada americana, per&#242; si en queda m&#233;s que el seu embolcall, aix&#242; &#233;s una inc&#242;gnita. (En exposar-li aquesta infeli&#231; consideraci&#243;, l&#8217;&#192;ngels s&#8217;ho va prendre amb resignaci&#243;).</p>

<p> Altres artistes que han freq&#252;entat m&#233;s el mitj&#224; s&#237; es van ocupar en el seu moment de salvaguardar tots o bona part dels seus primers enregistraments, des dels seus suports originals esdevinguts obsolets a d&#8217;altres que, almenys de moment, encara no ho s&#243;n del tot.
Muntadas fou dels primers a fer-ho, ja el 1974, traspassant alguns
(per&#242; no tots!) dels seus primers enregistraments videogr&#224;fics i f&#237;lmics, al llavors nov&#237;ssim i revolucionari format del videocassette de 3/4&#8221; U-M&#224;tic. Tamb&#233; Francesc Torres conserva gaireb&#233; tota la seva producci&#243; audiovisual. Carles Pujol va estar a temps de salvar de l&#8217;atac dels fongs els seus primers v&#237;deos, enregistrats a l&#8217;Institut del Teatre de Barcelona amb un sistema d&#8217;una polzada que r&#224;pidament esdevingu&#233; obsolet. A m&#233;s, com que alguns v&#237;deos d&#8217;aquests artistes formen part de diverses videoteques o col&#183;leccions, o senzillament n&#8217;existeixen diverses c&#242;pies, de moment poden considerar-se fora de perill. Tot i aix&#237;, f&#243;ra prudencial ja de remasteritzar-los en un sistema amb m&#233;s garanties de continu&#239;tat.</p>

<p> Un altre cos relativament important de cintes (en gran part, tamb&#233; de mitja polzada i bobina oberta) que espera a ser verificat i restaurat &#233;s el del col&#183;lectiu V&#237;deo-Nou, format el 1977, i que evolucion&#224; d&#8217;uns heter&#242;clits plantejaments propis del que s&#8217;anomen&#224; <i>v&#237;deo de guerrilla</i>, cap a una concepci&#243; de servei p&#250;blic i vorejant per moments el v&#237;deo institucional. Tanmateix, des d&#8217;una &#242;ptica documental, aquest &#233;s un fons for&#231;a valu&#243;s. Actualment, despr&#233;s d&#8217;algunes negociacions infructuoses amb l&#8217;Arxiu d&#8217;Audiovisuals de la Generalitat, gaireb&#233; tot el material d&#8217;aquest grup i d&#8217;altres iniciatives successores o vinculades al mateix (Servei de V&#237;deo Comunitari, Intervisual) ha estat dipositat a l&#8217;Universitat Pompeu Fabra, on es provar&#224; de procedir a la seva restauraci&#243;/preservaci&#243;.
Aurora Corominas i Toni Prat, que s&#8217;ocupen del tema, m&#8217;informen que, de moment, s&#8217;ha realitzat una neteja i classificaci&#243; b&#224;sica, i que actualment recullen informaci&#243; per tal d&#8217;afrontar la restauraci&#243; d&#8217;aquest material i els problemes presumibles o ja constatats que presenta. Un prop&#242;sit lloable, que podria establir el precedent per a una operaci&#243; de preservaci&#243; m&#233;s &#224;mplia, i que tant de bo sigui profitosa.</p>

<p> Cal ara remarcar, per&#242;, que el problema no &#233;s exclusivament el d&#8217;un nombre relativament redu&#239;t d&#8217;atrotinades cintes de mitja polzada enregistrades amb primitius magnetoscopis de bobines, sin&#243; que la putrefacci&#243; &#8212;doncs &#233;s literalment cert que les cintes magn&#232;tiques crien fongs amb facilitat&#8212; i la degeneraci&#243; dels suports comen&#231;a a afectar, segons tots els indicis, a obres de producci&#243; no tan llunyana &#8212;diguem que de no gaire m&#233;s de 10 anys enrera&#8212; i realitzades amb uns aparells for&#231;a menys rudimentaris. I aix&#237;, el que podria semblar un problema del passat, d&#8217;aqu&#237; a pocs anys possiblement afectar&#224; el que ara tenim per present.</p>

<p> L&#8217;Eug&#232;nia Balcells es dol que les cintes que va realitzar del 1980 al 1983, incloent les que formen part de la seva v&#237;deo-instal&#183;laci&#243; de 12 canals <i>From the Center</i>, s&#8217;estan &#8220;desintegrant&#8221;
(en les seves paraules). La Maite Ninou em va assenyalar que el 1988 va veure una c&#242;pia de <i>Koloroa</i>
(1980) &#8212;un v&#237;deo de El Hortelano i Carles Pastor que en el seu moment represent&#224; un s&#250;mmum de factura t&#232;cnica gaireb&#233; <i>hi-tech</i>&#8212;, i que presentava ja unes defici&#232;ncies alarmants. Tanmateix, en posar-me en contacte amb en Carles Pastor, ell em diu que en t&#233; dues c&#242;pies en diferents formats i que creu que encara es &#8220;mantenen&#8221;
(no sap, per&#242;, on rau el m&#224;ster original, car l&#8217;empresa que va produir la pe&#231;a ja fa anys que va plegar). En Juli&#225;n &#193;lvarez, per la seva banda, diu que fa temps que no revisa les seves primeres realizacions (del 1979 i de principi dels vuitantes), i que com m&#233;s va m&#233;s recan&#231;a t&#233; a fer-ho per l&#8217;estat en qu&#232; les pugui trobar.</p>

<p>
&#191;Quina f&#243;ra la millor soluci&#243; enfront d&#8217;aquest proc&#233;s de deterioraci&#243; aparentment tan preco&#231;? El suport de seguretat que, ara com ara, sembla que s&#8217;imposa m&#233;s &#233;s el Betacam, doncs tendeixen a descartar-se els sistemes d&#8217;una polzada, que alguns consideren molt superiors, per&#242; que es troben en vies d&#8217;extinci&#243;.
Un ideal te&#242;ricament superior &#233;s el representat pels formats digitals (D1, D2, D3, etc.), on la p&#232;rdua generacional es considera virtualment nul&#183;la, nom&#233;s que per ara resulten dif&#237;cilment assequibles per a la pobra economia del v&#237;deo independent. Alguns s&#8217;inclinen pel l&#224;serdisc, tot i que tampoc &#233;s consideri com una panacea, ja que els seus avantatges es veuen enterbolits per certs problemes constatats que podrien posar en dubte la seva garantia de durabilitat; a la vegada compromesa per altres formats venidors
&#8212;videogr&#224;fics i multim&#232;dia (DVD, SD-RAM CD&#8230;)&#8212;, tot i que siguin de la mateixa nissaga que els diversos sistemes de disc actualment coneguts (videodisc, CD-ROM, CD-I, etc.).</p>

<p> Joan Pueyo creu que una bona precauci&#243; f&#243;ra la de tenir subm&#224;sters o simples duplicats en diversos formats, i refiar-se que algun d&#8217;ells es mantingui prou fins que s&#8217;encerti un suport m&#233;s permanent.
Juli&#225;n &#193;lvarez constata que el m&#224;ster d&#8217;una seva realitzaci&#243;
del 1985 es troba en millor estat que un altre de l&#8217;any seg&#252;ent, la qual cosa atribueix a que el primer ha estat utilitzat m&#233;s sovint que el segon, tot arribant a la conclusi&#243; que potser no sigui gaire convenient el tenir una cinta desada i intocada durant massa temps.
Efectivament, fer c&#243;rrer les cintes magn&#232;tiques amb una periodicitat prudencial &#8212;ni que sigui bobinant-les per a rebobinar-les tot seguit&#8212; sembla ser una operaci&#243; enutjosament rutin&#224;ria, pero molt aconsellable. (I tot porta a pensar que les cintes que m&#233;s greus problemes de conservaci&#243; presenten s&#243;n aquelles que, per una ra&#243; o altra, han estat sense circular durant molt de temps).</p>

<p> Pel que fa a la manca d&#8217;un programa de preservaci&#243;, tant l&#8217;&#193;lvarez com l&#8217;Antoni Mercader coincideixen que aix&#242; podria remeiar-se f&#224;cilment nom&#233;s amb una mica de voluntat institucional, i mitjan&#231;ant un conveni de col&#183;laboraci&#243; amb alguna empresa i en les franjes d&#8217;infrautilitzaci&#243; dels aparells m&#233;s convenients. (En un nostre m&#243;n ideal, moltes altres coses ens anirien millor si aix&#242;
s&#8217;estengu&#233;s a f&#242;rmules stand-by d&#8217;acc&#233;s a bon preu als equips, si m&#233;s no de postproducci&#243;, tals com les existents en altres pa&#207;sos&#8230; &#161;per&#242; aix&#242; ja &#233;s tota una altra hist&#242;ria!). I, com em deia l&#8217;Aurora Corominas, aquest &#233;s un bon moment per tal de plantejar aquesta mena d&#8217;urg&#232;ncies, car molts hem arribat al convenciment que hi ha q&#252;estions que s&#243;n d&#8217;ara o (probablement)
mai. Anirem endavant, doncs?</p>

<p> Finalment, at&#232;s que un altre criteri essencial de conservaci&#243; &#233;s el referent a les circumst&#224;ncies ambientals m&#233;s apropiades, i que, en el cas del v&#237;deo, aquestes serien si fa no fa les mateixes que les d&#8217;altres esp&#232;cimens i col&#183;leccions audiovisuals m&#233;s arrelades (filmoteques, fonoteques), tamb&#233; caldria posar atenci&#243;
sobre les defici&#232;ncies arxiv&#237;stiques que, junt amb l&#8217;aparentment nul&#183;la acci&#243; institucional pel que fa al v&#237;deo independent i cultural (l&#8217;Arxiu d&#8217;Audiovisuals de la Generalitat, que semblaria l&#8217;ens adient, nom&#233;s sembla ocupar-se de les produccions que subvenciona o genera la pr&#242;pia administraci&#243; auton&#242;mica), fan que el v&#237;deo es converteixi, com alg&#250; altre ha dit, en una &#8220;esp&#232;cie en perill&#8221;. Ans no pas per estar mancat de futur, sin&#243; perqu&#232; es vagi perdent el seu passat.</p>

<p> Barcelona, juliol del 1995</p>
<p> FOTOS i ep&#237;grafs</p>
<p> per l&#8217;article &#8220;La desaparici&#243; de la hist&#242;ria&#8221;</p>


<p>
#1</p>
<p> Postal anunciadora de la participaci&#243; de Francesc Abad, Jordi Benito, Robert Llim&#243;s i Antoni Muntadas a la Documenta 5 de Kassel
(1972),  secci&#243; Audiovisual Dokumentation. Hi presentaren quatre accions enregistrades en v&#237;deo, amb el t&#237;tol de 4 x Umformung eines Raums [Quatre transformacions d&#8217;un espai]. Aparentment aquest v&#237;deo s&#8217;ha extraviat, tot i que en queda un document en super-8 rodat simult&#224;niament.</p>

<p>
#2</p>
<p> Cadaqu&#233;s canal local (juliol de 1974), una experi&#232;ncia precursora endegada per Muntadas, que s&#8217;avan&#231;&#224; a l&#8217;aparici&#243; de les televisions locals. Emissions virtualment clandestines. enregistrades en cinta de mitja polzada en bobina oberta, tal vegada encara recuperables.</p>

<p>
#3</p>
<p> Primera muerte (1970), una improvisaci&#243; conjunta d&#8217;&#192;ngel Jov&#233;, S&#237;lvia Gubern, Antoni Llena, Jordi Gal&#237; i Zush, que es present&#224; al Col&#183;legi d&#8217;Arquitectes de Barcelona, tot barrejant imatges pregravades i altres del propi p&#250;blic preses amb un circuit tancat.
Una de les primeres experi&#232;ncies d&#8217;utilitzaci&#243; del v&#237;deo en el nostre &#224;mbit art&#237;stic: imatges desaparegudes?</p>

<p>
#4</p>
<p> Psychokinesis: Biting My Nails [Psicokinesis: Mossegant-me les ungles] (1975), de Francesc Torres. De la s&#232;rie Behavioral Works, &#233;s una de les diverses accions-per-v&#237;deo que Torres va realitzar durant els seus primers anys a Estats Units.</p>

<p>
#5</p>
<p> Homenatge a Erik Satie (1976), una de les primeres realitzacions videogr&#224;fiques de Carles Pujol. Salvada per la campana (!) de la seva putrefacci&#243; a les antigues instal&#183;lacions de l&#8217;Institut del Teatre de Barcelona, on Pujol va tenir el seu primer apropament al v&#237;deo.</p>

<p>
#6</p>
<p> R&#232;tol d&#8217;una cinta del col&#183;lectiu V&#237;deo-Nou, de l&#8217;any 1978, part d&#8217;una s&#232;rie d&#8217;intervencions videogr&#224;fiques realitzades a Barcelona per tal de recolzar la Campanya Pro-Ateneus dels organismes c&#237;vics i els col&#183;lectius llibertaris.</p>

<p>
#7</p>
<p> From the Center (1980-83), una multivisi&#243; caleidosc&#242;pica de &#8220;la gran poma&#8221; recreada en un cercle de 12 monitors. A la foto, vista de la instal&#183;laci&#243; tal com va ser exposada a Metr&#242;nom, Barcelona, l&#8217;any 1985.</p>
<p> Dotze cintes, i tota una pe&#231;a, en perill de &#8220;desintegraci&#243;&#8221;?</p>

<p>
#8</p>
<p> Koloroa (1980), de El Hortelano i Carles Pastor (&#8220;S&#232;fer&#8221;), una pe&#231;a significativa d&#8217;un tomb d&#8217;&#232;poca i de tecnologia. On para el m&#224;ster?</p> <div title="footer">
	<p>
	&#8226; <sdfield type=PAGE subtype=RANDOM format=PAGE>5</sdfield> &#8226;</p>  