  <p> <b>M A N U A L</b></p>


<p> Com molts altres pintors al llarg d'aquest segle, Carles Pujol s'ha sentit impulsat en un determinat moment a sortir del quadre i a traslladar i desenvolupar el seu llenguatge i concepci&#243; de la pl&#224;stica en l'espai tridimensional, el moviment, el temps, el punt de vista multiplicat, els nous materials i les noves menes de fer art que ja havien copsat, i cultivat, els artistes de les avantguardes dels anys deu, vint, trenta. Naturalment, en el cas de Pujol, aquest revolt de la pintura a les instal.lacions i el v&#237;deo, tot passant
(en el sentit m&#233;s transitori de l'expressi&#243;) pel principi collage i la po&#232;tica de l'objecte, &#233;s molt f&#224;cil de relacionar amb el corrent que arrossega a un nombre considerable d'artistes catalans que es d&#243;nen a con&#232;ixer entre la fi dels seixantes i la primera meitat dels setantes, cap all&#242; que hom va anomenar el conceptualisme, l'art amb nous mitjans o art alternatiu; termes gens convincents i m&#233;s especialment el primer, repetidament posat en solfa pels seus mateixos adjudicataris.</p>

<p> L'exploraci&#243; post-pict&#242;rica de Carles Pujol, en iniciar-se a partir del 1975, participa d'aquest clima local d'art experimental, art d'idees i multiplicitat de mitjans, for&#231;a estimulant malgrat les condicions adverses del moment, per&#242; que aviat tendir&#224; a ser vist com una perturbaci&#243; passatgera sense m&#233;s conseq&#252;&#232;ncies. El seu treball es desenvolupar&#224; doncs a contrap&#232;l de moltes de les giragonses que es poden observar en el camp de l'art despr&#233;s de la controv&#232;rsia sobre &quot;la desmaterialitzaci&#243; de l'objecte art&#237;stic&quot; (en paraules de Lucy Lippard que feren furor, el subt&#237;tol d'un llibre convertint-se en una frase feta). Giragonses que, al cap i a la fi, han tornat a posar d'actualitat per&#242; termes, idees i modalitats que en un tres i no res van caure suposadament en des&#250;s.</p>

<p> El cas de Carles Pujol, per&#242;, es pot i no es pot posar en relaci&#243; amb el d'altres artistes de la seva generaci&#243;; i penso m&#233;s concretament en els malanomenats conceptualistes, en els noms associats i dissociats al Grup de Treball i altres grups i grup&#250;sculs que hom podia identificar vers la meitat dels anys setanta. Certament, la pintura &#233;s una provinen&#231;a comuna a molts d'ells, aix&#237; com tamb&#233; s'endevinen afinitats pel que fa a tend&#232;ncies i influ&#232;ncies formatives. Els &quot;nous mitjans&quot; de que es serveixen s&#243;n tamb&#233; similars: l'objecte (o poema-objecte), la pe&#231;a o acci&#243; ef&#237;mera, la publicaci&#243; o la fotografia document, la instal.laci&#243; (per emprar en aquest cas un terme que encara no era gaire corrent en aquella &#232;poca), m&#233;s ocasionalment el v&#237;deo... Ara b&#233;, l'art de Carles Pujol no ser&#224;
exactament un art-a-la-manera-de-la-filosofia (l'<i>art after philosophy</i> que deia Kosuth), i encara menys un art &quot;sociol&#242;gic&quot; (o, per fer una par&#224;frasi de l'expressi&#243; de Kosuth, un <i>art after social sciences</i>), que d'alguna manera
&#233;s el que m&#233;s predominaria a casa nostra. Tampoc no t&#233; res a veure amb el cos, el comportament, la interpretaci&#243; dels signes, etc.</p>

<p> L'art de Carles Pujol creix declaradament a partir de la pintura, d'un plantejament pl&#224;stic que es desenvolupa al llarg d'una primera etapa, respecte de la qual no hi ha tant una ruptura o un comen&#231;ar de cop i de nou com una prolongaci&#243; o projecci&#243;; en noves dimensions &#8212;volum, temps&#8212; i amb &quot;mitjans alternatius&quot;, segons una expressi&#243; pr&#242;pia de la ret&#242;rica d'una altra &#232;poca.
Aquesta mena d'art ja no ser&#224; pintura o &quot;pl&#224;stica&quot; en el sentit tradicional del terme. Per&#242; quan a Madrid, l'any 1983, s'organitz&#224; una exposici&#243;/retrospectiva col.lectiva de l'art en aquesta avinentesa anomenat <i>Fuera de formato</i>, alg&#250; devia decidir que el de Pujol ho era tant de &quot;fora de format&quot;, que finalmente va ser-ne excl&#242;s, tot argumentant que s'ocupava preponderantment de
&quot;cuestiones perceptivas y formalistas&quot; (segons es donava a entendre en un ap&#232;ndix del corresponent cat&#224;leg).</p>

<p> Si les giragonses abans esmentades han desembocat en els darrers anys en el prodigi&#243;s allau de &quot;neo&#237;smes&quot; que la neo-gerga art&#237;stica s'ha empescat del saqueig en els arxius de la modernitat, i si el ram de les belles arts es conf&#243;n per al prof&#224; amb el de l'aigua, llum i electricitat, de tants instal.ladors que hi ha ara en els seus circuits, jo segueixo emper&#242; conven&#231;ut que el treball de Carles Pujol continua desenvolupant-se a contrap&#232;l de tot aix&#242;. Seria per tant absurd que ara jo digu&#233;s que Carles Pujol &#233;s un neo-geo, posem per cas, ans si de cas em permetria el caprici de dir-ne un <i>neo-suprem</i>;
&#233;s a dir, un <i>neo-suprematista</i>.
Malevic pinta el <i>Quadrat negre sobre fons blanc</i> (1913) i el <i>Quadrat blanc sobre fons blanc</i> (1918); Pujol col.loca uns monitors amb una imatge de l'espai que hi ha al darrera de cadascun d'ells (<i>Pintura</i>, 1989). Malevic escriu: &quot;El quadrat es transforma i forma figures noves, els elements de les quals es composen d'una manera o d'una altra...&quot;; i, si canvieu &quot;quadrat&quot; per &quot;cub&quot;, teniu una descripci&#243; gaireb&#233; perfecta d'almenys dues obres de Pujol, ambdues de 1981 (<i>Calidoscopi</i> i el v&#237;deo <i>81x65</i>).
&quot;El suprematista ni mira ni toca, nom&#233;s percep&quot;, escriu tamb&#233; Malevic; i aix&#237;, Carles Pujol comen&#231;a per ocupar-se d'aquelles &quot;cuestiones perceptivas y formalistas&quot; abans al.ludides. &quot;L'artista, el pintor, ja no est&#224; subjectat a la tela, al pla de la pintura, sin&#243; que ara pot traslladar les seves composicions de la tela a l'espai&quot;, diu finalment Malevic; i tornem a estar en el punt de parten&#231;a de l'obra de Pujol dels darrers quinze anys.</p>


<p> <b>3D + temps</b></p>

<p> El pas de la pintura a les modalitats tridimensionals i tetradimensionals que representen les instal.lacions, el v&#237;deo i les v&#237;deo-instal.lacions s'acompleix d'una manera ordenada en diversos treballs dels anys 1975 al 1977 (essencialment). Veig en aquest sentit un punt de partida en la l&#237;nia, un dels elements b&#224;sics als que Pujol havia arribat a trav&#233;s del gradual reductivisme de la seva pintura (2D), i que es desplega tot seguit en l'espai, com ocupaci&#243;
de l'espai (3D), a la vegada que s'hi afegeix el factor temporal o, m&#233;s cient&#237;ficament, espacio-temporal (4D). Hom pot entreveure endem&#233;s un altre component en l'atzar.</p>

<p> A l'obra amb que Pujol acostuma avui a encap&#231;alar el llistat de realitzacions i exposicions del seu curriculum, <i>Platja 30.9.75</i> (1975), les l&#237;nies s&#243;n cintes esteses des d'una filera de pals fins la vora del mar, de manera que aquesta estructura tridimensional m&#237;nima i ef&#237;mera es transforma en un espai de temps indeterminat, a mida que les onades (i tamb&#233; el vent) mouen, encongeixen, destiben i desordenen el prec&#237;s &quot;dibuix&quot; inicial de les set l&#237;nies/cintes paral.leles. La documentaci&#243;
fotogr&#224;fica era el resultat final de la pe&#231;a, tot reflectint per mitj&#224; de la seq&#252;&#232;ncia d'imatges fixes l'acci&#243; del temps i els elements naturals; en certa manera, tamb&#233; elements d'atzar. (En la seva &#232;poca, els treballs d'aquesta mena podien interpretar-se com una forma de <i>land art</i> cassol&#224;, o tamb&#233; com a part d'una est&#232;tica &quot;processual&quot;).</p>

<p> L'oportunitat d'utilitzar el v&#237;deo port&#224;
novament a Pujol a jugar amb elements i conceptes for&#231;a similars en un treball immediatament posterior en col.laboraci&#243; amb Manel Valls: la cinta <i>Transformacions</i>
(1975), la qual &#233;s un enregistrament en temps real d'un seguit &#8212;o, millor dit, simultaneitat&#8212; d'accions d'ambd&#243;s. Tot plegat, tamb&#233;
amb uns plantejaments for&#231;a caracter&#237;stics d'aquella &#232;poca. Aquest primer acostament de Carles Pujol al v&#237;deo no tindria m&#233;s rellev&#224;ncia si no fos perqu&#232; no es quedaria pas aqu&#237;, en el pur document d'una acci&#243;/ enregistrament d'un proc&#233;s tal com s'estilava a l'&#232;poca, sin&#243; que a partir de dos treballs successius, <i>Homenatge a Erik Satie</i> i <i>Treballs d'espai</i>, hom hi troba ja insinuats alguns dels trets m&#233;s caracter&#237;stics de la seva utilitzaci&#243; del v&#237;deo com a superf&#237;cie de resoluci&#243; de problemes pl&#224;stics, i com a element integrat en moltes de les seves instal.lacions.</p>


<p> <b>Sobre paper, sobre vidre, sobre v&#237;deo</b></p>

<p> La cinta <i>Homenatge a Erik Satie</i> (1976), tot i que podria confondres encara amb una est&#232;tica processualista i com un simple enregistrament documental d'una acci&#243;/realitzaci&#243; pl&#224;stica, pren al meu parer altres implicacions. D'una banda, exemplifica a la perfecci&#243; la intenci&#243; de Pujol de servir-se dels &quot;nous mitjans&quot; com a extensi&#243; d'una recerca pl&#224;stica que neix en la pr&#224;ctica de la pintura (i, en general, amb els suports bidimensionals tradicionals de la pl&#224;stica): tot el que hi veiem &#233;s la creaci&#243; d'un dibuix sobre una superf&#237;cie de paper; una composici&#243; de l&#237;nies (grups de l&#237;nies rectes paral.leles), dibuixada davant de la c&#224;mera en temps real &#8212;&#233;s a dir, la duraci&#243;
de la cinta equival a la de l'execuci&#243; del dibuix&#8212;, de la m&#224; de l'autor i amb els estris pertinents. D'altra banda, &#233;s una cinta que hom pot prendre gaireb&#233; com la pauta d'altres treballs posteriors
(particularment d'altres realitzacions subseg&#252;ents de v&#237;deo monocanal), pels diferents elements que hi intervenen:</p>

<p>
- la construcci&#243;/variaci&#243; d'un dibuix (variaci&#243; que en aquest cas
&#233;s evoluci&#243;, mentre que en les cintes posteriors &#233;s descomposici&#243;
o destrucci&#243; de la figura obtinguda);</p>
<p>
- la introducci&#243; d'un factor aleatori (en aquest cas, per la determinaci&#243; del nombre i disposici&#243; de les l&#237;nies d'acord amb els valors obtinguts successivament en tirar tres vegades uns daus);</p>
<p>
- la subdivisi&#243; de la unitat de l'obra en diferents temps, parts o seq&#252;&#232;ncies (aqu&#237; determinades per la composici&#243; de Satie en la banda sonora: els <i>Trois morceaux en forme de poire</i>);</p>
<p>
- i, finalment, l'elecci&#243; de la m&#250;sica com un equivalent (o contrapunt) sonor, particularment apropiat al prop&#242;sit de Pujol per la seva condici&#243; d'art temporal i &quot;abstracte&quot;, a la vegada que com possible refer&#232;ncia expl&#237;cita (com en el cas d'aquest
&quot;homenatge&quot; i del suggeriment d'atzar que Pujol ha extret de l'obra de Satie; la qual cosa es tradueix, com ja he assenyalat, en la jugada de daus com a principi arbitrari de la composici&#243;
visual, mentre que els grups de l&#237;nies paral.leles que en resulten recorden el pentagrama).</p>

<p> Finalment, <i>Homenatge a Erik Satie</i> introdueix una tensi&#243;
2D/3D, un joc entre la superf&#237;cie i el relleu, tot identificant la superf&#237;cie del dibuix amb la de la imatge (v&#237;deo). Es aix&#237; un dibuix sobre paper, per&#242; a la vegada <i>sobre vidre</i> &#8212;sobre el vidre de la pantalla del monitor&#8212;, tal com el propi Pujol ho suggeriria en el t&#237;tol d'una cinta molt posterior, i sobre v&#237;deo: en el temps, la duraci&#243;, la proporci&#243; i la unitat audiovisual del mitj&#224; utilitzat per a la representaci&#243; d'aquest dibuix. (Dibuix, per&#242;, que ho &#233;s abans com
&quot;acte&quot; que com a resultat final, objectualment irrellevant).</p>

<p> La cinta <i>3 temps</i>
(1980) repren aquest plantejament a partir d'una s&#232;rie de fotografies (diapositives) de pintures del propi Pujol, mostrades en el &quot;primer temps&quot; com una r&#224;pida successi&#243; d'imatges fixes, envoltades per un marc fosc. En el &quot;segon temps&quot;, la projecci&#243; de diapositives es repeteix &#8212;ara amb un ritme m&#233;s pausat i omplint tota la pantalla&#8212; i, sobre cada imatge projectada, Pujol hi inscriu unes noves l&#237;nies, bo i emprant trossos de cinta autoadhesiva. La progressiva acumulaci&#243; d'aquestes l&#237;nies o segments modifica a la vegada les composicions projectades successivament, fins a obtenir finalment un determinat &quot;dibuix&quot;
(arbitrari). I en el &quot;tercer temps&quot;, aquest dibuix es desf&#224;/destrueix en extreure, una a una, morosament, les l&#237;nies/segments de cinta adhesiva. Els dos v&#237;deos immediatament posteriors al descrit, <i>81x65</i>
(1981) i <i>Puzzle</i>
(1983), podrien ser descrits similarment en termes de composici&#243; i descomposici&#243; d'un dibuix (o, a <i>Puzzle</i>, segons com a la inversa: descomposici&#243; i recomposici&#243; en una unitat final, com ho suggereix impl&#237;citament el t&#237;tol), aix&#237; com en relaci&#243; a les altres observacions que he fet a prop&#242;sit de <i>Satie</i>.
Hi tornar&#233; despr&#233;s amb m&#233;s deteniment.</p>


<p> <b>Mecano: v&#237;deo + instal.laci&#243;</b></p>

<p> A partir de l'exposici&#243; <i>Treballs d'espai</i> (1977), Pujol ha entrevist una nova possibilitat d'utilitzaci&#243; del v&#237;deo. Primerament, en el marc d'una exploraci&#243; formal en dues i tres dimensions, a les quals se suma el temps a trav&#233;s dels elements seq&#252;encials i din&#224;mics d'una projecci&#243; de diapositives i una cinta v&#237;deo. Conjunt de
&quot;variacions&quot; sobre un mateix tema (formal), i obra que prefigura el concepte d'instal.laci&#243; (i de v&#237;deo-instal.laci&#243;)
prevalent en la traject&#242;ria successiva de Pujol, <i>Treballs d'espai</i> desplega un joc de formes elementals bi- i tridimensionals que es relacionen entre si i que sorgeixen tant de la pintura com d'incipients treballs de volum &#8212;o del que el seu autor anomena &quot;estudis de desenvolupament de superf&#237;cie en l'espai&quot;&#8212; per mitj&#224; de maquetes fetes amb diferents peces de fusta pintades parcialment de negre. Una d'aquestes maquetes fou realitzada a tamany gran i situada al terra de la galeria, mentre que un monitor proper mostrava altres de les maquetes, examinades per la c&#224;mera en moviment al voltant d'elles, tot suggerint la percepci&#243; canviant que podriem tenir-ne si haguessin estat tamb&#233; realitzades a tamany gran i exposades (tot aprofitant aix&#237; la manca de refer&#232;ncies pel que fa a la seva escala, tal com en determinades aplicacions del v&#237;deo en el camp de l'arquitectura).</p>

<p> El v&#237;deo, doncs, comen&#231;a a ser emprat aqu&#237; com a part del que anomenar&#233; el mecano constructivista de les parts que es combinen harm&#242;nicament en un tot. (&quot;Mecano&quot; com a al.lusi&#243; a una escultura mec&#224;nica projectada l'any 1921 per l'artista alemany Willi Baumeister, i &quot;constructivista&quot; per tal de diferenciar-lo del popular juguet del que Pujol ha restat nogensmenys un fidel afeccionat per molts anys). El joc, ple de subtilesa, entre superf&#237;cie i relleu, amb el qual he caracteritzat les peces de v&#237;deo monocanal abans esmentades, es troba igualment present aqu&#237; i en altres obres de Pujol; entre les quals, tamb&#233; les primeres v&#237;deo-instal.lacions pr&#242;piament dites, <i>&quot;T&quot;</i>
(1981) i <i>Collage</i>
(1982), en les quals &#233;s com si volgu&#233;s &quot;soldar&quot; diferents elements bidimensionals i tridimensionals, per mitj&#224; de la juxtaposici&#243; de la imatge v&#237;deo, absolutament plana, amb una estructura tridimensional; o b&#233;, d'una superf&#237;cie-tela pintada amb imatges aleat&#242;ries de l'espai f&#237;sic/ arquitect&#242;nic en el qual est&#224;
empla&#231;ada l'obra (<i>Collage</i>).
En l'entremig, altres instal.lacions (sense intervenci&#243; del v&#237;deo)
com <i>7 elements</i>
(1978) o <i>D'un geometrisme</i>
(1979) s&#243;n tamb&#233; exemplars pel que fa a la l&#242;gica formal amb que Pujol combina elements aparentment incongruents de l'espai preexistent i de la seva intervenci&#243; en ell (per tal de, com veurem tot seguit, modificar-ne la seva percepci&#243; i fer esclatar el punt de vista &#250;nic en la percepci&#243; de l'obra).</p>


<p> <b>El juguet filos&#242;fic</b></p>

<p> Com el metaf&#242;ric mecano de les l&#237;nies anteriors, els trencaclosques i les entranyables invencions i ginys d'&#242;ptica recreativa s'avenen tamb&#233; amb la descripci&#243; de moltes obres de Carles Pujol. I, aix&#237; com all&#242; del mecano constructivista m'ho he empescat jo, tot tenint clar que per a en Carles Pujol l'art &#233;s una cosa i el mecano n'&#233;s una altra, almenys dues de les seves obres fan expl&#237;citament al.lusi&#243; a aquella altra mena de jocs que acabo d'esmentar: <i>Calidoscopi</i>
(1981) i <i>Puzzle</i>
(1983). En aquestes i moltes altres obres seves penso que hi ha a m&#233;s a m&#233;s un component l&#250;dic; una mena de joc del que es vol fer part&#237;cip a l'espectador de l'obra, tot i que sempre a trav&#233;s d'una proposta formalment despullada i sovint reclosa en si mateixa. Aquest joc es materialitza llavors, com alg&#250; ha dit dels jocs i entreteniments basats en la il.lusi&#243; visual que tant abundaren al llarg dels segles XVIII i XIX (fins al s&#250;mmum de la il.lusi&#243; que representa l'adveniment del cinemat&#242;graf), en un juguet filos&#242;fic.</p>

<p> La instal.laci&#243; <i>Calidoscopi</i>, perfecta en la seva senzillesa, mostra les variacions que es produeixen per la sobreimpressi&#243; d'un element fix i un element canviant, per&#242; amb la peculiaritat de que l'element fix &#233;s una estructura tridimensional, de manera que la percepci&#243; canvia d'acord amb la posici&#243; i el despla&#231;ament de l'observador. L'element fix &#233;s un cub, delineat per uns bastidors de fusta suspesos en l'espai; l'element canviant &#233;s una seq&#252;encia de diapositives que es projecten a trav&#233;s d'aquest cub, sobre una paret del recinte. Sobre aquesta paret/pantalla, l'element fix &#233;s l'ombra del cub &#8212;de les l&#237;nies que dibuixen el seu volum&#8212;, i l'element canviant les diferents relacions que s'estableixen amb cada diapositiva
(despla&#231;ament superficial d'una &#250;nica l&#237;nia), aix&#237; com la diferent perspectiva que s'obt&#233; per la interposici&#243; de l'estructura c&#250;bica en el camp visual.</p>

<p> El treball anterior em d&#243;na ara peu a tornar sobre els v&#237;deos <i>81x65</i> i <i>Puzzle</i>.
En el primer assistim al dibuix de la figura d'un cub i, tot seguit, a la seva destrucci&#243; (o deconstrucci&#243;, si voleu), deformant-se primer per la modificaci&#243; del punt de vista de la c&#224;mera, i tot seguit desdibuixant-se pel despla&#231;ament dels dos plans tangents sobre els quals s'havia tra&#231;at de fet la figura &#8212;i que la posici&#243;
inicial de la c&#224;mera mostra com una virtual superf&#237;cie &#250;nica&#8212;.
Aix&#237;, tal com el dibuix del cub &#233;s una representaci&#243; il.lus&#242;ria del seu volum, el pla del dibuix &#233;s a la vegada una juxtaposici&#243; de dues superf&#237;cies en l'espai tridimensional, desfent-se finalment ambdues convencions per la recombinaci&#243; aleat&#242;ria de les l&#237;nies i la destrucci&#243; parcial del dibuix.</p>

<p> <i>Puzzle</i>, d'altra banda, comen&#231;a amb tres seq&#252;&#232;ncies que ens mostren l'acci&#243; de tra&#231;ar/definir unes formes sobre els murs d'un espai (tamb&#233;, com a la cinta anterior, sobre plans tangents). Les l&#237;nies que delimiten aquestes formes semblen formar primer un dibuix geom&#232;tric arbitrari, emplenat tot seguit de color. Les formes, per&#242;, es combinen seguidament en una nova forma unit&#224;ria, la qual descobrirem immediatament que est&#224; basada en la relaci&#243; fons/figura d'una determinada fotografia. El que interessa a Pujol &#233;s aqu&#237;
l'autonomia del fragment respecte del tot i les variants espacials que es deriven d'una mateixa forma-matriu. No es tracta tant de recomposar el &quot;puzzle&quot; com de descomposar-lo. I la cinta es clou amb la citaci&#243; d'un fragment de Marcel Proust, el paper de la qual &#233;s similar a la que t&#233; l'elecci&#243; de l'acompanyament musical en altres obres de Pujol (no tant en aquesta, on utilitz&#224; la nova m&#250;sica &quot;d'amoblament&quot; de Brian Eno).</p>


<p> <b>L'ull m&#242;bil</b></p>

<p> La perspectiva i els miralls formen tamb&#233; part de la fam&#237;lia dels juguets filos&#242;fics; o de les &quot;opticeries&quot;, com en deia Duchamp. L'expressi&#243; <i>trompe l'oeil</i> ha estat significativament utilitzada per molts dels que ens hem ocupat de l'obra de Pujol. All&#242;
que es coneix com a perspectiva &quot;curiosa&quot; &#8212;en la qual, la imatge representada nom&#233;s es pot veure correctament des d'un punt de vista determinat&#8212; &#233;s un concepte aix&#237; mateix rellevant. Per&#242;, com que el treball de Pujol es desenvolupa en la no-representaci&#243;, ell ha parlat tamb&#233; de perspectiva &quot;in&#250;til&quot;. Aix&#242; jo ho interpreto d'una manera semblant al que acabo d'assenyalar respecte a
<i>Puzzle</i>, en el sentit que tant o m&#233;s important que trobar-hi el punt de vista
&quot;correcte&quot;, &#233;s la descomposici&#243; de la forma congruent pel despla&#231;ament en l'espai que en determina altres percepcions i altres relacions entre els elements que la composen. Aquest plantejament el trobem ja en obres com <i>Punt de vista</i>
(1978) i <i>Diapositiva</i>
(1981). En aquesta darrera, hi ha una pe&#231;a de roba blanca envoltada per una mena de bastidor tridimensional, i, a un costat, hi ha tamb&#233;
una diapositiva (tots els elements situats a terra); de manera que la percepci&#243; de l'estructura tridimensional passa d'una observaci&#243; de la mateixa com una figura geom&#232;trica de proporcions del tot irregulars, a una de m&#233;s regular &#8212;una forma piramidal amb un rectangle blanc en la base&#8212; i, en un punt donat, una figura plana que recorda el marc d'una diapositiva.</p>

<p> A <i>Islamey</i>
(1983), amb la incorporaci&#243; del v&#237;deo, el suggeriment de la doble perspectiva &#8212;de punt fix i m&#242;bil-i-canviant&#8212; es representa mitjan&#231;ant les imatges en dos monitors de la construcci&#243;
tridimensional en el centre de l'espai, al voltant de la qual l'espectador pot despla&#231;ar-se i obtenir-ne percepcions semblants a les enregistrades en les imatges de v&#237;deo. Aqu&#237; entren en joc l'ull i l'ull del v&#237;deo (el qual, com deia Dziga Vertov del seu
&quot;cinema-ull&quot;, permet de portar la &quot;teoria de la relativitat a la pantalla&quot;), amb una concepci&#243; que es troba tamb&#233; present en moltes altres v&#237;deo-instal.lacions de Pujol: el v&#237;deo desvetlla una perspectiva oculta (curiosa) que d&#243;na coher&#232;ncia a una figura o forma descomposta en diversos elements &#8212;o fins i tot esparsa en diferents parts de l'espai&#8212;, i multiplica tamb&#233; els punts de vista a trav&#233;s de la mobilitat, o pel contrast entre la imatge est&#224;tica i en moviment.</p>


<p> <b>Marcs i portes</b></p>

<p> En les seves instal.lacions, Carles Pujol utilitza freq&#252;entment bastidors o marcs de fusta o altres materials, superf&#237;cies o teles pintades (o b&#233; d'un color uniforme), estructures o cossos geom&#232;trics, i els mateixos elements que troba en les sales o espais d'exposici&#243;. En part, aix&#242; pot relacionar-se amb l'arrel pl&#224;stica, formal i pict&#242;rica que t&#233; la seva obra, malgrat que la noci&#243; d'instal.laci&#243; i l'&#250;s del v&#237;deo han esdevingut finalment els territoris propis de la mateixa. En part, tamb&#233; ho motiven les circumst&#224;ncies accidentals i/o deliberades que fan que les seves obres siguin moltes vegades realitzades <i>in situ</i>, pensades en funci&#243; d'un lloc determinat, tot aprofitant els elements trobats a m&#224; o, en general, materials pobres; i, per descomptat, el fet que siguin creacions ef&#237;meres.</p>

<p> En aquest sentit, dos elements que han esdevingut gaireb&#233; constants s&#243;n el marc (i la idea de marc) i la incorporaci&#243;
de detalls/elements arquitect&#242;nics trobats. El marc (que emmarca el buit) apareix ja en una efimer&#237;ssima instal.laci&#243; que va fer l'any 1976 amb el t&#237;tol de <i>Rectificacions a l'espai</i>, tot jugant amb les convencions de l'exposici&#243; de quadres, la distorsi&#243; de la perspectiva i la tautologia. El marc es desgavella i esdev&#233; un cos tridimensional, sovint distorsionat, desproporcionat o fora de lloc en altres instal.lacions ja esmentades: de <i>7 elements</i> (1978) fins a <i>Pintura</i>
(1989), tot passant pel cub de <i>Calidoscopi</i>, el marc 3D de <i>Diapositiva</i>, el marc transversal d'Islamey, etc. I el marc &#233;s retroba tamb&#233; en la pantalla &#8212;del monitor de v&#237;deo com de la projecci&#243; de diapositives&#8212;, o envoltant el mirall de <i>Meninas</i>
(1985-86), o com un d'aquells elements arquitect&#242;nics trobats als quals em referia abans.</p>

<p> A <i>Marcs de porta</i>
(1982), per exemple, l'element (arquitect&#242;nic) preexistent es projecta i multiplica en un conjunt de perspectives &quot;in&#250;tils&quot;, desplegades en l'espai i a trav&#233;s d'una seq&#252;&#232;ncia de diapositives que mostren el conjunt fotografiat des de diferents angles. A la v&#237;deo-instal.laci&#243; <i>Al&#237;cia</i>
(1984), es combinen uns elements similars. Hi ha una construcci&#243;
tridimensional central que &#233;s com un doble marc amb frontisses, com si fos una porta i el seu marc; la &quot;porta&quot; &#233;s m&#242;bil, manipulable per l'espectador, i no &#233;s s&#243;lida: nom&#233;s &#233;s, tamb&#233;, un marc (que per tant hom pot travessar, tal com Al&#237;cia travess&#224; un mirall). Sobre la paret del fons hi ha pintades una s&#232;rie d'ombres del doble marc-porta, que veig com l'equivalent sobre un pla de les perspectives &quot;in&#250;tils&quot; de l'obra anterior. L'element v&#237;deo
(en dos parells de monitors a banda i banda) interv&#233; aqu&#237; de manera del tot similar al paper que acomplia a <i>Islamey</i>; una imatge fixa, presa per una c&#224;mera en circuit tancat, en paral.lel amb una presa m&#242;bil pr&#232;viament enregistrada, amb la c&#224;mera despla&#231;ant-se al voltant de la porta. Per&#242;, &quot;ep!, aquesta porta no &#233;s una porta&quot;, m'advertia en Pujol tot xerrant sobre aquesta obra. I afegia, m&#233;s o menys amb aquestes paraules:
&quot;...jo n'he dit porta perqu&#232; s'assembla a una porta, per&#242;
podria ser moltes altres coses. Jo no s&#243;c un figuratiu!&quot;</p>

<p> <i>VBuit</i> (1985) &#233;s una instal.laci&#243; en la que Pujol ha emprat tamb&#233; uns elements d'arquitectura interior que es trobaven en l'espai que li era destinat: uns engraellats de fusta que estaven suspesos del sostre per a la il.luminaci&#243; del recinte. Nom&#233;s que els va treure del seu lloc per a composar un nou trencaclosques d'estructures tridimensionals i figures bidimensionals, de perspectives fixes i canviants; tamb&#233; mitjan&#231;ant la intervenci&#243; del v&#237;deo. Com en el cas d'<i>Al&#237;cia</i>, hi ha tamb&#233; un &#233;mfasi relativament nou en la interactivitat de l'espectador amb l'obra; en aquest cas, a trav&#233;s d'un mesclador de v&#237;deo que hom podia manipular per a desfer i refer un dibuix determinat, fragmentat en les superf&#237;cies parcialment pintades de negre de les estructures de fusta distribu&#239;des en l'espai, i composat en la pantalla de v&#237;deo a partir de la mescla de les imatges preses per dues c&#224;meres des de diferents angles.</p>


<p> <b>Espill i v&#237;deo</b></p>

<p> Els miralls, i la idea de mirall en abstracte, es troben presents d'alguna manera en distintes obres. Alguns t&#237;tols s&#243;n prou expl&#237;cits: <i>Mirall</i>
(1984), aportaci&#243; a una exposici&#243; col.lectiva en homenatge a Duchamp, evidentment pel cant&#243; de les &quot;opticeries&quot;; o
<i>Reflex</i>
(1986), on no hi ha un mirall pr&#242;piament dit, per&#242; s&#237; unes estructures i elements que s'emmirallen els uns als altres pel seu desdoblament (literal o conceptual). El v&#237;deo, i m&#233;s en concret el dispositiu de circuit tancat, actua tamb&#233; moltes vegades com una mena de mirall electr&#242;nic. Per&#242; &#233;s en la s&#232;rie de v&#237;deo-instal.lacions sobre les <i>Meninas</i> de Vel&#225;zquez on Pujol ha resolt amb m&#233;s for&#231;a el tema del mirall.
Com &#233;s sabut, el quadre de Vel&#224;zquez ha esdevingut en si mateix un tema o motiu d'inspiraci&#243; per a diversos artistes del nostre segle, des de Picasso fins a diversos autors m&#233;s o menys coneguts en el camp del v&#237;deo. Les <i>Meninas</i> de Pujol s&#243;n, es clar, absolutament no-figuratives, per&#242; &#233;s una obra molt suggeridora i m'atreveixo a dir que una de les m&#233;s
&quot;rodones&quot; dins la traject&#242;ria de Pujol. Aix&#237; com una de les poques que ha repetit m&#233;s d'un cop, i la que ha assolit, molt merescudament, m&#233;s projecci&#243; internacional, tot passant de Reus (en una primera versi&#243;) a Bol&#242;nia, L'Haia i Ciutat de M&#232;xic.</p>

<p> A <i>Meninas</i>, Pujol s'ocupa, segons les seves pr&#242;pies paraules, de &quot;l'espai del quadre de Vel&#225;zquez&quot;; recalcant d'aquest manera el seu apropament a l'obra: de manera no ic&#242;nica, sin&#243; en termes de significant o composici&#243; formal (per provar de dir-ho d'alguna manera). Els elements que combina els hem anat trobant en altres de les obres ja descrites: formes lineals en angle, pintades sobre la paret; monitors (i monitors dintre de monitors) que composen fragments d'un dibuix; mirall que reflecteix un conjunt d'elements esparsos (en les parets i els monitors, en l'espai) i els composa, des d'un punt de vista determinat, en un dibuix unitari &#8212;un rectangle/marc (dins del marc per excel.l&#232;ncia del mirall/quadre)&#8212;; un monitor alimentat per una c&#224;mera en circuit tancat, d'acord amb la perspectiva &quot;correcta&quot;; i, finalment, un &quot;clima&quot; musical de subjectiva elecci&#243;.</p>


<p> <b>La tautologia i el dimoni de l'analogia</b></p>

<p> Sobre l'obra de Carles Pujol, l'escriptor i amic Carles Hac Mor ha escrit, en un text poc divulgat i del que em permeto aqu&#237; citar-ne un extret bastant llarg, aix&#242; que segueix:</p>

<p>
&quot;...deu fer dos o tres anys, Pujol em propos&#224;
d'idear un t&#237;tol per a una instal.laci&#243; de v&#237;deo seva. I sense pensar-m'hi pas gaire, la vaig intitular <i>Tautologia</i>
[1988].</p>

<p> I vet aqu&#237; que ara m'adono que amb aquest mot vaig encertar a conceptuar &#8212;aix&#242; s&#237;: pel broc gros&#8212; tota l'obra de Pujol i no pas solament aquella pe&#231;a.</p>

<p> Perqu&#232;, per la ret&#242;rica, la tautologia &#233;s la repetici&#243; d'un mateix pensament expressat cada cop diferentment, i, per Wittgenstein, mentre la proposici&#243; mostra all&#242; que diu, la tautologia &#8212;posem per cas, &quot;una rosa &#233;s una rosa&quot;&#8212;
mostra que no diu res, o sigui, que no explicita res, que es clou en si mateixa. I, en efecte, les tautologies de Carles Pujol s&#243;n sempre variants d'un tema &#250;nic, les quals versions es dobleguen sobre elles mateixes per guardar, per&#242;, un grapat de suggeriments impl&#237;cits.</p>

<p> I amb un broc un xic m&#233;s fi, dir&#237;eu que la pr&#224;ctica tautol&#242;gica de Pujol &#233;s expressi&#243; no pas d'un pensament sol, sin&#243; d'uns conjunts de temes interrelacionats els uns amb els altres a trav&#233;s d'un <i>trompe l'oeil</i>.
I afinant-hi m&#233;s, tal vegada conclour&#237;em que les peces de Pujol m&#233;s que no tautologies s&#243;n monuments a la tautologia.</p>

<p> I de la conjunci&#243; de tots aquests monuments, s'aixecaria una catedral de la tautologia: aquest efecte faria una exposici&#243;
antol&#242;gica de Carles Pujol. All&#224;, com a totes les catedrals, els components arquitect&#242;nics remetrien els uns als altres, tot configurant un cosmos peculiar. Tanmateix, la catedral de Pujol, a difer&#232;ncia de les catedrals de deb&#242;, ni tan sols evocaria d'altres catedrals, per tal com no f&#243;ra pas una catedral veritable&quot;.</p>

<p> Aquest text de l'Hac Mor tal volta sigui encara m&#233;s pertinent ara, en relaci&#243; a l'exposici&#243; que aquest cat&#224;leg acompanya i pel que jo en s&#233; del que Pujol projecta fer-hi (aix&#237;
com perqu&#232;, si el lloc no &#233;s una catedral, &#233;s per&#242; un antic palau nobiliari reconvertit en una mena de catedral municipal de la gesti&#243;
cultural i les exposicions temporals). I vet aqu&#237; que jo escrivia tamb&#233;, si fa no fa al mateix temps i com a presentaci&#243; de la instal.laci&#243; <i>Pintura</i>
(1989), que si el treball de Pujol sembla endinsar-se moltes vegades en el terreny de la tautologia, aquest s'ha comprovat que &#233;s un dels m&#233;s fecunds en tot l'art i el pensament modern. I ara afegir&#233; al meu cop una citaci&#243; m&#233;s a Wittgenstein, la qual trobo que &#233;s de molt ajut per a una millor comprensi&#243; de l'obra de Pujol i de les meves modestes observacions: &quot;Tautologia i contradicci&#243; no s&#243;n figures de la realitat. No representen cap possible estat de coses.
Doncs una permet <i>tots</i> els possibles estats de cosas; l'altra no en permet <i>cap</i>&quot;
(<i>Tractatus logico-philosophicus</i>,
#4.462). Resulta aix&#237; evident perqu&#232; parlem de tautologia, i en canvi no de contradicci&#243;, a prop&#242;sit de l'obra d'un artista que tant insisteix en mostrar-nos que tot es pot veure de diferents maneres.</p>

<p> Passar&#233; per alt, per&#242;, algunes obres amb les quals penso que Pujol ha estat tocat per all&#242; que Mallarm&#233; anomen&#224;
&quot;el dimoni de l'analogia&quot;. Em refereixo, per una banda, a la v&#237;deo-instal.laci&#243; <i>Combinacions</i>
(1983) i a la cinta monocanal que se'n deriv&#224; posteriorment, <i>Suite</i>
(1985), on les imatges es converteixen en una &quot;coreografia&quot; de formes, ombres, colors, acompanyada per la m&#250;sica (tot i que aquesta fou triada un cop ja enregistrades les imatges), tot plegat d'una manera massa literal i que esdev&#233; un xic banal. I, d'altra banda, tamb&#233; a les cintes <i>Eclipsi</i>
(1985) i <i>Espai sonor</i>
(1986), en col.laboraci&#243; amb el m&#250;sic Eduardo Polonio, les quals traspuen aix&#237; mateix un llenguatge anacr&#242;nic de variacions de llum i color, d'encisament en les qualitats i textures obtingudes, d'una manera que jo penso que s&#237; &#233;s en aquest cas contradict&#242;ria amb el cos principal de l'obra de Pujol: analogia <i>versus</i> tautologia. Les arrels poden ser les mateixes, el resultat &#233;s al meu parer un retorn superflu a un territori pl&#224;stic/pict&#242;ric ja molt trepitjat, nom&#233;s que a trav&#233;s del v&#237;deo.</p>


<p> <b>Transpar&#232;ncia opaca</b></p>

<p> Ben mirat, malgrat els quinze anys d'activitat continuada en el camp de la instal.laci&#243; i el v&#237;deo, Pujol continua expressant-se en gran mesura com un pintor, nom&#233;s que virtualment inactiu com a tal. Els mateixos termes amb que descriu/comenta les seves obres ho denoten.
Es clar que ja he dit de bell antuvi, i ara ho repeteixo, que la pintura ha estat, declaradament, el punt de partida de tots els treballs que ha dut a terme del 1975 en&#231;&#224;; nom&#233;s que ha esdevingut, em sembla, un pre-text for&#231;a remot si en descomptem l'entra-i-surt del dimoni de l'analogia al damunt esmentat. Els mitjans prou limitats o precaris amb que sovint s'ha vist obligat a treballar per tal de prosseguir la seva activitat, d'altra banda tan
&#224;gil i continuada, han condicionat per for&#231;a determinats alts i baixos pel que fa als resultats; per&#242; tamb&#233; ha sabut treure profit de les condicions m&#233;s adverses i mantenir la coher&#232;ncia que tant f&#224;cil &#233;s d'advertir per a qualsevol que conegui i apreci&#239; la seva obra. Nom&#233;s afegir&#233; a tot aix&#242; aquestes observacions que el propi Pujol va fer en una conversa amb Lena Balaguer: &quot;No m'interessa si estic avan&#231;at o endarrit al meu temps, l'evoluci&#243; de la meva obra segueix un ritme intern que ella mateixa imposa. Ja no hi ha corrents v&#224;lids, nom&#233;s hi ha modes; l'&#250;nic fil conductor segur en aquests moments &#233;s el de les individualitats&quot;.</p>

<p> El fil conductor em porta finalment a <i>Pintura</i>
(1989), que &#242;bviament no &#233;s una pintura sin&#243; una instal.laci&#243;; i suposo que nom&#233;s amb un punt de mal&#237;cia o ironia en la seva denominaci&#243;. Una instal.laci&#243; en la que estan presents alguns dels elements que he anat apuntant com a caracter&#237;stics de l'obra pujoliana: el marc, la pluralitat de punts de vista, la tensi&#243;
2D/3D, la incorporaci&#243; de temps, moviment i so a trav&#233;s del v&#237;deo.
El marc &#233;s aqu&#237; un element gaireb&#233; escult&#242;ric; un marc desproporcionat, esbiaixat i encastat entre el terra i el sostre, com si el pes de la planta superior li hagu&#233;s caigut al damunt. Aquest marc &#233;s transitable, com si fos el llindar d'una porta, a la vegada que emmarca la visi&#243; de l'espai que hi ha m&#233;s enll&#224;. L'espai esdev&#233; una &quot;pintura&quot; tridimensional, sense cap altra intrusi&#243; que la de tres monitors repartits aqu&#237;, all&#224; i all&#237;; la
&quot;pintura&quot; esdev&#233; un espai tridimensional i penetrable, tal com s'ha trobat: <i>ready made</i>.
Des de determinats punts de vista, fora i dins del marc, s'obtenen perspectives que fan congruent la imatge de cadascun dels monitors amb l'espai que envolta el marc de la pantalla de v&#237;deo; &#233;s a dir, la imatge es percep com continuitat d'una columna, un arc, una paret abonyegada, com si fos un marc amb un vidre que transparenta all&#242;
que hi ha al darrera. De tant en tant la imatge trontolla, com si la c&#224;mera que ha pres aquestes imatges reb&#233;s un cop sobtat. Llavors hom sent tamb&#233; un so, un soroll relativament familiar (el d'unes boles de billar que xoquen). Com la perspectiva &quot;incorrecta&quot; que hom obt&#233; en despla&#231;arse per l'espai, la &quot;transpar&#232;ncia&quot; de les imatges es desestabilitza amb aquests sotracs repetitius i sobtats, acompanyats del corresponent esclat sonor. Qu&#232; vol dir tot aix&#242; (tan evident)?</p>

<p> Com aquesta paradoxa de la superf&#237;cie de vidre/v&#237;deo que es mostra transparent, per&#242; que sabem amb certesa que &#233;s una imatge opaca, feta de llum que sorgeix del volum tridimensional de l'aparell
(monitor o televisor), l'obra de Pujol es pot veure alternativament opaca o transparent. Opacitat transparent o transpar&#232;ncia opaca.
All&#242; que &#233;s tan evident &#233;s la tautologia que campa per tota la seva obra; all&#242; que no ho &#233;s tant provar&#233; d'anomenar-ho l'enigma.
Carles Pujol ho anomenaria potser d'una manera aparentment m&#233;s racional: &quot;la relativitat&quot; potser. Per&#242; tamb&#233; ell mateix va dir (a Lena Balaguer, novament): &quot;...em preocupa que l'espectador pugui sentir-se desorientat davant de la meva obra...; per&#242; el que no puc fer &#233;s donar-li un manual d'instruccions, car no n'hi ha...&quot; Tal vegada el meu, com els altres textos i comentaris d'aquesta publicaci&#243;, serveixin a alg&#250; com a possibles substitutius d'aquell manual absent, inexistent, que Pujol troba impossible d'escriure.</p>

<p> EUGENI BONET</p>
<p> Barcelona, octubre del 1990</p>
 