  <p> <b>MARC</b></p>


<p> Els t&#237;tols de les obres d'un artista composen sovint un vocabulari personal, esdevenen una mena de trets que dibuixen un autoretrat de la seva personalitat i dels plantejaments de la seva obra. A l'obra de Carles Pujol dels darrers quinze anys hi ha alguns t&#237;tols que remeten al camp de la pintura, en el qual inici&#224; la seva traject&#242;ria art&#237;stica, per&#242; que abandonaria gradualment &#8212;vers la meitat dels anys setanta&#8212;, per eixamplar els plantejaments del seu art amb la tridimensionalitat de les instal.lacions, la dimensi&#243; temporal pr&#242;pia del v&#237;deo, i la suma de totes quatre dimensions en all&#242; que anomenem v&#237;deo-instal.lacions. I tanmateix, m&#233;s d'un cop els t&#237;tols introdueixen termes vinculats a la pr&#224;ctica de la pintura, com l'al.lusi&#243; (m&#233;s aviat privada) al format universal d'una tela o bastidor (<i>81 x 65</i>), o b&#233; refer&#232;ncies o citacions molt concretes (<i>Meninas</i>, <i>Vel&#225;zquez</i>), o tamb&#233; termes del seu l&#232;xic m&#233;s com&#250; (<i>Collage</i> i, ara i aqu&#237;, senzillament <i>Pintura</i>).</p>

<p> Quan Carles Pujol comen&#231;ava a treballar en v&#237;deo i instal.lacions, sempre insistia que ell es considerava b&#224;sicament un pintor i que no pretenia sin&#243; perllongar una recerca d'arrel pl&#224;stica, formal, amb uns mitjans que haurien de permetre-li la introducci&#243; d'altres dimensions i components: l'espai tridimensional (i la percepci&#243;
f&#237;sica directa de l'obra per l'espectador), el temps, el moviment, l'atzar, el so, etc., s'afegirien aix&#237; a uns plantejaments basats en conceptes pl&#224;stics elementals tals com l&#237;nia, superficie, espai, forma, color, textura, perspectiva, composici&#243;, etc. La noci&#243; de instal.laci&#243; i l'&#250;s del v&#237;deo, emper&#242;, han esdevingut finalment els territoris propis de l'art de Carles Pujol i el llenguatge i suports de la pintura &#8212;o, potser millor dit, del quadre&#8212;, si encara hi s&#243;n d'alguna manera presents, han pres altres relacions i funcions.</p>

<p> Dic aix&#242; perqu&#232;, en les seves instal.lacions, Carles Pujol ha utilitzat sovint bastidors o marcs de fusta i altres materials; superf&#237;cies o teles pintades; estructures o cossos geom&#232;trics, i els mateixos materials o elements que ha trobat en les sales o espais d'exposici&#243; on han estat presentades. D'entre tots aquests elements, trobo la idea de marc especialment rellevant en moltes de les seves obres: el marc com a codi de la visi&#243; i la perspectiva, artifici i engany de la percepci&#243; de l'espai; per&#242;
tamb&#233; com element arquitect&#242;nic (<i>Marcs de porta</i>, 1982), espai visual emmarcat per la pantalla de v&#237;deo (o per la projecci&#243; de diapositives), marc d'un mirall, etc. I el marc esdev&#233; freq&#252;entment un cos tridimensional distorsionat, fora de lloc o desproporcionat en les seves dimensions. El marc, abans que delimitar, enquadrar, separar all&#242; que hi ha dins d'all&#242; que hi ha fora, m&#233;s aviat remet a l'espai al voltant, multiplica o relativitza els angles de visi&#243; i fa transitable el llindar.</p>

<p> Si el v&#237;deo &#233;s tamb&#233; una forma d'emmarcar, sovint suposa endem&#233;s una determinada manera de cohesionar l'estructura tridimensional de la instal.laci&#243;. Per exemple, la imatge en el monitor o monitors
&#8212;plana, opaca i virtual&#8212; &quot;solda&quot; incongruentment els elements s&#242;lids que l'envolten, desvetlla una perspectiva oculta que d&#243;na coher&#232;ncia a una figura o forma fragmentada i esparsa en diferents plans de l'espai, multiplica tamb&#233; els punts de vista a trav&#233;s de la mobilitat o pel contrast entre estatisme i moviment, remarca uns elements discrets que esdevenen subst&#224;ncia pr&#242;pia de l'obra, etc. La pantalla de v&#237;deo &#233;s d'altra banda un marc amb vidre, una il.lusi&#243; de transpar&#232;ncia contradita per l'opacitat immaterial de la imatge-llum i pel volum tridimensional de l'aparell
(monitor o televisor) que la produeix.</p>

<p>
&#201;s possible aix&#237; que el treball de Carles Pujol entri moltes vegades en el terreny de la <i>Tautologia</i>
&#8212;justament el t&#237;tol d'una de les seves instal.lacions (batejada aix&#237; per Carles Hac Mor)&#8212;, tanmateix un dels m&#233;s fecunds en tot l'art i el pensament moderns. Per&#242;, tot resseguint el vocabulari i repertori dels t&#237;tols amb que encetava aquest text, hom podria parlar tamb&#233; del m&#243;n dels miralls (<i>Al&#237;cia!</i>
&#8212;aquella que de la m&#224; de Lewis Carroll en va travessar un&#8212;, <i>Reflex</i>, i les refer&#232;ncies evidents i ja esmentades de <i>Meninas</i> i <i>Vel&#225;zquez</i>).
I tamb&#233; dels trencaclosques i d'entranyables invencions d'&#242;ptica recreativa (<i>Puzzle</i>, <i>Calidoscopi</i>).
I tamb&#233; de les emocions subjectives i abstractes de la m&#250;sica
(<i>Homenatge a Erik Satie</i>, <i>Suite</i>, <i>Partita</i>, <i>Cantatrice</i>, etc.). Els t&#237;tols s&#243;n gaireb&#233; sempre aix&#237; d'eixuts; de vegades m&#233;s obvis, m&#233;s intrigants, o arbitraris. Les obres que designen s&#243;n similarment d'una eixutesa delus&#242;ria, de forma coherent amb el reductivisme al que la pintura &#250;ltima de Carles Pujol s'havia atansat m&#233;s i m&#233;s. El rerafons de l'obra d'un artista pot fer-se o no visible a trav&#233;s de cadascuna de les seves peces; aquestes l&#237;nies voldrien tot just fornir-ne un &quot;marc&quot;.</p>

<p> EUGENI BONET</p>
 