  <p> <b>Entre &#8220;tocaios&#8221;</b></p>
<p> </p>
<p> </p>
<p>L&#8217;Eugeni que aix&#242; escriu, i l&#8217;Eug&#232;nia sobre la que em demanen d&#8217;escriure, sembla que erem predestinats a creuar els nostres camins. No nom&#233;s per coses del fat o l&#8217;atzar, sin&#243; per unes que digu&#233;ssim afinitats electives. El cinema (en tot cas unes determinades maneres de fer, concebre i festejar el cinema) en fou una.</p>
<p> </p>
<p> Des del 1974 jo escrivia a <i>Star</i>, una revista contracultural pr&#242;pia de l&#8217;&#232;poca. Escrivia sobre cinema m&#233;s o menys marginal, <i>underground</i> i rar, per&#242; que hom podia veure a la Filmo, l&#8217;Institut Alemany o altres circuits alternatius. Un dia, el director de la publicaci&#243;
&#8211;sabedor de les meves antenes multidisciplinars i cosmopolites&#8211;
em deman&#224; si coneixia una tal Eug&#232;nia Balcells. Gens ni mica, per&#242;
en la miscel.l&#224;nia de notes breus que oferia la revista se&#8217;n donava aviat not&#237;cia. L&#8217;Eug&#232;nia encara recorda amb esglai la prosa <i>enrotllada</i> que la introdu&#239;a com &#8220;una t&#237;a que acaba de llegar de Nueva York&#8221;, suposo que amb motiu de la seva instal.laci&#243; <i>Supermercart</i> a la Sala Vin&#231;on, amb la qual es va donar a con&#232;ixer com artista.</p>
<p> </p>
<p>Com que jo freq&#252;entava tant les fosc&#250;ries cinematogr&#224;fiques com els circuits de l&#8217;art alternatiu, no vam tardar a coincidir en qualque vernissatge. En general, als artistes conceptuals, el cinema no els interessava gaire, i si s&#8217;encuriosien pel v&#237;deo era per la novetat
&#8211;o perqu&#232; del videoart s&#237; que se&#8217;n parlava a les publicacions i xerrameques de l&#8217;art&#8211;, tot i que, localment, era vist com un mitj&#224; inabastable. L&#8217;Eug&#232;nia, en canvi, tenia un fort inter&#232;s tant pel v&#237;deo com pel cinema, i els seus primers supervuits ja eren molt polits i elaborats; no en v&#224;, no eren realment primerencs, sin&#243;
que es beneficiaven llunyanament d&#8217;un aprenentatge adolescent en la pr&#224;ctica privada, casolana, del cinema a petita escala.</p>
<p> </p>
<p>Hi havia aleshores un nou esclat dels petits formats, el cinema marginal en uns vessants entre solipsistes i alternatius; aix&#237; com un enrenou incipient pel que fa al v&#237;deo. S&#8217;hi barrejaven ascend&#232;ncies, inclinacions i aspiracions ben diferents. Inevitablement es formaren clans i grupuscles, amistan&#231;aments cordials i enemistats rivals (i un xic tribals). Per aquesta banda, vaig arreplegar una colla d&#8217;amistats noves, i aviat comen&#231;&#224;rem a compartir unes rutes i afeccions comuns que tenien un lloc de cita ben habitual (a voltes diari o gaireb&#233;, em temo que avui no seria aix&#237;) a la Filmo, tot i que tamb&#233; feiem altres sortides m&#233;s &#8220;gamberres&#8221;.</p>
<p> </p>
<p>L&#8217;Eug&#232;nia s&#8217;hi va afegir en algun punt, tot i que de vegades feia un posat de condescend&#232;ncia davant les nostres rucades; despr&#233;s de tot, hi havia una difer&#232;ncia d&#8217;edat de deu anys i m&#233;s entre ella i la resta de nosaltres. En qualsevol cas, les d&#232;ries audiovisuals eren all&#242; que ens ajuntava. Entre mig, jo vaig fer la primera escapada a Nova York i encontorns, i despr&#233;s de tres mesos d&#8217;enlluernament, en vaig tornar amb l&#8217;empenta d&#8217;unes idees for&#231;a arriscades i ut&#242;piques per tal de consolidar una hipot&#232;tica plataforma del cinema i el v&#237;deo experimental o &#8220;diferent&#8221;, com el que preteniem fer nosaltres.</p>
<p> </p>
<p> No cal dir que no v&#224;rem consolidar gaireb&#233; res, per&#242; en l&#8217;intent de fer castells algunes coses s&#237; vam fer i, per epis&#242;diques que fossin, tanmateix van ser prou intenses i crucials per alguns de nosaltres. Jo ja m&#8217;havia empescat unes sigles, FVI
(per Film V&#236;deo Informaci&#243;), i comptava amb una base arxiv&#237;stica i de contactes. Ens posarem a organitzar unes programacions espor&#224;diques (que, m&#233;s endavant, confiavem que esdevinguessin estables), tot estirant la tradici&#243; de les sessions golfes i furtives de l&#8217;escena independent/<i>underground</i> casolana. Tamb&#233; endegarem esfor&#231;adament una revista (despr&#233;s he preferit dir-ne un <i>fanzine</i>), <i>Visual</i>, que no pass&#224; d&#8217;un segon n&#250;mero (datat a maig de 1978). I millor no rememoro alguna que altra decepci&#243;, en tractar d&#8217;obtenir un cert suport i picar-nos els dits amb un mecenes fatxenda.</p>
<p> </p>
<p> Al cos de l&#8217;Efa-Ve-I, a m&#233;s de l&#8217;Eug&#232;nia i jo, hi participaren en Manuel Huerga, en Juan Bufill i l&#8217;Ignasi Juli&#224; (que va ser el primer a tirar la tovallola). De tant en tant hi treien el cap o donaven un cop de m&#224; altres elements, entre els quals Luis Serra &#8220;Platinos&#8221; (el nostre fot&#242;graf oficial), Jos&#233;
Luis Guer&#237;n i Carles Hac Mor. En realitat, l&#8217;<i>esprit de corps</i> no va durar gaire, despr&#233;s que, a les acaballes del 1979, l&#8217;Eug&#232;nia escamp&#233;s la boira per a emprendre una segona aventura americana; quan a uns altres se&#8217;ls hi va acostar l&#8217;hora de complir els deures marcials; quan, en definitiva, es va produir un campi-qui-pugui semblant al que ha consumit la flama ef&#237;mera de tantes bandes de rock (i aquesta no &#233;s una figura gens capriciosa, car el rock i altres m&#250;siques formaven la banda sonora que igualment ens aplegava).</p>
<p> </p>
<p>Despr&#233;s d&#8217;aquestes pinzellades sobre els embolics que s&#8217;afegien a all&#242;
que feia cadasc&#250;, ara vull referir-me a la significaci&#243; de la producci&#243; f&#237;lmica de l&#8217;Eug&#232;nia; tot tractant de no ser gaire redundant pel que fa a d&#8217;altres ocasions que he tingut d&#8217;ocupar-me de la seva obra, la qual abasta diferents suports, formats i modalitats (la m&#233;s caracter&#237;stica: aquella tan dif&#237;cil d&#8217;acotar de la instal.laci&#243;, o l&#8217;obra que es fa i es desf&#224; per a un espai f&#237;sic i de temps).</p>
<p> </p>
<p> La filmografia <i>strictu sensu</i> de l&#8217;Eug&#232;nia no abasta gaire m&#233;s d&#8217;un lustre, de la primera versi&#243; d&#8217;<i>&#192;lbum</i>
(1975) a <i>For/Against</i>
(1983, amb Peter Van Riper), contribuci&#243; a un film col.lectiu del mateix t&#237;tol; i no gaire m&#233;s que mitja dotzena de t&#237;tols, de 3 a 45 minuts de llargada, en super-8 o en 16mm i amb m&#233;s afany que recursos. Ara sembla que vol embrancar-se en l&#8217;aspiraci&#243;
llargament demorada d&#8217;un llargmetratge, amb tota una altra escala de producci&#243; que la de quan filavem prim amb la butxaca i els mitjans a l&#8217;abast. Per&#242;, al marge d&#8217;aquest possible retorn a la praxi del cinema, jo crec que aquella primera i llunyana etapa va ser determinant quant al rumb posterior de l&#8217;art de l&#8217;Eug&#232;nia.</p>
<p> </p>
<p> Aix&#242; penso que es palesa sobretot als films que es distancien m&#233;s de la mena d&#8217;obres amb les quals es don&#224; a con&#232;ixer en l&#8217;&#224;mbit de les arts visuals; obres d&#8217;una flaire entre sociol&#242;gica i antagonista (amb cert biaix feminista), que prenien com a mat&#232;ria primera les icones i els estereotips dels mitjans de masses i la societat de l&#8217;espectacle. En aquest sentit, films com <i>Presenta</i>
(1977), l&#8217;aportaci&#243; al col.lectiu <i>En la ciudad</i> (1977) i <i>Boy meets Girl</i> (1978), tenen una estreta connexi&#243; amb les exposicions o instal.lacions <i>Supermercart</i>
(1976), <i>Re-prise</i>
(1976-77, in&#232;dita per&#242; fins el 1992), <i>Ofertes</i>
(1977) i <i>Fin</i>
(1978)</p>
<p> </p>
<p> En canvi, Eug&#232;nia va realitzar <i>&#192;lbum</i> gaireb&#233; com una mena d&#8217;exercici privat, un exercici de mem&#242;ria que digu&#233;ssim, mentre que <i>Fuga</i>
(1979) pertany plenament a una etapa m&#233;s experimental. Ambd&#243;s films tenen, segons la meva percepci&#243;, alguna cosa de cinema amateur, casol&#224;, personal; investits tanmateix d&#8217;un rigor formal que els hi d&#243;na una for&#231;a especial. L&#8217;un &#233;s un &#8220;viatge&#8221; (que diria l&#8217;Eug&#232;nia) a trav&#233;s de l&#8217;&#224;lbum de postals d&#8217;una avantpassada de l&#8217;autora; l&#8217;altre, una com&#232;dia d&#8217;embolics sense argument i on els embolics s&#243;n m&#233;s aviat els de l&#8217;espai i el temps, les pres&#232;ncies i abs&#232;ncies, els enquadraments i les sobreimpressions que se succeeixen, en una &#8220;fuga&#8221; silent i executada a partir d&#8217;una mena de partitura gr&#224;fica (i oberta a l&#8217;atzar i la improvisaci&#243;).</p>
<p> </p>
<p> D&#8217;<i>&#192;lbum</i>, l&#8217;Eug&#232;nia en va fer el 1978 un <i>remake</i> en 16mm, una versi&#243; m&#233;s polida i que redueix a m&#233;s de la meitat la durada d&#8217;aquella que havia rodat en super-8 primerament. All&#242; que havia concebut com una cinta privada, aliena al vessant p&#250;blic, el concerniment social del seu art, va ser incorporat aleshores a una nova direcci&#243; que es perfilava en el seu quefer, a la vegada que s&#8217;intensificava el seu inter&#232;s pel cinema i les expansibilitats audiovisuals. M&#233;s recentment, el biaix autobiogr&#224;fic d&#8217;aquell film &#8211;a trav&#233;s, en tot cas, de l&#8217;evocaci&#243; d&#8217;unes arrels familiars&#8211; es pot recon&#232;ixer a <i>En el cor de les coses</i> (1998), un conjunt de cinc instal.lacions que recreen les estances d&#8217;una llar al.leg&#242;rica. I, pel que jo s&#233;, una intriga familiar &#233;s tamb&#233;
present al nou projecte f&#237;lmic que trama actualment l&#8217;Eug&#232;nia.</p>
<p> </p>
<p> Tanmateix, &#233;s a <i>Fuga</i> on es prefigura el gir que prendria seguidament la seva obra. I aix&#242;
en diversos aspectes. La mirada circular &#8211;panor&#224;mica o poli&#232;drica&#8211;
que hom pot retrobar al v&#237;deo <i>Indian Circle</i> (1981) i en tantes instal.lacions i videoinstal.lacions, de <i>From the Center</i> (1982-83) a <i>Un espai propi</i> (2000), on tal vegada sald&#224;
all&#242; que se&#8217;n diu un deute amb la lectura efervorida de Virginia Woolf. Els <i>sound works</i> dels anys 1981-1983 &#8211;i la col.laboraci&#243; amb compositors i int&#232;rprets d&#8217;una ascend&#232;ncia entre Cage, Fluxus i el minimalisme&#8211;; car, si <i>Fuga</i>
&#233;s un film absolutament silent, nogensmenys enceta &#8211;juntament amb
<i>133</i> (hi arribar&#233; de seguida)&#8211; una recerca sobre les correspond&#232;ncies entre el so i la imatge. Les densitats, les espessors en fi, de l&#8217;art de les llums i les ombres, les projeccions i l&#8217;enc&#237;s &#242;ptic d&#8217;unes imatges a la vegada herm&#232;tiques i universals, vigoroses i
&#8220;inframinses&#8221;;com per exemple les de <i>Traspassar l&#237;mits</i> (1996), una de les instal.lacions de l&#8217;Eug&#232;nia que jo en diria &#8220;de llanterna m&#224;gica&#8221;.</p>
<p> </p>
<p> Hi ha tamb&#233; alguna videoinstal.laci&#243; que neix d&#8217;un projecte primerament f&#237;lmic. &#201;s el cas de <i>TV Weave / Teixit TV</i> (1985). Originalment l&#8217;Eug&#232;nia havia pensat en un film on la imatge es reduiria a una franja molt estreta, gaireb&#233; prima com una l&#237;nia; com qui mira per una escletxa. A la fi, aquesta idea an&#224; a parar a una instal.laci&#243;
tan senzilla com reeixida: un mur de televisors &#8220;cegats&#8221;, a excepci&#243; d&#8217;unes quantes escletxes a cada pantalla, entre les quals espurnejen els colors i els indicis ic&#242;nics dels senyals electr&#242;nics.</p>
<p> </p>
<p>Per acabar afegir&#233; alguna cosa sobre el film que vam fer junts entre 1978-1979. Un dia, a ca l&#8217;Eug&#232;nia, vam posar-nos a escoltar un
&#224;lbum discogr&#224;fic que ella havia adquirit per sonoritzar alguna pel.li de les que feiem. La col.lecci&#243; (tres discs LP) duia el t&#237;tol de &#8220;133 Aut&#233;nticos Efectos Sonoros&#8221;, i aquests estaven organitzats per motius tem&#224;tics. Aviat se&#8217;ns va acudir que aquell compendi de sons era un film en pot&#232;ncia, un argument d&#8217;imatges ac&#250;stiques. Engrescant-nos mutuament, vam decidir que li posariem o
&#8220;tornariem&#8221; les imatges que hi mancaven, i aleshores jo vaig proposar que, en tot cas, les imatges tamb&#233; haurien de ser unes de preexistents, sense rodar-ne ni una nosaltres.</p>
<p> </p>
<p> Aix&#237; va n&#233;ixer <i>133</i>: al llarg de setmanes i mesos anarem cercant, recollint i garbellant bobines i retalls de pel.l&#237;cula que compravem, gaireb&#233; a pes, a un quincallaire. Era com un joc (que ens preniem ben seriosament)
d&#8217;ajuntar sons i imatges, i no necess&#224;riament amb literalitat o versemblan&#231;a. Quan vam donar per acabat el muntatge,el vam dur a Fotofilm on van refusar de fer-se&#8217;n c&#224;rrec: addu&#239;ren que els hi espatllaria les m&#224;quines, tal era l&#8217;estat i la brut&#237;cia del nostre apeda&#231;ament de bocins i deixalles. Finalment, quan l&#8217;Eug&#232;nia va marxar a Nova York, es va endur el cad&#224;ver exquisit i all&#237; s&#237;
van saber fer-ne una neteja i tirar-ne c&#242;pies.</p>
<p> </p>
<p>Despr&#233;s, els estris mec&#224;nics del cinema &#8211;c&#224;meres i projectors, movioles i empalmadores&#8211;, pr&#224;cticament els vam arraconar i desar. El v&#237;deo semblava un mitj&#224; m&#233;s a l&#8217;abast i amb m&#233;s empenta; a m&#233;s, la pel.l&#237;cula verge s&#8217;havia posat pels n&#250;vols i el cinema deien que agonitzava. (Aix&#242;, a la geografia espanyola, es va reflectir ben aviat en una volatilitzaci&#243; gaireb&#233; total de les mogudes alternatives que s&#8217;havien mantingut fins aleshores.)</p>
<p> </p>
<p>Per&#242;
vet aqu&#237; que ara tenim tot aquest rebombori del cinema digital i uns quants elements que demostren que les tecnologies electr&#242;niques afavoreixen avui, m&#233;s que mai abans, la resist&#232;ncia i la pluralitat davant la uniformitzaci&#243;. Els puristes recalcitrants ja poden arrufar el nas davant la digitalitis dels nostres dies, com fan aquells escriptors que reneguen de l&#8217;ordinador i es vanten de seguir utilitzant la m&#224;quina d&#8217;escriure o la ploma; per&#242; avui ja no hi ha estris ni maneres can&#242;niques de fer cinema (b&#233; que hi ha tot un aparat gremial i docent que s&#237; que fa que ho sembli). En tot cas, que hi hagi m&#233;s opcions ja ens est&#224; b&#233; als proscrits i dissidents del cinema consuetudinari, que aix&#237; renovem la picor de la pantalla primordial.</p>
<p> </p> 