  <p> <b>UN PARISENC DE CATALUNYA</b></p>

<p>
(x) Eugeni Bonet</p>


<p> Joan Rabascall, nat a &#192;ger (Lleida) i establert a Par&#237;s des de fa trenta anys, podria semblar que no &#233;s pas un assidu de la terra on va n&#233;ixer i cr&#233;ixer. Si us mireu el seu curriculum, veureu que la seva anterior exposici&#243; individual a la nostra ciutat fou l'any 1976, a la Galeria 'G', un ef&#237;mer basti&#243; barcelon&#237; de l'art alternatiu. Les dades i dates d'altres mostres personals posteriors palesen per&#242; que en Rabascall l'ha trepitjada for&#231;a sovint la geografia dels Pa&#239;sos Catalans: Ciutat de Mallorca (1977), Cadaqu&#233;s (1978), Figueres (1982), Perpiny&#224; (1985). I tots aquests camins, el duen tamb&#233; a Barcelona (o a l'inrev&#233;s). Despr&#233;s hi ha la seva participaci&#243; a nombroses exposicions i activitats col.lectives; i, entre aquestes, potser les que m&#233;s han contribu&#239;t a regularitzar la pres&#232;ncia i el coneixement de la seva obra entre nosaltres han estat les mostres <i>Barcelona-Par&#237;s-New York: El cam&#237; de dotze artistes catalans, 1960-1980</i>
 (al Palau Robert de Barcelona, desembre 1985 i gener 1986) i <i>Idees i Actituds: Entorn de l'art conceptual a Catalunya, 1964-1980</i>
(al Centre d'Art Santa M&#242;nica de Barcelona, gener i febrer 1992), ambdues organitzades pel Departament de Cultura de la Generalitat de Catalunya.</p>

<p> En Rabascall &#233;s un dels <i>outsiders</i> que mostres com les esmentades han volgut rescatar en bloc d'entre la marginaci&#243; soferta per determinats episodis, pr&#224;ctiques i cossos estranys a l'art catal&#224; contemporani. Una marginaci&#243; que podriem dir que &#233;s la que el va decidir no a marxar, sin&#243; a quedar-se a Par&#237;s. Ell, per&#242;, vol deixar ben clar que no es considera un desarrelat i que, com a &quot;catal&#224; de Par&#237;s&quot;, no nom&#233;s torna a la seva terra quan t&#233; el viatge pagat. &#201;s per aix&#242; que en aquestes p&#224;gines se m'ha demanat de reflectir aquesta relaci&#243;, pres&#232;ncia, contacte constant. En Rabascall, ben organitzat i meticul&#243;s com &#233;s ell, m'ha fornit d'antuvi la documentaci&#243; o les pistes sobre tot un seguit de col.laboracions, participacions, lligams, exposicions i actuacions a Barcelona i a Catalunya en general. Jo, al marge d'ordenar liter&#224;riament aquestes dades, tot privilegiant-ne les m&#233;s rellevants, hi afegeixo les meves observacions sobre la persona i l'obra, i del que, en relaci&#243; amb el nostre &#224;mbit art&#237;stic, pot anar m&#233;s enll&#224; de l'an&#232;cdota personal, per tal de situar l'artista contra el rerafons simultani de l'art a casa nostra: d'unes situacions viscudes per tant amb certa dist&#224;ncia, per&#242; amb no tanta com per a dir-ne llunyania.</p>

<p> D'entre el paperam que Rabascall m'ha proporcionat, trobo un punt per on comen&#231;ar arran d'un intercanvi de correspond&#232;ncia ben recent: el que es produeix entre ell i Josep Benet, director del Centre d'Hist&#242;ria Contempor&#224;nia de Catalunya, entre 1990 i 1991, quan Rabascall fa donaci&#243; dels seus arxius com a delegat a l'exterior que va ser, del 1963 al 1969, de l'organitzaci&#243;
estudiantil clandestina FNEC, Federaci&#243; Nacional d'Estudiants de Catalunya; una documentaci&#243; curosament preservada que avui es troba ja a l'Arxiu Nacional de Catalunya. Aquest &#233;s el Rabascall
<i>arxivista</i>, una faceta molt personal (privada) que retrobarem altres cops al llarg d'aquesta recapitulaci&#243; de les seves activitats i aportacions a (o per a) Catalunya. I tamb&#233; l'<i>activista</i>, part&#237;cip, militant, agent extern d'un moviment de resist&#232;ncia antifranquista, amb el que aix&#242; t&#233; d'il.lustratiu d'una altra faceta, social i &#232;tica, que impregna a la vegada tota l'obra de Rabascall l'<i>artista</i>.
Una obra sovint qualificada de <i>cr&#237;tica</i> i <i>anal&#237;tica</i>, ans tamb&#233; <i>ir&#242;nica</i>, que pren per objecte certes iconografies que ens envolten: unes imatges rebudes que ell selecciona, a&#239;lla i emmarca, tot composant un <i>sottisier</i> visual a la mida de les absurditats i de les veus prepotents dels mestres i amos del nostre temps. No tant un art conceptual o d'idees com un art <i>actual</i> i d'actituds. 1</p>

<p> Al comen&#231;ament dels anys seixanta, per&#242;, Joan Rabascall era tot just un aprenent d'artista, amb la prec&#224;ria formaci&#243; d'uns cursos vespertins de dibuix a l'Ateneo Obrero (en castell&#224;, si us plau!)
que hi havia al carrer Montcada, seguits d'estudis a l'Escola Massana
&#8212;en una fosca etapa de conservadorisme a ultran&#231;a de la dita instituci&#243;&#8212;, i del complement m&#233;s estimulant d'uns cursets clandestins que donaven Alexandre Cirici i altres intel.lectuals. Fou el 1962 quan, gr&#224;cies a una beca de 50.000 pessetes de l'Excelent&#237;sima Diputaci&#243;n Provincial de Barcelona, marx&#224; cap a Par&#237;s per tal d'estudiar gravat a l'&#201;cole Nationale Sup&#233;rieure des Beaux Arts. El seu aclimatament a la ciutat de la llum ens &#233;s descrit per Pierre Restany a la seg&#252;ent citaci&#243;, de la qual en recalco un tret caracteritzador:</p>

<p>
&quot;Quan Rabascall s'instal.la a Par&#237;s, ho fa amb la intenci&#243; de quedars'hi per sempre. Encara que sovint es despla&#231;a a Barcelona, Rabascall ja no abandonar&#224; m&#233;s Par&#237;s i s'hi estar&#224; com un <i>vianant</i> i esdevindr&#224; un observador, un enregistrador dels elements estructurals del seu entorn. Viur&#224; en la realitat sociol&#242;gica en estat primari, i verificar&#224; l'experi&#232;ncia de les coses viscudes&quot;.
2</p>

<p> A Par&#237;s, Rabascall es trobar&#224; endem&#233;s amb altres artistes catalans: amb Antoni Miralda el mateix 1962 i, m&#233;s tard, amb Jaume Xifra i Benet Rossell. Juntament amb la Doroth&#233;e Selz &#8212;parisenca de soca-rel, per&#242; tamb&#233; un xic catalana per vocaci&#243;&#8212; formaran el grup que hom coneix pel sobrenom dels &quot;catalans de Par&#237;s&quot;.
Per&#242;, abans que el grup al complet actu&#239; com a tal, &#233;s a dir col.lectivament, en els arrauxats rituals i cerimonials i saraus dels anys 1969 i 1970, el vianant Rabascall no &#233;s que s'hagi pas estat quiet a Par&#237;s, sin&#243; que ha respirat diferents aires, ha viatjat per tota Europa, i tamb&#233; als Estats Units i a Nova Zelanda (all&#237;, per a representar la FNEC a la Confer&#232;ncia Internacional dels Estudiants, el 1964); i ha exposat a Amsterdam (1964) i a l'ICA, Institute of Contemporary Arts, de Londres (1967, es diu que per empenta de Joan Mir&#243;, a qui Rabascall i Miralda van con&#232;ixer a la ciutat del T&#224;mesi).</p>

<p> L'obra de Rabascall durant els anys seixanta no m'&#233;s gaire coneguda. En aquest per&#237;ode cultiv&#224; essencialment el collage i el fotomuntatge, i fou llavors que descobr&#237; les possibilitats de la tela emulsionada, o la manera de traslladar imatges fotogr&#224;fiques al suport caracter&#237;stic d'all&#242; que anomenem un &quot;quadre&quot;. Hom podria pensar que aquesta fou una etapa formativa i ja molt allunyada de l'obra de Rabascall als anys setanta, vuitanta i el que portem dels noranta. Per&#242;, en el cat&#224;leg de l'exposici&#243; <i>Barcelona-Par&#237;s-Nova York</i> i en alguna publicaci&#243; m&#233;s, hi he pogut veure reprodu&#239;des algunes obres d'aquest primer per&#237;ode, i em sembla que en Rabascall pot exhibir-les sense cap vergonya, perqu&#232;
si b&#233; poden ser vistes com for&#231;a primerenques i pr&#242;pies d'una altra &#232;poca (ah! els feli&#231;os seixanta), serven tanmateix un pes espec&#237;fic, un coeficient art&#237;stic que el pas del temps no ha devaluat. (Unes al.lusions duchampianes, aqu&#237; i all&#237;, em sembla que no estan fora de lloc, puix que Rabascall ha dit: &quot;m'incloc entre aquells per als qui Duchamp &#233;s una refer&#232;ncia molt important&quot;). 3</p>

<p> Com he dit, abans de fer pinya amb els altres
&quot;catalans de Par&#237;s&quot;, Rabascall es belluga, no para quiet, es despla&#231;a, va i torna. I aix&#237; &#233;s com, epis&#242;dicament, reapareix a Barcelona el 1968, en una exposici&#243; de grup intitulada <i>Nova Pintura Catalana: gravat i cinema</i>, a la Galeria As, i en companyia d'Albert Porta (que despr&#233;s es reencarnar&#224; en Zush), Robert Anglada, Joan Duran Benet, Jordi Gal&#237;, Francesc Artigau, Guillem Ramospoqu&#237;, Ernest Salvad&#243; i el Taller d'Arquitectura de Ricardo Bofill. El full que feia de cat&#224;leg i llista de preus de l'exposici&#243; revela que s'hi exhibiren litografies, serigrafies, aiguaforts (aquests de Rabascall) i dibuixos, en edicions limitades i no limitades i a preus que anaven de 150 a 2500 pessetes. Quan al cinema, probablement el posaren Joan Duran Benet i el seu germ&#224; Oriol (a la vegada editor d'alguns dels gravats), potser tamb&#233; Bofill, amb els seus films de petit format.
Si m'entretinc en aquesta epis&#242;dica associaci&#243; de Rabascall amb els artistes que he anomenat &#8212;uns for&#231;a coneguts, altres molt oblidats, alguns desapareguts de l'escena art&#237;stica, i alguns reapareguts recentment&#8212;, &#233;s perqu&#232; aquella petita,
&#191;intranscendent?, exposici&#243;, reuneix alguns noms representatius de certes inquietuds renovadores entre la pl&#224;stica catalana d'aquell moment. Quelcom que es manifesta tant en la seva pintura i obra gr&#224;fica, seriada, com en l'art eixamplat, expandit, d'uns nous mitjans, doncs el cinema de petit format ho era plenament, arran del ress&#242; de l'<i>underground</i>.</p>

<p> <i>Maig 1968</i>: un collage de Rabascall aix&#237; intitulat es troba reprodu&#239;t dintre del n&#250;mero de maig de 1970 de la revista <i>Serra d'Or</i>, parcialment dedicat a recordar els fets de Par&#237;s de dos anys abans. La coberta &#233;s tamb&#233; de Rabascall i &#8212;triple pres&#232;ncia!&#8212; a les p&#224;gines d'art hi trobem un article sobre la seva obra i traject&#242;ria escrit per Alexandre Cirici i Pellicer, l'incansable anotador/apuntador de l'actualitat art&#237;stica a la publicaci&#243; montserratina. 4 Aquest article &#233;s valu&#243;s sobretot per la informaci&#243; biogr&#224;fica que d&#243;na, i per la contextualitzaci&#243; que en fa. Tot remarcant que tracta d'un artista que &quot;dintre de Catalunya continua essent molt poc conegut&quot;, Cirici hi reflecteix d'altra banda un cert sentiment de familiaritat i agra&#239;ment envers l'artista i l'amist&#243;s corresponsal, a qui en una carta datada del novembre de 1966 havia escrit:</p>

<p>
&quot;...haureu notat que sovint parlo de vostra obra, malgrat que nom&#233;s en tinc la not&#237;cia indirecta que em donen les fotografies...
El juliol vaig rebre una lletra vostra que em va donar una immensa satisfacci&#243;, perqu&#232; estic acostumat a la paradoxa de viure sempre pensant en tota la vostra comunitat i de sentir-me, en canvi, molt solitari&quot;.</p>

<p> Cirici, un senyor de Barcelona, per&#242; un xic parisenc per vocaci&#243;, efectivament va escriure en repetides ocasions sobre Rabascall i els altres catalans de Par&#237;s (i sobre els catalans de tot arreu). Per&#242; el corresponsal, l'agent extern, li proporcionava endem&#233;s un doll d'informacions que ell recollia en part en la concisi&#243; de les seves notes i escrits a <i>Serra d'Or</i>, tot un dietari de l'art catal&#224;
en els anys seixanta i setanta. A l'article abans esmentat, referint-se a Rabascall i als altres membres del grup catal&#224; de Par&#237;s, es fa ress&#242; dels seus plantejaments en aquell moment, i de la gestaci&#243; de les seves actuacions m&#233;s caracter&#237;stiques:</p>

<p>
&quot;Veuen clar que l'<i>art necessita un exercici quotidi&#224; de la llibertat</i>; si no <i>no pot &#233;sser ni cr&#237;tic, ni aproximaci&#243; de la realitat, ni expressi&#243;, ni poesia</i>.</p>

<p>
&quot;[Rabascall] Estima que caldr&#224; cercar una tercera via, potser a l'art gratu&#239;t dels <i>happenings</i> o de l'art pobre, amb participaci&#243; dels espectadors, o potser en un art completament polititzat, revulsiu i escandal&#243;s per&#242; preservat del didactisme i del pamflet. Per&#242; no deixa de veure que el
<i>happening</i> i &#224;dhuc l'art pobre poden &#233;sser modes manipulades al servei del consum i que l'art polititzat pot &#233;sser encerclat per ortod&#242;xies r&#237;gides. El 1969 ens escrivia aquestes idees i apuntava una altra possibilitat encara, la de col.laborar en un espectacle total com el que intenten de fer els del New York Bread and Puppet Theater.</p>

<p>
&quot;A final d'any, als primers dies de novembre, aquesta possibilitat ja es feia real per al grup de catalans de Par&#237;s amb els quals treballa Rabascall. El gran <i>Ritual mortuori</i> realitzat al castell de Verderonne en fou la primera manifestaci&#243;&quot;. 5</p>

<p> Amb el t&#237;tol de <i>Ceremonials</i>
(sic), l'exposici&#243; i el film documental presentats l'any 1974 al Col.legi d'Arquitectes de Barcelona foren una ocasi&#243; de con&#232;ixer m&#233;s de prop l'activitat del grup catal&#224; de Par&#237;s, pr&#232;viament envoltat per la llegenda colorista dels seus peculiars <i>happenings</i>, difosa a trav&#233;s dels articles i ressenyes de Cirici i de Maria Llu&#239;sa Borr&#224;s. Tanmateix, llavors Rabascall ja havia abandonat l'equip per a recloure's en el seu treball personal, que Daniel Giralt Miracle ha descrit com &quot;una pr&#224;ctica simple, sense sofisticacions i no mancada d'una po&#232;tica compositiva en el tractament&quot;. 6 O, com Rabascall ho va dir, segons una significativa declaraci&#243; recollida per Pierre Restany: &quot;He deixat el technicolor per a Miralda i m'he passat al blanc i negre&quot;.
7</p>

<p> El grup, per&#242;, era m&#233;s que un clan de conjuradors de la festa l&#250;dica, i cadasc&#250; tenia la seva obra i, a m&#233;s a m&#233;s, les col.laboracions que sorgien espont&#224;niament de la pregona amistat; com en el cas dels films, no menys llegendaris, de Benet Rossell amb els diferents membres de la &quot;fam&#237;lia&quot; o comunitat dels amics i <i>copains</i> de Par&#237;s. <i>Bio-Dop</i>
(1974), el petit film que Rabascall i Rossell realitzaren conjuntament, &#233;s paradigm&#224;tic d'aquella voluntat de desvincular-se del technicolor, ja que la base n'&#233;s tot un seguit de tronats, per&#242;
hilarants, filmets publicitaris d'un mateix producte (la marca de brillantina del t&#237;tol), entre els quals s'hi introdueixen tot just algunes imatges fixes, composades, o senzillament triades, per Rabascall amb una intencionalitat de <i>d&#233;tournement d'images</i>. 8 (La primera projecci&#243;
p&#250;blica d'aquest film a Barcelona fou probablement en una sessi&#243;
golfa al Cine Arkad&#237;n, a l'estiu del 1978, juntament amb altres realitzacions cinematogr&#224;fiques de Rossell amb Xifra i Miralda).</p>

<p> En gran part, el treball de Rabascall de despr&#233;s del 1968 s'organitza en s&#232;ries de <i>tableaux</i>, composats essencialment per imatges preexistents, traslladades a la tela emulsionada amb l'eventual juxtaposici&#243; de petits textos, lemes o mots: <i>Maig</i>
(1969-70), <i>Homenatge al Black Power</i>
(1969-70), <i>Kultur</i>
(1972), <i>La voz de su amo</i>
(1973), <i>L'art contra la ideologia</i>
(1974),  <i>Spain is different</i>
(1974-76), fins les s&#232;ries dels <i>Paisatges</i> i de <i>La lli&#231;&#243; de pintura</i>, que el mantindran ocupat tot al llarg dels anys vuitanta. Rabascall treballa doncs sobre un repertori aparentment limitat d'icones que apareixen, desapareixen i reapareixen successivament: imatges pornogr&#224;fiques i s&#237;mbols de revolta, televisors reiteratius i retalls de premsa desprove&#239;ts gaireb&#233; de tot sentit, imatges de l'Espanya &quot;diferent&quot; i &quot;en pau&quot; del General&#237;simo Franco, paisatges de la degradaci&#243; ecol&#242;gica, carrinclones l&#224;mines per a l'aprenentatge de la pintura de cavallet m&#233;s suada.</p>

<p> Indirectament, Rabascall &#233;s d'altra banda un dels responsables de la divulgaci&#243; del concepte d'<i>art sociol&#242;gic</i> entre nosaltres, puix que va participar cap el 1973 en les reunions que, al voltant d'aquest concepte, aplegaren a un grup d'artistes que volia ser internacional i obert, per&#242; que finalment esdevindria un trio tancat, usurpant-ne el nom el Collectif d'Art Sociologique de Fred Forest, Herv&#233; Fischer i Jean-Paul Thenot. 9 Aix&#237; es d&#243;na la paradoxa de que Rabascall va contribuir a que aquest terme s'incorpor&#233;s al l&#232;xic art&#237;stic dels anys 70, esdevenint un concepte vastament usat i abusat all&#237; i aqu&#237;, a la vegada que sent&#237; la necessitat de desmarcar-s'en, segons ho suggereixen aquestes l&#237;nees, tant pr&#242;pies del seu esperit <i>de corps</i> i independent al mateix temps:</p>

<p>
&quot;...moi personnellement, je n'aime pas beaucoup les definitions et les &#233;tiquettes sur tout ce qui se passe actuellement, car plus on
&#233;tiquette, plus on archive, plus on enterre... et moi, et pour les amis, l'art c'est la vie, et la vie c'est l'art quoi, alors moins on d&#233;finit plus &#231;a vaut pour vivre &#224; l'aise et ceci pour tout le monde&quot;. 10 
</p>

<p> Despr&#233;s de la mort de Franco, Rabascall tindr&#224;
l'oportunitat d'exposar la s&#232;rie <i>Spain is different</i> a la Galeria 'G'
(abril-maig 1976): un entorn d'imatges prou familiars per a qualsevol nadiu, composades en d&#237;ptics d'elements de diferent tamany i color, amb imatges i textos, retalls i fotomuntatges, juxtaposicions i associacions que traspuen un sarcasme sec, sense floritures gratificadores, ni en el pla del gaudi est&#232;tic ni en el del <i>clin d'oeil</i> intel.lectual. Puix s&#243;n m&#233;s aviat imatges grolleres, emblemes impresentables on ressona el glori&#243;s lema tur&#237;stic-franquista del t&#237;tol gen&#232;ric de la s&#232;rie.
Per exemple, la pantalla d'un televisor, plena de pilotes de futbol i amb el mot &quot;cultura&quot; com si fos un subt&#237;tol; i, al costat, un retall de premsa que palesa la tristor de les pantalles cinematogr&#224;fiques espanyoles sota la &quot;difer&#232;ncia&quot; del r&#232;gim franquista.</p>

<p>
&#201;s al voltant d'aquesta exposici&#243; individual que Rabascall ha repr&#232;s amb m&#233;s freq&#252;&#232;ncia i regularitat la seva pres&#232;ncia i participaci&#243; a l'escena art&#237;stica catalana (i a la resta de l'estat). A partir del 1973, participa doncs en nombroses exposicions, projectes i edicions. La lletra petita del seu curriculum reflexa la seva participaci&#243; en totes les petites iniciatives i ressorts que proven de desnuar el fardell de la cultura, aquest s&#237; que prou &quot;atado y bien atado&quot;, tot i que avui es prefereix pensar que no era aix&#237;. Hi trobem doncs exposicions en homenatge a Foix i a Mir&#243; (ambdues l'any 1973), i en favor de l'amnistia (1976); i tamb&#233; exposicions de totes les menes d'expressi&#243; art&#237;stica alternativa i marginal en les que Rabascall s'hi troba c&#242;mode: de la tramesa postal (alias <i>mail art</i>) a la poesia visual, i de l'objecte al llibre d'artista i altres edicions seriades (postals, gravats i m&#250;ltiples), tot passant pel cinema de petit format (per la seva participaci&#243; a <i>En la ciudad</i>, 1976: un film col.lectiu que va endegar el qui aix&#242; signa, tot volent revifar el cinema experimental i d'artistes entre nosaltres).</p>

<p> Endem&#233;s, aquesta lletra petita enregistra tot un seguit de llocs, iniciatives i projectes: la Fundaci&#243; Mir&#243;, quan encara bategava el seu plantejament original d'esdevenir un lloc viu i de recolze de l'art jove i m&#233;s experimental, aix&#237; com l'&#192;mbit de Recerca que s'hi va constituir (i tamb&#233; desfer-se) a la segona meitat dels setanta; el col.lectiu d'artistes que es va aplegar a l'entorn de la Galeria 'G' i, m&#233;s tard, a partir de 1980, el que va contribuir a posar en marxa l'espai Metr&#242;nom de Rafael Tous; les ef&#237;meres publicacions de l'<i>Art Enll&#224;</i> de Manel Valls, &quot;Col.lecci&#243; de postals d'art contemporani&quot;, a la que Rabascall va contribuir-hi amb la s&#232;rie <i>Oda
(Freudiana) a Barcelona</i>, 1977, recull de la iconografia f&#224;l.lica en l'arquitectura i monuments de Barcelona; les encara m&#233;s comptades de la revisteta <i>Visual</i> del FVI, publicaci&#243; peri&#242;dica (que no ho va ser) dedicada al cinema, el v&#237;deo i els mitjans alternatius, en el segon, i &#250;ltim, n&#250;mero de la qual (1978) Rabascall hi va publicar el projecte d'un film que no arrib&#224; a realitzar, <i>Megal&#242;polis</i>; i les m&#233;s pulcres de Les edicions dels dies, de la llibreria sabadellenca del mateix nom (il.lustracions al llibre de Jordi Coca, <i>Incidents a l'horitz&#243;</i>, 1983).</p>

<p> En lletra m&#233;s gran cal destacar l'exposici&#243; del 1977 a la Sala Pelaires, de Ciutat de Mallorca, on la s&#232;rie <i>Spain is Different</i>, augmentada amb noves peces, fou acompanyada d'una nova obra referida a les primeres eleccions democr&#224;tiques a l'Espanya de la transici&#243;. A <i>Elecciones Show</i>, Rabascall va organitzar les imatges i missatges en una instal.laci&#243; audiovisual, amb triple projecci&#243; de diapositives que juxtaposaven les imatges dels l&#237;ders pol&#237;tics, de les masses convocades, i dels pits-i-cuixes de les revistes del &quot;destape&quot; postfranquista, tot aix&#242; acompanyat per una banda sonora feta d'una successi&#243; de &quot;canciones del verano&quot;, i amb el terra de l'espai encatifat per tot de paperassa de la campanya electoral. La faceta de Rabascall com a instal.lador &#8212;bricolador ho &#233;s sempre&#8212; no es coneix gaire, i realment no &#233;s que l'hagi freq&#252;entat molt, per&#242; la translaci&#243;
dels seus procediments caracter&#237;stics a l'espai tri- o tetradimensional de la instal.laci&#243; no li suposa apartar-se gens ni mica de la despullada unitat del seu treball, i aix&#242; em sembla que es podr&#224; comprovar ara, en l'exposici&#243; a les sales del Palau de la Virreina que aquesta publicaci&#243; acompanya.</p>

<p> Les imatges de <i>Spain is different</i> reaparegueren un cop m&#233;s a l'exposici&#243; de Rabascall al Casino de Cadaqu&#233;s, l'any 1978, per&#242;
envoltades pels resultats d'una acci&#243; intitulada <i>Canvi cultural</i>, que consist&#237; en demanar a diferents editors i escriptors de Barcelona i de Par&#237;s la cessi&#243; de llibres i altres publicacions per a la Biblioteca de Cadaqu&#233;s; acci&#243;, o senzillament convocat&#242;ria, amb la voluntat de &quot;subratllar la mutaci&#243; social i sobretot el canvi cultural que s'afirma en el pa&#237;s a partir de l'any 1976, i al mateix temps senyalar la import&#224;ncia de la biblioteca [...] com a lloc cultural al servei de la poblaci&#243;&quot;. 11</p>

<p> Tamb&#233; amb lletra gran, per&#242; de fet fora del curriculum de l'artista, i dintre de la de l'anartista i l'arxivista, cal esmentar l'exposici&#243; <i>Cartells del Maig 68 a Par&#237;s</i>, presentada pel maig del 1978 al Col.legi d'Arquitectes de Barcelona, on Rabascall hi aport&#224; la seva important col.lecci&#243; d'aquells manifestos gr&#224;fics que reivindicaren &quot;la imaginaci&#243; al poder&quot;, i que esdevingueren eloq&#252;ents i preuats testimonis d'uns fets trasbalsadors, viscuts molt de prop per ell. I tamb&#233; cal esmentar la
<i>Festa de la Lletra</i>, celebrada el 1979 a diferents sales de Barcelona, convocat&#242;ria oberta a tots els qui es valen de la lletra com a element visual i sem&#224;ntic, organitzada per un comit&#233; aix&#237; mateix plural de professionals de les arts i dels oficis m&#233;s familiaritzats amb aquest instrument: disseny, tipografia, publicitat, humor gr&#224;fic, etc. (La <i>Festa</i> va n&#232;ixer a Fran&#231;a, i Rabascall n'ha estat un dels seus promotors des del comen&#231;ament, i al llarg del periple de les successives edicions). Com a continuaci&#243; del projecte din&#224;mic de la <i>F&#234;te de la Lettre</i>, Rabascall present&#224; a la Galeria Eude de Barcelona, l'any 1983, una s&#232;rie de postals editades per ell, a partir de les obres de diferents artistes, les quals foren exposades conjuntament amb les postals, sota el t&#237;tol de
<i>Text/Imatge: de l'original a la c&#242;pia</i>
(hi participaren, entre altres, Ben Vautier, J.F. Bory, Jiri Kolar, Muntadas, Catalina Parra, Benet Rossell i el dibuixant Willem).</p>

<p> De resultes probablement de les visites estiuenques a la Catalunya del turisme i les vacances, a l'inici dels anys vuitanta Rabascall va fer una s&#232;rie de <i>Paisatges</i>, sorgida de la seg&#252;ent reflexi&#243;:</p>

<p>
&quot;El concepte de paisatge &#233;s una constant dintre la Hist&#242;ria de l'Art contemporani, com pot ser-ho el concepte de retrat o de natura morta. &#201;s amb la intenci&#243; de fer-ne una nova versi&#243; que, durant l'estiu 1981, vaig rec&#242;rrer la Costa Brava, defugint els punts de vista i els t&#242;pics habituals en aquests casos. [...]</p>

<p>
&quot;Aquesta s&#232;rie d'imatges, aquesta s&#232;rie de paisatges, ha estat feta a partir d'un paisatge conegut per mi des de fa molt temps, intentant <i>re</i>veure'l i donar-ne una versi&#243; in&#232;dita, i sobretot m&#233;s apropada de la realitat que aquella versi&#243; m&#233;s o menys id&#237;l.lica o pintoresca perpetuada per generacions de pintors paisatgistes.</p>

<p>
&quot;El mot paisatge el trobem integrat dintre la imatge, com una redund&#224;ncia, en diverses lleng&#252;es, m&#233;s la pr&#242;pia del pa&#237;s: el catal&#224;. Els practicants de tots aquests llenguatges han contribu&#239;t, amb m&#233;s o menys responsabilitats, a la transformaci&#243;/degradaci&#243; del paisatge indicat. El mot paisatge esdev&#233; redund&#224;ncia, per&#242; tamb&#233; contrapunt assenyalant que aix&#242;
<i>tamb&#233;</i> &#233;s paisatge, si m&#233;s no des del punt de vista no art&#237;stic. [...]</p>

<p>
&quot;Aquesta <i>re</i>visi&#243;
no coincideix amb les representacions de centenars de milers de postals enviades a tot el m&#243;n des d'aquest territori, ni amb les teles pintades que estan dintre dels apartaments de les
'urbanitzacions' que paradoxalment han contribu&#239;t a la desfeta del paisatge inicial, aquell d'una bellesa natural de la costa, dels seus habitants dedicats principalment a la pesca i a la petita ind&#250;stria, i un urbanisme esc&#224;s&quot;. 12</p>

<p> Aquesta aproximaci&#243; al tema &#233;s la que donar&#224;
lloc a l'exposici&#243; de Rabascall a la Galeria Canaleta de Figueres, l'any 1982, i a l'edici&#243; paral.lela d'una col.lecci&#243; de dotze postals amb el t&#237;tol de <i>Costa Brava: Paisatge</i>. S&#243;n efectivament dotze paisatges esguerrats, dotze vistes i records (que seria millor esborrar) d'una Costa Brava esbravada per l'especulaci&#243;
immobili&#224;ria, el mal gust, l'urbanisme salvatge i la p&#232;rdua de la identitat local; i per l'explotaci&#243; tur&#237;stica massiva, i a tot preu, d'uns recursos naturals que esdevenen com m&#233;s va m&#233;s artificials, per les ca&#242;tiques intervencions que es produeixen amb el reclam d'aquell &quot;<i>Spain is different</i>&quot;, tamb&#233; latent en aquestes imatges.</p>

<p> I, tot seguit, el tema del paisatge s'ha perllongat d'una altra manera, i juntament amb altres g&#232;neres o temes &quot;acad&#232;mics&quot; tamb&#233; apuntats en el text de Rabascall abans citat &#8212;la natura morta, el retrat, el nu&#8212;, tot traslladant-se de la imatge-testimoni d'un ecosistema malbaratat a una reclusi&#243; ir&#242;nica en el propi entorn o cercle (vici&#243;s?) de l'art. Pel que fa a aquest nou gir de les imatges &quot;trobades&quot; de Rabascall, jo no puc estar-me de veure-hi un cert paral.lelisme amb una part de l'activitat del seu (i nostre com&#250;) bon amic Muntadas al llarg dels anys vuitanta. 13 Per&#242;, mentre que Muntadas s'ocupa m&#233;s directament de les estructures codificades i m&#233;s o menys &quot;invisibles&quot; del m&#243;n de l'art &#8212;<i>Between the Frames</i> (1983-92), <i>haute CULTURE</i> (1983-85), <i>Exposici&#243;n</i>
(1985), <i>Exhibition</i>
(1987), <i>Quarto do fundo</i>
(1987), <i>Situaci&#243;n</i>
(1988),...&#8212;, Rabascall es queda amb les imatges codificades m&#233;s tronades i periclitades (o potser no?), acad&#232;micament alli&#231;onadores i probablement autobiogr&#224;fiques (m'imagino que Rabascall va estar del tot familiaritzat amb aquesta mena d'imatges durant el seu aprenentatge art&#237;stic a la Barcelona dels anys cinquanta). D'aquesta nova s&#232;rie d'imatges, que Rabascall ha englobat sota el t&#237;tol de <i>La lli&#231;&#243; de pintura</i>, un primer tast el va poder tenir el p&#250;blic de l'exposici&#243; <i>Barcelona-Par&#237;s-New York</i>, l'any 1985.</p>

<p> Rabascall no fa altra cosa que seleccionar aquestes imatges d'entre les l&#224;mines de quaderns o recetaris de la bona-vella-pintura, (re)enquadrar-les, ampliar-les, eventualment emmarcar-les i superposar-hi o associar-hi un text &#8212;mot o mots&#8212;
que fan a la vegada de t&#237;tol: <i>Paysage</i>, <i>Still Life</i>, <i>Clair de lune</i>, <i>Coucher de soleil</i>, <i>Seascape</i>, etc. I sempre amb un esperit de <i>d&#233;tournement</i> i un humorisme que es fa del tot pal&#232;s en l'associaci&#243; de certs textos (t&#237;tols) i imatges: <i>Recette de chef-d'oeuvre</i> (1991) o, sobretot, el duchampi&#224; i tant adientment hilarant <i>Nu descendant l'escalier</i> (1987).</p>

<p>
&quot;L'exemple de codification pour faire un bon paysage est simple: la ligne d'horizon doit s'&#233;tablir &#224; peu pr&#232;s aux trois-quarts de la hauteur de la toile; le grand arbre ne doit pas se placer au centre, le chemin court de droite &#224; gauche; aucune ligne de la composition ne doit &#234;tre parall&#232;le, et dans le ciel bleu il y a, bien-s&#251;r, quelques nuages innocents&quot;. 14</p>

<p> Per completar aquest &quot;retrat&quot;, recapitular&#233; tan sols alguns mots, aspectes, facetes, qualificatius, disseminats en les l&#237;nees anteriors i en els escrits de molts altres que s'han ocupat de Rabascall: l'artista, el pintor esdevingut
<i>colleur/bricoleur</i> d'imatges, el paisatgista contestari, el treballador de la imatge 15, el <i>d&#233;tourneur</i>, el poeta d'imatges, objectes i paraules trobades i reiteratives... I l'arxivista, l'activista, l'agent extern, l'individu solidari i el participant de gresques col.lectives, el cr&#237;tic sarc&#224;stic per&#242; sec
(ironia d'afirmaci&#243;?), el vianant, el <i>vacancier</i> antitur&#237;stic, el del <i>farniente sp&#233;culatif</i> 16 o de <i>ne pas trop intervenir, agir moins</i> 17.
Joan Rabascall, catal&#224; de Par&#237;s i <i>parisien de la Catalogne</i>.</p>

<p> Barcelona, maig de 1992</p>



<p> <u><b>NOTES</b></u></p>

<p> 1	Entrevista amb Joan Rabascall per Albert Maci&#224;, al cat&#224;leg <i>Idees i Actituds: Entorn de l'art conceptual a Catalunya, 1964-1980</i>, Barcelona, 1992 (p. 200).</p>

<p> 2	Pierre Restany, &quot;Joan Rabascall&quot;, al cat&#224;leg <i>Barcelona-Par&#237;s-New York: El cam&#237; de dotze artistes catalans, 1960-1980</i>, Barcelona, 1985 (p. 141).</p>

<p> 3	Entrevista amb Joan Rabascall per Ant&#243;n X.
Castro, al cat&#224;leg <i>Par&#237;s, por supuesto</i>, Casa de Espa&#241;a, Par&#237;s, gener-mar&#231; 1989 (p. 73).</p>

<p> 4	Alexandre Cirici, &quot;Joan Rabascall: Del pare Profit&#243;s a la m&#224; negra&quot;, a <i>Serra d'Or</i>, any XII, n&#250;m. 128, 15 de maig de 1970 (pp. 49/369-51/371).</p>

<p> 5	<i>Ibidem</i>
(p. 51/371).</p>

<p> 6	<i>Gran Enciclop&#232;dia Catalana</i>, vol. XII, Barcelona, 1978 (p.
273).</p>

<p> 7	Pierre Restany, op. cit. (p. 142).</p>

<p> 8	Aquesta expressi&#243; d'or&#237;gen situacionista es troba en alguns escrits de Rabascall d'aquella &#232;poca; per exemple,
&quot;Pour un d&#233;tournement d'images et des textes&quot;, a <i>Opus International</i>, n&#250;m. 55, Par&#237;s, 1975.</p>

<p> 9	Vegi's el text de Rabascall, &quot;La
'intrahistoria' del arte sociol&#243;gico&quot;, a <i>Batik</i>, n&#250;m. 27, setembre 1976 (pp. 18-19).</p>

<p> 10	Joan Rabascall, resposta a una enquesta de Fred Forest en el llibre d'aquest, <i>Art Sociologique</i>, 10/18-Union G&#233;n&#233;rale d'&#201;ditions, Par&#237;s, 1977 (pp. 331-333).</p>

<p> 11	Del d&#237;ptic publicat amb motiu de l'exposici&#243;, Galeria d'Art L'Amistat, Cadaqu&#233;s, octubre 1978.</p>

<p> 12	Joan Rabascall, a <i>Relligat/Assembling</i>, Metr&#242;nom, Barcelona, primavera 1982.</p>

<p> 13	Vegi's el cat&#224;leg <i>Muntadas: Instal.lacions/Passatges/Intervencions a la Virreina</i>, Servei d'Exposicions, Ajuntament de Barcelona, 1988.</p>

<p> 14	Joan Rabascall, &quot;La le&#231;on de peinture&quot;, a <i>Ad Hoc</i>, n&#250;m. 1, Limoges, primavera 1987 (pp. 84-85)</p>

<p> 15	Cfr. Jordi Coca, &quot;Antoni Muntadas i Joan Rabascall, treballadors de la imatge&quot;, a <i>Serra d'Or</i>, Barcelona, abril 1982 (pp.
29/221-35/227).</p>

<p> 16	Cfr. Jacques Soulillou, &quot;Rabascall farniente sp&#233;culatif ou qu'est-ce la peinture abstraite&quot;, a
<i>L'Humidit&#233;</i>, n&#250;m. 23, Par&#237;s, 1976.</p>

<p> 17	T&#237;tol d'un article de Gilbert Lascault al cat&#224;leg de l'exposici&#243;
de Rabascall al Centre Culturel Municipal de Villeparisis, 1974.</p>
 