<!DOCTYPE html>
<html lang="en" ng-app="library">
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/main_angularjs.css">
	  	<script src="data/dataDiaries.js"></script>        
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
    <div class="container">
     <div ng-controller="DiariesController as diaries">
       <div class="bg" ng-repeat="diary in diaries.diary | orderBy :'date'">
        <div xstyle="background-image:url('img/th/{{diary.cover}}');">
         <img ng-src="img/th/{{diary.cover}}" style="height:50px;width:30px"/>
     	 <p>{{diary.diary_id}} - {{diary.title}}</p>
	 <p>{{diary.date}}</p>
        </div>
       </div>
      </div>
     </div>
    </div>

		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/angular-1.3.14.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script src="js/bootstrap.min.js"></script>
    </body>
</html>
