<!DOCTYPE html>
<html lang="en" ng-app="library">
		<head>
			<link href="css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="css/main_angularjs.css">
			<script src="data/dataDiaries.js"></script>				
		</head>
		<body>
    <div id="jumbotron">
    <div class="container">
			<div ng-controller="DiariesController as diaries" ng-init="order='topics'" class="nopadding">
				<p>Diaries in SVG:</p>
				<ul class="nav nav-pills">
					<li role="presentation"	class="active"><a href="#by-date" ng-click="order='date'">date (from 194 to 1919)</a></li>
					<li role="presentation" ><a href="#by-topic" ng-click="order='topics'">topics (fammily, peace, militar)</a></li>
				</ul>
				<p>&nbsp;</p>
				<svg width="1500px" height="10px" ng-repeat="diary in diaries.diary | orderBy :order"	ng-init="(myarr = []).length = diary.page_no;" class="nopadding">
					<image ng-href="data/covers/{{diary.cover}}" xlink:href=""	x="0" y="0" height="13px" width="10px" />
					<rect ng-repeat="i in myarr track by $index" y="0" x="{{21+6*$index}}" width="5" height="10" style="fill:rgb(0,0,255);stroke-width:0;stroke:rgb(0,0,0)" />
				</svg>
			</div>
		</div>
		</div>

		<!-- Javascript' guest stars: -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-1.3.14.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		</body>
</html>
