<!DOCTYPE html>
<html lang="en" ng-app="library">
		<head>
			<link href="css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="css/main_angularjs.css">
			<script src="data/dataDiaries.js"></script>				
		</head>
		<body>
		<div ng-controller="DiariesController as diaries" ng-init="order='date'">
				<p>Diaries in SVG:</p>
				<ul class="nav nav-pills">
					<li role="presentation" data-toggle="pill" class="active"><a href="#by-date" ng-click="order='date'">by date (from 194 to 1919)</a></li>
			    <li role="presentation" data-toggle="pill"><a href="#by-kind" ng-click="order='kind'">by kind</a></li>
				</ul>
				<p>&nbsp;</p>
		<svg width="15px" height="1000px" ng-repeat="diary in diaries.diary | orderBy :order"	ng-init="(myarr = []).length = diary.page_no;">
			<image ng-href="data/covers/{{diary.cover}}" xlink:href=""	x="0" y="0" height="20px" width="15px" />
			<rect ng-repeat="i in myarr track by $index" x="0" y="{{21+5*$index}}" width="10" height="3" style="fill:rgb(0,0,255);stroke-width:0;stroke:rgb(0,0,0)" />			
		</svg>
		</div>

		<!-- Javascript' guest stars: -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-1.3.14.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		</body>
</html>
