<!DOCTYPE html>
<html lang="en" ng-app="library">
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/main_angularjs.css">
	  	<script src="data/dataDiaries.js"></script>        
    </head>
    <body>

    <div class="jumbotron">
<!--
        <div id="mysvg" >
          <svg id="mysvg" height="450" width="1120" border="3px">
            <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,131,40);stroke-width:4" />
            <path d="M 100 350 q 150 -300 300 0" stroke="blue" stroke-width="5" fill="none" />
          </svg>
        </div>
-->
		<div ng-controller="DiariesController as diaries" ng-init="order='topics'">
        <p>Diaries list:</p>
		<ul class="nav nav-pills">
		  <li role="presentation"  class="active"><a href="#by-date" ng-click="order='date'">date (from 194 to 1919)</a></li>
		  <li role="presentation" ><a href="#by-topic" ng-click="order='topics'">topics (fammily, peace, militar)</a></li>
		</ul>
		<p>&nbsp;</p>
		<div style="clear:both;"></div>
		  <div class="bg" ng-repeat="diary in diaries.diary | orderBy :order">
			<div Xstyle="background-image:url('data/covers/{{diary.cover}}');">
			  <img ng-src="img/{{diary.topics}}.png" />
		    </div>
		  </div>
		</div>
    </div>
    <div id="lines">
    </div>

    <!-- Javascript' guest stars: -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-1.3.14.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

    <script>
    
    function DrawLine(x1, y1, x2, y2){

    if(y1 < y2){
        var pom = y1;
        y1 = y2;
        y2 = pom;
        pom = x1;
        x1 = x2;
        x2 = pom;
      }

    var a = Math.abs(x1-x2);
    var b = Math.abs(y1-y2);
    var c;
    var sx = (x1+x2)/2 ;
    var sy = (y1+y2)/2 ;
    var width = Math.sqrt(a*a + b*b ) ;
    var x = sx - width/2;
    var y = sy;

    a = width / 2;

    c = Math.abs(sx-x);

    b = Math.sqrt(Math.abs(x1-x)*Math.abs(x1-x)+Math.abs(y1-y)*Math.abs(y1-y) );

    var cosb = (b*b - a*a - c*c) / (2*a*c);
    var rad = Math.acos(cosb);
    var deg = (rad*180)/Math.PI

    htmlns = "http://www.w3.org/1999/xhtml";
    div = document.createElementNS(htmlns, "div");
    div.setAttribute('style','border:1px solid black;width:'+width+'px;height:0px;-moz-transform:rotate('+deg+'deg);-webkit-transform:rotate('+deg+'deg);position:absolute;top:'+y+'px;left:'+x+'px;');   

    document.getElementById("lines").appendChild(div);
}
    //DrawLine(100, 100, 400, 400);
    //DrawLine(300, 200, 600, 100);
    //DrawLine(100, 900, 800, 30);
    </script>

    </body>
</html>
