<!DOCTYPE html>
<html lang="en" ng-app="library">
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/main_angularjs.css">
	  	<script src="data/dataDiaries.js"></script>        
    </head>
    <body>

		    <div ng-controller="DiariesController as diaries" ng-init="order='topics'">
          <p>Diaries and pages per diary:</p>
          <ul class="nav nav-pills">
              <li role="presentation"  class="active"><a href="#by-date" ng-click="order='date'">date (from 194 to 1919)</a></li>
		          <li role="presentation" ><a href="#by-topic" ng-click="order='topics'">topics (fammily, peace, militar)</a></li>
          </ul>
          <p>&nbsp;</p>
 
 <div style="width:400px;height:300px">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
        <path d="M 8 0 L 0 0 0 8" fill="" stroke="gray" stroke-width="0.5"/>
      </pattern>
      <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
        <rect width="80" height="80" fill="url(#smallGrid)"/>
        <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1"/>
      </pattern>
    </defs>

    <rect width="100%" height="100%" fill="url(#grid)" />
  </svg>
</div>
<!--
          <svg id="mycanvas" height="450" width="1120" border="3px" class="bg" ng-repeat="diary in diaries.diary | orderBy :order" ng-init="(myarr = []).length = diary.page_no;">

 
			      <div class="column" Xstyle="background-image:url('data/covers/{{diary.cover}}');"> 
			        <img ng-src="img/{{diary.topics}}.png" />
			        <div ng-repeat="i in myarr track by $index">
                <pagepill></pagepill>
              </div>
            </div> 
-->

          </svg>
		    </div>
		  </div>
    <div id="lines">
    <svg viewBox = "0 0 1100 400" version = "1.1">
    <g stroke = "navy" stroke-width = "3" fill = "none">
        <path d = "M 300 50 a 150 50 0 0 0 250 50"/>
        <path d = "M 300 200 a 150 50 0 0 1 250 50"/>
        <path d = "M 700 50 a 150 50 0 1 0 250 50"/>
        <path d = "M 700 200 a 150 50 0 1 1 250 50"/>
    </g>
    <g text-anchor = "middle" font-size = "25" font = "sans-serif">
        <text x = "400" y = "20">
            large-arc-flag=0
        </text>
        <text x = "825" y = "20">
            large-arc-flag=1
        </text>
    </g>
    <g text-anchor = "end" font-size = "25" font = "sans-serif" rotate = "0">
        <text x = "230" y = "70">
            sweep-flag=0
        </text>
        <text x = "230" y = "220">
            sweep-flag=1
        </text>
    </g>
</svg>
    <svg viewBox = "0 0 1100 400" version = "1.1">
    <g stroke = "black" stroke-width = "3" fill = "none">
        <path d = "M 50 200 a 100 50 0 1 1 250 50"/>
        <path d = "M 400 100 a 100 50 30 1 1 250 50"/>
        <path d = "M 400 300 a 100 50 45 1 1 250 50"/>
        <path d = "M 750 200 a 100 50 135 1 1 250 50"/>
    </g>
</svg>
    </div>

    <!-- Javascript' guest stars: -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-1.3.14.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

    <script>
    
    function DrawLine(x1, y1, x2, y2){

    if(y1 < y2){
        var pom = y1;
        y1 = y2;
        y2 = pom;
        pom = x1;
        x1 = x2;
        x2 = pom;
      }

    var a = Math.abs(x1-x2);
    var b = Math.abs(y1-y2);
    var c;
    var sx = (x1+x2)/2 ;
    var sy = (y1+y2)/2 ;
    var width = Math.sqrt(a*a + b*b ) ;
    var x = sx - width/2;
    var y = sy;

    a = width / 2;

    c = Math.abs(sx-x);

    b = Math.sqrt(Math.abs(x1-x)*Math.abs(x1-x)+Math.abs(y1-y)*Math.abs(y1-y) );

    var cosb = (b*b - a*a - c*c) / (2*a*c);
    var rad = Math.acos(cosb);
    var deg = (rad*180)/Math.PI

    htmlns = "http://www.w3.org/1999/xhtml";
    div = document.createElementNS(htmlns, "div");
    div.setAttribute('style','border:1px solid black;width:'+width+'px;height:0px;-moz-transform:rotate('+deg+'deg);-webkit-transform:rotate('+deg+'deg);position:absolute;top:'+y+'px;left:'+x+'px;');   

    document.getElementById("lines").appendChild(div);
}
    //DrawLine(100, 100, 400, 400);
    //DrawLine(300, 200, 600, 100);
    //DrawLine(100, 900, 800, 30);
    </script>

    </body>
</html>
