<!DOCTYPE html>
<html lang="en"  ng-App="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Explore and read the  collection of WWI diaries from Australian soldiers">
    <meta name="jaume at nualart.cat (2015)" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>diggersdiaries.org</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
   	<link rel="stylesheet" href="css/style.css">


  	<script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>

  <body ng-controller="listControl"> 
    <div ng-include="'partials/header.html'"></div>
    <div class="topcontainerreader">
      <p>Order diaries by: 
        <select ng-init="orderField='author'" ng-model="orderField">
          <option value="author">Author</option>
          <option value="start_date[0].start_year">Date</option>
          <option value="chart[0]">Topic</option>
        </select>
      </p>
    </div>
    <div class="diary-tile" ng-class="{'expand':d.expand}" ng-repeat="d in diaries | orderBy:orderField">
      <a ng-click="clickDiaryTile(d)"><img class="link1" src="img/glyphicons-483-bring-forward.png" /></a>
      <h3>{{d.author}}&nbsp;<a href="http://discoveringanzacs.naa.gov.au/Search/General?query={{d.author}}" target="_{{d.author}}" class="btn-xs">profile >></a></h3>
      <p>{{d.title}}</p>
      <!--<>p>XX: {{d.nid}}/{{d.pages[0].page_no}}</p>-->
      <!--<p>{{d.start_date[0].start_year}}-{{d.end_date[0].end_year}}</p>-->
      <div ng-if="d.expand">
        <p ng-bind="getTopic(focusDiary.chart[0][0], 0)" class="hide"></p>
        <p>Topic chart for the whole diary:</p>
        <div class="chart">
          <div  class="barcontainer clear" ng-repeat = "t in focusDiary.chart | limitTo:5">
          <div class="label left">{{getTopic(t[0],0)}}</div>
          <div class="bar left" ng-style="{'width': t[1]*5 + 'px','background-color': '{{getTopic(t[0],1)}}'}">  </div>
        </div>
      </div>
      <div class="clear"></div>      
      <p>Diary pages [clickable]</p>
      <div class="image-grid">
        <img tabindex="0" ng-src="./data/img/{{mypath}}/{{d.nid}}.gif" ng-click="d.expand; pageExpand=true; imageGridClick($event, d.page_no, d)" />
        <div id="flyingdiv" ng-if="pageExpand" ng-style="{'left': focusDiary.left + 'px','top': focusDiary.top + 'px'}"></div>
      </div>
      
      <div class="detail" ng-if="pageExpand && d.expand">
      	<div ng-include="'partials/reader.html'"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- FOOTER -->
    <div ng-include="'partials/footer.html'">
    </div>
    <!-- END FOOTER -->
  </div>

    <!--end of row 2-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
  </body>
</html>
