  <p> <b>El futur(ism)o de la imagen en movimiento</b></p>
<p>  </p>
<p> Este texto, publicado originalmente en el catálogo de la <i>Bienal de la Imagen en Movimiento ’90</i>
(MNCARS), fue revisado y corregido para afinar su redacción y subsanar algún error, más que para actualizarlo, en ocasión de su reimpresión en el volumen <i>Puntos de encuentro en la iconosfera. Interacciones en el audiovisual</i>.
A su vez con el añadido, a modo de cuarta parte o epílogo, de un extracto de otro texto posterior que ha retomado parcialmente el mismo planteamiento, «La invitación al viaje / La experiencia cinemática», del catálogo de una exposición comisariada por el mismo autor: <i>Movimiento aparente: la invitación al viaje inmóvil en las tecnologías ubicuas del tiempo, la imagen y la pantalla</i>, EACC - Espai d’Art Contemporani de Castelló, 2000.</p>
<p>  </p>
<p> <b>I. Antes del cine</b></p>
<p>  </p>
<p> <b>Una invención sin porvenir</b></p>
<p> Es famosa la supuesta réplica de Antoine Lumière cuando, al término de la primera sesión del Cinématographe Lumière en el Grand Café de París, Méliès le abordó con la pretensión de adquirir un ejemplar del novedoso aparato. A lo que, según la leyenda, el <i>père</i> Lumière respondió que no estaba en venta y que no tenía otro porvenir comercial que el de su explotación pasajera como curiosidad científica. Afortunadamente para Méliès, los Lumière no fueron los únicos que <i>inventaron</i> el cinema.</p>
<p>  </p>
<p> Esta socorrida anécdota, presuntamente reveladora de la inocencia y dudosa clarividencia de los entrañables padres putativos del cine en tanto que arte e industria (con un planteamiento razonablemente ajustado a la naturaleza familiar de su empresa), tiene a su vez algo de emblema de los diversos impulsos a partir de los que el cine se desarrolló; de la mezcolanza de cientifismo e ilusionismo, cinetismo y animismo que, según propuso Siegfried Kracauer, halla en Lumière y Méliès su tesis y antítesis.</p>
<p>  </p>
<p> Pero, dejando de lado ese porvenir comercial al que expresamente se refiere la profecía errada que se atribuye al patriarca de los Lumière, he querido extraer de aquellas palabras un punto de partida para un texto que recorre con grandes saltos el (dis)curso utópico del cine y demás artes e industrias audiovisuales. Esa invención a la que me refiero representa entonces un instante primitivo de utopía, y un eslabón en una cadena más extensa de invenciones y quimeras.  </p>
<p>  </p>
<p> <b>...pero con pasado</b></p>
<p> Todo el siglo XIX es un continuo despliegue de invenciones para el ojo (a veces también para el oído), concebidas o acogidas como entretenimientos, juguetes instructivos, recreaciones científicas, lámparas maravillosas, ruedas de la vida,[[[1]]] teatros ópticos, arquitecturas de la ilusión… O también como pruebas materiales, o por lo contrario impalpables, de un principio científico o de un atisbo pretecnológico. La evolución del cinematógrafo arrinconará en apenas unos años aquellos vetustos aparatos y cacharros, pasando a formar parte de lo que se ha dado en llamar la prehistoria o <i>arqueología</i> del cine.</p>
<p>  </p>
<p> Y es que, ciertamente, gran parte de los fundamentos del invento resuelto satisfactoriamente al cabo del siglo, se asientan en esa cadena de invenciones, descubrimientos, juegos primitivos que se puede remontar incluso mucho más atrás en el tiempo, ya que comenzaría por la asociación de la luz con la producción de imágenes ilusorias: desde los ancestrales juegos de sombras de origen oriental (que se popularizaron en Europa en el siglo XIX) hasta la incombustible linterna mágica (cuyos antecedentes discurren del siglo XV al XVII, con Leonardo da Vinci, Giovanni Battista della Porta, Athanasius Kircher, Christiaan Huygens y Thomas Rasmussen Walgensten).</p>
<p>  </p>
<p> Las <i>fantasmagorías</i> de Étienne-Gaspard Robertson, ya al filo del siglo XIX, son un primer apogeo del ilusionismo y el espiritismo: una galería de espectros y apariciones que se desplazan en el espacio por la proyección de imágenes en sucesivos velos superpuestos. Más adelante, con las linternas múltiples, las <i>dissolving views</i> de Paul de Philipsthal a Henry L. Child (entre 1800-1840) y la combinación de la linterna con las ruedas de la vida –del proyector de Franz von Uchatius (1845), basado en el fenaquistiscopio de Joseph-Antoine Ferdinand Plateau, al praxinoscopio de proyección de Émile Reynaud
(1880) fundamento de su <i>Théâtre Optique</i>–, la persecución del efecto cinético nos lleva de la primitiva linterna al albor mismo del cinematógrafo.</p>
<p>  </p>
<p> La fotografía introducirá a su vez un nuevo sendero, aunque en parte puede entenderse como un ensanchamiento del anterior, pues el desarrollo de la cronofotografía y de las «fotografías animadas» –del análisis y la síntesis fotográfica del movimiento– tiene bastante que ver con los mismos fundamentos de las ruedas de la vida y de su combinación con la linterna. Ruedas o discos son al fin y al cabo componentes esenciales del fasmatropo de Henry Renno Heyl, biofantascopio de John Arthur Roebuck Rudge, zoopraxiscopio (o zoogiroscopio) de Eadweard Muybridge, fusil fotográfico de Étienne-Jules Marey (a su vez inspirado en el revólver fotográfico del astrónomo Jules Janssen), taquiscopio o <i>Schnellseher</i> de Ottomar Anschütz, fonoscopio de Georges Demenÿ, cronógrafo eléctrico de Albert Londe, etc. Y, con la implantación del film de emulsión fotográfica, las ruedas se multiplican y diversifican en distintas escalas y funciones mecánicas: de las bobinas y el rollo de película a los rodamientos de tracción y de intermitencia, ruedas dentadas, obturadores, poleas de transmisión y engranajes varios.</p>
<p>  </p>
<p> <b>Precinema e historia del cine</b></p>
<p> El inventario de las invenciones precinematográficas es consabidamente vasto, lo que no deja de suscitar algunos problemas básicos a la hora de delimitar/razonar lo que abarcaría dicho concepto. Por otro lado, aunque frecuentemente amueblada con las cultas antigüedades de mitos y aporías filosóficas (caverna de Platón, flecha de Zenón) y de ilustres cachivaches de la ciencia óptica, la historia del cine que ha primado no podía ver más que meras premoniciones en los juguetes y hallazgos decimonónicos: en las fantasías ópticas, la linterna y las ruedas de imágenes, así como, de manera global, en todo lo que es imagen dibujada y animada, prefotográfica (acogida sin embargo al estatuto particular de los precedentes del cine de animación) y, por
último, en los ensayos pre- o primicinematográficos de incorporación del sonido, el color y el relieve tridimensional.</p>
<p>  </p>
<p> Significativamente, este punto de vista tan lineal como superficial ha sido puesto en entredicho por diversos historiadores, teóricos, investigadores que, con un marcado interés por el cine primitivo, han aportado metodologías renovadoras y frescos acercamientos para la revisión y superación de hitos y esquemas historiográficos anteriores. Sin embargo, en la medida en que el grueso de los trabajos académicos e investigaciones de esta índole se decanta por la genealogía de la industria, los códigos, los efectos imperantes en la evolución hegemónica del medio –en la constitución de lo que Noël Burch ha definido en su conciso enunciado del MRI (Modo de Representación Institucional)–, no son nada extrañas las reservas que por ejemplo ha suscitado la propuesta que Charles Musser expuso hace unos años acerca de una hipotética historia de las imágenes proyectadas (y, circunstancialmente, con acompañamiento sonoro) como el contexto más apropiado para realojar la disciplina de la historia del cine, al menos en lo que concierne a sus orígenes.[[[2]]]</p>
<p>  </p>
<p> <b>Precinema y cine de vanguardia</b></p>
<p> Por contraste, las reivindicaciones del precinema y del cine primitivo en los círculos del cine experimental han ido mucho más allá, al aportar una comprensión más totalizadora y al buscar en los comienzos un acicate para empezar de nuevo, desde cero y al margen del desarrollo institucional del medio.</p>
<p>  </p>
<p> Para desgranar tan solo algunas referencias, cabe mencionar obras como <i>Tom, Tom, the Piper's Son</i>
(1969-71), de Ken Jacobs, que escruta con sucesivas variaciones un film de 1905 de Billy Bitzer (después operador predilecto de D.W.
Griffith), u otras de Klaus Wyborny, Malcolm Le Grice, Bill Brand o Ernie Gehr, asimismo basadas en ejemplares señalados o «encontrados»
(redescubiertos) de cine primitivo; las performances del mismo Jacobs con el Apparition Theater of New York, y su combinación del teatro de sombras con las proyecciones estereoscópicas; las exploraciones de Guy Fihman y Claudine Eizykman en el cine holográfico, reclamándose herederos en espíritu de los artífices del precinema; los mutoscopios del escultor y cineasta Robert Breer y su declarada admiración por la obra de Émile Cohl (ostensible en varias de sus animaciones); las diversas reelaboraciones de las imágenes secuenciales y simultaneístas de la cronofotografía (<i>Pas de deux</i>, 1968, de Norman McLaren; <i>Crossings and Meetings</i>, 1974, de Ed Emshwiller; las «reanimaciones» de las secuencias de Muybridge por distintos autores); el proceso artesano llevado al extremo del revelado casero y deliberadamente «sucio» de la película (en los films de Paolo Gioli o Klaus Telscher, entre otros), o incluso la anacrónica reutilización de la manivela para la tracción de la película en la cámara (como en <i>Le bleu des origines</i>, 1978, de Philippe Garrel); por supuesto, el primitivismo cinematográfico del primer Andy Warhol y, en cierto modo, el empeño de Stan Brakhage de prescindir del sonido como un elemento superfluo a lo largo de casi toda su (extensa) filmografía; o también el reductivismo posminimalista de buena parte del cine estructural y expandido de los años setenta, como por ejemplo las primeras obras de Anthony McCall, en las que juega exclusivamente con el volumen inmaterial del haz de luz proyectado.</p>
<p>  </p>
<p> El cineasta alemán Werner Nekes, por otra parte, ha fundamentado su sugerente teoría del <i>kine</i> como unidad mínima cinematográfica en un juguete precinematográfico tan rudimentario como el taumatropo (1823), con el que su creador, el doctor John Ayrton Paris, apenas pretendía «instruir deleitando», al (de)mostrar el efecto de la persistencia retiniana en la percepción de dos imágenes como una sola. Este elemental artilugio, con el que la historiografía del cine no sabía muy bien qué hacer, a Nekes le ha servido en cambio para proponer un fundamento ontológico y semiótico alternativo –respecto a los textos tenidos por canónicos de André Bazin o Christian Metz, por ejemplo–, sobre la base de que la esencia del lenguaje cinematográfico no es ser imagen en movimiento, sino movimiento y articulación entre dos imágenes. Lo que a su vez refrenda las teorías de Peter Kubelka
–como las del propio Nekes, expresadas básicamente de manera oral–
y sus precedentes en la doctrina «kinok» de los <i>intervalos</i>
(«movimiento entre las imágenes») de Dziga Vertov. Por extensión, el film documental de Nekes sobre la prehistoria del cine, <i>Kino vor Kino</i> (1986), puede verse como una argumentación no académica, sino más bien pulsional
–puesto que su autor es a su vez un apasionado coleccionista de objetos y materiales precinematográficos–, por una lectura distinta de la genealogía del cine.[[[3]]]</p>
<p>  </p>
<p> <b>Otras genealogías</b></p>
<p> Por último, es también a través de las reflexiones suscitadas por las nuevas tecnologías y modalidades de la imagen y lo audiovisual que ahora pueden comprenderse mejor las redes sinópticas que permiten relacionar los hallazgos, inventos, artefactos más añejos e ilustres, no solamente con los senderos más conocidos y frecuentados, sino además con los vericuetos que exigen una especial familiaridad con determinados terrenos. Pueden contemplarse así otras líneas genealógicas, otras fuentes arqueológicas.</p>
<p>  </p>
<p> Hay por ejemplo toda la tradición de los órganos o teclados de colores, usualmente ausente de las historias del cine al uso, comenzando por el <i>Clavecin oculaire</i> de Louis-Bertrand Castel, discípulo de Isaac Newton, en 1734; tradición que prosigue desde mediados del siglo XIX, y hasta los primeros años del XX, con el <i>Pyrophone</i> de Frédéric Kastner; los órganos cromáticos de Bainbridge Bishop, Alexander Wallace Rimington o Alexander Burnett Hector; y las composiciones sinfónicas finales de Aleksandr Scriabin, en las que persigue la integración de la <i>luce</i> como un instrumento más. Sucesivamente, el periodo de entreguerras es particularmente rico en toda suerte de invenciones y experiencias de este tipo: piano optofónico de Vladimir Baranoff-Rossiné, <i>teatro del colore</i> de Achille Ricciardi, <i>Chromatophon</i> de Anatol Graf Vietinghoff-Scheel, <i>Sarabet</i> de Mary Hallock-Greenewalt, <i>Clavilux</i> y primeros <i>Lumia</i> de Thomas Wilfred; proyecciones luminocinéticas de Ludwig Hirschfeld-Mack, Kurt Schwerdtfeger y Josef Hartwig en la Bauhaus; <i>Sonochromatoskop</i> de Alexander László, <i>optofonética</i> de Raoul Hausmann, <i>cromofonías</i> de Charles Blanc-Gatti, etc. No es difícil ver aquí un preludio, y también un desarrollo en paralelo, al cine abstracto y a la noción conexa de <i>música visual</i>.
Y a su vez, la prolongación de dicha tradición en el arte óptico, cinético y luminodinámico de los años cincuenta y sesenta, en las tendencias abstractas o constructivistas del arte por ordenador, y en la experimentación con videosintetizadores, colorizadores, etc.</p>
<p>  </p>
<p> Luego hay el panorama y el diorama, dispositivos un tanto extraños a la historia del cine –aunque frecuentemente mencionados en sus páginas arqueológicas–, que pueden relacionarse sucesivamente con las pantallas de 360º del
<i>Photorama</i>
(1900), panorama de proyecciones fotográficas de los Lumière, y del
<i>Ballon-Cinéorama</i>
(1900), de Raoul Grimoin-Sanson, así como con el vagón ferroviario de los <i>Hale's Tours</i>
(1904) y toda una sucesión de dispositivos espectaculares de simulación ultrarrealista que hallarán su principal alojamiento en exposiciones universales, parques de atracciones y museos o
«ciudades» de la ciencia: pantallas circulares, esféricas, hemiesféricas y de multivisión; <i>Panorama</i>, <i>Sensorama</i>, <i>Omnimax</i>, etc. Relación que puede hacerse extensiva también a las instalaciones o entornos del cine experimental/expandido, y a las videoinstalaciones, las instalaciones multimedia y los entornos de simulación informática.</p>
<p>  </p>
<p> Y, por último, no debería pasar desapercibida la cadena de invenciones, prácticamente contemporánea de la que conduce al cinematógrafo, que constituyen los pasos y tientos previos al asentamiento de la televisión como una tecnología específica, partiendo en su caso de la telegrafía óptica, del análisis y conversión de las imágenes en impulsos eléctricos
(señales), del descubrimiento de las ondas electromagnéticas y sus propiedades, etc.</p>
<p>  </p>
<p> <b>La imagen en movimiento o el cine
«total»</b></p>
<p> En el presente tecnoelectrónico del vídeo y la informática ha empezado a tomar cuerpo una comprensión global de las distintas tecnologías y facetas de la imagen móvil, privilegiando sus aspectos «transitivos» por encima de una teleología y de una ya un tanto anacrónica doctrina de la autonomía
(léase especificidad) de los medios. Esta nueva concepción que se apunta de un cine <i>total</i>
–pero como mera totalidad, suma-y-sigue, de los instrumentos para la producción de imágenes cinéticas, antes que como fusión de todas las artes (Ricciotto Canudo) o «realismo integral» (André
Bazin)– conlleva la necesidad de reinterpretar sus fuentes y cadenas genéticas.</p>
<p>  </p>
<p> Arte de la imagen en movimiento, artes cinemáticas –«hay el cinema y hay el arte del cinema», escribió Abel Gance–, artes audiovisuales o basadas en el tiempo son algunos de los términos con los que se ha probado de acotar un amplio campo de búsquedas e invenciones, de expresiones y expansiones, que empiezan con el cine antes del cine (Cinematógrafo Lumière) y se extienden más allá de él (cine expandido, cine electrónico del vídeo y del ordenador, cine holográfico).</p>
<p>  </p>
<p> En una época en que las pompas fúnebres y los términos drásticos se han convertido en algo corriente a la hora de tomarle el pulso al cine y a la cultura audiovisual en general, la rehabilitación de la utopía y el futurismo parece solamente posible con miras exclusivamente históricas. Así, al ocuparme del precinema, del primer cine de las vanguardias y de la «expansión» del cine (según una percepción característica de los movidos y felices sesenta), me mantengo siempre en los comienzos, en los momentos utópicos y de las profecías de lo que está por venir. En la proyección cíclica de una mentalidad futurista, por tanto. Pero, a fin de cuentas, también para contrastar el presente, vislumbrar una vez más el futuro.</p>
<p>  </p>
<p>  </p>
<p> <b>II. Futurismo y cine de las vanguardias</b></p>
<p>  </p>
<p> <b>Del dinamismo plástico al cinema</b></p>
<p>
«La cronofotografía estaba en boga...; el cine aún en pañales...; la idea general de movimiento, de velocidad, estaba en el aire». Son frases entresacadas de diversas pero similares respuestas de Marcel Duchamp, cada vez que le interrogaban sobre la influencia del cine en su <i>Desnudo bajando una escalera</i>
(1911-1912).</p>
<p>  </p>
<p>
«El cine es muy moderno –escribirá
Fernand Léger–. El cine y la aviación caminan del brazo, han nacido el mismo día. La velocidad es la ley del mundo.»</p>
<p>  </p>
<p> Y en el <i>Manifiesto técnico de la pintura futurista</i>
(1910), Giacomo Balla, Umberto Boccioni, Carlo Carrà, Luigi Russolo y Gino Severini suscriben: «Todo se mueve, todo corre, todo se transforma rápidamente. Una figura nunca permanece quieta ante nuestra vista, sino que aparece y desaparece incesantemente. Por la persistencia de las imágenes en la retina, los objetos en movimiento se multiplican, se deforman, se suceden como vibraciones en el espacio que recorren. Así pues, un caballo al galope no tiene cuatro patas: tiene veinte, y sus movimientos son triangulares.»</p>
<p>  </p>
<p> La descomposición de la perspectiva monocular, las nociones de dinamismo y simultaneidad, la preocupación por el tiempo y el enigma de la cuarta dimensión son algunos de los rasgos que caracterizan la sensibilidad de los jóvenes artistas del nuevo siglo frente a los prodigios de la velocidad y la luz; de la mecánica, la máquina y la electricidad; de la aceleración de los transportes (y las comunicaciones), el progreso científico, el bullicio de las ciudades y el desfile vertiginoso de las imágenes cinematográficas.</p>
<p>  </p>
<p> Los futuristas italianos han ensalzado así «la nueva belleza de la velocidad» («un coche de carreras... es más bello que la Victoria de Samotracia», escribió
Filippo Tommaso Marinetti en el manifiesto fundacional del futurismo de 1909) y han hecho del dinamismo una divisa ética y estética que se resuelve de distintas maneras según los medios empleados: pintura y escultura, palabras-en-libertad, declamación dinámico-sinóptica, teatro sintético, «fotodinamismo futurista» de Anton Giulio Bragaglia, «música ruidista» de Russolo, «danzas mecánicas»,
«tactilismo»,... hasta la «aeropoesía», la «aeropintura», el
«aeroteatro» y la «radia» –o arte de las ondas radiofónicas–
en el tardofuturismo de la Italia fascista. Se comprende pues que, a medio camino entre el dinamismo plástico y el aliento utópico de un arte «aéreo», Marinetti y adláteres hayan visto en el cine «la posibilidad de un arte eminentemente futurista y <i>el medio expresivo que mejor se adapta a la plurisensibilidad del artista futurista</i>.»</p>
<p>  </p>
<p> <b>Las anticipaciones del futurismo</b></p>
<p> Sobran razones para que los estudios históricos del cine experimental (en particular, los escritos después de 1970) hayan concedido un progresivo relieve al futurismo en la demarcación de sus orígenes, de la misma manera que lo ha cobrado en relación con el estudio de las vanguardias artísticas en general y para terrenos o aspectos tales como la performance, la música, la poesía experimental o la relación entre arte y tecnología. Una de dichas razones es el carácter anticipador que retrospectivamente ha adquirido el manifiesto de la cinematografía futurista (1916). Sin embargo, dado que el susodicho manifiesto no parece haber tenido en su momento la divulgación y alcance de otras proclamas futuristas, su contenido podría verse como un ensamblaje colectivo de ideas, atrevidas e inventivas, pero que estaban por lo demás en el aire de una época de gran agitación artística e intelectual.</p>
<p>  </p>
<p> Así, las nociones de
«poliexpresividad» y del cine como «sinfonía poliexpresiva» que abren el contenido programático del manifiesto, si bien remiten claramente al anhelo del arte total («pintura + escultura +
dinamismo plástico + palabras en libertad + <i>intonarumori</i>
+ arquitectura + teatro sintético = cinematografía futurista»), pueden relacionarse asimismo con el <i>policinema</i> que László Moholy-Nagy imagina y la <i>polivisión</i> que Gance realiza (ambos hacia la mitad de los años veinte), y con el posteriormente llamado «cine expandido». El lugar privilegiado que se concede a la metáfora queda expuesto en varios de los puntos que el manifiesto detalla a continuación: «analogías», «estados de ánimo escenificados» o «planos estratégicos de sentimientos»; es decir, el lenguaje poético antes que narrativo con que se identifica gran parte del cine de vanguardia. «Poesías cinematografiadas» serán, por ejemplo, <i>Manhatta</i>
(1921), de Charles Sheeler y Paul Strand, o <i>L'étoile de mer</i> (1927), de Man Ray, sobre poemas de Walt Whitman y Robert Desnos respectivamente. La
«simultaneidad y compenetración de tiempos y espacios diversos»
para ofrecer «en el mismo instante/encuadre dos o tres visiones diferentes», está en la abundante utilización de la sobreimpresión o el encuadre compuesto –también la polivisión– por Gance, Marcel L'Herbier, Léger, Vertov, etc. «Investigaciones musicales
(disonancias, acordes, sinfonías de gestos, hechos, colores, líneas, etc.)» y «equivalencias lineales plásticas, cromáticas. de hombres, mujeres, acontecimientos, pensamientos, músicas, sentimientos, pesos, olores, ruidos» son, en primer lugar, las del cine abstracto (o absoluto, puro, integral). «Dramas de objetos» y
«palabras en libertad en movimiento» se encuentran en los films de
Émile Cohl, Hans Richter, Léger, Duchamp, McLaren, etc. La
«reconstrucción irreal del cuerpo humano» formará parte de los experimentos de Lev Kuleshov sobre el montaje (<i>La mujer ideal</i>, 1920). Y como «prácticas cotidianas para liberarse de la lógica» podrían entenderse, por último, los primeros films «automáticos» de Man Ray o, en los años sesenta, los sencillos ejercicios de Marie Menken
(<i>Notebook</i> en especial) y los «diarios filmados» de Jonas Mekas y otros.[[[4]]]  </p>
<p>  </p>
<p> La contribución cinematográfica de los futuristas fue de hecho escasa y dispersa (y, además, la mayor parte de los films directa o indirectamente emparentados con dicho movimiento se dan hoy por perdidos). Pero su acercamiento al cine es, en conjunto, sumamente ilustrativo; tanto en relación con el de sus contemporáneos como con el de sus sucesores inmediatos.</p>
<p>  </p>
<p> <b>Cine abstracto, música visual</b></p>
<p> Una primera senda es la que abren el pintor Arnaldo Ginna y su hermano Bruno Corra (cuyos verdaderos apellidos eran Ginnani Corradini), entre 1910 y 1912, con una serie de experiencias minuciosamente descritas en un escrito de Corra con el significativo título de «Música cromática». Se trata de una de las primeras manifestaciones conocidas de cine abstracto, prosiguiendo la investigación de las correspondencias entre la música y el color que se había iniciado con los clavecines y
órganos de colores de los siglos XVIII y XIX. De hecho, Corra y Ginna empezaron por construir un elemental <i>pianoforte cromatico</i>, para después descubrir mayores posibilidades en el cinematógrafo y, más en concreto, en el procedimiento de pintar sobre película transparente, con el que realizaron un total de seis piezas. El particular acercamiento de los hermanos Corradini se concreta en la búsqueda de
«un arte <i>temporal</i>»
y como parte de la más ambiciosa aspiración hacia un «arte del porvenir», en el que «todas las artes [sean] llevadas a confluir en una ley única». Sus planteamientos resuenan como un estribillo que ya se había hecho oír y que se seguirá oyendo.</p>
<p>  </p>
<p> Como traslación de la práctica de la pintura al soporte fílmico y su dimensión temporal para la resolución del problema del dinamismo plástico, la germinación del cine abstracto y la noción asociada de música cromática o visual muestra muy claramente que el cine de vanguardia –de las vanguardias, creo mejor decir– nace de una serie de movimientos que se encabalgan, y comprenden el futurismo y el cubismo, la abstracción expresionista y geométrica, dadá y el constructivismo, para alcanzar su edad de oro a lo largo de los años veinte y hasta el comienzo de los treinta.</p>
<p>  </p>
<p> Esto puede comprobarse a través de lo que se conoce respecto a los proyectos o realizaciones en los años diez de otros artistas plásticos que, pese a su trayectoria errante o su individualismo, aparecen o pueden ser relacionados con varios de los movimientos mencionados: Léopold Survage con su frustrado proyecto de un film de animación abstracto, <i>Le rythme coloré</i>
(1912-1914); Pablo Picasso, que acarició también por aquellos años la idea de utilizar el film para la creación de un «arte móvil»; la singular pintura-cinética-con-sonido de Duncan Grant en 1914,[[[5]]] así como las composiciones plásticas secuenciales de similares características de Viking Eggeling y Hans Richter antes de lograr trasladar sus ideas al film de animación no-objetivo.[[[6]]]</p>
<p>  </p>
<p> <b>El cine de los futuristas</b></p>
<p> El film colectivo <i>Vita futurista</i> (1916) fue realizado bajo la dirección técnica de Ginna, con la probable financiación de Marinetti y la complicidad en el guión y en el reparto de los demás firmantes del manifiesto de la cinematografía futurista: el pintor Balla y los escritores Remo Chiti, Bruno Corra y Emilio Settimelli. Dado que todo lo que ha quedado de este film son apenas algunas fotos y descripciones de su contenido, mucho se ha especulado sobre hasta qué punto <i>Vita futurista</i> era una puesta en práctica de los enunciados del manifiesto, redactado aquel mismo año. En todo caso, parece hoy haber un cierto consenso en que sí
anticiparía al menos el libertinaje narrativo del cine dadá y surrealista. La concepción del film en episodios o <i>sketches</i> autónomos se relaciona por otra parte con la reivindicación futurista del teatro de variedades y con el «teatro sintético» y las <i>serate</i>, lo cual se resalta de manera explícita en el manifiesto.</p>
<p>  </p>
<p> Las restantes aportaciones cinematográficas de los futuristas italianos entran en un terreno más pantanoso, aunque no menos anticipador. Por un lado, a través de síntesis, dramas de objetos, poemas, palabras en libertad, prosas, ensayos y guiones o argumentos, la primera y las posteriores generaciones de artistas y escritores futuristas inauguran y participan de un acentuado interés por el cine que, la mayoría de las veces, se resuelve literariamente, aunque también en algunas tentativas o proyectos frustrados. Constituyen parte de un rico fondo de cine imaginario, «potencial», y de ideas acerca del mismo, a partir del cual podemos obtener un conocimiento complementario del cine de las vanguardias.</p>
<p>  </p>
<p> Por otro lado, hay la relación con las prácticas industriales, las obras que se acomodan a unos moldes y géneros predeterminados, y la participación de artistas y escritores de vanguardia en el cine de consumo. Este sería por ejemplo el caso de los tres films realizados por Anton Giulio Bragaglia en 1916-1917, y de los que únicamente se ha conservado
<i>Thaïs</i>, con decorados de Enrico Prampolini: una obra sin otros lazos ostensibles con la estética futurista, arcaica en su construcción narrativa y en su condición genérica, aunque por su fantasiosa excentricidad y por la tensión entre superficie y relieve de sus imágenes, forma parte de la familia del Dr. Tube y del Dr. Caligari; más tarde, también <i>L'inhumaine.</i>[<i>[[7]]</i>]</p>
<p>  </p>
<p> <b>Del cubofuturismo ruso a las vanguardias soviéticas</b></p>
<p> Las actividades cinematográficas de los futuristas rusos parece que se han desenvuelto en un territorio intermedio similar, entre la aspiración radical y la adopción de códigos y géneros populares, para desembocar en la parodia y el humor de acuerdo con lo poco que se sabe de los dos títulos de más clara filiación futurista: <i>Drama en el cabaret futurista núm. 13</i>
(1913-14), de los cubofuturistas del grupo Cola de Asno, con Mijail Larionov, Natalia Gontcharova, David y Nicolai Burliuk, Vladimir Maiakovski y otros, bajo la dirección técnica de Vladimir Kassianov; y <i>Yo quiero ser un futurista</i> (1914), del cómico Vitali Lasarenko, muy próximo a los pintores cubofuturistas y a Maiakovski.[[[8]]]</p>
<p>  </p>
<p> La estima que los futuristas sentían por el cine cómico, y que no hará sino ir en aumento entre los dadaístas y surrealistas, no puede por lo demás abstraerse del humorismo iconoclasta y provocativo con el que tratarán de propagar sus ideas, sea a través de la literatura, el teatro, las veladas o, más ocasionalmente, el cine. Varios de los guiones que escribiera Maiakovski participan igualmente de este espíritu, y la parodia y el
<i>burlesque</i> seguirán siendo visitados por los cineastas de la revolución, ya sea de la mano de Mr. West o de Miss Mend, de Glumov o de Octobrina.[[[9]]]</p>
<p>  </p>
<p> Pero si el acercamiento de los futuristas rusos al cine es a fin de cuentas tanto o más parco en resultados que el de los italianos, debe en cambio tenerse en cuenta la proyección que el futurismo tendrá en varios de los grandes cineastas de la vanguardia soviética. No tanto de manera directa, sino a través de su duradero eco (como en Italia, aunque con un signo ideológico contrario) y por los solapamientos entre los sucesivos movimientos estéticos que se despliegan hasta la imposición del realismo socialista a finales de los años veinte: suprematismo, constructivismo, productivismo, excentricismo, la teoría literaria del formalismo, el teatro «biomecánico» de Vsévolod Meyerhold o las «danzas mecánicas» de Nikolai Foregger.</p>
<p>  </p>
<p> Ecos explícitos del futurismo se encuentran por ejemplo en el <i>Manifiesto del excentricismo</i> (de Grigori Kozintsev, Georgy Krizicky, Leonid Trauberg y Serguéi Yutkevitch, 1922), que, partiendo de un interés compartido por el teatro, el cine y la plástica, desemboca en el cine de la FEKS o Fábrica del Actor Excéntrico. Pero la culminación del futurismo y su derivación en el constructivismo revolucionario se concentra en dos de las mayores figuras del cine soviético. Por un lado, en el primer Serguéi Eisenstein –y en especial en <i>La huelga</i> (1924), según han argumentado distintos autores–[[[10]]] y en su proyecto de llevar a la pantalla <i>El capital</i> de Karl Marx
(hacia el final de los años veinte); proyecto con el que acaricia la idea de un <i>cine intelectual</i>, como
«síntesis del film emocional, documental y absoluto [...] cine de la máxima capacidad de conocimiento y también de una máxima sensualidad, en posesión del completo arsenal de todos los medios de acción por estímulos visuales, auditivos y biomotores». Y, por otro lado, en Vertov, cuyas credenciales como futurista son por lo demás conocidas.</p>
<p>  </p>
<p> <b>Vertov, el </b>«<b>cine-ojo</b>»<b> y el cine metarretiniano</b></p>
<p> Sabida es la admiración que el creador del <i>cine-ojo</i> profesó por Maiakovski y el ideario futurista, hasta el punto de cambiar su verdadero nombre (Denis Arkadievich Kaufman) por el de Dziga Vertov: una analogía futurista de movimiento. Por otro lado, al respecto de los experimentos de montaje sonoro que emprendería antes de dedicarse por entero al cine, parece más que probable su familiaridad con el «arte de los ruidos» de Russolo, y aún más con las experimentaciones análogas de su compatriota, el poeta futurista Velimir Khlebnikov. El manifiesto de los <i>kinoks</i>,
«Nosotros» (1919), abunda igualmente en la poética futurista: «El cine es [...] <i>el arte de imaginar los movimientos</i> de las cosas en el espacio [...] Dibujos en movimiento. Croquis en movimiento. Proyectos de futuro inmediato. Teoría de la relatividad en la pantalla. [...] Viva la <i>geometría dinámica</i>, las carreras de puntos, líneas, superficies, volúmenes. Viva la poesía de la máquina muda y en movimiento, la poesía de las palancas, ruedas y alas de acero, el grito de hierro de los movimientos, las cegadoras muecas de los chorros incandescentes.»</p>
<p>  </p>
<p> Y es en concreto con <i>El hombre de la cámara</i>
(1929) que Vertov llevaría a una culminación el futurismo nacido en Italia veinte años antes, así como varias de las ideas expuestas en el manifiesto del cine futurista de 1916. «Esta nueva obra experimental del cine-ojo –escribió Vertov– pretende crear un lenguaje cinematográfico auténticamente internacional, pretende crear la <i>cinescritura absoluta</i>, pretende deslindar totalmente al cinematógrafo del teatro y de la literatura.» La obra que brotó de tales propósitos retoma de manera esplendorosa la temática de la metrópolis tan propia del futurismo, dando rienda suelta a una prodigiosa inventiva en su uso de una amplia gama de recursos cinematográficos (recursos y no
«trucos», recalcaba Vertov) para componer «un film sobre el cine-lenguaje» de una modernidad que el paso del tiempo no ha logrado apagar en lo más mínimo.  </p>
<p>  </p>
<p> Junto a la música visual del cine abstracto o no-objetivo, la sinfonía urbana, el ballet mecánico, la poesía visual de la síntesis y de la fotogenia, el cine-verdad, el cine automático, el humor del sinsentido, la sinrazón del sueño..., las vanguardias históricas han presentido que el cine podría ser también una forma de conocimiento o de epistemología. Una especie de cine metarretiniano, por así decirlo, que Eisenstein ha entrevisto en la traslación del pensamiento materialista-dialéctico de Marx o del <i>stream of consciousness</i> joyciano
(en su también irrealizado propósito de llevar a la pantalla el
<i>Ulisses</i>), y Vertov en la inscripción en su obra de una reflexión sobre el propio medio, lo que constituirá el alevoso justificante para que <i>El hombre de la cámara</i> sea pronto tachada de formalista y relegada durante años al pozo de los films malditos. El cine metarretiniano seguirá perteneciendo al dominio de lo utópico.</p>
<p>  </p>
<p>  </p>
<p> <b>III. Más allá del cine</b></p>
<p>  </p>
<p> <b>Cine expandido</b></p>
<p> Nacida en el agitado medio del cine de vanguardia norteamericano de los años sesenta, la expresión
<i>expanded cinema</i>
(en adelante E.C.) se propagó mayormente a raíz del homónimo libro de Gene Youngblood, publicado en 1970; un admitido ejemplar de la proyección del «futurismo utópico» en un determinado lugar y tiempo (California, finales de los sesenta).[[[11]]] El E.C., viene a decir Youngblood en el prefacio, lo es por analogía con la expansión de la conciencia (ecos de la «política del
éxtasis» de la época resuenan aquí claramente), y como expresión del «constante impulso histórico del hombre de expresar su consciencia fuera de la mente, delante de sus ojos» (ecos también de Marshall McLuhan y su «comprensión de los <i>media</i> como extensiones del hombre»).</p>
<p>  </p>
<p> Designando en principio desde las experiencias de multiproyección al uso de films en el nuevo teatro, del <i>movie-drome</i> y los <i>movie-murals</i> de Stan Vanderbeek al teatro de sombras de Ken Jacobs, de la «máquina de soñar» de Brion Gysin y Ian Somerville a los <i>light-shows</i> psicodélicos, etc., Youngblood ensanchará aún el concepto para abrazar entusiasmado las nuevas perspectivas de los medios y tecnologías poscinematográficas: vídeo, TV, ordenador, holografía, sumándose al cine «sinestésico», personal, anarrativo, cognitivo... y a la multivisión, lo multimedia, el arte luminocinético, los <i>environments</i>, etc.</p>
<p>  </p>
<p> Aunque la noción de E.C. tendrá
sucesivamente, y en particular en Europa, un uso más restringido y confinado en una consideración del aparato cinematográfico en sí
mismo –sus componentes, sus fundamentos, su intríngulis tecnológico–, el libro de Youngblood rinde cuenta del abanico de posibilidades que se abre a partir de los años sesenta para trasladar en imágenes la imaginación y el pensamiento; el sueño de la razón y el deseo de conocimiento. El cine expandido, futurista, total, de la época posindustrial será pues un territorio de senderos que se bifurcan una y otra vez.</p>
<p>  </p>
<p> El mismo Youngblood lo ha expresado con sugerentes palabras varios años después: «El cine es el arte de organizar una corriente de eventos audiovisuales en el tiempo. Es una corriente de eventos, como la música. Hay tres medios con los que podemos ejecutar cine –película, vídeo, ordenador–, igual que hay varios instrumentos con los que podemos ejecutar música.
Cada uno tiene desde luego unas propiedades distintas y contribuye de manera diversa a la teoría del cine, expandiendo nuestro conocimiento de lo que el cine puede ser y hacer. [...] La noción de cine expandido es de carácter técnico, por referirse a nuevos instrumentos de generación de la corriente de eventos audiovisuales, pero también de carácter sociológico. Lo que quiero dar a entender es que hoy es política y socialmente más útil, más apropiado, pensar el cine de esta manera, que no en términos de especificidad del medio».[[[12]]]</p>
<p>  </p>
<p> <b>Nuevas olas y corrientes subterráneas</b></p>
<p> El cine comenzó a «expandirse»
muy pronto.[[[13]]] Pero el concepto E.C. aparece en los años sesenta sobre otro trasfondo: el de los nuevos cines, nuevas olas, cines jóvenes, y la resintonización con el legado de las vanguardias históricas.</p>
<p>  </p>
<p> Mientras que el (neo-)realismo es el paradigma de los nuevos cines europeos, así como del cine independiente norteamericano narrativo o documental (John Cassavetes o Richard Leacock), el surrealismo y la no-objetividad se prolongan en el cine de vanguardia norteamericano de posguerra –no por azar la presencia de artistas como Oskar Fischinger, Len Lye, Josef Albers, György Kepes, Edgard Varèse, Richter, Duchamp, McLaren, Moholy-Nagy y otros ha contribuido a trasladar la capitalidad del arte de vanguardia al otro lado del océano– hasta desembocar en el New American Cinema (en adelante, N.A.C.) y el underground.</p>
<p>  </p>
<p> En Europa, en cambio, la reanudación de la vanguardia a través de movimientos o grupos como el letrismo en Francia o el Wiener Gruppe en Austria, pese a dar pie, directa o indirectamente, a algunas aportaciones cinematográficas muy innovadoras, tiene una repercusión escasa y apenas algún punto de contacto evidente con la corriente preponderante de las nuevas olas.
Será por contra el eco del nuevo cine (experimental) americano y su modelo organizativo –la <i>film coop</i> o cooperativa de distribución– lo que contribuirá a una nueva edad, si no de oro, de plata, del cine experimental en varios países europeos.</p>
<p>  </p>
<p> Algo que distingue sustancialmente la evolución del N.A.C. con respecto a los nuevos cines europeos es
–parece muy evidente– el peso de la gran industria (léase Hollywood). Y puesto que en un tal contexto, el cine europeo <i>es</i> por excelencia el «nuevo cine» (Ingmar Bergman, Federico Fellini, Jean-Luc Godard, Michelangelo Antonioni, Alain Resnais, etc.) del
«viejo mundo», la industria cinematográfica estadounidense no siente la necesidad de cambiar ni las pautas ni la estrategia de mercado que le proporcionan al cabo una balanza comercial muy favorable. (Ello se comprueba en la dificultad o la tardanza con la que serán acogidos algunos cineastas independientes, incluso si respetan mayormente los códigos: Martin Scorsese, John Waters, Jim McBride o John Cassavetes).  </p>
<p>  </p>
<p> Así, aunque el N.A.C. Group se constituye en 1960 a imagen y semejanza de los nuevos cines europeos
(<i>nouvelle vague</i>, <i>free cinema</i>…), su cabeza de fila, Jonas Mekas, se alineará muy pronto con la fracción más experimentalista –de hecho apenas representada en el núcleo fundacional del N.A.C.– para seguir la senda underground
(contemporáneamente señalada por Duchamp como la del artista del futuro), con la organización en «células» de un circuito alternativo y la insumisión ante censuras y tabús, como ante los códigos y normas del cine imperante.</p>
<p>  </p>
<p> <b>La experiencia de los límites</b></p>
<p> Otro avatar que ha incidido en la gestación y el peculiar giro del N.A.C. es la implantación ya masiva de la televisión a lo largo de los años cincuenta. La crisis que se observa en aquellos años en la industria hollywoodiense es en parte lo que motiva las ilusiones descentralizadoras de los cineastas independientes. Pero, en otro aspecto, Youngblood ha apuntado: «[La televisión] ha afectado al cine de una manera muy similar a cómo la invención de la fotografía afectó a la escultura y la pintura. El cubismo y otras formas de abstracción de la imagen realista nacieron con la placa fotográfica porque la pintura ya no podía proporcionar las imágenes más realistas. Las artes plásticas abandonaron la realidad exterior por la realidad interior. Lo mismo ha sucedido con el cine a consecuencia de la televisión: las películas ya no proporcionan las imágenes más realistas, de manera que han virado hacia lo interior.» El argumento concluye así en ese cine
«sinestésico» que Youngblood toma como punto de partida del E.C., y que encuentra en las obras de Stan Brakhage, Andy Warhol, Michael Snow o Pat O'Neill.</p>
<p>  </p>
<p> El <i>underground</i> dará así lugar a un cine de «la experiencia de los límites»
(para tomar prestada una conocida expresión de Philippe Sollers).
Con Warhol es el apogeo del (hiper)realismo (<i>pop</i>)
y de la <i>durée</i> bergsoniana, aproximándose al sueño de Léger de un film de 24 horas que mostrase en tiempo real la existencia cotidiana, y «que sería algo tan terrible que la gente huiría aterrorizada... »[[[14]]] Con los films de Fluxus es el nihilismo minimalista, neo-dadaísta, hasta rozar el extremo del anticine en su acepción más literal. Con Brakhage, las metáforas de la visión, los sonidos del silencio, la percepción de lo invisible (visión hipnagógica), el arte de la memoria llevado al cine de amateur –del que ama–, como también los «diarios» de Jonas Mekas, Andrew Noren, etc. Con Kenneth Anger o Harry Smith, la alquimia de los símbolos, los colores, los cuerpos exquisitos. Con el <i>flicker film</i> (Peter Kubelka, Tony Conrad, Paul Sharits), la intermitencia esencial de la luz y la oscuridad; o de colores veloces, imágenes subliminales, en los umbrales de la visión. Con Michael Snow o Hollis Frampton, una nueva concepción formal del cine como una especie de pensamiento presocrático en imágenes. Y así sucesivamente.</p>
<p>  </p>
<p> Y, por expansión, el cine experimental ha ido además a explorar otros límites, nuevos medios, nuevas formas, formas en el límite de su propia definición: del policinema a las film-performances, film-instalaciones, film-esculturas, proyecciones móviles, pantallas inmateriales de humo o vapor, bucles sin fin (<i>loops</i>), películas literalmente escabechadas, etc. Pero también las imágenes electrónicas de osciloscopios, televisores y ordenadores, preludio de las nuevas perspectivas que se abren con el vídeo, el láser, la holografía, la imagen digital, el audiovisual interactivo y la realidad virtual.</p>
<p>  </p>
<p> <b>Hacia la imagen electrónica</b></p>
<p> La idea de un arte electrónico parece haber estado en el aire desde la Segunda Guerra Mundial. El mismo instrumental de guerra electrónico servirá al menos en dos casos para la concepción de sus útiles: las posibilidades que en la pantalla de radar descubre el artista alemán Karl Otto Götz
(durante la misma guerra, destacado en Noruega); los dispositivos de defensa antiaérea que reciclarán los hermanos John y James Whitney para proseguir sus ejercicios de cine abstracto, con pacíficos y bellos mandalas o dibujos florales en perpetua evolución.</p>
<p>  </p>
<p> La pantalla del osciloscopio ha constituido otro hallazgo más en los films experimentales de Norman McLaren (<i>Around is Around</i>, 1950), Mary Ellen Bute (<i>Abstronics</i>, 1954), Hy Hirsh o Jordan Belson, con su equivalente estático, fotoplástico, en los <i>oscillons</i> o «abstracciones electrónicas» que realiza Ben Laposky desde 1950.</p>
<p>  </p>
<p> Algunos de los primeros artistas que han vislumbrado en la televisión una nueva tecnología artística
–Götz, Nicolas Schöffer (<i>Variations Luminodynamiques I</i>, 1961; <i>Teleluminoscope</i>, 1959-62) o, en un plano puramente teórico, el <i>Manifesto del movimento spaziale per la televisione</i> de Lucio Fontana, Alberto Burri y otros (1952)– participan asimismo de esa concepción eminentemente abstracta que prolonga en cierto modo la tradición establecida por el arte no-objetivo y constructivista en la Europa de entreguerras. Gran parte del trabajo con videosintetizadores y con el efecto de feedback visual que desarrollan varios (video)artistas desde la segunda mitad de los años sesenta, puede verse también sobre dicho trasfondo. Así como Youngblood escribirá que con el ordenador digital se da una
«culminación de la tradición constructivista».</p>
<p>  </p>
<p> La informática y el vídeo (y la unión de ambos) son pues los medios alrededor de los cuales se asentarán las intuiciones avanzadas por aquellos pioneros. John Whitney enlaza el lenguaje de la modernidad europea (Oskar Fischinger, Arnold Schönberg) con el nuevo constructivismo de la imagen numérica, abriendo de paso camino a toda una saga de descendientes y discípulos (como John Whitney Jr. o Larry Cuba).
Mientras que otra personalidad emblemática, Nam June Paik, ha dicho que la obra y las ideas de Götz –a quien conoció durante su primera estancia en Alemania– le estimularon a intercambiar su pasajero interés por la música electrónica, por el arte de la
«televisión electrónica» y del vídeo.</p>
<p>  </p>
<p> Pero con Paik –y con los films de imágenes e interferencias televisivas de Wolf Vostell, Aldo Tambellini o Giorgio Turi– se da a su vez el paso de la imagen
(electrónica) abstracta a la imagen <i>heterogénea</i>, paralelamente a la apropiación de la imagen televisiva en cuadros y assemblages de artistas cercanos al pop o al nuevo realismo (Richard Hamilton, Edward Kienholz, Tom Wesselman, el propio Vostell). Y la
«televisión experimental» de Paik nos conduce al vídeo y a «la crítica de la televisión pura» como una de sus señas de identidad.</p>
<p>  </p>
<p> <b>Vídeo/televisión, nuevos territorios de utopía</b></p>
<p> El pensamiento acerca de la televisión como medio artístico (?) –en el sentido más amplio de la expresión, interrogante entre paréntesis incluido–, se manifiesta en diversas direcciones desde finales de los años cincuenta. Una sería desde el cine, por el acercamiento a la televisión de cineastas como Roberto Rossellini, Jean Renoir u Orson Welles, en cierto modo figuras de proa de la contemporánea emergencia de los nuevos cines. Otra sería desde las propias televisiones, con la creación de departamentos o laboratorios experimentales y a través de determinados productores y realizadores
(como Fred Barzyk, Jean-Christophe Averty, Josep Montes-Baquer, etc.). Y, por último, desde las artes, con las creaciones para televisión de músicos (Igor Stravinsky, Mauricio Kagel), escritores
(Samuel Beckett, Ferdinand Kriwet) y artistas plásticos (Nicolas Schöffer, Otto Piene / Aldo Tambellini), para culminar, ya a finales de los sesenta, en la experiencia utópica y pasajera de las
«galerías televisivas» de James Newman en California (<i>Open Gallery</i>) y de Gerry Schum en la R.F.A. (<i>Fernsehgalerie</i>), aunque también a través de la política de puertas abiertas en el periodo dorado de los departamentos experimentales, <i>workshops</i>, programas <i>Artists in Residence</i> de las KQED, WGBH y WNET y otras televisiones públicas en Estados Unidos y Canadá.</p>
<p>  </p>
<p> Entremedio, otra posibilidad ha surgido: el vídeo y, más concretamente, los equipos ligeros; el primitivo <i>portapak</i> que Paik o Les Levine empiezan a sacar a las calles de Manhattan en 1965, Godard a las de París en Mayo del 68; los comienzos de la
«televisión de guerrilla» con los colectivos que surgen al final de los sesenta, y el <i>real time</i> literal del <i>reel time</i> en que Bruce Nauman ejecuta sus acciones repetitivas ante la cámara (fija). Con la incipiente miniaturización de la tecnología de la imagen televisiva
(ahora aliada con el almacenamiento electromagnético de las señales), se dan las condiciones propicias para un vídeo independiente, alternativo a las rígidas estructuras de la televisión propiamente dicha.</p>
<p>  </p>
<p> Así, Youngblood insistirá en aquello de que «el vídeo no es televisión» (<i>VT is not TV</i>), pero el capítulo de su libro en que trata del vídeo lleva por título
«Television as a Creative Medium»; justamente el mismo de la que pasa por ser la primera muestra colectiva de vídeo en un contexto artístico (la galería de Howard Wise en Nueva York, 1969). Esta aparente paradoja –la televisión será un medio creativo a través del vídeo, que sin embargo no es televisión– acota de hecho todo el discurso utópico en torno al vídeo, que buscará ser y no ser televisión en diversos sentidos. Serlo, por ejemplo, en forma de televisión alternativa a través del cable, de emisiones de baja potencia o incluso del satélite; pero también a través de la adopción de formatos populares y de la capacidad de responder a una cierta demanda de frescura y novedad en la imagen televisiva. Y no serlo, al buscar también otras vías, al ir a los límites, los territorios fronterizos, desbordándose a su vez en el «vídeo expandido» de las instalaciones, la videoescultura, las performances, el vídeo interactivo.</p>
<p>  </p>
<p> <b>El ordenador, la simulación y la informática multimedia</b></p>
<p> Este recorrido no podría concluir sino en la inmaterialidad conceptual de la informática; un medio (o
<i>metamedio</i>, como alguien ha precisado) que, como ya se ha visto, ha atraído muy pronto a varios artistas, si bien el «arte computacional» no ha sido exclusivamente obra de artistas, sino también de técnicos, ingenieros y científicos. De la (con)fusión pues del arte, la ciencia y la tecnología. Y así, junto a un apogeo inicial de la abstracción geométrico-constructivista, la evolución tecnológica y de las industrias del ramo ha propiciado el polo opuesto de un
<i>hiperrealismo</i>
(que no lo es sino como caricatura o realismo fantástico, pero que sin duda va en busca de serlo), tan versátil para la elaboración de modelos de simulación científicos como para la perpetuación de los códigos de la ficción favorecidos por las industrias del espectáculo.</p>
<p>  </p>
<p> Youngblood ha distinguido la
<i>simulación</i> de la <i>ficción</i> en un artículo suyo de 1983: «El propósito de la ficción es constituir un espejo del mundo para entretenimiento del espectador; el propósito de la simulación es la creación de un mundo para transformar al espectador.»[[[15]]] La noción de simulación, tan debatida en los últimos años, se encuentra ya de manera abundante en la literatura informática de los años sesenta, así como en la epistemología cibernética y estructuralista o en los oráculos de McLuhan. De manera que no es extraño que Youngblood la haya ya rozado al tratar del «cine cibernético» en su libro de 1970: «Consciente o inconscientemente, nosotros inventamos el futuro. Y todos los futuros dependen de un presente que está condicionado por el pasado. Una manera de librarse de los condicionamientos del pasado consiste en simular futuros alternativos a través del potencial a salvo de fallos del ordenador digital. Esto es “arte” al más alto nivel que nunca ha conocido el hombre; casi literalmente, la creación de un nuevo mundo que se impone de manera imperceptible sobre la realidad (pero ya no tan imperceptiblemente como antes)».</p>
<p>  </p>
<p> La novedad radical de la imagen digital (o numérica), estriba entonces en su capacidad imaginaria
(empleando aquí el adjetivo en un doble sentido) para la traslación del pensamiento en imágenes; de las imágenes de la mente, del imaginario, en objetos virtuales de percepción óptica (a través, por ahora, de un lenguaje simbólico de códigos o instrucciones informáticas). «Más que imágenes, pero menos que objetos», ha dicho Edmond Couchot.</p>
<p>  </p>
<p> Al desprendernos de la cámara, el aparato óptico, las leyes de la perspectiva, la imagen informática
–ha vaticinado Bill Viola– dará lugar a «una de las mutaciones más importantes en la historia de las imágenes. [...] Pronto seremos capaces de fabricar imágenes complejas, realistas, sin necesidad de contar con la luz; y a partir del momento en que la luz no es la condición y el material fundamental de la imagen, estamos en el dominio del espacio conceptual».[[[16]]] La «ciencia-ficción» de la costa del Pacífico, eso sí, puede todavía resultarnos muy lejana desde este lado del Atlántico y en sociedades afligidas por prospectivas más pedestres.</p>
<p>  </p>
<p> <b>SF - El futur(ism)o, ahora</b></p>
<p>
«Toda buena ciencia ficción desarrolla de manera realista aquello que los datos científicos sugieren que es inminente», escribió Richard Buckminster Fuller en su prólogo al libro de Youngblood. No ha pasado mucho tiempo desde la publicación de la novela de William Gibson, <i>Neuromancer</i>
(1984), y ya su neologismo y concepción ficticia del «ciberespacio»
se anuncian como una invitación al viaje a la realidad «artificial»
o «virtual» de la informática. (<i>Total Recall</i> tampoco cae muy lejos). Mucho ha dado que hablar en dicho sentido el sistema VIEW
(Virtual Interface Environment Workstation) –desarrollado por Scott Fisher y otros en el Ames Research Center de la NASA–, en el que, mediante prótesis de visión estereoscópica y de tacto, el «usuario puede explorar virtualmente un entorno sintético o sensorialmente remoto de 360º, y puede actuar recíproca y visceralmente sobre sus componentes».[[[17]]]</p>
<p>  </p>
<p> Hoy, en que el llamado cine experimental apenas parece subsistir por su minoritaria apreciación como una particular forma de artesanía o de «joyería» (tal como lo auguró el cineasta británico Malcolm Le Grice cuando el precio de la plata empezó a subir y a encarecer los costes de la película), y cuando el entusiasmo primigenio del vídeo ha decaído a su vez en cierto estado letárgico, el nuevo futurismo de la informática multimedia y el espacio virtual puede contemplarse como una forma escapista de emprender intrépidas aventuras ilusorias en el éter de la teoría-ficción. Pero, aunque en nuestro tiempo se han dado por finiquitadas muchas utopías, no hay porque ceder su exclusiva a la ciencia y a la ciencia ficción. Además, como vino a decir Bertolt Brecht en sus escritos de teoría de la radio: si algo nos parece utópico, habremos de preguntarnos por qué lo es.</p>
<p>  </p>
<p> El arte de la imagen en movimiento ha atravesado, y sin duda seguirá atravesando, momentos críticos y encrucijadas desconcertantes. Su misma acepción o adscripción
«artística» ha sido muy controvertida y nunca asimilada del todo: es elocuente al respecto la fortuna de una expresión tal que <i>video art</i>.[[[18]]] Sin embargo, desde el futurismo de principios de siglo, si no antes, no cabe duda del peso que ha tenido y tiene aquello que para concluir denominaré –mediante una bella locución catalana que dio nombre a una publicación artística editada en Barcelona en 1934– <i>l'art que belluga</i>; literalmente, aunque más prosaicamente: «el arte que menea».</p>
<p> </p>
<p> </p> <h1 lang="es-ES" class="western" style="page-break-after: auto">IV.
A modo de epílogo</h1> <p>  </p> <h1 lang="es-ES" class="western" style="page-break-after: auto">Persistencia de la visión: de la linterna mágica a las pantallas digitales</h1> <p> Máquinas de visión y audiovisión, prácticas de la pantalla, tecnologías del tiempo y la memoria, instrumentos de simulación, pasajes de la imagen, entreimágenes, estética de la comunicación, (nuevo) arte de media, transmedia…
Desde el fin del siglo XX se multiplican las conceptualizaciones globalizadoras que palpan la inaprensible extensión de las técnicas de la observación y su despliegue más que centenario. Entre la arqueología de los medios, la crónica de la escurridiza contemporaneidad y la prospectiva del porvenir, esta profusión de formulaciones coincide con la penetración imparable de las tecnologías electrónicas y con las múltiples aplicaciones y expectativas que concita la informática.</p>
<p>  </p>
<p> Esta proliferación de los modos de producción icónica, audiovisual y multimedial es lo que disuelve de manera creciente el régimen de autarquía (especificidad, legitimidad, estanqueidad) de cada medio en sí; algo que parecía preceptivo en tiempos no demasiado lejanos. Las prácticas acuden ahora a toda clase de materiales e inmateriales, medios y metamedios, en régimen de libre elección y por decisión espontánea o voluble ante la rebosante lonja de lo viejo y lo nuevo. Es un arte que cobra cuerpo en forma de <i>cristales de tiempo</i>, en palabras de Gilles Deleuze,[[[19]]] por la paradójica simultaneidad de lo actual y lo virtual, lo real y lo imaginario que se da en la apariencia intangible, transparente y fungible de los soportes utilizados: pantallas, proyecciones, cajas de luz, interfaces concebidas como prótesis del cuerpo, etc.</p>
<p>  </p>
<p> Con el devenir digital, la numerización de la percepción socava drásticamente el primer fundamento de la analogía y la representación mimética, apuntalado por la óptica y la tecnología fotográfica. Por otro lado, el ordenador no puede decirse que sea una máquina de visión si no es por añadidura. Llevando a un extremo la tesis según la cual todo medio comienza por adoptar los rasgos más familiares (asimilados) de otro anterior, el ordenador ya no absorbe los de uno en particular sino que se manifiesta como una arquitectura abierta, una metamáquina versátil y polivalente, capaz de emular –o asistir– las funciones de otros medios previamente conocidos, así como de activar prestaciones inéditas o que eran inconcebibles antes.</p>
<p>  </p>
<p> Sin embargo, los usos hasta ahora más evidentes de la informática en la construcción y circulación iconográfica –las imágenes de síntesis, los discos compactos y la inmensidad de la red– constituyen apenas una faceta de los fenómenos actuales de trasvase y suplantación de unas tecnologías por otras, lo que a su vez entraña otras fugas disipativas que conciernen a la estética contemporánea y la delimitación de sus epígrafes. De manera que la fotografía adopta los hábitos de producción y puesta en escena del cine, los recursos del trucaje digital y toda clase de soportes y hechuras (objetos, cajas de luz, proyecciones, instalaciones, etc.), así como el cine se aficiona a los medios ligeros del audiovisual electrónico y a las técnicas de montaje virtual del <i>desktop video</i>. Igualmente, en los
últimos años no han dejado de advertirse otros intercambios de rol por los que, por ejemplo, el cine «se expone» (en recintos museísticos o galerísticos no expresamente reservados a tal fin) y el artista plástico o visual (el artista por excelencia) toma la visera y el megáfono del director cinematográfico.</p>
<p>  </p>
<p> Por lo demás, los trasvases de un soporte a otro –por ejemplo, de film a vídeo o a la inversa, y de aquí a otros substratos y conductos: CD, DVD, televisión digital, sitio web, etc.– son cada vez más corrientes y, en la medida en que el chasis material deviene más transparente y genérico (datos almacenados y procesados numéricamente según un principio binario), la versatilidad digital impone su reto transtecnológico en toda clase de medios y ámbitos del arte y la comunicación: fotografía y cine, televisión y radio, vídeo y audio, texto y gráficos… En todo caso, el guirigay de una transmutación tal puede resultar beneficioso para la regeneración de unas prácticas prematuramente defenestradas por el apremio de la novedad más concluyente.</p>
<p>  </p>
<p> Dos aspectos significativos, por el positivo revuelo que han traído últimamente, son el empuje del
<i>vídeo/cine digital</i> y del llamado <i>cine de exposición</i>.[[[20]]] Aspectos no rigurosamente novedosos, aunque derivan de refrescantes apuestas. Por un lado, en cuanto a un diligente aprovechamiento de los formatos de vídeo <i>prosumer</i>
(DV y derivados, más los códecs asociados), se dirigen a un abanico de usuarios comprendido entre el escalafón profesional y el de los aficionados, los amateurs, los apasionados.[[[21]]] Por otro lado, han generado una nueva promoción de artistas que utiliza desinhibidamente los medios audio y visuales en hechuras diversas que remiten al concepto de instalación –a veces de manera un tanto impropia– o que simplemente se despliegan en el espacio
(el lugar expositivo) y el tiempo (en bucle continuo).</p>
<p>  </p>
<p> La naturaleza del soporte, en ambos casos, deviene más y más indiferente o circunstancial. Hablar de
«vídeo» o «cine» digital es entonces una mera cuestión de elección, de (p)referencias, o del soporte al que se vuelca la información numérica final para su difusión en unos u otros circuitos. A su vez, el cine de exposición solo es literalmente cine
–o, más precisamente, film– en algunas ocasiones, y muchas veces se acoge a la impalpable naturaleza de la imagen proyectada, como si esta quedara liberada de su tramoya técnica y base material (sea película, cinta de vídeo, soporte digital o cualquier otro).</p>
<p>  </p>
<p> Este trance, que ha ido agudizándose más y más desde el último tercio del siglo pasado, hacia la desnaturalización y el hibridismo (en efecto uno de los pocos <i>ismos</i> aislados en los últimos años), puede ser visto con recelo por lo que tiene de desdibujamiento de unos ámbitos que preservan unas señas de identidad diversas e incluso antagónicas en algún punto.
Así, no es lo mismo diseccionar el significante que marear la perdiz al pretender el trasunto o simulacro de una entidad estética más noble; por tanto más propia del museo que de su mediateca u otras dependencias menores, con lo cual se siguen preservando los rangos jerárquicos del arte. Pero, por otra parte, la constatación de un trance tal es aquello que nos incita a recapacitar una vez más sobre el conjunto de las técnicas y artes de la visión, el tiempo y la memoria; su persistencia, su expansión y su influencia.</p>
<p>  </p> <div id="sdfootnote1">
	<p>
	[1]
	Utilizo
	la expresión «ruedas de la vida», del alemán <i>Lebensrad</i>,
	para designar un conjunto de aparatos tales como el fenaquistiscopio
	de Plateau, el estroboscopio de Stampfer, el zoótropo de Horner,
	etc.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2]
	Charles
	Musser: «The Early Cinema of Edwin Porter», <i>Cinema
	Journal</i>,
	núm. 19 (otoño de 1979). Traducido
	al francés en <i>Les
	Cahiers de la Cinémathèque</i>,
	núm. 29 (invierno 1979).</p>  <div id="sdfootnote3">
	<p>[3]
	El
	largometraje mencionado se convertiría luego en la primera entrega
	de la serie <i>Media
	Magica</i>,
	proseguida entre 1995-1997 con cinco episodios de 55 minutos cada
	uno. Textos de y sobre Nekes, así como una meticulosa documentación
	de su obra y de su faceta de investigador-coleccionista, se hallan
	recopilados en el sitio web del cineasta (http://wernernekes.de).</p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	No
	hago aquí sino reunir, con algunos añadidos míos, las
	observaciones de otros autores; en particular de Mario Verdone: <i>Le
	avanguardie storiche del cinema</i>.
	Turín:
	Società Editrice Internazionale, 1977; Dominique Noguez: <i>Éloge
	du cinéma expérimental</i>.
	París: Musée National d'Art Moderne/Centre Georges Pompidou, 1979.</p>  <div id="sdfootnote5">
	<p>[5]
	En
	la colección de la Tate Gallery con el título de <i>Abstract
	Kinetic Collage Painting with Sound</i>.</p>  <div id="sdfootnote6">
	<p>
	[6]
	Originalmente,
	el texto añadía en este punto la referencia a «los films
	abstractos que el pintor ruso Serge Charchoune presentó, en abril
	de 1917, en el bastión vanguardista que fue en Barcelona la galería
	de Josep Dalmau, retomando el artesano procedimiento de la pintura
	sobre película y con acompañamiento musical del compositor
	futurista italiano Balilla Pratella.» Sin embargo, en
	investigaciones al respecto, tanto Román Gubern como Montse Camps
	han sugerido que Charchoune pudo utilizar la expresión «films
	ornamentales» de una manera más  metafórica que literal.</p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	<i>La
	Folie du Docteur Tube</i>
	(1915), de Abel Gance; <i>Das
	Kabinett des Dr. Caligari</i>
	(1919), de Robert Wiene; <i>L'inhumaine</i>
	(1923), de Marcel L'Herbier (que en Italia se tituló <i>Futurismo:
	un drama passionale nell'anno 1950</i>).</p>  <div id="sdfootnote8">
	<p>[8]
	Esta
	última cinta puede considerarse a su vez parte de una estirpe de
	caricaturas que incluye <i>Une
	excursion incohérente</i>
	(1909), de Segundo de Chomón, <i>Le
	Peintre néoimpressioniste</i>
	(1910), de Émile Cohl, y <i>Rigadin
	peintre cubiste</i>
	(1912), de Georges Monca y Charles Prince (en la pantalla
	«Rigadin»); así como en relación a la afinidad que se ha
	observado entre otros films cómicos –como <i>Amor
	pedestre</i>
	(1914), de Marcel Fabre («Robinet»), o los de André Deed
	(«Cretinetti»)– y determinados postulados y creaciones de los
	futuristas italianos.</p>
<p>
	</p>  <div id="sdfootnote9">
	<p>
	[9]
	<i>Las
	extraordinarias aventuras de Mr. West en el país de los
	bolcheviques</i>
	(1924), de Lev Kulechov; <i>Miss
	Mend</i>
	(1926), de Boris Barnet y Fyodor Ozep; <i>El
	diario de Glumov</i>
	(1923), primer film (corto) de Eisenstein; <i>Las
	aventuras de Octobrina</i>
	(1925), de Grigori Kozintsev y Leonid Trauberg.</p>  <div id="sdfootnote10">
	<p>[10]
	Paolo
	Bertetto: «La velocità del futuro»; Pietro Montani: «Il
	futurismo russo e l'avanguardia cinematografica sovietica:
	un'estetica dell'ibridazione», en P. Bertetto y Germano Celant
	(ed.) <i>VeloCittà:
	Cinema &amp; Futurismo</i>.
	Milán: Bompiani, 1986; Standish D. Lawder: «Eisenstein and
	Constructivism», en P. Adams Sitney (ed.), <i>The
	Essential Cinema</i>.
	Nueva York: Anthology Film Archives/New York University Press, 1975.</p>  <div id="sdfootnote11">
	<p>[11]
	Gene
	Youngblood: <i>Expanded
	Cinema</i>.
	Nueva
	York: Dutton; Londres: Studio Vista, 1970. Salvo cuando se precisa
	lo contrario, todas las citas de Youngblood son de este libro.</p>  <div id="sdfootnote12">
	<p>[12]
	Peter
	Broderick: «Since Cinema Expanded: Interview with Gene Youngblood»,
	<i>Millennium
	Film Journal</i>,
	núm. 16/17/18, Nueva York (otoño-invierno 1986-1987).</p>  <div id="sdfootnote13">
	<p>[13]
	Cinematógrafo
	gigante de los Lumière (1900), cineorama de Grimoin-Sanson (1900),
	autoestereoscopio de Filoteo Alberini (1911), polivisión de Gance
	(1927), multiproyecciones de Fischinger (1926-1927), los múltiples
	ensayos de combinación del cine con el teatro, el arte
	luminocinético, etc.</p>  <div id="sdfootnote14">
	<p>[14]
	Fernand
	Léger, «À propos du cinéma», <i>Cahiers
	d’art</i>,
	núm. 3-4, París,  1933.</p>  <div id="sdfootnote15">
	<p>[15]
	Gene
	Youngblood: «A Medium Matures: Video and the Cinematic Enterprise»,
	<i>The
	Second Link: Viewpoints on Video in the Eighties</i>.
	Walter Phillips Gallery, Banff, Alberta (Canadá), 1983. [cat.exp.]</p>  <div id="sdfootnote16">
	<p>[16]
	Raymond
	Bellour: «Entretien avec Bill Viola: L'espace à pleine dent», en
	Jean-Paul Fargier (ed.), <i>Où
	va la vidéo</i>.
	París: Cahiers du Cinéma-Hors Série, Editions de l'Etoile, 1986.</p>  <div id="sdfootnote17">
	<p>[17]
	S.S.
	Fisher; M. McGreevy; J. Humphries ; W. Robinett (Aerospace Human
	Factors Research Division, NASA Ames Research Center): «Virtual
	Environment Display System», <i>Proceedings
	ACM 1986 Workshop on Interactive 3D Graphics</i>,
	Chapel Hill, North Carolina, Estados Unidos (octubre 1986).</p>  <div id="sdfootnote18">
	<p>[18]
	Expresión
	primero tomada como si de una idea recibida se tratara, luego
	debatida y hasta ahuyentada… Y, hoy, de nuevo en el candelero con
	una ligereza desarmante.</p>  <div id="sdfootnote19">
	<p>[19]
	Gilles Deleuze: <i>Cinéma
	2: L'Image-temps</i>. París:
	Minuit, 1985.</p>
<p>
	</p>  <div id="sdfootnote20">
	<p>[20]
	Acuñada por el crítico
	Jean-Christophe Royoux, dicha expresión conlleva complejas
	referencias cruzadas en las que no puedo entrar aquí. Véase
	por ejemplo su ensayo «D'une boucle à l'autre: activité
	artistque, post-cinéma et télévision», en <i>Journal
	de l'Institut Français de Bilbao</i>,
	núm.  8; pp.
	54-86(abril 1988). Incluye traducción al castellano.</p>  <div id="sdfootnote21">
	<p>[21]
	Según han insinuado algunos
	observadores del fenómeno DV, el primer formato asequible de vídeo
	digital habría escapado al control de los departamentos de
	marketing de la industria electrónica, ofreciendo una tecnología
	harto avanzada y consistente a un precio comparativamente bajo.</p>
<p>
	</p>  <div title="footer">
	<p>
	
		<p><sdfield type=PAGE subtype=RANDOM format=PAGE>22</sdfield></p>
	
	</p>  </body> </html>