  <p> <b>Un sueño de cinematografía intuida insólita</b></p>
<p>  </p>
<p> <b>PLAT</b></p>
<p>  </p>
<p> Esta sigla encabezaba su tarjeta de visita, acompañando la tipografía arabizante con su nombre: José
Val del Omar. PLAT era un lugar: su último refugio, su laboratorio, su cubil. Un jardín de máquinas. Tras su muerte un jardín sin riego, pues era uno bien sanguíneo el que recibían sus retoños mecánicos, por fortuna preservado tal como él lo dejó. Allí, en una pared, hay todavía un calendario abierto por la hoja del mes en que lo abandonó.</p>
<p>  </p>
<p> PLAT era también la designación que eligió para describir su actividad. Una que precisaba el encadenamiento de hasta cuatro conceptos: Picto Lumínica Audio Táctil. No fue un cineasta en el sentido más habitual del término; además, prefería otros términos como los de cinemista y cinematurgo, que sugieren el ejercicio de prodigios y sortilegios.</p>
<p>  </p>
<p> Su perfil no era estrictamente el de un peliculero o realizador cinematográfico, y menos aún el de un director: lo suyo no era el trabajo en equipo ni la direccionalidad de un guión escrito. Fue más bien un soñador del cine. De otro cine. Para cumplir ese sueño necesitaba, también, concebir y construir sus propias máquinas, dispositivos, artefactos. Y modificar o remendar aquellos que iba adoptando y acumulando, incluidos prototipos previos que no vacilaba en desarmar para reaprovechar sus piezas.</p>
<p>  </p>
<p>  </p>
<p> <b>Intentos</b></p>
<p>  </p>
<p> El quehacer de Val del Omar en el
último tramo de su vida es el aspecto que trato de abordar en este ensayo. Sin pretender la precisión académica o erudita que hoy se asocia con dicho término, más consecuente será emplear otro: el de intento. Una palabra, por otra parte, que él utilizaba abundantemente para referirse a su actividad. Casi podría decirse que toda su vida se resume en una obra de intentos. Sus intentos lo son porque, la mayoría de las veces, han culminado en un fracaso y un regusto amargo. Aunque también en innegables logros.</p>
<p>  </p>
<p> Al ocuparme de un periodo escasamente documentado, acudo sobre todo a sus propios escritos. Por su carácter más bien privado y por estar raramente fechados, estos conforman un laberinto caótico de notas. Y, sin embargo, aportan posibles claves para interpretar el sinfín último (el oxímoron lo impone la parca) de sus intentos y sus máquinas huérfanas.</p>
<p>  </p>
<p> Aquí yo citaré o parafrasearé sus propias palabras y a menudo lo haré sin comillas, salvo cuando crea precisa la desambiguación, o por marcar un énfasis. Trato así de despejar el texto de un sarpullido de comillas o cursivas, al que se sumarían los diversos tropiezos que sus escritos entrañan: incoherencias sintácticas y aberraciones ortográficas, tachaduras y subrayados en abundancia, redundancias y sobrentendidos constantes, etc.</p>
<p>  </p>
<p> Procedo así de manera similar a como lo hice en el film <i>Tira tu reloj al agua</i>, sobre el que volveré luego, a fin de juntar y ordenar –de manera del todo intuitiva– ideas e imágenes halladas entre sus materiales póstumos. Otro intento anterior, un ensayo no escrito que constituye mi propia elaboración de unos proyectos inconclusos, sin otra prefiguración que la que le rondara por la cabeza y que apenas se puede atrapar en la nebulosa de sus anotaciones.</p>
<p>  </p>
<p> El propio Val del Omar operaba así, tomando frases y fragmentos de aquí y de allí, tanto en sus intrincadas bandas sonoras como para apiñar multitud de ideas en sus notas. Palabras que no siempre recoge al pie de la letra, aunque igualmente me refiero a las briznas musicales que emplea y manipula.</p>
<p>  </p>
<p>  </p>
<p> <b>Desbordamientos</b></p>
<p>  </p>
<p> Cuando el cine se sueña, no es imprescindible que llegue a consumarse sobre una pantalla. De entrada, él pretendió desbordarla. Ya en 1944, en un artículo titulado «El espectáculo total», Cristóbal Simancas, amigo y compañero de Misiones Pedagógicas, transcribió las ideas de Val del Omar acerca de una pantalla sin fin, carente de límites o que se disolverían, fuera de foco, en los márgenes de su superficie moderadamente cóncava.</p>
<p>  </p>
<p> La idea de un cine total, y que procurase una experiencia polisensorial, es muy propia de la época en que Val del Omar se inició en la fotografía del tiempo. Luego, a fines de los años cincuenta, ha descrito y practicado aquello que ha llamado el «desbordamiento apanorámico de la imagen», donde una segunda proyección concéntrica rebasa el marco de la pantalla propiamente dicha.</p>
<p>  </p>
<p> Este procedimiento lo ha amparado con una patente, ilustrando con diagramas los dispositivos que ingenió para llevarlo a cabo. Sin embargo, si llegó a construir prototipos de los mismos, no se ha encontrado rastro de ellos. Es probable, en cambio, que acudiera a otros recursos más rudimentarios y sencillos –algo habitual en él– para lograr un efecto no menos poderoso y asombroso en su momento.</p>
<p>  </p>
<p> La noción de desbordamiento, por otra parte, no concierne exclusivamente a la imagen y la proyección.
Sino también, con otras palabras y designaciones, a los demás sentidos que el cine podría convocar. En primer lugar, el auditivo, mediante el concepto y técnica de la diafonía: sonidos en oposición y choque, espacialmente distribuidos por el perímetro de la sala, creando un campo y contracampo acústicos, y con deslizamientos de uno a otro. Sistema al que otras veces se ha referido como sonido estéreo-diafónico o binaural. No en vano, tras la Guerra Civil, dedicó varios años a la región del sonido antes de regresar sobre lo visual.</p>
<p>  </p>
<p> La idea, en sí misma tan simple, de una iluminación cambiante en la sala –con una programación determinada– comportaría también un desbordamiento suplementario, pues ya no se trataría de una sala permanentemente a oscuras y exclusivamente iluminada por el resplandor parpadeante de la pantalla.</p>
<p>  </p>
<p> Otras de las propuestas que lanza, en los congresos de la técnica cinematográfica a los que acude, tienen que ver con la situación crítica que atravesaba la industria cinematográfica ante la rivalidad advenediza de la televisión.
Advirtiendo que sus ideas podrían parecer disparatadas de buenas a primeras, no lo eran en absoluto y algunas de ellas coinciden con diversas estratagemas que se ensayaron como reclamo para atraer público a los cines.</p>
<p>  </p>
<p> Asociar el producto cinematográfico a un sabor, por medio de un aperitivo, es el aspecto más liminar que propugna. En cambio, tanto la idea de ambientar con elementos olfativos la proyección (o acaso solamente el vestíbulo), como la de transmitir sensaciones táctiles por vibraciones en las butacas, fueron parte de una tendencia a la espectacularidad y la oferta de nuevas sensaciones, aunque su implantación fue bien efímera. Así
se constata en relación con sistemas como Smell-O-Vision, Sensurround, derivados y similares, hoy en el desván de las tecnologías abandonadas.</p>
<p>  </p>
<p> Erró en la escala de sus ambiciones, pues ante todo fue un amante y creyente del cine, un
<i>amateur</i> al fin y al cabo, ideando quimeras desde su soledad en la España del Generalísimo. Además, el aprecio de sus desbordantes ideas no le vendría precisamente de los ámbitos a los que se dirigía: sociedades de la industria y de la técnica, o entes oficiales. Su relación con el entorno profesional e institucional del cine y sectores afines se fue por tanto desvaneciendo, y prefirió el encuentro con otros creadores ajenos a dicho medio. También se rodeó
crecientemente de personas jóvenes, lo que presagia su permanencia como una figura de culto, con devotos de todas las edades pero, especialmente, entre las nuevas generaciones que a cada momento lo descubren.</p>
<p>  </p>
<p>  </p>
<p> <b>Entre la realidad y el misterio</b></p>
<p>  </p>
<p> Cuando el cine se sueña, como lo hace Val del Omar –más allá de la lumbre que alumbra de sus técnicas e invenciones–, entra en juego una sintaxis inaudita; no enteramente racional, incluso si se trata de un sueño lúcido. Esto es lo que hace tan pasmosos los escasos films que dejó terminados o esbozados, e incluso los residuos y materiales que, en su estado suspenso, permiten prolongar su sueño, sus anhelos de comunicar lo inefable.  </p>
<p>  </p>
<p> Por simplificación y acomodación a ciertas casillas histórico-culturales, su obra ha sido emparentada en diversas ocasiones con el surrealismo y su arraigo autóctono en España. Sin embargo, su rotunda singularidad, y aquello que le da vigencia, reside en su amalgama de lo real con lo abstracto. Y ello puede presentirse ya cuando se refiere a sus films como documentales abstractos o líricos, y al subrayar que están hechos de imágenes y sonidos concretos.</p>
<p>  </p>
<p> Algunas disquisiciones sobre los hitos y conatos del cine de vanguardia en España han subrayado que estos se han orientado mayoritariamente del lado del realismo y de un cine crítico que siempre ha mantenido un pie en el suelo, en lugar de lanzarse al vacío de una abstracción extrema. La obra de Val del Omar parece confirmar dicho argumento y muchos de sus escritos también lo acreditan, haciéndose eco de aquella cultura de sangre a la que Federico García Lorca se refirió en su conferencia «Teoría y juego del duende» que seguramente pudo escuchar de su propia voz cuando la pronunció
en Madrid hacia 1933. Y de cuya relectura extraería, casi medio siglo después, profusas notas para un «Espectáculo Lorca Láser».</p>
<p>  </p>
<p> Mas la abstracción no es una fuga de la realidad, y en la obra de Val del Omar se produce primeramente por el rechazo de un hilo causal y narrativo y partiendo de imágenes figurativas. En su aparente desorden –ese que se halla también en sus incontables notas manuscritas–, tales imágenes se acoplan con un desmembramiento sonoro aún mayor, y así se asoman a lo que él buscaba en su cine: la frontera entre la realidad y el misterio, entre el estado de vigilia y el sonambulismo. (Ya se refirió a <i>Fuego en Castilla</i> como un ensayo sonámbulo). Un cine que no sería para darse a entender, sino para darse a sentir.</p>
<p>  </p>
<p> Hay por otra parte una plasticidad pronunciada, a pesar de la apariencia desmañada a veces, infrecuente en el marco del cine español en el que finalmente pretendía moverse. Aunque siempre como un francotirador –un marginal, por tanto–, un «antiambiente»,según una expresión característicamente suya. Dicha plasticidad excede el orden, más común, del buen gusto fotográfico. El concepto mismo de pictolumínica es revelador de la soledad de un adelantado, un visionario, y constituye una prolongación de su TactilVisión, cuyos fundamentos ya había descrito en 1928, cuando por medio de la iluminación perseguía un efecto de relieve ilusorio. De ahí, sin duda, que, al tratar de ponerla en práctica, tomara como materia unas formas de escultura no especialmente distinguidas, tales como las piadosas tallas del antiguo Museo de Escultura Religiosa de Valladolid.</p>
<p>  </p>
<p> Por otro lado, la obra de Val del Omar (sus intentos) devino más radicalmente abstracta con el paso de los años y según se fue alejando de los soportes cinematográficos tradicionales. «El vídeo es la vanguardia», anotó, a la vez que se interesaba por diversos procedimientos post-
y paracinematográficos que convergen en el ideario y repertorio del PLAT. Tanto una cosa como la otra, <i>post</i> y <i>para</i>, ya que el linaje que desciende de la linterna mágica se ensambla con los embriones de la imagen electrónica, la cibernética y la luz coherente que llegó a conocer.</p>
<p>  </p>
<p> A propósito, precisamente, de su notorio interés por el láser, Val del Omar ha replanteado enteramente los términos que ya he mencionado. Pues, a pesar de la apariencia primera de las formas que con su luz crea –retículas o urdimbres láser, patrones en muaré que a veces superpone sobre ideogramas objetivos–, vislumbra y se refiere entonces a una clase de imágenes que ya no serían ni figurativas ni abstractas. Se trata de una intuición que impregna también el conjunto de sus tientos de pictolumínica o intravisión.  </p>
<p>  </p>
<p> Finalmente, si nos preguntamos sobre qué versa este sensorio de imágenes (y sonidos) que ensambla, desensambla y recombina sin fin –de manera más mental que manual–, el oráculo de sus escritos nos remite a conceptos tan etéreos como el duende o el temblor. El duende, los duendes: espíritus de la tierra que aman el borde, la herida, la sangre (Lorca de nuevo). Y el temblor, «porque la vida es eso».
Pero también se trata de la intuición de un tiempo sin espacio ni reloj, de la que extrae su divisa por excelencia: «Mi dios es el Tiempo.»</p>
<p>  </p>
<p>  </p>
<p> <b>Intravisión</b></p>
<p>  </p>
<p> Desde la segunda mitad de los años sesenta, Val del Omar acarreó sus ideas innovadoras y torrenciales, junto con sus aparejos, mientras iba dando tumbos por diversos entes oficiales o dependientes de la Administración; entre los cuales la Escuela Oficial de Cinematografía (EOC en adelante), Televisión Española y Enosa (acrónimo de la Empresa Nacional de Óptica, sociedad anónima adscrita al Instituto Nacional de Industria).</p>
<p>  </p>
<p> Previamente, había dejado abandonados su elemental del aire y el barro de Galicia, <i>Acariño galaico</i>, y los documentales de <i>Festivales de España</i> (que, siendo un encargo que se había buscado, trató de llevar a su propio terreno mediante una palpitante experimentación sobre el color). Por unos años se entregó todo lo que pudo a la búsqueda de apoyo para sus invenciones, en particular los formatos BiStandard e Intermediate 16/35, según iba trotando pasillos y ocupando los espacios que le cedían transitoriamente.</p>
<p>  </p>
<p> Entre tantos trasiegos, en 1968 regresó una vez más a su Granada natal y, provisto de una cámara de 35 mm, realizó numerosas tomas de imagen –presumiblemente, también de sonido– de la Alhambra y de sus riadas de visitantes, del Sacromonte y de Sierra Nevada, de las fiestas del Corpus y otras estampas de color local. Puede ser que, para este rodaje, contara con medios prestados por la EOC, pues algunas tomas incluyen movimientos de travelling y de grúa, mientras que otras adolecen de recursos más precarios o desgastados (por ejemplo, las gelatinas que a veces sitúa ante la cámara).</p>
<p>  </p>
<p> Como había hecho en otras ocasiones, es posible que con estas filmaciones pretendiera componer un documental lírico que, a su vez, constituyese una demostración del formato BiStandard empleado en el rodaje. Nuevamente, sin embargo, este material quedó abandonado durante varios años. Pero es, en cambio, el germen del último proyecto que abrigó, ya con un presentimiento testamentario (lo que se refleja también en algunos de sus textos más íntimos de los últimos años).</p>
<p>  </p>
<p> Durante unos años, Val del Omar pudo disponer de un laboratorio para sus investigaciones en el sótano de la EOC. Algunos documentos dejan entrever que este espacio se le cedió primordialmente para la puesta a punto del sistema BiStandard, un formato de pantalla ancha cuya primera descripción data de 1959.
Pero también que, lejos de conformarse con la demostración de sus aspectos más utilitarios, Val del Omar no cejó en la imaginación de nuevos desbordamientos y procedimientos técnicos.</p>
<p>  </p>
<p> Al fin y al cabo, una de las variantes del BiStandard estaba asociada con el procedimiento del desbordamiento apanorámico: la misma película contendría, en fotogramas alternos, la imagen foveal (o imagen-retina) a proyectar en la pantalla propiamente dicha y la extrafoveal que se derramaría difuminadamente por las paredes, el techo, el suelo y el propio público en la sala.</p>
<p>  </p>
<p> Tratando de pergeñar además un programa de investigación audiovisual más amplio, en torno a lo que llama «medios mixtos» y con mención expresa a la automática y la electrónica, expone una retahíla de conceptos y formulaciones que debieron resultar de lo más abstrusas entre los administradores o gestores a los que se dirigía: cromática táctil, audiolumínica, pictolumínica táctil-color, lírica de tiempos reales, maquillaje electrónico, programadores modulados, montaje por circuitos integrados, pantallas corpóreas, etc.</p>
<p>  </p>
<p> Por esta época, concibió también el artilugio que bautizó con el ampuloso nombre de Óptica Biónica Energética Ciclotáctil. Probablemente, consecuencia de su estudio de los formatos de pantalla ancha, acopló un objetivo anamórfico en rotación –a velocidad variable al antojo– con otro objetivo normal en el mismo eje óptico. Dicho dispositivo hace que la imagen proyectada se contorsione y distorsione cíclicamente, con un efecto para el que invocó como referente la pintura de El Greco.</p>
<p>  </p>
<p> Sus siguientes progresos hacia la pictolumínica –a la que otras veces se refirió como intravisión y, finalmente, como PLAT– provienen de su paso por Enosa, donde debió tener ya un primer alunizaje en 1968, según cierta correspondencia que demuestra que, para empezar, fue recibido casi como un lunático. Dicha empresa fabricaba artilugios ópticos y contenidos destinados al sector educativo, entre los cuales proyectores de diapositivas, filminas y opacos, así como lo que hoy denominamos punteros láser.</p>
<p>  </p>
<p> En este nuevo marco –pero a contrapelo de lo que llamaba su rígido campo didáctico programado–, se diría que la obra de Val del Omar emprende un giro poscinematográfico; aunque ya presentido en intentos y búsquedas anteriores, siempre hurgando en toda clase de máquinas y técnicas de audiovisión. Se puso a pensar también en formatos expositivos (o que hoy denominaríamos instalativos) y performativos, aunque ciñéndose en este caso a unas aplicaciones que creía factibles; tales como exhibiciones para la promoción de la industria y el turismo, y en ámbitos genéricos de la educación, la divulgación cultural y el entretenimiento.</p>
<p>  </p>
<p> Se abalanzó especialmente sobre el Adiscopio: un proyector de diapositivas cuádruples, llamadas diakinas o tetrakinas (cuatro imágenes montadas sobre un mismo marco), concebido por el ingeniero Luis Adiego de la Parra. Val del Omar tomó este artilugio y lo convirtió en una especie de máquina psicodélica, al integrar en su aparato óptico tres ruedas de filtros. Estas segmentan el círculo en cuatro cuartos con los tres colores básicos, más el blanco –la transparencia en este caso–, y girando a velocidades variables, independientes unas de otras, proporcionan la impresión de una imagen que se derrite para dar lugar a otra. En ciertos casos se logra además un efecto de relieve ilusorio, que obedece al espesor mismo de las transparencias proyectadas y a los materiales empleados, emparedados entre cristales
(pegamento transparente, polvos, hilos, recortes de acetato).</p>
<p>  </p>
<p> Tanto este dispositivo como la
óptica ciclotáctil mencionada anteriormente, aúnan una gran simplicidad óptica y mecánica con la clarividencia de un efecto comparativamente poderoso. Val del Omar, sin embargo, no pretendía detenerse ahí. La memoria técnica de su artefacto biónico contiene un número de variaciones y pormenores que enriquecen potencialmente su fundamento. Y, para el adiscopio que modifica y al que también denomina «tetraproyector para pictolumínica», concibe otras aplicaciones y perfeccionamientos. Incluyen un mecanismo de desfile automático en forma de carro o carrusel giratorio, la transformación del proyector en aparato tomavistas
(cámara adiscópica), un sistema de programación por medio de cintas magnéticas portadoras de toda clase de órdenes o instrucciones (dirección y velocidades de giro, el disparo de efectos de luz y color, sonoros, láser, ventiladores, surtidores, etc.) o el uso de prismas para desviar la proyección de las imágenes en los cuatro puntos cardinales.</p>
<p>  </p>
<p> Recopiló estos hallazgos e intentos en informes y relaciones de sus trabajos mentales y materiales en esta etapa (con un tácito énfasis en lo primero), para finalmente salir despedido, como le ocurrió siempre. «Para durar en un puesto del Estado»
–escribió resignado– «lo más conveniente es no hacer nada.» Para seguidamente añadir: «España está llena de Enosas.»</p>
<p>  </p>
<p> Estos y otros artilugios –incluyendo el láser y algunos enoscopes (retroproyectores) modificados con diversos fines– se incorporaron al repertorio siempre en progreso del despliegue optomecánico al que se refería como su «truca», aparato de miembros múltiples, al que ya se refirió en 1971 por lo menos, que finalmente trasladó al último reducto de su propio laboratorio, donde siguió trabajando de una manera casi secreta. En estado de reposo forzoso, y a la espera de restaurar y reactivar sus componentes, tal despliegue puedo describirlo como sigue.</p>
<p>  </p>
<p> En un extremo hay toda una batería de proyectores cinematográficos y de diapositivas, de diversos formatos; muchos de ellos modificados en cuanto a sus elementos
ópticos y mecánicos. En el extremo opuesto hay una pantalla Fresnel de retroproyección y, al otro lado, un panel de control (cuyas funciones precisas hay que identificar todavía) y una cámara que podía ser indistintamente de 35 mm, de super-8 o de vídeo. Y, entre ambas lindes, un largo tablero repleto de pequeños objetos, artefactos ópticos y mecanizados, algunos de ellos de frágil aspecto, desplazables al antojo y hechos de materiales rudimentarios o reciclados.</p>
<p>  </p>
<p> Val del Omar ha inventariado estos componentes y sus efectos en diversos documentos que proporcionan una descripción escueta y un tanto críptica de los mismos. En su ausencia, son como el manual de instrucciones de una máquina soltera. Aunque sirve para identificar la función de muchos de sus elementos.</p>
<p>  </p>
<p> Los resultados de su acción sumada pueden entreverse a partir de varios carretes de super-8 que filmó
en la segunda mitad de los setenta. Y también en un rollo de 35 mm de poco más de tres minutos, mudo y sin ningún tipo de montaje posterior, que probablemente no pretendía ser otra cosa que una prueba o demo y que se conoce con el título de <i>Variaciones sobre una Granada</i>. En ella se puede apreciar asimismo la intervención del láser, iluminando con luz rojiza las entrañas, los granos de las granadas.</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>Duendes</b></p>
<p>  </p>
<p> En el <i>locus amoenus</i> de su último refugio, Val del Omar encontró tiempo para retomar sus proyectos interrumpidos y tratar de dar un sentido final al conjunto de sus elementales. Desde los años cincuenta, sus filmaciones repiten en cierto modo la experiencia ambulante de las Misiones Pedagógicas de la República y de los documentales que realizó en su seno o por su cuenta. Cintas cuyos títulos remitían a su propio asunto, al reflejar escuetamente el nombre de las poblaciones o tierras visitadas: Santiago de Compostela, Finisterre, Córdoba, Murcia, Las Hurdes, etc. Pero, si con la cámara pretendía entonces fotografiar lo objetivo, sus cinegrafías líricas tratan de atrapar el espíritu de los lugares a los que acude.</p>
<p>  </p>
<p> Oralmente y por escrito trazó el plan de la obra recapitulativa que tenía en mente, el <i>Tríptico elemental de España</i>, compuesto, en orden inverso al de su ejecución, por los cortos
<i>Acariño galaico (De barro)</i>, <i>Fuego en Castilla</i> y <i>Aguaespejo granadino</i>. Esta trilogía pretendía tener a su vez la cuadratura de un cuarto elemental a modo de colofón. Un vértice y vórtice que consumaría y daría una nueva perspectiva al quehacer, admitidamente escaso en minutaje, de media vida dedicada al sueño de un cine distinto. «Un sueño de cinematografía intuida insólita por andar sus imágenes flotando sin aparente coherencia.»</p>
<p>  </p>
<p> Un caudal de notas rodea la fijación de este cuádruple conjunto. En ellas elucubra una y otra vez sobre las diversas posibilidades que toma en cuenta para culminar su obra ante el presentimiento de la vida sesgada. El <i>Tríptico</i> mismo recibe otros títulos alternativos, enunciados o formulaciones, tales como «Tríptico de la tierra, el fuego y el agua» o «Retablo del duende de España».
(Como siempre mantenía otros títulos en la recámara, este último lo contempló igualmente al concebir el Espectáculo Lorca Láser mencionado antes.)</p>
<p>  </p>
<p> Algunas de estas notas entrañan una reconfiguración bien drástica del <i>Tríptico</i>, como cuando apunta a una ralentización extrema de alguna de sus piezas, hasta triplicar su duración, o a otras variantes que comportarían modificaciones no menos sustanciales. Ya fuera en su montaje o en el momento mismo de su proyección, convertida esta en un acto performativo o en lo que él denominaba un suceso o acontecimiento y que incorporaría, por otra parte, las técnicas del desbordamiento y la diafonía.</p>
<p>  </p>
<p> También anota la posibilidad de crear un efecto de tríptico visual (por tanto, no meramente conceptual), y cabe preguntarse si no estaría pensando en proyecciones simultáneas en una pantalla triplicada. En el fondo, es tal como la obra se ha presentado en algunas ocasiones recientes, con la desventaja de la mezcolanza acústica que así se produce.  </p>
<p>  </p>
<p> Pensando asimismo en el éter de la radiotelevisión, sueña además con la combinación de ambos medios; la radio para vehicular un segundo canal sonoro. De hecho, la transmisión simultánea o <i>simulcast
</i>de un determinado acontecimiento, era relativamente habitual en su tiempo, y le permitía pensar en una diafonía a domicilio.</p>
<p>  </p>
<p> Pero a lo que voy, para concluir, es a ese broche último –que ni siquiera llegó a labrar suficientemente–, donde se habría rotundamente manifestado aquello que describió como el salto del documental al desquiciamiento total.
Un cine fuera de quicio sería el estadio supremo de un sueño llevado a un nuevo umbral, y en alguna de sus notas se refiere a un PLAT, que es como decir: otra clase de artefacto más allá de una película convencional. (Aunque, en su época y lugar, ninguna de las suyas lo fue.)</p>
<p>  </p>
<p>  </p>
<p> <b>El reloj al agua</b></p>
<p>  </p>
<p> Así como el <i>Tríptico</i> partía de unos elementos asentados por el paso del tiempo, su vórtice o apéndice constituye el <i>work in progress</i> por excelencia: una obra quimérica, interminable y, finalmente, ilegible. Así lo sugieren las embrolladas notas en las que Val del Omar titubea sobre las diversas maneras de dar forma a una suma de materiales y hallazgos que acumuló durante años, acudiendo a diversos soportes, formatos y técnicas: filmaciones en 35 mm y en super-8, diapositivas que a menudo superpone en sándwich, transparencias creadas manualmente (con tintas, partículas, pegamento…), cabriolas ópticas, urdimbres láser, etc.</p>
<p>  </p>
<p> Algunas veces parece dar prioridad al material filmado y, otras, a una reelaboración de las imágenes mediante las técnicas pictolumínicas. Así es como el proyecto pasa de ser un «choquescope arábigo-andaluz»
(enfatizando su particular formato de pantalla ancha, el susodicho BiStandard) a un PLAT con idénticos apelativos. Aunque, entre tanto, brotan otros títulos como «El reloj al agua», «Tientos de erótica celeste»
(con el que luego se recopilaron sus fragmentos poéticos) y «Oculto Dios Abierto».
Finalmente pareció inclinarse por otro sutilmente enigmático, siendo en cambio una expresión bien corriente: «Ojala».
Palabra que él pronunciaba sin tilde, procedente del árabe <i>law sha’a Allah</i>, «si Dios quisiera» y que en sus notas se desencripta en la frase «Ojalá
tires tu reloj al agua» u otras parecidas.</p>
<p>  </p>
<p> Esta es la exhortación que imaginariamente dirige a las masas de turistas que fotografía una y otra vez en su Granada –tanto en 35 mm como en super-8–, deambulando apresuradamente por el recinto de la Alhambra y, con la linterna en la frente –todo tipo de cámaras en sus manos–, llevándosela a trocitos en forma de imágenes-recuerdo.
Apresuramiento de los turistas, resbalando por la historia de una cultura que él sentía en sus venas –hasta el punto de arabizar su auténtico apellido, Valdelomar, a sugerencia de Florián Rey según se dice–, que resalta y caricaturiza mediante la fotografía a intervalos, <i>stop motion</i>, que acelera las pautas de sus correrías.</p>
<p>  </p>
<p>
«El agua me suena como si fuera mi propia sangre», escribió. Solo con el reloj desprendido o averiado por el agua
–elemento recurrente y consustancial al ser– será posible la intravisión que Val del Omar pretende. Una intravisión mecamística, por lo que tiene de mecánica y de invisible; invisibilidad que a su vez se trueca en las técnicas de umbral (o subliminales) que pretendía aplicar a modo de compendio de sus experiencias o tientos PLAT. Sin embargo, en una recapitulación manuscrita de múltiples notas anteriores, escribe: «mecamística o, mejor, metamística».
Lo que viene a coincidir con un tiempo en que, sin abandonar sus tenaces referentes en la tradición extática española –San Juan de la Cruz, Santa Teresa de Jesús, el sufita andalusí Ibn Arabi–, los ha mezclado cada vez más con todo cuanto llamaba su atención en las órbitas del pensamiento, la ciencia y el arte contemporáneos.</p>
<p>  </p>
<p> Por aquel entonces, se proclamaba el introductor del underground de protesta en España, a propósito de ciertos recreos de su niñez, en un internado religioso, con una linterna mágica de confección propia. Sospecho también que pudo asistir a las sesiones de cine experimental y de artistas que organizábamos sus alevines; sin darse a conocer si así fuese (por otra parte tampoco le conocíamos, ni siquiera de nombre, todavía). Todo indica que estaba bastante al corriente de las claves o referentes de la cultura y contracultura de los años sesenta y setenta. Leía a Khalil Gibran, Alan Watts y Fritjof Capra, alternándolos con la relectura de San Juan de la Cruz y los cabecillas de la renovación pedagógica en tiempos de la República.
Reconocía en los escritos de McLuhan una coincidencia con sus propias y persistentes ideas. Escuchaba música pop y electrónica, con el mismo interés por el que siempre volvía a su idolatrado Falla y a los sonidos negros del flamenco. También puede intuirse su interés por ciertas inclinaciones tecnológicas en las artes visuales, y por todo aquello que entrañara una limpieza de las puertas de la percepción.</p>
<p>  </p>
<p> Todo eso se refiere, ciertamente, a su vida privada. Pero es que su propia actividad como artista parece haberse circunscrito cada vez más a un ámbito igualmente privado.
Por otro lado, incorporó en su quehacer los mismos medios que manejábamos o que nos intrigaban a los principiantes de entonces. Particularmente, el humilde formato del super-8 y la tecnología todavía primaria y escurridiza del vídeo, así como los horizontes que intuíamos en la noción de un cine expandido. Muchas de las imágenes de sus últimos años no pueden ser fechadas según la edad que él tenía cuando las tomó o las hizo. Yo mismo y otros colegas de mi generación hemos reconocido en algunas de las suyas una cercanía con nuestros propios pinitos y con los referentes por los que nos guiábamos, que eran primordialmente foráneos y de un vanguardismo intolerable en el túnel de salida de la dictadura franquista.</p>
<p>  </p>
<p> Todos estos factores son parte del sentimiento de proximidad por el que me atreví a revolver un desván de imágenes y sueños ajenos cuando, entre los años 2002-2004, me sumergí durante varios meses en sus materiales y proyectos postreros, para componer el largometraje <i>Tira tu reloj al agua</i>. Título que en cierto modo comporta una exhortación al propio público de este film híbrido y palimpséstico, al que añadí un subtítulo que creo esclarecedor de por sí: <i>Variaciones sobre una cinegrafía intuida de José Val del Omar</i>.</p>
<p>  </p>
<p> Tales variaciones, según una reflexión posterior a mi elaboración intuitiva de las mismas (y del film como una totalidad coherente, incluidas sus brusquedades máximas), creo que reflejan las diversas fases de un proyecto que se demoró largos años, durante los que Val del Omar ejecutó la suma de materiales de los que partí, reformulando una y otra vez sus ideas para un film, o acaso un par, que en cualquier caso no habrían rebasado la duración habitual de sus intensos elementales. El proyecto quedó finalmente truncado en cualquiera de las versiones o variantes que su bullente magín imaginó.</p>
<p>  </p>
<p> Dejó, eso sí, un residuo muy preliminar de lo que pretendía mediante un copión en blanco y negro montado de las imágenes que rodó en Granada en 1968. No es un material estéril: personalmente me sirvió para adivinar el uso que pretendía dar a ciertas imágenes de las que, otramente, habría quizá prescindido. También me sirvió para confirmar los ritmos que yo mismo deduje de los materiales sobre los que trabajé. En todo caso, dicho residuo dista mucho de las explicaciones que escuché de su propia voz, en la soledad sonora (las máquinas en pausa) de su jardín mecánico.</p>
<p>  </p>
<p> <i>Ojala</i>, su postrer intento, había de ser un manifiesto y epítome de todo cuanto urdió en un periodo aproximado de quince años. Era cuando ya parecía haber abjurado del cine, en favor de otras prácticas (PLAT, laserfonía), aunque para finalmente volver a él con una sacudida extrema. «El espectáculo conmocional tiene que hacer pupa», escribió. Más allá de la diafonía, el desbordamiento, la tactilvisión, la iluminación cambiante en la sala o los reclamos polisensoriales que había imaginado previamente para envolver y aturrullar al público, pensó aún en otras convulsiones más contundentes. Retomando sus ideas sobre el Faratacto (sistema de transmisión de sensaciones vibrátiles en las butacas, nombrado así
por alusión a Faraday), se planteó la idea de calzar al público con unas babuchas que, en determinados momentos, emitieran ligeros impulsos eléctricos. Se trataba en definitiva de electrocutar a la audiencia, situarla en un estadio de conmoción figurada y drástica, y ponerla a levitar en cero gravedad.  </p>
<p>  </p>
<p> Antes de llegar a una aspiración tan radical, Val del Omar contempló otras posibilidades. Concernían, en primer lugar, a las filmaciones, en color y BiStandard, que había realizado en Granada en 1968 y en 1974. Aunque estas últimas, en las que sobreabundan los planos de flores y plantas, yo creo que las tomó
en vistas a posibles ensayos del sistema electrónico del Cromatacto.
Así me lo sugirió la asociación de unas «flores palpitando», mencionadas entre sus notas, con el Palpicolor –que fue un desarrollo previo de dicho sistema («el color es cosa palpitante», sostuvo en un congreso sobre cinematografía en color que tuvo lugar en Barcelona en 1961)–, y así he utilizado algunas de esas imágenes en <i>Tira tu reloj…</i>, si bien desde una interpretación muy aproximativa de los principios del Cromatacto.</p>
<p>  </p>
<p> Tras la pintoresca concepción del
«choquescope»
que mencioné anteriormente, pensó en un tríptico granadino que integraría su <i>Aguaespejo de la gran siguiriya</i> (un nuevo título y una contracción de los dos que utilizó en la primera manifestación de su plástica lírica); no en cambio su presagio en <i>Vibración de Granada</i> (1935), uno de los pocos films que había conservado de sus años de juventud. Este tríptico jamás cuajado hubiera entrañado, según sus ideas, tres aproximaciones distintas: figurativa la primera, abstracta la segunda, de cohesión la tercera. (El término cohesión se asocia, en muchos de sus escritos últimos, a sus experiencias con el láser y las técnicas PLAT en general: se referiría por tanto, y de nuevo, a esa clase de imágenes ni abstractas ni figurativas que vislumbraba.)</p>
<p>  </p>
<p> Otra de sus anotaciones desglosa tres partes o estadios equivalentes en términos de reportaje, lírica y delirio. Si se hubiera atenido a estos esquemas preliminares, así
como al material que había rodado en 35 mm, está claro que Val del Omar distinguía dos motivos principales entre sus imágenes. Uno es el de los «turistas ciegos»
(con las prótesis de visión que acarrean) o los «turistas resbalando»
(por las huellas de la cultura árabigo-andaluza). El otro es más difícil de precisar, pues el asunto que pretendía abordar era el tiempo o «lo que la tierra a solas con su Dios nos muestra»: la deidad del Tiempo. Todo indica que, en este caso, habría entremezclado las imágenes de los jardines y surtidores del Generalife con las vistas de la ciudad de Granada y de los festejos, religiosos y profanos, que forman parte de su calendario. Dicho dualismo lo expresa aún de otra manera, mediante los términos antagónicos del «paraíso cerrado»(la ciudadela fortificada de la Alhambra) y los «jardines abiertos»
(su espacio de recreo en el Generalife), que toma de un poemario de 1652 del granadino Pedro Soto de Rojas (<i>Paraíso cerrado para muchos, jardines abiertos para pocos</i>).</p>
<p>  </p>
<p> Finalmente, estos diversos motivos y registros los fundió en uno solo, ya con la firme intención de acudir a la intravisión, las técnicas de incisión conmocional del PLAT. Imaginó un espectáculo del Temblor –entre el vértigo y el
éxtasis, sin pies ni suelo, del enajenamiento al ensimismamiento–, donde el espacio, el tiempo, la perspectiva, la secuencia, la apariencia, la lógica, la gravedad… todo desapareciera o fuera abolido. Concebía sus imágenes como ideogramas y pneumas, fluyendo en remolinos o según la nueva sintaxis de los intervalos para el drama eléctrico. La noción de intervalo, por cierto, halla un eco anterior en los escritos teóricos de Dziga Vertov, aunque creo improbable que Val del Omar la adoptara por influjo del creador del Cine-Ojo, y en definitiva la ha empleado en relación con lo que otras veces llamó dialécticas, encuentros, choques o síntesis de contrarios: la oscuridad y la transparencia, el silencio y el ruido, lo enfocado y lo desenfocado, la vida y su simulacro, lo centrípeto y lo centrífugo, positivo y negativo, infrarrojos y ultravioletas, sístole y diástole, plenitud y vacío, nacer y morir, ternura y violencia, y así sucesivamente.</p>
<p>  </p>
<p> Pretendía una pregnancia a través del masaje del medio y con el mayor voltaje posible (descargas eléctricas incluidas), sobrepasando la propia de los espots publicitarios que consideraba la vanguardia de los medios de comunicación masiva. Anotó una y otra vez la multiplicidad de ingredientes y técnicas que pretendía combinar, así como los diversos tiempos o movimientos que contemplaba para esta pieza voraginosa. Una aglomeración rítmica de imágenes, incluso al borde de dejar de serlo: entrañas cósmicas trazadas con la luz coherente del láser, duendes de pegamento líquido embadurnado en placas de vidrio o tetrakinas, paisajes de cohesión pictóricos creados sobre análogos soportes, surtidores estroboscópicos salpicando gotas o lágrimas de agua, éxtasis ciclotáctiles de imágenes en convulsión sobre sí mismas, sobreimpresiones fluyendo en cascada, aceleraciones y ralentizaciones máximas, pálpitos de imágenes por polarizadores y otras formas de intermitencia óptica, ritmos cambiantes y procedimientos cercanos al montaje métrico, cromatacto y cromogénesis, tramas o telarañas superpuestas, reverberaciones diafónicas…</p>
<p>  </p>
<p> Todo congelado, fundido, amalgamado, entramado, desleído, sobremontándose, girando, ondulando, mutando, flotando, confundiéndose, transformándose… En un vórtice de vacío aleteante. Una comunicación de latidos, pálpitos, parpadeos, intuiciones, por medio de un lenguaje de temblores. «Casi sin sonidos y casi sin imágenes», añadió: bien paradójicamente si atendemos a la fuerza que consiguió con lo uno y lo otro, no tanto si llegamos a comprender el tuétano de su intravisión. El último intento de Val del Omar no fue tanto un proyecto cinematográfico como un sueño sin fin y en desbordamiento total que se llevó consigo.</p>
<p>  </p>
<p> La sección final de <i>Tira tu reloj al agua</i> tiene una particularidad que me enorgullece por la emoción que desprende, según diversas personas que han apreciado la manera licenciosa, a la par que respetuosa, con la que abordé sus residuos. Aquí, al combinar aquellas filmaciones de Val del Omar de carácter más privado con unos textos introspectivos o autobiográficos, él pasa a ser el sujeto mismo, el héroe por así decirlo, de un film casi enteramente construido con sus propias imágenes. Y con la pretensión de librarle de los hiperbólicos halos –en su vida sambenitos–
del creador raro, ignorado, maldito, excéntrico e idealista desquiciado, elegí unas palabras que le retratan a ras de suelo y dispuesto a levantar el vuelo:  </p>
<p>  </p>
<p>
«Soy un profesional de nada. Un pobre bicho humano que emplea para su tarea de comunicación el contagio de su propia pasión ciega, desordenada, caótica. […] Soy un pobre mono pretendiendo no morir.
Un loco sediento, buscando el agua de Dios en todas sus criaturas. Un loco urbano, al que no le interesaron nunca los inmuebles del espacio. Un arrebatado precipitándose al vacío transparente y mudo del Gran Tiempo.»</p>
<p>  </p>
<p> Para mi fue un privilegio llegar a conocerle y aprender de su sueño.</p> </body> </html>