  <p> <b>La estructura monomórfica o la imagen contrariada</b></p>
<p>  </p>
<p>
«Cualquier cosa que se pueda decir sobre Fluxus debe haber sido cierta en un momento u otro; y sino, indudablemente lo será alguna vez en el futuro. Igualmente, cualquier cosa que se pueda decir sobre Fluxus será falsa en algún momento.»</p>
<p>  </p>
<p>
                     Ken Friedman</p>
<p>  </p>
<p>  </p>
<p> composición 1961, núm. 4, 9 febrero</p>
<p> dibuja una línea recta y síguela</p>
<p>  </p>
<p> La Monte Young</p>
<p>  </p>
<p>  </p>
<p> <b>Fluxus y alrededores</b></p>
<p> Situar a Fluxus en su lugar, entre los fenómenos artísticos más extremos e influyentes de la segunda mitad del siglo que se extingue, parece ser una reivindicación de la mayor actualidad, visto el renovado interés que Fluxus despierta a través de una cierta proliferación de exposiciones y publicaciones recientes. Dicha reivindicación no ha estado por otra parte ausente entre las páginas que se ocupan de la historia y estudio del cine y el vídeo experimental; páginas marginales o doblemente marginadas
(tanto de la historia del arte como de la historia del cine y las imágenes móviles en general) en las que Fluxus hace una aparición precursora.</p>
<p>  </p>
<p> Sin embargo, Fluxus representa algo más que una leyenda moderna, heroica y bufa al mismo tiempo, de pioneros y payasos. En este sentido, el cine y el vídeo de Fluxus no pueden considerarse desgajadamente de otras prácticas y otros medios, en los que de hecho se han verificado el grueso de las actividades que se identifican con su nombre. Y su contemplación aislada carece asimismo de sentido si no se sitúa sobre el trasfondo de otros fenómenos, movimientos e individualidades contemporáneas o cercanas en el tiempo, el contexto o el comportamiento.</p>
<p>  </p>
<p> Las dimensiones de este artículo obligan a una cierta concisión y limitan al mínimo las posibles excursiones a los «alrededores» de Fluxus. Algunos de ellos son debidamente mencionados por sus conexiones más obvias, mientras que otros forman aún parte de las zonas de sombra entre las que Fluxus mismo ha sobrevivido a lo largo de treinta años; sin embargo, al igual que ha ocurrido con Fluxus, algunas de dichas zonas están mereciendo una nueva atención que se traduce en muestras y publicaciones que iluminan su extensión y particularidades. Así, el cine de los letristas y situacionistas, o el que germina contemporáneamente entre los diversos grupos de vanguardia vieneses, o el de un artista tan singular como Marcel Broodthaers, constituirían otros episodios paralelos y/o precedentes con ciertos puntos de contacto con el aquí examinado.  </p>
<p>  </p>
<p> <b>Fluxus y (neo-)dadá</b></p>
<p> A partir del redescubrimiento de dadá como parte de un fenómeno generalizado de reanudación del vanguardismo en la posguerra, el término <i>neo-dadá</i> se impuso para designar toda una diversidad de manifestaciones y movimientos artísticos. Y aunque dicho término está
indisolublemente unido a los orígenes del arte pop y del Nuevo Realismo, Fluxus tiene con dadá una filiación particularmente inequívoca.</p>
<p>  </p>
<p> Fluxus podría describirse como un grupo internacional de artistas, vinculados entre sí por algunas ideas, influencias o actitudes en común; aunque también con sus disensiones intestinas. Pero, de acuerdo con lo declarado por sus propios protagonistas, parece que Fluxus pudiera definirse mejor por lo que no sería que por lo que habría sido: no sería un movimiento ni un estilo o corriente artística; algunos incluso insinúan que ni siquiera es correcto hablar de grupo. Esta dialéctica de afirmación por la negación, tan familiar a Fluxus, nos retrotrae a dadá –así
como a las frecuentes referencias a la filosofía zen entre los miembros y allegados de Fluxus–, de igual manera que las descripciones «positivas» de Fluxus se plantean en términos similares a los aplicados a dadá: un modo de vida, una visión del mundo, un espíritu...</p>
<p>  </p>
<p> De hecho, Fluxus se asemeja a dadá
en diversos aspectos: nace de un proyecto de revista al igual que dadá (al menos según algunas versiones); congrega a sus miembros a través de una sucesión de actuaciones públicas perturbadoras; y, a la vez, se disgrega en múltiples escenas y zonas, en un triple sentido artístico, geográfico y temporal. Asimismo, las actividades y actitudes características de Fluxus pueden describirse mediante vocablos del todo similares a los que puso en juego dadá: azar, humor, nihilismo, sinsentido, agitación... sin olvidar lo que hoy nos puede parecer una inocente o anacrónica palabrería de negación o interrogación del arte (el antiarte, el anartista), en busca de nuevas formas de arte (o de no-arte) y de la confusión del arte con la vida.</p>
<p>  </p>
<p> <b>Fluxus, geografía e historia</b></p>
<p> A diferencia de dadá, Fluxus tiene una paternidad muy clara (no solo en cuanto a su bautizo, sino también como aglutinante) en la persona de George Maciunas; aunque, al fin y al cabo, una paternidad compartida con otros cómplices, y adoptando como mentores a Marcel Duchamp, Erik Satie o John Cage
(pero tratando de desprenderse de su peso e influencia). En cuanto a la fecha y lugar de nacimiento de Fluxus, suele hoy considerarse que fue en 1962 y en Alemania, pero igualmente podría decirse que lo fue al menos un año antes y en la mente de George Maciunas, o cuando Nam June Paik le cortó la corbata a John Cage (<i>Etude for Pianoforte</i>, Colonia, 1960), o con cualquier otro gesto o intención memorable o irrelevante.</p>
<p>  </p>
<p> Sea como sea, para mediados de los años sesenta se había cumplido la expansión internacional de Fluxus, con una aparente red organizada de centrales o células en los cuatro puntos cardinales de un mapa, más que físico, imaginario, pero geográficamente muy extendido (España figuraría en él, con el grupo Zaj como célula independiente) y que llegó a provocar alguna cómica disputa territorial (de Wolf Vostell con Joseph Beuys).</p>
<p>  </p>
<p> Después, el espíritu de grupo se fue aparentemente diluyendo. Sin embargo, al filo y a lo largo de la nueva década de los setenta, Fluxus revivió aún merced a la actividad desplegada por algunas de sus células (la alianza de Yoko Ono y John Lennon entre ellas) y por la formación de otras nuevas en Estados Unidos (el llamado Young Fluxus), Inglaterra, Australia o Suiza (el grupo Écart). Por lo demás, según ha escrito Ken Friedman, otrora al frente de Fluxus West (la muy activa célula californiana): «El hecho de que Fluxus sea historia no significa que Fluxus haya muerto.»</p>
<p>  </p>
<p> <b>El </b><i><b>event</b></i><b>, arte alternativo, arte expandido</b></p>
<p> Los artistas que formaron Fluxus procedían básicamente de tres disciplinas: la música, las artes plásticas y, en menor proporción, la literatura. Sin embargo, las obras que les dieron a conocer solo se atienen parcial o puntualmente a la definición tradicional de dichas disciplinas o territorios artísticos. En primer lugar porque las transgreden de diversas formas, y en segundo lugar porque sus fronteras mismas se disuelven; se habla así de antimúsica, música de acción o teatro musical, o de arte de concepto, poema-objeto, neo-haiku, <i>event</i> o simplemente Fluxus.</p>
<p>  </p>
<p> El <i>event</i>, una de las prácticas más características de Fluxus, participa tanto del arte de acción como del arte de concepto en su sentido más estricto, en la medida en que constituye un acto, un mero gesto o una simple instrucción: «[poner] un jarro de flores sobre un piano»
(<i>Piano Piece</i>, de George Brecht, 1962) o «introducirse en la vagina de una ballena hembra viva» (<i>Danger Music for Dick Higgins</i>, de Nam June Paik, 1962). Pero incluso la instrucción o «partitura»
más descabellada e irrealizable ha de ser representable como acción, como «evento» (en el extremo, absolutamente mental) por la libre interpretación de su ejecutante.</p>
<p>  </p>
<p> Otra faceta muy significativa de la producción de Fluxus es el uso de los materiales más humildes para crear objetos multiplicados (<i>mass-produced</i>, decía Maciunas), tales como publicaciones de todo tipo, sellos postales y de goma, un sinfín de películas, juegos de azar, reliquias, instrumentos, etc., y su reunión en cajas o maletas a modo de antología o museo portátil (los <i>Fluxyearboxes</i>, <i>Fluxkits</i>, etc., confeccionados artesanalmente por Maciunas y otros).</p>
<p>  </p>
<p> Pero una de las aportaciones esenciales de Fluxus es sin duda su contribución a una concepción
<i>intermedia</i> de las artes. Dick Higgins, uno de los primeros en introducir dicho término (que halló entre los escritos de Coleridge) en la jerga del arte contemporáneo, ha ilustrado a la perfección su significado, al poner el ejemplo de la poesía concreta como <i>intermedium</i> entre la poesía y las artes visuales. George Maciunas acuñó por su parte la expresión <i>expanded arts</i> (abarcando a su vez el <i>expanded cinema</i>)
y expuso por medio de sucintos diagramas sus ingeniosas, aunque algo tendenciosas, lecturas sinópticas de su desarrollo y de los antecedentes, influencias e interconexiones de algunas de las principales tendencias artísticas de los años sesenta.</p>
<p>  </p>
<p> <b>Fluxus minimalista</b></p>
<p> El artista plástico y cineasta Hans Richter, al término de su libro <i>Dada, Kunst und Antikunst</i>
(1964), ha caracterizado en pocas palabras uno de los rasgos mayores de Fluxus, aunque refiriéndolo al conjunto del entonces denominado neo-dadá, y primordialmente al arte pop, al Nuevo Realismo y al happening. Más que dadá, Richter quizá ya estaba un poco gagá, y su punto de vista no era precisamente comprensivo hacia aquellos a quienes contemplaba como desviados epígonos; sin embargo, acertó al resaltar la idea de extraer «<i>algo</i> de la <i>nada</i>», no solo aplicable a varios de los artistas que menta o alude –el vacío de Klein, el silencio de Cage (el piano mudo de <i>4'33&quot;</i>)
son referencias inevitables–, sino, por excelencia, a Fluxus (como se verá a propósito de sus films y primeras experiencias en vídeo).</p>
<p>  </p>
<p> A este <i>algo</i> extraído de la <i>nada</i> se le podría llamar <i>lo mínimo</i>. El arte minimalista, aunque es otra manifestación muy distinta, ha surgido en definitiva del mismo clima artístico. La relación entre Fluxus y el minimalismo podría observarse como análoga a la que otrora se dio entre dadá y el constructivismo. La diferencia estribaría en el plano que se asigna a la estructura formal (primaria). Los propios artistas de Fluxus han enfatizado esta otra acepción minimalista.
Según Dick Higgins, lo que diferencia a Fluxus de sus antecesores históricos, es su peculiar «insistencia» en la «elegancia» de lo mínimo; algo que se fragua con el futurismo –Higgins menciona como ejemplo el teatro sintético futurista– y con dadá mismo, pero que Fluxus llevará al extremo.</p>
<p>  </p>
<p> Por último, el artista Fluxus sería consciente de las contradicciones que entraña su propósito, como lo da a entender Ben Vautier al decir que «su empeño consiste en primer lugar en agotar todas las posibilidades y límites del “todo es arte”, y en segundo lugar en sobrepasar el “todo es arte”
mediante una actitud antiartística no-artística», para reconocer al cabo que el no-arte acaba también por convertirse en una forma de arte. Lo mínimo, pues, sería igualmente la expresión de tales propósitos, y la comprensión nihilista de un arte (algo) de y para la nada.</p>
<p>  </p>
<p>
*</p>
<p>  </p>
<p>
«A partir de aquí estamos solo a un paso del cine absoluto, el cine de nuestra mente.»</p>
<p>
                                                   Jonas Mekas</p>
<p>  </p>
<p>  </p>
<p> <b>Del film minimalista al film estructural</b></p>
<p> Se ha dicho que Maciunas pudo haber concebido Fluxus tomando como modelo la New York Filmmakers'
Cooperative, organización autogestionaria fundada en 1962 por diversos cineastas independientes. Lo que sí es seguro es que existió un contacto bastante estrecho entre Fluxus y la escena del cine independiente o underground, de la mano de sus respectivos líderes orgánicos, Maciunas y Jonas Mekas, ambos de origen lituano.
Esto explica que aparezcan vinculados a Fluxus, aunque episódicamente, los nombres de Paul Sharits, George Landow, John Cavanaugh o Stan Vanderbeek, <i>filmmakers</i> que se cuentan significativamente entre los introductores de unos nuevos planteamientos y conceptos a los que darían nombre expresiones como <i>cine estructural</i> y <i>cine expandido</i>.</p>
<p>  </p>
<p> La noción de cine estructural
(<i>structural film</i>)
fue introducida por P. Adams Sitney en un artículo publicado en 1969 en la revista <i>Film Culture</i>, el cual Maciunas se apresuró a rebatir con un cuadro sinóptico (que Sitney tuvo la elegancia de reproducir en una revisión posterior de su artículo), inaugurando un debate de innumerables secuelas sobre un término que, en cualquier caso, terminaría por imponerse y pasaría a designar una tendencia predominante en el cine experimental de la década siguiente.</p>
<p>  </p>
<p> El sucinto texto-esquema de Maciunas expone algunas perspicaces ideas a partir de la distinción semántica entre <i>estructura simple</i> y <i>compleja</i>, para proponer a continuación la noción de <i>estructura monomórfica</i>, que se vincula –en la jerga propia de Maciunas y adláteres– a las de
<i>neo-haiku</i> y <i>arte de concepto</i>
(esta última, anticipada por Henry Flynt). De esta manera, Maciunas ha descrito la característica por excelencia de las prácticas de Fluxus, incluidas las propiamente fílmicas, y ha sugerido la urdimbre que uniría al cine (y contracine) de Fluxus con el cine estructural de Sitney; y a ambos con otras tendencias y manifestaciones paralelas o precursoras en el conjunto de las artes
(en plural y en expansión, <i>Expanded Arts</i>, tal como el propio Maciunas propuso en un anterior cuadro sinóptico). En cambio, Sitney es poco hábil manejando referencias estéticas externas al objeto cinematográfico y descarta expresamente toda relación entre el film estructural y el arte minimalista (significativamente, también denominado <i>estructuras primarias</i>) y conceptual, cuando tal relación es visible en muchos aspectos.</p>
<p>  </p>
<p> Sin embargo, podría decirse que también Sitney tiene su parte de razón cuando toma en cuenta pero rechaza las «correcciones» de Maciunas, en el sentido que, si los films de Fluxus operan sobre la <i>estructura monomórfica</i> más simple, el cine que Sitney bautiza de <i>estructural</i> tenderá más bien a operar con estructuras más complejas, polimórficas. El propio Maciunas lo observa a propósito del film
<i>Arnulf Rainer</i> (1958-1960), de Peter Kubelka, hecho de elementos mínimos y esenciales –luz y oscuridad, sonido y silencio–, pero con una intrincada estructura rítmica de los mismos. Y un film tan emblemático de la nueva tendencia como <i>Wavelength</i>
(1968), de Michael Snow, es igualmente ilustrativo, al partir de una estructura simple (un lento movimiento de zoom) que deviene sin embargo compleja por las incidencias (de montaje, ópticas y narrativas) que la envuelven simultáneamente. Por otro lado, si se trata de hallar precursores, se justifica Sitney, cabría remontarse al <i>Anemic Cinema</i>
(1926) de Marcel Duchamp, o incluso a los films de Lumière. En efecto, el cine de Fluxus reanudaría en este sentido una tradición de cine primario, anémico, mínimo, que gira sobre sí mismo en un gesto que oscila entre la interrogación y la risa.</p>
<p>  </p>
<p> <b>Fluxfilms/1</b>[<b>[[1]]</b>]</p>
<p> El corpus cinematográfico de Fluxus ha quedado parcialmente reunido en un film conocido por <i>Fluxfilm Program</i> o <i>Fluxus Anthology</i>, compilado por Maciunas y del que, a partir de 1966, han circulado distintas versiones cuya duración oscila entre los 36 y los 100 minutos. Sin embargo, ninguna de las versiones conocidas incluye la totalidad de los films o fragmentos, a cada uno de los cuales Maciunas les atribuyó un número, aunque el orden sea aparentemente aleatorio en todas las versiones. (Los films mencionados más abajo fueron realizados entre 1965 y 1966, salvo cuando se especifica otra fecha).</p>
<p>  </p>
<p> La antología fílmica de Fluxus constituye un relevante compendio, todavía sorprendente en muchos aspectos, de una exploración del medio fílmico llevada a sus límites. A través de la relativa heterogeneidad de los diversos segmentos, sus mínimas proposiciones se reparten entre los extremos de la mayor y menor variedad o discrepancia de un fotograma a otro
–entre la elaboración imagen por imagen (<i>single frame</i>, <i>stop-motion</i>)
y la toma única (<i>single shot</i>) y, a menudo, estática–; y el conjunto, en la alternancia de la extrema rapidez y la extrema lentitud (<i>slow motion</i>). Así, por un lado, hay la brevedad de aquellos fragmentos que fluyen en apenas unos segundos (por ejemplo, los fluxfilms 3, 7, 8, 11, 24, 25, del 26 al 28, y 31, de los que expongo otros detalles más abajo), así como la aceleración del flujo de imágenes distintas en cada fotograma, destacando algunos trabajos primerizos de Paul Sharits (fluxfilms del 26 al 29), que son, sin embargo, el semillero de su sólida obra posterior, basada en el fotograma, las intermitencias y el discurrir de la película.</p>
<p>  </p>
<p> Y, por otro lado, el flujo casi imperceptible, la lentitud extrema, la duración dilatada durante varios minutos de las diversas filmaciones con cámara de alta velocidad, de una sonrisa que se apaga (fluxfilm 4, <i>Disappearing Music for Face</i>, de Chieko Shiomi), una cerilla que se consume (ff 14, <i>No.
1</i>, de Yoko Ono), un ojo que parpadea (ff 15, <i>Eyeblink</i>, anónimo, aunque atribuible a Maciunas y/o Yoko Ono), pequeños objetos cayendo (ff 17, <i>5 O'Clock in the Morning</i>, de Pieter Vanderbeek), o la exhalación de una bocanada de humo (ff 18, <i>Smoke</i>, de Joe Jones).</p>
<p>  </p>
<p> O también la monotonía repetitiva de gestos y zonas del cuerpo filmados en primeros planos estáticos: una boca masticando (ff 2, <i>Invocation of Canyons and Boulders for Stan Brakhage</i>, 1963, de Dick Higgins), o las nalgas desnudas de varias personas que hacen el movimiento de andar sobre una cinta móvil (ff 16, <i>No.
4</i>, de Yoko Ono, fragmento de su largometraje de igual título).</p>
<p>  </p>
<p> Prima en otros segmentos una insistencia literal en la duración, que se traduce por ejemplo en una progresión lineal de cifras que indican el tiempo transcurrido de la duración anunciada de la película (ff 6, <i>9 Minutes</i>, de James Riddle), o en una progresión del negro al blanco que transita por toda una gama de grises y acompaña un equivalente sonoro (ff 10, <i>Entrance-Exit</i>, de George Brecht). O en la idea de medición presente en otros segmentos más breves que Maciunas incluyó como «anónimos»: su fluxfilm 7, <i>10 Feet</i>, consiste así en un trozo de película transparente calibrada como si fuera una cinta de medir, cuya longitud es la expresada por el título; asimismo, el título de su fluxfilm 8, <i>1000 Frames</i> y la duración conocida del mismo (40 segundos) permiten presuponer su tautológico
«contenido», pese a no estar incluido en ninguna de las versiones conocidas del film colectivo.</p>
<p>  </p>
<p> Diversos readymades &shy;–puros o rectificados&shy;–, segmentos anónimos o hechos de presumibles descartes, de materiales encontrados o sencillamente insignificantes, salpican el conjunto subrayando la materialidad del propio medio, su soporte, sus características, procesos y defectos; la transparencia o la longitud de la película, la cualidad fílmica (como imagen y obra cinematográfica) de cualquier imagen o no-imagen o desecho: una longitud variable de película transparente (ff 1, <i>Zen for Film</i>, 1962, de Nam June Paik, film absoluto y ready made por excelencia), una cola numerada (ff 3, <i>End After 9</i>, anónimo de Maciunas), una tira de prueba de las utilizadas en los laboratorios para el etalonaje (ff 24, <i>Readymade</i>, de Albert Fine), una película radiológica encontrada en la basura de un dentista (ff 11, <i>Trace 22/Swallowing</i>, de Robert Watts), líneas o tramas de Letraset aplicadas sobre película transparente (ff 20, <i>Artype</i>, de George Maciunas) o filmadas imagen por imagen (ff 27, <i>Dots 1-3</i>, de Paul Sharits), las páginas de un catálogo de venta por correo que desfilan también fotograma a fotograma (ff 26, <i>Sears Catalogue 1-3</i>, de Paul Sharits), una imagen subexpuesta (ff #31, <i>Police Car</i>, de John Cale), etc.
Además de las imágenes de televisión sometidas al <i>dé-coll/age</i> de Wolf Vostell (ff 23, <i>Sun in Your Head</i>, 1963).</p>
<p>  </p>
<p> En muchos de estos <i>fluxfilms</i> se juega también al nominalismo y a la tautología más descarnada, así como al gag y al sinsentido. No solo el título anuncia, describe o sugiere escuetamente la imagen o secuencia subsiguiente, sino que el título llega a tener una duración mayor que la imagen propiamente dicha, pero por otra parte ínfima: el fluxfilm 3, <i>End After 9</i>, consiste en una cola numerada hasta el 9, seguida de un rótulo de <i>Fin</i>, tal como indica el título, todo lo cual desfila en cuestión de segundos; el fluxfilm 25, <i>The Evil Faerie</i>, de George Landow, consiste en un brevísimo plano de un individuo en un gesto irrisorio, como si imitara con los brazos el vuelo de un pájaro.</p>
<p>  </p>
<p> Un fluxfilm más tardío, el ff 37
(1970, sin título), de Peter Kennedy y Mike Parr, en el que la imagen del sujeto filmado se va difuminando por la interposición de capas sucesivas de cinta adhesiva transparente sobre el objetivo de la cámara, insiste finalmente en el repliegue sobre el medio mismo y la destrucción o negación de la imagen por nuevos vericuetos.</p>
<p>  </p>
<p> <b>Fluxfilms/2</b></p>
<p> Algunos de los segmentos reunidos en el film colectivo <i>Fluxus Anthology</i> tienen su origen en una primera propuesta de Maciunas de hacer una antología de <i>loops</i>: breves películas para ser proyectadas sin fin durante un espacio de tiempo indeterminado (uniendo sus extremos para formar un anillo o bucle continuo). El loop, en este sentido, era un formato que por su cualidad mínima, repetitiva y económica se adecuaba perfectamente al espíritu Fluxus y al «cine de pobres» que preconizaba Maciunas.
Varios de los fluxfilms fueron pues concebidos y difundidos también de esta manera –de ahí su brevedad–, siendo además incluidos en kits o cajas como <i>Fluxyearbox 2</i>, que contenía copias en 8 mm y un visor individual para bucles de dicho formato, o en una edición de 1964 de <i>Zen for Film</i>, de Paik.</p>
<p>  </p>
<p> La aportación cinematográfica de Fluxus no se reduce sin embargo a los loops y a los films recogidos en <i>Fluxus Anthology</i>, pues son varios los artistas del grupo, o próximos a su espíritu y circunstancia, que cuentan con una filmografía más o menos amplia, aunque en muchos casos poco puedo añadir si no son sus nombres: George Brecht, Robert Watts, Robert Filliou, Eric Andersen, Arthur Köpcke, Per Kirkeby y Milan Knizak, así como Dick Higgins, cuyos films frecuentaron en su momento los circuitos underground, o Nam June Paik, que de 1966 a 1969 hizo varios films con Jud Yalkut, los más a partir de imágenes de televisión y de sus experimentos videográficos, aunque también otros con los que decía perseguir una «introducción de la metafísica en el cine, tratando de profundizar en la significación ontológica de la monotonía.»</p>
<p>  </p>
<p> Dieter Roth (al que no se suele considerar un artista Fluxus, pero sí uno próximo o proto-Fluxus)
realizó entre 1956 y 1962 varios films muy breves, agrediendo la película mediante perforaciones o cortes, enfatizando así las características del soporte y los intercambios elementales
(luz/oscuridad) de la proyección cinematográfica. Ben Vautier se sirvió del film para mostrar acciones o <i>events</i>, cuya acción mínima o monótona queda prácticamente descrita desde su mismo título: <i>Regardez-moi, cela suffit</i> (1962), <i>La Traversée du port de Nice à la nage</i>
(1963), <i>Je me suis regardé
10 minutes dans ce miroir</i>
(1963), etc. Wolf Vostell insistió en el formato reiterativo del loop, el cual llevó a otra expresión mínima y límite con
<i>Notstandbordstein</i>
(1969), cuyo único contenido es el título (rótulo) mismo. Por
último, Yoko Ono y John Lennon se mantuvieron fieles al minimalismo Fluxus con films como <i>Smile</i>
(1968), en el que Yoko se plagia a sí misma y a Chieko Shiomi, su compatriota y compañera de Fluxus, y del fluxfilm colectivo (véase el ff 4), al magnificar la sonrisa de Lennon en un plano de detalle tomado con cámara de alta velocidad; <i>Rape</i>
(1969), o la brutal intromisión en la privacidad de una mujer, asediada por la cámara en la calle y en su propio hogar; o
<i>Apotheosis</i>
(1971), donde la cámara se eleva en un globo aerostático hasta que la imagen se disuelve, al alcanzar las nubes, en la superficie blanca
–iluminada pero vacía– de la pantalla.</p>
<p>  </p>
<p> <b>Inmateriales y expandidos
(Fluxfilms/3)</b></p>
<p> El cine de Fluxus podría ser contemplado como una forma de contra-cine o de cine <i>primario</i>, que llega a prescindir de uno o más de aquellos elementos propiamente considerados como cinematográficos: la cámara (<i>Zen for Film</i>, de Paik, o los fluxfilms 7 y 20, de Maciunas, entre otros), la pantalla, el recinto cerrado de la sala de proyección... incluso el proyector y la película misma. En sus extremos, ello conduce a una especie de cine esencial o absoluto (siempre en su vertiente más minimalista) o de cine conceptual, imaginario, puramente mental, cuya materialización es ante todo la del mismo proyecto. Así, podría decirse que hay un fluxfilm «número cero», que es el titulado <i>Tree*
Movie</i> (1961), de Jackson Mac Low, film conceptual e inmaterial por excelencia (y que lo seguiría siendo por varios años), concebido sobre el papel, pero que constituiría la matriz en potencia de todos los films estáticos posibles y por venir, pues el film de ese «árbol*» que encuadraría una cámara «inmóvil durante un número cualquiera de horas», podría ser también el de cualquier otra cosa inerte o en la que apenas sople el viento (o el azar), pues el asterisco indica en el proyecto –en las instrucciones para su realización– que «la palabra <i>árbol</i> puede sustituirse por <i>montaña</i>, <i>mar</i>, <i>flor</i>, <i>lago</i>, u otra.»</p>
<p>  </p>
<p> Abundaron por otra parte los <i>events</i> o performances para-, contra- o post-cinematográficas, de un cine
«expandido» en su faceta más elemental de negación, interrogación o transgresión de unos límites, unas expectativas, unos atributos, unos hábitos, etc.: Paik proyectando su película transparente y
«actuando» mínimos <i>events</i> de gestos y sombras ante la pantalla; Eric Andersen haciendo circular una película entre las manos del público (<i>Sin título</i>, 1966); Takehisa Kosugi cortando progresivamente la pantalla iluminada por un proyector sin película (<i>Film
&amp; Film no .4</i>, 1966); Ben Vautier proyectando una película en la que insulta al público
(<i>Public</i>, ca. 1966), o pintando de negro la pantalla en la que se proyecta un film convencional (<i>Monochrome for Y. Klein/Fluxversion 1</i>, ca. 1969). Algunas ideas similares a estas se encuentran por cierto entre los <i>Six Film Scripts</i> imaginados por Yoko Ono en Tokio, en 1964: «Pedir al público que corte de la pantalla aquella parte de la imagen que no le guste
(proporcionar tijeras)» y «pedir al público que mire la pantalla hasta que esta se vuelva negra.» Pero el repertorio podría aún seguir con la aportación que Milan Knizak propuso para el fluxfilm colectivo, la cual sería apenas un título, <i>Pause</i>
(1966), tras el que se interrumpiría la proyección; con Vostell, al proyectar desde un automóvil y por las calles de Múnich su película-rótulo <i>Notstandbordstein</i>
(1969); o con Maciunas, al imaginar recintos cuyas paredes estuvieran recubiertas con las imágenes de los fluxfilms proyectadas en bucles sin fin.</p>
<p>  </p>
<p> Y, por último, el cine imaginario de Fluxus estará tentado por la idea de hacer proyectable como imagen cinética los más diversos materiales: un rollo de cinta adhesiva (Paik, en un <i>Scenario</i> de 1962-63), una cinta mecanográfica (Eric Andersen, 1966), o una cuerda (Milan Knizak y Maciunas en sendos proyectos de 1969 para un
<i>Indeterminate Movie</i> y un <i>Rope Movie</i> que estaría musicado con un <i>Rope Record</i> de Robert Watts); plagio por anticipación: el cineasta austríaco Hans Scheugl había ya realizado una idea del todo similar, la proyección de un carrete de hilo, un año antes (<i>ZZZ: Hamburg special</i>, 1968).</p>
<p>  </p>
<p>
*</p>
<p>  </p>
<p>
«Nuestra tarea es la crítica de la TV pura. Como Kant.»</p>
<p>  </p>
<p> Nam June Paik</p>
<p>  </p>
<p> <b>Antes del vídeo</b></p>
<p> Los breviarios de historia del vídeo
–del videoarte, para emplear una expresión sempiternamente discutida pero de la que resulta difícil desembarazarse– arropan frecuentemente sus actas de nacimiento con otro latinajo, al mentar a Fluxus para emplazar la primera expresión de una oposición fundamental para la identidad del nuevo medio: el vídeo como contratelevisión, <i>dé-coll/age</i>
(Vostell), crítica y contraataque (Paik), y las ilustraciones emblemáticas que muestran a Vostell enterrando un televisor o disparando a la pequeña pantalla; a Beuys boxeando con la caja boba y cubriendo con fieltro su pantalla, y a Paik trastornando las imágenes de la televisión con grandes imanes o construyendo los más descabellados objetos y ortopedias con televisores de todos los tamaños. La historia del vídeo, con sus héroes y sus hitos, encuentra entre los artistas de Fluxus una cuna estético-sociológica particularmente apropiada, en la que una concepción multimedia y expandida de las artes mece al recién nacido.</p>
<p>  </p>
<p> La televisión, un medio que, dado el cariz de sus estructuras, parecía tan inabordable artísticamente, empieza ya a ser una presencia familiar para los artistas de Fluxus y otros grupos o movimientos coetáneos. Así, antes que el vídeo
(portátil, de pequeño formato) llegara a las manos de artistas y realizadores independientes a gran escala, la experimentación proto-vídeo/contra-televisión ha tenido otras modalidades y manifestaciones.  </p>
<p>  </p>
<p> En primer lugar, a través del film como soporte de manipulaciones y perturbaciones de las imágenes televisivas, en los films de Vostell, Paik/Yalkut, Landow, y algunos más fuera de la familia Fluxus.</p>
<p>  </p>
<p> En segundo lugar, por la constitución del objeto mismo manipulado (el televisor) en ente escultórico, elemento de un assemblage o un ambiente o entorno
(<i>environment</i>); de nuevo con Paik y Vostell, y también entre artistas del pop y el Nuevo Realismo (Edward Kienholz, Tom Wesselman, César).</p>
<p>  </p>
<p> Y en tercer lugar, Fluxus no puede dejar de contemplar en la televisión y el vídeo unos posibles
útiles nuevos para el <i>event</i>, anticipando así la combinación vídeo/performance y una estética procesual, de flujo y cambio, de aleatoriedad y participación. El mismo cabeza de familia de Fluxus, Maciunas, contempló repetidamente la posibilidad de trasladar a la pequeña pantalla las ideas y <i>events</i> de sus acólitos, empezando a detallar dichas propuestas cuando Willem de Ridder y Wim T. Schippers, dos artistas holandeses en contacto con Fluxus, concibieron un programa para la VARA-TV de su país. Dicho programa, realizado por Henk de By y emitido dentro de la serie <i>Signalement</i>
(1963), cubriría finalmente un mosaico mucho más amplio del arte de aquel momento y haría caso omiso de las propuestas de Maciunas, pero conservaría al parecer los buenos destellos del espíritu Fluxus que lo inspiró. (Schippers, por cierto, abandonó el arte para dedicarse profesionalmente al antiarte de la televisión en sus más variados géneros).</p>
<p>  </p>
<p> Por último, la interacción del vídeo y el <i>event</i> se hallaría también presente en el trabajo del danés Eric Andersen, quien al parecer habría realizado ya en 1964 lo que hoy denominaríamos una videoinstalación; y, sucesivamente, diversos proyectos pensados para la pequeña pantalla o para dispositivos de circuito cerrado.</p>
<p>  </p>
<p> <b>TV zen</b></p>
<p> Como la paradoja de Duchamp, que menospreciaba el arte retiniano pero se entretenía con «opticerías»
–la óptica recreativa de las ilusiones visuales– para jugar con la vista tal como sus juegos de palabras lo son también con el oído, la «televisión electrónica» de Paik (la analogía con «música electrónica» es obvia, dada su formación musical), el <i>dé-coll/age</i> de Vostell destruyen o perturban las imágenes de televisión hasta extraer formas abstractas, ruidos visuales, para jugar con la electrónica, con las señales y con el objeto mismo –la caja boba–; aunque su intencionalidad es visiblemente otra que la de un arte óptico o tecnológico.</p>
<p>  </p>
<p> Si <i>Zen for Film</i> es por excelencia el silencio óptico, la proyección de luz (blanca) sobre el lienzo (blanco), apenas enriquecida por el polvo, por las rayas o cicatrices, por todo aquello que embrutece la película
(transparente) y se interpone en el haz de proyección –como buen discípulo de Cage, a Paik le interesa el silencio como portador de ruido(s), de acontecimientos acústicos y visuales que de otra manera pasarían desapercibidos o ni siquiera acontecerían–, <i>Zen for TV</i> (1963) es en cierto modo su equivalente electrónico, pero también su inversión, puesto que es a través del ruido que la imagen televisiva se ve acallada, llevada al silencio de una única línea de luz, más o menos delgada, que atraviesa la pantalla del televisor (en posición vertical), transformado en escultura (estructura monomórfica corpórea).</p>
<p>  </p>
<p> Otra videoescultura de la misma estirpe minimalista que la anterior, y nacida también de la histórica <i>Exposition of Music/Electronic Television</i> de Paik en la Galería Parnass de Wuppertal (1963), es <i>Point of Light</i>, en la que el televisor ha sido acallado a la emisión de un único punto de luz, diminuto pero de punzante intensidad. En ambas obras, la línea y el punto pueden contemplarse como elementos plásticos básicos y como unidades mínimas de información (y resolución) del medio empleado; pero su drástico reduccionismo, alejado de los planteamientos ante todo formales y plásticos de un arte óptico propiamente dicho, es en definitiva el mismo que se encuentra en el cine de Fluxus.</p>
<p>  </p>
<p> <b>TV detrítica</b></p>
<p> Los primeros vídeos de Paik (y los films de imágenes electrónicas de Paik/Yalkut y de Vostell) tampoco son propiamente, o enteramente, abstractos, pues retienen los detritos de las imágenes perturbadas, alteradas electrónica o magnéticamente por los procedimientos más simples o azarosos/aleatorios (los imanes de Paik), tal como sucede con el décollage de los nuevos realistas: procedimiento inverso al collage que consiste en arrancar pedazos de sucesivas capas de papeles pegados (por ejemplo, carteles publicitarios).</p>
<p>  </p>
<p> En sus primeras cintas, parece ser que Paik ha acudido además con frecuencia al loop o al montaje repetido de la misma secuencia, inaugurando una galería de retratos o iconos políticos, artísticos, intelectuales, populares y mediáticos (Lyndon B. Johnson, John Lindsay, Richard Nixon, Dieter Roth, Charlotte Moorman en el programa de Johnny Carson, Marshall McLuhan, los Beatles o Batman).</p>
<p>  </p>
<p> Irónicamente, quien es considerado el primer artista que tuvo en sus manos un equipo portátil de vídeo, desde un principio prescindió en gran parte de tomar las imágenes por sí mismo, para dedicarse a crearlas (o perturbarlas) y ensamblarlas a partir del inagotable flujo de las fuentes televisivas o de las que le procuraban otros colegas.</p>
<p>  </p>
<p> Con el videosintetizador –teclado y síntesis de los anteriores ensayos de «televisión electrónica»
de Paik– y las nuevas oportunidades que brindan los departamentos experimentales de ciertas televisiones públicas estadounidenses, Paik ha dado después el salto de la estructura monomórfica a la heterogeneidad polimórfica: <i>A Tribute to John Cage</i> y, sobre todo, <i>Global Groove</i>
(ambas cintas de 1973) abren –o más bien confirman– otra etapa; prefiguran una tendencia del vídeo contra-televisión a un vídeo pro-televisión (en Norteamérica, pronto empezará a hablarse de <i>TV art</i>); del arte «aburrido»
a un arte entretenido que, de hecho, era ya parte del ideario Fluxus enunciado por Maciunas. Paik, en definitiva, se mantendrá fiel al espíritu Fluxus y sus primeros experimentos videográficos apuntan ya muchos de los rasgos básicos de su obra posterior.</p>
<p>  </p>
<p>
*</p>
<p>  </p>
<p>
«Fluxus comienza antes que comience y uno espera que concluya después de su fin.»</p>
<p> Jon Hendricks</p>
<p>  </p>
<p>
«La tragedia americana es que todos bebieron de la fuente Fluxus: Warhol, Oldenburg, Rauschenberg, pero nunca le dieron las gracias.»</p>
<p>  </p>
<p> Wolf Vostell</p>
<p>  </p>
<p>  </p>
<p> <b>Warhol y el (neo)primitivismo</b></p>
<p> Como otros grupos y grupúsculos artísticos, Fluxus ha prodigado y alimentado las suspicacias respecto a los presuntos plagios e imitaciones de los que habría sido objeto, con argumentos demasiado débiles en muchos casos.
Algunas breves excursiones fuera de Fluxus bastarán para recordar sus cercanías. Por ejemplo, si acaso Warhol bebió en las fuentes de Fluxus al acometer sus primeros y más legendarios films, no fue ciertamente en fuentes literales como las indicadas por Maciunas, cuando aducía que los films de Warhol, <i>Sleep</i>
(1963), <i>Eat</i>
(1963) y <i>Empire</i>
(1964) serían sendas «versiones plagiarias» de, respectivamente, el proyecto de Jackson Mac Low, <i>Tree*
Movie</i> (fechado en 1961, pero no publicado hasta 1964); del film (bucle) de Dick Higgins, <i>Invocation of Canyons and Boulders for Stan Brakhage</i>
(1963); y de un supuesto film de Nam June Paik, <i>Empire State Building</i> (1964), que es muy improbable que llegara a existir como tal.</p>
<p>  </p>
<p> Mac Low ha trazado el patrón de todos los films estáticos posibles; Warhol ha comenzado a hacerlos y ha elevado el minimalismo fílmico a la estatura del monumento y la regularidad de la serie con sello de fábrica: su Factory (unos veinte films tan solo en los dos años, 1963-1964, de su etapa muda).
La severa estructura de <i>Sleep</i>
(1963) –o retrato de un poeta (John Giorno) en reposo–, con sus tomas repetidas y desdobladas, ralentizadas ligeramente (casi imperceptiblemente), alternando diferentes puntos de vista en largos planos que se suceden durante seis horas; y la pura experiencia del
<i>tiempo real</i> en las once horas de <i>Empire</i>
(1964) –o retrato de una estrella urbana de la arquitectura singular en el flujo del día a la noche– son las dos experiencias límite que acotan el minimalismo de Warhol, aunque un proyecto aún más ilustrativo que lo hubiera llevado a cotas de récord Guinness fuera el de llevar a la pantalla la Biblia, página por página (en su sentido literal), en un film que habría durado algo así como toda una semana.</p>
<p>  </p>
<p> Warhol, se ha dicho, resumió toda la historia del cine: de su era primitiva a su declive (en la última etapa, poscinematográfica, de Warhol, sus apariciones e intervenciones en la pequeña pantalla: videoclips y programas de variedades). Por un lado, se puede considerar que el cine de Warhol fue uno de los que contribuyó a generar una nueva percepción del cine primitivo, tanto entre los círculos del cine de vanguardia
–constituirá una de las modalidades del cine estructural– como entre una nueva generación de teóricos e historiadores
(anglosajones los más). Y por otro lado –solo Yoko Ono lograría algo similar– ha divulgado el espectáculo de lo mínimo, hasta el punto de que el primer cine de Warhol apenas ha sido visto, pero ha sido abundantemente (d)escrito, comentado y discutido.</p>
<p>  </p>
<p> <b>Tiempo real: de Warhol al vídeo</b></p>
<p> Al fin de la década de los sesenta, aflora un arte conceptual –que Maciunas denomina malévolamente
«pseudoconceptual» en uno de sus diagramas–, nacido en parte del minimalismo (con el artículo de Sol LeWitt, «Paragraphs on Conceptual Art», 1967), pero también como reacción a la inflexión formalista del mismo. Estamos nuevamente fuera de Fluxus, aunque en sus aledaños, y con Warhol y su cine como referencia interpuesta.  </p>
<p>  </p>
<p> En la obra de Bruce Nauman puede hallarse un ejemplo particularmente ilustrativo, pues Warhol es una influencia reconocida y declarada en sus films y sus vídeos. Aunque, por otra parte, sus rasgos son comunes a los de otros artistas como Vito Acconci, John Baldessari, Richard Serra, Terry Fox y muchos más, que toman el plano-secuencia fijo como estructura mínima para el desarrollo de sus acciones en la pantalla. La cinta de vídeo, en mayor medida que la película, se convierte para ellos en un contenedor particularmente apto (instantáneo, económico, con sonido sincrónico, etc.) para representar el gesto en un <i>tiempo real</i> apenas limitado por la propia duración/longitud de la cinta. El sentido del gesto, de la acción, varía; en Nauman, las acciones repetitivas –andar, recorrer un espacio cerrado, tocar una sola nota con un violín, etc.– son, simplemente, una manera de «mantenerse ocupado», de llenar un espacio de tiempo con una actividad sin otro sentido que el de su ejecución ritual, metódica, reiterativa, únicamente alterada por la fatiga o el tedio.</p>
<p>  </p>
<p> Las primeras reflexiones sobre el vídeo se han circunscrito en gran parte a esta experiencia del tiempo real o del «tiempo presente» (<i>present tense</i>) –de una gramática mínima–, primero contemplada como una característica inherente del medio, pero después como la causa de su descrédito, como un signo de la «enfermedad infantil» del videoarte, que sin embargo sería también la de aquellos intérpretes que acudían a socorridas analogías que decían que el vídeo apenas habría evolucionado de sus Lumière y sus Méliès (con el descubrimiento de los colorizadores y sintetizadores, la incrustación y los efectos) a los múltiples descendientes de Warhol.</p>
<p>  </p>
<p> <b>Persistencias y confusiones de lo mínimo</b></p>
<p> Fluxus, así como otras de las manifestaciones referidas en las líneas anteriores, se nos aparecen como páginas ya pasadas en el libro, reescrito constantemente, de la historia del arte contemporáneo. Sin embargo, puede intuirse que sus grandes líneas se prolongan en trazos discontinuos. Según los dictados del momento, las líneas pueden ser más o menos intensas, casi imperceptibles; y los trazos sucederse más regular o espaciadamente, hasta el punto en que pueda dudarse de la relación de unos con otros. Pero, en definitiva, la historia del arte, como tantas otras cosas, no se puede dibujar ni reseguir con una línea recta.</p>
<p>  </p>
<p> Las acepciones de lo <i>mínimo</i> y de <i>minimal(ismo)</i> se han multiplicado y tergiversado de las más curiosas maneras en los últimos años y en campos tan diversos como la música, la literatura, el teatro o incluso el diseño. El abuso del término conlleva su relativa e insospechada popularidad, pero también implica que pueda perderse de vista con demasiada facilidad su etimología estética original. Lo mínimo no debería confundirse, por ejemplo, con la concisión o el despojamiento.</p>
<p>  </p>
<p> Asimismo, lo mínimo se destila de cintas (e instalaciones) más recientes en las que la elegancia prima sobre la tautología o la provocación. Convertido al cabo en una especie de estilo aceptado, aunque no especialmente en boga, el minimalismo formaría ya parte del <i>do it yourself</i> posmoderno.
Como en las típicas chanzas que han rodeado a buena parte del arte de nuestro siglo, cualquiera podría hacer lo mismo sin el menor esfuerzo. El riesgo será caer en el plagio por desconocimiento. Y 
lograr la elegancia será la primera exigencia.</p>
<p>  </p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	Al
	escribir este artículo, desconocía todavía los trabajos de Tod
	Lippy y Bruce Jenkins, publicados en 1991 y 1993 respectivamente,
	que desbrozaron enormemente el corpus de los <i>fluxfilms,
	</i>y
	la numeración que les asignó Maciunas y otros arcanos. Sirvieron
	para recopilar una nueva versión de la antología, más exhaustiva
	que las conocidas hasta entonces. [Nota del autor, 2014]</p>  </body> </html>