  <p> <b>La sublevación de la juventud y el Mayo del 68</b></p>
<p>  </p>
<p> <b>Acerca de un film militante</b></p>
<p>  </p>
<p> El título de este texto remite de manera muy directa a uno de los objetos que pretende comentar. Se trata de una de las obras más significativas de Maurice Lemaître, veterano militante del movimiento o grupo letrista (más movimiento, incluso en un sentido zozobrante, que grupo estable y estático). <i>Le Soulèvement de la Jeunesse - Mai 68</i> es un film en formato de 16 mm y con una duración de 28 minutos, fechado en 1969 y que, como tantos otros especimenes de la cinematografía letrista, acude a imágenes de archivo, materiales de derribo o residuales, organizados (si es que es propio decirlo así)
según los principios –que la terminología letrista prefiere designar como <i>mecánicas</i> o <i>mecaestéticas</i>–
de la <i>cinceladura</i>, la <i>hipergrafía</i> y la <i>discrepancia</i>.</p>
<p>  </p>
<p> La cinceladura o la creación que, a golpes de martillo y escarpa, destruye para crear a su vez algo rigurosamente nuevo e inédito. (Según la <i>ley de la doble hipóstasis</i>, toda expresión estética atraviesa por una fase <i>ámplica</i> y otra <i>cincelante</i>, que a su vez permitirá dar paso a una <i>nueva
ámplica</i>.) La <i>hipergrafía</i> como acumulación, concatenación y superposición de toda clase de signos discordantes. La <i>discrepancia</i>, finalmente, referida a la divergencia o ausencia deliberada de correspondencia entre la imagen y el sonido.</p>
<p>  </p>
<p> Situar más ampliamente el contexto del que brota este ejemplar de cine militante según la arrebatada concepción letrista del cine –en palabras de su propio autor, se trata de «el
único film realmente creativo sobre la revuelta de Mayo del 1968»–, tal es el propósito que persiguen estas líneas. Pero este film militante no lo es meramente por su asunto político, sino que en primer lugar es expresión de una militancia en el letrismo, sus ideas subversivas acerca de la creación y su propio flanco político.
 </p>
<p>  </p>
<p>  </p>
<p> <b>La llegada del mesías</b></p>
<p>  </p>
<p> Según Gérard-Philippe Broutin, un artista que precisamente se ha incorporado al grupo letrista en 1968: «Ante todo, el letrismo es el sueño de un adolescente rumano, deslumbrado por la cultura francesa y que quiere elevarse a la altura de los Rimbaud, Verlaine y Mallarmé.»</p>
<p>  </p>
<p> Este adolescente, que a su llegada a París toma el nombre de Isidore Isou, se llamaba realmente Isaac Goldstein. Nacido en 1925 en Botosani, en la región moldava de Rumanía, procedía de una pudiente familia judía. En un país cuya capital había sido considerada «la pequeña París» de la Europa Oriental antes de la devastación de las grandes guerras, el joven Izu, tal como era conocido familiarmente, ha tomado como faro las culturas más cosmopolitas de Francia, Italia, Alemania y el mundo anglosajón. Alardearía así de que, con 17 años, había sentado ya las bases del letrismo y de su «sistema»: toda una filosofía a la que luego daría el nombre de <i>creática</i> o <i>novática</i>.</p>
<p>  </p>
<p> El caso es que, en el verano de 1945, acude a la capital de las luces bien aprovisionado de abundantes manuscritos y con una carta de recomendación de Giuseppe Ungaretti. En una taberna frecuentada por exiliados judíos, conoce a su primer cómplice, Gabriel Pomerand, con quien traba amistad por la devoción compartida por Lautréamont. Y, tras hacerse notar de diversas maneras –frecuentando a los intelectuales parisinos de mayor renombre y armando más de un escándalo–, las ediciones Gallimard le publican dos años después sus dos primeros volúmenes: si <i>Introduction à une nouvelle poésie et à une nouvelle musique</i> es el primer corpus teórico del letrismo –que toma la partícula de la letra como fundamento a su vez literario y sonoro–, el libro que ostenta el significativo título de <i>L’Agrégation d’un nom et d’un messie</i> es descrito como una novela de aprendizaje que tiene mucho de autobiografía arrogante. No en vano el nombre y el mesías a los que se refiere se encarnan en el propio Isou, que ya por entonces acostumbraba a hablar de sí mismo en tercera persona. Como dicen que es propio de los individuos ególatras y pagados de sí mismos. Rasgo de estilo u arrogancia que Isou transmitirá a sus sucesivos allegados; entre los cuales los más fieles o infieles, contumaces o pasajeros compañeros de viaje de <i>la dictadura letrista</i>, sus escisiones y desviaciones: Lemaître, Debord, Wolman, Marc’O, etc.</p>
<p>  </p>
<p> La poligrafía y la charlatanería letrista se prodigan luego en la inmoderada avalancha de los escritos y actividades de toda índole del mesiánico Isou, sus discípulos y apóstoles: de los textos más aparentemente sesudos y herméticos a la procacidad pornográfica &shy;–por la que el «conducator» letrista será incluso condenado a una estancia carcelaria&shy;&shy;–, los letristas se jactan de abordar todas las ramas de la cultura, del pensamiento, del arte, de la ciencia y la técnica… Isou incluso le pondrá nombre a todo ese conjunto de saberes y a los métodos para acercarse a ellos de manera sistemática: la <i>kladología</i>
(del griego <i>klados</i>: rama) es la disciplina que permite abordar la integridad de todas las ramas de la cultura, conocidas o por venir; la <i>tomeica</i>
(del griego <i>tomeus</i>: sector), su carta de navegación, el mapa de dicha complejidad.</p>
<p>  </p>
<p>  </p>
<p> <b>Totalitarismo kladósico del letrismo </b> </p>
<p>  </p>
<p> Los letristas, por tanto, se atreven con todo y pretenden abarcar todas las disciplinas posibles en y más allá del arte. En la potestad de las musas: poesía y prosa, música y plástica, cine y fotografía, teatro y danza, diseño y arquitectura… Además de todo aquello que concierne a unas estéticas imaginarias y de implicación del público en la construcción o co-creación de obras que se designan como
<i>infinitesimales</i>, <i>supratemporales</i>, <i>anópticas</i>, <i>afonistas</i>, <i>politanásicas</i>, <i>poliautomáticas</i>, <i>excoordistas</i>, más todas las variantes anti- y anti-anti- que puedan anteponerse hasta el delirio a dichas formulaciones.</p>
<p>  </p>
<p> Y en la judicatura de las ciencias y las técnicas: las ciencias exactas y naturales, las humanas y sociales, la matemática y la lingüística, la medicina y la psicología, la economía política y la filosofía, la teología y la erotología. Con los debidos distingos o las declinaciones precisas de, por ejemplo, la <i>matemática de los números vagos o blandos</i> y la <i>geometría paraestigmática</i>, la
<i>hipertermodinámica</i> y el <i>hiperelectromagnetismo</i>, la <i>hiperbiótica</i> y la <i>psicokladología</i>, la <i>economía nuclear</i> y la <i>erotología matemática</i>, la
<i>hiperteología</i> y la <i>paradisología</i>
(o <i>edenología</i>: a propósito del fin último de todo el pensamiento de Isou, que no es otro que el de alcanzar el paraíso en la tierra).</p>
<p>  </p>
<p> El <i>sistema isouano</i> (¡Isou mismo es todo un sistema!) es revelado en la voluminosa suma filosófica de <i>La Créatique ou la Novatique</i>
(1941-1976), finalmente publicada en 2003, aunque depositada desde 1976 en la Biblioteca Nacional francesa. Los delatores de imposturas intelectuales, fabricantes de best-sellers a costa de las espesuras eruditas de los maestros pensadores, no han llegado por supuesto a los radicales libres del desbordante pensamiento <i>isouano</i> y de la conspiración judeoletrista que entabla con Pomerand, Lemaître, Serge Berna (todos ellos de ascendencia hebraica) y aquellos otros que se adherirían luego. Pero tales soplones pasarían apuros con el cuerpo doctrinal que Isou ha convertido en la verdadera obra de su vida, que a veces puede parecer incluso una parodia de la logorrea tan característica de la alta intelectualidad francesa, pero que, por otra parte, tanto el propio mesías como sus secuaces más fieles se han tomado bien en serio.</p>
<p>  </p>
<p>  </p>
<p> <b>Creática y juventismo</b></p>
<p>  </p>
<p> Aunque el letrismo se concibe inicialmente como un proyecto esencialmente estético, destinado a convulsionar todos los ámbitos de la creación, la impetuosidad y la curiosidad intelectual del joven Isou –que, ya desde la pubertad, había leído a Marx, Baudelaire y Proust– le llevan a abarcar todos los terrenos de la cultura y del pensamiento. La economía política constituye una de las áreas en las que se proyecta el
<i>artivismo</i> letrista, y una de las encrucijadas en la que pronto se producen las primeras disensiones y escisiones. Principalmente, la de la Internacional Letrista –fundada en diciembre de 1952 por los autodenominados «letristas de izquierdas»: Wolman, Debord, Brau y Berna&shy; (los dos últimos, expulsados al cabo de poco tiempo)–, refundida desde julio de 1957 en la Internacional Situacionista.</p>
<p>  </p>
<p> Isou vio incluso con buenos ojos el primer cisma de sus cadetes; entre los cuales Debord, quien se adhirió fervorosamente al grupo letrista tras asistir a la primicia del <i>Traité de bave et d’éternité</i> de Isou en el Festival de Cannes de 1951, cuando al menos la mitad del film carecía todavía de imágenes, de manera que se extendía como una banda sonora en la oscuridad de la sala, con el público revuelto y bramando. Pero, muy pronto, tanto Isou como Lemaître no pararon de lanzar pasquines e invectivas contra sus anteriores colegas; especialmente contra los situacionistas «reaccionarios» y «neonazis», entre otros insultantes epítetos que abundan en las diatribas letristas (aunque también en las de sus rivales).</p>
<p>  </p>
<p> Si algo se le ha reconocido a Isou
–que falleció el 28 de julio de 2007 en medio de un silencio apenas resquebrajado por unos pocos obituarios y por las personas más fieles que le rodearon en los últimos años (entre los cuales el artista Roland Sabatier, el compositor Frédéric Aquaviva y el editor Laurent Cauwet)– es, sin embargo, que introdujera la juventud como sujeto político antes de que los ideólogos de la Nueva Izquierda, como Marcuse, la emplazaran en el centro del clima revuelto de los sesenta. Curiosamente, es a través de «una historia secreta del siglo XX» escrita por un ensayista norteamericano, Greil Marcus, dedicado a emplazar los rugidos del rock en otras coordenadas más amplias, que la figura de Isou reemergió de las sectarias brumas en las que el propio letrismo se había encerrado.</p>
<p>  </p>
<p> El ideario político de Isou, o del letrismo, tiene dos ideas clave y recíprocamente relacionadas: la noción de <i>economía nuclear</i> y la <i>sublevación de la juventud</i> o
<i>juventismo</i>.
Dichas ideas son expuestas ampliamente desde 1949 con la aparición del primer volumen del <i>Traité
d’économie nucléaire: le soulèvement de la jeunesse</i>, seguido de otros dos publicados en 1971, y de otros tres tomos de
«suplementos».
Es cierto que no hablamos en este caso de ediciones con la prestigiosa rúbrica de Gallimard-NRF o de Bordas, como sucedió con otros de los mamotretos primeros de Isou, sino publicadas por sellos raros o en régimen de lo que hoy denominamos autoedición. Es de suponer, por tanto, que la difusión de las ideas político-económicas del adalid del letrismo se habría producido de una manera esencialmente celular o proselitista.</p>
<p>  </p>
<p> El concepto de <i>economía nuclear</i> se contrapone tanto a la economía liberal, de Adam Smith a Keynes –<i>atomística</i> en su atención a la individualidad de los agentes económicos y de los intercambios de bienes y servicios en el libre mercado–, como a la economía crítica de Marx, <i>molecular</i> en su concepción de la división y lucha de clases en el seno de la sociedad capitalista. La economía nuclear, en cambio, pretende ser la de las <i>partículas electrónicas</i> que, por un motivo u otro, no llegan a integrarse en los circuitos establecidos o se hallan expulsados de los mismos: jóvenes y parados, aprendices y pensionistas en precario, etc.</p>
<p>  </p>
<p> De ahí que se pase a una perspectiva radicalmente distinta a la de la lucha de clases y las reivindicaciones sindicales por unas mejores condiciones de trabajo, una mayor remuneración y la aspiración a un mejor nivel de vida que conduce al aburguesamiento de la clase trabajadora. En su lugar, la economía nuclear plantea el antagonismo entre los aposentados (o
<i>internos</i>)
y los excluidos (o <i>externos</i>).
Ello ha de conducir a la sublevación de la juventud, frente a un estado de las cosas estático y que les expulsa a la <i>externidad.</i> A fuer de su dinamismo y creatividad latentes, dice Isou, dicha situación ha de explotar en un alzamiento juvenil y de los <i>externos</i> en general. Pues Isou se cuida mucho de decir que la juventud sea una cuestión de edad, transitoria, por tanto –aquel divino tesoro que ya se va para no volver–, sino que la identifica con la capacidad dinámica que puede conservar toda persona insatisfecha con el purgatorio de la vida.</p>
<p>  </p>
<p> <b>«</b><i>12 millions de jeunes vont descendre dans la rue pour faire la révolution lettriste</i><b>»</b>
[12 millones de jóvenes invadirán las calles para cumplir la revolución letrista]. En 1948, Isou y sus cómplices llenan de carteles con dicha inscripción las paredes del Barrio Latino de París. Veinte años después, los letristas contemplarán con satisfacción las algaradas del Mayo francés. Roland Sabatier, en el epílogo a una reciente edición de los manifiestos de Isou por la sublevación de la juventud, ha escrito: «Pero esta revuelta, si bien ha mostrado, tanto en Francia como en el extranjero, la capacidad de los jóvenes y los <i>externos
</i>para unirse y actuar en defensa de sus propios intereses, no encarna por sí misma más que una etapa de la lucha más amplia, entablada desde 1949, de la
<i>Sublevación de la juventud</i>…»</p>
<p>  </p>
<p>  </p>
<p> <b>Los brazos políticos de la insurgencia letrista</b></p>
<p>  </p>
<p> Los partisanos letristas protagonizaron en 1950 algunos sonados escándalos contra las buenas costumbres y la esclerosis educacional, como una irrupción blasfema en la catedral de Notre Dame en la festividad de la Pascua de Resurrección, y un violento tumulto en el orfanato de Auteil. Se produce entonces el intento de articular una organización política, el Front de la Jeunesse, e Isou delega en Lemaître la publicación de una gaceta del mismo nombre; cabecera que, irregularmente, mantendrá viva durante años este antiguo anarquista seducido por la disciplina del letrismo y perennemente fiel al ciclostil y otros sistemas reprográficos de urgencia. Algunos años después, por otra parte, dicha organización tomará el nombre de Union de la Jeunesse et de l’Externité u otras variantes.</p>
<p>  </p>
<p> La doctrina político-económica de Isou apenas parece haber evolucionado con el paso de los años, aunque no cesará de desarrollar sus argumentaciones, estrategias y fustigaciones con una inmoderación y una prosopopeya características. Ya los «letristas de izquierdas» le acusaron de no ser más que un esteta. Pero, si bien se adivina que Isou le ha dedicado bastante más tiempo a su concepción integral de la cultura, a la <i>kladología creatista</i> más que a su programa para cambiar la sociedad –¡nada menos que para alcanzar la <i>sociedad paradisíaca, de la abundancia y la felicidad</i>!–, no hay que olvidar que el impulso de la creatividad es parte consubstancial de los planteamientos de la economía nuclear, así
como del <i>externismo</i> o <i>descentrismo</i>.
El socialismo que propugna intercambia pues la producción, que ocupa un lugar central en la teoría marxista, por la creación y la innovación.</p>
<p>  </p>
<p> Algunas de las medidas que propone la economía nuclear pasan por una reforma en profundidad de la enseñanza y la reducción del periodo de escolarización; un crédito de promoción para cultivar la predisposición emprendedora de los jóvenes y para amparar sus proyectos más innovadores; la rotación en el poder para evitar el apoltronamiento y el parasitismo burócrata
(en los órganos políticos, los sindicatos, las asociaciones profesionales, los puestos de responsabilidad en general) y una política de planificación integral con representación de todos los sectores de la sociedad, incluyendo expresamente a los eternos
<i>externos</i>.</p>
<p>  </p>
<p> Jean-Louis Brau, uno de los primeros disidentes del círculo de Isou, le reprochó el tufo <i>boy scout</i> de tales ideas, pero los letristas más tenaces no han ocultado nunca la pretensión reformista de sus medidas para el <i>protegismo juventista</i>; sin poner en cuestión el libre mercado, posicionándose por otro lado en contra de la nacionalización de las empresas y a favor de la reducción de los impuestos. Para los exegetas de la economía nuclear, su originalidad reside precisamente en su amalgama de postulados liberales y socialistas.</p>
<p>  </p>
<p> Con este espíritu, Maurice Lemaître concurrió a las elecciones legislativas francesas de 1967 en nombre de la Union de la Jeunesse et de l'Externité. Y su suplente entonces, Roland Sabatier, fue uno de los cuatro candidatos que presentó en 1993 la ahora llamada Union de la Jeunesse et des Créateurs.</p>
<p>  </p>
<p> Los llamamientos insurreccionales del letrismo, el espíritu fanfarrón de sus inicios y el ideario
<i>juventista</i> en sí (es decir, aparte de ese <i>protegismo</i> un tanto melifluo, más todavía en nuestros días) son otra cosa.
Por ahí tienen bastante razón los letristas más recalcitrantes, así como los escasos estudiosos que han pretendido examinar objetivamente sus aportaciones, al denunciar el expolio de sus ideas
–tanto estéticas como políticas– por sus rivales en el entorno situacionista, mucho más conocido, prestigiado y bien documentado.
Con un mutuo menosprecio de los unos por los otros, ya sea mediante el ninguneo practicado por el apóstata Debord y sus secuaces, o por la paranoia ultracrítica de Isou y Lemaître.</p>
<p>  </p>
<p> En efecto, ciertos panfletos y tratados de la órbita situacionista –tales como el anónimo <i>De la misère en milieu étudiant</i>
(1966), el <i>Traité de savoir-vivre à l'usage des jeunes générations</i> de Raoul Vaneigem (1967), y <i>Enragés et situationnistes dans le mouvement des occupations</i>, de René Viénet (1968)– retoman muchos de los planteamientos que los letristas habían anticipado veinte años antes. Sin embargo, la primera recopilación de los manifiestos del <i>Soulèvement de la jeunesse</i> no se publicó hasta 1967 y en una precaria edición auspiciada por Lemaître y su Centre de Creativité; el mismo año, por cierto, en que se publicó el libro más célebre de Debord, <i>La société du spectacle</i>.</p>
<p>  </p>
<p>  </p>
<p> <b>Mayo del 68 en el cine letrista</b></p>
<p>  </p>
<p> Letristas y situacionistas han rivalizado asimismo por arrogarse una desorbitada capacidad de influencia sobre los hechos de Mayo del 1968, especialmente en el crisol de las conjuras estudiantiles. En efecto, hay indicios de una cierta presencia de las huestes letristas en los ambientes universitarios, y algunos testimonios acerca de las vehementes arengas de Isou durante la ocupación del Théâtre de l’Odéon.
Unos meses después, en noviembre, Isou publicaría el informe o crónica <i>La Stratégie du soulèvement de la jeunesse (1949-1968)</i>.
Sin embargo, el epílogo de Roland Sabatier a la reciente reedición de los manifiestos de la <i>Sublevación de la Juventud</i>, parece admitir que los situacionistas lograron un mayor relieve táctico, situándose con ventaja entre los múltiples grupúsculos y líderes que movieron los hilos de los amotinamientos y ocupaciones en cadena.</p>
<p>  </p>
<p> El ideario de la juventud y del
<i>externismo</i> también se ha reflejado desde luego en algunas creaciones de los letristas en sus diversas <i>mecaestéticas</i>.
Incluso en el caso del cineasta y dramaturgo Marc’O &shy;–un miembro de primera hora del grupo, pero de permanencia muy pasajera–, es un tema de fondo que se prolonga de los exabruptos de su <i>cine nuclear</i><b> </b>(proyectos al filo del cine expandido y del terrorismo intelectual) a su comedia pop <i>Les Idoles</i>, un gran éxito en 1968. <i>Le Songe d’une nudité</i>, de Roland Sabatier –otra manufactura del 68–, alterna la <i>cinceladura</i> pura, la erosión brutal de la imagen y el sonido de películas encontradas, con planos un tanto ingenuos y desmañados de escaramuzas o acciones moderadamente vandálicas que pretenden pasar por una apología de la sublevación juvenil.</p>
<p>  </p>
<p> Pero el más elocuente punto de encuentro entre las consignas del <i>externismo</i> letrista y la puntual nitidez del espejismo del Mayo del 68, se halla en el film de Lemaître mencionado al principio. Situado en su filmografía en el cenit de una segunda etapa, y tras una serie de films literalmente hechos de detritos y basuras de laboratorio –con títulos tales como <i>Pellicule</i>, <i>Chutes</i> y <i>Une </i><i>Œ</i><i>uvre</i>, todos ellos de 1968–, <i>Le Soulèvement de la jeunesse - Mai 68 </i>es feo como el encuentro fortuito, sobre una mesa de montaje, de unas secuencias de noticiarios y un cuchillo de carnicero. Con insertos del «perro andaluz» de Buñuel y Dalí, y descartes de otro adefesio anterior del propio Lemaître, las imágenes ni siquiera han sido cinceladas o laceradas con particular denuedo (uno de los reproches de Isou ante los
<i>détournements</i> cinematográficos de los situacionistas neonazis y perezosos), sino que simplemente se suceden en un batiburrillo de jirones en blanco y negro y en color, en positivo y en negativo, apropiados e impertinentes. Así como en la banda sonora se alternan la crónica periodística de los hechos con las voces de Pompidou y De Gaulle, la gutural musicalidad de los poemas letristas con una fábula alegórica protagonizada por «el dios de los creadores» y un heroico discípulo de aquel –es decir, Isou y Lemaître reencarnados en criaturas mitológicas–, y finalmente una exposición a grandes rasgos de las premisas de la economía nuclear y el <i>juventismo</i>.</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>Referencias</b></p>
<p>  </p>
<p> Eugeni Bonet / Eduard Escoffet
(ed.): <i>Próximamente en esta pantalla: el cine letrista, entre la discrepancia y la sublevación</i>. Barcelona: Museu d’Art Contemporani de Barcelona, 2005.</p>
<p>  </p>
<p> Gérard-Philippe Broutin [página web personal]: http://www.gpbroutin.com [consulta: 5 marzo 2014].</p>
<p>  </p>
<p> <i>Les Cahiers de l’Externité</i>
[blog], http://voiceofexternity.blogspot.com [consulta: 5 marzo 2014].</p>
<p>  </p>
<p> Isidore Isou: <i>Contre l’Internationale Situationniste, 1960-2000</i>, prefacio de Marc Partouche. Cergy / París: D’Art(s) / Hors Commerce, 2000.</p>
<p>  </p>
<p> Isidore Isou: <i>La Créatique ou la Novatique (1941-1976)</i>.
Romainville: Al Dante-Léo Scher, 2003.</p>
<p>  </p>
<p> Isidore Isou: <i>Les Manifestes du Soulèvement de la Jeunesse (1950-1966)</i>, postfacio de Roland Sabatier, Romainville: Al Dante, 2004.</p>
<p>  </p>
<p> Anselm Jappe: <i>Guy Debord</i>, Barcelona: Anagrama, 1998.</p>
<p>  </p>
<p> Maurice Lemaître: <i>Théorie, programme et moyens d’action de l’externisme: l’économie nucléaire ou soulèvement de la jeunesse (1953) suivi de: Le décentrisme ou le cancer de l’Histoire (1956)</i>.
París: Centre de Créativité, 1998.</p>
<p>  </p>
<p> Greil Marcus: <i>Lipstick Traces: A Secret History of the Twentieth Century</i>.
Cambridge, Massachussets: Harvard University Press, 1990. Edición en castellano de Anagrama.</p>
<p>  </p>
<p> Roland Sabatier: <i>Le Lettrisme: les créations et les créateurs</i>.
Niza: Z’Editions, 1989.</p>
<p>  </p>
<p>  </p> </body> </html>