  <p> <b>La apropiación es robo</b></p>
<p>  </p>
<p> <b>Nuevo homenaje a César Paladión</b></p>
<p>  </p>
<p> «[U]n copioso fragmento de la <i>Odisea</i> inaugura uno de los <i>Cantos</i> de Pound y es bien sabido que la obra de T.S. Eliot consiente versos de Goldsmith, de Baudelaire y de Verlaine. Paladión, en 1909, ya había ido más lejos. Anexó, por decirlo así, un <i>opus</i> completo, <i>Los parques abandonados</i>, de Herrera y Reissig. [...] Paladión le otorgó su nombre y lo pasó
a la imprenta, sin quitar ni agregar una sola coma, norma a la que siempre fue fiel. Estamos así ante el acontecimiento literario más importante de nuestro siglo: <i>Los parques abandonados</i> de Paladión. Nada más remoto, ciertamente, del libro homónimo de Herrera, que no repetía un libro anterior.»</p>
<p>  </p>
<p> H. Bustos Domecq: <i>Homenaje a César Paladión</i>[<i>[[1]]</i>]</p>
<p>  </p>
<p> La cita procede de una de las más hilarantes «crónicas» del doctor Honorio Bustos Domecq, un oscuro escribidor argentino cuyas descabelladas ficciones exhumaron indulgentemente Jorge Luis Borges y Adolfo Bioy Casares.
Bajo la apariencia de un ensayo, el inefable ensuciapapeles traza un panegírico acerca de su no menos desfachatado y grotesco colega, el imaginario César Paladión. Descubrimos, al cabo de unos párrafos, en qué consiste la «fecundidad casi sobrehumana» del literato que en once años, de 1909 a 1919, da a la imprenta no menos de once títulos, comprendiendo, amén del ya mencionado, «la novela pedagógica <i>Emilio</i>, <i>Egmont</i>, <i>Thebussianas</i>
(segunda serie), <i>El sabueso de los Baskerville</i>, <i>De los Apeninos a los Andes</i>, <i>La cabaña del tío Tom</i>, <i>La provincia de Buenos Aires hasta la definición de la cuestión Capital de la República</i>, <i>Fabiola</i>, <i>Las geórgicas</i>
(traducción de Ochoa), y el <i>De divinatione</i>
(en latín)» –«¡Y qué latín! ¡El de Cicerón!», añade Bustos más adelante–, dejando inacabado, a su muerte, «su»
<i>Evangelio según San Lucas</i>.</p>
<p>  </p>
<p> En resumidas cuentas, que este Paladión era de la calaña de los vulgarmente denominados plagiarios, aunque hoy bien se le podría tildar de
<i>apropiacionista</i>, y no sería desacertado. Es más, el propio Bustos Domecq sería a su vez sospechoso del delito de plagio, pese a que su víctima no le planteara querella ninguna, sino todo lo contrario. Me refiero a Borges mismo, y a su célebre relato <i>Pierre Menard, autor del Quijote</i>, igualmente disfrazado de ensayo literario sobre un ficticio autor que se propuso «repetir en un idioma ajeno un libro preexistente». Dado que el relato de Borges data de 1939, mientras que el <i>Homenaje a César Paladión</i> se publicó en 1967, la única razón que explica el doble aval de Borges y Bioy Casares al tal Bustos es la inusitada despreocupación de ambos en lo concerniente a cuestión tan espinosa para otros. A Bioy, en concreto, yo le recuerdo una declaración impresa en letras de molde en las páginas de un periódico: «El plagio no existe», decía; y, sin duda, tanto Borges como Bustos fueron del mismo parecer.</p>
<p>  </p>
<p> «El arte, o es plagiario o es revolucionario», dijo a su vez Paul Gauguin. Sin embargo, ciertas corrientes e individuos han pretendido transgredir esta disyunción; al menos en varios casos. Apropiación o apropiacionismo, términos o etiquetas que se incorporaron a la jerga artística en la pasada década, han generado los más variados debates en torno a cuestiones tales como el plagio y la falsificación, la cita y el remake, el objeto «encontrado» y el apropiado como ready made, las nociones de simulación y simulacro, el principio de collage y el concepto de montaje. Estos dos últimos términos son los que más directamente conciernen al tema aquí
tratado, aunque también sea preciso tener en cuenta algunas acepciones particularizadas de <i>ready made</i> y <i>material encontrado</i>.</p>
<p>  </p>
<p> Apropiada o inapropiadamente, mi primera intención para este exordio ha sido la de barajar una serie de palabras y expresiones sinónimas, afines o antónimas entre sí, y propias de distintas lenguas y jergas, ideas y estrategias, medios y prácticas. Dos conceptos clave y de primera y obligada referencia son, como ya he sugerido, los de <i>montaje</i> y <i>collage</i>, que, si bien tienen sus más notorias raíces en el cine y en las artes plásticas, se han extendido por contagio a otras prácticas y disciplinas bien distintas. (Cuyas fronteras se diluyen o destensan, sin embargo, si vislumbramos en un imaginario diagrama el conjunto de lo que George Maciunas llamara «artes expandidas»). Así, dejando aparte los entresijos de unos posibles precedentes, desde principios de siglo pueden seguirse unos determinados hilos que hilvanan, por ejemplo, al cine con la literatura (del concepto de <i>montaje literario</i> en Benjamin a los <i>cut-ups</i> de Brion Gysin y Williams Burroughs, sin ir más lejos; y por no entrar en la saga propia de las poéticas experimentales, visuales, etc.). O a las artes visuales con las técnicas de reproducción de la imagen; de manera que, más allá de los <i>papiers collés</i>, el fotomontaje o el ready made –más allá de las estéticas y estrategias del collage y del objeto encontrado–, llega a establecerse un vocabulario compartido, del que podrían extraerse los siguientes vocablos: <i>assemblage</i>, <i>décollage</i> y <i>dé-coll/age</i>
(de acuerdo con la particular grafía y concepción de Wolf Vostell), <i>détournement</i> y <i>deconstrucción</i>
(aunque la filiación de ambos términos sea en este caso más propia del pensamiento filosófico), hasta llegar a los conceptos
«expandidos» de <i>instalación</i>, <i>multimedia</i> o <i>media art</i>, donde la apropiación y una acepción dilatada del collage tienen cabida igualmente.</p>
<p>  </p>
<p> Solo que el collage o assemblage de imágenes móviles encontradas o apropiadas, no tiene una relación necesariamente inmediata –en cuanto a su efecto– con el collage o assemblage de recortes de periódicos, fotografías, anuncios, grafismos, objetos, desechos, etc. Así como tampoco el ready made fílmico o videográfico tiene demasiado que ver con el efecto estético o «anartístico» del objeto encontrado, presentado tal cual o «rectificado».[[[2]]]</p>
<p>  </p>
<p> La versión más caricaturesca del asunto –propiciada en gran parte por la cotización o los minutos de fama de los artistas «apropiacionistas»
más cínicos o descarados–, la doy por zanjada tras el divertimento introductorio que me he permitido a costa de los eximios César Paladión y H. Bustos Domecq, imaginados por otros dos socarrones escritores argentinos, cuya eternidad no está en tela de juicio. Sin embargo, puesto que la apropiación, en tanto que modismo
–palabra a la moda de la década ya abandonada–, ha suscitado con cierta frecuencia que las artes de la imagen en movimiento, tan a menudo relegadas a un segundo plano, reclamaran para sí una raigambre propia –un historial relativamente amplio, muchas veces pasado por alto–, me ha parecido que las cosas debían ponerse en su justo lugar, comenzando por una alusión igualmente distante de las artes visuales y audiovisuales. En concreto, una referencia literaria, aunque también podría haber hallado otras en, por ejemplo, la música.[[[3]]]</p>
<p>  </p>
<p> En cualquier caso, si bien tenía más de una duda acerca de la pertinencia o impertinencia de ubicar a Paladión o a Pierre Menard en este exordio
(un tanto excéntrico respecto a mi verdadero foco de atención), el asomo de duda que tenía se ha disipado al reparar en el título de crédito con que se abre un film de Keith Sanborn, un cineasta norteamericano que ha frecuentado las prácticas de apropiación y reciclaje de materiales cinematográficos preexistentes.[[[4]]] Dicho rótulo dice: «Pierre Menard presents». A la sazón, yo me he decidido, pues, a poner a Paladión en cabecera.</p>
<p>  </p>
<p> <b>Un enfoque libertario</b></p>
<p>  </p>
<p>
«Si tuviera que responder a la siguiente pregunta: “¿Qué es la esclavitud?”, y contestara con una palabra, “¡Asesinato!”, su sentido sería comprendido de inmediato. No necesitaría más argumentos para demostrar que la facultad de arrebatar a un hombre su pensamiento, su voluntad y su personalidad, es una cuestión de vida y muerte, y que esclavizar a un hombre es asesinarlo. ¿Por qué, entonces, a la pregunta “¿Qué
es la propiedad?”, no puedo del mismo modo contestar: “Robo”?»</p>
<p>  </p>
<p>
             Pierre-Joseph Proudhon: <i>Qu'est-ce que la propriété?</i> (1840-1841)</p>
<p>  </p>
<p> El título de este texto, <i>La apropiación es robo</i>, fue el que di inicial y provisionalmente al proyecto para la muestra finalmente titulada <i>Desmontaje: film, vídeo/apropiación, reciclaje</i>.
Mi propósito era el de jugar con una célebre frase del pensamiento libertario, a la vez que con un término que ha estado de candente actualidad en los últimos años, tanto en el lenguaje artístico como en el metalenguaje de la crítica. Esta paráfrasis evidente me fue un tanto discutida, sin embargo, por algunas personas que tuvieron conocimiento del proyecto; entre las cuales, algunos autores cuya obra he tenido en cuenta. Creo que algunos encontraron el título demasiado fuerte: que se les tildara de «apropiacionistas» tenía un pase, pero sugerir que fueran «amigos de lo ajeno» era ya demasiado. Como yo entendía que tal silogismo era falso, este no fue empero el motivo por el que me avine a buscar un nuevo título para la muestra (reservándome el primitivo para estas páginas, donde confío en saber matizarlo adecuadamente). Alguien me sugirió, por otra parte, que tal paráfrasis era fútil, pues propiedad y apropiación venían a ser lo mismo. Lo cual no es cierto, si hacemos caso de lo que dice Proudhon, pues, tras distinguir entre propiedad y posesión, se refiere a la apropiación como «formación de la propiedad por la posesión». Alguien más, aún, me sugirió la posibilidad de respetar más fielmente el enunciado original de Proudhon; es decir, la propiedad (<i>no</i> la apropiación) es robo.</p>
<p>  </p>
<p> En cualquier caso, en mi decisión de alterar el título de la muestra sí he tenido en cuenta a quienes me sugirieron que «apropiación» era una expresión ya demasiado manida y que tomaba excesivo relieve. Comprendí así que, por sí
sola, mi paráfrasis de la frase proudhoniana podía efectivamente resultar redundante y hasta frívola, al quedar aislada de unos argumentos que son los que pretendo hilvanar aquí. (Así es como la apropiada/inapropiada expresión ha pasado a ser un ingrediente más en el subtítulo que ostenta por fin la muestra).</p>
<p>  </p>
<p> Aun así, me he mantenido en mis trece por lo que respecta al título de este texto de mi exclusiva responsabilidad, pues creo que las connotaciones de la frase –tanto la original como la modificada (<i>détournée</i>, podría también decir)– sí que son harto apropiadas en relación con el tema aquí tratado. Proudhon, años después del citado ensayo, escribió, por cierto, otra obra en la que se ensañó más particularmente con el principio de la propiedad intelectual, con el siguiente y expresivo enunciado: <i>Los derechos de autor, examen de un proyecto de ley para crear, en provecho de los autores, inventores y artistas, un monopolio permanente</i>
(1862). Ahora bien, los autores de los que aquí se trata no parecen estar abiertamente en contra de aquel principio y aquellos derechos
(aunque atribuirles una postura uniforme es, obviamente, imposible).</p>
<p>  </p>
<p> La mayor parte de las cintas que en el transcurso del proceso de selección han pasado por mis manos, llevaban sus advertencias disuasorias (al principio de las copias o bien en el estuche, diciendo: no me copies, no me robes), así como su © de copyright y de condición-de-autoría. La cinta de Muntadas titulada <i>Warnings</i>
(1988), comienza por la «advertencia» propia de Video Data Bank, una entidad de Chicago que distribuye varias cintas de dicho autor, y prosigue con las de otras cintas de vídeo de diferentes fuentes; una tras otra, durante seis minutos, con el único añadido de una <i>muzak</i> ligera y ligeramente exótica. Con dos magnetoscopios y una provisión de cintas alquiladas en el videoclub más cercano, cualquiera podría hacer, si no la misma cinta, sí una de muy parecida.
Significativamente, Muntadas ha firmado algunas de las varias cintas en las que ha utilizado materiales apropiados, no en tanto que autor, sino como <i>editor</i> o compilador. (Además, debería anteponer el prefijo co-, pues las cintas a las que me refiero las ha realizado en colaboración con otros artistas). Pero este no es el caso de <i>Warnings</i>, ni tampoco el de otras dos cintas que se avecinan igualmente al concepto de ready made en su más descarnado sentido: <i>Credits</i>
(1984), una sucesión aparentemente arbitraria de títulos de crédito de films y programas televisivos, y <i>Transfer</i>
(1975), una cinta de uso interno de una conocida compañía fabricante de bebidas refrescantes, la cual fue a parar a manos de Muntadas por un error fortuito. Para servirme de una expresión debida a otro colega que se ha ocupado repetidamente de la obra de Muntadas, estas cintas apenas nos ofrecen «el icono sin la imagen».[[[5]]]
(Más que imagen debería quizá decir el sentido o la interpretación
–en el sentido de algo ya masticado–, pero, por otra parte,
¿hasta qué punto son imágenes los rótulos?)</p>
<p>  </p>
<p> Un miembro de Gorilla Tapes, grupo vinculado al <i>scratch video</i>
–una controvertida y efímera corriente que hizo cierto ruido en Gran Bretaña en la primera mitad de los ochenta–, ha relatado las vicisitudes por las que pasaron al querer satisfacer los derechos por las imágenes ajenas empleadas en su obra <i>Death Valley Days</i>
(1984-1985), tras comprobar que su cinta podía tener cierta salida en las televisiones (su fuente de imágenes, por otra parte). El susodicho relato plantea cómo el derecho al copyright puede generar un mecanismo más de censura, al establecerse «una forma poderosa, aunque indirecta, de regulación».[[[6]]]</p>
<p>  </p>
<p> Para Proudhon, el derecho a la propiedad era una «ficción legal», un contrasentido
–«la propiedad está contra el derecho»–; el uso convertido en abuso y negación de cuanto sí «es de derecho»: el derecho a la posesión, el derecho de usufructo. Los Gorilla Tapes no van tan lejos: «Esto no es para argumentar que toda forma de copyright deba ser abolida», dicen. Sin embargo, la cuestión de fondo ya la han planteado previamente, a propósito de un aspecto anecdótico:</p>
<p>  </p>
<p> «Otra extraña fábula fue la que se desencadenó a partir de nuestra utilización de un material identificado como “US Newspool”. Dicho material, que se genera en Estados Unidos y que cubre los acontecimientos presidenciales y del Estado, es transmitido por satélite a las televisiones de todo el mundo, siendo <i>gratuito</i> su uso. Aunque la fuente de la que lo obtuvimos nos dijo que nadie se molesta nunca en pedir permisos para utilizar un material que es gratuito, nos decidimos a intentar obtener autorización para el uso de las varias secuencias de Reagan que habíamos remontado. Buscamos pues a alguien que nos pudiera dar tal permiso. Nadie se hacía responsable, sin embargo: ni las cadenas británicas, ni la oficina de prensa de la embajada de Estados Unidos, ni las cadenas estadounidenses; nadie sabía de dónde procede realmente este material. Simplemente, desciende desde el satélite hasta nuestras pantallas; nadie, aparentemente, se reclama dueño del mismo. Así
que, ¿a quién <i>pertenecen</i> las imágenes electrónicas?»[[[7]]]</p>
<p>  </p>
<p> Posiblemente sea esta misma fuente la utilizada en un film muy reciente, <i>Feed</i>
(1992), de Kevin Rafferty y James Ridgeway, donde se echa una mirada sardónica a las interioridades, «entre bastidores», de los competidores políticos en las elecciones primarias estadounidenses.
Un dato significativo es la prontitud con que este film llegó a las pantallas (pues se estrenó hacia la mitad de octubre de 1992), pero también la facilidad con que el material ha sido «pillado» del satélite; material en ningún caso aireado por las redes televisivas, sino que corresponde a los momentos previos al espectáculo del <i>infotainment</i>
(contracción de <i>information-entertainment</i>), combinado por los autores con otros materiales documentales de cosecha propia.</p>
<p>  </p>
<p> Sin embargo, en muchos casos, la apropiación, si por tal se entiende robo, pillaje, piratería o saqueo, es antes una metáfora que una realidad. Por eso, en el subtítulo definitivo de la muestra he decidido emparejar la idea de apropiación con la de «reciclaje». Porque, muchas veces, no se trata exactamente de materiales robados, sino retomados
(planos de archivo) o sencillamente encontrados (en laboratorios, mercados de viejo, etc.) y reaprovechados con otro propósito. Y porque hay asimismo amigos de lo ajeno muy honrados, que piden permisos, acreditan con todo detalle sus fuentes, y pagan lo que se deba o convenga a los derechohabientes, los archivos y los bancos de imágenes. En cualquier caso, la modalidad por la cual se hace usufructo de tales elementos ajenos –no solo imágenes, sino también textos, músicas, argumentos... – es lo de menos. El apropiacionista puede jactarse o no del delito cometido. Solo a veces, la idea de robo se hace transparente. Por ejemplo, cuando Teresa Wennberg tituló una de sus cintas <i>Vol</i>
(1981), que en francés quiere decir tanto «robo» como «vuelo»; lo cual me recuerda al «padrino del videoarte» Nam June Paik, cuando afirmó que el latinajo <i>video</i> no significa «yo veo», sino «yo vuelo»; que, en francés, es <i>je vole</i>, y por tanto, de nuevo, «yo robo». Y, a su vez, me lleva a pensar en todos aquellos artistas que reivindican su derecho a sobrevolar el entorno entero de la realidad contemporánea, incluyendo, como un relieve más del terreno, todas las fuentes mediáticas, por considerar que las imágenes que de ahí manan son hoy de <i>dominio público</i>.
Se reinstauraría así el derecho/ideal de posesión, que Proudhon enfrentaba al abuso de la propiedad. Salvo que el «fuera de la ley»
es una encarnación hoy demasiado simbólica del rol del artista, por muy alternativo o resistente que se pretenda su arte, su actividad, su actitud.</p>
<p>  </p>
<p> <b>Modos de empleo del desmontaje</b></p>
<p>  </p>
<p> «Los <i>cut-ups</i> son de todo el mundo. Cualquiera puede hacer <i>cut-ups</i>.
[...] Los <i>cut-ups</i> podrían otorgar una nueva dimensión al cine. Monta una escena de juego con mil otras escenas de juego de todos los tiempos y lugares.
Monta y acorta. Monta calles de todo el mundo. Monta y reordena las palabras e imágenes de cualquier film.»</p>
<p>  </p>
<p> William S.
Burroughs: «The Cut-up Method of Brion Gysin»[[[8]]]</p>
<p>  </p>
<p> «El <i>détournement</i> es la manifestación más elemental de la creatividad. [...] La creatividad no tiene límite, el <i>détournement</i> no tiene fin.»</p>
<p>  </p>
<p>
            Raoul Vaneigem: <i>Traité
de savoir-vivre à l'usage des jeunes générations</i>[<i>[[9]]</i>]</p>
<p>  </p>
<p>  </p>
<p> No es posible generalizar en un campo tan vasto como el del <i>(bri-)collage</i>, el <i>hágaselo-usted-mismo</i> creativo que –crítica o cínicamente, resistente o juguetonamente, idiosincrática o convencionalmente, etc., etc.– monta y desmonta unos elementos preexistentes, encontrados, recuperados, apropiados o reciclados. No obstante, diría que a menudo puede entreverse un ideal que no sé si llamar utópico o humanista, propagador o proselitista, iluso o activista. Si no el de inducirnos a desarrollar nuestra propia creatividad a partir de la casi nada de los más nimios desechos, o del casi todo de la sobreabundante información e iconografía que nos rodea, sí creo que un postulado latente es el de enseñarnos a percibir, ver, oír, palpar, pensar las cosas a nuestro alrededor, de maneras radicalmente distintas a las que nos vienen dadas por los cauces habituales del mercado, las redes de información, los holdings del espectáculo. Instruirnos a manejar las imágenes, en lugar de dejarnos manejar por ellas y por quienes pretenden manejarlas profesionalmente, competentemente, autorizadamente.</p>
<p>  </p>
<p> Por otro lado, aunque la habilidad, el «oficio» creativo no suele constituirse en alarde en el tipo de obras de las que aquí se trata –si acaso, más bien el alarde del bricolador satisfecho con su logro–, es evidente que hay una habilidad, una sabiduría, una astucia, un conocimiento de los medios, los materiales, los efectos, los defectos... constituyendo la base estética y el «modo de empleo» de lo que he dado en denominar desmontaje.</p>
<p>  </p>
<p> Tal como ya he señalado antes, cualquiera podría hacer vídeos muy similares, si no del todo iguales, a <i>Warnings</i> o <i>Credits</i>, de Muntadas. Y, según Bruce Conner, cualquiera podría rehacer asimismo un film muy parecido a su <i>Crossroads</i>
(1976), sin más que adquirir el metraje correspondiente en los Archivos Nacionales de Estados Unidos, incorporando otra música a su antojo: «Usted podría hacer <i>Crossroads</i>.
Está registrado, pero creo que mis únicos derechos son sobre los empalmes. El copyright es básicamente para proteger a los músicos.»[[[10]]] Pero, entre la obra de los mismos u otros muchos autores, no podemos dejar de apreciar esa habilidad y demás rasgos referidos antes, por los que evaluamos el acierto o desacierto de una obra artística. Y, en muchos casos, dicha obra logra demostrar además su atractivo y su fuerza entre un público más amplio del que acostumbramos a imaginar, cuando de prácticas artísticas y experimentales se trata.
Aunque, obviamente, el desmontaje, el collage, el ready made, el encuentro fortuito o la búsqueda más concienzuda no garantizan de por sí tal acierto, sino que hay creaciones y propósitos fracasados, ya desde su misma raíz.[[[11]]]</p>
<p>  </p>
<p> Volviendo ahora a las cualidades «pedagógicas» que el desmontaje podría tener, ciertos procedimientos de compilación y <i>détournement</i> están ya demostrando su utilidad en su aplicación fuera de los círculos del arte (y de la producción cinematográfica, videográfica y televisiva). Tal como pretendían Guy Debord y sus camaradas de la Internacional Letrista primero, y de la Internacional Situacionista después –los acuñadores del concepto de
<i>détournement</i>, como es sabido–, tales prácticas pueden efectivamente desvincularse del arte, si es que tal cosa puede aún preocupar a alguien, tras tantas y tantas corrientes pro- y anti-arte como las registradas a lo largo de nuestro siglo.[[[12]]]
«El <i>Archival Art Film</i>
–ha escrito Sharon Sandusky, una cineasta y apologista de dicho género–[[[13]]] podría convertirse en una herramienta estándar para los historiadores, los sociólogos, y otros creadores culturales. Todavía ha de irrumpir del todo en este rol. Una de las tareas de los
<i>Archival Art Filmmakers</i> es la de facilitar dicha irrupción.»[[[14]]]</p>
<p>  </p>
<p> Sin embargo, aparte de que tal «rol» ya está de algún modo presente en el trabajo y planteamientos de ciertos artistas, sí pueden encontrarse ejemplos de tales usos por parte de pensadores o estudiosos de la cultura y la comunicación. Así, Anthony Wilden, un teórico de la comunicación canadiense, describe en uno de sus libros (no sin cierta ingenuidad por su parte, en cuanto a lo novedoso de su aportación) un «montaje en vídeo» que realizó entre 1981 y 1982 junto con Rhonda Hammer, <i>Women in Production: The Chorus Line 1932-1980</i>: una compilación de secuencias de films musicales, con segundas intenciones en cuanto a la voluntad de reflejar «la manera en que las relaciones sociales han sido representadas en un medio de entretenimiento popular [...] relaciones de clase, raza, sexo y nacionalidad».[[[15]]]</p>
<p>  </p>
<p> Otra referencia que he encontrado es la de un vídeo compilado por Sut Jhally, profesor de Comunicaciones en la Universidad de Massachusetts, con el título de <i>Dreamworlds: Desire/Sex/Power in Rock Video</i>.
Jhally montó en dicha cinta numerosos extractos de vídeos musicales grabados de las emisiones de MTV, con el propósito de analizar de qué manera se representa a las mujeres en estos pop(ulares)
artefactos promocionales de la industria discográfica. «Su conclusión fue», dice la noticia de la que he extraído estos datos, «que casi siempre aparecen como objetos sexuales o
“ninfomaníacas”, y utilizadas como accesorios para vender música.»[[[16]]]</p>
<p>  </p>
<p> Se me ocurren igualmente algunos programas de televisión de carácter alternativo o cultural/experimental, donde se analizan y exponen unos hechos, ideas e imágenes, con la estrecha participación de intelectuales, pensadores, críticos concernidos por el papel de la información y la imagen en nuestra sociedad. Por ejemplo, las emisiones de Paper Tiger Television en los canales de cable de acceso público y otros resortes alternativos del paisaje televisual estadounidense; o <i>TV Borisz és Video Misa</i>
(<i>TV Boris y Vídeo Misha</i>, 1992), un programa realizado por András Sólyom para la emisión
<i>Videovilág</i> de la televisión húngara, donde se exponen y discuten las opuestas funciones estratégicas de la prensa y los medios audiovisuales electrónicos en relación con el fracasado golpe de estado que precedió al fin y desmembramiento de la URSS.</p>
<p>  </p>
<p> La popularización de la tecnología vídeo, de mucho mayor alcance que la que nunca lograra alcanzar el cine de pequeño formato, sería sin duda un factor a tener muy en cuenta (y relativamente novedoso aún, pese a que el vídeo haya sobradamente alcanzado la edad adulta), respecto al potencial del desmontaje como «herramienta estándar» de crítica, reflexión y análisis, sin excluir el componente creativo y de expresión personal que Sandusky considera inherente a lo que ella denomina <i>Archival Art Film</i>; componente del cual no está exento el pensamiento intelectual y científico, si se me permite la perogrullada de recalcarlo.</p>
<p>  </p>
<p> El mismo texto de Sharon Sandusky me da pie a sintetizar seguidamente otras ideas que he desgranado de su lectura, aunque muchas se pueden hallar igualmente, o mediante parecidos enunciados, en los escritos de otros autores que mencionaré a su debido tiempo. El exuberante ensayo de Sandusky, que constituye una especie de manifiesto impetuoso a favor del <i>Archival Art Film</i>, contra el <i>Toxic Film Artifact</i>
(o <i>cretinizing film</i>), me facilita todo un repertorio de metáforas o caracterizaciones nada fútiles en relación con el tema tratado. Si de la «apropiación»
he dicho que debería entenderse ante todo como una metáfora, referida al procedimiento y fuente de extracción de las imágenes u otros elementos tomados –y metáforas serían asimismo el
«reciclaje» o el «hallazgo» fortuito que sugiere la expresión
<i>found footage</i>–, mi atención se dirige ahora a otras metáforas que denominaría de planteamiento, por las cuales se podrá decir que el desmontaje, <i>Archival Art Film</i>, o como se le quiera llamar, es arqueología y es psicoanálisis, diálogo y ecología.</p>
<p>  </p>
<p> <i>Arqueología</i>.
Pero una arqueología, matiza Sandusky, que se ocupa de unos sedimentos muy próximos, más o menos recientes (jamás anteriores, en principio, al desarrollo de las tecnologías que han servido para la creación o captura de las imágenes reutilizadas); sedimentos excavados de entre una delgada capa, tal como la emulsión de una película o cinta magnética. Claramente, esta concepción está
presente, de muy variadas formas, desde el cine de compilación o montaje más tradicional (y sus equivalentes televisivos) hasta las obras de carácter más formal o matérico. Sin embargo, a diferencia de la corriente historiográfica y (pseudo)documental más prototípica de los films de compilación, Joel Katz, otro realizador independiente que se ha ocupado del tema, opina que las prácticas que discrepan con aquella tradición tienen un planteamiento antes arqueológico que historiográfico, al cual se refiere con el neologismo de «archivología» (<i>archiveology</i>).[[[17]]] Un aspecto a tener en cuenta es que, en tal caso, las fuentes a las que se recurre no son tanto las imágenes documentales y de noticiarios típicas del documental de archivo, como las ficciones del cine comercial, el inagotable filón de imágenes de la publicidad, los films industriales e «instructivos» (en el más amplio sentido de dicho adjetivo), por supuesto el <i>megamix</i> televisivo, y cualquier combinación entre las fuentes mencionadas y toda otra que pueda echarse en falta.</p>
<p>  </p>
<p> <i>Psicoanálisis</i>.
Sandusky se apoya inmediatamente después en la apropiación igualmente metafórica del lenguaje de la arqueología por parte del psicoanálisis, para caracterizar el ímpetu del <i>Archival Art Film</i> como «psicoterapia cultural, “la cura fílmica”». El historiador cinematográfico Tom Gunning ha empleado asimismo este lenguaje común al psicoanálisis y a la arqueología a propósito del cine (y el cine expandido) de Ken Jacobs, tantas veces hecho de materiales preexistentes y ajenos:</p>
<p>  </p>
<p> «A diferencia del texto escrito, las imágenes cinematográficas pueden ser interrogadas, no solo para revelar su falsedad, sino también para desenterrar su verdad oculta. Jacobs se mete en el interior de las imágenes que encuentra, y nos muestra que la cámara sí lo captó
todo –siempre que sepamos adónde y cómo hemos de mirar. El psicoanálisis, igualmente, comporta un arte de la memoria, la excavación de aquellas cosas no únicamente olvidadas, sino reprimidas en nuestra conciencia.»[[[18]]]</p>
<p>
 
</p>
<p> <i>Diálogo</i>.
El texto de Gunning, tanto como el de Sandusky, me conduce a lo que esta última contempla como otro potencial más del <i>Archival Art Film</i>: el de establecer un «diálogo sobre las imágenes», sin necesidad de abandonar su terreno por el de un metalenguaje crítico. Más ampliamente, esta interrogación/discusión de las imágenes y los mensajes que nos vienen dados (en su mayor abundancia a través de los medios masivos), es una necesidad sobre la que se han explayado diversos pensadores, teóricos de la comunicación, críticos de la cultura, etc. Así, hace bien poco, Debord arremetía aún contra el carácter monolítico de los discursos mediatizados por el espectáculo, resaltando que «la lógica solo se ha formado socialmente en el diálogo.»[[[19]]] El trabajo con estas mismas imágenes y discursos que nos sirven tan atractiva y/o abundantemente, su confrontación dialogística y dialéctica, es pues una más de las defensas con que contamos para protegernos de la sinrazón convertida en espectáculo.</p>
<p>  </p>
<p> <i>Ecología</i>.
Por último, otro atributo común que se otorga al tipo de prácticas aquí referidas, y uno que ya se habrá hecho evidente al hablar una y otra vez de <i>reciclaje</i>, es su carácter «ecológico». Por supuesto, esto ha de entenderse, insisto, como una bella metáfora antes que como una garantía de honestidad de todo producto creado a partir de los desechos, derroches y sobrantes de otros anteriores y ajenos. El hecho de dar un nuevo uso a estos materiales preexistentes –depreciados o todo lo contrario–, de acudir a este pozo virtualmente sin fondo en lugar de a la obtención de nuestras propias imágenes, no supondrá
el reequilibrio de un medio ambiente viciado, salvo en el estricto plano de lo simbólico, y por acción y efecto de los demás propósitos que entran en juego: descubrir lo oculto, desmontar las piezas, alterar el sentido evidente, borrar una idea falsa, reemplazarla por la correcta; arqueología, psicoanálisis, diálogo, reciclaje, apropiación, <i>détournement</i>, desmontaje.</p>
<p>  </p>
<p>  </p>
<p> <b>De la propaganda a la propagación</b></p>
<p>  </p>
<p> «El término correcto debería indicar que el trabajo <i>comienza</i> en la mesa de montaje, con unos planos cinematográficos ya existentes. También ha de indicar que el film empleado tiene su origen en algún momento del pasado. El término podría además indicar que se trata de un film de <i>ideas</i>, pues muchos films de este tipo no se conforman con ser meros registros o documentos.»</p>
<p>  </p>
<p> Jay Leyda: <i>Films Beget Films. Compilation Films from Propaganda to Drama</i>[<i>[[20]]</i>]</p>
<p>  </p>
<p> «La única manera de combatir la propaganda “normal”, tenida por inevitable, que diariamente nos rodea, es la de cuestionar <i>su</i> versión de la verdad de la manera más clara y abierta posible.»</p>
<p>  </p>
<p> Lucy R. Lippard:
«Some Propaganda for Propaganda»[[[21]]]</p>
<p>  </p>
<p> Bucear en una supuesta historia y tradición del collage y el uso de imágenes ajenas en el campo audiovisual, es una tarea que espera aún una investigación más amplia y concienzuda de los datos y pistas que se tienen. En 1964, Jay Leyda publicó una valiosa obra de síntesis
(que ha pasado un tanto desapercibida durante muchos años) sobre lo que se diera en llamar «film de compilación» (<i>compilation film</i>), aunque en inglés también se le haya denominado <i>archival film</i>, y en lenguas como el francés y el español, <i>film de montage/montaje</i>, expresiones equívocas e inapropiadas ambas, tal como lo sugiriera el propio Leyda. Ciertamente, este tipo de productos ha sido periódicamente atendido por otros escritores cinematográficos –a raíz, sobre todo, de circunstanciales aluviones de nuevas compilaciones–, pero nadie parece haber proseguido aún la exploración del tema en toda la extensión que Leyda vislumbrara en su libro: desde los orígenes del cinematógrafo hasta la imagen electrónica (en sus diversas modalidades, así como en sus múltiples asimilaciones de casi todos los modos anteriores); y <i>from Propaganda to Drama</i>, según reza el subtítulo de dicho libro, incluso si Leyda se quedó
corto en cuanto a otras opciones que constituyen justamente el núcleo de la presente aproximación.</p>
<p>  </p>
<p> Al sumergirme en el tema, alguna vez me he preguntado si las diversas prácticas basadas en el usufructo o la usurpación de materiales audiovisuales ajenos podrían ser examinadas <i>in toto</i> por ese mero hecho en común, aunque con los numerosos distingos que requiriera un ámbito tan vasto; sobre todo, si atendemos al creciente uso y abuso de imágenes de archivo, anónimas, recuperadas, bien o mal apropiadas, en la más amplia variedad actual de productos y parcelas audiovisuales, incluyendo videoclips, espots publicitarios, viejos y nuevos géneros de cine y televisión, hasta penetrar incluso en el (sub)mundo del <i>hacking</i> informático y <i>cyberpunk</i>.
Me parece obvio que un empeño tal requeriría un enfoque colectivo y enciclopédico; y, aun así, no logro imaginarme un resultado simultáneamente exhaustivo y coherente. Por tanto, se hace preciso acotar una cierta parcela, incluso si sus fronteras son a veces difíciles de deslindar de otras parcelas y cultivos contiguos.</p>
<p>  </p>
<p> Si de crear una Historia se trata (una con mayúscula), Leyda ya indicó que «nunca sabremos con certeza quiénes fueron los primeros en re-montar o manipular trozos de noticiarios para sus propios propósitos [...] pero podemos estar seguros que la práctica es tan antigua como el noticiario mismo.»[[[22]]] Y, aunque se refiriera concretamente a materiales documentales,
«trozos de noticiarios», vistas anónimas, creo que se podría decir lo mismo con respecto a las primigenias ficciones y narrativas cinematográficas. Cualquier manual de historia del cine nos habla de la Guerra de Patentes y otras rencillas ostensibles dentro de una incipiente industria del espectáculo popular (valga, acaso, la redundancia), donde el no-derecho de propiedad (que diría Proudhon)
se pretendía ejercer antes sobre el medio mismo, su tecnología, el aparato de explotación, que sobre aquello que hoy denominaríamos el
<i>software</i>.
De ahí que sigan apareciendo, o se obtenga noticia documental de muy distintas versiones de una misma obra cinematográfica, a la vez que se discute la verdadera encarnación del «autor»: acaso un subalterno, acaso el propio inventor (ocupado en demostrar las propiedades de su invento o en entretenerse con el mismo en ratos de ocio), acaso el exhibidor mismo. Cuando no un plagiario de otra obra anterior. En palabras de Noël Burch: « Durante la era primitiva, cuando el copyright era inexistente o imposible de imponer, especialmente de un país a otro, había una extraordinaria
<i>circulación de signos</i>.
No es ninguna exageración decir que durante un tiempo las imágenes de películas eran de propiedad pública.»[[[23]]]</p>
<p>  </p>
<p> La obra de Leyda nos proporciona, en todo caso, una base más firme por donde empezar a tratar, menos brumosamente, de algunas vertientes básicas de los films de montaje y desmontaje. Así, ya en el primer capítulo, Leyda resume estas en dos palabras, «ideas y propaganda», vinculando la primera al concepto de <i>cine intelectual</i>, tomado de los escritos de Eisenstein.[[[24]]]  </p>
<p>  </p>
<p> En cierto modo, se podría distinguir asimismo entre film de compilación y film de
<i>manipulación</i>, pues, en muchos casos, el montaje propagandístico no se basa tanto en la recopilación y montaje «intelectual» de materiales diversos y de diversas fuentes, como en una alteración extremadamente simple
(pero en busca de un impacto muy directo) de un material que procede de una única fuente, o que tiene un carácter homogéneamente unitario. Es el caso, por ejemplo, de algunos films de propaganda elaborados por ambos bandos durante la Segunda Guerra Mundial, tal como el que se conoce con el título de <i>Swinging the Lambeth Walk Nazi Style</i>
(1941), de atribución dudosa,[[[25]]] con su burlesca manipulación de unas pocas secuencias de militares nazis y del propio Führer desfilando; imágenes al parecer entresacadas del estremecedor súper espectáculo dirigido por Leni Riefensthal, <i>Triumph des Willens</i>
(<i>El triunfo de la voluntad</i>, 1934-1935), jugoso objeto también de otros desmontajes y remontajes mencionados por Leyda o no (como es sabido, uno de los cometidos de Luis Buñuel en su breve paso por la Film Library del Museum of Modern Art de Nueva York, en 1939, fue el de hacer una versión abreviada, aunque no desvirtuada, del film de la Riefensthal).</p>
<p>  </p>
<p> Por supuesto, propaganda también se suele identificar con manipulación en otro sentido, y el ejemplo expuesto no permite una generalización absoluta que separe al (a) cine de compilación o de ideas, del (b)
cine de manipulación o de propaganda. Por lo contrario, ideas y propaganda pueden fundirse positivamente, de acuerdo con la etimología del segundo y denostado término: propaganda como vehículo de diseminación, <i>propagación</i> de unas ideas.[[[26]]] Consecuentemente, no es la disparidad u homogeneidad de las fuentes lo que determina la mayor o menor complejidad de lenguaje e ideas de una compilación a otra.</p>
<p>  </p>
<p> Tras este rodeo, es preciso reconocer uno de los linajes fundamentales del desmontaje en la denuncia y la sátira políticas, frecuentemente espoleadas por las guerras y conflictos de mayor estruendo, así como por los climas de depresión social y ruina ética. Tanto las dos conflagraciones llamadas «mundiales», como la guerra civil española, la guerra de Vietnam o, más recientemente, el conflicto del Golfo Pérsico, han provocado numerosas compilaciones de características e intencionalidades diversas. Al igual que los regímenes dictatoriales y autoritarios en general, las revueltas y represiones, las injusticias y los abusos más crueles. Hoy, más que nunca, se puede poner en duda la eficacia política o aleccionadora de las más extremas manifestaciones que mantienen viva (¿pero inerte?) esta corriente. Comentarios como el siguiente pueden dar que pensar sobre ello:</p>
<p>  </p>
<p> «En lo que concierne a los collages a partir de imágenes reales, manipuladas o no, hemos asistido al gran desfile de los innumerables muros de Berlín troceados, sobremontados por varios Saddam Husseins, Hitleres, o George Bushes digitalizados, desplomándose sobre los cadáveres de matrimonios Ceausescu [...]. Ha de reconocerse que la apropiación de imágenes televisivas, muy frecuente, ha dejado ya de ser una figura infractora [<i>figure d'infraction</i>], y que las chocantes imágenes apropiadas raramente retienen o adquieren un carácter provocador.»[[[27]]]</p>
<p>  </p>
<p> A juzgar por estas palabras, el problema podría ser uno de «estilo»: del <i>por qué</i>, y según en qué época(s), la apropiación y desmontaje de signo político puede constituir <i>figure d'infraction</i>, o ya no, limitándose a ser una reacción visceral, privada o hasta banal, a ojos de un receptor no necesariamente escéptico. Por mi parte, aunque entiendo que dicho problema es crucial, siento un
«teórico» afecto por la propagación misma que están teniendo y puedan aún tener las tácticas de las que aquí me ocupo.</p>
<p>  </p>
<p> <b>Collage, assemblage</b><i><b> </b></i><b>y détournement</b></p>
<p>  </p>
<p> «Además de la hoy enorme cantidad de <i>actualidades</i> que esperan a ser reutilizadas, resulta estimulante pensar en posibles usos para la cantidad, igualmente enorme, de materiales de ficción.»</p>
<p>  </p>
<p> Jay Leyda: op.
cit<i>.</i>[<i>[[28]]</i>]</p>
<p>  </p>
<p>
«Apropiémonos de los balbuceos de esta nueva escritura; apropiémonos sobre todo de sus ejemplos más logrados, más modernos; aquellos que han escapado a la ideología artística, más aún que los films de serie B americanos: los noticiarios, los tráilers y, sobre todo, el cine publicitario.»</p>
<p>  </p>
<p> René Vienet:
«Les situationnistes et les nouvelles formes d'action contre la politique et l'art»[[[29]]]</p>
<p>  </p>
<p> El origen de otro linaje bien distinto, pero con descendencia asimismo abundante, nos llevaría, según cierto consenso, de <i>Rose Hobart</i>
(1936-39), de Joseph Cornell, ilustre heterodoxo del collage y
(proto-)assemblage surrealista de imágenes y objetos encontrados (o más bien coleccionados), a una estética del desperdicio, basada en el ensamblaje de fragmentos o restos valorados por su propia condición residual. En este sentido, se suele atribuir a la obra de Bruce Conner un papel determinante en la configuración sucesiva del concepto de <i>found footage</i>, o del film-collage en su acepción de obra elaborada a partir de materiales cinematográficos ajenos y reciclados. (Pues el film-collage puede tener otra acepción distinta en la animación, fotograma a fotograma, de elementos gráficos recortados de diversas fuentes; por ejemplo, revistas, láminas, catálogos comerciales, libros ilustrados, etc. Particularmente en Estados Unidos, esta otra forma de film-collage ha tenido asimismo un amplio y diversificado cultivo entre cineastas independientes como Harry Smith, Robert Breer, Stan Vanderbeek, Larry Jordan, Frank Mouris y, más recientemente, Lewis Klahr).[[[30]]]</p>
<p>  </p>
<p> Por otro lado, el sucesivo redescubrimiento de los films letristas y situacionistas, en los años setenta y ochenta (salvo los de Debord, por entonces invisibles), permitió advertir otras prácticas simultáneas (o incluso, si se quiere, precursoras), uno de cuyos recursos más habituales ha sido la reutilización de detritos y materiales fílmicos apropiados; maltratados (o enriquecidos, según se vea) por la cinceladura (<i>ciselure</i>), la hipergrafía, el montaje discrepante o el poliautomatismo –en la jerga letrista–; o rectificados por los métodos de <i>détournement</i> de los situacionistas.</p>
<p>  </p>
<p> Y, a propósito de letristas y situacionistas, me permito en este punto un breve paréntesis sobre la relación y controversias entre ambos grupos.
Sobre todo porque, dado el largo historial de disputas, escisiones, expulsiones, insultos, que rodea la saga del grupo letrista, de la escindida Internacional Letrista, y de la subsiguiente Internacional Situacionista, opino que se echa en falta un tratamiento digamos
«imparcial» de los diversos aspectos que vinculan la estética letrista y la ¿anti?-estética situacionista. Por ejemplo, respecto a los conceptos y aplicaciones de <i>ciselant</i>[<i>[[31]]</i>] y <i>détournement</i>, respectivamente, o en cuanto al importante papel otorgado por ambos grupos al sonido –texto, voz sobre todo–, concebido por los letristas como un elemento <i>discrepante</i>, y nuevamente como un método de <i>détournement</i> por los situacionistas. En uno de los muchísimos panfletos de los más destacados, prolíficos y furibundos letristas de primera generación –Isidore Isou (el creador del Letrismo) y Maurice Lemaître–, Isou atacó prolijamente al cine situacionista, según
él «neonazi», por, entre otras cosas y befas, «plagiario». En uno de los pasajes más desternillantes de dicho libelo, Isou desacredita el <i>détournement</i> cinematográfico de los «timadores» situacionistas (Debord, el primero) por «retrógado», «grosero», «<i>pompier</i>»,
«reaccionario», etc., y por su regresión a unos <i>détournements</i> limitados, unas discrepancias sin cinceladuras [<i>ciselures</i>]; es decir, ¡sin ni siquiera hacer el esfuerzo de «rayar la película»![[[32]]] Cierro el paréntesis.</p>
<p>  </p>
<p> Entre los remotos y nebulosos orígenes del cine de compilación y la afirmación de un cine de collage, assemblage y <i>détournement</i>, habría otras manifestaciones a tener en cuenta. Por ejemplo, habría que considerar unos modos de <i>détournement</i> y de montaje discrepante <i>avant la lettre</i>, que buscan ante todo un efecto cómico, paródico, incluso irreverente, al jugar por ejemplo con el sinsentido que los rótulos otorgan a unos planos reciclados (propios o de archivo), tal como en los cortometrajes realizados por Adrian Brunel (1892-1958) en los años veinte.[[[33]]] Mientras que, tras la llegada del cine sonoro, el comentario humorístico de viejos films mudos se hará relativamente habitual, constituyendo una vía de reciclaje y reexplotación de productos repentina y prematuramente envejecidos por la ausencia de la voz. Y aunque la voz o voces se añadieran y superpusieran sobre todo a productos ya de por sí burlescos, se tiene también noticia de reaprovechamientos en clave humorística de materiales tomados de viejos noticiarios, o también de obras de ficción supuestamente exentas del más mínimo sentido del humor; severos dramones, por ejemplo.[[[34]]]</p>
<p>  </p>
<p> En España, se tienen referencias acerca de ciertos doblajes bufos realizados por los escritores Enrique Jardiel Poncela (serie de los <i>Celuloides cómicos</i>, 1936-1938; <i>Mauricio o una víctima del vicio</i>, 1940) y Antonio de Lara «Tono» y Miguel Mihura (<i>Un bigote para dos</i>, 1940, a partir de un melodrama romántico alemán, <i>Unsterbliche Melodien</i>), previamente vinculados a las corrientes vanguardistas por el lado del humor<i>ismo</i>.
Jardiel Poncela, en <i>Mauricio...</i>, no se limitó a poner voz y vis cómica a un primitivo film italiano, sino que además manipuló el montaje y la imagen misma, jugando con planos repetidos y sobreimpresiones, alteraciones de velocidad y retrocesos marcha-atrás, de la misma manera que, en su obra narrativa y teatral, utilizó con maestría los más variados e imprevisibles recursos.[[[35]]]  </p>
<p>  </p>
<p> Al margen de que los métodos de <i>détournement</i> suelan tener un componente irónico o sarcástico, la orientación hacia la comicidad de obras como las mencionadas ha tenido una esporádica continuidad en films como <i>What's Up, Tiger Lily?</i>
(1966), de Woody Allen. El cual tiene, por cierto, algún punto en común con <i>La Dialectique peut-elle casser des briques?</i>
(1972), de los situacionistas René Viénet y Gerard Cohen; más que nada, porque en ambos casos se trata, esencialmente, de sendos subproductos cinematográficos de artes marciales y de origen asiático, cuyos diálogos se han alterado de una manera u otra: sin duda, con segundas intenciones muy distintas en el caso de <i>La Dialectique...</i>[<i>[[36]]</i>]</p>
<p>  </p>
<p> Bruce Conner, por otro lado, ha declarado en repetidas ocasiones que una de las mayores influencias que ha recibido es la de un célebre gag visual de <i>Sopa de ganso</i>
(<i>Duck Soup</i>, 1933). Y, leyendo la obra de Leyda sobre el <i>film de compilación</i>, no pude por menos que reparar en la descripción de escenas aparentemente muy similares, contenidas en dos viejos films que menciona en las primeras páginas de su libro: <i>The Cruise of Jasper B.</i>, de 1926 (no se menciona el autor), en el que, posiblemente con intención satírica, todas las armadas del mundo corrían a colaborar en un rescate; y el film de Ivor Montagu, <i>Bluebottles</i>
(1928), donde, inspirándose según Leyda en el anterior, «el toque de silbato de un policía convoca a todos los ejércitos y armadas del mundo, que acuden desde las dunas del desierto, los océanos y los campos de batalla».[[[37]]]</p>
<p>  </p>
<p> Por último, para concluir esta «arqueología del reciclaje en clave de comicidad», podrían ser igualmente relevantes ciertos films de propaganda, tal como el ya mencionado <i>Swinging the Lambeth Walk Nazi Style</i>, pero también otros que Leyda describe, comenzando por un corto de Alberto Cavalcanti, <i>Yellow Caesar</i>, aproximadamente contemporáneo del anterior, burlándose en este caso del régimen fascista italiano de Benito Mussolini: «En su irónica manipulación, Cavalcanti no dejó piedra de montaje por mover: hasta el apunte biográfico y álbum familiar de la introducción han sido tratados con humor y desenvoltura. Un discurso nos es mostrado como el aria de un grave tenor de ópera. El montador repite un paso amanerado hacia adelante y hacia atrás, con el acompañamiento de un vals de saldo. Se ha sacado el máximo partido de un ocasional escupitajo o gesto de aclararse la garganta, cazado por Cavalcanti en su meticuloso peinado de los archivos británicos, así como también del variado vestuario que a Mussolini le gustaba usar: del sombrero de copa diplomático a un momentáneo disfraz de campesino, para el traicionero recuerdo de la cámara. [...] Todo el film demuestra cómo un trabajo de urgencia puede resolverse de manera soberbia: <i>Yellow Caesar</i> es una profecía para la compilación.»[[[38]]]</p>
<p>  </p>
<p> Esta «profecía», qué duda cabe, se ha cumplido ampliamente. Solo que, según yo lo veo, no sin enormes suspicacias. Pienso en el <i>scratch video</i> más politizado, o en el número de desmontajes que ha podido suscitar un conflicto bélico que colea aún en el momento de escribir estas líneas: el del Golfo Pérsico. Evidentemente, nuestras circunstancias son muy distintas a las de aquellos espectadores a los que el cine más urgentemente hecho, y fruto del más barato reciclaje, les permitía reírse del payaso-enemigo
(fuera este Mussolini o Hitler, Roosevelt o Adenauer); o bien olvidarse por un rato de unas circunstancias de pobreza, desolación y dictadura (como puedo sospechar que ocurriera con los films de Jardiel Poncela y de Tono y Mihura en la España franquista y autárquica, donde ni siquiera había suficiente película virgen para adormecer al público con una hipócrita sonrisa, acudiéndose por tanto al doblaje y desmontaje burlesco de obsoletos productos cinematográficos de naciones hermanadas en el ideario fascista y dictatorial a machamartillo).</p>
<p>  </p>
<p> <b>Con y contra el cine, la televisión, el vídeo</b></p>
<p>  </p>
<p>
«La invención de la imprenta terminó con el anonimato, fomentando la idea de fama literaria y el hábito de considerar el esfuerzo intelectual como propiedad privada.
[...] La idea de copyright –“el derecho exclusivo para reproducir, publicar y vender el contenido y la forma de una obra artística o literaria”– acababa de nacer.»</p>
<p>  </p>
<p> Marshall McLuhan: <i>The Medium is the Massage</i>[<i>[[39]]</i>]</p>
<p>  </p>
<p> «Estos sonidos e imágenes son nuestro vocabulario, tan necesario para nosotros como las palabras en el lenguaje oral. Las estructuras de propiedad y las leyes del copyright destinadas a combatir la piratería impresa en los días del editor-librero, son simplemente inadecuadas en la era de la electrónica.»</p>
<p>  </p>
<p> Sean Cubitt: <i>Timeshift.
On Video Culture</i>[<i>[[40]]</i>]</p>
<p>  </p>
<p> En el drástico cambio de circunstancias al que me he referido líneas antes, la televisión y, a continuación, el vídeo, jugarían en mi opinión un papel muy importante. En Norteamérica, los primeros films de Bruce Conner parecen haber ejercido una influencia muy directa sobre ciertas obras de otros artistas y realizadores independientes de la escena underground: films como <i>Confessions of a Black Mother Succuba</i>
(1965), de Robert Nelson; <i>Steel Mushrooms</i>
(1967), de Gary Lee-Nova y Dallas Selman; acaso el único y sin título[[[41]]] realizado de 1956 a 1966 por Wallace Berman, buen amigo de Conner; por no mencionar otros muy posteriores, aunque probablemente haya muchos más en los que el impacto de la obra del autor de <i>A Movie</i>
(1957) ha sido abiertamente admitida, o sobreentendida por críticos y estudiosos del cine experimental. Sería exagerado decir que Conner creara escuela ya desde el primer momento (además de arriesgado por mi parte, ya que mi conocimiento del cine independiente norteamericano es amplio, pero ni mucho menos exhaustivo), pero al cabo de los años sí surgiría toda una corriente –o, si se quiere, una peculiar <i>manera</i>–, a la que se ha dado en llamar <i>found footage</i>.
Moneda corriente en este tipo de obras es el recurso a los más avejentados films educativos e instructivos, documentales industriales, filmets publicitarios, subproductos de ficción de las series B hasta la Z, así como todo tipo de descartes, residuos (por ejemplo, colas de película, desperdicios de laboratorio), planos de archivo, etc. En resumen, todo cuanto puede conseguirse por un módico precio de los bien nutridos archivos norteamericanos; o simplemente escarbando entre la basura y los sobrantes de la grande, mediana y pequeña industria del cine y lo audiovisual. Pero, a su vez, en films como <i>Report</i>
(1963-1967), del propio Conner, <i>Quixote</i>
(1964-1967), de Bruce Baillie, <i>Point of Order</i>
(1964) y otras punzantes compilaciones documentales de Emile de Antonio, aparece un ingrediente relativamente nuevo, en forma de reportajes filmados o cinescopados de la televisión; un medio que avanzaba a pasos de gigante hacia la omnipresencia y el poder de un Gran Hermano.</p>
<p>  </p>
<p> Y, a partir de esas mismas fechas, dicho ingrediente se convertiría en sustancia esencial de otros films, tales como <i>Sun in Your Head</i>
(1963) y <i>Vietnam</i>
(1968-1971), de Wolf Vostell; <i>Fleming Faloon</i>
(1963) y otros de George Landow; <i>Beatles Electroniques</i>
(1966-69), <i>Cinéma Metaphysique No. 5</i>
(1967), <i>Videotape Study No. 3</i>
(1967-1969) y otros de Nam June Paik y Jud Yalkut; <i>Black TV</i>
(1964-1968) y <i>Moonblack</i>
(1969), de Aldo Tambellini; <i>Cornucopia</i>
(1968), de Lenny Lipton; <i>Scusate il disturbo</i>
(1968), de Giorgio Turi; <i>Nixon</i>
(1968), de Maurizio Rotundi; <i>625</i>
(1969) de Birgit y Wilhelm Hein; <i>New Left Note</i>
(1969-1975), de Saul Levine; <i>Masaje</i>
(1972), de Iván Zulueta; <i>Final News Report</i>
(1973), de Raphael Bendahan, y sin duda muchos otros que desconozco u olvido. Todos estos films operan por perturbación de las imágenes televisivas: ya sea mediante la interferencia, la distorsión y el ruido, en su acepción tanto cibernética como literal; por multiplicación y/o aceleración del flujo electro-icónico (Landow, Zulueta); por el choque de las imágenes de televisión con otras rabiosamente propias (Rotundi, Levine); o por la discrepancia entre la imagen y el sonido (en el film de Bendahan, por ejemplo, donde el sonido de un informativo ha sido permutado por el de otras emisiones de más ligero consumo: anuncios, concursos, etc.).</p>
<p>  </p>
<p> Tangencialmente, a propósito de los títulos y autores citados, pueden extraerse además las más diversas referencias a los movimientos de vanguardia propios de la época, utilizando dicha expresión de acuerdo con una semántica amplia, referida tanto a la estética como a la contestación social y política: actitudes neodadaístas, Fluxus, arte pop y afines (Funk Art, Nuevo Realismo), assemblage<i> </i>y
<i>dé-coll/age</i>, nihilismos y minimalismos, entusiastas idearios en pro de un arte tecnológico y multimedia, la racionalidad anunciada de un nuevo cine formal, estructural, materialista... Todo ello por un lado; y, por el otro, el pacifismo, la contracultura (ora floreciendo, ora marchitándose), la revuelta estudiantil, la nueva izquierda. Y este suele ser el telón de fondo del que arrancan las reminiscencias acerca de los orígenes del video(arte), hallando una de sus señas de identidad en la confrontación con el Gran Hermano; confrontación que sigue en gran parte a una labor de desestabilización de sus imágenes y mensajes, ya contenida en los films antes mencionados.</p>
<p>  </p>
<p> Entre el film-collage y el vídeo contratelevisivo –por simplificar mucho los términos– pueden encontrarse ciertos procedimientos o estrategias compartidas. La diferencia, en varios casos, no me parece que estribe tanto en la diferente naturaleza técnica de ambos medios
(que, sin embargo, es decisiva muchas otras veces), como en el carácter distinto del objeto escrutado, de alguna manera despedazado y recompuesto para otorgarle otro sentido. (O quizá un sinsentido deliberado: de entrópica redundancia, por ejemplo.) Algunos paralelismos o contrastes que se me ocurren se refieren a los procedimientos que denomino de compilación e inspección:</p>
<p>  </p>
<p> <i>La compilación</i></p>
<p> Gianfranco Baruchello y Alberto Griffi (<i>La verifica incerta</i>, 1964-65), Charles Levine (<i>Horse Opera</i>, 1970), Betty Ferguson (<i>The Airplane Film</i>, 1973; <i>Kisses</i>, 1978; <i>The Telephone Film</i>, 1980), Eugènia Balcells (<i>Presenta</i> y <i>The End</i>, films derivados de <i>Reprise</i>, 1977, una instalación con diapositivas y sonido), establecen los arquetipos/estereotipos del cine comercial y sus géneros hegemónicos, mediante métodos de acumulación y redundancia.</p>
<p>  </p>
<p> Telethon
(<i>Commercial Television Collage</i>, <i>Richard Nixon: 1968-1974</i>, <i>Game Shows and Sports Titles</i> y otros collages monotemáticos realizados por dicho grupo a principios de los 70), Muntadas –tanto a través de instalaciones
(<i>TV/27 Feb/1pm</i>, 1974; <i>The Last Ten Minutes I/II</i>, 1976 y 1977) como de cintas (<i>Liège 12.9.77</i>, 1977; <i>Credits</i>, 1984; <i>Cross Cultural Television</i>, 1987, con Hank Bull) –, o Raúl Ruiz (<i>Petit manuel d'histoire de France</i> y <i>Débats</i>, 1979) extraen y fijan los códigos y «frases hechas» de los formatos televisivos, mediante el contraste de diversas (pero uniformadas) secuencias y, nuevamente, por el ensamblaje redundante de visibles o invisibles evidencias.</p>
<p>  </p>
<p> <i>La inspección</i></p>
<p> Bruce Conner
(<i>Marilyn Times Five</i>, 1969-73; <i>Crossroads</i>, 1976), Ken Jacobs (<i>Tom Tom the Piper's Son</i>, 1969-71), Kirk Tougas (<i>The Politics of Perception</i>, 1973), y Malcolm Le Grice, Paolo Gioli, Al Razutis o David Rimmer, detienen, reiteran, alteran, repiten, degradan las imágenes, modifican su velocidad de desfile, se aproximan al soporte (al grano, las cicatrices, los bordes de la imagen, las perforaciones incluso), lo inspeccionan; ya se trate de films primitivos o anónimos, materiales de archivo o films de explotación descarada.</p>
<p> Jean-Paul Fargier
(en sus <i>Notes d'un magnétoscopeur</i>, 1979-83), Muntadas otra vez (<i>On Subjectivity: About TV</i>, 1978; <i>Watching the Press, Reading Television</i>, 1981), Michel Auder (<i>TV America</i> y <i>TV Games</i>, 1984), interponen entre el magnetoscopio y el televisor, surtidor de imágenes de todo tipo, una cámara de vídeo que tiembla, acaricia la pantalla del televisor, penetra en la superficie de las imágenes, aumenta su trama, las reencuadra.[[[42]]]</p>
<p>  </p>
<p> He mencionado sobre todo obras de los años sesenta a los primeros ochenta, pretendiendo reflejar un periodo culminante en cuanto a la cualidad autorreferencial de muchas prácticas artísticas que obtuvieron entonces cierta preeminencia. Lo cual se reflejaría en un hecho que ya ha quedado recalcado por sí mismo, al señalar unos ejemplos de cine que se ocupa del cine mismo –pero, generalmente, un cine de signo contrario–, y de vídeo que se ocupa igualmente de su contrario, en este caso la televisión. Sin embargo, a medida que el vídeo va implantándose más y más, mientras que la oferta televisiva crece y se multiplica, pueden observarse ciertos cruces y trasvases de imágenes. La distinción entre la naturaleza original de dichas imágenes, cotidianamente vertidas a una especie de dominio público (aunque, legalmente, privatizado en extremo), llega a hacerse por momentos superflua. Encontramos así un vídeo que se ocupa del cine:</p>
<p>  </p>
<p> - nuevamente de sus estereotipos, como en los «mil besos» de <i>Relativ Romantisch</i>
(1983), de Klaus vom Bruch; los «mil asesinatos» de <i>Als könnte es auch mir an den Kragen gehen</i>
(1983), de Marcel Odenbach; los casualmente también «mil ojos» de
<i>Night of a 1000 Eyes</i>
(1984), de Sandra Goldbacher y Kim Flitcroft; u otros gestos y arquetipos encadenados por docenas en algunos programas de la serie
<i>Arsenal</i> emitida por TV3 (Televisión de Cataluña) a mediados de los ochenta;[[[43]]]</p>
<p>  </p>
<p> - de sus mitos y héroes: Flash Gordon en <i>Seins Fiction II: Der Unbesiegbare</i>
(1983), de Gusztáv Hámos; Frankenstein y su «novia» en
<i>Frankensteins Scheidung</i>
(1984), de Monika Funke-Stern; un célebre astro de la pantalla víctima del sida en <i>Rock Hudson's Home Movies</i>
(1992), de Mark Rappaport;  </p>
<p>  </p>
<p> - de sus subtextos: <i>Alpha, Trans, Chung</i>
(1977), de Peter D'Agostino; <i>Calling the Shots</i>
(1984), de Mark Wilcox; <i>Yes Frank No Smoke</i> y <i>Absence of Satan</i>
(1986), de George Barber; <i>Fade to Black</i>
(1990), de Tony Cokes y Don Trammel; <i>Los libros por las piedras</i>
(1991) y <i>Tierra prometida</i>
(1992), de Marcelo Expósito;</p>
<p>  </p>
<p> - de su historia y sub-historias: en programas televisivos culturales/experimentales como las series <i>Charbon-Velours</i>
(1987), de Stefaan Decostere; <i>Histoire(s)
du cinéma</i>»
(1988-1998), de Jean-Luc Godard; <i>Die Stunde der Filmemacher: Filmgeschichte(n)</i>
(1989), de Alexander Kluge.</p>
<p>  </p>
<p> Así como de iconografías y fuentes cinematográficas de otra índole, asimismo muy frecuentadas por los cineastas «collagistas» del <i>found footage</i>, tales como los films «efímeros», instructivos, educativos, publicitarios, propagandísticos, tan genuinamente americanos como una cajetilla de Marlboro (<i>Behold the Promised Land</i>, 1991, de Ardele Lister; <i>Corporation with a Movie Camera</i>, 1992, de Joel Katz; <i>Political Advertisement</i>, 1984 y sucesivamente actualizado, de Muntadas y Marshall Reese); las películas familiares y de aficionados (en la «serie de la Hungría privada» de Peter Forgács, por destacar un trabajo metódico y modélico); y la pornografía (en las primeras cintas de Alain Bourges, por ejemplo, de entre las cuales destacaría la «sadiana»
<i>Emma ou le désir du monstre</i>, 1984).</p>
<p>  </p>
<p> Todo esto no excluye, claro está, que siga existiendo un trabajo sobre el soporte específico –sea este fotoquímico o electrónico–, un collage más «matérico», por así decirlo; aunque, en el caso de las imágenes electrónicas, quizá sería más apropiado decir
<i>in</i>matérico
(si bien pueden llegar a alcanzar similares grados de suciedad y desfiguración a los de la película más maltratada física y químicamente). Este tipo de obras me resultan igualmente apasionantes en muchos casos, aunque en principio las había descartado de mi examen, con el fin principal de delimitar un territorio que pudiera abarcar de manera coherente. Sin embargo, finalmente me he decidido a incluir algunas en el programa,[[[44]]] por dos sencillas razones. En primer lugar, porque algunas me han parecido sencillamente espléndidas y formidables (por ejemplo, los films de Cécile Fontaine). Y, en segundo lugar, porque las posturas y prácticas <i>por y contra el cine</i>
(según una formulación que podría aplicarse análogamente a la televisión) han constituido parte integral del discurso de letristas y situacionistas, así como del debate en torno a un cine estructural o materialista-estructural; tendencias y postulados que no pueden pasarse por alto, ni aun con el pretexto de separar unos métodos de desmontaje más escorados a lo formal, o a un discurso más abstracto, de otros que se refieren explícitamente a unos temas y hechos de candente o perenne actualidad. Destruir o <i>détourner</i> el cine (o la televisión), entonces, implica también proponer otra concepción, alternativa y beligerante, del cine (y de la televisión y el vídeo); o sencillamente un acto de rebeldía, una voz de alerta, frente a las cualidades alienantes, turbias y retrógradas que la industria del espectáculo y del <i>infotainment</i> acostumbra a inyectar en sus productos.</p>
<p>  </p>
<p> Se dan, en consecuencia, tratamientos claramente distintos de las diversas imágenes procedentes de un mismo pozo. Tratamientos basados por ejemplo en idiosincrásicos procedimientos para el tiraje de copias por impresión óptica, y otros que denominaría «alquímicos&quot;.
En los films de Caroline Avery, Frédérique Devaux, Cécile Fontaine, el grupo Schmelzdahin o Jürgen Reble, así como en
<i>Delicacies of Molten Horror Synapse</i>
(1991), de Stan Brakhage, el material de base llega a tales grados de desfiguración/transfiguración matérica, que su cualidad de representación se pierde casi enteramente, o bien deviene legible e ilegible intermitentemente; siempre entre una gran densidad óptica.
El material «encontrado» o apropiado, en tales casos, no siempre es un material «buscado» y elegido con premeditación y alevosía, sino más bien uno cualquiera, sin demasiada significación en sí
mismo (aunque termina por cobrarla muchas veces). En cambio, en films como <i>Bricolage</i>
(1984) y <i>As Seen on TV</i>
(1986), de David Rimmer; <i>Mirage</i>
(1983), de Chris Gallagher; <i>To the Top</i>
(1990), de Anita Thacher; <i>Step Off a Ten Foot Platform With Your Clothes On</i>
(1990), de Scott Miller; así como en los de Dietmar Brehm y, probablemente, en los de Philip Solomon, que solo conozco por referencias, las imágenes, igualmente transformadas mediante diversos procedimientos, retienen su poder de evocación y, aunque son films ostensiblemente desprovistos de un hilo narrativo, sí
forman parte de lo que denominaría collage <i>figurativo</i>.</p>
<p>  </p>
<p> Por otro lado, en el campo del vídeo, podemos encontrar asimismo unos tratamientos que sacan partido de las tecnologías y recursos propiamente electrónicos de procesado de las imágenes (analógica y/o digitalmente). Así, al margen de un contumaz explorador de la imagen procesada y del collage como Nam June Paik, Dan Reeves (<i>A Mosaic for the Kali Yuga</i>, 1984-1986) e Ingo Günther (<i>Rotorama</i>, 1985) han reflejado el insaciable atracón de imágenes que nos proporciona la televisión cotidianamente; Ed Rankus, John Manning y Barbara Latham (<i>AlienNation</i>, 1980) o Van LaPointe (<i>fz-976</i>, 1990), las circunstancias alienantes que se derivan de tal <i>media mix</i>, mediante enrevesados collages no-narrativos. Otros autores, incluyendo a varios <i>scratchers</i> británicos y al ya mencionado Alain Bourges, enfatizan mediante colorizaciones y texturas particulares la turbia cualidad erotizada o escatológica de sus imágenes, como también Jean-François Neplaz
(<i>Ante Inferno</i>, 1987) o Suzie Silver (<i>A Spy</i>, 1992). Por último, Peter Callas (<i>Bon Voyage</i> y <i>The Esthetics of Disappearance</i>, 1986), Norbert Meissner (<i>Pfingsten</i>, 1987-89; <i>Dialog</i>, 1987, con Mike Krebs), Connie Coleman y Alan Powell (<i>Static</i>, 1989), Doug Porter (<i>I'd Like To Move On If I Could, Please</i>, 1990), reanudan la estética del ruido y los acercamientos semióticos a las excrecencias mediáticas, por medio de técnicas de «sampleado visual» donde intervienen la informática y los efectos digitales.[[[45]]]</p>
<p>  </p>
<p> Sin embargo, muchas otras prácticas videográficas se basan en principios de montaje y desmontaje comunes al medio fílmico (los collages de Ken Feingold, por poner un único ejemplo). Aun así, no se pueden pasar por alto las cualidades y recursos propios que otorgan las técnicas de edición informatizada, la conmutación instantánea entre dos o más fuentes, o el uso del videodisco (en obras de Dara Birnbaum, Klaus vom Bruch, Hans Breder, Raphael Montañez Ortiz o el grupo Emergency Broadcast Network); las mezclas y efectos que permiten abrir ventanas, simultanear diversas imágenes, «compaginarlas»
sobre la pantalla, ralentizarlas o acelerarlas, «comentarlas»
mediante rótulos superpuestos (en obras de Lyn Blumenthal, Tony Cokes, Jeanne Finley, Muntadas, Edward Mowbray, Simon Robertshaw, Stefaan Decostere); sin olvidar el recurso al <i>chroma-key</i>, que permite incrustar sobre las imágenes de base un «cuerpo extraño» que, a menudo, viene a enmendar la plana del apropiado producto original (<i>Joan Does Dynasty</i>, 1986, de Joan Braderman; <i>Born to be Sold: Martha Rosler reads the Strange Case of Baby S/M</i>, 1988, de Martha Rosler; <i>Rock Hudson's Home Movies</i>, 1992, de Mark Rappaport).</p>
<p>  </p>
<p> El terreno es en definitiva tan vasto, que examinar y clasificar sus modos y rasgos requeriría una extensión enorme, en tanto que una aproximación tan somera como la mía, apenas puede desgranar algunos de los múltiples aspectos del tema.</p>
<p>  </p>
<p> <b>Otras propagaciones</b></p>
<p>  </p>
<p>
«El plagio es necesario. El progreso lo comporta. Se agarra a la frase de un autor, se sirve de sus expresiones, borra una idea falsa, la reemplaza por la idea correcta.»</p>
<p>  </p>
<p> Isidore Ducasse, Comte de Lautréamont: <i>Poésies II</i>
(1870)</p>
<p>  </p>
<p>
«El plagio es necesario. El progreso lo comporta. Se agarra a la frase de un autor, se sirve de sus expresiones, borra una idea falsa, la reemplaza por la idea correcta.»</p>
<p>  </p>
<p> Guy Debord: <i>La société du spectacle</i>[<i>[[46]]</i>]</p>
<p>  </p>
<p>
«El plagio es necesario. El progreso lo comporta. Se agarra a la frase de un autor, se sirve de sus expresiones, borra una idea falsa, la reemplaza por la idea correcta.»</p>
<p>  </p>
<p> Keith Sanborn:
«Although the subject performs the action, he allows authority to define its meaning»[[[47]]]</p>
<p>  </p>
<p> Para ceñirme ahora a unos modos de desmontaje que brotaron en los últimos años, creo observar algún fenómeno relativamente novedoso, y otros que, por lo contrario, se pueden apreciar como de renovada propagación de métodos previos. Esto último sucede, a mi parecer, tanto con el
<i>détournement</i> y las ideas situacionistas, como con unos métodos que pronto resultaron muy comunes y hasta populares, refiriéndome a los del
<i>scratch video</i> británico.[[[48]]]</p>
<p>  </p>
<p> Pese a que el
<i>scratch</i> fuera tan debatido y hasta vituperado en su momento, es preciso reconocer que era el fruto de una actitud tan visceral como la que ha engendrado las gemas y la bisutería más memorable entre la música pop(ular) de nuestro tiempo. Ciertamente, sus métodos más característicos se convertirían al cabo de un tiempo en simples tics, figuras de estilo de lo más banal, tanto en manos de los
<i>scratchers</i> como en otras ajenas (y no siempre bien limpias). No eran, por otro lado, nada verdaderamente nuevo: montajes y desmontajes repetitivos que provocan que las imágenes salten, tartamudeen o retrocedan caprichosamente (pero muy intencionadamente) pueden encontrarse ya en algunos films propagandísticos de los años cuarenta mencionados páginas atrás, en el brevísimo y contundente <i>Rhythm</i>
(1957), de Len Lye, y en vídeos más próximos, precursores o contemporáneos del momento de apogeo del <i>scratch video</i> británico; por ejemplo, en obras de Paik y Dara Birnbaum, Michel Auder y Ken Feingold, Gusztáv Hámos y Klaus vom Bruch, Teresa Wennberg (<i>Vol</i>, 1981) o Carlos Anzaldúa (<i>It's a Dictatorship, Eat!</i>, 1983). La controversia sobre el <i>scratch</i> se ha exagerado, creo yo, por el mero hecho de la voraz asimilación de sus métodos por parte de la televisión y la publicidad, y por su popularidad entre un público joven. La intencionalidad puede haberse, en verdad, tergiversado; pero, por otra parte, que los procedimientos e incluso los temas del <i>scratch video</i> fueran a parar a otras manos (de tacto no tan radical), no desacredita en mi opinión el modo en sí de desmontaje tipificado por dicha corriente.[[[49]]]
(Un grupo como Gorilla Tapes, por otra parte, se ha mantenido claramente fiel a sus orígenes, incluso al dedicarse más recientemente a producciones conformes con los formatos televisivos, como <i>Invisible Television</i>, 1987, donde se parodia a los mismos en desenfadado popurrí, y
<i>Zygosis</i>, 1991, documental sobre Heartfield y el fotomontaje que reaprovecha inventivamente los trucos del scratch y del sampling).</p>
<p>  </p>
<p> Así, los similares principios en los que se asienta el trabajo de «bandas de rock &amp; vídeo» más recientes, como Emergency Broadcast Network
(EBN, también conocidos como Pearson Post Industries) y, según referencias, Negativeland, reanudan la vigencia de unos procedimientos de desmontaje y remontaje de imágenes y mensajes, sometidos al rapto de un ritmo primario y efectivo: en uno de los vídeos de EBN se nos obsequia, por ejemplo, con un discurso de Bush perversamente reducido/reconvertido en el estribillo «<i>We will rock you</i>».
Temas parecidos pueden tener, por otra parte, un tratamiento más serio o intelectual (por decirlo de algún modo), tal como en <i>Lying in State</i>
(1989), de Norman Cowie, un vídeo sobre el pernicioso «legado de Reagan», salpicado con citas a Roland Barthes, y que consigue ser tan convincente como entretenido.</p>
<p>  </p>
<p> La pervivencia y propagación contemporánea de las ideas situacionistas ha alcanzado asimismo un nuevo esplendor –sin duda a raíz de cierto número de reediciones, traducciones y recopilaciones de los textos-fuente y sus apostillas–, hallando un particular e insospechado eco en la gran sociedad-del-espectáculo estadounidense: <i>Call it Sleep</i>
(1982), de Isaac Cronin y Terrel Seltzer, un bienintencionado fascículo demasiado a remolque de sus malintencionadas fuentes; <i>Black Celebration</i>
(1988), de Tony Cokes, que pasa revista, con el estridente acompañamiento musical de Skinny Puppy, a los violentos altercados del ghetto negro de Watts (Los Ángeles, agosto de 1965), que en su momento inspiraron uno de los textos más virulentos de los situacionistas franceses; los <i>détournements</i> de Todd Graham a partir de inocentes películas de dibujos animados
(<i>Apocalypse Pooh</i>, <i>Blue Peanuts</i>,
«<i>God Save the Queen</i>»<i> by The Archies</i>, 1987); las epopeyas de historia-ficción de Craig Baldwin, tan descabelladas como perfectamente trabadas (<i>RocketKitKongoKit</i>, 1986; <i>Tribulation 99: Alien Anomalies Under America</i>, 1991; <i>¡O No Coronado!</i>, 1992); o los films y films expandidos que constituyen el ciclo
<i>Kapital!</i>
(1980-88), de Keith Sanborn, barajando todo tipo de materiales cinematográficos encontrados o apropiados –retales de ficción y reportajes, películas familiares y anuncios publicitarios, desechos aprovechados o cola neutralmente negra–, y concluyendo con el muy situacionista propósito de escenificar «el espectáculo del colapso del espectáculo.»</p>
<p>  </p>
<p> Un aspecto que sí
me ha pillado algo desprevenido, y que me parece por tanto bastante novedoso, es el papel preponderante que cobra la palabra, la voz (a menudo del propio autor o autora), en numerosos films y vídeos de los últimos diez años. Aunque de hecho sucede otro tanto con la
<i>discrepancia</i> letrista o el <i>détournement</i> situacionista, creo que el principio y el efecto de estas nuevas
«películas habladas» son bastante distintos. Este texto sobremontado a las imágenes puede ser, sí, una voz que discrepa de lo que las imágenes muestran, ya sea mediante un comentario crítico
(en vídeos de Martha Rosler, Mark Rappaport, Rea Tajiri, Catherine Elwes, Simon Robertshaw, Ulises Carrión, entre otros), o mediante unas citas o un montaje de textos en intencionado contraste con las imágenes (en vídeos de Carlos Anzaldúa, Norman Cowie, Jeanne Finley, Tom Kalin, Jason Simon, Gary Kibbins, Angela Zumpe; y en films de Daniel Eisenberg, Jean-Claude Bustros, Gleb y Igor Aleinikov). O también puede ser una voz que discrepa sobre el cómo son juzgadas ciertas imágenes por mayorías morales y minorías moralistas, tal como sucede en el film <i>Ecce Homo</i>
(1990), de Jerry Tartaglia, sobre imágenes de películas pornográficas gay y del film de Jean Genet, <i>Un chant d'amour</i>
(1950).</p>
<p>  </p>
<p> Pero el texto superpuesto puede desarrollar asimismo una narración en primera persona, o una más próxima al concepto literario de ensayo, como en los vídeos <i>Sensible Shoes</i>
(1983), de John Adams; <i>Sight Unseen: A Travelog</i>
(1990), de Jonathan Robinson; <i>History and Memory</i>
(1991), de Rea Tajiri; <i>Téli Hadjárat (Guerra en invierno/Winter War)</i>
(1992), de Ildikó Enyedi... O en los films <i>Covert Action</i>
(1984), de Abigail Child; <i>Futility</i>
(1989), de Greta Snider, y <i>She's Just Growing Up, Dear</i>
(1992), de Julia Tell. Así
como en otros films y vídeos donde el material encontrado o apropiado actúa más bien como cita, entremezclado con otras imágenes propias. Por ejemplo, en los films <i>Who Do You Think You Are</i>
(1987), de Mary Filippo, y <i>Sally's Beauty Spot</i>
(1990), de Helen Lee; y en los vídeos <i>So, You Want To Be Popular</i>
(1988), de Jeanne Finley, <i>Displayed Termination: The Interval Between Deaths</i>
(1988), de Erika Suderburg, y <i>I Need Your Full Cooperation</i>
(1989), de Kathy High. Utilizando el mismo tipo de materiales que se pueden encontrar en otros collages donde no interviene, o apenas, la voz humana –es decir, films industriales o publicitarios, instructivos u obscenos, de ficción o documentales, anónimos o privados, o el amplio surtido de las emisiones televisivas–, estos films y vídeos (realizados muchos de ellos por mujeres, como el lector ya se habrá percatado) demuestran la versatilidad que puede tener el uso de materiales encontrados o de archivo, más allá de, por ejemplo, la visión nostálgica o la evocación de la Historia, que dichas obras tienden a reemplazar por una visión crítica desde el tenso presente, y por una historia con minúscula.</p>
<p>  </p>
<p>  </p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	En
	Jorge Luis Borges y Adolfo Bioy Casares: <i>Crónicas
	de Bustos Domecq</i>.
	Buenos Aires: Losada, 1967. Posteriormente recopilado en las <i>Obras
	completas en colaboración</i>
	<i>de
	Borges</i>.
	Buenos Aires y Madrid: Emecé y Alianza, 1979.</p>  <div id="sdfootnote2">
	<p>[2]
	Coincido
	plenamente, en este sentido, con las observaciones de otros autores
	que se han ocupado del tema. Véanse,
	por ejemplo, los ensayos de Paul Arthur: «Lost and Found: American
	Avant-Garde Film in the Eighties», en Nelly Voorhuis (ed.), <i>A
	Passage Illuminated: The American Avant-Garde Film 1980-1990</i>,
	Amsterdam: Stichting Mecano, 1991, pp. 15-29 [cat. exp.], y de Yann
	Beauvais: «Lost and Found», en Cecilia Hausheer y Christoph
	Settele (ed.): <i>Found
	Footage Film</i>.
	Lucerna:
	VIPER/zyklop verlag, 1992.</p>  <div id="sdfootnote3">
	<p>
	[3]
	La
	música pop, en combinación con la informática, ha prestado
	algunos de sus vocablos –<i>scratch</i>
	o <i>sampling</i>,
	por ejemplo– a ciertas corrientes y utilizaciones del vídeo y la
	informática gráfica, basadas en la apropiación y manipulación de
	elementos ajenos o preexistentes.</p>  <div id="sdfootnote4">
	<p>[4]
	El
	film aludido, <i>A
	public appearance and a statement</i>
	(1987, de la serie <i>Kapital!</i>),
	es de hecho un ready made: un film cinescopado de la retransmisión
	televisiva del traslado del cadáver de J.F. Kennedy con destino a
	Arlington. A su vez, el film de Sanborn contiene una referencia
	implícita a <i>Perfect
	Film</i>
	(1986), de Ken Jacobs, que consta de un material encontrado de
	similar procedencia (descartes de un reportaje televisivo), en este
	caso referido a un hecho vinculado con el asesinato de Malcolm X.</p>  <div id="sdfootnote5">
	<p>
	[5]
	Robert
	Morgan: «The Icon without the Image: New Work by Muntadas», <i>Art
	Criticism</i>,
	vol. 4, núm. 2, Nueva York, 1988.</p>
<p>
	
	</p>  <div id="sdfootnote6">
	<p>
	[6]
	Jon
	Dovey: «Copyright as Censorship: Notes on “Death Valley Days”»,
	<i>Screen</i>»,
	vol. 27 núm. 2, Londres, SEFT, marzo-abril 1986 (p. 55).</p>  <div id="sdfootnote7">
	<p>
	[7]
	Ibíd.</p>
<p>
	</p>  <div id="sdfootnote8">
	<p>
	[8]
	En
	William S. Burroughs y Brion Gysin: <i>The
	Third Mind</i>.
	Nueva York: The Viking Press, 1978.</p>  <div id="sdfootnote9">
	<p>[9]
	Al
	final del capítulo XXIII: «La triade unitaire: réalisation,
	communication, participation». París: Gallimard, 1967. Hay
	traducción española de la editorial Anagrama.</p>  <div id="sdfootnote10">
	<p>
	[10]
	Entrevista
	con Conner en Scott MacDonald: <i>A
	Critical Cinema: Interviews with Independent Filmmakers</i>,
	Berkeley/Los Angeles/ Londres: University of California Press, 1988,
	p. 255.</p>  <div id="sdfootnote11">
	<p>
	[11]
	Sin
	embargo, debo decir que entre las cerca de 250 obras que he visto y
	tomado en consideración para la confección de esta muestra, no
	habría tenido demasiadas dudas en añadir quizá otras tantas más
	que las aproximadamente setenta incluidas, si la extensión del
	programa hubiera podido estirarse elásticamente hasta abarcar todo
	cuanto ha despertado mi interés.</p>  <div id="sdfootnote12">
	<p>
	[12]
	«<i>Détournement</i>
	(literalmente “desviación”, con connotaciones de criminalidad y
	delincuencia) significaba el robo de artefactos estéticos del Mundo
	Viejo y su revitalización en otros contextos concebidos por uno
	mismo [...]: para la IL [Internacional Letrista], el <i>détournement</i>
	había de reemplazar al arte.» Greil
	Marcus: «Guy Debord's Mémoires: A Situationist Primer», en
	Elisabeth Sussman (ed.): <i>On
	the Passage of a few people through a rather brief moment in time:
	The Situationist International 1957-1972</i>,
	Cambridge, Massachusetts y Londres: The MIT Press, 1989, p. 127.</p>  <div id="sdfootnote13">
	<p>
	[13]
	Empleo
	esta palabra no sin reparos, ya que no creo que pueda hablarse
	realmente de «género», pese a las designaciones genéricas que
	puedan dársele a lo que sería, por tanto, un no-género o
	anti-género; por ejemplo, la tan común de <i>found
	footage</i>
	(particularmente extendida en los países de habla inglesa), la que
	la autora citada se ha inventado, así como <i>desmontaje</i>
	y cuantas otras yo empleo.</p>  <div id="sdfootnote14">
	<p>
	[14]
	Sharon
	Sandusky: «Towards an Introduction to the Archival Art Film»,
	<i>European
	Media Art Festival 91</i>,
	Osnabrück, 1991, p. 254 [cat. exp.]. Publicado
	originalmente, traducido al alemán, en la revista <i>Blimp</i>,
	núm. 16, Graz (verano de 1991).</p>  <div id="sdfootnote15">
	<p>
	[15]
	Anthony
	Wilden: <i>The
	Rules Are No Game: The Strategy of Communication</i>.
	Londres y Nueva York: Routledge &amp; Kegan Paul, 1987. Véase
	«Envoi. Women in Production: The Chorus Line 1932-1980», pp.
	283-321.</p>  <div id="sdfootnote16">
	<p>
	[16]
	<i>The
	New York Times</i>
	(5 de mayo de 1991). Se
	relatan asimismo las amenazas legales que Jhally recibió de MTV por
	presunta violación de las leyes del copyright, así como el
	empecinamiento de Jhally, escudándose en «la
	disposición de “uso legítimo” de la ley del copyright».
	La noticia aclara que dicha «disposición
	permite la utilización de un material en otra obra, dependiendo de
	la naturaleza de la obra protegida por el copyright, de si el
	propósito de la nueva obra es educativo o comercial, de la
	proporción utilizada de la obra original, y de si la nueva obra
	perjudica la distribución o ventas de la original».</p>
<p>
	</p>  <div id="sdfootnote17">
	<p>
	[17]
	Véase
	el ensayo de Joel Katz: «From Archive to Archiveology», en
	<i>Cinematograph</i>,
	vol. 4, San Francisco: Foundation for Art in Cinema, 1991. Reimpreso
	en <i>Desmontaje:
	film, vídeo/apropiación, reciclaje</i>,
	IVAM, Valencia, 1993 [cat. exp.]</p>
<p>
	</p>  <div id="sdfootnote18">
	<p>
	[18]
	Tom
	Gunning: «“Films That Tell Time”: The Paradoxes of the Cinema
	of Ken Jacobs», en David Schwartz (ed.), <i>Films
	That Tell Time: A Ken Jacobs Retrospective</i>.
	Astoria, Nueva York: American Museum of the Moving Image, 1989, p.
	11, [cat. exp.]</p>  <div id="sdfootnote19">
	<p>
	[19]
	Guy
	Debord: <i>Commentaires
	sur la société du spectacle</i>.
	París: Éditions Gérard Lebovici, 1988; véase el comentario X
	[10]. Hay
	traducción española de Anagrama, 1990.</p>
<p>
	</p>  <div id="sdfootnote20">
	<p>
	[20]
	Londres:
	George Allen &amp; Unwin, 1964, p. 9.</p>  <div id="sdfootnote21">
	<p>
	[21]
	En
	Hilary Robinson (ed.), <i>Visibly
	Female. Feminism and Art Today: An Anthology</i>.
	Nueva
	York: Universe Books, 1988, pp. 184-185. Publicado
	anteriormente en <i>Heresies</i>,
	núm. 9, 1980.</p>
<p>
	</p>  <div id="sdfootnote22">
	<p>
	[22]
	Jay
	Leyda: op. cit., p. 13.</p>  <div id="sdfootnote23">
	<p>
	[23]
	«Primitivismo
	y vanguardias: un enfoque dialéctico»,
	en Noël Burch: <i>Itinerarios:
	La educación de un soñador del cine</i>»,
	al cuidado de Santos Zunzunegui. Bilbao: Certamen Internacional del
	Cine Documental y Cortometraje, 1985 (p. 181). El texto original se
	publicó en <i>Narrative,
	Apparatus, Ideology: A Reader in Film Theory</i>,
	al cuidado de Philip Rosen, Nueva York: Columbia University Press,
	1986, pp. 483-505.</p>  <div id="sdfootnote24">
	<p>
	[24]
	Jay
	Leyda: op. cit<i>.</i>,
	pp. 19-20. Si no me equivoco, el título del libro, <i>Films
	Beget Films</i>
	(films que engendran o generan films), está tomado a su vez de
	Dziga Vertov, en cuyos escritos he encontrado repetidamente una
	expresión análoga.</p>  <div id="sdfootnote25">
	<p>
	[25]
	Antiguamente
	atribuido a Len Lye y a Jack Ellitt, hoy se le adjudica, al parecer
	con certeza, a Charles A. Ridley, empleado del Ministerio de
	Información británico. [Nota del autor, 2014]</p>
<p>
	</p>  <div id="sdfootnote26">
	<p>
	[26]
	Lucy
	R. Lippard: op. cit., p. 186.</p>  <div id="sdfootnote27">
	<p>
	[27]
	Yves
	Kropf: «À propos de la sélection pour la compétition», en el
	catálogo de la <i>4e
	Semaine Internationale de Vidéo</i>.
	Ginebra: Saint-Gervais Genève mjc, 1991 (p. 124). Se trata de un
	comentario personal de un miembro del comité de selección del
	citado festival, en el cual entraron a concurso cintas de Jeanne C.
	Finley, Gorilla Tapes, Gusztáv Hámos, Jayce Salloum/Elia Suleiman
	y Angela Zumpe, todas ellas basadas en gran parte en imágenes y
	mensajes procedentes de los medios masivos.</p>
<p>
	</p>  <div id="sdfootnote28">
	<p>
	[28]
	p.
	135.</p>  <div id="sdfootnote29">
	<p>[29]
	En
	<i>Internationale
	Situationniste</i>,
	núm. 11, octubre 1967, pp. 32-26. Hay
	traducción española en el volumen <i>La
	creación abierta y sus enemigos. Textos situacionistas sobre arte y
	urbanismo</i>.
	Madrid: Las Ediciones de la Piqueta, 1977.</p>  <div id="sdfootnote30">
	<p>
	[30]
	En
	los medios electrónicos (vídeo, televisión, infografía) se puede
	encontrar igualmente una concepción similar de collage y
	apropiación de iconos preexistentes, aunque, normalmente, por medio
	de efectos y recursos técnicos que otorgan a tales obras unas
	cualidades bien distintas. Anne-Marie Duguet me ha insistido en la
	relevancia de los conceptos de collage y apropiación en la obra del
	realizador francés Averty; aspecto que ella misma ha expuesto
	ampliamente en su libro <i>Jean-Christophe
	Averty</i>,
	París: Dis Voir, 1991. Sin embargo, estas otras facetas del tema no
	las he contemplado en mi, deliberadamente sesgada, aproximación al
	mismo.</p>
<p>
	
	</p>  <div id="sdfootnote31">
	<p>
	[31]
	«En
	el <i>cine
	cincelante</i>
	(<i>ciselant</i>),
	inaugurado en 1951, la imagen es rayada, des-figurada mediante
	cinceladuras; es decir, toda clase de rayas, rasguños, todo tipo de
	descomposición de las imágenes iniciales por medios mecánicos
	(puntas, agujas, tijeras...) o químicos (colorantes, lejía...). De
	igual manera, el sonido puede ser embrollado, raspado. [...] El
	término define inicialmente un periodo de deconstrucción».
	Frédérique
	Devaux: <i>Le
	cinéma lettriste (1951-1991)</i>.
	París: Éditions Paris Expérimental, 1992, p. 302.</p>  <div id="sdfootnote32">
	<p>
	[32]
	Isidore
	Isou: <i>Contre
	le cinéma situationniste, néo-nazi</i>.
	París:
	Ed. GB/NV/MB, 1979, pp. 26-29. Para
	los no familiarizados con el tema, debo agregar que Debord estuvo
	inicialmente vinculado al grupo letrista de Isou. Y también que,
	pese a su asiduo recurso a materiales ajenos (sin andarse con
	contemplaciones), tanto letristas como situacionistas han abundado
	en acusaciones de plagio y otras desacreditaciones, a nivel endógeno
	y exógeno.</p>  <div id="sdfootnote33">
	<p>
	[33]
	Para
	más detalles sobre los films de Brunel, véase el ensayo de Yann
	Beauvais: «Re-natos
	descartes», en
	<i>Desmontaje:
	film, vídeo/apropiación, reciclaje</i>,
	IVAM, Valencia, 1993, [cat. exp.]</p>  <div id="sdfootnote34">
	<p>
	[34]
	Leyda:
	op. cit., p. 37: menciona ciertas cintas y series de la Paramount
	(<i>Movie
	Memories</i>,
	<i>Screen
	Souvenirs</i>)
	y la Vitaphone (<i>Thrills
	of Yesterday</i>,
	<i>Out
	of the Past</i>,
	<i>The
	Movie Album</i>,
	<i>Ye
	Olde Time Newsreel</i>,
	entre otras), cuyos títulos permiten presuponer un barniz
	eminentemente nostálgico.</p>
<p>
	</p>  <div id="sdfootnote35">
	<p>
	[35]
	Francisco
	Aranda: <i>Cinema
	de vanguardia en España</i>.
	Lisboa: Guimaraes Editores, 1953, p. 35.</p>  <div id="sdfootnote36">
	<p>
	[36]
	En
	el film «de»
	Woody Allen, se inserta una entrevista con él, donde hace explícita
	la in-originalidad de su operación, al referirse a una experiencia
	parecida con <i>Lo
	que el viento se llevó</i>.
	En España, por cierto, el film de Allen se ha exhibido doblado, con
	muchos de los chistes y gags verbales adaptados al humor local, por
	lo que los responsables de la «traducción»
	deberían constar al menos como coautores del film, transmutado en
	apropiación/tergiversación de otra apropiación/tergiversación
	previa, retitulada además <i>Woody
	Allen, el número uno</i>.
	Sobre <i>La
	Dialectique...</i>,
	remito nuevamente al lector al ensayo de Yann Beauvais.</p>  <div id="sdfootnote37">
	<p>
	[37]
	Jay
	Leyda: op. cit., pp. 19-20. Imagino que las descripciones citadas me
	ahorran la de la escena correspondiente en la tan popular película
	de los Marx.</p>
<p>
	</p>  <div id="sdfootnote38">
	<p>
	[38]
	Jay
	Leyda: op. cit<i>.</i>,
	pp. 54-55. Según Leyda, el film data de 1940; según otras fuentes
	que he consultado, de 1941 o 1942. Una de estas otras fuentes,
	acredita además a Adrian Brunel como coautor. Producido por la
	legendaria compañía británica Ealing, no he logrado dar con este
	film, que, sin embargo, parece que seguía en distribución en Gran
	Bretaña no hace muchos años. Otros films que Leyda vincula con los
	films mencionados, por emplear similares «trucos
	de montaje»
	y/o por su carácter satírico son: un montaje propagandístico nazi
	y antisemita, <i>Herr
	Roosevelt pläudert</i>
	(ca. 1942, autor no mencionado), y otras producciones muy
	posteriores, de países de clima «frío»:
	<i>Reason
	vs. Insanity</i>
	(URSS, 1960), de Alexander Medvedkin; <i>Brüder
	und Schwestern</i>
	(RDA, fecha no indicada), de Walter Heynowski.</p>  <div id="sdfootnote39">
	<p>
	[39]
	Nueva
	York: Bantam Books, 1967, p. 122. Hay
	traducción española de Paidós.</p>  <div id="sdfootnote40">
	<p>
	[40]
	Londres
	y Nueva York: Routledge, 1991, p. 17, citando a John Frow:
	«Repetition and Limitation: Computer Software and Copyright Law»,
	<i>Screen</i>,
	vol. 29 núm.1, Londres: SEFT (invierno de 1988).</p>  <div id="sdfootnote41">
	<p>[41]
	Pero
	actualmente difundido con el título de <i>Aleph</i>.
	[Nota del autor, 2014]</p>  <div id="sdfootnote42">
	<p>[42]
	Esta
	segunda comparación, no creo haberla trabado tan redondamente como
	la anterior; entre otras cosas, porque los ejemplos expuestos
	presentan propósitos mucho más dispares. La mantengo pues, pero
	apuntando mis propios reparos al respecto.</p>  <div id="sdfootnote43">
	<p>[43]
	Las
	cintas de Vom Bruch y Odenbach mencionadas tuvieron anteriormente
	por título <i>Tausend
	Küsse</i>
	y <i>Tausend
	Morde</i>,
	respectivamente, siendo fruto de un encargo ambas.</p>  <div id="sdfootnote44">
	<p>[44]
	En
	alusión al ciclo de proyecciones que motivó el presente texto y el
	libro/catálogo en el que se publicó originalmente.</p>  <div id="sdfootnote45">
	<p>
	[45]
	Para
	un desarrollo más amplio de este concepto, véase Jeremy Welsh:
	«Synthese
	und Konstruktion: Video und das “Sampled Image”»,
	<i>Kunstforum</i>»,
	núm. 117, pp. 152-162 (enero/febrero de 1992).</p>
<p>
	
	</p>
<p>
	</p>  <div id="sdfootnote46">
	<p>
	[46]
	París:
	Buchet-Chastel, 1967. (Hay traducción española de Castellote,
	1976). También en el film del mismo título (Simar Films, 1973).</p>  <div id="sdfootnote47">
	<p>
	[47]
	En
	<i>Cinematograph</i>,
	vol. 2, San Francisco: Foundation for Art in Cinema, pp. 35-54,
	1986.</p>  <div id="sdfootnote48">
	<p>
	[48]
	De
	hecho, el <i>scratch</i>
	se vio asimismo influenciado por las ideas situacionistas, según
	han declarado algunos de sus cultivadores; probablemente, como
	consecuencia lógica de algo que estaba en el aire en la Gran
	Bretaña pospunk de la primera mitad de los ochenta. Sobre la
	vinculación entre situacionismo y punk, véase el entretenidísimo
	ejercicio de estudio (sub-)cultural de Greil Marcus: <i>Lipstick
	Traces: A Secret History of the Twentieth Century</i>.
	Cambridge, Massachusetts: Harvard University Press, 1989.</p>  <div id="sdfootnote49">
	<p>[49]
	Pienso
	en una, como mínimo «graciosa»,
	compilación televisiva referida a Ronald Reagan (blanco preferido,
	junto con Margaret Thatcher, de varios vídeos de <i>scratch</i>
	y otras malignas deconstrucciones); una producción estadounidense
	que conocí por completo azar, donde diversos episodios de la vida
	del ex-actor de segunda fila y ex-presidente se suceden a ritmo de
	varios «clásicos
	populares»
	de la música rock: <i>Rockin'
	Ronnie</i>
	(1986), de Steve Samuels para ATI Video (acudiendo, por lo demás, a
	fuentes muy frecuentadas por cineastas y videastas independientes,
	tales como el archivo, y el oficio, de Rick Prelinger).</p>  </body> </html>