  <p> <b>Desmontaje documental</b></p>
<p>  </p>
<p>  </p>
<p>
«Película de montaje» es la formulación más habitual en las lenguas latinas para aquella clase de película basada sustancialmente, si no enteramente, en un material preexistente, de archivo u otra procedencia, reutilizado para generar un nuevo discurso. Utilizo deliberadamente la palabra
«película», en lugar de la forma culta film (preferida por los estudiosos más escrupulosos de la práctica cinematográfica propiamente dicha), porque actualmente dicha definición ha de abarcar diversos soportes, contextos y tránsitos. No solamente entre los medios sobradamente entrelazados hoy del cine, la televisión y el vídeo, sino también en lo que concierne a los sistemas multimedia, donde película (o, en inglés, <i>movie</i>)
designa todo contenido que se ampara en una secuencia de imágenes en movimiento, sea en un disco digital compacto o en la intangibilidad de la red. Y es que, justamente, las culturas y los cultivos archivistas hallan, desde hace unos años, una nueva extensión en dichos medios o metamedios.</p>
<p>  </p>
<p> Aunque al hablar de película de montaje se insinúa que la obra se construye esencialmente en la mesa de montaje, más que por la captura fotográfica de imágenes de cuño propio, otras lenguas, en primer lugar el inglés, han preferido el concepto de compilación (<i>compilation film</i>), poniendo su mayor
énfasis en la idea de recolección, la caza y captura del material idóneo –en algunos casos imprevisto, descubierto al azar o fortuitamente–, en tanto que operación primordial y preliminar a las labores de corte, selección y montaje. (La lengua inglesa es tanto más precisa respecto a los distingos entre <i>cutting</i>, <i>editing</i> y el galicismo <i>montage</i>, reservando este último para las consideraciones de orden teórico o estético). Además, el concepto de montaje se refiere a un estadio generalmente común al proceso habitual que comporta toda producción cinematográfica o audiovisual. Así lo argumentó el historiador cinematográfico Jay Leyda, autor de una de las obras de referencia obligada sobre el tema: <i>Films Beget Films: Compilation Films from Propaganda to Drama</i>.[[[1]]]</p>
<p>  </p>
<p> Con todo, la expresión «cine de montaje», nos remite oportunamente a la crucial aportación de los cineastas bolcheviques, quienes han vislumbrado el meollo de esa operación cinematográfica de guante blanco en la producción de sentido. El montaje, la cirugía de la película, es la técnica por excelencia de la fábrica; esa alegoría tan intrínseca a las vanguardias artísticas en el fragor de la revolución socialista, entre las proclamas del constructivismo o el productivismo. Pero, además, es también en dicho marco que se hallan los orígenes fehacientes de un cine de compilación propiamente dicho; de los célebres experimentos de «geografía creativa» de Lev Kuleshov al cinepoema documental de Dziga Vertov, <i>Tres cantos sobre Lenin</i>
(1934). Aunque, si un nombre hay que destacar especialmente, es el de Esther Shub con su trilogía sobre la historia de Rusia desde 1896
(cuando el cinematógrafo Lumière filmó la coronación del zar Nicolás II), integrada por <i>La caída de la dinastía de los Romanov</i>
(1927), <i>La gran avenida</i>
(1927) y <i>La Rusia de Nicolás II y León Tolstoi</i>
(1928). El trabajo de Esther Shub funda el trabajo archivista cinematográfico en tanto que abarca la búsqueda, identificación y restauración de documentos desperdigados y semiolvidados; a la vez que introduce uno de los patrones característicos del género compilatorio: la crónica histórica reconstruida mediante el ensamblaje de imágenes tomadas de noticiarios y reportajes. Por otra parte, en el primero de los films mencionados, que abarca el ocaso del régimen zarista y el triunfo de la revolución de 1917, la cineasta ha manejado también las propias filmaciones del defenestrado zar, privilegiado precursor del cine de aficionado, las cuales se convierten en testimonio de cargo por las astucias de montaje; por ejemplo, en la alternancia de los festejos y diversiones de la familia imperial con elocuentes escenas del sufrimiento y opresión del pueblo ruso.</p>
<p>  </p>
<p> La forma canónica del film de compilación es, en efecto, el documental que narra –la voz en <i>off</i> deviene justamente uno de sus rasgos habituales– un asunto comúnmente histórico o biográfico, del orden de la información, la propaganda o la memoria nostálgica, acudiendo a los retales que atesoran los archivos que comienzan a instituirse con la llegada del cine sonoro. Más tarde, desde el ecuador del siglo XX, el material y el documental de archivo hallan una enorme demanda en la televisión; la pequeña pantalla siempre hambrienta de bocados y jirones de realidad –ingredientes de coste relativamente bajo– a fin de mantener encendidas sus tupidas parrillas de programación, abocadas al suministro permanente del receptor hogareño. Y una consecuencia de este servicio a domicilio, que se acentúa con la penetración del vídeo doméstico y el ordenador multimedia, es nuestra creciente familiaridad con el archivo público de las imágenes, las representaciones, los arquetipos; el banco de datos del mundo, bien aprovisionado por las mercancías y desperdicios de las factorías mediáticas. En este sentido, es desde su periferia y por interacción crítica con los mensajes y masajes de los media que se ha ido afirmando otra clase de compilación y cultura de los archivos, con un sesgo antagonista y desmantelador que tiene un relieve e historial propio en las coordenadas de las prácticas mediáticas alternativas.</p>
<p>  </p>
<p> Para abordar dicho aspecto, años atrás acudí a la noción de desmontaje, en la cual hallo un matiz sugerente y clarificador, algo así como un reverso de la práctica más habitual de montaje y su sentido constructivo, tanto como de la película de compliación/montaje y su connotación «edificante».
Desmontaje, por otra parte, tiene un aire de familia con otras expresiones tales como deconstrucción o el <i>détournement</i> situacionista. Dicha noción me parece más productiva que otra en vigor en los ámbitos y jergas del cine y el vídeo experimental
(donde el inglés es <i>lingua franca</i>), bajo el enunciado de <i>found footage</i>, «película encontrada» –que inequívocamente remite a las poéticas del objeto encontrado, vulgar, episódico, ready made–, y entre cuyos referentes mayores cabe incluir la estela del assemblage en el arte norteamericano (de Joseph Cornell a Bruce Conner), el cine
«discrepante» de los letristas y situacionistas en Francia, o el
<i>scratch video</i> británico.[[[2]]]</p>
<p>  </p>
<p> Son varios los rasgos que distinguen a estas obras, a veces designadas también como collages, de la película de montaje, el documental de archivo, en sus modalidades más corrientes. En general, no hay comentario en <i>off</i>,
(o, cuando lo hay, no se puede decir que sea un comentarios omnisciente ni que acompañe literalmente a las imágenes), como tampoco se apela a un tono instructivo o didáctico. Se prefiere que las cosas se expresen por sí mismas: por lo que dicen, por lo que aún cuentan esas imágenes, y por lo que aportan los giros de montaje (o, mejor dicho, de desmontaje, puesto que lo que la nueva obra nos dice suele ser bastante distinto a lo que pretendían los materiales de partida). Se acude indistintamente a una gran heterogeneidad de fuentes: no solamente al botín de la realidad de noticiarios y documentales, sino también a las imágenes de ficción, las emisiones del teletubo, los despojos de nuestra civilización de la imagen y toda clase de géneros periféricos: películas educativas, industriales, publicitarias, familiares, pornográficas, etc. Finalmente, el asunto de estos reciclajes desmontadores no es tanto la realidad como su simulacro; su representación y mediatización a través del derroche público de las imágenes y sus excedentes.  </p>
<p>  </p>
<p> Al confrontar las nociones antónimas, aparentemente, de montaje y desmontaje, hay de todas formas un número de obras y trayectorias singulares que cabría situar en un punto intermedio entre las corrientes referidas previamente: por un lado, la compilación como género tradicionalmente vinculado al documental y a los depósitos archivistas; por el otro, la «deconstrucción alegórica», en palabras de Benjamin Buchloh, del collage, el saqueo y el aprovechamiento de los detritos audiovisuales (ese <i>found footage</i> que, a menudo, se obtiene con una paciente labor de búsqueda y selección). En esta intersección del <i>desmontaje documental</i>, el acopio de un arsenal o archivo propio ha sido a menudo un paso previo y, en varios casos, ha dado lugar a proyectos a largo plazo o incluso a la constitución de repertorios, <i>stock film libraries</i> y bases de datos a disposición de otros usuarios. Otro aspecto bien característico atañe a la impugnación del comentario superpuesto, engolado o aleccionador, propio de la compilación tradicional, en su obstinación por imponer una recepción o interpretación unívoca.
Y, en tercer lugar, ante la sobreabundancia de las imágenes, su exhumación y reubicación cobra el sentido de una «arqueología psicoterapéutica» de nuestra cultura.[[[3]]]</p>
<p>  </p>
<p> Algunas obras, para abordar la realidad y la historia, prescinden de la discriminación entre la evidencia documental de los hechos y las fabulaciones a su alrededor.
En <i>Brother Can You Spare a Dime?</i> (1975), de Phlippe Mora, esto tiene su razón de ser al abarcar un periodo particularmente sombrío de la historia norteamericana, de la Depresión al ataque nipón a Pearl Harbour, y su confrontación con los evasivos entretenimientos fabricados contemporáneamente por el negocio del espectáculo. Más ferozmente, toda la obra de Craig Baldwin, abanderado de un cine «pobre», utiliza toda clase de detritos audiovisuales (llegando a rapiñar secuencias de cintas comerciales por el procedimiento de filmar la pantalla en su proyección en salas) para tratar de los desmanes del poder y el imperialismo. En su libérrimo megamix de las más heterogéneas fuentes y estados de la materia (las imágenes y residuos de los media), Baldwin no procura otra solución de continuidad que la de unos argumentos descabellados; en cierto modo más próximos a la política-ficción y las paranoias conspirativas de ciertas obras de ficción, literarias y audiovisuales, que no a la información veraz y contrastada que persiguen los documentales y las compilaciones que sangrientamente parodia. Sin embargo, a su modo, muchas de sus obras pueden contemplarse como encuestas sobre la historia y sobre cuestiones bien candentes: <i>RocketKitKongoKit</i>
(1986) sobre las luchas de liberación nacional en el continente africano y las tropelías del intervencionismo norteamericano; <i>Sonic Outlaws</i> (1995) sobre el bandidaje musical y la sedición anticopyright<i>; Spectres of the Spectrum</i>
(1999) sobre el control de las comunicaciones en el espacio electromagnético.</p>
<p>  </p>
<p> The Archives Project es el nombre programático que adoptó el grupo de emprendedores que produjo
<i>Atomic Café</i>
(1982), un film que comportó más de cinco años de búsqueda archivera a Jayne Loader y los hermanos Kevin y Pierce Rafferty; todos ellos, junto con algún que otro colaborador o allegado, con una conspicua trayectoria posterior en las culturas de archivo. Esta cinta, que pronto se convirtió en obra de culto y en todo un referente para una nueva percepción del género compilatorio, trata con visible ironía de los efectos de un clima de Guerra Fría y paranoia nuclear sobre el orgulloso semblante de América. Sin acudir a lo que se entiende habitualmente como ficción, en este caso hay una yuxtaposición de los documentos de noticiarios y emisiones de televisión con las parábolas atemorizadoras y patrioteras, entre lo hilarante y lo sonrojante, de la propaganda más tosca (acudiendo a todo tipo de recursos: de la viñeta de ficción al cine animado, pasando por el documental falseado). Y, en cuanto a la banda sonora, al engarce de emisiones radiofónicas y canciones populares que se hacen eco del canguelo atómico y que, en el marco más festivo de la música ligera, acuden al amparo de un sarcasmo beneficioso.</p>
<p>  </p>
<p> Las imágenes desempolvadas en dicha obra corresponden en gran parte a lo que Richard Prelinger ha denominado «films efímeros», los «géneros bastardos» de la producción educativa, corporativa o institucional, el reportaje industrial o promocional, la publicidad y la propaganda, y los descartes y excedentes de productos ya en sí concebidos para una vigencia perecedera.</p>
<p>  </p>
<p> Al dar un nuevo curso legal a estos tesoros de lo obsoleto –a veces de una poesía visual imprevista, por execrables que a veces fueran sus designios–, los fondos recopilados por los Archivos Prelinger y por Pierce Rafferty –este
último a través de su empresa Petrified Films–, han sido, desde mediados de los ochenta, de los más visitados por cineastas, videoartistas y televisiones, en busca de otros documentos de cultura y barbarie menos socorridos que los de la realidad fijada en noticiarios y reportajes, y en consecutivos digestos, compilaciones y series documentales. Joel Katz, en <i>Corporation with a Movie Camera</i>
(1992) –cuyo título es una intencionada paráfrasis de <i>El hombre de la cámara</i> de Vertov (en inglés <i>Man with a Movie Camera</i>)–, hizo un uso particularmente afilado de tales fuentes para tratar del imperialismo estadounidense, concretamente del abuso de los recursos naturales y humanos en el Tercer Mundo, con el contrapunto de un vibrante poema de Pablo Neruda que denuncia los atropellos de la United Fruit Company; una de las fuentes del petulante cine corporativo exhumado en esta obra.</p>
<p>  </p>
<p> Otras obras han apuntado hacia la información omitida por los medios de comunicación. Emile de Antonio basó gran parte de su filmografía en materiales
«capturados» a los medios de masas, reuniendo imágenes de la pantalla televisiva y descartes de la información cribada o claramente censurada, materiales a menudo obtenidos furtivamente y yuxtapuestos con punzantes entrevistas. Cineasta combativo y vehemente, De Antonio abordó de esta manera los asuntos y personajes más controvertidos o siniestros de la vida política estadounidense en los años sesenta: las andanzas del senador Joseph McCarthy (<i>Point of Order</i>, 1963), el asesinato de Kennedy (<i>Rush to Judgment</i>, 1967), la guerra de Vietnam (<i>In the Year of the Pig</i>, 1969) o la desfachatez de Nixon (<i>Millhouse: A White Comedy</i>, 1972). La obra del cineasta francoalemán Marcel Ophüls comparte esa fogosidad, abocada a lo que el historiador del documental Richard M.
Barsam ha llamado «un cine de la verdad y la justicia»,[[[4]]] fisgando en las vergüenzas de la historia y la memoria mediante una combinación similar que saca a la luz los documentos y testimonios más inconvenientes del pasado y del presente. Así, una de sus cintas más celebres, la monumental <i>Le Chagrin et la pitié</i>
(1969-1971), fue censurada por la ORTF, para la que trabajaba entonces, al exponer los trapos más sucios de la sociedad francesa durante la ocupación nazi; tema sobre el que reincidiría en <i>Hôtel Terminus</i> (1988), a propósito del proceso contra Klaus Barbie. Este film ha reabierto las heridas del colaboracionismo y la cobardía bajo la venda de la resistencia heroica que ha salvado la dignidad de la Francia ocupada.</p>
<p>  </p>
<p> Las ondas reservadas de las transmisiones por satélite, mediante las cuales las cadenas de televisión norteamericanas distribuyen sus señales en bruto, han sido destripadas en <i>Feed</i>
(1992), de Kevin Rafferty y James Ridgeway, con imágenes cedidas por el videoactivista Brian Springer, que posteriormente montaría <i>Spin</i>
(1995) a partir de centenares de horas apresadas de estas emisiones entre bambalinas, en las que se revela todo aquello que los informativos omiten: la cosmética de la imagen pública, los comentarios <i>off the record</i> de los políticos y las personalidades mediáticas, la corte de asesores y comunicadores a su alrededor. La producción videográfica de Antoni Muntadas contiene también varias aportaciones al desencriptado de los códigos y las interioridades de la televisión: <i>Political Advertisement</i>
(en colaboración con Marshall Reese) es una recopilación iniciada en 1994 y que se renueva y amplía cada cuatro años, mostrando la evolución de los espacios de propaganda política para las elecciones presidenciales estadounidenses, desde los años cincuenta hasta la actualidad; <i>Cross-Cultural Television</i> (1987, con Hank Bull) establece un inventario de los arquetipos universalizados por la ubicuidad de los formatos televisivos, del busto parlante a los elementos de continuidad e imagen corporativa; <i>TVE: primer intento</i> (1989), por citar todavía una tercera obra, trata de la rémora del pasado franquista sobre la actual televisión pública española y, producida por el propio ente, su emisión fue vetada por el sesgo inconveniente que se entrevió en la yuxtaposición de las fuentes de archivo con las imágenes tomadas por el propio Muntadas en las dependencias de TVE.</p>
<p>  </p>
<p> Otra fuente a la que se ha dado una importancia creciente es la del cine privado, la producción de los aficionados, el reservado encanto de las películas familiares. Al igual que ciertas corrientes historiográficas han apostado por el estudio de la vida privada frente a la retahíla de los macroacontecimientos, interesándose por los individuos anónimos y las clases subalternas frente a la hagiografía de las dinastías del poder y las grandes personalidades, la rehabilitación de las imágenes íntimas y despreocupadas de la cinematografía amateur ha dado lugar a nuevos proyectos archivistas y obras de creación basadas en dichos fondos, además de fomentar exploraciones teóricas e historiográficas en torno a un aspecto tradicionalmente desatendido. Entre estas aportaciones cabe destacar la modélica
«Serie de la Hungría privada» de Peter Forgács, un proyecto emprendido en los años ochenta con el fin de recopilar y preservar el cine amateur y familiar de su país, reflejando de paso las vivencias de una sociedad atrapada por el giro autoritario del comunismo. <i>The Family Album</i> (1986), de Alan Berliner, es una propuesta bien distinta, basada en la síntesis de las situaciones más genéricas y comunes en el cine familiar, engarzando escenas de diversos hogares para componer un mosaico de las vivencias y costumbres de la familia tipo norteamericana en un lapso de tiempo que se extiende de los años veinte a los cincuenta, con una banda sonora a su vez integrada por un ensamblaje de voces, conversaciones, fragmentos epistolares y otros registros privados.  </p>
<p>  </p>
<p> Pero, en definitiva, la ascendencia específica de las fuentes no determina necesariamente el sesgo de la obra generada a partir de las mismas. Por ejemplo, Jay Rosenblatt ha recopilado en <i>Human Remains</i> (1998) las escenas más íntimas y familiares de cinco de los dictadores más sanguinarios del siglo pasado –Hitler, Stalin, Mussolini, Franco y Mao–, acompañadas de sendos monólogos rigurosamente documentados donde se destapan sus costumbres y apetencias más privadas, plasmando así la «banalidad del mal» a la que se refirió Hannah Arendt. Asimismo, varios de los films de Yervant Gianikian y Angela Ricci Lucchi acuden al archivo, en gran parte recuperado por ellos mismos, del pionero del cine italiano Luca Comerio –cineasta oficial de la corte, seducido seguidamente por el fascismo–, para procurar una nueva lectura de sus reportajes de viaje, conquista y halago de la superioridad cultural etnocentrista; por ejemplo, en <i>Dal polo all’equatore</i>
(1986), la obra que ha dado empuje a la tenaz y sobresaliente trayectoria del citado tándem.  </p>
<p>  </p>
<p> Otras interpelaciones sobre el archivo de las imágenes se han canalizado a través de proyectos y experiencias de televisión alternativa, en la que destacan las contribuciones de Jean-Luc Godard con <i>Histoire(s)
du cinéma</i> (1988-1998); Alexander Kluge con las series <i>10 vor 11</i>, <i>Die Stunde der Filmemacher</i> y
<i>Prime Time / Spätausgabe</i>; el pertinaz colectivo Paper Tiger Television, o las producciones del FMS Studio de la televisión húngara al filo de los años noventa
(en su política de puertas abiertas a videoartistas y jóvenes realizadores como Gusztáv Hamos, András Sólyom e Ildikó Enyedi).
Finalmente, una expansión todavía incipiente es la de la red y los nuevos soportes digitales. Hasta ahora, la atropellada sucesión de los sistemas multimedia, y su constante perfeccionamiento, ha jugado en contra de su potencial específico, el cual entraña una nueva concepción del montaje basada en el principio rizomático del hipertexto: la posibilidad de enlaces o remisiones de un documento a otro, de cualquier naturaleza (imagen fija, película, sonido, texto), a diferencia de la verticalidad que entraña el montaje en su acepción tradicional. Entre las exploraciones precursoras de estos medios encontramos de nuevo los nombres de Jayne Loader –con <i>Public Shelter</i> (1994), CD-ROM que constituye una secuela multimedia de <i>Atomic Café</i>, el film que ella realizó con los hermanos Rafferty– y Richard Prelinger, quien, a partir de su copiosos archivos de cine efímero, ha producido recopilaciones documentales como <i>Call It Home: The House That Private Enterprise Built</i>
(1992) y <i>Our Secret Century: Archival Films From the Darker Side of the American Dream</i>
(1995-1997) que, a guisa de enciclopedias visuales, abordan diversos aspectos de la historia social norteamericana de manera tan amena como rigurosa y rebosante de sentido crítico.[[[5]]]</p>
<p>  </p>
<p> Si el documental de montaje, el formato compilatorio más habitual y trillado, se distingue por unos propósitos de objetividad, neutralidad y reseña histórica, la hipótesis del desmontaje documental opondría unos criterios de subjetividad, posicionamiento crítico, interpelación de los modos de representación y de la semiosis única de las imágenes, independientemente de su extracción en lo real o lo ficticio, lo privado o lo efímero, etc. Al desposeer a esas imágenes del sentido, propósito y destino que tenían originalmente, a menudo se desvela un subtexto soterrado, se descorren connotaciones imprevistas. Los archivos audiovisuales y la saturación mediática
–que el apropiacionismo entiende como dominio público, acogiéndose a los derechos de cita y réplica– constituyen el yacimiento que aprovisiona a estas prácticas, cuya extensión actual he pretendido dilucidar mediante un número de creaciones y proyectos archivistas que discurren entre la arqueología mediática y una interpretación antagonista de la historia y los hilos que mueven el mundo.  </p>
<p>  </p>
<p>  </p>
<p> </p>
<p>  </p>
<p>  </p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	Londres: George Allen
	&amp; Unwin, 1964. Hay reediciones posteriores.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2][2]
	Eugeni Bonet (ed.):
	<i>Desmontaje: film, vídeo;
	apropiación, reciclaje.</i>
	Valencia: IVAM, 1993; volumen editado con motivo de la muestra
	itinerante del mismo título. Otras
	publicaciones y muestras a destacar son: Cecilia Hausheer /
	Christoph Settele (ed.): <i>Found
	Footage Film.</i>
	Lucerna: VIPER / Zyklop Verlag, 1992; William C. Wees: <i>Recycled
	Images: The Art and Politics of Found Footage Films</i>.
	Nueva
	York: Anthology Film Archives, 1993; Yann Beauvais / Jean-Michel
	Bouhours (ed.): <i>Monter/Sampler:
	L’échantillonnage généralisé.</i>París:
	Centre Pompidou / Scratch Projection, 2000.</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Sharon
	Sandusky: «The
	Archaeology of Redemption: Toward Archival Film»,
	<i>Millennium
	Film Journal</i>,
	núm. 26 (otoño 1992).</p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	Richard
	M. Barsam: <i>Nonfiction
	Film: A Critical History.</i>.
	Bloomington / Indianapolis: Indiana University Press, 1992. Edición
	revisada y ampliada.</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>[5]
	Ambas obras, en su
	momento respectivamente editadas en disco láser y como una
	colección de diez CD-ROM (de los doce previstos), están
	descatalogadas actualmente. Para mayor información y alguna pequeña
	degustación de las mismas puede consultarse el sitio web de
	Prelinger (<u>[www.prelinger.com]</u>)
	que, además, constituye un buen portal de acceso a otras
	informaciones y a diversos archivos en línea.</p>  </body> </html>