  <p><b>La vía europea al vídeo: una recapitulación</b></p>
<p>  </p>
<p> <b>¿Quién dijo miedo?</b></p>
<p>  </p>
<p> Hacia finales de los setenta, Wulf Herzogenrath –conspicuo valedor y cronista del vídeo en Alemania–
se refería al miedo europeo ante la tecnificación del arte.[[[1]]] Para exponer los síntomas de un diagnóstico tal, señalaba diversos contrastes y desniveles acusados respecto al Nuevo Mundo, no solo en lo concerniente a la repercusión institucional del medio emergente y novedoso del vídeo, sino también a otros más curtidos como la fotografía y el cine. Advertía así que, mientras que varios museos norteamericanos, mayores o medianos, habían incorporado el vídeo en sus programas, colecciones y proyectos visionarios (como el de crear un canal de televisión por cable), apenas dos museos en la República Federal de Alemania habían llegado a integrar la fotografía mediante la adquisición de colecciones previas. Señalaba luego un déficit similar en lo que respecta al ámbito de las televisiones, al comparar el apabullante hervidero de los <i>TV labs</i> en las estaciones públicas estadounidenses con la apertura más tímida y pacata de sus desiguales equivalentes en Europa. Y, sin morderse la lengua, llegaba a hablar de «miseria» para describir los rasgos generales del panorama europeo.  </p>
<p>  </p>
<p> Hoy nos puede sorprender esta visión un tanto acomplejada y quejumbrosa, pero es que, por otra parte, Alemania es una de las cunas reconocidas del vídeo como práctica artística, y se ha distinguido por una sucesión de hitos significativos sobre los que regresaré luego.</p>
<p>  </p>
<p> Desde el otro lado del Atlántico, todavía en 1984, el artista ítaloamericano Vito Acconci se mostraba taxativo sobre aquellas desigualdades, con los razonamientos impulsivos y las frases lapidarias que caracterizan sus penetrantes escritos: «El arte del vídeo está enraizado, prácticamente, en Norteamérica.
Los hechos nos dicen que tener acceso a equipos de vídeo, por no decir a equipos más sofisticados, es más fácil para los artistas que viven en Estados Unidos. La elección de hacer vídeo es, por tanto, el privilegio de quienes participan de una cultura del poder.
El videoarte podría considerarse como el último intento del arte norteamericano para retener su hegemonía, antes que Europa contraatacara con el neoexpresionismo».[[[2]]]</p>
<p>  </p>
<p> Ahondando en las penurias del vídeo desde su vivencia más acusada en España, por mi parte apunté
alguna vez una comparación con el jazz que actualmente me parece poco acertada y hasta insensata. Lo que pretendía insinuar era que, así como el jazz tiene unas raíces inequívocamente afroamericanas y su despliegue nativo en Estados Unidos, el arte del vídeo también habría hallado su desarrollo más rotundo en Norteamérica (aunque, en este caso, creo que habría que incluir a Canadá y su provincia secesionista de Quebec). Excepto que, tal como ocurrió con el jazz, la fiebre se contagió a otras latitudes, hallando excelentes instrumentistas, cavas de fervientes aficionados y un cultivo que, partiendo de la emulación, daría lugar a progresos más autóctonos.
Por otro lado, mi caprichosa analogía apelaba al ribete ligeramente elitista que fue adquiriendo el jazz, sobrepasado por el
<i>awopbopaloopbop alopbamboom</i> de otros ritmos derivados, hasta situarse en una posición equidistante entre la música culta –o más bien la «música de culto», de adeptos– y la cultura popular, y embrionariamente mediática, que fue su origen.</p>
<p>  </p>
<p> Apenas entrados los ochenta, sin embargo, las cosas habían empezado a percibirse de otro modo, en parte por determinados factores que, a la postre, resultaron un tanto engañosos: la consolidación de una industria del vídeo; la carrera que emprendió la televisión en Europa con una incipiente abundancia de nuevos canales; un salto cualitativo en los estándares técnicos.
Además, es en aquella década que el vídeo ha penetrado de lleno en los hogares y se ha convertido en un medio familiar, en el sentido más polisémico del término. En todo caso, otro hecho determinante sería la llegada, la manifestación fehaciente de una nueva generación, parcialmente guiada –que no adoctrinada– por los precursores, a la vez que empapada por los referentes de una opulencia audiovisual en auge. Brota entonces una perdurable asociación entre el vídeo (y otras electrónicas) y los rangos del arte joven o emergente, independientemente del reconocimiento que iban obteniendo los artistas más veteranos y tenaces, quienes ya entonces se inclinaban por unas modalidades instalativas, escultóricas y multimediales mejor apreciadas en los espaciosos escaparates y aposentos del arte que no en las celdillas angostas de un medio específico.</p>
<p>  </p>
<p> Más tarde, el vídeo dejó de ser considerado un pimpollo e incluso se instó algún acta de defunción prematura, coincidiendo con el empuje que adquirían otras exploraciones y expectativas tecnoartísticas. Sucede que el vídeo se ha demorado casi medio siglo antes que llegaran a cumplirse, más allá de lo quimérico, sus lemas y pregones; todas las proclamas guiadas por el ideal de una democratización de los media, y en pro de una incorporación corriente de las nuevas tecnologías a la panoplia de las herramientas de creación y comunicación (como intercambio de tú a tú, más que a escala masiva y con jerarquías interpuestas).</p>
<p>  </p>
<p> A mediados de los ochenta, la gama del vídeo doméstico o de consumo ya ofrecía una calidad bien digna
–en especial desde la introducción del formato de 8 mm (Video-8), que al fin de la década ya había ascendido a Hi-8–, así como una asociación primeriza con determinados sistemas informáticos en el rango, aún no uniformado, del <i>personal computer</i> de precio relativamente asequible (con los Atari, los Amiga, los primeros Macintosh, entre otros). Nace entonces la denominada «cultura del camescopio», aunque no será hasta diez o más años después que todo eso alcance su cenit con la llegada de unos sistemas de vídeo digital de bajo coste (el formato DV y derivados), unos ordenadores más potentes, y unos programas de edición y posproducción cada vez más sofisticados y sólidos, de uso amigable e intuitivo.</p>
<p>  </p>
<p> Así que el vídeo ya no causa hoy más miedos ni recelos en el seno artístico, salvo quizá los relativos a su conservación para quienes se preocupan por ello.
Además, incorporado de lleno a la circunstancia digital y posmedial de nuestros días, recobra también actualidad por las implicaciones que adquiere en otros terrenos, ya sean viejos o nuevos: de la cinematografía (el concepto de cine digital, aunque a menudo manejado sin demasiado discernimiento sobre todo aquello que implica)
al campo naciente del <i>streaming</i>, el vídeo en red y con capacidades interactivas, considerado como un medio en sí mismo (un medio esencialmente inmaterial o <i>metamedio</i>, como sucede para tantas otras funciones anexionadas al ordenador y a sus incontables periféricos). Comparativamente, frente a unas propagaciones e intersecciones impuras que siempre le han sido congénitas al medio del vídeo –y particularmente fecundas en su entorno, sus alrededores–, diría que tiene una relevancia menor la circunstancia actual de una inscripción harto repentina en el mercado artístico.</p>
<p> </p>
<p> El vídeo puede percibirse, por otra parte, como un medio predestinado a quemar etapas de manera veloz y hasta fulminante. Quienes le hemos dedicado atención en su ya largo recorrido, sabemos bien de calcos inconscientes o remedos amnésicos que reproducen hallazgos y patrones anteriores; sin duda, más por candor que por imprudencia plagiaria, aunque eso también delata poco afecto por la solera propia del vídeo, que no es precisamente la de una subhistoria escasamente documentada. Pero, ya en los ochenta, algunas experiencias precursoras se veían arrinconadas al dejar de incumbir a otros rumbos más imperiosos, o simplemente se abandonaban en el desván de los clásicos marchitos. Una especie de cambio de marcha que ha ido reiterándose con sucesivas aceleraciones generacionales.</p>
<p>  </p>
<p> En definitiva, el concepto de videoarte siempre ha sido más un estorbo que no un distintivo útil.
Así, en los ochenta, particularmente en el contexto europeo, brotaron otros sintagmas sustitutivos, como el de «vídeo de creación» o «de autor», que esquivaban la ampulosidad de una desinencia artística de la que han prescindido por lo general otros medios y otras prácticas
(implícitamente artísticas o no). A su vez, algunos de los artistas que han utilizado con regularidad el vídeo han manifestado su distancia respecto a unos términos con los que prefieren no verse encorsetados. Incluso, si en su lugar, asoma a veces una concepción sucedánea del medio, una práctica se diría que vergonzante que aspira a trepar a las plantas nobles de los museos, sorteando los recodos menos reverenciados y cotizados de las mediatecas.</p>
<p>  </p>
<p> Tal como sugirió Mick Hartney, el sentido de este debate –un tanto fútil en sí mismo– estribaría en la necesaria merma de un arte para ganar, más simplemente, un medio; uno bien dúctil para diversos propósitos, sin recluirse necesariamente en los circuitos tradicionales y un tanto jactanciosos de las artes más bellas, finas y suntuarias.[[[3]]] Pero, precisamente contra la visión unidimensional de una serie de prácticas diversas circundadas por apelativos equívocos, conviene recapitular una vez más la época inicial en la que irrumpe el vídeo: el <i>entorno</i> antes que los atributos particulares, pero también circunstanciales y cambiantes, de un medio. Y, aunque circunscribo dicha recapitulación al mapa europeo, este es bien extenso y dispar –más aún al retroceder en el tiempo–, como para detenerme apenas en algunos aspectos y generalidades que perfilan la vía europea al vídeo: como arte, como medio y como encrucijada de senderos múltiples.</p>
<p>  </p>
<p>  </p> <h1 lang="es-ES" class="western">Arte por un tubo  </h1> <p>  </p>
<p> La tecnología del vídeo (o, más rigurosamente, del <i>video recording</i>) es hija de la televisión. Cuando los artistas, los novicios en general, se han aproximado a los dominios nuevos de la televisión y del vídeo, había ya los antecedentes de algunas proclamas estéticas. Así, la televisión había sido entrevista como un territorio artístico y artivista en el tardofuturismo («La Radia», un manifiesto de 1933) y por el grupo espacialista reunido en torno a Lucio Fontana («Manifesto del movimento spaziale per la televisione»,1952).</p>
<p>  </p>
<p> Otras expectativas e intuiciones procedían en cambio del tubo de Braun, o tubo de rayos catódicos, sin estar directamente ligadas a la evolución de la televisión, sino a instrumentos electrónicos como oscilógrafos y pantallas de radar, entre otros descubrimientos tecnológicos de interposición decisiva en una fase posterior; particularmente con la irrupción del ordenador.</p>
<p>  </p>
<p> Finalmente, la propia televisión, entendida en principio como bien público, asumió los ideales de una función educativa y culturalista, proseguidos con tesón por algunos de sus primeros militantes y profesionales, así como por algunos conversos del gremio cinematográfico; de Rossellini a Godard, por solo destacar dos nombres señeros.</p>
<p>  </p>
<p> Estas directrices diversas coinciden en el historial tan particular que presenta la cartografía alemana, en relación con el concepto de arte electrónico, que afloró en los sesenta, y sus fecundos vástagos en la música y las artes visuales, la creación audiovisual y la estética cibernética.</p>
<p>  </p>
<p> El propio Nam June Paik, considerado el patriarca del videoarte por méritos indiscutibles, quiso rendir tributo, al presentar sus primeras experiencias de «televisión electrónica», a un artista alemán con el que se sentía en deuda en dicho aspecto.
Se trata de Karl Otto Götz (Aquisgrán, 1914), cuya obra y trayectoria apenas se conocen fuera de su país, donde además ejerció una larga actividad docente en la Escuela de Arte de Düsseldorf.[[[4]]] Götz se había interesado, desde los inicios de su actividad artística, por la abstracción y su derivación cinética a través de la fotografía y el cine, aunque parece que sus investigaciones mantuvieron un carácter experimental y especulativo, en lugar de volcarse a creaciones concluyentes. Durante la Segunda Guerra Mundial se familiarizó con las pantallas de radar que se vio obligado a manejar, y de las mismas extrajo la intuición de ciertas plasticidades imprevistas entre quienes las habían desarrollado, acariciando la idea de una «pintura electrónica».</p>
<p>  </p>
<p> Alexandre Vitkine (Berlín, 1910), formado como ingeniero y, una vez asentado en Francia, dedicado a la fotografía, las artes visuales y la «infoescultura», también ha trabajado tempranamente sobre la plástica electrónica manipulando osciloscopios y viejos aparatos de televisión. En 1967 realizó el film <i>Chromophonie</i>, utilizando un primitivo televisor de pantalla circular y otros artilugios rudimentarios, y partiendo de una idea que se repite en esta etapa primordial del audiovisual electrónico: la modulación de la imagen (las señales de vídeo) por el sonido. Estas referencias, que antaño podían resultar extrañas al desarrollo propio del vídeo, nos llevan de vuelta a los nombres más comunes de Paik, Vostell y otros que comparecerán seguidamente.</p>
<p>  </p>
<p>[] La biografía de Nam June Paik
(Seúl, 1932 - Nueva York, 2006) nos dice que llegó a Alemania para acabar de formarse como músico. Solo que, tras perseguir la huella de su idolatrado Schönberg, se cruzaría con Karlheinz Stockhausen y, de manera más crucial, con John Cage y con el espíritu jocosamente nihilista de Fluxus. Desde 1958, la oportunidad de investigar en el Estudio de Música Electrónica de la WDR
(Westdeutscher Rundfunk), en Colonia, le puso en contacto con los aledaños de la televisión por la asociación RT (radio-televisión)
habitual en el crecimiento europeo de los entes públicos de
<i>broadcasting</i> o radiodifusión. De esta manera, junto al conocimiento de las experiencias de Götz, Paik vislumbró que era en la imagen, más que en la música electrónica, donde había una extensión de terreno nueva, abierta, apenas pisada todavía. O, como él mismo sostuvo, la
única puerta que la negación de Duchamp había dejado entreabierta.</p>
<p>  </p>
<p> La primera presentación pública de la «televisión experimental» de Paik tuvo lugar en la Galerie Parnass de Wuppertal con el título de
<i>Exposition of Music -
Electronic Television</i>, en marzo de 1963, convirtiéndose con el paso de los años en todo un hito histórico en el entorno del vídeo.[[[5]]] La exposición de Paik, constituida por una diseminación espacial de diversas propuestas, entre el arte sonoro y la desarticulación de las señales de vídeo aprovisionadas por los receptores de televisión –a su vez con una presencia escultórica, así como objetos de mobiliario–, se asemejaría al concepto de <i>environment</i> o ambiente, que empezaba a manejarse entonces; aparte de convertirse en escenario de acciones y demostraciones que buscaban la participación de los visitantes. Tanto en los pianos «preparados», o más bien devastados (uno de los cuales fue atacado con un hacha por Joseph Beuys en una acción espontánea), como en los diversos artefactos y dispositivos sónicos para escuchar música por la boca; para reproducir sonidos mediante la manipulación de un cabezal magnético sobre cintas magnetofónicas desplegadas en la pared y sobre el suelo; o a modo de «brochetas de discos» para su escucha con el brazo desasido de un reproductor gramofónico.
Y también, entre los doce televisores esparcidos en la sala principal –de diversos modelos y épocas, manipulados electrónicamente y dispuestos de manera caótica en todas las posiciones posibles–, las imágenes (sus perturbaciones, mejor dicho) podían ser moduladas por impulsos sonoros mediante receptores de radio, un reproductor magnetofónico o un micrófono; elementos que los visitantes podían manejar libremente.</p>
<p>  </p>
<p> Paik anticipa ya entonces el concepto de «televisión participativa»
(<i>Participation TV</i>), que ha marcado su trayectoria, además de constituir una de las señas de identidad del vídeo como envés de la televisión consuetudinaria, meramente «recibida» como se dice también de las ideas más trilladas. Por fin, el chapuceo electrónico en los circuitos internos del cajón televisivo conducirá al músico y artista coreano al desarrollo del videosintetizador Paik/Abe, en colaboración con el ingeniero japonés Shuya Abe, presentado en 1970, una vez afincado en Estados Unidos.</p>
<p>  </p>
<p> Wolf Vostell (Leverkusen 1932 -
Berlín 1998) es el otro artista más ampliamente asociado a la genealogía del vídeo, también en la órbita de Fluxus desde las primeras manifestaciones de esta hermandad internacional de fulleros del arte. Poco importa si Vostell falseó las fechas de ciertas obras o proyectos, urdiendo ficciones autobiográficas para acompasar sus pasos a los de Paik, o incluso por delante,[[[6]]] su manera de abordar la televisión y el vídeo tiene finalmente un sello bien distinto, partiendo del concepto de <i>dé-coll/age</i> con el que describió desde 1954 su obra plástica y sus happenings y environments. Vostell ha introducido otra manera de desgarrar la televisión, sus imágenes y su simbolismo en la sociedad del bienestar y del consumo, pero no a la manera de Paik –por alteración de sus entrañas electrónicas–, sino más bien por perturbaciones y colisiones más simples, pero efectivas.  </p>
<p>  </p>
<p> Arrancando de la pantalla electrónica su ruido, como hizo en el film <i>Sun in Your Head</i> (1963); o creando ambientaciones con televisores desarreglados y otros elementos aparentemente incongruentes, como hizo en su primera exposición en Nueva York (Smolin Gallery, 1963) con su disposición desordenada de seis televisores, algunos con la pantalla ocluida con cinta adhesiva y la recepción enturbiada de diversas maneras, y con otros objetos y elementos de mobiliario interpuestos. También en la rudeza de las acciones sacrificiales que incluyó en sus <i>happenings</i>: el suplicio y entierro de un televisor (<i>TV Burying</i>, 1963) o el acto de disparar contra la pantalla de un receptor encendido (<i>9-Nein Decollagen</i>, 1963).
Referencias que bastarían para reconocer la actividad pionera de Vostell en el entorno del vídeo, sin necesidad de entrar en cotejos rivales con la de Paik.</p>
<p> </p>
<p>La multiplicación de los canales de televisión en la República Federal Alemana, fundamentada en la autonomía administrativa de sus regiones o <i>länder</i>, unida a una concepción de servicio público que favorecía los programas culturales y educativos, abrió las puertas a ciertas experiencias de presentación artística, más que de mera representación documental o informativa; en otras palabras, dio pie a la televisión concebida como un vehículo estético en sí mismo.
En 1968, la Westdeutscher Rundfunk (WDR) inauguró un nuevo estudio, dotado con los últimos recursos del momento, con la producción de
<i>Black Gate Cologne</i>, un espectáculo intermedia concebido por Otto Piene (Laasphe, Westfalia 1928) y Aldo Tambellini (Syracuse, Nueva York 1930). El programa trasladaba a la pequeña pantalla las experiencias de su teatro lumínico y de participación, The Black Gate, en el que combinaban esculturas de plástico hinchable, monitores con grabaciones de vídeo y proyecciones cinematográficas y de diapositivas, entre otros elementos escénicos que propiciaban la participación del público.  </p>
<p> </p>
<p>Hacia 1969, la WDR creó, por otra parte, un departamento de televisión musical que, bajo la dirección de Manfred Gräter y con el catalán Josep Montes-Baquer como realizador y productor delegado, auspició
una línea de experimentación regida por la noción de «composición audiovisual». Se trataba,de una producción de calidad y de motivación musical (sin entrar empero en los contornos pop-rock más manidos) en busca de nuevos formatos. En su nutrido historial consta la participación de diversos compositores y artistas electrónicos, como Jan W.
Morthenson, Jan Bark, Bernard Parmegiani, Manfred Kage, además de las brillantes realizaciones de Montes-Baquer, que incluyen su extraordinaria colaboración con Salvador Dalí, <i>Impressions de la Haute-Mongolie (Hommage à Raymond Roussel)</i>
(1974-1975), y versiones o visualizaciones sinestésicas de composiciones de Scriabin y Holst.</p>
<p> </p>
<p>Otro jalón, insoslayable aunque efímero, fue el del malogrado Gerry Schum (Colonia 1938 - Düsseldorf 1973) y su Fernsehgalerie o telegalería. La primera «exposición televisiva»
(<i>Fernsehausstellung</i>)
dio nombre prácticamente a una corriente artística bien pujante a finales de los sesenta: <i>Land Art</i>, programa emitido por la Sender Freies Berlin (SFB) el 15 de abril de 1969, presenta ocho acciones o intervenciones paisajistas de Richard Long, Barry Flanagan, Dennis Oppenheim, Robert Smithson, Marinus Boezem, Jan Dibbets, Walter de Maria y Mike Heizer. La segunda, <i>Identifications</i>, fue emitida por la Südwestfunk (SWF) el 30 de noviembre de 1970, aunque la financiación provino básicamente de la Kunstverein de Hannover. Este compendio recogió las propuestas –«pura mímica» en palabras de Schum, incluso cercana a los gags de Fluxus– de una veintena de artistas europeos y norteamericanos representativos de las corrientes procesuales y conceptuales. Entre ellas destacan, por su contundencia o su sutileza, las de Joseph Beuys, Reiner Ruthenbeck, Hamish Fulton, Alighiero Boetti, Gino de Dominicis, Mario Merz, Gary Kuehn y Keith Sonnier.</p>
<p> </p>
<p>Schum, que se había formado como cineasta y que había realizado previamente dos documentales sobre arte para la WDR, actuó
triplemente como comisario, productor y realizador en ambos casos. Su premisa, sin embargo, no era la de realizar documentales al uso y, en consecuencia, rehuyó las convenciones de toda explicación didascálica (la voz en off, la entrevista con el artista) más allá
del proemio de cada programa. A su vez, persiguió la máxima sobriedad en la realización, limitándose a elegir el punto de vista o el movimiento de cámara más adecuado en cada caso. Todo ello se resume en una concepción que antepone «la comunicación artística por oposición a la posesión de objetos artísticos»,[[[7]]] en consonancia con las corrientes expansivas y desmaterializadas del arte por el que se interesó.</p>
<p> </p>
<p>Entre
<i>Land Art</i> e <i>Identifications</i>, Gerry Schum logró colar en las parrillas televisivas sendas propuestas de Keith Arnatt (<i>Self-Burial)</i> y Jan Dibbets (<i>TV as a Fireplace</i>), concebidas como intersticios anónimos, miniaturas al gusto de los requisitos de continuidad de las televisiones y de sus frecuentes hiatos.[[[8]]] Sin embargo, decepcionado al cabo por la escasa receptividad que lograron sus propuestas, su paso siguiente fue la apertura de una videogalería en Düsseldorf. Con ello se convirtió en uno de los primeros en ensayar la introducción del vídeo en el mercado del arte mediante la práctica controvertida, y reaparecida recientemente, de las ediciones limitadas al modo de la obra gráfica: reproducciones destinadas a un número restringido de poseedores, garantizadas por la firma del artista y la destrucción atestiguada de la matriz, embellecidas incluso con el gancho de envoltorios y elementos anexos; usanzas en cierto modo contradictorias con la concepción primera de su Fernsehgalerie. A pesar de las desesperanzadoras expectativas que halló en ambos perímetros –la televisión y el mercado artístico–, trabajó aún para inserir el vídeo en el marco público del museo, antes de quitarse la vida.</p>
<p> </p>
<p>Aunque la peripecia de Schum nos dice que las televisiones nunca han estado dispuestas a correr riesgos, lo cierto es que los canales alemanes
–tanto la segunda cadena (ZDF) como los terceros canales regionales– se han distinguido tempranamente por su apoyo a otras propuestas experimentales e innovadoras, que incluyen la amplia obra audiovisual del iconoclasta compositor argentino Mauricio Kagel –de
<i>Antithese</i>
(1965) a <i>Bestiarium</i>
(2000)– o ciertas expansiones televisivas de la poesía experimental de Ferdinand Kriwet (<i>Teletext</i>, 1967, y otras realizaciones sucesivas) y Gerhard Rühm (<i>3 kinematografische Texte</i> y
<i>2 textfilme</i>, 1969-1970). En todo caso, el apoyo más claro y constante ha sido el que se ha prestado al cine; no solo al Joven Cine Alemán, sino también al cine de autor e independiente internacional, incluyendo algunas de sus fracciones más radicales. Un referente importante en este aspecto es el programa <i>Das kleine Fernsehspiel</i> de la ZDF, creado en 1962 y que ha seguido en antena desde entonces, con una gran flexibilidad de formato por su horario tardonocturno. Dicho espacio, sin embargo, no empezó a incorporar plenamente el vídeo hasta 1978, con <i>Video 50</i> de Robert Wilson.</p>
<p> </p>
<p>Tradicionalmente, estos aspectos se han excluido de la historiografía del vídeo, quizá porque esta se ha escrito preponderantemente desde el punto de vista de las artes visuales. Por otra parte, en muchas televisiones europeas, el uso del instrumental cinematográfico fue habitual hasta bien entrados los ochenta, excepto para las grabaciones en estudio y, evidentemente, las emisiones en directo.</p>
<p> </p>
<p>Así
como en Alemania se suceden una serie de experiencias que, aun siendo aisladas, proporcionan una visión acompasada del amanecer de un nuevo campo estético, en otros países europeos apenas hay signos de otras actividades precursoras antes del final de los sesenta.
Detengámonos, sin embargo, en el caso particular de Francia, con algunos salientes en la Radio Télévision Française (RTF) y su Service de la Recherche. En primer lugar, la figura tan singular e idiosincrásica de Jean-Christophe Averty (París 1928), realizador en plantilla que ha introducido un lenguaje innovador, tanto en programas musicales y de variedades (<i>Histoire de sourire</i>, <i>Les Raisins verts</i>, <i>Au risque de vous plaire</i>)
como en dramaturgias reveladoras de su devoción por las primeras vanguardias y sus antepasados (<i>Ubu roi</i>, 1965, primera de una serie de adaptaciones de otros textos de Jarry, Lewis Carroll, Lautréamont, Roussel, Apollinaire, Cocteau y otros). El estilo de Averty se caracteriza por su noción de <i>mise en page</i> (es decir, diagramación) –tal como firmó muchas de sus realizaciones&shy;–, al crear composiciones electrónicas con una concepción gráfica, deudora de los cómics y del collage, que aplana las imágenes.</p>
<p> </p>
<p>En cuanto al Service de la Recherche de la RTF, su caso recuerda el del Estudio de Música Electrónica de la WDR donde, según algunos testimonios, habría germinado la intuición de la imagen electrónica como un territorio prácticamente virgen (Paik, Vostell). Desde 1960 y bajo la dirección de Pierre Schaeffer, factótum de la música concreta o acusmática, quien lo vertebró en torno al GRM (Groupe de Recherche Musicale), fundado unos años antes por él mismo, dicho departamento atrajo también a un número de artistas visuales y cineastas. Pero su repercusión en el campo audiovisual fue incomparablemente menor que en el musical y radiofónico, privilegiándose los senderos del cine animado y la visualización musical. Incluso si más tarde se instituyeron los GRI (Groupe de Recherche Image) y GRT (Groupe de Recherche Technique), no sería hasta la absorción de los mismos por el INA (Institut National de l’Audiovisuel), en 1974, que se abriría una etapa de mayor repercusión para el videoarte galo y la innovación televisiva.</p>
<p> </p>
<p>Con todo, de los años del Service de la Recherche cabe retener sus pequeños jalones en cuanto a la exploración de nuevas técnicas e instrumentos. El artista húngaro Nicolas Schöffer (Kalocsa 1912), precursor de una estética cibernética, ejecutó en este marco
<i>Variations luminodynamiques I</i>
(1961): poco más que una demostración de las posibilidades de su Luminoscope –sucesivamente perfeccionado en el Teleluminoscope
(1962)– para un rudimentario procesamiento electrónico de imágenes de cámara, que en dicho caso fueron de ballet y jazz. Ya en la segunda mitad de los sesenta, Francis Coupigny desarrolló un nuevo artefacto con el nombre de <i>truqueur universel</i>, empleado a fondo por Averty, así como en los videofilms un tanto psicodélicos del artista Martial Raysse y en alguna cinta de animación de Peter Foldes. Finalmente, este último inició también en dicho marco su incursión en la animación asistida por ordenador (<i>Narcissus</i>, 1971).</p>
<p> </p>
<p>En cuanto a las pesquisas que han puesto el acento sobre las entrañas de la imagen electrónica, propiciando la invención de sintetizadores, procesadores y otra cacharrería analógica, dicho aspecto tuvo en Europa un relieve aparentemente menor que en Estados Unidos. Sin embargo, en párrafos anteriores ya se recogieron algunos referentes más o menos tempranos y, pasando láminas del atlas europeo, se descubre la singularidad de otros más en los años sesenta y setenta. Se entremezclan entonces, tal como sucedió al otro lado del Atlántico, los nombres de artistas y técnicos, o con el doble perfil del tecnoartista; creadores, en varios casos, provenientes del arte lumínico y cinético, o de afectos entre el constructivismo, la nueva música y la sinestesia. Y los artilugios y técnicas que introducen tienen indistintamente un uso privativo, como si de un instrumento personal se tratara, o son puestos a disposición de otros artistas e incluso comercializados en el negocio emergente de la posproducción.</p>
<p> </p>
<p> En Alemania cabe mencionar los nombres de Manfred Kage (Audioskop, 1965: un instrumento de visualización musical), Ludwig Rehberg y el compositor Walter Schröder-Limmer. La televisión sueca ha brindado soporte a los precoces experimentos de Ture Sjölander, Bror Wikström y Lars Weck
(<i>Time</i>, 1965-1966; <i>Monument</i>, 1967) y de Ronald Nameth más tarde (el tríptico <i>The Art of Energy</i>, 1975). En Italia, Vincenzo Agnetti y Gianni Colombo realizaron en 1970 tempranas experiencias de una naturaleza entre demostrativa y teórica
(<i>Orizzontale</i>, <i>Vobulazione</i>, <i>Bieloquenza Neg</i>).
En Francia, tras el <i>truqueur universel</i> de Coupigny, otro técnico de la ORTF, Marcel Dupouy, introdujo el Movicolor
(1973), ampliamente utilizado entre la primera generación de videoartistas franceses. En Holanda sobresale la figura de Livinus
(Livinus van de Bundt), fundador de la Academia Libre de La Haya. En Gran Bretaña, además de los sintetizadores EMS de audio y de vídeo
–en cuyo desarrollo intervinieron músicos y creadores visuales–, trabajaron en esta senda Peter Donebauer con su Videokalos Colour Synthesizer, que también utlizaron Brian Hoey y Chris Meigh Andrews.</p>
<p> </p>
<p> </p>
<p><b>Tiempos heroicos</b></p>
<p> </p>
<p>A partir de la llegada a Europa de los equipos de vídeo de pequeño formato (media pulgada) –primero estacionarios y luego portátiles: el mítico <i>portapak</i>, el magnetoscopio-macuto unido por un cable umbilical a una cámara tosca pero prodigiosa–, las cosas se aceleraron desde 1968-1969.</p>
<p> </p>
<p>Los relatos «nacionales» que han recapitulado los distintos escenarios europeos del vídeo (y prácticas afines) mantienen una cierta semejanza en cuanto a las fechas que los acotan y los análisis que trazan por etapas, tendencias y generaciones. Por supuesto, de un país a otro hay notables diferencias de bulto y los desfases correspondientes a unas circunstancias diversas de aislamiento político, geocultural o tecnológico. En cualquier caso, al margen del peculiar historial de la RFA, entre 1968 y los primeros setenta se descorcha la historia
(ni que sea microhistoria) en Francia, el Reino Unido, Italia, Austria, Holanda, Bélgica, España, Irlanda, Polonia, Hungría y la antigua Yugoslavia (particularmente en Eslovenia).</p>
<p> </p>
<p>Tal como he sugerido anteriormente, dichos relatos han sido a menudo escritos desde el ámbito de las artes visuales y realimentándose unos con otros, de manera que coinciden abundantemente en unos primeros signos de actividad asociados con las diversas corrientes de una desmaterialización o impugnación del arte. En este sentido, el vídeo ha encontrado inicialmente unos usos entre instrumentales
–como registro de acciones, realizaciones efímeras, ideas del arte-como-idea– y ensimismados con los entresijos del medio mismo; aunque también ha desbrozado un sendero alternativo en proyectos con frecuencia colectivos de crónica de la realidad, contrainformación y activismo social.</p>
<p> </p>
<p>El vídeo ha generado espontáneamente una militancia por el medio mismo y sus utopías, con cierto proselitismo incluido. Creadores y acólitos se han puesto manos a la obra para levantar estructuras, coordinar recursos, establecer circuitos, abrir salidas y generar un respaldo crítico. La relación de estos afanes es parte esencial de los relatos que envuelven el corazón de las prácticas: sus nombres propios, sus obras descollantes, sus maquinaciones colectivas.
Algunas de estas iniciativas se originaron en el contexto artístico; otras desde el intento de articular un sector propio.</p>
<p> </p>
<p>En Italia, la actividad empezó bien pronto: Luciano Giaccari, en Varese, creó en 1968 el Studio 970/2, que se dedicaba a tareas de documentación artística y cultural para luego establecer una videoteca y consagrarse a otras actividades comisariales y teóricas.
Otro centro importante fue Art/Tapes/22, en Florencia, fundado en 1973 por Maria Gloria Bicocchi y que contó con Bill Viola como director técnico. Siguiendo en cierta forma el modelo de la Videogalerie Schum, favoreció los intercambios entre Europa y Norteamérica y, hasta su clausura tres años más tarde, emprendió
cerca de un centenar de producciones. La efervescencia artística que vivió Italia en aquellos años, tanto en centros públicos como en galerías privadas, se reflejó en otras iniciativas mixtas de producción y exhibición diseminadas por su geografía (como el Centro Video Arte en el Palazzo dei Diamanti de Ferrara o los Videotape del Cavallino de la galería del mismo nombre en Venecia).</p>
<p> </p>
<p>En Alemania, siguiendo los pasos del finado Gerry Schum, su viuda, Ursula Wevers, creó la Galerie Projektion en Colonia (1973), e Ingrid Oppenheim, el Studio Oppenheim en la misma ciudad (1974), mientras que, en Múnich, Karlheinz y Renate Hein incorporaban el vídeo al osado catálogo de su P.A.P. Filmgalerie. Todas estas experiencias perecieron a corto plazo, pero sus pequeños tesoros fueron a parar en gran parte a centros públicos y algunos aguardan todavía una revalorización contemporánea. Otras galerías, espacios alternativos y centros culturales dieron también cancha al vídeo en países como Holanda, Bélgica, Francia, Reino Unido y España, en el doble plano de su producción y difusión pública.</p>
<p> </p>
<p>La distribución ha sido otra de las encrucijadas que ha tenido que abordar el medio emergente del vídeo, tras el fracaso de algunas tentativas prematuras, confiadas a una especulación crematística que ha tardado casi veinte años en resurgir y hacerse viable. En el intervalo, los modelos de distribución del cine excéntrico
(independiente, experimental, underground) fueron adoptados por asociaciones o entidades autogestionarias como London Video Arts
(luego London Video Access) en Gran Bretaña y Monte Video en Holanda, a las que en los ochenta se sumaron 235 Media en Alemania, Heure Exquise! en Francia o Argos en Bélgica, por limitar la mención a los proyectos más sólidos y duraderos.</p>
<p> </p>
<p>Otro aspecto bien distinto es el de los colectivos que, ya sea con una expresa militancia política o pospolítica (en referencia a reclamaciones identitarias y de las minorías sociales), ya sea por una vocación civil y comunitaria, se han inscrito en una estética de la comunicación y del mediactivismo: TVX en Gran Betaña, los errantes Videoheads en Francia, Holanda y dondequiera que se les solicitara; Video Audio Medien, Telewissen y los <i>medienzentrums</i> en Alemania; en Francia, los grupos Dziga Vertov, Medvedkine, Video Out, Video 00, Les cent fleurs y Vidéa en Francia; Videobase en Italia; Videonou en Cataluña (y, ya con respaldo público, su secuela en el Servei de Vídeo Comunitari).</p>
<p> </p>
<p>Desde 1973 han abundado las muestras colectivas y los encuentros que han propiciado la difusión pública y el contagio de ese medio todavía novicio y arcano que era el vídeo, en lo que puede considerarse su primera erupción en Europa. No voy a enumerar estas múltiples manifestaciones, aunque llama la atención el enunciado genérico de muchas de ellas –<i>Audiovisuelle Botschaften</i> [mensajes audiovisuales] (<i>Trigon
’73</i>, Graz, 1973), <i>Art Video Confrontation</i>
(París, 1974), <i>Artist’s Videotapes</i>
(Bruselas,1975), <i>The Video Show</i> (Londres, 1975), etc.–, denotando en definitiva que el medio era el mensaje y el vídeo un arte pujante. Su ratificación se ha dado con la gran presencia audiovisual en la Documenta 6 (Kassel, 1977). Estas manifestaciones son, a su vez, la antesala de otras que han seguido en los ochenta, cuando también se han impuesto otros modelos como los festivales, competitivos o no, las programaciones estables y los centros especializados y videotecas.</p>
<p> </p>
<p>En el territorio siempre esquivo de la televisión, más allá de los referentes ya expuestos habría que destacar la emisión <i>Vidéographie</i> de la Radio Télévision Belge Francophone (RTBF), en su centro de Lieja, que se mantuvo en antena de 1975 a 1986 bajo la tenaz dirección de Jean-Paul Trefois. Dicho programa comenzó siendo un escaparate de la producción internacional, y particularmente norteamericana, para impulsar desde 1978 las creaciones originales de artistas y realizadores independientes belgas. Así, en un país que carecía prácticamente de industria cinematográfica, la asociación entre la televisión y los radicales libres del vídeo dio paso a unas aportaciones innovadoras, especialmente entre la ficción y el documental, en formatos híbridos.</p>
<p> </p>
<p>En los ochenta, otras emisiones y series en televisiones diversas han puesto de manifiesto las expectativas que ha despertado el vídeo, incluso si se ubicaban en franjas marginales de las parrillas de programación. Por mencionar tan solo algunos títulos: en Francia, <i>Juste une image</i>
(producción del INA para Antenne 2) o <i>Avance sur image</i> (Canal Plus); en el Reino Unido, <i>Ghosts in the Machine</i> (Channel Four), <i>White Noise</i>
(BBC-2) y el <i>slot</i> polivalente de <i>The Eleventh Hour</i> (también en Channel Four y a la manera de <i>Das kleine Fernsehspiel</i>); en España, el longevo magazín de tendencias <i>Metrópolis</i> y la serie de trece programas <i>El arte del vídeo</i> (TVE 2).
En general, estos espacios también han alternado el escaparate de la creación internacional con la producción, regular u ocasional, de nuevas obras.</p>
<p> </p>
<p>La televisión, en cierto modo, ha estado en el epicentro de una etapa que ya queda fuera del alcance de este texto, cuando el videoarte, en su modalidad monocanal al menos, ha tenido su llamada al orden. Hacia la mitad de los ochenta especialmente, ese era el orden de los géneros audiovisuales establecidos –la tríada de la ficción, el documental y las fantasías (animaciones y videoclips, por ejemplo)–, antes que el galimatías del arte contemporáneo con sus múltiples corrientes. La demanda de unos activos de producción y entretenimiento –en consonancia con unos medios más potentes y como mayor garantía de una intubación televisiva– se ha reflejado en la vistosidad de las manufacturas de la época, aunque, a costa de ello, algunas han envejecido más rápidamente que otras más primarias y austeras.</p>
<p> </p>
<p>Luego, las ilusiones depositadas en una inscripción televisiva del vídeo se han desvanecido de nuevo, para fluir en parte hacia otros medios más novedosos, entre los cuales una red sin jerarquías visibles frente a la lúgubre connotación de las «cadenas» televisivas (y todo son <i>networks</i>).
Sin embargo, no puede decirse que la televisión se haya convertido en una meta abandonada, tal como lo atestiguan algunas experiencias artísticas y artivistas que han seguido brotando. Por su parte, el vídeo ha vuelto a adquirir un contorno positivamente indefinido porque, a fin de cuentas, delimita un campo abierto y heterogéneo por oposición a la uniformidad y la cerrazón mediática.</p> <div id="sdfootnote1">
	<p>[1]
	Wulf
	Herzogenrath: «Videokünstler-Kunstsituation-Fernsehen»,
	en Richard Kriesche (ed.), <i>Art,
	Artist &amp; the Media</i>.
	Graz: AVZ Books, 1978.</p>
<p> 
	</p>  <div id="sdfootnote2">
	<p>[2]
	Vito
	Acconci: «Television,
	Furniture and Sculpture: The Room with the American View»,
	en <i>Het
	Lumineuze Beeld / The Luminous Image</i>.Ámsterdam:
	Stedelijk Museum, p. 18, 1984
	[cat. exp.].</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Mick
	Hartney: «Video
	in Great Britain: Or how we lost an art form and found a medium»,
	en René Payant (ed.), <i>Vidéo</i>.
	Montreal:
	Artextes, pp. 78-91, 1986.</p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	Tras
	el retiro de Götz como docente, en 1979, Paik se incorporó
	precisamente al elenco profesoral de la misma escuela.</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>[5]
	Sin
	embargo, dicha exposición tuvo lugar en un espacio que no era una
	galería de arte al uso, sino una sala ubicada en la residencia
	privada de un arquitecto; permaneció abierta apenas diez días, y
	solo un par de horas cada día, en el tramo en que la tarde se
	adentra en la noche, debido al horario tan limitado de las emisiones
	televisivas por aquel entonces.</p>
<p>
	</p>  <div id="sdfootnote6">
	<p>[6]
	Una
	concienzuda tesis doctoral de Edith Decker sobre Paik, puso en
	entredicho algunas de las dataciones pretendidas por Vostell; véase
	E. Decker: <i>Paik
	Video</i>.
	Colonia:
	DuMont, pp. 40-52, 1988.
	
	</p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	Gerry
	Schum: «Letter
	to Gene Youngblood»,
	en <i>Land
	Art</i>.
	Berlín: Fernsehgalerie Gerry Schum, pp. 4-5, 1969.</p>
<p>
	</p>  <div id="sdfootnote8">
	<p>[8]
	En
	fechas cercanas a las ingerencias mencionadas, otros artistas
	lograron introducir intervenciones de un cariz similar en el flujo
	de otras televisiones: Peter Weibel (<i>The
	Endless Sandwich</i>,
	1970; <i>Abbildung
	ist ein Verbrechen</i>,
	1971) y Valie Export (<i>Facing
	a Family</i>,
	1971) en la televisión austriaca (ORF); David Hall en la televisión
	escocesa (<i>7
	TV Pieces</i>,
	1971).</p>
<p>
	</p>  </body> </html>