
<p><b>Medida vectorial de las formas de onda de sucesivas señales de vídeo y otras observaciones anexas para un libro-registro de herramientas, reparaciones y mantenimiento</b></p>

<p><i>Señales de vídeo: aspectos de la videocreación española de los últimos años</i>.
Madrid: Museo Nacional Centro de Arte Reina Sofía, 1995 [catálogo de exposición]
</p>

<p>Vídeo son muchas cosas: industria e independencia, oficio y creación, profesión y afición, televisión y contratelevisión, arte y entretenimiento, lo- y hi-tech, cintas e instalaciones, medio y media-mix… Incluso si aquí se trata del vídeo (español) en una determinada acepción, nuestro ente es más que uno y trino. Es, aun, múltiples cosas, propósitos, estilos, temas, motivaciones, procedencias, etc. Acudir a cualquier muestra, festival, concurso de vídeo es, entonces, como adentrarse en un laberinto más o menos intrincado, tanto para el espectador de a pie, como para el espectador de oficio (por así llamar al experto, crítico, teórico o «seleccionador»). Salvo que, del último, se espera además que sea capaz de levantar un mapa, con sus correspondientes relieves: es decir, destacando autores, obras, posibles direcciones, cotas relevantes para establecer el estado de la cuestión
</p>

<p>En muchos aspectos, puede decirse que el vídeo español actual (aunque decir esto sea una abstracción) no chirría en absoluto si se establece su comparación con aquello que suele llamarse el «panorama internacional» (otra abstracción mucho más grosera y arrogante, en tanto que suele connotar un rasero «primermundista» de bienestar, alta tecnología, gran cultura, etc.). Es más, cuando se le ha hecho correr mundo a tal o tal otro lote dignamente representativo del vídeo español, me consta que muchas veces se ha apreciado su sintonía con los planteamientos estéticos y preocupaciones temáticas vigentes en esas otras latitudes visitadas, e incluso se ha creído percibir un sello cultural propio y autóctono que, sin embargo, yo creo que es raramente premeditado y consciente, salvo en algunas obras claramente referidas a unas temáticas muy nuestras (o, a lo peor, a los más trillados y celtibéricos tópicos). Pero también puede advertirse que, en conjunto, permanece en un tercer o cuarto plano; y que es lógico que sea así por varios motivos. Un síntoma de ello es su frecuentemente mínima o nula presencia en festivales y otro tipo de muestras y circuitos internacionales, aun con las excepciones de algunos nombres que sí la han tenido con cierta regularidad, o que han destacado más ocasionalmente
</p>

<p>Aunque, en cierta manera, el vídeo español ha tenido una especie de constante delegación en el exterior –a través de diversos artistas de mayor o menor renombre por su actividad vídeo y multimedia– en la escena interior se dan cita el localismo y el afán cosmopolita más extremos, un cierto autismo sectorial y un frecuente desarraigo, la frívola inconsciencia y el agrio desencanto. La tremenda atomización, por otra parte, que se da en nuestro ámbito arrastra toda una serie de deficiencias y carencias que se derivan de la dificultad de organizarse de un colectivo que solo lo es en potencia, y de una excesiva dependencia institucional y de políticas culturales poco arriesgadas que, en un estado no federal y sin tradición descentralizadora –administrativamente constituido en estado de las autonomías–, apenas propician los contactos e intercambios entre los distintos núcleos de actividad dispersos por la geografía peninsular y sus insulares agregados
</p>

<p>Hay en nuestro campo (por supuesto, también en otros) una tradición despotricadora, una cierta tendencia a la contracultura de la queja, que estas páginas no quieren soslayar, sino más bien destacar, mostrando de entrada las anomalías y particularidades que presenta el caso de estudio que aquí nos ocupa. Si las bases que supuestamente sustentan el vídeo a veces llamado independiente resultan en gran medida insatisfactorias entre nosotros –y, a menudo, sumamente frágiles o volátiles– tales cuestiones deben anteponerse al balance relativamente positivo y esperanzador que puede extraerse de la producción de los últimos años. Así, parece hoy existir un cierto consenso sobre la necesidad de establecer unos cauces para el diálogo, el contraste de pareceres y una mínima entente entre los diversos implicados sobre aspectos que resultan básicos (desde un punto de vista gremial, diríamos, pero que debería también ir más allá del mismo). Y ahora sería un buen momento para enfrentarse a este desafío –que lo es verdaderamente por una especie de pragmático escepticismo que hemos venido desarrollando–, y tratar de levantar los ánimos de una práctica y un ámbito creativo que se resienten de un cierto estado de abandono moral
</p>

<p><b>Algo de historia o contrahistoria</b></p>

<p>Para que se comprenda mejor esta circunstancia actual del vídeo en España, me supongo obligado a repasar una vez más su historia. Una historia con minúscula inicial –por tanto sin magnificar–, y que, como ya propuse en una previa ocasión, cabe plantear a su vez como una contrahistoria; como una interrogación de las simplezas, las leyendas, las mistificaciones, los descuidos, los calcos miméticos (de otras circunstancias, contextos, «historias») que fácilmente se deslizan en la descripción e interpretación de unos datos cronológicos y documentales en principio «neutros». En cualquier caso, mis consideraciones en estas páginas no pretenden ser de otro orden que el de una (contra)historia privada, aunque otros puedan haberse adherido a un similar planteamiento en sus propios, no menos privados, escritos
</p>

<p>Al igual que otros recuentos que se han escrito en los últimos años sobre diversas escenas videográficas «nacionales», y sobre la nuestra misma, reincidiré aquí en un desglose cronológico en tres tiempos (siendo el tercero el que pretende ser muestreado en el programa de <i>Señales de vídeo</i>).<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a></p>

<p>Me propongo añadir ahora una mínima contextualización que exceda de la común interpretación un tanto gremial y restringida del ámbito y el medio videográfico, pues creo que es cada vez más necesario el reintegrarlo en un espacio más amplio –estético, cultural y social–, dados los múltiples lazos que tiene con otros medios y prácticas (algo que se comprueba con apenas ojear los curriculums de muchos autores), y la tendencia a incluir el vídeo y sus expansiones/hibridaciones (vídeo-escultura, -instalación,
-performance, -música, -teatro, -danza, etc.) en unas consideraciones y conceptualizaciones más amplias: imagen en movimiento, artes audiovisuales, arte electrónico, media-art o arte multimedia, por mencionar las más difundidas (aunque no siempre bien entendidas y, demasiado a menudo, peor aplicadas)
</p>

<p><b>Vídeo pobre (de necesidad)</b></p>

<p>La primera utilización del vídeo con un propósito creativo o experimental de la que tengo constancia en nuestra geografía data de 1969 (<i>Dædalus Video</i>, de los hermanos Joan y Oriol Duran Benet).<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a>
Sin embargo, nuestro primer pionero fue probablemente otro catalán, José Montes-Baquer –así me consta que lo considera quien es tenido por «padrino del videoarte» universal, Nam June Paik–, aunque experimentando con el medio en un marco televisivo y casi siempre fuera de nuestras fronteras.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a>
En cualquier caso, desde 1970 se suceden en Barcelona, y harto más ocasionalmente en otros puntos de España, diversos acercamientos al vídeo; muchos de ellos sin continuidad debido a las dificultosas oportunidades de acceder a unos equipos que, para el fin de la década, ya eran obsoletos (los viejos portátiles, portapacks<i>,</i>
o equipos estacionarios de media pulgada, una pulgada o un cuarto de pulgada, con cintas de bobina abierta, y casi siempre limitados a un blanco y negro con propensión a una pobremente definida grisalla)
</p>

<p>Así, por solo referirse a los nombres de aquellos que sí tuvieron –y que, en varios casos, siguen teniendo– una presencia más persistente y conspicua, a lo largo de la década cabe mencionar los de Antoni Muntadas, Carles Pujol, el colectivo Vídeo-Nou, Carles Pastor, Lala Gomà, Julián Álvarez, Joan Pueyo y Pedro Garhel.
Nombres a los que hay que sumar otros de diversos artistas que a lo largo de la década de los setenta, o incluso antes, se afincaron o residieron temporalmente en otros países –en Estados Unidos, los más–, incluyendo, además de al ya mencionado Muntadas, a Francesc Torres, Antoni Miralda, Juan Navarro Baldeweg, Ramón de Vargas, Benet Rossell y Eugènia Balcells. Las mayores posibilidades de frecuentación del novísimo medio que allí encontraron, facilitaron que algunos de los mencionados –principalmente Muntadas, Torres y, ya más tarde, Balcells– se abocaran a un uso continuado del mismo como parte de su paleta (posplástica) multimedia; y, también, que en su trayectoria pueda apreciarse una evolución –de un uso elemental del vídeo como documento o constatación a construcciones más complejas y substantivas (tanto en formato monocanal como en las formas expandidas del arte de la instalación y multimedia en general)–, que no se percibe tanto en otros artistas de su misma generación; tanto si han manejado el vídeo harto a menudo (como Carles Pujol, aunque sus planteamientos sean en definitiva muy distintos) o de manera más ocasional (como Francesc Abad)
</p>

<p>Hora es ya de situar estas referencias en un marco más amplio, a su vez como paso previo a alguna que otra consideración más sobre este primer tiempo, en apariencia tan parco y de escaso relieve en cuanto a experiencias y prácticas. Por supuesto, lo primero que habría que recordar es el clima represivo vivido hasta los últimos estertores del régimen franquista, los clandestinos oasis de resistencia y contracultura, o la posterior incertidumbre ante la transición, con el llamado «desencanto» como consecuencia de la resaca posmortem.
Sin embargo, en lo cultural, desde mediados de los sesenta se sucedieron diversos episodios interesantes, que combinaban el experimentalismo y el afán contrariador, y que, lejos de las academias y de unas tendencias ya trasnochadas, apuntaban a una sintonía mayor con otros aires menos viciados. Y, pese al déficit de información y a los inevitables mimetismos, lo más relevante es que este voluntarioso proceso de puesta al día, harto intuitiva muchas veces, concernió a prácticamente todos los ámbitos estéticos y culturales (artes plásticas, fotografía, cine, música, teatro, literatura), y dio lugar a unos nuevos brotes exploradores y alternativos (Zaj, conceptualismo, arte de acción e implicación, arte por ordenador, poesía experimental, cine independiente, música minimalista, comics/comix, terrorismos sonoros y visuales… y, de por medio, también el vídeo), algunos de los cuales aún esperan la oportunidad de una adecuada revisión. Tampoco estará de más recordar que, en los años setenta, Barcelona ejercía de capital cultural en diversos órdenes, lo que probablemente explica que la mayor concentración de actividades y probaturas videográficas reseñables se diese en el <i>cap i casal </i>de Cataluña<i>.</i></p>

<p>Al igual que en las genealogías videográficas de muchos otros países, ha sido también usual referirse al territorio de las artes visuales como lugar natal de las primeras, pioneras actividades; y, más concretamente, a un difuso torrente de tendencias para el que, entre nosotros, Simón Marchán Fiz acuñó la globalizadora expresión de
«nuevos comportamientos artísticos». Sin embargo, yo añadiría que otro ámbito estrechamente vinculado con la evolución del vídeo en España es el del cine independiente y experimental que brota a mediados de los sesenta y prácticamente fenece a principios de los ochenta; un vínculo que no se hace visible de un modo tan inmediato, sino a medio plazo. Un estudio todavía por hacer es justamente el del tránsito de numerosas personas implicadas en los años setenta
(o incluso después: Ignacio Pardo, Elio Quiroga, Francisco Ruiz de Infante) en el dificultoso propósito de levantar un cine experimental o alternativo –casi desde la nada– al nuevo territorio experimental y profesional del vídeo y medios afines en la siguiente década. (Pues de ahí surgirían, en efecto, varios de los protagonistas de un segundo tiempo)
</p>

<p>Lo que ahora importa señalar es, en todo caso, ciertos rasgos comunes que se plantean desde ambos ámbitos (no en vano se habló también de arte alternativo) y que, en cierto modo, se transmiten a la incipiente actividad videográfica. Así, en primer lugar, hay un propósito explorador y de ampliación, tanto como de cuestionamiento, de la propia práctica y del área que la enmarca
–interrogar el arte, interrogar el cine, interrogar lenguajes y sistemas al fin y al cabo–; por supuesto que con muy diversos matices: del formalismo o las emulaciones de corrientes vanguardistas foráneas, deliberadamente abstrayéndose de la siniestra contextura sociopolítica, a una voluntad de resistencia e incidencia social, pasando por las deconstrucciones o sociologías de cocina (alta cocina, a veces). En segundo lugar, hallamos un forzoso y asumido voto de pobreza, por así decirlo –<i>arte pobre</i> y <i>cine pobre</i> fueron expresiones usuales al principio de los setenta–, que constituye todo un manifiesto, rehusando los valores de mercado y acusando las propias condiciones de unas prácticas que se desarrollan a contrapelo del estado de las cosas. (El vídeo de los setenta también será pobre de necesidad, basándose casi siempre en la observación documental:
ya sea de una acción ejecutada por un artista ante la cámara, o de una realidad de la calle, o del paisaje mediático que Muntadas comienza a retratar desde la segunda mitad de la década). Y, por
último, añadiría que estos proyectos alternativos acarrearon en general una dinámica colectiva, un <i>esprit de corps</i> –aunque con sus grupúsculos, tensiones y enemistades internas–, y una implicación añadida en la organización de actividades, encuentros y otras bases de actuación; unas veces pública, otras forzosamente subterránea o marginal
</p>

<p>Y aunque todo esto no acabara de cuajar en nada sólido, sino que ya se había desvanecido en el aire para el comienzo de la siguiente década, sí creo que tiene una significación en la (contra)historia del vídeo o, mejor dicho, de los medios alternativos en un sentido más amplio. Así, para terminar con este primer tiempo, otro aspecto a considerar es el de todas aquellas actividades e iniciativas que ahí se fraguaron, partiendo prácticamente de cero, incluyendo los primeros esbozos teóricos y pedagógicos, el planteamiento de unos modelos de comunicación alternativa y las primicias de la televisión local en nuestro mapa, así como las primeras muestras de unos ciertos vuelos, con apertura al ancho mundo y a las dimensiones múltiples y expandidas del medio.<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a>
En definitiva, sin pretender sobrevalorar de ningún modo las esforzadas, muchas veces anecdóticas, iniciativas y experiencias de aquella primera década de incipientes actividades, sí creo que deben ocupar su justo lugar en la cronotopía del vídeo español, pese a que el diverso paradigma que se vivió en ese segundo tiempo del que inmediatamente escribiré haya propiciado un relativo arrinconamiento o imagen borrosa de aquel periodo, salvo quizá en Barcelona, donde siempre nos hemos creído bastante la leyenda (no digo que incierta) de una más larga tradición videográfica
</p>

<p><b>Vídeo rico (¿o nuevo rico?)</b></p>

<p>Entrando en los ochenta, o ya algo antes, a todo se le empezó a anteponer un neo- o un post-: en las artes plásticas, triunfaba el neoexpresionismo, un cierto regreso al orden figurativo y la reivindicación de los placeres de la pintura y del <i>glamour
</i>bohemio en el mundillo y mercadillo artístico; respecto al cine, oíase hablar de un retorno al relato y los cracks tipo Spielberg y sus secuaces nos eran presentados por la crítica más sesuda como emblemas del «nuevo cine experimental de Hollywood» (¡literalmente cierto!), anunciando la apología de un nuevo cine de género y comercial a macha martillo, junto al cual se toleraba el culto a un cine de autor con llamativo barniz de <i>modernez</i>;
en literatura empezaba a arremeterse contra experimentalismos e intelectualismos, y así sucesivamente. Por fin éramos modernos, o quizá ya posmodernos, y estallaban las movidas: la laica comunión del arte joven, la música pop, el diseño, la moda, el estilismo, la imagen, las luces de la noche, etc.; y, al contrario que en política, estar aparentemente quieto equivalía a no salir en las «fotos». En definitiva, resulta fácil describir, ironizar con trazos gruesos sobre aquella que algunos han llamado la década prodigiosa –una referencia que eriza los cabellos de todo aquel que haya visto y oído en acción al hispánico y plastificado combo pop del mismo nombre–, como también se ha exagerado bastante, pienso yo, en algunas revisiones/recapitulaciones beligerantes sobre una segunda etapa del vídeo en España, que, en efecto, permite ser contextualizada parcialmente mediante caricaturas como las anticipadas
</p>

<p>Si nos referimos, a diferencia del periodo anterior, a un mapa crecientemente pletórico en acontecimientos y actividades de difusión y proyección –que decaerían, sin embargo, al cabo de pocos años–, para empezar a acotar este segundo periodo podría partirse del Festival de Vídeo de San Sebastián, celebrado de 1982 a 1984 –paralelamente al festival cinematográfico internacional que se celebra anualmente en la capital guipuzcoana–, si bien la verdadera eclosión de un nuevo vídeo español (creo que fue José
Manuel Palacio quien acuñó el sintagma) se ha de costumbre cifrado en el I Festival Nacional de Vídeo, celebrado en 1984 en el Círculo de Bellas Artes de Madrid, y que se prolongó hasta una segunda y más discutida edición en 1986 (con unos encuentros de transición en el intervalo). Ambas manifestaciones, en todo caso, mantuvieron una cierta continuidad de espíritu con las muestras que habían tenido lugar en Barcelona anteriormente<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a>
y, además de ampliar definitivamente la escala del mapa de las actividades videográficas en nuestra geografía, contribuyeron a fijar su posición en un imaginario y fragmentario mapamundi del vídeo
</p>

<p>En cuanto a la especial significación que se le atribuye al festival de Madrid de 1984, esta se debe a la inclusión de un concurso de alcance «nacional» que se saldó con la distribución ex aequo del premio entre seis obras (más dos menciones de mérito), atendiendo así a la variedad y calidad suficientes de las cintas en competición. Y a que, alrededor de aquellas fechas, otros eventos, festivales, concursos, muestras, programas de diverso calibre y trascendencia fueran brotando casi como hongos en amplia dispersión geográfica: Zaragoza, Vitoria, Gijón, O Carballiño, A Coruña, Cádiz, Granada, Sevilla, Las Palmas de Gran Canaria, Valladolid, Tolosa, Valencia… Por último, como fin de esta edad dorada (que de oro quizá solo tuviera un ligero, ilusorio baño), puede señalarse como acontecimiento emblemático la retrospectiva <i>La imagen sublime. Vídeo de creación en España (1970-1987)</i>, en el entonces aún no museizado Centro de Arte Reina Sofía, a lo que yo agregaría otro pequeño hito, como el de la constitución del fondo inicial de la videoteca de Arteleku, en San Sebastián, la primera que apostó por el vídeo (de creación) sin mezclarlo con todo cuanto también tiene por soporte el vídeo
</p>

<p>Este cúmulo de manifestaciones –las más de corta vida, todo sea dicho–, generalmente organizadas o financiadas por instituciones públicas tales como ayuntamientos, diputaciones o gobiernos autonómicos, tuvieron diversos efectos: uno, el de generar, como ya otros han dicho, una suerte de espejismo, una imagen ilusoria y sobredimensionada de la realidad; otro, el de dibujar un círculo vicioso en el que la motivación creativa y su recepción pública se agotaban en un reducido circuito de pequeñas competiciones y antologías; por último, el de contribuir grandemente a esa dependencia institucional que sigue constituyendo uno de los puntos flacos del vídeo supuestamente independiente. A lo largo de estos años surgieron muchas otras iniciativas: programas itinerantes para difundir la producción cantonal, regional o de las nacionalidades, como diría Xabier González<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a>
(la Mostra de Vídeo de Creació de Catalunya, en su origen una propuesta de Julián Álvarez posteriormente asumida por la Generalitat catalana y aún incólume, o sus calcos más ocasionales en otras comunidades autónomas); la convocatoria de un premio espléndidamente dotado por parte de un potente club-discoteca barcelonés hacia 1983-1984, hecho que aquí menciono por lo que tiene de significativo de un momento álgido en que el vídeo «era moda»; las primeras experiencias de programaciones continuadas o ciclos periódicos (<i>Virreina, els dilluns vídeo</i>, en Barcelona; <i>Vídeo en el Palacio, </i>en Zaragoza;
Vídeo Forum Internacional y Salón de la Imagen en Madrid; las actividades organizadas por la Fundación Municipal de Cultura en Valladolid); la aparición de las primeras distribuidoras (comenzando por Videografia y AVA, también las más duraderas, aunque hoy ya desaparecidas, al igual que casi todas las demás que tomaron su relevo en años sucesivos); y los por desgracia fracasados y frustrantes intentos de vertebrar asociativamente el hipotético colectivo
</p>

<p>Expuesto el telón de fondo, el cual se completa con algunas convocatorias de ayudas y con unas mayores oportunidades de mantenerse informado sobre lo que se hacía en el planeta vídeo, detallo ahora las figuras y sus actos en escena. Si el festival de Madrid de 1984 suele tomarse como una efemérides fundacional de este segundo tiempo ahora considerado, estando fechadas casi todas las obras premiadas en aquel mismo año o en el anterior, hay otras desde el principio mismo de los ochenta que cabría ubicar como fronterizas, en el sentido que marcan el fin de un periodo y el comienzo de otro. Por ejemplo,
<i>Koloroa</i>
(1980), de El Hortelano y Carles Pastor, un imaginario «telediario»
muy vistoso, colorista y posmodernizado, realizado con unos medios técnicos entonces inusuales y envidiables en nuestro terruño
(gracias a la implicación de una empresa de producción industrial).
O también <i>Indian Circle</i>
(1981), obra de Eugènia Balcells realizada en Estados Unidos con Peter Van Riper, una interacción músico-visual de gran atractivo en aquel momento; prácticamente una de las primeras incursiones de su autora en el medio videográfico (aunque no en la expresión audiovisual), y que obtuvo el Grand Prix del primer festival de vídeo de Montbéliard (Francia); uno de los primeros en sentar los patrones, para bien y para mal, de los festivales de vídeo europeos.
O incluso varias producciones de propósito didáctico que, aun siendo de encargo y con un compromiso pedagógico muy específico, propiciaron en algunos casos sus dosis de creatividad, experimentación y ejercicio de una personalidad propia, tal como en ciertas aportaciones de Julián Álvarez, Aurora Corominas, Gerardo Armesto o Joan Pueyo (varias de las cuales ya estuvieron presentes e incluso fueron premiadas en el certamen madrileño)
</p>

<p>Hace ya varios años que propuse una distinción entre las prácticas predominantes en las décadas de los setenta y ochenta, contrastando el forzado ripio de un vídeo de artistas (conceptuales, alternativos, multimedia, ajenos en general a un sendero de actividad audiovisual profesionalizada) y un vídeo de audiovisualistas (con más propensa vocación y afición por el cine, la televisión, el vídeo y otras imágenes, así como por las industrias, grandes, medianas o pequeñas, que permitían conciliar vocación, creatividad y profesión). Y, en apariencia, todo parece indicar que una tal distinción sigue teniendo su vigencia; aquí, allá y acullá. En todo caso, son diversos los rasgos y síntomas por los que se anuncia/enuncia una cierta ruptura con el pretérito anterior, a fin de reconducir el ímpetu de cada cual por senderos más rectos y lineales. Más en concreto, estos parecían ser en un momento dado los de la ficción y un cierto manierismo, con una estética formalista, pero más (y mass-) mediática, contemporizadora y, finalmente, banalizadora
</p>

<p>La página aparentemente mayor de este periodo es pues la de la ficción con una cierta tendencia hacia la fantasía, el <i>hiporrealismo</i>
–es decir, todo lo contrario a un realismo fotográfico– y la
<i>clipmanía</i>
(en concordancia con la burbujeante pujanza simultánea de los vídeos musicales). Las influencias, en muchos casos, son admitidamente cinematográficas, y raramente apoyadas en una idea literaria –no se dan, como en el cine, «adaptaciones»–, aunque en general se procura que la obra desprenda una inmediata aureola videográfica. (A falta de otros efectos, trucajes y aparejos, algunos desajustes pueden bastar para dar una cualidad peculiar a la imagen: como la arruga, ¡el ruido es bello!) Algunos nombres y títulos: Xavier Villaverde con <i>Veneno puro</i>
(1984) y <i>Viuda Gómez</i>
(1985); José Ramón Da Cruz, de <i>Of-Tal</i>
(1984) a <i>Armstrong </i>(1990);
Antonio Cano, con un escasamente apetitoso <i>Buffet frío</i> (1986) y otras cintas que siguieron después; Javier Vadillo; algunas piezas de los efímeros grupos Vídeo Doméstico y La Sucursal. Y, más circunstancialmente, otras de Jordi Torrent (<i>Moebius Business</i>, 1983), Julián
Álvarez (<i>Imágenes de un bombardeo</i>, 1984), Antonio Herranz (<i>Ciudad submarina</i>, 1984), Antón Reixa (<i>Chove contra pasado</i>, 1985) y Maite Ninou (<i>Revival solitari</i>, 1986). Aunque habría que considerar una a una las obras y trayectorias de estos autores para extraer conclusiones, hoy se me ocurre que las piezas más brillantes del entonces nuevo vídeo español no fueron de
índole narrativa, salvo quizá <i>Veneno puro</i> de Villaverde  ̶
una elaborada dramaturgia visual en perfecta sintonía con las proclamas de Jean-Paul Fargier a favor de la <i>ficción vídeo</i> y de su aproximación hacia el cine ̶
o la cuota de personalidad que hay que reconocerle a Da Cruz en sus estrafalarias ficciones (que, por otro lado, yo no consideraría exactamente como narrativas)
</p>

<p>Otras obras incidieron en la dirección de un a veces llamado documentalismo subjetivo, con una marcada poética personal y de carácter explorador, siempre rehuyendo los códigos rutinarios del documental mal entendido. Es el sendero o el punto de partida que han tomado Julián Álvarez (en varios de sus vídeos: <i>Poesia urbana a la Barcelona dels anys 50</i>
1983; <i>Batlàntic</i>, 1985; <i>Aves del paraíso</i>, 1987, y otros posteriores), Raúl Rodríguez (con obras tan espléndidas como <i>Los hombres, las mujeres y los niños</i>, 1986, y <i>A imaginação acordada</i>, 1988, que nos hacen lamentar su retiro), a veces Javier Codesal (<i>Pornada</i>, 1984, con Raúl Rodríguez; <i>Sábado legionario</i>, 1988), Carles Comas, Iñigo Salaberría y aun otros; amén de constituir también hoy un terreno que da sus buenos, aunque muy contados, frutos
</p>

<p></a>
La dialéctica vídeo/televisión, uno de los frentes clásicos del videoarte, sigue presente –además de en el trabajo de Muntadas o en la primera realización videográfica de Eugènia Balcells, <i>Going Through Languages / Atravesando lenguajes</i>, de 1981–, en cintas como la ya mencionada <i>Koloroa</i>;
<i>ET-apa</i>, 1984, de Antonio Cano; o <i>España-Francia:
de Agustina de Aragón a Manolo el del Bombo</i>, 1984, de La Sucursal. También del cruce con el accionismo y el interés de artistas polifacéticos surgen otras trayectorias y obras monocanales, multivídeo y multimedia (Antón Reixa, Pedro Garhel y los primeros trabajos de Antonio Cano y de Codesal/Rodríguez). El arte expandido de la instalación o videoescultura es cultivado por algunos de manera insistente (Isabel Herguera, Lluís Nicolau, Garhel, Codesal, Pueyo y siempre los Muntadas, Torres, Balcells, Pujol, Rossell y Miralda, fuera y dentro del país) o más ocasional
(Villaverde, Cano, Concha Jerez, Paloma Navares, Antón Jodrá, Remo Balcells). Por último, mediada la década, nacen los primeros trabajos infográficos (Gerardo Armesto, Juan Carlos Eguillor, Remo Balcells, Grupo 3TT, etc.)
</p>

<p><b>Moción de censura</b></p>

<p>El anterior, apresurado recorrido por las tendencias y cuasi-géneros vigentes hasta 1988 nos permite observar la variedad de prácticas y procedencias que ya se dan cita en aquellos años; y diría que, en cierto modo, el surtido no ha variado demasiado. Sin embargo, para un nuevo grupo de autores que se da a conocer desde el último tercio de la pasada década –no creo que pueda hablarse en rigor de una nueva generación, dado que las diferencias de edad son demasiado cortas–, el alborozo que se había generado en torno al nuevo vídeo español, sus productos y acontecimientos, era contemplado con escepticismo realista e incluso con ojos muy críticos. Una de las principales plataformas que cataliza esta revisión y relevo será el Bideoaldia de Tolosa, organizado con espíritu independiente por el Bosgarren Kolektiboa, que, aunque aparece en 1987 como un festival-con-concurso más (con la particularidad de abarcar también las músicas experimentales y otras prácticas y actividades alternativas: «vídeo y otras sensibilidades», en palabras del colectivo), en sus últimas ediciones –las de 1989 y 1990 especialmente– plantea una relectura crítica del pasado y una particular apuesta por otros planteamientos y prácticas emergentes.<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a>
(El Bideoaldia destacó también por prestar una atención a las instalaciones que se iba perdiendo en otras manifestaciones)
</p>

<p>Marcelo Expósito, un artista vinculado al Bosgarren Kolektiboa desde sus mismos orígenes, es uno de los que ha criticado sin ambages los vicios de forma y fondo que habrían aquejado al vídeo del entusiasmo, y seguirían aquejando al de después-del-entusiasmo, en términos de «provisionalidad y oportunismo», «prácticas conservadoras», «tramposos formalismos», «dudosa independencia»,
«producciones sexistas», «adscripciones reaccionarias».<a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a>
Y, aunque lo ideal sería que nos acostumbráramos/atreviéramos a dar nombres, de alguna manera Expósito ha puesto el dedo en la llaga. Pues, si las dosis de sexismo no llegan a cotas intolerables, si el formalismo amanerado y sin más consecuencias puede considerarse un sarampión inevitable, si los demonios del conservadurismo reaccionario a veces quizá solo sean inocentes muestras de candidez y falta de norte, si la falta de constancia y el transfuguismo y las anemias son el frecuente corolario de una base de operaciones insuficiente, lo cierto es que al visitar el panorama videográfico de nuestro pasado y presente (y basta con acudir a algún festival-concurso de los que se celebran) se advierte de manera harto abundante hasta qué punto se tiende a la irrealidad, la irrelevancia, la inconsecuencia y al enclaustramiento en un imaginario universo delimitado por cuatro paredes (encima ¿sin ventanas?)</p>

<p>En consecuencia, no todo tiempo pasado fue ni mejor ni peor. Aunque fueran pocos los que se agarraron a la tierra y al mundo –Antón Reixa, Javier Codesal, Raúl Rodríguez, Julián Álvarez, Manel Muntaner, Francesc Torres, Muntadas, Manuel Abad, Xavier Villaverde, La Sucursal, Isabel Herguera en muchos o algunos de sus trabajos (por detenerme aún en un pretérito imperfecto)–, el vídeo, desde la introducción de los equipos portátiles y los pequeños formatos, ha sido un medio predestinado al individuo –a lo privado, íntimo y hasta narcisista–, y en dicho sentido hay opciones perfectamente respetables. Solo que, a veces, uno piensa que ciertas vanidades no merecerían llegar a un cauce público, por muy libres y abiertos que se supongan los del vídeo
</p>

<p><b>Cuestión de confianza</b></p>

<p>Para referirme a la última etapa del vídeo en España (y en una diáspora nuevamente cuantiosa), introduciré una vez más algunas consideraciones que exceden del círculo de su arena. Si, como ya otros observaron, entre varios de los autores que han tenido una destacada presencia en los últimos años, puede apreciarse una revaluación del vídeo como una forma de arte (sin otras connotaciones de arrogancia) no emplazada en un régimen de autarquía, sino inscrita en un conjunto de otras prácticas y actitudes (llámense artes alternativas, o multimedia, o como se quiera), habrá que considerar lo que ha venido sucediendo en un territorio más amplio tras el punto en que lo habíamos abandonado
(es decir, los neo- y los pos-, las regresiones y movidas que abrieron los felices principios de los ochenta). Así, en el terreno de las artes visuales (siempre tentado a sobrepasar los límites de su propia denominación) ha podido constatarse la nueva preponderancia adquirida por la escultura –concebida en su amplificación a un campo expandido, según una conocida expresión de Rosalind Krauss–, la instalación multimedia, la fotografía y, en general, los medios denominados alternativos y las nuevas y menos nuevas tecnologías. También los planteamientos, así como la panoplia de medios, que han permitido hablar de un neoconceptualismo, que algunas veces puede haberse reducido a un hallazgo del tipo
«huevo de Colón» (es decir, una inversión reiterativa y poco informada), pero que ha incidido, por otra parte, en sanos ejercicios de ética y responsabilidad ideológica, y en un ejercicio no menos sano de la anarquía a través de algunas prácticas de apropiacionismo crítico. Lo que todo esto denota es, además, la propensión de nuestro mundillo artístico a seguir, y a dictar, demasiado estrechamente las tendencias y vaivenes que imponen el mercado, la inercia y la pereza; en contraste con una pluralidad estética admitida y suficientemente apoyada en otros parajes
</p>

<p>Yendo a otros terrenos, respecto de la infografía, la realidad virtual y los nuevos medios interactivos y de telepresencia, cabría decir que le han «robado plano» al vídeo, incluso si han actuado sobre su mismo escenario; salvo que buena parte de la palabrería, la mística y la producción pseudoartística que actualmente comportan los cibermedia permanecen ajenos a la esfera del vídeo (consecuentemente independiente o experimental) y a la del arte y los medios alternativos. Sin embargo, sí es ciertamente uno de los campos colindantes y expandidos que se le abren al vídeo, y no solo al vídeo, ya que son varios los artistas de aquí que han comenzado a explorarlo en sus múltiples vericuetos: productos y espacios interactivos, virtualidad, CD-ROM, internet, etc. 
</p>

<p>También resulta en principio positivo el que se dé un renovado interés por los conceptos de cine independiente/alternativo y por solucionar ancestrales agujeros negros en la cultura audiovisual de nuestro país, aunque solo parezca haber cabida para las propuestas de índole más narrativa. Pero, nuevamente, el cine parece robarle terreno al vídeo en cuanto a una atención mediática que casi siempre ha sido minúscula o espuria, ahora con fuegos de artificio –súbita apología de los cortometrajes, los nuevos realizadores, o el cine de subgénero y basura– destinados a atrapar la atención de una cultura juvenil a la que se aprovisiona con precocinadas
«tentaciones». Finalmente, tampoco creo que puedan soslayarse las brumas de un reaccionarismo ideológico y estético (menos mal que Beuys o Varèse están muertos), o, en otro extremo, las del puritanismo de lo «políticamente correcto» que, afortunadamente, nos llega tolerablemente aligerado por los mares interpuestos
</p>

<p>Respecto a la situación logística del panorama videográfico, por desgracia sigue una pauta que cabría calificar de histórica si no fuera tan
«contrahistórica»: festivales, muestras, programaciones, publicaciones, distribuidoras, premios o ayudas nacen y mueren, llegan y se van; raramente alcanzan la estabilidad o siempre se sospecha de su probable fecha de caducidad, ratificando algo ya sabido: la caprichosa gravedad del péndulo institucional. Entre aquello en principio positivo, la apertura internacional de algunos festivales (Cádiz, Vigo, Las Palmas), la existencia de varias videotecas potablemente provistas (aunque un tanto encalladas algunas por la irregularidad de sus adquisiciones) y la oportunidad de articular programas e itinerarios de una cierta ambición. Entre lo más funesto, el vacío mediático y televisivo que se le hace al vídeo –con apenas excepciones que confirman la regla–, debiéndose llamar la atención sobre la minúscula, si no ínfima, presencia que tiene en la prensa (diaria y cultural), cuando casi cualquier otra forma de arte, cultura, ocio, afición o tentación sí
tiene un hueco regular, cuando no una sección fija. Por último, limitaciones ya suficientemente referidas y las leyes implícitas del orbe artístico-cultural restringen el aforo eficaz de la creación vídeo, muy por debajo de quienes aspiran a lograr una plaza en las primeras filas. Pero, en fin, abandonemos ya la contracultura quejica y vayamos a por lo que queda y más importa, que es el caudal videográfico de los últimos años
</p>

<p><b>Apoteosis y miseria del símbolo y la alegoría</b></p>

<p>El vídeo acude a menudo a un orden simbólico que sustituye al narrativo convencional y audiovisualmente hegemónico. El símbolo, en su acepción de signo arbitrario que representa a un objeto o significado (por ejemplo, el signo lingüístico, la letra), permite entonces recrear las libres deambulaciones del sueño, el poema, el pensamiento, mediante encadenamientos subjetivos, y acaso alguna vez automáticos, de imágenes (y sonidos) de las más variadas naturalezas y por los más diversos procedimientos; incluyendo el sistema en sí mismo simbólico de la imagen informática, por su naturaleza numérica, calculada
</p>

<p>El resultado de tanto simbolismo puede ser a veces harto críptico y hermético, y las precisas intenciones del autor quizá solo se adivinen a través de sus comentarios o sinopsis. (Otras veces, en cambio, el simbolismo es tan simple y obvio, que desprovee de toda intriga y atractivo a la obra). Por otra parte, tanto por una estricta relación de contemporaneidad como por arraigamiento en un contexto cultural más o menos común, en las obras de diversos autores aparecen y reaparecen ciertos símbolos, temas, referencias u obsesiones constantes. Motivos universales los unos, otros que acaso podrían tenerse por muy nuestros: por ejemplo, en ciertas visiones carnavalescas de la religión (<i>Cristo y tres tiros</i>, 1992, de Jacobo Sucari, a partir de un mordaz poema de Xavier Sabater), el sexo (<i>Ninfografía</i>, 1992, y otras piezas de Ignacio Pardo), o la muerte (<i>Tránsito</i>, 1988, del mismo Pardo; <i>Mortaja</i>, 1994, de Antonio Perumanes; <i>Ejercicios con velocidad</i>, 1992, de Dionisio Romero)
</p>

<p>Visto de otra manera, se comparten asiduamente unos temas y preocupaciones que diríamos universales, aunque no exentos de matices autóctonos, tales como los que atañen al cuerpo, la subjetividad, la memoria y, por no adelantar otros, los temas abisales de las heridas, llagas y abismos metafóricos, o metonímicamente bien reales, de la violencia o la muerte, enfermedades o plagas, y otros desequilibrios, abusos, crímenes e insanias
</p>

<p>El tema de la representación del cuerpo, por ejemplo –un aspecto en el que se ha insistido últimamente desde las artes visuales y el pensamiento–, permite contemplar el trabajo de algunos autores en relación con unos interrogantes abiertos por la candente actualidad de la biotecnología o de los llamados cibermedia. La obra reciente de Joan Pueyo o de Ignacio Pardo utiliza poderosas o modestas herramientas digitales (y, anteriormente, de lo más analógicas) del vídeo y la informática para procrear seres y órganos sintéticos, cuerpos y ambientes virtuales descabellados y, a menudo, un tanto inquietantes. 
</p>

<p>Y otros abismos menos abstractos han sido hurgados por diversos autores, como en el caso del sida (Juan Botas, un diseñador que murió víctima de dicha enfermedad en su adoptada residencia en Norteamérica; Javier Codesal, Koldo Aginagalde o, no tan directamente, Jana Leo o Julián Álvarez), o de la pura guerra, el militarismo y la violencia (Francesc Torres, Javier Codesal, Josu Rekalde, Marcelo Expósito, Joseantonio Hergueta, Jaume Subirana, Rogelio López Cuenca, Xurxo Estévez…)
</p>

<p>Pero, en el reverso de unos planteamientos éticos, inquietos y solidarios, en principio irreprochables, demasiado a menudo se advierte una excesiva credulidad en la imagen, en el supuesto potencial de un sistema de signos autónomo, para trasladar un exceso de interrogantes que acaban disolviéndose, muchas veces, en un mero ejercicio de estilo y de, si las hay, intenciones o intencionalidades. Y, en definitiva, basta leer los propósitos escritos de muchos autores, para advertir cuánto se confía en símbolos y alegorías
</p>

<p><b>Tierra adentro… y mares afuera</b></p>

<p>En cambio, la realidad externa más inmediata no parece atraer demasiado a nuestros videastas. El documental ha tenido una presencia minúscula entre el vídeo independiente español, que se diría que lo ha evitado, convirtiéndose casi exclusivamente en patrimonio de la harto adocenada producción institucional y de las televisiones.
Tampoco es que sean muy abundantes las realizaciones que ofrecen una mirada crítica a los hechos y situaciones que enturbian el pasado y el presente, o que simplemente suceden, dejando su crónica y comentario a los medios de comunicación y a los expertos en la materia
</p>

<p>Zapatero a tus zapatos, parece decirse; o, en nuestro caso, más bien:
videocreador, a tus vídeos. Solo que a veces tengo la impresión que estos vídeos –bastantes de ellos, al menos– no reflejan otra realidad y otros problemas que los que cada cual tiene en su cabeza, y en sus más cortos y cotidianos alrededores. Lejos de deslizarse hacia lo jovial, trivial o inocuo, empero, a menudo el autor nos quiere hace sentir todo el peso del mundo; aunque, demasiadas veces, con una inocencia desarmante, un manierismo almibarado, un mensaje trasnochado (por ello, un tanto oscuro y siniestro), que dan al traste con las mejores intenciones. Caricaturizo así un tipo de vídeo, del que no daré más pelos y señales, pero que me resulta de lo más familiar en el contexto al que me refiero (aunque no dudo que sucede similarmente así en muchos otros)
</p>

<p>Excepciones ante este estado de las cosas, obras que miren tierra adentro, las hay, pero son las menos. Dentro de un corte documental relativamente típico en su primera apariencia, <i>Sábado legionario</i> (1988), de Javier Codesal, o <i>La tierra de la madre</i>
(1993-1994), de Joseantonio Hergueta y Marcelo Expósito, significativamente preconcebidas en parte para su difusión en cauces televisivos (aunque, a día de hoy, ninguna de ellas lo haya conseguido). Ambas obras, por otra parte, presentan una fluida continuidad con las preocupaciones y estilemas hallados en otras realizaciones anteriores de sus respectivos autores y, en lo que a la segunda de las mencionadas concierne, apenas puede reprochársele la insuficiente, ya que pretendida, alusión a otros exilios y deportaciones en continua reedición, más allá del que constituye el argumento central de su propuesta
</p>

<p>Y puesto que no solo hemos de referirnos al espacio rigurosamente exterior como arena de los hechos y conflictos que nos afectan, cabe mencionar aquí un espléndido trabajo reciente de Jaime Vallaure y Rafael Lamata, <i>Siete cuentos para la Cárcel de Carabanchel</i>
(1995), que nos introduce tras las rejas del encierro punitivo, y que recoge varios de los hallazgos de anteriores trabajos, de más formal apariencia, del primero de sus autores, a la vez que proporciona fecundos motivos de reflexión sobre el encarcelamiento represivo y la liberación por el lenguaje y lo simbólico (en este caso, a través de la literatura: de los cuentos elegidos o aportados por los propios presos)
</p>

<p>Referirse a nuestra geografía, historia, cultura, no comporta por otra parte la renuncia a lo alegórico, a lo poético u a otros planteamientos exploradores e idiosincráticos. Sucede así con diversas obras de Francesc Torres, tales como <i>Belchite/South Bronx: un paisaje transcultural y transhistórico</i>
(1988) y <i>Sur del Sur</i>
(1992). O también con la instalación de Eugènia Balcells, <i>Exposure Time</i> (1989), que, siendo una meditación en abstracto sobre el curso del tiempo y los avatares de la memoria, lo es también sobre un artificioso proceso de transformación y regeneración (y acaso, como algunos denunciaron, especulación) urbana a mayor gloria de la Barcelona olímpica. Y, finalmente, otros autores han también afrontado realidades locales diversas, incluyendo a Antón Reixa, Daniel García Andújar y Pedro G. Romero
</p>

<p>Pero sabido es que el mundo es ancho y, así, también cabe referirse a diversas obras que se han volcado a otras realidades, otros paisajes y otras culturas… Viajes <i>imagineros</i>
con ojos curiosos, o que se interrogan sobre el propio desplazamiento y sobre el encuentro con otras culturas y costumbres; lo que a su vez tiene bastante que ver con la diáspora artística y profesional de algunos (de Muntadas o Torres a los Fontanilles, Herguera, Mera, Ruiz de Infante, Gil-Roig, Hergueta). Viajes y paisajes diversos e individualizados, pero que permiten entrever ciertas concomitancias:
los acercamientos paisajistas y etnovideográficos de Iñigo Salaberría (<i>La noche navegable</i>, 1993) y Enric Fontanilles (<i>Absence</i>, 1994) al continente africano, en sus visitas a Mali y Etiopía respectivamente; las reflexiones introspectivas suscitadas por el desplazamiento geográfico, cultural y lingüístico en obras de Francisco Ruiz de Infante (<i>Les choses simples</i>, 1993), Carlos Gil-Roig (<i>Uomo Blue</i>, 1993) y Manuela Sáez (<i>Autoportrai</i>t, 1991); los lugares y culturas descritos a través de los signos, los símbolos o los vestigios (<i>Pura Fe</i>, 1991, de Toni Serra;
<i>Los muertitos</i>, 1994, de Isabel Herguera; <i>Potser sí que tots som igual</i>s, 1993, de Maite Ninou y Xavier Manubens; <i>El primer viaje / cuatro días</i>, 1992, de Francisco Ruiz de Infante); las ciudades recorridas a través de su imaginería pública, mediática y tan a menudo arquetípica, como en el reciente <i>Marseille:
mythes et stéréotypes (Regard des regards) </i>(1995), de Muntadas, o en la primera entrega, dedicada a Buenos Aires
(1994-1995), del ciclo de los <i>Viajes imaginarios</i> proyectado por Jacobo Sucari; o también las recolecciones más cámara-en-mano y, si se quiere, más cercanas al reportaje o cuaderno de viaje, de
<i>La cuna del Daiquiri</i>
(1994-1995), de Pedro Ortuño, o del más posproducido <i>Diario Dogón</i> (1994), de Iñigo Salaberría
</p>

<p><b>Videoensayos:
metatextos y reflexiones</b></p>

<p>Una de las líneas más interesantes que advierto en nuestro panorama videográfico reciente, pero que más bien lo sería por la confluencia de una multitud de líneas cuyos orígenes podrían remontarse hasta el periodo incipiente y entusiasmado de mediados de los ochenta, es aquella que, rehusando los patrones audiovisuales hegemónicos de la narrativa de ficción, busca otra forma de discurso o metatextualidad que, aunque sin demasiada precisión, podría describirse como un equivalente al ensayo en cuanto a género literario y reflexión intelectual. (Al igual que otras obras, con una incluso mayor raigambre en el territorio del vídeo, pueden situarse más cerca de la intimidad subjetiva de la poesía, la prosa poética y la autobiografía). Me refiero a un conjunto de obras que, a veces partiendo de, o citando, unos textos de la más amplia gama
(literarios, filosóficos, estéticos, historiográficos… o mismamente audiovisuales), y entrecruzando diversos discursos propios y ajenos, disuelven los bordes entre los géneros supuestamente elementales (la narrativa, el documental, «lo experimental», etc.)
y se constituyen a menudo en collages textuales y, por extensión, audiovisuales
</p>

<p>Entre los insinuados, posibles precedentes no mencionados antes, incluiría
<i>Denantes</i>
(1984), de Manuel Abad, un ensayo/montaje sobre el pesimismo y las tendencias suicidas que anidan en Galicia; <i>Especial 84</i> (1985), de Manel Muntaner, una incisiva lectura-remontaje de la apocalíptica utopía de Orwell con un anclaje preciso en la prosa del mundo en un 1984 real y nada literario; y, con otro cariz, y si se me permite la inmodestia, mi <i>Duchamp
(retard en vídeo) </i>(1986-1987), una aproximación al arte y la vida de tan influyente (an)artista a partir de sus propios textos y otras escrituras. O aun la concepción de Francesc Torres de la instalación vídeo y multimedia como collage multidimensional y libro esculpido,<a class="sdfootnoteanc" name="sdfootnote9anc" href="#sdfootnote9sym">9</a>
ideas que también se transmiten a los métodos de montaje y a la cualidad mismamente ensayística de su producción monocanal
</p>

<p>Ejemplos más recientes de esta ensayística, que aborda temas tan variados como su referente literario, podrían ser: <i>The Borders of a Wound</i> (Los bordes de una herida, 1992), de Esther Mera, que parte de fragmentos tomados de textos de Kafka, para representar un vértigo interior, la escisión entre el lenguaje y la realidad y las heridas del sujeto contemporáneo; las dos entregas de <i>Derridatour
</i>(1992), de Lluís Catel, una aproximación visual a ciertos conceptos de la filosofía deconstructivista de Jacques Derrida, puesta en relación a su vez con las teorías del montaje del cine soviético; en cierto modo, el ciclo de trabajos de Marcelo Expósito sobre retazos históricos, detritos icónicos, y pretéritos políticos muy nuestros, pero sospechosamente diluidos por una cierta amnesia; <i>The Last Vehicle </i>(1994), de Pedro Ortuño, por lo que tiene de reflexión sobre, y después de, sus propias imágenes; o <i>Goya:
pintar hasta perder la cabeza</i>
(1995), de Emilio Casanova, un ensayo «operístico», sin acogerse a unos géneros y códigos específicos, donde los principales ciclos del artista que creó los <i>Disparates</i>
son recorridos mediante el hilo conductor de otros diversos disparates que rodearon sus póstumas y macabras desventuras
</p>

<p><b>Defensas y antivirus mediáticos</b></p>

<p>Otros temas y planteamientos con una honda implantación en el territorio videográfico siguen siempre presentes y hemos de creer que vigentes.
En primer lugar, en relación con la persistente necesidad de ejercer el derecho de réplica frente a los mensajes y masajes mediáticos;
uno de los derechos que se otorga el vídeo independiente y una de sus señas de identidad. Ejercicio que frecuentemente acarrea la apropiación y el desmontaje crítico, desmantelador, sarcástico, disparatado, más o menos idiosincrático, que bebe en diversas fuentes mediáticas y, con más ahínco, en el averno inane de las teletonterías y la recontrainformación. Y, aunque a veces poco llegue a aportarse respecto a lo archisabido y a una demonización que tiene su doble filo, está bien que sigan practicándose los saludables planteamientos de la crítica o la interrogación, la deconstrucción o el <i>détournement</i>, el masaje reparador o los antivirus mediáticos. Muntadas, un artista bien conocido por su frecuentación del paisaje mediático y de sus mecanismos invisibles, debe seguir siendo citado, no solo por su contribución a una orientación crítica tal, sino además por sus
últimas incursiones e intrusiones en nuestro propio paisaje de 625 líneas: <i>Video is Television?</i> (1989, para la serie <i>El arte del vídeo</i>
de TVE) y, más en especial, el aparentemente «viperino» <i>TVE:
primer intento</i> (también de 1989)
</p>

<p>Otros autores recrean el masaje –que no mensaje–, se acogen al zapping y al zipping (la intermitencia y la aceleración), al sobrevoltaje de las imágenes catódicas y mediáticas en general: Joan Leandre, Toni Serra, José Manuel Palmeiro, Núria Canal, Itziar Jarabo, y otras piezas de Luis Emaldi, Koldo Aginagalde, Natxo Rodríguez Arkaute y Pedro G. Romero, así como algunas de las primeras de Francisco Utray
/ Luis Lamadrid y de Jaime Vallaure. Para algunos de ellos, el
<i>scratch video</i>
de principios de los ochenta es una referencia admitida (o fácilmente identificable), y sus piezas de menor interés son aquellas que redundan superficialmente en ciertos rasgos característicos de tan discutida tendencia (calurosamente discutida, en efecto, en su lugar de origen: Gran Bretaña); por ejemplo, en cuanto a la repetición de breves «surcos» audiovisuales o a cierta evanescencia «pop». Pero también hay rasgos de suficiente personalidad y fuerza entre algunas o muchas de sus propuestas; y ello lo advierto especialmente en la cuantiosa obra de Joan Leandre, quien desarrolla su trabajo en forma de series de piezas más o menos breves, generalmente de un gran impacto –rayano a veces en una violencia psicosensorial destilada de las fuentes empleadas–, tanto individualmente como, más aún, cuando se contemplan en hilera. Por lo demás, otras de las piezas que me resultan más atractivas de entre este <i>neo-scratch</i>
autóctono producen un efecto embrollado e inquietante, más que la claridad de una tipología o un contraste analíticos: <i>Minnesota 1943</i> (1995), de T.Serra;
<i>C.H.A.O.S.</i>
(1995), de J.M. Palmeiro; <i>Conversaciones de salón</i> (1993), de I.
Jarabo; <i>5 saetas</i>
(1994), de Pedro G. Romero
</p>

<p>Otros aspectos que tienen cabida en la interpelación de los media, sus mensajes y masajes, son el humor sardónico (<i>O gato que está triste e azul,</i>
1994, de Xurxo Estévez), la «escuchimización» del medio (que no de la réplica: <i>Sin imágenes</i>, 1994, de Josu Rekalde, que es también una cinta sin sonido), la encuesta de las subjetividades (<i>Cartoon</i>, 1993-1994, de Txuspo Poyo, en el que diversas personas son interrogadas mediante una cámara de juguete Pixelvision sobre los dibujos animados de las factorías Disney, Warner, japonesas, underground y otras, en cuanto que proveedoras de privadas experiencias de formación y aprendizaje), o los ficticios o alertadores, siempre contrariadores, espots administrables en cápsulas de Javier Montero (<i>Lost in Heaven</i>, 1994) y Rogelio López Cuenca (<i>Segundos fuera</i>, 1994)
</p>

<p><b>Introspecciones, autorretratos y otras familiaridades</b></p>

<p>En un polo aparentemente opuesto, otra de las tradiciones o sendas del vídeo es la que se adentra en lo introspectivo, en el retrato y el autorretrato, en lo abiertamente autobiográfico incluso. Ciertos vídeos se orientan hacia la intimidad de la escritura, hacia un lenguaje poético rigurosamente personal (pero no necesariamente intransferible) en el que se funden textos, sonidos e imágenes. Son obras de una sinceridad que a veces puede resultar incluso molesta, por ajena o pedante. Otras obras apelan, en cambio, a una sutileza más específicamente visual, y sus autores, en lugar de citarse ante el espejo electrónico e instantáneo del vídeo, ceden a otros esa posición y lo que escriben es, parafraseando a Gertrude Stein, la
«autobiografía de todos». Aunque barajando aquí dos conceptos ligeramente distintos –la introspección o el autorretrato (en el sentido que Raymond Bellour ha dado al término) por un lado; por otro, el retrato en un sentido más abierto–, y estéticas harto diversas (desde una simplicidad lindante con la estética no reglamentada del vídeo doméstico, hasta los más elaborados procesos videográficos), todo ello puede englobarse bajo una acepción de vídeo personal –otra posible forma de designar gran parte del vídeo independiente, de creación, etc.– que sería respecto a la televisión lo que la poesía es al best-seller. (Solo que, ciertamente, abunda la «mala poesía», y hay «superventas»
con mucha honra)
</p>

<p>Algunos autores dignifican la estética apenas reconocida –por lo común sin otras pretensiones que las privadas– del vídeo casero-familiar y los medios más modestos, como en algunas piezas de Jaime Vallaure
(<i>Las fotos salen mejor sin ojos</i>, <i>Un regalín para la hija del portero</i>
o <i>Tía Berti</i>, todas de 1991) o en casi toda la obra de Juan Crego. En su género, son verdaderos «vídeos de primera» y redimen al mismo de los espantosos o triviales recuerdos, guasas y barbaridades que llevaron a la luz pública –y en gran parte propiciaron– aquellos programas-concurso televisivos de troceados vídeos domésticos que proliferaron hace escasos años. Crego, por su parte, estructura su mirada de las cosas cotidianas (paseos o viajes, su hijo, su entorno, la vida…) mediante unos patrones aritméticos rígidos o, a la inversa, según el más riguroso azar y «a ciegas» (mediante sucesivas sobregrabaciones en la misma cinta); realizando el montaje casi siempre en la propia cámara. En el fondo, sus vídeos versan sobre la mirada, la memoria y el recuerdo –la fijación y evanescencia de todo ello–, temas igualmente constantes en otros trabajos bien distintos, como los de Manuela Sáez (<i>Autoportrait</i>, 1991; <i>Recuerdos de feria</i>, 1992), Luis Prieto (<i>Only When I Close My Eyes</i>, 1993, y el film <i>In Search of the Absence</i>, 1994), Enric Fontanilles (<i>La extensión del instante</i>, 1993) o Raúl Bajo (<i>Me gustaría que todo esto terminase de una vez</i>, 1995). En cuanto al concepto de vídeo-retrato, este cobra una pluralidad de matices –el retrato familiar, el autorretrato, el cuasi fotográfico, el hipereditado, el autobiográfico– en las piezas de varios de los autores mencionados, y de otros como Susana Rabanal o Joan Pueyo
</p>

<p>En los vídeos de Francisco Ruiz de Infante, Joseantonio Hergueta, o Carlos Gil-Roig (al menos en la línea más íntima de su <i>Uomo Blue</i>) –que asimismo pueden verse como autorretratos–, advierto, por último, una cualidad más literaria, y siempre cobra un especial relieve el texto, la escritura, la expresión narrativa –más bien en forma de prosa poética– de una agitación interior; ya sea en primera persona, en un tiempo neutro o en un desdoblamiento dialogado.
Escritura que, en las obras de Hergueta y Ruiz de Infante, se visualiza a menudo como tal: como texto escrito (y a veces manuscrito), en desfile superpuesto a las imágenes; con frecuencia difícil de seguir por su rápida cadencia, o por una acumulación de líneas o voces (e imágenes) simultáneas. Esta ilegibilidad deliberada no es sino un elemento del bosque de metáforas en el que nos adentra la obra de cada uno de estos autores. Introspecciones poéticas en las sensaciones, las vivencias, los interrogantes del día a día –sin evadirse de la prosa del mundo–, donde se trata de la carencia y el deseo, la perplejidad y el desasosiego, el temor y la muerte, la añoranza y el extrañamiento, la fugacidad de las cosas, los viajes imaginarios y las memorias fingidas..
</p>

<p><b>Otras filiaciones y encrucijadas</b></p>

<p>Las relaciones de intertextualidad con otras artes, disciplinas, medios de expresión, constituyen asimismo toda una tradición en el campo del vídeo (y el cine) independiente. Junto a una cierta empatía con las artes plásticas –que, de muy diversos modos, sigue presente en trabajos de artistas como Carles Pujol, Benet Rossell, Xabela Vargas, Toni Milian y Teresa Picazo, o en las animaciones de Isabel Herguera o Rosa Silva, y en otras incursiones y nuevas incorporaciones–, se observan otras intersecciones del vídeo con la poesía, la acción o performance, la danza y, por supuesto, la música. Antón Reixa, todo un hombre-orquesta cuya actividad abarca la literatura, la música, la escena y la imagen, retomó con <i>Ringo Rango</i> (1990) todo el nervio poético y el enérgico arrojo iconoclasta de su <i>opera prima</i> de cinco años antes, <i>Salvamento e socorrismo</i>, ahora con unos medios incomparablemente mejores, aunque uno eche en falta el
<i>plein air</i>, o «aire libre exterior», y la mayor variedad que aquella presentaba visualmente
</p>

<p>En cuanto a la videodanza y el vídeo musical, en mi opinión han ido adquiriendo una condición genérica más autóctona y, algunas veces, demasiado servil. Si el concepto engarzado de videodanza (a veces con una barra o un guión de por medio) sugería inicialmente una comunión exploradora entre ambas prácticas, actualmente lo que parece abundar es el producto de acabado irreprochable, con una calidad formal apta para una televisión cultural y de «buen gusto»
(y que, efectivamente, se da en forma de brechas), pero excesivamente subsidiario de la coreografía y la ejecución de sus intérpretes como para ir mucho más allá del vídeo de o sobre danza. Con todo, sí han surgido algunas obras interesantes en una escala de interacción elevada a otra potencia, por parte de Lola Puentes, Joan Pueyo, Jordi Teixidó, Marisa Brugarolas, Mariana Jaroslavsky u Olga Mesa (si agrada lo más ampuloso y amanerado, también las de Manuel Palacios), entre otras gentes del vídeo, la danza y su potencial unión coreo-vídeo-gráfica. Del videoclip, por otra parte, un formato del que no voy a hablar aquí, se apartan algunos trabajos y usos, próximos a la noción más vasta de música visual, como los de Gringos o Miquel Jordà
</p>

<p><b>Lectura del contador</b></p>

<p>En esta aproximación, que aquí concluyo, a la orografía actual de nuestro territorio videográfico no he pretendido, obviamente, dibujar un mapa a escala 1:1. He hecho mención a varios nombres y obras, pero si he insistido más en unos/as que en otros/as es por una sencilla razón de mayor entusiasmo y compenetración personal, en términos de apreciación estética y de otros planteamientos. (De paso, facilitando otras pistas y nombres que las abordadas y los cribados en el programa de <i>Señales de vídeo</i>, y descubriendo varios de los nombres y títulos que tuve en consideración)
</p>

<p>La medida vectorial, en resumen, ha dado unos resultados acordes con los estándares hoy exigibles y las tolerancias admisibles. Y, aunque las señales se generen esencialmente por la impulsión propia de quienes las emiten, a fin de cuidar e incluso elevar su nivel, reducir interferencias y ruidos espurios, será aconsejable atender a la renovación de las herramientas, a las reparaciones en lista de espera y, siempre, a la positiva confianza en el estado de mantenimiento. Lo que este técnico suscribe y rubrica para dejar constancia del estado de las cosas y las expectativas en el éter de las señales de vídeo
</p>


<div id="sdfootnote1">
	<p>1</a>
	</p>
	<p>La
	recapitulación historicista que distingue tres épocas,
	generaciones u olas es recurrente en y para diversos contextos.
	Véanse por ejemplo los ensayos de Philippe Dubois («El vídeo de
	creación en Bélgica: enfoque histórico, 1970-1990») y Jean-Paul
	Fargier («Las tres edades del vídeo francés»), además de mis
	«Notas para una contrahistoria del vídeo independiente español»,
	en el volumen <i>Televisión
	y vídeo de creación en la Comunidad Europea</i>
	(catálogo de las exposiciones Panorama Europeo del Videoarte y
	Palmarés TV), ed. José Ramón Pérez Ornia, Madrid: Consorcio para
	la organización de Madrid Capital Europea de la Cultura 1992.
	Resulta bastante obvio que esta coincidencia se debe a que en un
	buen número de países los trazos de actividad videográfica
	abarcan ya tres décadas
</p>
	<p>
	</p>
<div id="sdfootnote2">
	<p>
	Se
	trató de una improvisación con varios monitores y un sistema de
	circuito cerrado (y, por lo tanto, del todo efímera y sin registro
	magnético) y se incluyó en una sesión de la subterraneidad
	barcelonesa de aquel entonces, dedicada a los films
	familiares-experimentales-psicodélicos que los Duran realizaban en
	pequeños formatos. Aunque el dato no tenga mayor relevancia, lo
	destaco aquí porque, aunque ya lo había introducido en otros de
	mis escritos, he comprobado que sigue ignorándose en tesis y otros
	textos en los que se manejan referencias al periodo jurásico del
	vídeo en España
</p>
	<p>
	</p>
<div id="sdfootnote3">
	<p>
	Montes-Baquer,
	que tuvo una formación musical al igual que Paik, conoció a este
	en Alemania. Tras una estancia como investigador en la BBC (1962),
	trabajó en diversas compañías de radiotelevisión y discográficas
	en Alemania, más brevemente para TVE, y desde 1967 es productor y
	realizador en la WDR de Colonia, habiéndose especializado en
	programas musicales siempre distinguidos por su buen hacer y con un
	cierto componente experimental e innovador
</p>
<div id="sdfootnote4">
	<p>4</a>
	</p>
	<p>
	Son
	de destacar especialmente las muestras que tuvieron lugar en el
	Colegio de Arquitectos de Barcelona de 1978 a 1980, con el apoyo
	también de otras instituciones (entre ellas el Instituto Alemán de
	Cultura, entonces un aliado esencial): «Vídeo, entre l’art i la
	comunicació..Sèries informatives, 1», en 1978, y «Vídeo, el
	temps i l’espai. Sèries informatives, 2», en 1980. Esta última
	incluyó la novedosa primicia, entre nosotros, de un considerable
	apartado de instalaciones, con obras de Juan Downey, Dan Graham,
	Wolf Kahlen, Shigeko Kubota y Muntadas. Entre tanto, el grupo
	Video-Nou organizó el año 1979 unas Jornades de vídeo comunitari,
	previas a su constitución en Servei de Vídeo Comunitari, mediante
	convenios con el Ayuntamiento y otras entidades barcelonesas
</p>
	<p>
	</p>
<div id="sdfootnote5">
	<p>
	Por
	ejemplo, en cuanto a la variedad de secciones y temas abordados, a
	la presencia de artistas y expertos de relieve mundial, y a una
	notoria atención a las instalaciones y otras formas expandidas. Por
	otro lado, con una mayor repercusión mediática circunstancial de
	los eventos de San Sebastián y Madrid
</p>
	<p>
	</p>
<div id="sdfootnote6">
	<p>
	Un
	menú: cardos, alubias de Tolosa, vídeo y muzak,
	,
	núm. 6 (1988)
</p>
<div id="sdfootnote7">
	<p>7</a>
	</p>
	<p>
	El
	catálogo <i>Bideoaldia
	89 / Manual de instrucciones (II</i>),
	Tolosa, 1989, resulta particularmente valioso por su cualidad
	prácticamente monográfica de revisión del panorama videográfico
	en el conjunto del Estado y en algunas de sus macrozonas, incluyendo
	textos diversamente objetivos o subjetivos, hasta los contrapuestos
	extremos de sendos excesos sarcásticos por parte mía («Vídeo
	español, el mejor vídeo de España») y de José Manuel Palacio
	(«El vídeo español es el mejor del mundo»)
</p>
	<p>
	</p>
<div id="sdfootnote8">
	<p>
	Destilo
	estas palabras (no todas transcritas en su rigurosa literalidad) de
	entre dos de sus escritos: «Vídeo español: del “autor
	insatisfecho” a la “televisión neoliberal”», en <i>Ars
	Video</i>,
	núm. 13-14: Especial Videocombate (mayo 1992); y «Apuntes
	actualizados para una “contrahistoria”», publicado de manera
	muy mutilada y con otro título («Reajuste general») en 
	20, núm. 92: El vídeo de creación en España (monográfico)
	(diciembre 1992)
</p>
	<p>
	</p>
<div id="sdfootnote9">
	<p>
	Francesc
	Torres: El
	espacio de la instalación: Una práctica equívoca,
	<i>El
	País</i>
	(suplemento )
	(17 de febrero de 1990)
</p>
