  <p> <b>Del otro lado de la pantalla: Douglas Davis</b></p>
<p>  </p>
<p>  </p>
<p> Bertolt Brecht señalaba, en su ensayo <i>Teoría de la radio</i>
(1932), que la radiofonía se había desarrollado como medio unidireccional más por decisión política que por cuestiones económicas o tecnológicas, y proponía en consecuencia la transformación del medio de distribución en medio de comunicación.</p>
<p>  </p>
<p> En 1957, en una mesa redonda titulada «The Creative Act» y organizada por la American Federation of Arts, un «pobre artista» llamado Marcel Duchamp señaló la contribución del espectador como parte integral del proceso artístico.</p>
<p>  </p>
<p> La obra de Douglas Davis se hace eco de esas cuestiones, por otro lado esenciales para un arte que trabaja sobre los actuales sistemas de comunicación.</p>
<p>  </p>
<p> Douglas Davis es crítico de arte
(ha escrito para <i>Newsweek
</i>y <i>Artforum</i>, entre otras publicaciones) y autor de algunos libros de gran interés informativo y polémico (como <i>Art and the Future: A History/Prophecy of the Collaboration between Science, Technology and Art</i>, de 1973, y <i>Artculture: Essays on the Post-Modern</i>, de 1977). Además, como artista trabaja con distintos medios y es especialmente conocido por sus propuestas en el campo del vídeo y la televisión.</p>
<p>  </p>
<p> En la Bienal del Whitney de 1985 nos sorprende con un film que a su vez hace referencia a otros tres, a tres clásicos de distintas épocas del cine (<i>M</i>/Lang, <i>Psicosis</i>/Hitchcock, <i>Hiroshima, mon amour</i>/Resnais). No conozco esa cinta, pero, a juzgar por lo que escribe su autor, cabe esperar una total coherencia con su obra anterior, desde programas como <i>Electronic Hokkadim</i>, <i>Talk Out!</i> y <i>The Austrian Tapes</i> hasta las más recientes experiencias de telecomunicación y bidireccionalidad instantánea.</p>
<p>  </p>
<p> Davis ha contado que su reflexión sobre la televisión empezó un día en el que, estando bebido en una fiesta, se puso a mirar un televisor por detrás, con la luz de la emisión reflejada en los rostros de quienes lo veían por delante.
Posteriormente, el artista materializaría esa imagen en una escultura/ready-made: un televisor «de cara a la pared» en el espacio de una galería. ¿Castigo simbólico-conceptual para el medio de comunicación más poderoso de nuestros tiempos o arte lumínico minimalista y chorra?</p>
<p>  </p>
<p> El arte de D. Davis está enraizado en la encrucijada entre los distintos movimientos inmaterialistas y la explotación de nuevos medios y tecnologías. Sus primeros trabajos en vídeo estudian formalmente las posibilidades y las cualidades de la imagen electrónica, pasando de una experimentación densa y colorista con el videosintetizador de su amigo Nam June Paik
(<i>Numbers</i>, 1970) a unos más austeros <i>Studies in Black and White</i> y
<i>Studies in Color Videotape</i>, realizados en los años 1971-1972.</p>
<p>  </p>
<p> De esa época son también dos emisiones televisivas en directo, <i>Electronic Hokkadim </i>(WTOP-TV, Washington, 1971) y <i>Talk Out!</i> (WCNY-TV, Siracusa, 1972), abiertas a cierto grado de participación de los espectadores mediante las líneas telefónicas. Según algunas fuentes, <i>Electronic Hokkadim</i> fue el primer programa bidireccional en directo presentado por una televisión.</p>
<p>  </p>
<p> Los siguientes vídeos de Davis examinan distintas propiedades, elementos inmateriales y características del medio, al tiempo que intensifican la utopía hipotéticamente posible de una comunicación directa e inmediata.
Pero suscitan también una serie de contradicciones en torno a la virtualidad y la realidad de las capacidades e incapacidades de los medios audiovisuales electrónicos. La negación y la contradicción se entienden como parte de un proceso de reflexión e investigación.
En ese sentido, el artista escribe: «Al ponernos en contra de algo, o de alguien, forzamos la aparición de unos atributos que de otra forma no habríamos tenido presentes».</p>
<p>  </p>
<p> Con los trabajos del periodo 1973-1974 (<i>Studies in Myself </i>y la serie <i>Tapes</i>, que realiza en Santa Clara, Austria, Colonia y Florencia), Davis establece una ambigüedad dialéctica que oscila entre la dimensión
íntima, personal, del vídeo y el instinto gregario del comportamiento social, y entre cierto fetichismo de los elementos materiales del vídeo y la televisión (la cámara y el monitor o receptor) y su desmistificación.</p>
<p>  </p>
<p> Una cinta clave de ese periodo es
<i>The Austrian Tapes </i>(1974), que se emitió en la ORF-TV austríaca y donde Davis invitaba al espectador a participar (desde su hogar) en una serie de acciones corporales que constituían un desafío simbólico a la pasividad y la distancia del público. («Acérquese al televisor. [...] Ponga las manos sobre las mías. [...] Apriete los dedos contra la pantalla. [...] Piense en lo que eso significa.»)</p>
<p>  </p>
<p> La pantalla como mediación-barrera y la pantalla como mediación-comunicación directa, ese es el contraste que se subraya en <i>The Austrian Tapes</i>.
Posteriormente, Davis ha reincidido en numerosas ocasiones en ese concepto, de formas similares o análogas. Además de <i>The Florence Tapes</i>, secuela directa de <i>The Austrian Tapes</i>, se reencuentra en las distintas experiencias de Davis con la televisión por cable y por satélite: <i>Three Silent and Secret Acts </i>(1976)
y <i>Four Places, Two Figures, One Ghost</i>
(1977), ambas en Manhattan Cable TV; <i>The Last Nine Minutes</i> (1977), parte del programa televisivo inaugural, retransmitido por satélite, de la exposición Documenta de Kassel, y el título más provocador y significativo entre los mencionados, <i>How to Make Love to Your TV Set</i>
(1979), realización presentada originalmente a través del primer sistema de televisión por cable con capacidad bidireccional instalado en el mundo, el Qube System de la ciudad de Columbus
(Ohio).</p>
<p>  </p>
<p> Entre los trabajos más recientes de Douglas Davis cabe mencionar <i>Double Entendre</i> (1981), presentado originalmente como una doble performance simultánea en el Centre Pompidou de París y el Whitney Museum de Nueva York, mediante la interconexión y el intercambio por satélite de ambas ejecuciones. En ese caso, Davis partió de uno de los textos más brillantes de Roland Barthes (los <i>Fragmentos de un discurso amoroso</i>) y estructuró la performance como un largo diálogo entre un hombre (él mismo) y una mujer, cada uno en una ciudad distinta y expresándose en su propio idioma. Aunque la pieza se basaba principalmente en el lenguaje verbal (pero no solo en un aspecto semántico, sino también como sonoridad y símbolo de distancia —y, a la vez, posibilidad de comunicación— espacial, idiomática, sexual), su clímax se traduce en una imagen en la que podemos advertir el ingenio y el fino sentido del humor subyacentes en la obra de Davis: cuando la fuerza de la pasión hace ya irresistible el deseo de ir al encuentro del otro, ¡Davis emprende el vuelo como un Superman cualquiera!</p>
<p>  </p>
<p> Y es que, como decía Jean-Paul Fargier a propósito de Paik, pese a su etimología latina la palabra
<i>vídeo</i> no quiere decir <i>yo veo</i>, sino más bien <i>yo vuelo</i>...</p>
<p>  </p> </body> </html>