
<p>
<b>Cine decadente: un nuevo expresionismo</b></p>

<p>
, núm. 13 (1975)</p>

<p>
Una de las corrientes más peculiares surgidas en los últimos años dentro del ancho campo del cine marginal, es la que se ha bautizado con el nombre de
«decadentismo» o «neoexpresionismo» y que procede fundamentalmente de la obra de dos alemanes: Rosa von Praunheim y Werner Schroeter
</p>

<p>
Este grupo de autores y obras que se ha englobado bajo tales denominaciones ofrecen unas características especiales dentro del ámbito de la producción marginal
</p>

<p>
En primer lugar, ideológicamente, mantienen posturas fuertemente ligadas a grupos marginales radicales, principalmente al Gay Lib
</p>

<p>
En segundo lugar, es un cine que tiene una serie de vínculos formales con el cine establecido: 
</p>

<p>
– Concede gran importancia al actor. Incorpora las míticas del «estrellato»:
la pose, el maquillaje, etc
</p>

<p>
– Introduce el barroquismo en la imagen a través de escenografías recargadas y del uso de la película en color
</p>

<p>
– La banda sonora se organiza en función de una serie de temas musicales, signos de una cultura:
óperas, música de películas de Hollywood, música y canciones de las llamadas «populares», temas orquestales, tangachos, etc
</p>

<p>
– El papel del montaje es de gran importancia
</p>

<p>
En términos generales se puede advertir que se trata de un cine que se opone al de Jean-Marie Straub, por ejemplo, quien propone un vaciamiento de la imagen y una simplificación de las estructuras del mensaje, con la intención de ofrecer unas informaciones mínimamente manipuladas por el aparato de expresión. Sin embargo, como veremos más tarde, se produce una ruptura con todos los elementos del cine establecido; y, a pesar de ello, resulta digerible
</p>

<p>
En tercer lugar, estos realizadores
(hablo de Schroeter y Von Praunheim) han tenido amplio acceso a canales inimaginables dentro del underground, como son la televisión y la producción comercial. Asimismo, el suizo-alemán Daniel Schmid realiza su obra en el marco de la producción comercial, aunque con grandes dificultades debidas a la situación de la industria cinematográfica en Suiza
</p>

<p>
Respecto a los puntos de vista circulares sobre el «decadentismo» –según los cuales nos encontramos ante una revalorización retro, nostálgica y algo irónica de una estética kitsch, una vuelta al Kammerspiel y a Josef von Sternberg–, me parecen más interesantes aquellos que tratan estas obras como operaciones de codificación-descodificación de la gramática visual del melodrama
</p>

<p>
Esta preocupación por el estudio de una serie de signos fílmicos, portadores de una determinada información, es una de las tendencias más rigurosas que podemos encontrar en el underground alemán, en los diversos niveles del film estructural (Werner Nekes, Wilhelm y Birgit Hein), del informalismo
(Dore O) o del cine personal (Klaus Wyborny, Gerhard Theuring)
</p>

<p>
Para delimitar el campo de trabajo, me basaré en obras de Von Praunheim, Schroeter, Schmid y en un film de un español residente en París, <i>Les intrigues de Sylvia Couski</i>
de Adolfo Arrieta
</p>

<p>
Rosa von Praunheim<i>,
</i>cuyo verdadero nombre es Holger Mischwitzky ha sido ayudante de Gregory Markopoulos y ha colaborado ampliamente con Werner Schroeter. Un ejemplo de sus primeras obras se pudo ver en la Filmoteca con el título <i>Von Rosa von Praunheim</i>. Una de sus obras más conocidas es el film-documento titulado <i>No es el homosexual el perverso sino la situación en que vive; </i>Von Praunheim realizó también un estudio sociológico sobre la homosexualidad en Alemania. En 1973 rueda en 35 mm una versión de una obra de Auguste Villiers de l’Isle-Adam, <i>Axel Von Auersberg</i> (estrenada el año pasado en París con el título de <i>Axel</i>).
La película, extremadamente lenta, está dividida en dos partes; la primera en un blanco y negro azulado y la segunda, en color. Los subtítulos escaseaban intencionalmente, ya que el realizador manifestó que solo era necesario tener una idea del argumento y fijarse sobre todo en la pantalla, en los actores y en los decorados
</p>

<p>
Werner Schroeter<i>
</i>inicia su producción en 1967-1968 trabajando en 8 mm. Luego pasa al 16 mm con <i>Argila</i>
y <i>Neurasia</i>
(esta última proyectada también en la Filmoteca el año pasado).
Luego viene <i>Eika Katappa</i>, que tras obtener un premio en el festival de Mannheim, es comprada por la televisión y es emitida dos veces; una de ellas, la noche de Navidad. La televisión le contrata y produce cuatro películas con toda libertad. <i>Macbeth</i>, originalmente sobre banda vídeo, causará un pequeño escándalo debido a la versión musical que Schroeter hace de la obra de Shakespeare con tangos y boleros. Tras realizar dos importantes obras en 1972, <i>Der Tod der Maria Malibran</i> y <i>Willow Springs</i>, pasa a la producción comercial con una película que llevará el título de
<i>Todos los marinos del mundo</i>
</p>

<p>
La obra de Schroeter va aumentando en perfección. En sus declaraciones revela un cinismo característico:</p>

<p>
«El anarquista es el <i>clown</i>
de la burguesía.»</p>

<p>
«Soy tan individualista que ni siquiera puedo ser anarquista.»</p>

<p>
«La decadencia es impresionante y yo formo parte de ella, quizá por mi origen burgués y mi cultura&nbsp;específicamente germánica.»</p>

<p>
«Hay que pasar de las etiquetas de buen y de mal gusto, pues ya estamos cansados de ver cosas estéticamente perfectas con las cuales uno no se comunica.»</p>

<p>
&nbsp;</p>

<p>
Otro elemento característico de Schroeter es el uso de ciertos actores fijos como Magdalena Montezuma, Carla Aulaulu, Gisela Trowe, Mascha Elm-Rabben y los travestis Manuela Riva y Candy Darling
</p>

<p>
Daniel Schmid, suizo-alemán, expone una visión refinada y conserva un cierto hilo narrativo que da a su obra una mayor fluidez frente a los films de Schroeter. Los largometrajes de Schmid, <i>Heute nacht oder nie </i>(Esta noche o nunca) y <i>La Paloma</i>, este último estrenado recientemente en Barcelona, muestran un trabajo cuidadoso de reconstrucción de un melodrama a partir de los arquetipos configurados. Por otra parte, en <i>La Paloma</i> hallamos una construcción muy diferente a la de <i>Eika Katappa</i>
</p>

<p>
Adolfo Arrieta bebe del decadentismo en su <i>Les intrigues de Sylvia Couski</i>, donde la presencia de los travestis, junto con la banda sonora y un montaje muy deslavazado dan una visión de un París sofisticado y con mucho
<i>glamour</i>
</p>

<p>
El film de Arrieta, que fue programado en la Filmoteca a primeros de este año, reúne las suficientes características para convertirlo en un film chocante y un tanto indigesto.<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a>
</p>

<p>
A pesar de todo, el film de Arrieta ha tenido un gran éxito y después de ganar un premio en el sector de «cine diferente» del Festival de Toulon, se ha paseado por varias cinematecas y está previsto su estreno en una sala especializada de París
</p>

<p>
Se observa, pues, un cierto éxito del cine decadente, lo que demuestra que el factor provocación ha sido desplazado en buena medida del modelo surrealista cinematográfico. La asincronía de Schroeter, los planos secuencia y el montaje-collage son barridos en parte por la fascinación de la imagen y el sonido
</p>

<p>
Se advierte la aceptación de comercializar la obra como respuesta a uno de los problemas básicos del underground: el nivel de difusión y la necesidad de profesionalizar el trabajo cinematográfico, en el sentido de vivir de ello
</p>

<p>
Precisamente los autores citados, junto a algunos otros como Hans-Jürgen Syberberg, son quienes muestran una mayor proclividad dentro del cine de alternativa, a integrarse en la producción comercial, frente a otros que lo intentan, y frente a otros que lo ignoran. El mismo Arrieta parece mostrar un cambio de dirección frente a su línea anterior
</p>

<p>
Un texto significativo es el de Rosa von Praunheim en el catálogo de la Documenta de Kassel de 1972. (Cito de un artículo de Martin Langbein sobre la vanguardia alemana en <i>l’Art vivant</i>, núm. 55):</p>

<p>
«El cine underground o experimental muestra con qué arrogancia se sobreestima el arte. Revela, por otro lado, el poder político que dan unas técnicas cinematográficas simples, cuando están en manos de las masas. […] Espero, para mí
y para mis admiradores, una muerte joven y terrorífica, para dejar paso a una nueva disciplina al servicio de las auténticas necesidades comunes.»</p>

<p>
Este texto, que plantea claramente un cambio de sentido hacia una posición de cine militante a partir de la confrontación con la propia práctica fílmica, no me parece muy coherente con su posterior <i>Axel</i>, aunque no conozco los restantes films de Von Praunheim, lo cual podría proporcionar un indicio de la asimilación por el sistema a que aludía antes
</p>

<p>
<i>Eika Katappa</i></p>

<p>
El primer film clave de la obra de Schroeter y quizá de este pretendido movimiento es <i>Eika Katappa</i>. Si en <i>Neurasia</i>
la acción se reducía al desarrollo de unas ceremonias gestuales basadas en la música con una filmación «teatral», en su obra siguiente, Schroeter construye una intriga basada en diversas series de acciones que aluden a mitologías de tipo operístico, germánicas, religiosas y de «culturas populares», y que son enlazadas casi aleatoriamente según la técnica del film-collage. La repetición de planos y las sucesiones de los siete motivos básicos, junto con una banda sonora montada asincrónicamente, estructura un nivel narrativo
«experimental» que se obtiene por las distintas relaciones entre los signos, los cuales, a su vez, remiten a los recuerdos, imágenes o intuiciones de cada espectador. En realidad, la construcción arbitraria elimina o intenta eliminar cualquier argumento previo, mediante estos planos que se suceden de distintos lugares, personajes y tiempos, únicamente unidos por la música de Verdi, Puccini, Strauss, Mozart, Beethoven, Caterina Valente… Arias, pasodobles, melodías, sinfonías y muzak
</p>

<p>
La comparación inevitable con algunos films de Carmelo Bene se resuelve en un uso totalmente diferente de los elementos mitológico-operísticos; un uso distanciado y destructivo en Bene, que lo aleja de los «decadentes»
</p>

<p>
Schroeter reduce en cierto modo el hecho fílmico a una sucesión de imágenes (signos) y de sonidos, en que estos últimos ordenan la temporalidad. Esta relegación a una pura sucesión de imágenes remite a otro nivel señalado ya por diversos críticos y que explica el mismo realizador: «<i>Eika Katappa</i> es un poema cuyo contenido no es otro que los gestos de la vida y de la muerte, así
como de la locura. Es un ritual físico, riguroso, elemental, pero no puritano.» Dicho de otro modo, es un film erótico. 
</p>
<div id="sdfootnote1">
	<p>
	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
	Sobre
	Arrieta trata otro artículo publicado en un número posterior de la
	misma revista («Adolfo Arrieta: el underground reencontrado en
	París», ,
	núm. 23, Barcelona, 1977), en el que, sobre el film mencionado, se
	añadía lo siguiente: «Con <i>Les
	intrigues de Sylvia Couski</i>,
	Arrieta alcanzó un notable .
	El retrato fascinado de un París donde emergen las nuevas “reinas”,
	el trivialismo y el 
	que acotan un esbozo narrativo del que solo restan unas huellas
	recortadas, ofrecían una nueva versión de los universos coloristas
	dominados por los fulgurantes personajes-estrella de los travestis y
	los jet-boys.» [Nota del autor, 2014]</p>
	<p>
	</p>
