  <p> <b>Televisión y vídeo, artes en sociedad limitada </b> </p>
<p>  </p>
<p> Hay que reconocerlo: la televisión es una práctica artística de pleno derecho. La televisión es un arte del mismo modo que muchos de los que aparecen en ella son artistas (televisivos o multidisciplinares, puestos que muchos se dedican asimismo al teatro, al cine, a la radio, cantan y bailan, etc.). También están los periodistas, pero muchos además son escritores y, al fin y al cabo, artistas. Incluso los figurantes pueden aspirar a algo más.
De todos modos, si las palabras grandilocuentes provocan recelo, siempre disponemos de un símil tan acertado como el de «animales televisivos».</p>
<p>  </p>
<p> Toda la televisión es un surtidor ininterrumpido y abundante de cultura, información y entretenimiento. Un nido de arte, cálido y acogedor, que pone en práctica sin reservas los idearios del antiarte o la desaparición del arte, y en juego constante el metalenguaje, el mestizaje y la autorreferencialidad (que en el medio se llama <i>autopromoción</i>); rasgos característicos de los movimientos más radicales en la historia del arte moderno/contemporáneo.</p>
<p>  </p>
<p> La televisión también se parece a numerosas prácticas, tendencias, expansiones del arte contemporáneo por la incomprensión, la maledicencia y los recelos que despierta. En el campo artístico, eso se manifiesta mediante caricaturas y mofas, y con un rechazo que lo convierte en minoritario. En el caso de la televisión se juega con palabras –que si caja tonta o boba, que si telebasura o teleporquería–, se la juzga intelectualmente pero, en cambio, las cifras de audiencia son comparativamente enormes.</p>
<p>  </p>
<p> No obstante, la televisión es un arte sustentado industrialmente (y todavía hoy por las administraciones públicas) que tiende al adocenamiento genérico; con frecuencia en un grado entre
<i>pompier</i>, <i>kits</i><i>ch</i> y cañí, por hablar en términos meramente estéticos (y a partir de la dieta que nos imponen las televisiones españolas y autonómicas, licenciosas escapadas vía satélite aparte). La televisión, como arte, tiene una inclinación daliniana y está <i>ávida</i> de audiencias y publicidad.</p>
<p>  </p>
<p> La televisión pública siempre ha tenido la mala conciencia de no ser una televisión educadora, sino a menudo embrutecedora, y por eso ha preservado algunas islas para la información, el entretenimiento y la creación de calidad, de buen tono o, incluso, de cierto riesgo. El Channel 4 británico, en su fase inicial, y la cadena francoalemana Arte introdujeron lo que podríamos denominar <i>televisión de arte y ensayo</i>, y con la televisión de la abundancia
(por satélite y cable) al menos se multiplica la posibilidad de encontrar otros agujeros negros de antimateria catódica.</p>
<p>  </p>
<p> Sin duda, ha habido y hay un buen puñado de realizadores y productores, profesionales de la televisión o que se han sentido atraídos por el tubo y se han adentrado en él, entregándose a la experimentación y a la inventiva, a la introducción de temas arriesgados y de formatos innovadores. Algunas personalidades singulares por su renombre, incluso como «figuras de culto», son Jean-Christophe Averty en Francia, el catalán Josep Montes-Baquer en Alemania, Wim T. Schippers en Holanda, Stefaan Decostere en Flandes o, más lejos en el tiempo, Ernie Kovacs en Estados Unidos.</p>
<p>  </p>
<p> Por otro lado, desde el cine ha habido y hay aportaciones muy incisivas sobre los horizontes y los retos de la televisión (y de los medios electrónicos en general y por extensión): de Rossellini y Renoir a Godard y Kluge, Marker y Larcher, Greenaway y Lynch, etc.; del docudrama didáctico al
<i>pseudocumental</i>, del docuensayo al criptoculebrón…, formatos nuevos, insólitos o desbaratadores cuyos nombres hay que inventarse o crear a base de combinaciones de otros.</p>
<p>  </p>
<p> Pueden destacarse asimismo algunas aportaciones radicales desde la dramaturgia o la música, como los
<i>dramaticules</i> televisivos de Samuel Beckett (la televisión y el videoarte cuentan, por consiguiente, con un auténtico premio Nobel), los minidramas en cápsulas de Robert Wilson, las óperas televisuales de Robert Ashley: referentes específicos o «expedientes X» que atestiguan que, en determinadas latitudes geográficas y temporales, en la televisión han existido márgenes de riesgo de una audacia notable.</p>
<p>  </p>
<p> La televisión es capaz de incluir todo tipo de medios y disciplinas, ya sea textual, intertextual o metatextualmente. Artistas e individuos dedicados a muy diversas disciplinas –también la danza y la literatura, el pensamiento y las ciencias, etc.– se han sentido atraídos por este medio y han tratado de intervenir en él a partir de planteamientos progresistas e
intrépidos (los más conservadores y formulistas, por descontado, ya tienen entrada y hacen bulto). Y, con la llegada del vídeo fue como si se dispusiera de un «modelo a escala»: menor pero lleno de libertad.</p>
<p>  </p>
<p> Desde los años sesenta, artistas, guerrilleros y diletantes del vídeo han imaginado una televisión diferente, alternativa, aunque ese referente u objetivo (en el sentido estratégico del término) se ha diluido mucho en los últimos años. La televisión, por su parte, una vez ha expoliado o asimilado los hallazgos y los tropos del videoarte, del videoactivismo, incluso del vídeo casero, ha pasado página y ha dictaminado que los experimentos deben hacerse «con gaseosa»; así, el videoarte se ha convertido en carne de museos y centros de arte, de algunos festivales (en número menguante) y de otros circuitos o rincones entre institucionales y alternativos.</p>
<p>  </p>
<p> El vídeo no es televisión, <i>VT is not TV</i>, decían los catecismos, y de ahí se pasó a la moral, casi de cruzada, del vídeo
<i>contra</i> la televisión (y después <i>pro</i>, con la relajación moral de los años ochenta). De todos modos, lo que resulta evidente es el papel de referente que desempeña la televisión en el vídeo, y de qué forma; algo así como el reverso, la antípoda, la deconstrucción del contrincante. Pero el vídeo también ha querido jugar a ser la avanzadilla o el laboratorio experimental de la televisión, y en cambio se ha topado con que los laboratorios cerraban y la vanguardia era desacreditada por decreto.</p>
<p>  </p>
<p> Entre los primeros tanteos artísticos con el vídeo, quizá el más crudo fuese el de plantar la cámara en una posición fija, situarse uno mismo ante el objetivo y ejecutar una acción mientras desfila la cinta. Eso no requiere ninguna habilidad técnica, es como ponerse ante un espejo
(electrónico) –y pasar al otro lado como un ser transparente–, y así se despliega uno de los primeros misterios de la televisión, en un sentido bien católico de la expresión. La televisión como confesionario, como espacio confidencial.</p>
<p>  </p>
<p> Las videoacciones de los años setenta de Vito Acconci, Douglas Davis, Les Levine, John Baldessari, William Wegman, Chris Burden o Francesc Torres manifiestan una atracción por la interpelación directa, la confrontación psicológica que se establece por la dimensión
íntima, la pequeña escala de la pantalla televisiva, entre alguien que actúa o representa (que <i>performa</i>, por introducir un barbarismo que puede ser esclarecedor) y quien hace las veces de espectador; con frecuencia con un juego «de tú a tú»
–o <i>mind to mind</i>, como precisaban Davis o Levine– que aumenta la tensión y trata de provocar algún tipo de reacción activa/interactiva, aunque sea simbólicamente.</p>
<p>  </p>
<p> Algunas de esas cintas o videoacciones comportaban explícitamente aspectos de exhibicionismo, onanismo y contacto físico, rozando a veces la obscenidad. En principio se diría que ese tipo de prácticas, vinculadas a corrientes como el arte del cuerpo y del comportamiento, y siempre un tanto rudas en el plano formal y en su componente interpelador, no presentan un hilo demasiado directo con la televisión (aunque Davis sí tuvo ocasión de desarrollar muchas de sus acciones a través de emisiones en directo).</p>
<p>  </p>
<p> Es una forma de vídeo que desaparece en cuestión de una década; arcaica en cuanto quiere jugarse a fondo a hacer/ser televisión, y en cambio rehabilitada más recientemente por parte de algunos artistas jóvenes que combinan el vídeo y la acción, así como por el merecido reconocimiento de los antes mencionados. Por otro lado, la televisión se ha apropiado de esa crudeza descarnada del exhibicionismo confesional y catártico, de lo íntimo y privado expuesto al público (da igual que resulte cómico o patético, feo o simpático), como, por ejemplo, en los <i>reality shows</i> y demás ejemplos de telebasura.</p>
<p>  </p>
<p> La cámara de vídeo también se ha dirigido muy inmediatamente al espacio abierto de la realidad circundante, por unos factores motivadores que incluyen la ligereza de los equipos portátiles, la grabación sincrónica de la imagen y el sonido en un mismo soporte magnético y la inmediatez y el bajo coste del mismo. Partiendo de unos medios inicialmente modestos y precarios, artistas, activistas y <i>videofreaks</i> han introducido formas de actuar que han influido enormemente en la televisión, que la han modificado y diversificado.</p>
<p>  </p>
<p> Más allá de aquellos factores tecnológicos, el vídeo como búsqueda estética –incluido aquí
lo que se ha llamado <i>estética de la comunicación</i>– ha intervenido notablemente en la exploración y la introducción de conceptos como los de reportaje electrónico o ENG; televisión local, comunitaria, alternativa (o, en tiempos más agitados, de
<i>guerrilla</i>), interactiva; nuevos formados mixtos, designados con palabras como
<i>docudrama </i>o
<i>docuensayo</i>, y audaces formas de compilación y desmontaje (es decir, basadas en material de archivo o apropiado).</p>
<p>  </p>
<p> Algunos nombres pioneros y significativos lo son a título colectivo: Videofreex, Raindance Corporation, TVTV y Downtown Community Television (DCTV) en Estados Unidos, y Telewissen, Les Cent Fleurs, Videobase, Vídeo-Nou, etc. en Europa. Es una camada activista no desaparecida del todo, puesto que pervive en células eficientes como DCTV, Paper Tiger TV/Deep Dish TV o las organizadas en torno a grupos
étnicos o con una identidad reivindicativa definida. A título más individual, nombres como los de Juan Downey, Antoni Muntadas, Jeanne Finley, Gusztáv Hámos, Marcelo Expósito o Johan Grimonprez pueden ratificar la reticencia a contemplar el documental como un dominio genérico y homogéneo.</p>
<p>  </p>
<p> Entre el arte implicado y la contrainformación crítica, entre el legado reconocido del cine factual (cine-ojo, <i>cinéma vérité</i>, etc.) y la adopción de los horizontes propios de las ciencias sociales
(sociología, antropología, historia, estudios culturales y otras), el vídeo documental se sitúa en la encrucijada más inmediata con la televisión. Aquí el tránsito ha sido notable, con todo tipo de giros y desvíos, suaves y peligrosos, pero ahora hay una consigna vigente e insistente: no pretendáis romper moldes, conformaos con los patrones que funcionan y pasad por el tubo.</p>
<p>  </p>
<p> En tercer lugar, otra vertiente históricamente clave del videoarte ha sido la exploración de su naturaleza electrónica y del potencial que se deriva de ella, en lo relativo tanto a la construcción de imágenes desde cero (con la llegada de lo digital, mediante combinaciones de ceros y unos) como a la alteración o la maleabilización de los cimientos de las imágenes objetivas, esto es, de raíz óptica. Aquí basta con nombrar a algunos clásicos como Nam June Paik, los Vasulka y Peter Campus.</p>
<p>  </p>
<p> Entre el bricolaje empírico –a menudo combinado con unos conocimientos básicos de electrónica o con la colaboración de ingenieros profesionales– y la magia blanca con efectos o recursos que la televisión aún no había aprendido a dominar y a aprovechar realmente, el sino digital ha arrinconado después esos descubrimientos, no sin antes asimilarlos y vulgarizarlos en poco tiempo. (Lo cual, de todos modos, no invalida el valor primordial de las obras pioneras más radicales o de mayor enjundia.)</p>
<p>  </p>
<p> Por cierto, un detalle de generosidad habitual en la investigación y el desarrollo de esas herramientas –denominadas sintetizadores, colorizadores, procesadores…–estribó en la cesión gratuita o a bajo precio de esquemas electrónicos o aparatos clónicos, sin el amparo de una patente y expuestos a modificaciones y mejoras; es decir: en regímenes equivalentes a los de los programas informáticos denominados de <i>freeware</i> y <i>shareware</i>.
A estas alturas, ese tipo de episodios exige un reconocimiento equivalente al que están obteniendo otros desarrollos próximos en los campos del audio, la música electrónica, las raíces del techno y otras aventuras sónicas.</p>
<p>  </p>
<p> El videoarte, después de esas y otras primeras orientaciones, tuvo su llamada al orden a mediados de los años ochenta, cuando, para deshacerse de la carga de su sufijo, algunos se agenciaron otras formulaciones que al fin y al cabo no resuelven nada, como el vídeo de creación o vídeo de autor, o algo aún más complicado, vídeo posvideoarte (en inglés con las siglas PVAV). Menos mal que el vídeo todavía trae cola, ligado siempre a un sufijo o a otro; eso supone que conserva una identidad, de hecho siempre una identidad múltiple.</p>
<p>  </p>
<p> En lo relativo al vídeo, esa llamada al orden reclamaba el de la ficción, la narrativa (no necesariamente causal, desde luego) y más secundariamente el documental; es decir, la delimitación de los géneros según una regulación jerárquica propia del campo audiovisual, antes que del desbarajuste del arte contemporáneo. Y se valoraba en el mismo sentido la proximidad a los códigos más familiares tanto de la televisión como del cine, la sofisticación técnica y los acabados más vistosos y cargados de efectos.</p>
<p>  </p>
<p> Seguramente las prácticas audiovisuales independientes que obedecen a esos requisitos, o que exhiben un virtuosismo laborioso (el caso de la animación, por ejemplo, ya sea tradicional o infográfica), son las que tienen más posibilidades de salida a los mercados. Pero tal vez esa no era la verdadera apuesta, y los planteamientos no siempre eran tan estratégicos como jugar a ceder o vencer, sino quizá limitarse a marcar un gol o jugárselo todo a hacer saltar la banca.</p>
<p>  </p>
<p> Así pues, a pesar de los intentos de poner orden, en el campo (y en los alrededores) del videoarte o del vídeo independiente, o alternativo o como se quiera llamarlo, de algún modo hemos vuelto a un desorden caótico, borroso, azaroso, fractal, inestable; no tanto como un retroceso al estado nativo y salvaje de donde arranca su historia (según hemos aprendido al examinarla y escribirla), sino como una reacción a modo de anticuerpos frente a la concentración, la globalización, la uniformidad mediática en aumento.</p>
<p>  </p>
<p> Algunos signos reveladores de la evolución reciente del vídeo como un arte en sí mismo o como un soporte «incidental» –uno más en el abanico de los disponibles–
son: el aprovechamiento de unos medios humildes (pero cada vez más ricos en posibilidades), una desinhibición intimista e identitaria que se añade a un menguado interés por la exuberancia técnica, un grado de apropiación feroz y de activismo exento de medias tintas, y toda una decantación hacia la instalación, los formatos expandidos
(o que se asemejan) y el videoarte-de-coleccionismo.</p>
<p>  </p>
<p> Muchos de esos extremos chocan con lo que la televisión encarna institucionalmente en tanto que servicio público
(incluso cuando actúa desde el sector privado). Por lo tanto, constatamos una pérdida de confianza y de ilusión respecto de la televisión como lugar posible de intervención, regeneración y activismo cultural (una cuestión, de todos modos, que aún hay que matizar) y, en cambio, las grandes esperanzas están hoy depositadas en la madre de todas las redes –después de las televisivas, también llamadas, tétricamente, <i>cadenas</i>–, es decir, internet como horizonte entre futurible y utópico de nuevas agitaciones artísticas y activistas desencadenadas de rebote.</p>
<p>  </p>
<p> Frente a la teoría de la televisión de la abundancia, que profetizaba una pluralización y una segmentación de las audiencias, de forma comparable a la diversidad existente en el caso de las publicaciones impresas, <i>gutemberguianas</i>
–donde hay unas de gran consumo, otras más especializadas o minoritarias, y fanzines y autoediciones de tirajes muy limitados–, internet ha levantado tan grandes expectativas porque precisamente, hoy por hoy, es un medio más cercano de lo que parece al mundo de la edición impresa, como indica la expresión ya habitual de
«publicación en línea».</p>
<p>  </p>
<p> La <i>postelevisión</i>, concepto introducido por Peter de Agostino y David Tafler, contempla positivamente los márgenes por los que la televisión ya no es (o ha dejado de ser) lo que era antes: un elemento tan central y nuclear como una chimenea y una ventana abierta al mundo de par en par. Otra palabra que ilustra el nuevo paradigma es <i>multimedia</i>, trasladada de la jerga del arte a las industrias de la información y la informática, que la reparten como pan bendito.</p>
<p>  </p>
<p> El concepto del vídeo con sufijo (arte, creación u otra partícula) no interesa si debe interpretarse de una forma restrictiva, como si fuera una zona reservada (o una reserva india) que presupone un rito de iniciación. Hablar de una cosa u otra, de televisión o de vídeo, es siempre una abstracción. Hay otras televisiones y están desde luego dentro de esa abstracción (y fuera de la leyenda más negra y abominable que rodea la pequeña pantalla). Y hay mucha polución videográfica con ínfulas creativas y autorales que no merece otra fama que la que ha dado su peor reputación a las formas sufijadas del vídeo.</p>
<p>  </p>
<p> Sin embargo, en definitiva televisión es también otras televisiones, más allá del modelo que aún se mantiene en lo alto de la jerarquía. El propio vídeo es potencialmente televisión –<i>microtelevisión</i>, decía René Berger–, aunque por lo general desprovisto de cuernos
(antenas o mala fe). Con el paso del tiempo, el vídeo, que en principio parecía identificarse como antitelevisión, contratelevisión o altertelevisión, ha intentado cada vez más meter cuchara en dicho medio.</p>
<p>  </p>
<p> Y más allá de parcelas más o menos ocasionales y de plataformas contadísimas y bastante excepcionales; más allá de la coincidencia entre la oferta y la demanda en cuanto a los formatos y estilos más estandarizados, y más allá de los videoclips y los <i>artbreaks</i>
(cápsulas, intersticios, formatos minúsculos abiertos a cierto libertinaje creativo, ligados en gran medida al éxito y la influencia del modelo MTV), lo cierto es que la televisión ha dejado de ser una utopía realizable que pudiera solucionar de paso la precaria economía y el exiguo mercado del vídeo (mal) llamado
<i>independiente</i>.</p>
<p>  </p>
<p> No obstante, la televisión no se ha convertido en un reto caduco, muy al contrario. Televisión y cine son precisamente unos referentes muy vigentes en la actividad artística más actual, como ha expuesto el crítico Jean-Christophe Royoux en varios ensayos; como ha podido verse en distintas manifestaciones recientes (la tercera Bienal de Lyon, la Documenta X en Kassel, Arkipelag TV en Estocolmo); con el reconocimiento a Kluge y Godard; con la actividad de Fabrice Hybert, Pierre Huyghe o Marcelo Expósito, y con la exposición <i>Home Screen Home</i> (<i>Tele dulce hogar</i>, en su presentación en el MACBA).</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>Referencias</b></p>
<p>  </p>
<p> Eugeni Bonet: «TV or not TV? Videocrash, Death TV &amp; Post TV», <i>ZEHAR.
</i><i>Boletín de Arteleku</i>, núm. 33
(primavera de 1997).</p>
<p>  </p>
<p> Peter d’Agostino, David Tafler (eds.): <i>Transmission.
Toward a Post Television Culture</i>.
Thousand Oaks, California: Sage Publications, 1995.</p>
<p>  </p>
<p> Hans-Ulrich
Öbrist: «Arkipelag TV. Una conversación con Alexander Kluge», en <i>Aleph-Pensamiento</i>
(http://aleph-arts.org/pens/kluge.htm).</p>
<p>  </p>
<p> Jean-Christophe Royoux: «D’une boucle à l’autre: activité artistique, post-cinéma et télévision», <i>Journal de l’Institut Français de Bilbao</i>, núm. 8 (abril 1998). (Incluye traducción al castellano.)</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p> </body> </html>