  <div title="header">
	<p>
	</p>  <h1 lang="es-ES" class="western">Inventos del «te veo». Notas sobre videoscopia, televisión y otras tangencias</h1> <p> </p>
<p><b>Reverso de la televisión</b></p>
<p> </p>
<p>En los anales de los medios alternativos, renglón del vídeo y prácticas afines, constan numerosas piezas que fantasean con la inversión o reversibilidad de la televisión. Quizá convendría distinguir entre ambos términos y decir que uno equivale a deconstrucción, desbaratamiento o vuelco simbólico, mientras que el segundo tendría el ánimo más constructivo de ir en pos de la bidireccionalidad, la participación activa y otros potenciales de la tecnología televisual en sí.</p>
<p> </p>
<p>En una obra de Bill Viola titulada <i>Reverse Television: Portraits of Viewers</i>
(1984), originalmente concebida en fracciones de un minuto destinadas a ser insertadas en los intersticios normales de las parrillas televisivas, la cámara toma el punto de fuga mismo del emplazamiento de la caja embobadora en distintos hogares, para obtener en contraplano una serie de retratos de sus audiencias.</p>
<p> </p>
<p>Estos espectadores anónimos tienen una apariencia hipnotizada y, por lo tanto, según la concepción y el destino primero del proyecto, constituyen sujetos eminentemente estáticos que paralizan momentáneamente el raudal del teletubo. Los observadores pasan a ser observados y su imagen es devuelta, como si se tratara de un reflejo especular, al sucesivo espectador que probablemente reincida en el mismo gesto mirón: esencialmente, un ademán pasivo.</p>
<p> </p>
<p>Concebido inicialmente como un aparato anexo a los requisitos de productividad de la televisión, el vídeo puede entenderse como el reverso de aquella. Todo el ideario del vídeo alternativo (por no entrar en más distingos respecto de otros apelativos y sufijos) parece cimentarse en esta relación de anverso y revés, que ya en sus inicios se formula con el lema <i>VT is not TV</i>, «el vídeo no es televisión»; una contraseña sobreinterpretada según fueron soplando los vientos.
 </p>
<p> </p>
<p>Aunque la televisión ya había atraído precozmente la atención de algunos artistas como los futuristas o los espacialistas, a partir del momento en que el vídeo deviene una tecnología más próxima –más abordable, ligera, manejable–  </p>
<p>surge la ocasión del desquite artístico y activista, crítico y emancipador sobre todo aquello que la televisión podía potencialmente ser y muy raramente ha sido; el desquite sobre el abuso de autoridad de su primacía institucional, altanera y enajenadora.</p>
<p> </p>
<p>Incluso en su aspecto más prosaico como artilugio casero –electrodoméstico de la línea marrón, apéndice del televisor que se ha adueñado del lugar de la chimenea–, el vídeo introduce tácitamente una liberación de las cadenas (ese tétrico aunque adecuado apelativo que reciben los canales de televisión en algunas lenguas latinas), por trivial o ilusoria que resulte.</p>
<p> </p>
<p>Sin embargo, a fin de cuentas, <i>vídeo</i> no designa otra cosa en particular que la señal en sí, los impulsos eléctricos que llevan la información de la imagen, y por lo demás tanto sirve para denominar al aparato (magnetoscopio), a la cinta o al disco y su contenido, al ventanuco dinámico que se abre en la pantalla del ordenador… o, en ámbitos más restringidos, a un conjunto de prácticas con unos rasgos más o menos (o de más a menos) específicos.</p>
<p> </p> <h1 lang="es-ES" class="western">Luz de vídeo</h1> <p> </p>
<p>Paul Virilio (<i>L'Inertie polaire</i>, 1990) ha empleado el término <i>videoscopia</i> para referirse a la acelerada integración de las técnicas basadas en la inmediatez de la señal de vídeo en una multitud tal de objetos y lugares que hace añicos la acepción primera y más habitual de la televisión como un medio de información y entretenimiento, un arte de representación (arte tanto en el sentido más llano y genérico del término, como también en el más elevado), una forma de espectáculo masivo servido a domicilio.</p>
<p> </p>
<p>Esta videoscopia se manifestaría disipativamente en circuitos de vigilancia, videoporteros, cajeros automáticos, transmisiones telemáticas y otros cachivaches y servicios de nuevo cuño, además de en la fragmentación multiplicadora de la oferta televisiva convencional: televisión local o de proximidad, canales temáticos, vídeo bajo demanda, etc. A eso mismo se refiere el concepto
<i>postelevisión</i> introducido por Peter d'Agostino y David Tafler (<i>Transmission: Toward a Post Television Culture</i>, 1995).  </p>
<p> </p>
<p>Para Virilio, la videoscopia es una forma de iluminación indirecta que deviene tan común y corriente como la luz eléctrica, y que cobra autonomía respecto a la concepción de la televisión como un surtidor de pasatiempos e informaciones a chorro (y, según anhelos más altos, también de cultura, educación, arte y comunicación abierta). Es esa televisión que hoy va mayormente a la deriva entre las formas más degradadas del zapping y la nutrición-basura.</p>
<p> </p>
<p>Así, la potestad del televisor se rebajaría a la de una fuente de luz más
(y más bien pobre en iluminación del magín) entre las demás pantallas visitadas con asiduidad, incluyendo su función de terminal conectado a otros aparatos y servicios que, por lo menos, permiten una dieta más rica (vídeo, reproductor DVD, consola de videojuegos, parabólica, cable de fibra óptica). Y, en el fondo, la luz que a veces cuenta más es la de la lámpara piloto que indica que el aparato sigue funcionando o está a punto: el vídeo para grabar, el ordenador para procesar, el módem para descargar, el móvil para recibir, y así sucesivamente.</p>
<p> </p>
<p>En nuestros días, la televisión es algo demasiado familiar como para seguir requiriendo la atención que merecía hace apenas unos años, tras varias generaciones que ya la han tomado como primera papilla.
De manera que tanto sus previos encantos como las renovadas utopías
–aquellas primeramente alentadas por el vídeo alternativo– se han trasladado en gran medida a los metamedios informáticos y telemáticos, en el compás de espera de una probable y más firme convergencia entre las pantallas del televisor y el ordenador.</p>
<p> </p>
<p>Este relativo desmayo de la televisión ha afectado también al vídeo como demarcación autárquica, lo cual se ha hecho asaz perceptible por el menguante empaque de la producción monocanal en los últimos años. En cambio, en la medida en que la telepantalla ya no es un referente tan crucial en nuestra cultura, conviene recapitular algunas propuestas que inciden plenamente en esa dispersión videoscópica y postelevisiva, tanto desde la creación artística como desde la cavilación teórica y mediante el trueque de ideas entre ambos bandos.</p>
<p> </p>
<p> </p>
<p><b>Azogue electrónico</b></p>
<p> </p>
<p>La alegoría del <i>espejo con memoria</i>, capaz de atrapar el tiempo (ya sea en un instante o en secuencia), ya fue formulada para la fotografía, pero adquiere otros matices cuando las tecnologías de la visión entran en el estadio electrónico, más particularmente en el digital y posfotográfico, al ofrecer no solamente una devolución inmediata de lo que acontece ante el ojo de la cámara, sino incluso una visión sin mirada que llega a prescindir de la percepción orgánica humana y su simulación técnica; un <i>voir sans savoir</i><i>,</i> como dice Virilio.</p>
<p> </p>
<p>Desde la introducción del vídeo, la alegoría del espejo se plantea repetidamente desde diversos enfoques teóricos: por ejemplo, en la
<i>estética del narcisismo</i> formulada por Rosalind Krauss a propósito de algunos de los primeros artistas atraídos por el medio. O también en la noción de
<i>autoscopia</i> de polivalentes aplicaciones para el autoadiestramiento de actores, oradores, enseñantes, etc.: el contemplarse para perfeccionarse, para desarrollar el talento.</p>
<p> </p>
<p>El azogue electrónico de las tecnologías de teletransmisión y memorización audiovisual resulta subyugante y alarmante al mismo tiempo. La fascinación por el dispositivo que permite verse y saberse visto parece renovarse constantemente, y así podría percibirse el fenómeno reciente de las <i>webcams</i>, con todo lo que muchas de ellas entrañan de voyeurismo, exhibicionismo y puro juego (ya sea infantil o de adultos, con inocencia o con morbo).</p>
<p> </p>
<p>Pero también existen los espejos de doble cara y las cámaras ocultas –o todo lo contrario: intimidatoriamente bien visibles–, como parte del acecho de aquello que Michel Foucault (<i>Surveiller et punir</i>, 1975) ha descrito como «un régimen panóptico» que se instaura con la edad moderna de la razón y del positivismo tecnocientífico; en consabida alusión al <i>Panopticon</i> concebido hacia 1791 por el jurista británico Jeremy Bentham, un proyecto doblemente gráfico y especulativo, un diseño arquitectónico a la vez que filosófico.</p>
<p> </p>
<p>Si la televisión es una ventana al mundo (y muchas veces sería preferible bajar la persiana), también es la mirilla o el ojo de la cerradura por donde se nos observa, controla, vigila. El fundamento del régimen panóptico en nuestra sociedad disciplinaria, vigilante, reside en esa falsa reciprocidad de lo visible y lo invisible, equivalente a la faz transparente u opaca del espejo engañoso.</p>
<p> </p>
<p>Detrás de esa faz opaca, impenetrable, puede haber un ojo humano o no: las imágenes que toman las cámaras de vigilancia pueden ser grabadas (a veces a intervalos) sin más supervisión, y solo cuando se detecta alguna irregularidad son verificadas a posteriori para averiguar lo que sucedió. El siguiente paso es el de la <i>super-visión</i> artificial mediante máquinas suficientemente inteligentes o instruidas, capaces de desenvolverse en estado de soltería.</p>
<p> </p>
<p> </p>
<p><b>La cámara fisgona</b></p>
<p> </p>
<p>Uno de los primeros artistas de la modernidad atraídos por la cinematografía, Fernand Léger («A propósito del cine», 1933) esbozó un proyecto audiovisual que, conciliando los rasgos de
<i>fantasía</i> y <i>objetividad</i> que él reclamaba para las aportaciones de la vanguardia al joven arte de la imagen cinemática, resultó así de quimérico y anticipador:  </p>
<p> </p>
<p>«He soñado con el film de las &quot;24 horas&quot; de una pareja cualquiera que trabajan en oficios cualesquiera… Aparatos nuevos y misteriosos permiten seguirles &quot;sin que se den cuenta&quot;, (…)
sin que nada quede fuera: su trabajo, su silencio, su vida íntima y amorosa. Proyectad este film en toda su crudeza, sin intervención alguna. Supongo que sería algo tan terrible que la gente huiría aterrorizada pidiendo socorro, como ante una catástrofe mundial.»</p>
<p> </p>
<p>Treinta años después, con la consiguiente evolución técnica de por medio y entre nuevos aires de transgresión, el sueño de Léger está
próximo a realizarse en algunos de los primeros films de Andy Warhol y de Yoko Ono. Tanto a través de la exposición literal del tiempo real como mediante la intromisión en la intimidad ajena, hurgando tanto en lo demasiado humano como en lo demasiado cotidiano.</p>
<p> </p>
<p>La impávida cámara de la Factoría Warhol recogió en su más ultrajante crudeza algunas de las situaciones tenidas entonces por más envilecedoras y obscenas de la conducta humana –estados de embriaguez o cólera extrema, amén de procaces escenas de sexo y drogas–, hallando sus cobayas en su círculo de amistades y
<i>superstars</i>, las cuales no siempre eran plenamente conscientes de la exhibición impúdica a la que a priori se prestaban.</p>
<p> </p>
<p>El film <i>Rape</i>
(1969), de Yoko Ono y John Lennon, constituye otro hito extremo al presentar el acoso al que la cámara –y, con ella, el reducido equipo de rodaje– somete a una joven extranjera de visita en Londres, sin nunca dirigirle la palabra a pesar de su malestar en aumento, y persiguiéndola desde el espacio abierto de la urbe hasta el interior del propio apartamento en el que intenta refugiarse. (Al parecer, mediante un duplicado de la llave obtenido con la complicidad previa con la hermana de esta mujer «violada» por la cámara.)</p>
<p> </p>
<p>Además de estos sórdidos contrapuntos a la tradición televisiva de las cámaras dichas <i>cándidas</i> o <i>indiscretas</i>
–que, con el tiempo, se han arrojado a ocurrencias de peor gusto todavía–, así como ante los positivos idearios del <i>cine-verdad</i>
(de Vertov a Rouch y otros), mucho se ha dicho en torno a las extralimitaciones de Warhol y de los artistas y anartistas de Fluxus en contigüidad con el arte emergente del vídeo.</p>
<p> </p>
<p>A principios de los setenta, y en el marco de la televisión pública estadounidense (PBS), se produjo la serie <i>An American Family</i>, en visible sintonía con los postulados y las maneras de hacer del cine directo, el vídeo alternativo y otros brotes coetáneos (ENG, docudrama, etc.). Presentaba el seguimiento del día a día de una unidad familiar –con alguna fractura intermedia–, a lo largo de varios meses compendiados en 12 emisiones de una hora, y mediante un moderado despliegue de varias cámaras en las distintas estancias de su hogar.</p>
<p> </p>
<p>A finales de los noventa la factoría de telexplotación Endemol Entertainment, con sede social en Holanda, ha lanzado y exportado el formato-patrón del <i>Gran Hermano</i>, donde todo –casa, comunidad, normas, etc.– es representación y simulacro que puede seguirse a tiempo completo. Pasada la fecha de mal agüero de 1984, el ojo sin párpado de la distopía de Orwell se ha trastocado en pretexto de un divertimento ramplón.</p>
<p> </p>
<p>Podemos convenir que este <i>Gran Hermano</i>, con toda su prole, a parte de secuelas y sucedáneos, es espantoso por una mera cuestión de sensibilidad. Pero, lejos de la hecatombe antaño presentida por Léger, y una vez ahuyentadas tanto la objetividad como la imaginación, más que un apocalipsis, constituye un apoteosis de la mundialización y de la correlación entre vigilancia y espectáculo.</p>
<p> </p>
<p> </p>
<p><b>La fase del espejo</b></p>
<p> </p>
<p>Se ha dicho que el vídeo alternativo, particularmente las instalaciones basadas en dispositivos de circuito cerrado, ha brindado la ocasión para familiarizarse con las transparencias y entretelas de la videoscopia antes de que penetrara a gran escala como componente ordinario de nuestro decorado social; esa luz indirecta a la que se ha referido Virilio, la cual ya no requeriría demasiado nuestra atención por su misma omnipresencia.</p>
<p> </p>
<p>El circuito cerrado de televisión (CCTV), dispositivo tan propicio para la interactividad –un concepto del que tanto se ha abusado, pero que, en efecto, lleva aparejado un cierto hechizo–, se ha prodigado ciertamente en los salones del arte y de bullicio cultural mediante propuestas tan incisivas como sugerentes, a modo de disección del mismo dispositivo, así como con un talante crítico y de alerta ante los atropellos del panoptismo institucional.</p>
<p> </p>
<p>Dicho dispositivo no es otra cosa que un modelo a escala del principio mismo de la televisión, y por tanto ha permitido explorar de entrada aquellos aspectos distintivos de un medio amordazado por imposiciones jerárquicas. Resulta connatural pues que los orígenes de la videografía pasen por una <i>fase del espejo</i> de fascinación y autodescubrimiento, entre el fetichismo del aparato y la utopía regeneradora.</p>
<p> </p>
<p>Algunas de las primeras videoinstalaciones realizadas a finales de los sesenta –las <i>esculturas cibernéticas</i> de Les Levine, <i>Wipe Cycle</i> de Frank Gillette y Ira Schneider– tienen el aspecto de consolas de múltiples monitores, cámaras y otras fuentes de imagen, como si reprodujeran los despliegues típicos de las cabinas de control de un estudio de televisión o de un circuito de vigilancia. Y, de algún modo, eso es lo que se «esculpe» y expone para restituir al espectador una experiencia de observación de la que habitualmente carece. El observador, decía Levine, es el
<i>software</i> y la información… <i>«</i><i>The circuit is open</i><i>»</i>.</p>
<p> </p>
<p>En esos mismos años, Bruce Nauman ha realizado algunas instalaciones como <i>Surveillance Piece</i>, <i>Video Corridor</i> y <i>Going Around the Corner Piece</i>, con una alusión más explícita a los mecanismos de la videovigilancia. El observador es ahora la presa, como rotundamente insinúa el opresivo pasadizo que empareda la más conocida de estas piezas. Y el circuito de vídeo, lejos de ofrecérsele como un espejo cordial, constituye un cebo defraudador que más bien le priva de acceder a su propia imagen o ganar control sobre el dispositivo. El circuito es cerrado y bien cerrado.</p>
<p> </p>
<p>Esta yuxtaposición de videoscopia y arquitectura (en Nauman mediante una estilización escultórica deudora del minimalismo más severo) halla seguidamente un desarrollo más amplio en la trayectoria de Dan Graham durante los años setenta. Sus <i>architecture/video projects</i> ponen en relación las funciones y codificaciones de elementos y patrones arquitectónicos (ventana, espejo, escaparate; viviendas, edificio de oficinas, centro comercial) con su suplantación y alteración por la acelerada mediación tecnotrónica.</p>
<p> </p>
<p>Si los espejos son materiales idóneos para la construcción de laberintos, por el propio misterio que encierran, el nuevo instrumental de la televisión y del vídeo se ha sumado a la regeneración de esta arquitectura equívoca, cuya índole recreativa tiene su contrapunto en las desconcertantes espesuras del paisaje mediático contemporáneo. La imagen del cuerpo atrapado en un laberinto se halla expuesta literalmente en una instalación de Peter Weibel.</p>
<p> </p>
<p>En
<i>Video Labyrinth</i>
(1984), Weibel ha jugado doblemente con el motivo del laberinto y con los trampantojos de la perspectiva curiosa, de manera que el visitante se encuentra en un dédalo de sobrio alzado –paneles enderezados sobre el suelo– y como un cuerpo intruso sobre el diagrama de un segundo laberinto, este de planta más tradicional, el cual se visualiza en un monitor contiguo donde los fragmentos desmembrados en el espacio tridimensional, <i>real</i>, se recomponen en el plano <i>virtual</i> obtenido por el estratégico emplazamiento de una cámara en circuito cerrado.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p><b>La hora del Gran Hermano</b></p>
<p> </p>
<p>Con el avecinamiento del agorero año 1984, algunas obras han comenzado a enfocar más nítidamente la dualidad de realidad y ficción, la indiscernibilidad entre lo factual y lo virtual, con referencias explícitas u oblicuas a la utopía negativa de Orwell y a las siniestras correspondencias que llegan a advertirse en el mundo real.
Así, la vigilancia ha pasado a convertirse en un tema mayor del vídeo alternativo.</p>
<p> </p>
<p>En el videofilm de largometraje <i>Der Riese</i>
(El gigante, 1982-1983), Michael Klier ha hilado una trama de imágenes tomadas de toda clase de dispositivos electro-ópticos de vigilancia, seguridad y simulación, las cuales cobran la intriga propia de una narrativa de ficción mediante un acompañamiento musical colmado de tensión y otras atmósferas sonoras propias del cine de género; un intencionado énfasis que modifica la percepción de este compendio de escenas que discurren entre lo anodino y lo inquietante.</p>
<p> </p>
<p>El cine ya había introducido el motivo de las tecnologías-espía en obras de Fritz Lang (<i>Die Tausend Augen des Doctors Mabuse</i>, 1960), Francis Ford Coppola (<i>The Conversation</i>, 1974) o Wim Wenders (<i>Der amerikanische Freund</i>, 1977). Pero es en los años ochenta cuando el vídeo emprende la muda
«de la trama al drama», según la expresión que ha utilizado Jean-Paul Fargier al enarbolar la bandera de la <i>videoficción</i> entendida como un género distintivo que ha equiparado sugerentemente con la ciencia ficción.</p>
<p> </p>
<p>Y de lo que se ocuparía esencialmente esta videoficción es de lo que Virilio ha llamado, a su vez, la videoscopia. Es decir: de todos aquellos aspectos en los que se manifiesta la gran escalada sociológica de las máquinas de visión electrónicas, a su vez tomadas como motores o engranajes fundamentales de la ficción. Según esta interpretación, la creación videográfica se volcaría entonces de lo endógeno a lo exógeno, abandonando los componentes de ensimismamiento autorreferencial tan fecundos anteriormente.</p>
<p> </p>
<p>Regresando al asunto de las videoinstalaciones, eso se puede observar en un empleo un tanto diverso del circuito cerrado y otros dispositivos con una conciencia plena de su envés ubicuo en nombre de la seguridad y el orden. En <i>Not a Model for Big Brother´s Spy Cycle</i>
(1984), Dieter Froese combinó los elementos habituales en los circuitos de vigilancia con materiales pregrabados que simulaban un interrogatorio (refiriéndose de paso a las inquisiciones tan habituales que acarrea el arte crítico o politizado) y un número de cámaras falsas, hechas de cartón, a la manera de las utilizadas comúnmente para intimidar al personal sin encarecer la inversión en equipos.</p>
<p> </p>
<p>Desde la segunda mitad de los ochenta, Julia Scher ha abordado de manera casi monográfica los temas de la vigilancia, las instituciones disciplinarias y la «Segurilandia»
(por aludir a una de sus piezas en red: <i>Securityland</i>, 1995). Su obra interviene en la familiaridad adquirida de los dispositivos preventivos y de control –que, en los espacios museísticos donde suele intervenir, tienen una función de protección de sus tesoros–, perturbando dicha familiaridad mediante súbitos insertos de ficción, mensajes escritos y otras disecciones y contravenciones del propio mecanismo vigilante.</p>
<p> </p>
<p>Antoni Muntadas, contumaz trotamundos del entorno mediático, ha acudido al circuito cerrado con periodicidad, y ya en su instalación <i>Bars</i>
(1977) incidió en un apropiado parangón entre la pantalla de control y la inocente jaula del pájaro-mascota. Más recientemente, en <i>La sala de control (per a la ciutat de Barcelona)</i>
(1996) –instalación en el marco de una exposición sobre transformaciones urbanas en su ciudad natal–, acudía en gran parte a la dotación videoscópica del propio lugar de exposición a fin de devolver a los ciudadanos el testigo ocular de varios proyectos urbanísticos bajo sospecha de componendas especulativas o de una higiene social abusiva.</p>
<p> </p>
<p>Paul Garrin, en sus instalaciones <i>Yuppie Ghetto with Watchdog</i>
(1990) y <i>White Devil</i>
(1993), ha incorporado sensores y recursos informáticos para la recreación simbólica de los modernos arquetipos de protección del privilegio social; en ambos casos con la amenazante figura de un perro/cancerbero que hostiga los movimientos del espectador mediante un uso certero de unos dispositivos que se denominan interactivos con demasiada alegría.  </p>
<p> </p>
<p>Propuestas tan dispares como las referidas entrañan una reversión de las videoscopias más comunes y ubicuas, y obtienen sobresalientes adhesiones entre una nueva generación de artistas, <i>anartivistas</i> y simulacros empresariales como los de Daniel García Andújar –con su astuta actividad punto-com a través del logotipo, la interfaz y el antifaz de Technologies To The People® (TTTP)– y el emprendedor equipo del Bureau of Inverse Technology (BIT).</p>
<p> </p>
<p>Del primero, en su proyecto <i>Estamos vigilando / We Are Watching</i>, iniciado hacia 1994, cabe hallar el embrión de los productos y servicios que ofrece actualmente, en nombre propio o de la acreditada firma TTTP®, cuya tecnología-estrella consiste en un sistema de telecajeros automáticos para erradicar la fealdad y los engorros de la mendicidad y la vejatoria limosna en la próspera sociedad de la información.</p>
<p> </p>
<p>En cuanto a BIT, en su cinta demo <i>Suicide Box®</i>
(1996) –promoción capciosa de un sistema concebido para la detección y prevención de apremiantes tentaciones suicidas en lugares idóneos a tal fin– hallo igualmente la vigencia de un malicioso espíritu de guerrilla electrónica por el que cualquier coincidencia con la realidad es fatalmente verosímil, trastornando la desigual percepción de lo real y lo fingido.</p>
<p> </p>
<p>En estos tiempos de bienaventuranzas por la cibertierra prometida, y de jarana con un Gran Hermano aparentemente amansado, por momentos parece como si todo se hubiera ya dicho, redicho y contradicho sobradamente acerca de estos mecanismos de control, imperceptibles por su misma ubicuidad, cuya faz más amable encubre severos ultrajes. Las propuestas artísticas y teóricas aquí comentadas se entrecruzan, incluso de manera inopinada, y permiten entrever en qué
medida los conceptos de resistencia y antagonismo siguen bien álgidos en las agendas críticas del arte y el pensamiento ante un nuevo calendario.  </p> <div title="footer">
	<p>
	</p>  </body> </html>