  <p> <b>La pantalla bien servida: la nutrición audiovisual</b></p>
<p>  </p>
<p> <b>Cocin(em)a de mercado</b></p>
<p> Desde hace unos años se ha ido consolidando un repertorio cinematográfico, dosificado en singulares pero sustanciosos servicios, concerniente a asuntos del condumio y del gusto. El gusto en el sentido más legítimo del término, aunque también en uno de figurado y eternamente debatido, pues, al revés de lo que dice el dicho, sobre gustos hay mucho escrito. A partir de determinados títulos, cabría concebir el inapropiado epíteto de un cine del comer o culinario, que a menudo excita el apetito –y no solamente uno, el más comúnmente referido–; que despierta el hambre entre el patio de butacas en mitad de la proyección; que socava el régimen atroz que se ha impuesto en las salas de cine.
Algunos títulos que poseen esta fama son: <i>El festín de Babette</i>
(<i>Babettes Gaestebud</i>, Gabriel Axel, 1987), <i>Tampopo</i>
(Juzo Itami, 1987), <i>Como agua para chocolate</i>
(Alfonso Arau, 1993);,<i>Comer, beber, amar</i> (<i>Eat Drink Man Woman</i>, Ang Lee, 1993), <i>Au Petit Marguery
</i>(Laurent Benegui, 1994), <i>Big Night</i>
(Stanley Tucci / Campbell Scott, 1996), <i>Vatel</i>
(Roland Joffe, 2000), <i>Tortilla Soup</i> (Maria Ripoll, 2001).</p>
<p>  </p>
<p> Exuberancias culinarias que entran por la vista, cuyo reverso se halla en el posgusto infame que deparan otras obras como <i>La grande bouffe</i> (Marco Ferreri, 1973), <i>Como era gostoso o meu francês</i> (Nelson Pereira dos Santos, 1973), <i>¿Y si nos comemos a Raúl?</i> (<i>Eating Raoul</i>, Paul Bartel, 1982); <i>Bad Taste</i>
(Peter Jackson, 1987), <i>El cocinero, el ladrón, su mujer y su amante</i>
(<i>The Cook, the Thief, His Wife and Her Lover</i>, Peter Greenaway, 1990), <i>Delicatessen</i>
(Jean-Pierre Jeunet / Marc Caro, 1991). Obras, estas últimas, que se decantan por el desenfreno aberrante y el humor negro, abrazando la dieta caníbal y otras transgresiones; privilegiando, entre la gama de sabores, aquellos que se juzgan de pésimo gusto.</p>
<p>  </p>
<p> Hay también una tradición cómica que bromea con las cosas del comer, la buena mesa y el gremio de la restauración. Seguramente no es un azar que tenga una cierta raigambre en Francia, con cintas a menudo mediocres –aunque aceradas argumentalmente– y un elenco de populares cómicos: Fernandel, Bourvil, Louis de Funès, Coluche y sus sucesores. Algunos títulos significativos son: <i>La cuisine au beurre</i>
(Gilles Grangier, 1963), <i>Le grand restaurant</i>
(Jacques Besnard, 1966), <i>L’aile ou la cuisse</i>
(Claude Zidi, 1976), <i>La soupe aux choux</i>
(Jean Girault, 1981), <i>American Cuisine</i>
(Jean-Yves Pitoun, 1998). Además hay que resaltar al inefable Hulot en ese excepcional monumento bufo que es <i>Playtime</i>
(Jacques Tati, 1967), cuyo tercio final transcurre en un sofisticado restaurante y club nocturno que termina devastado en la velada misma de su inauguración. En las cinematografías asiáticas, por otro lado, pueden hallarse especialidades «tres delicias», que combinan las artes marciales, la comedia alocada y los motivos coquinarios.</p>
<p>  </p>
<p> Los ritos de la mesa son también un pretexto para abordar las relaciones humanas, sea en una escala
íntima, familiar o coral. La comida misma no cobra entonces tanta importancia como lo que sucede alrededor de la mesa y, eventualmente, en la cocina; por ejemplo en <i>My Dinner with André</i> (Louis Malle, 1981), <i>Tomates verdes fritos</i> (<i>Fried Green Tomatoes</i>, Jon Avnet, 1991), <i>Los amigos de Peter</i> (<i>Peter’s Friends</i>, Kenneth Branagh, 1992), La<i> edad de la inocencia</i> (<i>The Age of Innocence</i>, Martin Scorsese, 1993), <i>Soul Food</i>
(George Tilman Jr, 1997) o <i>La cena</i> (Ettore Scola, 1998). En otros casos, sobresalen unos manjares concretos que adquieren una dimensión simbólica: el jamón ibérico y la tortilla española en <i>Jamón Jamón</i>
(Bigas Luna, 1992); el tronco de navidad en <i>La bûche</i> (Daniele Thompson, 1999); el pavo del <i>Thanksgiving Day</i> en <i>What’s Cooking?</i> (Gurinder Chadha, 2000); el chocolate, en todas sus variedades, en <i>Chocolat</i>
(Lasse Hallström, 2001); las especialidades orientales de fideos en
<i>Tampopo</i>, etc.</p>
<p>  </p>
<p> Descartando incluso otras presencias más incidentales de la comida en el cine (sean opíparos banquetes festivos o prosaicas colaciones cotidianas), los distingos apuntados no parece que permitan delimitar un género, sino es como una subdivisión del llamado «cine de culto». Doble culto en este caso, pues al perfil del cinéfilo o cinéfago se superpone el del <i>gourmet</i> o <i>gourmand</i>.
Después de todo, tal como ha señalado Ian Christie, «el propio cine es una forma de consumición, al absorber la realidad y alimentarnos con pequeños bocados de la misma».[[[1]]] Y, sin embargo, navegando por la red he dado pronto con diversas páginas y listados de <i>food films</i> o expresiones similares, que apuntan aparentemente a la demarcación de un género.
A menudo, quienes cuelgan dichos inventarios –diversamente extensos y rigurosos– expresan netamente su afición simultáneamente cinematográfica y gastronómica, y en el acercamiento a la relación cine-y-comida se entabla de manera inevitable una especie de degustación sibarita, mediante la experiencia vicaria del gusto a través de la pantalla.[[[2]]]</p>
<p>  </p>
<p> <b>Ingredientes alternativos</b></p>
<p> Sin menospreciar las pitanzas suministradas desde los territorios de la ficción, el cine-industria y las reservas <i>indies</i> o periféricas –a menudo con pretextos literarios, de época y de color/sabor local–, buena materia para abordar los asuntos del Comer y no Comer puede encontrarse además en las despensas menos visitadas de otras prácticas fílmicas y videográficas. Al margen de las recetas más populares –y, en francés, <i>recettes</i> son también los ingresos de taquilla–, otros nutrientes los aportan las prácticas alternativas que arraigan en el documentalismo y la producción artística contemporánea.</p>
<p>  </p>
<p> Al emprender una búsqueda por dichos derroteros, en verdad no sabía hasta qué punto iba a encontrar un cuerpo de obra equiparable en volumen al de los <i>food films</i> más socorridos, bien o mal distinguidos con dicho epíteto; títulos como los referidos anteriormente. Por mi frecuentación de las pantallas discordantes, ciertamente no partía de cero e, inmediatamente, me vinieron a la mente unos primeros nombres y referencias. Pero, insisto de nuevo, la comida no creo que defina un género audiovisual
–si no es en la vertiente más formulista del adiestramiento culinario y la divulgación gastronómica–, y solamente los índices temáticos más exhaustivos de algunos catálogos de distribución y otras fuentes me han proporcionado una segunda ayuda.</p>
<p>  </p>
<p> Así, atando cabos a medida que avanzaba intuitivamente en la pesquisa, unas obras me han llevado a otras; determinados sesgos me han conducido a otros puntos de vista, más allá del relativo relieve de la comida –o su carencia– como primer criterio. En definitiva, también yo he asumido el rol del rastreador sibarita. Sin embargo, al ensanchar aún más la diversidad de los ingredientes a contemplar (con características bien distintas en cuanto a su extracción, época, formato, medidas, etc.), percibo que la materia que me ocupa solo puede ser abordada fragmentariamente, sin pretender una sistematización ni otra recapitulación historicista que la de algunas referencias que pueden venir a cuento en el despiece de algunos aspectos.</p>
<p>  </p>
<p> Al respecto puede observarse que
–con una prefiguración en la cocina futurista, «la revolución culinaria» propugnada por Marinetti y Fillia– es esencialmente en
«los felices sesenta» que comienza a despuntar una estética y tematización artística de lo comestible; por ejemplo, en los nuevos bodegones del arte pop y el Nuevo Realismo (las reproducciones monumentales de Claes Oldenburg, los botes de sopa de Warhol, los vestigios manducatorios de Daniel Spoerri); las frugales acciones de Fluxus; las saturnales de los accionistas vieneses; el arte comestible de Spoerri (a quien se debe la acuñación del término
<i>Eat Art</i>)
y de los <i>traiteurs-coloristes</i> Miralda y Dorothée Selz. En lo que al aparador cinematográfico se refiere, <i>La grande bouffe</i> fue en 1973 un hito sonado, revelador de un hedonismo todavía convulso, y es desde finales de esa década que la alacena empieza a llenarse con <i>Babette</i> y otros festines.</p>
<p>  </p>
<p> La cultura del bienestar y de la abundancia, con todas las desigualdades y vilezas que subsisten, delimita por tanto la ebullición mundana de los motivos alimenticios en una pluralidad de expresiones de creación y consumo ocioso: libros, piezas de creación visual y audiovisual, teatro, música, espacio telemático… y, por supuesto, el noble arte de la cocina mismo. Así, en definitiva, la minuta que propongo sucesivamente consta de diversos platillos –menudo menú, un menú de menudos–, confiando en abrir el apetito del lector mediante un picoteo de sabores, texturas y sensaciones bien diferentes; de las más sutiles a aquellas que requieren un estómago fuerte. Con los debidos excursos a ciertas cuestiones que no atañen tanto a las <i>maneras de mesa</i>, como a los peores modales del mundo.</p>
<p>  </p>
<p> <b>Lo cremoso y lo curtido</b></p>
<p> El acto alimenticio ya hizo acto de presencia en el bautismo público del cinematógrafo, cuando los hermanos Lumière organizaron las primeras proyecciones en el subsuelo del Grand Café de París. Justamente un establecimiento donde se servían bebidas y comestibles, aunque parece que el patrón no supo calibrar hasta qué punto el consumo de imágenes fugaces acarrearía a su vez el consumo de líquidos y sólidos fungibles; pues la venta de palomitas, chuches y refrescos representa hoy una importante fuente de ingresos complementarios para los exhibidores.</p>
<p>  </p>
<p> Una de las breves escenas que proyectaron los Lumière, además de la salida de los obreros de su fábrica o la llegada de un tren al andén, fue en efecto <i>Le Déjeuner de bébé</i>, cuyo título ya lo dice todo, pues lo que la breve secuencia muestra es el gesto de alimentar al pequeñín de la familia con la adecuada papilla. La imagen del rorro parece que ha despertado las simpatías del público, pues el tema se repite, calca, remeda hasta el hartazgo, como es común, por otra parte, en el cine primitivo. Hay quien ha encontrado ahí un anticipo del cine familiar o privado, pero podría dar pie incluso a elucubrar sobre lo que bodas, bautizos y comuniones representan en cuanto a la conexión entre la hostelería y las cámaras de fotografía, cine y vídeo.</p>
<p>  </p>
<p> En cualquier caso, en la medida en que la cámara se vuelca a la realidad más cercana y prosaica, es bien normal que la cotidianeidad del gesto nutricio aparezca de inmediato. Otra escena filmada por los Lumière en 1895 nos lleva a otro registro, entre la comicidad y la fantasía futurista, que también ha sido imitado cumplidamente: <i>La</i> <i>Charcuterie mécanique</i> presenta un artilugio prodigioso en el que se introduce un cochino y se obtienen salchichas al momento; y sucesivamente un perro, y una ristra de perritos calientes.</p>
<p>  </p>
<p> El cine burlesco se ha adueñado en seguida de los motivos culinarios. Veamos algunas de sus ocurrencias, en ese estadio en que la cinematografía es todavía una industria emergente, una firma anónima.[[[3]]] En <i>He Wanted Too Much for His Pies</i>, una producción de 1898 de la American Mutoscope Company, un granjero se ofrece para abastecer de pasteles a un campamento militar, pero, tras pedir una cifra desorbitada por ellos, se los estampan en la cara. Esta es una pieza precursora del abundante uso que tiene la repostería como arma arrojadiza en el irreverente cine cómico; la receta, habitualmente atribuida a Mack Sennett, de la tarta de crema –también puede ser de merengue, nata, etc.– que golpea y embadurna al adversario. El género de la <i>custard-pie comedy</i>, que Laurel &amp; Hardy (reputados gastrónomos, por otra parte) llevarían a su apoteosis en farsas como <i>Battle of the Century</i> (1929).</p>
<p>  </p>
<p>[] <i>How Bridget Served the Salad Undressed</i>, otra cinta del mismo año y de la misma compañía, parece poco más que un chiste picante. A una camarera le piden que sirva la ensalada sin aderezo ninguno (el vocablo inglés «undressed» es más elocuente en su anfibología), y ella se desnuda antes de llevarla a la mesa con el consiguiente regocijo de los comensales. Aquello que se prefigura quizá en tamaña chabacanería es la relación entre los placeres de la mesa y los recreos de la carne, un motivo que se ha hecho más y más presente con el paso del tiempo.</p>
<p>  </p>
<p> Por fin, en <i>Oh!
That Limburger: The Story of a Piece of Cheese</i>, una producción de 1906 de la Vitagraph, el acicate burlesco no estriba en la cualidad nutritiva del queso, sino en el olor ofensivo que se le atribuye. La travesura de unos chiquillos que ocultan un pedazo de queso en el traje de su padre da lugar a toda clase de equívocos e incidentes enojosos, debido a los efluvios que desprende el pobre hombre.</p>
<p>  </p>
<p> Tras estos gags rancios y toscos, los grandes nombres del cine cómico, aparte de liarse a tortas/tartas, nos han obsequiado con escenas bien sabrosas sobre la cocina, el comer y el hambre. En <i>The Cook</i> (1918), de Fatty Arbuckle con el debutante Buster Keaton –una obra recientemente recuperada en un estado fragmentario–, ambos comediantes ejecutan diversas cabriolas y pantomimas con el menaje de cocina y, en la escena central del film, compiten en incompetencia para traerse del plato al gaznate unos largos y escurridizos espagueti. Keaton, en <i>El navegante</i> (<i>The Navigator</i>, 1924), ha de arreglárselas para prepararse el sustento en un transatlántico abandonado a la deriva. Los gags se basan, en este caso, en las grandes dimensiones de los utensilios que ha de manejar para cocer por ejemplo un huevo. Posteriormente, ha de enfrentarse además al asalto de una tribu de caníbales.</p>
<p>  </p>
<p> Otra de las imágenes más recordadas de la era dorada de las comedias mudas se sitúa precisamente en las antípodas de la dulce morbidez de la pastelería burlesca. Es la escena de <i>La quimera del oro</i> (<i>The Gold Rush</i>, 1925), una de las cimas de Charles Chaplin, donde su sempiterno personaje de Charlot, el vagabundo, cocina una de sus botas para saciar su hambre y la de Big Jim, su corpulento compañero de aventuras en las tierras yermas y heladas del Klondike. Una bota con sus cordones incluidos, los cuales el caricato maneja delicadamente con los cubiertos como si fuera un acompañamiento de pasta al curtido filete, apurando también los pellejos adheridos a las tachuelas.</p>
<p>  </p>
<p> Y, en este punto, me permito un brinco desde la primera despensa del cine cómico hasta el cine moderno, de autor, enérgicamente personal. Pues la receta de Charlot ha sido tomada al pie de la letra por Werner Herzog, tras cruzar y perder una apuesta con un alumno suyo, Errol Morris, de la Universidad de California en Berkeley. Morris es hoy un reputado cineasta, autor de diversos largometrajes documentales que han devenido obras de culto, pero durante su etapa de formación arrastraba al parecer una dudosa fama de inconstante, indeciso entre diversas inclinaciones antes de dirigir su vocación hacia el cine.
Cuando Morris le expuso a Herzog su temerario plan para estrenarse en el largometraje –un documental en torno a los cementerios de mascotas–, el cineasta alemán le retó a llevarlo a cabo, jurando que se comería su zapato si lo lograba.</p>
<p>  </p>
<p> Y así fue como, tras el exitoso debut de Morris con <i>Gates of Heaven</i> (1978), su mentor regresó a Berkeley para zamparse una de sus botas en un acto público, como un gesto de afirmación de la tenacidad en el ejercicio de un cine propio, a contrapelo de las demandas y tentaciones de la industria. Según las crónicas, el calzado –una de esas «botas que están hechas para andar», como cantaba Nancy Sinatra– fue cocinado por una prestigiosa chef de la zona, con ajo, especias y caldo, y Herzog remojó la (in)gesta con cerveza. Un tercer cineasta, Les Blank –sobre el que volveré posteriormente por otras aficiones comestibles en su obra–, documentó el acto en un corto titulado <i>Werner Herzog Eats His Shoe</i>
(1980), que recoge la alocución y deglución del director alemán.
Blank probó además un trozo y, según su testimonio, sabía horrible.</p>
<p>  </p>
<p> Por último, hay que volver sobre la pastelería y cremería burlesca, que el cineasta y crítico belga Noël Godin ha resucitado mediante la inherente picardía de la tarta arrojadiza para la perturbación simbólica del orden instituido; aquella picardía que ya veneraron las primeras vanguardias y que sigue vigente entre el «artivismo» de nuestro tiempo. Adepto a la insolencia radical de dadaístas, surrealistas y situacionistas, Godin ha llevado al escenario de la vida cotidiana, a la arena pública, la práctica del <i>entartamiento</i>, embadurnando en público y ante los objetivos de los media a los más insignes representantes de la política, la economía y la sociedad del espectáculo. Entre las testas agraviadas por el diestro entartador y sus secuaces de la Internacional Anarco-Pastelera se encuentran las de Jacques Delors, Helmut Kohl, Michel Camdessus, Bernard-Henri Lévy, Bill Gates –uno de los entartamientos más sonados, que ha dado lugar a una proliferación de chanzas y juegos en la red– y colegas del ramo cinematográfico (con algunos de los cuales, Godard y Ferreri entre ellos, se reconciliaría después del atentado). A su vez, la expansión internacional de la guerrilla pastelera ha empezado a cumplirse con la adhesión de nuevas células, acaso con una agenda más precisa; algunas de las cuales operan bajo las siglas BBB, de Biotic Baking Brigade, atrayendo la complicidad de otros activismos antisistema.</p>
<p>  </p>
<p> <b>Historia(s) del hambre</b></p>
<p> Si los primeros peliculeros, al apuntar instintivamente la cámara hacia la realidad circundante, capturan entre otros el acto de la nutrición, en la evolución del cine realista pronto aparece el asunto contrario de su carencia, en términos de hambruna o malnutrición. No solamente por las sacudidas que se suceden con la Gran Guerra, la depresión económica y otras calamidades. Sino, además, en la medida que el novedoso medio atrae la atención de artistas y activistas con otras inquietudes que las de los especuladores de la técnica y del ocio/opio del pueblo.</p>
<p>  </p>
<p> Así, el hambre, la miseria y las desigualdades sociales se sitúan en el punto de mira del cine proletario que brota en la URSS, extendiéndose por otros países celularmente –es decir, a escala de colectivos comúnmente afiliados a organizaciones izquierdistas–, como ha sucedido en Alemania, Inglaterra y Estados Unidos. (A su modo, la comicidad humanista de Chaplin también podría interpretarse desde este prisma, al menos en función de sus convicciones ideológicas; aquellas por las que, posteriormente, habría de abandonar la tierra adoptiva de los Estados Unidos.)</p>
<p>  </p>
<p> Jay Leyda, en su historia del cine ruso y soviético, refiere la hambruna que se cernió sobre Rusia después de la Gran Guerra y que causó una gran mortandad en los
últimos meses de 1921; especialmente en la cuenca del Volga. Con el fin de concienciar a la sociedad y recaudar fondos mundialmente, la cinematografía soviética y la solidaridad de otros individuos y organismos activistas en el mundo han respondido con obras en la encrucijada del documental y el drama, como <i>Hambre…
Hambre… Hambre</i>
(Vladimir Gardin / Vsevolod Pudovkin, 1921) y <i>Sufrimiento infinito</i> (Alexander Panteleyev, 1922), y testimonios sin florituras como <i>La hambruna en Rusia</i>, de Fridtjof Nansen, que Leyda destaca como «quizá el film más devastadoramente real y estremecedor de los tres».[[[4]]]</p>
<p>  </p>
<p> Una de las cumbres del cine soviético, <i>El acorazado Potemkin</i> (Sergei M.
Eisenstein, 1925), arranca también con un drama alimentario. El film había de abordar en principio un mosaico de conflictos que condujeron a la insurrección popular de 1905, abarcando la guerra con Japón motivada por intereses mercantiles privados, las demandas de la población ante las privaciones ocasionadas por una contienda tan sangrienta como estéril, y la brutal represión de las acciones de protesta que siguieron. Sin embargo, Eisenstein halló condensados en el motín del Potemkin los principales desencadenantes de aquel primer episodio revolucionario. En este sentido, la repulsa de la tripulación ante la carne podrida que se les ofrece constituye el detonante de su insubordinación, al verse ellos mismos tratados como gusanos, y de la extensión de la revuelta social a toda la ciudad de Odesa.</p>
<p>  </p>
<p> La influencia del cine soviético se ha hecho notar en el cine proletario alemán de la República de Weimar, particularmente en la obra de Piel Jutzi, que había colaborado con Eisenstein en <i>Potemkin</i> y que en 1929 realizó <i>Hambre en Waldenburg, </i>también llamada <i>El pan nuestro de cada día</i> (<i>Hunger in Waldenburg, oder Ums tägliche Brot</i>, 1929). Una reseña de la época describe algunos <i>punctums</i> en las imágenes semidocumentales de esta historia de solidaridad obrera en la zona minera y menesterosa de la Baja Silesia: «Las miradas indeciblemente obtusas y apáticas de los niños, casi todos enfermos y raquíticos, física y mentalmente; las noches de los muertos vivientes; la ruina de las casas; el caldo-aguachirle de las comidas; el café negruzco de la mañana; la desesperación, el suicidio, pero también el castillo de los señores feudales, los dueños de los hermosos montes y bosques y de las extracciones mineras…»[[[5]]]</p>
<p>  </p>
<p> Esta sórdida descripción permite un encadenado con otra obra harto más celebre, fustigada por la censura como la anterior: la <i>Tierra sin pan (Las Hurdes)</i>, de Luís Buñuel, filmada en 1933 y sonorizada posteriormente en Francia. Es bien sabido que Buñuel cargó las tintas en esta incursión en la realidad más inhóspita, adulterando la presunta objetividad del documental para elevar su verismo mediante la mirada tajante del surrealismo. El cineasta recordó, por cierto, que el montaje lo realizó sobre una mesa de cocina, al no disponer de una moviola. Este corte «a cuchillo» halla su reflejo en los aspectos más mordientes del film: el contraste de las iglesias y los amuletos cristianos con las miserables condiciones de vida de los hurdanos; el agua pútrida donde los niños rebañan los mendrugos de pan que el maestro les da; el aleccionamiento en el respeto a los bienes ajenos entre el desvalimiento más absoluto; la exigüidad de los cultivos y las secuelas de una alimentación malsana; la exhibición de atrocidades y enfermedades varias (bocio, disentería, paludismo, cretinismo); el pregón periódico de la muerte.</p>
<p>  </p>
<p> Los temas de la pobreza y el hambre aparecen también en las tentativas por establecer noticiarios alternativos desde el frente de la izquierda: en Inglaterra en las dos ediciones que tuvo apenas el <i>Workers’
Topical News</i> (1930); en Estados Unidos, en los <i>newsreels</i> producidos por la Workers’ Film and Photo League of America, entre los cuales <i>Hunger: The National Hunger March to Washington, 1932</i>.
Las inquietudes vanguardistas de algunos artistas y cineastas asociados a dicho colectivo y a subsiguientes escisiones o ramificaciones del mismo –Nykino, Frontier Films–, dio lugar además a algún desahogo más creativo y pícaro, en vecindad con el burlesco. Tal es el caso de <i>Pie in the Sky</i> (1934), firmado colectivamente por Ralph Steiner, Elia Kazan y otros, una sátira sobre la gazmoñería religiosa del «Dios proveerá», con el bordón de una cáustica canción de Joe Hill que termina así:
«You’ll get pie / In the sky / When you die» (Obtendrás tu pastel en el cielo, cuando mueras). Por lo demás, los problemas de la nutrición y de las hambrunas causadas por los estallidos bélicos que sacuden el planeta están bien presentes en la producción documental británica y norteamericana hasta que se apagan los rescoldos de la Segunda Guerra Mundial, con aportaciones de Edgar Anstey (<i>Enough to Eat: The Nutrition Film</i>, 1936), Stuart Legg (<i>Food: Weapon of Conquest</i>, 1941; <i>Food: Secret of the Peace</i>, 1945), Paul Rotha (<i>World of Plenty</i>, 1943, <i>The World is Rich</i>, 1947), Irving Jacoby (<i>The Pale Horseman</i>, 1946), los noticiarios de la serie <i>The March of Time</i>…</p>
<p>  </p>
<p> Plenitud, abundancia, riqueza: los irónicos conceptos que Paul Rotha manejó
en los títulos de sus films recién mencionados, siguen procurando el contraste válido para hacer visibles las coordenadas contemporáneas del hambre en el mundo. Desde la presunta conquista del bienestar en las sociedades occidentales, los problemas de la des- o malnutrición no se circunscriben tan solo al llamado Tercer Mundo, sino que se extienden a los arrabales periféricos de las zonas más prósperas.</p>
<p>  </p>
<p> Así, por un lado, las ansiedades, huellas y secuelas del hambre en la India hallan su reflejo, incidental o sobremanera evidente, en algunos films de Satyajit Ray –<i>Pather Panchali</i>
(1955), su impulsiva ópera prima; <i>Asani Sanket</i>
(1973), que se refiere a la hambruna provocada en 1943 por el régimen colonial británico– o en la serie documental de Louis Malle <i>L’Inde fantôme</i>
(1968). El <i>Cinema Nôvo</i> brasileño, según sostuvo Glauber Rocha, impulsó una estética del hambre y la violencia frente a un cine <i>digestivo</i>, evasivo: «narró, describió, poetizó, debatió, analizó, excitó
los temas del hambre: personajes comiendo tierra, personajes matando para comer, personajes huyendo en pos de la comida, personajes sucios, feos, oscuros».[[[6]]] Una «galería de hambrientos» retratada de manera cortante en varios films de Rocha (<i>Deus e o Diabo na terra do sol</i>, 1963), Rui Guerra (<i>Os Fuzis</i>, 1963), Nelson Pereira dos Santos (<i>Vidas secas</i>, 1963), Carlos Diegues (<i>Ganga Zumba</i>, 1964) o Maurice Capovilla <i>(O profeta da fame</i>, 1969). Por fin, consultando los fondos del National Film Board of Canada, he dado de inmediato con diversas producciones documentales donde se descubren los rostros del hambre contemporáneo, pero también el tesón civil en contra de la carestía y las condiciones más adversas; sea en Bolivia (<i>Dominga</i>, Guy L. Coté, 1979), en Senegal (<i>Roots of Hunger, Roots of Change</i>, David Springbett, 1985) o en Sudán (<i>Attendre</i>, Marie-Claude Harvey, 1996). La autora de este último film va en todo caso al quid de la cuestión cuando se sincera diciendo: «Todo lo que puedo ofrecer es un documental con buenas intenciones… No es suficiente.»</p>
<p>  </p>
<p> Por otro lado, es en –y desde– el propio cuerno de la abundancia, la opulencia de los Estados Unidos de América, donde se han producido algunas de las miradas más inquietantes sobre una herida que sigue del todo abierta. De cara al interior de un país tan pagado de sí mismo, fue un hito la producción televisiva <i>Hunger in America</i>
(Martin Carr y Peter Davis, 1967). Jon Alpert y el colectivo independiente Downtown Community Television (DCTV) renovaron posteriormente esta mirada inquisitiva con <i>Hunger in the Suburbs</i>
(1983-87). Por último, la división mediática de la organización católica progresista Maryknoll ha abordado el «negocio del hambre»
y la desidia de las grandes organizaciones y empresas que regulan el comercio de los bienes alimenticios, analizando sus perversos efectos en África, Asia y América, a través de producciones como <i>Consuming Hunger</i>
(1984), <i>The Business of Hunger</i>
(1984) y <i>The Global Banquet: Politics of Food</i>
(Anne Macksoud / John Ankele, 2001); piezas de campaña y denuncia que desvelan los dislates del totalitarismo neoliberal.</p>
<p>  </p>
<p> <b>Surrealismo y canibalismo</b></p>
<p> Como ha señalado Paulo Herkenhoff, el canibalismo no es una dieta, sino un concepto esencialmente simbólico.[[[7]]] Al parecer el término fue acuñado por Cristóbal Colón y, a partir de las correrías de los «conquistadores», acompañó los desmanes imperialistas –en nombre de la redención de los salvajes impíos–
y las repulsas anticolonialistas de los intelectuales, de Montaigne al Siglo de las Luces. Aunque la gran cultura europea ha elaborado sus propios mitos negros relativos a la antropofagia, el descubrimiento de tribus remotas que devoraban a sus congéneres, como los tupinamba en el sudeste de Brasil, ha proporcionado la disculpa para imponer una supremacía etnocentrista; el tabú y rasero de la civilización frente a la barbarie.</p>
<p>  </p>
<p> Algunas de las corrientes más subversivas entre las vanguardias del siglo XX, en particular dadá y el surrealismo, han retomado insolentemente la apología del canibalismo, solazándose en el humor negro y el ultraje revulsivo.
El canibalismo está bien presente en los escritos y las creaciones gráficas de dadaístas y surrealistas, así como en algunos de los referentes literarios que han devorado (Sade, Swift, Lautréamont o Jarry). En la producción cinematográfica entroncada con dichos movimientos, el motivo antropofágico no aparece sino de manera tangencial en <i>L’âge d’or</i> (Luis Buñuel, 1930) –donde el amor a dentelladas se insinúa entre los arrebatos del <i>amour fou</i> glosado por Breton–, pero adquiere la condición de plato principal en manifestaciones tardías que, mediante el prefijo «neo-»
(neodadaísmo, neosurrealismo) o sin él, se ubican en una posteridad, una persistente proyección de aquellos aspavientos transgresores en los <i>años del banquete</i> de las vanguardias.</p>
<p>  </p>
<p> Un suculento repertorio ilustrado del cine subversivo, preparado por Amos Vogel,[[[8]]] da noticia de ciertos platillos (cortometrajes), algunos un tanto olvidados hoy, donde la carne humana se mezcla con otras guarniciones, y lo macabro se coliga con lo obsceno, escatológico y repulsivo. Tal sería el caso de <i>An Eater</i> (Kazutomo Fuzino, 1963), obra de un pintor nipón de filiación surrealista, o de los films de los accionistas vieneses que pospondré para un sucesivo servicio. Pero es en la obra de Jan Svankmajer, destacado militante del incombustible grupo surrealista checo, donde puede hallarse la expresión más conspicua de un paladar caníbal con secreciones del humor negro más corrosivo.</p>
<p> Svankmajer se adentró desde los años cincuenta en el teatro de marionetas, el cine y las artes visuales, destacando pronto en el cine animado con el manejo de diversas técnicas y recursos –animación de muñecos o marionetas, objetos, barro, collage, imagen real, etc.–, aunque desmarcándose de la tradición fabulista, «para todos los públicos», tan arraigada en las antiguas repúblicas socialistas del este de Europa; en particular, respecto a la obra de sus compatriotas Jiri Trnka o Karel Zeman, e incluso del grueso de la nueva ola checa. Como francotirador tuvo diversos choques con las autoridades y, todavía en 1982, con <i>Dimensions of Dialogue</i> (<i>Moznosti dialogu</i>) –una de sus obras mayores–, hubo de enfrentarse a las amonestaciones de los
árbitros ideológicos del Partido Comunista.</p>
<p>  </p>
<p> La obra de Svankmajer bebe en las flores del mal, el sueño de la razón, los extravíos góticos, las pócimas de alquimistas y nigromantes, la alcurnia mágica de Praga, los caprichos barrocos de Giuseppe Arcimboldo y los mecanismos onanistas de las máquinas solteras. El artista, desdoblado en cabalista, infunde vida a los objetos inanimados y aviva homúnculos hechos de materias inertes, con una comicidad que, más que negra, llega a ser incluso sangrante (pues puede provocar desgarros en la comisura de los labios). Hay en la extensa filmografía de Svankmajer una serie de motivos y aspectos recurrentes, entre los cuales los relativos a la comida como materia y acto, y por extensión al canibalismo: «su forma más autorreflexiva», según ha sugerido Michael Brooke.[[[9]]] El tríptico <i>Dimensions of Dialogue</i> se abre con dos cabezas arcimboldescas, hechas de frutas y verduras y de utensilios de cocina respectivamente, tratando de devorarse mutuamente con sucesivas variaciones e intercambios de objetos. En los otros dos
«diálogos» que siguen (siempre sin palabras, más bien con exabruptos gestuales), sendos bustos de barro se agreden con fruición hasta desfigurarse o extenuarse en una farsa vertiginosa, delirante y ominosa.</p>
<p>  </p>
<p> Pero la alta cocina caníbal de Svankmajer tiene su mayor alarde en <i>Food</i>
(<i>Jídlo</i>, 1992), a partir de un proyecto concebido veinte años antes. Una obra desglosada asimismo en tres secciones (desayuno, comida y cena), más virulenta y soez todavía al operar con imágenes reales –en todo caso en la acepción que este término tiene en el ámbito de la animación–, subvirtiendo el discurso finalmente humanista y afable de otro simpatizante del surrealismo, Norman McLaren, que ha bautizado y popularizado esta variedad de cine animado con el nombre de <i>pixilación</i>.
Pues las carcajadas que provocan las barbaridades que se suceden, son a costa finalmente de temas tan graves como el hambre, la degradación de las relaciones humanas y las pesadillas del sujeto contemporáneo.
El humor será convulsivo o no será.</p>
<p>  </p>
<p> En 1928, en Brasil, el poeta y activista cultural Oswald de Andrade publicó el «Manifiesto antropófago», un texto fundamental para el modernismo brasileño, en busca de unas señas de identidad emancipadoras y autóctonas:
«Tupy or not Tupy, that is the question. […] Solo me interesa lo que no es mío. Ley de la humanidad. Ley del antropófago.» Para Andrade, una práctica artística antropófaga habría de nutrirse, en consecuencia, tanto de las raíces atávicas como de la asimilación de las ideas llegadas de afuera, en una sociedad precisamente asentada en el mestizaje: «Ya tuvimos el comunismo. Ya tuvimos la lengua surrealista. La edad de oro. Catiti Catiti / Imara Notiá / Notiá Imará / Ipejú.»</p>
<p>  </p>
<p> En los años sesenta, el renacimiento de la modernidad cultural en Brasil, adoptando el distintivo común del llamado tropicalismo, ha redescubierto las proclamas del movimiento antropófago de un tercio de siglo de antes y las ha transliterado con gozosa desinhibición. Y aunque la antropofagia, como se ha dicho, sea una metáfora más que un régimen cárnico depredador, también es en este segundo sentido que está
presente en algunas de las obras más extremadas del <i>Cinema Nôvo</i>.</p>
<p>  </p>
<p> <i>Macunaíma</i>
(1969), exaltada comedia musical de Joaquim Pedro de Andrade basada en una obra del escritor modernista Mario de Andrade, narra las andanzas de un indígena que nace adulto y cambia repentinamente de color (raza), cruzándose en su camino con personajes y lances no menos descabellados, en una constante yuxtaposición de civilización y salvajismo. Entre las escenas y comparsas que satisfacen el gusto antropófago se hallan el encuentro con un caníbal esmeradamente educado y amable, una dolorosa consumición de huevos (no precisamente de ave) y un pantagruélico festín donde varios de los invitados acaban teniendo un chapuzón sangriento, en una piscina atestada de voraces pirañas.</p>
<p>  </p>
<p> <i>Como era gostoso o meu francês</i>
(1971), de Pereira dos Santos, es otra comedia feroz, emplazada en el siglo XVI y hablada en tupí y en francés, la cual causó un gran escándalo en su momento entre el refinado público del festival de Cannes. Narra las desventuras de un aventurero gabacho y sus esfuerzos por ser asimilado entre los indígenas que lo han capturado, lo cual se produce al cabo en el sentido más gástrico de dicha expresión. A la procacidad de este argumento –aumentada por la mordaz anfibología del título mismo–, seguramente había que sumar en su momento el sensual descaro de un coro de intérpretes en cueros vivos.</p>
<p>  </p>
<p> Si hay que señalar todas las proyecciones del surrealismo y la antropofagia, no estará de más mencionar también el despliegue de brutalidades tan caro a cierto cine de serie B, o con <i>b</i> minúscula de basura: la <i>cinebasura
(trash cinema</i>) que a su vez deviene objeto de culto, al menos selectivamente (pero con otras reglas que las del buen gusto). Al margen de la dieta líquida y carmesí del vampirismo, hay en efecto todo un filón de cine de
(sub)género, de explotación y casposo, destinado expresamente a satisfacer los estómagos más fuertes, los espíritus poco impresionables, los disipados goces de la truculencia y el morbo.[[[10]]]</p>
<p>  </p>
<p> En las hileras del <i>gore</i>, o cine de vísceras, y de la farsa granguiñolesca se hallan numerosas aportaciones a la dieta caníbal más cruda y zafia. En estas minutas de baja estofa pueden encontrarse platos tan repulsivos como <i>Holocausto cannibale</i>
(Ruggero Deodato, 1979) –una producción italiana en su momento ofrecida, engañosamente, como un <i>steak tartare</i> de periodistas amarillistas y pendencieros, entrometidos en regiones amazónicas–
y otros guisotes indigestos que ya le «repiten» a uno desde sus gráficos títulos: <i>Blood Feast</i> (Herschell Gordon Lewis, 1963), <i>I Eat Your Skin</i> (Del Tenney, 1964), <i>I Drink Your Blood</i>
(David Durston, 1971), <i>Ultimo mondo cannibale</i> (Ruggero Deodato, 1976), <i>Cannibal Ferox</i> (Umberto Lenzi, 1980), <i>Mangiati vivi</i>
(Umberto Lenzi, 1980), <i>Antropophagus</i>
(Joe D’Amato, 1980), <i>Sexo caníbal</i> (Jesús Franco, 1981), <i>Blood Diner</i>
(1987), <i>Eat the Rich</i>
(Peter Richardson, 1987), <i>Cannibal Women in the Avocado Jungle of Death</i>
(J.D. Athens, 1988<i>)</i>…
El listón lo han elevado algunas piezas de carnicería y chacinería selecta, a pesar de su corto presupuesto: <i>La noche de los muertos vivientes</i>
(<i>Night of the Living Dead</i>, George A. Romero, 1969) en la especialidad de los zombies glotones, y
<i>Bad Taste</i>
(Peter Jackson, 1987) en la de los alienígenas aficionados a los menudillos humanos; <i>Death Line / Raw Meat</i> (Gary Sherman, 1972), sobre la vida atormentada de un caníbal en el averno del metro londinense; <i>La matanza de Texas</i> (<i>The Texas Chain Saw Massacre</i>, Tobe Hooper, 1974), que, entre sus detalles menos cruentos, incluye una descripción sobre la elaboración de los chicharrones (como es sabido, del cerdo se aprovecha todo) que invita a aborrecerlos para siempre más. Finalmente, Hollywood ha elevado a la categoría de cinco tenedores los apetitos desordenados del doctor Hannibal Lecter, entre otras desagradables aficiones de los <i>psychokillers</i>.</p>
<p>  </p>
<p> Fuera del rango que va de la serie B a la Z, la ficción moderna y el cine de autor también han demostrado ampliamente su gusto por el canibalismo. El tema está
presente de manera latente o pasajera en obras de Buñuel<i>
(El ángel exterminador</i>, 1962; se ha dicho que inspirada en <i>La balsa de la Medusa</i> de Théodore Géricault), Jean-Luc Godard (<i>Weekend</i>, 1968), Mauro Bolognini (<i>Gran Bollito</i>, 1977), Marco Ferreri (<i>Los negros también comen / Y’a bon les blancs</i>, 1987; <i>La carne</i>, 1991) o Manoel de Oliveira (<i>Os Canibais</i>, 1998). Así, además de en el tropicalismo brasileño, la antropofagia es plato principal o postre sorpresa de la trama en varios films. Aunque, según los entendidos, la carne humana tiene escaso valor nutritivo, su consumo impremeditado puede satisfacer los deseos por desembarazarse de individuos especialmente fastidiosos, por sus actos o por sus ideas, como sucede en <i>Eating Raoul</i> (Bartel, 1982), <i>Tomates verdes fritos</i>
(<i>Fried Green Tomatoes</i>, Jon Avnet, 1992) o <i>The Last Supper</i> (Stacy Title, 1995). Otramente, la manera de vengarse y vejar a un criminal engreído y autoritario, pasa por obligarle a un atracón de asado con la última de sus víctimas, como ocurre en el infernal restaurante de <i>El cocinero, el ladrón, su mujer y su amante</i>
(Greenaway, 1990).</p>
<p>  </p>
<p> En las pesadillas apocalípticas de la ciencia ficción o de la fantasía más desbordante, la carne humana puede constituir un recurso para mantener boyante el pequeño negocio de un <i>traiteur</i>
(<i>Delicatessen</i>, Jeunet/Caro, 1991), o una megaindustria del <i>fast food</i> destinada a colmar la superpoblación del futuro (<i>Soylent Green</i>, Richard Fleischer, 1973). La realidad, sin embargo, también provee de vez en cuando unos argumentos morbosos. Psicopatías aparte, uno de los casos que conmovió a la sociedad fue el del accidente de aviación que se produjo en los Andes en 1972, y cuyos supervivientes se vieron empujados a practicar el canibalismo para seguir con vida; drama evocado en dos cintas mediocres, entre el sensacionalismo y la moralina –<i>Supervivientes de los Andes</i> (René
Cardona Sr, 1976) y <i>¡Viven!</i>
(<i>Alive</i>, Frank Marshall, 1992)–; y, por otra parte, un referente subvertido por Raúl Ruiz en <i>Le Territoire</i> (1981), donde especula con otros motivos, lejos del fatalismo de un desastre, para entablar un banquete caníbal en nuestros días.  </p>
<p>  </p>
<p> <b>La sangre de las bestias</b></p>
<p> En los comienzos del cine, uno de los pioneros en el negocio, William Selig, de Chicago, selló una alianza con una empresa del sector cárnico y produjo numerosos films sobre el negocio ganadero y sus procesos (crianza, transporte, matanza, descuartizamiento); probablemente una de las primeras manifestaciones del reportaje industrial.[[[11]]] En 1949, Georges Franju se adentró con su cámara en los mataderos de París y se dio a conocer con un contundente cortometraje, <i>Le sang des bêtes</i>, de escalofriantes imágenes. Franju ha filmado la actividad ordinaria de los matarifes sin desviar la vista de las heridas abiertas, la conmoción del dolor que se percibe en el brutal remate que sufren esas bestias criadas para llenar los buches y bolsillos de los humanos. No ha ahorrado detalles de los brutales impactos, como el de la maza que abate al ganado, y los líquidos viscosos que se derraman en la matanza: sangre, vómitos y otras excreciones terminales.</p>
<p>  </p>
<p> Los estudiosos del documental tienden a hablar de objetividad en la obra del primer Franju, remarcando si acaso «sus turbadoras sugerencias metafóricas».[[[12]]] Pero la ambigüedad de dicho concepto se revela tan equívoca como lo es para la <i>Tierra sin pan</i> de Buñuel. La proximidad entre ambos autores, y su coincidencia en el canon del cine subversivo, ha sido glosada así por Amos Vogel:
«Una tonalidad casi onírica permea el intenso realismo de las imágenes; un propósito surrealista –afín al seccionamiento del globo ocular en <i>Un chien andalou</i>– se discierne en este film antiburgués. Pero el ojo de Buñuel, por chocante que fuera, entrañaba una ficción<i>.
La sangre de las bestias </i>es real. Al obligarnos a contemplar, con todo detalle, la muerte dolorosa y sórdida de otro ser, perturba el letargo habitual de nuestra conciencia y nos incita a una reflexión más honda. Franju, artista comprometido, luchador de la resistencia, moralista, quiere que recapacitemos sobre todas las matanzas que se cometen por doquier y en nuestro nombre, a través de aquellos en quienes delegamos la parte sucia del trabajo para que, así, podamos sentarnos ante finos manteles y rehusar toda complicidad.»[[[13]]]</p>
<p>  </p>
<p> Otra obra que se centra en la actividad de un matadero es <i>Meat</i>
(1976), de Frederick Wiseman, que por otra parte ha de ubicarse en la personal trayectoria de este documentalista norteamericano, en su disección del modus operandi de instituciones y organismos un tanto impenetrables, o visitados con ligereza en otro tipo de reportajes tan circunstanciales como circunspectos. Todo lo contrario del cine de Wiseman, que quiere ir al fondo de cada una de las cuestiones, situaciones, instituciones que aborda, dedicándoles tiempo, vivencias compartidas y una minuciosa inspección de sus interioridades orgánicas; sin aditivos del orden del comentario omnisciente, en <i>off</i>, ni concatenaciones absolutamente lineales en el plano del montaje. A diferencia de la obra de Franju, <i>Meat</i> acentúa más especialmente el orden económico de las operaciones que conlleva el negocio de la carne. De los proveedores ganaderos a los consumidores, pasando por las plantas industriales que rigen el ciclo entero; donde el matadero ya es apenas un departamento más en el organigrama de producción y logística. Un ciclo ahora higienizado, automatizado y comparativamente desprovisto de la sordidez que ha envuelto tradicionalmente el sacrificio de seres vivos. Y, sin embargo, pese a los avances al respecto en nuestra sociedad del consumo y el bienestar, este film –igualmente (o deliberadamente) rodado en blanco y negro– no soslaya las brutalidades consanguíneas a la lonja alimentaria. Al contrario, algunas reseñas han subrayado sus momentos más espeluznantes y desgarradores.</p>
<p>  </p>
<p> Obra mayor en lo que se refiere a los abusos y malos tratos que reciben los animales, testimonio de cargo vetado por las televisiones de medio mundo, <i>The Animals Film</i> (1981-1982)
es un elocuente largometraje documental que fue producido por iniciativa del Animal Liberation Front; organización hoy abocada a la clandestinidad, estigmatizada por «terrorista» y cuya persecución se cobró recientemente una víctima con la muerte del activista británico Barry Horne, a raíz de una de las huelgas de hambre que emprendió tras ser condenado a dieciocho años de cárcel.
En <i>The Animals Film</i>, dirigido por el acreditado documentalista Victor Schonfeld junto a Myriam Alaux, con las contribuciones de Julie Christie como narradora y de Robert Wyatt para su banda sonora, las aberraciones relativas al destino alimentario de los cultivos ganaderos son apenas un aspecto de una denuncia más exhaustiva, resultado de dos años de trabajo y con el apoyo de imágenes obtenidas furtivamente en algunos casos, que abarcan otros desmanes en la industria farmacéutica, la investigación científica, la defensa militar y el pseudodeporte cinegético; e incluso en el hábitat privado y en lo que se refiere al maltrato de las mascotas hogareñas.</p>
<p>  </p>
<p> Si resulta difícil sobrepasar la ferocidad de los tres documentales citados, se comprende que ciertas obras de ficción o imaginación hayan optado por la sátira al contemplar el asunto del sufrimiento de los animales y la mala conciencia que ocasionalmente asalta al ser humano, al menos ante la dimensión simbólica del sacrificio y la deglución de otros seres vivos. Les Blank, cineasta independiente norteamericano que durante años hubo de alimentarse como cineasta mediante la realización de reportajes industriales para organizaciones y empresas diversas, algunas de ellas del sector alimentario, hizo con <i>Chicken Real</i> (1973/1980) un
<i>détournement</i> de una faena de dichas características, a propósito de una gran planta de producción avícola, añadiéndole esencialmente un popurrí de canciones populares con el pollo como tema del estribillo. Según una reseña de Michael Goodwin: «Es el único film de Blank donde la muerte se esquiva completamente; pero, en cambio, la muerte impregna esta obra como ninguna otra.»[[[14]]]<i> Chicken Run</i> (2000), el debut en el largometraje de Nick Park y Peter Lord, aclamados virtuosos de la animación de plastilina, suma ingredientes bien diversos: los arquetipos del cine carcelario y de fugas con la zoología antropomorfa del <i>cartoon</i> tradicional (y su referente supremo en los cuentos crueles de la factoría Disney); una alegoría con cierto ascendiente en la
<i>Rebelión en la granja</i> de Orwell y con todo un torrente de gags verbales que apelan a la pollería tan recurrente (y ocurrente) en los tropos del lenguaje común.</p>
<p>  </p>
<p>
«El cine-ojo consigue que el tiempo retroceda». Con el objetivo de propagar las virtudes de un sistema cooperativo de producción y distribución de bienes, Dziga Vertov incluyó en su film <i>Cine-Ojo</i>
(1924) una secuencia en la que se desanda el proceso por el que una res llega al Mercado Rojo de la Alimentación, devolviéndole sucesivamente sus vísceras, su piel y, por fin, la vida. Si, para Vertov, se trataba de mostrar dialécticamente los beneficios aportados por el modelo socialista al reducir el número de intermediarios y sanear la cesta de la compra del proletariado, Tony Morgan y Daniel Spoerri han aplicado el mismo vuelco a la vectorialidad del tiempo en el corto <i>Resurrection</i>
(1968), para crear en este caso una ocurrente visualización del ciclo alimentario con una traviesa arista entre lo escatológico y lo excrementicio. Así, el film comienza con una defecación que asciende hacia el ano de un individuo y sigue con la expulsión y devolución de un filete de la boca al plato, del plato a la sartén, de la sartén a la carnicería, y de aquí a la resurrección de la carne que cobra el cuerpo de una vaca, para restituirla al fin del matadero al prado. Sin duda una obra con un deje revulsivo, que sin embargo sortea lo lúgubre y lo repulsivo en la medida en que la deposición fecal y la muerte hallan su contrapeso simbólico en la regeneración de la vida, el alegórico indulto de la bestia.</p>
<p>  </p>
<p> <b>Banquetes agónicos</b></p>
<p> Entre el vaho todavía de los fogones del mal, la lascivia de los sentidos se despliega en la cochinería de los accionistas vieneses, la <i>grande abbuffata</i> que sirvió
Marco Ferreri y el género de triple X; tres estadios en la demolición de los tabúes y el ultraje al decoro público, cada uno desde un contexto diverso: las corrientes neodadaístas en el arte de los años sesenta; el descaro infractor del cine moderno, las nuevas olas que irrumpen después del neorrealismo; por último, el provecto negocio de la sicalipsis, siempre presto a renovarse mediante la superación de sus cotas anteriores.</p>
<p>  </p>
<p> Ceñirse a lo comestible sería un contrasentido al abordar unas manifestaciones donde no existe la antítesis entre el placer y el dolor, el gusto y el disgusto, lo gozoso y lo escatológico; donde las saturnales, misas negras o ceremonias sacrificiales, el sadomasoquismo y la coprofagia, se combinan en actos o ritos obscenos, disolutos, blasfemos, que recrean en carne viva la transitoriedad de las vanidades humanas, demasiado humanas.</p>
<p>  </p>
<p> Las acciones viscerales (con la misma connotación que tiene el apelativo «cine de vísceras») de los revoltosos artistas austríacos –Hermann Nitsch, Otto Mühl, Günter Brus y otros–, deben parte de su repercusión a los documentos que han generado por medio de fotografías, films y vídeos. A algunos cineastas próximos se deben además piezas tan emblemáticas como <i>16/67: 20. September</i> (Kurt Kren, 1967) –que, por su contenido, pasó a ser también conocido con el subtítulo bien gráfico de <i>The Eating, Drinking, Pissing, Shiting Film</i>–
y <i>Otmar Bauer zeigt</i>
(Otmar Bauer, 1969), que asimismo se regodea en las secreciones humanas, incluyendo la degustación de una vomitona aliñada con orina.</p>
<p>  </p>
<p> Salvando las distancias, algunas obras del cineasta holandés Frans Zwartjes, como <i>Visual Training</i> y <i>Eating</i>
(1969 ambas), escenifican orgías reclusivas, onanistas y apáticas que, con un ribete carnavalesco, recuerdan la desolación de las dramaturgias beckettianas y el desasosiego de las figuraciones expresionistas. Mascaradas de un mundo deshumanizado acentuadas por el alto contraste de las imágenes y el maquillaje exagerado, los movimientos espasmódicos y los actos desquiciados de los personajes, la atmósfera enrarecida que se respira y las peculiares texturas que resultan del revelado casero de la película.</p>
<p>  </p>
<p> De los sumideros de la cultura underground en plena ebullición a finales de los sesenta, estos desenfrenos aviesos han sido absorbidos por el pujante negocio del
<i>hardcore</i>, pero también en ciertas obras extremas del cine de autor europeo. El cineasta serbio Dusan Makavejev, que ya se había hecho notar previamente por sus sediciosos collages de iconoclasia política y liberación sexual, introdujo en <i>Sweet Movie</i> (1974) una secuencia a cargo de la AA Kommune de Otto Mühl, cumpliendo uno de sus rituales de sangre, sudor y carnes.</p>
<p>  </p>
<p> Ferreri, al acometer <i>La grande bouffe</i> (1973), debía conocer igualmente las procacidades de los accionistas vieneses, además de beber en el Marqués de Sade y otros clásicos de la cultura libertina. Sin embargo, la mirada de Ferreri es la del
«moralista apocalíptico», en palabras de Morando Morandini, que percibe la sociedad contemporánea entre el esperpento y la melancolía.[[[15]]] Su receta de glotonería, sexualidad y escatología hasta la muerte, por escandalosa que resultara y resulte, no constituye un alegato de la transgresión y el embrutecimiento liberador. Más bien es una mueca que se deforma de la algazara de un hedonismo gratuito hasta la náusea de la trampa mortal que se preparan a sí mismos los cuatro burgueses aburridos, queriendo remedar a los filósofos del tocador y a los fisiólogos de la voluptuosidad depravada plasmados en las literaturas del mal.</p>
<p>  </p>
<p> En <i>Salò, o le 120 giornate di Sodoma</i>
(1975), Pier Paolo Pasolini trasladó la tabla sadiana de los vicios a una truculenta alegoría de la república fascista de Mussolini, en un combinado, más nauseabundo incluso, de diatriba moral e inmundicia opulenta, donde la mierda se sirve en vajilla de plata.
Por lo demás, la pornografía más <i>hard</i> y <i>bizarre</i>, la que se distribuye en sex-shops y antros para gustos aberrantes, ha hecho de la coprofagia un plato sin más metáforas ni delicadezas
(por mucho que, en el argot del gremio, las heces reciban la designación de caviar).</p>
<p>  </p>
<p> Curiosamente, en el porno, tan dado a parodiar títulos de impacto y géneros en boga, es difícil encontrar algún título que conceda protagonismo a la comida común y corriente (o, al menos, yo no he sabido localizarlo). Parece que no hay tiempo para degustar otras carnes y fluidos que los del cuerpo, y en crudo. A lo más, los comestibles propiamente dichos figuran como acompañamiento –en particular, la repostería y ciertas clases de frutas, verduras y embutidos–, o para cumplir con los estereotipos de la bacanal y los afrodisíacos.</p>
<p>  </p>
<p> Hay que volver todavía a la comilona de Ferreri para retomar otro de los argumentos que plantea, que es el de la glotonería como alegoría de un mundo a la deriva, una cultura del derroche que posterga los problemas que crea o perpetúa. El artista y cineasta húngaro Peter Foldès, en su corto de animación <i>La Faim /
Hunger</i> (1974), ha caricaturizado la voracidad del individuo pudiente que se siente ajeno a las carencias de los desheredados de la tierra, medrando en su avaricia y autosatisfacción compulsiva. En uno de los <i>sketches</i> de <i>El sentido de la vida</i>
(<i>Monty Python’s The Meaning of Life</i> (Terry Jones, 1983), la fórmula del comer-hasta-reventar tiene una transposición literal tan jocosa como desbordante, que parece que vaya a salpicar incluso al público arrellanado en el patio de butacas. En cambio, en <i>El discreto encanto de la burguesía</i>
(<i>Le charme discret de la bourgeoisie</i>, Luis Buñuel, 1972), no se asiste a otra cosa que a una frustración constante de los apetitos de un grupo perteneciente a la clase adinerada, sin perder sus buenas maneras ante las situaciones cada vez más insólitas que postergan, una y otra vez, el irrealizable ágape que los cita. El humor, sea de brocha gorda o de pincel fino, sigue revelándose como un buen acompañante cuando se trata de la gula y de los abismos entre la abundancia y la escasez más extrema.</p>
<p>  </p>
<p> El yantar de reyes, emperadores y patricios se muestra en toda su plenitud en los asuntos de corte histórico y épico que retratan la vida y costumbres de la nobleza y la alta sociedad; con los correspondientes alardes en el diseño de producción, emperejilando con fidelidad o fantasía sus fastos: de<i> La vida privada de Enrique VIII</i>
(<i>The Private Life of Henry VIII</i>, Alexander Korda, 1933) a <i>Iván el terrible</i>
(Sergei M. Eisenstein, 1944/1946); de <i>Cleopatra</i>
(Joseph L. Mankiewicz, 1963) a <i>Fellini-Satyricon</i>
(Federico Fellini, 1969); de <i>El Gatopardo</i> (<i>Il Gattopardo</i>, Luchino Visconti, 1963) a <i>La edad de la inocencia</i> (<i>The Age of Innocence</i>, Martin Scorsese, 1993).</p>
<p>  </p>
<p> Dos obras de ficción histórica, bien diversas entre sí, han penetrado por otra parte en los entresijos y avíos de las cocinas regias. En <i>El cocinero de Ludwig</i>
(<i>Theodor Hierneis oder wie man ein ehemaliger Hofkoch wird</i>, 1973), Hans Jürgen Syberberg ha elaborado un retrato enjuto de Luis II de Baviera y su época, el cual se desenvuelve entre los fogones, el régimen alimentario de un soberano enfermizo y las habilidades de su funcionario del gusto; todo ello en contrapunto con la lírica neobarroca de su anterior y deslumbrante acercamiento a la trágica figura del rey loco, <i>Ludwig.
Réquiem por un rey virgen</i>
(<i>Ludwig. Requiem für einem jungfräulichen König</i>, 1972) y de sucesivos cuadros de historia a propósito de los sueños y pesadillas de la cultura germánica, eslabonando las figuras de Karl May, Adolf Hitler y Richard Wagner como parte de una tétrica, herrumbrosa cadena.</p>
<p>  </p>
<p> Como Syberberg prefiere los símiles de la música, cabría hablar de una pieza de cámara, incluso si en este caso rehúye la música propiamente dicha, por oposición al réquiem de su anterior <i>attacco</i> sobre el rey bávaro. En cualquier caso, la fuerza de esta pieza reside en su cariz casi documental y distanciador (siguiendo las enseñanzas de Brecht que han alimentado a Syberberg desde sus inicios) al recorrer las moradas hoy museificadas del monarca, sirviéndose como hilo conductor de las memorias escritas por su jefe de cocina, Hierneis –personificado por un actor vestido con ropas modernas, simultáneamente el cicerone de la visita–, en una propuesta precursora de la historiografía de la vida privada que se popularizaría luego: «un film escrito en el interior de la historia desde un punto de vista que se opone radicalmente a toda escritura oficial»; «una desmixtificación de la historia».[[[16]]]</p>
<p>  </p>
<p>[][] <i>Vatel</i>
(2000), por otra parte, es una obra más distinguida y apreciada por su diseño de producción que no por la discreta nombradía de su autor, Roland Joffé, rodeado en todo caso de un competente equipo que incluye al dramaturgo Tom Stoppard, el compositor Ennio Morricone y un atractivo elenco internacional. Ubicada en el firmamento terrenal del Rey Sol, la trama gira en torno a los últimos días de François Vatel, afamado <i>maître d’hôtel</i> que, estando al servicio del Príncipe de Condé y puesto al mando de un agasajo a la corte de Versalles con el fin de reconquistar sus favores, se quitó la vida para mortificar (nunca mejor dicho) sus errores. Sin embargo, el interés mayor del film reside en su magnificencia a la hora de ilustrar aquello que George Maciunas llamó los «espectáculos multimedia del barroco», donde la pitanza es apenas un fastuoso ingrediente en la orquestación de un festín polisensorial y voluptuoso en honor de la potestad solar de Luis XIV.</p>
<p>  </p>
<p> <b>Festines afectivos</b></p>
<p> Una de las evoluciones que se ha observado respecto al creciente relieve de los temas manducatorios en el cine, concierne a una socialización progresiva de los placeres de la buena mesa. Por un lado, por un cambio de escenario de la cocina hogareña y su régimen común, de subsistencia incluso, a una mayor frecuentación de los pulcros manteles de los más finos restaurantes, donde el ágape entraña otros ademanes de relación social, encuentro mundano, cita afectiva, etc. Por otro lado, en la medida en que las estampas del gran banquete y la fantasía gastronómica cesan de ser una prerrogativa del poder y de la opulencia, y se ponen al alcance de otros bolsillos y paladares.
Siguiendo el hilo que conduce de los banquetes del poder, las cocinas aristócratas a la celebración civil de los goces de la mesa, <i>El festín de Babette</i> es tenido como un título clave en la conformación de ese género espurio del cine del comer. Y justamente por ser un espécimen tan emblemático, merece un cierto detenimiento a fin de extraer unas pautas comunes a otros víveres cinematográficos que comparten esa notoriedad.  </p>
<p>  </p>
<p> Además de por sus méritos propios, el film de Gabriel Axel debe parte de su celebridad y repercusión a la obtención del Oscar al mejor film en lengua extranjera en 1988; un buen respaldo para esta producción proveniente de una cinematografía periférica, la danesa, y con un tempo no precisamente acompasado a los hábitos del <i>fast food</i> audiovisual.
Justicia poética, pues el film se basa en una narración que Karen Blixen (alias Isak Dinesen) escribió originalmente para una publicación estadounidense, fiándose al clisé que dice que a los norteamericanos les gusta leer sobre sofisticaciones culinarias, incluso si su dieta común adolece de todo lo contrario.</p>
<p>  </p>
<p> Por su ubicación a fines del siglo XIX y en una comarca aislada de la pequeña península de Jutlandia, el film evoca la tradición jansenista y el estilo austero que se asocian a los grandes clásicos del cine escandinavo. La llegada de Babette, la chef francesa exiliada a consecuencia de los hechos de la Comuna de París, introduce el motivo del choque de mentalidades y culturas tan presente en numerosas ficciones que otorgan relieve a las maneras de mesa. Todo se produce <i>sottovoce</i>, sin embargo: entre la beatería y la caridad frugal de la comunidad puritana nativa, y la experiencia mundana de la resignada Babette.
Así, cuando la fiel sirvienta destina las fortuitas ganancias que le reporta un billete de lotería a un opíparo banquete para doce comensales, se advierte un progresivo cambio de semblante en la pía comunidad donde se refugia, venciendo los restrictivos votos que los oriundos se imponen ante los fugaces placeres sensoriales. La sutilidad es en todo caso la miga de este film exquisito, panegírico de lo espiritual en el arte y de la creación estética como ofrenda.
El festín sereno que es el clímax de la obra remite muy pertinentemente a la estampa de la Santa Cena, con un giro profano y gastrosófico; en las antípodas, por otra parte, de la parodia irreverente y literal que Buñuel puso en escena en el festín de los mendigos de <i>Viridiana</i>
(1961), o de la virulenta confrontación que se entabla en <i>La
última cena</i> (1976) de Tomás Gutiérrez Alea (donde un piadoso aristócrata decide concelebrar una cena de misericordia con algunos de sus siervos esclavizados).</p>
<p>  </p>
<p> Galardón académico aparte, <i>El festín de Babette</i> es también un título bien significativo de la propagación de boca en boca que distingue el culto de un cine del apetito y el gusto. Así
es como el menú de <i>Babette</i> ha pasado a ocupar un lugar memorable en el imaginario y los recetarios de la pantalla: sopa de tortuga al estilo de Louisiana, caviar con blinis Demidoff, codornices en sarcófago (rellenas de foie y trufa negra), una desengrasante ensalada y servicios de queso y fruta, todo ello regado con una soberbia selección de vinos. Sin embargo, entre los hitos del cine alimentario, el quid no reside verdaderamente en la opulencia, la abundancia o el exotismo de los manjares presentados. Y el gancho no estriba tanto en el plato final, como en la suma de los preparativos; es decir, no está en el montaje del plato sino en el montaje cinematográfico que trasunta la fisiología del gusto y la psicología de las sensaciones, emociones, vivencias alrededor de esa comunión laica que se representa en
<i>Babette</i> y otras obras indizadas según la intensidad de sus insinuantes sabores.</p>
<p>  </p>
<p> Precisamente, al emplazar los ritos de la mesa en la esfera de lo cotidiano, más que como un privilegio hedonista de las clases pudientes, los alimentos se hacen más cercanos al público común, sin perder por ello su porte simbólico y su hechizo. Un hechizo que se desprende, en gran parte, de la pericia que se manifiesta en las elaboraciones y en la vistosidad misma de los ingredientes manejados. Tanto si los fogones corresponden a un restaurante o al ámbito hogareño; si las virtudes y habilidades pertenecen a la cocina de autor o a la cocina casera, a una dedicación profesional a tiempo entero o a las atomizadas labores de la sufrida ama de casa.</p>
<p> Susan Wolk y María José Sevilla, impulsoras de The London Food Film Fiesta, han observado que en los
últimos años se han sucedido un número de films de éxito que coinciden en sus «mensajes sobre la unidad o la desunión familiar y el afán de perfección», otorgando a la comida un rol central.
Argumento que aliñan con significativos datos sobre los detalles de producción y atrezzo culinario en films como <i>Eat Drink Man Woman</i> –con
«un elenco de más de cien platos»– y <i>Big Night</i>, del que comentan:
«Con el mayor crédito para su autenticidad, pues sus dos coprotagonistas se entrenaron durante casi un año en verdaderos restaurantes. El film perfecto para los noventa, la era de los chefs reverenciados como héroes.»[[[17]]]</p>
<p>  </p>
<p> A su vez, este esplendor de ficciones gastrocinematográficas cobra una dimensión cuasi antropológica por sus acentos étnicos o vernáculos, abarcando un perímetro multicultural muy acorde con las negociaciones de nuestro tiempo entre la globalización y los particularismos. Ambos aspectos, la instantánea familiar y ese sesgo antropológico que se desprende por añadidura, pueden advertirse en un buen número de films que visitan los modos de vida y los pucheros (también los de tipo emocional) de familias y dinastías de Taiwan (<i>Eat Drink Man Woman</i>) o de México (<i>Como agua para chocolate</i>); del <i>melting pot</i> norteamericano –en cuadros de costumbres chicanas (<i>Tortilla Soup</i>), afroamericanas
(<i>Soul Food</i>), italoamericanas (<i>Big Night</i>), o de todo un abanico de comunidades en <i>What´s Cooking?</i> (que gira en torno a la cena del Día de Acción de Gracias de cuatro familias de ascendente latino, afroamericano, judío y vietnamita)&shy;– y, por supuesto, del insoslayable hexágono francés (<i>La Bûche</i>, <i>Au Petit Marguery</i>, <i>American Cuisine</i>, <i>Chocolat</i>, etc.)</p>
<p>  </p>
<p> <b>Antropologías y filosofías de cocina</b></p>
<p> Entre las connotaciones antropológicas y sociológicas que pueden hallarse en el cine de ficción escorado a las maneras de mesa, estas constituyen, como se ha visto en cierto modo, un subterfugio para abordar otras cuestiones tales como la crisis de la familia, el choque de culturas, el extrañamiento o el desarraigo, etc. Ahora conviene referirse igualmente a unos fogones alternativos que, desde una percepción documental o privada de la cocina más popular o corriente, sitúan en primer plano los aspectos antropológicos, la dimensión social de la alimentación y los caprichos del paladar y del vientre.</p>
<p>  </p>
<p> Luc Moullet, cineasta en el sentido más fecundo del término –tal como lo han manejado los «jóvenes turcos» de la Nouvelle Vague (Moullet ha ejercido como crítico, productor, adalid de un cine diferente)–, ya introdujo el motivo alimenticio en su primer corto, <i>Un steak trop cuit</i> (1960).
Sin embargo, es a través de una modalidad documental bien libre que ha emprendido una aguda exploración sobre los cultivos y engranajes que aprovisionan el banquete global de nuestros días: <i>Genèse d’un repas</i> (1978) parte de un frugal almuerzo que se preparan el director y su pareja
–tortilla, atún en conserva y una banana– para perseguir, retroactivamente, el origen y la ruta que siguen estos abastos que se renuevan en el mercado; el paquete de huevos, la lata de atún, el fruto tropical. Un trayecto que, a la inversa, le lleva al encuentro de las empleadas del supermercado, los estibadores del puerto, las granjas avícolas de Normandía, las industrias conserveras de Senegal y las plantaciones bananeras de Ecuador, entre otras ramificaciones e intermediarios. Esta encuesta cobra un sesgo político y corrosivo al plantear una y otra vez unas mismas preguntas, de orden aparentemente trivial a veces, para dar voz y presencia a los asalariados y explotados de la cadena alimentaria en la era del capitalismo rapaz; hombres y mujeres en la espalda o las ancas del mundo. Así, el film toma las maneras del cine militante en un momento crítico para el mismo, aunque sin adoptar otras consignas que las de la ética del individuo que se pregunta por la procedencia de los productos alimenticios que llegan a su mesa. Sin duda, un aspecto un tanto heterodoxo en relación con los temas mayores del mediactivismo de la época, por lo que no es de extrañar que la trayectoria de Moullet –en realidad, un heterodoxo en todo momento–
haya recibido la distinción que le acredita como académico de esa ciencia imaginaria que es la patafísica. En su filmografía posterior se descubren así casos de estudio tales como <i>Essai d’ouverture</i> (1988), que examina distintas maneras de abrir una botella del refresco globalizado por excelencia, y <i>Le ventre de l’Amérique</i>
(1996), descubriendo en la ciudad de Des Moines (en el estado de Idaho) una «capital de la obesidad», el vientre satisfecho de la América profunda.</p>
<p>  </p>
<p> Otro sabor tienen los films intensamente sazonados de Les Blank, en su vibrante exploración del folclore popular, la buena música y el bien comer en el puchero multicultural de los Estados Unidos de América. Adiestrado, como ya se ha dicho, en los moldes del cine industrial y corporativo, desde mediados de los sesenta Blank emprendió paralelamente una tenaz andadura como independiente (en el sentido más enérgico del término), capturando las costumbres y las manifestaciones musicales y festivas de las comunidades afroamericanas, cajunes, criollas, chicanas, serboamericanas, etc. En referencia a su entrega a estas etnias y colectividades en la periferia de la supremacía WASP a la cual pertenece él mismo, el cineasta se ha franqueado humildemente como un «fisgón cultural», añadiendo: «Considero que mi propia tradición cultural es, ¡ay!, un tanto flaca.»[[[18]]] Sin embargo, prácticamente todas las glosas sobre su cine remarcan, no solamente la honda implicación del cineasta fisgón, sino su pericia para involucrar al espectador en las vivencias y emociones que retrata. En palabras de Patricia Aufderheide: «Al situarse respetuosamente –y al situar al espectador– como un forastero invitado más que como un observador invisible o un falso participante, comparte con el espectador la dignidad, la energía y las contradicciones de los individuos que filma. (…) Su público se ha incrementado en correspondencia con el abanico de los temas que aborda, a menudo como un comentario oblicuo sobre una cierta falta de sabor en la vida moderna, festejando la resistencia ante la homogeneización dominante.»[[[19]]] Y otro aspecto que sugieren diversos comentarios acerca de su obra reside en su cualidad sinestésica, que procura una impresión particularmente vívida de los ritmos, sabores y aromas que envuelven sus gozosos documentales sobre la veneración y la cocina del ajo
(<i>Garlic is as Good as Ten Mothers</i>, 1980) o sobre los especiados platos de la cocina criolla de Louisiana
(<i>Yum Yum Yum!</i>, 1990); entre otros muchos guisos y condimentos que se extienden en el buffet de Blank (<i>A Blank Buffet</i> es justamente el título de uno de los compendios antológicos que ha compuesto con fragmentos de su amplia filmografía).</p>
<p>  </p>
<p> Los acercamientos etnográficos a los hábitos vitales y alimenticios de determinadas culturas o comunidades se solapan a menudo con la introspección autobiográfica y la referencia a los flujos migratorios que han alterado los mapas de la geografía humana, por encima de la cartografía política del planeta. Entre la primera filmografía de Martin Scorsese se halla un mediometraje documental, <i>ItalianAmerican</i>
(1974), circunstancialmente producido para la televisión, aunque, por otra parte, con las hechuras humildes de un ejercicio de cine familiar firmado por un profesional de éxito y que siempre se ha mantenido fiel a sus raíces. Raíces que, además de las del
ítaloamericano, son las del cine del color de la sangre reclamado por el New American Cinema en los años sesenta; practicado con otro sesgo desde el paso por la factoría Corman y en los films de gángsteres que jalonan la trayectoria de Scorsese.  </p>
<p>  </p>
<p> <i>ItalianAmerican</i> es un retrato de familia, a modo de instantánea de la cena hogareña semanal, donde Scorsese registra las reminiscencias de sus progenitores mientras se cuece el ragú, la primorosa salsa que acompaña al plato de pasta que seguidamente se consume –todo lo cual se sazona con documentos (fotografías y films) pertenecientes al orden de la historia o memoria privada–, hasta concluir con una detallada descripción de la receta en el rodillo de los títulos finales. Esta primera degustación pública de la cocina de la familia Scorsese hallaría secuelas de otro tipo en la edición de un recetario firmado póstumamente por Catherine Scorsese, la madre del cineasta,[[[20]]] y en el detallismo gastronómico que presentan obras de sabores tan contrastados como <i>Toro salvaje</i>
(<i>Raging Bull</i>, 1980), <i>Uno de los nuestros</i>
(<i>Goodfellas</i>, 1990) y <i>La edad de la inocencia</i>
(1993).</p>
<p>  </p>
<p> En otro mediometraje de Boris Lehman, <i>Muet comme une carpe</i>
(1987), se asiste igualmente a los preparativos completos de la carpa rellena a la polonesa, un plato de rigor en los ritos tradicionales de los judíos askenazíes. Con una segunda connotación simbólica que relaciona el sacrificio del «pez de la melancolía» (como dice un verso de Apollinaire) con la persecución antisemita y la memoria del holocausto, mediante el tropo, la metonimia del alimento sacramental y las preces que rodean su preparación y servicio como entremés en la víspera de las festividades semíticas.</p>
<p>  </p>
<p> Paul Kwan, artista vietnamita afincado en Estados Unidos, es autor junto con Arnold Iger de <i>The Springroll Trilogy</i>, una serie de tres vídeos que abordan diversos aspectos de la experiencia de la inmigración asiática en Estados Unidos. Las sucesivas entregas de la trilogía –<i>Anatomy of a Springroll</i>
(1991-1993), <i>Pins and Noodles</i> (1996), <i>A Wok in Progress</i> (2000)–
comparten un registro autobiográfico, partiendo de la interpretación del lenguaje, la oralidad de la comida para elucidar otras cuestiones de identidad y mestizaje cultural en la confrontación entre la cocina-con-raíces de la tierra materna y el desnaturalizado Big Mac de la nación adoptiva. «Hacer cine es como cocinar» –aduce Kwan– «el director o el chef siguen un guión o receta, combinando sus ingredientes en un programa o festín. El disfrute simultáneo de la comida y el quehacer cinematográfico me ha permitido tender puentes para el conocimiento de otras culturas.»[[[21]]] La originalidad de la propuesta de Kwan e Iger reside por otra parte en sus inclinaciones multimediales (el tándem inició su actividad en el campo de la performance y las dramaturgias experimentales), al amalgamar de manera inventiva diversos recursos y estilos –imágenes documentales y de archivo salpimentadas con escenas de ficción, oníricas y de animación–; también en cuanto a las modalidades de exhibición de su obra, de la exitosa difusión que ha tenido en diversas televisiones a las versiones instalativas que han desarrollado.</p>
<p>  </p>
<p> Oralidad y comida concurren igualmente en las impresiones dietarísticas de George Kuchar, figura de proa del cine underground más irreverente y desvergonzado, que rehabilita la denigrada estética del vídeo casero en su gozosa y desaforada entrega –un centenar largo de piezas desde mediados de los ochenta– a la electrónica de consumo. Al apuntar su videocámara y sus comentarios, entre meditabundos y dicharacheros, sobre el plató de la vida cotidiana y de sus correrías bohemias, Kuchar descubre el papel que cumple el condumio en el aparato cultural y digestivo del ser humano con piezas tales como <i>The Plucking of the Succulents</i>
(1989), <i>Edible Atrocities</i>
(1990) o <i>Culinary Linkage</i>
(1999). Su antropología visual (¡y parlanchina!) es la del pícaro, del ácrata, del paladar sarcástico que saborea atónito el repertorio que se extiende de las delicias más refinadas a la comida-basura más infecta y homogeneizada; de las mesas y alacenas más exquisitas a los abrevaderos de comida rápida y criminal-en-serie; y de la fisiología del gusto a los digustos del vientre. Sin embargo, sus apuntes corrosivos y sardónicos sobre la prosa del mundo están a menudo teñidos de melancolía y de sensaciones comunes a la gente corriente, por su incisiva observación de aspectos tales como los ritos culinarios del calendario festivo, los suculentos hábitos alimenticios de la gente guapa, las arquitecturas del <i>fast food</i>, etc.</p>
<p>  </p>
<p> La celebración del Campeonato Mundial de Futbol de 2002 ha despertado la perplejidad de Occidente respecto a ciertas costumbres de la mesa en Corea, entre las cuales el uso del rollo de papel higiénico como servilletero común y, más aún, la afición por la carne de can –compartida por otros países vecinos– y la existencia de granjas dedicadas a la cría de perros específicamente destinados a este consumo. El videoartista Ken Feingold ya abordó este tabú sostenido respecto a la ingestión de determinadas carnes –como las de los animales que se denominan de compañía–, en su cinta <i>Un chien délicieux</i>
(1991, a partir de un material grabado en 1986), la cual se desgaja de una serie de vídeos que ha realizado en la segunda mitad de los ochenta, a raíz de sucesivos viajes por el continente asiático, con un expresivo enunciado referente a su interés por la percepción de la otredad (<i>Distance of the Outsider</i>, la distancia del forastero). No sin humor (inevitablemente con un tinte negro), el título alude a uno de los hitos del surrealismo y en la cinta se asiste a la preparación culinaria del delicioso cánido. Todo lo cual se corresponde con el encuentro fortuito con un natural de Tailandia que narra su visita a París de la mano de un grupo de antropólogos, y su frecuentación y amistad con miembros del clan surrealista, llegando a engatusar a André Breton con una degustación de la cocina más desusada para el paladar francés
(que, sin embargo, ha elevado a cotas de alta gastronomía el consumo de caracoles o ranas). La argucia de la obra reside en la verosimilitud incierta del episodio que se narra, y que cuestiona así
la legitimidad o los límites del documento etnográfico para la comprensión de otros hábitos culturales.</p>
<p>  </p>
<p> <b>De otras despensas</b></p>
<p> He reservado para el final las obras más inclasificables o misceláneas que pueden hallarse en las despensas del cine y vídeo experimental y de artistas. En realidad, los motivos alimentarios no parecen tener una presencia demasiado acusada en dichas coordenadas.[[[22]]] En comparación con el volumen de las ficciones y documentales adyacentes a los asuntos del comer, son contadas las referencias que puedo añadir a las ya diseminadas anteriormente. Algunas que se me ocurrieron de inmediato me parecen al cabo demasiado tangenciales. Es el caso, por ejemplo, de Andy Warhol con <i>Eat</i>
(1963), retrato de Robert Indiana comiéndose un hongo, de la misma manera que Warhol ha filmado, en la primera etapa de su filmografía los actos de dormir, fumar, emborracharse o practicar el sexo en todas sus variedades; mientras que <i>Kitchen</i>
(1965) y <i>Nude Restaurant </i>(1967)
nombran y demarcan unos «decorados» donde las cosas del comer no son verdaderamente las prioritarias. Es el caso también de Peter Kubelka, cuyo nombre conviene destacar también por sus fogosos postulados acerca de las artes articulatorias –que, para él, son precisamente la música, el cinema y la cocina, las prácticas que permiten modelar una <i>escultura del tiempo</i>–
y por su peculiar actividad académica en torno a la cocina considerada como una de las bellas artes.[[[23]]] De su obra cinematográfica, tan parca como capital, cabe además señalar que algunas de sus piezas nacieron como encargos para publicitar un bar de Viena (<i>Adebar</i>, 1957) o una marca de cerveza (<i>Schwechater</i>, 1958), que se convirtieron en sus manos en meticulosas orfebrerías de montaje aritmético.</p>
<p>  </p>
<p> En el marco de un nuevo cine formal, anticipado por Kubelka entre otros, pueden hallarse algunas piezas que retozan con lo comestible y con el paramento de la mesa. Como parte de un cine estructural o materialista que sobresalió en los años sesenta y setenta, una de las vertientes que ha recibido un nombre propio es la del film paisajístico (<i>landscape film</i>). Denominación bien significativa que trasluce la cuna que el cine de vanguardia ha tenido en las artes plásticas, aunque imponiéndose el reto de hacer puramente cine, de ir a lo intrínseco de la imagen-movimiento. Otro arquetipo de la tradición plástica, la naturaleza muerta, constituye igualmente el motivo y pretexto de algunos films de Michael Snow, Mike Dunford y Malcolm Le Grice que exploran su traslación en términos propiamente cinematográficos. Así, invariablemente, la <i>still life</i> da paso a un bodegón animado y, aunque la premisa de estas obras sea esencialmente de orden formal y analítico, el ingenio y el humor se cuelan e impregnan de ironía la remisión a uno de los géneros más estereotipados y académicos de la pintura.</p>
<p>  </p>
<p> En <i>Still Life with Pear</i> (1974), de Mike Dunford, el bodegón –una composición frutal y una frasca de vino– es consumido y arruinado mientras se cumple su filmación según un vaivén de la cámara prescrito de antemano; la voracidad desbarata el plan sistemático, cuasi científico (tal como ha remarcado el propio autor) de un film que pretende describirse a sí
mismo según una premisa muy propia del cine materialista-estructural. Michael Snow, en <i>Breakfast
(Table Top Dolly)</i>
(1972/1976), también juega con la representación del espacio cartesiano y la ilusión de profundidad en la imagen. Esta nos muestra al principio una mesa dispuesta con los elementos propios de un desayuno –un bodegón moderno, como de supermercado (vajilla de plástico, tetrabricks de zumo y leche, cartón de huevos, panecillos, mantequilla, cesta de fruta)–; una imagen perfectamente estática hasta que la cámara avanza y, mediante una plancha de plástico transparente antepuesta al objetivo, se lleva por delante todo lo que encuentra y aplasta literalmente, con un empuje arrolladoramente cómico, la naturaleza muerta. (Significativamente, Snow acudiría de nuevo al efecto chocante y desternillante de dicha estratagema en una de las secciones de su largometraje <i>Presents</i>
(1980-1981), esta vez sobre un decorado a gran escala y a propósito de otro tema característico de la tradición artística: el desnudo). Malcolm Le Grice, por su parte, toma como referente el giro crucial que el impresionismo introduce en el orden de la representación visual, con obras como <i>After Manet, After Giorgione: le déjeuner sur l’herbe or fête champêtre</i>
(1975, para cuatro proyecciones), <i>Academic Still Life (Cézanne)</i>
(1977) y <i>Digital Still Life</i> (1989).</p>
<p>  </p>
<p> Una de las aportaciones más insólitas a la confluencia del cine y la comida es, sin duda, la de una serie de films, objetos y performances que Tony Conrad ha cocinado (harto literalmente, como se verá en seguida) en los años 1973-1974. Conrad, músico y cineasta simultáneamente próximo a Fluxus y al minimalismo musical, al cine underground más transgresor
(Warhol, Jack Smith) y a la corriente estructural que comienza a despuntar a mediados de los sesenta, ha sugerido que fue por una reacción visceral ante los debates más sesudos de la época, en torno a la ontología del cinema y los límites de una praxis radical, que se le ocurrió cruzar el cine con la cocina. Realizó
así una retahíla de films –algunos proyectables, otros no
(transmutándose así en objetos poscinematográficos)–, sometiendo distintas emulsiones a operaciones de fritura, asado, hervido, maceración, encurtido… con diversos ingredientes, condimentos y preparaciones propiamente comestibles: película en salmuera, en vinagre, al curry, a la criolla o en sukiyaki con verduras, tal como indican títulos como <i>Deep Fried 4-X Negative</i>, <i>7360 Sukiyaki</i> y <i>Pickled 3M-150</i> (los cuales especifican también el tipo de película utilizado). La culinaria fílmica de Conrad constituye así un inopinado anexo a la cocina futurista más estrambótica.</p>
<p>  </p>
<p> Entre los artistas más conspicuamente dedicados al arte y la cultura de lo comestible, Antoni Miralda es el que ha utilizado más abundantemente los medios audiovisuales y sus expansiones multimediales, más allá de la documentación de los llamativos ceremoniales de sus banquetes polícromos o de los esponsales del Viejo y el Nuevo Mundo (Colón y Miss Liberty, Barcelona y Nueva York) en su <i>Honeymoon Project</i> (1986-1992). La cualidad festiva de su obra celebra la convivencia y la diversidad cultural, y adopta a menudo un enfoque etnográfico y de cartografía de las costumbres. En este sentido, Miralda ha acudido a elementos audiovisuales en varias de sus instalaciones y como parte del decorado de El Internacional, el restaurante que abrió junto a Montse Guillen en Manhattan, el cual contaba con un «videomenú»
para la presentación de sus especialidades. Obras características son la videoinstalación <i>Texas TV Dinner</i> (1977), un bufé
de cocina cosmopolita a degustar por la vista y el oído a través de siete pantallas de vídeo encastradas en una mesa, y con otras tantas copas a modo de auriculares; o <i>Milk, Coca-Cola and Balut</i>
(1986), una aproximación antropológica a los ritos mestizos de la Semana Santa en Filipinas.</p>
<p>  </p>
<p> El arte feminista ha emplazado uno de sus campos de batalla y liberación identitaria en el entorno y las labores del hogar; un hábitat que la mujer puede sentir como propio y, a la vez, como enajenador. En los fogones del cine y vídeo feminista no se come tanto como se habla, se polemiza y se ponen en cuestión ideas recibidas y todavía en vigor acerca de la feminidad.
Resultaría una cocina más bien adusta si no fuera por el sentido del humor que potencia sus razones. Algunas obras de Martha Rosler son ejemplares al respecto. En <i>A Budding Gourmet</i> (1974)
pone en solfa la afectación de una cultura elitista del gusto disociada de los sinsabores del mundo, en el sentido que apunta el siguiente comentario sobre el vídeo: «Rosler esclarece el parentesco entre la figura del <i>goumet</i> y las nociones de clase, y cómo la cocina, percibida tradicionalmente como la esfera de poder de la mujer, se utiliza para mantener la superioridad sobre otras culturas, tal como ocurre en la esfera “masculina” de la política.»[[[24]]] Conciliando con desparpajo el sarcasmo y la diatriba emancipadora, una de las piezas más conocidas de Rosler es por otra parte la titulada, con doble ironía, <i>Semiotics of the Kitchen</i> (1975), en la orilla más refrescante de las sobrias maneras, los primarios recursos de los inicios del videoarte; junto a, por ejemplo, el humorismo conciso e impávido de William Wegman.[[[25]]] Abecedario ilustrado del ajuar propio de la buena cocinera, parodia simultánea de los formatos televisivos de adiestramiento culinario, la artista demuestra ante la cámara el uso que tienen los diversos aperos de la cocina –de la A a la Z (comenzando por el <i>apron</i>,
«delantal» en inglés)– y sus gestos cobran, a medida que recorre el inventario semiótico de los objetos, un sesgo progresivamente arisco, indócil y de una violencia latente. Según referencias, otras invectivas, parodias y alegorías desde temperamentos contiguos se hallarían en cintas de Suzanne Lacy, Nina Sobel, Linda Montano, Barbara Latham, Jeanine Mellinger, Annette Barbier y Nancy Buchanan, hurgando entre los espacios y enseres de la cocina y el comedor, las preocupaciones dietéticas y los desórdenes alimentarios, las tentaciones dulces y los desengaños más amargos.</p>
<p>  </p>
<p> Otra obra capital es <i>Das Frauenzimmer</i> (1981), de Claudia von Alemann, cuyo título, aunque literalmente se traduzca como «La habitación de las mujeres», remite a una expresión sumamente despectiva del habla alemana para designar al género femenino. Justamente, al emplazar la acción en una espaciosa cocina, Alemann sugiere que la cocina es la única habitación propia que se le ha reservado a la mujer en su rol de ama de casa, madre nutricia, reina de los fogones. Esta cocina no se presenta sin embargo como un espacio opresivo, sino como un decorado simbólico en el que se expresan las vivencias, emociones y deseos de la mujer; no una mujer determinada, sino una identidad de género que se enfrenta con la connotación denigrante de aquel dicho germánico que simultáneamente describe el escenario mismo de la representación. Y esta se fragmenta en una sucesión de viñetas o espots, libres de una concordancia narrativa convencional, que acuden a la metáfora y al humor para exponer una visión insolente de la condición femenina y la discrepancia feminista.</p>
<p>  </p>
<p> La parodia de los formatos que la televisión ha instaurado para suplir al manual de cocina, con una
índole entre lo instructivo y lo promocional, es una referencia presente en otras piezas cortas. <i>Alice in the Kitchen</i> (1988) y
<i>Baguette</i>
(1991), de Volker Anding, son dos clips coreográficos ambientados entre fogones, donde los productos comestibles y los bártulos culinarios se integran dinámicamente en la danza y la composición sonora. El estilo vivaz de montaje que Skip Blumberg imprime a sus documentales remarca los aspectos acrobáticos de ciertas preparaciones culinarias asiáticas en la traviesa mirada que entrañan <i>Flying Morning Glory (on fire)</i> (1985) y
<i>Chinese Noodle Making: Backwards and Forwards</i>
(1989). Estas piezas comparten con las de Anding unas mismas características de brevedad y ritmo vibrante en la presentación de unas piruetas gestuales, cabriolas culinarias, siendo reveladoras del impacto estético del videoclip y de las técnicas de edición digitales. El ánimo paródico es todavía más evidente en <i>La cocina en casa</i> (1990), de Pablo Llorca –que, como sugiere su título, transporta el modelo a una puesta en escena casera y despeinada–, y en <i>Poesia plàstica visual culinària</i>
(2001), de Ester Xargay con el artista David Ymbernon, alquimista de la cocina, que extrae de cada plato una sorpresa o charada poética.</p>
<p>  </p>
<p> <i>Eat like a Winner</i>
(1998), un vídeo firmado por Dan Boord, Greg Durbin y Luis Valdovino, se hace eco también de esta referencia –la catequesis de la cocina en el teletubo– y la emplaza entre un amplio abanico de ingredientes para confeccionar un mosaico fragmentado sobre la comida, las filosofías del vientre y la cultura del simulacro.
Soliloquio estructurado como una meditación sobre los hábitos alimentarios y el reloj digestivo –desayuno, almuerzo y cena, nutrición televisiva y sueños abdominales–, su exposición se fracciona y sazona con pellizcos de humor y observaciones misceláneas, satirizando con sutileza la dispersión y la subjetividad un tanto presuntuosa que tan a menudo presiden las elucubraciones de la fisiología del gusto o la gastrología, esas ciencias tan patafísicas. A su vez, la cinta evoca y actualiza la imaginería del paisaje mediático (la arquitectura, la publicidad, la cultura de lo efímero) que ha inspirado a Edward Hopper y a los artistas pop, cobrando un bies un tanto melancólico por su tácita confrontación con la hegemonía arrolladora de los signos del <i>fast food</i>, el <i>shopping mall</i> y las franquicias de la uniformidad.</p>
<p>  </p>
<p> Recorrer el temario y las incidencias de la comida en la pantalla comporta, en definitiva, una travesía semántica en la que los vericuetos se multiplican con cada tramo que se explora. Me he detenido particularmente en algunos de esos tramos y vericuetos, pero, al poner cierre a esta cata, percibo todavía otros que permitirían prolongarla en torno a aspectos tales como la manipulación genética de los alimentos, las enfermedades neurodigestivas, la pauperización del gusto o la economía política de la alimentación pública. Los hábitos y conflictos de la nutrición, trasuntando los más amplios de la vida en sus escenarios cotidianos, llevan a la pantalla las emociones, cavilaciones y transgresiones que rodean a la fisiología del paladar y su proyección social, cultural y estética. Los medios audiovisuales, entre los múltiples registros de la ficción y la no-ficción, reúnen y realzan las figuras de lo comestible para plantear diversas situaciones y cuestiones que exceden el estadio literal de su representación opípara o revulsiva: de la papilla primordial a la truculencia caníbal, del banquete epicúreo a la glotonería bestial, del vientre satisfecho a la indigencia… Y es sobre esa mesa revuelta que se trincha la enjundia vital y polisémica de la comida.</p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	Ian
	Christie: «Feasting in the Dark», en Sian Griffiths / Jennifer
	Wallace (ed.): <i>Consuming
	Passions: Food in the Age of Anxiety</i>.
	Manchester:
	Mandolin-Manchester University Press, 1998, p. 183.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2]
	Aunque la bibliografía
	sobre el tema es todavía incipiente, en español cabe mencionar el
	libro de Marta Belluscio: <i>Comida
	y cine: placeres unidos</i>.
	Valencia: La Máscara, 1997, que recorre las <i>pizzas</i>
	cinematográficas más populares. Otra obra a la que he llegado
	demasiado tarde como para beneficiarme de su consulta es la de Gaye
	Poole: <i>Reel Meals, Set
	Meals: Food in Film and Theatre</i>.
	Sydney: Currency Press, 1999.</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Extraigo las tres
	referencias que siguen de una aportación capital a la historia del
	cine primitivo: Charles Musser: <i>The
	Emergence of Cinema: The American Screen to 1907</i>.
	Berkeley / Los Angeles / London: University of California Press,
	1994 (primera edición: Macmillan, 1990); primer volumen de la serie
	<i>History of the American
	Cinema</i>.</p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	Jay
	Leyda: <i>Kino:
	A History of the Russian and Soviet Film</i>.
	Londres: George Allen and Unwin, 1973, p. 157.</p>  <div id="sdfootnote5">
	<p>
	[5]
	Hans
	Gruntmann: «Die Zensur verbietet Lohnangaben», <i>Die
	Welt am Abend</i>,
	Berlín, 1929. Tomado
	del catálogo de distribución de Freunde der Deutschen Kinemathek
	(Berlín).</p>  <div id="sdfootnote6">
	<p>[6]
	Glauber Rocha: «Uma
	Estética da Fome», <i>Civilização
	Brasileira</i>, núm. 3
	(julio de 1965).</p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	Paulo Herkenhoff: «General
	Introduction», <i>XXIV
	Bienal de São Paulo. Núcleo histórico: Antropofagia e historias
	de canibalismos</i>, vol, 1.
	São
	Paulo, 1998.</p>
<p>
	</p>  <div id="sdfootnote8">
	<p>[8]
	Amos
	Vogel: <i>Film
	as a Subversive Art</i>.
	Nueva York: Random House, 1974.</p>  <div id="sdfootnote9">
	<p>[9]
	En el sitio web <i>Jan
	Svankmajer: Alchemist of the Surreal</i>, confeccionado
	por el propio Brooke y hospedado por el grupo de producción
	multimedia Illuminations. 
	</p>  <div id="sdfootnote10">
	<p>[10]
	El cine caníbal, además de
	ser abordado en diversos libros sobre el <i>gore</i>,
	cuenta con una monografía propia. Se trata de Mikita Brottman: <i>Meat
	is Murder! </i><i>An
	Illustrated Guide to Cannibal Culture</i>.
	Londres y Nueva York: Creation Books, 2001.</p>
<p>
	</p>  <div id="sdfootnote11">
	<p>[11]
	Charles
	Musser: op. cit., p. 291.</p>
<p>
	</p>  <div id="sdfootnote12">
	<p>[12]
	Erik
	Barnouw: <i>Documentary:
	A History of the Non-Fiction Film</i>.
	Nueva York/Oxford: Oxford University Press, 1993, p. 233.</p>
<p>
	</p>  <div id="sdfootnote13">
	<p>[13]
	Amos
	Vogel: op. cit., p. 267-268.</p>  <div id="sdfootnote14">
	<p>[14]
	Tomado del catálogo de
	distribución de Canyon Cinema (San Francisco).</p>  <div id="sdfootnote15">
	<p>[15]
	Morando Morandini: «El
	moralista apocalíptico: Ferreri en los años setenta y ochenta»,
	en Esteve Riambau (ed.), <i>Antes
	del apocalipsis: el cine de Marco Ferreri</i>.
	Madrid: Cátedra, 1991.</p>
<p>
	</p>
<p>
	</p>  <div id="sdfootnote16">
	<p>[16]
	Jean-René Huleu: reseña
	del film en <i>Cahiers du
	Cinéma</i>, núm. 251-252
	(1974).</p>
<p>
	</p>  <div id="sdfootnote17">
	<p>[17]
	Susan Wolk y Maria José
	Sevilla: «Food on the Silver Screen», en el sitio web de The
	London Food Film Fiesta: www.londonfoodfilmfiesta.co.uk</p>
<p>.</p>  <div id="sdfootnote18">
	<p>[18]
	Declaraciones
	procedentes de una reseña de Jim Hoberman en <i>The
	Village Voice</i>
	(25 de junio de 1979).</p>
<p>
	</p>  <div id="sdfootnote19">
	<p>[19]
	De un texto
	escrito en ocasión de la concesión a Les Blank de The Maya Deren
	Award for Independent Film and Video Artists, American Film
	Institute, 1990; extraído del sitio web del cineasta:
	www.lesblank.com/art/retro.html.</p>  <div id="sdfootnote20">
	<p>[20]
	Catherine
	Scorsese y Georgia Downard: <i>ItalianAmerican:
	The Scorsese Family Cookbook</i>.
	Nueva
	York: Random House, 1996.</p>  <div id="sdfootnote21">
	<p>[21]
	Tomado del sitio web de los
	cineastas: www.personagrataprod.org</p>  <div id="sdfootnote22">
	<p>[22]
	Me lo ha
	confirmado el hallazgo de una serie de mensajes cruzados en la lista
	de correo Frameworks, dedicada al cine de vanguardia:
	www.ni-beam.net/fw.html. Entre
	dichos intercambios, me ha sido particularmente útil el que
	mantuvieron Fred Camper y Tony Conrad, a propósito de las
	peculiares cocciones fílmicas de este último, reavivando el ligero
	conocimiento que tenía de las mismas por un breve encuentro con
	Conrad varios años atrás.</p>
<p>
	</p>  <div id="sdfootnote23">
	<p>[23]
	Véase
	al respecto el libro de Michel Onfray: <i>La
	raison gourmande: Philosophie du goût</i>.
	París: Grasset-Le
	Livre de Poche, 1995, p. 234-237. También: Christian Lebrat (ed.),
	<i>Peter Kubelka</i>.
	París: Paris Expérimental, 1990, que incluye algunos extractos de
	los escritos gastronómicos de Kubelka.</p>
<p>
	</p>  <div id="sdfootnote24">
	<p>[24]
	Tomado del catálogo de
	Electronic Arts Intermix, Nueva York.</p>
<p>
	</p>  <div id="sdfootnote25">
	<p>[25]
	Wegman, por cierto, es autor
	de un vídeo, <i>Semi-Buffet:
	A Televised Dinner Party</i>
	(1975), que, por algún motivo incierto, ha permanecido sin
	distribución durante muchos años. Según referencias, contrapone
	en un mismo decorado la celebración, los protocolos y las maneras
	de mesa, de dos ágapes simultáneos; uno ceremonioso y encopetado,
	el otro con la informalidad de un bufé frío.</p>  </body> </html>