  <p>[] <b>La instalación como hipermedio</b> <b>(una aproximación)</b></p>
<p> </p>
<p> Este texto sintetiza y recopila parcialmente otros de mis escritos anteriores sobre el tema, así como los contenidos que había desarrollado en algunos seminarios que impartí.</p>
<p> </p>
<p>1.
Estas páginas se ocupan de un tema un tanto difícil de cercar; aunque, acaso, no del todo imposible. Presumiéndolo así, me referiré, en general, a la noción de instalación y, más en particular, a aquellas formas de instalación donde los medios y tecnologías de la imagen o audiovisuales constituyen un elemento esencial. Así, puesto que la expresión «instalación multimedia»
quizá no siempre fuera la más adecuada, precisa y clarificadora, probaré de circunscribir mi premisa a lo que denominaré, indistintamente, instalación audiovisual o instalación-imagen.</p>
<p>  </p>
<p>Creo que estas precisiones previas no estarán de más, dado el vasto uso y abuso del concepto de instalación en el arte de los últimos años.
Pues, al margen de los usos del término decididamente impropios, creo que pueden distinguirse al menos dos vertientes del arte de instalación: una que desciende más directamente de la tradición de las artes plásticas, constituyéndose en dilatación o despliegue de la pintura o la escultura (o también, por qué no, de la fotografía u otros medios o disciplinas); y otra que se sumerge de lleno en los
«nuevos» medios, tecnologías y planteamientos que el arte ha ido explorando a lo largo del siglo XX, convirtiendo en retóricos o formulistas los apelativos más o menos tradicionales –bellas artes, artes plásticas, artes visuales incluso– que acotaban su
ámbito. No obstante, puesto que en arte no siempre se cumplen los esquemas, entre el arte de los medios y multimedios hallamos a veces unos planteamientos esencialmente plásticos y formales, así como ciertas instalaciones «plásticas» (por llamarlas así
tentativamente) que pueden compartir propósitos y temáticas afines a los de otras obras de rotunda concepción multimedia.</p>
<p> </p>
<p>Por otra parte, aunque el artista-instalador existe –en el sentido de artista única o principalmente dedicado a esta práctica–, es mucho más usual la contrafigura del artista que elige entre unas u otras formas, formatos, medios, soportes, en función de cada proyecto en concreto, de su interés por explorar distintas opciones creativas, y de los circuitos diversos por los que puede dar salida a las mismas. Además, fuera de compartir unos determinados medios y recursos, las diferencias superan a las afinidades si se pretende considerar en bloque el arte de la instalación, o cualquier variedad que se deduzca de la mayor implicación de un elemento, medio o dispositivo en particular. Y, sin embargo, el término que da nombre genérico a esta pluralidad de prácticas cuenta ya con una entrada propia en el léxico del arte contemporáneo.</p>
<p> </p>
<p><b>2.</b> Instalación: una palabra bien prosaica. Diríase que más apropiada para los gremios de la electricidad, la fontanería o la carpintería, más que para nombrar un arte. Pero, ¿de dónde surgió el término?
Una fuente nos indica que el primer artista que probablemente lo usó
fue Dan Flavin, conocido por sus obras (¿esculturas?, ¿objetos de luz?, ¿ambientes?… ¡Instalaciones!) con tubos de neón de diversos tamaños y colores (Johnstone, 1985). Así que, después de todo, la electricidad estuvo de por medio. La electricidad y, probablemente, el espacio: el arte de la instalación se desarrolla, efectivamente, desde el momento en que proliferan espacios de grandes dimensiones para la exhibición del arte contemporáneo –espacios fabriles reciclados en galerías o espacios alternativos, espaciosos museos, etc.–, que fomentan igualmente la escultura a gran escala y las piezas creadas in situ (Wiegand, 1978).</p>
<p> </p>
<p> Por otro lado, el término se ha impuesto ampliamente en la jerga de los profesionales del arte: instalar equivale a ubicar y acomodar adecuadamente las piezas de una exposición; una vista de una instalación equivale a una vista de una exposición; el arte con nuevos medios suele presentar requerimientos particulares de instalación, etc. Todo eso, evidentemente, solo se relaciona de manera «nominal» con la instalación entendida como una forma de arte en sí, aunque ayuda a comprender lo que el término implica esencialmente: un despliegue de varios elementos en el espacio tridimensional y en las coordenadas del tiempo, una articulación idiosincrásica de tales y heterogéneos elementos en un conjunto unitario, un concepto no-canónico más que un formato, una técnica, un estilo o una tendencia.</p>
<p> </p>
<p>La instalación es así una forma de arte muy propia de nuestro tiempo, donde confluyen lo viejo y lo nuevo, la tradición y la innovación, convocando a todos los medios posibles. Sin embargo, con todo cuanto he apuntado hasta aquí, apenas creo haber alcanzado una definición imprecisa sobre noción tan huidiza. Contrastando lo que otros han escrito sobre el tema, pronto se deduce que, efectivamente, una noción tal difícilmente admite una definición unívoca. Así, Ellen Handy ha dicho: «Como muchas otras cosas que resultan novedosas, el arte de instalación es una idea, práctica o tipo de obra carente de una definición o planteamiento estricto, y hasta de un cierto consenso respecto a su naturaleza. […] Creer en la irrelevancia de las categorías predefinidas es consustancial a la práctica artística de la instalación. Justamente, parte de lo que se pretende es una liberación de los encorsetamientos de la forma, y un distanciamiento de las jerarquías de la tradición.»
(Handy, 1989).</p>
<p> </p>
<p>René
Payant, además de resaltar igualmente la indefinición del término y lo poco que dice sobre piezas tan diversas como las así
identificadas, sugirió «que al dar nombre a unas obras, el término señala más bien un deseo en las mismas. Un deseo de diferenciarse: más precisamente de mantener una distancia crítica en relación con los principios modernistas de la práctica artística. Se podría decir pues que la instalación es el nombre postmoderno de la obra artística. El uso confirma que el término subraya esa voluntad de alejamiento, ese después»
(Payant, 1986). En consecuencia, como la posmodernidad misma, y parafraseando la ocurrencia de Lyotard, necesitamos aún un manual del tipo «la instalación explicada a los niños», que vaya más allá de la realidad admitida de que el concepto de instalación varía de un artista a otro, de un planteamiento a otro, y de obra en obra; lo que justificaría que el arte de la instalación solo fuera abordable en forma de grueso álbum ilustrado.</p>
<p> </p>
<p>Sin embargo, esta circunstancia posmoderna del arte de la instalación no está reñida, en opinión de Merike Talve, con el hecho de que pueda simultáneamente ser considerado como «la única de las formas contemporáneas de arte que soporta directamente el peso de la vanguardia», tanto por recrear una interrelación entre el arte y la realidad cotidiana –a través de los elementos y cosas que extrae del prosaico entorno–, como porque, muy a menudo, comporta un compromiso crítico y ético característico de las antagonías vanguardistas. Aunque, como consecuencia de todo ello –del peso de la vanguardia transformado en peso de la historia–, “[la instalación] también se sitúa a unos pasos de ser neutralizada por esta [nuestra] sociedad: una condición familiar y temida por el movimiento vanguardista en sus últimos años
[Talve, 1986].</p>
<p> </p>
<p> <b>3.</b> Otra de las paradojas consustanciales al arte de la instalación estriba en su naturaleza bastarda. La instalación, ha venido a decirse una y otra vez, sería el paso siguiente a la escultura. La escultura elevada a un plano dimensional superior, a una cuarta dimensión que inevitablemente asociamos al añadido de un factor tiempo. Dos aspectos que redundan en la temporalidad de la instalación son: en primer lugar, la circunstancia frecuentemente efímera o puntual en la que una instalación cobra cuerpo; y, en segundo lugar, la temporalidad inherente al recorrido-lectura que le corresponde seguir (o más bien decidir) al espectador, aspecto propiciado por el despliegue organizado de los distintos elementos en el espacio, siempre según una cierta trama o premisa que los ata, de manera más o menos ostensible, a un concepto y conjunto único. Por supuesto, la inclusión de registros visuales y/o sonoros acrecienta aun esta dimensión temporal de la obra, y afecta así a nuestra forma de percibirla, si bien la dedicación que nos requiere puede ser más o menos breve o prolongada, según la mayor o menor complejidad de los elementos que intervienen; según el grado de narratividad, discursividad, variedad o interactividad que introduce; y, obviamente, según el éxito o el fracaso en la resolución global del conjunto.</p>
<p> </p>
<p>Se podría decir igualmente que es un arte que toma cuerpo en una dimensión fractal: acaso entre la escultura y el teatro, por aludir así a un conocido argumento esgrimido en pro y en contra de ciertas evoluciones, «pasajes», en la escultura moderna (Krauss, 1977, versus Fried, 1967). A menudo, efectivamente, la instalación cobra un carácter dramatúrgico, de puesta en escena. El espectador, en algunos casos, puede incluso activar por sí mismo la «maquinaria escénica» que ello comporta. Más aún: el espectador se convierte en habitante de este escenario vacío; quizá no en actor, propiamente hablando, pero sí en algo más que un figurante. La evolución de esta peculiar forma de arte se inclina así, decididamente, del lado de esa teatralidad que Fried reprobaba en las
«estructuras primarias» de los minimalistas, y que Krauss, en cambio, ratifica y reconsidera diez años después, abarcando del arte cinético y lumínico al arte de performance, y del arte del entorno al concepto de instalación que se insinúa con el <i>live/
taped video corridor </i>(1968-1970)
de Bruce Nauman, obra que ilustra la portada del libro y los concluyentes razonamientos de uno de sus capítulos. (Siendo esta, por otra parte, la única obra referida como «instalación» en todo el libro de Krauss, considerada obra de referencia en lo que concierne a la escultura contemporánea, encuentro ahí un indicio que podría ratificar una hipótesis mía: que la divulgación alcanzada posteriormente por dicho concepto se debe sobremanera a la intensa exploración del mismo en combinación con el film, el vídeo y otras tecnologías de la imagen, como se puede comprobar en la literatura de la época especializada en las prácticas experimentales con dichos medios, donde el término era ya de manejo harto corriente).</p>
<p> </p>
<p>El dilema del arte de la instalación, en razón de esta naturaleza suya bastarda, estriba en permanecer o perecer; regresar a la escultura, al objeto, o agotarse en el acto/evento temporal, efímero o iterativo, de su corporeidad instalada. El artista Vito Acconci, en uno de sus perspicaces escritos, se refiere a esta cuestión a propósito de la videoinstalación y de las propias paradojas existenciales del vídeo(arte), aunque evocando igualmente las más genéricas del arte y sus contestatarias vanguardias en el siglo XX.
Y puesto que Acconci habla, diríamos, desde dentro, ello hace doblemente incisivos sus comentarios: «El escultor, […] por mucho que pretenda tener otras intenciones, está
siempre comprometido en un acto de conservadurismo; aunque el medio pueda ser una burla aparente de las tradiciones, el fin es el más tradicional, el más conservador de todos: crear el ser que se niega a morir. El escultor, pues, que trata de complicar este argumento, el escultor que incorpora el vídeo en su objeto o instalación, podría ser una persona que teme quedarse anticuada, una persona a quien le incomoda agarrarse tan fuertemente al pasado»
(Acconci, 1984).</p>
<p> </p>
<p>Las actitudes que responden a tal dilema van de un extremo al otro: ciertos artistas-instaladores prefieren crear en cada ocasión una nueva pieza, a veces en función de las características particulares del lugar y contexto de su exhibición; otros, en cambio, las proyectan con todo detalle, de manera que puedan ser reconstruidas exactamente en circunstancias y espacios diversos; otros más readaptan la obra en función de su ubicación, o incluso la modifican sustancialmente y generan sucesivas versiones. Pero estos hábitos no solo varían de un artista a otro, sino también con el paso del tiempo y la implantación de nuevos sistemas tecnológicos: los reproductores de videodisco están sustituyendo con ventaja a los magnetoscopios, los ordenadores a los dispositivos de retardo temporal en ciertas instalaciones de vídeo en circuito cerrado, la proyección vídeo a la cinematográfica en algunos casos… Y, en otro orden de cosas, el coleccionismo museístico y privado ha propiciado las ediciones limitadas –con sus pruebas de artista y sus marchantes–, conviviendo con la «distribución directa» de manos de los artistas o de organizaciones no lucrativas, en régimen de pago-por-exhibición.</p>
<p> </p>
<p><b>4.</b> La instalación es, por excelencia, un arte de la metáfora. El despliegue en el espacio de sus diversos elementos –objetos, imágenes, sonidos, textos, etc.– cumple a menudo un papel asociativo más o menos obvio: construye una escena, un decorado, una escenografía que quiere ser habitada y vagabundeada por el espectador. Y la misma definición o ilustración de lo que una instalación puede decirse que sea, a menudo invita a dar rienda suelta a las metáforas. Francesc Torres, un artista que ha desarrollado una conspicua trayectoria «en este elusivo campo»
(según sus propias palabras), ha sintetizado en los conceptos de narratividad y collage los rasgos más frecuentes del arte de la instalación o, más específicamente, de la instalación multimedia, que para Torres constituye la quintaesencia de dicho arte: «El factor fundamentalmente definitorio de la instalación es su flexibilidad formal y su capacidad de incorporar nuevos medios y estrategias estéticas a medida que aparecen, y al mismo tiempo establecer puentes con otras disciplinas ya consolidadas.» [Torres, 1990].</p>
<p> </p>
<p>Para Torres, la instalación es una forma de collage multidimensional, puesto que adopta sus mismas «estrategias de descontextualización y recontextualización, apropiación y acumulación de sedimentos discursivos». En la saga aún por escribir del arte de la instalación, parece que uno de sus ramales más evidentes sería, efectivamente, el que nos conduce del collage a su expansión en el
<i>assemblage</i>
(la adquisición de volumen) y los <i>environments</i>, ambientes o ambientaciones, manifestaciones de un arte del entorno ya muy próximo al concepto de instalación al que nos referimos aquí
(pero sin conseguir cercarlo del todo). Al respecto, Torres añade que «[el collage] es a la pintura lo que la instalación es a la escultura»; y a este mismo referente acude nuevamente al considerar el componente literario o narrativo de la instalación, la cual concibe, según ha expresado en otras ocasiones, como un libro esculpido: «Como un libro, la instalación puede constar de un número específico de capítulos o de una trama argumental o conceptual determinada. Sin embargo, al revés que el libro, la lectura de la instalación depende esencialmente de la ordenación que el espectador haga de sus componentes. […] El espacio a utilizar es el equivalente tridimensional de la hoja de papel en blanco en el que el paseo de la mirada se transforma en el paseo del cuerpo por un entorno leíble.» [Torres, 1990].</p>
<p> </p>
<p>Recapitulando metáforas y referentes, las instalaciones tienen que ver, pues, con la escultura, aunque más bien en el sentido de lo que otro artista, Les Levine, ha llamado «escultura de medios» (<i>media sculpture</i>); tienen que ver con el teatro y con el diseño escenográfico, la puesta en escena y el decorado; tienen que ver con la arquitectura, la construcción y deconstrucción; con el cortar-y-pegar y las des- y recontextualizaciones del collage y sus prolongaciones; con el relato y con las tortuosas estructuras de los contrarrelatos vanguardistas, con las líneas y entrelíneas del texto; con polípticos y polivisiones, multiplicaciones y frisos de imágenes; con los panoramas, los dioramas y todas las pirotecnias audiovisuales que desfilan sucesivamente por las ferias universales y otras galas del progreso.</p>
<p> </p>
<p><b>5.</b> Añado aún, de cuño propio, otra metáfora, la del título que he dado a este texto, arrebatando al lenguaje de la informática su exclusiva sobre el concepto de hipermedio, así como los lenguajes de la información y de la informática se han adueñado de una palabra afín, <i>multimedia</i>, de honda raigambre artística. En los últimos treinta años, en efecto, se ha hablado abundantemente de arte y obras multimedia, intermedia, electromedia o <i>mixed-media</i>
(que todo viene a ser lo mismo), así como, más recientemente, de arte de y con los medios, <i>media art</i>, sobreentendiéndose que se alude a los medios y tecnologías de información, comunicación, ocio y entretenimiento que configuran el llamado paisaje o entorno mediático.</p>
<p> </p>
<p>Sin embargo, el sincretismo multimedia cuenta por otra parte con todo un reguero de ideas y manifestaciones precursoras, según lo consignaron con acierto dos conocidos portavoces de Fluxus, Dick Higgins y George Maciunas, en sus escritos o diagramas; ya fuera a propósito de los
<i>intermedia</i>, vocablo que Higgins dice haber rescatado de entre los escritos de Samuel Taylor Coleridge (Higgins, 1978), o de las <i>artes expandidas</i> (Maciunas, 1966/1978), una expansión a la que se volverá repetidamente en sucesivas páginas.</p>
<p> </p>
<p>Sugiriendo la combinación e intersección de medios, tecnologías y disciplinas dispares, dichos conceptos pueden abarcar desde la poesía visual, un entre-medio/inter-media por excelencia (cuyos antecedentes se han rastreado en las civilizaciones clásicas), hasta el ordenador multimedia, esa «máquina universal» (Youngblood, 1987) que aún conocemos en el estadio de prototipo un tanto rudimentario, si nos atenemos a la hoy tan abundante literatura futurológica al respecto.
Así, en una acepción comprehensiva del término, multimedia define, ante todo, un entorno –en el sentido informático de la palabra–, del que artistas y usuarios en general toman las herramientas y elementos adecuados a su propósito.</p>
<p> </p>
<p>El hipermedio, en informática, define a su vez la capacidad de acceder a varias informaciones por elección, y su vinculación inmediata con distintos medios o fuentes de datos (imagen fija o cinética, sonido, texto, etc.). Ante el texto, se abren entonces los senderos múltiples del hipertexto; ante el libro, los del libro electrónico. La instalación, de otro modo, al consumar un anhelo secular de síntesis y compenetración de las artes y los medios, podría entonces entenderse como un hiperarte o hipermedio donde cada elemento remite a otro y la parte, al todo, solicitando la participación del espectador para la resolución del jeroglífico.</p>
<p> </p>
<p><b>6.</b> El arte de la instalación tiene diversos antecedentes a lo largo del siglo: desde el futurismo, dadá y el constructivismo, hasta el arte minimalista, pop y conceptual, por apenas desplegar una parte del abanico. No siempre fueron obras que hoy identificamos inmediatamente con aquel concepto, sino que incidieron más bien en aspectos vinculados: por ejemplo, maquetas y diseños para teatros mecánicos o electromecánicos, decorados o ambientaciones escenográficas, esculturas que estallan en el espacio, o el énfasis en el espacio mismo como sensación inmatérica. Basten algunos nombres señeros en la historia del arte moderno: Lissitzky, Schwitters, Duchamp, Fontana, Klein, etc. Sin embargo, puesto que de lo que aquí se trata es más particularmente de la vinculación de los medios y tecnologías de la imagen (y, por añadidura, el sonido), con nociones de instalación, escultura, objeto, dispositivo, entorno y arquitectura, conviene considerar igualmente, o aún más, otras tradiciones o líneas genealógicas en las que la imagen y la imagen cinética cobran nuevas dimensiones.</p>
<p> </p>
<p> Podríamos retroceder así hasta la apoteosis de los «oramas»
en el siglo XIX: primero el panorama, cuya invención se atribuye al pintor escocés Robert Barker en 1787; seguidamente el diorama de Daguerre, pintor antes que pionero de la fotografía, en 1822; más toda una ristra de imitaciones, variantes e hibridaciones (los panoramas llamados móviles o animados), que ofrecían imágenes pictóricas más-grandes-que-la-vida, representaciones de un detallado realismo, rotondas o enormes lienzos de espectacular efecto, cuyos temas predilectos eran los paisajes más o menos lejanos y la evocación de hitos históricos; en definitiva, los viajes en el tiempo y el espacio.</p>
<p> </p>
<p>El cine y la fotografía, al cabo del siglo, insisten sobre lo mismo.
Los primeros sistemas de proyección cinematográfica sobre pantalla circular de 360 grados de los que se tiene noticia, datan de los inicios mismos del cine, aunque el único que pasó del estadio de un diseño patentado fue el efímero, por accidentado, <i>Cinéorama-Ballon</i> de Raoul Grimoin-Sanson, presentado en la Exposición Universal de París de 1900. Este dispositivo de proyecciones múltiples, ofrecía a sus visitantes un simulacro de viaje en globo, con vistas panorámicas intercaladas de diversas ciudades europeas. En la misma feria, por otro lado, los hermanos Lumière presentaron el
<i>Cinématographe géant</i> y el <i>Photorama</i>, un panorama de proyecciones fotográficas sobre pantalla circular, mientras que el <i>Théâtroscope</i> de Alfred Bréard, según las crónicas, combinaba múltiples proyecciones de imágenes coloreadas con acompañamiento sonoro. Así, desde un principio, la imagen cinematográfica ha querido crecer y multiplicarse. Es decir, aumentar de tamaño y aunarse con otras.
También: ganar relieve, apelar a todos los sentidos, tornarse envolvente.</p>
<p> </p>
<p>Aquellos dispositivos, y otros subsiguientes –como los <i>Hale’s Tours</i>, atracción cinematográfica presentada en la Exposición de San Luis de 1904, que ofrecía un simulacro de viaje ferroviario– prefiguran ya toda una sucesión de sistemas espectaculares que tienen como hábitat propio las ferias universales, los parques temáticos y los ahora llamados mediáticos, o las modernas «ciudades de las ciencias».
Ciertamente, el arte de la instalación se sitúa un tanto a contrapelo de esta tradición, donde lo que prevalece es, usualmente, el alarde tecnológico propio de cada momento, combinado con la vieja premisa de instruir deleitando. Y, sin embargo, tal como Noël Burch ha sugerido a propósito de aquellos primitivos entornos de imagen, puede vislumbrarse cierta cercanía con «los “rodeos”
audiovisuales del modernismo» [Burch, 1987]. Es decir, con proyecciones diseminadas en el espacio, círculos de monitores de vídeo o realidades virtuales inmersivas.</p>
<p> </p>
<p>Otra vertiente a considerar desde un punto de vista histórico, ha antepuesto los prefijos poli- o multi- a la unidad de la visión, la imagen y sus medios, para designar el paso del singular al plural de las fuentes y elementos implicados. Así, los futuristas italianos, en su anticipador Manifiesto de la Cinematografía Futurista (1916), han resaltado la noción de poliexpresividad y han apuntado ya hacia la multiplicación y simultaneidad de las imágenes. László
Moholy-Nagy, algunos años más tarde, concibió el proyecto de un
<i>policinema</i> o <i>cine simultáneo</i>
(expuesto en su libro <i>Malerei, Fotografie, Film</i>, de 1925), con proyecciones múltiples sobre una pantalla cóncava, donde las imágenes se desplazarían (mediante el uso de prismas), convergerían ocasionalmente (por superposición de las imágenes proyectadas) y se reiterarían (mediante copias duplicadas de una misma película proyectadas desfasadamente). Finalmente, <i>polivisión</i> es el nombre que Abel Gance ha dado a su sistema de proyección y pantalla en tríptico, introducido en la última parte de su <i>Napoléon</i>
(1927) y retomado, con Nelly Kaplan, como <i>Magirama</i>
(1956). Y, con un nuevo ímpetu desde los años cincuenta –en particular, dentro de los ámbitos del cine independiente y de vanguardia–, estas formas polivisuales, por otra parte deudoras de la tradición de los polípticos, se han extendido también a la fotografía (diaporamas en multivisión) y a los medios audiovisuales electrónicos; tanto en formatos relativamente normalizados (los sistemas del tipo <i>videowall</i>, por ejemplo), como en otros de mayor idiosincrasia.</p>
<p> </p>
<p>Por
último, en los años sesenta surge la noción de <i>expanded cinema</i>, cine expandido, que ha logrado una amplia divulgación a raíz de un homónimo libro de Gene Youngblood (1970), pero que se encuentra ya en anteriores escritos de Stan Vanderbeek (1967), Jonas Mekas (1972) y Sheldon Renan (1967), referido a toda suerte de experiencias que constituyen una dilatación del medio en muy diversos aspectos –proyecciones múltiples, piezas ambientales, teatro de sombras, esculturas y espectáculos cinético-lumínicos, <i>light-shows</i>, combinados multimedia (film + danza, film + teatro, film + música, etc.), así como la exploración de nuevas tecnologías como el vídeo, el ordenador y la holografía–; haciéndose eco de una tendencia general en el conjunto de las artes, hacia un crecimiento dimensional (pinturas <i>all-over</i> de Pollock, capilla de Rothko, assemblages, <i>environments</i>), y hacia un entrecruzamiento de los medios y disciplinas (pinturas
<i>combine</i> de Rauschenberg, happenings, intermedia, múltiples formas de arte tecnológico) –en definitiva, hacia las artes expandidas, como las llamaría a su vez Maciunas–, en un tiempo particularmente rico en neologismos.</p>
<p> </p>
<p><b>7.</b> El arte de la instalación audiovisual tiene por su parte un vocabulario tan abundante y variado como los medios que convoca.
Aunque una distinción rigurosa entre los diversos términos y sus acepciones es, por falta de consenso, imposible, algunos de los más usuales sugieren una variación de escala, de menos a más, así como una gradación entre las obras que tienden a constituirse en un cuerpo sólido único y aquellas otras en las que los diversos elementos se desperdigan en un amplio espacio; es decir, la gama que va del objeto y la escultura a la instalación y el entorno
(<i>environment</i> o ambiente). Como prefijos o adjetivos, se les suman entonces las partículas que designan el rol mayor que cumple un determinado medio o sistema –film, foto, vídeo, audio, holografía, ordenador, etc.–, o la combinación de dos, más o muchos: vídeo, audio, <i>slide-tape</i>, multimedia. A veces, se precisa incluso si la imagen, o su fuente, es
única o múltiple (proyección múltiple, vídeo multicanal o multimonitor); en otras, se resalta una determinada cualidad o característica esencial de la pieza: por ejemplo, la interacción, o el recurso a un dispositivo de circuito cerrado (o <i>live video</i>) en una instalación de vídeo.</p>
<p> </p>
<p>En las obras de instalación o escultura audiovisual, la imagen quiere adherirse a, anclarse en, confundirse con el espacio, la arquitectura y los objetos. Quiere ser, plenamente, parte del entorno –que usualmente es un interior, un espacio construido delimitado por cuatro paredes–, cuando no pretende crear, incluso, su propio entorno, un espacio donde solo cuenten las imágenes (y los sonidos), cuyo súmmum sería una realidad virtual holográfica de relieve palpable.</p>
<p> </p>
<p>Las instalaciones fílmicas, hoy una especie en aparente peligro de extinción, se han decantado con frecuencia hacia la creación de ilusiones ópticas, fantasmagorías, apariciones mágicas. Las imágenes cinematográficas, entonces, tienden a evadirse de la pantalla, del rectángulo, del marco (<i>frame</i>), para agarrarse a un cuerpo sólido que ejerce de pantalla. Las <i>movie pieces</i> que Robert Whitman ha realizado en 1964, pueden concebirse en este sentido como una de las primeras manifestaciones de instalación fílmica, al combinar objetos reales con la proyección o «incrustación» de imágenes cinéticas; por ejemplo sobre una cabina de ducha (<i>Shower</i>), en el falso espejo de una mesa de tocador (<i>Dressing Table</i>) o en el interior de una bolsa de supermercado (<i>Shopping Bag</i>).</p>
<p> </p>
<p>Edmund Kuppel, en algunas de sus instalaciones, ha introducido propuestas similares, zarandeando el interior de las ventanas redondas de unas lavadoras con imágenes de corrientes de agua diversas: mar, lago, río, cascada (<i>Waschmaschinen</i>, 1972); o animando un reloj parado con el vaivén de un péndulo proyectado (<i>Die Uhr</i>, 1986). En <i>Die Tür</i>
(1971), un marco de puerta real perfila la imagen proyectada de una puerta abierta que, al aproximarse el visitante, se cierra «en tus narices» (según la gráfica descripción de Kuppel) por la acción de una célula fotoeléctrica que delata al intruso.</p>
<p> </p>
<p>Bill Lundberg amuebla el espacio con objetos reales poseídos por fantasmagorías visuales. En <i>Cardplayers</i>
(1976), sobre la superficie de una mesa cuadrada, con cuatro sillas a su alrededor e iluminada por una proyección cinematográfica que cae perpendicularmente, se desarrolla una «animada» partida de cartas: un juego de azar, un juego de manos. Otras de sus piezas posteriores se basan igualmente en proyecciones sobre objetos o sobre formas recortadas para acoplarse a la imagen, siempre representando situaciones cotidianas.</p>
<p> </p>
<p>Chris Welsby recrea paisajes y fenómenos naturales, como las olas rompiendo contra una playa en seis proyecciones alineadas de la misma secuencia (<i>Shore Line</i>, 1976); o la lluvia cayendo sobre un plano suspendido en el aire, cercada por el haz luminoso/pluvioso de la proyección (<i>Rainfall</i>, 1983).</p>
<p> </p>
<p><b>8.</b> Otra vertiente distinta, muy propia de la dirección que tomó el cine de vanguardia en los años setenta, tiene un carácter esencialmente autorreferencial. Paul Sharits, un artista-cineasta ya fallecido, realizó de 1971 a 1982 una serie de instalaciones con proyecciones múltiples, transcribiendo muralmente la forma de una tira de película de unos pocos fotogramas –típicamente, superficies de colores planos en constante cambio–, en una celebración de la pura materialidad de la película: sus fotogramas, perforaciones, heridas, su deslizamiento entre los mecanismos de proyección, etc.</p>
<p> </p>
<p>Distintamente, Takahiko Iimura ha realizado por aquella misma época un número de instalaciones donde la película misma, los proyectores u otros elementos del aparato fílmico son «expuestos» en el espacio como dispositivos escultóricos. A menudo con bucles de película transparente y opaca, sus instalaciones establecen concisas dualidades cuyo objeto es el propio medio fílmico, restringido a unas dicotomías de luz/oscuridad, positivo/negativo, tiempo fílmico/real.</p>
<p> </p>
<p>[][] Anthony McCall, de 1973 a 1975, ha realizado una serie de films y films expandidos, también con una drástica reducción a unos elementos mínimos, aunque con una peculiar sensualidad. Si sus «films cónicos» (<i>Line Describing a Cone</i>, 1973, y otros sucesivos) introducen un concepto escultórico que se traduce en la gradual formación o variación de inmateriales cuerpos cónicos de luz, entre el «vértice» del proyector y la «base» o pantalla
–donde la imagen que se proyecta/dibuja es una circunferencia–, McCall se aproxima a la noción de instalación con <i>Long Film for Four Projectors</i>
(1975), donde cuatro proyectores describen, desde los cuatro ángulos de un espacio, grandes planos triangulares de luz que oscilan y se entrecruzan entre sus cuatro paredes durante un lapso de seis horas.</p>
<p> </p>
<p>Mientras que las pantallas circulares y otras envolturas a gran escala han sido el patrimonio propio de esa otra gran área del cine expandido que tiene en las ferias universales su principal escaparate, algunos artistas han inventado sus propios aparatos y sistemas panorámicos o envolventes. El distintivo principal de algunos de ellos reside en que no se trata ahora de una imagen circular, sino de una imagen que circula por el espacio que la envuelve, una imagen en circunvalación.
Precedentes: las proyecciones móviles previstas por Moholy-Nagy para su <i>policinema</i>, los <i>move-movies</i>
(1965) de Stan Vanderbeek, y, sobre todo, los <i>moving movies</i> realizados por Michael Naimark a finales de los años setenta, donde, por ejemplo, la imagen proyectada se desplazaba por el espacio resiguiendo los movimientos de una toma panorámica del mismo recinto.</p>
<p> </p>
<p>Un propósito similar anima la máquina de visión que Steve Farrer ha desarrollado a lo largo de la siguiente década: llamada precisamente
<i>The Machine</i>, es cámara y proyector a la vez; registra y reproduce una imagen circular continua, impresionada a lo largo de un rollo de película, de la longitud que se quiera, como si fuera un único fotograma, el cual se desenvuelve en la proyección en una exploración horizontal rotatoria. ¿Cuál es aquí el medio: cine o fotografía? Digamos que es el «entre-medio». Y algo similar ocurre con la obra de Edmund Kuppel, dedicado al reciclaje y bricolaje de viejos proyectores y otros trastos y chatarras, para crear máquinas de proyección, máquinas paracinematográficas, ruedas de imágenes que parecen apócrifos juguetes y artefactos del precinema aumentados de tamaño.
Unas veces es el espectador quien debe maniobrar estos artilugios, animando así el desfile de unas secuencias fotográficas; otras, es la propia maquinaria de proyección la que se mueve, desplaza, gira, en inescrutables antojos mecánicos, como los propios de las máquinas solteras.</p>
<p> </p>
<p><b>9.</b> Si la instalación fílmica ha llegado a ser juzgada una práctica contra natura, una obstinación empeñada en forzar el medio, en desplegarlo en una dimensión de la que carece, en darle una torsión a la que se resiste, por lo contrario podría decirse que la noción de instalación es consustancial al vídeo. Algo que se refleja en el carácter ubicuo que han adquirido sus componentes: mobiliario hogareño, dispositivo de vigilancia, <i>display</i> tecnológico-mercantil. La instalación vídeo, así, ha entrado fluidamente en nuestro entorno contemporáneo, constituyendo una forma artística de un particular atractivo, aunque aún acogida con visibles reticencias en los ámbitos más tradicionales del arte.</p>
<p> </p>
<p>Un tipo de instalaciones que presentan ciertas peculiaridades propias son las basadas en el principio del circuito cerrado de televisión
(CCTV), en las que las señales elaboradas por la cámara son transportadas directamente al terminal-pantalla. Así, en el CCTV no interviene –al menos necesariamente– el proceso de grabación vídeo; ni tampoco el magnetoscopio cumple, en principio, ningún papel. Una excepción es, sin embargo, el dispositivo de desfase o retardo temporal (<i>time delay</i>), donde sí
interviene decisivamente la unidad de memoria vídeo, el magnetoscopio. Se trata de intercalar dos magnetoscopios en el esquema fundamental (cámara-monitor) de un circuito cerrado simple: el primero con una función exclusiva de registro, el segundo exclusivamente para la lectura, con una misma cinta – empalmada en forma de bucle sin fin– circulando del uno al otro. De este modo, el primer magnetoscopio, conectado a la cámara, graba sobre dicha cinta las imágenes, las cuales son recogidas y leídas al llegar al segundo magnetoscopio (lector), con salida al monitor o pantalla. La mayor o menor distancia entre ambos magnetoscopios –entre sus respectivas cabezas de grabación y reproducción– determina entonces el lapso del retardo temporal. Un dispositivo tal conduce a una formal simultaneidad de presente y pasado, de intrincado y sorprendente efecto.</p>
<p> </p>
<p>Las primeras instalaciones, <i>environments</i>, piezas escultóricas que han involucrado el dispositivo de CCTV
–obras de Aldo Tambellini, Wolf Vostell, Les Levine, Frank Gillette
/ Ira Schneider en la segunda mitad de los años sesenta–, buscaban una implicación del espectador en la propia obra, su copresencia o simbólica «integración» por medio del vídeo como espejo electrónico, la encarnación del ideario contracultural del «<i>You are Information</i>».</p>
<p> </p>
<p>Bruce Nauman ha sido uno de los primeros artistas en especular sobre las múltiples articulaciones posibles del dispositivo de CCTV en piezas de rotunda concepción escultórica, sus <i>video corridors</i> y otras instalaciones del fin de los años sesenta, que sugieren a su vez incómodas sensaciones de opresión y vigilancia. En los años setenta, Dan Graham, Peter Campus y Taka Iimura han desarrollado largos ciclos de instalaciones de este tipo, en las que el espectador mismo es protagonista y motor instantáneo. Graham, en sus
<i>architecture/video projects</i> de 1974-1978, investiga la yuxtaposición del vídeo y la televisión con los códigos o funciones arquitectónicas de conexión, mediación y separación de espacios, creando «salas de espejos» o instalaciones en recintos públicos que determinan múltiples e intrincadas percepciones espaciotemporales, mediante la combinación de espejos convencionales o de doble cara (transparente/opaca), del espejo electrónico del vídeo en circuito cerrado, y del espejo temporal de las mismas imágenes con un desfase de algunos segundos.</p>
<p> </p>
<p>En las sutiles instalaciones de Campus, el espectador, al cruzar el umbral de un espacio, percibe en la pared colindante su propia entrada en el mismo, como si su alter ego acudiera a su encuentro
(<i>dor</i>, 1975). O se ve desdoblado en su reflejo sobre una mámpara de vidrio suspendida en el espacio, y en la tenue imagen proyectada, simétricamente invertida, que le devuelve el dispositivo de circuito cerrado sobre esa misma superficie (<i>Interface</i>, 1972).</p>
<p> </p>
<p>Estas instalaciones producen una experiencia siempre sorprendente e introspectiva. La pieza de Bill Viola titulada <i>He Weeps for You</i> (1976), ofrece una elegante metáfora del proceso temporal de formación de la imagen electrónica. En una pantalla, el espectador se encuentra reflejado (proyectado) de manera deformada por su reflexión en una gota de agua que desciende regularmente de un pequeño tubo. Y la cámara enfoca el orificio del mismo, de manera que, al caer la gota por su propio peso, la imagen se esfuma –al tiempo que se produce un pequeño estallido sonoro (pues la gota cae sobre un tambor)–, hasta que, paulatinamente, se forma una nueva gota y, con ella, una nueva imagen.</p>
<p> </p>
<p>Otras instalaciones aúnan las propiedades del circuito cerrado con los principios de la perspectiva curiosa o trampantojo. Buky Schwartz en sus <i>videoconstructions</i>, Peter Weibel en sus <i>videoplastiken</i>, Carles Pujol en piezas como <i>Islamey</i>
(1983) o <i>Meninas</i>
(1986), han llegado independientemente a propuestas similares: porciones pintadas de los muros, el suelo u otras superficies o elementos alzados en el espacio componen en el monitor figuras geométricas, dibujos o símbolos, en función del emplazamiento y punto de vista de la cámara. Y, como consecuencia de esta disposición espacial, el espectador se encuentra inmerso en su recorrido del espacio en un rompecabezas de piezas sueltas, así como inmiscuido en la artificiosa imagen que dicha perspectiva reconstruye.</p>
<p> </p>
<p>En
<i>De La</i>
(1971) de Michael Snow, y en las diversas instalaciones presentadas por Steina Vasulka con los títulos de <i>Machine Vision</i> o <i>Allvision</i>
(1978-1983), la cámara está integrada en un dispositivo escultórico-cinético que transforma la percepción del espacio que la envuelve. En el caso de <i>De La</i>, la cámara está
montada sobre una escultura móvil (de hecho, se trata de la montura especial que Snow utilizó para el rodaje de su film <i>La Région Centrale</i>), la cual es controlada por un sistema de impulsos sonoros previamente programados, que determinan el sentido, la dirección y la velocidad de los movimientos, los cuales son «transcritos» en las imágenes visualizadas por varios monitores. Las instalaciones de Steina Vasulka, por su parte, combinan dispositivos ópticos –tales como espejos esféricos– y automatismos, acoplados a una o varias cámaras de circuito cerrado.</p>
<p> </p>
<p>El aspecto autorreferencial de la mayoría de las instalaciones de CCTV y la amplia exploración que se ha dado sobre dicho dispositivo, justifican acaso que en los ochenta disminuyera sensiblemente el relieve y la abundancia de las obras de este tipo. Por otra parte, Graham, Campus, Iimura y otros decidieron proseguir su obra por otros senderos. Sin embargo, algunos artistas han retomado el dispositivo con intencionalidades diversas. Por ejemplo, Dieter Froese con <i>Not a Model for Big Brother’s Spy-Cycle</i>
(en el orwelliano año de 1984), para abordar temas de vigilancia e intimidación; Muntadas en <i>Passatges</i>
(1988), para diseccionar las interioridades, usualmente no expuestas al público, de una institución cultural oficial; los arquitectos-artistas Elizabeth Diller y Ricardo Scofidio en <i>Para-Site</i>
(1989), con planteamientos un tanto afines a los de Graham; o Julia Scher, al insertar súbitas escenas de ficción en el fluir normal de las imágenes monitorizadas por un sistema público de vigilancia.</p>
<p> </p>
<p><b>10.</b> La videoinstalación o videoescultura cuenta ya con treinta años de historia, si ciframos sus orígenes en 1963, cuando Nam June Paik y Wolf Vostell, ambos vinculados por aquel entonces al extremismo neodadá de Fluxus y a la práctica de los happenings, los <i>events</i>, los <i>environments</i>, presentaron sendas exposiciones de televisores desarreglados, manipulados y transformados salvajemente. El primer objeto al que se agarra la videoinstalación es pues el televisor, una caja simple y
«boba». Mediante la perturbación de sus imágenes, sus funciones, su aspecto externo, se adivina entonces una intención de contrariar, en un orden simbólico, al medio de masas más penetrante y poderoso que jamás haya existido. Y, por otro lado, por lo que tiene de
«estructura primaria», la caja cúbica del televisor o monitor determina el módulo-unidad de lo que podría tomarse como un juego de construcciones y deconstrucciones, en el que cualquier posición, alteración, combinación es admitida.</p>
<p> </p>
<p>Todo el trabajo de Nam June Paik podría ser visto, en este sentido, como una continua especulación sobre lo que puede hacerse con un televisor o monitor. Por ejemplo, reducir su emisión a una sola e imperturbable línea, o a un punto de intensidad luminosa casi hiriente (<i>Zen for TV</i> y <i>Point of Light</i>, respectivamente, ambos de 1963); tomar carcasas vacías de televisores difuntos para rellenarlas con una vela encendida (<i>TV Candle</i>, 1975) o con una o muchas peceras (<i>Fish TV</i>, 1976); o utilizar monitores de los más diversos tamaños para construir estrafalarios objetos, entre la ortopedia, el mobiliario y el chiste conceptual: sujetador (<i>TV Bra for Living Sculpture</i>, 1969), gafas (<i>TV Glasses</i>, 1971), violoncelo (<i>TV Cello</i>, 1971), televisor miniaturizado para lucir en el pene (<i>TV Penis</i>, 1972), cama (<i>TV Bed</i>, 1972), silla (<i>TV Chair</i>, 1974), etc. En la obra de Paik de los años ochenta, el objeto tiende a la escultura e, incluso, a lo monumental. En la serie de la «familia de los robots»
y otras piezas similares, ensamblajes de viejos aparatos de televisión y de radio enmarcan pantallas de diversos tamaños y formas, en las más variadas disposiciones, de las que fluyen imágenes coloristas e hiperdinámicas. Paik crea estructuras antropomórficas, unas veces hilarantes por su aspecto incongruente y grotesco; otras veces admirables por su fuerza evocadora, como la escultura que Paik ha dedicado a su buen amigo Merce Cunningham, donde una muy ágil composición de la cacharrería paikiana evoca al conocido coreógrafo y bailarín en una pose característica (<i>Merce
/ Digital</i>, 1988).</p>
<p> </p>
<p>La noción de videoobjeto o videoescultura podría pues caracterizarse en términos de una transformación o integración de uno o más monitores o televisores en/dentro de una construcción volumétrica singular –o como una metamorfosis (y, con frecuencia, transgresión)
de su apariencia objetual–, creándose además una determinada relación entre el ente objetual o escultórico, y el contenido interior de la pantalla o pantallas.</p>
<p> </p>
<p>[][] La obra de Shigeko Kubota ilustra a la perfección el concepto apuntado de videoescultura. Sus primeras obras (1975-1976) fueron concebidas como una serie de homenajes a una figura capital del arte moderno, Marcel Duchamp. A esta serie pertenecen: <i>Nude Descending a Staircase</i>, una escalera de madera de cuatro peldaños/monitores, los cuales reproducen una evocación videográfica de la célebre pintura del mismo título; <i>Grave</i>, columna de monitores, que se refleja y estira sobre un espejo alargado en el suelo, a modo de monumento funerario en el que se reproduce una trémula toma (cámara en mano) de la tumba del artista; y, sobre todo, <i>Window</i>, la obra maestra de Kubota, considerada por ella misma como «la quintaesencia de la videoescultura», algo que debe entenderse en el mismo sentido en que John Cage consideraba al silencio como quintaesencia del sonido y de la música. Paradójicamente, el silencio de <i>Window</i> se denomina, en términos cibernéticos, «ruido» y, en la jerga de la televisión y del vídeo, «nieve», constituyendo el único y mínimo elemento videográfico de la escultura de Shigeko Kubota, que por lo demás es una réplica/variación de una obra de Duchamp, <i>Fresh Widow</i>.
La ventana de Shigeko Kubota comporta así una sabia relación entre la construcción objetual, la posición del monitor (en vertical) y la sugerencia visual que nos ofrece la pantalla: en realidad, una no-imagen, un ruido aleatorio, un ready-made electrónico. Las videoesculturas posteriores de Shigeko Kubota abordan temáticas paisajistas, mediante estilizadas construcciones en madera o acero y por la combinación de monitores de distintos tamaños, espejos, elementos acuáticos (surtidores, corrientes de agua), etc: <i>Three Mountains</i> (1976-1979), <i>River</i>
(1979-1980), <i>Niagara Falls</i>
(1985).</p>
<p> </p>
<p>La fórmula básica de la videoescultura podría decirse que es: una imagen, un objeto, una idea. En su forma más escueta, puede entenderse como una ocurrencia chistosa o poética, burda o sutil; por ejemplo, en <i>Pfft</i>
(1982-1983), de Servaas, una pluma que brota erecta de un monitor es zarandeada regularmente, en sincronía con el soplo que emite el artista desde la pantalla. Otras formas de videoescultura tienen más de lo segundo que de lo primero: sutileza por encima de la mera ocurrencia. El componente videográfico, por ejemplo, puede actuar básicamente como fuente de luz, determinando variaciones cromáticas o impresiones caleidoscópicas, como en ciertas obras de Brian Eno
(<i>Video, Paintings and Sculptures</i>, 1984) o Roos Theuws (serie <i>Forma Lucis</i>, 1984 y después). Otras piezas tienen aún un carácter más decorativo, y llegan a bordear la banalidad y el mal gusto; así, hace unos años pudo hablarse de una tendencia de «escultura-diseño», a la que uno opondría, por ejemplo, los inquietantes artefactos de Klaus vom Bruch, reminiscentes de la genética militar de las máquinas de visión electrónicas.</p>
<p> </p>
<p>[][] <b>11.</b> Otro aspecto que ha sido tempranamente explorado, constituyendo un ingrediente habitual de muchas videoinstalaciones y un «formato expandido» en sí mismo, es el vídeo multicanal. El colectivo Raindance Corporation, editores de la revista <i>Radical Software</i> y del libro-manual de la <i>Guerrilla Television</i>, ha tenido aquí un papel destacado. En 1969, algunos de sus integrantes diseñaron ya un sistema multivídeo modular, con el nombre de
<i>Modular Video Matrix</i>, anticipándose a los muros de pantallas del tipo <i>videowall</i>, así como a otras configuraciones de planta circular, semicircular, etc., sucesivamente frecuentadas en la diversidad de las instalaciones o entornos de múltiples monitores. Esa es una vertiente de la videoinstalación a la que han hecho aportaciones muy notables varios de los artistas asociados con dicho colectivo, tales como Frank Gillette, Ira Schneider, Beryl Korot y Juan Downey.</p>
<p> </p>
<p>La instalación multicanal distribuye las imágenes sobre un plano, manteniendo la frontalidad de la pantalla única –solo que multiplicada en un políptico, mosaico o muro de imágenes–; o, por el contrario, en pantallas diseminadas en el espacio entero de la instalación, constituyendo así un particular entorno visual y auditivo. En el primer caso, la suma y combinación de las diversas imágenes es lo primordial y, a menudo, el carácter objetual de las cajas-monitor es disimulado o neutralizado; empotrándolas, por ejemplo, tras un panel o pared falsa, o bien alineándolas asépticamente en disposiciones geométricas y raramente asimétricas
(hileras, columnas, retablos, etc.).</p>
<p> </p>
<p>En muchas obras de este tipo, se trata fundamentalmente de marcar contrastes y analogías, disparidades y redundancias, enfrentamientos y comparaciones intencionadas entre los distintos canales. Así, en
<i>The Last Ten Minutes</i>
(1976), Muntadas ha contrastado los últimos minutos de la programación televisiva nocturna en tres países distintos y, seguidamente, tres planos-secuencia tomados en calles pertenecientes a sendas ciudades de los mismos países. Beryl Korot, en <i>Dachau 1974</i> (1974-1975, obra de cuatro canales), retrató el antiguo campo de concentración, hoy convertido en lugar de visita turística, operando sobre la combinación y repetición de un reducido número de secuencias de cuidada composición según una estructura predeterminada de relaciones métricas, como si se tratara de un tejido de tiempos, espacios y perspectivas que se entrecruzan, se distancian y vuelven a encontrarse. Su posterior <i>Text and Commentary</i> (1977, cinco canales), profundiza en un principio estructural semejante, del que la obra es simultáneamente una exposición didáctica, por la analogía que se establece entre el proceso de organización multicanal de las imágenes y el proceso de elaboración de un tapiz.
(La obra es, en cierto modo, un documental sobre la confección de este tapiz, el cual se expone también como parte integral de la instalación, así como los diagramas que reflejan la estructura videográfica multicanal).</p>
<p> </p>
<p>Marie-Jo Lafontaine, una artista que, como la anterior, ha cultivado también el arte textil, organiza los distintos canales de sus obras a partir de un mismo material en el que introduce progresivos desfases. Desde sus primeras instalaciones –<i>La marie salope</i> (1980), <i>Round around the Ring</i>
(1981) y <i>His Master’s Voice</i> (1983), donde las operaciones de una draga, un combate de boxeo o un ritual homoerótico masoquista se transforman en fascinantes coreografías en el mosaico multimonitor– hasta sus instalaciones más grandilocuentes, en las que forma ruedos, espirales, moles de imágenes encastadas en estilizadas, pero aparatosas, estructuras escultóricas.</p>
<p> </p>
<p>La idea de establecer una continuidad espacial entre las imágenes de varios monitores alineados para recomponer así una imagen única, hecha de fragmentos/módulos sincronizados, ha sido explotada abundantemente por diversos artistas y con distintas intenciones.
Así, una ocurrencia visual hoy ya manida ha sido la del cuerpo encerrado en una hilera, columna, sepulcro, u otra configuración de monitores. Por poner un único ejemplo, el nadador que va y viene en la piscina videográfica de múltiples monitores alineados, en una popular obra del Studio Azzurro, <i>Il nuotatore</i> (1984).</p>
<p> </p>
<p>Otras instalaciones se inspiran en la tradición de los polípticos y los retablos medievales, y en iconografías inspiradas en la historia del arte. Lluís Nicolau, en <i>La traïció de Judes</i>
(1985), ilustra un episodio bíblico por medio de un retablo de seis breves secuencias que, basadas en la iconografía del arte religioso, tienen a su vez el carácter anacrónico de un cómic de vistosas viñetas electrónicas. Bill Viola, en <i>The City of Man</i> (1989), y Judith Goddard, con <i>The Garden of Earthly Delights</i>
(1991), han ofrecido sendas versiones contemporáneas del triple motivo del escalofriante tríptico de Hyeronymus Bosch, mientras que Simon Biggs ha acudido repetidamente a las iconografías y «formatos»
medievales del libro de horas, el manuscrito iluminado o la bóveda catedralicia.</p>
<p> </p>
<p><b>12.</b> El concepto de entorno multivídeo (multicanal, multimonitor)
encuentra un adecuado ejemplo en la obra de Ira Schneider. <i>Manhattan is an Island</i> (1974), una instalación ya legendaria, constituye una transcripción
«videotopográfica» de la geografía urbana y cultural de Manhattan. Los monitores se alzan sobre pedestales de diversas alturas, por encima de un mapa esquemático trazado en el suelo, delineando el alargado perímetro y las principales arterias del corazón de Nueva York. Al deambular por el espacio, el espectador obtiene así una sugerente impresión polivisual de este entorno urbano: su contorno descrito mediante desplazamientos en barco y automóvil, sus grandes rasgos y zonas (Up-, Mid- y Downtown) en vistas subjetivas que recrean el ritmo interno de la urbe, sus entrañas atravesadas con diversos medios de transporte, su perspectiva aérea desde un helicóptero, etc. El sonido ambienta adecuadamente el bullicio de las imágenes, mediante la interacción aleatoria de diversos elementos acústicos distribuidos espacialmente con altavoces separados: sonidos y ruidos de la metrópoli, músicas y canciones diversas, retazos de emisiones radiofónicas y televisivas.</p>
<p> </p>
<p>Con un principio cartográfico similar, otra obra posterior de Schneider, <i>Time Zones</i>
(1980), recrea una imagen global y multicultural de nuestro planeta, mediante un círculo de 24 monitores en los que se reproducen otros tantos registros obtenidos en diversos lugares del globo, que representan cada uno de los 24 husos horarios. El espectador obtiene así una visión panorámica de la diversidad de culturas, climas, paisajes, etnias,… así como del ciclo horario que gobierna el paso del día a la noche y viceversa.</p>
<p> </p>
<p>La instalación de Eugènia Balcells, <i>From the Center</i> (1984), puede vincularse con las dos anteriores por diversos motivos: por adoptar asimismo una planta circular, por constituir una visión personal de Nueva York, y por resaltar igualmente unos parámetros de orientación en el espacio y el tiempo (puntos cardinales, amanecer y ocaso, día y noche). En un círculo de doce monitores, la autora despliega otras tantas miradas, en distintas direcciones y a diversas distancias, todas desde un mismo punto (posición de la cámara); un punto central arbitrario que se simboliza en la instalación con una piedra en el centro del círculo. Sin embargo, la ciudad recreada en este entorno audiovisual envolvente –«un Stonehenge electrónico», en palabras de la artista–, es como si fuera una ciudad imaginaria, donde coexisten diversas naturalezas del tiempo.</p>
<p> </p>
<p>Los entornos multivídeo, en fin, proponen las más diversas arquitecturas: círculos y espirales de monitores, pasadizos y habitaciones, pirámides y pozos, jardines y laberintos, monitores suspendidos del techo o que inundan el espacio a ras de suelo, etc. Y los artistas-instaladores han agudizado también su ingenio en cuanto a la combinación de elementos objetuales, escultóricos, escenográficos, estratagemas ópticas y otros dispositivos, enriqueciendo progresivamente la utilería de la instalación audiovisual.</p>
<p> </p>
<p><b>13.</b> Al aliarse con otros medios, materiales, elementos, el vídeo (y, para el caso, cualquier otro medio audiovisual) se sumerge de lleno en la trama multimedia, en las referencias entrecruzadas de los diversos componentes que entran en juego. Aquí es donde la noción de instalación se aproxima más a lo teatral, a lo escenográfico y a lo alegórico. Tomando objetos del mundo real para amueblar el espacio, plantar el decorado, la imagen se enmarca ahora en un ambiente diseñado, construido y pensado a escala humana. Aquellos empréstitos de la realidad objetual, sin embargo, raramente obedecen a un afán de verismo, ilusionismo y simulacro, por lo que el mobiliario, la arquitectura, el atrezzo de estas instalaciones introduce frecuentemente una estilización, distorsión o desproporción intencionada.</p>
<p> </p>
<p>Ciertas instalaciones, por ejemplo, recrean situaciones de encerramiento, e incluso tienden a una suerte de «trampa» para atrapar al espectador. En <i>Tokyo Rose</i>
(1975-1976), de Paul y Marlene Kos, una sugestiva voz femenina atrae al espectador al interior de una estilizada jaula metálica que contiene un monitor de donde proceden los seductores mensajes, aludiendo así al poder persuasivo de los medios masivos. (El título hace referencia a ciertas emisiones radiofónicas niponas que, durante la Segunda Guerra Mundial, incitaban a los pilotos norteamericanos a rendirse). Similarmente, Simon Robertshaw, en <i>From Generation to Generation</i>
(1989) y otras instalaciones sucesivas, recrea formas de aprisionamiento diversas, vinculando las arquitecturas represivas con las doctrinas eugenésicas y otras aberraciones en el ámbito de las ciencias médicas y de la conducta.</p>
<p> </p>
<p>De otra manera, <i>Evert Stenmark Piece</i> (1974), de Roger Welch, y <i>Room for St. John of the Cross</i>
(1983), de Bill Viola, escenifican situaciones distintas de reclusión. Accidental en la pieza de Welch, donde el monitor está
situado al fondo de un agujero cilíndrico recubierto de hielo, siendo la cinta el relato verídico de un hombre que quedó sepultado por un alud durante ocho días. Reclusión represiva en la instalación de Viola, una evocación subjetiva del ambiente en que San Juan de la Cruz escribió sus poemas –así como de las emociones que se desprenden de su lectura&shy;–, cuyo elemento central es una opresiva celda, supuesta réplica de aquella en la que fue encarcelado el gran poeta místico español.</p>
<p> </p>
<p>La obra de Francesc Torres, sobre todo a partir de <i>Residual Regions</i> (1978), es particularmente representativa de la noción de instalación multimedia en su más vasta acepción, por su combinación de los medios y elementos más dispares –objetos, fotografías, proyecciones fílmicas, dibujos, construcciones escultóricas o escenográficas, dispositivos mecánicos, grabaciones de audio y vídeo, etc.– en una cadena de significantes que el espectador ha de relacionar y desentrañar por sí mismo (salvo que Torres le proporcione por escrito una sinopsis del argumento, aunque siempre se trata de un argumento abierto a distintas interpretaciones). Las instalaciones de Torres cobran así un matiz ensayístico, en el sentido literario del término, al abordar las realidades y contradicciones de nuestro tiempo. Y es su densidad intelectual lo que las distingue de otras instalaciones igualmente espectaculares en cuanto a su complejidad y ambientación; por ejemplo, frente a la experiencia más sensorial e inmediata de ciertas obras de Fabrizio Plessi o Nam June Paik.</p>
<p> </p>
<p>En la instalación multimedia, no se establece ningún tipo de jerarquía de un medio sobre otros. En <i>The Board Room</i> (1987), Muntadas toma como pretexto un código arquitectónico determinado, cuya recreación constituye una estremecedora puesta en escena de la creciente intimidad entre los círculos de poder ideológico y económico y los media, centrándose en el fenómeno específico –tan
álgido en Norteamérica en su momento– de la nueva religiosidad, el «televangelismo», sus nexos con la ideología política en el poder, y su preocupante radio de alcance. Los diversos elementos de mobiliario y ambientación, imagen, texto y sonido, determinan múltiples niveles de remisión de una cosa a otra: el escenario en sí, por ejemplo, evoca en diversos detalles el episodio bíblico de la Santa Cena, mientras que, de la boca de los líderes religiosos convocados en una peculiar galería de retratos, Muntadas extrae todo un vocabulario de palabras reveladoras, y que a menudo adquieren un doble sentido, tales como poder, estrategia, técnica, cruzada, finanzas, salvación, etc.</p>
<p> </p>
<p>Otras instalaciones, en cambio, reducen al mínimo el aparato escenográfico para resaltar una relación inter-media, una confrontación entre imágenes de distinta naturaleza; fotografía y vídeo en sendas obras de Jeff Wall, <i>Eviction Struggle</i> (1988), y Adrian Piper, <i>What It’s Like, What It Is</i> (1991), referidas a situaciones conflictivas en el entorno urbano. En la pieza de Wall, una gran transparencia fotográfica iluminada, del tamaño de una valla publicitaria, muestra un paisaje suburbano en el que se desarrolla un incidente violento: un acto de desahucio, tal como indica el título. Al otro lado de esta imagen-muro, se abren como ventanas las pantallas de nueve monitores, los cuales enmarcan diversos detalles de la misma escena, gestos, movimientos, breves secuencias que se repiten incesantemente, agudizando la brutalidad de la situación representada. Y, como siempre en la obra de Wall, se trata de una ficción, una puesta en escena de rotundo realismo.
Piper, por su parte, combina un elemento narrativo (texto) con una ambientación evocativa del espacio urbano, estableciendo un recorrido que discurre entre imágenes fotográficas y de vídeo enfrentadas, como si fueran ventanas que separan un espacio interior
(hogar, bienestar) de otro exterior (calle, desamparo); una obra referida, como todas las de Piper, a las manifestaciones cotidianas del racismo y a los desequilibrios sociales que conducen a actitudes de insolidaridad e indiferencia hacia los demás.</p>
<p> </p>
<p><b>14.</b> El territorio de las videoinstalaciones ha sido explorado con inventiva y perspicacia por un vasto número de artistas. Obviamente, un cierto vocabulario (formal/estructural) ha terminado por establecerse, al pasar al dominio público y hasta industrializarse, tal como ha sucedido con los sistemas de muro multipantalla. Por otro lado, ha disminuido sensiblemente el factor sorpresa que hace años podía tener cualquier artefacto objetual o escultórico que incorporara uno o más monitores con mayor o menor ingenio. Quizá
por eso, el poema o la ocurrencia visual (y simultáneamente objetual) tan abundante en el desarrollo primerizo de la videoinstalación, se ha visto desplazado en un determinado momento por un cierto monumentalismo, aparatoso y espectacular, mensurable por el número de monitores empleados y por los metros cúbicos ocupados por la obra. Sin embargo, otros rasgos que es posible advertir en la evolución de la videoinstalación son su expansión hacia el lenguaje más complejo de lo multimedia, la implicación de nuevos sistemas interactivos (ordenador, videodisco) y, por último, una cierta tendencia a evadir la imagen del monitor, de la pantalla encerrada en una caja-mueble; en una estructura primaria que, para los efectos de escultura o arquitectura que suele comportar una instalación, termina por ser tan básica como un ladrillo, pero tan limitada como las del arte minimalista (con Fluxus, no se olvide, también un movimiento coetáneo a los más directos orígenes del arte de instalación).</p>
<p> </p>
<p>Esta
última observación no implica, claro está, que el monitor deba pasar al desván del artista-instalador que pretenda estar al día.
Por el contrario, la obra última de varios artistas nos muestra que la videoinstalación dista mucho de haber agotado su vocabulario, a pesar de la percepción redundante que se puede extraer al inventariar sus modalidades. Así, Gary Hill, en los últimos años, ha procedido a desarmar monitores de todos los tamaños, extraer sus tubos, proyectar sus imágenes sobre objetos inertes, creando una serie de obras de perturbadora belleza. Imágenes enfrentadas que se desplazan por los cuatro costados de una sala, proyectadas desde los extremos opuestos de un cilindro suspendido del techo. Por la posición acéntrica de dicho elemento, las imágenes cambian gradualmente de tamaño. Al tratarse de proyecciones por reflexión de las imágenes visualizadas en pequeños monitores contenidos en este dispositivo tubular, la definición y la luminosidad de las imágenes proyectadas son de una precariedad que les da una cualidad misteriosa y casi espectral. Así es como Gary Hill, en <i>Beacon
(Two Versions of the Imaginary)</i>
(1990), ha «puesto en escena» un texto de Maurice Blanchot: extractos de un ensayo acerca de la imagen y de «la pasión por la imagen»).</p>
<p> </p>
<p> Con el perfeccionamiento y la mayor asequibilidad de los sistemas de proyección de vídeo, por otra parte, se perfila una nueva tipología de instalaciones basadas en la proyección, aunque algunos artistas, como Peter Campus o Bill Viola, ya habían introducido este elemento en los años setenta. Y, mediante la proyección de imágenes electrónicas sobre el espacio o sobre objetos reales o simulados, estas instalaciones se alinean con la dramaturgia de las fantasmagorías e ilusiones cinematográficas. Salvo que ahora es con un propósito menos cándido y con segundas intenciones.</p>
<p> </p>
<p>En
<i>First and Third</i>
(1987), de Judith Barry, las paredes hablan, representando a los excluidos, a los inmigrantes llegados del llamado Tercer Mundo para participar en el sueño (americano) de la tierra prometida. Intrusos en un doble sentido, nueve rostros cuentan otros tantos relatos de experiencias vividas, y se aparecen al visitante en los intersticios de una exposición museística. (Esta obra, prácticamente concebida para un espacio concreto, se presentó originalmente en el marco de una exposición bienal en el Whitney Museum of American Art).</p>
<p> </p>
<p>Ingo Günther, en <i>Im Bereich der West-Wind-Welt</i>
(1991), proyecta sobre dos lienzos-pantalla que ondean como banderas sobre sendos mástiles, imágenes en rápida sucesión que reflejan una situación de cambio político en el viejo orden mundial de bloques enfrentados: Este contra Oeste, Estados Unidos versus URSS, emblemas y enseñas ahora agitados por grandes ventiladores, por el soplo uniforme y mecánico del «viento occidental», en una ambientación desasogegante.  </p>
<p> </p>
<p><b>15.</b> Aún otra instalación: el espacio, en este caso, apenas articula dos elementos: una bicicleta estática de gimnasia y una pantalla en la que se visualizan unas imágenes creadas informáticamente. Un tercer elemento lo pondrá el espectador mismo, invitado a montar en la bicicleta y a pedalear y dirigir el manillar para accionar el desfile secuencial de las imágenes en la pantalla que tiene enfrente.
Secuencia visual que es, a su vez, léxica. Pues esta obra, <i>The Legible City</i> (1988-1991), de Jeffrey Shaw, propone al espectador un recorrido por una ciudad cuyos edificios son letras, de manera que al desplazarse por este entorno virtual interactivo, puede leer unos textos diseminados en el laberinto de las calles abarcadas en cada caso. (Shaw ha realizado sucesivamente tres versiones de esta pieza, referidas a determinadas zonas de Nueva York, Ámsterdam y Karlsruhe). Así, errando por Manhattan, por ejemplo, el espectador puede encontrar y seguir hasta ocho relatos en los que la misma ciudad se nos muestra desde el punto de vista ficcionado de un exalcalde, un arquitecto, un taxista, un especulador, un delincuente, etc. La bicicleta, modificada para servir de interfaz entre el usuario/espectador y el ordenador –con los datos que permiten la visualización interactiva de la «ciudad legible»–, exige la acción (y cierta habilidad) del espectador.
Este, con un plano electrónico como posible guía, puede así
introducirse en el entramado de calles, símbolos y textos.</p>
<p> </p>
<p>No podía concluir este apretado recorrido por algunas variedades y tipologías de la instalación audiovisual, sin acercarme, ni que sea por medio de un único ejemplo, al punto de encuentro del hipermedio informático con el hipermedio de la instalación. Un punto en el que se cumple una expansión más, otro ensanchamiento intermediático/hipermediático, con todo lo que suele acarrear el hallazgo de un nuevo territorio: la prevención gélida de unos, el entusiasmo febril de otros. Así, el tema tan actual de la llamada realidad virtual, podría contemplarse, desde la perspectiva que aquí
planteo, como el posible brote de un concepto enteramente distinto de instalación, donde casi todo –el espacio, sus elementos, su arquitectura, sus objetos, sus imágenes y sonidos, sus estímulos sensoriales y, por descontado, su concepción entera– ingresaría en el dominio de lo inmaterial, de las ideas e imágenes calculadas, de las sensaciones delegadas por medio de interfaces y datos de orden digital, numérico. De la óptica a la electrónica, de la carpintería a la arquitectura, de lo físico a lo virtual, el arte de la instalación se despliega pues en una zona vastísima que estas páginas apenas han logrado insinuar; una zona, en definitiva, que constituye todo un reflejo de la pluralidad estética de nuestro tiempo.</p>
<p> </p>
<p> </p> <h2 lang="en-GB" class="western" style="margin-bottom: 0cm; font-style: normal"> REFERENCIAS</h2> <p>– Vito Acconci: «Television, furniture &amp; sculpture: the room with the American view», <i>Het Lumineuze Beeld / The Luminous Image.</i> Ámsterdam: Stedelijk Museum, 1984 [cat. exp.]</p>
<p>– Noël Burch: <i>El tragaluz del infinito: Contribución a la genealogía del lenguaje cinematográfico. </i>Madrid: Cátedra, 1987.  </p>
<p>–
Michael Fried: «Art and Objecthood», <i>Artforum</i>
(verano 1967); posteriormente recogido en Gregory Battcock<i> </i>(ed.):<i> Minimal Art: A Critical Anthology</i>.
Nueva York: E.P. Dutton, 1968.</p>
<p>– Dick Higgins: «Some Thoughts on the Context of Fluxus», <i>Flash Art</i>, núm. 84-85 ( octubre-noviembre de 1978).</p>
<p>– Ellen Handy: «Installations and History», <i>Arts Magazine</i>
(febrero de 1989).</p>
<p>– Wulf Herzogenrath / Edith Decker (ed): <i>Video-Skulptur: retrospektiv und aktuell 1963-1989</i>.
Colonia: DuMont, 1989.</p>
<p>– Lesley Johnstone: «Installation: The Invention of Context», <i>Aurora Borealis. </i>Montreal:<i> </i>Centre International d’Art Contemporain, 1985 [cat. exp.].</p>
<p>–
Rosalind E. Krauss: <i>Passages in Modern Sculpture</i>.
Nueva York: The Viking Press, 1977.</p>
<p>– George Maciunas: «Expanded Arts Diagram» [1966] y «Diagram of Historical Development of Fluxus and Other 4 Dimensional, Aural, Optic, Olfactory, Epithelial and Tactile Art Forms (Incomplete)» [1978], reunidos en diversas antologías de documentos fluxus como el catálogo <i>Happening
&amp; Fluxus</i>.
Colonia: Kölnischer Kunstverein, 1970, o el voluminoso <i>Fluxus Codex</i>, editador por Jon Hendricks. Nueva York: Harry N. Abrams, Inc., 1988.</p>
<p>– Jonas Mekas: <i>Movie Journal: The Rise of a New American Cinema, 1959-1971</i>.
Nueva York: Macmillan Co. / Collier Books, 1972.</p>
<p>– René
Payant: «Sites de complexité», en R. Payant (ed.): <i>Vidéo</i>.
Montreal: Artextes, 1986.</p>
<p>–
Sheldon Renan: <i>An Introduction to the American Underground Film</i>.
Nueva York: E.P. Dutton, 1967; edición británica con el título <i>The Underground Film: An Introduction to its Development in America</i>.
Londres: Studio Vista, 1968.</p>
<p>– Merike Talve: «Vestiges of the Avant-Garde in Installation», <i>Luminous Sites: 10 Video Installations</i>, a Video Inn / Western Front production.Vancouver: Vanguard Publications, 1986 [cat. exp.]</p>
<p>–
Francesc Torres: «El espacio de la instalación: Una práctica equívoca», <i>El País</i>
(suplemento <i>Artes</i>), sábado 17 de febrero de 1990.</p>
<p>– Stan Vanderbeek: «‘Culture: Intercom’ and Expanded Cinema: A Proposal and Manifesto» en Gregory Battcock (ed.): <i>The New American Cinema: A Critical Anthology</i>.
Nueva York: E.P. Dutton, 1967.</p>
<p>– Ingrid Wiegand: «Videospace: Varieties of the Video Installation», en Gregory Battcock (ed.) <i>New Artists Video: A Critical Anthology</i>.
Nueva York: E.P. Dutton, 1978.</p>
<p>– Gene Youngblood: <i>Expanded Cinema</i>.
Nueva York: E.P. Dutton / Londres: Studio Vista, 1970.</p>
<p>– Gene Youngblood: «El aura del simulacro: el ordenador y la revolución cultural», <i>Telos (Cuadernos de Comunicación, Tecnología y Sociedad)</i>, núm. 9 (marzo-mayo de 1987).</p>
<p> </p>
<p> </p> </body> </html>