  <p> <b>Visión expandida. Extralimitaciones cinematográficas en la encrucijada de la electrónica</b></p>
<p> <b>Etimología de la expansión</b></p>
<p> Hay ideas que vuelven. O que nunca se fueron.
<i>Expanded Cinema</i>: cine expandido. Recién se publicó en Argentina el libro de Gene Youngblood que diseminó dicho concepto, tras permanecer agotado por más de treinta años en su lengua original.[[[1]]] Un libro memorable también por ser uno de los primeros en ocuparse de los rivales inmediatos del cinema durante el último tercio del siglo anterior: la televisión y el vídeo, también el ordenador; máquinas que han desplazado crecientemente a la cinematografía tradicional, pelicular y parpadeante.</p>
<p> Sin embargo, antes de la edición del mencionado libro, el término ya había sido utilizado comúnmente por diversos autores y seguidores del otro cine (independiente, underground, rompedor…).</p>
<p> Jonas Mekas lo manejó con frecuencia en las reseñas de su «diario de cine» (<i>Movie Journal</i>) para el semanario <i>The Village Voice</i>, a partir de una columna con un titular tan significativo como «On the Expanding Eye» (6 de febrero de 1964). Después, tras otras anotaciones sobre la introducción de proyecciones cinemáticas en las nuevas expresiones dramatúrgicas de la danza, el happening y los intermedia, Mekas ha glosado varias de las sesiones del New Cinema Festival que él mismo había impulsado en la Film-Makers’ Cinematheque
(noviembre-diciembre de 1965). Evento cuya coordinación delegó en John Brockman –actual adalid de la <i>tercera cultura</i> y, entonces, un joven con formación empresarial que también contribuyó lo suyo a divulgar las nociones expansivas e intermediales–, dicho festival contó con la participación de Ken Dewey con Terry Riley, Ed Emshwiller, Ken Jacobs, Angus McLise con una encarnación todavía apócrifa de The Velvet Underground, Nam June Paik, Robert Rauschenberg, Jack Smith, Don Snyder, Elaine Summers, Aldo Tambellini, el grupo USCO, Stan Vanderbeek, Andy Warhol, Robert Whitman, La Monte Young con Marian Zazeela, entre otras luminarias de la vanguardia y la contracultura.</p>
<p> En ocasiones, el origen del término le ha sido atribuido a Stan Vanderbeek, a propósito de un manifiesto suyo,
«Culture: Intercom and Expanded Cinema», recogido en 1966 (y después) en diversas publicaciones. Aunque la expresión de marras no aparece más que en el título del texto, desde luego es bien apropiada para los experimentos o «prototipos» a los que Vanderbeek se refirió y que constituyen sus credenciales: arquitecturas y dispositivos de multiproyección (<i>Movie-Drome</i>, 1963-1966; <i>Movie-Murals</i>, 1965-1968); coreografías de proyectores en movimiento, asidos y acarreados por diversos ejecutantes (<i>Move-Movies</i>, 1965); sesiones polisensoriales y a «duermevela» en planetarios
(<i>Cine Dreams: Cinema of the Mind</i>, 1972; <i>Cine Naps</i>, 1973); instalaciones con proyecciones sobre pantallas de vapor, inmateriales y penetrables incluso (<i>Steam Screens</i>, desde 1975 y hasta su fallecimiento prematuro, en colaboración con Joan Brigham).  </p>
<p> En Europa, la noción de cine expandido aparece asociada tempranamente, hacia 1967-1968, con los cachorros de la vanguardia austriaca (doblemente accionista y cinematográfica).
Entre las primeras realizaciones de Peter Weibel, VALIE EXPORT,[[[2]]] Hans Scheugl, Ernst Schmidt jr y Gottfried Schlemmer, abundan las
<i>películas sin película</i>.
Oxímoron que se traduce en acciones desnudamente conceptuales e insolencias anticinematográficas, cercanas en espíritu a la iconoclasia de Fluxus y de los letristas franceses.</p>
<p> Por último, el término <i>Expanded Cinema</i> da título también al sexto y
último capítulo del libro que Sheldon Renan dedicó en 1967 al underground norteamericano.[[[3]]] Apartado que condensa en treinta páginas un recorrido similar al que Youngblood establecería luego.</p>
<p> Identificar quién fue que acuñó y puso en circulación el epíteto es irrelevante y bizantino. Escudriñar sus raíces nos permite constatar sin embargo cierta tendencia, muy en el aire de la época, a extralimitar y entrecruzar los medios.</p>
<p> Además, puestos a hurgar en un tiempo más remoto, la cineasta Mary Ellen Bute ya había manejado desde 1936 la expresión <i>expanding cinema</i>, en relación con su propósito de explorar nuevas técnicas y convergencias sinestésicas en el film abstracto. (Con dicho sintagma, dio nombre además a su sello de producción propio.)</p>
<p> Por otro lado, no hace falta tener una licenciatura en filología inglesa para darse cuenta de que, en dicha lengua y en el ámbito estético/artístico en particular, la idea de expansividad es bien corriente. En los años sesenta, una referencia obligada era la <i>expansión de la conciencia</i> y el propio Youngblood lo planteaba así desde el prefacio de su libro: «<i>When we say expanded cinema we actually mean expanded consciousness</i>».</p>
<p> De mención obligada es también la noción introducida por George Maciunas con su <i>Expanded Arts Diagram</i>, a la vez incluido en un número especial de la revista <i>Film Culture</i> (1966), editada por Mekas y diseñada por el cabecilla de Fluxus.</p>
<p> Ya fuera del marco de la época referida hasta aquí, Rosalind Krauss formuló su célebre concepción de un «campo expandido» (<i>expanded field</i>)
de superación de la escultura entendida tradicionalmente. Y, entre otras expansiones –corrupciones incluso– de dicho concepto, era inevitable que surgiera otro más globalizante, generalista o de medias tintas, cual es el de <i>expanded media</i>. La mayor ventaja de este último sería la de no enredar más la madeja ante una creciente multiplicación de los medios, metamedios y sucedáneos.</p>
<p>  </p>
<p> <b>Actualidad del cine expandido</b></p>
<p> Muchas veces, más por simplificación que por ignorancia, se dice que el cine expandido es una práctica propia de los años setenta. Como se ha visto, en realidad ha de remontarse como mínimo a la segunda mitad de los sesenta. O incluso a los cincuenta, cuando ya se prefiguran dos direcciones. Primeramente, una dirección performativa porque la acción no solamente sucede en la pantalla, sino también delante o incluso detrás de ella. Pero, a la par, con un sesgo conceptual desde el momento en que la película deviene un pretexto y se prescinde, sin más, de su soporte. Tal y como ocurre con las prácticas y concepciones de los letristas entre 1950-1960: el <i>syncinéma</i> de Lemaître, el film-debate (más bien entendido como reyerta o algarada), el cine imaginario.</p>
<p> Y, de otro lado, por la renovación en cuanto a las experiencias de proyecciones múltiples, combinaciones de diversos medios, formatos y desbordamientos de la pantalla, que han aportado Kenneth Anger, José Val del Omar, Marcel Broodthaers o un Vanderbeek bisoño, así como el <i>Magirama</i> de Abel Gance y Nelly Kaplan o los <i>Vortex Concerts</i> de Henry Jacobs y Jordan Belson; todas las cuales confluyeron en Bruselas 1958 –en el marco de la Exposición Universal y del EXPRMNTL, festival de cine experimental convocado para la ocasión–, en las inmediaciones de algunos despliegues tan espectaculares como la pantalla circular del Circarama en uno de los tres pabellones estadounidenses, el teatro visual de Laterna Magika en el pabellón checoslovaco o el <i>Poème
électronique</i> de Le Corbusier, Varèse y Xenakis en el pabellón Philips. Una confluencia pues entre el cine expandido y las pompas audiovisuales de las ferias y exposiciones universales, entre otras raíces y ramificaciones que no ha lugar a detallar aquí.</p>
<p> VALIE EXPORT ha contextualizado asi la razón de ser de unas prácticas que, en efecto, alcanzaron su plenitud hacia (y después de) 1967-1968:</p>
<p> «El cine expandido ha de contemplarse también en relación con el contexto y la evolución de la situación política en los años cincuenta y sesenta: por un lado, con las revueltas del movimiento estudiantil contra el poder dominante y opresivo del Estado, y por otro, en cuanto a los envites artísticos que, en ese mismo periodo, han buscado una nueva definición de la noción de arte. Su premisa estética pretendía concienciar al público en cuanto a ciertos refinamientos y cambios de sensibilidad, y acerca de unas estructuras y condiciones de comunicación visual y emocional por otro lado, de manera que nuestro amputado sentido de la percepción fuera capaz de percibir de nuevo. Se trataba, por tanto, de abolir unos valores estéticos viejos y caducos.»[[[4]]]</p>
<p> En los ochenta, sin embargo, el cine mismo era percibido como un medio en declive; no solo tecnológicamente.
Incluido el cine expandido, cuyo lugar ha sido ocupado crecientemente por el vídeo expandido de las instalaciones y esculturas, acciones y escenografías, murales de pantallas, tracas electrónicas y desparrames multimediales de toda clase. Recuerdo a Raymond Bellour refiriéndose, en no sé que encuentro o coloquio de aquellos años, al anacronismo que percibía en las instalaciones fílmicas en sentido estricto, por la naturaleza mecánica de sus componentes; tan metalúrgicos en el <i>hardware</i>
(proyectores, bobinas, engranajes…) y perecederos en el <i>software</i>
(la película y sus perforaciones, empalmes, abrasiones, etc). Para los sitios del arte y sus regentes, la cacharrería cinematográfica devino un engorro a ahuyentar, y eso se pudo notar en poco tiempo; incluso en instituciones y centros que habían prestado una especial atención a la imagen en movimiento.</p>
<p> Por lo contrario, desde hace unos años asistimos a un aparente <i>revival</i> del cine expandido &shy;–sea propiamente cine o <i>paracinemático</i>–
que, a costa de rejuvenecerse, a veces tiene algo de subcultura sucedánea y de frikismo tecnológico.[[[5]]] Tal como sucede, de manera más amplia, con la recuperación y reutilización de toda una nebulosa de técnicas y soportes presuntamente arcaicos: películas de 8 mm, discos de vinilo (también para el almacenamiento y la reproducción de señales de vídeo), proyectores de transparencias y de opacos, sistemas de vídeo doméstico en desuso, sintetizadores analógicos y ordenadores no tan obsoletos como se cree.</p>
<p> Diversos aspectos son sintomáticos. En primer lugar, la presencia que han cobrado –con regularidad más que esporádicamente– los proyectores de 16 mm (pero a veces también de super-8 o de 35 mm incluso) y los llamados <i>loopers</i>, los carruseles de diapositivas y otros artefactos entre la ingeniería y el bricolaje, en museos, centros de arte, bienales y similares, galerías incluso. Algo que ha sido propiciado en parte por las querencias y demandas de artistas de renombre –de James Coleman a Tacita Dean– y pujantes o «empujados».</p>
<p> En segundo lugar, desde el comienzo del nuevo siglo, hay que referirse a una continuidad de manifestaciones entre recapitulativas y prospectivas, con un alcance más o menos vasto de las expansiones audiovisuales. En 2001 abrió el turno <i>Into the Light: The Projected Image in American Art, 1964-1977</i>, en el Whitney Museum de Nueva York, donde la curadora británica Chrissie Iles restableció la atención que dicho museo había prestado a las <i>expanded forms</i> del cine y el vídeo, de la mano de su antecesor John Hanhardt. En 2004, en el MUMOK de Viena (Fundación Ludwig), <i>X-Screen: Film Installation and Actions in the 1960s and 1970s</i> amplió la cobertura a la escena europea, con las omisiones consuetudinarias pero aventurando otras inscripciones no tan habituales; por ejemplo el <i>quasi-cinema</i> de Helio Oiticica y Neville de Almeida, o algunas piezas de otros artistas más conocidos por sus cintas e instalaciones de vídeo que por sus incursiones fílmicas (Vito Acconci, Bruce Nauman, Dennis Oppenheim, Wolf Vostell y Jud Yalkut). Mark Webber comisarió
sucesivamente dos eventos en Alemania, <i>Expanded Cinema: Film as Spectacle, Event and Performance</i> en Dortmund (2004) y <i>Expanded Cinema: Time/Space/Structure</i> en Stuttgart
(2006), ambos con un sustancioso programa de performances, proyecciones, charlas y debates; proyecto acompañado por la recopilación de un fondo documental para el estudio del tema.</p>
<p> El proyecto de investigación «Narrative Explorations in Expanded Cinema», impulsado por la malograda Jackie Hatfield y proseguido desde el colegio Central Saint Martins de la Universidad de las Artes de Londres, ha dado pie a otros encuentros como <i>The Live Record</i>
(British Film Institute, 2008) y el simposio <i>Expanded Cinema: Activating the Space of Reception</i>
(Tate Modern, 2009), con el colofón de un libro donde se reúnen algunas de las ponencias y otros documentos.[[[6]]] En febrero de 2013, la Universidad de Yale convocó otro congreso, <i>Expanding Cinema: Spatial Dimensions of Film Exhibition, Aesthetics, and Theory</i>, de cuyo programa se colige un enfoque altamente académico que ya desató ciertas críticas tras las apretujadas jornadas de 2009 a orillas del Támesis.</p>
<p> De todos modos, si estos datos son significativos de un renovado interés por las expansiones cine-, para-, meta- y poscinematográficas, su prosperidad reside a fin de cuentas en un número respetable de artistas y grupos que ha retomado la cacharrería del cine, las transparencias fotográficas y otros instrumentos; los bucles de película tensados en los <i>loopers</i> o en el espacio expositivo; las acciones y multiproyecciones que vulneran el plano y el rectángulo de la pantalla, etc.</p>
<p> Vayan unos cuantos nombres recopilados de aquí y de allá, con una trayectoria firme y reconocida… En Estados Unidos, Bruce McClure, el tándem de Sandra Gibson y Luis Recoder, Bradley Eros, Jennifer Reeves, Andrew Lampert, Steven Dye, Ben Russell, Matthew Buckingham, Zoe Beloff, Joel Schlemowitz y Kerry Laitala. En Canadá, John Porter, y Karl Lemieux en Quebec. En Australia, Dirk de Bruyn, el tándem Abject Leader –y sus componentes, Sally Golding y Joel Stern, individualmente– y el grupo Teaching and Learning Cinema (TLC).[[[7]]] En el Reino Unido, Greg Pope, Karel Doing, Cathy Rogers, Denise Hawrysio, el tándem de Karen Mirza y Brad Butler, Emma Hart y Benedict Drew (también a dúo) y Lynn Loo (que colabora frecuentemente con Guy Sherwin). En Holanda, Joost Rekveld y, en Alemania, Jürgen Reble, Peter Miller y Rosa Barba. En Francia, Christian Lebrat, Anne-Marie Cornu y el grupo Metamkine. En Italia, el Zapruder Filmmakersgroup. En Argentina, Claudio Caldini y Andrés Denegri. En España, el colectivo Crater (que, de nuevo, es básicamente un tándem), Oriol Sánchez, Esperanza Collado y, en cierto modo, las fantasmagorías domésticas de Eulàlia Valldosera y algunas instalaciones de proyección de Eugènia Balcells.</p>
<p> Muchas son las zonas adyacentes, las fronteras permeables y las contaminaciones mutuas por las que el cine expandido
–que, ya se ha sugerido antes, muchas veces no es literalmente cine– no debe ni puede aislarse de otras manifestaciones contemporáneas, desde el momento en que todas ellas se emplazan en una <i>posteridad</i> impura (poscinema, posvídeo, posmedia). Los artistas que, hace más de treinta años, ensancharon e hicieron estallar la disciplina cinematográfica, a menudo emprendieron luego un rumbo bien distinto; ni que fuera circunstancialmente. Además, abrazaron en gran parte los medios electrónicos. Sin embargo, en algunos casos, no hay demasiadas diferencias entre lo que hacían entonces –con películas, proyectores, etc.– y lo que están haciendo ahora, con herramientas digitales. Y, al decir esto, estoy pensando especialmente en Anthony McCall, Chris Welsby o Ken Jacobs.</p>
<p> Cuando de instalaciones se trata, las imágenes pueden tener a veces un origen cinematográfico y, sin embargo, proyectarse mediante un dispositivo digital a efectos prácticos. En tal caso, en principio sobran los distingos, salvo que algunos creadores prefieren acogerse a una tradición antes que a otra; quizá
con un pedigrí inferior aquella que descartan. Por otra parte, algunas piezas históricas del cine expandido se han adaptado al formato más común del vídeo, con tal de acomodarse a las colecciones museísticas y a exposiciones prolongadas; por ejemplo
<i>Shower</i>
(1966), de Robert Whitman, o <i>Berlin Horse</i> (1970), de Malcolm Le Grice. Así
como otras obras, tal como <i>Light Music</i>
(1975) de Liz Rhodes, que originalmente no era otra cosa que una pieza fílmica de proyección dual, se han trocado en instalación para adaptarse a otra clase de espacios. (Eso sí, de manera espléndida y con un mayor lucimiento.)</p>
<p> Y habría que preguntarse aún sobre la ubicación apropiada de cineastas como Chantal Akerman, Chris Marker, Raúl Ruiz, Peter Greenaway, Harun Farocki, Atom Egoyan o Isaac Julien, entre otras concurrencias asiduas desde el gremio del cine (filas del cine moderno, de autor, de ensayo…) a los feudos del cubo blanco, cada vez más infestados de cámaras oscuras, pantallas iluminadas y bucles perpetuos. ¿No se trata también de una expansión contemporánea del cine, aunque desligada del hilo conductor primigenio del cine expandido?</p>
<p> Por último, la obstinación con la metalurgia
(maquinaria), la física (mecánica) y la química (procesamiento) de la cinematografía es aquello que distingue a estas prácticas del
<i>live cinema</i> o el <i>screen art</i>
–ya no digamos de mañas más específicas como el <i>VJing</i> o el <i>video mapping</i>–, que son en esencia prácticas digitales e incluso sucedáneas, propias de una época de mezcolanza en que el arte ya no quiere anclarse según el medio adoptado.</p>
<p>  </p>
<p> <b>Esto no es cinerama</b></p>
<p> Otro de los tópicos que se repiten al tratar del
<i>expanded cinema</i> es el que le confiere una extensión elástica, ilimitada, miscelánea… Al soslayar la delimitación de su práctica, esta se percibe como un campo abierto a toda clase de ampliaciones y transgresiones en relación con el común denominador del cine o, más ampliamente, lo audiovisual. Una indefinición tal no se remonta, no obstante, al iluminador libro de Youngblood, pese al guirigay aparente de las obras y tecnologías que referenciaba: de Brakhage, Warhol, Snow, Belson y la «Odisea 2001» al cine cibernético, el videoarte emergente, las instalaciones y dramaturgias intermedia, con las promesas holográficas en colofón. Pero, para Youngblood, la expansión cinemática era una metáfora antes que el pretexto para fijar un manual o prontuario. Comparativamente puede decirse que poco se ha avanzado en el estudio del tema.</p>
<p> Últimamente ha predominado una perspectiva que denominaría anglocéntrica; donde «anglo» equivale a decir británica, con un mapa suplementario de referencias que no va mucho más allá de la <i>Mitteleuropa</i> germánica. Una perspectiva que distingue dos acepciones bien diversas del concepto de cine expandido. Una, la que se fragua en Norteamérica desde los años sesenta, entregada a una promiscuidad interdisciplinar y multimediática (o viceversa: multidisciplinar e intermediática). La otra, en la senda más atemperada y materialista que predominaría en Europa desde finales de los sesenta y a lo largo de la década posterior. (Esquema que, sin embargo, pasa por alto otras corrientes diversamente tempranas o tardías, discordantes y hedonistas. En Francia, sin ir más lejos, del letrismo a la <i>École du corps</i>.)</p>
<p> Pero, en definitiva, el grueso del cine expandido habría de contemplarse como una tendencia con rasgos tan propios y definidos como los que pueden hallarse en el minimalismo &shy;–no solo en cuanto a las artes visuales se refiere, sino también en la música y el arte sonoro–, el arte conceptual y el cine estructural; tendencias que, por lo demás, le son entre bastante y muy próximas.[[[8]]] Y, en cuanto a fronteras entre mentalidades, la antítesis Europa versus América podía funcionar cuando, del otro lado del Atlántico, las referencias eran las voluptuosidades multimediales de los Vortex Concerts, de Vanderbeek y de USCO (The Company of Us), así como de los happenings, los <i>light shows</i> psicodélicos o, incluso, el <i>Exploding Plastic Inevitable</i> de Warhol con The Velvet Underground. No obstante, después de tales hitos, las creaciones expansivas de Ken Jacobs, Carolee Schneemann, Paul Sharits, Tony Conrad, Morgan Fisher, Bill Lundberg, William Childress o James Carpenter[[[9]]] se hallarían más próximas del rigor intelectual que se han atribuido algunos de sus colegas en las islas británicas y el continente europeo.</p>
<p> Superada esta controversia, el análisis de las expansiones cinematográficas puede pasar a la taxonomía de sus manifestaciones. Sin pretender un análisis minucioso, a fin de esbozar el recorrido de un «museo imaginario», distinguiré cuatro sendas principales referidas a: (1) la multiplicación de las fuentes de proyección; (2) el acento en el acto performativo; (3) los dispositivos de instalación o exposición del cine; (4) la disección de la maquinaria cinemática y la concepción de nuevos artefactos.
Áreas a las que podría superponerse un quinto aspecto al que se ha prestado atención creciente, relativo a un concepto de <i>paracinema</i> que prescinde de algunos o de la totalidad de los componentes del instrumental cinematográfico, en persecución de su raíz conceptual, molecular o atómica; hasta llegar a un cine inmaterial, ilimitado, total… o todavía por llegar.</p>
<p> <b>[1] Multiproyección</b>
– Ideas sobre el formato (fotograma, ventanilla, pantalla) como límite y barrera para el potencial del cine, dieron paso tempranamente a las proyecciones múltiples. En la Exposición Universal de París de 1900, el <i>Photorama</i> de los Lumière o el accidentado <i>Cinéorama-Ballon</i> de Grimoin-Sanson remedaban, con rodeos de 360 grados e imágenes de naturaleza fotográfica, a los panoramas decimonónicos. En la década de 1920, el <i>policinema o cine simultáneo</i> imaginado por László Moholy-Nagy y la <i>polivisión</i> que Abel Gance ha llevado a la práctica plantean otras relaciones
–más allá de una continuidad visual entre las pantallas– en la proyección triplicada que ambas propuestas pretenden; referencias a las que hay que sumar el <i>Raumlichtkunst</i>
(arte de luz y espacio) de Oskar Fischinger, objeto de devotas recreaciones recientes.</p>
<p> Y, como ya quedó dicho, en el ecuador del siglo XX han proliferado las creaciones de proyecciones múltiples, con brillantes aportaciones de Charles y Ray Eames, de Vanderbeek con sus
<i>cinemurales</i>, y con el mayor éxito de Andy Warhol como indolente cineasta: <i>Chelsea Girls</i> (1966), donde las bobinas se combinaban originalmente al azar o, mejor dicho, a elección del proyeccionista en cuanto al orden de su proyección y su distribución en un proyector u otro.</p>
<p> Algunos formatos de multiproyección han adquirido una normalización relativa, en particular las obras para dos pantallas gemelas (<i>twin screen</i>)
y en un mismo plano. Malcolm Le Grice, que desde 1967 trabajó
regularmente con dos y más proyectores, lo atribuye a un motivo tan simple como que las cabinas de proyección estuvieran habitualmente provistas de dos proyectores en batería (para efectuar, sin interrupción aparente, los cambios de una bobina a otra). Discípulos y colegas de Le Grice en la London Filmmakers Co-operative, se le han unido luego en una tarea de exploración rigurosa del aparato cinematográfico. Tarea que muchas veces comportaba combinatorias de proyecciones múltiples (de tres hasta seis o más), con disposiciones diversas en cuanto a los planos de proyección: ya sea sobre una superficie continua y única o, al contrario, sobre pantallas enfrentadas, en acordeón, volumétricas, etc. William Raban, Chris Welsby, Lis Rhodes, Gill Eatherley, Ron Haselden, Jane Rigby o Nicky Hamlyn, entre el grupo británico, hicieron obras muy celebradas en este aspecto (objeto de reposiciones recientes, algunas de ellas).</p>
<p> Le Grice ha señalado asimismo la índole
<i>comparativa</i> de muchas de estas obras de proyecciones dobles (emparejadas) o múltiples que, entre los artistas-cineastas nombrados, tenía mucho que ver a su vez con las variaciones obtenidas, por técnicas de impresión óptica, con la maquinaria de laboratorio que el mismo Le Grice amañó en la primera sede de la London Film Coop. Esta propensión comparativa es común, por otro lado, a muchas obras de proyección desdoblada. Desde algunas piezas de Robert Morris y de Dan Graham a la duplicidad convenida y locuaz de <i>Triage</i>
(2004), obra a dúo de Carl Brown y Michael Snow; pasando por el quehacer, entre riguroso y anáquico, de Wilhelm y Birgit Hein con sus <i>Doppelprojektionen</i>
(1971-1975).</p>
<p> Con un empuje más visceral que formal, en el mapa británico hay que resaltar asimismo los aportes personalísimos de los ya fallecidos Jeff Keen y Derek Jarman, y su influencia en la generación-veleta de los <i>New Romantics</i>
(John Maybury, Cerith Wyn-Evans, Holly Warburton…) y en otras jóvenes promesas, cuyos retozos con lo «multi» –multiproyección, multimedia, multidisciplinar– se extendieron a lo performativo y en conciertos audiovisuales con proyecciones a porrillo y la música en vivo. Un factor determinante, para esta nueva generación de encantadores de la imagen, ha sido la caducidad precipitada de ciertas tecnologías –tales como los equipos de formato super-8, así como del diaporama y la multivisión– que repentinamente, en el trance de su desaparición, devinieron muy asequibles a la par que seductoras para determinadas sensibilidades.</p>
<p> Sin embargo, en la misma década de los setenta y en los primeros ochenta, cuando se produjo una eclosión tal del cine multiplicado, el vídeo multicanal iba tomando el relevo para este tipo de exploraciones; por aquel entonces, con las imágenes todavía confinadas en monitores y con los proyectores de vídeo asomando apenas sus cañones. En cualquier caso, la multiproyección pervive en el cine expandido actual como ingrediente común de muchas performances e instalaciones, y en su prolongación en las direcciones que siguen a continuación. 
</p>
<p> <b>[2] Acción/performance</b>
– El cine, desde su era primitiva, lleva en sus genes un componente de acción «en vivo». Sin retroceder tan lejos, el sesgo performativo al que conviene referirse ahora va aparejado con unos brotes iconoclastas y neodadaístas en la segunda mitad del siglo XX.
En el marco del letrismo, Maurice Lemaître quiso superar la <i>mise en scène</i> del cine por el de una <i>séance</i> al completo: la sesión que enmarca la proyección en un rito social y un espectáculo masivo. <i>Le Film est déjà commencé?</i> (1951) es una obra deliberadamente híbrida, tal como ha señalado el propio Lemaître, ya que la aspiración de un cine nuevo se halla contaminada por la teatralidad que pretende transformar la sesión cinematográfica en un acontecimiento supremo.</p>
<p> Fluxus se prodigó especialmente en el arte de acción y unas cuantas de sus notaciones, instrucciones, partituras y máximas-mínimas se refieren explícitamente al cine. Unas veces en el terreno del cine imaginario –<i>infinitesimal</i> dirían los letristas–, tal como sucede con los guiones-instrucciones de Yoko Ono. (Por ejemplo este: «Pedir al público que observe la pantalla hasta que ennegrezca.») Otras veces como una operación de vaciado del cine, que se consuma mediante una negación implícita de la imagen y con la pantalla en blanco o mutilada: <i>Zen for Film</i>
(1962) de Nam June Paik, <i>Film &amp; Film #4</i> (1966) de Takehisa Kosugi.</p>
<p> Tal como ya se sugirió anteriormente, el
<i>Erweitertes Kino</i> austriaco de los años 1967-1968 no iba muy a la zaga de las naderías deliberadas de Fluxus, ya que, a menudo, ni empleaba la película pues, como cineastas en ciernes y sin recursos que eran, a veces ni siquiera tenían acceso a una cámara. Si, con <i>Nivea</i>, Peter Weibel parodiaba la infralevedad del filmet publicitario, VALIE EXPORT ejecutó, con <i>Tapp und Tast Kino</i>, una de las acciones más célebres del paracinema, cuyo doble y acerado sarcasmo concierne tanto a las ambiciones de un cine total, táctil y 3D, como al culto al busto femenino, en su época representado por la prominencia de las <i>maggiorate</i> italianas. Acciones para la sala de cine tradicional, Hans Scheugl ha proyectado un carrete de hilo (<i>zzz: hamburg special</i>) y Ernst Schmidt jr, imágenes de cortinas que se abren y se cierran sobre el proscenio y las cortinas mismas que ocultan y desvelan la pantalla. (¡Un film con película!, probablemente un bucle.) De nuevo Weibel para terminar: en la acción <i>Exit</i>, la pantalla fue reemplazada por una superficie de papel de aluminio y, desde detrás de la misma, se arrojaban cohetes y petardos sobre el público despavorido.</p>
<p> La obra de Carolee Schneemann se halla más cerca del happening y de una teatralidad visual, siendo ella generalmente la principal y a menudo desnuda intérprete. Es una práctica intermedial y de celebración del cuerpo que, entre otros recursos, acude a las proyecciones cinematográficas y de diapositivas, así
como al vídeo y el dispositivo de circuito cerrado, en performances como <i>Snows</i>
(1967), <i>Illinois Central</i>
(1968) y <i>Up To And Including Her Limits</i>
(1974-1977). También cabe situar en los alrededores de happenings y environments la actividad del Eventstructure Research Group
(1969-1979) –del que formó parte Jeffrey Shaw, hoy conocido por sus alardes digitales y totalistas (interactivos, estreoscópicos, envolventes)–, colectivo que  se aventuró tempranamente en eventos participativos de multiproyección sobre humo, en el interior y exterior de estructuras neumáticas, en espacios abiertos, etc.</p>
<p> Las proyecciones sobre el cuerpo han sido abundantes; por ejemplo <i>Operation</i>
(1967), de Werner Nekes, donde una operación quirúrgica a corazón abierto se proyecta sobre el pecho de un individuo elegido entre el público. La dramaturgia de las sombras fue un aspecto recurrente en las acciones del grupo Filmaktion, con Malcolm Le Grice como aglutinante, o en una pieza tan sencilla, a la par que deslumbrante, como <i>Point Source</i>
(1973) de Tony Hill. En esta el proyector no es otra cosa que una lámpara suficientemente potente como para desbordar por todo el recinto las sombras de una serie de objetos que la envuelven, entre los cuales uno tan británico como un infusor de té. Desde 1965, Ken Jacobs ha trabajado también en espectáculos de teatro de sombras, en combinación con efectos 3D en las performances de su <i>Apparition Theater of New York</i> (hacia 1973-1974).
Insatisfecho con la cualidad efímera de estos espectáculos, Jacobs se entregó después, desde 1975 y durante más de veinte años, a las <i>Nervous System Performances</i>, en las que utilizaba dos proyectores analíticos (capaces de proyectar a cualquier velocidad) y copias duplicadas de películas encontradas y atesoradas por él mismo –en particular filmaciones anónimas del periodo primitivo–, persiguiendo efectos estereoscópicos basados en el efecto Pulfrich. Y otro tipo de tridimensionalidad ilusoria es la conseguida por Anthony McCall con
<i>Line Describing a Cone</i>
(1973) y demás «films cónicos», obras que en su depurado rigor estimulan la participación lúdica del público.</p>
<p> David Dye, Guy Sherwin y Giovanni Martedi han hecho un uso brillante de los espejos, entre otras interacciones de la acción en vivo con proyecciones unitarias o múltiples. Dye, en
<i>Western Reversal</i>
(1973-1976), emplea un mosaico de pequeños espejos rectangulares, montados sobre brazos articulados, como los retrovisores de los coches, para desintegrar reticularmente una película de indios y vaqueros hasta que los diversos fragmentos convergen en un único haz de luz reflejada, ya sin ninguna reminiscencia icónica. Sherwin, en una de sus performances más celebradas, <i>Man with Mirror</i> (1976), crea una interactuación precisa –más por entrenamiento que por una notación estricta– entre las imágenes narcisistas y autorreflexivas que proyecta y la acción/relación que entabla con las mismas de manera recíproca. Martedi, hacia 1978 y en sucesivas ejecuciones de sus piezas de cine sin cámara, «pobre»,
«inexistente» –entiéndase que de manera física y cerrada, ya que las piezas seriadas con la sigla <i>MD</i>
(por <i>Matérialisme dialectique</i>)
se crean en el acto mismo de la proyección de películas determinadas o indiferentes–, ha acoplado un espejo semiesférico al cabezal de una taladradora, para salpicar al público con los destellos en los que estalla la imagen pulverizada. El parentesco del espejo con el cine expandido –más allá del teorizado para el cine en sí– se extiende a otras obras de VALIE EXPORT (<i>Abstract Film No. 1</i>, 1967-1968; <i>Splitscreen-Solipsismus</i>, 1968), Dan Graham (<i>Body Press</i>, 1970-1972), Józef Robakowski (en la versión performativa de su <i>Test I</i>, 1971), Al Wong (<i>Moon Light</i>, 1984), Karen Mizra/Brad Butler
(<i>The Glass Stare</i>, 2005-2006)… por no alejarnos hasta las expansiones especulares propias del vídeo.</p>
<p> En 1973, William Raban ha hecho de algunas de sus acciones, inteligentes y elegantes manifestaciones de la tautología: <i>Take Measure</i> no es otra cosa que una medición proyectada de la distancia entre el proyector y la pantalla. <i>2’ 45”</i> es otra pieza –bien al contrario, compleja– que se ejecuta en sucesivas jornadas y se modifica con cada una de ellas: parafraseando al propio autor, es un registro del proceso de su propia realización, y recientemente ha sido objeto de una nueva versión en 35 mm (ahora titulada <i>4’ 22”</i>).
Las performances cinematográficas de Jürgen Reble y de Christian Lebrat están más cerca de la alquimia y de las técnicas del film directo (sin empleo de la cámara), al manipular en el acto mismo de su proyección películas, impresionadas o transparentes, con pigmentos y diluciones químicas. En contrapunto un tanto jocoso, Tony Conrad «cocina», desde 1973, películas de diversas emulsiones que, una vez preparadas según diversas técnicas y recetas, preferentemente exóticas &shy;–al curry, en sukiyaki, a la criolla, en adobo–, son después proyectadas (arrojadas) a la pantalla iluminada por un proyector desnutrido.</p>
<p> Para algunas artistas británicas, vinculadas a la London Film-Maker’s Co-op, la acción cine o paracinematográfica ha sido un aspecto central en su quehacer. En la literatura sobre el cine expandido, una de las performances más referenciadas es <i>Reel Time</i> (1973), de Annabel Nicolson; una entre otras varias alianzas de la maquinaria del cine con la máquina de coser. Aquí doblemente implicada esta última, tanto en el bucle de película proyectado –un plano, de una longitud considerable, de la autora cosiendo– como en la destrucción de la imagen y su soporte, a medida que la película es repetidamente perforada a su paso por la Singer; de manera que el bucle deviene, entre el estrépito de los ruidos sumados de ambas máquinas, un ametrallamiento de ráfagas de luz y, finalmente, un desperdicio improyectable. Marilyn Halford, por su parte, concibió sus films y acciones fílmicas como esparcimientos a compartir con el público, basados en la interacción entre la imagen proyectada y la acción en vivo y superpuesta, y que recrean juegos infantiles (<i>Hand Knees and Boomsa-Daisy</i>, 1975) o que presentan repetidos y jocosos ensayos para una escena ficticia, que los mismos intérpretes han de ejecutar en vivo y sobre las imágenes proyectadas (<i>Six Rehearsals</i>, 1976).</p>
<p> Como las obras y diabluras recién comentadas de Conrad, Nicolson y Halford, las últimas creaciones de Wilhelm y Birgit Hein como pareja constituyeron una reacción a las rigideces que había propiciado el cine estructural-materialista de los setenta y sus prolongaciones expandidas, aunque sobradamente lúdicas en muchos casos. En performances como <i>Verdammt in alle Ewigkeit</i> (De aquí a la eternidad,,1978-1979) o <i>Superman and Wonderwoman</i> (1980-1982), los Hein procedieron al reciclaje de sus <i>Strukturelle Studien</i> y <i>Materialfilme</i> de los años setenta, con intromisiones actuadas de escenas alusivas a la cultura popular del cine consumista.</p>
<p> Actualmente, las facetas performática e instalativa son las más evidentes entre el cine expandido redivivo y muchas de las obras mencionadas no solamente son un referente, sino que han sido ejecutadas de nuevo en diversas ocasiones.</p>
<p> <b>[3] Instalación</b>
– Aunque muchas obras y experiencias de cine expandido han sido concebidas para el recinto habitual de una sala de proyección acondicionada típicamente, otras exigencias y circunstancias han trasladado y aumentado sus ámbitos a los espacios de planetarios y otras arquitecturas más o menos singulares, estructuras neumáticas hinchables, espacios urbanos (y suburbanos)… y, por descontado, a los espacios de exposición de las artes visuales. No tanto a los galerístico-museísticos como, en origen, a unos espacios alternativos: recintos a menudo destartalados o adecentados mínimamente, recuperados de un pasado industrial por colectivos o asociaciones sin ánimo lucrativo.</p>
<p> En este sentido, es muy apropiado que uno de los primeros referentes a mencionar ahora sea el de los <i>fluxfilms</i>, alentados por George Maciunas, quien acarició la idea –solo realizada póstumamente– de proyectarlos en forma de bucles de revestimiento mural (<i>film wallpaper</i>)
en exposiciones del grupo Fluxus. Esta concepción del bucle o proyección continuada de una longitud de película mayor o menor es fundamental para la instalación fílmica propiamente dicha. Aunque no la única, ya que algunas instalaciones son de naturaleza <i>para-</i> o <i>pseudo</i>cinematográfica.
Algunos artistas de filiación letrista, entre los cuales Roland Sabatier, han realizado escenografías o distribuciones de objetos donde, tal como sugiere una obra del recién mentado, «<i>le film (n’)est (plus qu’)un souvenir</i>»
(1975). De otra manera, los <i>Yellow Movies</i> de Tony Conrad, fechados en 1972-1975 y que sigue exponiendo en la actualidad, no son otra cosa que falsos lienzos-pantalla untados de pintura de calidad mediocre, que amarillean progresivamente según corre el tiempo y siguen expuestos a la luz.</p>
<p> Marcel Broodthaers es otro artista cercano al neodadaísmo de Fluxus y los letristas, que contribuyó decisivamente a derrumbar la cuarta pared del cine, además de anticipar el concepto y las maneras del «cine expuesto (<i>accroché</i>)».
La <i>Section Cinéma</i>
(1971-1972) de su Musée d’Art Moderne-Département des Aigles es un conjunto de piezas que compendia su pasión por el cine y, simultáneamente, la irrisión del mismo. Más cerca de la nebulosa conceptual que comenzaba a perfilarse a finales de los sesenta, David Lamelas se ha entregado en sus instalaciones y piezas de proyección a una refutación del tiempo, el movimiento, la secuencialidad, el espacio y la matriz institucional del contexto expositivo.</p>
<p> El malogrado Paul Sharits realizó en los años setenta algunas instalaciones extraordinarias, que denominó
<i>locational pieces</i>, expandiendo en el espacio su dedicación al «drama supremo» del material fílmico (sus fotogramas, perforaciones, erosiones, etc).
Takahiko Iimura realizó otras instalaciones que también eran una exposición del dispositivo y el medio en sí, partiendo de unos elementos básicos y binarios: películas transparentes y opacas, a veces con incisiones verticales u otras manipulaciones elementales; bucles de película atravesados en el espacio y con una presencia siempre ostensible de la maquinaria. Michael Snow, con <i>Two Sides to Every Story</i> (1974) hizo una pieza de simetría engañosa, con sendas proyecciones en plano y contraplano, inabordables de un solo vistazo al distribuirse a un lado y a otro de una pantalla de aluminio suspendida en mitad del espacio.</p>
<p> Más hechizantes, aunque igualmente rigurosas, las instalaciones de Bill Lundberg constan de proyecciones unitarias o múltiples sobre muebles, objetos o figuras recortadas, que representan situaciones cotidianas o incluso próximas a lo que se entiende por comedia de situación o <i>sit-com</i>.
Instalación paracinematográfica en un espacio público, el
<i>Masstransiscope</i>
(1980) de Bill Brand se halla en una estación abandonada en la red del transporte suburbano de Nueva York, pero es visible cuando la atraviesan los trenes, tras haber sido restaurada recientemente e incorporada a la colección de la MTA (empresa pública del transporte metropolitano neoyorquino). Tras sus conos de luz proyectada, Anthony McCall emprendió otros proyectos de evolución más lenta y con tiempos crecientemente dilatados, hasta alcanzar un extremo <i>para-</i> y <i>pos</i>cinematográfico con <i>Long Film for Ambient Light</i>
(1975, con una duración virtual de 24 horas)&shy;&shy;. Y para regresar, cerca de veinte años después, a una práctica renovada de lo que ahora denomina <i>Solid-Light Works</i>, donde el soporte y la maquinaria del cine han sido reemplazados por un instrumental digital y tan inmaterial como las ondulaciones lumínicas, las fantasmagorías geométricas que McCall moldea en estas nuevas instalaciones.  </p>
<p> Fuera del eje mayor  del cine expandido norteamericano, británico y germánico –el mejor documentado, divulgado y expuesto–, cabe hacer una referencia más amplia al
<i>cinéma élargi</i> en Francia, con una solera propia en las experiencias de polivisión de Gance, Kaplan y Jean Mitry, en la dedicación cinematográfica de los letristas y entre la actividad de otros artistas como Jean-Jacques Lebel, Ben Vautier, Robert Filliou, Christian Boltanski y Bertrand Gadenne. En los años setenta y después, la actividad expansiva estuvo primero vinculada al grupo de la Paris Films Coop, también conocido como «generación Melba» –en referencia a una revista del mismo nombre–, con Guy Fihman y Claudine Eizykman y sus experimentos estereoscópicos y de cine holográfico; el ya mencionado Giovanni Martedi; Pedro de Andrade con su <i>Film saboté</i> («Película saboteada», 1975)
a exhibir y discutir como objeto inproyectable; a los que seguidamente se sumaron Pierre Rovere, Christian Lebrat, Jean-Michel Bouhours, Yann Beauvais y Rose Lowder. Y, en una segunda etapa, es notable la actividad cercana a la asociación Light Cone, una escisión de la cooperativa anterior con una mayor apertura de miras en sus labores fundamentales de distribución, salvaguarda y difusión del cine experimental, al congregar también a otros grupos del hexágono galo. Entre ellos la <i>École du Corps</i> (Stéphane Marti, Lionel Soukaz, Jacques Haubois «Jakobois», etc.), y, dentro de la misma, el <i>cinéma corporel</i> de Maria Klonaris y Katerina Thomadaki con sus numerosas creaciones de proyecciones múltiples, performances, instalaciones y medios mixtos. A destacar, por último, las manifestaciones impulsadas por Yann Beauvais (uno de los fundadores de Light Cone) en la primera mitad de los noventa, en torno al «film como instalación» &shy;–lema común de las muestras <i>DéFilé: De Film: DéCadré</i>
(1993) y <i>DéFilé: De Film: ReCadré</i>
(1995)– y, más recientemente, las veladas Scratch Expanded que Light Cone organiza anualmente desde 2006.  </p>
<p> <b>[4] Maquinaria</b> –
La concepción de máquinas solteras (sin esponsales con el cinematógrafo triunfante) y de artilugios de cuño propio para la creación de experiencias, espectáculos, pasatiempos ópticos y audiovisuales, va unida tanto con el pretérito precinematográfico como con otras manifestaciones artísticas o recreativas en pos de unas metas cinemáticas y sinestésicas. Por la senda de una <i>música visual</i>, por ejemplo. Sin necesidad de sumergirse y bucear en insondables profundidades –sin embargo bien estudiadas actualmente–, bastará con remitirse a los nombres de Alexander László, Oskar Fischinger, Kurt Schwerdtfeger, Ludwig Hirschfeld-Mack, Thomas Wilfred, Charles Dockum, Nicholas Schöffer y John Whitney, que a su vez son parte de otras subhistorias del arte cinético, lumínico, tecnológico, cibernético, etc.</p>
<p> Más cerca de nuestro tiempo, cabe referirse a la
<i>Dreamachine</i> de Brion Gysin (hoy convertida virtualmente en un chisme del tipo hágaselo-usted-mismo) o al complejo de las técnicas PLAT y las concepciones «todosensoriales» que concibió el iluminado José Val del Omar. Roman Kroitor, por otra parte, concibió el mosaico multipantalla del <i>Labyrinthe</i> en la Expo 67 de Montreal, y fue sucesivamente uno de los progenitores del sistema IMAX y derivados.</p>
<p> En un marco completamente distinto, el concienzudo trabajo de Edmund Kuppel engrasa los goznes entre las imágenes estáticas y las cinemáticas, y reelabora unos fundamentos ópticos, férreos y psicofísicos asociados con nuestra percepción visual y con un arte de la memoria. La metalurgia rotunda y estrepitosa de <i>The Machine</i>, de Steve Farrer, es de otra clase pero afín con algunas obras de Kuppel por su acercamiento común a una omnivisión de 360 grados, si bien contradicha por su aprehensión fugaz, rotatoria y ensimismada mediante la onanista mecánica de los mecanismos o dispositivos que han ingeniado ambos artistas. Otras prácticas nos llevarían asimismo hacia ese lugar, por nombrar todavía, de diversas expansiones pre-, pos- y transcinematográficas basadas en artefactos de fabricación o bricolaje propio. Por ejemplo Joost Rekveld, que en sus obras escultórico-cinéticas <i>#13 </i>(1986), <i>#13.2</i>
(1997) y <i>#17</i>
(1998) emplea dispositivos o réplicas libres y a gran tamaño del disco de Nipkow –de 1874, uno de los fundamentos de la primera televisión– y del anortoscopio de Joseph Plateau (de 1828). O el trabajo más reciente de Ken Jacobs, basado este en la manipulación
–en vivo y en directo– de proyectores sin soporte de imagen de ningún tipo.</p>
<p> La maquinaria pesada del formato de 35 mm –en otro tiempo el estándar industrial del cine– se impone y atrona en algunas instalaciones singulares. <i>Rheinmetall
/ Victoria 8</i> (2003), de Rodney Graham, confronta las tecnologías declinantes que dan nombre a la obra: un proyector de fabricación italiana (Victoria 8), en su momento considerado el Rolls Royce de la proyección cinematográfica, y la secuencia que este dispara de una máquina de escribir (Rheinmetall)
y sus entrañas, sobre la cual cae una lluvia de harina que semeja una nevada. En otro himeneo a lo Lautréamont, <i>Did I Love a Dream?</i> (2009) de Christine Davis, se da el encuentro nada fortuito entre la mesa de una vieja máquina de coser y un proyector de 35 mm al que soporta, para lanzar la imagen de una danza serpentina, de ejecución actual pero como evocación decimonónica, sobre una malla cobreada que le otorga un color sepia nostálgico. Mientras que, en <i>Wilhelm Noack oHG</i>
(2006), de Simon Starling, el peculiar dispositivo de proyección constituye una máquina célibe con un bucle autorreferencial que discurre entre los extremos y meandros de una estructura helicoidal basada en un histórico diseño del arquitecto Carlo Mollino; autorreferencialidad sin embargo aparente, puesto que la obra remite también a la relación entre arquitectura, industria y sociedad antes y después de la Segunda Guerra Mundial.</p>
<p> Otros artistas han transitado de los límites analógicos a los extralímites digitales y, circunstancialmente, de vuelta a la proyección peliculosa. Es el caso de Thierry Kuntzel, también estimado por sus escritos teóricos sobre <i>le défilement</i> y otros fundamentos cinemáticos, con su instalación póstuma, <i>La peau</i> (2007), en la cual acudió al proyector PhotoMobile, de Gérard Harlay y su empresa DIAP, para reproducir un fotograma único de 70 mm –hecho de imágenes fijas, macrofotográficas, «cosidas» digitalmente–, estirado en horizontal y en el tiempo como un bucle perpetuo. En el terreno ya de lo híbrido, <i>Escape</i>
(2012) de Laurent Mignonneau y Christa Sommerer –más conocidos por otros despliegues rotundamente electrónicos y de recreación científica–, es una pieza interactiva y efectiva que acopla la manivela de un viejo proyector de cine de 8 mm modificado, con unos componentes inmateriales de programación y animación digital que remiten a <i>La metamorfosis</i> de Kafka.  </p>
<p>  </p>
<p> <b>The End (o Sin Fin)</b></p>
<p> En las historias del cine, la rivalidad advenediza de la televisión en los años cincuenta suele servir de justificación para la implantación de los formatos cinematográficos de pantalla (crecientemente) ancha, así como para el auge de otros sistemas de espectacularidad superior. En 1952 el mundo asistió a la presentación del Cinerama, consistente en tres proyecciones sincronizadas que formaban una imagen continua –si bien con costurones visibles– sobre una pantalla de hasta 600 m[2] y con un arco de pantalla de 146 grados. El público de la época podía sentir el vértigo de un recorrido en montaña rusa o, diez años después, la zozobra de un descenso en canoa por aguas bravas.
Las náuseas estaban muy logradas.</p>
<p> La irrupción del cine expandido es otra historia. Una subhistoria que se desarrolla al mismo tiempo que empieza a escribirse otra, en la encrucijada transtecnológica del vídeo y los metamedios digitales que le fueron ganando terreno. El cine y su sombra –aquello que, sin llegar a serlo, lo pretende o lo rebasa– han afrontado entonces la experiencia de sus límites. Y ha sido preciso bordear su muerte para que renazca de nuevo. Ni que sea como otra cosa.</p>
<p> Quizá se trate de «<i>un autre cinéma</i>», según ha razonado Raymond Bellour; expresión que ha de aquilatarse en relación a la curiosidad de un teórico e investigador del cine y de la literatura, intrigado por los <i>pasajes de la imagen</i>, las <i>entreimágenes</i> y la <i>querella de los dispositivos</i>, ya que los «otros cines» son y siempre han sido múltiplos y no primos. Otredad que también ha recibido el epíteto de <i>cine terciario</i> o <i>tercer cine</i>; expresión un tanto desafortunada, esta última, al  pisarle los talones a otra previamente acuñada para referirse al precepto combativo de un cine tercermundista. O la paráfrasis de «<i>an othered cinema</i>», sugerida por Erika Balsom en una sustanciosa obra de síntesis. Y, por último, está el dicho sentencioso de Alexander Horwath: «el lugar del cine será el museo», y su eco polifónico en otras voces. Porque las salas de cine que aún conocemos, a la italiana y en penumbra, serán (o ya lo son) un lugar de consumo de chucherías y de chispeantes refrescos, y
ámbito de otros jolgorios que los de una cultura cinéfila/cinéfaga.
Y porque el museo y sus manifestaciones epígonas y alternas, han de rebajar todavía un escalón en la connotación arrogante y elitista que mantienen. Pero ese es otro debate.[[[10]]]</p> <div id="sdfootnote1">
	<p>[1]
	Gene Youngblood: <i>Expanded
	Cinema</i>. Nueva York: EP Dutton /
	Londres: Studio Vista, 1970. En PDF puede descargarse libremente de
	las siguientes fuentes: 
	</p>
<p><u>[http://www.vasulka.org/Kitchen/PDF_ExpandedCinema/ExpandedCinema.html]</u></p>
<p><u>[http://www.ubu.com/historical/youngblood/index.html]</u></p>
<p>Para
	la edición en español, la referencia es: Gene Youngblood: <i>Cine
	expandido</i>. Buenos Aires:
	EDUNTREF-Editorial de la Universidad
	Nacional de Tres de Febrero, 2012. Con una introducción de Emilio
	Bernini y traducción de María Ester Torrado.</p>
<p>
	</p>  <div id="sdfootnote2">
	<p>[2]
	Nombre artístico de Waltraud Lehner, que
	siempre debería escribirse en mayúsculas, según la intención
	original de la artista de adoptar uno que evocara las ideas de marca
	y logo, a propósito de una popular confección de la tabacalera
	austriaca.</p>
<p>
	</p>  <div id="sdfootnote3">
	<p>[3]
	Por gentileza del mismo autor, una edición
	de bolsillo de <i>An Introduction to the
	American Underground Film</i>, puede
	descargarse en diversos formatos en el siguiente enlace:
	<u>[https://archive.org/details/introductiontoam00rena]</u></p>
<p>
	</p>  <div id="sdfootnote4">
	<p>[4]
	VALIE EXPORT: «Expanded Cinema as
	Expanded Reality», en la revista en línea <i>Senses
	of Cinema</i>, núm. 28 (octubre 2003).
	<u>[http://sensesofcinema.com/2003/28/expanded_cinema/]</u></p>
<p>Este
	texto, ligeramente aumentado, ha sido recogido después en David
	Curtis / A.L. Rees / Duncan White / Steven Ball (ed.): <i>Expanded
	Cinema: Art, Performance, Film</i>.
	Londres: Tate Publishing, 2011, pp. 288-298.</p>
<p>
	</p>  <div id="sdfootnote5">
	<p>[5]
	Al respecto, Nicky Hamlyn ha esbozado un reproche a la levedad de
	algunas expansiones hodiernas, al señalar que «muchas obras
	recientes basadas en la proyección han tenido una índole
	decorativa o fetichista en su exploración del medio fílmico».
	«Mutable Screens: The Expanded Films of Guy Sherwin, Lis Rhodes,
	Steve Farrer and Nicky Hamlyn», en <i>Expanded
	Cinema: Art, Performance, Film</i>, op.
	cit., pp. 212-220. 
	</p>  <div id="sdfootnote6">
	<p>[6]
	<i>Expanded Cinema: Art, Performance,
	Film</i>, op. cit. Véase también:
	<u>[http://www.rewind.ac.uk/expanded/Narrative/Home.html]</u></p>
<p>
	</p>  <div id="sdfootnote7">
	<p>[7]
	Estos últimos con sus <i>re-enactments</i>,
	recreaciones de algunas piezas extremas en el canon del cine
	expandido, tomadas como partituras a ejecutar de nuevo. Véase:
	<u>[http://www.teachingandlearningcinema.org/expanded-cinema-re-enactments/]</u></p>  <div id="sdfootnote8">
	<p>[8]
	En conversación con Leandro Katz, este me señaló que las
	exposiciones que comisarió en los años 1980 y 1983 con el título
	<i>Film as Installation</i> (ambas en The Clocktower, un espacio
	artístico alternativo en Nueva York), fueron un intento de
	aglutinar y promover a un grupo de artistas que se sentían atraídos
	por lo audiovisual en expansión. Dichas exposiciones constaban de
	proyectos, dibujos, fotografías y maquetas, más que de
	instalaciones propiamente dichas. Entre los participantes se hallan
	los nombres de William Anastasi, James Benning, Terry Berkowitz,
	Dara Birnbaum, Benni Efrat, Morgan Fisher, Barry Gerson, Jack
	Goldstein, Takahiko Iimura, John Knecht, David Lamelas, Bill
	Lundberg, Anthony McCall, Carolee Schneemann, Paul Sharits, Anita
	Thacher, Francesc Torres, Regina Vater y Roger Welch, además del
	propio Leandro Katz.</p>
<p>
	</p>  <div id="sdfootnote9">
	<p>[9]
	Lundberg, Childress y Carpenter, junto con Leandro Katz y Janet
	Rifkin, formaron parte de <i>Structure</i>, una exposición
	colectiva de esculturas e instalaciones audiovisuales, series o
	secuencias fotográficas y obras mixtas, que tuvo cierta repercusión
	en su momento (John Gibson Gallery, Nueva York, marzo-abril 1978).
	Es un antecedente señero de otras inscripciones «cinexpansivas»
	en el marco galerístico-museístico de nuestros días.</p>  <div id="sdfootnote10">
	<p>[10]
	Algunas referencias condensadas en este desenlace son las
	siguientes. Raymond Bellour / Catherine David / Christine van Assche
	(ed.): <i>Passages de l’image</i>. París: Musée national d’art
	moderne-Centre Georges Pompidou, 1990 [cat. exp.]. Raymond Bellour:
	<i>L’Entre-images. Photo, cinéma, vidéo</i>. París: La
	Différence, 1990; <i>L’Entre-images 2. Mots, Images</i>. París:
	P.O.L., 1999; <i>La Querelle des dispositifs. Cinéma –
	installation, expositions</i>. París: P.O.L., 2012. Chris Dercon:
	«Gleaning the Future from the Gallery Floor»,
	en <i>Vertigo</i>,
	vol. 2, núm. 2, primavera 2002 (en referencia al concepto de «cine
	terciario»,  que Mark Lewis habría
	introducido en conversación con Dercon, entre otras cuestiones
	relativas a la prominencia de la imagen en movimiento en los
	espacios del arte). Erika Balsom: <i>Exhibiting Cinema in
	Contemporary Art</i>. Amsterdam: Amsterdam University Press, 2013.
	Alexander Horwath: «Dear Tacita…», en
	<i>Tacita Dean: FILM</i>. Londres: Tate Publishing, 2011 [cat.
	exp.].</p>  </body> </html>