  <p> <b>&quot;LA IMATGE MÒBIL ESTÀ
CANVIANT&quot;</b></p>
<p> <b>Una entrevista amb John G.
Hanhardt</b></p>
<p>  </p>
<p>  </p>
<p> John Hanhardt és, des del 1974, curador, i actualment cap, del Departament de Cinema i Vídeo del Whitney Museum of American Art de Nova York. Abans —i després de cursar estudis al Departament d'Estudis Cinematogràfics de la Universitat de Nova York— havia endegat la seva trajectòria professional en els departaments dedicats al cinema de dos altres importants museus estadounidencs: el Museu d'Art Modern (MOMA) de Nova York i el Walker Art Center de Minneapolis.</p>
<p>  </p>
<p> Hanhardt és a la vegada autor de nombrosos escrits crítics i teòrics, sovint com a comentari o aguda introducció als programes i mostres de que ha tingut cura.
Així mateix, ha donat conferències i curssos a diferents centres universitaris i institucions culturals.</p>
<p>  </p>
<p> Al Museu Whitney, el departament que dirigeix Hanhardt desenvolupa una programació
periòdica de cinema i vídeo independent nord-americà, modèlica en quan a organització i permanència. Biennalment, la producció
audiovisual independent forma també part de la Whitney Biennial Exhibition, una exposició que revisa l'actualitat artística dels EUA. Els programes de cinema i vídeo seleccionats per a la Biennal circulen després per altres centres de Nord-amèrica i d'arreu del món.</p>
<p>  </p>
<p> Hanhardt ha organitzat així mateix mostres monogràfiques i retrospectives dedicades a la història del cinema d'avantguarda nord-americà, al vídeo d'artista, a les &quot;formes esclatades&quot; (<i>expanded forms</i>)
del cinema i el vídeo, a l'obra del gran Nam June Paik i, més recentment, als films llegendaris (però escassament vistos) d'Andy Warhol i de Yoko Ono. Tot i que el Whitney es configura així com un dels &quot;santuaris&quot; de les avantguardes audiovisuals a Nova York, també ha dirigit la seva atenció cap els semi-anònims artesans dels dibuixos animats de l'imperi Disney o cap els entranyables tresors de la prehistòria de Hollywood.</p>
<p>  </p>
<p> A Barcelona, l'Institut d'Estudis Nord-americans va prendre ja fa anys el bon costum d'acostar-nos diverses de les mostres esmentades, i així es com Hanhardt ens havia ja visitat en un parell d'ocasions.
Ell coneix també molt de prop el treball d'alguns artistes catalans establerts a Nova York, com Francesc Torres, Muntadas i Eugènia Balcells. Es amb motiu de la darrera instal.lació d'aquesta, <i>Exposure Time</i>, presentada a Barcelona a la Sala d'Exposicions del Carrer Montcada de la Fundació Caixa de Pensions, que em retrobo novament amb John Hanhardt. Una bona ocasió per parlar de diferents temes relatius a les arts audiovisuals.</p>
<p>  </p>
<p> M'interesso de primer en els origens i funcionament del Departament del que és cap, així com en allò que el distingeix d'altres nombrosos museus i centres artístics als Estats Units, que han assignat així mateix un lloc a la creació
audiovisual.</p>
<p>  </p>
<p> El Departament de Film i Vídeo del Museu Whitney va començar en realitat com un departament de cinema, l'any 1970, i és després, el 1975, quan es va eixamplar cap el camp del vídeo. De fet, el vídeo ja havia format part abans de la programació del Whitney —una de les primeres mostres de vídeo havia estat organitzada aquí pel meu predecessor, l'any 1971—, però és a mida que vaig anar descobrint i aprenent més i més sobre el vídeo com a forma artística, que va entrar a formar part més regularment de les activitats del Departament. Respecte a allò
que distingeix aquest Departament del d'altres museus, hi ha essencialment dues coses: primer, que és un museu dedicat a l'art nord-americà, i segon, que els vídeos i films que nosaltres presentem són fets per artistes independents del cinema i la televisió predominants, és a dir del cinema comercial i la TV. I l'objectiu del Departament de Film i Vídeo és el d'emplaçar i integrar el treball cinematogràfic o videogràfic d'aquests artistes dins del context del Museu i, a través d'aquest, en el context de l'art i la cultura nord-americana. Així doncs, organitzem en el nostre espai permanent del Museu exhibicions individuals o col.lectives amb les que pretenem identificar els artistes-clau i els diferents gèneres i estils propis de la història del cinema i el vídeo en tant que formes artístiques en si, a la vegada que en diàleg amb les altres arts. Considerem que el vídeo no és un art que es desenvolupi ailladament i entenem que és avui un element integral de la nostra cultura; per tant, no volem que el Departament de Film i Vídeo estigui aillat dels altres departaments i activitats del museu.  </p>
<p>  </p>
<p> Donat el volum d'activitats que el Whitney dedica al cinema i el vídeo, em sorpren una mica que entre els serveis del Museu no hi hagi un fons permanent o una vídeoteca, la qual cosa acostuma a ser una de les branques dels departaments de cinema i vídeo a d'altres museus o centres artístics.</p>
<p>  </p>
<p> El nostre Departament no es planteja una col.lecció pròpia, a diferència dels d'altres museus que sí compten amb una col.lecció o vídeoteca. Això nosaltres no ho fem, sinó que ens concentrem en incorporar vídeo-instal.lacions i vídeo-escultures a les col.leccions del museu, que són essencialment de pintura i escultura. Novament, el nostre esforç rau en no aillar-nos de les activitats globals del museu. Entenem que el vídeo, com a forma artística, té un impacte sobre els conceptes de instal.lació, escultura i creació de imatges. I és per això que ha començat a formar part de la col.lecció del museu. Això a la vegada vol dir que aquest treball serà preservat, tindrà un manteniment com a part de la col.lecció i es posarà a l'abast d'altres museus.</p>
<p>  </p>
<p> <b>LA CREACIÓ AUDIOVISUAL EN EL MUSEU</b></p>
<p>  </p>
<p> Parlem tot seguit del lloc de les arts audiovisuals en el museu (ara en abstracte). En quina mesura considera que el museu es diferencia i ha de diferenciar-se d'altres espais, sortides, amb que compten el cinema i el vídeo independent?</p>
<p>  </p>
<p> El museu, dins de la cultura i la societat nord-americana, és considerat una institució bàsica.
Es una institució cultural &quot;major&quot; que abasta tot un ventall de pràctiques artístiques. També cal destacar el seu rol de preservació de la història, tot fornint-ne una mena de interpretació. Aquesta és la responsabilitat del museu: educar, donar suport a la creació artística i fornir interpretacions necessàries per a la cultura artística. El museu és un tipus determinat de institució, però evidentment n'hi ha d'altres. Així, tenim els anomenats espais alternatius, els quals han tingut una gran importància en la història del vídeo-art als Estats Units. En aquest cas, són els mateixos artistes qui creen les seves pròpies organitzacions per tal d'exhibir i produir el seu treball; com per exemple, a Nova York, The Kitchen, i moltes altres organitzacions arreu dels Estats Units. Endemés, hi ha altres centres o organitzacions que s'ocupen de la distribució i de facilitar l'accés als mitjans de post-producció. Però el museu, en tant que és una gran i complexa institució, ha d'acomplir idealment moltes funcions, a més a més de les seves col.leccions, exhibicions i programes.
Així, nosaltres distribuim mostres de cinema i vídeo que circulen pels Estats Units i la resta del món. Amb això volem anar més enllà dels murs del museu i donar a conèixer aquests treballs més ampliament.</p>
<p>  </p>
<p> Quins museus o centres artístics dels Estats Units destacaria pel que fa a les seves actuacions en el camp de les arts audiovisuals?</p>
<p>  </p>
<p> Als Estats Units hi ha un bon nombre de museus que hi han jugat un paper força important.
Evidentment, de primer cal esmentar el Museu d'Art Modern (MOMA) de Nova York, amb el Departament de Cinema i les seves exhibicions, les col.leccions circulants de cinema i vídeo, i uns importants arxius.
A d'altres punts dels Estats Units hi ha diversos centres que han jugat també un paper important: per exemple, el ICA (Institute of Contemporary Art) de Boston o, més recentment, el Museu d'Art Modern de San Francisco (SF-MOMA). Si retrocedim en la història del vídeo, el Museu Everson de Syracuse va tenir també un paper important en el seu moment gràcies a David Ross, que fou el primer curador de vídeo en un museu d'art, i a Jim Harithas, que era llavors el director de la institució. En definitiva, respecte a la història del vídeo als Estats Units i al paper que hi han jugat les institucions, el museu ha tingut un rol força destacat, sigui amb programes o departaments estables, sigui a través d'exhibicions puntuals. I això és una cosa que ha anat creixent i estenent-se a diversos museus arreu del meu país.</p>
<p>  </p>
<p> Alguns museus nord-americans s'han plantejat la producció de programes televisius i, fins i tot, la creació del seu propi canal de TV per cable. Com veu aquesta implicació del museu amb la televisió?</p>
<p>  </p>
<p> Certament, hi ha algunes experiències que sobresurten... Així, l'ICA de Boston ha jugat un paper molt important amb The CAT Fund. [CAT és acrònim de Contemporary Art Television]. Cal recordar que això de portar el vídeo a la TV a través del museu és una cosa que ja s'havia plantejat abans David Ross, l'actual director de l'ICA, quan estava al Museu d'Art de Long Beach (LBMA), a Califòrnia. Penso que la relació entre el museu i la televisió té un potencial extraordinari que encara no hem arribat a copsar del tot. Així com la imatge electrònica esdevé una forma clau, integral dins de la nostra cultura de la imatge, crec que el museu trobarà en la televisió una mena d'avinguda per tal de sortir fora de les seves parets. I això, no sols per a distribuir informació de les seves activitats, ans també per a presentar les obres dels artistes que treballen amb el mitjà vídeo. El museu produirà i distribuirà
programes videogràfics que hom podrà veure en el televisor, a la llar. Això és una extensió lògica del museu i penso que molt necessària. Cap institució pot romandre estàtica i, si el museu ha de ser un lloc on trobin acollida noves idees, nous mitjans de representació, nous mitjans de distribució i exhibició, no podem limitar-nos a encabir-les en la institució del museu tal com ha estat concebuda tradicionalment, sinó que cal que entenem que aquests nous mitjans, aquestes noves formes, han de canviar en el futur la institució.</p>
<p>  </p>
<p> <b>INDEPENDÈNCIES CINEMA/VÍDEO</b></p>
<p>  </p>
<p> A Nord-amèrica l'adjectiu &quot;independent&quot;, aplicat al cinema i el vídeo s'utilitza força pragmàticament, malgrat que hom pot distingir diferents nivells de &quot;independència&quot;. Vaig llegir, per exemple, una ressenya de Jim Hoberman al <i>Village Voice</i>, a propòsit de la Biennal Whitney del 1987, i ell us retreia el que no hi fossin inclosos films com <i>Working Girls</i>, de Lizzie Borden; <i>Stranger than Paradise</i>, de Jim Jarmusch, i <i>Blue Velvet</i>, de David Lynch (per cert, tots tres estrenats en el seu moment al nostre pais i amb força bona acollida). En definitiva, què enteneu per &quot;independent&quot;?</p>
<p>  </p>
<p> La meva definició de
&quot;independent&quot; és la d'aquell treball que és produit independentment del cinema dominant, comercial, d'entreteniment, i independentment del domini de la TV comercial. Així, al Museu Whitney, no presentem ni programes de la televisió comercial ni el que anomenem el cinema del sistema, de Hollywood. El nostre criteri
és el de destacar a l'artista que treballa individualment per tal de crear i desenvolupar unes idees visuals, una narrativa visual a través dels recurssos propis del cinema i el vídeo. Es veritat que en els darrers anys, més i més cineastes independents han tingut accés a uns mitjans de producció que els han permès d'entrar en el mercat cinematogràfic, però jo estic realment interessat en aquells treballs que es queden fora del mercat tradicional de la distribució
i exhibició cinematogràfica. Jo vull oferir un espai, un programa d'exhibició per aquest treball tant important, però que no té
accés als canals d'altres produccions cinematogràfiques. Ara bé, jo no he inclòs a les Exhibicions Biennals Whitney aquells films independents que, pel seu finançament i distribució, han guanyat accés al mercat, i això pot ser discutible però és un criteri. Jo estic en canvi d'acord amb el que deia Hoberman respecte a que ja no ens podem guiar per la definició tradicional de les formes de cinema i vídeo d'avantguarda dels anys seixantes i setantes, sinó que actualment hi ha un esclat vers tota mena de gèneres i àrees: neo-documentals, neo-narratives...; però el cert és que aquesta mena de treballs no disfruta del suport del mercat. La cultura dominant s'ha apropiat de bona part dels estils d'avantguarda (per usar aquest mot), però només com això, com estils, sense anar més a fons. Això és el que passa, posem per cas, amb els vídeo-clips i la MTV (Music Television); no és res més que una forma de televisió
comercial que aprofita idees de la història del cinema experimental i el vídeo-art.</p>
<p>  </p>
<p> Fins a quin punt dirieu que els cine-experimentalistes i els vídeo-artistes s'ignoren mutuament?
Creieu que en un futur poden desfer-se les diferències entre cinema i vídeo?</p>
<p>  </p>
<p> Quan el meu departament es va obrir al vídeo, els cineastes ni es miraven el que feien els vídeo-artistes, ni gairebé es parlaven amb ells.
Hi havia una clara distància entre ambdós. D'altra banda, a la programació del Whitney, jo sempre he volgut subratllar la diferència entre els dos mitjans. El cinema és un mitjà
fonamentalment diferent al vídeo. El suport és fotogràfic, no electrònic, i per tant hi ha una base material diferenciadora de per si. I, a la vegada, la història del cinema es força diferent a la història del vídeo; hi trobem estils, plantejaments i discurssos molt diferents. El que ara està passant és que comencen a haver uns certs encreuaments. Així, Bill Viola ha realitzat un vídeo de 90 minuts que ha concebut per a ser projectat en pantalla gran, perquè
vol imposar una certa presència cinematogràfica, i Stan Brakhage distribueix ara alguns dels seus films en cinta vídeo. Endemés d'aquests incipients intercanvis de format, molts dels cineastes d'avantguarda s'estan ara interessant pel vídeo. I també hi ha els qui roden amb pel.lícula, però després transfereixen el material a vídeo, perquè volen que es vegi així o perquè volen utilitzar uns recurssos de post-producció que no poden obtenir per mitjans cinematogràfics. Cal tenir també en compte que el cinema, la pel.lícula de 16mm., és cada cop més car, i és més difícil que puguis tirar un cert nombre de còpies i trobar llocs on poder mostrar els teus films. Tot el mercat de la distribució
cinematogràfica no-comercial (<i>non-theatrical</i>)
es troba actualment en un estat de crisi. Però tot això també té
un costat positiu. En definitiva, el que està passant —i crec que
és lògic que sigui així— és que l'artista és concient de que pot escollir el mitjà més apropiat per allò que vol expressar, crear. Per a un projecte concret, pot ser millor el film o pot ser millor el vídeo, tot depen de qüestions estètiques i del que pots obtenir de l'un o l'altre mitjà. A mi m'agrada alternar en la programació el film i el vídeo, perquè penso que la gent enten avui les diferències entre un mitjà i l'altre, i perquè ara podem comprendre perquè els artistes fan servir l'un o l'altre d'acord amb el seu projecte. I, finalment, la imatge mòbil comportarà en el futur un altre tipus de material, electrònic, però amb elements de la imatge fílmica i la imatge televisiva que coneixem avui. La imatge mòbil està doncs canviant, i això forma part de l'evolució
de la nostra cultura.</p>
<p>  </p>
<p> <b>UN ESCLAT DE FORMES</b></p>
<p>  </p>
<p> El concepte de instal.lació aplicat als mitjans audiovisuals és un tema al que heu dedicat força atenció. Voldria que ens parlessiu de la vostra accepció d'<i>expanded forms</i> en relació al cinema i el vídeo.</p>
<p>  </p>
<p> Jo utilitzo el terme &quot;formes esclatades&quot; (<i>expanded forms</i>)
en relació al cinema i el vídeo per tal de distingir i precisar una
àrea de creació artística. Hi ha el vídeo monocanal, que es mostra en un únic monitor, com un programa de TV; aquesta és una forma anàloga a la de l'obra cinematogràfica que es projecta en una sala, amb la seva pantalla, les fileres de seients, etc. En canvi, les &quot;formes esclatades&quot; són el vídeo com escultura, com instal.lació i com performance; la idea d'usar realment tot el potencial d'aquest mitjà, un potencial plàstic que pot ser utilitzat de molt diferents maneres, no necessàriament confinat al canal únic, no restringit a un monitor davant del qual t'asseus, sinò que aquest monitor pot estar penjat del sostre, o poden haver-hi múltiples canals i múltiples monitors, circuits tancats de vídeo, imatges de vídeo juxtaposades amb altres objectes... Tot un ventall de possibilitats. A la vegada, és molt interessant de relacionar això amb la història de les film-instal.lacions, amb l'obra de Paul Sharits i altres artistes que projecten imatges fílmiques a galeries i altres espais, a la paret, multiplicades amb diferents projectors, o combinades amb altres objectes. La importància d'aquest concepte de &quot;formes esclatades&quot; rau en que ens fa advertir el potencial radical d'aquests mitjans en tant que eines artístiques, i en que ens allibera de les idees que ens han imposat la televisió i el cinema usual. L'art dels medias rau en com veiem i representem el món que ens envolta amb aquests nous instruments, a través de l'ull de la càmera per exemple. La instal.lació combina aquest punt de vista amb l'escultura i altres mitjans per tal de fer esclatar aquestes noves formes en noves direccions, i és així com les instal.lacions contribueixen decissivament a trencar la frontera entre les arts i els media.
Sobretot perquè les arts no són només la pintura, l'escultura, la fotografia, la cinema, el vídeo, etc., sinó que hi han imbricacions dialèctiques i canvis mutuament determinats.</p>
<p>  </p>
<p> El &quot;vocabulari&quot; de les vídeo-instal.lacions és avui un aspecte que coneixem força bé
perquè ha estat ampliament analitzat i delimitat. Potser no tant el que podriem anomenar el &quot;temari&quot;. Per dir-ho amb termes un tant grollers, no creieu que l'atenció que hem parat per la forma ens ha fet passar per alt la qüestió del contingut?  </p>
<p>  </p>
<p> Forma i contingut són integrals l'un a l'altre. Jo puc usar un mètode de descripció formal per tal de parlar de les instal.lacions, començant pels materials i les formes o estructures amb que està organitzada l'obra. L'aplicació d'aquesta mena de mètodes per tal d'ordenar tota la varietat d'obres i trobar-hi relacions, jo diria que ha estat un mitjà historiogràfico-estètic per tal d'identificar i comprendre millor aquesta àrea. Però, evidentment, el contingut és integral i és el que dóna sentit als materials que composen l'obra i a les imatges que passen per la pantalla o monitors dins de la instal.lació. Respecte de qualsevol instal.lació, podem parlar en termes formals i de contingut. Prenem <i>Exposure Time</i>, el treball que Eugènia Balcells ha presentat ara a Barcelona. En podem parlar en termes formals o de construcció a propòsit de l'ús de la retro-projecció per a engrandir i centralitzar la imatge vídeo; a propòsit del processament d'aquesta imatge, la seva transformació i tractament a partir de la gravació original. Podem també parlar de l'incorporació d'objectes trobats, que es relacionen amb Barcelona i amb un indret determinat. El que Eugènia fa amb aquest treball és excavar, excavar un lloc i excavar la memòria. I llavors podem passar al contingut: totes aquestes pedres i runes, tots aquests objectes prenen associacions per a l'espectador; el remeten al passat de Barcelona, evoquen el record d'una realitat, d'un món que ha estat arrencat de la ciutat i llençat al mar. Hi ha doncs una recuperació, en sentit material, per tal de recordar-nos el passat a través de les evocacions, les associacions que prenen els objectes en la nostra memòria i en les nostres vides. I tot això és relligat per la imatge de vídeo que sura en l'espai, projectada dins d'aquest gran cercle, com si fos un ull que esguarda per damunt de les restes del passat. Un ull que reflexa els cicles de la natura, els cicles del temps, la tradició
representada per l'ou-com-balla de la Catedral i la permanència de les ones, xocant contra la platja i contra els objectes que han passat a formar part de la instal.lació. Aquest és doncs un treball que té una enorme qüantitat de contingut, de significació, la qual
és articulada en el seu desenvolupament formal com a instal.lació, per com aquests materials han estat ajuntats per tal d'expressar una idea original, lírica i evocativa. Podriem prosseguir aquest procés de interpretació i comprensió tot prenent moltes altres vídeo-instal.lacions, però, en definitiva, el contingut és sempre central a l'obra. Es el que fa l'obra.</p>
<p>  </p>
<p> <b>LA HISTÒRIA I LA TEORIA DEL VÍDEO</b></p>
<p>  </p>
<p> Ara que el vídeo, com a mitjà
artístic, compta ja amb al voltant de 25 anys de història, com veieu retrospectivament la seva evolució?</p>
<p>  </p>
<p> Tota la història del vídeo, des de la fi dels anys cinquantes, ha estat una història de canvi; no endebades, podem situar als seus protagonistes en el context de diversos períodes i moments de la història de l'art: Nam June Paik en el context de Fluxus, Vito Acconci o Bruce Nauman en el body-art, el minimalisme, l'art conceptual... Tots aquests moviments dels seixantes i setantes influenciaren i definiren el treball de molts dels vídeo-artistes. I en referir-nos al moment actual, passa novament que cada artista es situa dins d'un context i un temps. Així
que és una història de canvi, tot i que jo no parlaria en termes de desenvolupament o progrés tal com s'entenen normalment. Jo crec que el treball dels seixantes és tan fort ara com ho era llavors, i penso que ens hem oblidat massa d'aquelles obres, cintes i instal.lacions, i que hauriem de revisar-les i redescobrir-les.
Sovint amb trobo amb gent que diu: &quot;Oh, recordo que el vídeo-art era sempre molt avorrit&quot;. I això em xoca, perquè una cosa és avorrida si no li dediques l'atenció que exigeix, si no te la mires.
I en els treballs dels seixantes i setantes, adscrits a l'art minimal i processual, hi havia molta insistència en el temps i la repetició, així com en l'examen i exploració de les propietats en si del mitjà. Però jo crec que una de les coses que passarà, a mida que la història del vídeo es faci més llarga, és que començarem a mirar endarrera, tot reexaminant i reconsiderant aquella història.
D'altra banda, els mitjans electrònics de creació de imatges han esdevingut part de la nostra cultura de masses i, en mans de diferents artistes, estan transformant la nostra cultura visual. Per això, crec que no hem de contemplar el vídeo o la instal.lació
d'acord amb com encaixen o no amb definicions prèvies de l'obra artística, sinó en termes de com estan canviant la nostra manera de veure l'art i de com estan transformant la nostra cultura.</p>
<p>  </p>
<p> Quin ha estat el plantejament del llibre que heu publicat amb el títol de
<i>Video Culture/A Critical Investigation</i>
[Rochester, New York, 1986]?</p>
<p>  </p>
<p> <i>Video Culture</i>
és una antologia d'assaigs motivada pels curssos de història del vídeo que jo dono a universitats i col.legis majors. Vaig preparar aquest llibre tot pensant en això i en fornir unes lectures als estudiants. La idea era ubicar i relacionar el vídeo amb respecte a la història del cinema i la TV, distingir-lo d'aquells mitjans anteriors, però a la vegada mostrar com ha estat influenciat per ells, doncs penso que cal tenir en compte tot un cos de teoria i historia que hi ha al darrera. Així, en el llibre he recollit textos de Walter Benjamin, Bertolt Brecht, Hans Magnus Enzensberger, Louis Althusser i Jean Baudrillard que proposen un seguit de reflexions crítiques al voltant del rol social i cultural dels media. I sobre aquesta base, hi ha una sèrie d'assaigs que tracten diferents aspectes: les diferències entre el vídeo de creació i el llenguatge dominant de la TV, en els textos de David Antin i John Ellis; la història del vídeo, en els textos de David Ross i Rosalind Krauss; la diferenciació entre vídeo i cinema, en els textos de Douglas Davis i altres. A través dels escrits de tots aquests autors es proposa un itinerari històric que espero que reflexi una cosa que jo trobo essencial de comprendre, i és que quan ens enfrontem a una creació videogràfica, tant si és una cinta o una instal.lació, no es tracta de veure-ho com una cosa aillada, sinó que els autors treballen sobre idees que es relacionen amb altres pràctiques artístiques, així com amb la realitat que els envolta. Per tal de comprendre la història i el discurs del vídeo com a forma artística, ens cal doncs tenir en compte tota una sèrie de questions teòriques i històriques que intervenen en com l'espectador reb l'obra i en el que d'ella n'espera. Una de les dificultats amb que m'he trobat, en tant que curador de vídeo en un museu, és que gran part del públic està molt condicionat per les seves expectatives respecte a la televisió. Així com s'acosten igualment al cinema independent, d'avantguarda, condicionats per l'entreteniment que esperen de l'altre cinema. Es molt important doncs de proporcionar al públic els mitjans per tal d'emplaçar aquestes obres i de veure com els seus autors redefineixen el mitjà
i treballen sobre les seves propietats. L'antologia de textos que jo he fet és un esforç més en aquest sentit.</p>
<p>  </p>
<p> Els vostres propis escrits es troben repartits en múltiples catàlegs, programes de mà, revistes i obres col.lectives. I molta de la literatura sobre el vídeo, molts dels llibres que fins ara s'han publicat i altres que sé que estan en preparació, són reculls, antologies de textos més o menys breus de diferents autors. Com interpreteu aquesta escassetat teòrica?</p>
<p>  </p>
<p> Jo crec que cal més criticisme, més escrits sobre aquestes obres, més esforç reflexiu.
L'historiador i el crític d'art han de sentir-se reptats per aquestes obres i els hi han de dedicar l'atenció que es mereixen. Un dels problemes per a que, ara com ara, això no sigui ben bé així,
és que el vídeo realment desafia les convencions de la crítica i l'assagisme estètic. La crítica d'art cau de vegades en una fòrmula massa fàcil i es deixa arrastrar per les imposicions del mercat. I si una obra no entra dins d'unes determinades definicions, tradicions o modes, llavors ningú s'en ocupa. Una de les coses extraordinàries del vídeo, una que trobo característica d'aquest mitjà, és que no està controlat per les lleis del mercat. Els artistes poden així
prendre riscs, poden explorar direccions que escapen a les convencions de la institució artística. Les instal.lacions, és cert, són en molts casos adquirides per museus, col.leccions privades, fundacions, i fins i tot per corporacions. Però, la major part de les obres videogràfiques defugen les convencions de que parlava, i això penso que pot comportar una renovació estètica engrescadora, sobretot al costat de tantes altres coses que veiem
—tant en pintura o escultura com en cinema o música—, guiades gairebé només que per l'ambició de cotitzar-se en els mercats de la cultura i l'art.</p>
<p>  </p>
<p>  </p>
<p> EUGENI BONET</p>
<p>  </p> </body> </html>