  <p> <b>Entre el cine EX-perimental y el cine EX-cepcional</b></p>
<p> <b>Hipótesis, episodios y reconsideraciones acerca</b></p>
<p> <b>del cine y las vanguardias artísticas en España</b></p>
<p>  </p>
<p> <u><b>(I) SIN NOVEDAD EN EL FRENTE</b></u></p>
<p>  </p>
<p> Así podría también encabezar mi ponencia, con la doble intención de, por un lado, parafrasear la metáfora militar que Baudelaire viera en la introducción del término &quot;vanguardia&quot; en el campo estético, y por otro lado sugerir el estado de inanición y la virtual extinción de sus manifestaciones cinematográficas en nuestro contexto.</p>
<p>  </p>
<p> Las resonancias literarias y cinéfilas de tomar prestado dicho título están fuera de lugar, pero hubiera sido una manera de rehuir, como quería, la inclusión de expresiones como &quot;cine de vanguardia&quot; o &quot;cine experimental&quot; en el enunciado-titular de la ponencia; o, al menos, relativizarlas, quizá pervertirlas, o simplemente jugar con ellas (lo que, en cierta medida, creo de todas formas haber conseguido).</p>
<p>  </p>
<p> Lo que en el fondo hubiera querido rehuir son los malentendidos que tan frecuentemente despiertan tales adjetivaciones, particularmente en el campo del cine y de lo audiovisual en general, y más aún en un contexto como el nuestro, donde aquello que designan ha obtenido tan débil proyección. Pero, antes de exponer algunos hechos que me parecen significativos al respecto, me detendré un poco más en los problemas léxicos o conceptuales que suscitan las diversas acepciones de &quot;la vanguardia&quot; y &quot;lo experimental&quot; en relación al cine.</p>
<p>  </p>
<p> Tales problemas se derivan en gran medida de la usual identificación del cine con su mayor caudal, en tanto que industria del espectáculo que implanta la hegemonía del relato (audiovisual) de ficción con sus particulares reglas y tradiciones, relegando el resto a la categoría de afluentes o sub-afluentes —géneros o especialidades, en otras palabras— que identificamos con los correspondientes adjetivos o apéndices terminológicos: el cine documental, el cine de animación, el cine de vanguardia o experimental son los principales ejemplos.</p>
<p>  </p>
<p> Como consecuencia de ello, tal como señalara Dominique Noguez, a menudo el cine de vanguardia o experimental ha sido equivocadamente entendido de acuerdo con una norma exterior o camino de perfección que, por supuesto, remitirían a la industria y a la narración, allanando el terreno en el que la aplicación o asimilación de sus técnicas o hallazgos puedan tomarse &quot;en serio&quot;. De ahí que Noguez proponga que la palabra &quot;experimental&quot; debería escribirse tachada; mientras que el libro donde éso plantea se presenta de todas formas como un &quot;Elogio del cine experimental&quot;, sin tachaduras.[1]</p>
<p>  </p>
<p> Por lo que se refiere a la noción de cine de vanguardia, diría que etimológicamente designa el cine de las vanguardias artísticas que surgen desde principios de siglo.
Y no hay que olvidar que, para los primeros de aquellos movimientos, el cine mismo es una manifestación de vanguardia, una expresión de lo nuevo, tal como se hace patente en los escritos de los futuristas y surrealistas, entre otros. De alguna manera, pues, el cine de vanguardia no se concebía como un área separada; ni siquiera en su vertiente más abstracta y radicalmente alejada del cine común (por así llamarlo). De ahí también que, en la teoría e historia del cine, la expresión &quot;cine de vanguardia&quot; se haya impuesto sobre todo para acotar un período bastante preciso, y unas expresiones en cambio muy contrastadas y que nutrieron las reyertas internas entre los distintos grupos e individualidades.[2]</p>
<p>  </p>
<p> Pero después, el resurgimiento de la vanguardia se produce con más fuerza en Norteamérica tras la IIª
Guerra Mundial (entre otras cosas por la influencia directa ejercida por los muchos artistas europeos que emigraron allí, incluyendo a Richter, Fischinger, McLaren, Duchamp, entre otros), lo que a mi modo de ver explica que sea en textos y modelos anglosajones donde se asienta la concepción moderna del cine experimental o de vanguardia, entendido si se quiere un tanto retórica y pragmáticamente. Para desgranar algo apresuradamente algunos de los rasgos con los que se le ha caracterizado, sería así, generalmente, un cine:</p>
<p>  </p>
<p>
• <u>independiente</u>
(lo que no excluye que su producción se alimente de ayudas económicas institucionales); y, en el extremo, individual o
<u>personal</u>;</p>
<p>
• enraizado visiblemente en una
<u>tradición vanguardista</u>
(lo que no me parece necesariamente un contrasentido);</p>
<p>
• <u>anarrativo</u>/<u>antinarrativo</u>/<u>metanarrativo</u>/...
o <u>narrativamente subvertido</u>, según los casos (en general más cerca de la poesía, la plástica o la música, para proseguir la ristra de tópicos);</p>
<p>
• con su mayor <u>énfasis en la forma</u> de la expresión; o, por decirlo de otro modo, en el <u>significante</u> antes que en el significado.</p>
<p>  </p>
<p> Sin embargo, ambos vocablos
—vanguardia, experimental— han sido utilizados también, en resumen, de manera harto abusiva, confusa y tergiversada por muchos escritores cinematográficos, para referirse a cualquier producto que, por un motivo u otro, se apartara de lo que era norma en su tiempo y/o contexto. Y, para volver ya a nuestro mapa, yo creo que se podría confeccionar una amplia antología del disparate a propósito del modo en que se han manejado tales nociones y temas.</p>
<p>  </p>
<p> En cualquier caso, sería difícil que ello no fuera así si tenemos en cuenta las escasas fuentes con que puede contar aquel que se interese en dichas cuestiones. No mencionaré más que de pasada la ausencia de un mínimo fondo en nuestras filmotecas (y en los supuestos centros de arte contemporáneo, tan mal imitados de los extranjeros, varios de los cuales sí incluyen el cine y vídeo experimental en sus colecciones); el problema, de todas formas, no sólo concierne a las obras que podrían considerarse clásicas o esenciales de entre el cine de vanguardia, sino a las de la historia del cine en general.[3]</p>
<p>  </p>
<p> Me detendré ahora en la enumeración de los pocos libros que se han editado aquí sobre el tema. Tenemos en primer lugar la <u>Historia del cine experimental</u> de Jean Mitry (publicado en 1974), pasable en lo que concierne a las vanguardias históricas, pero que parte de criterios excesivamente amplios y pierde los papeles a medida que avanza en el tiempo; especialmente en el capítulo final sobre &quot;El cine underground&quot;.
Para suplir las deficiencias del texto de Mitry en dicho aspecto, podríamos acudir entonces a otros dos libros: el <u>Diario de Cine</u> de Jonas Mekas
(publicado en 1975), útil pero insuficiente para adentrarse en la amplia perspectiva del cine de vanguardia norteamericano, y <u>Cine Underground (Historia crítica)</u>, de Parker Tyler (publicado en 1973), que es una obra muy desacreditada (tal como puede leerse en el mismo libro de Mekas). El pobre balance apenas se completaría con algunos otros libros de carácter más monográfico (sobre el inevitable Andy Warhol o en torno a las vanguardias soviéticas).</p>
<p>  </p>
<p> En cuanto al cine de vanguardia en España, aparte de algunos textos sueltos y desperdigados en distintas publicaciones, tan sólo ha sido abordado en dos libritos: el que Francisco Aranda publicara en 1953, en Lisboa por cierto, justamente titulado <u>Cinema de Vanguardia en España</u>
—una de las contadas fuentes a tener en cuenta, aunque con cautela, en relación al período de la vanguardia histórica—, y el de Manuel Palacio y mío, con el título de <u>Práctica fílmica y vanguardia artística en España, 1925-1981</u>, publicado en 1983 y que ha tenido lamentablemente una distribución casi nula, por desidia de la institución que lo editó.[4]</p>
<p>  </p>
<p> Escribíamos, en la introducción a dicho estudio que la cuestión, de un cine de vanguardia o experimental en España había quedado &quot;relegada al terreno de hipótesis y conjeturas&quot;, y a partir de ahí tratábamos de plantear nuestra propia hipótesis de un modo que fuera productivo, replanteando el tema en otros términos (de puertas adentro, al menos). En otras palabras, nadie pone en duda que se pueda hablar de vanguardias artísticas al analizar determinadas facetas de nuestra producción cultural (en terrenos que incluyen la literatura, las artes plásticas, la música...), pero el cine español se ha ganado en cambio una imagen patéticamente conservadora y mediocre; en consecuencia, se trataba de investigar de qué manera se habían aproximado (ni que fuera ocasionalmente) ambas partes del enunciado.
En definitiva, en dicho libro tratamos simplemente de desbrozar la producción fílmica que pudiera responder a un impulso experimental, investigador o, como mínimo, de acentuada anomalía expresiva en nuestro contexto.</p>
<p>  </p>
<p> El lema de este Congreso, con un planteamiento un tanto similar al nuestro, abre ahora un campo de estudio algo más amplio y que está aún necesitado de nuevas aportaciones. Creo que es además la manera más idónea de formular un tema aparentemente tan &quot;menor&quot; dentro de la historia de nuestro cine, sin que se nos escape de las manos como arena. (Pero, en el otro extremo, también se puede mear fuera de tiesto).</p>
<p>  </p>
<p> Mi aportación pasa por volver nuevamente a la genealogía del siempre hipotético cine experimental español, pero en este aspecto no pretende introducir sustanciales novedades respecto a la exposición que hicimos en la publicación antes aludida —aunque sí algunos añadidos, correcciones, nuevas consideraciones—; sino que quiero subrayar ahora un acercamiento algo distinto, en función del intervalo transcurrido desde entonces.
Pues, sin apenas darnos cuenta, dicha publicación, y la muestra que paralelamente preparamos se convertirían en las exequías de aquello que recogían. Y aquello que nos esforzábamos aún en dar por vivo, lo doy prácticamente por muerto ahora. Con decidido pesimismo, aunque sin sentirme por otra parte predispuesto a &quot;liquidar&quot; o desacreditar esa noción de vanguardia que hoy parece ya tan difícil de sobrellevar.</p>
<p>  </p>
<p> Parto así de un modelo de
<u>discontinuidad o intermitencia en tres tiempos</u>
(aunque más bien reunión de distintos episodios más o menos aislados entre sí), con cabida para abrir &quot;paréntesis o apartes&quot; respecto a determinadas obras/trayectorias singulares.
Tal esquema podría también tomarse como equivalente de una distinción entre sucesivas generaciones, relevándose en cierto modo como protagonistas de aquellos tres tiempos, si bien ello debería entenderse como parte de las convenciones que tan habitualmente empleamos para examinar la historia.</p>
<p>  </p>
<p> El <u>primer tiempo</u> correspondería a lo que entendemos por &quot;vanguardia histórica&quot;, abarcando principalmente desde mitad de los años veinte hasta el comienzo de los treinta, aunque con posteriores y espaciadas prolongaciones. El
<u>segundo tiempo</u> abarcaría de principios de los sesenta a principios de la siguiente década, participando esencialmente de un nuevo impulso del cine independiente y de la experimentación artística. Y, por último, delimitaría de manera aproximada el <u>tercer tiempo</u> entre la mitad de los setenta y el comienzo de los ochenta, caracterizándolo por el empleo básico del formato ínfimo del super-8, con incursiones en el 16 mm. y en el soporte magnético del vídeo, en lo que tiene de figurativo de la progresiva &quot;disminución&quot; del espacio que ocupa lo experimental en el cine español.</p>
<p>  </p>
<p> He sugerido al principio que me sentía obligado a jugar con unas palabras y expresiones que tan poco han calado en nuestro medio cultural cinematográfico (como creo haber ya demostrado en relación con algunos de sus aspectos), y encuentro ahora en la oscilación entre lo <u>ex-perimental</u> y lo <u>ex-cepcional</u> una manera particularmente apropiada de referirme al inventario, quizá reducido pero no desdeñable, que puede extraerse del examen de aquella discontinuidad en tres tiempos.</p>
<p>  </p>
<p> En otro sentido, la lenta agonía que vive internacionalmente el cine experimental (más o menos pronunciada según la mayor o menor tradición de la producción independiente en determinados países), así como los debates críticos e internos introducidos en los últimos años —por la
(re)aparición de una &quot;nueva narrativa&quot; y su alcance público eventualmente más amplio (el controvertido caso de Greenaway, por ejemplo), por el dilema de &quot;las 2 vanguardias&quot;
(según lo expuso Wollen), por la importancia y la evolución adquirida por los medios audiovisuales post-cinematográficos (TV, vídeo, HDTV, soportes digitales), por &quot;el descrédito y fin de las vanguardias&quot; (según ciertos críticos de arte), por el derrumbamiento de las quimeras de otro tiempo en definitiva[5]—, han alterado decisivamente la definición del cine de vanguardia o experimental vigente hace apenas una década, colocándola entre interrogantes, cruzándola con una tachadura (como proponía Noguez), o transmutándola (como en el único festival de cine experimental importante en Europa, el de Osnabrück, RFA, que en sus dos últimas ediciones ha reenfocado y ampliado su campo en el concepto global de
<u>media art</u>).
De manera que, cuando escribo <u>ex-perimental</u>, lo hago también pensando en el sentido que toma esa particula escindida al principio de la palabra, como refiriéndola a lo que fue o significaba en el pasado.</p>
<p>  </p>
<p> Me detengo aquí únicamente en el primero de los tres tiempos de mi esquema. Por un lado, es de alguna manera el más &quot;intangible&quot;, por el consabido problema de la gran proporción de material de aquel período que se ha perdido.
Por otro lado, conlleva interrogantes básicos respecto a la aparente ausencia de tradición o el escaso poso de la vanguardia en nuestro cine. Y, al final, me interesa también ver hasta qué punto puede integrarse dicho período en un modelo de intermitencia en tres tiempos tal como el propuesto, en el que los dos últimos parecen tan desgajados de aquel primero.</p>
<p>  </p>
<p> El telón de fondo internacional, por cierto, no debería perderse de vista en ningún momento, aunque entrar en un análisis comparado (local/mundial) de la historia del cine experimental echaría quizá por la borda la perspectiva más amplia (pero no indulgente) que cobra la realidad autóctona que hallaremos, de un cine <u>entre ex-perimental y ex-cepcional</u>.</p>
<p>  </p>
<p> Desde hace unos cuantos años se vienen prodigando los trabajos sobre el tema general de las vanguardias artísticas en España y sobre capítulos, aspectos, figuras, áreas más específicas (algunas de las cuales habían quedado más olvidadas que otras). Comprender los avatares del arte y la cultura modernos es una necesidad que se ha hecho sentir. Esto es algo que he pretendido también tener en cuenta en el sucinto repaso que propongo, al tratar de reflejar de paso el estado de la investigación sobre los múltiples puntos oscuros que encierra nuestro tema, sus huecos más importantes, y aquellos que ya han sido empezados a cubrir, recogiendo (en notas) las referencias a que se puede acudir.</p>
<p>  </p>
<p> Por último, para acabar de definir mi planteamiento, tomo prestada la siguiente cita de uno de los importantes trabajos de Jaime Brihuega sobre las vanguardias artísticas en España, manipulando ligeramente el texto a fin de apropiarmelo y mejor suscribirlo: &quot;La revisión de un pasado cuya proximidad me envuelve desde la etiología de mis raíces culturales tiene, como inexcusable contrapeso, una vocación de proyecto de futuro que, conscientemente o no, interfiere la labor retrospectiva con una meditación sobre los fundamentos mismos de mis resortes ideológicos, en la perspectiva de una configuración de futuro. Es como si, negándome a archivar aquello que enlaza con alguna de las rótulas de mis propias actitudes, construyése con estos materiales una máquina prospectiva alrededor de la que, en realidad, lo que acabo debatiendo es la justificación del más estricto presente&quot;.[6]</p>
<p>  </p>
<p>  </p>
<p> <u><b>(II) EN EL TERRENO DE LAS HIPOTESIS:</b></u></p>
<p> <u><b>LA &quot;VANGUARDIA HISTORICA&quot; Y SU ESTELA</b></u></p>
<p>  </p>
<p> Las primeras obras de reputación vanguardista en la historia del cine español son apenas media docena de films fechados entre 1925 y 1930. (No incluyo en el recuento las dos únicas que realmente se encuentran en casi cualquier historia del cine de vanguardia o experimental, refiriéndome claro está a las dos primeras obras de Buñuel, nacidas de la colaboración con Dalí). Ello implica, de entrada, que la aparición de una hipotética vanguardia cinematográfica deba considerarse un tanto tardía y de parcos resultados en relación a otros países europeos. Pero, además, resulta un tanto difícil de dilucidar si puede hablarse de manera más o menos apropiada de obras de vanguardia con respecto a algunas de ellas, pues no se han conservado y apenas se pueden hacer algunas conjeturas en base a lo (poco) que se escribió sobre ellas.</p>
<p>  </p>
<p> Este es sobre todo el caso de
<u>Madrid en el año 2000</u>
(1925), de Manuel Noriega, cuya adscripción a la vanguardia se cimenta prácticamente en un equívoco comentario en la rupestre contribución de Cabero a la historia de nuestro cine, al cualificarlo de &quot;film de avanzada&quot;.[7] Pero el problema afecta también a <u>La historia de un duro</u>
(1927), de Sabino Antonio Micón, así como al largometraje <u>Al Hollywood madrileño</u>
(1927), de Nemesio Sobrevila.</p>
<p>  </p>
<p> Es posible detectar en estos cuatro films huellas diversas del futurismo, el expresionismo, el impresionismo y hasta el cubismo, pero los trucajes del film de Noriega o las sinécdoques visuales del de Micón formaban parte del
&quot;vocabulario&quot; vanguardista desde hacía ya varios años.</p>
<p>  </p>
<p> <u>La historia de un duro</u>, de Micón, reincide en unos planteamientos que se encuentran presentes con una cierta abundancia en el teatro futurista, así como en distintas obras literarias y cinematográficas anteriores.[8]
(De <u>Historia de una botella</u>, cortometraje de 1949 que cierra la discreta carrera de Micón retomando presumiblemente la misma idea, parece ser que se guarda en el archivo de nitratos de la Filmoteca Española, a la espera de extraer copia de seguridad).</p>
<p>  </p>
<p> En cuanto a las primeras obras con las que el arquitecto vasco Nemesio M. Sobrevila emprendió su breve y azarosa trayectoria cinematográfica, de <u>El sexto sentido</u> puede decirse que no es, en rigor, un film experimental o de vanguardia, aunque sí uno de esos films inusuales que, visto actualmente, cobra una modernidad que lo distingue del grueso de la producción de su
época (y lo sitúa así entre lo &quot;excepcional&quot;). Sobrevila es uno de los grandes &quot;malditos&quot; del cine español y, en cierto modo, uno de los pioneros del cine independiente entre nosotros, pero en sus films no parece que hubiera intención alguna de ruptura con las convenciones dominantes. Se le supone bien informado de las tendencias y postulados vanguardistas, pero lo que de ahí recoge se enmarca en versiones/revisiones un tanto descabelladas del género de la comedia costumbrista española.[9]</p>
<p>  </p>
<p> En torno a Ernesto Giménez Caballero, a su influyente revista quincenal <u>La Gaceta Literaria</u>
(1927-32) y al Cineclub Español que fundara —instigado por Luis Buñuel—, existió probablemente el caldo de cultivo propicio para que pudiera fraguarse una corriente de vanguardia en el cine español; pero no fue así, y todo quedó en algunos films sueltos, más unos cuantos guiones, proyectos y textos cinematográficos.</p>
<p>  </p>
<p> El polifacético Giménez Caballero convirtióse coyunturalmente en el principal representante de la vanguardia cinematográfica española; al menos, en la medida en que Buñuel estaba asentado en París. Así, aparte de favorecer la difusión del cine de vanguardia y de sus ideas a través del cineclub y la revista mencionados, participó en los Congresos Internacionales del Cine Independiente de La Sarraz (1929) y de Bruselas (1930) y él mismo realizó diversos cortometrajes, siendo los dos primeros, <u>Esencia de verbena</u> y <u>Noticiario del Cineclub</u> (ambos de 1930), los que se adscriben a su etapa vanguardista. Ambos pueden considerarse como documentales, el primero sobre Madrid y sus verbenas, el segundo como una especie de álbum de la intelectualidad española de la época, pero en tratamiento y estilo las influencias vanguardistas son palpables.</p>
<p>  </p>
<p> Para 1930, sin embargo, Giménez Caballero venía ya acariciando aquello que en sus memorias llama su
&quot;revolución segunda: la del sueño imperial&quot;;[10] y así, con el mismo entusiasmo con que había abrazado la causa del arte de vanguardia, hizo lo propio por la causa fascista. En el controvertido II Congreso Internacional del Cine Independiente
(Bruselas, 1930), Giménez Caballero se alinea junto a los representantes italianos en contra de la resolución final del Congreso, que condena el fascismo y expresa la necesidad de un cine más combativo. &quot;No valía más vanguardia que... aquella de la fiel infantería&quot;, como declaró el inefable personaje en una ocasión.[11]</p>
<p>  </p>
<p> A nivel internacional, con el afianzamiento del cine sonoro (y el definitivo asentamiento de un Modo de Representación Institucional, como diría Noël Burch), y ante las crisis sociales por las que atraviesa el mundo, a partir de 1930 puede comprobarse que hay una remisión de la abstracción formalista y de las expresiones subjetivas como polos esenciales del cine de vanguardia, observándose una tendencia hacia el documental de temática social y hacia una &quot;nueva objetividad&quot; (tal como dice el nombre de una tendencia artística más amplia que se da en Alemania, <u>die Neue Sachlichkeit</u>).</p>
<p>  </p>
<p> De acuerdo con este esquema, la obra emblemática en la España de la IIª República sería inevitablemente <u>Las Hurdes</u> (1932), el demoledor documental con el que Luis Buñuel prosigue su trayectoria tras sus dos sonados films surrealistas. Otros jóvenes cineastas, como Carlos Velo, Fernando Mantilla, Antonio Román, Rafael Gil, Gonzalo Menéndez Pidal, José Val del Omar y Carlos Serrano de Osma, se inician en esta época en el campo del documental y apuntan, por lo que sabemos de sus realizaciones y proyectos, ciertas inquietudes experimentalistas. En cualquier caso, una nueva &quot;hipótesis&quot; es todavía más difícil de sostener en este caso, puesto que ninguno de los posibles títulos a destacar parece haber sobrevivido.[12] Y, por otra parte, el cine documental que se hace durante la República es predominantemente un cine folklórico-paisajista de escasa intencionalidad sociopolítica. No hay que olvidar que <u>Las Hurdes</u> fue inmediatamente prohibido por el gobierno republicano tras un único pase en Madrid (aunque, al parecer, siguió circulando en cineclubs); que Serrano de Osma lo definía en 1935 como &quot;el <u>único</u> documental <u>auténtico</u> que España posee&quot; (los subrayados son suyos);[13] y que Buñuel sonorizaría el film en Francia, en 1937, pasando a llevar el nuevo título de <u>Tierra sin pan</u> en la versión en que lo conocemos actualmente.</p>
<p>  </p>
<p> En cuanto al eco que en el naciente cine amateur tuvieron, un tanto anacrónica y pasajeramente, las ideas del cine de vanguardia, los resultados son de una entrañable candidez y constituyen un aspecto episódico dentro de su más bien conservador ámbito.[14]</p>
<p>  </p>
<p> Un aspecto que sí merecería un mayor detenimiento es el relacionado con la fascinación que el cine despertó en toda una serie de escritores, vinculados a la Generación del 27 y al movimiento literario de vanguardia que encauza principalmente la revista de Giménez Caballero (por lo que algunas veces se habla también de &quot;la generación de la Gaceta&quot;).
Dicha fascinación se refleja por un lado en un número relativamente amplio de poemas, novelas o reflexiones de tema cinematográfico, constituyendo hoy un aspecto bien conocido por las antologías y estudios de que ha sido objeto.[15] Pero, por otro lado, algunos de estos escritores llegaron a escribir guiones y a juguetear con el medio cinematográfico o colaborar en las cintas de otros: Federico García Lorca, Ramón Gómez de la Serna, Andrés Carranque de Rios, ya en el exilio Juan Larrea...
Aranda, en su librito, menciona además a Francisco Ayala, José
Bergamín, Rosa Chacel, Miguel Pérez Ferrero, Samuel Ros y aún otros, atribuyéndoles, sin concretar más, &quot;proyectos que no llegaron a efectuarse&quot;. Y, por último, hubo también quienes se dedicarían al cine profesionalmente; a fondo, como Edgar Neville, o más pasajeramente y en diversas funciones, como Enrique Jardiel Poncela, Claudio de la Torre, Miguel Mihura, o Manuel Altolaguirre en el exilio. A pesar de que es algo que se da también por sabido, estamos faltos aún de trabajos sobre la actividad cinematográfica de varios de estos escritores (incluyendo ediciones críticas de ciertos guiones).[16]</p>
<p>  </p>
<p> Si entendemos el <u>humorismo</u> como un &quot;ismo&quot; más (además de como un rasgo reconocido)
de la vanguardia —y en especial de la vanguardia literaria española—, podríamos contemplar en este sentido algunos otros títulos curiosos en el período de la República y hasta en los primeros años de la dictadura de Franco, que firman (o en los que intervienen) algunos de los escritores ya mencionados.[17]</p>
<p>  </p>
<p> Llama en cambio la atención las pocas noticias que hay acerca de artistas plásticos que acariciaran la idea de acometer proyectos cinematográficos. Pues, con la relativa excepción de Dalí, hay poco más que referencias vagas acerca de proyectos o contactos de algunos artistas más: Picasso, Ramón Acín, Nicolás de Lekuona y Jorge Oteiza.[18]</p>
<p>  </p>
<p> Respecto a Dalí, contamos con referencias más o menos amplias sobre sus múltiples guiones y proyectos cinematográficos posteriores a su colaboración y divergencias con Buñuel: de <u>Babaou(o)</u>
(1932), el único que se conoce en estado de guión propiamente dicho, hasta <u>La carretilla de carne</u>
(ca. 1948-50) —un proyecto anunciado a voces y para el que se supone que Franco había concedido carta blanca a Dalí, quien retomaría literariamente el tema en su memorable ensayo paranoico-crítico sobre el Angelus de Millet—, y aún otros, pasando por frustradas colaboraciones con Harpo Marx y con Walt Disney. Los únicos que llegarían sin embargo a materializarse son el todavía misteriosamente inédito <u>L'aventure prodigieuse de la dentellière et du rhinocéros</u>
(rodado entre 1954-1961), en colaboración con Robert Descharnes, y el vídeo-film <u>Impressions de la Haute-Mongolie (Hommage à Raymond Roussel)</u>
(1975), co-realizado con José Montes-Baquer, músico y cineasta catalán afincado en Alemania.[19]</p>
<p>  </p>
<p> Por último, poco cabría esperar de los años más duros de la dictadura franquista, pero la relación de films &quot;excepcionales&quot; podría incrementarse al adentrarnos en la &quot;dimensión desconocida&quot; del cine español
(aún con algunos recodos impenetrables); aunque, en definitiva, en films que ni rompen ni rasgan nada y que más bien recrean un lenguaje clásico, en obras que no son lo que buscábamos pero son las que encontramos.[20] Ya como pura curiosidad, puede además mencionarse <u>Visión fantástica</u> (1957), inusitado subproducto de Eugène Deslaw —conocido, aunque menor, vanguardista transnacional de origen ucraniano—; un poco distinguido experimento de &quot;Negavisión&quot; a partir de materiales del archivo de No-Do, lo que se traduce en una más bien anodina sucesión de imágenes en negativo o solarizadas (procesadas en un laboratorio suizo) que oscilan entre la &quot;España cañí&quot; y la del &quot;primer plan de desarrollo&quot;.</p>
<p>  </p>
<p>  </p>
<p> <u><b>(II-b) APARTE: Sobre José
Val del Omar</b></u></p>
<p>  </p>
<p> La obra cinematográfica de José
Val del Omar (Granada, 1904 - Madrid, 1982) constituye a mi modo de ver un caso aparte y extremadamente singular que enlaza la vanguardia histórica —de la cual vendría a ser su único continuador perseverante— con el cine experimental moderno, por la vigencia y la propia modernidad que ha retenido su obra.</p>
<p>  </p>
<p> Val del Omar entró en contacto con el cine en los primeros años veinte, realizando después múltiples films documentales en el marco de las actividades de las Misiones Pedagógicas de la República. Vizcaíno Casas, en su
<u>Diccionario del cine español</u>, lo retrata como un inventor: &quot;Imaginativo, fantástico e incomprendido como todos los inventores&quot;.[21] Efectivamente, desde 1928 iría &quot;alumbrando&quot; diversas invenciones y mejoras técnicas en el campo de lo audiovisual. Pero, sobre todo, Val del Omar es un gran inventor estético, lo que a partir de 1952, y hasta su muerte, se concretaría en una reducida serie de films laboriosamente realizados y de una originalidad y calidad indudables. Los dos cortometrajes que realizó en los años cincuenta concurrieron en su momento a diversos festivales importantes y obtuvieron diversos premios, pero su obra parecía haberse estancado ahí. Hoy sabemos que no fue así.</p>
<p>  </p>
<p> Contaré, como anécdota, que la primera referencia que de Val del Omar obtuve fue un escueto pero elogioso comentario en un libro del especialista norteamericano Amos Vogel.[22] Y, al ir a su encuentro junto con Manuel Palacio, nuestra sorpresa fue la de encontrarnos con un dinámico anciano que seguía trabajando pacientemente en lo que debería ser su testamento final
(por así decirlo), al parecer inconcluso cuando le sorprendió la muerte. Se trataría de un &quot;Tríptico Elemental&quot; en el que se reunirían tres cortometrajes, en orden inverso al de su realización: <u>De barro
(Acarinho galaico)</u>
(rodado en 1962 pero cuyo montaje no había aún concluido veinte años después), <u>Fuego en Castilla</u> (1958-59) y
<u>Aguaespejo granadino</u>
(1952-55). El conjunto respondería a un esquema que su autor venía a definir con estas palabras: &quot;una diagonal que cruza España: Galicia, tierra; Castilla, fuego; Granada, agua&quot;. Y el tríptico tendría además un apéndice o, como él lo llamaba, un &quot;vórtice&quot;, en un cuarto cortometraje en el que había estado trabajando en los
últimos años y que debía titularse <u>Ojala</u>, para el cual había ingeniado dispositivos que le permitían reunir múltiples imágenes en una sola, valiéndose de proyectores de todos los formatos, modificados y de velocidad regulable algunos de ellos, así como de diapositivas e imágenes de vídeo.</p>
<p>  </p>
<p> Denominaba Val del Omar a estos films &quot;elementales&quot; (por contraste con &quot;documentales&quot;), pero lo cierto es que son de una intrincada complejidad visual y sonora. <u>Aguaespejo granadino (o La gran siguiriya)</u> trata de &quot;transmitir poéticamente el amor místico que el autor siente por su tierra natal, Granada&quot;, y el agua constituye uno de sus motivos centrales. Val del Omar se sirvió de lentes de agua ingeniadas por él y acopladas al objetivo, así como de filtros polarizadores y cambios de velocidad, a fin de transfigurar algunas de sus imágenes y para crear secuencias como la de la danza acuática de los surtidores de la Alhambra y el Generalife, coreografiando sus chorros al compás flamenco.</p>
<p>  </p>
<p> <u>Fuego en Castilla (Tactilvisión del paramo del espanto)</u>,
&quot;ensayo sonámbulo de visión táctil&quot;, gira en torno a Valladolid, sus procesiones de Semana Santa y las esculturas y tallas de su Museo de Escultura Religiosa. Tras una secuencia perfectamente documental, el autor introduce elementos chocantes o surrealistas, y la parte principal del film está constituida por la magistral aplicación de sus técnicas de &quot;visión táctil&quot; (o
&quot;iluminación pulsatoria táctil&quot;) a una especie de animación cinética de la piedra o madera esculpida de las obras de Juan de Juni, Berruguete, Mena y otros, que se conservan en el mencionado museo.</p>
<p>  </p>
<p> Val del Omar había previsto asimismo incorporar en la proyección de estos films otras de sus técnicas (lo que había ya ensayado en alguna ocasión); en concreto, el &quot;desbordamiento apanorámico de la imagen&quot;
(proyección de imágenes abstractas que enmarcarían los films propiamente dichos y que, mediante lentes especiales acopladas al proyector, se desbordarían por el techo, paredes y suelo de la sala), y el &quot;sonido diafónico&quot; (cruce/choque de bandas de sonido autónomas, mediante la distribución espacial de los distintos canales y altavoces detrás de la pantalla y detrás del público espectador).</p>
<p>  </p>
<p> Val del Omar es en definitiva la gran figura largo tiempo ignorada de la vanguardia histórica española, y un experimentador muy completo, en tanto que se ocupa del mismo fundamento tecnológico de los medios con que trabaja y manteniéndose perfectamente al dia, lo que le conduce además a la investigación electroacústica del sonido, a los sistemas electrónicos de la TV y el vídeo, y al láser. Y sin embargo, su aportación sigue mayormente sumida en una incógnita que ya va siendo hora de empezar a despejar.[23]</p>
<p>  </p>
<p>  </p>
<p> <u><b>(III) ¿DONDE ESTA EL FRENTE?</b></u></p>
<p>  </p>
<p> Quiero ahora recapitular algunos de los aspectos que se derivan del anterior y somero repaso de aquel primer período, para extraer a su vez unas constantes y contrastes con los otros dos tiempos de mi esquema. Para atarlos entre sí, pese a su misma separación por la norma de la aventura aislada, la interrupción y la discontinuidad que se apunta ya de buen principio.
Y, finalmente, para reintroducir la cuestión del fin y fracaso del cine experimental en España desde mi punto de vista actual.</p>
<p>  </p>
<p> En primer lugar, los rastros de la vanguardia en el cine español (y en el interés de artistas e intelectuales por el cine) en los años veinte y treinta son, aunque relativamente leves, una consecuencia lógica de un clima cultural atento a los aires y al alcance de los movimientos artísticos renovadores que se dan en toda europa. No hay que olvidar que el Manifiesto del Futurismo de F.T. Marinetti se publica en primera plana del diario francés &quot;Le Figaro&quot; en febrero de 1909, y el mismo año en España en la revista &quot;Prometeo&quot; (que al año siguiente publica asimismo las &quot;Proclama[s] futurista[s] a los españoles&quot; de Gómez de la Serna y el propio Marinetti). Se puede observar al respecto una pronta sintonía con los fenómenos contemporáneos externos a la cultura española, aunque partiendo de una situación preexistente disociable de la europea, y verificándose, por tanto, por &quot;emulación&quot;.[24] Por fortuna, contamos ya con muy buenos trabajos sobre la penetración y los inicios del arte de vanguardia en España (incluida la literatura, de tanta relevancia en el aspecto que aquí nos compete), en base a los cuales contextualizar adecuadamente el reducido balance de sus manifestaciones cinematográficas. Aquí me interesa recalcar
únicamente que sí puede decirse que hubo en el aire unas inquietudes que alcanzan también al cine.</p>
<p>  </p>
<p> Se pueden entrever sin embargo dos actitudes: una que pretende incidir en un contexto industrial de producción cinematográfica que es sabidamente pobre (por no decir inexistente), y una segunda que parte de otras prácticas artísticas y de otros cauces (básicamente diría que la literatura y los cineclubs, respectivamente), como sucede igualmente en los principales países en que sí brota una importante producción experimental. Es la diferencia que va, para citar un par de nombres, de la inscripción industrial que buscan y no logran los films del arquitecto Sobrevila, al contexto del que parten los de Giménez Caballero y los proyectos irrealizados que se conocen de otros escritores o artistas. Me pregunto si podrían distinguirse incluso dos ámbitos distintos de actuación.[25] En cualquier caso, dicha distinción se agudizaría en períodos sucesivos y sería la fuente de diversos equívocos en torno a la noción de vanguardia en relación al cine, tal como sucede con la fama que tiene aún la Escuela de Barcelona, que en mi opinión representa una vanguardia sólo en relación a lo que es la media del Nuevo Cine Español en los sesentas; un intento de ponerse a la altura formal de otros &quot;nuevos cines&quot; o &quot;nuevas olas&quot; que llegaban de afuera.[26]</p>
<p>  </p>
<p> La correlación entre la fragilidad congénita de la industria cinematográfica española y las escasas manifestaciones de vanguardia ha sido ya advertida por todos cuantos nos hemos ocupado del tema. Ciñéndose a la segunda mitad de los años veinte, Román Gubern (<u>Art.
Cit.)</u> ha cifrado en ello una de las causas de la ausencia (según él) de &quot;auténticas obras de vanguardia&quot; en dicho período, añadiendo aún otras dos: la falta de una burguesía cultivada, suficientemente adulta y potente como para constituirse en destinaria y hasta en fuente de mecenazgo financiero de la producción de vanguardia; y, <u>last but not least</u>, en la severa censura de la época. De hecho, con sus más y sus menos, dichos argumentos serían asimismo aplicables a los períodos posteriores: no hay una necesidad de cine experimental porque ya las hay mucho más perentorias en la misma industria (y son también las que cuentan para los organismos competentes); el mecenas a lo Vizconde de Noailles aparece muy tarde (y además no sé si es lo mismo si se llama Huarte), aunque contar con un patrimonio familiar mínimamente saneado ha podido ser también de ayuda; cuando la censura desaparece el último cine experimental está a punto ya de entrar en su declive (y los formatos subprofesionales conllevan además una forma de censura de la que la Administración y la industria han sido cómplices).</p>
<p>  </p>
<p> Gubern llega en el mismo artículo a la conclusión de que los planteamientos de vanguardia no llegaron realmente a calar entre los profesionales del cine en la década de los veinte —de reconocida significación en la historia del cine experimental—, con la ya sabida excepción de Buñuel, que emprende su trayectoria en Francia. Sin embargo, creo que eso no resulta tan relevante si tenemos en cuenta que la gran mayoría de los grandes nombres del cine de vanguardia/experimental a escala mundial no han sido &quot;profesionales del cine&quot; en el sentido en que se maneja usualmente el término; tanto si su celebridad se debe a su actividad simultánea en otros campos artísticos, como si su práctica se ciñe más estrictamente al medio fílmico
(generalmente, en un ámbito <u>independiente</u>).</p>
<p>  </p>
<p> Ciertamente, esa especie de cineasta a la que los anglosajones han denominado diversamente (<u>film artist</u> o <u>film poet</u>, <u>filmmaker</u> o simplemente &quot;independiente&quot;), o aquel que pudiéramos llamar el vanguardista o experimentalista puro, ha sido del todo infrecuente entre nosotros: Val del Omar estaría cerca de serlo en un sentido muy amplio —pues su experimentación abarca la tecnología misma—, aunque quizás a su pesar (pues sus invenciones, incluyendo las más descabelladas, van dirigidas utópicamente a la industria y a su progreso técnico-artístico); Adolfo Arrieta sería otro posible candidato al título, pero es significativo el que haya desarrollado la mayor parte de su obra en Francia y que sea también muy apreciado en los círculos de vanguardia neoyorquinos. En general, entre nosotros el cine experimental ha sido obra tanto de cineastas profesionales o aspirantes a serlo, como de artistas plásticos, escritores y músicos. Ello, unido a las dificultades de hacer cine y a las carencias estructurales que pudieran permitir circuitos alternativos, hace que sea fácil hablar de diletantes y de malditos, cuando no, simplemente, de &quot;veleidades vanguardistas momentáneas&quot; en la trayectoria de algunos realizadores.</p>
<p>  </p>
<p> Si, como ya he apuntado, el cine experimental se ha nutrido en buena parte de las aportaciones de artistas ajenos al cine como profesión, en especial artistas plásticos, la aportación de las vanguardias artísticas ha sido sin embargo comparativamente escasa en nuestro caso. Mi examen del período de la vanguardia histórica parece sentar en este sentido un precedente falso, pues me atrevería a decir que son muy pocos los artistas españoles que hayan manifestado interés por el cine, y aún menos por el sendero de lo experimental. (Por ejemplo, alguien como Tápies, cuya afición por el cine es conocida, es de ideas harto tradicionales al respecto). También en este sentido, la excepción es la regla.</p>
<p>  </p>
<p> Me parece también muy significativo el hecho de que varios de los primeros intentos cinematográficos en los que se puede presumir una incidencia de las ideas estéticas de vanguardia, se enraizen en la vanguardia literaria española de los años diez y veinte. &quot;Todo eran aledaños de la literatura&quot;, como dijo Giménez Caballero.[27] Como es sabido, también Buñuel iba para escritor; mientras que de Dalí, además de tener en cuenta asimismo su abundante producción escrita, puede decirse que es un pintor muy &quot;literario&quot;. En este sentido, no es nada sorprendente la virtual ausencia de cine abstracto (salvo en algún que otro ingenuista producto amateur), por contraste con lo que sería contemporáneamente una de las corrientes principales de la vanguardia histórica en otros países. Para Francisco Aranda (<u>Op.
Cit.</u>) sería una peculiaridad propia del hipotético cine de vanguardia español: incapaz &quot;de crear ni una obra que no trabajase sobre lo concreto, que no se apartase de la realidad cotidiana sino en situación de emergencia&quot;. (Y añade: &quot;No olvidemos que así
fueron también nuestros mejores poetas y Goya y Picasso en sus grabados&quot;). También el nuevo cine independiente que aparece en los sesentas, aunque realmente <u>underground</u> por su virtual clandestinidad, es en su mayoría un cine muy apegado a la narración y la ficción, a la figuración y la representación
(como lo es hoy el submundo del cortometraje, cuando es visible). Por lo demás, ejemplos de un cine abstracto absoluto casi únicamente los hallamos en algunas obras insertadas en una tradición estética constructivista y abstracto-expresionista del arte vasco contemporáneo (De Vargas, Sistiaga, Aguirre, Bakedano, más recientemente algunos cortometrajes y vídeos de Gerardo Armesto).[28]</p>
<p>  </p>
<p> En relación a lo observado en el período de la IIª República, respecto al hipotético cauce de continuidad de la vanguardia en el documentalismo, probablemente sería más justo hablar de la función que tiene para algunos como escuela o iniciación, tanto en el arte como en el oficio cinematográfico. Pero hay que considerar que dicho documentalismo está casi siempre atenazado por su condición de producción de encargo; y, de los nombres en su momento citados, sólo Val del Omar cumple un muy relevante papel en el cine experimental español. En
épocas posteriores, el documental habría cumplido una función similar para otros realizadores con inquietudes vanguardistas (Javier Aguirre o Jordi Grau, por ejemplo), mientras que, de manera un tanto similar a lo que ocurre ante la situación de crisis social que se vive en los años treinta, en los años postreros del franquismo muchos ya no están para &quot;experimentos&quot;, y el lugar de la vanguardia lo ocupará así efectivamente un cine documental, y concretamente <u>militante</u>.
Pero, en definitiva, el cine documental español ha estado bastante alejado de otros presupuestos vanguardistas, salvo también por algunas obras &quot;excepcionales&quot; en su mismo ámbito.[29]</p>
<p>  </p>
<p> Hora es de resaltar que el período de la vanguardia histórica no habría ejercido prácticamente ninguna influencia o servido de modelo en la aparición de otras manifestaciones posteriores. Se podría especular sobre la influencia del Surrealismo español en su conjunto, y de Buñuel más en particular, pero sería introducirse en terrenos muy difusos que abarcan principalmente el cine narrativo al uso, tanto si es de producción comercial como independiente, aunque también el documental (por el lado brutalista del Buñuel de <u>Las Hurdes</u>). Por otro lado, he dicho antes que veo en Val del Omar un enlace entre la vanguardia histórica y el cine experimental en su concepción moderna, pero lo cierto es que difícilmente podría haber existido una influencia de su parte, dada la invisibilidad en que pronto quedó sumida su obra, y dada su misma posición excéntrica. Quizá sí debe en cambio considerarse el papel en este sentido más decisivo de determinadas personalidades cuyo nombre va unido asimismo al resurgir de las vanguardias artísticas en la postguerra; en concreto, Jorge Oteiza en Euskadi y Joan Brossa en Cataluña.[30] Por lo demás, las influencias reconocidas o no de otros realizadores vendrían de devociones muy personales (como la de Arrieta por Cocteau), o de impactos más generalizados: Godard sobre todo, Warhol más bien de oídas,... En cuanto al <u>underground</u> y post-<u>underground</u> norteamericano, y sus irradiaciones europeas, su influencia se dejará
sentir principalmente en el último período —aunque también antes en los films de Joan y Oriol Durán y de Iván Zulueta—, lo que yo atribuiría a la proyección que empieza a tener a mediados de los setenta (Filmoteca Nacional, Instituto Alemán, etc.) y a la emergencia de una nueva generación, la mía, manejando ya los medios más disminuidos y precarios.</p>
<p>  </p>
<p> Para concluir aún, yo afirmo ahora el fin y fracaso del cine experimental. Fracaso estructural, precisaría, a no confundir con el estético. Y fin, porque se ha ido de manera creciente a otra cosa; a otras historias. Hay que congratularse de que cineastas como Portabella, Padrós, Zulueta, Arrieta hayan logrado reanudar, sea en la gran o en la pequeña pantalla, una trayectoria más o menos prolongadamente interrumpida.
Aguirre, por su parte, ha emprendido un nuevo rumbo a partir de <u>Vida Perra</u> (1981). Sistiaga ha hecho y está haciendo nuevas incursiones en el medio fílmico desde su práctica de la pintura. De mi tiempo, Almodóvar ha logrado el éxito (y más) que ya le anticipábamos con sus superochos. José
Luis Guerín hizo un bien recibido debut y sigue con su particular empeño: tras los pasos de Bresson y su &quot;cinematógrafo&quot;.
Otros nos movemos en el terreno del vídeo y, eventualmente de la TV, incluyendo a Eugènia Balcells, Manuel Huerga, Juan Bufill, Carles Comas, Manuel Muntaner, Xavier Villaverde, José Ramón Da Cruz y aún otros; sin que varios de los mencionados hayan dicho adiós a nuevas realizaciones o intentos cinematográficos, sino todo lo contrario.
Pero, en conjunto, diría que no hay ya motivo para hablar de cine experimental. Si acaso de <u>cine excepcional</u> (que designaríamos así por motivos muy distintos, pero emplazado ya casi siempre en un supuesto contexto normal: profesional/industrial). Si acaso también de <u>vídeo experimental</u> (pero usualmente se habla de &quot;vídeo de creación&quot; u otras expresiones no menos controvertidas); o bien, como he propuesto en alguna otra ocasión, de <u>audiovisualismo</u>: sólo recelos testarudos, ignorancias recíprocas, pobres lugares comunes —como el de entender el vídeo como un medio disminuido, o la TV como un mal menor—, impiden ver la continuidad para la que ahí sí podría haber lugar, del cine al vídeo y viceversa (aunque más difícilmente lo último).</p>
<p>  </p>
<p> La historia puede convertirse en una losa. Tratando de desembarazarme de la sempiterna hipótesis del cine experimental español mediante su relativización y trasvase a la noción de lo <u>excepcional</u>, siento que se produce una pérdida en el lenguaje común (fastidioso y equívoco, pero aún a veces útil) que sólo desde la interpretación del pasado, del presente y de las profecías, logramos sustituir a nuestro propio placer. De otra manera, el resultado será un paisaje de la confusión: ¿Dónde está (hoy) el frente? (sea vanguardia o avanzadilla, sea posvanguardia o transvanguardia, neo-neo... o preludio de lo que esté por venir). Me inclino ahora a pensar que, aquí y ahora —si no también en un indefinido &quot;allí&quot; y más tarde o más temprano—, la perspectiva de un cine <u>ex-perimental</u>
(proyectos de futuro, hipótesis acerca del pasado) se ha cerrado definitivamente. No existe la necesidad, ni existen las posibilidades. Y, si dicho epíteto reaparece aún de vez en cuando a propósito de la renovación del fondo de rarezas u obras malditas del cine español, será casi siempre como consecuencia de un error... ¿genético?</p>
<p>  </p>
<p> EUGENI BONET</p>
<p> Barcelona, diciembre 1989-enero 1990</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p> <b>NOTAS:</b></p>
<p>  </p>
<p> 1	Dominique Noguez, <u>Éloge du cinéma expérimental</u>, Musée National d'Art Moderne/Centre Georges Pompidou, París, 1979</p>
<p>  </p>
<p> 2	Nótese, por ejemplo, que los surrealistas detestaban más bien el cine absoluto alemán (Eggeling, Ruttmann, el primer Richter), así como los films de los autores adscritos al llamado Impresionismo cinematográfico, (Epstein, L'Herbier, Gance), y su derivación en el &quot;cine integral&quot;
(Dulac) o &quot;cine puro&quot; (Chomette), por no hablar de las incursiones de Dulac y Cocteau en su propio dominio, a las que dedicaron los máximos insultos.</p>
<p>  </p>
<p> 3	En cualquier caso, y para concretar, en lo que al cine experimental español se refiere, puede decirse que se encuentra representado sólo en una ínfima proporción entre los fondos de la Filmoteca Española.</p>
<p>  </p>
<p> 4	Editorial de la Universidad Complutense, Madrid, 1983. Edición bilingüe en castellano/inglés.
(Deliberadamente, decidimos que el título fuera sencillamente <u>The Avant-Garde Film in Spain</u> en la versión inglesa del texto. De manera análoga, la muestra retrospectiva que motivó nuestro estudio, presentada en el Musée National d'Art Moderne del Centro Pompidou de París en 1982, y a la que dicha publicación debía de acompañar, llevó por título
<u>Cinéma d'Avant-Garde en Espagne: Une Anthologie</u>.
Con algunas variantes, la muestra circuló posteriormente por las filmotecas de Madrid, Zaragoza y Barcelona, con el enunciado <u>Práctica fílmica y vanguardia artística...</u> como título).</p>
<p>  </p>
<p> 5	Del importante texto de Peter Wollen, &quot;Las dos vanguardias&quot; (publicado originalmente en 1975), hay traducción castellana en el volumen <u>Los años que conmovieron al cinema (Las rupturas del 68)</u>, al cuidado de Julio Pérez Perucha, Filmoteca de la Generalitat Valenciana, Valencia, 1988. Entre otras visiones del panorama del cine experimental en tiempos de crisis, destacaría (aunque referidos muy específicamente al panorama norteamericano) los artículos &quot;The Last of the Last Machine?: Avant-Garde Film Since 1966&quot;, de Paul Arthur, y &quot;The End of Avant-Garde Film&quot;, de Fred Camper, ambos en el número especial 16/17/18 de la revista <u>Millennium Film Journal</u>, Nueva York, otoño-invierno 1986-87.</p>
<p>  </p>
<p> 6	Manipulado de la &quot;Introducción&quot; de Jaime Brihuega a <u>Manifiestos, proclamas, panfletos y textos doctrinales (Las vanguardias artísticas en España, 1910-1931</u>, Ed. Cátedra, Madrid, 1979. (Gracias a Carles Hac Mor por mostrarme la aplicación del método &quot;apropiacionista&quot;).</p>
<p>  </p>
<p> 7	Juan Antonio Cabero, <u>Historia de la Cinematografía Española (1896-1948)</u>, Gráficas Cinema, Madrid, 1949</p>
<p>  </p>
<p> 8	Para referencias más concretas, véase: Román Gubern, &quot;L'avant-garde cinématographique à
l'Espagne (1926-1930)&quot;, en <u>Les Cahiers de la Cinémathèque</u>, núm. 30-31, Perpignan, verano-otoño 1980; y Eugeni Bonet/Manuel Palacio, <u>Op. Cit.</u> Sobre el film de Micón nos queda el testimonio, en forma de transcripción de su planificación en visionado en moviola, de Manuel Rotellar (inédito), y la versión publicada por Francisco Aranda en la revista portuguesa <u>Visor</u>, núm. 3, febrero 1958.</p>
<p>  </p>
<p> 9	Sobre la figura de Sobrevila hay que destacar el librito de José María Unsain, <u>Nemesio Sobrevila, peliculero bilbaino</u>, Euskadiko Filmategia/Filmoteca Vasca, San Sebastián, 1988; y las páginas que le dedica la obra de Santos Zunzunegui, <u>El cine en el País Vasco</u>, Diputación Foral de Vizcaya, Bilbao, 1985.</p>
<p>  </p>
<p> 10	Ernesto Giménez Caballero, <u>Memorias de un dictador</u>, Ed. Planeta, Barcelona, 1979.</p>
<p>  </p>
<p> 11	Juan Tobar, &quot;Diálogo con GeCé sobre muchas cosas del cine&quot;, en <u>Primer Plano</u> [desconozco el número y la fecha exacta de publicación por citar de un recorte].
Dicha revista era dirigida a la sazón por Rafael García Serrano, lo que motiva la alusión de G.C.</p>
<p>  </p>
<p> 12	Entre ellos cabría incluir los siguientes: <u>Ensueño</u>
(1931), de Román; <u>Infinitos</u>
(1935), de Velo y Mantilla; <u>Cinco minutos de españolada</u>
(1935), de Gil y Menéndez Pidal (de los mismos autores se tiene noticia de un curioso proyecto minimalista del mismo año, con el título de <u>Cinco mil metros de calle</u>). De Val del Omar me ocupo más adelante. Véase además la nota número 17.</p>
<p>  </p>
<p> 13	&quot;Luis Buñuel&quot;, artículo recogido en: <u>El cinema de Carlos Serrano de Osma</u>, al cuidado de Julio Pérez Perucha, XXVIII Semana Internacional de Cine de Valladolid, 1983.</p>
<p>  </p>
<p> 14	Francisco Aranda había de recurrir sin embargo al cine amateur para acabar de llenar las escasas páginas de su librito <u>Cinema de Vanguardia en España</u>, Guimaraes Editores, Lisboa, 1953. Como también José López Clemente en el capítulo que dedicara a &quot;El film experimental de España&quot; en su libro <u>Cine documental español</u>, Rialp, Madrid, 1960.</p>
<p>  </p>
<p> 15	Carlos y David Perez Merinero
(Eds.), <u>En pos del Cinema</u>, Anagrama, Barcelona, 1974. C.B.
Morris, <u>This Loving Darkness: The Cinema and Spanish Writers 1920-1936</u>, University of Hull/Oxford University Press, 1980. <u>Poesía</u>, núm. 22 (&quot;El cine&quot;), Ministerio de Cultura, Madrid, invierno 1984.</p>
<p>  </p>
<p> 16	El guión de García Lorca
<u>Viaje a la Luna</u>
(1930), antaño sólo disponible en raras ediciones (en inglés la primera), se incorporó finalmente a la nueva edición de sus Obras Completas (Ed. Espasa-Calpe), mientras que Antonina Rodrigo ha dado noticia de otros proyectos y vinculaciones de Lorca con el cine (&quot;La historia del tesoro, según Lorca&quot;, en <u>El País</u>, domingo 20 de marzo de 1983, p. 30). En cambio, pese a la literatura generada en los últimos años en torno a Ramón Gómez de la Serna, se echa en falta un estudio ceñido a su relación con el cine y la pertinente edición de sus guiones (incluyendo los publicados en francés con el título de &quot;Chiffres&quot;, en <u>La Revue du Cinéma</u>, núm.
9, París, 1930; así como &quot;El entierro del Stradivarius&quot;, cuyo manuscrito se conserva en la Biblioteca del Cinema Delmiro de Caralt de Barcelona). Y, entre otras carencias que podrían apuntarse, ya Román Gubern señaló hace años que &quot;la contribución de Jardiel Poncela al cine español merecería un estudio que todavía no se ha realizado&quot; (cfr. <u>El cine sonoro en la IIª República, 1929-1936</u>, Ed. Lumen, Barcelona, 1977).</p>
<p>  </p>
<p> 17	Aunque lamentablemente, de entre tales films, los únicos que podemos realmente hoy contemplar son el breve y primitivista <u>El orador</u> (ca. 1931) —un monólogo de Ramón Gómez de la Serna ante la cámara (¿de Giménez Caballero?)—y la muy discreta serie <u>Una de fieras</u>, <u>Una de miedo</u>, <u>Y ahora, una de ladrones</u>]
(1934-35), de Eduardo García Maroto y diálogos de Miguel Mihura. De manera similar, los primeros cortos de Neville, y en especial su(s)
<u>Falso(s) Noticiario(s)</u>
(1933), han sido eventualmente cualificados de &quot;experimentales&quot;
(cfr. Manuel Rotellar, <u>Cine español de la República</u>, XXV Festival Internacional de Cine de San Sebastián, 1977), mientras que Francisco Aranda incluye (<u>Op.
Cit.</u>) dos singulares largometrajes de 1940: <u>Un bigote para dos</u>, de Tono (Antonio de Lara) y Mihura, y <u>Mauricio o una víctima del vicio</u>, de Jardiel Poncela —con precedentes en los <u>Celuloides cómicos</u> (1936-38) de este último, en todo caso—, ambos producto de la manipulación burlesca de viejos films de producción y autoría ajena. (¿Podríamos ver en ellos una premonición de las tácticas empleadas por los Situacionistas franceses en los años 50/60, aunque con intenciones radicalmente opuestas, o incluso de la reivindicación postmoderna de la &quot;apropiación&quot; como práctica artística?)</p>
<p>  </p>
<p> 18	A partir de un escrito de Kahnweiller, Standish D. Lawder ha apuntado la hipótesis de que Picasso habría acariciado hacia 1912 &quot;la idea de utilizar el film para la representación del movimiento&quot; (<u>The Cubist Cinema</u>, New York University Press, New York, 1975). De Ramón Acín, se ha reeditado recientemente en facsímil <u>Las corridas de toros en 1970</u>
(Diputación Provincial de Huesca, 1988), y la secuencia de caricaturas que integran aquellos &quot;estudios para una película cómica&quot; ha sido además objeto de una respetuosa versión animada en vídeo por Emilio Casanova e Isabel Biscarri. Santos Zunzunegui (<u>Op.Cit.</u>)
y Adelina Moya (<u>Nicolás de Lekuona/Obra Fotográfica</u>, Museo de Bellas Artes, Bilbao, 1982) dan referencia de un primer y fugaz contacto de Lekuona y Oteiza con el cine, en 1934; de los proyectos fílmicos que Lekuona dejó apuntados (llegando a esbozar apenas el llamado &quot;Primer guión para Las cosas solas&quot;); y de unas declaraciones de Oteiza acerca de los &quot;proyectos [de ambos] sobre un cine vasco&quot;.</p>
<p>  </p>
<p> 19	El trabajo más completo que conozco sobre Dalí y el cine es el artículo de James Bigwood,
&quot;Cinquante ans de cinéma dalinien&quot;, en <u>Salvador Dalí, rétrospective 1920-1980</u>, Musée National d'Art Moderne/Centre Georges Pompidou, París, 1979.
Pueden también tenerse en cuenta los siguientes: Luis Revenga,
&quot;Imágenes de un enigma&quot;, en <u>400 Obras de Salvador Dalí, 1914-1983</u>, Ministerio de Cultura/Generalitat de Catalunya, 1983; Julio Pérez Perucha, &quot;Dalí y el cinema: una relación frustrada&quot;, en
<u>Contracampo</u>, núm. 33, Madrid, verano-otoño 1983 (donde se recogen también varios textos del propio Dalí); y Marcelo Noria, &quot;El cine de Dalí&quot;, en <u>Sal Común</u>, núm. 30-31, Barcelona, verano 1980.</p>
<p>  </p>
<p> 20	Pienso en la admiración que han despertado, en su revisión o recuperación en años pasados, diversas obras más o menos singulares, como <u>Embrujo</u>
(1947), de Carlos Serrano de Osma; <u>La corona negra</u> (1950), de Luís Saslavsky (con invocación a Cocteau como autor del argumento); <u>Parsifal</u>
(1951), de Daniel Mangrané y Serrano de Osma. Un caso distinto es el de <u>Vida en sombras</u>
(1948), el único esfuerzo profesional del &quot;amateur&quot; Llorenç Llobet-Gracia (que desde luego no tiene nada de obra de vanguardia, pero que se diría que ha sido aupada, e incluso diría que sobrevalorada, entre las mejores de la historia del cine español por su misma &quot;excepcionalidad&quot;). Otro título con fama de
&quot;raro&quot; y que permanece (que yo sepa) invisible es <u>Manico mio</u> (1953), la opera prima de Fernando Fernán Gómez, en colaboración con Luis M.
Delgado (y parcialmente basada, por cierto, en un relato de Ramón Gómez de la Serna).</p>
<p>  </p>
<p> 21	Fernando Vizcaíno Casas, <u>Diccionario del cine español, 1896-1968</u>, Ed. Nacional, Madrid, 1970. La principal fuente de datos biográficos actualmente es en todo caso la semblanza que de su padre ha hecho María José Val del Omar: &quot;Val del Omar, Renacimiento&quot;, en
<u>Procesos (Cultura y Nuevas Tecnologías)</u>, Ministerio de Cultura, Madrid, 1986.</p>
<p>  </p>
<p> 22	Amos Vogel, <u>Film as a Subversive Art</u>, Random House, Nueva York, 1974.</p>
<p>  </p>
<p> 23	La joven Filmoteca de Andalucia ha anunciado recientemente su propósito de ocuparse de la investigación y recuperación de la obra de Val del Omar.</p>
<p>  </p>
<p> 24	Un concepto que ha subrayado en sus análisis Jaime Brihuega: <u>Op.
Cit.</u>, y <u>Las vanguardias artísticas en España, 1909-1936</u>, Ed. Istmo, Madrid, 1981.</p>
<p>  </p>
<p> 25	Sabemos que Giménez Caballero llevó los films de Sobrevila al Congreso del Cine Independiente de Bruselas de 1930, pero no sabemos gran cosa sobre los contactos que pudieran tener Micón, el mismo Sobrevila o Val del Omar con el núcleo catalizador de La Gaceta y el Cineclub Español.</p>
<p>  </p>
<p> 26	No meto sin embargo en el mismo saco a Pere Portabella o al Ricard Bofill de <u>Esquizo</u>
(1970), exponentes en cierto modo ya disociados de la episódica
&quot;escuela&quot; y que sí aportan algunas de las obras de vanguardia más estimables que se hayan producido en Cataluña.</p>
<p>  </p>
<p> 27	Manuel Palacio, &quot;Entrevista con Ernesto Giménez Caballero&quot;, en <u>Contracampo</u>, núm. 31, nov.-dic. 1982.</p>
<p>  </p>
<p> 28	Sin embargo, una obra como
<u>Vampir-Cuadecuc</u>
(1970), de Pere Portabella y Joan Brossa, podría considerarse también como exponente de una concepción distinta y más moderna del cine abstracto; en el <u>beyond</u> que estudia el británico Malcolm Le Grice en su libro <u>Abstract Film and beyond</u>, Studio Vista, Londres, 1977.</p>
<p>  </p>
<p> 29	Entre las que apuntaría —por mencionar algunos títulos y nombres— algunos documentales de Portabella, Aguirre, Artero, Basterretxea y Larruquert; <u>Cada/ver/es</u>
(1981), de Angel García del Val, o <u>Animación en la sala de espera</u>
(1981), de Carlos Rodríguez Sanz y Manuel Coronado.</p>
<p>  </p>
<p> 30	Sobre Oteiza puede consultarse el libro de Santos Zunzunegui ya mencionado, así como los escritos cinematográficos que se recogen en el catálogo <u>Oteiza: Propósito Experimental</u>, Fundació Caixa de Pensions, Barcelona, 1988. La influencia de Oteiza se concretaría en obras de Aguirre, Basterretxea, José Angel Rebolledo (<u>Arriluce</u>, 1974), y de otros artistas vascos, como José Antonio Sistiaga, vinculados a él en uno u otro momento. El interés que Brossa ha sentido de siempre por el cine es también sabido. En 1948 escribió
dos guiones, de los que sólo el primero está publicado, que yo sepa: &quot;Gart&quot;, en: Joan Brossa, <u>Vivàrium</u>, Edicions 62, Barcelona, 1972. La influencia de Brossa se concretaría sobre todo en su colaboración con Portabella (que a su vez influiría en otros autores), así como en los films de Carles Santos, por no hablar del reciente y decepcionante trabajo de Manuel Cussó-Ferrer, <u>Entreacte</u>
(1989).  </p> </body> </html>