  <p> <b>Cinema i video experimental i d'artistes a Catalunya (un megamix)</b></p>
<p>  </p>
<p>  </p>
<p> Utilitzaré sense manies algunes de les expressions i denominacions que han rebut els &quot;altres cinemes&quot;: cinema d'avantguarda, experimental, independent, alternatiu, personal, d'artistes, etc., als que caldria afegir-hi el vídeo (vídeo-art o vídeo d'artistes, de creació, d'autor, independent, alternatiu,... i un altre etcètera). El meu propòsit
és el de referir-me a algunes de les seves manifestacions entre nosaltres, i no pas el de posar-me a discutir les idees rebudes o preconcebudes que hom pot tenir en un petit pais com el nostre, on aitals conceptes no han arrelat o penetrat prou, bé que tampoc ens siguin del tot aliens. Així, potser em cal d'entrada aclarir dues o tres idees, però sense entretenir-m'hi gaire.</p>
<p>  </p>
<p> Per exemple, és fàcil de veure que hi ha una estreta relació entre els dos conceptes principals que manejo en el títol: cinema <i>experimental</i> l'han fet, molt sovint, <i>artistes</i>
(plàstics o visuals, però també músics, poetes, fotògrafs... i, per descomptat, cineastes). I si, originalment, el cinema d'avantguarda (expressió si fa no fa sinònima) és, força <i>strictu sensu</i>, el dels artistes dits <i>d'avantguarda</i>
—però també el de cineastes afins a, o contagiats per, les avantguardes artístiques del seu temps—, successivament esdevindrà
una forma artística més i més autòctona (com també ho serà en relació a les formes cinematogràfiques hegemòniques). Els artistes esdevindran creixentment <i>cineastes</i>, però no necessàriament professionals del cinema (això comença ja a succeir amb Hans Richter, Oskar Fischinger o Len Lye).</p>
<p>  </p>
<p> De manera que el cinema experimental o d'avantguarda serà en primer lloc una recerca o intrusió en el suport i el llenguatge del cinema, mentre que el cinema d'artistes, que neix (o almenys creix) bàsicament amb les noves actituds artístiques dels anys 60/70, seria més aviat un testimoni, reflex o registre d'una creació efímera, una idea, un projecte, un procés, un acte (acció, happening, ambient, etc.); o també un component multimèdia. Sense ser exactament, però, un
&quot;portafoli&quot; de l'obra i/o l'artista, doncs d'això en diriem documental o film (o vídeo) d'art o sobre art. Aquestes discriminacions no impedeixen nogensmenys que el cinema experimental i el cinema d'artistes entrin de vegades en contacte, i també en conflicte, en coincidir en gran part en similars circuits i contextos
 —com museus i espais artístics en general—, així com davant d'audiències suposadament minoritàries.</p>
<p>  </p>
<p> Se m'ha acudit de caracteritzar aquest text com un &quot;megamix&quot;, en detenir-me a pensar en els punts que hauria de tractar, o almenys esmentar, d'acord amb el període abastat per aquesta publicació i amb les característiques de la mostra a la qual acompanya; ans també segons les pròpies del cinema (i el vídeo) alternatiu en el mateix lapse i lloc. El megamix consistirà doncs en saltar d'una cosa a una altra —aturant-m'hi més o menys—, tot cercant els punts d'enllaç o commutació que facin que un seguit de sons dissonants i discontinus procurin la impressió d'una certa harmonia, una certa unitat, que seria primer de tot la del(s) lloc(s) i el(s) temps que delimiten el barrija-barreja de les idees i actituds en el camp que em pertoca examinar.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Tinc una certa recança a l'hora de considerar com a primer exponent d'un cinema d'avantguarda o experimental a casa nostra, allò que nogensmenys més s'aproparia a ser-ho en el seu precís moment. Em refereixo a l'anomenada Escola de Barcelona (i als seus precedents, encontorns i derivacions), que més aviat caldria posar en relació amb l'emergència internacional de
&quot;noves onades&quot;, &quot;nous cinemes&quot;, &quot;cinemes joves&quot;; i, sobretot, amb el fenòmen i les circumstàncies més properes del Nuevo Cine Español, per comparació amb el qual —i amb l'atrotinat (neo)realisme que arrosseguen les seves principals fites— l'Escola de Barcelona sí que adquiriria una condició
contextual d'avantguarda.</p>
<p>  </p>
<p> De fet, en el programa de premises i intencions de l'Escola —segons el va fixar Joaquim Jordà (a la revista <i>Nuestro Cine</i>, núm. 61, 1967)— es formulava explícitament la voluntat de fer un cinema amb un &quot;caràcter experimental i avantguardista&quot;, amb una &quot;preocupació preponderantment formal, referida al camp de l'estructura de la imatge i de l'estructura de la narració&quot;.¨
Això es reflectiria sobretot als tres films, tots ells de 1966-1967, en que es fragmentà el projecte inicial de fer una mena de film-manifest col.lectiu: <i>Dante no es únicamente severo</i>, de Joaquim Jordà i Cinto Esteva, i els curts <i>Circles</i>, de Ricard Bofill, i <i>No compteu amb els dits</i>, de Pere Portabella, que es dissociaria però immediatament de la referida &quot;denominació d'orígen&quot;.</p>
<p>  </p>
<p> Ara bé, els films de l'Escola de Barcelona —i d'abans i després, al marge i al voltant de la seva efímera existència— burxaran no tant en l'estructura de la imatge, com en l'estructura de la narració (en el fons, respectant-ne prou els seus codis). És al capdavall un cinema força literari, encara que en molts casos es podria dir que ho és a la manera d'una literatura experimental. Com per exemple ho era, d'una manera molt particular, la de Gonzalo Suárez, que fornirà
l'argument de <i>Fata Morgana</i> (1966), de Vicente Aranda, i serà també a la base dels seus propis films en una primera etapa de la seva filmografia. També ho és, decididament, l'obra de Joan Brossa, i això es transmetrà
degudament en els quatre films que realitzarà Portabella amb la seva col.laboració. Hi ha endemés aquella cèlebre frase de Joaquim Jordà: &quot;Como no podemos hacer Victor Hugo, hacemos Mallarmé&quot;, tan il.lustrativa de l'esperit de l'Escola i de les circumstàncies en que sorgeix.</p>
<p>  </p>
<p> El manifest de l'Escola de Barcelona descriu endemés una sèrie de circumstàncies volgudes o forçades en les que haurà de desenvolupar-se l'intent de fer un cinema d'avantguarda: &quot;autofinançament i sistema cooperatiu de producció,... treball en equip amb un intercanvi constant de funcions,... utilització d'actors no professionals,... producció
realitzada d'esquena a la distribució,... [i], llevat d'escasses excepcions, formació no acadèmica ni professional&quot; dels seus autors. Així és com la trajectòria dels principals membres del grup confluiria en una segona escena: la del cinema independent, momentàniament també anomenat <i>underground</i>, que realment ho era en tant que es tractava d'una producció
virtualment clandestina i eventualment agosarada en determinats aspectes, però que no tenia gaire a veure amb els extremismes i les estructures alternatives a que havia donat lloc el New American Cinema, l’<i>underground</i>, i la seva projecció internacional. Endemés, el cinema independent seria un batibull de molt diverses aspiracions i propòsits, predominant-hi les narracions un xic abstruses, els exercicis d'estil i el documentalisme. En un marc tan divers, hi ha molts pocs noms i obres a recordar d'acord amb els criteris que em guien.</p>
<p>  </p>
<p> L'activitat de Pere Portabella és en aquest sentit tot un reflex del període que va de la gestació de l'Escola de Barcelona als temps de la transició política espanyola, tot passant pel cinema independent i la seva radicalització formal i política: primer, a través del seguit de col.laboracions amb Brossa que culminen en l'abstracció poètica, a la vegada que materialista, de <i>Vàmpir-Cuadecuc</i>
(1969-70), i en el fragmentat collage de metàfores sobre les ombres del franquisme que és <i>Umbracle</i>
(1970-72); després, a través d'un cinema militant i de crònica política. Endemés d'autoproduir-se els seus films, Portabella també
va produir circumstancialment els d'altres (entre ells, Carles Santos, col.laborador constant) i va animar en general l'escena catalana del cinema independent. Els anys 1968-1972 serien en tot cas el lustre daurat del cinema independent, i no hi mancarien les opcions més experimentalistes i transgressores: el minimalisme dels films de Santos (m'hi aturaré després), o els de Pere Joan Ventura, rodats en un únic pla; les ironies polítiques de Llorenç Soler; els films personals i psicodèlics dels germans Duran,...</p>
<p>  </p>
<p> Hi afegiré una obra tan singular com <i>Esquizo</i>
(1970), de Ricardo Bofill, José Agustín Goytisolo, Manuel Núñez Yanowsky, Carlos Ruiz de la Prada i Serena Vergano (és a dir, el Taller d'Arquitectura en la seva etapa més interdisciplinar i multimèdia): un film que combina diversos elements visuals i sonors, els quals oscil.len entre un llenguatge poètic i documental, en un atraient assaig sobre la bogeria i el llenguatge de l'inconscient (o, com ho expressa el subtítol de l'obra, &quot;una investigació
ficcional sobre l'arquitectura d'un cervell&quot;).</p>
<p>  </p>
<p> Hi afegiré així mateix l'heroica filmografia d'Antoni Padrós, que a partir d'un seguit de curts que podien semblar esparracades caricatures de l'Escola de Barcelona, aniria forjant un estil molt personal en els seus retaules expressionistes i plens d'ironia sobre una època de repressió i agitació, de dictadura i contracultura. I, ultrapassant també el període assenyalat abans, una obra com <i>Full blanc</i> (1974-77), de Manel Muntaner, inspirada per la lectura de Beckett.</p>
<p>  </p>
<p> Després del 1972, però, s'imposarà una altra opció que comportarà el retorn al documentalisme al servei de la informació política i de la noció
de cinema militant, com en el cas de Portabella i els seus immediats; o Llorenç Soler, que abjurà en aquell moment de molts dels seus films anteriors; o també Joaquim Jordà, que tornà a la realització
amb <i>Numax presenta</i>
(1979), crònica d'una lluita obrera; endemés dels grups i col.lectius com el Grup de Producció, la Cooperativa de Cinema Alternatiu, el Colectivo de Cine de Clase, entre altres, i amb la Central del Curt com a estructura de distribució.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Potser grinyola molt que tot seguit m'ocupi d'un aspecte tan diferent a l'anterior com és el del cinema (i vídeo) d'artistes, però en certa manera hi veig uns punts de partença i d'arribada semblants. De partença, en el sentit que pot entreveure's un mateix impuls que el que dóna lloc a l'emergència entre nosaltres d'un cinema independent, experimental o d'avantguarda (o que és pres com a tal en el seu temps i context). I d'arribada, perque el qüestionament conceptualista de la producció
artística, unit a la radicalització ideològica davant de la situació política, aconduirà en gran part a un replantejament sever de les activitats individuals (fins l'extrem de l'inacció) i les actituds col.lectives (fins l'extrem del debat continu). En el cas del cinema (i vídeo) d'artistes, això es trasllueix parcialment en les connotacions sociològiques o crítiques que prenen alguns treballs (ans també pel nombre minvant de realitzacions).</p>
<p>  </p>
<p> Però torno al punt de partença, que és en definitiva el de l'interès i l'apropament d'un cert nombre d'artistes cap al mitjà fílmic. Alguns noms els he esmentat ja: la influent personalitat de Joan Brossa (que ja el 1948 havia tractat de fer un film), un arquitecte tan &quot;artista&quot; com Ricardo Bofill, un pintor que esdevé cineasta com Antoni Padrós, o els germans Duran, en les realitzacions dels quals vull detenir-me un moment. I això, perque els films de Joan Duran Benet, un dels joves pintors que llavors emergien, i el seu germà Oriol, són força singulars en relació a les estètiques predominants en el seu moment
(final dels anys 60), per la seva proximitat a —i, entre nosaltres, anticipació de— una mena de cinema personal, vivencial, casolà, gairebé familiar, però ple de bigarraments i metàfores visuals, que s'havia desenvolupat principalment en el marc de l’<i>underground</i> nord-americà (Stan Brakhage, Ron Rice, per citar-ne només dos exponents); així com per que els Duran foren dels primers en treure-li suc experimental a uns mitjans en principi tan limitats com els dels petits formats de 8mm.</p>
<p>  </p>
<p>
És hora també de començar a parlar de vídeo i, pel que sembla, els germans Duran serien també
dels primers a haver experimentat amb aquest mitjà (tot i que de manera totalment ocasional); això l'any 1969, amb <i>Daedalus Video</i> i en el marc d'una projecció dels seus <i>Daedalus Films</i> i altres títols.
Formant també part d'aquesta nova generació que es donava a conèixer en la pintura i amb la inquietud d'explorar uns nous mitjans, Àngel Jové realitzà <i>After</i>
(1969-70) en 8mm, al mig de la projecció del qual hi feia una petita performance; i, amb Sílvia Gubern, Antoni Llena, Jordi Galí i Zush, el vídeo <i>Primera Muerte</i>
(1970), que personalment recordo menys desmanegat, més interessant, que el film susdit de Jové en solitari. A partir del 1971, Antoni Muntadas utilitzarà també tant el super-8 com el vídeo, i cada cop més aquest darrer mitjà; però, abans de continuar, he de referir-me a un aspecte característic del conceptualisme.</p>
<p>  </p>
<p> El gruix de la producció fílmica conceptualista representa un ús instrumental molt particular del mitjà (usualment a través del format super-8, però també del 16mm en alguns casos). El film-document, com se l'anomenava, entra així
en el grup dels &quot;nous mitjans artístics&quot; (junt amb, per exemple, la fotografia, la fotocòpia, la publicació, etc.; és a dir, els mitjans de reproducció moderns), com a vehicle de les idees, accions, &quot;projectes&quot; o creacions efímeres: accions corporals de Jordi Benito, Francesc Abad, Olga Pijuan; accions tàctils i subsensorials de Muntadas i Lluís Utrilla; mesuraments i treballs sobre el paisatge d'Abad; rituals del grup de catalans a Paris; inflables de Ponsatí, i un breu etcètera. En general, i d'una manera força premeditada, no tenen interès com a films; m'estalvio doncs de parlar-ne, perque no tindria cap sentit si no fos a través d'una consideració més àmplia del treball de cadascun d'aquests artistes. Potser cal afegir, però, que una característica força comuna a l'art conceptual o alternatiu d'aquest període és, pel que fa a l'ús dels nous mitjans, el simultani refús d'una elaboració que aconduís a una avaluació estètica autònoma (per exemple, d'un film en tant que &quot;cinema&quot;). La utilització
que inicialment fan del vídeo Muntadas, Francesc Torres, Àngels Ribé, Carles Pujol i alguns més —no gaires, doncs era llavors un mitjà força inaccessible— té així mateix unes característiques semblants, fora d'algunes experiències primerenques amb el circuit tancat i les seves dimensions participatòria i espacial (Muntadas, Carles Pazos), o d'episòdiques incursions posteriors en una línia sociològica d'altres artistes (Grup de Treball, Eulàlia Grau).  Hi ha endemés els films col.lectius <i>1219 m</i>[<i>3</i>]
(1972), reflex d'un moment encara incipient de l'art conceptual entre nosaltres, i un altre sense títol del Grup de Treball, rodat entre 1973-74 per Pere Joan Ventura i Pere Portabella, que reuniria pel que sembla (doncs fa anys que la única còpia va desaparèixer) tant documents d'accions, com altres peces més pensades en funció del suport cinematogràfic emprat, d'alguns dels membres del Grup.</p>
<p>  </p>
<p> Alguns artistes vinculats a l'escena conceptual/alternativa sí van desenvolupar un treball experimental d'una certa extensió i rellevància amb el mitjà
fílmic. En primer lloc, Carles Santos, que a partir del 1967 realitzà una sèrie de films que, al marge de qualque influència d'una poètica visual brossiana, giren sobretot al voltant de la relació so/imatge i de la música, amb una concepció fortament minimalista i conceptual: <i>La Cadira</i> (1968), <i>Acció
Santos</i> (1972, amb Portabella), els dos <i>Preludi de Chopin</i> (1969 i 1974), etc. Santos, que formà també part del Grup de Treball, abandonà momentàniament la música i el seu instrument, el piano, i col.laborà estretament amb Portabella en l'etapa del seu cinema militant i de crònica política. En reprendre la pràctica musical, realitzà alguns films més, però s'allunyaria del minimalisme &quot;dur&quot; amb el curt <i>La Re Mi La...</i> (1979), un lúdic homenatge a l'art de Fregoli i al de Méliès en forma de peça repetitiva per a piano i un ben assortit vestuari.</p>
<p>  </p>
<p> Benet Rossell, amb Jaume Xifra, Antoni Miralda, Joan Rabascall, Dominique Selz, Jean Pierre Béranger, o tot sol, va realitzar un grapat de films al llarg dels anys 70; tots molt diferents entre sí, però reflectint el seu esperit polifacètic com artista i home de cinema (Rossell ha estat també
guionista d'uns quants films de ficció). Destacaré només alguns títols: <i>Calidoscopi</i>
(1971), en col.laboració amb Xifra i amb música de Santos, film abstracte a partir dels &quot;micro-dibuixos&quot; tan característics de l'obra plàstica d'en Benet; <i>Paris La Cumparsita</i> (1972), amb Miralda, en (mono)color miraldià i amb un &quot;soldat saldat&quot; a escala humana que Miralda passeja per diferents escenaris de la
<i>ville lumière</i>; <i>Bio Dop</i>
(1974), apropiació d'un seguit hilarant de vells filmets publicitaris d'un producte cosmètic, amb la complicitat i les imatges intercalades de Rabascall; i <i>Atrás etíope</i> (1977), farsa de l'absurd improvisada a partir d'un text extret a l'atzar d'un drama de Shakespeare.</p>
<p>  </p>
<p> Hi ha també aquest conceptualista tan particular, potser més aviat patafísic, que és Jordi Cerdà, amb una força extensa i idiosincràtica filmografia en petit format.
Així, Cerdà ha extret una poètica conceptual d'una imatge magrittiana gairebé estàtica, però no del tot, puix és de fabricació cinematogràfica (<i>Magritte Temps</i>, 1971); de les definicions d'un diccionari corresponents a una sèrie d'estris i materials artístics (<i>Definicions</i>, 1975); d'un mostrari de colors filmat en blanc i negre (<i>La gamma de Lorilleux i altres tons</i>, 1978, amb text de Quim Monzó); o fins i tot del forat del cul, imperceptible però materialitzat en la perforació dels fotogrames de la imatge pertinent (<i>Cul</i>, 1973).</p>
<p>  </p>
<p> Una incursió més breu, però
força interessant fou la de Ferran García Sevilla amb els seus films i proposicions fílmiques de 1973-74, emprant també el petit format (<i>Moviments</i>, <i>Paraula</i>, <i>Imatge</i>)
o exposant tot just sobre el paper &quot;mínimes&quot; idees (un xic a la manera dels guions de Yoko Ono i altres artistes de Fluxus).
<i>Part/Tot: Puig Antich</i>
(1974), film que reflecteix una transició del treball de García Sevilla del formalisme lingüístic cap a qüestions de política i autoritarisme, juxtaposava la deconstrucció en plans curts d'una pàgina del periòdic sensacionalista <i>El Caso</i> relativa a l'execució de Salvador Puig Antich amb el &quot;Diario Hablado&quot; de RNE del dia corresponent a cada projecció del film.</p>
<p>  </p>
<p> Els films d'Eugènia Balcells tracten per una banda de les imatges i estereotips dels <i>mass media</i>, com la resta de les instal.lacions i treballs amb que es va donar a conèixer, però
també de les imatges personals: ja sigui un vell àlbum de postals a través del qual recrea passatges d'un temps passat (<i>Àlbum</i>, versions de 1975 i 1978), o escenes d'accions i gestos quotidians que fan pensar en un film familiar, organitzat però segons una rigorosa estructura &quot;fugada&quot; de moviments i sobreimpressions, temps i espais (<i>Fuga</i>, 1979). Altres realitzacions es deriven d'un treball sobre imatges/situacions estereotipades del cinema de ficció, l'intitulat
<i>Re-prise</i>
(1976-77), i dels treballs sobre la imatge de la dona (i de la parella) en els mitjans de masses, d'on es derivarà a la vegada la seva primera realització videogràfica, <i>Travessant llenguatges</i> (1981), amb la que en certa manera clouria una etapa que el llenguatge de l'època hauria qualificat de &quot;sociològica&quot;.</p>
<p>  </p>
<p> Pel que fa al vídeo, alguns artistes han evolucionat de l'ús merament documental i instrumental ja consignat, cap a un ús més conscient de les seves característiques, tant a través de cintes com en instal.lacions multicanal i multimèdia. En el cas de Muntadas, això s'esdevé de manera paral.lela a la reorientació que va prenent el seu treball a partir del 1974, de les microcomunicacions sensorials cap el
&quot;mediaentorn&quot; o paisatge dels mitjans de comunicació de masses. En aquest sentit, la instal.lació multicanal <i>The Last Ten Minutes</i>
(versions de 1976 i 1977) i cintes com <i>Liège 12.9.77</i>
(1977), <i>On Subjectivity (About TV)</i>
(1978) i <i>Between the Lines</i>
(1979) proposen diferents percepcions crítiques des del mitjà vídeo i sobre el medi TV. D'altra banda, algunes de les activitats que desenvolupà aquí, com <i>Cadaqués Canal Local</i> (1974) i
<i>Barcelona Distrito Uno</i>
(1976), encetaren entre nosaltres una concepció alternativa de la informació televisiva, servint-se del vídeo per a bastir el que hom pot considerar com experiències-pilot de TV local/comunitària.</p>
<p>  </p>
<p> Francesc Torres es serveix tant del film (super-8, sovint en bucles de projecció continua) com del vídeo, primer en les seves performances i després en instal.lacions amb les que desenvolupa un llenguatge multimèdia molt personal, en el que el vídeo pren una presència més important a partir de
<i>Residual Regions</i>
(1978). Al seu torn, Torres es decanta en aquest període d'un art del comportament reclòs en la psicologia i la narració
autobiogràfica, cap a la interpretació no tant del comportament individual com de la conducta humana i les seves manifestacions més irracionals o corruptes, amb la implicació de les ciències humanes i socials a través d'un ventall de referències tan vast com el dels diferents mitjans emprats.</p>
<p>  </p>
<p> Antoni Miralda també ha utilitzat repetidament el film i el vídeo en el marc d'instal.lacions multimèdia (endemés de com a document), com en el cas de <i>Breadline</i>
(1977) —a propòsit d'alguns dels seus temes predilectes: el menjar i la diversitat de cultures— i a <i>Charlie Taste Point</i> (1979), doble instal.lació realitzada a (i sobre) la dividida ciutat de Berlín.</p>
<p>  </p>
<p> Per Carles Pujol, finalment, el vídeo serà sobretot un mitjà amb el que perllongar una recerca essencialment plàstica, amb l'afegit de l'element temps; una manera de multiplicar les perspectives i variacions de les formes i els espais, i de jugar amb paradoxes visuals i mentals. Els vídeos
<i>Homenatge a Erik Satie</i>
(1976), <i>Tres temps</i>
(1979), <i>81x65</i>
(1980) i, més tard, <i>Puzzle</i>
(1983) formen un conjunt compacte de successives propostes i variacions que es resolen amb gran despullament en la superfície de la petita pantalla, mentre que amb <i>Treballs d'espai</i> (1977) s'apunta l'ús que farà del vídeo en les instal.lacions dels anys 80.</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> Em permeto ara ser (encara) més subjectiu per tal de descriure una escena final —i, finalment, terminal— amb la que revifen per un moment les idees de cinema experimental i <i>underground</i> entre nosaltres. I pel que jo vaig tenir-hi a veure, en faig un relat en primera persona.</p>
<p>  </p>
<p> Al principi, suposo que com sempre, hi ha una sèrie d'encontres fortuïts o interessats (endemés d'unes punxades personals, és clar). Per exemple, amb José Miguel Gómez, de Madrid, vaig endegar un parell de curioses hibridacions d'unes escenes que havien entrat ja en una etapa crítica, sense que potser ho advertissim prou en aquell moment: primer, la mostra <i>Films/Arte</i>
(Madrid-Barcelona, 1976) aplegà films d'Abad, Muntadas, Miralda, García Sevilla, Pazos o Valcárcel Medina, amb els de Portabella, Padrós i, fins i tot, un cert Pedro Almodóvar; i, tot seguit, el film col.lectiu <i>En la ciudad...</i> (1976-77)
reuní les aportacions d'Abad, Muntadas, Miralda, Rossell, Rabascall, Torres, Balcells o Eulàlia, i les d'Iván Zulueta, Juan Bufill, Manuel Huerga o Mireia Sentís, entre molts altres. Tot això no tindria més conseqüències, però entremig s'havien establert noves complicitats, afinitats o col.laboracions de les que s'esdevindria en part un cert renovellament tant de l'activitat fílmica com de la videogràfica.</p>
<p>  </p>
<p> No m'entretindré a rememorar petites batalles o aventures, en general perdudes o fracassades en la mesura en que pretenien fer lloc per a quelcom que estava fora de lloc; de manera que tot es quedava en discòrdies més o menys endògenes entre petits grups irreconciliables. He de referir-me només a uns quants cineastes, més aviat afeccionats, que aspiràvem un cop més a fer un cinema experimental, &quot;nou&quot;, o almenys personal i diferent, fins i tot si ho havia de ser a &quot;petita escala&quot;.</p>
<p>  </p>
<p> Preniem com a referència el cinema independent que teniem més a prop, però hi afegiriem un coneixement essencial —que la generació anterior en general no tenia— del cinema experimental/<i>underground</i> que es feia o s'havia fet en altres paratges. (Aproximadament a partir del 1973, a la Filmoteca, l'Institut Alemany de Cultura i alguna altra entitat es poden veure diversos cicles de cinema experimental contemporani). Hom tendiria així cap a un cinema més visual i menys literari; més preocupat per la estructura de la imatge, que no pas per la del relat (o, per dir-ho d'una altra manera, més sota la influència de Brakhage, Warhol, Garrel o Nekes, que de Buñuel, Godard o Straub).</p>
<p>  </p>
<p> Una de les característiques és, pel que fa al suport, l'ús del petit i privat format del super-8, del que crec que en general en vam treure profit, però que aviat trobarem insatisfactori i massa limitat. Alguns vam fer en conseqüència el pas cap al format superior del 16mm, però això vé
a coincidir si fa no fa amb un alça dels preus de la plata, i per tant de la pel.lícula, que feia inviable seguir treballant amb els limitats recurssos de l'autoproducció. (Tot el cinema independent entraria de fet en agonia).</p>
<p>  </p>
<p> Una altra cosa a remarcar és la varietat dels procediments i les tendències: de les tècniques de tractament de la imatge per refilmació del material original, als assaigs amb multiprojeccions i amb formes de (film-)instal.lació; i del subjectivisme del film personal, íntim, poètic, contemplatiu o d'expressió individual, a l'inexpressionisme del film minimal, estructural, formal o d'organització sistemàtica. (Em serveixo aquí
d'una gerga especialitzada que no s'adiu prou amb les freqüents mixtures o oscil.lacions que jo adverteixo en molts dels treballs).
Entre els factors comuns —generacionals, també podria dir-ne—, hi ha finalment la música, una certa música (rock, o amb arrels en el rock); això sovint determina una certa debilitat dels treballs, perque el so no està treballat de manera equivalent amb la imatge, sinó que és més que res preferència o atmòsfera, i trivialitza d'alguna manera l'aparença de determinats films, que podrien ser vistos com els proto-videoclips d'uns afeccionats (a la música, tant com a la imatge), malgrat que en aquest aspecte potser també serien encara força interessants. No hi ha en tot cas una homogeneitat, sí
unes afinitats. I, tot i que en alguns casos, hi ha provatures i oscil.lacions en diverses direccions (també la ficció i el documental), la preocupació i delectació per i en la imatge seria una constant.</p>
<p>  </p>
<p> De Manuel Huerga només recordaré
<i>Brutal Ardour</i>
(1978-79), on el material rodat originalment fou reelaborat (per refilmació a través d'una pantalla lectora de microfilm) de manera anàloga a la música de Brian Eno utilitzada en la banda sonora (les seves Variacions sobre el <i>Cànon</i> de Pachelbel), de manera que les preciosistes imatges fan entreveure una història (romàntica), difuminada però per l'accent posat en els aspectes formals i materials.</p>
<p>  </p>
<p> D'entre la prolífica producció
de Carles Comas, potser en remarcaria els collages d'imatges agafades de la TV o d'altres fonts, tractades (també per refilmació) i combinades amb imatges originals, des de <i>Fotos de espectros</i> (1977), contrast d'imatges eròtiques portades a l'abstracció amb imatges de violència i destrucció preses del televisor, a <i>Quieto todo el mundo</i> (1981, amb Quim Moliné), basat en les emissions televisives de la jornada del 23-F, i <i>Hotel Paradís</i> (1981), deriva urbana i de l'imaginari.</p>
<p>  </p>
<p> Sierra Fornells, similarment prolífic i amb eventuals incursions menys reeixides en la ficció, va fer les seves obres més interessants a partir també de la suma de materials i exercicis visuals heteròclits, sovint organitzats en doble projecció (com a <i>Paisatges interns</i>, 1978), de l'esguard de la qüotidianitat (<i>Faccions</i>, 1978) o de la il.lustració adient d'un tema musical (<i>Frankie</i>, 1981).</p>
<p>  </p>
<p> De José Luis Guerín, que això
del cinema experimental s'ho mirava un xic més de lluny, en destacaria el seu primer film, <i>La hagonía de Agustín</i>
(1976), on la persecució i la mort de l'escarabat Agustín era un pretext per a una reivindicació de l'espontaneitat i les &quot;faltes d'ortografia&quot;; així com, des d'un punt de vista formal, jo hi veia tota una exposició de la tensió entre superfície i profunditat en la imatge fílmica.</p>
<p>  </p>
<p> A Tarragona, Marcel Pey, a qui llavors teniem per una mena estranya de poeta amb flaques visuals i musicals, traspuava en els seus films una devota fascinació per Warhol i Garrel i per les imatges amanerades i estàtiques, amb preferència exposades amb uniformitat monocroma i llargues durades
(<i>Overkill</i>, 1976; <i>L'ull cibernètic</i>, 1977).</p>
<p>  </p>
<p> Juan Bufill realitzà una sèrie de films molt breus (generalment entre tres i cinc minuts de durada), de caire minimalista —o, com ell preferia dir-ne, &quot;essencialista&quot;—, amb un humor i una sensibilitat molt particulars; concebuts com a parts o segments d'un únic i hipotètic film que devia anomenar-se
<i>Cuadros y canciones</i>, a la manera d'un recull de poemes (visuals), paral.lels a la seva pròpia obra poètica (escrita).</p>
<p>  </p>
<p> Pel que fa a mi, diré que les realitzacions en super-8, com els projectes sobre el paper, eren maneres d'imaginar la resolució d'una idea, essent el film mateix un esbós; ja fos per tractar de &quot;dictar&quot; o violentar l'actitud del públic —per exemple, a través d'instruccions escrites (<i>Texto 1</i>, 1975) o d'intensitats feridores de la percepció (<i>Photomatons</i>, 1976)—, ja fos imaginant combinatòries i retorciments dels elements constitutius de la imatge/matèria fílmica.   He de dir que Eugènia Balcells també participà molt activament en aquesta escena, i ara hi afegiré doncs el film que vam realitzat tots dos conjuntament, <i>133</i>
(1978-79), el qual parteix exclusivament de materials (visuals i sonors) &quot;trobats&quot;, per tal de jugar amb les convencions de la relació imatge/so amb una certa ironia, i introduir-hi desplaçaments i variacions més o menys subtils.</p>
<p>  </p>
<p> Finalment, voldria completar el relat de l'activitat videogràfica en aquests anys. En realitat, no hi ha massa més coses a dir, però potser sí destacar que comença a obrir-se un ventall més gran d'usos artístics i alternatius entre nosaltres; tant pel cantó del documentalisme, el vídeo comunitari i sociològic (el grup Vídeo-Nou, les primeres realitzacions de Lala Gomà, Carles &quot;Sèfer&quot; Pastor, Julián Alvarez), com perque la creació videogràfica comença a ser més plural i variada, en atansar-se al mitjà persones de diverses procedències, amb inquietud per l'àudio-visual i la imatge en general, incloent-hi per exemple algunes refrescants incursions des del món del còmic
(Mariscal, Onliyú, Montesol, El Hortelano).</p>
<p>  </p>
<p>
*    *    *</p>
<p>  </p>
<p> M'he entretingut a descriure unes activitats compreses entre unes dates que són aproximadament les mateixes que vol abastar l'exposició retrospectiva a la que aquesta públicació acompanya, però és inevitable que em refereixi breument al que ha succeït després i a quina és la situació
actual. Després d'un megamix aital, no és fàcil generalitzar.
Però, en primer lloc, jo diria que ja no es pot parlar de cinema experimental, ni de cinema independent o alternatiu en general, perque entre nosaltres ja no n'hi ha. En part s'hauria canalitzat cap al vídeo (Eugènia Balcells, Benet Rossell, Llorenç Soler, Orestes Lara, Manel Muntaner, Carles Comas, Jordi Torrent, Joan Pueyo, endemés de tots els que hi han anat de dret). O fins i tot en programes televisius creatius (Manuel Huerga, Juan Bufill, Carles Comas, Joan Mallarach, Ferran García Sevilla, jo mateix). En part, també a través del cinema professional o, almenys, ja no tan marginal o <i>underground</i> com abans; i com una mena de cinema que jo no anomenaria ja
<i>experimental</i>, ans si de cas <i>excepcional</i>
(José Luis Guerín, Jesús Garay, Jordi Cadena, Manuel Cussó, endemés de les reaparicions de Pere Portabella, Antoni Padrós o Joaquim Jordà). Pel que fa al cinema d'artistes, avui el podriem veure com un fenòmen propi d'una altra època; no així el vídeo, utilitzat avui normalment per diversos artistes, ja sigui de manera més substancial (Muntadas, Torres, Balcells o Pujol) o accesòria
(Miralda o Abad).</p>
<p>  </p>
<p> Finalment, hom podria fins i tot posar en dubte si és del tot adient l'aplicació d'unes idees rebudes (d'uns altres contextos i situacions) com aquestes de cinema experimental, cinema d'artistes o vídeo-art, puix que en general les seves manifestacions entre nosaltres no s'han produït d'una manera organitzada o prou organitzada, sinó com aventures i expressions solitàries o de grups força diminuts, sota la norma de les dificultats, la discontinuitat, l'estranyament. Idees rebudes i finalment foragitades, el que en queda no és un conjunt sòlid i reconegut, sinó una sèrie de cintes, films, referències marginals, excepcions,... i algunes trajectòries individualment coherents en la seva actitud alternativa. Tanmateix, si hom treu novament aquests materials dels polsosos prestatges o dels calaixos on molts estan desats (fora d'aquells que hom sap perduts o deteriorats irremeiablement), potser hi trobem algunes coses encara prou interessants.</p>
<p>  </p>
<p>
*     *     *</p>
<p>  </p> </body> </html>