  <p> <b>Schroeter, Von Praunheim, Syberberg</b></p>
<p>  </p>
<p>
«Mientras que Jean-Luc Godard en <i>À
bout de souffle</i> o <i>Bande
à part </i>y François Truffaut en <i>Tirez sur le pianiste </i>incorporan simplemente caracteres y estilos de los films americanos de gángsters, de serie B, o de las novelas de diez centavos, realizadores como Fassbinder, Von Praunheim o Werner Schroeter no se limitan a incorporarlos, sino que los exageran aislándolos en el contexto del film, convirtiendo la banalidad visual en entretenimiento.»</p>
<p>  </p>
<p>
                                                       Stephen Dwoskin  </p>
<p>  </p>
<p>  </p>
<p> Hace ya un año y medio, en un fatídico número 13 de esta revista, con el gato Fritz como protagonista[[[1]]], me referí a un supuesto movimiento al que aludía con el título de
«Cine decadente, un nuevo expresionismo», en el que incluía a cinco autores: los alemanes Schroeter, Von Praunheim y Syberberg (al cual nombraba de forma sucinta por no conocer directamente su obra en aquel momento), el suizo Daniel Schmid y el español Arrieta
(afincado en Francia).</p>
<p>  </p>
<p> Me interesa ahora volver a hablar de los tres realizadores alemanes citados, en función de el visionado de los ciclos (muy completos) que les dedicó la Filmoteca en la anterior temporada; y de una serie de artículos, dispersos y no exhaustivos, sobre el <i>novísimo
</i>cine alemán[[[2]]] o, como lo bautizaba en el artículo anterior sobre Werner Herzog, sobre la <i>generación de la alucinación</i>.</p>
<p>  </p>
<p> Se trata, pues, de corregir y ampliar parte de aquel primer artículo, cuyas conclusiones esenciales resumo de la manera siguiente:</p>
<p>  </p>
<p>
 – En primer lugar, señalaba algunos puntos de contacto ideológico (entonces hablaba de «posturas fuertemente ligadas») con grupos marginales radicales entre el Gay Lib y (ahora añado) el anarquismo.</p>
<p>
– Me refería luego a sus vínculos con el cine establecido, el modelo hollywoodiano: la importancia del actor y la adopción de las mitologías, los elementos barrocos en la imagen, las referencias musicales burguesas y el importante papel del montaje.</p>
<p>
– Mencionaba las facilidades relativas que habían encontrado estos realizadores para realizar sus obras, y cómo accedían sin obstáculos a la producción televisiva y comercial.</p>
<p>
– Estimaba que, a la vez que había que reconocer una voluntad de ruptura con el cine establecido, se les podía considerar también como productos digeribles (con algún que otro escándalo de vez en cuando). La fascinación lograba superar la provocación.</p>
<p>
– Rechazaba la idea de decadentismo como estética retro y de paradoja, invocaba una consideración de la obra como trabajo sobre su relación en el melodrama.</p>
<p>
– Un interrogante coronaba las conclusiones globales de la confrontación entre estas ideas y el visionado de algunos de los films.</p>
<p>  </p>
<p> Ahora, el conocimiento más completo de una obra y de un recorrido nos permite volver a replantear aquel interrogante, para eliminarlo y poder ocupar su espacio con una nueva conclusión, o para mantenerlo y seguir su discusión a otro nivel.</p>
<p>  </p>
<p>  </p>
<p> <b>Rosa von Praunheim</b></p>
<p>
«Espero, para mí y mis admiradores, una muerte joven y terrorífica, para dejar paso a una nueva disciplina al servicio de las auténticas necesidades comunes.»
(1972)</p>
<p>  </p>
<p> <b>Nota biográfica</b></p>
<p> Nace en Riga (Letonia) en 1942. Su verdadero nombre es Holger Mischwitzky. Estudia humanidades, artes plásticas y danza. Tiene sus primeros contactos con la homosexualidad y las drogas en un viaje a Turquía. Conoce a Werner Schroeter, trabaja como ayudante de dirección de Gregory Markopoulos. Está casado con la actriz Carla Aulaulu. Ha publicado diversos escritos de distinto carácter: autobiográfico, lírico, sociológico; ensayos, artículos y una fotonovela.</p>
<p>  </p>
<p> <b>Recorrido fílmico</b></p>
<p> Después de varios cortometrajes, realizados entre 1967 y 1969, y de co-realizar con su amigo Schroeter un largo en 8 mm, <i>Grotesk-Burlesk und Pintoresk </i>(1968), a partir de 1970 realiza sus films más significativos, varios de ellos producidos por la televisión alemana.[[[3]]]</p>
<p>  </p>
<p> <i>Macbeth </i>(1970)
es probablemente una grabación originaria en <i>videotape</i>, lo cual explicaría los tonos grises y la baja calidad técnica de la película proyectada de 16 mm; la banda sonora es una especie de salmodia monorrítmica cantada por los actores. Este fue el film que me interesó menos; es una versión personal de un texto literario que no llega a la altura de las versiones de Schroeter.</p>
<p>  </p>
<p> <i>Die Bettwurst</i>
(1970), a pesar de haber sido proyectada en versión original sin subtítulos, deja translucir suficientemente por donde van los tiros.
El film es una historia de amor de tinte ridículo, interpretada por dos actores en decadencia, Luzi Kryn y Dietmar Kracht, en la figura de unos personajes grotescos, fascinados por una sensibilidad kitsch, que viven una aventura con secuestro incluido, desarrollada en una especie de antología del mal gusto a nivel de decorados, vestidos, colores. Esta sensibilidad kitsch, esta parodia desencajada, es un reflejo de una pequeña burguesía y de su cultura, una reducción, cariñosa y cruel a la vez, a unos niveles de objetualidad arte pop, macrofotografía de una vulgaridad apabullante.</p>
<p>  </p>
<p> <i>No es el homosexual el perverso, sino la situación en que vive</i>
(1970), vista también con la dificultad de no entender los comentarios, que intuyo que son fundamentales, aporta visualmente la suficiente información para recomendar su visión a todo el que tenga ocasión. Porque, aunque solo sea por acercarse un poco a unos comportamientos que en realidad desconocemos, filmados desde adentro, después de soportar tantas visiones prejuiciosas, insultantes, manipuladoras e insinceras, este documento sobre la homosexualidad es muy importante, tanto desde el punto de vista didáctico como político. El film es un reportaje (que trasciende esta categoría)
de diversas situaciones y personajes, que un comentario en <i>off</i> acota con aportaciones teóricas de Martin Dannecker y Sigurd Wurl.</p>
<p>  </p>
<p> En este punto de su filmografía, Von Praunheim alcanza el cenit de unos propósitos que podrían ser los de la cita que encabeza este apartado («…dejar paso a una nueva disciplina al servicio de las auténticas necesidades comunes»), el interrogante de que hablaba en la introducción general se borra, se difumina; poco tiempo después filma en Nueva York un reportaje de doce minutos sobre una manifestación del Gay Liberation Front (<i>Homosexuelle in New York</i>, 1971).
Luego, el interrogante, la paradoja, reaparecen…</p>
<p>  </p>
<p> <i>Leidenschaften</i>
(<i>Pasiones</i>, 1971) es también una obra muy importante y válida, que me gustaría poder ver de nuevo, pero ya dentro de unas coordenadas de lo que llamamos cine personal. Durante un viaje alrededor del mundo, en compañía de Fritz y Elfi Mikesch, rueda en super-8 diversas escenas en colaboración con gente encontrada en los diferentes lugares.
<i>Leidenschaften </i>es el montaje, hinchado a 16 mm, de estos materiales. Film personal aquí
significa una visión de la vida a través de su complejidad, la mezcla de angustia, alegría, humor, dolor, amor… y de las concepciones propias de una persona; es decir, el film personal puede recurrir a expresiones enigmáticas, elípticas, simbolistas, porque su concepción es la de un mensaje propio, personal y mental que se ofrece, por añadidura, al espectador, quien lo puede descifrar o simplemente visionar de un modo independiente.[[[4]]] La complejidad de este tejido de situaciones y anécdotas, deja advertir al binomio este/oeste, a unas culturas diferentes que proporcionan distintos sistemas de pensamiento, todo con un matiz suavemente romántico.</p>
<p>  </p>
<p> Por el contrario, los tres últimos films de Rosa von Praunheim parecen aplicarse a una inversión de la cita que encabeza el apartado; quizás es una pantomima de la pronosticada muerte ¿por incapacidad?, otra vuelta de tuerca sobre la paradoja…</p>
<p>  </p>
<p> <i>Axel von Auersberg </i>(1973)
es una adaptación literaria, respetuosa aunque con un toque de locura, sobre un relato de Villiers de l’Isle Adam, una realización preciosista y barroca.[[[5]]]</p>
<p>  </p>
<p> <i>Rosa von Praunheim zeigt </i>(1974)
es una especie de programa de televisión de carácter musical-retro, compuesto de diversas piezas, todas de carácter decadente, con un magnífico travesti, un pene gigante y otras maravillas.</p>
<p>  </p>
<p> <i>Monolog eines stars</i>, finalmente, es una narración en plano-secuencia, que utiliza todas las imágenes tipificadas de la mitología de la <i>star</i> hollywoodiana, desde la pose de sofá y la visita del amante hasta la tentativa de suicidio.</p>
<p>  </p>
<p> Actualmente Rosa von Praunheim termina un nuevo film con el título de <i>Underground and Emigrants,</i> sobre el panorama cultural neoyorquino en los treinta últimos años (según una información aparecida en <i>Nuevo Fotogramas</i>), probablemente un nuevo giro hacia una tendencia más informativa. (El título parece aludir a la influencia de los emigrantes en la formación de la cultura underground).</p>
<p>  </p>
<p>  </p>
<p> <b>Werner Schroeter</b></p>
<p>  </p>
<p>
«Ciertamente, los años veinte me fascinan, pero encuentro nuestra época también decadente. La decadencia es impresionante; yo formo parte de ella, probablemente por mi origen burgués y por mi cultura específicamente alemana […]</p>
<p>  </p>
<p> El hecho deprimente es la recuperación por parte de la subcultura de las tentativas underground. El estado se entromete en todo. Sería necesario trabajar como los grupos militantes, comprar cámaras de 8 y 16 mm, y formar grupos de base…» (1973)</p>
<p> 
</p>
<p><b>Nota biográfica</b></p>
<p> Nace en Georgenthal en 1945. Inicia diversos estudios. En el festival de Knokke de 1967 descubre el cine marginal. En 1968 realiza varios films en 8 mm que se difunden a través de los medios artísticos, e inicia luego la práctica en 16 mm. Hasta el momento ha realizado ocho largometrajes y varios cortos.
Últimamente trabajaba en una producción comercial <i>(Todos los marinos del mundo).</i> Es conocido también como director teatral.</p>
<p>  </p>
<p> <b>Recorrido fílmico</b></p>
<p> El primer film realizado en 16 mm es
<i>Argila</i>
(1968), que se proyecta en dos pantallas contiguas, formando las dos imágenes diferentes relaciones de simetría y de tiempo.</p>
<p>  </p>
<p> <i>Neurasia</i>
(1968) inicia la exploración de los movimientos rituales de los actores, sobre el fondo explícito de músicas burguesas. Es una especie de ensayo previo para el siguiente film, <i>Eika Katappa</i>, ceremonia de imágenes y sonidos en torno a los signos de la <i>kulchur</i> occidental.</p>
<p>  </p>
<p> A partir de <i>Eika Katappa</i> podemos encontrar dos direcciones en las obras siguientes: de un lado, las adaptaciones o recreaciones de mitos teatrales (<i>Salomé</i>, <i>Macbeth</i>, <i>Der Tod der Maria Malibran</i>), y de otro modo, las narraciones que introducen claramente ciertos elementos sociopolíticos (<i>Der Bomberpilot</i>, <i>Willow Springs</i>, <i>Der schwarze Engel</i>).</p>
<p>  </p>
<p> En los primeros, Schroeter se dirige hacia un virtuosismo en el que la fascinación y el <i>détournement</i> andan emparejados, siempre jugando con la ambigüedad de las imágenes y de sus significaciones, en una mezcla de respeto y de crítica.</p>
<p>  </p>
<p> <i>Salomé</i>
(1971) es una versión casi al pie de la letra de la obra de Oscar Wilde, filmada en las ruinas de un templo de Baalbeck (Líbano), que introduce algunos elementos musicales retro (<i>La paloma</i>, fragmentos de <i>La viuda alegre</i>, etc.). La lectura schroeteriana del texto <i>Salomé</i> se resuelve en un film de una belleza aplastante y de una fluidez perfecta.</p>
<p>  </p>
<p> <i>Macbeth</i>
(1971) no exhibida en la Filmoteca, es famosa por el escándalo que provocó en su pase por las pantallas de la televisión alemana, que a la vez era la productora. Musical abominable interpretado por travestis, el tratamiento irrespetuoso del mito shakesperiano provocó
las iras de los burgueses-telespectadores-alemanes. Schroeter dice sobre esto: «A la gente no le gusta que se muestre así a Shakespeare. Pero yo no hago distinciones entre el kitsch y la cultura.»</p>
<p>  </p>
<p><i>Der Tod der Maria Malibran</i>
(1972): es para algunos su mejor film. Su autor pretendía hacer una ordenación de los elementos arquetípicos de su obra anterior; así, el film alcanza notoriamente el nivel más alto respecto a las propuestas de <i>Eika Katappa</i>, a la vez que revela el <i>impasse</i> a que le ha conducido la voluntad fascinante y lacerante de sus collages. Schroeter parece ser consciente de esta situación, pues sus trabajos posteriores toman una nueva dirección, bastante congruente con las nuevas necesidades comunes que, en un proceso analítico, podríamos señalar en el desarrollo de las vanguardias artísticas a inicios de esta década.</p>
<p> </p>
<p>Ya en un film anterior a estos a que me acabo de referir, <i>Der Bomberpilot</i> (1970), se puede encontrar una opción diferente en la que Schroeter, sin renunciar a sus planteamientos propios, aborda un tema directamente político (el fascismo), desde un ángulo sarcástico, bien patente y explícito incluso si no se comprende el alemán.[[[6]]] A través de su típica manera de expresarse, llena de paradojas y acidez, Schroeter dice sobre este film: «Es una historia construida sobre la lógica del absurdo, y, aunque las gentes de izquierda la defiendan, no es un film político, porque yo soy un individualista.
Soy tan individualista que no llego a ser ni anarquista. Sin embargo mi posición es política porque trabajo de modo riguroso, en mis límites, sin preocuparme de la moda…»</p>
<p> </p>
<p><i>Willow Springs</i> (1972), realizada en Estados Unidos, es también una obra singular. A través de la vida de tres mujeres en un lugar aislado, y de la irrupción de un hombre en este ambiente, se muestran las relaciones asfixiantes y la violencia contenida que termina por estallar, entre un pequeño grupo humano.</p>
<p> </p>
<p><i>Der schwarze Engel</i> (1974), uno de los últimos films de Schroeter, es para mí uno de los más interesantes dentro de las tentativas de abordar una cuestión política, sin renunciar a unos presupuestos creativos propios, no-convencionales y de investigación. <i>El
ángel negro </i>es un film sobre el Tercer Mundo, en el que se mezclan elementos de reportaje
(sobre México, concretamente), elementos filosóficos que atañen a la comunicación fílmica (relación imagen/realidad, etc.) y una narración central que constituye una anécdota típicamente schroeteriana: la historia de dos turistas, una americana y otra alemana, que viven una gran pasión entre el paisaje azteca. Aquí, el autor introduce algunos de sus estilemas más frecuentes: utilización de la ópera, actuación exagerada, elementos kitsch…
que aparecen bruscamente confrontados con los aspectos propios del país: la música, las voces, los vestidos, los caracteres antropológicos, etc. El desenlace de la historia es ejemplar: una de las mujeres muere en pleno desierto y su cadáver es recogido por un grupo de indios que entonan un canto ritual; la otra terminará de secretaria del cónsul americano. De esta forma, Schroeter muestra la intrusión de una cultura en otra, desvela las raíces políticas de esta intrusión y reflexiona sobre el mismo trabajo fílmico; y así, quiere evitar la frecuente mentalidad colonialista de los films europeos sobre el Tercer Mundo, tal como señalaba el autor de un texto de presentación del film. </p>
<p> </p>
<p><b>Hans-Jürgen Syberberg</b></p>
<p> </p>
<p>«(El cinematógrafo) se ha convertido en un cine de funcionarios y de comerciantes, nutriéndose de las ruinas de un teatro de bulevar con una distribución intercambiable. Y, por otro lado, existe la extraordinaria oportunidad de desarrollar un cine de mundos fantásticos, mágicos, con sus propias reglas que, según creo, deberían estar más cercanas a las de la música que a las de todas las otras artes hasta hoy producidas.» (1975)</p>
<p>  </p>
<p><b>Nota biográfica</b></p>
<p>Nace en Pomerania en 1935. Desde 1953 reside en la República Federal de Alemania. Estudia filología e historia del arte. Realiza desde muy joven experiencias en 8 mm y en fotografía. Desde 1963 trabaja para la televisión alemana, para la que realiza más de cien cortometrajes. En 1965 crea su propia productora. Ha utilizado frecuentemente el <i>videotape</i>.
Actualmente trabaja en <i>Hitler</i>, film que culmina su tetralogía <i>Graal</i>.</p>
<p> </p>
<p><b>Recorrido fílmico</b></p>
<p>La inclusión de Syberberg en la pretendida escuela decadente alemana se basa casi exclusivamente en su film <i>Ludwig.
Réquiem por un rey virgen</i>, que durante mucho tiempo ha sido su único film conocido por la gran crítica.[[[7]]] Sin embargo, la filmografía de Syberberg es considerablemente extensa y poco conocida, y en ella se muestran obras muy alejadas de
<i>Ludwig</i>.</p>
<p> </p>
<p>En el ciclo presentado por la Filmoteca pudimos conocer varios de sus films anteriores. Por ejemplo, <i>Nach meinem letzten Umzug </i>(1970)
es un montaje de unas filmaciones realizadas por Syberberg en 1953, con una cámara de 8 mm, las cuales constituyen el único documento fílmico sobre las representaciones de Brecht y el Berliner Ensemble.</p>
<p> 
</p>
<p><i>San Domingo</i> (1970), que su autor califica como un prólogo de <i>Ludwig</i>, basa su anécdota en una pieza de Heinrich von Kleist (<i>Las bodas de Santo Domingo</i>).
Adaptada a la Baviera actual, se refiere a distintos sectores de la juventud alemana (<i>blousons noirs</i>, comunas y células anarquistas), relato en tono directo del que no puedo hablar demasiado, ya que fue proyectado en versión original en alemán.</p>
<p> </p>
<p><i>Die Graffen Pocci</i> (1967): hace alusión a la decadencia de la cultura occidental, a través del retrato de una familia aristocrática alemana. Es fácil constatar el interés de Syberberg por crear una serie de crónicas, retratos y documentos sobre su país. Este aspecto tomará una nueva unidad en el ciclo <i>Graal</i>, una especie de indagación sobre el germanismo y las ideas autoritarias, que engloba los films <i>Ludwig</i>, <i>Karl May</i>, <i>Winifred Wagner</i> y <i>Hitler</i>.</p>
<p> </p>
<p><i>Ludwig.
Réquiem por un rey virgen</i>
(1972), narrado en forma de <i>sketches</i> de los más diversos estilos, es un film alucinado y delirante que conjuga la ópera, el folklore, el folletín, la historia, las mitologías populares, etc. Por medio de la misma «locura» del film y de sus juegos de dobles personajes y personajes falsos o fuera de lugar, percibimos el reflejo de la locura de Ludwig II y III, y el surgimiento de la ideología autoritaria. Ludwig, Wagner, Sissi, Lola Montes, Tarzán, Hitler, Bismarck, Karl May, Winnetou y otros alternan en un insólito escenario, que funciona a modo de caja de magia repleta de inesperadas sorpresas y que, después de la pirueta cinematográfica, podemos reconocer como objetos reales, desprovistos de toda inocencia, y amenazadoramente cercanos a nosotros.</p>
<p> </p>
<p>Como coletilla al <i>Réquiem</i>, Syberberg realiza <i>El cocinero del rey</i> (<i>Theodor Hierneis - ein Mundkoch erinnert sich an Ludwig II</i>, 1973). Construido sobre un texto encontrado, las memorias del oficial de cocina de Ludwig, el film es una especie de reportaje en el que un actor nos sirve como cicerone en un recorrido por los escenarios de la historia del rey loco, y en su calidad de ex cocinero del rey nos relata las costumbres y la vida cotidiana del decorado del poder.
«Lentamente, de una habitación a otra, los personajes son representados, la iconografía de los castillos se desvela por el contraste del lenguaje de un hombre simple que nos arrastra hacia la sociedad y sus ritos: aquí la música, allí abajo la técnica de las reverencias, el trono, la representación, las recepciones del rey, y las preocupaciones siempre presentes de escoger los alimentos blandos para dientes enfermos, etc… Los objetos refinados de un mundo de leyenda contrastan con lo cotidiano. A veces se encuentran, aunque separados…»[[[8]]]</p>
<p> </p>
<p><i>Karl May</i> (1974) retoma las líneas del <i>Ludwig,</i> pero la duración quizá excesiva y una estructura mucho más convencional (podría ser casi un serial televisivo) resultan un tanto decepcionantes. El film se inspira esta vez en un extraño y conocido novelista «popular» que terminará convirtiéndose, a pesar suyo, en uno de los modelos culturales del nazismo incipiente.</p>
<p> </p>
<p><i>Winifred Wagner</i> (1975): tercer eslabón del <i>Graal</i>, no proyectado en el ciclo de la Filmoteca, es, en esencia, un largo monólogo de más de cuatro horas de duración, en el que Winifred Wagner, nieta del famoso compositor, revela a través de sus palabras, la caída de la aristocracia y los mecanismos ideológicos del nazismo.</p>
<p> </p>
<p>Finalmente, la obra de H.J. Syberberg aparece lo bastante desligada de la de los autores como Schroeter y Von Praunheim para que resulte un tanto aventurado seguir uniendo sus nombres.[[[9]]] Podemos ya aportar algunos puntos diferenciales en la filmografía del autor de <i>Ludwig.
Réquiem por un rey virgen</i>:</p>
<p> </p>
<p>– Con una menor influencia de lo que podríamos llamar tendencias underground, el contexto en el que se mueve Syberberg estaría más cercano al de un cine de autor;</p>
<p>– una vocación materialista, subrayada más aún por una cierta crítica y por los grupos de distribución; así, los elementos decadentes y kitsch están directamente implicados con la decadencia y lo retro a nivel político.</p>
<p> </p>
<p> </p>
<p> </p>
<p>  </p> <div id="sdfootnote1">
	<p>[1]
	Alusión
	al secuestro de dicho número de <i>Star</i>,
	revista de «comix y prensa marginal». [Nota del autor, 2014]</p>  <div id="sdfootnote2">
	<p>
	[2][
	]Para
	diferenciarlo de los autores que se citaban hace unos años al
	hablar de un nuevo cine alemán.</p>
<p>
	
	</p>  <div id="sdfootnote3">
	<p>[3]
	Sobre
	la cuestión de la televisión alemana, hay que aclarar que existen
	diversas cadenas regionales y que estas gozan de completa libertad
	para la organización de la producción y la exhibición; esto
	constituyó un hecho fundamental para el desarrollo del movimiento
	underground en Alemania.</p>  <div id="sdfootnote4">
	<p>
	[4]
	Estas
	son unas consideraciones generales, hechas en este momento, sobre el
	«film
	personal»,
	uno de los aspectos o tendencias del underground y de la vanguardia
	clásica; no intentan, pues, constituir un enunciado teórico sobre
	el «film
	personal»
	sino que simplemente se insertan dentro del comentario sobre el film
	de Rosa von Praunheim.</p>
<p>
	
	</p>  <div id="sdfootnote5">
	<p>
	[5]
	Por
	cierto, la versión proyectada en la Filmoteca tenía la duración
	propia de un corto, mientras que hace un par de años se estrenó en
	París una versión larga. Ignoro si es que existen dos versiones, o
	si la primera versión ha sido reducida posteriormente.</p>  <div id="sdfootnote6">
	<p>
	[6]
	Este
	film, como muchos otros, fue exhibido en la Filmoteca en versión
	original sin subtítulos.</p>  <div id="sdfootnote7">
	<p>
	[7]
	<i>Ludwig.
	Réquiem por un rey virgen</i>
	ha de ser estrenada inminentemente en España en salas especiales.</p>  <div id="sdfootnote8">
	<p>
	[8]
	Extraído
	del <i>Dossier
	Syberberg,</i>
	editado por la Filmoteca Nacional.</p>  <div id="sdfootnote9">
	<p>
	[9]
	En
	unas declaraciones recientes, aparecidas en la revista <i>Cinema
	2002</i>,
	Werner Schroeter manifestaba claramente su repulsa por los films de
	Syberberg, <i>Ludwig…</i>
	y <i>Karl
	May</i>,
	mostrando en cambio su interés por <i>Winifred
	Wagner</i>.</p>  </body> </html>