  <ol>
	<li><h1 lang="es-ES" class="western">Del oscilógrafo al chip
	prodigioso</h1> </ol> <p>  </p>
<p>  </p>
<p> Fue en los años sesenta que se comenzó a hablar de <i>computer graphics, computer movies, computer art</i>...
Según algunas fuentes, el primer film de imágenes creadas con ordenador es el que realizó Edward E. Zajac, el año 1963, en los laboratorios de la Bell Telephone Co. de Murray Hill, Nueva Jersey, con una finalidad de estudio y simulación del movimiento orbital de un satélite artificial. Este film, de cuatro minutos de duración y en blanco y negro, fue realizado con un ordenador IBM 7094.</p>
<p>  </p>
<p> De una manera más amplia, sin embargo, la generación electrónica de formas visuales y su modulación y animación cinética tiene diversos antecedentes a lo largo de la década anterior. De hecho, algunos estudiosos del tema destacan entre los antecedentes o primeras manifestaciones de
<i>computer graphics</i> a los <i>Oscillons</i> de Ben F. Laposky, &quot;abstracciones electrónicas&quot; creadas por dicho artista desde 1950, por el procedimiento de fotografiar unas formas obtenidas en la pantalla de un osciloscopio.</p>
<p>  </p>
<p> Igualmente, en el caso de los <i>computer movies</i>, cabe recordar que algunos destacados experimentalistas cinematográficos, como Norman McLaren, Mary Ellen Bute, Hy Hirsh, Jordan Belson y John Whitney trabajaron también en los años cincuenta con osciloscopios y otros instrumentos electrónicos analógicos. Así, Mary Ellen Bute, para la realización de
<i>Abstronics</i>
(1954) y otros de sus films, contó con la colaboración del Dr.
Ralph Potter, también de los Laboratorios Bell, el cual diseñó y construyó unos circuitos específicos que permitían una programación precisa del osciloscopio.</p>
<p>  </p>
<p> Es bien sabido también que, hacia finales de los años cincuenta, John Whitney se ingenió una máquina de animación propia, a veces descrita como un computador analógico, a partir de elementos procedentes de viejos sistemas de detección antiaérea. Dicha máquina la empleó para la realización de efectos y títulos de crédito en trabajos de encargo
–su contribución más célebre fue en <i>Vertigo</i>, de Hitchcock–, mientras que otras búsquedas propias quedaron recogidas en su cortometraje <i>Catalog</i>
(1961). Sucesivamente, este sistema analógico y mecánico de John Whitney, primitivo pero lleno de posibilidades, sería magistralmente utilizado y perfeccionado por su hermano James (<i>Lapis</i>, 1963-66), su esposa –la artista Jacqueline Helen Blum– y los tres hijos del matrimonio: Michael, Mark y, más especialmente, John Whitney, Jr.</p>
<p>  </p>
<p> Además de la saga de los Whitney –que todavía se podría alargar con algunos colaboradores o discípulos–, otros de los pioneros reconocidos del cine cibernético en Estados Unidos fueron John Stehura, Stan Vanderbeek, Kenneth C. Knowlton, William A. Fetter, A. Michael Noll, Duane Palyka, Charles Csuri, Lillian Schwartz, Edwin Catmull, Larry Cuba... Entre estos nombres, se mezclan los de quienes procedían de una práctica artística –a menudo en la demarcación del cine experimental–, con los de prestigiosos científicos, ingenieros e informáticos; con frecuentes colaboraciones de unos con otros, así como con empresas punteras, laboratorios de investigación y departamentos universitarios.</p>
<p>  </p>
<p> Así, a mediados de los sesentas, John Whitney halló la colaboración del Dr. John P.
Citron y, a través del mismo, de la empresa IBM, lo que le permitió
proseguir sus búsquedas con el nuevo instrumental digital. Ken Knowlton, de los Laboratorios Bell, colaboró sucesivamente con Stan Vanderbeek y Lillian Schwartz en diversos cortos de animación experimental. Otros de los primeros <i>computer movies</i> surgieron, en fin, de las actividades inherentes a laboratorios de investigación tecnocientífica, como los de Boeing o la NASA además de los ya mencionados de la Bell y de IBM; o también en diversos centros universitarios. Entre estos últimos cabe destacar el Computer Graphics Research Group, fundado por Charles Csuri en la Universidad Estatal de Ohio, y el Architecture Machine Group del Massachusetts Institute of Technology, fundado por Nicholas Negroponte.</p>
<p>  </p>
<p> Una de les primeras exposiciones de <i>computer art</i> en EE.UU. fue la presentada el año 1965 por la Howard Wise Gallery de Nueva York. Los expositores no eran sin embargo conocidos como artistas, sino como científicos y técnicos afiliados a diferentes empresas y laboratorios de investigación. Al margen de este detalle
–bien significativo de una época en que el antiarte de Fluxus, por ejemplo, convivía con la celebración de las colaboraciones entre arte y tecnología–, ese mismo año de 1965 constituye todo un hito en la historiografía del vídeo como medio artístico. Y la misma galería de Howard Wise habría de presentar, cuatro años después, una de las primeras exposiciones colectivas de videoarte: <i>TV as a Creative Medium</i>
(1969).</p>
<p>  </p>
<p> En la historia propia del videoarte, la síntesis y el tratamiento o procesado electrónico de las imágenes son aspectos precozmente anticipados.
Nam June Paik, Eric Siegel, Stephen Beck, Bill y Louise Etra, Bill Hearn, Dan Sandin, Woody y Steina Vasulka son algunos de los artistas que, a finales de los sesentas y a lo largo de los setentas, se construyeron o adaptaron sus propios instrumentos para la generación y manipulación de formas visuales (y, a veces, también sonoras), ya fuera partiendo de sus intuiciones y por sus propios conocimientos técnicos, o bien con la colaboración de ingenieros o “manos hábiles” en terrenos de la electrónica: Paik con Shuya Abe; los Etra con Steve Rutt; los Vasulkas con George Brown, Donald MacArthur i Jeffrey Schier. En algunos casos, además, poniendo sus ingenios al libre alcance de cualquier otra persona o entidad que quisiera utilizarlos; concretamente, tanto Paik como Sandin rehusaron la reclamación de una patente. Colorizadores, sintetizadores de vídeo, procesadores de imágenes y de su trama de líneas y píxeles, se añadieron así al <i>feedback</i> de la señal de vídeo, el mezclador, el generador de efectos, la incrustación o <i>chroma-key</i>, etc.; aparatos, técnicas o recursos comunes pero de uso entonces infrecuente o restringido a determinados formatos televisivos.</p>
<p>  </p>
<p> En gran parte, dichos aparatos pertenecen a una generación analógica y son el resultado de un bricolaje vocacional que logra, sin embargo, algunas posibilidades sorprendentes. Y no es hasta principios de los setentas que hallamos máquinas más sofisticadas como el Scanimate, detrás de la cual hay ya una empresa: la Dolphin Computer Image Corporation.
Ed Emshwiller, por ejemplo, se sirvió brillantemente de dicho aparato en cintas como <i>Scape Mates</i>
(1972) y <i>Crossings and Meetings</i>
(1974); en esta última, en combinación con un novedoso sistema de videodisco.</p>
<p>  </p>
<p> Aquellos primitivos videosintetizadores que tanto nos maravillaron en los programas de videoarte de no hace tantos años, quedaron luego arrinconados por la ultimísima pirotecnia digital y por los superordenadores de que gozaban las grandes o medianas empresas de infografia, CGI o efectos visuales. Medios raramente accesibles para los creadores independientes, aunque los pasos de gigante de la informática fueron acompañados de pasos más cortos en el territorio del vídeo experimental y la informática personal, con aportaciones bien sustanciales y redescubiertas actualmente.</p>
<p>  </p>
<p> Así, entre las primeras aproximaciones a los sistemas digitales cabe recordar el Video Weaver de Stephen Beck, aparato harto rudimentario y prácticamente limitado a la generación de tramas de tipo mosaico, con el cual realizó la serie de los <i>Video Weavings</i>
(1975). La combinación del Image Processor de Dan Sandin con los lenguajes de programación gráfica GRASS i ZGRASS de Tom DeFanti constituye originalmente un sistema híbrido analógico-digital, a partir del cual se desarrolló el trabajo del llamado Grupo de Chicago, del cual formaron también parte Phil Morton, Jane Veeder, Bob Snyder, Barbara Sykes i Copper Giloth. El Digital Image Articulator de los Vasulkas y Jeffrey Schier constituye así mismo un sistema híbrido, las características del cual fueron didácticamente expuestas en cintas como <i>Artifacts</i>
(1980) y <i>Cantaloup</i>
(1981).</p>
<p>  </p>
<p> Hay que recordar también <i>Sunstone</i>
(1979), una breve cinta realizada por Ed Emshwiller en el New York Institute of Technology –en estrecha colaboración con Alvy Ray Smith; luego una de las personas-clave en la división informática de Lucasfilms–, todo un clásico en la parcela de la animación por ordenador, cuya elaboración requirió en su momento ocho meses de intenso trabajo (para una duración final de tres minutos).</p>
<p>  </p>
<p> En Europa, los rastros son más exiguos y discontinuos –además, permanecen escasamente documentados a veces– por comparación con el grosor que tienen las precursoras experiencias que se sucedieron en Norteamérica, tal como las recapituladas hasta aquí. Sin embargo, para completar una arqueología (cercana) de la cibernética audiovisual, su estudio debería completarse con las aportaciones más o menos aisladas de artistas como Karl Otto Götz,  Marc Adrian, Georg Nees, Denys Irving o Malcolm Le Grice, así como de algunos individuos (artistas o técnicos) que se internaron en la creación de máquinas específicas para la síntesis y el procesamiento de imágenes electrónicas, y cuya fama –cuando la tienen– es de orden esencialmente local.  </p>
<p>  </p>
<p> La interfaz entre el ordenador y el vídeo –y de rebote el cine, con los procesos del llamado cine digital– se ha convertido en común o recíproca con el paso de los años: cuando la pantalla de televisión se ha transmutado también en monitor de vídeo y terminal informático, e incluso en sucedáneo del “cine en casa”. Los <i>computer movies</i>, por otro lado, se han integrado en nuestro entorno cotidiano, pletóricamente audiovisual y multimediatico: videoclips, spots, molinetes, videojuegos, simulacros, animaciones, films de efectos, animaciones flash, bucles expositivos... Por último, otra gran faceta de la conjunción de la informática y el audiovisual es hoy moneda corriente en los procesos de montaje y postproducción audiovisual. Y, si bien muchos de estos aspectos  no tienen demasiado que ver con la estética cibernética de otro tiempo, son todo un reflejo de la evolución que nos trae del osciloscopio y el videosintetizador a la implantación a gran escala del chip prodigioso.</p> </body> </html>