  <p> <b>Tecnología y filantropía</b></p>
<p>  </p>
<p> En el pujante mundo de las tecnologías de comunicación e información (TCI), la creatividad personal y la astucia empresarial se dan la mano y se sellan con un buen apretón y la firma de un contrato asociado (unas veces blindado, otras todo lo contrario).
Aunque muchos serían los casos a consignar en los que el ímpetu industrial se extrapola a una palpable inquietud humanista y de altruismo cultural, aquí hemos convenido en loar la particular excelencia de una pequeña corporación, todavía sin cotización en bolsa pero ya cortejada por otras que lo son.</p>
<p>  </p>
<p> Hablamos de Technologies to the People® (TTTP), una empresa cuya actividad se desborda más allá de su sede virtual y cuyos principales activos son la clarividencia y el riesgo. Así, incentiva el talento de artistas atraídos por la versatilidad digital de los nuevos medios, beneficiándose de sus hallazgos para ofrecer nuevos servicios a la sociedad, sin exclusión alguna; contando, pues, con las minorías tanto como con el pueblo más llano, e incluso con los actuales desheredados del ciberespacio.</p>
<p>  </p>
<p> Uno de estos artistas es el alicantino Daniel García Andújar, cuyo compromiso con unas determinadas convicciones éticas y sociales se hace bien perceptible desde sus primeras creaciones –o mejor hablemos de proyectos–, al aguzar su mirada sobre ciertas razas o colectivos residuales; sobre el vocerío mediático de la levedad y la ostentación; sobre el mal uso de la tecnología y otros caudales públicos o privilegiados; o sobre las tramoyas ocultas de la historia y la memoria colectiva.</p>
<p>  </p>
<p> Entre los primeros frutos de una tal alianza entre los desvelos del artista responsable y los osados intereses de la emergente compañía, uno de los primeros ofrecimientos de TTTP fue el sistema de donativos y recepción de los mismos que apela a la higiene del dinero de plástico mediante el uso de la Street Access Machine (SAM) –en su más reciente y renovado diseño, la iSAM™–, destinada a erradicar las antiestéticas molestias que se producen en el entorno urbano por el acecho de mendigos, pedigüeños y desposeídos varios.</p>
<p>  </p>
<p> Por muy descabellada que parezca la idea de dotar a los indigentes con monederos electrónicos y terminales telemáticos a modo de cajeros automáticos convenientemente diseminados –en especial en aquellas zonas que más atraen la mendicidad y la truhanería–, no hay que olvidar que la tecnología es visionaria. Así, aquello que algunas personas supuestamente avisadas verían como una picardía con segundas y taimadas intenciones, ha captado de inmediato la atención de algunas de las empresas actualmente más potentes y competitivas en el mercado de los nuevos valores tecnológicos, obteniendo los mejores visos para una futura comercialización a gran escala.</p>
<p>  </p>
<p> Otra iniciativa bien diferente, pero igualmente reveladora de las exquisitas inquietudes humanistas y de promoción cultural de TTTP, es una de la que nos complace hablar por haber aportado nuestro granito de arena. Se trata de una antología de videoarte internacional disponible para su consulta en línea y gratuita, teleportando así un fondo con el que varios museos de medio pelo quisieran contar a una gran audiencia potencial que ni los artistas y videoartistas más celebérrimos, o que lo fueron, pudieron nunca antes soñar.</p>
<p>  </p>
<p> Ciertamente, dicha selección antológica no supera en cantidad a las que han conseguido reunir otros centros –museos, fundaciones, archivos, etc.–, ya que fue establecida a modo de prototipo con la redonda cifra de 100 títulos. En cambio, la visión de futuro de la TTTP Video Collection ha residido en apremiar la calidad deseable para la correcta recepción de estas obras tal como fueron concebidas originalmente: para ser visualizadas a toda pantalla, con la debida resolución y a su correcta cadencia.</p>
<p>  </p>
<p> Mientras que los referidos centros todavía no han resuelto la ubicación en red de sus fondos, ni los complicados aspectos legales que ello conlleva, TTTP se ha anticipado al aportar soluciones mediante un impresionante despliegue de arquitecturas propietarias y licenciadas que el usuario puede descargar de la misma red. Además de constituir una encomiable operación de mecenazgo y fomento en un campo un tanto alicaído últimamente, cual es el de la videocreación, TTTP se ha avanzado a las prospectivas que ahora mismo se desatan con la apoteosis del vídeo digital.</p>
<p>  </p>
<p> La relevancia de modestas pero enjundiosas iniciativas como las de TTTP y sus talentos asociados, desmiente las visiones más alarmistas y mojigatas sobre el progreso tecnocientífico y las peligrosas secuelas que podría tener su crecimiento sin freno ni credo. Por el contrario, al aunar las áreas de los ne(t)gocios y las propias de las ONG y otras entidades cívicas, culturales o artísticas, se atienden las necesidades de los colectivos más demacrados. Desde el pensamiento más positivo, la tecnología crece en humanidad y acrecienta su parque de usuarios.</p>
<p>  </p>
<p> Terminaremos citando unas palabras recientes de Bill Joy, de Sun Microsystems, publicadas en The Washington Post: &quot;Por supuesto que las tecnologías en sí nacen para dar beneficios al mundo, mejorando la calidad de vida y la esperanza de años vividos, y eliminando la pobreza material. Queremos los beneficios de estas tecnologías, pero tenemos una responsabilidad ética con el futuro de nuestra especie. Debemos encontrar alternativas para que estas tecnologías lleguen a todos y de verdad sirvan para reforzar a la humanidad.&quot; Que así sea.</p>
<p>  </p>
<p> Eugeni Bonet</p>
<p>
(In Medias Res)</p> </body> </html>