  <p> <b>Olé
tus vídeos, George</b></p>
<p>  </p>
<p>  </p>
<p> Si tuviera hoy que aprender inglés, me gustaría contar con las cintas de George Kuchar como material didáctico: aprender y disfrutar con las mismas, instruirme deleitándome. Sus vídeos constituyen un diario o dietario,
&quot;escrito&quot; con los medios más modestos: una cámara de vídeo-8 y la vida cotidiana como gran plató, habitado por innumerables personajes que se interpretan a sí mismos.</p>
<p>  </p>
<p> El factor lingüístico --el idioma-- puede ser en verdad un impedimento, una barrera, para &quot;entrar&quot; en su arte, su vídeo, su vida (que todo viene a ser, en cierto modo, lo mismo). Pero doblar a Kuchar sería espeluznante: significaría sacrificar o aplanar el grano de su voz; su punzón sarcástico o su murmullo introspectivo, por apenas mencionar un par de registros presentes en sus <u>vídeo-diarios</u>.
Por otro lado, pienso que incluso para quien apenas pille nada de su labia, ora mordaz, ora meditabunda, los vídeos de G.K. ofrecen otros motivos de solaz y reflexión.</p>
<p>  </p>
<p> Kuchares, por cierto, hay dos: George y Mike, gemelos, nacidos en 1942 y crecidos en el Bronx. Con doce años, rodaron su primera película en 8mm, a la cual siguieron otras muchas, hasta que alcanzaron la mayoría de edad y cada cual prosiguió su propia andadura, siempre acompañados de una cámara.
Su escuela fueron los films de Hollywood y alrededores, de la serie A a la Z, vistos en cines de barrio y en la tele.</p>
<p>  </p>
<p> Los films de ambos Kuchares son desconocidos por nuestros pagos. Apenas me consta que se proyectaran algunos de George en una muestra de &quot;cine independiente americano&quot;, en el Festival de Valladolid de 1982, gracias a que estaba de por medio el informadísimo y malogrado Nacho Fernández Bourgón. Por supuesto, siempre se puede consultar la exigua bibliografia sobre el <u>underground USA</u> disponible en lengua española.</p>
<p>  </p>
<p> El cine kuchariano, junto con el de Anger o Conner, encarna una de las facciones más populares entre la producción independiente nacida con la primera generación de cineastas subterráneos norteamericanos. Tienen incluso su club de fans, y el culto a su obra se ha ido renovando entre sucesivas generaciones: John Waters ha reconocido la gran influencia que sus films ejercieron sobre su propia obra; George tuvo un dilecto discípulo en el aún más infame Curt McDowell (víctima del sida, George le dedicó un capítulo entero de su vídeo-diario); las corrientes <u>punk/new wave/no wave</u> les situaron de nuevo en el candelero; y, en el mundillo del vídeo, las cintas de George han sido acogidas como un soplo de aire fresco.  </p>
<p>  </p>
<p> Para entendernos, los primeros films de los Kuchar (años 50/primeros 60) iban en una onda parecida a los que nuestro Pedro Almodóvar haría a lo largo de los años 70, con parecida cutrería de medios, pero con el irreprimible &quot;deseo&quot; de revivir, mediante el jolgorio y la parodia, los mundos ficticios de la imaginería cinematográfica devorada desde la infancia. (¿Para entendernos? Salvo que, actualmente, los super-ochos de Almodóvar se han convertido en una leyenda que muchos ya sólo conocen de oídas).</p>
<p>  </p>
<p> Sus géneros favoritos, pedestremente recreados, eran el melodrama desatado (a lo Douglas Sirk o Tennessee Williams adaptado por Elia Kazan) y el cine fantástico y de terror (al estilo de la factoría Corman y de la serie Z más desastrada). Al parecer, la filmografía de George en solitario ha perseverado en parte en esta línea, aunque también ha abarcado el diario personal y el retrato documental, a propósito de las actividades de otros artistas y amigos, tales como los escultores Red Grooms y George Segal.</p>
<p>  </p>
<p> A sus cincuenta años cumplidos, Kuchar cuenta así con una filmografía de unos 70 títulos, incluyendo algún que otro largometraje, más los vídeos que ha venido realizando desde 1985, que, según él mismo ha estimado, rondan ya la cifra de unos 50 títulos más, de las más variadas duraciones.</p>
<p>  </p>
<p> Salvo excepciones, por el momento muy singulares (por ejemplo, <u>Calling Dr. Petrov</u> o <u>The Fall of the House of Yasmin</u>, donde prosigue satirizando los más acartonados géneros), la videografía de G.K. está compuesta de capítulos y páginas sueltas de un diario permanentemente en curso, aunque cada parte constituye una entrega cerrada y autónoma. Utiliza siempre la cámara de vídeo-8, realizando toda edición en la misma mediante sucesivas tomas e insertos, sin postproducción propiamente dicha. Kuchar sostiene la cámara en una mano, a la vez que se mueve y charla por los codos, permaneciendo detrás del visor o colocándose ante el objetivo, tomándose eventualmente el respiro de colocar la cámara sobre un trípode o cualquier otra base de apoyo.</p>
<p>  </p>
<p> Aunque el estilo siempre sea el mismo, sus cintas son sumamente variadas y entretenidas, desglosándose en diferentes registros y series. Así, además de las referidas a episodios, actividades y vivencias cotidianas a lo largo de un determinado lapso de tiempo (la serie de los<u> Video Albums</u>), Kuchar tiene otra serie de cintas más breves, motivadas por jugosas visitas o estancias en residencias ajenas (<u>Precious Products</u> y <u>Point'n Shoot</u>, por ejemplo) y, en un registro más serio e introspectivo, los diarios que toman como pretexto los cambios y fenómenos metereológicos en un determinado contexto geográfico (<u>Rainy Season</u> o las diversas entregas de los <u>Weather Diaries</u>).</p>
<p>  </p>
<p> Por ende, George Kuchar nos demuestra que con la más simple cámara de 8mm es posible hacer verdaderos &quot;vídeos de primera&quot;. Sus admiradores podemos así exclamar: Olé tus vídeos, George.</p>
<p>  </p>
<p>  </p>
<p> Eugeni Bonet</p>
<p>  </p>
<p> Barcelona, diciembre 1992</p>
<p>  </p> </body> </html>