  <p> <b>Vidas privadas, vídeos públicos</b></p>
<p>  </p>
<p>  </p>
<p> Un angosto criterio abundantemente aplicado a la estética videográfica más intuitiva y rutinaria, un criterio algo aberrante pero harto consolidado y difundido —histórica y sociológicamente—, ha concedido de costumbre un valor potencialmente superior a las prácticas donde se hace más ostensible la habilidad y/o el alarde en el manejo de determinados recursos, efectos, técnicas; aquellos que, presumiblemente, distinguirían al vídeo de otros medios anteriores —en particular el cine—, y mediante los que adquiriría toda su sustancia. Pero, hoy en día, nos están un tanto de más las disquisiciones esencialistas de otro tiempo (en el que probablemente tales disquisiciones eran necesarias y, desde luego, inevitables, dada la novedad y el “misterio” del medio); o, por lo menos, tales consideraciones tienden a permanecer en un segundo o tercer término. Ya no nos preguntamos, no nos preocupamos tanto por si tal pieza extrae suficiente jugo de la cacharrería electrónica, sino que lo que evaluamos es que tenga una cierta fuerza, que nos interese lo suficiente,… y tanto mejor si, además, puede aportar algo nuevo dentro del marco de referencia de su disciplina (que no necesariamente es el vídeo, sino que frecuentemente participa de un rango mestizo o multimedia más amplio).</p> <div id="Section1" dir="ltr">
	<p>
	
	</p>
<p>
	En cualquier caso, la genealogía de las
	prácticas videográficas presenta otros aspectos y líneas más
	“crudas” —menos especiadas, salseadas, vistosas—, pero no
	menos intrínsecas al medio y a sus aptitudes (nativas o
	adquiridas). Por ejemplo, en cuanto a un conjunto de actividades que
	brotaron en los años 60/70 —el vídeo basado en la corporalidad
	de la performance, el vídeo comunitario o de
	intervención/contrainformación, o cierto documentalismo
	impresionista heredero del cine-ojo y otras múltiples exploraciones
	cinematográficas previas—, ceñidas a una captura documental sin
	muchos más aditamentos (a veces ni siquiera edición), pero sacando
	partido de unas características básicas que la tecnología del
	vídeo vino a ofrecer desde la llegada de los primeros equipos
	ligeros. Y, por otro lado, esas mismas características —integración
	y sincronía de las señales de vídeo y de audio sobre el mismo
	soporte, portabilidad y manejabilidad de los equipos, creciente
	miniaturización y compactación de los elementos, etc.— son las
	que han propiciado un cariz frecuentemente intimista, altamente
	subjetivo o introspectivo de buena parte del vídeo (de creación o
	videoarte, o como se prefiera llamarle). Así, un célebre ensayo de
	Rosalind Krauss proponía una interpretación de ciertas obras
	tempranas en términos de una estética del narcisismo.[[[i]]]</p>  <div id="Section2" dir="ltr">
	<p>
	</p>
<p>  </p>
<p> Pero, desde los años 80, con la rápida penetración del vídeo en el ámbito doméstico —aunque, ante todo, como nuevo bien de consumo, en su función más pasiva y a mayor gloria de las industrias y la sociedad del espectáculo—, cabría considerar otra forma de intimidad y privacidad, generalmente sin otras ínfulas estéticas, en aquellos usos que conforman esa zona en sombras del vídeo casero, familiar o amateur (términos que permiten ciertos distingos, bastante transparentes por sí solos). Zona en sombras, aunque sesgadamente iluminada hace algunos años con la proliferación de infames programas televisivos de montaje e instigación de gags y disparates de ambientación familiar —como pronto pudo sospecharse, puestos en escena con un ánimo de competición, jolgorio y fugaz presencia en el “aire”—; pero que, en esencia, no tiene otra motivación que la de permanecer como registro entrañable o ejercicio privado en un círculo familiar o, a lo sumo, de unos pocos aficionados. Y, sin embargo, el generalmente subestimado ámbito del vídeo (y del cine) amateur, o más estrictamente casero, podría contemplarse como el reverso de aquel que tildamos más pomposamente, o acaso un tanto precipitadamente, de independiente.</p>
<p>  </p>
<p> Como bien ha sugerido Jaime Vallaure, un artista que ha parafraseado en algunos de sus vídeos la estética no preceptiva del vídeo casero y familiar, el ámbito productivo del vídeo doméstico quedaría en cierto modo circunscrito a “lo marginal dentro de lo marginal”, siendo esta última marginalidad la del “micromundo del vídeo experimental” y sus pautas supuestamente predominantes.[[[ii]]] No obstante, ahora es posible considerar todo un cuerpo de prácticas videográficas no precisamente recluidas en el estricto/restricto perímetro de lo privado y doméstico, pero que permiten advertir una influencia e implicación, reivindicación y deconstrucción de unos modos, temas, fuentes y medios asociados por excelencia con la fabricación instintiva de imágenes privadas, caseras, familiares
(videográficas, cinematográficas, fotográficas), por el mero placer de una afición o por otros afectos y recreos íntimos. Otra cosa es que ciertas “obras personales” lleguen a serlo en un grado tan extremo que defrauden las expectativas de los espectadores deseosos de llevarse a los ojos los más tradicionales y eternos valores del arte o la maestría creativa, escudándose entonces en el tópico y menospreciativo argumento del “cualquiera podría hacerlo” y, en definitiva, en el enojo ante lo que se siente como ajeno.</p>
<p>  </p>
<p> En lo que concierne a los medios o útiles empleados en el ámbito del vídeo independiente, de creación, experimental,… en efecto puede observarse cómo, a lo largo de los
últimos años, se ha prescindido en varios casos de las tecnologías-punta y de los formatos profesionales más en vigor
(betacam, digital u otros) para explorar o simplemente usar provechosamente aquellos usualmente reservados a los círculos amateur o doméstico: formatos de cine y vídeo de 8 mm (o, por supuesto, otros aún en circulación), camascopios compactos o la videocámara de juguete Pixelvision de Fisher-Prize.[[[iii]]] Y, si a menudo estos medios “pobres” se combinan con aquellos más adecuados para una elaborada postproducción, otras veces la obra se elabora y edita íntegramente en la cámara, y simplemente se transfiere a un formato superior por razones de mayor rendimiento y seguridad.</p>
<p>  </p>
<p> Este aprovechamiento de las cualidades y retos de los medios más modestos o de adscripción subestándar y no-profesional ha llegado a convertirse en una “moda” —me lo señaló así, ya hace tres años, un amigo norteamericano bien introducido en la escena videográfica de su país—, con lo malo que eso pueda tener (por lo pasajero o trivial que suele acarrerar lo en boga), aunque constituyendo también un signo de los tiempos. De un tiempo, concretamente, marcado por una cierta desesperanza y cuestionamiento en diversos aspectos, comenzando por los del alcance, la efectividad y el reconocimiento de la producción audiovisual independiente y experimental; sus posibles salidas ante una cierta situación de impasse y desaliento; las válvulas de escape posibles para el mantenimiento de las aspiraciones y la actividad. Escape que, en lugar de constituir una huída hacia adelante, podría pasar por una aceptación de la vecindad que aproxima al independiente del amateur o aficionado, y por una consecuente modestia y simultánea afirmación al manejar unos medios, unos recursos y unas aspiraciones
“realistas”; más cercanas a lo posible que a lo utópico.[[[iv]]] Pero, de todas formas, aquí no se trata de predicar humildad y resignación, sino de hacerse eco de ciertas actitudes y obras que reivindican, ya sea de manera orgullosa o pragmática, el potencial de unos medios mínimos o simplemente básicos, al igual que ciertas corrientes musicales últimas han impuesto el retorno de un sonido a
“garaje” o, como se prefiere decir ahora, lo-fi.</p>
<p>  </p>
<p> De todas maneras, la mayor o menor humildad de los medios utilizables constituye apenas uno de los factores que pretendo resaltar, si bien tiene ciertamente su quid y su plus de significación en determinados cuerpos de obra y procedimientos característicos, tal como en los videodiarios de George Kuchar (editados en la cámara, convertida en apéndice-camcorder de las incisivas miradas y mordaces glosas de su autor), los diarios íntimos adolescentes de Sadie Benning (que, desde 1989 y a sus quince años de edad, ha venido haciendo un uso prodigioso y personalísimo de la cámara de juguete Pixelvision, sus introspecciones centrándose en los ritos de paso de la pubertad hacia la edad adulta, el descubrimiento de la sexualidad, y la afirmación de su identidad como mujer y lesbiana), o las videomemorias de Juan Crego (también editando sus retazos de lo cotidiano en una videocámara de pequeño formato, siguiendo unas veces una pauta aritmética predeterminada, y confiándose en otras al azar ciego de sucesivas sobregrabaciones, con la consiguiente eliminación parcial de las imágenes retenidas previamente).</p>
<p>  </p>
<p> Diarios o dietarios, autobi(de)ografías, retratos y autorretratos, memorias y recuerdos, viajes y viajes interiores, crónicas de lo secreto (lo recóndito, lo callado, lo sexual), introspecciones e introversiones, transcripciones de sueños o ensoñaciones…
Múltiples son las expresiones de la interioridad y la subjetividad, y en su escritura audiovisual hallamos una variedad de registros tan vasta como en sus equivalentes literarios. Así, en los trabajos videográficos de Francisco Ruiz de Infante, pese a haber utilizado a menudo los pequeños formatos del super-8 o el vídeo de 8 mm., hay toda una elaboración posterior —y previa (de postproducción y preproducción pues), incluyendo una preparación de orden literario y de acopio simbólico— que excede del aspecto que pretendo resaltar aquí (salvo quizá en su cinta El primer viaje: cuatro días, de 1992, que, sin ser una de sus mejores obras, establece una premisa interesante: la del viaje imaginario o por delegación, transcrito a partir de unas imágenes del todo personales y subjetivas, pero ajenas). Y otro tanto cabría decir de Bill Viola, cuyas últimas obras (cintas e instalaciones) giran en torno a sus seres más próximos, con la muerte de su madre y el nacimiento de su segundo hijo como referencias biográficas principales, pero formando parte de un entramado de metáforas y alegorías.</p>
<p>  </p>
<p> En cambio, como expone Jaime Vallaure, al restringirse principalmente a unos medios de “baja definición” y al despreocupado desaliño de lo doméstico, lo no-profesional, lo garabateado, el que dijésemos vídeo doméstico de autor[[[v]]] rehuye “la tendencia (insistente) hacia lo simbólico-metafórico-alegórico […], [cuyo] referente pertenece al campo de lo literario, de lo llamado (con excesivo orgullo)
poético”. Se prefiere por tanto la realidad cotidiana sin florituras, sin eludir lo aburrido, rutinario o desesperante; sin descartar los tiempos muertos, los silencios, los vacíos, los titubeos, los yerros o las intrusiones del azar. Y aquello que se recoge, registra, retiene pueden ser cosas tales como el primer mes de vida de un recién nacido, una jornada cotidiana o un paseo ocioso
(Juan Crego); la habitación y las preocupaciones privadas, las anotaciones mismas de un diario escrito, las fabulaciones del imaginario y las intrusiones de la realidad exterior (Sadie Benning); la agonía de un amigo, los encuentros con familiares o artistas, los ritos y hábitos privados, el paso y las inclemencias del tiempo
(George Kuchar); retratos de ancianos y disminuidos, escenas e instantáneas hogareñas, periplos turísticos o viajes familiares
(Jaime Vallaure, Daniela Musicco); la memoria de unos traumas físicos y psíquicos y sus secuelas (Michael O’Reilly, otro diestro usuario de la Pixelvision y los medios más precarios, en Glass Jaw, 1991); la crónica de una relación de pareja que se desenvuelve como un road movie / home movie (Sophie Calle y Greg Shephard en Double Blind, 1992)…</p>
<p>  </p>
<p> Y, en fin, estas referencias podrían aumentarse con otras, si no fuera porque me atengo básicamente a aquellas obras con las que estoy más familiarizado (¿nunca peor dicho, dado el tema que me ocupa?), y poque el espacio del que dispongo me impide extenderme con otras excursiones, navegaciones y divagaciones, tanto en lo que concierne a otras manifestaciones de las temáticas familiar y hogareña (por ejemplo, en obras de Hermine Freed, David Larcher, Robert Frank, Peter Forgács, Gusztáv Hámos, Ilene Segalove, Lynn Hershmann, Mako Idemitsu, Janice Tanaka, Pia Massie, Rea Tajiri, Mindy Faber, Nina Danino, Manuela Sáez…) —a menudo acudiendo a un fondo de fotografías, películas familiares u otras imágenes de archivo[[[vi]]]—, como a otros enfoques y planteamientos en el uso y aprovechamiento de los más modestos o pobres medios, “bajas” tecnologías, abarcando la ficción (Peggy Ahwesh y Margie Strosser, o Michael Almereyda, jugando también con la camarita Fisher-Price, o Julie Zando con Hi-8), el documental (Ellen Spiro, Paul Garrin, Txuspo Poyo) o la videocorrespondencia (Shuji Terayama y Shuntaro Tanikawa), con frecuentes intencionalidades añadidas —de ímpetu activista, reivindicativo o contrariador—, igualmente advertibles en la obra de varios de los demás autores y autoras mencionados.</p>
<p>  </p>
<p> Ahora que el cine cumple cien años, la producción familiar y amateur en general parece que despierta un nuevo interés —cuando en general ha sido un ámbito ignorado o menospreciado, marginado o trivializado al máximo—, apareciendo tesis y libros[[[vii]]] o, asimismo, series o programas de televisión con un enfoque otramente más serio, respetuoso y riguroso que el de las emisiones aludidas algunos párrafos atrás.[[[viii]]] Y esto, junto a otras expresiones e interrogaciones de lo privado que trascienden a lo público, podría a su vez interpretarse en relación con el auge de una historiografía de la vida privada o cotidiana, en contraposición a la clásica historia oficial —historia política, del poder y la economía, de los grandes acontecimientos, etc.—; también de otros argumentos historiográficos no tan privados —por ejemplo, el de una historia de las mujeres, y aquí cabría resaltar por otra parte el relieve que han tenido los planteamientos feministas en el campo sobrevolado en este artículo—; y, por fin, la renovada atención que en general suscitan el memorialismo, la biografía y todas sus variantes.</p>
<p>  </p>
<p> La actual incidencia de los medios, las fuentes y la anormativa estilística del vídeo (y cine) doméstico en el vídeo (y cine) de autor, experimental o como se le prefiera llamar, cobra pues una pluralidad de matices y bifurcaciones sucesivas. Algunas obras no pretenden ir mucho más allá de lo privado o lo experimental —que, en muchos casos, se dan la mano a través de la vivencia de lo cotidiano y las particularidades de su captura audiovisual—, pero otras nos introducen en los esquivos pozos de la memoria y la historia (pretérita o reciente) desde penetrantes o inquisitivos puntos de vista que permiten descubrir cosas no sabidas o previamente imperceptibles; que procuran la construcción de una identidad
—muchas veces desde la “otredad”— y la deconstrucción de
(ruptura con) unos condicionamientos e ideas recibidas por intimidación social; y que afrontan las zozobras e interrogaciones del día a día individual, colectivo y político.</p>
<p>  </p>
<p> Cap de Creus - Barcelona, agosto 1995</p>
<p>  </p> <div id="sdendnote1">
	<p>[i]
	</p>
<p>
	[	][N]OTAS</p>
<p>
	</p>
<p>	Rosalind
	Krauss, “The Aesthetics of Narcissism”, en October, nº 1,
	primavera 1976. Este
	ensayo, posteriormente recogido en diversas antologías o
	recopilaciones, se refiere concretamente al vídeo de artistas como
	Vito Acconci, Richard Serra y Nancy Holt, Bruce Nauman, Lynda
	Benglis, Joan Jonas y Peter Campus.</p>  <div id="sdendnote2">
	<p>[ii]Jaime
	Vallaure, “Vídeo doméstico o lo marginal dentro de lo marginal”,
	en el catálogo del VIII Festival de Vídeo Musical de
	Vitoria-Gasteiz, 1993.</p>  <div id="sdendnote3">
	<p>[iii]Supongo
	que, similarmente a lo sucedido con tan modesto cacharro, alguien
	sabrá sacar todo su partido de una cámara digital tan rudimentaria
	como la QuickCam, un periférico informático que puede adquirirse
	por 20.000 pesetas, o por casi la mitad en el país del dólar.</p>  <div id="sdendnote4">
	<p>[iv]Mi
	interpretación aquí de la situación y dilemas actuales de la
	videocreación se refiere en primer lugar a una precariedad que se
	hace perceptible en el conjunto del estado español, pero que, sin
	entrar en detalles, puede hacerse extensible a una escala mayor.</p>  <div id="sdendnote5">
	<p>[v]El
	vídeo o cine doméstico, más exactamente el familiar, tiende por
	lo contrario a una carencia de autoría precisa —otra que la de la
	institución familiar—, y a la impersonalidad y el estereotipo,
	tal como ha apuntado Roger Odin, “Du film de famille au journal
	filmé”, en Le Je filmé, al cuidado de Yann Beauvais y
	Jean-Michel Boubours, París: Éditions du Centre Pompidou, 1995.</p>  <div id="sdendnote6">
	<p>[vi]Para
	otra aproximación al tema más centrada en este aspecto, véase
	Carmen Navarrete, “Usos privados: testimonios públicos”, en OFF
	vídeo, nº 3, Donostia - San Sebastián, 1993.</p>  <div id="sdendnote7">
	<p>[vii]Por
	ejemplo, el reciente Le film de famille: usage privé, usage public,
	bajo la dirección de Roger Odin, París: Méridiens Klincksieck,
	1995.</p>
<p>	
	
	</p>  <div id="sdendnote8">
	<p>[viii]Incluyendo
	aportaciones de algunos de los nombres  mencionados en estas
	páginas, como, por ejemplo, las diversas entregas de la modélica
	“Serie de la Hungría privada” de Peter Forgács (iniciada en
	1988), dedicada a la recopilación/recuperación de las filmografías
	de distintos aficionados.</p>  </body> </html>