  <p> <b>Marguerite Duras: el texto en la imagen</b>  </p>
<p>  </p>
<p> <i>Entrevista y transcripción en colaboración con Juan Bofill.</i></p>
<p>  </p>
<p>  </p>
<p> Marguerite Duras, conocida figura de la literatura francesa, aparece actualmente en primera plana de las
últimas tendencias del cine. Paradójicamente, ella insiste en que no hace cine, sino que sigue creando textos, pero «de otra manera».</p>
<p>  </p>
<p> Tras su presencia en la Filmoteca de Barcelona, donde presentó <i>India Song</i> y mantuvo un interesante coloquio con el público, abordamos a Marguerite Duras con la intención de proponerle algunas cuestiones sobre su trabajo fílmico.</p>
<p>  </p>
<p> Marguerite Duras debe tomar esa mañana el tren con dirección a Madrid, y quedamos en el restaurante de la estación. Finalmente, ante un plato de <i>petit pois au jambon</i>, que nunca terminará, se dispone a responder a nuestras preguntas. Marguerite Duras habla de un modo muy agradable, con pequeños silencios, reflexiona, se entusiasma, y termina por olvidarse de la comida y del tiempo…</p>
<p>  </p>
<p> <i>Ayer, usted habló, en el coloquio, de la preponderancia del texto sobre la imagen. Para definir mejor esta relación, ¿podríamos decir que la imagen es como una voz, pero que el texto es lo que se dice, la palabra?... Una voz por sí sola es únicamente un sonido, es algo abstracto, el texto es lo que le daría el sentido.</i></p>
<p>  </p>
<p> No puedo responder directamente; es decir, yo creo que el texto lo contiene todo, contiene la imagen también. Es una tentativa, de todas formas, abocada al fracaso. Si yo digo, por ejemplo, <i>«</i>escuchad a los pescadores del Ganges», o esta otra frase: <i>«</i>escuchad el ruido de Calcuta», esto es más fuerte que cualquier ilustración.</p>
<p>  </p>
<p> Y, en mi opinión, en líneas generales, este es el punto débil de todo el cine. Creo que la imagen nunca puede ser un testimonio de la palabra. En <i>Hiroshima, mon amour</i>, las palabras relatan la historia de amor entre la francesita y el alemán; todo ha sido eliminado de la imagen, y no queda más que la travesía de la plaza con el zoom, cuando el soldado alemán avanza… Y, sin embargo, había muchas otras cosas. Todo se cuenta en <i>Hiroshima</i>: el amor de Nevers es contado en <i>Hiroshima</i> por la francesa; luego, esta historia no viene dada más que por el texto. Solo hay dos ilustraciones: cuando él está acostado con ella, en una cabaña del bosque, y cuando atraviesa la plaza; son como unos <i>«</i>documentos de actualidad» muy lejanos. Y, sin embargo, aquella historia domina todo el film; ella decide el film. Me doy cuenta de que, finalmente, hay una gran unidad dentro de mis tentativas. Encuentro que los cineastas son, en general, un poco simples.</p>
<p>  </p>
<p> <i>Pero, ¿no cree usted que, en sus films, lo más importante es la relación entre imagen y texto, más que el texto o la imagen separadamente? Usted dice que el texto es lo más importante…</i></p>
<p>  </p>
<p> No, yo no digo que sea lo más importante, sino que el texto lo contiene todo; el texto es como una matriz, contiene todas las imágenes.</p>
<p>  </p>
<p> <i>Pero las imágenes son muy distintas en </i>India Song<i> y en </i>Son nom de Venise dans Calcutta désert…[<i>[[1]]</i>]</p>
<p>  </p>
<p> A partir de un texto puedes hacer un número indefinido de ilustraciones, un número indefinido de imágenes. A partir de una imagen, pienso que estás mucho más limitado.</p>
<p>  </p>
<p> <i>¿Prefiere pasar como una buena escritora más que como una buena cineasta?</i></p>
<p>  </p>
<p> Es lo mismo. Lo que yo hago con el cine no es cine. Si soy algo, soy más bien una escritora interesada en el cine. No soy una cineasta, en el sentido propio o habitual de la profesión; puedes preguntar a todos los profesionales y te dirán: <i>«</i>Duras no es una cineasta.»</p>
<p>  </p>
<p> <i>Quizá usted va más lejos en la utilización del cine…</i></p>
<p>  </p>
<p>
[Un largo silencio, antes de responder]:  </p>
<p> Lo que me apasiona es poder escamotear la imagen.</p>
<p>  </p>
<p> <i>Sí, porque en </i>India Song<i> hay todavía referencias a los actores; el sonido no es sincrónico a la imagen, pero es en cierta forma paralelo a ella: mientras que en </i>Son nom de Venise dans Calcutta désert…</p>
<p>  </p>
<p>
¿La has visto?</p>
<p>  </p>
<p> <i>Sí.</i></p>
<p>  </p>
<p>
¿Te gusta?</p>
<p>  </p>
<p> <i>Sí.</i></p>
<p>  </p>
<p> Entonces, eres la única persona que ha visto <i>Son nom de Venise…</i> [risas].</p>
<p>  </p>
<p> <i>A su lado, pienso que </i>India Song<i> es un poco convencional, si quiere. ¿Piensa que </i>Son nom de Venise…<i> va más lejos que </i>India Song<i>?</i></p>
<p>  </p>
<p> Creo que <i>Son nom de Venise…</i> va lo más lejos que se puede ir en el terreno de la imagen.</p>
<p>  </p>
<p> <i>Ya no existen referencias, solo hay el vacío, pero sin embargo, las sugerencias son enormes. Cuando vi </i>Son nom de Venise<i>, sentí realmente las señales de la lepra, del río, de la India, de la muerte…</i></p>
<p>  </p>
<p> Quiero contarte algo. Mucha gente que la ha visto me ha dicho: <i>«</i>Has cambiado la banda sonora, has hecho algo, se entiende mucho mejor.»
Pero es rigurosamente la misma. Había, pues, algo en la relación imagen-sonido, en todo el cine, y también en <i>India Song</i>, que dificultaba el emplazamiento correcto de la palabra, su <i>mise-en-scène</i>.</p>
<p>  </p>
<p> <i>¿Existe una canción como </i>India Song<i> en la realidad de su vida?</i></p>
<p>  </p>
<p> No, pero existe una canción que se llama <i>India Love Song</i>, que debí conocer cuando era joven, pero que he olvidado. Fue Richard Roud, de la cinemateca de Nueva York, quien me dijo: «Conozco una canción que se llama <i>India Love Song</i>, que dice algo así: “No te olvidaré, yo estaba en el balcón de mi casa; te veía pasear por el jardín de Shalimar…”.» Es extraordinario, la había olvidado por completo.  </p>
<p>  </p>
<p>
[Un pequeño silencio, y luego, Marguerite Duras sigue hablando, sin responder a ninguna pregunta concreta. Las primeras distancias que siempre comporta el clásico interviú se han trocado ya en una amigable conversación.]</p>
<p>  </p>
<p> Una de las consecuencias del <i>off</i> tiene lugar, por ejemplo, cuando Delphine Seyrig baila con el joven agregado alemán y hablan, hablan sin pronunciar las palabras, escuchan su propia voz; y esta escucha de la propia voz provoca en ellos una especie de distracción, de ausencia, que para mí
constituye el verdadero color del sonido, el color acústico de <i>India Song</i>.</p>
<p>  </p>
<p> <i>Hablando de color, en </i>India Song <i>hay, a veces, un extraño tono verdoso, ¿es intencionado?, ¿ha utilizado filtros?</i></p>
<p>  </p>
<p> No. Estaba allí, ha entrado en la cámara, no lo he buscado.</p>
<p>  </p>
<p> <i>Un personaje de </i>India Song<i> dice algo así como: </i>«<i>No necesitamos una historia de amor porque nosotros somos uno.</i>»</p>
<p>  </p>
<p> De la misma manera que yo no tengo necesidad de una puesta en escena, que no tengo necesidad de un pasado, que no tengo necesidad de recurrir a una especie de mimodrama, tampoco ellos tienen necesidad de una historia de amor; es un paralelismo completo. Ellos no tienen necesidad de pasar por el aparato amoroso clásico –la consumación de la pareja– como yo tampoco tengo necesidad de un modo de representación.</p>
<p>  </p>
<p> <i>Usted dijo también que la negación del amor…</i></p>
<p>  </p>
<p> No del amor, sino de las manifestaciones del amor.</p>
<p>  </p>
<p>
…<i>que la negación de las manifestaciones del amor era lo mismo que la sublimación del amor.</i></p>
<p>  </p>
<p> Era lo mismo, reemplazado por el texto. Para mí, el momento en que el vicecónsul habla de su amor con Anne-Marie Stretter es infinitamente más profundo que si estuviesen en la cama.</p>
<p>  </p>
<p> <i>Alguien dijo que </i>India Song<i> es un film materialista, ¿es materialista o es romántico, o…?</i></p>
<p>  </p>
<p> Creo que hay un abuso de vocablos.
¿Quién puede decidir esto?</p>
<p>  </p>
<p> <i>¿Es romántico entonces?</i></p>
<p>  </p>
<p> Si tú quieres… Pero habría que volver sobre la noción de lo romántico, sobre todo en el cine.</p>
<p>  </p>
<p> <i>¿En qué sentido cree que las adaptaciones de sus novelas han traicionado su espíritu, en cada caso concreto?</i>[<i>[[2]]</i>]</p>
<p>  </p>
<p> Eran unos relatos asfixiados. Cuando se hace una proposición –una proposición imagen-sonido–, esta se convierte en un avatar de otra cosa, en una proposición entre otras. Y, por decirlo de algún modo, la respiración de una imagen o un texto es esta especie de posible mutación constante; es esta imagen como podría ser otra. No hay ningún momento decisivo en
<i>India Song; </i>todo podría ser reemplazado. Mientras que los directores de cine dicen:
«Es esto, es esto…»; lo convierten en dogma desde el momento en que no son los autores del texto. Cada imagen que propone cualquiera de estos directores está podrida; está podrida porque es el tubo de escape del <i>metteur-en-scène</i>, que está seguro de que esta imagen es la mejor.</p>
<p>  </p>
<p> Yo no estoy segura de nada. Para mí
es como si el film pasara por todo un bosque de significantes (en fin, estos términos no los empleo nunca), a través del cual yo he retenido algo; mi función es retener lo que había, en el momento que he escogido, lo más en armonía con mi humor. Y todo el cine está congelado y asfixiado en ese sentido.</p>
<p>  </p>
<p> Hiroshima mon amour<i>,
¿es también un film asfixiado?</i></p>
<p>  </p>
<p> No. Me gusta mucho el film de Resnais. Es un poco «rollo» si quieres; no hay ese silencio…
Pero, por ejemplo, para mí es un gran momento del cine, cuando ella está con el japonés en el restaurante y empieza a decir: «Quand tu est mort…», habla con el alemán y habla con el japonés, habla con un muerto; la historia de Nevers es evocada por el texto. Esto me parece todavía enorme.</p>
<p>  </p>
<p> Para mí, el film más grande del mundo es <i>Ordet</i>; es un film prácticamente «vaciado», no hay casi nada, solo una especie de semiología mímica. En mi opinión, con Dreyer, el pensamiento ha penetrado en el cine. Fíjate, en cambio, en toda la vulgaridad que representa Bergman.</p>
<p>  </p>
<p> <i>En sus films hay una especie de estructura musical, ¿están pensados en función de esta estructura, o añade la música luego?</i></p>
<p>  </p>
<p> Cuando pensé <i>India Song</i>, encargué la música… Quería una vasta extensión musical; no era la primera vez que lo hacía.</p>
<p>  </p>
<p> En <i>Vera Baxter</i> hay tres proposiciones: imagen, palabra y música.[[[3]]] El <i>off </i>total de <i>India Song</i> es reemplazado aquí por una especie de «decir» de la música.
Mientras Vera Baxter habla, cuenta cómo ha sido vendida, cuánto se ha pagado… mientras cuenta estas cosas, la música no abandona jamás el texto. Hay dos formas de decir: un decir de la palabra y un decir de la música, y están casi constantemente en contradicción; Vera Baxter da la impresión de estar mintiendo continuamente. Esto quiere decir, una vez más, que yo creo que la palabra de Vera Baxter dicha por Vera Baxter, su espacio propio, no da testimonio de ella, sino que está vista desde el exterior. Es una proposición más, entre otras posibles. Lo inquietante es esta especie de cuestionamiento constante, que a mí me fascina totalmente, y que constituye el encanto de <i>India Song</i>; en <i>Vera Baxter</i> está
completamente reemplazada por esta especie de decir de la música, cuya presencia es constante: si el film dura noventa y cuatro minutos, hay música durante noventa y tres.</p>
<p>  </p>
<p> <i>Cuando se dispone a rodar, ¿ya cuenta con la música que tendrán esas secuencias?</i></p>
<p>  </p>
<p> Yo filmo con la música. Todos los movimientos de cámara están en función de la música. ¿Te imaginas si no hiciera esto?</p>
<p>  </p>
<p> <i>En </i>India Song,<i> la música parece arrastrar el film.</i></p>
<p>  </p>
<p> Sí, cierto. Ahora acabo de rodar <i>Le camion</i>; he rodado un gran travelling desde la cabina de un camión enorme; era muy difícil y también la música estaba allí. Teníamos un minicasete<i> </i>con la música del film, y hasta el chófer del camión –me fijé especialmente en esto–, llegaba a adaptar la velocidad en relación con la música; fue mucho más fácil que él se adaptara al ritmo de la música, que no indicarle la velocidad que debía tomar. Se filmó todo con la música. Esto lo hago desde <i>Nathalie Granger</i>; allí hice la música yo misma, la grabé, y todas las tomas fueron hechas a partir de la música, a fin de que las mujeres caminaran al mismo paso en la casa.</p>
<p>  </p>
<p> India Song<i> y </i>Son nom de Venise…<i> </i><i>¿representan la culminación de su estilo?</i></p>
<p>  </p>
<p> Sí. Yo quería hacer cine con <i>Son nom de Venise…</i> . A partir de este film es imposible volver atrás.</p>
<p>  </p>
<p> Y <i>Vera Baxter</i>, ¿es también la memoria?</p>
<p>  </p>
<p> No, es otro camino. Vuelvo a empezar.</p>
<p>  </p>
<p> <i>¿Qué función tiene para usted el paisaje en el contexto del film?</i></p>
<p>  </p>
<p> Es un material <i>passe-partout</i>, que permite decirlo todo, expresarlo todo, en cualquier momento.</p>
<p>  </p>
<p>
[Nos advierten que solo faltan ocho minutos para que salga el tren, decidimos no hacer más preguntas, a fin de que la autora de <i>India Song</i> pueda tomar su café.
Comenta a sus acompañantes: «Pero son los únicos que me han hecho preguntas inteligentes, porque todos los periodistas que me han entrevistado, preguntaban cosas como: “¿Qué toma usted por las mañanas para desayunar, chocolate o café?” Risas… Nos han quedado varias preguntas en el tintero. El tiempo corre. Pero Marguerite Duras nos anuncia aún una última declaración…]</p>
<p>  </p>
<p> Voy a decir una cosa que aún no he dicho nunca. La conversación que tenemos en este momento es <i>India Song</i>; es una prolongación de <i>India Song</i>; es parte integrante. <i>India Song</i> es esto, esta posibilidad de epilogar –epilogar no es una palabra correcta–, esta posibilidad de comentar… indefinidamente.</p>
<p>  </p>
<p>
[<i>Play</i>/<i>Stop</i>.
Recogemos los bártulos y salimos todos corriendo… Finalmente, el tren se había escapado ya, y la Duras, con cara de resignación, empezaba a hacerse a la idea de tomar el avión.]</p> <div id="sdfootnote1">
	<p>
	[1]
	<i>Son
	nom de Venise dans Calcutta désert</i>
	es un film construido a partir de la misma banda sonora de <i>India
	Song</i>,
	y está constituido casi exclusivamente por largos planos de
	paisajes y ruinas. Marguerite Duras dice que prácticamente, solo
	uno de cada cinco espectadores que resisten <i>India
	Song</i>,
	puede soportar <i>Son
	nom de Venise…</i></p>
<p>
	Se
	da el caso curioso (y lamentable), que el distribuidor español de
	<i>India
	Song</i>,
	el señor Pineda (V.O. Films), prohibió la proyección en la
	Filmoteca del film <i>Son
	nom de Venise…</i>
	alegando que, al tratarse exactamente de la misma banda sonora de
	<i>India
	Song</i>,
	tenía también los derechos sobre aquella. Asimismo, impidió la
	proyección de <i>Nathalie
	Granger</i>
	en la Filmoteca de Barcelona, y la de <i>India
	Song</i>
	en la de Madrid, las dos únicas películas de Marguerite Duras
	distribuidas en España (la primera solo en Barcelona). El señor
	Pineda es ya un viejo conocido, en su haber se encuentra un boicot
	particular a los cineclubs, no alquilándoles el material
	distribuido por su firma, aunque por otro lado, intente crearse una
	imagen falsamente progresista dentro de su oficio (por ejemplo, está
	inmiscuido en el anunciado próximo Festival Internacional de Arte y
	Ensayo). ¿Hasta cuándo los mercaderes del cine podrán impedir con
	total impunidad la difusión de los bienes culturales?</p>  <div id="sdfootnote2">
	<p>
	[2]
	Las
	obras literarias y guiones de Marguerite Duras llevadas a la
	pantalla por otros autores son: <i>Un
	barrage contre le Pacifique</i>
	(René Clement, 1957), <i>Hiroshima
	mon amour </i>(Alain
	Resnais, 1959), <i>Moderato
	Cantabile</i>
	(Peter Brook, 1960), <i>Une
	aussi longue absence </i>(Henri
	Colpi, 1961), <i>Deux
	heures et demi du soir en été</i>
	(Jules Dassin, 1961), <i>The
	Sailor from Gibraltar</i>
	(Tony Richardson, 1967) y los cortos <i>Les
	rideaux blancs</i>
	(Georges Franju, 1966) y <i>Nuit
	noire, Calcutta</i>
	(Marin Karmitz, 1964).</p>  <div id="sdfootnote3">
	<p>
	[3]
	La
	estupenda música de <i>Vera
	Baxter</i>,
	como en todos los últimos films realizados por Marguerite Duras, se
	debe al argentino Carlos d’Alessio.</p>  </body> </html>