
<p>
<b>El cine de Werner Nekes</b></p>

<p>
, núm. 14 (1975)</p>

<p>
Una de las personalidades más importantes del panorama del cine alternativo es, sin duda alguna, el realizador alemán Werner Nekes. El reconocimiento a nivel internacional de su obra data de hace unos tres años. Y precisamente fue en 1973 cuando estuvo en España para mostrar siete de sus films en el cineclub del Instituto Alemán, sesiones que fueron polémicas y en las que Nekes se extendía diariamente en la discusión con el público y, sobre todo, en una explicación de su teoría y práctica fílmica a partir de un análisis de la evolución del lenguaje cinematográfico, relacionado con el proceso del pensamiento científico y de la moderna teoría de la información
</p>

<p>
La obra de Nekes se sitúa dentro de las coordenadas del cine estructural o, mejor dicho, <i>cine materialista estructural </i>(según la precisión hecha por Peter Gidal), si tenemos en cuenta la articulación que muestran algunas de sus obras últimas con las investigaciones más recientes en la teoría del materialismo dialéctico
</p>

<p>
Nekes, que estudió filología y psicología, ha sido profesor de lenguaje cinematográfico en Hamburgo, Kentucky, Nueva York y San Francisco. Es además, uno de los fundadores de la Hamburg Filmmacher Cooperative<i>,</i>
recientemente disuelta, que ha constituido una de las organizaciones de distribución más importantes de Europa y la mayor de Alemania, y está casado con Dore O, otra realizadora alemana bien conocida
</p>

<p>
La obra de Nekes comprende más de treinta films, realizados desde 1965, buena parte de los cuales fueron revisados en el último festival de Toulon, en los cuales se pueden advertir diversas direcciones: en primer lugar, el montaje de articulaciones de tipo kubelkiano; en segundo lugar, la influencia de Warhol en los planos-secuencia fijos; y, en tercer lugar, el empleo del fotograma a fotograma. Ha realizado también experiencias de doble proyección. Nekes admite que muchos de sus films son solo experiencias formales, mientras que últimamente ha empezado a investigar en nuevas formas de expresión de temas sociales y políticos. El alto grado de coherencia y de elaboración de sus films lo convierten en uno de los realizadores más interesantes por su afán de traspasar el campo de la mera experimentación formal y de profundizar en el papel del lenguaje fílmico como vehiculador de una ideología (ya desde los factores que determinan la obra cinematográfica en el estricto nivel material de la organización de las imágenes y los sonidos)
</p>

<p>
Voy a resumir primero los puntos teóricos de su obra a partir de las notas que tengo de su estancia en el Instituto Alemán y del texto «Rompiendo moldes», editado en aquella ocasión, y comentaré luego algunos de sus films
</p>

<p>
Nekes se remonta a la arqueología del cine, dentro de un recorrido paralelo que podemos encontrar en la mayor parte de los jóvenes cineastas, para analizar la relación que existe en el mecanismo fílmico entre dos imágenes consecutivas. En los films de los hermanos Lumière, por ejemplo, se trataba de tomas fijas en las que se reproducía un hecho cotidiano (salida de los obreros de la fábrica, llegada de un tren), solo había una variación respecto a las dimensiones de la fotografía: a las dos dimensiones que determinan una superficie, se añade la dimensión tiempo. ¿Cuál será entonces la unidad mínima que determina un film? Nekes define el «kine» como esta unidad mínima y que está
formada por dos fotogramas consecutivos. Esto constituye una aportación valiosísima frente a la «semiología del significado»
(Christian Metz, Pier Paolo Pasolini…) y ofrece nuevos métodos de análisis que han sido iniciados por Nekes. En los films de Lumière el tiempo fílmico corresponde al tiempo real; tenemos pues, la mínima variación entre dos fotogramas. Con Méliès aparece el montaje (falseamiento de la realidad); aparece así en determinados lugares una nueva relación: un «kine» formado por dos fotogramas consecutivos y diferentes
</p>

<p>
La velocidad de proyección hace imposible (en las condiciones corrientes de un espectador) la percepción consciente de un cambio en la imagen, lo cual se convierte en una manipulación según el efecto denominado de
«transparencia» (es decir, invisibilidad de la manipulación). Un claro ejemplo de esta manipulación se puede encontrar en las investigaciones de la teoría del montaje en la URSS, desarrollada especialmente por Eisenstein: el montaje paralelo de dos imágenes establece una relación que es producto del nivel informativo mismo dado por la unión entre dos imágenes. Por ejemplo: gordo comiendo +
cerdo
</p>

<p>
No es ajeno a esto la utilización del plano-secuencia en cine o las teorías de Jerzy Grotowski en teatro, destinadas a distraer mínimamente al espectador del mensaje que se quiere comunicar, frente al cine (teatro) comercial con su serie de dispositivos de control. Por otra parte, Nekes dice en
«Rompiendo moldes»: «El principio del progreso establecido por R.
Buckminster Fuller <i>exige dar más con menos</i>. En relación con el cine, esto significaría: <i>máxima información con mínimo gasto de imágenes, es decir, la mínima cantidad posible de fotogramas</i>.
La tendencia a acelerar considerablemente la transmisión de información es evidente en la historia del cine, si se compara la forma de narración, de lento fluido épico, en los comienzos históricos, con los films más modernos, entre los cuales el spot publicitario quizá sea el ejemplo más significativo de cómo el factor económico puede tener influencia sobre el lenguaje gráfico.»
Este texto puede parecer contradictorio con el uso del plano-secuencia en el nuevo cine o en el mismo <i>Kelek</i>
de Nekes
</p>

<p>
Hay que recordar, sin embargo, las condiciones históricas en que se ha producido este retorno a la prehistoria: ¿se podía seguir empleando formas cinematográficas impuestas por una organización de tipo capitalista?, ¿se podía acudir a las formas de un cine publicitario de carácter alienante sin haber cambiado antes la capacidad de recepción del público? De esta contradicción surge la necesidad de ruptura con el cine establecido y de volver a empezar en la raíz histórica del descubrimiento del medio
</p>

<p>
De cualquier modo, podemos ver en
<i>T-WO-MEN</i>
un intento de aplicar la rapidez de imágenes, ya más allá de los films publicitarios, a un contenido evidente. Luego me extenderé
sobre este film
</p>

<p>
Otro punto clave al que se refiere Nekes y que constituye una de las bases del cine materialista estructural, a la vez que uno de los elementos soterrados que determina la polémica que gira en torno a la cuestión de la vanguardias artísticas (polémica que me parece encerrada en una falta de perspectiva de verdadero signo científico), es la cuestión del lenguaje y de sus factores comunicativos
</p>

<p>
En las mismas palabras de Nekes: «el film se comunica a sí mismo, es decir, no es el objetivo filmado en sí el que se comunica, sino la posibilidad de representar este objeto, que se funda en el lenguaje cinematográfico…». Nos encontramos frente a una expresión clara del problema de la tautología, presente fundamentalmente en el cine estructural y en el arte conceptual. Dentro de los grupos más progresistas de estas tendencias se produce un intento de superación del estricto nivel tautológico (como se puede ver en el libro de Simón Marchán, <i>Del arte objetual al arte de concepto</i>, que muestra una situación paralela), intento que está claramente presente en la obra de Nekes, más que en otros autores, primero a través de formas del cine personal (<i>Abbandono</i>)
y después ensayando dentro de un reconocimiento de la función política del cine (<i>Spacecut</i>,
<i>T-WO-MEN</i>
y el anterior <i>Schnitte für ABABA</i>)
</p>

<p>
Esto nos lleva al tercer punto esencial en la práctica cinematográfica de Werner Nekes: las concepciones de cine como información a nivel social y político.
Nekes concibe el cine como un oficio que consiste en excitar el cerebro; el trabajo formal podría determinar la comprensión del film, a niveles de complejidad de estructura que obliguen al espectador a tener una misión activa de percepción y de interpretación, y a niveles de «fomentar la disposición para la contemplación múltiple (aunque no desconcertada) del problema representado, de forma que quede en primer plano el aspecto activo y analítico, y no la actitud tolerante frente a la novedad». Subraya la importancia de trabajar no solo sobre el plano del contenido, sino también en su forma de expresión (comunicación) esencial. Creo que lo más interesante será reproducir un corto texto que me parece muy clarificador:</p>

<p>
«Lo joven que es el lenguaje cinematográfico y su estudio, lo demuestra también el hecho de que, a pesar de su actual estado embrionario, se le considera un lenguaje universal, aunque sería más fácil de comprender que las diferentes culturas tuvieran que desarrollar distintos conceptos de las imágenes, como por ejemplo del sol. La universalidad es válida quizá para un documental sin ideas, o para el film comercial vendido en todos los países, cuya fase de expresión se puede comparar a la del éxito del esfuerzo de emitir un balido lo más parecido al de una oveja. No será posible que, de forma análoga al idioma materno, se desarrolle un cine “materno” y, por tanto, habrá que dedicar más atención al cine “provincial” y “amateur”, siempre que este no desaproveche la oportunidad de progresar, libre de la presión comercial, por sendas imprevisibles. Este cine tendrá que enfrentarse con el eje de rotación de la propia identidad aprendida.
Relativamente independiente, podría, a través de la “modificación”
del medio, alterar el modo de pensar del público. Como medios de ampliar la estructura del lenguaje fílmico, podría emplear la polivisión, los <i>clusters</i>
de imágenes, debería concebir el movimiento de la cámara en relación con las coordenadas del espacio, examinar la capacidad de carga de los encuadres, transformar el nivel de calidad, por ejemplo, mediante termografía, para mencionar solamente algunos puntos. Su meta ha de ser la transformación del material fotográfico en energía informativa.»</p>

<p>
Esto plantea el problema de la recepción del nuevo cine frente al cine establecido. Como sabemos, el conocimiento del lenguaje viene dado por un <i>proceso de aprendizaje;</i> en el caso del cine, hemos aprendido según los modelos establecidos por el cine comercial; por tanto, un nuevo aprendizaje exigiría desplazar el monopolio de distribución-difusión, problema de fondo del cine independiente
</p>

<p>
Según Nekes, la única forma de crear una nueva educación cinematográfica en la actualidad, sería introduciéndola en las escuelas primarias
</p>

<p>
Voy a referirme, finalmente, a algunos de los films que me parecen más significativos:</p>

<p>
<i>Schnitte für ABABA</i>
(1967) se basa en la alternancia de planos monocromos (rojo y verde)
que muestran parejas de policías. 
</p>

<p>
El funcionamiento de la estructura está articulado en varios niveles: en lo mostrado, la policía; en la materialidad del montaje, determinada con de la oposición de los colores, y en la agresión óptica, mediante los bruscos cambios de colores
</p>

<p>
<i>Gurtrug Nr. 1</i>
(1967) es un film compuesto por planos fijos de gente moviéndose en un campo, interrumpidos por un segundo plano. El tema musical se repite. Muestra, por un lado, la influencia de Warhol (planos secuencia fijos) y, por el otro, un extraño sentido del humor que da al film un aire peculiar (especialmente en el <i>nonsense</i>
del segundo plano)
</p>

<p>
<i>Gurtrug Nr. 2</i>
(1967) se compone de dos proyecciones con dos films idénticos de encuadre triangular, invertido uno respecto al otro y cuyas imágenes se unen en un vértice
</p>

<p>
<i>Kelek</i>
(1968) es un film de sesenta minutos, mudo y con clara influencia warholiana, compuesto por siete planos, la mayor parte de carácter documental (en el sentido de planos-secuencia tomados de la realidad)
y con cámara subjetiva. Según su autor es un «psicomontaje de distintos niveles de conciencia en una película erótica de aventuras, cuyo tema es el propio espectador»
</p>

<p>
<i>Spacecut</i>
(1971) es un film compuesto de dos partes; la primera, <i>Indians at Taos</i>, da una visión documental de la vida de los indios en un pueblo de Norteamérica; la segunda, ‘<i>Diggins Place’
in the Sierra Nevada after the Goldrush of 1871 </i>(Pueblo de buscadores de oro en Sierra Nevada después de la fiebre del oro de 1871) es la filmación de un paisaje durante un día mediante treinta mil fotos tomadas desde un punto fijo y alrededor de todos los ejes posibles. Se trata de un ensayo de representación de un aspecto tridimensional sobre la superficie de la pantalla
</p>

<p>
<i>Spacecut</i>
es un intento de western a partir de los indios y de las tierras auríferas de Sierra Nevada. Los indios son como la tierra:
explotados
</p>

<p>
<i>T-WO-MEN</i>
(1972) es un film con la duración de un film comercial (noventa minutos) y dividido en cinco apartados. Aquí parte de un tema mínimo, tratado documentalmente en el primer apartado: la relación entre dos mujeres. Este tema está presente en las cuatro partes restantes de diferentes maneras: fotograma a fotograma (en un procedimiento análogo al de la segunda parte de <i>Spacecut</i>), re-filmación y superposiciones múltiples con una elevada gama de variaciones de foco, zoom, velocidades, color y <i>blackouts</i>.
Es un film de una elaboración cuidadísima y del que Jean-Marie Straub dijo: «[<i>...</i>]
me hace concebir esperanzas, me da nuevos ánimos para seguir haciendo films: el mejor film que sale de Alemania desde hace tiempo.»</p>

<p>
Hablar de la obra de Nekes es difícil, ya que es la experiencia directa de «visionado» la que debe comunicar. Se trata de uno de los casos más evolucionados e importantes de constituir un mensaje específicamente fílmico (a través de la imágenes y los sonidos); solo quiero añadir a estas notas la mención de tres elementos característicos de su obra: en primer lugar, los títulos de sus films, puesto que Nekes es muy aficionado a los juegos de palabras (<i>T-WO-MEN</i>
= TWO WOMEN; palabras simétricas que se pueden leer en ambos sentidos como <i>Kelek</i>
y <i>Gurtrug</i>)
y al uso de palabras de idiomas extranjeros (<i>Abbandono</i>,
<i>Vis-à-vis</i>,
<i>Diwan</i>,
<i>Kelek</i>,
<i>Makimono</i>)
o de onomatopeyas (<i>Putt-putt</i>,
<i>Jum-jum</i>,
<i>Zipzibbelip</i>);
en segundo lugar, el empleo cuidadoso del color; y, finalmente, la banda sonora, que lleva muchas veces la firma de Anthony Moore, y que abunda en el uso de la asincronía
</p>
