  <p> <b>La cosa mental, de Michael Snow a Wilma Schoen</b></p>
<p>  </p>
<p>  </p>
<p> Desde el ecuador del siglo anterior, numerosos artistas (en un sentido amplio del término: artistas visuales, poetas, músicos, etc.) se han sentido atraídos por el medio fílmico y, con los pertrechos a su alcance, han reanudado instintivamente las exploraciones de las primeras vanguardias, donde se hallan las raíces de un cine experimental y de artistas (entre otras denominaciones afines). Aunque dichas expresiones se han empleado a veces de manera homónima, cabe contemplar el matiz que distinguiría entre unas prácticas concebidas como expansiones de disciplinas y trayectorias extrínsecas al cine en sí, y otras que entran de lleno en cuestiones que le conciernen y conmueven plenamente (incluso si el punto de partida era otro, lo que complica a fin de cuentas todo amago de rigor distintivo).</p>
<p>  </p>
<p> El acercamiento de Michael Snow al cinematógrafo se produjo en un estadio aparentemente intermedio.
Así, el motivo conductor de su film <i>New York Eye and Ear Control</i>
(1964) es la silueta, que se recorta sobre diversos paisajes costeros y urbanos, de su <i>Walking Woman</i>: un estilizado icono cercano al anonimato predicado por el arte pop de la época y un motivo que se reitera en la obra plástica de Snow de la primera mitad de los sesenta. Un periodo al que se remonta también su incorporación a la fotografía –a menudo con despliegues secuenciales– como parte del quehacer, <i>inclusivo</i> antes que <i>exclusivo</i>, que se ha impuesto como artista.</p>
<p>  </p>
<p> Pero, más que un artista, Michael Snow es, son diversos artistas en contacto permanente: el artista visual abierto a toda clase de medios, el músico, el cineasta… y tal vez un filósofo sereno. Uno de los rasgos característicos de su obra y trayectoria reside precisamente en la ductilidad con que se mueve entre un amplio abanico de prácticas, disciplinas, recursos, formatos y áreas. Entre la plena autonomía y la reciprocidad entre las artes y los medios que cultiva, y según si los diferentes Michael Snow operan individualmente, a dúo, o todos juntos y al unísono.</p>
<p>  </p>
<p> Puede así advertirse que algunas de sus esculturas conceden gran importancia a ciertas cuestiones de punto de vista, encuadre o profundidad de campo que tienen una estrecha relación con su obra foto- y cinematográfica. También, que algunos de sus films están constituidos, íntegra o básicamente, por fotografías o textos escritos. Y que en muchas de sus piezas fotográficas, en soportes y formatos diversos, se halla latente la secuencialidad del tiempo cinematográfico.</p>
<p>  </p>
<p> Pero Snow ha querido resaltar: «Muchas de mis pinturas están hechas por un pintor, las esculturas por un escultor, los films por un cineasta, la música por un músico. Hay cierta tendencia hacia la pureza en todos estos medios, en tanto que tentativas independientes.» Así, sin excluir la reiteración de determinados conceptos y elementos, Snow se entrega a una serie de búsquedas paralelas, tratando de profundizar en todo aquello que pueda ser consustancial a cada medio.</p>
<p>  </p>
<p> <i>New York Eye and Ear Control</i> es un film que pasó un tanto inadvertido en su momento, pero que adquirió en cambio un estatuto legendario en lo que respecta a su banda sonora, creada por una flamígera pléyade de la música <i>free</i>
–encabezada por Albert Ayler y Don Cherry– y editada por el mítico sello ESP-Disk, con un diseño de cubierta del propio Snow a base de tiras de fotogramas del film. En este aspecto, refleja su primera vocación, la música, que fue anterior a la del artista visual, y su primer contacto con el cine (en 1956, con el corto de animación <i>A to Z</i>).</p>
<p>  </p>
<p> Pero es con su siguiente film, <i>Wavelength</i>
(1966-1967), galardonado con el Gran Premio del Festival de Cine Experimental de Knokke-le-Zoute (Bélgica, 1967), cuando se produce la gran revelación de Snow como cineasta. Esta obra, de una gran repercusión, abre además una especie de trilogía mayor del cine estructural –según la expresión acuñada por P. Adams Sitney, el canónico estudioso del cine de vanguardia norteamericano–, que seguiría con <i>Back and Forth</i> (1968-1969), cuyo título original es un signo gráfico (una flecha de dos puntas), y
<i>La Région Centrale</i>
(1969-1971).</p>
<p>  </p>
<p> Si la noción de cine estructural, que otros han llamado <i>materialista</i> con una connotación política incluso, residiría a grandes rasgos en una impresión prioritaria de la forma y materia del film en sí, cada uno de los títulos mencionados sigue dicha premisa en la medida en que el movimiento de cámara se convierte en su patrón formal: el movimiento óptico del zoom que atraviesa un espacio interior (un típico loft del SoHo neoyorquino) hasta consumarse en una fotografía de las olas del mar en el muro del fondo; una sucesión de movimientos en vaivén dentro de un aula (panorámicas horizontales y verticales, a velocidades diversas y sumadas en sobreimpresiones en la parte final); y, finalmente, en la monumental majestuosidad de <i>La Région Centrale</i>, un despliegue aturdidor de movimientos robóticos en un paisaje montañoso –utilizando como montura de la cámara una máquina concebida expresamente para el rodaje del film–, a lo largo de tres horas hipnóticas de órbitas rotatorias y sinuosidades en constante variación.</p>
<p>  </p>
<p> Estas descripciones son necesariamente torpes y deslucen la complejidad intrínseca al cine de Snow, incluso cuando aparentemente roza el despojamiento extremo.
Él mismo ha admitido, por otra parte, su escasa devoción cinéfila.
Y, cuando se introdujo en el medio, lo hizo en las inmediaciones de unas prácticas y estéticas tildadas de underground (que, no lo olvidemos, es un término que tiene también una connotación resistencial) y frecuentando –junto con su primera esposa, la también artista y cineasta Joyce Wieland– las compañías y los hallazgos de Jonas Mekas, Ken Jacobs, Hollis Frampton, Andy Warhol, los hermanos Kuchar o Nam June Paik.</p>
<p>  </p>
<p> Y puesto que el cine habitual no es un referente al que le haya prestado demasiada atención, en más de una ocasión ha manifestado cierto rechazo ante aquellas interpretaciones que le atribuyen una especie de designio subversivo en lo que respecta a los códigos cinematográficos instituidos, para anteponer en su lugar un propósito próximo a la filosofía que también puede hallarse en su obra fotográfica y en otras regiones de su arte. Una filosofía si se quiere formal, por momentos metafísica, que alguna vez se me ocurrió parangonar con los perplejos residuos del pensamiento presocrático.</p>
<p>  </p>
<p> Así, el <i>macguffin</i> de <i>Wavelength</i> reside en la percepción interiorizada del zoom mismo, en un espacio-tiempo ilusorio cuya continuidad se quiebra constantemente mediante variaciones e incisos que tanto conciernen a la impresión
óptica (con continuos cambios de exposición, filtros interpolados, yuxtaposición de emulsiones distintas, o saltos del día a la noche y viceversa) como a la levedad narrativa que hilvana unas viñetas, unas intrusiones actuadas tan desmañadas como bien tramadas, de las que llega a desprenderse incluso un <i>murder mistery</i>.</p>
<p>  </p>
<p> Pero quizá sea Scott MacDonald –que ha acuñado la noción de <i>cine crítico</i> con el propósito de sortear designaciones y parcelaciones más manidas– quien ha dado en el clavo al proponer que la <i>trama</i> de <i>Wavelength</i> y otros films de Snow sea entendida en una acepción <i>geométrica</i> más que en su sentido habitual en el cine convencional, sea de consumo o de autor.</p>
<p>  </p>
<p> La filmografía de Snow ha tomado luego un viraje harto sorprendente con un film tan desmesurado
(cuatro horas y media) como su prolijo título: <i>Rameau’s Nephew by Diderot (Thanx to Dennis Young) by Wilma Schoen</i>
(1974). Donde Wilma Schoen es un anagrama o heterónimo que destapa un alter ego o personalidad desdoblada de Michael Snow. Ahora dando rienda suelta a su faceta de jugador del lenguaje –no en vano Wittgenstein es uno de sus filósofos de cabecera– y epicúreo humorista, en un salto acrobático al <i>talkie</i>, el cine parlante. El resultado es una colosal exploración –agotadora en un doble sentido– de las relaciones entre imagen y sonido, las disfunciones del verbo, la desarticulación de la dramaturgia cinematográfica tradicional, conformando una obra que me atrevo a comparar con la glosolalia exuberante del <i>Finnegans Wake</i>.</p>
<p>  </p>
<p> Otro aspecto bien notable de la obra de Snow se desprende de su frecuentación de medios bien diversos, para operar tanto en la <i>región central</i> de cada una de las disciplinas que cultiva como en unas encrucijadas intermediales.
Así, de la máquina construida para el rodaje de <i>La Région Centrale</i>, extrajo a continuación la singular y magnífica instalación tecnoescultórica y videoscópica que es <i>De La</i> (1971). Y, entre otros entrelazamientos múltiples, el libro fotográfico <i>Cover to Cover </i>(1975)
constituye, en su doble y reversible secuencialidad, un film potencial perfecto en su premeditado soporte de papel impreso. Con algún punto de contacto, por otra parte, con otra de las instalaciones o expansiones audiovisuales de Snow que, con el significativo título de <i>Two Sides to Every Story (</i>1974), consta de dos proyecciones enfrentadas en el anverso y el reverso de una pantalla suspendida en el centro del espacio expositivo.</p>
<p>  </p>
<p> Tras una dedicación regular al cine entre los años 1964-1974, Snow espació sus realizaciones sucesivas, aunque, a comienzos de los ochenta, volvió por partida doble con nuevas aportaciones. Primero con un tríptico de polisémico título, <i>Presents</i>
(1982), aunque suscitando la controversia y el estupor puritano de quienes se quedaron en la superficie de la cita bien evidente a un arquetipo estético –el desnudo femenino– en la primera parte; o del rompecabezas de unas imágenes desordenadas que se suceden sincopadamente, sin aparente solución de continuidad, en la parte final y más larga. En cualquier caso, este tríptico alcanza su cenit en la parte central –también la más unánimemente celebrada–, al perturbar de manera hilarante las ideas recibidas sobre la puesta en escena y la profundidad ilusoria en la representación cinematográfica.</p>
<p>  </p>
<p> A continuación, con <i>So Is This</i> (1982), Snow ha impugnado otra vez las expectativas habituales del cine en regla, mediante un film mudo y compuesto enteramente de rótulos; de palabras y signos de puntuación que se suceden de uno en uno, plano a plano, con un hábil <i>découpage</i> que discurre nuevamente entre las paradojas de una filosofía ensimismada y los destellos de un afilado humorismo. Un film casi mecanográfico pero no tan anticinematográfico como pudiera desprenderse de su descripción, puesto que, al fin y al cabo, no es otra cosa que una aproximación más a la <i>pureza</i> del cine que Snow siempre ha perseguido. Una pureza que no lo es a la manera retiniana de los adalides del cine absoluto, puro, integral en la lejanía de las vanguardias históricas, sino con la agudeza mental que Snow ha retenido de Duchamp y de los antiguos y nuevos sofistas cuya lectura frecuenta.</p>
<p>  </p>
<p> En la bisagra de los años ochenta con los noventa, Snow ha realizado tres films más, bien diferentes entre sí. <i>Seated Figures</i>
(1988) es una peculiar <i>road movie</i> y una nueva variación sobre el movimiento de cámara como vector del film. <i>See You Later / Au Revoir </i>(1990)
puede recordar algunas extremadas experiencias del grupo Fluxus a mediados de los sesenta –y, de hecho, la idea germinal del film es de 1968– en tanto que una escena anecdótica de apenas medio minuto se estira hasta dieciocho por el uso de una cámara de vídeo de alta velocidad. Y, en <i>To Lavoisier, Who Died in the Reign of Terror</i>
(1991), una serie de escenas cotidianas, sin solución de continuidad entre ellas, son hilvanadas por la fluidez de los movimientos de cámara en la toma de las imágenes y mediante estragos alquímicos que las transfiguran o desfiguran (y que, según resalta Snow, nos remiten a uno de los descubrimientos de Lavoisier: que la materia no se crea ni destruye, sino que solo se transforma).  </p>
<p>  </p>
<p> A partir del 2000, la trayectoria del Snow cineasta ha cobrado un renovado ímpetu y una regularidad constante. E incluso cierta declinación multimedial, nunca antes tan presente, incluso si siempre ha sido un artista multidisciplinar y atento a nuevos medios, procedimientos y campos expansivos (vídeo, holografia, instalaciones, etc).  </p>
<p>  </p>
<p> Con <i>Corpus Callosum</i>
(2000-2002) se ha adentrado en el cine digital a partir de un software específico, el Houdini –desarrollado en Canadá y utilizado en algunas producciones cinematográficas de elevado presupuesto–, tratando de extraerle su jugo propio a la tecnología numérica y para crear un mundo incongruente, coherente de todas maneras, y con una lógica propia, en el que se suceden las acciones y metamorfosis más inverosímiles. Todo ello con el contrapunto de una artificiosidad exagerada en cuanto a la puesta en escena –los decorados, el vestuario, los personajes con la apariencia cambiante de diferentes intérpretes–, y que suscita un efecto chocantemente anacrónico entre «el teatro filmado y la tecnología punta», según ha expuesto Jacinto Lageira.</p>
<p>  </p>
<p> <i>Prelude</i>
(2000) surgió de un encargo del Festival de Cine de Toronto cuando, en ocasión de su vigésimoquinto aniversario, se propuso a diversos cineastas canadienses (entre los cuales también Cronenberg, Egoyan y Lefebvre) la realización de sendos cortometrajes, con la duración propia de un trailer, a fin de encabezar las sesiones de la sección oficial. La aportación de Snow tomó la forma de un plano-secuencia de poco más de tres minutos que, mediante un movimiento panorámico, sigue el trajín de un grupo de personas que se afana para no llegar tarde al cine. Con la particularidad de que el sonido se halla desplazado en relación con la imagen, y en cierto modo invertido respecto al orden natural de la acción representada. Así, tal como señala Snow, el film es como un preludio sobre sí mismo pues, cuando se da con el intríngulis de su sagaz charada, la secuencia termina abruptamente.</p>
<p>  </p>
<p> En otro film más reciente, <i>Sshtoorrty</i>
(2005), Snow utiliza una estratagema que adquiere cierto aire de familia con la anterior, en este caso basada en la sobreimpresión
–el mismo título lo es y se desentraña como <i>Short story</i>–
de las dos mitades de un mismo plano-secuencia. Y nuevamente con un vaivén panorámico, de manera que todo se solapa: el arquetipo de una situación triangular (matrimonio y adulterio), los colores y las coordenadas de una pintura en movimiento (el propio film y el cuadro que toma parte en el mismo), los componentes verbales (las voces y los subtítulos que traducen los diálogos en farsí). A diferencia de <i>Prelude</i>, que reta la memoria audiovisual del espectador, en este caso Snow juega con una concepción en bucle de la obra y con la expectativa incierta que generan las sucesivas repeticiones.</p>
<p>  </p>
<p> Todo un indicativo de la prodigalidad que ha llegado a alcanzar la obra cinematográfica de Snow es finalmente el «cadáver exquisito», la ejecución a cuatro manos –seis, mejor dicho– y para dos pantallas de <i>Triage</i>
(2004). En cuyo título mismo ya se intuye, de nuevo, un juego de lenguaje pues, más allá de designar una operación de <i>tría</i>
(se supone que de imágenes), uno intuye que también se refiere a la
<i>tríada</i> de autores de diferentes generaciones o edades (<i>three ages</i>)
que firman la obra: el propio Snow, Carl Brown y John Kamevaar, este
último como compositor de la doble banda sonora que cose las dos extremidades de un cadáver bien vivaz y ágil. De hecho se trata de dos films que han sido creados de espaldas el uno del otro, aunque acordando una duración predeterminada con el propósito de, al fin y al cabo, verse las caras mediante dos proyecciones simultáneas sobre la superficie de una misma pantalla. Y así, el terceto de autores ha aguardado hasta la primicia pública de la obra antes de descubrir la exquisitez acoplada de sus confecciones solteras, pero prometidas por anticipado para un casorio preconcertado.</p>
<p>  </p>
<p> La sección de Carl Brown es una fotoalquimia moderna, característica de este cineasta, sobre una pieza encontrada de celuloide rancio: una toma de un tranvía de San Francisco, de unos cinco minutos de duración, que da lugar a un «expresionismo orgánico»
–en palabras de Snow– mediante técnicas de impresión óptica y procesamiento químico aplicadas al material original; despedazado y recombinado en una infinidad de repeticiones, variaciones y permutaciones. La sección de Snow, que se proyecta a la derecha de la anterior, enhebra un torrente de imágenes objetivas, fotográficas y tomadas de múltiples fuentes, a razón de uno o unos pocos fotogramas por cada imagen; «24 frames a second of Everything», según la descripción del artista. Comienza con el desfile de un muestrario de colores, al estilo de las guías Pantone, y sigue con repertorios de minerales, animales, vegetales y cosas (páginas de diarios, de la guía telefónica o de revistas eróticas). Y cuando se agota el repertorio de papel (libros ilustrados e impresos diversos), la cámara abandona la truca y sale a la calle, o se entretiene con otras ocurrencias repentinas que pasan a integrarse en esta especie de banco de imágenes acelerado que recuerda las bibliotecas circulares y las enciclopedias inabarcables descritas por Borges. <i>Triage</i> comporta pues un doble uso de los materiales de librería, archivísticos, reformulando una vez más la noción de cine abstracto, pues las imágenes en sí no lo son.</p>
<p>  </p>
<p> En muchas de estas obras recientes, el filósofo parece entregarse a los juegos de manos –que siempre son también de mente–, para recrearse y agilizar de paso el magín. A conciencia, Snow concibe y describe sus films en términos plásticos y musicales, y por tanto audiovisuales, siempre en pos de un cine rotundo; cosa que le diferencia del artista diletante que se acerca al cine como un mero instrumento. Pero también está presente un juego con la narrativa, el lenguaje y los arquetipos sintácticos. Y es por todo ello que su cine también ha reclamado la atención de los filósofos de oficio y de los teóricos del cine más despiertos. Por la signatura <i>mental</i> que se halla en el arte de Michael Snow, y también en el de aquel heterónimo que ha interpuesto alguna vez –un anagrama transexuado y travieso <i>à
la Rrose Sélavy&shy;</i>–
de la más voluble y desvergonzada Wilma Schoen.</p> </body> </html>