  <p> <b>N:O:T:H:I:N:G, Paul Sharits, 1968</b></p>
<p>  </p>
<p>  </p>
<p> Este film de y sobre la <i>nada</i>, casi sin imágenes pero que enerva la vista (el autor contraponía el
<i>no-thing</i> al <i>some-thing</i>), es una obra característica de una primera y decisiva etapa en la filmografía de Paul Sharits (1943-1993). Él comenzó a aislar el fotograma, como unidad de precisas construcciones rítmicas, en los films que realizó durante su vinculación al espíritu rompedor de Fluxus. Entre ellos sobresale <i>Word Movie/Fluxfilm 29</i> (1966), en el que las imágenes son palabras que se encabalgan, parpadeantes, tal como los fonemas desarticulados que la banda sonora ensarta.</p>
<p>  </p>
<p> A continuación, sobre los fundamentos de aquello que dio en llamarse el <i>flicker film</i>, cine de parpadeos o de intermitencias –los ritmos de fotogramas en blanco y en negro, transparentes y opacos, del <i>Arnulf Rainer</i> (1960) de Peter Kubelka, llevados a un grado más sistemático y epiléptico con <i>The Flicker</i> (1964) de Tony Conrad–, Sharits incorporó una combinatoria de fotogramas de colores planos que algunas veces se ha relacionado con la corriente de la pintura <i>color field</i> norteamericana (Mark Rothko, Kenneth Noland, Frank Stella…).</p>
<p>  </p>
<p> Y, por oposición a los ritmos estroboscópicos del <i>flicker</i> monocromo y de ciertas máquinas visionarias (la mítica <i>Dreamachine</i> de Brion Gysin) –que, según el grado de aceleración, pueden producir posimágenes o impresiones cromáticas por la colisión de la luz y la oscuridad antagónicas–las intermitencias policromáticas de Sharits provocan en su percepción un efecto contrario, ya que la fusión de los colores en la retina se percibe como una vibración irregular de luz blanca.</p>
<p>  </p>
<p> Sharits decía que la clave de bóveda de <i>N:O:T:H:I:N:G</i> es un mandala de meditación tibetano. Añadía que no estaba interesado en absoluto en ningún tipo de misticismo ni denotación simbólica, pero en definitiva admitía que el tema de la obra vendría a ser lo insondable (<i>the non-understandable</i>). Solo en la parte central del film –aquel que corresponde al vórtice mandálico– se hallan algunos elementos icónicos, intercalados en el flujo de colores planos, aunque sin la sobrecarga simbólica de otras realizaciones anteriores y posteriores, tales como <i>Piece Mandala / End War</i> (1966)
y <i>T.O.U.C.H.I.N.G</i>
(1968).</p>
<p>  </p>
<p> Fue en este periodo cuando Sharits manifestó su repudio de la mímesis y la ilusión para adentrarse en
«el drama superior del celuloide, la bidimensionalidad de la cinta cinematográfica, el rectángulo del fotograma unitario, la naturaleza de la emulsión y de las perforaciones, la mecánica de la proyección, el haz de luz tridimensional, la iluminación de la sala, la superficie reflectante de la pantalla bidimensional, la pantalla de nuestra retina, el nervio óptico y la subjetividad psicofísica de la consciencia individual». Este programa de intenciones marcó la evolución subsiguiente de una obra llena de vigor, que apenas comienza a ser redescubierta ahora, segada por las desdichadas circunstancias de un tormento interior.</p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p> </body> </html>