  <p> <i><b>Zorns Lemma</b></i><b>, Hollis Frampton, 1970</b></p>
<p>  </p>
<p>  </p>
<p> El film entero, el título del cual remite a un principio de la teoría de conjuntos, es una especie de charada sobre la ordenación de sus propias imágenes, el grueso de las cuales está formado por palabras, letras y rótulos filmados.
Además, se incluyen textos recitados en el preliminar y el colofón que anudan la parte central y más extensa (45 minutos de los 60 que dura la película), exenta esta de sonido.</p>
<p>  </p>
<p> <i>Zorns Lemma</i> comienza sin imágenes, con una secuencia en negro acompañada por los versículos de una cartilla escolar ochocentista para el aprendizaje del alfabeto, y con unas cuñas beatas y bienpensantes.</p>
<p>  </p>
<p> La segunda parte se abre con las letras del alfabeto latino, de la <i>A</i> a la <i>Z</i>, y despliega una serie de secuencias de imágenes-palabra, a su vez con una ordenación alfabética y un patrón rítmico uniforme, a razón de una imagen por segundo. Son signos –lingüísticos y simultáneamente visuales– que aíslan una serie de palabras tomadas de rótulos, carteles y reclamos hallados en el espacio urbano y que, a veces, dan lugar a sintagmas involuntarios. Pero estas imágenes-palabra son reemplazadas progresivamente por otras series arbitrarias de imágenes, las cuales subrayan su relieve ilusorio frente a la lectura rasa de las palabras alineadas secuencialmente.</p>
<p>  </p>
<p> En la tercera y última parte –un falso plano-secuencia–, el ritmo metronómico de la parte anterior se traslada a la banda sonora mediante una lectura a seis voces, a razón de una palabra por segundo, de un texto extraído de un oscuro tratado medieval sobre la luz.</p>
<p>  </p>
<p> Fallecido tempranamente, Hollis Frampton (1936-1984) fue –junto con Michael Snow, Paul Sharits, George Landow, Tony Conrad y Ernie Gehr– uno de los artistas-cineastas que encabezaron una tendencia nueva, bautizada como <i>cine estructural</i> por P. Adams Sitney. Un concepto muy debatido, pero que sugiere una inclinación filosófica, una concepción intelectual del cine que tendría algunas manifestaciones paralelas en las artes visuales y la música (minimalismo, conceptualismo, música repetitiva).</p>
<p>  </p>
<p> Muy dotado intelectualmente, Frampton fue un creador harto prolífico: su filmografía consta de unos sesenta títulos y comprende los vastos ciclos de <i>Hapax Legomena</i> (1971-1972, siete films) y <i>Magellan</i>
(comenzado en 1972 y concebido como un calendario fílmico, con un film o segmento para cada día del año). En lo que concierne a <i>Zorns Lemma</i>, el propio autor se refirió a esta obra como una «autobiografía críptica»: la de un letraherido seducido por los escritos de Ezra Pound, James Joyce y Jorge Luis Borges, dedicado a la fotografía y a un desarrollo de la misma en series, lo que le llevó a interesarse cada vez más por el cine.</p>
<p>  </p>
<p> Peter Gidal, contraintérprete del cine estructural al sobreponerle una concepción materialista, con un sesgo político, advirtió en cambio que es un film sobre la autoridad, el autoritarismo y el adoctrinamiento. La letra… y, de paso, siempre algo más… ¡con sangre entra!</p>
<p>  </p>
<p>  </p> </body> </html>