  <p> <i><b>Berlin Horse, </b></i><b>Malcolm Le Grice, 1970</b></p>
<p>  </p>
<p> Este film, según su autor, es una especie de síntesis de otras obras anteriores (entre otras, <i>Little Dog for Roger</i> y <i>Yes No Maybe Maybe Not</i>, ambas de 1967), sin por ello disminuir el peso específico de aquellas. En todo caso, es una de sus obras más emblemáticas y conocidas –forma parte, por ejemplo, de la colección del Museu d’Art Contemporani de Barcelona (MACBA)–, como también una de las más sensuales a su manera, que es una manera muy matérica de explorar el medio fílmico desde su materia prima: la película, las perforaciones, la emulsión, sus cicatrices, sus procesos ópticos y químicos, etc.</p>
<p>  </p>
<p> La música es de Brian Eno, quien, hacia finales de los años setenta, se servía de los films de Le Grice para sus conciertos en solitario de música «discreta» o en suspensión (<i>planante</i>, que se decía en Francia). Los films de Le Grice y los sonidos de Eno parecían en aquel entonces hechos el uno para el otro, <i>quid pro quo</i>, pues partían de unos principios equivalentes, sobre la base de bucles repetitivos y de desfases ligeros pero progresivamente crecientes. De <i>Berlin Horse</i> hay también una versión para doble pantalla que acentúa este aspecto permutatorio.</p>
<p>  </p>
<p> El film consta únicamente de dos imágenes: dos planos –uno de archivo, el otro procedente de una filmación en 8 mm, y ambos en blanco y negro originalmente–
reprocesados ópticamente con diversas técnicas que añaden color, textura y sobreimpresiones de positivos y de negativos, con efectos de solarización cuando ambos se superponen. Tales rasgos hacen patente la formación del autor tanto en el campo de la pintura como en el de la música (concretamente, por los andurriales del jazz y las músicas improvisadas): el acento puesto sobre el color más que sobre la iconicidad de las imágenes, el ritmo interno de las reiteraciones permutatorias.</p>
<p>  </p>
<p> Cuando Le Grice ha entrevisto que su vocación era el cine y no las artes plásticas tradicionales (y puesto que tampoco llevó mucho más lejos su afición por la música), en seguida sintió la necesidad de crear sus propias herramientas a fin de no depender de los laboratorios cinematográficos ni de sus estándares. Posteriormente, al vincularse a la London Film-Makers’ Co-operative, impulsó el establecimiento de un obrador propio, así como la exploración en intensidad de las técnicas de impresión óptica; recursos característicos en muchas de las obras propiciadas por la cooperativa londinense.</p>
<p>  </p>
<p> El trabajo de Malcolm Le Grice –en tanto que artista, teórico y docente– ha descollado en el marco del cine de vanguardia británico de los años sesenta y setenta, aunque luego se ha decantado por los terrenos del vídeo y la imagen digital. En cualquier caso, es un referente indispensable por su concepción de un cine materialista-estructural, por sus exploraciones del campo expandido (con obras de multiproyección, <i>projection events</i> y performances cinematográficas) y por su búsqueda de nuevas estructuras narrativas.</p> </body> </html>