[
	{
		"pid" : 0,
		"p" : "<p><b>Medida vectorial de las formas de onda de sucesivas se&#241;ales de v&#237;deo y otras observaciones anexas para un libro-registro de herramientas, reparaciones y mantenimiento</b></p><p><i>Se&#241;ales de v&#237;deo: aspectos de la videocreaci&#243;n espa&#241;ola de los &#250;ltimos a&#241;os</i>.Madrid: Museo Nacional Centro de Arte Reina Sof&#237;a, 1995 [cat&#225;logo de exposici&#243;n]</p>"
	},
	{
		"pid" : 1,
		"p" : "<p>V&#237;deo son muchas cosas: industria e independencia, oficio y creaci&#243;n, profesi&#243;n y afici&#243;n, televisi&#243;n y contratelevisi&#243;n, arte y entretenimiento, lo- y hi-tech, cintas e instalaciones, medio y media-mix&#8230; Incluso si aqu&#237; se trata del v&#237;deo (espa&#241;ol) en una determinada acepci&#243;n, nuestro ente es m&#225;s que uno y trino. Es, aun, m&#250;ltiples cosas, prop&#243;sitos, estilos, temas, motivaciones, procedencias, etc. Acudir a cualquier muestra, festival, concurso de v&#237;deo es, entonces, como adentrarse en un laberinto m&#225;s o menos intrincado, tanto para el espectador de a pie, como para el espectador de oficio (por as&#237; llamar al experto, cr&#237;tico, te&#243;rico o &#171;seleccionador&#187;). Salvo que, del &#250;ltimo, se espera adem&#225;s que sea capaz de levantar un mapa, con sus correspondientes relieves: es decir, destacando autores, obras, posibles direcciones, cotas relevantes para establecer el estado de la cuesti&#243;n</p>"
	},
	{
		"pid" : 2,
		"p" : "<p>En muchos aspectos, puede decirse que el v&#237;deo espa&#241;ol actual (aunque decir esto sea una abstracci&#243;n) no chirr&#237;a en absoluto si se establece su comparaci&#243;n con aquello que suele llamarse el &#171;panorama internacional&#187; (otra abstracci&#243;n mucho m&#225;s grosera y arrogante, en tanto que suele connotar un rasero &#171;primermundista&#187; de bienestar, alta tecnolog&#237;a, gran cultura, etc.). Es m&#225;s, cuando se le ha hecho correr mundo a tal o tal otro lote dignamente representativo del v&#237;deo espa&#241;ol, me consta que muchas veces se ha apreciado su sinton&#237;a con los planteamientos est&#233;ticos y preocupaciones tem&#225;ticas vigentes en esas otras latitudes visitadas, e incluso se ha cre&#237;do percibir un sello cultural propio y aut&#243;ctono que, sin embargo, yo creo que es raramente premeditado y consciente, salvo en algunas obras claramente referidas a unas tem&#225;ticas muy nuestras (o, a lo peor, a los m&#225;s trillados y celtib&#233;ricos t&#243;picos). Pero tambi&#233;n puede advertirse que, en conjunto, permanece en un tercer o cuarto plano; y que es l&#243;gico que sea as&#237; por varios motivos. Un s&#237;ntoma de ello es su frecuentemente m&#237;nima o nula presencia en festivales y otro tipo de muestras y circuitos internacionales, aun con las excepciones de algunos nombres que s&#237; la han tenido con cierta regularidad, o que han destacado m&#225;s ocasionalmente</p>"
	},
	{
		"pid" : 3,
		"p" : "<p>Aunque, en cierta manera, el v&#237;deo espa&#241;ol ha tenido una especie de constante delegaci&#243;n en el exterior &#8211;a trav&#233;s de diversos artistas de mayor o menor renombre por su actividad v&#237;deo y multimedia&#8211; en la escena interior se dan cita el localismo y el af&#225;n cosmopolita m&#225;s extremos, un cierto autismo sectorial y un frecuente desarraigo, la fr&#237;vola inconsciencia y el agrio desencanto. La tremenda atomizaci&#243;n, por otra parte, que se da en nuestro &#225;mbito arrastra toda una serie de deficiencias y carencias que se derivan de la dificultad de organizarse de un colectivo que solo lo es en potencia, y de una excesiva dependencia institucional y de pol&#237;ticas culturales poco arriesgadas que, en un estado no federal y sin tradici&#243;n descentralizadora &#8211;administrativamente constituido en estado de las autonom&#237;as&#8211;, apenas propician los contactos e intercambios entre los distintos n&#250;cleos de actividad dispersos por la geograf&#237;a peninsular y sus insulares agregados</p>"
	},
	{
		"pid" : 4,
		"p" : "<p>Hay en nuestro campo (por supuesto, tambi&#233;n en otros) una tradici&#243;n despotricadora, una cierta tendencia a la contracultura de la queja, que estas p&#225;ginas no quieren soslayar, sino m&#225;s bien destacar, mostrando de entrada las anomal&#237;as y particularidades que presenta el caso de estudio que aqu&#237; nos ocupa. Si las bases que supuestamente sustentan el v&#237;deo a veces llamado independiente resultan en gran medida insatisfactorias entre nosotros &#8211;y, a menudo, sumamente fr&#225;giles o vol&#225;tiles&#8211; tales cuestiones deben anteponerse al balance relativamente positivo y esperanzador que puede extraerse de la producci&#243;n de los &#250;ltimos a&#241;os. As&#237;, parece hoy existir un cierto consenso sobre la necesidad de establecer unos cauces para el di&#225;logo, el contraste de pareceres y una m&#237;nima entente entre los diversos implicados sobre aspectos que resultan b&#225;sicos (desde un punto de vista gremial, dir&#237;amos, pero que deber&#237;a tambi&#233;n ir m&#225;s all&#225; del mismo). Y ahora ser&#237;a un buen momento para enfrentarse a este desaf&#237;o &#8211;que lo es verdaderamente por una especie de pragm&#225;tico escepticismo que hemos venido desarrollando&#8211;, y tratar de levantar los &#225;nimos de una pr&#225;ctica y un &#225;mbito creativo que se resienten de un cierto estado de abandono moral</p>"
	},
	{
		"pid" : 5,
		"p" : "<p><b>Algo de historia o contrahistoria</b></p><p>Para que se comprenda mejor esta circunstancia actual del v&#237;deo en Espa&#241;a, me supongo obligado a repasar una vez m&#225;s su historia. Una historia con min&#250;scula inicial &#8211;por tanto sin magnificar&#8211;, y que, como ya propuse en una previa ocasi&#243;n, cabe plantear a su vez como una contrahistoria; como una interrogaci&#243;n de las simplezas, las leyendas, las mistificaciones, los descuidos, los calcos mim&#233;ticos (de otras circunstancias, contextos, &#171;historias&#187;) que f&#225;cilmente se deslizan en la descripci&#243;n e interpretaci&#243;n de unos datos cronol&#243;gicos y documentales en principio &#171;neutros&#187;. En cualquier caso, mis consideraciones en estas p&#225;ginas no pretenden ser de otro orden que el de una (contra)historia privada, aunque otros puedan haberse adherido a un similar planteamiento en sus propios, no menos privados, escritos</p>"
	},
	{
		"pid" : 6,
		"p" : "<p>Al igual que otros recuentos que se han escrito en los &#250;ltimos a&#241;os sobre diversas escenas videogr&#225;ficas &#171;nacionales&#187;, y sobre la nuestra misma, reincidir&#233; aqu&#237; en un desglose cronol&#243;gico en tres tiempos (siendo el tercero el que pretende ser muestreado en el programa de <i>Se&#241;ales de v&#237;deo</i>).<a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym">1</a></p>"
	},
	{
		"pid" : 7,
		"p" : "<p>Me propongo a&#241;adir ahora una m&#237;nima contextualizaci&#243;n que exceda de la com&#250;n interpretaci&#243;n un tanto gremial y restringida del &#225;mbito y el medio videogr&#225;fico, pues creo que es cada vez m&#225;s necesario el reintegrarlo en un espacio m&#225;s amplio &#8211;est&#233;tico, cultural y social&#8211;, dados los m&#250;ltiples lazos que tiene con otros medios y pr&#225;cticas (algo que se comprueba con apenas ojear los curriculums de muchos autores), y la tendencia a incluir el v&#237;deo y sus expansiones/hibridaciones (v&#237;deo-escultura, -instalaci&#243;n,-performance, -m&#250;sica, -teatro, -danza, etc.) en unas consideraciones y conceptualizaciones m&#225;s amplias: imagen en movimiento, artes audiovisuales, arte electr&#243;nico, media-art o arte multimedia, por mencionar las m&#225;s difundidas (aunque no siempre bien entendidas y, demasiado a menudo, peor aplicadas)</p><p><b>V&#237;deo pobre (de necesidad)</b></p>"
	},
	{
		"pid" : 8,
		"p" : "<p>La primera utilizaci&#243;n del v&#237;deo con un prop&#243;sito creativo o experimental de la que tengo constancia en nuestra geograf&#237;a data de 1969 (<i>D&#230;dalus Video</i>, de los hermanos Joan y Oriol Duran Benet).<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a>Sin embargo, nuestro primer pionero fue probablemente otro catal&#225;n, Jos&#233; Montes-Baquer &#8211;as&#237; me consta que lo considera quien es tenido por &#171;padrino del videoarte&#187; universal, Nam June Paik&#8211;, aunque experimentando con el medio en un marco televisivo y casi siempre fuera de nuestras fronteras.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a>En cualquier caso, desde 1970 se suceden en Barcelona, y harto m&#225;s ocasionalmente en otros puntos de Espa&#241;a, diversos acercamientos al v&#237;deo; muchos de ellos sin continuidad debido a las dificultosas oportunidades de acceder a unos equipos que, para el fin de la d&#233;cada, ya eran obsoletos (los viejos port&#225;tiles, portapacks<i>,</i>o equipos estacionarios de media pulgada, una pulgada o un cuarto de pulgada, con cintas de bobina abierta, y casi siempre limitados a un blanco y negro con propensi&#243;n a una pobremente definida grisalla)</p>"
	},
	{
		"pid" : 9,
		"p" : "<p>As&#237;, por solo referirse a los nombres de aquellos que s&#237; tuvieron &#8211;y que, en varios casos, siguen teniendo&#8211; una presencia m&#225;s persistente y conspicua, a lo largo de la d&#233;cada cabe mencionar los de Antoni Muntadas, Carles Pujol, el colectivo V&#237;deo-Nou, Carles Pastor, Lala Gom&#224;, Juli&#225;n &#193;lvarez, Joan Pueyo y Pedro Garhel.Nombres a los que hay que sumar otros de diversos artistas que a lo largo de la d&#233;cada de los setenta, o incluso antes, se afincaron o residieron temporalmente en otros pa&#237;ses &#8211;en Estados Unidos, los m&#225;s&#8211;, incluyendo, adem&#225;s de al ya mencionado Muntadas, a Francesc Torres, Antoni Miralda, Juan Navarro Baldeweg, Ram&#243;n de Vargas, Benet Rossell y Eug&#232;nia Balcells. Las mayores posibilidades de frecuentaci&#243;n del nov&#237;simo medio que all&#237; encontraron, facilitaron que algunos de los mencionados &#8211;principalmente Muntadas, Torres y, ya m&#225;s tarde, Balcells&#8211; se abocaran a un uso continuado del mismo como parte de su paleta (pospl&#225;stica) multimedia; y, tambi&#233;n, que en su trayectoria pueda apreciarse una evoluci&#243;n &#8211;de un uso elemental del v&#237;deo como documento o constataci&#243;n a construcciones m&#225;s complejas y substantivas (tanto en formato monocanal como en las formas expandidas del arte de la instalaci&#243;n y multimedia en general)&#8211;, que no se percibe tanto en otros artistas de su misma generaci&#243;n; tanto si han manejado el v&#237;deo harto a menudo (como Carles Pujol, aunque sus planteamientos sean en definitiva muy distintos) o de manera m&#225;s ocasional (como Francesc Abad)</p>"
	},
	{
		"pid" : 10,
		"p" : "<p>Hora es ya de situar estas referencias en un marco m&#225;s amplio, a su vez como paso previo a alguna que otra consideraci&#243;n m&#225;s sobre este primer tiempo, en apariencia tan parco y de escaso relieve en cuanto a experiencias y pr&#225;cticas. Por supuesto, lo primero que habr&#237;a que recordar es el clima represivo vivido hasta los &#250;ltimos estertores del r&#233;gimen franquista, los clandestinos oasis de resistencia y contracultura, o la posterior incertidumbre ante la transici&#243;n, con el llamado &#171;desencanto&#187; como consecuencia de la resaca posmortem.Sin embargo, en lo cultural, desde mediados de los sesenta se sucedieron diversos episodios interesantes, que combinaban el experimentalismo y el af&#225;n contrariador, y que, lejos de las academias y de unas tendencias ya trasnochadas, apuntaban a una sinton&#237;a mayor con otros aires menos viciados. Y, pese al d&#233;ficit de informaci&#243;n y a los inevitables mimetismos, lo m&#225;s relevante es que este voluntarioso proceso de puesta al d&#237;a, harto intuitiva muchas veces, concerni&#243; a pr&#225;cticamente todos los &#225;mbitos est&#233;ticos y culturales (artes pl&#225;sticas, fotograf&#237;a, cine, m&#250;sica, teatro, literatura), y dio lugar a unos nuevos brotes exploradores y alternativos (Zaj, conceptualismo, arte de acci&#243;n e implicaci&#243;n, arte por ordenador, poes&#237;a experimental, cine independiente, m&#250;sica minimalista, comics/comix, terrorismos sonoros y visuales&#8230; y, de por medio, tambi&#233;n el v&#237;deo), algunos de los cuales a&#250;n esperan la oportunidad de una adecuada revisi&#243;n. Tampoco estar&#225; de m&#225;s recordar que, en los a&#241;os setenta, Barcelona ejerc&#237;a de capital cultural en diversos &#243;rdenes, lo que probablemente explica que la mayor concentraci&#243;n de actividades y probaturas videogr&#225;ficas rese&#241;ables se diese en el <i>cap i casal </i>de Catalu&#241;a<i>.</i></p>"
	},
	{
		"pid" : 11,
		"p" : "<p>Al igual que en las genealog&#237;as videogr&#225;ficas de muchos otros pa&#237;ses, ha sido tambi&#233;n usual referirse al territorio de las artes visuales como lugar natal de las primeras, pioneras actividades; y, m&#225;s concretamente, a un difuso torrente de tendencias para el que, entre nosotros, Sim&#243;n March&#225;n Fiz acu&#241;&#243; la globalizadora expresi&#243;n de&#171;nuevos comportamientos art&#237;sticos&#187;. Sin embargo, yo a&#241;adir&#237;a que otro &#225;mbito estrechamente vinculado con la evoluci&#243;n del v&#237;deo en Espa&#241;a es el del cine independiente y experimental que brota a mediados de los sesenta y pr&#225;cticamente fenece a principios de los ochenta; un v&#237;nculo que no se hace visible de un modo tan inmediato, sino a medio plazo. Un estudio todav&#237;a por hacer es justamente el del tr&#225;nsito de numerosas personas implicadas en los a&#241;os setenta(o incluso despu&#233;s: Ignacio Pardo, Elio Quiroga, Francisco Ruiz de Infante) en el dificultoso prop&#243;sito de levantar un cine experimental o alternativo &#8211;casi desde la nada&#8211; al nuevo territorio experimental y profesional del v&#237;deo y medios afines en la siguiente d&#233;cada. (Pues de ah&#237; surgir&#237;an, en efecto, varios de los protagonistas de un segundo tiempo)</p>"
	},
	{
		"pid" : 12,
		"p" : "<p>Lo que ahora importa se&#241;alar es, en todo caso, ciertos rasgos comunes que se plantean desde ambos &#225;mbitos (no en vano se habl&#243; tambi&#233;n de arte alternativo) y que, en cierto modo, se transmiten a la incipiente actividad videogr&#225;fica. As&#237;, en primer lugar, hay un prop&#243;sito explorador y de ampliaci&#243;n, tanto como de cuestionamiento, de la propia pr&#225;ctica y del &#225;rea que la enmarca&#8211;interrogar el arte, interrogar el cine, interrogar lenguajes y sistemas al fin y al cabo&#8211;; por supuesto que con muy diversos matices: del formalismo o las emulaciones de corrientes vanguardistas for&#225;neas, deliberadamente abstray&#233;ndose de la siniestra contextura sociopol&#237;tica, a una voluntad de resistencia e incidencia social, pasando por las deconstrucciones o sociolog&#237;as de cocina (alta cocina, a veces). En segundo lugar, hallamos un forzoso y asumido voto de pobreza, por as&#237; decirlo &#8211;<i>arte pobre</i> y <i>cine pobre</i> fueron expresiones usuales al principio de los setenta&#8211;, que constituye todo un manifiesto, rehusando los valores de mercado y acusando las propias condiciones de unas pr&#225;cticas que se desarrollan a contrapelo del estado de las cosas. (El v&#237;deo de los setenta tambi&#233;n ser&#225; pobre de necesidad, bas&#225;ndose casi siempre en la observaci&#243;n documental:ya sea de una acci&#243;n ejecutada por un artista ante la c&#225;mara, o de una realidad de la calle, o del paisaje medi&#225;tico que Muntadas comienza a retratar desde la segunda mitad de la d&#233;cada). Y, por&#250;ltimo, a&#241;adir&#237;a que estos proyectos alternativos acarrearon en general una din&#225;mica colectiva, un <i>esprit de corps</i> &#8211;aunque con sus grup&#250;sculos, tensiones y enemistades internas&#8211;, y una implicaci&#243;n a&#241;adida en la organizaci&#243;n de actividades, encuentros y otras bases de actuaci&#243;n; unas veces p&#250;blica, otras forzosamente subterr&#225;nea o marginal</p>"
	},
	{
		"pid" : 13,
		"p" : "<p>Y aunque todo esto no acabara de cuajar en nada s&#243;lido, sino que ya se hab&#237;a desvanecido en el aire para el comienzo de la siguiente d&#233;cada, s&#237; creo que tiene una significaci&#243;n en la (contra)historia del v&#237;deo o, mejor dicho, de los medios alternativos en un sentido m&#225;s amplio. As&#237;, para terminar con este primer tiempo, otro aspecto a considerar es el de todas aquellas actividades e iniciativas que ah&#237; se fraguaron, partiendo pr&#225;cticamente de cero, incluyendo los primeros esbozos te&#243;ricos y pedag&#243;gicos, el planteamiento de unos modelos de comunicaci&#243;n alternativa y las primicias de la televisi&#243;n local en nuestro mapa, as&#237; como las primeras muestras de unos ciertos vuelos, con apertura al ancho mundo y a las dimensiones m&#250;ltiples y expandidas del medio.<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a>En definitiva, sin pretender sobrevalorar de ning&#250;n modo las esforzadas, muchas veces anecd&#243;ticas, iniciativas y experiencias de aquella primera d&#233;cada de incipientes actividades, s&#237; creo que deben ocupar su justo lugar en la cronotop&#237;a del v&#237;deo espa&#241;ol, pese a que el diverso paradigma que se vivi&#243; en ese segundo tiempo del que inmediatamente escribir&#233; haya propiciado un relativo arrinconamiento o imagen borrosa de aquel periodo, salvo quiz&#225; en Barcelona, donde siempre nos hemos cre&#237;do bastante la leyenda (no digo que incierta) de una m&#225;s larga tradici&#243;n videogr&#225;fica</p>"
	},
	{
		"pid" : 14,
		"p" : "<p><b>V&#237;deo rico (&#191;o nuevo rico?)</b></p>"
	},
	{
		"pid" : 15,
		"p" : "<p>Entrando en los ochenta, o ya algo antes, a todo se le empez&#243; a anteponer un neo- o un post-: en las artes pl&#225;sticas, triunfaba el neoexpresionismo, un cierto regreso al orden figurativo y la reivindicaci&#243;n de los placeres de la pintura y del <i>glamour</i>bohemio en el mundillo y mercadillo art&#237;stico; respecto al cine, o&#237;ase hablar de un retorno al relato y los cracks tipo Spielberg y sus secuaces nos eran presentados por la cr&#237;tica m&#225;s sesuda como emblemas del &#171;nuevo cine experimental de Hollywood&#187; (&#161;literalmente cierto!), anunciando la apolog&#237;a de un nuevo cine de g&#233;nero y comercial a macha martillo, junto al cual se toleraba el culto a un cine de autor con llamativo barniz de <i>modernez</i>;en literatura empezaba a arremeterse contra experimentalismos e intelectualismos, y as&#237; sucesivamente. Por fin &#233;ramos modernos, o quiz&#225; ya posmodernos, y estallaban las movidas: la laica comuni&#243;n del arte joven, la m&#250;sica pop, el dise&#241;o, la moda, el estilismo, la imagen, las luces de la noche, etc.; y, al contrario que en pol&#237;tica, estar aparentemente quieto equival&#237;a a no salir en las &#171;fotos&#187;. En definitiva, resulta f&#225;cil describir, ironizar con trazos gruesos sobre aquella que algunos han llamado la d&#233;cada prodigiosa &#8211;una referencia que eriza los cabellos de todo aquel que haya visto y o&#237;do en acci&#243;n al hisp&#225;nico y plastificado combo pop del mismo nombre&#8211;, como tambi&#233;n se ha exagerado bastante, pienso yo, en algunas revisiones/recapitulaciones beligerantes sobre una segunda etapa del v&#237;deo en Espa&#241;a, que, en efecto, permite ser contextualizada parcialmente mediante caricaturas como las anticipadas</p>"
	},
	{
		"pid" : 16,
		"p" : "<p>Si nos referimos, a diferencia del periodo anterior, a un mapa crecientemente plet&#243;rico en acontecimientos y actividades de difusi&#243;n y proyecci&#243;n &#8211;que decaer&#237;an, sin embargo, al cabo de pocos a&#241;os&#8211;, para empezar a acotar este segundo periodo podr&#237;a partirse del Festival de V&#237;deo de San Sebasti&#225;n, celebrado de 1982 a 1984 &#8211;paralelamente al festival cinematogr&#225;fico internacional que se celebra anualmente en la capital guipuzcoana&#8211;, si bien la verdadera eclosi&#243;n de un nuevo v&#237;deo espa&#241;ol (creo que fue Jos&#233;Manuel Palacio quien acu&#241;&#243; el sintagma) se ha de costumbre cifrado en el I Festival Nacional de V&#237;deo, celebrado en 1984 en el C&#237;rculo de Bellas Artes de Madrid, y que se prolong&#243; hasta una segunda y m&#225;s discutida edici&#243;n en 1986 (con unos encuentros de transici&#243;n en el intervalo). Ambas manifestaciones, en todo caso, mantuvieron una cierta continuidad de esp&#237;ritu con las muestras que hab&#237;an tenido lugar en Barcelona anteriormente<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a>y, adem&#225;s de ampliar definitivamente la escala del mapa de las actividades videogr&#225;ficas en nuestra geograf&#237;a, contribuyeron a fijar su posici&#243;n en un imaginario y fragmentario mapamundi del v&#237;deo</p>"
	},
	{
		"pid" : 17,
		"p" : "<p>En cuanto a la especial significaci&#243;n que se le atribuye al festival de Madrid de 1984, esta se debe a la inclusi&#243;n de un concurso de alcance &#171;nacional&#187; que se sald&#243; con la distribuci&#243;n ex aequo del premio entre seis obras (m&#225;s dos menciones de m&#233;rito), atendiendo as&#237; a la variedad y calidad suficientes de las cintas en competici&#243;n. Y a que, alrededor de aquellas fechas, otros eventos, festivales, concursos, muestras, programas de diverso calibre y trascendencia fueran brotando casi como hongos en amplia dispersi&#243;n geogr&#225;fica: Zaragoza, Vitoria, Gij&#243;n, O Carballi&#241;o, A Coru&#241;a, C&#225;diz, Granada, Sevilla, Las Palmas de Gran Canaria, Valladolid, Tolosa, Valencia&#8230; Por &#250;ltimo, como fin de esta edad dorada (que de oro quiz&#225; solo tuviera un ligero, ilusorio ba&#241;o), puede se&#241;alarse como acontecimiento emblem&#225;tico la retrospectiva <i>La imagen sublime. V&#237;deo de creaci&#243;n en Espa&#241;a (1970-1987)</i>, en el entonces a&#250;n no museizado Centro de Arte Reina Sof&#237;a, a lo que yo agregar&#237;a otro peque&#241;o hito, como el de la constituci&#243;n del fondo inicial de la videoteca de Arteleku, en San Sebasti&#225;n, la primera que apost&#243; por el v&#237;deo (de creaci&#243;n) sin mezclarlo con todo cuanto tambi&#233;n tiene por soporte el v&#237;deo</p>"
	},
	{
		"pid" : 18,
		"p" : "<p>Este c&#250;mulo de manifestaciones &#8211;las m&#225;s de corta vida, todo sea dicho&#8211;, generalmente organizadas o financiadas por instituciones p&#250;blicas tales como ayuntamientos, diputaciones o gobiernos auton&#243;micos, tuvieron diversos efectos: uno, el de generar, como ya otros han dicho, una suerte de espejismo, una imagen ilusoria y sobredimensionada de la realidad; otro, el de dibujar un c&#237;rculo vicioso en el que la motivaci&#243;n creativa y su recepci&#243;n p&#250;blica se agotaban en un reducido circuito de peque&#241;as competiciones y antolog&#237;as; por &#250;ltimo, el de contribuir grandemente a esa dependencia institucional que sigue constituyendo uno de los puntos flacos del v&#237;deo supuestamente independiente. A lo largo de estos a&#241;os surgieron muchas otras iniciativas: programas itinerantes para difundir la producci&#243;n cantonal, regional o de las nacionalidades, como dir&#237;a Xabier Gonz&#225;lez<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a>(la Mostra de V&#237;deo de Creaci&#243; de Catalunya, en su origen una propuesta de Juli&#225;n &#193;lvarez posteriormente asumida por la Generalitat catalana y a&#250;n inc&#243;lume, o sus calcos m&#225;s ocasionales en otras comunidades aut&#243;nomas); la convocatoria de un premio espl&#233;ndidamente dotado por parte de un potente club-discoteca barcelon&#233;s hacia 1983-1984, hecho que aqu&#237; menciono por lo que tiene de significativo de un momento &#225;lgido en que el v&#237;deo &#171;era moda&#187;; las primeras experiencias de programaciones continuadas o ciclos peri&#243;dicos (<i>Virreina, els dilluns v&#237;deo</i>, en Barcelona; <i>V&#237;deo en el Palacio, </i>en Zaragoza;V&#237;deo Forum Internacional y Sal&#243;n de la Imagen en Madrid; las actividades organizadas por la Fundaci&#243;n Municipal de Cultura en Valladolid); la aparici&#243;n de las primeras distribuidoras (comenzando por Videografia y AVA, tambi&#233;n las m&#225;s duraderas, aunque hoy ya desaparecidas, al igual que casi todas las dem&#225;s que tomaron su relevo en a&#241;os sucesivos); y los por desgracia fracasados y frustrantes intentos de vertebrar asociativamente el hipot&#233;tico colectivo</p>"
	},
	{
		"pid" : 19,
		"p" : "<p>Expuesto el tel&#243;n de fondo, el cual se completa con algunas convocatorias de ayudas y con unas mayores oportunidades de mantenerse informado sobre lo que se hac&#237;a en el planeta v&#237;deo, detallo ahora las figuras y sus actos en escena. Si el festival de Madrid de 1984 suele tomarse como una efem&#233;rides fundacional de este segundo tiempo ahora considerado, estando fechadas casi todas las obras premiadas en aquel mismo a&#241;o o en el anterior, hay otras desde el principio mismo de los ochenta que cabr&#237;a ubicar como fronterizas, en el sentido que marcan el fin de un periodo y el comienzo de otro. Por ejemplo,<i>Koloroa</i>(1980), de El Hortelano y Carles Pastor, un imaginario &#171;telediario&#187;muy vistoso, colorista y posmodernizado, realizado con unos medios t&#233;cnicos entonces inusuales y envidiables en nuestro terru&#241;o(gracias a la implicaci&#243;n de una empresa de producci&#243;n industrial).O tambi&#233;n <i>Indian Circle</i>(1981), obra de Eug&#232;nia Balcells realizada en Estados Unidos con Peter Van Riper, una interacci&#243;n m&#250;sico-visual de gran atractivo en aquel momento; pr&#225;cticamente una de las primeras incursiones de su autora en el medio videogr&#225;fico (aunque no en la expresi&#243;n audiovisual), y que obtuvo el Grand Prix del primer festival de v&#237;deo de Montb&#233;liard (Francia); uno de los primeros en sentar los patrones, para bien y para mal, de los festivales de v&#237;deo europeos.O incluso varias producciones de prop&#243;sito did&#225;ctico que, aun siendo de encargo y con un compromiso pedag&#243;gico muy espec&#237;fico, propiciaron en algunos casos sus dosis de creatividad, experimentaci&#243;n y ejercicio de una personalidad propia, tal como en ciertas aportaciones de Juli&#225;n &#193;lvarez, Aurora Corominas, Gerardo Armesto o Joan Pueyo (varias de las cuales ya estuvieron presentes e incluso fueron premiadas en el certamen madrile&#241;o)</p>"
	},
	{
		"pid" : 20,
		"p" : "<p>Hace ya varios a&#241;os que propuse una distinci&#243;n entre las pr&#225;cticas predominantes en las d&#233;cadas de los setenta y ochenta, contrastando el forzado ripio de un v&#237;deo de artistas (conceptuales, alternativos, multimedia, ajenos en general a un sendero de actividad audiovisual profesionalizada) y un v&#237;deo de audiovisualistas (con m&#225;s propensa vocaci&#243;n y afici&#243;n por el cine, la televisi&#243;n, el v&#237;deo y otras im&#225;genes, as&#237; como por las industrias, grandes, medianas o peque&#241;as, que permit&#237;an conciliar vocaci&#243;n, creatividad y profesi&#243;n). Y, en apariencia, todo parece indicar que una tal distinci&#243;n sigue teniendo su vigencia; aqu&#237;, all&#225; y acull&#225;. En todo caso, son diversos los rasgos y s&#237;ntomas por los que se anuncia/enuncia una cierta ruptura con el pret&#233;rito anterior, a fin de reconducir el &#237;mpetu de cada cual por senderos m&#225;s rectos y lineales. M&#225;s en concreto, estos parec&#237;an ser en un momento dado los de la ficci&#243;n y un cierto manierismo, con una est&#233;tica formalista, pero m&#225;s (y mass-) medi&#225;tica, contemporizadora y, finalmente, banalizadora</p>"
	},
	{
		"pid" : 21,
		"p" : "<p>La p&#225;gina aparentemente mayor de este periodo es pues la de la ficci&#243;n con una cierta tendencia hacia la fantas&#237;a, el <i>hiporrealismo</i>&#8211;es decir, todo lo contrario a un realismo fotogr&#225;fico&#8211; y la<i>clipman&#237;a</i>(en concordancia con la burbujeante pujanza simult&#225;nea de los v&#237;deos musicales). Las influencias, en muchos casos, son admitidamente cinematogr&#225;ficas, y raramente apoyadas en una idea literaria &#8211;no se dan, como en el cine, &#171;adaptaciones&#187;&#8211;, aunque en general se procura que la obra desprenda una inmediata aureola videogr&#225;fica. (A falta de otros efectos, trucajes y aparejos, algunos desajustes pueden bastar para dar una cualidad peculiar a la imagen: como la arruga, &#161;el ruido es bello!) Algunos nombres y t&#237;tulos: Xavier Villaverde con <i>Veneno puro</i>(1984) y <i>Viuda G&#243;mez</i>(1985); Jos&#233; Ram&#243;n Da Cruz, de <i>Of-Tal</i>(1984) a <i>Armstrong </i>(1990);Antonio Cano, con un escasamente apetitoso <i>Buffet fr&#237;o</i> (1986) y otras cintas que siguieron despu&#233;s; Javier Vadillo; algunas piezas de los ef&#237;meros grupos V&#237;deo Dom&#233;stico y La Sucursal. Y, m&#225;s circunstancialmente, otras de Jordi Torrent (<i>Moebius Business</i>, 1983), Juli&#225;n&#193;lvarez (<i>Im&#225;genes de un bombardeo</i>, 1984), Antonio Herranz (<i>Ciudad submarina</i>, 1984), Ant&#243;n Reixa (<i>Chove contra pasado</i>, 1985) y Maite Ninou (<i>Revival solitari</i>, 1986). Aunque habr&#237;a que considerar una a una las obras y trayectorias de estos autores para extraer conclusiones, hoy se me ocurre que las piezas m&#225;s brillantes del entonces nuevo v&#237;deo espa&#241;ol no fueron de&#237;ndole narrativa, salvo quiz&#225; <i>Veneno puro</i> de Villaverde  &#822;una elaborada dramaturgia visual en perfecta sinton&#237;a con las proclamas de Jean-Paul Fargier a favor de la <i>ficci&#243;n v&#237;deo</i> y de su aproximaci&#243;n hacia el cine &#822;o la cuota de personalidad que hay que reconocerle a Da Cruz en sus estrafalarias ficciones (que, por otro lado, yo no considerar&#237;a exactamente como narrativas)</p>"
	},
	{
		"pid" : 22,
		"p" : "<p>Otras obras incidieron en la direcci&#243;n de un a veces llamado documentalismo subjetivo, con una marcada po&#233;tica personal y de car&#225;cter explorador, siempre rehuyendo los c&#243;digos rutinarios del documental mal entendido. Es el sendero o el punto de partida que han tomado Juli&#225;n &#193;lvarez (en varios de sus v&#237;deos: <i>Poesia urbana a la Barcelona dels anys 50</i>1983; <i>Batl&#224;ntic</i>, 1985; <i>Aves del para&#237;so</i>, 1987, y otros posteriores), Ra&#250;l Rodr&#237;guez (con obras tan espl&#233;ndidas como <i>Los hombres, las mujeres y los ni&#241;os</i>, 1986, y <i>A imagina&#231;&#227;o acordada</i>, 1988, que nos hacen lamentar su retiro), a veces Javier Codesal (<i>Pornada</i>, 1984, con Ra&#250;l Rodr&#237;guez; <i>S&#225;bado legionario</i>, 1988), Carles Comas, I&#241;igo Salaberr&#237;a y aun otros; am&#233;n de constituir tambi&#233;n hoy un terreno que da sus buenos, aunque muy contados, frutos</p>"
	},
	{
		"pid" : 23,
		"p" : "<p></a>La dial&#233;ctica v&#237;deo/televisi&#243;n, uno de los frentes cl&#225;sicos del videoarte, sigue presente &#8211;adem&#225;s de en el trabajo de Muntadas o en la primera realizaci&#243;n videogr&#225;fica de Eug&#232;nia Balcells, <i>Going Through Languages / Atravesando lenguajes</i>, de 1981&#8211;, en cintas como la ya mencionada <i>Koloroa</i>;<i>ET-apa</i>, 1984, de Antonio Cano; o <i>Espa&#241;a-Francia:de Agustina de Arag&#243;n a Manolo el del Bombo</i>, 1984, de La Sucursal. Tambi&#233;n del cruce con el accionismo y el inter&#233;s de artistas polifac&#233;ticos surgen otras trayectorias y obras monocanales, multiv&#237;deo y multimedia (Ant&#243;n Reixa, Pedro Garhel y los primeros trabajos de Antonio Cano y de Codesal/Rodr&#237;guez). El arte expandido de la instalaci&#243;n o videoescultura es cultivado por algunos de manera insistente (Isabel Herguera, Llu&#237;s Nicolau, Garhel, Codesal, Pueyo y siempre los Muntadas, Torres, Balcells, Pujol, Rossell y Miralda, fuera y dentro del pa&#237;s) o m&#225;s ocasional(Villaverde, Cano, Concha Jerez, Paloma Navares, Ant&#243;n Jodr&#225;, Remo Balcells). Por &#250;ltimo, mediada la d&#233;cada, nacen los primeros trabajos infogr&#225;ficos (Gerardo Armesto, Juan Carlos Eguillor, Remo Balcells, Grupo 3TT, etc.)</p>"
	},
	{
		"pid" : 24,
		"p" : "<p><b>Moci&#243;n de censura</b></p>"
	},
	{
		"pid" : 25,
		"p" : "<p>El anterior, apresurado recorrido por las tendencias y cuasi-g&#233;neros vigentes hasta 1988 nos permite observar la variedad de pr&#225;cticas y procedencias que ya se dan cita en aquellos a&#241;os; y dir&#237;a que, en cierto modo, el surtido no ha variado demasiado. Sin embargo, para un nuevo grupo de autores que se da a conocer desde el &#250;ltimo tercio de la pasada d&#233;cada &#8211;no creo que pueda hablarse en rigor de una nueva generaci&#243;n, dado que las diferencias de edad son demasiado cortas&#8211;, el alborozo que se hab&#237;a generado en torno al nuevo v&#237;deo espa&#241;ol, sus productos y acontecimientos, era contemplado con escepticismo realista e incluso con ojos muy cr&#237;ticos. Una de las principales plataformas que cataliza esta revisi&#243;n y relevo ser&#225; el Bideoaldia de Tolosa, organizado con esp&#237;ritu independiente por el Bosgarren Kolektiboa, que, aunque aparece en 1987 como un festival-con-concurso m&#225;s (con la particularidad de abarcar tambi&#233;n las m&#250;sicas experimentales y otras pr&#225;cticas y actividades alternativas: &#171;v&#237;deo y otras sensibilidades&#187;, en palabras del colectivo), en sus &#250;ltimas ediciones &#8211;las de 1989 y 1990 especialmente&#8211; plantea una relectura cr&#237;tica del pasado y una particular apuesta por otros planteamientos y pr&#225;cticas emergentes.<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a>(El Bideoaldia destac&#243; tambi&#233;n por prestar una atenci&#243;n a las instalaciones que se iba perdiendo en otras manifestaciones)</p>"
	},
	{
		"pid" : 26,
		"p" : "<p>Marcelo Exp&#243;sito, un artista vinculado al Bosgarren Kolektiboa desde sus mismos or&#237;genes, es uno de los que ha criticado sin ambages los vicios de forma y fondo que habr&#237;an aquejado al v&#237;deo del entusiasmo, y seguir&#237;an aquejando al de despu&#233;s-del-entusiasmo, en t&#233;rminos de &#171;provisionalidad y oportunismo&#187;, &#171;pr&#225;cticas conservadoras&#187;, &#171;tramposos formalismos&#187;, &#171;dudosa independencia&#187;,&#171;producciones sexistas&#187;, &#171;adscripciones reaccionarias&#187;.<a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a>Y, aunque lo ideal ser&#237;a que nos acostumbr&#225;ramos/atrevi&#233;ramos a dar nombres, de alguna manera Exp&#243;sito ha puesto el dedo en la llaga. Pues, si las dosis de sexismo no llegan a cotas intolerables, si el formalismo amanerado y sin m&#225;s consecuencias puede considerarse un sarampi&#243;n inevitable, si los demonios del conservadurismo reaccionario a veces quiz&#225; solo sean inocentes muestras de candidez y falta de norte, si la falta de constancia y el transfuguismo y las anemias son el frecuente corolario de una base de operaciones insuficiente, lo cierto es que al visitar el panorama videogr&#225;fico de nuestro pasado y presente (y basta con acudir a alg&#250;n festival-concurso de los que se celebran) se advierte de manera harto abundante hasta qu&#233; punto se tiende a la irrealidad, la irrelevancia, la inconsecuencia y al enclaustramiento en un imaginario universo delimitado por cuatro paredes (encima &#191;sin ventanas?)</p>"
	},
	{
		"pid" : 27,
		"p" : "<p>En consecuencia, no todo tiempo pasado fue ni mejor ni peor. Aunque fueran pocos los que se agarraron a la tierra y al mundo &#8211;Ant&#243;n Reixa, Javier Codesal, Ra&#250;l Rodr&#237;guez, Juli&#225;n &#193;lvarez, Manel Muntaner, Francesc Torres, Muntadas, Manuel Abad, Xavier Villaverde, La Sucursal, Isabel Herguera en muchos o algunos de sus trabajos (por detenerme a&#250;n en un pret&#233;rito imperfecto)&#8211;, el v&#237;deo, desde la introducci&#243;n de los equipos port&#225;tiles y los peque&#241;os formatos, ha sido un medio predestinado al individuo &#8211;a lo privado, &#237;ntimo y hasta narcisista&#8211;, y en dicho sentido hay opciones perfectamente respetables. Solo que, a veces, uno piensa que ciertas vanidades no merecer&#237;an llegar a un cauce p&#250;blico, por muy libres y abiertos que se supongan los del v&#237;deo</p><p><b>Cuesti&#243;n de confianza</b></p>"
	},
	{
		"pid" : 28,
		"p" : "<p>Para referirme a la &#250;ltima etapa del v&#237;deo en Espa&#241;a (y en una di&#225;spora nuevamente cuantiosa), introducir&#233; una vez m&#225;s algunas consideraciones que exceden del c&#237;rculo de su arena. Si, como ya otros observaron, entre varios de los autores que han tenido una destacada presencia en los &#250;ltimos a&#241;os, puede apreciarse una revaluaci&#243;n del v&#237;deo como una forma de arte (sin otras connotaciones de arrogancia) no emplazada en un r&#233;gimen de autarqu&#237;a, sino inscrita en un conjunto de otras pr&#225;cticas y actitudes (ll&#225;mense artes alternativas, o multimedia, o como se quiera), habr&#225; que considerar lo que ha venido sucediendo en un territorio m&#225;s amplio tras el punto en que lo hab&#237;amos abandonado(es decir, los neo- y los pos-, las regresiones y movidas que abrieron los felices principios de los ochenta). As&#237;, en el terreno de las artes visuales (siempre tentado a sobrepasar los l&#237;mites de su propia denominaci&#243;n) ha podido constatarse la nueva preponderancia adquirida por la escultura &#8211;concebida en su amplificaci&#243;n a un campo expandido, seg&#250;n una conocida expresi&#243;n de Rosalind Krauss&#8211;, la instalaci&#243;n multimedia, la fotograf&#237;a y, en general, los medios denominados alternativos y las nuevas y menos nuevas tecnolog&#237;as. Tambi&#233;n los planteamientos, as&#237; como la panoplia de medios, que han permitido hablar de un neoconceptualismo, que algunas veces puede haberse reducido a un hallazgo del tipo&#171;huevo de Col&#243;n&#187; (es decir, una inversi&#243;n reiterativa y poco informada), pero que ha incidido, por otra parte, en sanos ejercicios de &#233;tica y responsabilidad ideol&#243;gica, y en un ejercicio no menos sano de la anarqu&#237;a a trav&#233;s de algunas pr&#225;cticas de apropiacionismo cr&#237;tico. Lo que todo esto denota es, adem&#225;s, la propensi&#243;n de nuestro mundillo art&#237;stico a seguir, y a dictar, demasiado estrechamente las tendencias y vaivenes que imponen el mercado, la inercia y la pereza; en contraste con una pluralidad est&#233;tica admitida y suficientemente apoyada en otros parajes</p>"
	},
	{
		"pid" : 29,
		"p" : "<p>Yendo a otros terrenos, respecto de la infograf&#237;a, la realidad virtual y los nuevos medios interactivos y de telepresencia, cabr&#237;a decir que le han &#171;robado plano&#187; al v&#237;deo, incluso si han actuado sobre su mismo escenario; salvo que buena parte de la palabrer&#237;a, la m&#237;stica y la producci&#243;n pseudoart&#237;stica que actualmente comportan los cibermedia permanecen ajenos a la esfera del v&#237;deo (consecuentemente independiente o experimental) y a la del arte y los medios alternativos. Sin embargo, s&#237; es ciertamente uno de los campos colindantes y expandidos que se le abren al v&#237;deo, y no solo al v&#237;deo, ya que son varios los artistas de aqu&#237; que han comenzado a explorarlo en sus m&#250;ltiples vericuetos: productos y espacios interactivos, virtualidad, CD-ROM, internet, etc. </p>"
	},
	{
		"pid" : 30,
		"p" : "<p>Tambi&#233;n resulta en principio positivo el que se d&#233; un renovado inter&#233;s por los conceptos de cine independiente/alternativo y por solucionar ancestrales agujeros negros en la cultura audiovisual de nuestro pa&#237;s, aunque solo parezca haber cabida para las propuestas de &#237;ndole m&#225;s narrativa. Pero, nuevamente, el cine parece robarle terreno al v&#237;deo en cuanto a una atenci&#243;n medi&#225;tica que casi siempre ha sido min&#250;scula o espuria, ahora con fuegos de artificio &#8211;s&#250;bita apolog&#237;a de los cortometrajes, los nuevos realizadores, o el cine de subg&#233;nero y basura&#8211; destinados a atrapar la atenci&#243;n de una cultura juvenil a la que se aprovisiona con precocinadas&#171;tentaciones&#187;. Finalmente, tampoco creo que puedan soslayarse las brumas de un reaccionarismo ideol&#243;gico y est&#233;tico (menos mal que Beuys o Var&#232;se est&#225;n muertos), o, en otro extremo, las del puritanismo de lo &#171;pol&#237;ticamente correcto&#187; que, afortunadamente, nos llega tolerablemente aligerado por los mares interpuestos</p>"
	},
	{
		"pid" : 31,
		"p" : "<p>Respecto a la situaci&#243;n log&#237;stica del panorama videogr&#225;fico, por desgracia sigue una pauta que cabr&#237;a calificar de hist&#243;rica si no fuera tan&#171;contrahist&#243;rica&#187;: festivales, muestras, programaciones, publicaciones, distribuidoras, premios o ayudas nacen y mueren, llegan y se van; raramente alcanzan la estabilidad o siempre se sospecha de su probable fecha de caducidad, ratificando algo ya sabido: la caprichosa gravedad del p&#233;ndulo institucional. Entre aquello en principio positivo, la apertura internacional de algunos festivales (C&#225;diz, Vigo, Las Palmas), la existencia de varias videotecas potablemente provistas (aunque un tanto encalladas algunas por la irregularidad de sus adquisiciones) y la oportunidad de articular programas e itinerarios de una cierta ambici&#243;n. Entre lo m&#225;s funesto, el vac&#237;o medi&#225;tico y televisivo que se le hace al v&#237;deo &#8211;con apenas excepciones que confirman la regla&#8211;, debi&#233;ndose llamar la atenci&#243;n sobre la min&#250;scula, si no &#237;nfima, presencia que tiene en la prensa (diaria y cultural), cuando casi cualquier otra forma de arte, cultura, ocio, afici&#243;n o tentaci&#243;n s&#237;tiene un hueco regular, cuando no una secci&#243;n fija. Por &#250;ltimo, limitaciones ya suficientemente referidas y las leyes impl&#237;citas del orbe art&#237;stico-cultural restringen el aforo eficaz de la creaci&#243;n v&#237;deo, muy por debajo de quienes aspiran a lograr una plaza en las primeras filas. Pero, en fin, abandonemos ya la contracultura quejica y vayamos a por lo que queda y m&#225;s importa, que es el caudal videogr&#225;fico de los &#250;ltimos a&#241;os</p>"
	},
	{
		"pid" : 32,
		"p" : "<p><b>Apoteosis y miseria del s&#237;mbolo y la alegor&#237;a</b></p><p>El v&#237;deo acude a menudo a un orden simb&#243;lico que sustituye al narrativo convencional y audiovisualmente hegem&#243;nico. El s&#237;mbolo, en su acepci&#243;n de signo arbitrario que representa a un objeto o significado (por ejemplo, el signo ling&#252;&#237;stico, la letra), permite entonces recrear las libres deambulaciones del sue&#241;o, el poema, el pensamiento, mediante encadenamientos subjetivos, y acaso alguna vez autom&#225;ticos, de im&#225;genes (y sonidos) de las m&#225;s variadas naturalezas y por los m&#225;s diversos procedimientos; incluyendo el sistema en s&#237; mismo simb&#243;lico de la imagen inform&#225;tica, por su naturaleza num&#233;rica, calculada</p>"
	},
	{
		"pid" : 33,
		"p" : "<p>El resultado de tanto simbolismo puede ser a veces harto cr&#237;ptico y herm&#233;tico, y las precisas intenciones del autor quiz&#225; solo se adivinen a trav&#233;s de sus comentarios o sinopsis. (Otras veces, en cambio, el simbolismo es tan simple y obvio, que desprovee de toda intriga y atractivo a la obra). Por otra parte, tanto por una estricta relaci&#243;n de contemporaneidad como por arraigamiento en un contexto cultural m&#225;s o menos com&#250;n, en las obras de diversos autores aparecen y reaparecen ciertos s&#237;mbolos, temas, referencias u obsesiones constantes. Motivos universales los unos, otros que acaso podr&#237;an tenerse por muy nuestros: por ejemplo, en ciertas visiones carnavalescas de la religi&#243;n (<i>Cristo y tres tiros</i>, 1992, de Jacobo Sucari, a partir de un mordaz poema de Xavier Sabater), el sexo (<i>Ninfograf&#237;a</i>, 1992, y otras piezas de Ignacio Pardo), o la muerte (<i>Tr&#225;nsito</i>, 1988, del mismo Pardo; <i>Mortaja</i>, 1994, de Antonio Perumanes; <i>Ejercicios con velocidad</i>, 1992, de Dionisio Romero)</p>"
	},
	{
		"pid" : 34,
		"p" : "<p>Visto de otra manera, se comparten asiduamente unos temas y preocupaciones que dir&#237;amos universales, aunque no exentos de matices aut&#243;ctonos, tales como los que ata&#241;en al cuerpo, la subjetividad, la memoria y, por no adelantar otros, los temas abisales de las heridas, llagas y abismos metaf&#243;ricos, o meton&#237;micamente bien reales, de la violencia o la muerte, enfermedades o plagas, y otros desequilibrios, abusos, cr&#237;menes e insanias</p>"
	},
	{
		"pid" : 35,
		"p" : "<p>El tema de la representaci&#243;n del cuerpo, por ejemplo &#8211;un aspecto en el que se ha insistido &#250;ltimamente desde las artes visuales y el pensamiento&#8211;, permite contemplar el trabajo de algunos autores en relaci&#243;n con unos interrogantes abiertos por la candente actualidad de la biotecnolog&#237;a o de los llamados cibermedia. La obra reciente de Joan Pueyo o de Ignacio Pardo utiliza poderosas o modestas herramientas digitales (y, anteriormente, de lo m&#225;s anal&#243;gicas) del v&#237;deo y la inform&#225;tica para procrear seres y &#243;rganos sint&#233;ticos, cuerpos y ambientes virtuales descabellados y, a menudo, un tanto inquietantes. </p>"
	},
	{
		"pid" : 36,
		"p" : "<p>Y otros abismos menos abstractos han sido hurgados por diversos autores, como en el caso del sida (Juan Botas, un dise&#241;ador que muri&#243; v&#237;ctima de dicha enfermedad en su adoptada residencia en Norteam&#233;rica; Javier Codesal, Koldo Aginagalde o, no tan directamente, Jana Leo o Juli&#225;n &#193;lvarez), o de la pura guerra, el militarismo y la violencia (Francesc Torres, Javier Codesal, Josu Rekalde, Marcelo Exp&#243;sito, Joseantonio Hergueta, Jaume Subirana, Rogelio L&#243;pez Cuenca, Xurxo Est&#233;vez&#8230;)</p>"
	},
	{
		"pid" : 37,
		"p" : "<p>Pero, en el reverso de unos planteamientos &#233;ticos, inquietos y solidarios, en principio irreprochables, demasiado a menudo se advierte una excesiva credulidad en la imagen, en el supuesto potencial de un sistema de signos aut&#243;nomo, para trasladar un exceso de interrogantes que acaban disolvi&#233;ndose, muchas veces, en un mero ejercicio de estilo y de, si las hay, intenciones o intencionalidades. Y, en definitiva, basta leer los prop&#243;sitos escritos de muchos autores, para advertir cu&#225;nto se conf&#237;a en s&#237;mbolos y alegor&#237;as</p><p><b>Tierra adentro&#8230; y mares afuera</b></p><p>En cambio, la realidad externa m&#225;s inmediata no parece atraer demasiado a nuestros videastas. El documental ha tenido una presencia min&#250;scula entre el v&#237;deo independiente espa&#241;ol, que se dir&#237;a que lo ha evitado, convirti&#233;ndose casi exclusivamente en patrimonio de la harto adocenada producci&#243;n institucional y de las televisiones.Tampoco es que sean muy abundantes las realizaciones que ofrecen una mirada cr&#237;tica a los hechos y situaciones que enturbian el pasado y el presente, o que simplemente suceden, dejando su cr&#243;nica y comentario a los medios de comunicaci&#243;n y a los expertos en la materia</p>"
	},
	{
		"pid" : 38,
		"p" : "<p>Zapatero a tus zapatos, parece decirse; o, en nuestro caso, m&#225;s bien:videocreador, a tus v&#237;deos. Solo que a veces tengo la impresi&#243;n que estos v&#237;deos &#8211;bastantes de ellos, al menos&#8211; no reflejan otra realidad y otros problemas que los que cada cual tiene en su cabeza, y en sus m&#225;s cortos y cotidianos alrededores. Lejos de deslizarse hacia lo jovial, trivial o inocuo, empero, a menudo el autor nos quiere hace sentir todo el peso del mundo; aunque, demasiadas veces, con una inocencia desarmante, un manierismo almibarado, un mensaje trasnochado (por ello, un tanto oscuro y siniestro), que dan al traste con las mejores intenciones. Caricaturizo as&#237; un tipo de v&#237;deo, del que no dar&#233; m&#225;s pelos y se&#241;ales, pero que me resulta de lo m&#225;s familiar en el contexto al que me refiero (aunque no dudo que sucede similarmente as&#237; en muchos otros)</p>"
	},
	{
		"pid" : 39,
		"p" : "<p>Excepciones ante este estado de las cosas, obras que miren tierra adentro, las hay, pero son las menos. Dentro de un corte documental relativamente t&#237;pico en su primera apariencia, <i>S&#225;bado legionario</i> (1988), de Javier Codesal, o <i>La tierra de la madre</i>(1993-1994), de Joseantonio Hergueta y Marcelo Exp&#243;sito, significativamente preconcebidas en parte para su difusi&#243;n en cauces televisivos (aunque, a d&#237;a de hoy, ninguna de ellas lo haya conseguido). Ambas obras, por otra parte, presentan una fluida continuidad con las preocupaciones y estilemas hallados en otras realizaciones anteriores de sus respectivos autores y, en lo que a la segunda de las mencionadas concierne, apenas puede reproch&#225;rsele la insuficiente, ya que pretendida, alusi&#243;n a otros exilios y deportaciones en continua reedici&#243;n, m&#225;s all&#225; del que constituye el argumento central de su propuesta</p>"
	},
	{
		"pid" : 40,
		"p" : "<p>Y puesto que no solo hemos de referirnos al espacio rigurosamente exterior como arena de los hechos y conflictos que nos afectan, cabe mencionar aqu&#237; un espl&#233;ndido trabajo reciente de Jaime Vallaure y Rafael Lamata, <i>Siete cuentos para la C&#225;rcel de Carabanchel</i>(1995), que nos introduce tras las rejas del encierro punitivo, y que recoge varios de los hallazgos de anteriores trabajos, de m&#225;s formal apariencia, del primero de sus autores, a la vez que proporciona fecundos motivos de reflexi&#243;n sobre el encarcelamiento represivo y la liberaci&#243;n por el lenguaje y lo simb&#243;lico (en este caso, a trav&#233;s de la literatura: de los cuentos elegidos o aportados por los propios presos)</p>"
	},
	{
		"pid" : 41,
		"p" : "<p>Referirse a nuestra geograf&#237;a, historia, cultura, no comporta por otra parte la renuncia a lo aleg&#243;rico, a lo po&#233;tico u a otros planteamientos exploradores e idiosincr&#225;ticos. Sucede as&#237; con diversas obras de Francesc Torres, tales como <i>Belchite/South Bronx: un paisaje transcultural y transhist&#243;rico</i>(1988) y <i>Sur del Sur</i>(1992). O tambi&#233;n con la instalaci&#243;n de Eug&#232;nia Balcells, <i>Exposure Time</i> (1989), que, siendo una meditaci&#243;n en abstracto sobre el curso del tiempo y los avatares de la memoria, lo es tambi&#233;n sobre un artificioso proceso de transformaci&#243;n y regeneraci&#243;n (y acaso, como algunos denunciaron, especulaci&#243;n) urbana a mayor gloria de la Barcelona ol&#237;mpica. Y, finalmente, otros autores han tambi&#233;n afrontado realidades locales diversas, incluyendo a Ant&#243;n Reixa, Daniel Garc&#237;a And&#250;jar y Pedro G. Romero</p>"
	},
	{
		"pid" : 42,
		"p" : "<p>Pero sabido es que el mundo es ancho y, as&#237;, tambi&#233;n cabe referirse a diversas obras que se han volcado a otras realidades, otros paisajes y otras culturas&#8230; Viajes <i>imagineros</i>con ojos curiosos, o que se interrogan sobre el propio desplazamiento y sobre el encuentro con otras culturas y costumbres; lo que a su vez tiene bastante que ver con la di&#225;spora art&#237;stica y profesional de algunos (de Muntadas o Torres a los Fontanilles, Herguera, Mera, Ruiz de Infante, Gil-Roig, Hergueta). Viajes y paisajes diversos e individualizados, pero que permiten entrever ciertas concomitancias:los acercamientos paisajistas y etnovideogr&#225;ficos de I&#241;igo Salaberr&#237;a (<i>La noche navegable</i>, 1993) y Enric Fontanilles (<i>Absence</i>, 1994) al continente africano, en sus visitas a Mali y Etiop&#237;a respectivamente; las reflexiones introspectivas suscitadas por el desplazamiento geogr&#225;fico, cultural y ling&#252;&#237;stico en obras de Francisco Ruiz de Infante (<i>Les choses simples</i>, 1993), Carlos Gil-Roig (<i>Uomo Blue</i>, 1993) y Manuela S&#225;ez (<i>Autoportrai</i>t, 1991); los lugares y culturas descritos a trav&#233;s de los signos, los s&#237;mbolos o los vestigios (<i>Pura Fe</i>, 1991, de Toni Serra;<i>Los muertitos</i>, 1994, de Isabel Herguera; <i>Potser s&#237; que tots som igual</i>s, 1993, de Maite Ninou y Xavier Manubens; <i>El primer viaje / cuatro d&#237;as</i>, 1992, de Francisco Ruiz de Infante); las ciudades recorridas a trav&#233;s de su imaginer&#237;a p&#250;blica, medi&#225;tica y tan a menudo arquet&#237;pica, como en el reciente <i>Marseille:mythes et st&#233;r&#233;otypes (Regard des regards) </i>(1995), de Muntadas, o en la primera entrega, dedicada a Buenos Aires(1994-1995), del ciclo de los <i>Viajes imaginarios</i> proyectado por Jacobo Sucari; o tambi&#233;n las recolecciones m&#225;s c&#225;mara-en-mano y, si se quiere, m&#225;s cercanas al reportaje o cuaderno de viaje, de<i>La cuna del Daiquiri</i>(1994-1995), de Pedro Ortu&#241;o, o del m&#225;s posproducido <i>Diario Dog&#243;n</i> (1994), de I&#241;igo Salaberr&#237;a</p>"
	},
	{
		"pid" : 43,
		"p" : "<p><b>Videoensayos:metatextos y reflexiones</b></p>"
	},
	{
		"pid" : 44,
		"p" : "<p>Una de las l&#237;neas m&#225;s interesantes que advierto en nuestro panorama videogr&#225;fico reciente, pero que m&#225;s bien lo ser&#237;a por la confluencia de una multitud de l&#237;neas cuyos or&#237;genes podr&#237;an remontarse hasta el periodo incipiente y entusiasmado de mediados de los ochenta, es aquella que, rehusando los patrones audiovisuales hegem&#243;nicos de la narrativa de ficci&#243;n, busca otra forma de discurso o metatextualidad que, aunque sin demasiada precisi&#243;n, podr&#237;a describirse como un equivalente al ensayo en cuanto a g&#233;nero literario y reflexi&#243;n intelectual. (Al igual que otras obras, con una incluso mayor raigambre en el territorio del v&#237;deo, pueden situarse m&#225;s cerca de la intimidad subjetiva de la poes&#237;a, la prosa po&#233;tica y la autobiograf&#237;a). Me refiero a un conjunto de obras que, a veces partiendo de, o citando, unos textos de la m&#225;s amplia gama(literarios, filos&#243;ficos, est&#233;ticos, historiogr&#225;ficos&#8230; o mismamente audiovisuales), y entrecruzando diversos discursos propios y ajenos, disuelven los bordes entre los g&#233;neros supuestamente elementales (la narrativa, el documental, &#171;lo experimental&#187;, etc.)y se constituyen a menudo en collages textuales y, por extensi&#243;n, audiovisuales</p>"
	},
	{
		"pid" : 45,
		"p" : "<p>Entre los insinuados, posibles precedentes no mencionados antes, incluir&#237;a<i>Denantes</i>(1984), de Manuel Abad, un ensayo/montaje sobre el pesimismo y las tendencias suicidas que anidan en Galicia; <i>Especial 84</i> (1985), de Manel Muntaner, una incisiva lectura-remontaje de la apocal&#237;ptica utop&#237;a de Orwell con un anclaje preciso en la prosa del mundo en un 1984 real y nada literario; y, con otro cariz, y si se me permite la inmodestia, mi <i>Duchamp(retard en v&#237;deo) </i>(1986-1987), una aproximaci&#243;n al arte y la vida de tan influyente (an)artista a partir de sus propios textos y otras escrituras. O aun la concepci&#243;n de Francesc Torres de la instalaci&#243;n v&#237;deo y multimedia como collage multidimensional y libro esculpido,<a class="sdfootnoteanc" name="sdfootnote9anc" href="#sdfootnote9sym">9</a>ideas que tambi&#233;n se transmiten a los m&#233;todos de montaje y a la cualidad mismamente ensay&#237;stica de su producci&#243;n monocanal</p>"
	},
	{
		"pid" : 46,
		"p" : "<p>Ejemplos m&#225;s recientes de esta ensay&#237;stica, que aborda temas tan variados como su referente literario, podr&#237;an ser: <i>The Borders of a Wound</i> (Los bordes de una herida, 1992), de Esther Mera, que parte de fragmentos tomados de textos de Kafka, para representar un v&#233;rtigo interior, la escisi&#243;n entre el lenguaje y la realidad y las heridas del sujeto contempor&#225;neo; las dos entregas de <i>Derridatour</i>(1992), de Llu&#237;s Catel, una aproximaci&#243;n visual a ciertos conceptos de la filosof&#237;a deconstructivista de Jacques Derrida, puesta en relaci&#243;n a su vez con las teor&#237;as del montaje del cine sovi&#233;tico; en cierto modo, el ciclo de trabajos de Marcelo Exp&#243;sito sobre retazos hist&#243;ricos, detritos ic&#243;nicos, y pret&#233;ritos pol&#237;ticos muy nuestros, pero sospechosamente diluidos por una cierta amnesia; <i>The Last Vehicle </i>(1994), de Pedro Ortu&#241;o, por lo que tiene de reflexi&#243;n sobre, y despu&#233;s de, sus propias im&#225;genes; o <i>Goya:pintar hasta perder la cabeza</i>(1995), de Emilio Casanova, un ensayo &#171;oper&#237;stico&#187;, sin acogerse a unos g&#233;neros y c&#243;digos espec&#237;ficos, donde los principales ciclos del artista que cre&#243; los <i>Disparates</i>son recorridos mediante el hilo conductor de otros diversos disparates que rodearon sus p&#243;stumas y macabras desventuras</p>"
	},
	{
		"pid" : 47,
		"p" : "<p><b>Defensas y antivirus medi&#225;ticos</b></p>"
	},
	{
		"pid" : 48,
		"p" : "<p>Otros temas y planteamientos con una honda implantaci&#243;n en el territorio videogr&#225;fico siguen siempre presentes y hemos de creer que vigentes.En primer lugar, en relaci&#243;n con la persistente necesidad de ejercer el derecho de r&#233;plica frente a los mensajes y masajes medi&#225;ticos;uno de los derechos que se otorga el v&#237;deo independiente y una de sus se&#241;as de identidad. Ejercicio que frecuentemente acarrea la apropiaci&#243;n y el desmontaje cr&#237;tico, desmantelador, sarc&#225;stico, disparatado, m&#225;s o menos idiosincr&#225;tico, que bebe en diversas fuentes medi&#225;ticas y, con m&#225;s ah&#237;nco, en el averno inane de las teletonter&#237;as y la recontrainformaci&#243;n. Y, aunque a veces poco llegue a aportarse respecto a lo archisabido y a una demonizaci&#243;n que tiene su doble filo, est&#225; bien que sigan practic&#225;ndose los saludables planteamientos de la cr&#237;tica o la interrogaci&#243;n, la deconstrucci&#243;n o el <i>d&#233;tournement</i>, el masaje reparador o los antivirus medi&#225;ticos. Muntadas, un artista bien conocido por su frecuentaci&#243;n del paisaje medi&#225;tico y de sus mecanismos invisibles, debe seguir siendo citado, no solo por su contribuci&#243;n a una orientaci&#243;n cr&#237;tica tal, sino adem&#225;s por sus&#250;ltimas incursiones e intrusiones en nuestro propio paisaje de 625 l&#237;neas: <i>Video is Television?</i> (1989, para la serie <i>El arte del v&#237;deo</i>de TVE) y, m&#225;s en especial, el aparentemente &#171;viperino&#187; <i>TVE:primer intento</i> (tambi&#233;n de 1989)</p>"
	},
	{
		"pid" : 49,
		"p" : "<p>Otros autores recrean el masaje &#8211;que no mensaje&#8211;, se acogen al zapping y al zipping (la intermitencia y la aceleraci&#243;n), al sobrevoltaje de las im&#225;genes cat&#243;dicas y medi&#225;ticas en general: Joan Leandre, Toni Serra, Jos&#233; Manuel Palmeiro, N&#250;ria Canal, Itziar Jarabo, y otras piezas de Luis Emaldi, Koldo Aginagalde, Natxo Rodr&#237;guez Arkaute y Pedro G. Romero, as&#237; como algunas de las primeras de Francisco Utray/ Luis Lamadrid y de Jaime Vallaure. Para algunos de ellos, el<i>scratch video</i>de principios de los ochenta es una referencia admitida (o f&#225;cilmente identificable), y sus piezas de menor inter&#233;s son aquellas que redundan superficialmente en ciertos rasgos caracter&#237;sticos de tan discutida tendencia (calurosamente discutida, en efecto, en su lugar de origen: Gran Breta&#241;a); por ejemplo, en cuanto a la repetici&#243;n de breves &#171;surcos&#187; audiovisuales o a cierta evanescencia &#171;pop&#187;. Pero tambi&#233;n hay rasgos de suficiente personalidad y fuerza entre algunas o muchas de sus propuestas; y ello lo advierto especialmente en la cuantiosa obra de Joan Leandre, quien desarrolla su trabajo en forma de series de piezas m&#225;s o menos breves, generalmente de un gran impacto &#8211;rayano a veces en una violencia psicosensorial destilada de las fuentes empleadas&#8211;, tanto individualmente como, m&#225;s a&#250;n, cuando se contemplan en hilera. Por lo dem&#225;s, otras de las piezas que me resultan m&#225;s atractivas de entre este <i>neo-scratch</i>aut&#243;ctono producen un efecto embrollado e inquietante, m&#225;s que la claridad de una tipolog&#237;a o un contraste anal&#237;ticos: <i>Minnesota 1943</i> (1995), de T.Serra;<i>C.H.A.O.S.</i>(1995), de J.M. Palmeiro; <i>Conversaciones de sal&#243;n</i> (1993), de I.Jarabo; <i>5 saetas</i>(1994), de Pedro G. Romero</p>"
	},
	{
		"pid" : 50,
		"p" : "<p>Otros aspectos que tienen cabida en la interpelaci&#243;n de los media, sus mensajes y masajes, son el humor sard&#243;nico (<i>O gato que est&#225; triste e azul,</i>1994, de Xurxo Est&#233;vez), la &#171;escuchimizaci&#243;n&#187; del medio (que no de la r&#233;plica: <i>Sin im&#225;genes</i>, 1994, de Josu Rekalde, que es tambi&#233;n una cinta sin sonido), la encuesta de las subjetividades (<i>Cartoon</i>, 1993-1994, de Txuspo Poyo, en el que diversas personas son interrogadas mediante una c&#225;mara de juguete Pixelvision sobre los dibujos animados de las factor&#237;as Disney, Warner, japonesas, underground y otras, en cuanto que proveedoras de privadas experiencias de formaci&#243;n y aprendizaje), o los ficticios o alertadores, siempre contrariadores, espots administrables en c&#225;psulas de Javier Montero (<i>Lost in Heaven</i>, 1994) y Rogelio L&#243;pez Cuenca (<i>Segundos fuera</i>, 1994)</p><p><b>Introspecciones, autorretratos y otras familiaridades</b></p>"
	},
	{
		"pid" : 51,
		"p" : "<p>En un polo aparentemente opuesto, otra de las tradiciones o sendas del v&#237;deo es la que se adentra en lo introspectivo, en el retrato y el autorretrato, en lo abiertamente autobiogr&#225;fico incluso. Ciertos v&#237;deos se orientan hacia la intimidad de la escritura, hacia un lenguaje po&#233;tico rigurosamente personal (pero no necesariamente intransferible) en el que se funden textos, sonidos e im&#225;genes. Son obras de una sinceridad que a veces puede resultar incluso molesta, por ajena o pedante. Otras obras apelan, en cambio, a una sutileza m&#225;s espec&#237;ficamente visual, y sus autores, en lugar de citarse ante el espejo electr&#243;nico e instant&#225;neo del v&#237;deo, ceden a otros esa posici&#243;n y lo que escriben es, parafraseando a Gertrude Stein, la&#171;autobiograf&#237;a de todos&#187;. Aunque barajando aqu&#237; dos conceptos ligeramente distintos &#8211;la introspecci&#243;n o el autorretrato (en el sentido que Raymond Bellour ha dado al t&#233;rmino) por un lado; por otro, el retrato en un sentido m&#225;s abierto&#8211;, y est&#233;ticas harto diversas (desde una simplicidad lindante con la est&#233;tica no reglamentada del v&#237;deo dom&#233;stico, hasta los m&#225;s elaborados procesos videogr&#225;ficos), todo ello puede englobarse bajo una acepci&#243;n de v&#237;deo personal &#8211;otra posible forma de designar gran parte del v&#237;deo independiente, de creaci&#243;n, etc.&#8211; que ser&#237;a respecto a la televisi&#243;n lo que la poes&#237;a es al best-seller. (Solo que, ciertamente, abunda la &#171;mala poes&#237;a&#187;, y hay &#171;superventas&#187;con mucha honra)</p>"
	},
	{
		"pid" : 52,
		"p" : "<p>Algunos autores dignifican la est&#233;tica apenas reconocida &#8211;por lo com&#250;n sin otras pretensiones que las privadas&#8211; del v&#237;deo casero-familiar y los medios m&#225;s modestos, como en algunas piezas de Jaime Vallaure(<i>Las fotos salen mejor sin ojos</i>, <i>Un regal&#237;n para la hija del portero</i>o <i>T&#237;a Berti</i>, todas de 1991) o en casi toda la obra de Juan Crego. En su g&#233;nero, son verdaderos &#171;v&#237;deos de primera&#187; y redimen al mismo de los espantosos o triviales recuerdos, guasas y barbaridades que llevaron a la luz p&#250;blica &#8211;y en gran parte propiciaron&#8211; aquellos programas-concurso televisivos de troceados v&#237;deos dom&#233;sticos que proliferaron hace escasos a&#241;os. Crego, por su parte, estructura su mirada de las cosas cotidianas (paseos o viajes, su hijo, su entorno, la vida&#8230;) mediante unos patrones aritm&#233;ticos r&#237;gidos o, a la inversa, seg&#250;n el m&#225;s riguroso azar y &#171;a ciegas&#187; (mediante sucesivas sobregrabaciones en la misma cinta); realizando el montaje casi siempre en la propia c&#225;mara. En el fondo, sus v&#237;deos versan sobre la mirada, la memoria y el recuerdo &#8211;la fijaci&#243;n y evanescencia de todo ello&#8211;, temas igualmente constantes en otros trabajos bien distintos, como los de Manuela S&#225;ez (<i>Autoportrait</i>, 1991; <i>Recuerdos de feria</i>, 1992), Luis Prieto (<i>Only When I Close My Eyes</i>, 1993, y el film <i>In Search of the Absence</i>, 1994), Enric Fontanilles (<i>La extensi&#243;n del instante</i>, 1993) o Ra&#250;l Bajo (<i>Me gustar&#237;a que todo esto terminase de una vez</i>, 1995). En cuanto al concepto de v&#237;deo-retrato, este cobra una pluralidad de matices &#8211;el retrato familiar, el autorretrato, el cuasi fotogr&#225;fico, el hipereditado, el autobiogr&#225;fico&#8211; en las piezas de varios de los autores mencionados, y de otros como Susana Rabanal o Joan Pueyo</p>"
	},
	{
		"pid" : 53,
		"p" : "<p>En los v&#237;deos de Francisco Ruiz de Infante, Joseantonio Hergueta, o Carlos Gil-Roig (al menos en la l&#237;nea m&#225;s &#237;ntima de su <i>Uomo Blue</i>) &#8211;que asimismo pueden verse como autorretratos&#8211;, advierto, por &#250;ltimo, una cualidad m&#225;s literaria, y siempre cobra un especial relieve el texto, la escritura, la expresi&#243;n narrativa &#8211;m&#225;s bien en forma de prosa po&#233;tica&#8211; de una agitaci&#243;n interior; ya sea en primera persona, en un tiempo neutro o en un desdoblamiento dialogado.Escritura que, en las obras de Hergueta y Ruiz de Infante, se visualiza a menudo como tal: como texto escrito (y a veces manuscrito), en desfile superpuesto a las im&#225;genes; con frecuencia dif&#237;cil de seguir por su r&#225;pida cadencia, o por una acumulaci&#243;n de l&#237;neas o voces (e im&#225;genes) simult&#225;neas. Esta ilegibilidad deliberada no es sino un elemento del bosque de met&#225;foras en el que nos adentra la obra de cada uno de estos autores. Introspecciones po&#233;ticas en las sensaciones, las vivencias, los interrogantes del d&#237;a a d&#237;a &#8211;sin evadirse de la prosa del mundo&#8211;, donde se trata de la carencia y el deseo, la perplejidad y el desasosiego, el temor y la muerte, la a&#241;oranza y el extra&#241;amiento, la fugacidad de las cosas, los viajes imaginarios y las memorias fingidas..</p>"
	},
	{
		"pid" : 54,
		"p" : "<p><b>Otras filiaciones y encrucijadas</b></p>"
	},
	{
		"pid" : 55,
		"p" : "<p>Las relaciones de intertextualidad con otras artes, disciplinas, medios de expresi&#243;n, constituyen asimismo toda una tradici&#243;n en el campo del v&#237;deo (y el cine) independiente. Junto a una cierta empat&#237;a con las artes pl&#225;sticas &#8211;que, de muy diversos modos, sigue presente en trabajos de artistas como Carles Pujol, Benet Rossell, Xabela Vargas, Toni Milian y Teresa Picazo, o en las animaciones de Isabel Herguera o Rosa Silva, y en otras incursiones y nuevas incorporaciones&#8211;, se observan otras intersecciones del v&#237;deo con la poes&#237;a, la acci&#243;n o performance, la danza y, por supuesto, la m&#250;sica. Ant&#243;n Reixa, todo un hombre-orquesta cuya actividad abarca la literatura, la m&#250;sica, la escena y la imagen, retom&#243; con <i>Ringo Rango</i> (1990) todo el nervio po&#233;tico y el en&#233;rgico arrojo iconoclasta de su <i>opera prima</i> de cinco a&#241;os antes, <i>Salvamento e socorrismo</i>, ahora con unos medios incomparablemente mejores, aunque uno eche en falta el<i>plein air</i>, o &#171;aire libre exterior&#187;, y la mayor variedad que aquella presentaba visualmente</p>"
	},
	{
		"pid" : 56,
		"p" : "<p>En cuanto a la videodanza y el v&#237;deo musical, en mi opini&#243;n han ido adquiriendo una condici&#243;n gen&#233;rica m&#225;s aut&#243;ctona y, algunas veces, demasiado servil. Si el concepto engarzado de videodanza (a veces con una barra o un gui&#243;n de por medio) suger&#237;a inicialmente una comuni&#243;n exploradora entre ambas pr&#225;cticas, actualmente lo que parece abundar es el producto de acabado irreprochable, con una calidad formal apta para una televisi&#243;n cultural y de &#171;buen gusto&#187;(y que, efectivamente, se da en forma de brechas), pero excesivamente subsidiario de la coreograf&#237;a y la ejecuci&#243;n de sus int&#233;rpretes como para ir mucho m&#225;s all&#225; del v&#237;deo de o sobre danza. Con todo, s&#237; han surgido algunas obras interesantes en una escala de interacci&#243;n elevada a otra potencia, por parte de Lola Puentes, Joan Pueyo, Jordi Teixid&#243;, Marisa Brugarolas, Mariana Jaroslavsky u Olga Mesa (si agrada lo m&#225;s ampuloso y amanerado, tambi&#233;n las de Manuel Palacios), entre otras gentes del v&#237;deo, la danza y su potencial uni&#243;n coreo-v&#237;deo-gr&#225;fica. Del videoclip, por otra parte, un formato del que no voy a hablar aqu&#237;, se apartan algunos trabajos y usos, pr&#243;ximos a la noci&#243;n m&#225;s vasta de m&#250;sica visual, como los de Gringos o Miquel Jord&#224;</p>"
	},
	{
		"pid" : 57,
		"p" : "<p><b>Lectura del contador</b></p><p>En esta aproximaci&#243;n, que aqu&#237; concluyo, a la orograf&#237;a actual de nuestro territorio videogr&#225;fico no he pretendido, obviamente, dibujar un mapa a escala 1:1. He hecho menci&#243;n a varios nombres y obras, pero si he insistido m&#225;s en unos/as que en otros/as es por una sencilla raz&#243;n de mayor entusiasmo y compenetraci&#243;n personal, en t&#233;rminos de apreciaci&#243;n est&#233;tica y de otros planteamientos. (De paso, facilitando otras pistas y nombres que las abordadas y los cribados en el programa de <i>Se&#241;ales de v&#237;deo</i>, y descubriendo varios de los nombres y t&#237;tulos que tuve en consideraci&#243;n)</p>"
	},
	{
		"pid" : 58,
		"p" : "<p>La medida vectorial, en resumen, ha dado unos resultados acordes con los est&#225;ndares hoy exigibles y las tolerancias admisibles. Y, aunque las se&#241;ales se generen esencialmente por la impulsi&#243;n propia de quienes las emiten, a fin de cuidar e incluso elevar su nivel, reducir interferencias y ruidos espurios, ser&#225; aconsejable atender a la renovaci&#243;n de las herramientas, a las reparaciones en lista de espera y, siempre, a la positiva confianza en el estado de mantenimiento. Lo que este t&#233;cnico suscribe y rubrica para dejar constancia del estado de las cosas y las expectativas en el &#233;ter de las se&#241;ales de v&#237;deo</p><div id="sdfootnote1"><p>1</a>	</p><p>La	recapitulaci&#243;n historicista que distingue tres &#233;pocas,	generaciones u olas es recurrente en y para diversos contextos.	V&#233;anse por ejemplo los ensayos de Philippe Dubois (&#171;El v&#237;deo de	creaci&#243;n en B&#233;lgica: enfoque hist&#243;rico, 1970-1990&#187;) y Jean-Paul	Fargier (&#171;Las tres edades del v&#237;deo franc&#233;s&#187;), adem&#225;s de mis	&#171;Notas para una contrahistoria del v&#237;deo independiente espa&#241;ol&#187;,	en el volumen <i>Televisi&#243;n	y v&#237;deo de creaci&#243;n en la Comunidad Europea</i>	(cat&#225;logo de las exposiciones Panorama Europeo del Videoarte y	Palmar&#233;s TV), ed. Jos&#233; Ram&#243;n P&#233;rez Ornia, Madrid: Consorcio para	la organizaci&#243;n de Madrid Capital Europea de la Cultura 1992.	Resulta bastante obvio que esta coincidencia se debe a que en un	buen n&#250;mero de pa&#237;ses los trazos de actividad videogr&#225;fica	abarcan ya tres d&#233;cadas</p><p>	</p><div id="sdfootnote2"><p>	Se	trat&#243; de una improvisaci&#243;n con varios monitores y un sistema de	circuito cerrado (y, por lo tanto, del todo ef&#237;mera y sin registro	magn&#233;tico) y se incluy&#243; en una sesi&#243;n de la subterraneidad	barcelonesa de aquel entonces, dedicada a los films	familiares-experimentales-psicod&#233;licos que los Duran realizaban en	peque&#241;os formatos. Aunque el dato no tenga mayor relevancia, lo	destaco aqu&#237; porque, aunque ya lo hab&#237;a introducido en otros de	mis escritos, he comprobado que sigue ignor&#225;ndose en tesis y otros	textos en los que se manejan referencias al periodo jur&#225;sico del	v&#237;deo en Espa&#241;a</p><p>	</p><div id="sdfootnote3"><p>	Montes-Baquer,	que tuvo una formaci&#243;n musical al igual que Paik, conoci&#243; a este	en Alemania. Tras una estancia como investigador en la BBC (1962),	trabaj&#243; en diversas compa&#241;&#237;as de radiotelevisi&#243;n y discogr&#225;ficas	en Alemania, m&#225;s brevemente para TVE, y desde 1967 es productor y	realizador en la WDR de Colonia, habi&#233;ndose especializado en	programas musicales siempre distinguidos por su buen hacer y con un	cierto componente experimental e innovador</p><div id="sdfootnote4"><p>4</a>	</p><p>	Son	de destacar especialmente las muestras que tuvieron lugar en el	Colegio de Arquitectos de Barcelona de 1978 a 1980, con el apoyo	tambi&#233;n de otras instituciones (entre ellas el Instituto Alem&#225;n de	Cultura, entonces un aliado esencial): &#171;V&#237;deo, entre l&#8217;art i la	comunicaci&#243;..S&#232;ries informatives, 1&#187;, en 1978, y &#171;V&#237;deo, el	temps i l&#8217;espai. S&#232;ries informatives, 2&#187;, en 1980. Esta &#250;ltima	incluy&#243; la novedosa primicia, entre nosotros, de un considerable	apartado de instalaciones, con obras de Juan Downey, Dan Graham,	Wolf Kahlen, Shigeko Kubota y Muntadas. Entre tanto, el grupo	Video-Nou organiz&#243; el a&#241;o 1979 unas Jornades de v&#237;deo comunitari,	previas a su constituci&#243;n en Servei de V&#237;deo Comunitari, mediante	convenios con el Ayuntamiento y otras entidades barcelonesas</p><p>	</p><div id="sdfootnote5"><p>	Por	ejemplo, en cuanto a la variedad de secciones y temas abordados, a	la presencia de artistas y expertos de relieve mundial, y a una	notoria atenci&#243;n a las instalaciones y otras formas expandidas. Por	otro lado, con una mayor repercusi&#243;n medi&#225;tica circunstancial de	los eventos de San Sebasti&#225;n y Madrid</p><p>	</p><div id="sdfootnote6"><p>	Un	men&#250;: cardos, alubias de Tolosa, v&#237;deo y muzak,	,	n&#250;m. 6 (1988)</p><div id="sdfootnote7"><p>7</a>	</p><p>	El	cat&#225;logo <i>Bideoaldia	89 / Manual de instrucciones (II</i>),	Tolosa, 1989, resulta particularmente valioso por su cualidad	pr&#225;cticamente monogr&#225;fica de revisi&#243;n del panorama videogr&#225;fico	en el conjunto del Estado y en algunas de sus macrozonas, incluyendo	textos diversamente objetivos o subjetivos, hasta los contrapuestos	extremos de sendos excesos sarc&#225;sticos por parte m&#237;a (&#171;V&#237;deo	espa&#241;ol, el mejor v&#237;deo de Espa&#241;a&#187;) y de Jos&#233; Manuel Palacio	(&#171;El v&#237;deo espa&#241;ol es el mejor del mundo&#187;)</p><p>	</p><div id="sdfootnote8"><p>	Destilo	estas palabras (no todas transcritas en su rigurosa literalidad) de	entre dos de sus escritos: &#171;V&#237;deo espa&#241;ol: del &#8220;autor	insatisfecho&#8221; a la &#8220;televisi&#243;n neoliberal&#8221;&#187;, en <i>Ars	Video</i>,	n&#250;m. 13-14: Especial Videocombate (mayo 1992); y &#171;Apuntes	actualizados para una &#8220;contrahistoria&#8221;&#187;, publicado de manera	muy mutilada y con otro t&#237;tulo (&#171;Reajuste general&#187;) en 	20, n&#250;m. 92: El v&#237;deo de creaci&#243;n en Espa&#241;a (monogr&#225;fico)	(diciembre 1992)</p><p>	</p><div id="sdfootnote9"><p>	Francesc	Torres: El	espacio de la instalaci&#243;n: Una pr&#225;ctica equ&#237;voca,	<i>El	Pa&#237;s</i>	(suplemento )	(17 de febrero de 1990)</p>"
	},

]