[
	{
		"pid" : 0,
		"p" : "<p><b>El futur(ism)o de la imagen en movimiento</b><b></b><!-- Nieves: Eugeni no quiere que quede como una nota. Comenta: la nota no ha d&#8217;anar numerada. N&#8217;hi haur&#224; prou a distinguir-la gr&#225;ficamente de les notes pr&#242;piament dites. Os lo deja a vosotros&#8230; Pasa lo mismo en otro texto que ya te comentar&#233;. --></p><p>&#8226; .Madrid: Museo Nacional Centro de Arte Reina Sof&#237;a, 1990 (primera versi&#243;n del texto) [cat&#225;logo de exposici&#243;n]. </p><p>&#8226; .Barcelona: Universitat de Barcelona, 2013 (segunda versi&#243;n del texto, revisada y aumentada)</p><p><b>I. Antes del cine</b></p><p><b>Una invenci&#243;n sin porvenir</b></p><p>Es famosa la supuesta r&#233;plica de Antoine Lumi&#232;re cuando, al t&#233;rmino de la primera sesi&#243;n del Cin&#233;matographe Lumi&#232;re en el Grand Caf&#233; de Par&#237;s, M&#233;li&#232;s le abord&#243; con la pretensi&#243;n de adquirir un ejemplar del novedoso aparato. A lo que, seg&#250;n la leyenda, el <i>p&#232;re</i>Lumi&#232;re respondi&#243; que no estaba en venta y que no ten&#237;a otro porvenir comercial que el de su explotaci&#243;n pasajera como curiosidad cient&#237;fica. Afortunadamente para M&#233;li&#232;s, los Lumi&#232;re no fueron los &#250;nicos que <i>inventaron</i>el cinema</p>"
	},
	{
		"pid" : 1,
		"p" : "<p>Esta socorrida an&#233;cdota, presuntamente reveladora de la inocencia y dudosa clarividencia de los entra&#241;ables padres putativos del cine en tanto que arte e industria (con un planteamiento razonablemente ajustado a la naturaleza familiar de su empresa), tiene a su vez algo de emblema de los diversos impulsos a partir de los que el cine se desarroll&#243;; de la mezcolanza de cientifismo e ilusionismo, cinetismo y animismo que, seg&#250;n propuso Siegfried Kracauer, halla en Lumi&#232;re y M&#233;li&#232;s su tesis y ant&#237;tesis</p><p>Pero, dejando de lado ese porvenir comercial al que expresamente se refiere la profec&#237;a errada que se atribuye al patriarca de los Lumi&#232;re, he querido extraer de aquellas palabras un punto de partida para un texto que recorre con grandes saltos el (dis)curso ut&#243;pico del cine y dem&#225;s artes e industrias audiovisuales. Esa invenci&#243;n a la que me refiero representa entonces un instante primitivo de utop&#237;a, y un eslab&#243;n en una cadena m&#225;s extensa de invenciones y quimeras. </p><p><b>...pero con pasado</b></p><p>Todo el siglo XIX es un continuo despliegue de invenciones para el ojo (a veces tambi&#233;n para el o&#237;do), concebidas o acogidas como entretenimientos, juguetes instructivos, recreaciones cient&#237;ficas, l&#225;mparas maravillosas, ruedas de la vida,<a class="sdfootnoteanc" name="sdfootnote2anc" href="#sdfootnote2sym">2</a>teatros &#243;pticos, arquitecturas de la ilusi&#243;n&#8230; O tambi&#233;n como pruebas materiales, o por lo contrario impalpables, de un principio cient&#237;fico o de un atisbo pretecnol&#243;gico. La evoluci&#243;n del cinemat&#243;grafo arrinconar&#225; en apenas unos a&#241;os aquellos vetustos aparatos y cacharros, pasando a formar parte de lo que se ha dado en llamar la prehistoria o <i>arqueolog&#237;a</i>del cine</p>"
	},
	{
		"pid" : 2,
		"p" : "<p>Y es que, ciertamente, gran parte de los fundamentos del invento resuelto satisfactoriamente al cabo del siglo, se asientan en esa cadena de invenciones, descubrimientos, juegos primitivos que se puede remontar incluso mucho m&#225;s atr&#225;s en el tiempo, ya que comenzar&#237;a por la asociaci&#243;n de la luz con la producci&#243;n de im&#225;genes ilusorias: desde los ancestrales juegos de sombras de origen oriental (que se popularizaron en Europa en el siglo XIX) hasta la incombustible linterna m&#225;gica (cuyos antecedentes discurren del siglo XV al XVII, con Leonardo da Vinci, Giovanni Battista della Porta, Athanasius Kircher, Christiaan Huygens y Thomas Rasmussen Walgensten)</p>"
	},
	{
		"pid" : 3,
		"p" : "<p>Las <i>fantasmagor&#237;as</i>de &#201;tienne-Gaspard Robertson, ya al filo del siglo XIX, son un primer apogeo del ilusionismo y el espiritismo: una galer&#237;a de espectros y apariciones que se desplazan en el espacio por la proyecci&#243;n de im&#225;genes en sucesivos velos superpuestos. M&#225;s adelante, con las linternas m&#250;ltiples, las <i>dissolving views</i> de Paul de Philipsthal a Henry L. Child (entre 1800-1840) y la combinaci&#243;n de la linterna con las ruedas de la vida &#8211;del proyector de Franz von Uchatius (1845), basado en el fenaquistiscopio de Joseph-Antoine Ferdinand Plateau, al praxinoscopio de proyecci&#243;n de &#201;mile Reynaud(1880) fundamento de su <i>Th&#233;&#226;tre Optique</i>&#8211;, la persecuci&#243;n del efecto cin&#233;tico nos lleva de la primitiva linterna al albor mismo del cinemat&#243;grafo</p>"
	},
	{
		"pid" : 4,
		"p" : "<p>La fotograf&#237;a introducir&#225; a su vez un nuevo sendero, aunque en parte puede entenderse como un ensanchamiento del anterior, pues el desarrollo de la cronofotograf&#237;a y de las &#171;fotograf&#237;as animadas&#187; &#8211;del an&#225;lisis y la s&#237;ntesis fotogr&#225;fica del movimiento&#8211; tiene bastante que ver con los mismos fundamentos de las ruedas de la vida y de su combinaci&#243;n con la linterna. Ruedas o discos son al fin y al cabo componentes esenciales del fasmatropo de Henry Renno Heyl, biofantascopio de John Arthur Roebuck Rudge, zoopraxiscopio (o zoogiroscopio) de Eadweard Muybridge, fusil fotogr&#225;fico de &#201;tienne-Jules Marey (a su vez inspirado en el rev&#243;lver fotogr&#225;fico del astr&#243;nomo Jules Janssen), taquiscopio o <i>Schnellseher</i>de Ottomar Ansch&#252;tz, fonoscopio de Georges Demen&#255;, cron&#243;grafo el&#233;ctrico de Albert Londe, etc. Y, con la implantaci&#243;n del film de emulsi&#243;n fotogr&#225;fica, las ruedas se multiplican y diversifican en distintas escalas y funciones mec&#225;nicas: de las bobinas y el rollo de pel&#237;cula a los rodamientos de tracci&#243;n y de intermitencia, ruedas dentadas, obturadores, poleas de transmisi&#243;n y engranajes varios</p>"
	},
	{
		"pid" : 5,
		"p" : "<p><b>Precinema e historia del cine</b></p><p>El inventario de las invenciones precinematogr&#225;ficas es consabidamente vasto, lo que no deja de suscitar algunos problemas b&#225;sicos a la hora de delimitar/razonar lo que abarcar&#237;a dicho concepto. Por otro lado, aunque frecuentemente amueblada con las cultas antig&#252;edades de mitos y apor&#237;as filos&#243;ficas (caverna de Plat&#243;n, flecha de Zen&#243;n) y de ilustres cachivaches de la ciencia &#243;ptica, la historia del cine que ha primado no pod&#237;a ver m&#225;s que meras premoniciones en los juguetes y hallazgos decimon&#243;nicos: en las fantas&#237;as &#243;pticas, la linterna y las ruedas de im&#225;genes, as&#237; como, de manera global, en todo lo que es imagen dibujada y animada, prefotogr&#225;fica (acogida sin embargo al estatuto particular de los precedentes del cine de animaci&#243;n) y, por&#250;ltimo, en los ensayos pre- o primicinematogr&#225;ficos de incorporaci&#243;n del sonido, el color y el relieve tridimensional</p>"
	},
	{
		"pid" : 6,
		"p" : "<p>Significativamente, este punto de vista tan lineal como superficial ha sido puesto en entredicho por diversos historiadores, te&#243;ricos, investigadores que, con un marcado inter&#233;s por el cine primitivo, han aportado metodolog&#237;as renovadoras y frescos acercamientos para la revisi&#243;n y superaci&#243;n de hitos y esquemas historiogr&#225;ficos anteriores. Sin embargo, en la medida en que el grueso de los trabajos acad&#233;micos e investigaciones de esta &#237;ndole se decanta por la genealog&#237;a de la industria, los c&#243;digos, los efectos imperantes en la evoluci&#243;n hegem&#243;nica del medio &#8211;en la constituci&#243;n de lo que No&#235;l Burch ha definido en su conciso enunciado del MRI (Modo de Representaci&#243;n Institucional)&#8211;, no son nada extra&#241;as las reservas que por ejemplo ha suscitado la propuesta que Charles Musser expuso hace unos a&#241;os acerca de una hipot&#233;tica historia de las im&#225;genes proyectadas (y, circunstancialmente, con acompa&#241;amiento sonoro) como el contexto m&#225;s apropiado para realojar la disciplina de la historia del cine, al menos en lo que concierne a sus or&#237;genes.<a class="sdfootnoteanc" name="sdfootnote3anc" href="#sdfootnote3sym">3</a></p>"
	},
	{
		"pid" : 7,
		"p" : "<p><b>Precinema y cine de vanguardia</b></p><p>Por contraste, las reivindicaciones del precinema y del cine primitivo en los c&#237;rculos del cine experimental han ido mucho m&#225;s all&#225;, al aportar una comprensi&#243;n m&#225;s totalizadora y al buscar en los comienzos un acicate para empezar de nuevo, desde cero y al margen del desarrollo institucional del medio</p>"
	},
	{
		"pid" : 8,
		"p" : "<p>Para desgranar tan solo algunas referencias, cabe mencionar obras como <i>Tom, Tom, the Piper's Son</i>(1969-71), de Ken Jacobs, que escruta con sucesivas variaciones un film de 1905 de Billy Bitzer (despu&#233;s operador predilecto de D.W.Griffith), u otras de Klaus Wyborny, Malcolm Le Grice, Bill Brand o Ernie Gehr, asimismo basadas en ejemplares se&#241;alados o &#171;encontrados&#187;(redescubiertos) de cine primitivo; las performances del mismo Jacobs con el Apparition Theater of New York, y su combinaci&#243;n del teatro de sombras con las proyecciones estereosc&#243;picas; las exploraciones de Guy Fihman y Claudine Eizykman en el cine hologr&#225;fico, reclam&#225;ndose herederos en esp&#237;ritu de los art&#237;fices del precinema;los mutoscopios del escultor y cineasta Robert Breer y su declarada admiraci&#243;n por la obra de &#201;mile Cohl (ostensible en varias de sus animaciones); las diversas reelaboraciones de las im&#225;genes secuenciales y simultane&#237;stas de la cronofotograf&#237;a (<i>Pas de deux</i>, 1968, de Norman McLaren; <i>Crossings and Meetings</i>, 1974, de Ed Emshwiller; las &#171;reanimaciones&#187; de las secuencias de Muybridge por distintos autores); el proceso artesano llevado al extremo del revelado casero y deliberadamente &#171;sucio&#187; de la pel&#237;cula (en los films de Paolo Gioli o Klaus Telscher, entre otros), o incluso la anacr&#243;nica reutilizaci&#243;n de la manivela para la tracci&#243;n de la pel&#237;cula en la c&#225;mara (como en <i>Le bleu des origines</i>, 1978, de Philippe Garrel); por supuesto, el primitivismo cinematogr&#225;fico del primer Andy Warhol y, en cierto modo, el empe&#241;o de Stan Brakhage de prescindir del sonido como un elemento superfluo a lo largo de casi toda su (extensa) filmograf&#237;a; o tambi&#233;n el reductivismo posminimalista de buena parte del cine estructural y expandido de los a&#241;os setenta, como por ejemplo las primeras obras de Anthony McCall, en las que juega exclusivamente con el volumen inmaterial del haz de luz proyectado</p>"
	},
	{
		"pid" : 9,
		"p" : "<p>El cineasta alem&#225;n Werner Nekes, por otra parte, ha fundamentado su sugerente teor&#237;a del <i>kine</i>como unidad m&#237;nima cinematogr&#225;fica en un juguete precinematogr&#225;fico tan rudimentario como el taumatropo (1823), con el que su creador, el doctor John Ayrton Paris, apenas pretend&#237;a &#171;instruir deleitando&#187;, al (de)mostrar el efecto de la persistencia retiniana en la percepci&#243;n de dos im&#225;genes como una sola. Este elemental artilugio, con el que la historiograf&#237;a del cine no sab&#237;a muy bien qu&#233; hacer, a Nekes le ha servido en cambio para proponer un fundamento ontol&#243;gico y semi&#243;tico alternativo &#8211;respecto a los textos tenidos por can&#243;nicos de Andr&#233; Bazin o Christian Metz, por ejemplo&#8211;, sobre la base de que la esencia del lenguaje cinematogr&#225;fico no es ser imagen en movimiento, sino movimiento y articulaci&#243;n entre dos im&#225;genes. Lo que a su vez refrenda las teor&#237;as de Peter Kubelka&#8211;como las del propio Nekes, expresadas b&#225;sicamente de manera oral&#8211;y sus precedentes en la doctrina &#171;kinok&#187; de los <i>intervalos</i>(&#171;movimiento entre las im&#225;genes&#187;) de Dziga Vertov. Por extensi&#243;n, el film documental de Nekes sobre la prehistoria del cine, <i>Kino vor Kino</i> (1986), puede verse como una argumentaci&#243;n no acad&#233;mica, sino m&#225;s bien pulsional&#8211;puesto que su autor es a su vez un apasionado coleccionista de objetos y materiales precinematogr&#225;ficos&#8211;, por una lectura distinta de la genealog&#237;a del cine.<a class="sdfootnoteanc" name="sdfootnote4anc" href="#sdfootnote4sym">4</a></p>"
	},
	{
		"pid" : 10,
		"p" : "<p><b>Otras genealog&#237;as</b></p><p>Por &#250;ltimo, es tambi&#233;n a trav&#233;s de las reflexiones suscitadas por las nuevas tecnolog&#237;as y modalidades de la imagen y lo audiovisual que ahora pueden comprenderse mejor las redes sin&#243;pticas que permiten relacionar los hallazgos, inventos, artefactos m&#225;s a&#241;ejos e ilustres, no solamente con los senderos m&#225;s conocidos y frecuentados, sino adem&#225;s con los vericuetos que exigen una especial familiaridad con determinados terrenos. Pueden contemplarse as&#237; otras l&#237;neas geneal&#243;gicas, otras fuentes arqueol&#243;gicas</p>"
	},
	{
		"pid" : 11,
		"p" : "<p>Hay por ejemplo toda la tradici&#243;n de los &#243;rganos o teclados de colores, usualmente ausente de las historias del cine al uso, comenzando por el <i>Clavecin oculaire</i> de Louis-Bertrand Castel, disc&#237;pulo de Isaac Newton, en 1734; tradici&#243;n que prosigue desde mediados del siglo XIX, y hasta los primeros a&#241;os del XX, con el <i>Pyrophone</i>de Fr&#233;d&#233;ric Kastner; los &#243;rganos crom&#225;ticos de Bainbridge Bishop, Alexander Wallace Rimington o Alexander Burnett Hector; y las composiciones sinf&#243;nicas finales de Aleksandr Scriabin, en las que persigue la integraci&#243;n de la <i>luce</i>como un instrumento m&#225;s. Sucesivamente, el periodo de entreguerras es particularmente rico en toda suerte de invenciones y experiencias de este tipo: piano optof&#243;nico de Vladimir Baranoff-Rossin&#233;, <i>teatro del colore</i> de Achille Ricciardi, <i>Chromatophon</i>de Anatol Graf Vietinghoff-Scheel, <i>Sarabet</i>de Mary Hallock-Greenewalt, <i>Clavilux</i>y primeros <i>Lumia</i>de Thomas Wilfred; proyecciones luminocin&#233;ticas de Ludwig Hirschfeld-Mack, Kurt Schwerdtfeger y Josef Hartwig en la Bauhaus;<i>Sonochromatoskop</i>de Alexander L&#225;szl&#243;, <i>optofon&#233;tica</i>de Raoul Hausmann, <i>cromofon&#237;as</i>de Charles Blanc-Gatti, etc. No es dif&#237;cil ver aqu&#237; un preludio, y tambi&#233;n un desarrollo en paralelo, al cine abstracto y a la noci&#243;n conexa de <i>m&#250;sica visual</i>.Y a su vez, la prolongaci&#243;n de dicha tradici&#243;n en el arte &#243;ptico, cin&#233;tico y luminodin&#225;mico de los a&#241;os cincuenta y sesenta, en las tendencias abstractas o constructivistas del arte por ordenador, y en la experimentaci&#243;n con videosintetizadores, colorizadores, etc</p>"
	},
	{
		"pid" : 12,
		"p" : "<p>Luego hay el panorama y el diorama, dispositivos un tanto extra&#241;os a la historia del cine &#8211;aunque frecuentemente mencionados en sus p&#225;ginas arqueol&#243;gicas&#8211;, que pueden relacionarse sucesivamente con las pantallas de 360&#186; del<i>Photorama</i>(1900), panorama de proyecciones fotogr&#225;ficas de los Lumi&#232;re, y del<i>Ballon-Cin&#233;orama</i>(1900), de Raoul Grimoin-Sanson, as&#237; como con el vag&#243;n ferroviario de los <i>Hale's Tours</i>(1904) y toda una sucesi&#243;n de dispositivos espectaculares de simulaci&#243;n ultrarrealista que hallar&#225;n su principal alojamiento en exposiciones universales, parques de atracciones y museos o&#171;ciudades&#187; de la ciencia: pantallas circulares, esf&#233;ricas, hemiesf&#233;ricas y de multivisi&#243;n; <i>Panorama</i>,<i>Sensorama</i>,<i>Omnimax</i>, etc. Relaci&#243;n que puede hacerse extensiva tambi&#233;n a las instalaciones o entornos del cine experimental/expandido, y a las videoinstalaciones, las instalaciones multimedia y los entornos de simulaci&#243;n inform&#225;tica</p>"
	},
	{
		"pid" : 13,
		"p" : "<p>Y, por &#250;ltimo, no deber&#237;a pasar desapercibida la cadena de invenciones, pr&#225;cticamente contempor&#225;nea de la que conduce al cinemat&#243;grafo, que constituyen los pasos y tientos previos al asentamiento de la televisi&#243;n como una tecnolog&#237;a espec&#237;fica, partiendo en su caso de la telegraf&#237;a &#243;ptica, del an&#225;lisis y conversi&#243;n de las im&#225;genes en impulsos el&#233;ctricos(se&#241;ales), del descubrimiento de las ondas electromagn&#233;ticas y sus propiedades, etc</p><p><b>La imagen en movimiento o el cine&#171;total&#187;</b></p><p>En el presente tecnoelectr&#243;nico del v&#237;deo y la inform&#225;tica ha empezado a tomar cuerpo una comprensi&#243;n global de las distintas tecnolog&#237;as y facetas de la imagen m&#243;vil, privilegiando sus aspectos &#171;transitivos&#187; por encima de una teleolog&#237;a y de una ya un tanto anacr&#243;nica doctrina de la autonom&#237;a(l&#233;ase especificidad) de los medios. Esta nueva concepci&#243;n que se apunta de un cine <i>total</i>&#8211;pero como mera totalidad, suma-y-sigue, de los instrumentos para la producci&#243;n de im&#225;genes cin&#233;ticas, antes que como fusi&#243;n de todas las artes (Ricciotto Canudo) o &#171;realismo integral&#187; (Andr&#233;Bazin)&#8211; conlleva la necesidad de reinterpretar sus fuentes y cadenas gen&#233;ticas</p>"
	},
	{
		"pid" : 14,
		"p" : "<p>Arte de la imagen en movimiento, artes cinem&#225;ticas &#8211;&#171;hay el cinema y hay el arte del cinema&#187;, escribi&#243; Abel Gance&#8211;, artes audiovisuales o basadas en el tiempo son algunos de los t&#233;rminos con los que se ha probado de acotar un amplio campo de b&#250;squedas e invenciones, de expresiones y expansiones, que empiezan con el cine antes del cine (Cinemat&#243;grafo Lumi&#232;re) y se extienden m&#225;s all&#225; de &#233;l (cine expandido, cine electr&#243;nico del v&#237;deo y del ordenador, cine hologr&#225;fico)</p>"
	},
	{
		"pid" : 15,
		"p" : "<p>En una &#233;poca en que las pompas f&#250;nebres y los t&#233;rminos dr&#225;sticos se han convertido en algo corriente a la hora de tomarle el pulso al cine y a la cultura audiovisual en general, la rehabilitaci&#243;n de la utop&#237;a y el futurismo parece solamente posible con miras exclusivamente hist&#243;ricas. As&#237;, al ocuparme del precinema, del primer cine de las vanguardias y de la &#171;expansi&#243;n&#187; del cine (seg&#250;n una percepci&#243;n caracter&#237;stica de los movidos y felices sesenta), me mantengo siempre en los comienzos, en los momentos ut&#243;picos y de las profec&#237;as de lo que est&#225; por venir. En la proyecci&#243;n c&#237;clica de una mentalidad futurista, por tanto. Pero, a fin de cuentas, tambi&#233;n para contrastar el presente, vislumbrar una vez m&#225;s el futuro</p><p><b>II. Futurismo y cine de las vanguardias</b></p><p><b>Del dinamismo pl&#225;stico al cinema</b></p><p>&#171;La cronofotograf&#237;a estaba en boga...; el cine a&#250;n en pa&#241;ales...; la idea general de movimiento, de velocidad, estaba en el aire&#187;. Son frases entresacadas de diversas pero similares respuestas de Marcel Duchamp, cada vez que le interrogaban sobre la influencia del cine en su <i>Desnudo bajando una escalera</i>(1911-1912)</p><p>&#171;El cine es muy moderno &#8211;escribir&#225;Fernand L&#233;ger&#8211;. El cine y la aviaci&#243;n caminan del brazo, han nacido el mismo d&#237;a. La velocidad es la ley del mundo.&#187;</p><p>Y en el <i>Manifiesto t&#233;cnico de la pintura futurista</i>(1910), Giacomo Balla, Umberto Boccioni, Carlo Carr&#224;, Luigi Russolo y Gino Severini suscriben: &#171;Todo se mueve, todo corre, todo se transforma r&#225;pidamente. Una figura nunca permanece quieta ante nuestra vista, sino que aparece y desaparece incesantemente. Por la persistencia de las im&#225;genes en la retina, los objetos en movimiento se multiplican, se deforman, se suceden como vibraciones en el espacio que recorren. As&#237; pues, un caballo al galope no tiene cuatro patas: tiene veinte, y sus movimientos son triangulares.&#187;</p>"
	},
	{
		"pid" : 16,
		"p" : "<p>La descomposici&#243;n de la perspectiva monocular, las nociones de dinamismo y simultaneidad, la preocupaci&#243;n por el tiempo y el enigma de la cuarta dimensi&#243;n son algunos de los rasgos que caracterizan la sensibilidad de los j&#243;venes artistas del nuevo siglo frente a los prodigios de la velocidad y la luz; de la mec&#225;nica, la m&#225;quina y la electricidad; de la aceleraci&#243;n de los transportes (y las comunicaciones), el progreso cient&#237;fico, el bullicio de las ciudades y el desfile vertiginoso de las im&#225;genes cinematogr&#225;ficas</p>"
	},
	{
		"pid" : 17,
		"p" : "<p>Los futuristas italianos han ensalzado as&#237; &#171;la nueva belleza de la velocidad&#187; (&#171;un coche de carreras... es m&#225;s bello que la Victoria de Samotracia&#187;, escribi&#243;Filippo Tommaso Marinetti en el manifiesto fundacional del futurismo de 1909) y han hecho del dinamismo una divisa &#233;tica y est&#233;tica que se resuelve de distintas maneras seg&#250;n los medios empleados: pintura y escultura, palabras-en-libertad, declamaci&#243;n din&#225;mico-sin&#243;ptica, teatro sint&#233;tico, &#171;fotodinamismo futurista&#187; de Anton Giulio Bragaglia, &#171;m&#250;sica ruidista&#187; de Russolo, &#171;danzas mec&#225;nicas&#187;,&#171;tactilismo&#187;,... hasta la &#171;aeropoes&#237;a&#187;, la &#171;aeropintura&#187;, el&#171;aeroteatro&#187; y la &#171;radia&#187; &#8211;o arte de las ondas radiof&#243;nicas&#8211;en el tardofuturismo de la Italia fascista. Se comprende pues que, a medio camino entre el dinamismo pl&#225;stico y el aliento ut&#243;pico de un arte &#171;a&#233;reo&#187;, Marinetti y adl&#225;teres hayan visto en el cine &#171;la posibilidad de un arte eminentemente futurista y <i>el medio expresivo que mejor se adapta a la plurisensibilidad del artista futurista</i>.&#187;</p>"
	},
	{
		"pid" : 18,
		"p" : "<p><b>Las anticipaciones del futurismo</b></p><p>Sobran razones para que los estudios hist&#243;ricos del cine experimental (en particular, los escritos despu&#233;s de 1970) hayan concedido un progresivo relieve al futurismo en la demarcaci&#243;n de sus or&#237;genes, de la misma manera que lo ha cobrado en relaci&#243;n con el estudio de las vanguardias art&#237;sticas en general y para terrenos o aspectos tales como la performance, la m&#250;sica, la poes&#237;a experimental o la relaci&#243;n entre arte y tecnolog&#237;a. Una de dichas razones es el car&#225;cter anticipador que retrospectivamente ha adquirido el manifiesto de la cinematograf&#237;a futurista (1916). Sin embargo, dado que el susodicho manifiesto no parece haber tenido en su momento la divulgaci&#243;n y alcance de otras proclamas futuristas, su contenido podr&#237;a verse como un ensamblaje colectivo de ideas, atrevidas e inventivas, pero que estaban por lo dem&#225;s en el aire de una &#233;poca de gran agitaci&#243;n art&#237;stica e intelectual</p>"
	},
	{
		"pid" : 19,
		"p" : "<p>As&#237;, las nociones de&#171;poliexpresividad&#187; y del cine como &#171;sinfon&#237;a poliexpresiva&#187; que abren el contenido program&#225;tico del manifiesto, si bien remiten claramente al anhelo del arte total (&#171;pintura + escultura +dinamismo pl&#225;stico + palabras en libertad + <i>intonarumori</i>+ arquitectura + teatro sint&#233;tico = cinematograf&#237;a futurista&#187;), pueden relacionarse asimismo con el <i>policinema</i>que L&#225;szl&#243; Moholy-Nagy imagina y la <i>polivisi&#243;n</i>que Gance realiza (ambos hacia la mitad de los a&#241;os veinte), y con el posteriormente llamado &#171;cine expandido&#187;. El lugar privilegiado que se concede a la met&#225;fora queda expuesto en varios de los puntos que el manifiesto detalla a continuaci&#243;n: &#171;analog&#237;as&#187;, &#171;estados de &#225;nimo escenificados&#187; o &#171;planos estrat&#233;gicos de sentimientos&#187;;es decir, el lenguaje po&#233;tico antes que narrativo con que se identifica gran parte del cine de vanguardia. &#171;Poes&#237;as cinematografiadas&#187; ser&#225;n, por ejemplo, <i>Manhatta</i>(1921), de Charles Sheeler y Paul Strand, o <i>L'&#233;toile de mer</i> (1927), de Man Ray, sobre poemas de Walt Whitman y Robert Desnos respectivamente. La&#171;simultaneidad y compenetraci&#243;n de tiempos y espacios diversos&#187;para ofrecer &#171;en el mismo instante/encuadre dos o tres visiones diferentes&#187;, est&#225; en la abundante utilizaci&#243;n de la sobreimpresi&#243;n o el encuadre compuesto &#8211;tambi&#233;n la polivisi&#243;n&#8211; por Gance, Marcel L'Herbier, L&#233;ger, Vertov, etc. &#171;Investigaciones musicales(disonancias, acordes, sinfon&#237;as de gestos, hechos, colores, l&#237;neas, etc.)&#187; y &#171;equivalencias lineales pl&#225;sticas, crom&#225;ticas. de hombres, mujeres, acontecimientos, pensamientos, m&#250;sicas, sentimientos, pesos, olores, ruidos&#187; son, en primer lugar, las del cine abstracto (o absoluto, puro, integral). &#171;Dramas de objetos&#187; y&#171;palabras en libertad en movimiento&#187; se encuentran en los films de&#201;mile Cohl, Hans Richter, L&#233;ger, Duchamp, McLaren, etc. La&#171;reconstrucci&#243;n irreal del cuerpo humano&#187; formar&#225; parte de los experimentos de Lev Kuleshov sobre el montaje (<i>La mujer ideal</i>, 1920). Y como &#171;pr&#225;cticas cotidianas para liberarse de la l&#243;gica&#187; podr&#237;an entenderse, por &#250;ltimo, los primeros films &#171;autom&#225;ticos&#187; de Man Ray o, en los a&#241;os sesenta, los sencillos ejercicios de Marie Menken(<i>Notebook</i>en especial) y los &#171;diarios filmados&#187; de Jonas Mekas y otros.<a class="sdfootnoteanc" name="sdfootnote5anc" href="#sdfootnote5sym">5</a></p>"
	},
	{
		"pid" : 20,
		"p" : "<p>La contribuci&#243;n cinematogr&#225;fica de los futuristas fue de hecho escasa y dispersa (y, adem&#225;s, la mayor parte de los films directa o indirectamente emparentados con dicho movimiento se dan hoy por perdidos). Pero su acercamiento al cine es, en conjunto, sumamente ilustrativo; tanto en relaci&#243;n con el de sus contempor&#225;neos como con el de sus sucesores inmediatos</p><p><b>Cine abstracto, m&#250;sica visual</b></p>"
	},
	{
		"pid" : 21,
		"p" : "<p>Una primera senda es la que abren el pintor Arnaldo Ginna y su hermano Bruno Corra (cuyos verdaderos apellidos eran Ginnani Corradini), entre 1910 y 1912, con una serie de experiencias minuciosamente descritas en un escrito de Corra con el significativo t&#237;tulo de &#171;M&#250;sica crom&#225;tica&#187;. Se trata de una de las primeras manifestaciones conocidas de cine abstracto, prosiguiendo la investigaci&#243;n de las correspondencias entre la m&#250;sica y el color que se hab&#237;a iniciado con los clavecines y&#243;rganos de colores de los siglos XVIII y XIX. De hecho, Corra y Ginna empezaron por construir un elemental <i>pianoforte cromatico</i>, para despu&#233;s descubrir mayores posibilidades en el cinemat&#243;grafo y, m&#225;s en concreto, en el procedimiento de pintar sobre pel&#237;cula transparente, con el que realizaron un total de seis piezas. El particular acercamiento de los hermanos Corradini se concreta en la b&#250;squeda de&#171;un arte <i>temporal</i>&#187;y como parte de la m&#225;s ambiciosa aspiraci&#243;n hacia un &#171;arte del porvenir&#187;, en el que &#171;todas las artes [sean] llevadas a confluir en una ley &#250;nica&#187;. Sus planteamientos resuenan como un estribillo que ya se hab&#237;a hecho o&#237;r y que se seguir&#225; oyendo</p>"
	},
	{
		"pid" : 22,
		"p" : "<p>Como traslaci&#243;n de la pr&#225;ctica de la pintura al soporte f&#237;lmico y su dimensi&#243;n temporal para la resoluci&#243;n del problema del dinamismo pl&#225;stico, la germinaci&#243;n del cine abstracto y la noci&#243;n asociada de m&#250;sica crom&#225;tica o visual muestra muy claramente que el cine de vanguardia &#8211;de las vanguardias, creo mejor decir&#8211; nace de una serie de movimientos que se encabalgan, y comprenden el futurismo y el cubismo, la abstracci&#243;n expresionista y geom&#233;trica, dad&#225; y el constructivismo, para alcanzar su edad de oro a lo largo de los a&#241;os veinte y hasta el comienzo de los treinta</p>"
	},
	{
		"pid" : 23,
		"p" : "<p>Esto puede comprobarse a trav&#233;s de lo que se conoce respecto a los proyectos o realizaciones en los a&#241;os diez de otros artistas pl&#225;sticos que, pese a su trayectoria errante o su individualismo, aparecen o pueden ser relacionados con varios de los movimientos mencionados: L&#233;opold Survage con su frustrado proyecto de un film de animaci&#243;n abstracto, <i>Le rythme color&#233;</i>(1912-1914); Pablo Picasso, que acarici&#243; tambi&#233;n por aquellos a&#241;os la idea de utilizar el film para la creaci&#243;n de un &#171;arte m&#243;vil&#187;;la singular pintura-cin&#233;tica-con-sonido de Duncan Grant en 1914,<a class="sdfootnoteanc" name="sdfootnote6anc" href="#sdfootnote6sym">6</a>as&#237; como las composiciones pl&#225;sticas secuenciales de similares caracter&#237;sticas de Viking Eggeling y Hans Richter antes de lograr trasladar sus ideas al film de animaci&#243;n no-objetivo.<a class="sdfootnoteanc" name="sdfootnote7anc" href="#sdfootnote7sym">7</a></p><p><b>El cine de los futuristas</b></p>"
	},
	{
		"pid" : 24,
		"p" : "<p>El film colectivo <i>Vita futurista</i> (1916) fue realizado bajo la direcci&#243;n t&#233;cnica de Ginna, con la probable financiaci&#243;n de Marinetti y la complicidad en el gui&#243;n y en el reparto de los dem&#225;s firmantes del manifiesto de la cinematograf&#237;a futurista: el pintor Balla y los escritores Remo Chiti, Bruno Corra y Emilio Settimelli. Dado que todo lo que ha quedado de este film son apenas algunas fotos y descripciones de su contenido, mucho se ha especulado sobre hasta qu&#233; punto <i>Vita futurista</i> era una puesta en pr&#225;ctica de los enunciados del manifiesto, redactado aquel mismo a&#241;o. En todo caso, parece hoy haber un cierto consenso en que s&#237;anticipar&#237;a al menos el libertinaje narrativo del cine dad&#225; y surrealista. La concepci&#243;n del film en episodios o <i>sketches</i>aut&#243;nomos se relaciona por otra parte con la reivindicaci&#243;n futurista del teatro de variedades y con el &#171;teatro sint&#233;tico&#187; y las <i>serate</i>, lo cual se resalta de manera expl&#237;cita en el manifiesto</p>"
	},
	{
		"pid" : 25,
		"p" : "<p>Las restantes aportaciones cinematogr&#225;ficas de los futuristas italianos entran en un terreno m&#225;s pantanoso, aunque no menos anticipador. Por un lado, a trav&#233;s de s&#237;ntesis, dramas de objetos, poemas, palabras en libertad, prosas, ensayos y guiones o argumentos, la primera y las posteriores generaciones de artistas y escritores futuristas inauguran y participan de un acentuado inter&#233;s por el cine que, la mayor&#237;a de las veces, se resuelve literariamente, aunque tambi&#233;n en algunas tentativas o proyectos frustrados. Constituyen parte de un rico fondo de cine imaginario, &#171;potencial&#187;, y de ideas acerca del mismo, a partir del cual podemos obtener un conocimiento complementario del cine de las vanguardias</p>"
	},
	{
		"pid" : 26,
		"p" : "<p>Por otro lado, hay la relaci&#243;n con las pr&#225;cticas industriales, las obras que se acomodan a unos moldes y g&#233;neros predeterminados, y la participaci&#243;n de artistas y escritores de vanguardia en el cine de consumo. Este ser&#237;a por ejemplo el caso de los tres films realizados por Anton Giulio Bragaglia en 1916-1917, y de los que &#250;nicamente se ha conservado<i>Tha&#239;s</i>, con decorados de Enrico Prampolini: una obra sin otros lazos ostensibles con la est&#233;tica futurista, arcaica en su construcci&#243;n narrativa y en su condici&#243;n gen&#233;rica, aunque por su fantasiosa excentricidad y por la tensi&#243;n entre superficie y relieve de sus im&#225;genes, forma parte de la familia del Dr. Tube y del Dr. Caligari;m&#225;s tarde, tambi&#233;n <i>L'inhumaine.</i><i><a class="sdfootnoteanc" name="sdfootnote8anc" href="#sdfootnote8sym">8</a></i></p><p><b>Del cubofuturismo ruso a las vanguardias sovi&#233;ticas</b></p><p>Las actividades cinematogr&#225;ficas de los futuristas rusos parece que se han desenvuelto en un territorio intermedio similar, entre la aspiraci&#243;n radical y la adopci&#243;n de c&#243;digos y g&#233;neros populares, para desembocar en la parodia y el humor de acuerdo con lo poco que se sabe de los dos t&#237;tulos de m&#225;s clara filiaci&#243;n futurista: <i>Drama en el cabaret futurista n&#250;m. 13</i>(1913-14), de los cubofuturistas del grupo Cola de Asno, con Mijail Larionov, Natalia Gontcharova, David y Nicolai Burliuk, Vladimir Maiakovski y otros, bajo la direcci&#243;n t&#233;cnica de Vladimir Kassianov; y <i>Yo quiero ser un futurista</i> (1914), del c&#243;mico Vitali Lasarenko, muy pr&#243;ximo a los pintores cubofuturistas y a Maiakovski.<a class="sdfootnoteanc" name="sdfootnote9anc" href="#sdfootnote9sym">9</a></p>"
	},
	{
		"pid" : 27,
		"p" : "<p>La estima que los futuristas sent&#237;an por el cine c&#243;mico, y que no har&#225; sino ir en aumento entre los dada&#237;stas y surrealistas, no puede por lo dem&#225;s abstraerse del humorismo iconoclasta y provocativo con el que tratar&#225;n de propagar sus ideas, sea a trav&#233;s de la literatura, el teatro, las veladas o, m&#225;s ocasionalmente, el cine. Varios de los guiones que escribiera Maiakovski participan igualmente de este esp&#237;ritu, y la parodia y el<i>burlesque</i>seguir&#225;n siendo visitados por los cineastas de la revoluci&#243;n, ya sea de la mano de Mr. West o de Miss Mend, de Glumov o de Octobrina.<a class="sdfootnoteanc" name="sdfootnote10anc" href="#sdfootnote10sym">10</a></p>"
	},
	{
		"pid" : 28,
		"p" : "<p>Pero si el acercamiento de los futuristas rusos al cine es a fin de cuentas tanto o m&#225;s parco en resultados que el de los italianos, debe en cambio tenerse en cuenta la proyecci&#243;n que el futurismo tendr&#225; en varios de los grandes cineastas de la vanguardia sovi&#233;tica. No tanto de manera directa, sino a trav&#233;s de su duradero eco (como en Italia, aunque con un signo ideol&#243;gico contrario) y por los solapamientos entre los sucesivos movimientos est&#233;ticos que se despliegan hasta la imposici&#243;n del realismo socialista a finales de los a&#241;os veinte:suprematismo, constructivismo, productivismo, excentricismo, la teor&#237;a literaria del formalismo, el teatro &#171;biomec&#225;nico&#187; de Vs&#233;volod Meyerhold o las &#171;danzas mec&#225;nicas&#187; de Nikolai Foregger</p>"
	},
	{
		"pid" : 29,
		"p" : "<p>Ecos expl&#237;citos del futurismo se encuentran por ejemplo en el <i>Manifiesto del excentricismo</i> (de Grigori Kozintsev, Georgy Krizicky, Leonid Trauberg y Sergu&#233;i Yutkevitch, 1922), que, partiendo de un inter&#233;s compartido por el teatro, el cine y la pl&#225;stica, desemboca en el cine de la FEKS o F&#225;brica del Actor Exc&#233;ntrico. Pero la culminaci&#243;n del futurismo y su derivaci&#243;n en el constructivismo revolucionario se concentra en dos de las mayores figuras del cine sovi&#233;tico. Por un lado, en el primer Sergu&#233;i Eisenstein &#8211;y en especial en <i>La huelga</i> (1924), seg&#250;n han argumentado distintos autores&#8211;<a class="sdfootnoteanc" name="sdfootnote11anc" href="#sdfootnote11sym">11</a>y en su proyecto de llevar a la pantalla <i>El capital</i> de Karl Marx(hacia el final de los a&#241;os veinte); proyecto con el que acaricia la idea de un <i>cine intelectual</i>, como&#171;s&#237;ntesis del film emocional, documental y absoluto [...] cine de la m&#225;xima capacidad de conocimiento y tambi&#233;n de una m&#225;xima sensualidad, en posesi&#243;n del completo arsenal de todos los medios de acci&#243;n por est&#237;mulos visuales, auditivos y biomotores&#187;. Y, por otro lado, en Vertov, cuyas credenciales como futurista son por lo dem&#225;s conocidas</p>"
	},
	{
		"pid" : 30,
		"p" : "<p><b>Vertov, el </b>&#171;<b>cine-ojo</b>&#187;<b>y el cine metarretiniano</b></p>"
	},
	{
		"pid" : 31,
		"p" : "<p>Sabida es la admiraci&#243;n que el creador del <i>cine-ojo</i>profes&#243; por Maiakovski y el ideario futurista, hasta el punto de cambiar su verdadero nombre (Denis Arkadievich Kaufman) por el de Dziga Vertov: una analog&#237;a futurista de movimiento. Por otro lado, al respecto de los experimentos de montaje sonoro que emprender&#237;a antes de dedicarse por entero al cine, parece m&#225;s que probable su familiaridad con el &#171;arte de los ruidos&#187; de Russolo, y a&#250;n m&#225;s con las experimentaciones an&#225;logas de su compatriota, el poeta futurista Velimir Khlebnikov. El manifiesto de los <i>kinoks</i>,&#171;Nosotros&#187; (1919), abunda igualmente en la po&#233;tica futurista: &#171;El cine es [...] <i>el arte de imaginar los movimientos</i>de las cosas en el espacio [...] Dibujos en movimiento. Croquis en movimiento. Proyectos de futuro inmediato. Teor&#237;a de la relatividad en la pantalla. [...] Viva la <i>geometr&#237;a din&#225;mica</i>, las carreras de puntos, l&#237;neas, superficies, vol&#250;menes. Viva la poes&#237;a de la m&#225;quina muda y en movimiento, la poes&#237;a de las palancas, ruedas y alas de acero, el grito de hierro de los movimientos, las cegadoras muecas de los chorros incandescentes.&#187;</p>"
	},
	{
		"pid" : 32,
		"p" : "<p>Y es en concreto con <i>El hombre de la c&#225;mara</i>(1929) que Vertov llevar&#237;a a una culminaci&#243;n el futurismo nacido en Italia veinte a&#241;os antes, as&#237; como varias de las ideas expuestas en el manifiesto del cine futurista de 1916. &#171;Esta nueva obra experimental del cine-ojo &#8211;escribi&#243; Vertov&#8211; pretende crear un lenguaje cinematogr&#225;fico aut&#233;nticamente internacional, pretende crear la <i>cinescritura absoluta</i>, pretende deslindar totalmente al cinemat&#243;grafo del teatro y de la literatura.&#187; La obra que brot&#243; de tales prop&#243;sitos retoma de manera esplendorosa la tem&#225;tica de la metr&#243;polis tan propia del futurismo, dando rienda suelta a una prodigiosa inventiva en su uso de una amplia gama de recursos cinematogr&#225;ficos (recursos y no&#171;trucos&#187;, recalcaba Vertov) para componer &#171;un film sobre el cine-lenguaje&#187; de una modernidad que el paso del tiempo no ha logrado apagar en lo m&#225;s m&#237;nimo. </p>"
	},
	{
		"pid" : 33,
		"p" : "<p>Junto a la m&#250;sica visual del cine abstracto o no-objetivo, la sinfon&#237;a urbana, el ballet mec&#225;nico, la poes&#237;a visual de la s&#237;ntesis y de la fotogenia, el cine-verdad, el cine autom&#225;tico, el humor del sinsentido, la sinraz&#243;n del sue&#241;o..., las vanguardias hist&#243;ricas han presentido que el cine podr&#237;a ser tambi&#233;n una forma de conocimiento o de epistemolog&#237;a. Una especie de cine metarretiniano, por as&#237; decirlo, que Eisenstein ha entrevisto en la traslaci&#243;n del pensamiento materialista-dial&#233;ctico de Marx o del <i>stream of consciousness</i> joyciano(en su tambi&#233;n irrealizado prop&#243;sito de llevar a la pantalla el<i>Ulisses</i>), y Vertov en la inscripci&#243;n en su obra de una reflexi&#243;n sobre el propio medio, lo que constituir&#225; el alevoso justificante para que <i>El hombre de la c&#225;mara</i> sea pronto tachada de formalista y relegada durante a&#241;os al pozo de los films malditos. El cine metarretiniano seguir&#225; perteneciendo al dominio de lo ut&#243;pico</p>"
	},
	{
		"pid" : 34,
		"p" : "<p><b>III. M&#225;s all&#225; del cine</b></p><p><b>Cine expandido</b></p><p>Nacida en el agitado medio del cine de vanguardia norteamericano de los a&#241;os sesenta, la expresi&#243;n<i>expanded cinema</i>(en adelante E.C.) se propag&#243; mayormente a ra&#237;z del hom&#243;nimo libro de Gene Youngblood, publicado en 1970; un admitido ejemplar de la proyecci&#243;n del &#171;futurismo ut&#243;pico&#187; en un determinado lugar y tiempo (California, finales de los sesenta).<a class="sdfootnoteanc" name="sdfootnote12anc" href="#sdfootnote12sym">12</a>El E.C., viene a decir Youngblood en el prefacio, lo es por analog&#237;a con la expansi&#243;n de la conciencia (ecos de la &#171;pol&#237;tica del&#233;xtasis&#187; de la &#233;poca resuenan aqu&#237; claramente), y como expresi&#243;n del &#171;constante impulso hist&#243;rico del hombre de expresar su consciencia fuera de la mente, delante de sus ojos&#187; (ecos tambi&#233;n de Marshall McLuhan y su &#171;comprensi&#243;n de los <i>media</i>como extensiones del hombre&#187;)</p>"
	},
	{
		"pid" : 35,
		"p" : "<p>Designando en principio desde las experiencias de multiproyecci&#243;n al uso de films en el nuevo teatro, del <i>movie-drome</i>y los <i>movie-murals</i>de Stan Vanderbeek al teatro de sombras de Ken Jacobs, de la &#171;m&#225;quina de so&#241;ar&#187; de Brion Gysin y Ian Somerville a los <i>light-shows</i>psicod&#233;licos, etc., Youngblood ensanchar&#225; a&#250;n el concepto para abrazar entusiasmado las nuevas perspectivas de los medios y tecnolog&#237;as poscinematogr&#225;ficas: v&#237;deo, TV, ordenador, holograf&#237;a, sum&#225;ndose al cine &#171;sinest&#233;sico&#187;, personal, anarrativo, cognitivo... y a la multivisi&#243;n, lo multimedia, el arte luminocin&#233;tico, los <i>environments</i>, etc</p>"
	},
	{
		"pid" : 36,
		"p" : "<p>Aunque la noci&#243;n de E.C. tendr&#225;sucesivamente, y en particular en Europa, un uso m&#225;s restringido y confinado en una consideraci&#243;n del aparato cinematogr&#225;fico en s&#237;mismo &#8211;sus componentes, sus fundamentos, su intr&#237;ngulis tecnol&#243;gico&#8211;, el libro de Youngblood rinde cuenta del abanico de posibilidades que se abre a partir de los a&#241;os sesenta para trasladar en im&#225;genes la imaginaci&#243;n y el pensamiento; el sue&#241;o de la raz&#243;n y el deseo de conocimiento. El cine expandido, futurista, total, de la &#233;poca posindustrial ser&#225; pues un territorio de senderos que se bifurcan una y otra vez</p>"
	},
	{
		"pid" : 37,
		"p" : "<p>El mismo Youngblood lo ha expresado con sugerentes palabras varios a&#241;os despu&#233;s: &#171;El cine es el arte de organizar una corriente de eventos audiovisuales en el tiempo. Es una corriente de eventos, como la m&#250;sica. Hay tres medios con los que podemos ejecutar cine &#8211;pel&#237;cula, v&#237;deo, ordenador&#8211;, igual que hay varios instrumentos con los que podemos ejecutar m&#250;sica.Cada uno tiene desde luego unas propiedades distintas y contribuye de manera diversa a la teor&#237;a del cine, expandiendo nuestro conocimiento de lo que el cine puede ser y hacer. [...] La noci&#243;n de cine expandido es de car&#225;cter t&#233;cnico, por referirse a nuevos instrumentos de generaci&#243;n de la corriente de eventos audiovisuales, pero tambi&#233;n de car&#225;cter sociol&#243;gico. Lo que quiero dar a entender es que hoy es pol&#237;tica y socialmente m&#225;s &#250;til, m&#225;s apropiado, pensar el cine de esta manera, que no en t&#233;rminos de especificidad del medio&#187;.<a class="sdfootnoteanc" name="sdfootnote13anc" href="#sdfootnote13sym">13</a></p>"
	},
	{
		"pid" : 38,
		"p" : "<p><b>Nuevas olas y corrientes subterr&#225;neas</b></p><p>El cine comenz&#243; a &#171;expandirse&#187;muy pronto.<a class="sdfootnoteanc" name="sdfootnote14anc" href="#sdfootnote14sym">14</a>Pero el concepto E.C. aparece en los a&#241;os sesenta sobre otro trasfondo: el de los nuevos cines, nuevas olas, cines j&#243;venes, y la resintonizaci&#243;n con el legado de las vanguardias hist&#243;ricas</p><p>Mientras que el (neo-)realismo es el paradigma de los nuevos cines europeos, as&#237; como del cine independiente norteamericano narrativo o documental (John Cassavetes o Richard Leacock), el surrealismo y la no-objetividad se prolongan en el cine de vanguardia norteamericano de posguerra &#8211;no por azar la presencia de artistas como Oskar Fischinger, Len Lye, Josef Albers, Gy&#246;rgy Kepes, Edgard Var&#232;se, Richter, Duchamp, McLaren, Moholy-Nagy y otros ha contribuido a trasladar la capitalidad del arte de vanguardia al otro lado del oc&#233;ano&#8211; hasta desembocar en el New American Cinema (en adelante, N.A.C.) y el underground</p>"
	},
	{
		"pid" : 39,
		"p" : "<p>En Europa, en cambio, la reanudaci&#243;n de la vanguardia a trav&#233;s de movimientos o grupos como el letrismo en Francia o el Wiener Gruppe en Austria, pese a dar pie, directa o indirectamente, a algunas aportaciones cinematogr&#225;ficas muy innovadoras, tiene una repercusi&#243;n escasa y apenas alg&#250;n punto de contacto evidente con la corriente preponderante de las nuevas olas.Ser&#225; por contra el eco del nuevo cine (experimental) americano y su modelo organizativo &#8211;la <i>film coop</i> o cooperativa de distribuci&#243;n&#8211; lo que contribuir&#225; a una nueva edad, si no de oro, de plata, del cine experimental en varios pa&#237;ses europeos</p>"
	},
	{
		"pid" : 40,
		"p" : "<p>Algo que distingue sustancialmente la evoluci&#243;n del N.A.C. con respecto a los nuevos cines europeos es&#8211;parece muy evidente&#8211; el peso de la gran industria (l&#233;ase Hollywood). Y puesto que en un tal contexto, el cine europeo <i>es</i>por excelencia el &#171;nuevo cine&#187; (Ingmar Bergman, Federico Fellini, Jean-Luc Godard, Michelangelo Antonioni, Alain Resnais, etc.) del&#171;viejo mundo&#187;, la industria cinematogr&#225;fica estadounidense no siente la necesidad de cambiar ni las pautas ni la estrategia de mercado que le proporcionan al cabo una balanza comercial muy favorable. (Ello se comprueba en la dificultad o la tardanza con la que ser&#225;n acogidos algunos cineastas independientes, incluso si respetan mayormente los c&#243;digos: Martin Scorsese, John Waters, Jim McBride o John Cassavetes). </p>"
	},
	{
		"pid" : 41,
		"p" : "<p>As&#237;, aunque el N.A.C. Group se constituye en 1960 a imagen y semejanza de los nuevos cines europeos(<i>nouvelle vague</i>,<i>free cinema</i>&#8230;), su cabeza de fila, Jonas Mekas, se alinear&#225; muy pronto con la fracci&#243;n m&#225;s experimentalista &#8211;de hecho apenas representada en el n&#250;cleo fundacional del N.A.C.&#8211; para seguir la senda underground(contempor&#225;neamente se&#241;alada por Duchamp como la del artista del futuro), con la organizaci&#243;n en &#171;c&#233;lulas&#187; de un circuito alternativo y la insumisi&#243;n ante censuras y tab&#250;s, como ante los c&#243;digos y normas del cine imperante</p><p><b>La experiencia de los l&#237;mites</b></p>"
	},
	{
		"pid" : 42,
		"p" : "<p>Otro avatar que ha incidido en la gestaci&#243;n y el peculiar giro del N.A.C. es la implantaci&#243;n ya masiva de la televisi&#243;n a lo largo de los a&#241;os cincuenta. La crisis que se observa en aquellos a&#241;os en la industria hollywoodiense es en parte lo que motiva las ilusiones descentralizadoras de los cineastas independientes. Pero, en otro aspecto, Youngblood ha apuntado: &#171;[La televisi&#243;n] ha afectado al cine de una manera muy similar a c&#243;mo la invenci&#243;n de la fotograf&#237;a afect&#243; a la escultura y la pintura. El cubismo y otras formas de abstracci&#243;n de la imagen realista nacieron con la placa fotogr&#225;fica porque la pintura ya no pod&#237;a proporcionar las im&#225;genes m&#225;s realistas. Las artes pl&#225;sticas abandonaron la realidad exterior por la realidad interior. Lo mismo ha sucedido con el cine a consecuencia de la televisi&#243;n: las pel&#237;culas ya no proporcionan las im&#225;genes m&#225;s realistas, de manera que han virado hacia lo interior.&#187; El argumento concluye as&#237; en ese cine&#171;sinest&#233;sico&#187; que Youngblood toma como punto de partida del E.C., y que encuentra en las obras de Stan Brakhage, Andy Warhol, Michael Snow o Pat O'Neill</p>"
	},
	{
		"pid" : 43,
		"p" : "<p>El <i>underground</i>dar&#225; as&#237; lugar a un cine de &#171;la experiencia de los l&#237;mites&#187;(para tomar prestada una conocida expresi&#243;n de Philippe Sollers).Con Warhol es el apogeo del (hiper)realismo (<i>pop</i>)y de la <i>dur&#233;e</i>bergsoniana, aproxim&#225;ndose al sue&#241;o de L&#233;ger de un film de 24 horas que mostrase en tiempo real la existencia cotidiana, y &#171;que ser&#237;a algo tan terrible que la gente huir&#237;a aterrorizada... &#187;<a class="sdfootnoteanc" name="sdfootnote15anc" href="#sdfootnote15sym">15</a>Con los films de Fluxus es el nihilismo minimalista, neo-dada&#237;sta, hasta rozar el extremo del anticine en su acepci&#243;n m&#225;s literal. Con Brakhage, las met&#225;foras de la visi&#243;n, los sonidos del silencio, la percepci&#243;n de lo invisible (visi&#243;n hipnag&#243;gica), el arte de la memoria llevado al cine de amateur &#8211;del que ama&#8211;, como tambi&#233;n los &#171;diarios&#187; de Jonas Mekas, Andrew Noren, etc. Con Kenneth Anger o Harry Smith, la alquimia de los s&#237;mbolos, los colores, los cuerpos exquisitos. Con el <i>flicker film</i> (Peter Kubelka, Tony Conrad, Paul Sharits), la intermitencia esencial de la luz y la oscuridad; o de colores veloces, im&#225;genes subliminales, en los umbrales de la visi&#243;n. Con Michael Snow o Hollis Frampton, una nueva concepci&#243;n formal del cine como una especie de pensamiento presocr&#225;tico en im&#225;genes. Y as&#237; sucesivamente</p>"
	},
	{
		"pid" : 44,
		"p" : "<p>Y, por expansi&#243;n, el cine experimental ha ido adem&#225;s a explorar otros l&#237;mites, nuevos medios, nuevas formas, formas en el l&#237;mite de su propia definici&#243;n: del policinema a las film-performances, film-instalaciones, film-esculturas, proyecciones m&#243;viles, pantallas inmateriales de humo o vapor, bucles sin fin (<i>loops</i>), pel&#237;culas literalmente escabechadas, etc. Pero tambi&#233;n las im&#225;genes electr&#243;nicas de osciloscopios, televisores y ordenadores, preludio de las nuevas perspectivas que se abren con el v&#237;deo, el l&#225;ser, la holograf&#237;a, la imagen digital, el audiovisual interactivo y la realidad virtual</p><p><b>Hacia la imagen electr&#243;nica</b></p><p>La idea de un arte electr&#243;nico parece haber estado en el aire desde la Segunda Guerra Mundial. El mismo instrumental de guerra electr&#243;nico servir&#225; al menos en dos casos para la concepci&#243;n de sus &#250;tiles: las posibilidades que en la pantalla de radar descubre el artista alem&#225;n Karl Otto G&#246;tz(durante la misma guerra, destacado en Noruega); los dispositivos de defensa antia&#233;rea que reciclar&#225;n los hermanos John y James Whitney para proseguir sus ejercicios de cine abstracto, con pac&#237;ficos y bellos mandalas o dibujos florales en perpetua evoluci&#243;n</p><p>La pantalla del osciloscopio ha constituido otro hallazgo m&#225;s en los films experimentales de Norman McLaren (<i>Around is Around</i>, 1950), Mary Ellen Bute (<i>Abstronics</i>, 1954), Hy Hirsh o Jordan Belson, con su equivalente est&#225;tico, fotopl&#225;stico, en los <i>oscillons</i>o &#171;abstracciones electr&#243;nicas&#187; que realiza Ben Laposky desde 1950</p>"
	},
	{
		"pid" : 45,
		"p" : "<p>Algunos de los primeros artistas que han vislumbrado en la televisi&#243;n una nueva tecnolog&#237;a art&#237;stica&#8211;G&#246;tz, Nicolas Sch&#246;ffer (<i>Variations Luminodynamiques I</i>, 1961;<i>Teleluminoscope</i>, 1959-62) o, en un plano puramente te&#243;rico, el <i>Manifesto del movimento spaziale per la televisione</i>de Lucio Fontana, Alberto Burri y otros (1952)&#8211; participan asimismo de esa concepci&#243;n eminentemente abstracta que prolonga en cierto modo la tradici&#243;n establecida por el arte no-objetivo y constructivista en la Europa de entreguerras. Gran parte del trabajo con videosintetizadores y con el efecto de feedback visual que desarrollan varios (video)artistas desde la segunda mitad de los a&#241;os sesenta, puede verse tambi&#233;n sobre dicho trasfondo. As&#237; como Youngblood escribir&#225; que con el ordenador digital se da una&#171;culminaci&#243;n de la tradici&#243;n constructivista&#187;</p>"
	},
	{
		"pid" : 46,
		"p" : "<p>La inform&#225;tica y el v&#237;deo (y la uni&#243;n de ambos) son pues los medios alrededor de los cuales se asentar&#225;n las intuiciones avanzadas por aquellos pioneros. John Whitney enlaza el lenguaje de la modernidad europea (Oskar Fischinger, Arnold Sch&#246;nberg) con el nuevo constructivismo de la imagen num&#233;rica, abriendo de paso camino a toda una saga de descendientes y disc&#237;pulos (como John Whitney Jr. o Larry Cuba).Mientras que otra personalidad emblem&#225;tica, Nam June Paik, ha dicho que la obra y las ideas de G&#246;tz &#8211;a quien conoci&#243; durante su primera estancia en Alemania&#8211; le estimularon a intercambiar su pasajero inter&#233;s por la m&#250;sica electr&#243;nica, por el arte de la&#171;televisi&#243;n electr&#243;nica&#187; y del v&#237;deo</p>"
	},
	{
		"pid" : 47,
		"p" : "<p>Pero con Paik &#8211;y con los films de im&#225;genes e interferencias televisivas de Wolf Vostell, Aldo Tambellini o Giorgio Turi&#8211; se da a su vez el paso de la imagen(electr&#243;nica) abstracta a la imagen <i>heterog&#233;nea</i>, paralelamente a la apropiaci&#243;n de la imagen televisiva en cuadros y assemblages de artistas cercanos al pop o al nuevo realismo (Richard Hamilton, Edward Kienholz, Tom Wesselman, el propio Vostell). Y la&#171;televisi&#243;n experimental&#187; de Paik nos conduce al v&#237;deo y a &#171;la cr&#237;tica de la televisi&#243;n pura&#187; como una de sus se&#241;as de identidad</p><p><b>V&#237;deo/televisi&#243;n, nuevos territorios de utop&#237;a</b></p>"
	},
	{
		"pid" : 48,
		"p" : "<p>El pensamiento acerca de la televisi&#243;n como medio art&#237;stico (?) &#8211;en el sentido m&#225;s amplio de la expresi&#243;n, interrogante entre par&#233;ntesis incluido&#8211;, se manifiesta en diversas direcciones desde finales de los a&#241;os cincuenta. Una ser&#237;a desde el cine, por el acercamiento a la televisi&#243;n de cineastas como Roberto Rossellini, Jean Renoir u Orson Welles, en cierto modo figuras de proa de la contempor&#225;nea emergencia de los nuevos cines. Otra ser&#237;a desde las propias televisiones, con la creaci&#243;n de departamentos o laboratorios experimentales y a trav&#233;s de determinados productores y realizadores(como Fred Barzyk, Jean-Christophe Averty, Josep Montes-Baquer, etc.). Y, por &#250;ltimo, desde las artes, con las creaciones para televisi&#243;n de m&#250;sicos (Igor Stravinsky, Mauricio Kagel), escritores(Samuel Beckett, Ferdinand Kriwet) y artistas pl&#225;sticos (Nicolas Sch&#246;ffer, Otto Piene / Aldo Tambellini), para culminar, ya a finales de los sesenta, en la experiencia ut&#243;pica y pasajera de las&#171;galer&#237;as televisivas&#187; de James Newman en California (<i>Open Gallery</i>) y de Gerry Schum en la R.F.A. (<i>Fernsehgalerie</i>), aunque tambi&#233;n a trav&#233;s de la pol&#237;tica de puertas abiertas en el periodo dorado de los departamentos experimentales, <i>workshops</i>, programas <i>Artists in Residence</i> de las KQED, WGBH y WNET y otras televisiones p&#250;blicas en Estados Unidos y Canad&#225;</p>"
	},
	{
		"pid" : 49,
		"p" : "<p>Entremedio, otra posibilidad ha surgido: el v&#237;deo y, m&#225;s concretamente, los equipos ligeros; el primitivo <i>portapak</i>que Paik o Les Levine empiezan a sacar a las calles de Manhattan en 1965, Godard a las de Par&#237;s en Mayo del 68; los comienzos de la&#171;televisi&#243;n de guerrilla&#187; con los colectivos que surgen al final de los sesenta, y el <i>real time</i> literal del <i>reel time</i> en que Bruce Nauman ejecuta sus acciones repetitivas ante la c&#225;mara (fija). Con la incipiente miniaturizaci&#243;n de la tecnolog&#237;a de la imagen televisiva(ahora aliada con el almacenamiento electromagn&#233;tico de las se&#241;ales), se dan las condiciones propicias para un v&#237;deo independiente, alternativo a las r&#237;gidas estructuras de la televisi&#243;n propiamente dicha</p>"
	},
	{
		"pid" : 50,
		"p" : "<p>As&#237;, Youngblood insistir&#225; en aquello de que &#171;el v&#237;deo no es televisi&#243;n&#187; (<i>VT is not TV</i>), pero el cap&#237;tulo de su libro en que trata del v&#237;deo lleva por t&#237;tulo&#171;Television as a Creative Medium&#187;; justamente el mismo de la que pasa por ser la primera muestra colectiva de v&#237;deo en un contexto art&#237;stico (la galer&#237;a de Howard Wise en Nueva York, 1969). Esta aparente paradoja &#8211;la televisi&#243;n ser&#225; un medio creativo a trav&#233;s del v&#237;deo, que sin embargo no es televisi&#243;n&#8211; acota de hecho todo el discurso ut&#243;pico en torno al v&#237;deo, que buscar&#225; ser y no ser televisi&#243;n en diversos sentidos. Serlo, por ejemplo, en forma de televisi&#243;n alternativa a trav&#233;s del cable, de emisiones de baja potencia o incluso del sat&#233;lite; pero tambi&#233;n a trav&#233;s de la adopci&#243;n de formatos populares y de la capacidad de responder a una cierta demanda de frescura y novedad en la imagen televisiva. Y no serlo, al buscar tambi&#233;n otras v&#237;as, al ir a los l&#237;mites, los territorios fronterizos, desbord&#225;ndose a su vez en el &#171;v&#237;deo expandido&#187; de las instalaciones, la videoescultura, las performances, el v&#237;deo interactivo</p>"
	},
	{
		"pid" : 51,
		"p" : "<p><b>El ordenador, la simulaci&#243;n y la inform&#225;tica multimedia</b></p><p>Este recorrido no podr&#237;a concluir sino en la inmaterialidad conceptual de la inform&#225;tica; un medio (o<i>metamedio</i>, como alguien ha precisado) que, como ya se ha visto, ha atra&#237;do muy pronto a varios artistas, si bien el &#171;arte computacional&#187; no ha sido exclusivamente obra de artistas, sino tambi&#233;n de t&#233;cnicos, ingenieros y cient&#237;ficos. De la (con)fusi&#243;n pues del arte, la ciencia y la tecnolog&#237;a. Y as&#237;, junto a un apogeo inicial de la abstracci&#243;n geom&#233;trico-constructivista, la evoluci&#243;n tecnol&#243;gica y de las industrias del ramo ha propiciado el polo opuesto de un<i>hiperrealismo</i>(que no lo es sino como caricatura o realismo fant&#225;stico, pero que sin duda va en busca de serlo), tan vers&#225;til para la elaboraci&#243;n de modelos de simulaci&#243;n cient&#237;ficos como para la perpetuaci&#243;n de los c&#243;digos de la ficci&#243;n favorecidos por las industrias del espect&#225;culo</p>"
	},
	{
		"pid" : 52,
		"p" : "<p>Youngblood ha distinguido la<i>simulaci&#243;n</i>de la <i>ficci&#243;n</i>en un art&#237;culo suyo de 1983: &#171;El prop&#243;sito de la ficci&#243;n es constituir un espejo del mundo para entretenimiento del espectador;el prop&#243;sito de la simulaci&#243;n es la creaci&#243;n de un mundo para transformar al espectador.&#187;<a class="sdfootnoteanc" name="sdfootnote16anc" href="#sdfootnote16sym">16</a>La noci&#243;n de simulaci&#243;n, tan debatida en los &#250;ltimos a&#241;os, se encuentra ya de manera abundante en la literatura inform&#225;tica de los a&#241;os sesenta, as&#237; como en la epistemolog&#237;a cibern&#233;tica y estructuralista o en los or&#225;culos de McLuhan. De manera que no es extra&#241;o que Youngblood la haya ya rozado al tratar del &#171;cine cibern&#233;tico&#187; en su libro de 1970: &#171;Consciente o inconscientemente, nosotros inventamos el futuro. Y todos los futuros dependen de un presente que est&#225; condicionado por el pasado. Una manera de librarse de los condicionamientos del pasado consiste en simular futuros alternativos a trav&#233;s del potencial a salvo de fallos del ordenador digital. Esto es &#8220;arte&#8221; al m&#225;s alto nivel que nunca ha conocido el hombre; casi literalmente, la creaci&#243;n de un nuevo mundo que se impone de manera imperceptible sobre la realidad (pero ya no tan imperceptiblemente como antes)&#187;</p>"
	},
	{
		"pid" : 53,
		"p" : "<p>La novedad radical de la imagen digital (o num&#233;rica), estriba entonces en su capacidad imaginaria(empleando aqu&#237; el adjetivo en un doble sentido) para la traslaci&#243;n del pensamiento en im&#225;genes; de las im&#225;genes de la mente, del imaginario, en objetos virtuales de percepci&#243;n &#243;ptica (a trav&#233;s, por ahora, de un lenguaje simb&#243;lico de c&#243;digos o instrucciones inform&#225;ticas). &#171;M&#225;s que im&#225;genes, pero menos que objetos&#187;, ha dicho Edmond Couchot</p>"
	},
	{
		"pid" : 54,
		"p" : "<p>Al desprendernos de la c&#225;mara, el aparato &#243;ptico, las leyes de la perspectiva, la imagen inform&#225;tica&#8211;ha vaticinado Bill Viola&#8211; dar&#225; lugar a &#171;una de las mutaciones m&#225;s importantes en la historia de las im&#225;genes. [...] Pronto seremos capaces de fabricar im&#225;genes complejas, realistas, sin necesidad de contar con la luz; y a partir del momento en que la luz no es la condici&#243;n y el material fundamental de la imagen, estamos en el dominio del espacio conceptual&#187;.<a class="sdfootnoteanc" name="sdfootnote17anc" href="#sdfootnote17sym">17</a>La &#171;ciencia-ficci&#243;n&#187; de la costa del Pac&#237;fico, eso s&#237;, puede todav&#237;a resultarnos muy lejana desde este lado del Atl&#225;ntico y en sociedades afligidas por prospectivas m&#225;s pedestres</p><p><b>SF - El futur(ism)o, ahora</b></p>"
	},
	{
		"pid" : 55,
		"p" : "<p>&#171;Toda buena ciencia ficci&#243;n desarrolla de manera realista aquello que los datos cient&#237;ficos sugieren que es inminente&#187;, escribi&#243; Richard Buckminster Fuller en su pr&#243;logo al libro de Youngblood. No ha pasado mucho tiempo desde la publicaci&#243;n de la novela de William Gibson, <i>Neuromancer</i>(1984), y ya su neologismo y concepci&#243;n ficticia del &#171;ciberespacio&#187;se anuncian como una invitaci&#243;n al viaje a la realidad &#171;artificial&#187;o &#171;virtual&#187; de la inform&#225;tica. (<i>Total Recall</i> tampoco cae muy lejos). Mucho ha dado que hablar en dicho sentido el sistema VIEW(Virtual Interface Environment Workstation) &#8211;desarrollado por Scott Fisher y otros en el Ames Research Center de la NASA&#8211;, en el que, mediante pr&#243;tesis de visi&#243;n estereosc&#243;pica y de tacto, el &#171;usuario puede explorar virtualmente un entorno sint&#233;tico o sensorialmente remoto de 360&#186;, y puede actuar rec&#237;proca y visceralmente sobre sus componentes&#187;.<a class="sdfootnoteanc" name="sdfootnote18anc" href="#sdfootnote18sym">18</a></p>"
	},
	{
		"pid" : 56,
		"p" : "<p>Hoy, en que el llamado cine experimental apenas parece subsistir por su minoritaria apreciaci&#243;n como una particular forma de artesan&#237;a o de &#171;joyer&#237;a&#187; (tal como lo augur&#243; el cineasta brit&#225;nico Malcolm Le Grice cuando el precio de la plata empez&#243; a subir y a encarecer los costes de la pel&#237;cula), y cuando el entusiasmo primigenio del v&#237;deo ha deca&#237;do a su vez en cierto estado let&#225;rgico, el nuevo futurismo de la inform&#225;tica multimedia y el espacio virtual puede contemplarse como una forma escapista de emprender intr&#233;pidas aventuras ilusorias en el &#233;ter de la teor&#237;a-ficci&#243;n. Pero, aunque en nuestro tiempo se han dado por finiquitadas muchas utop&#237;as, no hay porque ceder su exclusiva a la ciencia y a la ciencia ficci&#243;n. Adem&#225;s, como vino a decir Bertolt Brecht en sus escritos de teor&#237;a de la radio: si algo nos parece ut&#243;pico, habremos de preguntarnos por qu&#233; lo es</p>"
	},
	{
		"pid" : 57,
		"p" : "<p>El arte de la imagen en movimiento ha atravesado, y sin duda seguir&#225; atravesando, momentos cr&#237;ticos y encrucijadas desconcertantes. Su misma acepci&#243;n o adscripci&#243;n&#171;art&#237;stica&#187; ha sido muy controvertida y nunca asimilada del todo:es elocuente al respecto la fortuna de una expresi&#243;n tal que <i>video art</i>.<a class="sdfootnoteanc" name="sdfootnote19anc" href="#sdfootnote19sym">19</a>Sin embargo, desde el futurismo de principios de siglo, si no antes,no cabe duda del peso que ha tenido y tiene aquello que para concluir denominar&#233; &#8211;mediante una bella locuci&#243;n catalana que dio nombre a una publicaci&#243;n art&#237;stica editada en Barcelona en 1934&#8211; <i>l'art que belluga</i>;literalmente, aunque m&#225;s prosaicamente: &#171;el arte que menea&#187;</p><h1 lang="es-ES" class="western" style="page-break-after: auto">IV.A modo de ep&#237;logo</h1><h1 lang="es-ES" class="western" style="page-break-after: auto">Persistencia de la visi&#243;n: de la linterna m&#225;gica a las pantallas digitales</h1>"
	},
	{
		"pid" : 58,
		"p" : "<p>M&#225;quinas de visi&#243;n y audiovisi&#243;n, pr&#225;cticas de la pantalla, tecnolog&#237;as del tiempo y la memoria, instrumentos de simulaci&#243;n, pasajes de la imagen, entreim&#225;genes, est&#233;tica de la comunicaci&#243;n, (nuevo) arte de media, transmedia&#8230;Desde el fin del siglo XX se multiplican las conceptualizaciones globalizadoras que palpan la inaprensible extensi&#243;n de las t&#233;cnicas de la observaci&#243;n y su despliegue m&#225;s que centenario. Entre la arqueolog&#237;a de los medios, la cr&#243;nica de la escurridiza contemporaneidad y la prospectiva del porvenir, esta profusi&#243;n de formulaciones coincide con la penetraci&#243;n imparable de las tecnolog&#237;as electr&#243;nicas y con las m&#250;ltiples aplicaciones y expectativas que concita la inform&#225;tica</p>"
	},
	{
		"pid" : 59,
		"p" : "<p>Esta proliferaci&#243;n de los modos de producci&#243;n ic&#243;nica, audiovisual y multimedial es lo que disuelve de manera creciente el r&#233;gimen de autarqu&#237;a (especificidad, legitimidad, estanqueidad) de cada medio en s&#237;; algo que parec&#237;a preceptivo en tiempos no demasiado lejanos. Las pr&#225;cticas acuden ahora a toda clase de materiales e inmateriales, medios y metamedios, en r&#233;gimen de libre elecci&#243;n y por decisi&#243;n espont&#225;nea o voluble ante la rebosante lonja de lo viejo y lo nuevo. Es un arte que cobra cuerpo en forma de <i>cristales de tiempo</i>, en palabras de Gilles Deleuze,<a class="sdfootnoteanc" name="sdfootnote20anc" href="#sdfootnote20sym">20</a>por la parad&#243;jica simultaneidad de lo actual y lo virtual, lo real y lo imaginario que se da en la apariencia intangible, transparente y fungible de los soportes utilizados: pantallas, proyecciones, cajas de luz, interfaces concebidas como pr&#243;tesis del cuerpo, etc</p>"
	},
	{
		"pid" : 60,
		"p" : "<p>Con el devenir digital, la numerizaci&#243;n de la percepci&#243;n socava dr&#225;sticamente el primer fundamento de la analog&#237;a y la representaci&#243;n mim&#233;tica, apuntalado por la &#243;ptica y la tecnolog&#237;a fotogr&#225;fica. Por otro lado, el ordenador no puede decirse que sea una m&#225;quina de visi&#243;n si no es por a&#241;adidura. Llevando a un extremo la tesis seg&#250;n la cual todo medio comienza por adoptar los rasgos m&#225;s familiares (asimilados) de otro anterior, el ordenador ya no absorbe los de uno en particular sino que se manifiesta como una arquitectura abierta, una metam&#225;quina vers&#225;til y polivalente, capaz de emular &#8211;o asistir&#8211; las funciones de otros medios previamente conocidos, as&#237; como de activar prestaciones in&#233;ditas o que eran inconcebibles antes</p>"
	},
	{
		"pid" : 61,
		"p" : "<p>Sin embargo, los usos hasta ahora m&#225;s evidentes de la inform&#225;tica en la construcci&#243;n y circulaci&#243;n iconogr&#225;fica &#8211;las im&#225;genes de s&#237;ntesis, los discos compactos y la inmensidad de la red&#8211; constituyen apenas una faceta de los fen&#243;menos actuales de trasvase y suplantaci&#243;n de unas tecnolog&#237;as por otras, lo que a su vez entra&#241;a otras fugas disipativas que conciernen a la est&#233;tica contempor&#225;nea y la delimitaci&#243;n de sus ep&#237;grafes. De manera que la fotograf&#237;a adopta los h&#225;bitos de producci&#243;n y puesta en escena del cine, los recursos del trucaje digital y toda clase de soportes y hechuras (objetos, cajas de luz, proyecciones, instalaciones, etc.), as&#237; como el cine se aficiona a los medios ligeros del audiovisual electr&#243;nico y a las t&#233;cnicas de montaje virtual del <i>desktop video</i>. Igualmente, en los&#250;ltimos a&#241;os no han dejado de advertirse otros intercambios de rol por los que, por ejemplo, el cine &#171;se expone&#187; (en recintos muse&#237;sticos o galer&#237;sticos no expresamente reservados a tal fin) y el artista pl&#225;stico o visual (el artista por excelencia) toma la visera y el meg&#225;fono del director cinematogr&#225;fico</p>"
	},
	{
		"pid" : 62,
		"p" : "<p>Por lo dem&#225;s, los trasvases de un soporte a otro &#8211;por ejemplo, de film a v&#237;deo o a la inversa, y de aqu&#237; a otros substratos y conductos: CD, DVD, televisi&#243;n digital, sitio web, etc.&#8211; son cada vez m&#225;s corrientes y, en la medida en que el chasis material deviene m&#225;s transparente y gen&#233;rico (datos almacenados y procesados num&#233;ricamente seg&#250;n un principio binario), la versatilidad digital impone su reto transtecnol&#243;gico en toda clase de medios y &#225;mbitos del arte y la comunicaci&#243;n: fotograf&#237;a y cine, televisi&#243;n y radio, v&#237;deo y audio, texto y gr&#225;ficos&#8230; En todo caso, el guirigay de una transmutaci&#243;n tal puede resultar beneficioso para la regeneraci&#243;n de unas pr&#225;cticas prematuramente defenestradas por el apremio de la novedad m&#225;s concluyente</p>"
	},
	{
		"pid" : 63,
		"p" : "<p>Dos aspectos significativos, por el positivo revuelo que han tra&#237;do &#250;ltimamente, son el empuje del<i>v&#237;deo/cine digital</i>y del llamado <i>cine de exposici&#243;n</i>.<a class="sdfootnoteanc" name="sdfootnote21anc" href="#sdfootnote21sym">21</a>Aspectos no rigurosamente novedosos, aunque derivan de refrescantes apuestas. Por un lado, en cuanto a un diligente aprovechamiento de los formatos de v&#237;deo <i>prosumer</i>(DV y derivados, m&#225;s los c&#243;decs asociados), se dirigen a un abanico de usuarios comprendido entre el escalaf&#243;n profesional y el de los aficionados, los amateurs, los apasionados.<a class="sdfootnoteanc" name="sdfootnote22anc" href="#sdfootnote22sym">22</a>Por otro lado, han generado una nueva promoci&#243;n de artistas que utiliza desinhibidamente los medios audio y visuales en hechuras diversas que remiten al concepto de instalaci&#243;n &#8211;a veces de manera un tanto impropia&#8211; o que simplemente se despliegan en el espacio(el lugar expositivo) y el tiempo (en bucle continuo)</p>"
	},
	{
		"pid" : 64,
		"p" : "<p>La naturaleza del soporte, en ambos casos, deviene m&#225;s y m&#225;s indiferente o circunstancial. Hablar de&#171;v&#237;deo&#187; o &#171;cine&#187; digital es entonces una mera cuesti&#243;n de elecci&#243;n, de (p)referencias, o del soporte al que se vuelca la informaci&#243;n num&#233;rica final para su difusi&#243;n en unos u otros circuitos. A su vez, el cine de exposici&#243;n solo es literalmente cine&#8211;o, m&#225;s precisamente, film&#8211; en algunas ocasiones, y muchas veces se acoge a la impalpable naturaleza de la imagen proyectada, como si esta quedara liberada de su tramoya t&#233;cnica y base material (sea pel&#237;cula, cinta de v&#237;deo, soporte digital o cualquier otro)</p>"
	},
	{
		"pid" : 65,
		"p" : "<p>Este trance, que ha ido agudiz&#225;ndose m&#225;s y m&#225;s desde el &#250;ltimo tercio del siglo pasado, hacia la desnaturalizaci&#243;n y el hibridismo (en efecto uno de los pocos <i>ismos</i>aislados en los &#250;ltimos a&#241;os), puede ser visto con recelo por lo que tiene de desdibujamiento de unos &#225;mbitos que preservan unas se&#241;as de identidad diversas e incluso antag&#243;nicas en alg&#250;n punto.As&#237;, no es lo mismo diseccionar el significante que marear la perdiz al pretender el trasunto o simulacro de una entidad est&#233;tica m&#225;s noble; por tanto m&#225;s propia del museo que de su mediateca u otras dependencias menores, con lo cual se siguen preservando los rangos jer&#225;rquicos del arte. Pero, por otra parte, la constataci&#243;n de un trance tal es aquello que nos incita a recapacitar una vez m&#225;s sobre el conjunto de las t&#233;cnicas y artes de la visi&#243;n, el tiempo y la memoria; su persistencia, su expansi&#243;n y su influencia</p><div id="sdfootnote1">"
	},
	{
		"pid" : 66,
		"p" : "<p>	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>	Este	texto, publicado originalmente en el cat&#225;logo de la <i>Bienal	de la Imagen en Movimiento &#8217;90</i>	(MNCARS), fue revisado y corregido para afinar su redacci&#243;n y	subsanar alg&#250;n error, m&#225;s que para actualizarlo, en ocasi&#243;n de su	reimpresi&#243;n en el volumen <i>Puntos	de encuentro en la iconosfera. Interacciones en el audiovisual</i>.	A su vez con el a&#241;adido, a modo de cuarta parte o ep&#237;logo, de un	extracto de otro texto posterior que ha retomado parcialmente el	mismo planteamiento, &#171;La invitaci&#243;n al viaje / La experiencia	cinem&#225;tica&#187;, del cat&#225;logo de una exposici&#243;n comisariada por el	mismo autor: <i>Movimiento	aparente: la invitaci&#243;n al viaje inm&#243;vil en las tecnolog&#237;as	ubicuas del tiempo, la imagen y la pantalla</i>,	EACC - Espai d&#8217;Art Contemporani de Castell&#243;, 2000</p><p>	</p><div id="sdfootnote2"><p>	<a class="sdfootnotesym" name="sdfootnote2sym" href="#sdfootnote2anc">2</a>	Utilizo	la expresi&#243;n &#171;ruedas de la vida&#187;, del alem&#225;n ,	para designar un conjunto de aparatos tales como el fenaquistiscopio	de Plateau, el estroboscopio de Stampfer, el zo&#243;tropo de Horner,	etc</p><p>	</p><div id="sdfootnote3"><p>	</span>Charles	Musser: &#171;The Early Cinema of Edwin Porter&#187;, </span>Cinema	Journal</i></span>,	n&#250;m. 19 (oto&#241;o de 1979). </span>Traducido	al franc&#233;s en <i>Les	Cahiers de la Cin&#233;math&#232;que</i>,	n&#250;m. 29 (invierno 1979)</p><div id="sdfootnote4"><p>	El	largometraje mencionado se convertir&#237;a luego en la primera entrega	de la serie <i>Media	Magica</i>,	proseguida entre 1995-1997 con cinco episodios de 55 minutos cada	uno. Textos de y sobre Nekes, as&#237; como una meticulosa documentaci&#243;n	de su obra y de su faceta de investigador-coleccionista, se hallan	recopilados en el sitio web del cineasta (http://wernernekes.de)</p><p>	</p><div id="sdfootnote5"><p>	No	hago aqu&#237; sino reunir, con algunos a&#241;adidos m&#237;os, las	observaciones de otros autores; en particular de Mario Verdone: <i>Le	avanguardie storiche del cinema</i>.	Tur&#237;n:	Societ&#224; Editrice Internazionale, 1977; Dominique Noguez: </span>&#201;loge	du cin&#233;ma exp&#233;rimental</i></span>.	Par&#237;s: Mus&#233;e National d'Art Moderne/Centre Georges Pompidou, 1979.</span></p><div id="sdfootnote6"><p>	</span>En	la colecci&#243;n de la Tate Gallery con el t&#237;tulo de </span>Abstract	Kinetic Collage Painting with Sound</i></span><div id="sdfootnote7"><p>	<a class="sdfootnotesym" name="sdfootnote7sym" href="#sdfootnote7anc">7</a>	Originalmente,	el texto a&#241;ad&#237;a en este punto la referencia a &#171;los films	abstractos que el pintor ruso Serge Charchoune present&#243;, en abril	de 1917, en el basti&#243;n vanguardista que fue en Barcelona la galer&#237;a	de Josep Dalmau, retomando el artesano procedimiento de la pintura	sobre pel&#237;cula y con acompa&#241;amiento musical del compositor	futurista italiano Balilla Pratella.&#187; Sin embargo, en	investigaciones al respecto, tanto Rom&#225;n Gubern como Montse Camps	han sugerido que Charchoune pudo utilizar la expresi&#243;n &#171;films	ornamentales&#187; de una manera m&#225;s  metaf&#243;rica que literal</p><p>	</p><div id="sdfootnote8"><p>	</span>La	Folie du Docteur Tube</i></span>	(1915), de Abel Gance; </span>Das	Kabinett des Dr. Caligari</i></span>	(1919), de Robert Wiene; </span>	(1923), de Marcel L'Herbier (que en Italia se titul&#243; </span>Futurismo:	un drama passionale nell'anno 1950</i></span><div id="sdfootnote9"><p>	Esta	&#250;ltima cinta puede considerarse a su vez parte de una estirpe de	caricaturas que incluye <i>Une	excursion incoh&#233;rente</i>	(1909), de Segundo de Chom&#243;n, <i>Le	Peintre n&#233;oimpressioniste</i>	(1910), de &#201;mile Cohl, y <i>Rigadin	peintre cubiste</i>	(1912), de Georges Monca y Charles Prince (en la pantalla	&#171;Rigadin&#187;); as&#237; como en relaci&#243;n a la afinidad que se ha	observado entre otros films c&#243;micos &#8211;como <i>Amor	pedestre</i>	(1914), de Marcel Fabre (&#171;Robinet&#187;), o los de Andr&#233; Deed	(&#171;Cretinetti&#187;)&#8211; y determinados postulados y creaciones de los	futuristas italianos</p><p>	</p><div id="sdfootnote10"><p>	<a class="sdfootnotesym" name="sdfootnote10sym" href="#sdfootnote10anc">10</a>	<i>Las	extraordinarias aventuras de Mr. West en el pa&#237;s de los	bolcheviques</i>	(1924), de Lev Kulechov; <i>Miss	Mend</i>	(1926), de Boris Barnet y Fyodor Ozep; <i>El	diario de Glumov</i>	(1923), primer film (corto) de Eisenstein; <i>Las	aventuras de Octobrina</i>	(1925), de Grigori Kozintsev y Leonid Trauberg</p><div id="sdfootnote11"><p>	Paolo	Bertetto: &#171;La velocit&#224; del futuro&#187;; Pietro Montani: &#171;Il	futurismo russo e l'avanguardia cinematografica sovietica:	un'estetica dell'ibridazione&#187;, en P. Bertetto y Germano Celant	(ed.) VeloCitt&#224;:	Cinema &amp; Futurismo</i></span>.	Mil&#225;n: Bompiani, 1986; Standish D. Lawder: &#171;Eisenstein and	Constructivism&#187;, en P. Adams Sitney (ed.), </span>The	Essential Cinema</i></span>.	Nueva York: Anthology Film Archives/New York University Press, 1975.</span></p><div id="sdfootnote12"><p>	</span>Gene	Youngblood: </span>Expanded	Cinema</i></span>.	</span>Nueva	York: Dutton; Londres: Studio Vista, 1970. Salvo cuando se precisa	lo contrario, todas las citas de Youngblood son de este libro</p><div id="sdfootnote13"><p>	</span>Peter	Broderick: &#171;Since Cinema Expanded: Interview with Gene Youngblood&#187;,	</span>Millennium	Film Journal</i></span>,	n&#250;m. 16/17/18, Nueva York (oto&#241;o-invierno 1986-1987).</span></p><div id="sdfootnote14"><p>	Cinemat&#243;grafo	gigante de los Lumi&#232;re (1900), cineorama de Grimoin-Sanson (1900),	autoestereoscopio de Filoteo Alberini (1911), polivisi&#243;n de Gance	(1927), multiproyecciones de Fischinger (1926-1927), los m&#250;ltiples	ensayos de combinaci&#243;n del cine con el teatro, el arte	luminocin&#233;tico, etc</p><div id="sdfootnote15"><p>	</span>Fernand	L&#233;ger, &#171;&#192; propos du cin&#233;ma&#187;, </span>Cahiers	d&#8217;art</i></span>,	n&#250;m. 3-4, Par&#237;s,  1933.</span></p><div id="sdfootnote16"><p>	</span>Gene	Youngblood: &#171;A Medium Matures: Video and the Cinematic Enterprise&#187;,	</span>The	Second Link: Viewpoints on Video in the Eighties</i></span>.	Walter Phillips Gallery, Banff, Alberta (Canad&#225;), 1983. </span><div id="sdfootnote17"><p>	</span>Raymond	Bellour: &#171;Entretien avec Bill Viola: L'espace &#224; pleine dent&#187;, en	Jean-Paul Fargier (ed.), </span>O&#249;	va la vid&#233;o</i></span>.	Par&#237;s: Cahiers du Cin&#233;ma-Hors S&#233;rie, Editions de l'Etoile, 1986.</span></p><div id="sdfootnote18"><p>	</span>S.S.	Fisher; M. McGreevy; J. Humphries ; W. Robinett (Aerospace Human	Factors Research Division, NASA Ames Research Center): &#171;Virtual	Environment Display System&#187;, </span>Proceedings	ACM 1986 Workshop on Interactive 3D Graphics</i></span>,	Chapel Hill, North Carolina, Estados Unidos (octubre 1986).</span></p><div id="sdfootnote19"><p>	Expresi&#243;n	primero tomada como si de una idea recibida se tratara, luego	debatida y hasta ahuyentada&#8230; Y, hoy, de nuevo en el candelero con	una ligereza desarmante</p><div id="sdfootnote20"><p>	Gilles Deleuze: <i>Cin&#233;ma	2: L'Image-temps</i>. Par&#237;s:	Minuit, 1985</p><p>	</p><div id="sdfootnote21"><p>	Acu&#241;ada por el cr&#237;tico	Jean-Christophe Royoux, dicha expresi&#243;n conlleva complejas	referencias cruzadas en las que no puedo entrar aqu&#237;. V&#233;ase	por ejemplo su ensayo &#171;D'une boucle &#224; l'autre: activit&#233;	artistque, post-cin&#233;ma et t&#233;l&#233;vision&#187;, en </span>Journal	de l'Institut Fran&#231;ais de Bilbao</i></span>,	n&#250;m.  </span>8; pp.	54-86(abril 1988). Incluye traducci&#243;n al castellano</p><div id="sdfootnote22"><p>	Seg&#250;n han insinuado algunos	observadores del fen&#243;meno DV, el primer formato asequible de v&#237;deo	digital habr&#237;a escapado al control de los departamentos de	marketing de la industria electr&#243;nica, ofreciendo una tecnolog&#237;a	harto avanzada y consistente a un precio comparativamente bajo</p><p>	</p><div title="footer"><p><p><sdfield type=PAGE subtype=RANDOM format=PAGE>22</sdfield></p>	</span>	</p>"
	},

]