[
	{
		"pid" : 0,
		"p" : "<p></a><b>La instalaci&#243;n como hipermedi</b>o<b>(una aproximaci&#243;n</b><b>)</b><!-- Eugeni tamnbi&#233;n comenta aqu&#237; de no ponerlo como nota. Encontrar manera distinta de a&#241;adirlo. --></p><p>&#8226;<i>M&#250;ltiplas Dimens&#245;es</i>. Lisboa:Centro Cultural de Bel&#233;m, 1994 (primera versi&#243;n del texto)[cat&#225;logo de exposici&#243;n] </p><p>&#8226;Claudia Giannetti (ed.): <i>Media Culture</i>. Barcelona: ACC L&#8217;Angelot, 1995</p><p>Estas p&#225;ginas se ocupan de un tema un tanto dif&#237;cil de cercar; aunque, acaso, no del todo imposible. Presumi&#233;ndolo as&#237;, me referir&#233;, en general, a la noci&#243;n de instalaci&#243;n y, m&#225;s en particular, a aquellas formas de instalaci&#243;n donde los medios y tecnolog&#237;as de la imagen o audiovisuales constituyen un elemento esencial. As&#237;, puesto que la expresi&#243;n &#171;instalaci&#243;n multimedia&#187; quiz&#225; no siempre fuera la m&#225;s adecuada, precisa y clarificadora, probar&#233; de circunscribir mi premisa a lo que denominar&#233;, indistintamente, instalaci&#243;n audiovisual o instalaci&#243;n-imagen</p>"
	},
	{
		"pid" : 1,
		"p" : "<p>Creo que estas precisiones previas no estar&#225;n de m&#225;s, dado el vasto uso y abuso del concepto de instalaci&#243;n en el arte de los &#250;ltimos a&#241;os.Pues, al margen de los usos del t&#233;rmino decididamente impropios, creo que pueden distinguirse al menos dos vertientes del arte de instalaci&#243;n: una que desciende m&#225;s directamente de la tradici&#243;n de las artes pl&#225;sticas, constituy&#233;ndose en dilataci&#243;n o despliegue de la pintura o la escultura (o tambi&#233;n, por qu&#233; no, de la fotograf&#237;a u otros medios o disciplinas); y otra que se sumerge de lleno en los&#171;nuevos&#187; medios, tecnolog&#237;as y planteamientos que el arte ha ido explorando a lo largo del siglo XX, convirtiendo en ret&#243;ricos o formulistas los apelativos m&#225;s o menos tradicionales &#8211;bellas artes, artes pl&#225;sticas, artes visuales incluso&#8211; que acotaban su&#225;mbito. No obstante, puesto que en arte no siempre se cumplen los esquemas, entre el arte de los medios y multimedios hallamos a veces unos planteamientos esencialmente pl&#225;sticos y formales, as&#237; como ciertas instalaciones &#171;pl&#225;sticas&#187; (por llamarlas as&#237;tentativamente) que pueden compartir prop&#243;sitos y tem&#225;ticas afines a los de otras obras de rotunda concepci&#243;n multimedia</p>"
	},
	{
		"pid" : 2,
		"p" : "<p>Por otra parte, aunque el artista-instalador existe &#8211;en el sentido de artista &#250;nica o principalmente dedicado a esta pr&#225;ctica&#8211;, es mucho m&#225;s usual la contrafigura del artista que elige entre unas u otras formas, formatos, medios, soportes, en funci&#243;n de cada proyecto en concreto, de su inter&#233;s por explorar distintas opciones creativas, y de los circuitos diversos por los que puede dar salida a las mismas. Adem&#225;s, fuera de compartir unos determinados medios y recursos, las diferencias superan a las afinidades si se pretende considerar en bloque el arte de la instalaci&#243;n, o cualquier variedad que se deduzca de la mayor implicaci&#243;n de un elemento, medio o dispositivo en particular. Y, sin embargo, el t&#233;rmino que da nombre gen&#233;rico a esta pluralidad de pr&#225;cticas cuenta ya con una entrada propia en el l&#233;xico del arte contempor&#225;neo</p>"
	},
	{
		"pid" : 3,
		"p" : "<p>Instalaci&#243;n: una palabra bien prosaica. Dir&#237;ase que m&#225;s apropiada para los gremios de la electricidad, la fontaner&#237;a o la carpinter&#237;a, m&#225;s que para nombrar un arte. Pero, &#191;de d&#243;nde surgi&#243; el t&#233;rmino?Una fuente nos indica que el primer artista que probablemente lo us&#243;fue Dan Flavin, conocido por sus obras (&#191;esculturas?, &#191;objetos de luz?, &#191;ambientes?&#8230; &#161;Instalaciones!) con tubos de ne&#243;n de diversos tama&#241;os y colores (Johnstone, 1985). As&#237; que, despu&#233;s de todo, la electricidad estuvo de por medio. La electricidad y, probablemente, el espacio: el arte de la instalaci&#243;n se desarrolla, efectivamente, desde el momento en que proliferan espacios de grandes dimensiones para la exhibici&#243;n del arte contempor&#225;neo &#8211;espacios fabriles reciclados en galer&#237;as o espacios alternativos, espaciosos museos, etc.&#8211;, que fomentan igualmente la escultura a gran escala y las piezas creadas in situ (Wiegand, 1978)</p>"
	},
	{
		"pid" : 4,
		"p" : "<p>con la instalaci&#243;n entendida como una forma de arte en s&#237;, aunque ayuda a comprender lo que el t&#233;rmino implica esencialmente: un despliegue de varios elementos en el espacio tridimensional y en las coordenadas del tiempo, una articulaci&#243;n idiosincr&#225;sica de tales y heterog&#233;neos elementos en un conjunto unitario, un concepto no-can&#243;nico m&#225;s que un formato, una t&#233;cnica, un estilo o una tendencia</p>"
	},
	{
		"pid" : 5,
		"p" : "<p>La instalaci&#243;n es as&#237; una forma de arte muy propia de nuestro tiempo, donde confluyen lo viejo y lo nuevo, la tradici&#243;n y la innovaci&#243;n, convocando a todos los medios posibles. Sin embargo, con todo cuanto he apuntado hasta aqu&#237;, apenas creo haber alcanzado una definici&#243;n imprecisa sobre noci&#243;n tan huidiza. Contrastando lo que otros han escrito sobre el tema, pronto se deduce que, efectivamente, una noci&#243;n tal dif&#237;cilmente admite una definici&#243;n un&#237;voca. Como muchas otras cosas que resultan novedosas, el arte de instalaci&#243;n es una idea, pr&#225;ctica o tipo de obra carente de una definici&#243;n o planteamiento estricto, y hasta de un cierto consenso respecto a su naturaleza. [&#8230;] Creer en la irrelevancia de las categor&#237;as predefinidas es consustancial a la pr&#225;ctica art&#237;stica de la instalaci&#243;n. Justamente, parte de lo que se pretende es una liberaci&#243;n de los encorsetamientos de la forma, y un distanciamiento de las jerarqu&#237;as de la tradici&#243;n.&#187;(Handy, 1989).</span></p>"
	},
	{
		"pid" : 6,
		"p" : "<p>Ren&#233;Payant, adem&#225;s de resaltar igualmente la indefinici&#243;n del t&#233;rmino y lo poco que dice sobre piezas tan diversas como las as&#237;identificadas, sugiri&#243; &#171;que al dar nombre a unas obras, el t&#233;rmino se&#241;ala m&#225;s bien un deseo en las mismas. Un deseo de diferenciarse:m&#225;s precisamente de mantener una distancia cr&#237;tica en relaci&#243;n con los principios modernistas de la pr&#225;ctica art&#237;stica. Se podr&#237;a decir pues que la instalaci&#243;n es el nombre postmoderno de la obra art&#237;stica. El uso confirma que el t&#233;rmino subraya esa voluntad de alejamiento, ese despu&#233;s&#187;(Payant, 1986). </span>En consecuencia, como la posmodernidad misma, y parafraseando la ocurrencia de Lyotard, necesitamos a&#250;n un manual del tipo &#171;la instalaci&#243;n explicada a los ni&#241;os&#187;, que vaya m&#225;s all&#225; de la realidad admitida de que el concepto de instalaci&#243;n var&#237;a de un artista a otro, de un planteamiento a otro, y de obra en obra; lo que justificar&#237;a que el arte de la instalaci&#243;n solo fuera abordable en forma de grueso &#225;lbum ilustrado</p>"
	},
	{
		"pid" : 7,
		"p" : "<p>Sin embargo, esta circunstancia posmoderna del arte de la instalaci&#243;n no est&#225; re&#241;ida, en opini&#243;n de Merike Talve, con el hecho de que pueda simult&#225;neamente ser considerado como &#171;la &#250;nica de las formas contempor&#225;neas de arte que soporta directamente el peso de la vanguardia&#187;, tanto por recrear una interrelaci&#243;n entre el arte y la realidad cotidiana &#8211;a trav&#233;s de los elementos y cosas que extrae del prosaico entorno&#8211;, como porque, muy a menudo, comporta un compromiso cr&#237;tico y &#233;tico caracter&#237;stico de las antagon&#237;as vanguardistas. Aunque, como consecuencia de todo ello &#8211;del peso de la vanguardia transformado en peso de la historia&#8211;, </span>&#8220;[la instalaci&#243;n] tambi&#233;n se sit&#250;a a unos pasos de ser neutralizada por esta [nuestra] sociedad: una condici&#243;n familiar y temida por el movimiento vanguardista en sus &#250;ltimos a&#241;os[Talve, 1986].</span></p>"
	},
	{
		"pid" : 8,
		"p" : "<p>Otra de las paradojas consustanciales al arte de la instalaci&#243;n estriba en su naturaleza bastarda. La instalaci&#243;n, ha venido a decirse una y otra vez, ser&#237;a el paso siguiente a la escultura. La escultura elevada a un plano dimensional superior, a una cuarta dimensi&#243;n que inevitablemente asociamos al a&#241;adido de un factor tiempo. Dos aspectos que redundan en la temporalidad de la instalaci&#243;n son: en primer lugar, la circunstancia frecuentemente ef&#237;mera o puntual en la que una instalaci&#243;n cobra cuerpo; y, en segundo lugar, la temporalidad inherente al recorrido-lectura que le corresponde seguir (o m&#225;s bien decidir) al espectador, aspecto propiciado por el despliegue organizado de los distintos elementos en el espacio, siempre seg&#250;n una cierta trama o premisa que los ata, de manera m&#225;s o menos ostensible, a un concepto y conjunto &#250;nico. Por supuesto, la inclusi&#243;n de registros visuales y/o sonoros acrecienta aun esta dimensi&#243;n temporal de la obra, y afecta as&#237; a nuestra forma de percibirla, si bien la dedicaci&#243;n que nos requiere puede ser m&#225;s o menos breve o prolongada, seg&#250;n la mayor o menor complejidad de los elementos que intervienen; seg&#250;n el grado de narratividad, discursividad, variedad o interactividad que introduce;y, obviamente, seg&#250;n el &#233;xito o el fracaso en la resoluci&#243;n global del conjunto</p>"
	},
	{
		"pid" : 9,
		"p" : "<p>Se podr&#237;a decir igualmente que es un arte que toma cuerpo en una dimensi&#243;n fractal: acaso entre la escultura y el teatro, por aludir as&#237; a un conocido argumento esgrimido en pro y en contra de ciertas evoluciones, &#171;pasajes&#187;, en la escultura moderna (Krauss, 1977, versus Fried, 1967). A menudo, efectivamente, la instalaci&#243;n cobra un car&#225;cter dramat&#250;rgico, de puesta en escena. El espectador, en algunos casos, puede incluso activar por s&#237; mismo la &#171;maquinaria esc&#233;nica&#187; que ello comporta. M&#225;s a&#250;n: el espectador se convierte en habitante de este escenario vac&#237;o; quiz&#225; no en actor, propiamente hablando, pero s&#237; en algo m&#225;s que un figurante. La evoluci&#243;n de esta peculiar forma de arte se inclina as&#237;, decididamente, del lado de esa teatralidad que Fried reprobaba en las&#171;estructuras primarias&#187; de los minimalistas, y que Krauss, en cambio, ratifica y reconsidera diez a&#241;os despu&#233;s, abarcando del arte cin&#233;tico y lum&#237;nico al arte de performance, y del arte del entorno al concepto de instalaci&#243;n que se insin&#250;a con el <i>live/taped video corridor </i>(1968-1970)de Bruce Nauman, obra que ilustra la portada del libro y los concluyentes razonamientos de uno de sus cap&#237;tulos. (Siendo esta, por otra parte, la &#250;nica obra referida como &#171;instalaci&#243;n&#187; en todo el libro de Krauss, considerada obra de referencia en lo que concierne a la escultura contempor&#225;nea, encuentro ah&#237; un indicio que podr&#237;a ratificar una hip&#243;tesis m&#237;a: que la divulgaci&#243;n alcanzada posteriormente por dicho concepto se debe sobremanera a la intensa exploraci&#243;n del mismo en combinaci&#243;n con el film, el v&#237;deo y otras tecnolog&#237;as de la imagen, como se puede comprobar en la literatura de la &#233;poca especializada en las pr&#225;cticas experimentales con dichos medios, donde el t&#233;rmino era ya de manejo harto corriente)</p>"
	},
	{
		"pid" : 10,
		"p" : "<p>El dilema del arte de la instalaci&#243;n, en raz&#243;n de esta naturaleza suya bastarda, estriba en permanecer o perecer; regresar a la escultura, al objeto, o agotarse en el acto/evento temporal, ef&#237;mero o iterativo, de su corporeidad instalada. El artista Vito Acconci, en uno de sus perspicaces escritos, se refiere a esta cuesti&#243;n a prop&#243;sito de la videoinstalaci&#243;n y de las propias paradojas existenciales del v&#237;deo(arte), aunque evocando igualmente las m&#225;s gen&#233;ricas del arte y sus contestatarias vanguardias en el siglo XX.Y puesto que Acconci habla, dir&#237;amos, desde dentro, ello hace doblemente incisivos sus comentarios: &#171;</span>El escultor, [&#8230;] por mucho que pretenda tener otras intenciones, est&#225;siempre comprometido en un acto de conservadurismo; aunque el medio pueda ser una burla aparente de las tradiciones, el fin es el m&#225;s tradicional, el m&#225;s conservador de todos: crear el ser que se niega a morir. El escultor, pues, que trata de complicar este argumento, el escultor que incorpora el v&#237;deo en su objeto o instalaci&#243;n, podr&#237;a ser una persona que teme quedarse anticuada, una persona a quien le incomoda agarrarse tan fuertemente al pasado&#187;(Acconci, 1984).</span></p>"
	},
	{
		"pid" : 11,
		"p" : "<p>Las actitudes que responden a tal dilema van de un extremo al otro:ciertos artistas-instaladores prefieren crear en cada ocasi&#243;n una nueva pieza, a veces en funci&#243;n de las caracter&#237;sticas particulares del lugar y contexto de su exhibici&#243;n; otros, en cambio, las proyectan con todo detalle, de manera que puedan ser reconstruidas exactamente en circunstancias y espacios diversos; otros m&#225;s readaptan la obra en funci&#243;n de su ubicaci&#243;n, o incluso la modifican sustancialmente y generan sucesivas versiones. Pero estos h&#225;bitos no solo var&#237;an de un artista a otro, sino tambi&#233;n con el paso del tiempo y la implantaci&#243;n de nuevos sistemas tecnol&#243;gicos:los reproductores de videodisco est&#225;n sustituyendo con ventaja a los magnetoscopios, los ordenadores a los dispositivos de retardo temporal en ciertas instalaciones de v&#237;deo en circuito cerrado, la proyecci&#243;n v&#237;deo a la cinematogr&#225;fica en algunos casos&#8230; Y, en otro orden de cosas, el coleccionismo muse&#237;stico y privado ha propiciado las ediciones limitadas &#8211;con sus pruebas de artista y sus marchantes&#8211;, conviviendo con la &#171;distribuci&#243;n directa&#187; de manos de los artistas o de organizaciones no lucrativas, en r&#233;gimen de pago-por-exhibici&#243;n</p>"
	},
	{
		"pid" : 12,
		"p" : "<p>La instalaci&#243;n es, por excelencia, un arte de la met&#225;fora. El despliegue en el espacio de sus diversos elementos &#8211;objetos, im&#225;genes, sonidos, textos, etc.&#8211; cumple a menudo un papel asociativo m&#225;s o menos obvio: construye una escena, un decorado, una escenograf&#237;a que quiere ser habitada y vagabundeada por el espectador. Y la misma definici&#243;n o ilustraci&#243;n de lo que una instalaci&#243;n puede decirse que sea, a menudo invita a dar rienda suelta a las met&#225;foras. Francesc Torres, un artista que ha desarrollado una conspicua trayectoria &#171;en este elusivo campo&#187;(seg&#250;n sus propias palabras), ha sintetizado en los conceptos de narratividad y collage los rasgos m&#225;s frecuentes del arte de la instalaci&#243;n o, m&#225;s espec&#237;ficamente, de la instalaci&#243;n multimedia, que para Torres constituye la quintaesencia de dicho arte: &#171;El factor fundamentalmente definitorio de la instalaci&#243;n es su flexibilidad formal y su capacidad de incorporar nuevos medios y estrategias est&#233;ticas a medida que aparecen, y al mismo tiempo establecer puentes con otras disciplinas ya consolidadas.&#187; [Torres, 1990]</p>"
	},
	{
		"pid" : 13,
		"p" : "<p>Para Torres, la instalaci&#243;n es una forma de collage multidimensional, puesto que adopta sus mismas &#171;estrategias de descontextualizaci&#243;n y recontextualizaci&#243;n, apropiaci&#243;n y acumulaci&#243;n de sedimentos discursivos&#187;. En la saga a&#250;n por escribir del arte de la instalaci&#243;n, parece que uno de sus ramales m&#225;s evidentes ser&#237;a, efectivamente, el que nos conduce del collage a su expansi&#243;n en el<i>assemblage</i>(la adquisici&#243;n de volumen) y los <i>environments</i>, ambientes o ambientaciones, manifestaciones de un arte del entorno ya muy pr&#243;ximo al concepto de instalaci&#243;n al que nos referimos aqu&#237;(pero sin conseguir cercarlo del todo). Al respecto, Torres a&#241;ade que &#171;[el collage] es a la pintura lo que la instalaci&#243;n es a la escultura&#187;; y a este mismo referente acude nuevamente al considerar el componente literario o narrativo de la instalaci&#243;n, la cual concibe, seg&#250;n ha expresado en otras ocasiones, como un libro esculpido: &#171;Como un libro, la instalaci&#243;n puede constar de un n&#250;mero espec&#237;fico de cap&#237;tulos o de una trama argumental o conceptual determinada. Sin embargo, al rev&#233;s que el libro, la lectura de la instalaci&#243;n depende esencialmente de la ordenaci&#243;n que el espectador haga de sus componentes. [&#8230;] El espacio a utilizar es el equivalente tridimensional de la hoja de papel en blanco en el que el paseo de la mirada se transforma en el paseo del cuerpo por un entorno le&#237;ble.&#187; [Torres, 1990]</p>"
	},
	{
		"pid" : 14,
		"p" : "<p>Recapitulando met&#225;foras y referentes, las instalaciones tienen que ver, pues, con la escultura, aunque m&#225;s bien en el sentido de lo que otro artista, Les Levine, ha llamado &#171;escultura de medios&#187; (<i>media sculpture</i>); tienen que ver con el teatro y con el dise&#241;o escenogr&#225;fico, la puesta en escena y el decorado; tienen que ver con la arquitectura, la construcci&#243;n y deconstrucci&#243;n; con el cortar-y-pegar y las des- y recontextualizaciones del collage y sus prolongaciones; con el relato y con las tortuosas estructuras de los contrarrelatos vanguardistas, con las l&#237;neas y entrel&#237;neas del texto; con pol&#237;pticos y polivisiones, multiplicaciones y frisos de im&#225;genes; con los panoramas, los dioramas y todas las pirotecnias audiovisuales que desfilan sucesivamente por las ferias universales y otras galas del progreso</p>"
	},
	{
		"pid" : 15,
		"p" : "<p>A&#241;ado a&#250;n, de cu&#241;o propio, otra met&#225;fora, la del t&#237;tulo que he dado a este texto, arrebatando al lenguaje de la inform&#225;tica su exclusiva sobre el concepto de hipermedio, as&#237; como los lenguajes de la informaci&#243;n y de la inform&#225;tica se han adue&#241;ado de una palabra af&#237;n, <i>multimedia</i>, de honda raigambre art&#237;stica. En los &#250;ltimos treinta a&#241;os, en efecto, se ha hablado abundantemente de arte y obras multimedia, intermedia, electromedia o <i>mixed-media</i>(que todo viene a ser lo mismo), as&#237; como, m&#225;s recientemente, de arte de y con los medios, <i>media art</i>, sobreentendi&#233;ndose que se alude a los medios y tecnolog&#237;as de informaci&#243;n, comunicaci&#243;n, ocio y entretenimiento que configuran el llamado paisaje o entorno medi&#225;tico</p>"
	},
	{
		"pid" : 16,
		"p" : "<p>Sin embargo, el sincretismo multimedia cuenta por otra parte con todo un reguero de ideas y manifestaciones precursoras, seg&#250;n lo consignaron con acierto dos conocidos portavoces de Fluxus, Dick Higgins y George Maciunas, en sus escritos o diagramas; ya fuera a prop&#243;sito de los<i>intermedia</i>, vocablo que Higgins dice haber rescatado de entre los escritos de Samuel Taylor Coleridge (Higgins, 1978), o de las <i>artes expandidas</i> (Maciunas, 1966/1978), una expansi&#243;n a la que se volver&#225; repetidamente en sucesivas p&#225;ginas</p>"
	},
	{
		"pid" : 17,
		"p" : "<p>Sugiriendo la combinaci&#243;n e intersecci&#243;n de medios, tecnolog&#237;as y disciplinas dispares, dichos conceptos pueden abarcar desde la poes&#237;a visual, un entre-medio/inter-media por excelencia (cuyos antecedentes se han rastreado en las civilizaciones cl&#225;sicas), hasta el ordenador multimedia, esa &#171;m&#225;quina universal&#187; (Youngblood, 1987) que a&#250;n conocemos en el estadio de prototipo un tanto rudimentario, si nos atenemos a la hoy tan abundante literatura futurol&#243;gica al respecto.As&#237;, en una acepci&#243;n comprehensiva del t&#233;rmino, multimedia define, ante todo, un entorno &#8211;en el sentido inform&#225;tico de la palabra&#8211;, del que artistas y usuarios en general toman las herramientas y elementos adecuados a su prop&#243;sito</p>"
	},
	{
		"pid" : 18,
		"p" : "<p>El hipermedio, en inform&#225;tica, define a su vez la capacidad de acceder a varias informaciones por elecci&#243;n, y su vinculaci&#243;n inmediata con distintos medios o fuentes de datos (imagen fija o cin&#233;tica, sonido, texto, etc.). Ante el texto, se abren entonces los senderos m&#250;ltiples del hipertexto; ante el libro, los del libro electr&#243;nico. La instalaci&#243;n, de otro modo, al consumar un anhelo secular de s&#237;ntesis y compenetraci&#243;n de las artes y los medios, podr&#237;a entonces entenderse como un hiperarte o hipermedio donde cada elemento remite a otro y la parte, al todo, solicitando la participaci&#243;n del espectador para la resoluci&#243;n del jerogl&#237;fico</p>"
	},
	{
		"pid" : 19,
		"p" : "<p>El arte de la instalaci&#243;n tiene diversos antecedentes a lo largo del siglo: desde el futurismo, dad&#225; y el constructivismo, hasta el arte minimalista, pop y conceptual, por apenas desplegar una parte del abanico. No siempre fueron obras que hoy identificamos inmediatamente con aquel concepto, sino que incidieron m&#225;s bien en aspectos vinculados: por ejemplo, maquetas y dise&#241;os para teatros mec&#225;nicos o electromec&#225;nicos, decorados o ambientaciones escenogr&#225;ficas, esculturas que estallan en el espacio, o el &#233;nfasis en el espacio mismo como sensaci&#243;n inmat&#233;rica. Basten algunos nombres se&#241;eros en la historia del arte moderno: Lissitzky, Schwitters, Duchamp, Fontana, Klein, etc. Sin embargo, puesto que de lo que aqu&#237; se trata es m&#225;s particularmente de la vinculaci&#243;n de los medios y tecnolog&#237;as de la imagen (y, por a&#241;adidura, el sonido), con nociones de instalaci&#243;n, escultura, objeto, dispositivo, entorno y arquitectura, conviene considerar igualmente, o a&#250;n m&#225;s, otras tradiciones o l&#237;neas geneal&#243;gicas en las que la imagen y la imagen cin&#233;tica cobran nuevas dimensiones</p>"
	},
	{
		"pid" : 20,
		"p" : "<p>oramas&#187;en el siglo XIX: primero el panorama, cuya invenci&#243;n se atribuye al pintor escoc&#233;s Robert Barker en 1787; seguidamente el diorama de Daguerre, pintor antes que pionero de la fotograf&#237;a, en 1822; m&#225;s toda una ristra de imitaciones, variantes e hibridaciones (los panoramas llamados m&#243;viles o animados), que ofrec&#237;an im&#225;genes pict&#243;ricas m&#225;s-grandes-que-la-vida, representaciones de un detallado realismo, rotondas o enormes lienzos de espectacular efecto, cuyos temas predilectos eran los paisajes m&#225;s o menos lejanos y la evocaci&#243;n de hitos hist&#243;ricos; en definitiva, los viajes en el tiempo y el espacio</p>"
	},
	{
		"pid" : 21,
		"p" : "<p>El cine y la fotograf&#237;a, al cabo del siglo, insisten sobre lo mismo.Los primeros sistemas de proyecci&#243;n cinematogr&#225;fica sobre pantalla circular de 360 grados de los que se tiene noticia, datan de los inicios mismos del cine, aunque el &#250;nico que pas&#243; del estadio de un dise&#241;o patentado fue el ef&#237;mero, por accidentado, <i>Cin&#233;orama-Ballon</i>de Raoul Grimoin-Sanson, presentado en la Exposici&#243;n Universal de Par&#237;s de 1900. Este dispositivo de proyecciones m&#250;ltiples, ofrec&#237;a a sus visitantes un simulacro de viaje en globo, con vistas panor&#225;micas intercaladas de diversas ciudades europeas. En la misma feria, por otro lado, los hermanos Lumi&#232;re presentaron el<i>Cin&#233;matographe g&#233;ant</i>y el <i>Photorama</i>, un panorama de proyecciones fotogr&#225;ficas sobre pantalla circular, mientras que el <i>Th&#233;&#226;troscope</i>de Alfred Br&#233;ard, seg&#250;n las cr&#243;nicas, combinaba m&#250;ltiples proyecciones de im&#225;genes coloreadas con acompa&#241;amiento sonoro. As&#237;, desde un principio, la imagen cinematogr&#225;fica ha querido crecer y multiplicarse. Es decir, aumentar de tama&#241;o y aunarse con otras.Tambi&#233;n: ganar relieve, apelar a todos los sentidos, tornarse envolvente</p>"
	},
	{
		"pid" : 22,
		"p" : "<p>Aquellos dispositivos, y otros subsiguientes &#8211;como los <i>Hale&#8217;s Tours</i>, atracci&#243;n cinematogr&#225;fica presentada en la Exposici&#243;n de San Luis de 1904, que ofrec&#237;a un simulacro de viaje ferroviario&#8211; prefiguran ya toda una sucesi&#243;n de sistemas espectaculares que tienen como h&#225;bitat propio las ferias universales, los parques tem&#225;ticos y los ahora llamados medi&#225;ticos, o las modernas &#171;ciudades de las ciencias&#187;.Ciertamente, el arte de la instalaci&#243;n se sit&#250;a un tanto a contrapelo de esta tradici&#243;n, donde lo que prevalece es, usualmente, el alarde tecnol&#243;gico propio de cada momento, combinado con la vieja premisa de instruir deleitando. Y, sin embargo, tal como No&#235;l Burch ha sugerido a prop&#243;sito de aquellos primitivos entornos de imagen, puede vislumbrarse cierta cercan&#237;a con &#171;los &#8220;rodeos&#8221;audiovisuales del modernismo&#187; [Burch, 1987]. Es decir, con proyecciones diseminadas en el espacio, c&#237;rculos de monitores de v&#237;deo o realidades virtuales inmersivas</p>"
	},
	{
		"pid" : 23,
		"p" : "<p>Otra vertiente a considerar desde un punto de vista hist&#243;rico, ha antepuesto los prefijos poli- o multi- a la unidad de la visi&#243;n, la imagen y sus medios, para designar el paso del singular al plural de las fuentes y elementos implicados. As&#237;, los futuristas italianos, en su anticipador Manifiesto de la Cinematograf&#237;a Futurista (1916), han resaltado la noci&#243;n de poliexpresividad y han apuntado ya hacia la multiplicaci&#243;n y simultaneidad de las im&#225;genes. L&#225;szl&#243;Moholy-Nagy, algunos a&#241;os m&#225;s tarde, concibi&#243; el proyecto de un<i>policinema</i>o <i>cine simult&#225;neo</i>(expuesto en su libro <i>Malerei, Fotografie, Film</i>, de 1925), con proyecciones m&#250;ltiples sobre una pantalla c&#243;ncava, donde las im&#225;genes se desplazar&#237;an (mediante el uso de prismas), converger&#237;an ocasionalmente (por superposici&#243;n de las im&#225;genes proyectadas) y se reiterar&#237;an (mediante copias duplicadas de una misma pel&#237;cula proyectadas desfasadamente). Finalmente, <i>polivisi&#243;n</i>es el nombre que Abel Gance ha dado a su sistema de proyecci&#243;n y pantalla en tr&#237;ptico, introducido en la &#250;ltima parte de su <i>Napol&#233;on</i>(1927) y retomado, con Nelly Kaplan, como <i>Magirama</i>(1956). Y, con un nuevo &#237;mpetu desde los a&#241;os cincuenta &#8211;en particular, dentro de los &#225;mbitos del cine independiente y de vanguardia&#8211;, estas formas polivisuales, por otra parte deudoras de la tradici&#243;n de los pol&#237;pticos, se han extendido tambi&#233;n a la fotograf&#237;a (diaporamas en multivisi&#243;n) y a los medios audiovisuales electr&#243;nicos; tanto en formatos relativamente normalizados (los sistemas del tipo <i>videowall</i>, por ejemplo), como en otros de mayor idiosincrasia</p>"
	},
	{
		"pid" : 24,
		"p" : "<p>Por&#250;ltimo, en los a&#241;os sesenta surge la noci&#243;n de <i>expanded cinema</i>, cine expandido, que ha logrado una amplia divulgaci&#243;n a ra&#237;z de un hom&#243;nimo libro de Gene Youngblood (1970), pero que se encuentra ya en anteriores escritos de Stan Vanderbeek (1967), Jonas Mekas (1972) y Sheldon Renan (1967), referido a toda suerte de experiencias que constituyen una dilataci&#243;n del medio en muy diversos aspectos &#8211;proyecciones m&#250;ltiples, piezas ambientales, teatro de sombras, esculturas y espect&#225;culos cin&#233;tico-lum&#237;nicos, <i>light-shows</i>, combinados multimedia (film + danza, film + teatro, film + m&#250;sica, etc.), as&#237; como la exploraci&#243;n de nuevas tecnolog&#237;as como el v&#237;deo, el ordenador y la holograf&#237;a&#8211;; haci&#233;ndose eco de una tendencia general en el conjunto de las artes, hacia un crecimiento dimensional (pinturas <i>all-over</i>de Pollock, capilla de Rothko, assemblages, <i>environments</i>), y hacia un entrecruzamiento de los medios y disciplinas (pinturas<i>combine</i>de Rauschenberg, happenings, intermedia, m&#250;ltiples formas de arte tecnol&#243;gico) &#8211;en definitiva, hacia las artes expandidas, como las llamar&#237;a a su vez Maciunas&#8211;, en un tiempo particularmente rico en neologismos</p>"
	},
	{
		"pid" : 25,
		"p" : "<p>El arte de la instalaci&#243;n audiovisual tiene por su parte un vocabulario tan abundante y variado como los medios que convoca.Aunque una distinci&#243;n rigurosa entre los diversos t&#233;rminos y sus acepciones es, por falta de consenso, imposible, algunos de los m&#225;s usuales sugieren una variaci&#243;n de escala, de menos a m&#225;s, as&#237; como una gradaci&#243;n entre las obras que tienden a constituirse en un cuerpo s&#243;lido &#250;nico y aquellas otras en las que los diversos elementos se desperdigan en un amplio espacio; es decir, la gama que va del objeto y la escultura a la instalaci&#243;n y el entorno(<i>environment</i>o ambiente). Como prefijos o adjetivos, se les suman entonces las part&#237;culas que designan el rol mayor que cumple un determinado medio o sistema &#8211;film, foto, v&#237;deo, audio, holograf&#237;a, ordenador, etc.&#8211;, o la combinaci&#243;n de dos, m&#225;s o muchos: v&#237;deo, audio,<i>slide-tape</i>, multimedia. A veces, se precisa incluso si la imagen, o su fuente, es&#250;nica o m&#250;ltiple (proyecci&#243;n m&#250;ltiple, v&#237;deo multicanal o multimonitor); en otras, se resalta una determinada cualidad o caracter&#237;stica esencial de la pieza: por ejemplo, la interacci&#243;n, o el recurso a un dispositivo de circuito cerrado (o <i>live video</i>) en una instalaci&#243;n de v&#237;deo</p>"
	},
	{
		"pid" : 26,
		"p" : "<p>En las obras de instalaci&#243;n o escultura audiovisual, la imagen quiere adherirse a, anclarse en, confundirse con el espacio, la arquitectura y los objetos. Quiere ser, plenamente, parte del entorno &#8211;que usualmente es un interior, un espacio construido delimitado por cuatro paredes&#8211;, cuando no pretende crear, incluso, su propio entorno, un espacio donde solo cuenten las im&#225;genes (y los sonidos), cuyo s&#250;mmum ser&#237;a una realidad virtual hologr&#225;fica de relieve palpable</p>"
	},
	{
		"pid" : 27,
		"p" : "<p>Las instalaciones f&#237;lmicas, hoy una especie en aparente peligro de extinci&#243;n, se han decantado con frecuencia hacia la creaci&#243;n de ilusiones &#243;pticas, fantasmagor&#237;as, apariciones m&#225;gicas. Las im&#225;genes cinematogr&#225;ficas, entonces, tienden a evadirse de la pantalla, del rect&#225;ngulo, del marco (<i>frame</i>), para agarrarse a un cuerpo s&#243;lido que ejerce de pantalla. Las <i>movie pieces</i> que Robert Whitman ha realizado en 1964, pueden concebirse en este sentido como una de las primeras manifestaciones de instalaci&#243;n f&#237;lmica, al combinar objetos reales con la proyecci&#243;n o &#171;incrustaci&#243;n&#187; de im&#225;genes cin&#233;ticas; por ejemplo sobre una cabina de ducha (<i>Shower</i>), en el falso espejo de una mesa de tocador (<i>Dressing Table</i>) o en el interior de una bolsa de supermercado (<i>Shopping Bag</i>)</p>"
	},
	{
		"pid" : 28,
		"p" : "<p>Edmund Kuppel, en algunas de sus instalaciones, ha introducido propuestas similares, zarandeando el interior de las ventanas redondas de unas lavadoras con im&#225;genes de corrientes de agua diversas: mar, lago, r&#237;o, cascada (<i>Waschmaschinen</i>, 1972); o animando un reloj parado con el vaiv&#233;n de un p&#233;ndulo proyectado (<i>Die Uhr</i>, 1986). En <i>Die T&#252;r</i>(1971), un marco de puerta real perfila la imagen proyectada de una puerta abierta que, al aproximarse el visitante, se cierra &#171;en tus narices&#187; (seg&#250;n la gr&#225;fica descripci&#243;n de Kuppel) por la acci&#243;n de una c&#233;lula fotoel&#233;ctrica que delata al intruso</p>"
	},
	{
		"pid" : 29,
		"p" : "<p>Bill Lundberg amuebla el espacio con objetos reales pose&#237;dos por fantasmagor&#237;as visuales. En <i>Cardplayers</i>(1976), sobre la superficie de una mesa cuadrada, con cuatro sillas a su alrededor e iluminada por una proyecci&#243;n cinematogr&#225;fica que cae perpendicularmente, se desarrolla una &#171;animada&#187; partida de cartas:un juego de azar, un juego de manos. Otras de sus piezas posteriores se basan igualmente en proyecciones sobre objetos o sobre formas recortadas para acoplarse a la imagen, siempre representando situaciones cotidianas</p><p>Chris Welsby recrea paisajes y fen&#243;menos naturales, como las olas rompiendo contra una playa en seis proyecciones alineadas de la misma secuencia (<i>Shore Line</i>, 1976); o la lluvia cayendo sobre un plano suspendido en el aire, cercada por el haz luminoso/pluvioso de la proyecci&#243;n (<i>Rainfall</i>, 1983)</p><p>Otra vertiente distinta, muy propia de la direcci&#243;n que tom&#243; el cine de vanguardia en los a&#241;os setenta, tiene un car&#225;cter esencialmente autorreferencial. Paul Sharits, un artista-cineasta ya fallecido, realiz&#243; de 1971 a 1982 una serie de instalaciones con proyecciones m&#250;ltiples, transcribiendo muralmente la forma de una tira de pel&#237;cula de unos pocos fotogramas &#8211;t&#237;picamente, superficies de colores planos en constante cambio&#8211;, en una celebraci&#243;n de la pura materialidad de la pel&#237;cula: sus fotogramas, perforaciones, heridas, su deslizamiento entre los mecanismos de proyecci&#243;n, etc</p>"
	},
	{
		"pid" : 30,
		"p" : "<p>Distintamente, Takahiko Iimura ha realizado por aquella misma &#233;poca un n&#250;mero de instalaciones donde la pel&#237;cula misma, los proyectores u otros elementos del aparato f&#237;lmico son &#171;expuestos&#187; en el espacio como dispositivos escult&#243;ricos. A menudo con bucles de pel&#237;cula transparente y opaca, sus instalaciones establecen concisas dualidades cuyo objeto es el propio medio f&#237;lmico, restringido a unas dicotom&#237;as de luz/oscuridad, positivo/negativo, tiempo f&#237;lmico/real</p>"
	},
	{
		"pid" : 31,
		"p" : "<p></a>Anthony McCall, de 1973 a 1975, ha realizado una serie de films y films expandidos, tambi&#233;n con una dr&#225;stica reducci&#243;n a unos elementos m&#237;nimos, aunque con una peculiar sensualidad. Si sus &#171;films c&#243;nicos&#187; (<i>Line Describing a Cone</i>, 1973, y otros sucesivos) introducen un concepto escult&#243;rico que se traduce en la gradual formaci&#243;n o variaci&#243;n de inmateriales cuerpos c&#243;nicos de luz, entre el &#171;v&#233;rtice&#187; del proyector y la &#171;base&#187; o pantalla&#8211;donde la imagen que se proyecta/dibuja es una circunferencia&#8211;, McCall se aproxima a la noci&#243;n de instalaci&#243;n con <i>Long Film for Four Projectors</i>(1975), donde cuatro proyectores describen, desde los cuatro &#225;ngulos de un espacio, grandes planos triangulares de luz que oscilan y se entrecruzan entre sus cuatro paredes durante un lapso de seis horas</p>"
	},
	{
		"pid" : 32,
		"p" : "<p>Mientras que las pantallas circulares y otras envolturas a gran escala han sido el patrimonio propio de esa otra gran &#225;rea del cine expandido que tiene en las ferias universales su principal escaparate, algunos artistas han inventado sus propios aparatos y sistemas panor&#225;micos o envolventes. El distintivo principal de algunos de ellos reside en que no se trata ahora de una imagen circular, sino de una imagen que circula por el espacio que la envuelve, una imagen en circunvalaci&#243;n.Precedentes: las proyecciones m&#243;viles previstas por Moholy-Nagy para su <i>policinema</i>, los <i>move-movies</i>(1965) de Stan Vanderbeek, y, sobre todo, los <i>moving movies</i> realizados por Michael Naimark a finales de los a&#241;os setenta, donde, por ejemplo, la imagen proyectada se desplazaba por el espacio resiguiendo los movimientos de una toma panor&#225;mica del mismo recinto</p>"
	},
	{
		"pid" : 33,
		"p" : "<p>Un prop&#243;sito similar anima la m&#225;quina de visi&#243;n que Steve Farrer ha desarrollado a lo largo de la siguiente d&#233;cada: llamada precisamente<i>The Machine</i>, es c&#225;mara y proyector a la vez; registra y reproduce una imagen circular continua, impresionada a lo largo de un rollo de pel&#237;cula, de la longitud que se quiera, como si fuera un &#250;nico fotograma, el cual se desenvuelve en la proyecci&#243;n en una exploraci&#243;n horizontal rotatoria. &#191;Cu&#225;l es aqu&#237; el medio: cine o fotograf&#237;a? Digamos que es el &#171;entre-medio&#187;. Y algo similar ocurre con la obra de Edmund Kuppel, dedicado al reciclaje y bricolaje de viejos proyectores y otros trastos y chatarras, para crear m&#225;quinas de proyecci&#243;n, m&#225;quinas paracinematogr&#225;ficas, ruedas de im&#225;genes que parecen ap&#243;crifos juguetes y artefactos del precinema aumentados de tama&#241;o.Unas veces es el espectador quien debe maniobrar estos artilugios, animando as&#237; el desfile de unas secuencias fotogr&#225;ficas; otras, es la propia maquinaria de proyecci&#243;n la que se mueve, desplaza, gira, en inescrutables antojos mec&#225;nicos, como los propios de las m&#225;quinas solteras</p>"
	},
	{
		"pid" : 34,
		"p" : "<p>Si la instalaci&#243;n f&#237;lmica ha llegado a ser juzgada una pr&#225;ctica contra natura, una obstinaci&#243;n empe&#241;ada en forzar el medio, en desplegarlo en una dimensi&#243;n de la que carece, en darle una torsi&#243;n a la que se resiste, por lo contrario podr&#237;a decirse que la noci&#243;n de instalaci&#243;n es consustancial al v&#237;deo. Algo que se refleja en el car&#225;cter ubicuo que han adquirido sus componentes: mobiliario hogare&#241;o, dispositivo de vigilancia, <i>display</i>tecnol&#243;gico-mercantil. La instalaci&#243;n v&#237;deo, as&#237;, ha entrado fluidamente en nuestro entorno contempor&#225;neo, constituyendo una forma art&#237;stica de un particular atractivo, aunque a&#250;n acogida con visibles reticencias en los &#225;mbitos m&#225;s tradicionales del arte</p>"
	},
	{
		"pid" : 35,
		"p" : "<p>Un tipo de instalaciones que presentan ciertas peculiaridades propias son las basadas en el principio del circuito cerrado de televisi&#243;n(CCTV), en las que las se&#241;ales elaboradas por la c&#225;mara son transportadas directamente al terminal-pantalla. As&#237;, en el CCTV no interviene &#8211;al menos necesariamente&#8211; el proceso de grabaci&#243;n v&#237;deo; ni tampoco el magnetoscopio cumple, en principio, ning&#250;n papel. Una excepci&#243;n es, sin embargo, el dispositivo de desfase o retardo temporal (<i>time delay</i>), donde s&#237;interviene decisivamente la unidad de memoria v&#237;deo, el magnetoscopio. Se trata de intercalar dos magnetoscopios en el esquema fundamental (c&#225;mara-monitor) de un circuito cerrado simple:el primero con una funci&#243;n exclusiva de registro, el segundo exclusivamente para la lectura, con una misma cinta &#8211; empalmada en forma de bucle sin fin&#8211; circulando del uno al otro. De este modo, el primer magnetoscopio, conectado a la c&#225;mara, graba sobre dicha cinta las im&#225;genes, las cuales son recogidas y le&#237;das al llegar al segundo magnetoscopio (lector), con salida al monitor o pantalla. La mayor o menor distancia entre ambos magnetoscopios &#8211;entre sus respectivas cabezas de grabaci&#243;n y reproducci&#243;n&#8211; determina entonces el lapso del retardo temporal. Un dispositivo tal conduce a una formal simultaneidad de presente y pasado, de intrincado y sorprendente efecto</p>"
	},
	{
		"pid" : 36,
		"p" : "<p>Las primeras instalaciones, <i>environments</i>, piezas escult&#243;ricas que han involucrado el dispositivo de CCTV&#8211;obras de Aldo Tambellini, Wolf Vostell, Les Levine, Frank Gillette/ Ira Schneider en la segunda mitad de los a&#241;os sesenta&#8211;, buscaban una implicaci&#243;n del espectador en la propia obra, su copresencia o simb&#243;lica &#171;integraci&#243;n&#187; por medio del v&#237;deo como espejo electr&#243;nico, la encarnaci&#243;n del ideario contracultural del &#171;<i>You are Information</i>&#187;</p>"
	},
	{
		"pid" : 37,
		"p" : "<p>Bruce Nauman ha sido uno de los primeros artistas en especular sobre las m&#250;ltiples articulaciones posibles del dispositivo de CCTV en piezas de rotunda concepci&#243;n escult&#243;rica, sus <i>video corridors</i> y otras instalaciones del fin de los a&#241;os sesenta, que sugieren a su vez inc&#243;modas sensaciones de opresi&#243;n y vigilancia. En los a&#241;os setenta, Dan Graham, Peter Campus y Taka Iimura han desarrollado largos ciclos de instalaciones de este tipo, en las que el espectador mismo es protagonista y motor instant&#225;neo. Graham, en sus<i>architecture/video projects</i> de 1974-1978, investiga la yuxtaposici&#243;n del v&#237;deo y la televisi&#243;n con los c&#243;digos o funciones arquitect&#243;nicas de conexi&#243;n, mediaci&#243;n y separaci&#243;n de espacios, creando &#171;salas de espejos&#187; o instalaciones en recintos p&#250;blicos que determinan m&#250;ltiples e intrincadas percepciones espaciotemporales, mediante la combinaci&#243;n de espejos convencionales o de doble cara (transparente/opaca), del espejo electr&#243;nico del v&#237;deo en circuito cerrado, y del espejo temporal de las mismas im&#225;genes con un desfase de algunos segundos</p>"
	},
	{
		"pid" : 38,
		"p" : "<p>En las sutiles instalaciones de Campus, el espectador, al cruzar el umbral de un espacio, percibe en la pared colindante su propia entrada en el mismo, como si su alter ego acudiera a su encuentro(<i>dor</i>, 1975). O se ve desdoblado en su reflejo sobre una m&#225;mpara de vidrio suspendida en el espacio, y en la tenue imagen proyectada, sim&#233;tricamente invertida, que le devuelve el dispositivo de circuito cerrado sobre esa misma superficie (<i>Interface</i>, 1972)</p>"
	},
	{
		"pid" : 39,
		"p" : "<p>Estas instalaciones producen una experiencia siempre sorprendente e introspectiva. La pieza de Bill Viola titulada <i>He Weeps for You</i> (1976), ofrece una elegante met&#225;fora del proceso temporal de formaci&#243;n de la imagen electr&#243;nica. En una pantalla, el espectador se encuentra reflejado (proyectado) de manera deformada por su reflexi&#243;n en una gota de agua que desciende regularmente de un peque&#241;o tubo. Y la c&#225;mara enfoca el orificio del mismo, de manera que, al caer la gota por su propio peso, la imagen se esfuma &#8211;al tiempo que se produce un peque&#241;o estallido sonoro (pues la gota cae sobre un tambor)&#8211;, hasta que, paulatinamente, se forma una nueva gota y, con ella, una nueva imagen</p>"
	},
	{
		"pid" : 40,
		"p" : "<p>Otras instalaciones a&#250;nan las propiedades del circuito cerrado con los principios de la perspectiva curiosa o trampantojo. Buky Schwartz en sus <i>videoconstructions</i>, Peter Weibel en sus <i>videoplastiken</i>, Carles Pujol en piezas como <i>Islamey</i>(1983) o <i>Meninas</i>(1986), han llegado independientemente a propuestas similares:porciones pintadas de los muros, el suelo u otras superficies o elementos alzados en el espacio componen en el monitor figuras geom&#233;tricas, dibujos o s&#237;mbolos, en funci&#243;n del emplazamiento y punto de vista de la c&#225;mara. Y, como consecuencia de esta disposici&#243;n espacial, el espectador se encuentra inmerso en su recorrido del espacio en un rompecabezas de piezas sueltas, as&#237; como inmiscuido en la artificiosa imagen que dicha perspectiva reconstruye</p>"
	},
	{
		"pid" : 41,
		"p" : "<p>En<i>De La</i>(1971) de Michael Snow, y en las diversas instalaciones presentadas por Steina Vasulka con los t&#237;tulos de <i>Machine Vision</i> o <i>Allvision</i>(1978-1983), la c&#225;mara est&#225; integrada en un dispositivo escult&#243;rico-cin&#233;tico que transforma la percepci&#243;n del espacio que la envuelve. En el caso de <i>De La</i>, la c&#225;mara est&#225;montada sobre una escultura m&#243;vil (de hecho, se trata de la montura especial que Snow utiliz&#243; para el rodaje de su film <i>La R&#233;gion Centrale</i>), la cual es controlada por un sistema de impulsos sonoros previamente programados, que determinan el sentido, la direcci&#243;n y la velocidad de los movimientos, los cuales son &#171;transcritos&#187; en las im&#225;genes visualizadas por varios monitores. Las instalaciones de Steina Vasulka, por su parte, combinan dispositivos &#243;pticos &#8211;tales como espejos esf&#233;ricos&#8211; y automatismos, acoplados a una o varias c&#225;maras de circuito cerrado</p>"
	},
	{
		"pid" : 42,
		"p" : "<p>El aspecto autorreferencial de la mayor&#237;a de las instalaciones de CCTV y la amplia exploraci&#243;n que se ha dado sobre dicho dispositivo, justifican acaso que en los ochenta disminuyera sensiblemente el relieve y la abundancia de las obras de este tipo. Por otra parte, Graham, Campus, Iimura y otros decidieron proseguir su obra por otros senderos. Sin embargo, algunos artistas han retomado el dispositivo con intencionalidades diversas. Por ejemplo, Dieter Froese con <i>Not a Model for Big Brother&#8217;s Spy-Cycle</i>(en el orwelliano a&#241;o de 1984), para abordar temas de vigilancia e intimidaci&#243;n; Muntadas en <i>Passatges</i>(1988), para diseccionar las interioridades, usualmente no expuestas al p&#250;blico, de una instituci&#243;n cultural oficial; los arquitectos-artistas Elizabeth Diller y Ricardo Scofidio en <i>Para-Site</i>(1989), con planteamientos un tanto afines a los de Graham; o Julia Scher, al insertar s&#250;bitas escenas de ficci&#243;n en el fluir normal de las im&#225;genes monitorizadas por un sistema p&#250;blico de vigilancia</p>"
	},
	{
		"pid" : 43,
		"p" : "<p>La videoinstalaci&#243;n o videoescultura cuenta ya con treinta a&#241;os de historia, si ciframos sus or&#237;genes en 1963, cuando Nam June Paik y Wolf Vostell, ambos vinculados por aquel entonces al extremismo neodad&#225; de Fluxus y a la pr&#225;ctica de los happenings, los <i>events</i>, los <i>environments</i>, presentaron sendas exposiciones de televisores desarreglados, manipulados y transformados salvajemente. El primer objeto al que se agarra la videoinstalaci&#243;n es pues el televisor, una caja simple y&#171;boba&#187;. Mediante la perturbaci&#243;n de sus im&#225;genes, sus funciones, su aspecto externo, se adivina entonces una intenci&#243;n de contrariar, en un orden simb&#243;lico, al medio de masas m&#225;s penetrante y poderoso que jam&#225;s haya existido. Y, por otro lado, por lo que tiene de&#171;estructura primaria&#187;, la caja c&#250;bica del televisor o monitor determina el m&#243;dulo-unidad de lo que podr&#237;a tomarse como un juego de construcciones y deconstrucciones, en el que cualquier posici&#243;n, alteraci&#243;n, combinaci&#243;n es admitida</p>"
	},
	{
		"pid" : 44,
		"p" : "<p>Todo el trabajo de Nam June Paik podr&#237;a ser visto, en este sentido, como una continua especulaci&#243;n sobre lo que puede hacerse con un televisor o monitor. Por ejemplo, reducir su emisi&#243;n a una sola e imperturbable l&#237;nea, o a un punto de intensidad luminosa casi hiriente (<i>Zen for TV</i>y <i>Point of Light</i>, respectivamente, ambos de 1963); tomar carcasas vac&#237;as de televisores difuntos para rellenarlas con una vela encendida (<i>TV Candle</i>, 1975) o con una o muchas peceras (<i>Fish TV</i>, 1976); o utilizar monitores de los m&#225;s diversos tama&#241;os para construir estrafalarios objetos, entre la ortopedia, el mobiliario y el chiste conceptual: sujetador (<i>TV Bra for Living Sculpture</i>, 1969), gafas (<i>TV Glasses</i>, 1971), violoncelo (<i>TV Cello</i>, 1971), televisor miniaturizado para lucir en el pene (<i>TV Penis</i>, 1972), cama (<i>TV Bed</i>, 1972), silla (<i>TV Chair</i>, 1974), etc. En la obra de Paik de los a&#241;os ochenta, el objeto tiende a la escultura e, incluso, a lo monumental. En la serie de la &#171;familia de los robots&#187;y otras piezas similares, ensamblajes de viejos aparatos de televisi&#243;n y de radio enmarcan pantallas de diversos tama&#241;os y formas, en las m&#225;s variadas disposiciones, de las que fluyen im&#225;genes coloristas e hiperdin&#225;micas. Paik crea estructuras antropom&#243;rficas, unas veces hilarantes por su aspecto incongruente y grotesco; otras veces admirables por su fuerza evocadora, como la escultura que Paik ha dedicado a su buen amigo Merce Cunningham, donde una muy &#225;gil composici&#243;n de la cacharrer&#237;a paikiana evoca al conocido core&#243;grafo y bailar&#237;n en una pose caracter&#237;stica (<i>Merce/ Digital</i>, 1988)</p>"
	},
	{
		"pid" : 45,
		"p" : "<p>La noci&#243;n de videoobjeto o videoescultura podr&#237;a pues caracterizarse en t&#233;rminos de una transformaci&#243;n o integraci&#243;n de uno o m&#225;s monitores o televisores en/dentro de una construcci&#243;n volum&#233;trica singular &#8211;o como una metamorfosis (y, con frecuencia, transgresi&#243;n)de su apariencia objetual&#8211;, cre&#225;ndose adem&#225;s una determinada relaci&#243;n entre el ente objetual o escult&#243;rico, y el contenido interior de la pantalla o pantallas</p>"
	},
	{
		"pid" : 46,
		"p" : "<p></a>La obra de Shigeko Kubota ilustra a la perfecci&#243;n el concepto apuntado de videoescultura. Sus primeras obras (1975-1976) fueron concebidas como una serie de homenajes a una figura capital del arte moderno, Marcel Duchamp. A esta serie pertenecen: <i>Nude Descending a Staircase</i>, una escalera de madera de cuatro pelda&#241;os/monitores, los cuales reproducen una evocaci&#243;n videogr&#225;fica de la c&#233;lebre pintura del mismo t&#237;tulo; <i>Grave</i>, columna de monitores, que se refleja y estira sobre un espejo alargado en el suelo, a modo de monumento funerario en el que se reproduce una tr&#233;mula toma (c&#225;mara en mano) de la tumba del artista; y, sobre todo, <i>Window</i>, la obra maestra de Kubota, considerada por ella misma como &#171;la quintaesencia de la videoescultura&#187;, algo que debe entenderse en el mismo sentido en que John Cage consideraba al silencio como quintaesencia del sonido y de la m&#250;sica. Parad&#243;jicamente, el silencio de <i>Window</i>se denomina, en t&#233;rminos cibern&#233;ticos, &#171;ruido&#187; y, en la jerga de la televisi&#243;n y del v&#237;deo, &#171;nieve&#187;, constituyendo el &#250;nico y m&#237;nimo elemento videogr&#225;fico de la escultura de Shigeko Kubota, que por lo dem&#225;s es una r&#233;plica/variaci&#243;n de una obra de Duchamp,<i>Fresh Widow</i>.La ventana de Shigeko Kubota comporta as&#237; una sabia relaci&#243;n entre la construcci&#243;n objetual, la posici&#243;n del monitor (en vertical) y la sugerencia visual que nos ofrece la pantalla: en realidad, una no-imagen, un ruido aleatorio, un ready-made electr&#243;nico. Las videoesculturas posteriores de Shigeko Kubota abordan tem&#225;ticas paisajistas, mediante estilizadas construcciones en madera o acero y por la combinaci&#243;n de monitores de distintos tama&#241;os, espejos, elementos acu&#225;ticos (surtidores, corrientes de agua), etc: <i>Three Mountains</i> (1976-1979),<i>River</i>(1979-1980), <i>Niagara Falls</i>(1985)</p>"
	},
	{
		"pid" : 47,
		"p" : "<p>La f&#243;rmula b&#225;sica de la videoescultura podr&#237;a decirse que es: una imagen, un objeto, una idea. En su forma m&#225;s escueta, puede entenderse como una ocurrencia chistosa o po&#233;tica, burda o sutil;por ejemplo, en <i>Pfft</i>(1982-1983), de Servaas, una pluma que brota erecta de un monitor es zarandeada regularmente, en sincron&#237;a con el soplo que emite el artista desde la pantalla. Otras formas de videoescultura tienen m&#225;s de lo segundo que de lo primero: sutileza por encima de la mera ocurrencia. El componente videogr&#225;fico, por ejemplo, puede actuar b&#225;sicamente como fuente de luz, determinando variaciones crom&#225;ticas o impresiones caleidosc&#243;picas, como en ciertas obras de Brian Eno(<i>Video, Paintings and Sculptures</i>, 1984) o Roos Theuws (serie <i>Forma Lucis</i>, 1984 y despu&#233;s). Otras piezas tienen a&#250;n un car&#225;cter m&#225;s decorativo, y llegan a bordear la banalidad y el mal gusto; as&#237;, hace unos a&#241;os pudo hablarse de una tendencia de &#171;escultura-dise&#241;o&#187;, a la que uno opondr&#237;a, por ejemplo, los inquietantes artefactos de Klaus vom Bruch, reminiscentes de la gen&#233;tica militar de las m&#225;quinas de visi&#243;n electr&#243;nicas</p>"
	},
	{
		"pid" : 48,
		"p" : "<p></a><b>11.</b>Otro aspecto que ha sido tempranamente explorado, constituyendo un ingrediente habitual de muchas videoinstalaciones y un &#171;formato expandido&#187; en s&#237; mismo, es el v&#237;deo multicanal. El colectivo Raindance Corporation, editores de la revista <i>Radical Software</i> y del libro-manual de la <i>Guerrilla Television</i>, ha tenido aqu&#237; un papel destacado. En 1969, algunos de sus integrantes dise&#241;aron ya un sistema multiv&#237;deo modular, con el nombre de<i>Modular Video Matrix</i>, anticip&#225;ndose a los muros de pantallas del tipo <i>videowall</i>, as&#237; como a otras configuraciones de planta circular, semicircular, etc., sucesivamente frecuentadas en la diversidad de las instalaciones o entornos de m&#250;ltiples monitores. Esa es una vertiente de la videoinstalaci&#243;n a la que han hecho aportaciones muy notables varios de los artistas asociados con dicho colectivo, tales como Frank Gillette, Ira Schneider, Beryl Korot y Juan Downey</p>"
	},
	{
		"pid" : 49,
		"p" : "<p>La instalaci&#243;n multicanal distribuye las im&#225;genes sobre un plano, manteniendo la frontalidad de la pantalla &#250;nica &#8211;solo que multiplicada en un pol&#237;ptico, mosaico o muro de im&#225;genes&#8211;; o, por el contrario, en pantallas diseminadas en el espacio entero de la instalaci&#243;n, constituyendo as&#237; un particular entorno visual y auditivo. En el primer caso, la suma y combinaci&#243;n de las diversas im&#225;genes es lo primordial y, a menudo, el car&#225;cter objetual de las cajas-monitor es disimulado o neutralizado; empotr&#225;ndolas, por ejemplo, tras un panel o pared falsa, o bien aline&#225;ndolas as&#233;pticamente en disposiciones geom&#233;tricas y raramente asim&#233;tricas(hileras, columnas, retablos, etc.)</p>"
	},
	{
		"pid" : 50,
		"p" : "<p>En muchas obras de este tipo, se trata fundamentalmente de marcar contrastes y analog&#237;as, disparidades y redundancias, enfrentamientos y comparaciones intencionadas entre los distintos canales. As&#237;, en<i>The Last Ten Minutes</i>(1976), Muntadas ha contrastado los &#250;ltimos minutos de la programaci&#243;n televisiva nocturna en tres pa&#237;ses distintos y, seguidamente, tres planos-secuencia tomados en calles pertenecientes a sendas ciudades de los mismos pa&#237;ses. Beryl Korot, en <i>Dachau 1974</i> (1974-1975, obra de cuatro canales), retrat&#243; el antiguo campo de concentraci&#243;n, hoy convertido en lugar de visita tur&#237;stica, operando sobre la combinaci&#243;n y repetici&#243;n de un reducido n&#250;mero de secuencias de cuidada composici&#243;n seg&#250;n una estructura predeterminada de relaciones m&#233;tricas, como si se tratara de un tejido de tiempos, espacios y perspectivas que se entrecruzan, se distancian y vuelven a encontrarse. Su posterior <i>Text and Commentary</i> (1977, cinco canales), profundiza en un principio estructural semejante, del que la obra es simult&#225;neamente una exposici&#243;n did&#225;ctica, por la analog&#237;a que se establece entre el proceso de organizaci&#243;n multicanal de las im&#225;genes y el proceso de elaboraci&#243;n de un tapiz.(La obra es, en cierto modo, un documental sobre la confecci&#243;n de este tapiz, el cual se expone tambi&#233;n como parte integral de la instalaci&#243;n, as&#237; como los diagramas que reflejan la estructura videogr&#225;fica multicanal)</p>"
	},
	{
		"pid" : 51,
		"p" : "<p>Marie-Jo Lafontaine, una artista que, como la anterior, ha cultivado tambi&#233;n el arte textil, organiza los distintos canales de sus obras a partir de un mismo material en el que introduce progresivos desfases. Desde sus primeras instalaciones &#8211;<i>La marie salope</i> (1980),<i>Round around the Ring</i>(1981) y <i>His Master&#8217;s Voice</i> (1983), donde las operaciones de una draga, un combate de boxeo o un ritual homoer&#243;tico masoquista se transforman en fascinantes coreograf&#237;as en el mosaico multimonitor&#8211; hasta sus instalaciones m&#225;s grandilocuentes, en las que forma ruedos, espirales, moles de im&#225;genes encastadas en estilizadas, pero aparatosas, estructuras escult&#243;ricas</p>"
	},
	{
		"pid" : 52,
		"p" : "<p>La idea de establecer una continuidad espacial entre las im&#225;genes de varios monitores alineados para recomponer as&#237; una imagen &#250;nica, hecha de fragmentos/m&#243;dulos sincronizados, ha sido explotada abundantemente por diversos artistas y con distintas intenciones.As&#237;, una ocurrencia visual hoy ya manida ha sido la del cuerpo encerrado en una hilera, columna, sepulcro, u otra configuraci&#243;n de monitores. Por poner un &#250;nico ejemplo, el nadador que va y viene en la piscina videogr&#225;fica de m&#250;ltiples monitores alineados, en una popular obra del Studio Azzurro, <i>Il nuotatore</i> (1984)</p>"
	},
	{
		"pid" : 53,
		"p" : "<p>Otras instalaciones se inspiran en la tradici&#243;n de los pol&#237;pticos y los retablos medievales, y en iconograf&#237;as inspiradas en la historia del arte. Llu&#237;s Nicolau, en <i>La tra&#239;ci&#243; de Judes</i>(1985), ilustra un episodio b&#237;blico por medio de un retablo de seis breves secuencias que, basadas en la iconograf&#237;a del arte religioso, tienen a su vez el car&#225;cter anacr&#243;nico de un c&#243;mic de vistosas vi&#241;etas electr&#243;nicas. Bill Viola, en <i>The City of Man</i> (1989), y Judith Goddard, con <i>The Garden of Earthly Delights</i>(1991), han ofrecido sendas versiones contempor&#225;neas del triple motivo del escalofriante tr&#237;ptico de Hyeronymus Bosch, mientras que Simon Biggs ha acudido repetidamente a las iconograf&#237;as y &#171;formatos&#187;medievales del libro de horas, el manuscrito iluminado o la b&#243;veda catedralicia</p>"
	},
	{
		"pid" : 54,
		"p" : "<p>El concepto de entorno multiv&#237;deo (multicanal, multimonitor)encuentra un adecuado ejemplo en la obra de Ira Schneider. <i>Manhattan is an Island</i> (1974), una instalaci&#243;n ya legendaria, constituye una transcripci&#243;n&#171;videotopogr&#225;fica&#187; de la geograf&#237;a urbana y cultural de Manhattan. Los monitores se alzan sobre pedestales de diversas alturas, por encima de un mapa esquem&#225;tico trazado en el suelo, delineando el alargado per&#237;metro y las principales arterias del coraz&#243;n de Nueva York. Al deambular por el espacio, el espectador obtiene as&#237; una sugerente impresi&#243;n polivisual de este entorno urbano: su contorno descrito mediante desplazamientos en barco y autom&#243;vil, sus grandes rasgos y zonas (Up-, Mid- y Downtown) en vistas subjetivas que recrean el ritmo interno de la urbe, sus entra&#241;as atravesadas con diversos medios de transporte, su perspectiva a&#233;rea desde un helic&#243;ptero, etc. El sonido ambienta adecuadamente el bullicio de las im&#225;genes, mediante la interacci&#243;n aleatoria de diversos elementos ac&#250;sticos distribuidos espacialmente con altavoces separados: sonidos y ruidos de la metr&#243;poli, m&#250;sicas y canciones diversas, retazos de emisiones radiof&#243;nicas y televisivas</p>"
	},
	{
		"pid" : 55,
		"p" : "<p>Con un principio cartogr&#225;fico similar, otra obra posterior de Schneider,<i>Time Zones</i>(1980), recrea una imagen global y multicultural de nuestro planeta, mediante un c&#237;rculo de 24 monitores en los que se reproducen otros tantos registros obtenidos en diversos lugares del globo, que representan cada uno de los 24 husos horarios. El espectador obtiene as&#237; una visi&#243;n panor&#225;mica de la diversidad de culturas, climas, paisajes, etnias,&#8230; as&#237; como del ciclo horario que gobierna el paso del d&#237;a a la noche y viceversa</p>"
	},
	{
		"pid" : 56,
		"p" : "<p>La instalaci&#243;n de Eug&#232;nia Balcells, <i>From the Center</i> (1984), puede vincularse con las dos anteriores por diversos motivos: por adoptar asimismo una planta circular, por constituir una visi&#243;n personal de Nueva York, y por resaltar igualmente unos par&#225;metros de orientaci&#243;n en el espacio y el tiempo (puntos cardinales, amanecer y ocaso, d&#237;a y noche). En un c&#237;rculo de doce monitores, la autora despliega otras tantas miradas, en distintas direcciones y a diversas distancias, todas desde un mismo punto (posici&#243;n de la c&#225;mara); un punto central arbitrario que se simboliza en la instalaci&#243;n con una piedra en el centro del c&#237;rculo. Sin embargo, la ciudad recreada en este entorno audiovisual envolvente &#8211;&#171;un Stonehenge electr&#243;nico&#187;, en palabras de la artista&#8211;, es como si fuera una ciudad imaginaria, donde coexisten diversas naturalezas del tiempo</p>"
	},
	{
		"pid" : 57,
		"p" : "<p>Los entornos multiv&#237;deo, en fin, proponen las m&#225;s diversas arquitecturas: c&#237;rculos y espirales de monitores, pasadizos y habitaciones, pir&#225;mides y pozos, jardines y laberintos, monitores suspendidos del techo o que inundan el espacio a ras de suelo, etc. Y los artistas-instaladores han agudizado tambi&#233;n su ingenio en cuanto a la combinaci&#243;n de elementos objetuales, escult&#243;ricos, escenogr&#225;ficos, estratagemas &#243;pticas y otros dispositivos, enriqueciendo progresivamente la utiler&#237;a de la instalaci&#243;n audiovisual</p>"
	},
	{
		"pid" : 58,
		"p" : "<p>Al aliarse con otros medios, materiales, elementos, el v&#237;deo (y, para el caso, cualquier otro medio audiovisual) se sumerge de lleno en la trama multimedia, en las referencias entrecruzadas de los diversos componentes que entran en juego. Aqu&#237; es donde la noci&#243;n de instalaci&#243;n se aproxima m&#225;s a lo teatral, a lo escenogr&#225;fico y a lo aleg&#243;rico. Tomando objetos del mundo real para amueblar el espacio, plantar el decorado, la imagen se enmarca ahora en un ambiente dise&#241;ado, construido y pensado a escala humana. Aquellos empr&#233;stitos de la realidad objetual, sin embargo, raramente obedecen a un af&#225;n de verismo, ilusionismo y simulacro, por lo que el mobiliario, la arquitectura, el atrezzo de estas instalaciones introduce frecuentemente una estilizaci&#243;n, distorsi&#243;n o desproporci&#243;n intencionada</p>"
	},
	{
		"pid" : 59,
		"p" : "<p>Ciertas instalaciones, por ejemplo, recrean situaciones de encerramiento, e incluso tienden a una suerte de &#171;trampa&#187; para atrapar al espectador. En <i>Tokyo Rose</i>(1975-1976), de Paul y Marlene Kos, una sugestiva voz femenina atrae al espectador al interior de una estilizada jaula met&#225;lica que contiene un monitor de donde proceden los seductores mensajes, aludiendo as&#237; al poder persuasivo de los medios masivos. (El t&#237;tulo hace referencia a ciertas emisiones radiof&#243;nicas niponas que, durante la Segunda Guerra Mundial, incitaban a los pilotos norteamericanos a rendirse). Similarmente, Simon Robertshaw, en <i>From Generation to Generation</i>(1989) y otras instalaciones sucesivas, recrea formas de aprisionamiento diversas, vinculando las arquitecturas represivas con las doctrinas eugen&#233;sicas y otras aberraciones en el &#225;mbito de las ciencias m&#233;dicas y de la conducta</p>"
	},
	{
		"pid" : 60,
		"p" : "<p>De otra manera, <i>Evert Stenmark Piece</i> (1974), de Roger Welch, y <i>Room for St. John of the Cross</i>(1983), de Bill Viola, escenifican situaciones distintas de reclusi&#243;n. Accidental en la pieza de Welch, donde el monitor est&#225;situado al fondo de un agujero cil&#237;ndrico recubierto de hielo, siendo la cinta el relato ver&#237;dico de un hombre que qued&#243; sepultado por un alud durante ocho d&#237;as. Reclusi&#243;n represiva en la instalaci&#243;n de Viola, una evocaci&#243;n subjetiva del ambiente en que San Juan de la Cruz escribi&#243; sus poemas &#8211;as&#237; como de las emociones que se desprenden de su lectura&shy;&#8211;, cuyo elemento central es una opresiva celda, supuesta r&#233;plica de aquella en la que fue encarcelado el gran poeta m&#237;stico espa&#241;ol</p>"
	},
	{
		"pid" : 61,
		"p" : "<p>La obra de Francesc Torres, sobre todo a partir de <i>Residual Regions</i> (1978), es particularmente representativa de la noci&#243;n de instalaci&#243;n multimedia en su m&#225;s vasta acepci&#243;n, por su combinaci&#243;n de los medios y elementos m&#225;s dispares &#8211;objetos, fotograf&#237;as, proyecciones f&#237;lmicas, dibujos, construcciones escult&#243;ricas o escenogr&#225;ficas, dispositivos mec&#225;nicos, grabaciones de audio y v&#237;deo, etc.&#8211; en una cadena de significantes que el espectador ha de relacionar y desentra&#241;ar por s&#237; mismo (salvo que Torres le proporcio</span><!-- No s&#233; perqu&#232; est&#224; ressaltat -->las realidades y contradicciones de nuestro tiempo. Y es su densidad intelectual lo que las distingue de otras instalaciones igualmente espectaculares en cuanto a su complejidad y ambientaci&#243;n; por ejemplo, frente a la experiencia m&#225;s sensorial e inmediata de ciertas obras de Fabrizio Plessi o Nam June Paik</p>"
	},
	{
		"pid" : 62,
		"p" : "<p>En la instalaci&#243;n multimedia, no se establece ning&#250;n tipo de jerarqu&#237;a de un medio sobre otros. En <i>The Board Room</i> (1987), Muntadas toma como pretexto un c&#243;digo arquitect&#243;nico determinado, cuya recreaci&#243;n constituye una estremecedora puesta en escena de la creciente intimidad entre los c&#237;rculos de poder ideol&#243;gico y econ&#243;mico y los media, centr&#225;ndose en el fen&#243;meno espec&#237;fico &#8211;tan&#225;lgido en Norteam&#233;rica en su momento&#8211; de la nueva religiosidad, el &#171;televangelismo&#187;, sus nexos con la ideolog&#237;a pol&#237;tica en el poder, y su preocupante radio de alcance. Los diversos elementos de mobiliario y ambientaci&#243;n, imagen, texto y sonido, determinan m&#250;ltiples niveles de remisi&#243;n de una cosa a otra: el escenario en s&#237;, por ejemplo, evoca en diversos detalles el episodio b&#237;blico de la Santa Cena, mientras que, de la boca de los l&#237;deres religiosos convocados en una peculiar galer&#237;a de retratos, Muntadas extrae todo un vocabulario de palabras reveladoras, y que a menudo adquieren un doble sentido, tales como poder, estrategia, t&#233;cnica, cruzada, finanzas, salvaci&#243;n, etc</p>"
	},
	{
		"pid" : 63,
		"p" : "<p>Otras instalaciones, en cambio, reducen al m&#237;nimo el aparato escenogr&#225;fico para resaltar una relaci&#243;n inter-media, una confrontaci&#243;n entre im&#225;genes de distinta naturaleza; fotograf&#237;a y v&#237;deo en sendas obras de Jeff Wall, <i>Eviction Struggle</i> (1988), y Adrian Piper, <i>What It&#8217;s Like, What It Is</i> (1991), referidas a situaciones conflictivas en el entorno urbano. En la pieza de Wall, una gran transparencia fotogr&#225;fica iluminada, del tama&#241;o de una valla publicitaria, muestra un paisaje suburbano en el que se desarrolla un incidente violento: un acto de desahucio, tal como indica el t&#237;tulo. Al otro lado de esta imagen-muro, se abren como ventanas las pantallas de nueve monitores, los cuales enmarcan diversos detalles de la misma escena, gestos, movimientos, breves secuencias que se repiten incesantemente, agudizando la brutalidad de la situaci&#243;n representada. Y, como siempre en la obra de Wall, se trata de una ficci&#243;n, una puesta en escena de rotundo realismo.Piper, por su parte, combina un elemento narrativo (texto) con una ambientaci&#243;n evocativa del espacio urbano, estableciendo un recorrido que discurre entre im&#225;genes fotogr&#225;ficas y de v&#237;deo enfrentadas, como si fueran ventanas que separan un espacio interior(hogar, bienestar) de otro exterior (calle, desamparo); una obra referida, como todas las de Piper, a las manifestaciones cotidianas del racismo y a los desequilibrios sociales que conducen a actitudes de insolidaridad e indiferencia hacia los dem&#225;s</p>"
	},
	{
		"pid" : 64,
		"p" : "<p>El territorio de las videoinstalaciones ha sido explorado con inventiva y perspicacia por un vasto n&#250;mero de artistas. Obviamente, un cierto vocabulario (formal/estructural) ha terminado por establecerse, al pasar al dominio p&#250;blico y hasta industrializarse, tal como ha sucedido con los sistemas de muro multipantalla. Por otro lado, ha disminuido sensiblemente el factor sorpresa que hace a&#241;os pod&#237;a tener cualquier artefacto objetual o escult&#243;rico que incorporara uno o m&#225;s monitores con mayor o menor ingenio. Quiz&#225;por eso, el poema o la ocurrencia visual (y simult&#225;neamente objetual) tan abundante en el desarrollo primerizo de la videoinstalaci&#243;n, se ha visto desplazado en un determinado momento por un cierto monumentalismo, aparatoso y espectacular, mensurable por el n&#250;mero de monitores empleados y por los metros c&#250;bicos ocupados por la obra. Sin embargo, otros rasgos que es posible advertir en la evoluci&#243;n de la videoinstalaci&#243;n son su expansi&#243;n hacia el lenguaje m&#225;s complejo de lo multimedia, la implicaci&#243;n de nuevos sistemas interactivos (ordenador, videodisco) y, por &#250;ltimo, una cierta tendencia a evadir la imagen del monitor, de la pantalla encerrada en una caja-mueble; en una estructura primaria que, para los efectos de escultura o arquitectura que suele comportar una instalaci&#243;n, termina por ser tan b&#225;sica como un ladrillo, pero tan limitada como las del arte minimalista (con Fluxus, no se olvide, tambi&#233;n un movimiento coet&#225;neo a los m&#225;s directos or&#237;genes del arte de instalaci&#243;n)</p>"
	},
	{
		"pid" : 65,
		"p" : "<p>Esta&#250;ltima observaci&#243;n no implica, claro est&#225;, que el monitor deba pasar al desv&#225;n del artista-instalador que pretenda estar al d&#237;a.Por el contrario, la obra &#250;ltima de varios artistas nos muestra que la videoinstalaci&#243;n dista mucho de haber agotado su vocabulario, a pesar de la percepci&#243;n redundante que se puede extraer al inventariar sus modalidades. As&#237;, Gary Hill, en los &#250;ltimos a&#241;os, ha procedido a desarmar monitores de todos los tama&#241;os, extraer sus tubos, proyectar sus im&#225;genes sobre objetos inertes, creando una serie de obras de perturbadora belleza. Im&#225;genes enfrentadas que se desplazan por los cuatro costados de una sala, proyectadas desde los extremos opuestos de un cilindro suspendido del techo. Por la posici&#243;n ac&#233;ntrica de dicho elemento, las im&#225;genes cambian gradualmente de tama&#241;o. Al tratarse de proyecciones por reflexi&#243;n de las im&#225;genes visualizadas en peque&#241;os monitores contenidos en este dispositivo tubular, la definici&#243;n y la luminosidad de las im&#225;genes proyectadas son de una precariedad que les da una cualidad misteriosa y casi espectral. As&#237; es como Gary Hill, en <i>Beacon(Two Versions of the Imaginary)</i>(1990), ha &#171;puesto en escena&#187; un texto de Maurice Blanchot:extractos de un ensayo acerca de la imagen y de &#171;la pasi&#243;n por la imagen&#187;)</p>"
	},
	{
		"pid" : 66,
		"p" : "<p>Con el perfeccionamiento y la mayor asequibilidad de los sistemas de proyecci&#243;n de v&#237;deo, por otra parte, se perfila una nueva tipolog&#237;a de instalaciones basadas en la proyecci&#243;n, aunque algunos artistas, como Peter Campus o Bill Viola, ya hab&#237;an introducido este elemento en los a&#241;os setenta. Y, mediante la proyecci&#243;n de im&#225;genes electr&#243;nicas sobre el espacio o sobre objetos reales o simulados, estas instalaciones se alinean con la dramaturgia de las fantasmagor&#237;as e ilusiones cinematogr&#225;ficas. Salvo que ahora es con un prop&#243;sito menos c&#225;ndido y con segundas intenciones</p>"
	},
	{
		"pid" : 67,
		"p" : "<p>En<i>First and Third</i>(1987), de Judith Barry, las paredes hablan, representando a los excluidos, a los inmigrantes llegados del llamado Tercer Mundo para participar en el sue&#241;o (americano) de la tierra prometida. Intrusos en un doble sentido, nueve rostros cuentan otros tantos relatos de experiencias vividas, y se aparecen al visitante en los intersticios de una exposici&#243;n muse&#237;stica. (Esta obra, pr&#225;cticamente concebida para un espacio concreto, se present&#243; originalmente en el marco de una exposici&#243;n bienal en el Whitney Museum of American Art)</p>"
	},
	{
		"pid" : 68,
		"p" : "<p>Ingo G&#252;nther, en <i>Im Bereich der West-Wind-Welt</i>(1991), proyecta sobre dos lienzos-pantalla que ondean como banderas sobre sendos m&#225;stiles, im&#225;genes en r&#225;pida sucesi&#243;n que reflejan una situaci&#243;n de cambio pol&#237;tico en el viejo orden mundial de bloques enfrentados: Este contra Oeste, Estados Unidos versus URSS, emblemas y ense&#241;as ahora agitados por grandes ventiladores, por el soplo uniforme y mec&#225;nico del &#171;viento occidental&#187;, en una ambientaci&#243;n desasogegante. </p>"
	},
	{
		"pid" : 69,
		"p" : "<p>A&#250;n otra instalaci&#243;n: el espacio, en este caso, apenas articula dos elementos: una bicicleta est&#225;tica de gimnasia y una pantalla en la que se visualizan unas im&#225;genes creadas inform&#225;ticamente. Un tercer elemento lo pondr&#225; el espectador mismo, invitado a montar en la bicicleta y a pedalear y dirigir el manillar para accionar el desfile secuencial de las im&#225;genes en la pantalla que tiene enfrente.Secuencia visual que es, a su vez, l&#233;xica. Pues esta obra, <i>The Legible City</i> (1988-1991), de Jeffrey Shaw, propone al espectador un recorrido por una ciudad cuyos edificios son letras, de manera que al desplazarse por este entorno virtual interactivo, puede leer unos textos diseminados en el laberinto de las calles abarcadas en cada caso. (Shaw ha realizado sucesivamente tres versiones de esta pieza, referidas a determinadas zonas de Nueva York, &#193;msterdam y Karlsruhe). As&#237;, errando por Manhattan, por ejemplo, el espectador puede encontrar y seguir hasta ocho relatos en los que la misma ciudad se nos muestra desde el punto de vista ficcionado de un exalcalde, un arquitecto, un taxista, un especulador, un delincuente, etc. La bicicleta, modificada para servir de interfaz entre el usuario/espectador y el ordenador &#8211;con los datos que permiten la visualizaci&#243;n interactiva de la &#171;ciudad legible&#187;&#8211;, exige la acci&#243;n (y cierta habilidad) del espectador.Este, con un plano electr&#243;nico como posible gu&#237;a, puede as&#237;introducirse en el entramado de calles, s&#237;mbolos y textos</p>"
	},
	{
		"pid" : 70,
		"p" : "<p>No pod&#237;a concluir este apretado recorrido por algunas variedades y tipolog&#237;as de la instalaci&#243;n audiovisual, sin acercarme, ni que sea por medio de un &#250;nico ejemplo, al punto de encuentro del hipermedio inform&#225;tico con el hipermedio de la instalaci&#243;n. Un punto en el que se cumple una expansi&#243;n m&#225;s, otro ensanchamiento intermedi&#225;tico/hipermedi&#225;tico, con todo lo que suele acarrear el hallazgo de un nuevo territorio: la prevenci&#243;n g&#233;lida de unos, el entusiasmo febril de otros. As&#237;, el tema tan actual de la llamada realidad virtual, podr&#237;a contemplarse, desde la perspectiva que aqu&#237;planteo, como el posible brote de un concepto enteramente distinto de instalaci&#243;n, donde casi todo &#8211;el espacio, sus elementos, su arquitectura, sus objetos, sus im&#225;genes y sonidos, sus est&#237;mulos sensoriales y, por descontado, su concepci&#243;n entera&#8211; ingresar&#237;a en el dominio de lo inmaterial, de las ideas e im&#225;genes calculadas, de las sensaciones delegadas por medio de interfaces y datos de orden digital, num&#233;rico. De la &#243;ptica a la electr&#243;nica, de la carpinter&#237;a a la arquitectura, de lo f&#237;sico a lo virtual, el arte de la instalaci&#243;n se despliega pues en una zona vast&#237;sima que estas p&#225;ginas apenas han logrado insinuar; una zona, en definitiva, que constituye todo un reflejo de la pluralidad est&#233;tica de nuestro tiempo</p><h2 lang="en-GB" class="western" style="margin-bottom: 0cm; font-style: normal">REFERENCIAS</h2>"
	},
	{
		"pid" : 71,
		"p" : "<p>Vito Acconci: &#171;Television, furniture &amp; sculpture: the room with the American view&#187;, </span>Het Lumineuze Beeld / The Luminous Image.</i></span></span>&#193;msterdam: Stedelijk Museum, 1984 [cat. exp.]</p><p>No&#235;l Burch: <i>El tragaluz del infinito: Contribuci&#243;n a la genealog&#237;a del lenguaje cinematogr&#225;fico. </i>Madrid:C&#225;tedra, 1987. </p><p>&#8211;Michael Fried: &#171;Art and Objecthood&#187;, </span>(verano 1967); posteriormente recogido en Gregory Battcock</span></i></span>Minimal Art: A Critical Anthology</i></span>.Nueva York: E.P. Dutton, 1968.</span></p><p>Dick Higgins: &#171;Some Thoughts on the Context of Fluxus&#187;, </span>Flash Art</i></span><p>Ellen Handy: &#171;Installations and History&#187;, </span>Arts Magazine</i></span>(febrero de 1989).</span></p><p>Wulf Herzogenrath / Edith Decker (ed): </span>Video-Skulptur:retrospektiv und aktuell 1963-1989</i></span>.Colonia: DuMont, 1989.</span></p><p>Lesley Johnstone: &#171;Installation: The Invention of Context&#187;, </span>Aurora Borealis. </i></span></i></span>Centre International d&#8217;Art Contemporain, 1985 </span>[cat.exp.]</p><p>&#8211;Rosalind E. Krauss: </span>Passages in Modern Sculpture</i></span>.Nueva York: The Viking Press, 1977.</span></p><p>George Maciunas: &#171;Expanded Arts Diagram&#187; [1966] y &#171;Diagram of Historical Development of Fluxus and Other 4 Dimensional, Aural, Optic, Olfactory, Epithelial and Tactile Art Forms (Incomplete)&#187; [1978], reunidos en diversas antolog&#237;as de documentos fluxus como el cat&#225;logo </span>Happening&amp; Fluxus</i></span>.Colonia: K&#246;lnischer Kunstverein, 1970, o el voluminoso </span>Fluxus Codex</i></span><p>Jonas Mekas: </span>Movie Journal: The Rise of a New American Cinema, 1959-1971</i></span>.Nueva York: Macmillan Co. / Collier Books, 1972.</span></p><p>Ren&#233;Payant: Sites de complexit&#233;R.Payant (ed.): </span><i>Vid&#233;o</i>.Montreal:Artextes, 1986.</span></p><p>&#8211;Sheldon Renan: </span>An Introduction to the American Underground Film</i></span>.Nueva York: E.P. Dutton, 1967; edici&#243;n brit&#225;nica con el t&#237;tulo </span>The Underground Film: An Introduction to its Development in America</i></span>.Londres: Studio Vista, 1968.</span></p><p>Merike Talve: &#171;Vestiges of the Avant-Garde in Installation&#187;, </span>Luminous Sites: 10 Video Installations</i></span>, a Video Inn / Western Front production.Vancouver: Vanguard Publications, 1986 [cat. exp.]</span></p><p>&#8211;Francesc Torres: El espacio de la instalaci&#243;n: Una pr&#225;ctica equ&#237;voca,<i>El Pa&#237;s</i>(suplemento <i>Artes</i>), s&#225;bado 17 de febrero de 1990</p><p>Stan Vanderbeek: &#171;&#8216;Culture: Intercom&#8217; and Expanded Cinema: A Proposal and Manifesto&#187; en Gregory Battcock (ed.): </span>The New American Cinema: A Critical Anthology</i></span>.Nueva York: E.P. Dutton, 1967.</span></p><p>Ingrid Wiegand: &#171;Videospace: Varieties of the Video Installation&#187;, en Gregory Battcock (ed.) </span>New Artists Video: A Critical Anthology</i></span>.Nueva York: E.P. Dutton, 1978.</span></p><p>Gene Youngblood: </span>Expanded Cinema</i></span>.Nueva York: E.P. Dutton / Londres: Studio Vista, 1970.</span></p><p>Gene Youngblood: El aura del simulacro: el ordenador y la revoluci&#243;n cultural,<i>Telos (Cuadernos de Comunicaci&#243;n, Tecnolog&#237;a y Sociedad)</i>, n&#250;m. 9 (marzo-mayo de 1987)</p><div id="sdfootnote1"><p>1</a>	Este	texto sintetiza y recopila parcialmente otros de mis escritos	anteriores sobre el tema, as&#237; como los contenidos que hab&#237;a	desarrollado en algunos seminarios que impart&#237;</p><p>	</p><p>	</p>"
	},

]