[
	{
		"pid" : 0,
		"p" : "<p><b>El cine de Werner Nekes</b></p><p>, n&#250;m. 14 (1975)</p><p>Una de las personalidades m&#225;s importantes del panorama del cine alternativo es, sin duda alguna, el realizador alem&#225;n Werner Nekes. El reconocimiento a nivel internacional de su obra data de hace unos tres a&#241;os. Y precisamente fue en 1973 cuando estuvo en Espa&#241;a para mostrar siete de sus films en el cineclub del Instituto Alem&#225;n, sesiones que fueron pol&#233;micas y en las que Nekes se extend&#237;a diariamente en la discusi&#243;n con el p&#250;blico y, sobre todo, en una explicaci&#243;n de su teor&#237;a y pr&#225;ctica f&#237;lmica a partir de un an&#225;lisis de la evoluci&#243;n del lenguaje cinematogr&#225;fico, relacionado con el proceso del pensamiento cient&#237;fico y de la moderna teor&#237;a de la informaci&#243;n</p>"
	},
	{
		"pid" : 1,
		"p" : "<p>La obra de Nekes se sit&#250;a dentro de las coordenadas del cine estructural o, mejor dicho, <i>cine materialista estructural </i>(seg&#250;n la precisi&#243;n hecha por Peter Gidal), si tenemos en cuenta la articulaci&#243;n que muestran algunas de sus obras &#250;ltimas con las investigaciones m&#225;s recientes en la teor&#237;a del materialismo dial&#233;ctico</p><p>Nekes, que estudi&#243; filolog&#237;a y psicolog&#237;a, ha sido profesor de lenguaje cinematogr&#225;fico en Hamburgo, Kentucky, Nueva York y San Francisco. Es adem&#225;s, uno de los fundadores de la Hamburg Filmmacher Cooperative<i>,</i>recientemente disuelta, que ha constituido una de las organizaciones de distribuci&#243;n m&#225;s importantes de Europa y la mayor de Alemania, y est&#225; casado con Dore O, otra realizadora alemana bien conocida</p>"
	},
	{
		"pid" : 2,
		"p" : "<p>La obra de Nekes comprende m&#225;s de treinta films, realizados desde 1965, buena parte de los cuales fueron revisados en el &#250;ltimo festival de Toulon, en los cuales se pueden advertir diversas direcciones: en primer lugar, el montaje de articulaciones de tipo kubelkiano; en segundo lugar, la influencia de Warhol en los planos-secuencia fijos; y, en tercer lugar, el empleo del fotograma a fotograma. Ha realizado tambi&#233;n experiencias de doble proyecci&#243;n. Nekes admite que muchos de sus films son solo experiencias formales, mientras que &#250;ltimamente ha empezado a investigar en nuevas formas de expresi&#243;n de temas sociales y pol&#237;ticos. El alto grado de coherencia y de elaboraci&#243;n de sus films lo convierten en uno de los realizadores m&#225;s interesantes por su af&#225;n de traspasar el campo de la mera experimentaci&#243;n formal y de profundizar en el papel del lenguaje f&#237;lmico como vehiculador de una ideolog&#237;a (ya desde los factores que determinan la obra cinematogr&#225;fica en el estricto nivel material de la organizaci&#243;n de las im&#225;genes y los sonidos)</p>"
	},
	{
		"pid" : 3,
		"p" : "<p>Voy a resumir primero los puntos te&#243;ricos de su obra a partir de las notas que tengo de su estancia en el Instituto Alem&#225;n y del texto &#171;Rompiendo moldes&#187;, editado en aquella ocasi&#243;n, y comentar&#233; luego algunos de sus films</p>"
	},
	{
		"pid" : 4,
		"p" : "<p>Nekes se remonta a la arqueolog&#237;a del cine, dentro de un recorrido paralelo que podemos encontrar en la mayor parte de los j&#243;venes cineastas, para analizar la relaci&#243;n que existe en el mecanismo f&#237;lmico entre dos im&#225;genes consecutivas. En los films de los hermanos Lumi&#232;re, por ejemplo, se trataba de tomas fijas en las que se reproduc&#237;a un hecho cotidiano (salida de los obreros de la f&#225;brica, llegada de un tren), solo hab&#237;a una variaci&#243;n respecto a las dimensiones de la fotograf&#237;a: a las dos dimensiones que determinan una superficie, se a&#241;ade la dimensi&#243;n tiempo. &#191;Cu&#225;l ser&#225; entonces la unidad m&#237;nima que determina un film? Nekes define el &#171;kine&#187; como esta unidad m&#237;nima y que est&#225;formada por dos fotogramas consecutivos. Esto constituye una aportaci&#243;n valios&#237;sima frente a la &#171;semiolog&#237;a del significado&#187;(Christian Metz, Pier Paolo Pasolini&#8230;) y ofrece nuevos m&#233;todos de an&#225;lisis que han sido iniciados por Nekes. En los films de Lumi&#232;re el tiempo f&#237;lmico corresponde al tiempo real; tenemos pues, la m&#237;nima variaci&#243;n entre dos fotogramas. Con M&#233;li&#232;s aparece el montaje (falseamiento de la realidad); aparece as&#237; en determinados lugares una nueva relaci&#243;n: un &#171;kine&#187; formado por dos fotogramas consecutivos y diferentes</p>"
	},
	{
		"pid" : 5,
		"p" : "<p>La velocidad de proyecci&#243;n hace imposible (en las condiciones corrientes de un espectador) la percepci&#243;n consciente de un cambio en la imagen, lo cual se convierte en una manipulaci&#243;n seg&#250;n el efecto denominado de&#171;transparencia&#187; (es decir, invisibilidad de la manipulaci&#243;n). Un claro ejemplo de esta manipulaci&#243;n se puede encontrar en las investigaciones de la teor&#237;a del montaje en la URSS, desarrollada especialmente por Eisenstein: el montaje paralelo de dos im&#225;genes establece una relaci&#243;n que es producto del nivel informativo mismo dado por la uni&#243;n entre dos im&#225;genes. Por ejemplo: gordo comiendo +cerdo</p>"
	},
	{
		"pid" : 6,
		"p" : "<p>No es ajeno a esto la utilizaci&#243;n del plano-secuencia en cine o las teor&#237;as de Jerzy Grotowski en teatro, destinadas a distraer m&#237;nimamente al espectador del mensaje que se quiere comunicar, frente al cine (teatro) comercial con su serie de dispositivos de control. Por otra parte, Nekes dice en&#171;Rompiendo moldes&#187;: &#171;El principio del progreso establecido por R.Buckminster Fuller <i>exige dar m&#225;s con menos</i>. En relaci&#243;n con el cine, esto significar&#237;a: <i>m&#225;xima informaci&#243;n con m&#237;nimo gasto de im&#225;genes, es decir, la m&#237;nima cantidad posible de fotogramas</i>.La tendencia a acelerar considerablemente la transmisi&#243;n de informaci&#243;n es evidente en la historia del cine, si se compara la forma de narraci&#243;n, de lento fluido &#233;pico, en los comienzos hist&#243;ricos, con los films m&#225;s modernos, entre los cuales el spot publicitario quiz&#225; sea el ejemplo m&#225;s significativo de c&#243;mo el factor econ&#243;mico puede tener influencia sobre el lenguaje gr&#225;fico.&#187;Este texto puede parecer contradictorio con el uso del plano-secuencia en el nuevo cine o en el mismo <i>Kelek</i>de Nekes</p>"
	},
	{
		"pid" : 7,
		"p" : "<p>Hay que recordar, sin embargo, las condiciones hist&#243;ricas en que se ha producido este retorno a la prehistoria: &#191;se pod&#237;a seguir empleando formas cinematogr&#225;ficas impuestas por una organizaci&#243;n de tipo capitalista?, &#191;se pod&#237;a acudir a las formas de un cine publicitario de car&#225;cter alienante sin haber cambiado antes la capacidad de recepci&#243;n del p&#250;blico? De esta contradicci&#243;n surge la necesidad de ruptura con el cine establecido y de volver a empezar en la ra&#237;z hist&#243;rica del descubrimiento del medio</p><p>De cualquier modo, podemos ver en<i>T-WO-MEN</i>un intento de aplicar la rapidez de im&#225;genes, ya m&#225;s all&#225; de los films publicitarios, a un contenido evidente. Luego me extender&#233;sobre este film</p><p>Otro punto clave al que se refiere Nekes y que constituye una de las bases del cine materialista estructural, a la vez que uno de los elementos soterrados que determina la pol&#233;mica que gira en torno a la cuesti&#243;n de la vanguardias art&#237;sticas (pol&#233;mica que me parece encerrada en una falta de perspectiva de verdadero signo cient&#237;fico), es la cuesti&#243;n del lenguaje y de sus factores comunicativos</p>"
	},
	{
		"pid" : 8,
		"p" : "<p>En las mismas palabras de Nekes: &#171;el film se comunica a s&#237; mismo, es decir, no es el objetivo filmado en s&#237; el que se comunica, sino la posibilidad de representar este objeto, que se funda en el lenguaje cinematogr&#225;fico&#8230;&#187;. Nos encontramos frente a una expresi&#243;n clara del problema de la tautolog&#237;a, presente fundamentalmente en el cine estructural y en el arte conceptual. Dentro de los grupos m&#225;s progresistas de estas tendencias se produce un intento de superaci&#243;n del estricto nivel tautol&#243;gico (como se puede ver en el libro de Sim&#243;n March&#225;n, <i>Del arte objetual al arte de concepto</i>, que muestra una situaci&#243;n paralela), intento que est&#225; claramente presente en la obra de Nekes, m&#225;s que en otros autores, primero a trav&#233;s de formas del cine personal (<i>Abbandono</i>)y despu&#233;s ensayando dentro de un reconocimiento de la funci&#243;n pol&#237;tica del cine (<i>Spacecut</i>,<i>T-WO-MEN</i>y el anterior <i>Schnitte f&#252;r ABABA</i>)</p>"
	},
	{
		"pid" : 9,
		"p" : "<p>Esto nos lleva al tercer punto esencial en la pr&#225;ctica cinematogr&#225;fica de Werner Nekes: las concepciones de cine como informaci&#243;n a nivel social y pol&#237;tico.Nekes concibe el cine como un oficio que consiste en excitar el cerebro; el trabajo formal podr&#237;a determinar la comprensi&#243;n del film, a niveles de complejidad de estructura que obliguen al espectador a tener una misi&#243;n activa de percepci&#243;n y de interpretaci&#243;n, y a niveles de &#171;fomentar la disposici&#243;n para la contemplaci&#243;n m&#250;ltiple (aunque no desconcertada) del problema representado, de forma que quede en primer plano el aspecto activo y anal&#237;tico, y no la actitud tolerante frente a la novedad&#187;. Subraya la importancia de trabajar no solo sobre el plano del contenido, sino tambi&#233;n en su forma de expresi&#243;n (comunicaci&#243;n) esencial. Creo que lo m&#225;s interesante ser&#225; reproducir un corto texto que me parece muy clarificador:</p>"
	},
	{
		"pid" : 10,
		"p" : "<p>&#171;Lo joven que es el lenguaje cinematogr&#225;fico y su estudio, lo demuestra tambi&#233;n el hecho de que, a pesar de su actual estado embrionario, se le considera un lenguaje universal, aunque ser&#237;a m&#225;s f&#225;cil de comprender que las diferentes culturas tuvieran que desarrollar distintos conceptos de las im&#225;genes, como por ejemplo del sol. La universalidad es v&#225;lida quiz&#225; para un documental sin ideas, o para el film comercial vendido en todos los pa&#237;ses, cuya fase de expresi&#243;n se puede comparar a la del &#233;xito del esfuerzo de emitir un balido lo m&#225;s parecido al de una oveja. No ser&#225; posible que, de forma an&#225;loga al idioma materno, se desarrolle un cine &#8220;materno&#8221; y, por tanto, habr&#225; que dedicar m&#225;s atenci&#243;n al cine &#8220;provincial&#8221; y &#8220;amateur&#8221;, siempre que este no desaproveche la oportunidad de progresar, libre de la presi&#243;n comercial, por sendas imprevisibles. Este cine tendr&#225; que enfrentarse con el eje de rotaci&#243;n de la propia identidad aprendida.Relativamente independiente, podr&#237;a, a trav&#233;s de la &#8220;modificaci&#243;n&#8221;del medio, alterar el modo de pensar del p&#250;blico. Como medios de ampliar la estructura del lenguaje f&#237;lmico, podr&#237;a emplear la polivisi&#243;n, los <i>clusters</i>de im&#225;genes, deber&#237;a concebir el movimiento de la c&#225;mara en relaci&#243;n con las coordenadas del espacio, examinar la capacidad de carga de los encuadres, transformar el nivel de calidad, por ejemplo, mediante termograf&#237;a, para mencionar solamente algunos puntos. Su meta ha de ser la transformaci&#243;n del material fotogr&#225;fico en energ&#237;a informativa.&#187;</p>"
	},
	{
		"pid" : 11,
		"p" : "<p>Esto plantea el problema de la recepci&#243;n del nuevo cine frente al cine establecido. Como sabemos, el conocimiento del lenguaje viene dado por un <i>proceso de aprendizaje;</i> en el caso del cine, hemos aprendido seg&#250;n los modelos establecidos por el cine comercial; por tanto, un nuevo aprendizaje exigir&#237;a desplazar el monopolio de distribuci&#243;n-difusi&#243;n, problema de fondo del cine independiente</p><p>Seg&#250;n Nekes, la &#250;nica forma de crear una nueva educaci&#243;n cinematogr&#225;fica en la actualidad, ser&#237;a introduci&#233;ndola en las escuelas primarias</p><p>Voy a referirme, finalmente, a algunos de los films que me parecen m&#225;s significativos:</p><p><i>Schnitte f&#252;r ABABA</i>(1967) se basa en la alternancia de planos monocromos (rojo y verde)que muestran parejas de polic&#237;as. </p><p>El funcionamiento de la estructura est&#225; articulado en varios niveles: en lo mostrado, la polic&#237;a; en la materialidad del montaje, determinada con de la oposici&#243;n de los colores, y en la agresi&#243;n &#243;ptica, mediante los bruscos cambios de colores</p><p><i>Gurtrug Nr. 1</i>(1967) es un film compuesto por planos fijos de gente movi&#233;ndose en un campo, interrumpidos por un segundo plano. El tema musical se repite. Muestra, por un lado, la influencia de Warhol (planos secuencia fijos) y, por el otro, un extra&#241;o sentido del humor que da al film un aire peculiar (especialmente en el <i>nonsense</i>del segundo plano)</p><p><i>Gurtrug Nr. 2</i>(1967) se compone de dos proyecciones con dos films id&#233;nticos de encuadre triangular, invertido uno respecto al otro y cuyas im&#225;genes se unen en un v&#233;rtice</p><p><i>Kelek</i>(1968) es un film de sesenta minutos, mudo y con clara influencia warholiana, compuesto por siete planos, la mayor parte de car&#225;cter documental (en el sentido de planos-secuencia tomados de la realidad)y con c&#225;mara subjetiva. Seg&#250;n su autor es un &#171;psicomontaje de distintos niveles de conciencia en una pel&#237;cula er&#243;tica de aventuras, cuyo tema es el propio espectador&#187;</p><p><i>Spacecut</i>(1971) es un film compuesto de dos partes; la primera, <i>Indians at Taos</i>, da una visi&#243;n documental de la vida de los indios en un pueblo de Norteam&#233;rica; la segunda, &#8216;<i>Diggins Place&#8217;in the Sierra Nevada after the Goldrush of 1871 </i>(Pueblo de buscadores de oro en Sierra Nevada despu&#233;s de la fiebre del oro de 1871) es la filmaci&#243;n de un paisaje durante un d&#237;a mediante treinta mil fotos tomadas desde un punto fijo y alrededor de todos los ejes posibles. Se trata de un ensayo de representaci&#243;n de un aspecto tridimensional sobre la superficie de la pantalla</p><p><i>Spacecut</i>es un intento de western a partir de los indios y de las tierras aur&#237;feras de Sierra Nevada. Los indios son como la tierra:explotados</p><p><i>T-WO-MEN</i>(1972) es un film con la duraci&#243;n de un film comercial (noventa minutos) y dividido en cinco apartados. Aqu&#237; parte de un tema m&#237;nimo, tratado documentalmente en el primer apartado: la relaci&#243;n entre dos mujeres. Este tema est&#225; presente en las cuatro partes restantes de diferentes maneras: fotograma a fotograma (en un procedimiento an&#225;logo al de la segunda parte de <i>Spacecut</i>), re-filmaci&#243;n y superposiciones m&#250;ltiples con una elevada gama de variaciones de foco, zoom, velocidades, color y <i>blackouts</i>.Es un film de una elaboraci&#243;n cuidad&#237;sima y del que Jean-Marie Straub dijo: &#171;[<i>...</i>]me hace concebir esperanzas, me da nuevos &#225;nimos para seguir haciendo films: el mejor film que sale de Alemania desde hace tiempo.&#187;</p>"
	},
	{
		"pid" : 12,
		"p" : "<p>Hablar de la obra de Nekes es dif&#237;cil, ya que es la experiencia directa de &#171;visionado&#187; la que debe comunicar. Se trata de uno de los casos m&#225;s evolucionados e importantes de constituir un mensaje espec&#237;ficamente f&#237;lmico (a trav&#233;s de la im&#225;genes y los sonidos); solo quiero a&#241;adir a estas notas la menci&#243;n de tres elementos caracter&#237;sticos de su obra: en primer lugar, los t&#237;tulos de sus films, puesto que Nekes es muy aficionado a los juegos de palabras (<i>T-WO-MEN</i>= TWO WOMEN; palabras sim&#233;tricas que se pueden leer en ambos sentidos como <i>Kelek</i>y <i>Gurtrug</i>)y al uso de palabras de idiomas extranjeros (<i>Abbandono</i>,<i>Vis-&#224;-vis</i>,<i>Diwan</i>,<i>Kelek</i>,<i>Makimono</i>)o de onomatopeyas (<i>Putt-putt</i>,<i>Jum-jum</i>,<i>Zipzibbelip</i>);en segundo lugar, el empleo cuidadoso del color; y, finalmente, la banda sonora, que lleva muchas veces la firma de Anthony Moore, y que abunda en el uso de la asincron&#237;a</p>"
	},

]