[
	{
		"pid" : 0,
		"p" : "<p><b>La cosa mental, de Michael Snow a Wilma Schoen</b></p><p>&#8226; Celebraci&#243;dels cinc anys d&#8217;Xc&#232;ntric amb Michael Snow</i></span>, Letras de Cine y CCCB-Centre de Cultura Contempor&#224;nia de Barcelona(mayo de 2006) [programa-cartel].</span></p><p>&#8226; .</span>Corazzano(Pisa): Trivillus Edizioni, 2007 [cat&#225;logo].</span></p><p>Desde el ecuador del siglo anterior, numerosos artistas (en un sentido amplio del t&#233;rmino: artistas visuales, poetas, m&#250;sicos, etc.) se han sentido atra&#237;dos por el medio f&#237;lmico y, con los pertrechos a su alcance, han reanudado instintivamente las exploraciones de las primeras vanguardias, donde se hallan las ra&#237;ces de un cine experimental y de artistas (entre otras denominaciones afines). Aunque dichas expresiones se han empleado a veces de manera hom&#243;nima, cabe contemplar el matiz que distinguir&#237;a entre unas pr&#225;cticas concebidas como expansiones de disciplinas y trayectorias extr&#237;nsecas al cine en s&#237;, y otras que entran de lleno en cuestiones que le conciernen y conmueven plenamente (incluso si el punto de partida era otro, lo que complica a fin de cuentas todo amago de rigor distintivo)</p>"
	},
	{
		"pid" : 1,
		"p" : "<p>El acercamiento de Michael Snow al cinemat&#243;grafo se produjo en un estadio aparentemente intermedio.As&#237;, el motivo conductor de su film <i>New York Eye and Ear Control</i>(1964) es la silueta, que se recorta sobre diversos paisajes costeros y urbanos, de su <i>Walking Woman</i>: un estilizado icono cercano al anonimato predicado por el arte pop de la &#233;poca y un motivo que se reitera en la obra pl&#225;stica de Snow de la primera mitad de los sesenta. Un periodo al que se remonta tambi&#233;n su incorporaci&#243;n a la fotograf&#237;a &#8211;a menudo con despliegues secuenciales&#8211; como parte del quehacer, <i>inclusivo</i>antes que <i>exclusivo</i>, que se ha impuesto como artista</p>"
	},
	{
		"pid" : 2,
		"p" : "<p>Pero, m&#225;s que un artista, Michael Snow es, son diversos artistas en contacto permanente: el artista visual abierto a toda clase de medios, el m&#250;sico, el cineasta&#8230; y tal vez un fil&#243;sofo sereno. Uno de los rasgos caracter&#237;sticos de su obra y trayectoria reside precisamente en la ductilidad con que se mueve entre un amplio abanico de pr&#225;cticas, disciplinas, recursos, formatos y &#225;reas. Entre la plena autonom&#237;a y la reciprocidad entre las artes y los medios que cultiva, y seg&#250;n si los diferentes Michael Snow operan individualmente, a d&#250;o, o todos juntos y al un&#237;sono</p>"
	},
	{
		"pid" : 3,
		"p" : "<p>Puede as&#237; advertirse que algunas de sus esculturas conceden gran importancia a ciertas cuestiones de punto de vista, encuadre o profundidad de campo que tienen una estrecha relaci&#243;n con su obra foto- y cinematogr&#225;fica. Tambi&#233;n, que algunos de sus films est&#225;n constituidos, &#237;ntegra o b&#225;sicamente, por fotograf&#237;as o textos escritos. Y que en muchas de sus piezas fotogr&#225;ficas, en soportes y formatos diversos, se halla latente la secuencialidad del tiempo cinematogr&#225;fico</p><p>Pero Snow ha querido resaltar:&#171;Muchas de mis pinturas est&#225;n hechas por un pintor, las esculturas por un escultor, los films por un cineasta, la m&#250;sica por un m&#250;sico. Hay cierta tendencia hacia la pureza en todos estos medios, en tanto que tentativas independientes.&#187;As&#237;, sin excluir la reiteraci&#243;n de determinados conceptos y elementos, Snow se entrega a una serie de b&#250;squedas paralelas, tratando de profundizar en todo aquello que pueda ser consustancial a cada medio</p>"
	},
	{
		"pid" : 4,
		"p" : "<p><i>New York Eye and Ear Control</i>es un film que pas&#243; un tanto inadvertido en su momento, pero que adquiri&#243; en cambio un estatuto legendario en lo que respecta a su banda sonora, creada por una flam&#237;gera pl&#233;yade de la m&#250;sica <i>free</i>&#8211;encabezada por Albert Ayler y Don Cherry&#8211; y editada por el m&#237;tico sello ESP-Disk, con un dise&#241;o de cubierta del propio Snow a base de tiras de fotogramas del film. En este aspecto, refleja su primera vocaci&#243;n, la m&#250;sica, que fue anterior a la del artista visual, y su primer contacto con el cine (en 1956, con el corto de animaci&#243;n <i>A to Z</i>)</p>"
	},
	{
		"pid" : 5,
		"p" : "<p>Pero es con su siguiente film,<i>Wavelength</i>(1966-1967), galardonado con el Gran Premio del Festival de Cine Experimental de Knokke-le-Zoute (B&#233;lgica, 1967), cuando se produce la gran revelaci&#243;n de Snow como cineasta. Esta obra, de una gran repercusi&#243;n, abre adem&#225;s una especie de trilog&#237;a mayor del cine estructural &#8211;seg&#250;n la expresi&#243;n acu&#241;ada por P. Adams Sitney, el can&#243;nico estudioso del cine de vanguardia norteamericano&#8211;, que seguir&#237;a con <i>Back and Forth</i> (1968-1969), cuyo t&#237;tulo original es un signo gr&#225;fico (una flecha de dos puntas), y<i>La R&#233;gion Centrale</i>(1969-1971)</p>"
	},
	{
		"pid" : 6,
		"p" : "<p>Si la noci&#243;n de cine estructural, que otros han llamado <i>materialista</i>con una connotaci&#243;n pol&#237;tica incluso, residir&#237;a a grandes rasgos en una impresi&#243;n prioritaria de la forma y materia del film en s&#237;, cada uno de los t&#237;tulos mencionados sigue dicha premisa en la medida en que el movimiento de c&#225;mara se convierte en su patr&#243;n formal: el movimiento &#243;ptico del zoom que atraviesa un espacio interior (un t&#237;pico loft del SoHo neoyorquino) hasta consumarse en una fotograf&#237;a de las olas del mar en el muro del fondo; una sucesi&#243;n de movimientos en vaiv&#233;n dentro de un aula (panor&#225;micas horizontales y verticales, a velocidades diversas y sumadas en sobreimpresiones en la parte final); y, finalmente, en la monumental majestuosidad de <i>La R&#233;gion Centrale</i>, un despliegue aturdidor de movimientos rob&#243;ticos en un paisaje monta&#241;oso &#8211;utilizando como montura de la c&#225;mara una m&#225;quina concebida expresamente para el rodaje del film&#8211;, a lo largo de tres horas hipn&#243;ticas de &#243;rbitas rotatorias y sinuosidades en constante variaci&#243;n</p>"
	},
	{
		"pid" : 7,
		"p" : "<p>Estas descripciones son necesariamente torpes y deslucen la complejidad intr&#237;nseca al cine de Snow, incluso cuando aparentemente roza el despojamiento extremo.&#201;l mismo ha admitido, por otra parte, su escasa devoci&#243;n cin&#233;fila.Y, cuando se introdujo en el medio, lo hizo en las inmediaciones de unas pr&#225;cticas y est&#233;ticas tildadas de underground (que, no lo olvidemos, es un t&#233;rmino que tiene tambi&#233;n una connotaci&#243;n resistencial) y frecuentando &#8211;junto con su primera esposa, la tambi&#233;n artista y cineasta Joyce Wieland&#8211; las compa&#241;&#237;as y los hallazgos de Jonas Mekas, Ken Jacobs, Hollis Frampton, Andy Warhol, los hermanos Kuchar o Nam June Paik</p>"
	},
	{
		"pid" : 8,
		"p" : "<p>Y puesto que el cine habitual no es un referente al que le haya prestado demasiada atenci&#243;n, en m&#225;s de una ocasi&#243;n ha manifestado cierto rechazo ante aquellas interpretaciones que le atribuyen una especie de designio subversivo en lo que respecta a los c&#243;digos cinematogr&#225;ficos instituidos, para anteponer en su lugar un prop&#243;sito pr&#243;ximo a la filosof&#237;a que tambi&#233;n puede hallarse en su obra fotogr&#225;fica y en otras regiones de su arte. Una filosof&#237;a si se quiere formal, por momentos metaf&#237;sica, que alguna vez se me ocurri&#243; parangonar con los perplejos residuos del pensamiento presocr&#225;tico</p>"
	},
	{
		"pid" : 9,
		"p" : "<p>As&#237;, el <i>macguffin</i>de <i>Wavelength</i>reside en la percepci&#243;n interiorizada del zoom mismo, en un espacio-tiempo ilusorio cuya continuidad se quiebra constantemente mediante variaciones e incisos que tanto conciernen a la impresi&#243;n&#243;ptica (con continuos cambios de exposici&#243;n, filtros interpolados, yuxtaposici&#243;n de emulsiones distintas, o saltos del d&#237;a a la noche y viceversa) como a la levedad narrativa que hilvana unas vi&#241;etas, unas intrusiones actuadas tan desma&#241;adas como bien tramadas, de las que llega a desprenderse incluso un <i>murder mistery</i></p><p>Pero quiz&#225; sea Scott MacDonald &#8211;que ha acu&#241;ado la noci&#243;n de <i>cine cr&#237;tico</i> con el prop&#243;sito de sortear designaciones y parcelaciones m&#225;s manidas&#8211; quien ha dado en el clavo al proponer que la <i>trama</i>de <i>Wavelength</i>y otros films de Snow sea entendida en una acepci&#243;n <i>geom&#233;trica</i>m&#225;s que en su sentido habitual en el cine convencional, sea de consumo o de autor</p>"
	},
	{
		"pid" : 10,
		"p" : "<p>La filmograf&#237;a de Snow ha tomado luego un viraje harto sorprendente con un film tan desmesurado(cuatro horas y media) como su prolijo t&#237;tulo: <i>Rameau&#8217;s Nephew by Diderot (Thanx to Dennis Young) by Wilma Schoen</i>(1974). Donde Wilma Schoen es un anagrama o heter&#243;nimo que destapa un alter ego o personalidad desdoblada de Michael Snow. Ahora dando rienda suelta a su faceta de jugador del lenguaje &#8211;no en vano Wittgenstein es uno de sus fil&#243;sofos de cabecera&#8211; y epic&#250;reo humorista, en un salto acrob&#225;tico al <i>talkie</i>, el cine parlante. El resultado es una colosal exploraci&#243;n &#8211;agotadora en un doble sentido&#8211; de las relaciones entre imagen y sonido, las disfunciones del verbo, la desarticulaci&#243;n de la dramaturgia cinematogr&#225;fica tradicional, conformando una obra que me atrevo a comparar con la glosolalia exuberante del <i>Finnegans Wake</i></p>"
	},
	{
		"pid" : 11,
		"p" : "<p>Otro aspecto bien notable de la obra de Snow se desprende de su frecuentaci&#243;n de medios bien diversos, para operar tanto en la <i>regi&#243;n central</i> de cada una de las disciplinas que cultiva como en unas encrucijadas intermediales.As&#237;, de la m&#225;quina construida para el rodaje de <i>La R&#233;gion Centrale</i>, extrajo a continuaci&#243;n la singular y magn&#237;fica instalaci&#243;n tecnoescult&#243;rica y videosc&#243;pica que es <i>De La</i> (1971). Y, entre otros entrelazamientos m&#250;ltiples, el libro fotogr&#225;fico <i>Cover to Cover </i>(1975)constituye, en su doble y reversible secuencialidad, un film potencial perfecto en su premeditado soporte de papel impreso. Con alg&#250;n punto de contacto, por otra parte, con otra de las instalaciones o expansiones audiovisuales de Snow que, con el significativo t&#237;tulo de <i>Two Sides to Every Story (</i>1974), consta de dos proyecciones enfrentadas en el anverso y el reverso de una pantalla suspendida en el centro del espacio expositivo</p>"
	},
	{
		"pid" : 12,
		"p" : "<p>Tras una dedicaci&#243;n regular al cine entre los a&#241;os 1964-1974, Snow espaci&#243; sus realizaciones sucesivas, aunque, a comienzos de los ochenta, volvi&#243; por partida doble con nuevas aportaciones. Primero con un tr&#237;ptico de polis&#233;mico t&#237;tulo,<i>Presents</i>(1982), aunque suscitando la controversia y el estupor puritano de quienes se quedaron en la superficie de la cita bien evidente a un arquetipo est&#233;tico &#8211;el desnudo femenino&#8211; en la primera parte; o del rompecabezas de unas im&#225;genes desordenadas que se suceden sincopadamente, sin aparente soluci&#243;n de continuidad, en la parte final y m&#225;s larga. En cualquier caso, este tr&#237;ptico alcanza su cenit en la parte central &#8211;tambi&#233;n la m&#225;s un&#225;nimemente celebrada&#8211;, al perturbar de manera hilarante las ideas recibidas sobre la puesta en escena y la profundidad ilusoria en la representaci&#243;n cinematogr&#225;fica</p>"
	},
	{
		"pid" : 13,
		"p" : "<p>A continuaci&#243;n, con <i>So Is This</i> (1982), Snow ha impugnado otra vez las expectativas habituales del cine en regla, mediante un film mudo y compuesto enteramente de r&#243;tulos; de palabras y signos de puntuaci&#243;n que se suceden de uno en uno, plano a plano, con un h&#225;bil <i>d&#233;coupage</i>que discurre nuevamente entre las paradojas de una filosof&#237;a ensimismada y los destellos de un afilado humorismo. Un film casi mecanogr&#225;fico pero no tan anticinematogr&#225;fico como pudiera desprenderse de su descripci&#243;n, puesto que, al fin y al cabo, no es otra cosa que una aproximaci&#243;n m&#225;s a la <i>pureza</i>del cine que Snow siempre ha perseguido. Una pureza que no lo es a la manera retiniana de los adalides del cine absoluto, puro, integral en la lejan&#237;a de las vanguardias hist&#243;ricas, sino con la agudeza mental que Snow ha retenido de Duchamp y de los antiguos y nuevos sofistas cuya lectura frecuenta</p>"
	},
	{
		"pid" : 14,
		"p" : "<p>En la bisagra de los a&#241;os ochenta con los noventa, Snow ha realizado tres films m&#225;s, bien diferentes entre s&#237;. <i>Seated Figures</i>(1988) es una peculiar <i>road movie</i> y una nueva variaci&#243;n sobre el movimiento de c&#225;mara como vector del film. <i>See You Later / Au Revoir </i>(1990)puede recordar algunas extremadas experiencias del grupo Fluxus a mediados de los sesenta &#8211;y, de hecho, la idea germinal del film es de 1968&#8211; en tanto que una escena anecd&#243;tica de apenas medio minuto se estira hasta dieciocho por el uso de una c&#225;mara de v&#237;deo de alta velocidad. Y, en To Lavoisier, Who Died in the Reign of Terror</i></span>(1991), una serie de escenas cotidianas, sin soluci&#243;n de continuidad entre ellas, son hilvanadas por la fluidez de los movimientos de c&#225;mara en la toma de las im&#225;genes y mediante estragos alqu&#237;micos que las transfiguran o desfiguran (y que, seg&#250;n resalta Snow, nos remiten a uno de los descubrimientos de Lavoisier: que la materia no se crea ni destruye, sino que solo se transforma). </span></p>"
	},
	{
		"pid" : 15,
		"p" : "<p>A partir del 2000, la trayectoria del Snow cineasta ha cobrado un renovado &#237;mpetu y una regularidad constante. E incluso cierta declinaci&#243;n multimedial, nunca antes tan presente, incluso si siempre ha sido un artista multidisciplinar y atento a nuevos medios, procedimientos y campos expansivos (v&#237;deo, holografia, instalaciones, etc). </p>"
	},
	{
		"pid" : 16,
		"p" : "<p>Corpus Callosum</i></span>(2000-2002) se ha adentrado en el cine digital a partir de un software espec&#237;fico, el Houdini &#8211;desarrollado en Canad&#225; y utilizado en algunas producciones cinematogr&#225;ficas de elevado presupuesto&#8211;, tratando de extraerle su jugo propio a la tecnolog&#237;a num&#233;rica y para crear un mundo incongruente, coherente de todas maneras, y con una l&#243;gica propia, en el que se suceden las acciones y metamorfosis m&#225;s inveros&#237;miles. Todo ello con el contrapunto de una artificiosidad exagerada en cuanto a la puesta en escena &#8211;los decorados, el vestuario, los personajes con la apariencia cambiante de diferentes int&#233;rpretes&#8211;, y que suscita un efecto chocantemente anacr&#243;nico entre </span>el teatro filmado y la tecnolog&#237;a punta</span>"
	},
	{
		"pid" : 17,
		"p" : "<p>(2000) surgi&#243; de un encargo del Festival de Cine de Toronto cuando, en ocasi&#243;n de su vig&#233;simoquinto aniversario, se propuso a diversos cineastas canadienses (entre los cuales tambi&#233;n Cronenberg, Egoyan y Lefebvre) la realizaci&#243;n de sendos cortometrajes, con la duraci&#243;n propia de un trailer, a fin de encabezar las sesiones de la secci&#243;n oficial. La aportaci&#243;n de Snow tom&#243; la forma de un plano-secuencia de poco m&#225;s de tres minutos que, mediante un movimiento panor&#225;mico, sigue el traj&#237;n de un grupo de personas que se afana para no llegar tarde al cine. Con la particularidad de que el sonido se halla desplazado en relaci&#243;n con la imagen, y en cierto modo invertido respecto al orden natural de la acci&#243;n representada. As&#237;, tal como se&#241;ala Snow, el film es como un preludio sobre s&#237; mismo pues, cuando se da con el intr&#237;ngulis de su sagaz charada, la secuencia termina abruptamente.</span></p>"
	},
	{
		"pid" : 18,
		"p" : "<p>En otro film m&#225;s reciente, </span>(2005), Snow utiliza una estratagema que adquiere cierto aire de familia con la anterior, en este caso basada en la sobreimpresi&#243;n&#8211;el mismo t&#237;tulo lo es y se desentra&#241;a como </span>&#8211;de las dos mitades de un mismo plano-secuencia. Y nuevamente con un vaiv&#233;n panor&#225;mico, de manera que todo se solapa: el arquetipo de una situaci&#243;n triangular (matrimonio y adulterio), los colores y las coordenadas de una pintura en movimiento (el propio film y el cuadro que toma parte en el mismo), los componentes verbales (las voces y los subt&#237;tulos que traducen los di&#225;logos en fars&#237;). A diferencia de </span>, que reta la memoria audiovisual del espectador, en este caso Snow juega con una concepci&#243;n en bucle de la obra y con la expectativa incierta que generan las sucesivas repeticiones.</span></p>"
	},
	{
		"pid" : 19,
		"p" : "<p>(2004). En cuyo t&#237;tulo mismo ya se intuye, de nuevo, un juego de lenguaje pues, m&#225;s all&#225; de designar una operaci&#243;n de </span>(se supone que de im&#225;genes), uno intuye que tambi&#233;n se refiere a la</span>de autores de diferentes generaciones o edades (</span>)que firman la obra: el propio Snow, Carl Brown y John Kamevaar, este&#250;ltimo como compositor de la doble banda sonora que cose las dos extremidades de un cad&#225;ver bien vivaz y &#225;gil. De hecho se trata de dos films que han sido creados de espaldas el uno del otro, aunque acordando una duraci&#243;n predeterminada con el prop&#243;sito de, al fin y al cabo, verse las caras mediante dos proyecciones simult&#225;neas sobre la superficie de una misma pantalla. Y as&#237;, el terceto de autores ha aguardado hasta la primicia p&#250;blica de la obra antes de descubrir la exquisitez acoplada de sus confecciones solteras, pero prometidas por anticipado para un casorio preconcertado.</span></p>"
	},
	{
		"pid" : 20,
		"p" : "<p>&#8211;en palabras de Snow&#8211; mediante t&#233;cnicas de impresi&#243;n &#243;ptica y procesamiento qu&#237;mico aplicadas al material original; despedazado y recombinado en una infinidad de repeticiones, variaciones y permutaciones. La secci&#243;n de Snow, que se proyecta a la derecha de la anterior, enhebra</span>un torrente de im&#225;genes objetivas, fotogr&#225;ficas y tomadas de m&#250;ltiples fuentes, a raz&#243;n de uno o unos pocos fotogramas por cada imagen; </span>24 frames a second of Everything</span>, seg&#250;n la descripci&#243;n del artista. Comienza con el desfile de un muestrario de colores, al estilo de las gu&#237;as Pantone, y sigue con repertorios de minerales, animales, vegetales y cosas (p&#225;ginas de diarios, de la gu&#237;a telef&#243;nica o de revistas er&#243;ticas). Y cuando se agota el repertorio de papel (libros ilustrados e impresos diversos), la c&#225;mara abandona la truca y sale a la calle, o se entretiene con otras ocurrencias repentinas que pasan a integrarse en esta especie de banco de im&#225;genes acelerado que recuerda las bibliotecas circulares y las enciclopedias inabarcables descritas por Borges. </span>comporta pues un doble uso de los materiales de librer&#237;a, archiv&#237;sticos, reformulando una vez m&#225;s la noci&#243;n de cine abstracto, pues las im&#225;genes en s&#237; no lo son.</span></p>"
	},
	{
		"pid" : 21,
		"p" : "<p>En muchas de estas obras recientes, el fil&#243;sofo parece entregarse a los juegos de manos &#8211;que siempre son tambi&#233;n de mente&#8211;, para recrearse y agilizar de paso el mag&#237;n. A conciencia, Snow concibe y describe sus films en t&#233;rminos pl&#225;sticos y musicales, y por tanto audiovisuales, siempre en pos de un cine rotundo; cosa que le diferencia del artista diletante que se acerca al cine como un mero instrumento. Pero tambi&#233;n est&#225; presente un juego con la narrativa, el lenguaje y los arquetipos sint&#225;cticos. Y es por todo ello que su cine tambi&#233;n ha reclamado la atenci&#243;n de los fil&#243;sofos de oficio y de los te&#243;ricos del cine m&#225;s despiertos. Por la signatura </span>que se halla en el arte de Michael Snow, y tambi&#233;n en el de aquel heter&#243;nimo que ha interpuesto alguna vez &#8211;un anagrama transexuado y travieso </span>&#224;la Rrose S&#233;lavy&shy;</i></span>&#8211;de la m&#225;s voluble y desvergonzada Wilma Schoen.</span></p>"
	},

]