
body {
  padding:0;
  margin:0;
  top:0;
}

#nav {
  top:-10px;
  left:0px;
  width: 100%;
  height:30px;
  background-color:grey; 
  color:white;
}

#nav ul {
  list-style-type:none;
}

#nav ul li {
  position:relative;
  float:left;
  padding:5px;
}

#elements {
  position:absolute;
  top:0px;
  left:0px;
  color:red;
  border:2px solid red;
  background-color:white;
  padding:10px;
  border-radius:10px;
}

#mysvg {
  position:absolute;
  color:red;
  border:2px solid red;
  padding:0;
  border-radius:10px;
  z-index:100;
}

.jumbotron{
  padding-top:0px;
}

/* Diary + pages column:  */
.column {
  float:left;
  min-height:100px;
  background-color:;
}

/* Images DIV */

.bg {
  position:relative;
  float:left;
  padding:1px;
  padding-top:2;
  padding-bottom:0;
}

.bg img {
 width: 10px;
 height:15px; 
 opacity:0.5;
}

.bg img:hover {
 opacity:0;
}

.bor {
  border:0px solid black
}

#lines  {
  transition: all 6.4s cubic-bezier(0.05, 0.66, 0.05, 0.95);
}

/* pages pills */

.pagepill {
  display:block;
  width:10px;
  height:4px;
  background-color:black;
  padding-bottom:2px;
  margin-bottom:2px;
}

svg, nopadding {
	padding:0;
}

/**********/

.myorders {
  width:400px;
  float:left;
}

.mywapper {
  margin-left:100px;
}

.toOrange {
  background-color:orange;
}


.toRect {
  fill:rgb(50,50,0);
  stroke-width:0;
  stroke:rgb(50,50,50)
}

#highlights {
  border:3px solid red;
}

/* divs based grid */
#grid {
  width:1000px;
  height:648px;
  position:absolute;
  top:100px;
  left:100px;
  border:1px solid blue;
}

.row {
  position:absolute;
  border:0px solid red;
  left:15px;
/*
  width:1200px;
  height:5px;
*/
}

.row div {
  border:0;
  position:absolute;
  min-width:7px;
  min-height:5px;
}

#detail {
  display:none;
  position:absolute;
  min-width:100px;
  min-height:100px;
  z-index:10;
  border:2px solid #0310FF;
  padding:5px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;  
}

#reader {
  display:none;
  position:absolute;
  top:30%;
  left:30%;
  min-width:300px;
  min-height:300px;
  z-index:20;
  border:2px solid #0310FF;
  padding:5px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%; 
}

#reader-overlay {
	position: absolute;
	top: 0;
	left: 0;
  width:100%;
  height:100%;
	overflow: hidden;
  background-color:grey;
  opacity:0.5;
	display: none;
	z-index: 19;
}

/*color of pages*/
.c1  {background-color: #9966cc;}
.c2  {background-color: #66cccc;}
.c3  {background-color: #99cc66;}
.c4  {background-color: #cc6666;}
.c5  {background-color: #E78F39;}



