
body {
  padding:0;
  margin:0;
  top:0;
}

#nav {
  top:-10px;
  left:0px;
  width: 100%;
  height:30px;
  background-color:grey; 
  color:white;
}

#nav ul {
  list-style-type:none;
}

#nav ul li {
  position:relative;
  float:left;
  padding:5px;
}

#elements {
  position:absolute;
  top:300px;
  left:300px;
  color:red;
  border:2px solid red;
  background-color:white;
  padding:10px;
  border-radius:10px;
}


/* Images DIV */

.bg, .bg1 {
  position:relative;
  float:left;
  padding:2px;
  padding-top:2;
  padding-bottom:0;
}

.bg img, .bg1 img {
 width: 45px;
 height:56px; 
}
.bg img {
 opacity:0.3;
}

.bg img:hover {
 opacity:1;
}

.bor {
  border:0px solid black
}
