      <footer>
        <p class="">&copy; 2015 Jaume Nualart. &middot; Under the terms of <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/au/" target="Creative commons by-nc-sa 3.0 Australia">Creative Commons attribution, non-commercial, share alike 3.0 Australia &nbsp;&nbsp;&nbsp;<img src="img/by-nc-sa.eu.png" width="80" /></a></p>
      </footer>
