

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* Masonry images*/
.bg {
  position:relative;
  float:left;
}

.a2552001h {
background-image:url('../img/th/a2552001h.jpg');
background-repeat: repeat-y;
}
.a2738001h {
background-image:url('../img/th/a2738001h.jpg');
background-repeat: repeat-y;
}
.a3366001h {
background-image:url('../img/th/a3366001h.jpg');
background-repeat: repeat-y;
}
.a3379001h {
background-image:url('../img/th/a3379001h.jpg');
}
.a3925002h {
background-image:url('../img/th/a3925002h.jpg');
}















